src/CommonProject/BusinessSchemas/Services/Common/ERP/REST_Header.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Common/ERP/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Common/ERP/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="RESTHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Responsibility" type="xs:string" minOccurs="0"/>
				<xs:element name="RespApplication" type="xs:string" minOccurs="0"/>
				<xs:element name="SecurityGroup" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>