src/CommonProject/BusinessSchemas/Services/Query/QueryReceiptNoCRM/QueryReceiptNoCRM.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryReceiptNoCRM.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryReceiptNoCRM.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryReceiptNoCRMRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReceiptNo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryReceiptNoCRMResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReceiptDetailsList" minOccurs="0"/>
				<xs:element ref="DocumentDetailsList" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReceiptNo" type="xs:string"/>
	<xs:element name="ReceiptDetailsList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReceiptDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReceiptDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustNumber" minOccurs="0"/>
				<xs:element ref="SubsNumber" minOccurs="0"/>
				<xs:element ref="InvoiceNo" minOccurs="0"/>
				<xs:element ref="InvoiceDate" minOccurs="0"/>
				<xs:element ref="InvoiceType" minOccurs="0"/>
				<xs:element ref="Method" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="Paydesk" minOccurs="0"/>
				<xs:element ref="Paymentdate" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="OpenAmount" minOccurs="0"/>
				<xs:element ref="CardNo" minOccurs="0"/>
				<xs:element ref="InvoiceAmount" minOccurs="0"/>
				<xs:element ref="DocumentType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentDetailsList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentId" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="InvoiceDate" minOccurs="0"/>
				<xs:element ref="InvoiceType" minOccurs="0"/>
				<xs:element ref="SubsNumber" minOccurs="0"/>
				<xs:element ref="InvoiceAmount" minOccurs="0"/>
				<xs:element ref="DocumentType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustNumber" type="xs:string"/>
	<xs:element name="SubsNumber" type="xs:string"/>
	<xs:element name="InvoiceNo" type="xs:string"/>
	<xs:element name="InvoiceDate" type="xs:string"/>
	<xs:element name="InvoiceType" type="xs:string"/>
	<xs:element name="Method" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="Paydesk" type="xs:string"/>
	<xs:element name="Paymentdate" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="OpenAmount" type="xs:string"/>
	<xs:element name="CardNo" type="xs:string"/>
	<xs:element name="InvoiceAmount" type="xs:string"/>
	<xs:element name="DocumentType" type="xs:string"/>
	<xs:element name="DocumentId" type="xs:string"/>
</xs:schema>