src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/RIOTransfer/transferSharedSecondaryDeviceEsimSubRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="targetDeviceSubscriptionList" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="imsi" type="xs:string" minOccurs="0"/>
							<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
							<xs:element name="primaryImsi" type="xs:string" minOccurs="0"/>
							<xs:element name="primaryMsisdn" type="xs:string" minOccurs="0"/>
							<xs:element name="sourceIccid" type="xs:string" minOccurs="0"/>
							<xs:element name="iccidProfile" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="iccid" type="xs:string" minOccurs="0"/>
										<xs:element name="imei" type="xs:string" minOccurs="0"/>
										<xs:element name="meid" type="xs:string" minOccurs="0"/>
										<xs:element name="profileReleased" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="activationStatus" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="altSmdpFqdn" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>