src/BPI_CustMgmt/BusinessProcesses/Services/Query/QueryCustomerProfile/HelperProcess/QueryCommunityID.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/schemas/BPI_CustMgmt/BusinessProcesses/Services/Query/QueryCustomerProfile/HelperProcess/QueryCommunityID.xsd"
	 targetNamespace="http://www.zain.com/schemas/BPI_CustMgmt/BusinessProcesses/Services/Query/QueryCustomerProfile/HelperProcess/QueryCommunityID.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CommunityIDRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="COMMUNITY_ID" type="xs:string" minOccurs="0"/>
							<xs:element name="COMMUNITY_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="COMMUNITY_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="COMMUNITY_STATUS" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>