src/BPI_CustMgmt/BusinessProcesses/Services/Query/QueryCustomerProfile/HelperProcess/QueryCustomerAddress.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/schemas/BPI_CustMgmt/BusinessProcesses/Services/Query/QueryCustomerProfile/HelperProcess/QueryCustomerAddress.xsd"
	 targetNamespace="http://www.zain.com/schemas/BPI_CustMgmt/BusinessProcesses/Services/Query/QueryCustomerProfile/HelperProcess/QueryCustomerAddress.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CustAddResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ADDR_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="APARTMENT_NUM" type="xs:string" minOccurs="0"/>
							<xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
							<xs:element name="BLOCK" type="xs:string" minOccurs="0"/>
							<xs:element name="BUILDING" type="xs:string" minOccurs="0"/>
							<xs:element name="FLOOR" type="xs:string" minOccurs="0"/>
							<xs:element name="STREET_NUM" type="xs:string" minOccurs="0"/>
							<xs:element name="STREET_ADDRESS" type="xs:string" minOccurs="0"/>
							<xs:element name="POSTAL_CODE" type="xs:string" minOccurs="0"/>
							<xs:element name="POSTAL_AREA_NAME" type="xs:string" minOccurs="0"/>
							<xs:element name="CITY" type="xs:string" minOccurs="0"/>
							<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
							<xs:element name="MAIL" type="xs:string" minOccurs="0"/>
							<xs:element name="PO_BOX" type="xs:string" minOccurs="0"/>
							<xs:element name="BASE_TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="PACCI_NUM" type="xs:string" minOccurs="0"/>
							<xs:element name="CREATED_BY" type="xs:string" minOccurs="0"/>
							<xs:element name="CHANNEL" type="xs:string" minOccurs="0"/>
							<xs:element name="BSCS_ID" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>