src/GW_ERP/BusinessProcesses/Services/ERP_REST/BusinessSchemas/InventoryManagement/QueryAllStore/QueryAllStoresResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAllStoresResponse.xsd"
	 xmlns:ns0="http://www.zain.com/ZESB/Services/Inventory/Item.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAllStoresResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.zain.com/ZESB/Services/Inventory/Item.xsd" schemaLocation="../Item.xsd"/>
	<xs:element name="QueryAllStoresResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StockItemList">
					<xs:annotation>
						<xs:documentation>List of StockItem's across stores</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="StockItems" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StockItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="storeCode" type="xs:string"/>
				<xs:element name="storeDescription" type="xs:string"/>
				<xs:element name="itemCode" type="xs:string"/>
				<xs:element name="itemStatus" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>