src/CommonProject/BusinessSchemas/Services/Query/RoamingCDRQuery/RoamingCDRRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Query/RoamingCDRQueryRes.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Query/RoamingCDRQueryRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="RoamingCDRRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
				<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
				<xs:element name="ResultSet" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="B_Party" type="xs:string" minOccurs="0"/>
							<xs:element name="Duration" type="xs:string" minOccurs="0"/>
							<xs:element name="Dest_code" type="xs:string" minOccurs="0"/>
							<xs:element name="Amount" type="xs:string" minOccurs="0"/>
							<xs:element name="Start_Date" type="xs:string" minOccurs="0"/>
							<xs:element name="Start_Time" type="xs:string" minOccurs="0"/>
							<xs:element name="zpcode_des" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>