src/CommonProject/BusinessWSDLS/Services/BSCS/StorageMediumSearch/StorageMediumSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/storagemediumsearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/storagemediumsearch" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/storagemediumsearch"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:element name="storageMediumSearchRequest" type="wsi:storageMediumSearchRequest"/><xs:element name="storageMediumSearchResponse" type="wsi:storageMediumSearchResponse"/><xs:complexType name="allStoragemediumsListpartResponse"><xs:all><xs:element minOccurs="0" name="stmedno" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>SERIAL NUM, SIS, CODE OF THE DEALER, CODE OF HLR, NUMBERING PLAN OF PORT, TEMPLATE
													
													</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="smcId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> STORAGE MEDIUM CLASS</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dlCode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> Dealer Id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="hlcode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> Physical HLR code</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="initialCredit" type="money:money"><xs:annotation><xs:documentation>
													<![CDATA[<p> Prepaid account, initial credit</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="portNpcode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> Port Numbering Plan Code</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="smStatus" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> State of the StorageMedium e.g. f(free),r(reserved)..</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="smId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Primary key for this Storage medium Number.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="linkedDnId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Id of the directory number linked to this storage medium.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="linkedPortNum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Port number linked to this storage medium.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="allStoragemediumsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:allStoragemediumsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="storageMediumSearchResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p></p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="allStoragemediums" type="wsi:allStoragemediumsResponse"/><xs:element minOccurs="0" name="searchIsComplete" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>flag indicating if search was completed.</p><p>This flag will be set to false if more rows than specified in Srch_Count are available in the database</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a physical HLR by the public or private key.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="plcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> The network,this port offers access to </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="plcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the network</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="stmedno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> Serial number of an instance </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="submId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> sub markt </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="submIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the submarket</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="smcId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> Type of Storage Medium</p><p>This parameter will only be considered in case of non full number (STMEDNO parameter containing a wild card) be specified.</p><p>If a full number were specified there is no possibility of duplicate result items due to the database structure where is not possible to have two different storage medium numbers with the same STMEDNO and SMC_ID.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="hlcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> physical HLR </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="hlcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the physical HLR</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory Number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srchCount" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p> Search Count</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reservation" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> Flag indicating if resource reservation is enabled. Reservation time is defined by Resource Settings: LockTime in Registry_CMS_Resource.xml.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="storageMediumSearchRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="storageMediumSearchResponse">
    <wsdl:part element="sch3:storageMediumSearchResponse" name="storageMediumSearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storageMediumSearchRequest">
    <wsdl:part element="sch3:storageMediumSearchRequest" name="storageMediumSearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StorageMediumSearchService">
    <wsdl:operation name="storageMediumSearch">
      <wsdl:input message="tns:storageMediumSearchRequest" name="storageMediumSearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:storageMediumSearchResponse" name="storageMediumSearchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StorageMediumSearchServiceSoap11" type="tns:StorageMediumSearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="storageMediumSearch">
      <soap:operation soapAction="storageMediumSearch"/>
      <wsdl:input name="storageMediumSearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="storageMediumSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageMediumSearchService">
    <wsdl:port binding="tns:StorageMediumSearchServiceSoap11" name="StorageMediumSearchServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services/ws_CIL_5_StorageMediumSearchService.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>