src/ESI_CMS/test/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="userName" type="xs:string"/>
	<xs:element name="password" type="xs:string"/>
	<xs:element name="detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="userName" minOccurs="0"/>
				<xs:element ref="password" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AllDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="detail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>