src/CommonProject/BusinessSchemas/Services/Applications/Common/PerformGifting/PerformGiftingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/Common/PerformGifting/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/Common/PerformGifting/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GiftReceiverMSISDN" type="xs:string"/>
	<xs:element name="Requester" type="xs:string"/>
	<xs:element name="ProductId" type="xs:string"/>
	<xs:element name="Channel" type="xs:string"/>
	<xs:element name="MessageId" type="xs:string"/>
	<xs:element name="GiftRemarks" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="OrderType" type="xs:string"/>
	<xs:element name="CancelReason" type="xs:string"/>
	<xs:element name="TransactionId" type="xs:string"/>
	<xs:element name="Operation" type="xs:string"/>
	<xs:element name="PerformGiftingInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GiftReceiverMSISDN" minOccurs="0"/>
				<xs:element ref="Requester" minOccurs="0"/>
				<xs:element ref="ProductId" minOccurs="0"/>
				<xs:element ref="Channel" minOccurs="0"/>
				<xs:element ref="MessageId" minOccurs="0"/>
				<xs:element ref="GiftRemarks" minOccurs="0"/>
				<xs:element ref="Username" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="OrderType" minOccurs="0"/>
				<xs:element ref="CancelReason" minOccurs="0"/>
				<xs:element ref="TransactionId" minOccurs="0"/>
				<xs:element ref="Operation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>