src/CommonProject/BusinessWSDLS/Services/BSCS/eSIMLock/ws_CIL_5_AutoEsimSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/autoesimsearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/autoesimsearch" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/autoesimsearch"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="autoEsimSearchRequest" type="wsi:autoEsimSearchRequest"/><xs:element name="autoEsimSearchResponse" type="wsi:autoEsimSearchResponse"/><xs:complexType name="simDetailListListpartResponse"><xs:all><xs:element minOccurs="0" name="simId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Sim Serial Number Id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="pin1" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Personal Identification Number for storage medium</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="puk1" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Personal Unblocking Number for storage medium</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="pin2" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Second Personal Identification Number for storage medium</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="puk2" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Second Personal Unblocking Number for storage medium</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="simType" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Description of the Storage Medium type</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="simSerialnum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Sim Serial number</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ki" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Authentication Key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="imsi" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Port Number or IMSI </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="transportKey" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Port transport key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="status" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Storage medium Status</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="hlcodepub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public Key of HLCODE</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="vendcode" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>VENDOR CODE</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="simDetailListResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:simDetailListListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="autoEsimSearchResponse"><xs:all><xs:element minOccurs="0" name="simDetailList" type="wsi:simDetailListResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element minOccurs="0" name="vendor" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Vendor Name</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="simtypeidpub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>SIM Type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="searchcount" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Quantiy</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="plcodeidpub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Network Name</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="autoEsimSearchRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="autoEsimSearchResponse">
    <wsdl:part element="sch3:autoEsimSearchResponse" name="autoEsimSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="autoEsimSearchRequest">
    <wsdl:part element="sch3:autoEsimSearchRequest" name="autoEsimSearchRequest"/>
  </wsdl:message>
  <wsdl:portType name="AutoEsimSearchService">
    <wsdl:operation name="autoEsimSearch">
      <wsdl:input message="tns:autoEsimSearchRequest" name="autoEsimSearchRequest"/>
      <wsdl:output message="tns:autoEsimSearchResponse" name="autoEsimSearchResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoEsimSearchServiceSoap11" type="tns:AutoEsimSearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="autoEsimSearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="autoEsimSearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="autoEsimSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoEsimSearchService">
    <wsdl:port binding="tns:AutoEsimSearchServiceSoap11" name="AutoEsimSearchServiceSoap11">
      <soap:address location="http://10.96.103.208:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>