src/CommonProject/BusinessWSDLS/Services/BSCS/BusinessTransactionsWrite/ws_CIL_5_BusinessTransactionsWriteService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/businesstransactionwrite" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/businesstransactionswrite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ericsson.com/services/ws_CIL_5" tibex:src="http://10.103.23.91:20103/wsi/services/ws_CIL_5_BusinessTransactionsWriteService.wsdl">
  <wsdl:types>
    <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
      <xs:complexType name="money">
        <xs:sequence>
          <xs:element name="amount" type="xs:double"/>
          <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
      <xs:complexType name="svlany">
        <xs:sequence>
          <xs:element name="content" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
      <xs:complexType name="valuesListpartRequest">
        <xs:all>
          <xs:element name="key" type="xs:string">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="value" type="xs:string">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="valuesRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sessionChangeRequest">
        <xs:all>
          <xs:annotation>
            <xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation>
          </xs:annotation>
          <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
        </xs:all>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/businesstransactionwrite" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/businesstransactionwrite">
      <xs:import namespace="http://lhsgroup.com/lhsws/money"/>
      <xs:complexType name="businessTransactionWriteResponse">
        <xs:all>
          <xs:annotation>
            <xs:documentation>
						<![CDATA[<p>Identifies a contract with the public or private key. </p>]]>
				</xs:documentation>
          </xs:annotation>
          <xs:element minOccurs="0" name="btOhxact" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Id of the generated transaction</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="btOhrefnum" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Reference Number</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="coId" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Contract's private key</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="coIdPub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Contract's public key</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="openAmountDoc" type="money:money">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>The total open amount of the requested deposit for the contract in Document currency.</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="detailsListpartRequest">
        <xs:all>
          <xs:element minOccurs="0" name="global" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p>Must be set if this represents a requested deposit part that is global for
													the contract, not being related to any contracted service. In case the value is TRUE, the
													SN_CODE and PROFILE_ID must not be set.</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="sncode" type="xs:long">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p>The code of the contracted service. If no service code or public key specified,
													then this is a global deposit request,
													not particulary related to a contracted service.</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="sncodePub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> The public key of the contracted service. If no service code or public key specified,
													then this is a global deposit request,
													not particulary related to a contracted service.</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sndes" type="xs:string">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> Service description </p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="amount" type="xs:double">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p>The amount of the requested deposit for the service. Needed if ACTION is Insert.</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="profileId" type="xs:long">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p>The profile of the contracted service.</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="rpcode" type="xs:long">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> The code of the related rate plan (tariff modell)</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="rpcodePub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> The public key of the related rate plan (tariff modell)</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="rpversion" type="xs:long">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> The used version of the related rate plan (tariff modell)</p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="spcode" type="xs:long">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> The code of the related service package </p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="spcodePub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
													<![CDATA[<p> The public key of the related service package </p>]]>
											</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="detailsRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:detailsListpartRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="businessTransactionWriteRequest">
        <xs:all>
          <xs:annotation>
            <xs:documentation>
						<![CDATA[<p>Identifies a customer with the public or private key. </p>]]>
				</xs:documentation>
          </xs:annotation>
          <xs:element name="action" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Action : i-insert,
							c-cancel;
							</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="btOhst" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Type of the transaction; only RD supported in this command version.
							Needed only in case ACTION is set to Insert.</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="coId" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Contract's private key</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="coIdPub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Contract's public key</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="btOhxact" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>The Id of the transaction (in this case deposit request) to be cancelled.
							The transaction Id or document reference number is only used in case ACTION is set to Cancel.</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="btOhrefnum" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p> Document reference number of the transaction (in this case deposit request) to be cancelled.
							The transaction Id or document reference number is only used in case ACTION is set to Cancel.</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="currencyId" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>The Id of the requested deposit amount currency. It can be the (primary) document currency of the used billing account,
							the Home currency, or a rate plan currency. If no currency Id or public key is specified,
							the document currency will be used.</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="currencyIdPub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p> The public key of the requested deposit amount currency. It can be the (primary) document currency of the used billing account,
							the Home currency or a rate plan currency. If no currency Id or public key is specified,
							the document currency will be used.</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="billingAccountId" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p> The internal Id of the related billing account </p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="billingAccountCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p> The public key of the related billing account </p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="details" type="wsi:detailsRequest"/>
          <xs:element minOccurs="0" name="csId" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Customers private key</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="csIdPub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="plcode" type="xs:long">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Network code</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="plcodePub" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>Public key of the network</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="suppressOhrefnum" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p>
							If a document reference number (OHREFNUM) is provided in the input, then this argument will not be evaluated.
							If omitted or 'true' (default), no document reference number (OHREFNUM) will be provided as output.
							If false, the number will be provided as output. But then a lock will be held in database until end of transaction.
							In general, setting the flag to false should be avoided, as it can lead to unresponding BILLSRV instances.
							</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="btComplaint" type="xs:string">
            <xs:annotation>
              <xs:documentation>
							<![CDATA[<p> Complain flag.
							Domain: 'X' = complain exists
							'F' = complain finished
							''  = no complain
							</p>]]>
					</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:businesstransactionwrite="http://ericsson.com/services/ws_CIL_5/businesstransactionwrite" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/businesstransactionswrite" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/businesstransactionswrite">
      <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
      <xs:import namespace="http://ericsson.com/services/ws_CIL_5/businesstransactionwrite"/>
      <xs:element name="businessTransactionsWriteRequest" type="wsi:businessTransactionsWriteRequest"/>
      <xs:element name="businessTransactionsWriteResponse" type="wsi:businessTransactionsWriteResponse"/>
      <xs:complexType name="transactionsListpartResponse">
        <xs:all>
          <xs:element minOccurs="0" name="businessTransactionWrite" type="businesstransactionwrite:businessTransactionWriteResponse">
            <xs:annotation>
              <xs:documentation>
												
										</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="transactionsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:transactionsListpartResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="businessTransactionsWriteResponse">
        <xs:all>
          <xs:element minOccurs="0" name="transactions" type="wsi:transactionsResponse"/>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="transactionsListpartRequest">
        <xs:all>
          <xs:element minOccurs="0" name="businessTransactionWrite" type="businesstransactionwrite:businessTransactionWriteRequest">
            <xs:annotation>
              <xs:documentation>
												
										</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="transactionsRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:transactionsListpartRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="inputAttributes">
        <xs:all>
          <xs:element minOccurs="0" name="transactions" type="wsi:transactionsRequest"/>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="businessTransactionsWriteRequest">
        <xs:all>
          <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
          <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
        </xs:all>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="businessTransactionsWriteRequest">
    <wsdl:part element="sch4:businessTransactionsWriteRequest" name="businessTransactionsWriteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="businessTransactionsWriteResponse">
    <wsdl:part element="sch4:businessTransactionsWriteResponse" name="businessTransactionsWriteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BusinessTransactionsWriteService">
    <wsdl:operation name="businessTransactionsWrite">
      <wsdl:input message="tns:businessTransactionsWriteRequest" name="businessTransactionsWriteRequest">
    </wsdl:input>
      <wsdl:output message="tns:businessTransactionsWriteResponse" name="businessTransactionsWriteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessTransactionsWriteServiceSoap11" type="tns:BusinessTransactionsWriteService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="businessTransactionsWrite">
      <soap:operation soapAction=""/>
      <wsdl:input name="businessTransactionsWriteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="businessTransactionsWriteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessTransactionsWriteService">
    <wsdl:port binding="tns:BusinessTransactionsWriteServiceSoap11" name="BusinessTransactionsWriteServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
