src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/AppleiWatchSESSuspend/triggerSubscriptionSuspendResSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uniqueId" type="xs:string"/>
				<xs:element name="serviceInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="msisdn" type="xs:string"/>
							<xs:element name="imsi" type="xs:string"/>
							<xs:element name="provisionStatus" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>