src/CommonProject/BusinessWSDLS/Services/BSCS/ReverseDunningActionsCreate/ReverseDunningActionsCreate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.lhsgroup.com/ws_v1_IXC" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.lhsgroup.com/ws_v1_IXC" xmlns:intf="http://www.lhsgroup.com/ws_v1_IXC" xmlns:tns1="http://xml.apache.org/axis/wsdd/providers/java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Sep 14, 2009 (04:07:50 CEST)-->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.lhsgroup.com/ws_v1_IXC" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/axis/wsdd/providers/java"/>
			<complexType name="BaseSOIBean">
				<sequence/>
			</complexType>
			<complexType name="ReverseDunningActionsCreateBeanIn">
				<complexContent>
					<extension base="impl:BaseSOIBean">
						<sequence>
							<element name="billingAccountCode" nillable="true" type="xsd:string"/>
							<element name="billingAccountId" nillable="true" type="xsd:long"/>
							<element name="coId" nillable="true" type="xsd:long"/>
							<element name="coIdPub" nillable="true" type="xsd:string"/>
							<element name="reasonCode" nillable="true" type="xsd:string"/>
							<element name="request" nillable="true" type="xsd:string"/>
							<element name="source" nillable="true" type="xsd:string"/>
							<element name="username" nillable="true" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="com.lhs.ws.beans.v1_IXC.session_change.ValuesBeanIn">
				<complexContent>
					<extension base="impl:BaseSOIBean">
						<sequence>
							<element name="key" nillable="true" type="xsd:string"/>
							<element name="value" nillable="true" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="com.lhs.ws.beans.v1_IXC.session_change.ArrayOfValuesBeanIn">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:com.lhs.ws.beans.v1_IXC.session_change.ValuesBeanIn"/>
				</sequence>
			</complexType>
			<complexType name="SessionChangeBeanIn">
				<complexContent>
					<extension base="impl:BaseSOIBean">
						<sequence>
							<element name="values" nillable="true" type="impl:com.lhs.ws.beans.v1_IXC.session_change.ArrayOfValuesBeanIn"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<element name="in0" type="tns1:com.lhs.ws.beans.v1_IXC.ReverseDunningActionsCreateBeanServiceIn"/>
			<complexType name="ReverseDunningActionsCreateBeanOut">
				<complexContent>
					<extension base="impl:BaseSOIBean">
						<sequence>
							<element name="reason" nillable="true" type="xsd:string"/>
							<element name="result" nillable="true" type="xsd:boolean"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<element name="executeReturn" type="impl:ReverseDunningActionsCreateBeanOut"/>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/axis/wsdd/providers/java" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.lhsgroup.com/ws_v1_IXC"/>
			<complexType name="com.lhs.ws.beans.v1_IXC.ReverseDunningActionsCreateBeanServiceIn">
				<complexContent>
					<extension base="impl:BaseSOIBean">
						<sequence>
							<element name="input" nillable="true" type="impl:ReverseDunningActionsCreateBeanIn"/>
							<element name="sessionChange" nillable="true" type="impl:SessionChangeBeanIn"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="executeRequest">
		<wsdl:part element="impl:in0" name="in0"/>
	</wsdl:message>
	<wsdl:message name="executeResponse">
		<wsdl:part element="impl:executeReturn" name="executeReturn"/>
	</wsdl:message>
	<wsdl:portType name="ReverseDunningActionsCreateService">
		<wsdl:operation name="execute" parameterOrder="in0">
			<wsdl:input message="impl:executeRequest" name="executeRequest"/>
			<wsdl:output message="impl:executeResponse" name="executeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReverseDunningActionsCreateServiceSoapBinding" type="impl:ReverseDunningActionsCreateService">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="executeRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="executeResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReverseDunningActionsCreateService">
		<wsdl:port binding="impl:ReverseDunningActionsCreateServiceSoapBinding" name="ReverseDunningActionsCreateService">
			<wsdlsoap:address location="http://10.103.23.110:11095/ws_v1_IXC/services/ReverseDunningActionsCreate"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>