src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/ModifyOrder/ModifyOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ModifyOrder/ModifyOrderRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ModifyOrder/ModifyOrderRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ModifyOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="customerRead" minOccurs="0"/>
				<xs:element ref="contractServicesAdd" minOccurs="0"/>
				<xs:element ref="contractServicesWrite" minOccurs="0"/>
				<xs:element ref="contractServiceResourceWrite" minOccurs="0"/>
				<xs:element ref="serviceParameters" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customerRead">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="csIdPub" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
				<xs:element ref="VPNCommunityID" minOccurs="0"/>
				<xs:element ref="VPNShortCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="csId" type="xs:int"/>
	<xs:element name="csIdPub" type="xs:string"/>
	<xs:element name="syncWithDb" type="xs:boolean"/>
	<xs:element name="contractServicesAdd">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="services" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="extServiceId" minOccurs="0"/>
										<xs:element ref="extServiceIdPub" minOccurs="0"/>
										<xs:element ref="spcode" minOccurs="0"/>
										<xs:element ref="spcodePub" minOccurs="0"/>
										<xs:element ref="sncode" minOccurs="0"/>
										<xs:element ref="sncodePub" minOccurs="0"/>
										<xs:element ref="profileId" minOccurs="0"/>
										<xs:element ref="cosActivationDate" minOccurs="0"/>
										<xs:element ref="cosTempId" minOccurs="0"/>
										<xs:element ref="cosSubfeeOvw" minOccurs="0"/>
										<xs:element ref="cosSubfeeOvwType" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvwValidFrom" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvw" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvwType" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvwPrd" minOccurs="0"/>
										<xs:element ref="advanceAccessOvw" minOccurs="0"/>
										<xs:element ref="advanceAccessOvwType" minOccurs="0"/>
										<xs:element ref="advanceAccessOvwPrd" minOccurs="0"/>
										<xs:element ref="cosQuantity" minOccurs="0"/>
										<xs:element ref="cosTrialEndDate" minOccurs="0"/>
										<xs:element ref="csPaymentConditionUsgInd" minOccurs="0"/>
										<xs:element ref="csPrepaidTpId" minOccurs="0"/>
										<xs:element ref="csPrepaidTpIdPub" minOccurs="0"/>
										<xs:element ref="csTypeOfContrrol" minOccurs="0"/>
										<xs:element ref="csPaymentConditionOnetimeRec" minOccurs="0"/>
										<xs:element ref="chargingSchedule" minOccurs="0"/>
										<xs:element ref="indCharging" minOccurs="0"/>
										<xs:element ref="chargeIntervalLength" minOccurs="0"/>
										<xs:element ref="waitPeriodLength" minOccurs="0"/>
										<xs:element ref="indChargingValidTo" minOccurs="0"/>
										<xs:element name="directoryNumbers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="dnId" minOccurs="0"/>
																<xs:element ref="mainDirnum" minOccurs="0"/>
																<xs:element ref="dirnumOnBill" minOccurs="0"/>
																<xs:element ref="bccode" minOccurs="0"/>
																<xs:element ref="lowerExt" minOccurs="0"/>
																<xs:element ref="upperExt" minOccurs="0"/>
																<xs:element ref="hmcode" minOccurs="0"/>
																<xs:element ref="hmcodePub" minOccurs="0"/>
																<xs:element ref="dnType" minOccurs="0"/>
																<xs:element ref="npcode" minOccurs="0"/>
																<xs:element ref="npcodePub" minOccurs="0"/>
																<xs:element ref="linkedPublicDnId" minOccurs="0"/>
																<xs:element ref="vpnId" minOccurs="0"/>
																<xs:element ref="vpnIdPub" minOccurs="0"/>
																<xs:element ref="extResourceTypeCode" minOccurs="0"/>
																<xs:element ref="portingRequestId" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ports" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="portId" minOccurs="0"/>
																<xs:element ref="npcode" minOccurs="0"/>
																<xs:element ref="npcodePub" minOccurs="0"/>
																<xs:element ref="extResourceTypeCode" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="cugMemberships" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="cugId" minOccurs="0"/>
																<xs:element name="basicservicegroupassigments" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="bsgId" minOccurs="0" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="bsgConfiguration" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="bsgId" minOccurs="0"/>
																<xs:element ref="preferedCugId" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element ref="userReason" minOccurs="0"/>
										<xs:element ref="OfferType" minOccurs="0"/>
										<xs:element ref="OfferSubType" minOccurs="0"/>
										<xs:element ref="Parameters" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="instanceId" minOccurs="0"/>
				<xs:element ref="instanceIdPub" minOccurs="0"/>
				<xs:element ref="requestIdPub" minOccurs="0"/>
				<xs:element ref="effectiveDate" minOccurs="0"/>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extServiceId" type="xs:int"/>
	<xs:element name="extServiceIdPub" type="xs:string"/>
	<xs:element name="spcode" type="xs:int"/>
	<xs:element name="spcodePub" type="xs:string"/>
	<xs:element name="sncode" type="xs:int"/>
	<xs:element name="sncodePub" type="xs:string"/>
	<xs:element name="profileId" type="xs:int"/>
	<xs:element name="cosActivationDate" type="xs:dateTime"/>
	<xs:element name="cosTempId" type="xs:int"/>
	<xs:element name="cosSubfeeOvw" type="xs:decimal"/>
	<xs:element name="cosSubfeeOvwType" type="xs:string"/>
	<xs:element name="cosAccfeeOvwValidFrom" type="xs:dateTime"/>
	<xs:element name="cosAccfeeOvw" type="xs:decimal"/>
	<xs:element name="cosAccfeeOvwType" type="xs:string"/>
	<xs:element name="cosAccfeeOvwPrd" type="xs:int"/>
	<xs:element name="advanceAccessOvw" type="xs:decimal"/>
	<xs:element name="advanceAccessOvwType" type="xs:string"/>
	<xs:element name="advanceAccessOvwPrd" type="xs:int"/>
	<xs:element name="cosQuantity" type="xs:int"/>
	<xs:element name="cosTrialEndDate" type="xs:dateTime"/>
	<xs:element name="csPaymentConditionUsgInd" type="xs:int"/>
	<xs:element name="csPrepaidTpId" type="xs:int"/>
	<xs:element name="csPrepaidTpIdPub" type="xs:string"/>
	<xs:element name="csTypeOfContrrol" type="xs:int"/>
	<xs:element name="csPaymentConditionOnetimeRec" type="xs:int"/>
	<xs:element name="chargingSchedule" type="xs:string"/>
	<xs:element name="indCharging" type="xs:boolean"/>
	<xs:element name="chargeIntervalLength" type="xs:int"/>
	<xs:element name="waitPeriodLength" type="xs:int"/>
	<xs:element name="indChargingValidTo" type="xs:dateTime"/>
	<xs:element name="dnId" type="xs:int"/>
	<xs:element name="mainDirnum" type="xs:boolean"/>
	<xs:element name="dirnumOnBill" type="xs:boolean"/>
	<xs:element name="bccode" type="xs:int"/>
	<xs:element name="lowerExt" type="xs:string"/>
	<xs:element name="upperExt" type="xs:string"/>
	<xs:element name="hmcode" type="xs:int"/>
	<xs:element name="hmcodePub" type="xs:string"/>
	<xs:element name="dnType" type="xs:int"/>
	<xs:element name="npcode" type="xs:int"/>
	<xs:element name="npcodePub" type="xs:string"/>
	<xs:element name="linkedPublicDnId" type="xs:int"/>
	<xs:element name="vpnId" type="xs:int"/>
	<xs:element name="vpnIdPub" type="xs:string"/>
	<xs:element name="extResourceTypeCode" type="xs:string"/>
	<xs:element name="portingRequestId" type="xs:int"/>
	<xs:element name="portId" type="xs:int"/>
	<xs:element name="cugId" type="xs:int"/>
	<xs:element name="bsgId" type="xs:int"/>
	<xs:element name="preferedCugId" type="xs:int"/>
	<xs:element name="userReason" type="xs:int"/>
	<xs:element name="instanceId" type="xs:int"/>
	<xs:element name="instanceIdPub" type="xs:string"/>
	<xs:element name="requestIdPub" type="xs:string"/>
	<xs:element name="effectiveDate" type="xs:dateTime"/>
	<xs:element name="coId" type="xs:int"/>
	<xs:element name="coIdPub" type="xs:string"/>
	<xs:element name="contractServicesWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="services" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="sncode" minOccurs="0"/>
										<xs:element ref="sncodePub" minOccurs="0"/>
										<xs:element ref="spcode" minOccurs="0"/>
										<xs:element ref="spcodePub" minOccurs="0"/>
										<xs:element ref="extServiceId" minOccurs="0"/>
										<xs:element ref="extServiceIdPub" minOccurs="0"/>
										<xs:element ref="opAssistedAction" minOccurs="0"/>
										<xs:element ref="profileId" minOccurs="0"/>
										<xs:element ref="cosPendingStatus" minOccurs="0"/>
										<xs:element ref="userReason" minOccurs="0"/>
										<xs:element ref="cosPendingStatusDate" minOccurs="0"/>
										<xs:element ref="cosSubfeeOvw" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvwValidFrom" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvw" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvwType" minOccurs="0"/>
										<xs:element ref="cosAccfeeOvwPrd" minOccurs="0"/>
										<xs:element ref="cosQuantity" minOccurs="0"/>
										<xs:element ref="cosTrialEndDate" minOccurs="0"/>
										<xs:element ref="advanceAccessOvw" minOccurs="0"/>
										<xs:element ref="advanceAccessOvwType" minOccurs="0"/>
										<xs:element ref="advanceAccessOvwPrd" minOccurs="0"/>
										<xs:element ref="cugAction" minOccurs="0"/>
										<xs:element name="cugMemberships" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="cugId" minOccurs="0"/>
																<xs:element name="basicservicegroupassigments" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element ref="bsgAction"/>
																						<xs:element ref="bsgId" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="bsgConfiguration" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="bsgId" minOccurs="0"/>
																<xs:element ref="preferedCugId" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element ref="csPaymentConditionUsgInd" minOccurs="0"/>
										<xs:element ref="csPrepaidTpId" minOccurs="0"/>
										<xs:element ref="csPrepaidTpIdPub" minOccurs="0"/>
										<xs:element ref="csTypeOfContrrol" minOccurs="0"/>
										<xs:element ref="csPaymentConditionOnetimeRec" minOccurs="0"/>
										<xs:element ref="chargingSchedule" minOccurs="0"/>
										<xs:element ref="indCharging" minOccurs="0"/>
										<xs:element ref="chargeIntervalLength" minOccurs="0"/>
										<xs:element ref="waitPeriodLength" minOccurs="0"/>
										<xs:element ref="indChargingValidTo" minOccurs="0"/>
										<xs:element ref="OfferType" minOccurs="0"/>
										<xs:element ref="OfferSubType" minOccurs="0"/>
										<xs:element ref="Parameters" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="instanceId" minOccurs="0"/>
				<xs:element ref="instanceIdPub" minOccurs="0"/>
				<xs:element ref="requestIdPub" minOccurs="0"/>
				<xs:element ref="effectiveDate" minOccurs="0"/>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
				<xs:element ref="recordId" minOccurs="0"/>
				<xs:element ref="recordSubId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="opAssistedAction" type="xs:string"/>
	<xs:element name="cosPendingStatus" type="xs:int"/>
	<xs:element name="cosPendingStatusDate" type="xs:dateTime"/>
	<xs:element name="cugAction" type="xs:string"/>
	<xs:element name="bsgAction" type="xs:string"/>
	<xs:element name="recordId" type="xs:int"/>
	<xs:element name="recordSubId" type="xs:int"/>
	<xs:element name="contractServiceResourceWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sncode" minOccurs="0"/>
				<xs:element ref="sncodePub" minOccurs="0"/>
				<xs:element ref="extServiceId" minOccurs="0"/>
				<xs:element ref="extServiceIdPub" minOccurs="0"/>
				<xs:element ref="profileId" minOccurs="0"/>
				<xs:element name="directoryNumber" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="dnId" minOccurs="0"/>
										<xs:element ref="dirnum" minOccurs="0"/>
										<xs:element ref="isVanity" minOccurs="0"/>
										<xs:element ref="retention" minOccurs="0"/>
										<xs:element ref="mainDirnum" minOccurs="0"/>
										<xs:element ref="dirnumOnBill" minOccurs="0"/>
										<xs:element ref="bccode" minOccurs="0"/>
										<xs:element ref="lowerExt" minOccurs="0"/>
										<xs:element ref="upperExt" minOccurs="0"/>
										<xs:element ref="hmcode" minOccurs="0"/>
										<xs:element ref="hmcodePub" minOccurs="0"/>
										<xs:element ref="dnType" minOccurs="0"/>
										<xs:element ref="npcode" minOccurs="0"/>
										<xs:element ref="npcodePub" minOccurs="0"/>
										<xs:element ref="linkedPublicDnId" minOccurs="0"/>
										<xs:element ref="extResourceTypeCode" minOccurs="0"/>
										<xs:element ref="portingRequestId" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ports" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="portId" minOccurs="0"/>
										<xs:element ref="portNum" minOccurs="0"/>
										<xs:element ref="status" minOccurs="0"/>
										<xs:element ref="retention" minOccurs="0"/>
										<xs:element ref="npcode" minOccurs="0"/>
										<xs:element ref="npcodePub" minOccurs="0"/>
										<xs:element ref="extResourceTypeCode" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="instanceId" minOccurs="0"/>
				<xs:element ref="instanceIdPub" minOccurs="0"/>
				<xs:element ref="requestIdPub" minOccurs="0"/>
				<xs:element ref="effectiveDate" minOccurs="0"/>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dirnum" type="xs:string"/>
	<xs:element name="isVanity" type="xs:boolean"/>
	<xs:element name="retention" type="xs:int"/>
	<xs:element name="portNum" type="xs:string"/>
	<xs:element name="status" type="xs:int"/>
	<xs:element name="contractServiceParametersWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="spcode" minOccurs="0"/>
				<xs:element ref="spcodePub" minOccurs="0"/>
				<xs:element ref="sncode" minOccurs="0"/>
				<xs:element ref="sncodePub" minOccurs="0"/>
				<xs:element ref="extServiceId" minOccurs="0"/>
				<xs:element ref="extServiceIdPub" minOccurs="0"/>
				<xs:element ref="profileId" minOccurs="0"/>
				<xs:element ref="tempId" minOccurs="0"/>
				<xs:element name="paramValues" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="cosAction" minOccurs="0"/>
										<xs:element ref="prmNo" minOccurs="0"/>
										<xs:element ref="complexNo" minOccurs="0"/>
										<xs:element ref="complexLevel" minOccurs="0"/>
										<xs:element ref="siblingNo" minOccurs="0"/>
										<xs:element ref="parentNo" minOccurs="0"/>
										<xs:element name="targetParamValues" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="targetSiblingNo" minOccurs="0"/>
																<xs:element name="multValues" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element ref="valueSeqno" minOccurs="0"/>
																						<xs:element ref="value" minOccurs="0"/>
																						<xs:element ref="valuePub" minOccurs="0"/>
																						<xs:element ref="valueDes" minOccurs="0"/>
																						<xs:element ref="validFrom" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="instanceId" minOccurs="0"/>
				<xs:element ref="instanceIdPub" minOccurs="0"/>
				<xs:element ref="requestIdPub" minOccurs="0"/>
				<xs:element ref="effectiveDate" minOccurs="0"/>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tempId" type="xs:int"/>
	<xs:element name="cosAction" type="xs:string"/>
	<xs:element name="prmNo" type="xs:int"/>
	<xs:element name="complexNo" type="xs:int"/>
	<xs:element name="complexLevel" type="xs:int"/>
	<xs:element name="siblingNo" type="xs:int"/>
	<xs:element name="parentNo" type="xs:int"/>
	<xs:element name="targetSiblingNo" type="xs:int"/>
	<xs:element name="valueSeqno" type="xs:int"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="valuePub" type="xs:string"/>
	<xs:element name="valueDes" type="xs:string"/>
	<xs:element name="validFrom" type="xs:dateTime"/>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contractServiceParametersWrite" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="serviceParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VPNCommunityID" type="xs:string"/>
	<xs:element name="VPNShortCode" type="xs:string"/>
	<xs:element name="OfferType" type="xs:string"/>
	<xs:element name="OfferSubType" type="xs:string"/>
	<xs:element name="Parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
</xs:schema>