src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/ModifyOrder/ModifyOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ModifyOrder/ModifyOrderResponse.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ModifyOrder/ModifyOrderResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ModifyOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="contractServicesWrite" minOccurs="0"/>
				<xs:element ref="response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractServicesWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="autochangedservices">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="spcode" minOccurs="0"/>
										<xs:element ref="spcodePub" minOccurs="0"/>
										<xs:element ref="sncode" minOccurs="0"/>
										<xs:element ref="sncodePub" minOccurs="0"/>
										<xs:element ref="cosPendingStatus" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="spcode" type="xs:int"/>
	<xs:element name="spcodePub" type="xs:string"/>
	<xs:element name="sncode" type="xs:int"/>
	<xs:element name="sncodePub" type="xs:string"/>
	<xs:element name="cosPendingStatus" type="xs:int"/>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="responseMessage" type="xs:string" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Order Status--Success or Error</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorResponse" type="error"/>
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>