src/GW_Remedy/Stub/ITSM_Local.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/IncidentManagement" xmlns:ns0="http://www.zain.com/ZESB/Services/IncidentManagement/Types" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/IncidentManagement">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/IncidentManagement/Types"/>
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DecimalParam">
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="ParamList">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="BooleanParam" type="ns1:BooleanParam"/>
                    <xs:element maxOccurs="unbounded" name="DateParam" type="ns1:DateParam"/>
                    <xs:element maxOccurs="unbounded" name="DateTimeParam" type="ns1:DateTimeParam"/>
                    <xs:element maxOccurs="unbounded" name="DecimalParam" type="ns1:DecimalParam"/>
                    <xs:element maxOccurs="unbounded" name="DoubleParam" type="ns1:DoubleParam"/>
                    <xs:element maxOccurs="unbounded" name="FloatParam" type="ns1:FloatParam"/>
                    <xs:element maxOccurs="unbounded" name="IntParam" type="ns1:IntParam"/>
                    <xs:element maxOccurs="unbounded" name="LongParam" type="ns1:LongParam"/>
                    <xs:element maxOccurs="unbounded" name="StringParam" type="ns1:StringParam"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/IncidentManagement/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="AssignedToType">
                <xs:complexContent>
                    <xs:extension base="ns0:ContactType">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Organization" type="xs:string"/>
                            <xs:element minOccurs="0" name="Group" type="xs:string"/>
                            <xs:element minOccurs="0" name="ShiftName" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AttachmentList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Attachment" type="ns0:AttachmentType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttachmentType">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Data" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseIncidentType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Customer" type="ns0:ContactType"/>
                    <xs:element name="AssignedTo" type="ns0:AssignedToType"/>
                    <xs:element minOccurs="0" name="Categorization" type="ns0:CategorizationType"/>
                    <xs:element name="Status" type="ns0:StatusType"/>
                    <xs:element name="Summary" type="xs:string"/>
                    <xs:element minOccurs="0" name="Description" type="xs:string"/>
                    <xs:element minOccurs="0" name="Impact" type="ns0:ImpactType"/>
                    <xs:element minOccurs="0" name="Urgency" type="ns0:UrgencyType"/>
                    <xs:element minOccurs="0" name="ServiceType" type="ns0:ServiceType"/>
                    <xs:element minOccurs="0" name="ReportedSource" type="xs:string"/>
                    <xs:element name="DirectContact" type="ns0:ContactType"/>
                    <xs:element minOccurs="0" name="ProductInfo" type="ns0:ProductInfoType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseWorkLogType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Type" type="xs:string"/>
                    <xs:element minOccurs="0" name="Source" type="xs:string"/>
                    <xs:element name="Summary" type="xs:string"/>
                    <xs:element minOccurs="0" name="Description" type="xs:string"/>
                    <xs:element minOccurs="0" name="Private" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="Locked" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="Attachments" type="ns0:AttachmentList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CategorizationItem">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="Tier" type="xs:int" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="CategorizationType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Category" type="ns0:CategorizationItem"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContactType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="First" type="xs:string"/>
                    <xs:element minOccurs="0" name="MiddleInitial" type="xs:string"/>
                    <xs:element minOccurs="0" name="Last" type="xs:string"/>
                    <xs:element minOccurs="0" name="LoginID" type="xs:string"/>
                    <xs:element minOccurs="0" name="PhoneNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="Company" type="xs:string"/>
                    <xs:element minOccurs="0" name="CorporateID" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ImpactType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Extensive"/>
                    <xs:enumeration value="Significant"/>
                    <xs:enumeration value="Moderate"/>
                    <xs:enumeration value="Minor"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="IncidentListType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Incident" type="ns0:IncidentType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IncidentType">
                <xs:complexContent>
                    <xs:extension base="ns0:BaseIncidentType">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="IncidentID" type="xs:string"/>
                            <xs:element minOccurs="0" name="StatusReason" type="xs:string"/>
                            <xs:element minOccurs="0" name="VIP" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="Priority" type="ns0:PriorityType"/>
                            <xs:element minOccurs="0" name="PriorityWeight" type="xs:int"/>
                            <xs:element minOccurs="0" name="TargetDate" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="Resolution" type="xs:string"/>
                            <xs:element minOccurs="0" name="ResolutionCategorization" type="ns0:CategorizationType"/>
                            <xs:element minOccurs="0" name="StatusDates" type="ns0:StatusDateType"/>
                            <xs:element minOccurs="0" name="LastUpdatedBy" type="xs:string"/>
                            <xs:element minOccurs="0" name="ClosureProductInfo" type="ns0:ProductInfoType"/>
                            <xs:element minOccurs="0" name="Params" type="ns1:ParamList"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:simpleType name="PriorityType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Critical"/>
                    <xs:enumeration value="High"/>
                    <xs:enumeration value="Medium"/>
                    <xs:enumeration value="Low"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ProductInfoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string"/>
                    <xs:element minOccurs="0" name="Manufacturer" type="xs:string"/>
                    <xs:element minOccurs="0" name="Categorization" type="ns0:CategorizationType"/>
                    <xs:element minOccurs="0" name="ModelVersion" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ServiceType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="UserIncident"/>
                    <xs:enumeration value="UserRequest"/>
                    <xs:enumeration value="SystemIncident"/>
                    <xs:enumeration value="SystemEvent"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="StatusDateType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Created" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Resolved" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Closed" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Cancelled" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="StatusType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="New"/>
                    <xs:enumeration value="Assigned"/>
                    <xs:enumeration value="In Progress"/>
                    <xs:enumeration value="Pending"/>
                    <xs:enumeration value="Resolved"/>
                    <xs:enumeration value="Closed"/>
                    <xs:enumeration value="Cancelled"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="UrgencyType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Critical"/>
                    <xs:enumeration value="High"/>
                    <xs:enumeration value="Medium"/>
                    <xs:enumeration value="Low"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="WorkLogList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="WorkItem" type="ns0:WorkLogType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkLogType">
                <xs:complexContent>
                    <xs:extension base="ns0:BaseWorkLogType">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="InstanceID" type="xs:string"/>
                            <xs:element minOccurs="0" name="SubmitDate" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="CreateIncidentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Incident">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="ns0:BaseIncidentType">
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="Params" type="ns1:ParamList"/>
                                        </xs:sequence>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IncidentID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryIncidentsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Filter" type="xs:string"/>
                        <xs:element name="StartRecord" type="xs:string"/>
                        <xs:element name="PageSize" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryIncidentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Incidents" type="ns0:IncidentListType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryWorkLogRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IncidentID" type="xs:string"/>
                        <xs:element name="IncludeAttachments" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryWorkLogResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WorkLog" type="ns0:WorkLogList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateIncidentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Incident" type="ns0:IncidentType"/>
                        <xs:element minOccurs="0" name="WorkLog" type="ns0:BaseWorkLogType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateIncidentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ITSM_Remedy">
        <wsdl:port binding="tns:IncidentManagementPortEndpointBinding" name="IncidentManagementPortEndpoint">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.INCIDENTMANAGEMENT.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="IncidentManagementPort">
        <wsdl:operation name="CreateIncident">
            <wsdl:input message="tns:CreateIncidentRequest"/>
            <wsdl:output message="tns:CreateIncidentResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryWorkLog">
            <wsdl:input message="tns:QueryWorkLogRequest"/>
            <wsdl:output message="tns:QueryWorkLogResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryIncidents">
            <wsdl:input message="tns:QueryIncidentsRequest"/>
            <wsdl:output message="tns:QueryIncidentsResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateIncident">
            <wsdl:input message="tns:UpdateIncidentRequest"/>
            <wsdl:output message="tns:UpdateIncidentResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IncidentManagementPortEndpointBinding" type="tns:IncidentManagementPort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="CreateIncident">
            <soap:operation soapAction="CreateIncident" style="document"/>
            <wsdl:input>
                <soap:body parts="CreateIncidentRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateIncidentResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryWorkLog">
            <soap:operation soapAction="QueryWorkLog" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryWorkLogRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryWorkLogResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryIncidents">
            <soap:operation soapAction="QueryIncidents" style="document"/>
            <wsdl:input>
                <ns2:multipartRelated xmlns:ns2="http://schemas.xmlsoap.org/wsdl/mime/">
                    <ns2:part name="dummyName">
                        <soap:body parts="QueryIncidentsRequest" use="literal"/>
                    </ns2:part>
                </ns2:multipartRelated>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryIncidentsResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateIncident">
            <soap:operation soapAction="UpdateIncident" style="document"/>
            <wsdl:input>
                <soap:body parts="UpdateIncidentRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateIncidentResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="CreateIncidentRequest">
        <wsdl:part element="ns0:CreateIncidentRequest" name="CreateIncidentRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateIncidentResponse">
        <wsdl:part element="ns0:CreateIncidentResponse" name="CreateIncidentResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="QueryWorkLogRequest">
        <wsdl:part element="ns0:QueryWorkLogRequest" name="QueryWorkLogRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryWorkLogResponse">
        <wsdl:part element="ns0:QueryWorkLogResponse" name="QueryWorkLogResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryIncidentsRequest">
        <wsdl:part element="ns0:QueryIncidentsRequest" name="QueryIncidentsRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryIncidentsResponse">
        <wsdl:part element="ns0:QueryIncidentsResponse" name="QueryIncidentsResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateIncidentRequest">
        <wsdl:part element="ns0:UpdateIncidentRequest" name="UpdateIncidentRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateIncidentResponse">
        <wsdl:part element="ns0:UpdateIncidentResponse" name="UpdateIncidentResponse"/>
    </wsdl:message>
</wsdl:definitions>