src/CommonProject/BusinessSchemas/Services/Query/AdjustmentHistCRM/AdjustmentHistCRM.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/AdjustmentHistCRM.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/AdjustmentHistCRM.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="AdjustmentHistCRMRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CUSTOMERID" minOccurs="0"/>
				<xs:element ref="BILLINGACCOUNTID" minOccurs="0"/>
				<xs:element ref="CONTRACTID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="CHILDCUSTFLAG" minOccurs="0"/>
				<xs:element ref="RECEIPTNO" minOccurs="0"/>
				<xs:element ref="FROMDATE" minOccurs="0"/>
				<xs:element ref="TODATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjustmentHistCRMResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Output" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CUSTOMERID" type="xs:string"/>
	<xs:element name="BILLINGACCOUNTID" type="xs:string"/>
	<xs:element name="CONTRACTID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="CHILDCUSTFLAG" type="xs:string"/>
	<xs:element name="RECEIPTNO" type="xs:string"/>
	<xs:element name="FROMDATE" type="xs:string"/>
	<xs:element name="TODATE" type="xs:string"/>
	<xs:element name="ADJUSTMENT_ID" type="xs:string"/>
	<xs:element name="ADJUSTMENT_DATE" type="xs:string"/>
	<xs:element name="ADJUSTMENT_AMNT" type="xs:string"/>
	<xs:element name="ADJUSTMENT_AUTHCODE" type="xs:string"/>
	<xs:element name="GLCODE" type="xs:string"/>
	<xs:element name="PAYMENT_INSTRUMENT" type="xs:string"/>
	<xs:element name="PAYMENT_POST_DATE" type="xs:string"/>
	<xs:element name="PAYMENT_AUTH_CODE" type="xs:string"/>
	<xs:element name="CHANNEL" type="xs:string"/>
	<xs:element name="SRC_TRANSACTION_ID" type="xs:string"/>
	<xs:element name="USERNAME" type="xs:string"/>
	<xs:element name="CUSTOMER_CATEGORY" type="xs:string"/>
	<xs:element name="LOCATION" type="xs:string"/>
	<xs:element name="MERCHANT_ID" type="xs:string"/>
	<xs:element name="TERMINAL_ID" type="xs:string"/>
	<xs:element name="CRCARDNO" type="xs:string"/>
	<xs:element name="REMARKS" type="xs:string"/>
	<xs:element name="ADJUSTMENT_OPN_AMNT" type="xs:string"/>
	<xs:element name="ADJUSTMENT_SETTLD_AMNT" type="xs:string"/>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CUSTOMERID" minOccurs="0"/>
				<xs:element ref="ADJUSTMENT_ID" minOccurs="0"/>
				<xs:element ref="ADJUSTMENT_DATE" minOccurs="0"/>
				<xs:element ref="ADJUSTMENT_AMNT" minOccurs="0"/>
				<xs:element ref="ADJUSTMENT_AUTHCODE" minOccurs="0"/>
				<xs:element ref="GLCODE" minOccurs="0"/>
				<xs:element ref="PAYMENT_INSTRUMENT" minOccurs="0"/>
				<xs:element ref="PAYMENT_POST_DATE" minOccurs="0"/>
				<xs:element ref="PAYMENT_AUTH_CODE" minOccurs="0"/>
				<xs:element ref="CHANNEL" minOccurs="0"/>
				<xs:element ref="SRC_TRANSACTION_ID" minOccurs="0"/>
				<xs:element ref="USERNAME" minOccurs="0"/>
				<xs:element ref="CUSTOMER_CATEGORY" minOccurs="0"/>
				<xs:element ref="LOCATION" minOccurs="0"/>
				<xs:element ref="MERCHANT_ID" minOccurs="0"/>
				<xs:element ref="TERMINAL_ID" minOccurs="0"/>
				<xs:element ref="CRCARDNO" minOccurs="0"/>
				<xs:element ref="REMARKS" minOccurs="0"/>
				<xs:element ref="BILLINGACCOUNTID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ADJUSTMENT_OPN_AMNT" minOccurs="0"/>
				<xs:element ref="ADJUSTMENT_SETTLD_AMNT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>