src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/AppleiWatchSESDeActivate/triggerSubscriptionDeactivationReqSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uniqueId" type="xs:string"/>
				<xs:element name="subscriberInfo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="subscriberId" type="xs:string" minOccurs="0"/>
							<xs:element name="billingAccountNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
							<xs:element name="contactPhoneNumber" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="deviceInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="deviceVendor" type="xs:string" minOccurs="0"/>
							<xs:element name="deviceType" type="xs:string" minOccurs="0"/>
							<xs:element name="deviceClassification" type="xs:string"/>
							<xs:element name="deviceModelName" type="xs:string" minOccurs="0"/>
							<xs:element name="deviceModelNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="osType" type="xs:string" minOccurs="0"/>
							<xs:element name="osVersion" type="xs:string" minOccurs="0"/>
							<xs:element name="meid" type="xs:string" minOccurs="0"/>
							<xs:element name="displayName" type="xs:string" minOccurs="0"/>
							<xs:element name="euiccInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="eid" type="xs:string"/>
										<xs:element name="imei" type="xs:string"/>
										<xs:element name="simAllianceProfileVersion" type="xs:string" minOccurs="0"/>
										<xs:element name="gsmaSgp22Version" type="xs:string" minOccurs="0"/>
										<xs:element name="iccid" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="subscriptionInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="subscriptionType" type="xs:string" minOccurs="0"/>
							<xs:element name="numberPlanType" type="xs:string"/>
							<xs:element name="eSimSubscriptionInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
										<xs:element name="imsi" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="existingPrimarySubscriptionInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="primaryMsisdn" type="xs:string"/>
										<xs:element name="primaryImsi" type="xs:string" minOccurs="0"/>
										<xs:element name="primaryIccid" type="xs:string" minOccurs="0"/>
										<xs:element name="primaryImei" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="supplementaryInfo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>