src/BPI_FinMgmt/BusinessProcesses/Services/Update/BulkPaymentAdjustment/Resources/PaymentFileSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="DataSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VerbCode" type="xs:string" minOccurs="0"/>
							<xs:element name="Data" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RECTYPE" type="xs:string"/>
										<xs:element name="REVERSAL__FLAG" type="xs:string"/>
										<xs:element name="PAYMENT__REF" type="xs:string"/>
										<xs:element name="PAYMENT__DATE" type="xs:string"/>
										<xs:element name="CUSTOMER__REF" type="xs:string"/>
										<xs:element name="AMOUNT" type="xs:string"/>
										<xs:element name="CURRENCY" type="xs:string"/>
										<xs:element name="COMMENT" type="xs:string"/>
										<xs:element name="MSISDN" type="xs:string"/>
										<xs:element name="CARDNO" type="xs:string"/>
										<xs:element name="CCEXPDATE" type="xs:string"/>
										<xs:element name="Customer__Name" type="xs:string"/>
										<xs:element name="BANK__GRP" type="xs:string"/>
										<xs:element name="BANK__Name" type="xs:string"/>
										<xs:element name="CARDNAME" type="xs:string"/>
										<xs:element name="CARDTYPE" type="xs:string"/>
										<xs:element name="HANDLING__REASON__CODE" type="xs:string"/>
										<xs:element name="CVVNUMBER" type="xs:string"/>
										<xs:element name="GL__CODE" type="xs:string"/>
										<xs:element name="RECORD__ID" type="xs:string"/>
										<xs:element name="User__Defined__Field-1" type="xs:string"/>
										<xs:element name="User__Defined__Field-2" type="xs:string"/>
										<xs:element name="Billing__Account" type="xs:string"/>
										<xs:element name="Row__ID" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>