src/BPI_FinMgmt/BusinessProcesses/Services/Update/BulkPaymentAdjustment/Resources/SuccessRecords.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/BPI_FinMgmt/SuccessRec"
	 targetNamespace="http://www.tibco.com/BPI_FinMgmt/SuccessRec"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="SuccessRecords">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RecordsSuccess" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RECTYPE" type="xs:string"/>
							<xs:element name="REVERSAL_FLAG" type="xs:string"/>
							<xs:element name="PAYMENT_REF" type="xs:string"/>
							<xs:element name="PAYMENT_DATE" type="xs:string"/>
							<xs:element name="CUSTOMER_REF" type="xs:string"/>
							<xs:element name="AMOUNT" type="xs:string"/>
							<xs:element name="CURRENCY" type="xs:string"/>
							<xs:element name="DOCUMENT_REF" type="xs:string"/>
							<xs:element name="COMMENT" type="xs:string"/>
							<xs:element name="HANDLING_REASON_CODE" type="xs:string"/>
							<xs:element name="MSISDN" type="xs:string"/>
							<xs:element name="CARDNO" type="xs:string"/>
							<xs:element name="BANK_GRP" type="xs:string"/>
							<xs:element name="CARD_TYPE" type="xs:string"/>
							<xs:element name="GL_CODE" type="xs:string"/>
							<xs:element name="RECORD_ID" type="xs:string"/>
							<xs:element name="User_Defined_Field-1" type="xs:string"/>
							<xs:element name="User_Defined_Field-2" type="xs:string"/>
							<xs:element name="Billing_Account" type="xs:string"/>
							<xs:element name="Row_ID" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>