src/CommonProject/BusinessWSDLS/Services/BSCS/ContractDeviceUpdate/ContractDeviceUpdate.wsdl

<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CMI_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/contractdevicesupdate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
         <xs:complexType name="money">
            <xs:sequence>
               <xs:element name="amount" type="xs:double"/>
               <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
         <xs:complexType name="svlany">
            <xs:sequence>
               <xs:element name="content" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange">
         <xs:complexType name="valuesListpartRequest">
            <xs:all>
               <xs:element name="key" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="value" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="valuesRequest">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="sessionChangeRequest">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>
						
						&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/contractdevicesupdate" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/contractdevicesupdate">
         <xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
         <xs:element name="contractDevicesUpdateRequest" type="wsi:contractDevicesUpdateRequest"/>
         <xs:element name="contractDevicesUpdateResponse" type="wsi:contractDevicesUpdateResponse"/>
         <xs:complexType name="contractDevicesUpdateResponse">
            <xs:all>
               <xs:element minOccurs="0" name="response" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>response Message&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="inputAttributes">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element name="coidpub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Contract ID Public key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="smserialno" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>SIM SERIAL NUM&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="contractDevicesUpdateRequest">
            <xs:all>
               <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
               <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="contractDevicesUpdateResponse">
      <wsdl:part element="sch3:contractDevicesUpdateResponse" name="contractDevicesUpdateResponse"/>
   </wsdl:message>
   <wsdl:message name="contractDevicesUpdateRequest">
      <wsdl:part element="sch3:contractDevicesUpdateRequest" name="contractDevicesUpdateRequest"/>
   </wsdl:message>
   <wsdl:portType name="ContractDevicesUpdateService">
      <wsdl:operation name="contractDevicesUpdate">
         <wsdl:input message="tns:contractDevicesUpdateRequest" name="contractDevicesUpdateRequest"/>
         <wsdl:output message="tns:contractDevicesUpdateResponse" name="contractDevicesUpdateResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ContractDevicesUpdateServiceSoap11" type="tns:ContractDevicesUpdateService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="contractDevicesUpdate">
         <soap:operation soapAction=""/>
         <wsdl:input name="contractDevicesUpdateRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="contractDevicesUpdateResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ContractDevicesUpdateService">
      <wsdl:port binding="tns:ContractDevicesUpdateServiceSoap11" name="ContractDevicesUpdateServiceSoap11">
         <soap:address location="http://10.103.23.91:20103/wsi/services/ws_CMI_5_ContractDevicesUpdateService.wsdl"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>