src/CommonProject/BusinessSchemas/Services/Applications/Common/Query/InvoiceQuery/BillDetailsQueryCDM.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/Common/Query/InvoiceQuery/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/Common/Query/InvoiceQuery/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContractNo" minOccurs="0"/>
				<xs:element ref="SubscriberDetails" minOccurs="0"/>
				<xs:element ref="BillText" minOccurs="0"/>
				<xs:element ref="BillAmount" minOccurs="0"/>
				<xs:element ref="TransactionDate" minOccurs="0"/>
				<xs:element ref="ChargeType" minOccurs="0"/>
				<xs:element ref="Duration" minOccurs="0"/>
				<xs:element ref="SegmentType" minOccurs="0"/>
				<xs:element ref="VolumeUnit" minOccurs="0"/>
				<xs:element ref="FromDate" minOccurs="0"/>
				<xs:element ref="ColumnName" minOccurs="0"/>
				<xs:element ref="ToDate" minOccurs="0"/>
				<xs:element ref="CallQuantity" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractNo" type="xs:string"/>
	<xs:element name="SubscriberDetails" type="xs:string"/>
	<xs:element name="BillText" type="xs:string"/>
	<xs:element name="BillAmount" type="xs:string"/>
	<xs:element name="TransactionDate" type="xs:string"/>
	<xs:element name="ChargeType" type="xs:string"/>
	<xs:element name="Duration" type="xs:string"/>
	<xs:element name="SegmentType" type="xs:string"/>
	<xs:element name="VolumeUnit" type="xs:string"/>
	<xs:element name="FromDate" type="xs:string"/>
	<xs:element name="ColumnName" type="xs:string"/>
	<xs:element name="Records">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseDescription"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseDescription" type="xs:string"/>
	<xs:element name="ToDate" type="xs:string"/>
	<xs:element name="CallQuantity" type="xs:string"/>
</xs:schema>