src/ESI_BSCS/BusinessProcesses/Services/Query/BalanceHistoryQuery/HelperProcess/RefillHistoryQueryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTOMER_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CONTRACT_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="REFILL_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="REFILL_AMOUNT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="TOTAL_BALANCE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="REFILL_EXPIRY_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="REFILL_PURPOSE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ACCOUNT_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ACCOUNT_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="OFFER_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element ref="REMARK_REASON" minOccurs="0"/>
										<xs:element ref="REMARK_REASON_DES" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="REMARK_REASON" type="xs:string" nillable="true"/>
	<xs:element name="REMARK_REASON_DES" type="xs:string" nillable="true"/>
</xs:schema>