src/CommonProject/BusinessSchemas/Services/Query/VbankMsisdnSearch/VbankMsisdnSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/VbankMsisdnSearch.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/VbankMsisdnSearch.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="VbankMsisdnSearchRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="VbankMsisdn" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM correlation ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Siebel Order Id</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VbankMsisdnSearchResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="Details" minOccurs="0"/>
				<xs:element ref="Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VbankMsisdn" type="xs:string">
		<xs:annotation>
			<xs:documentation>VBANK Directory number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VbankDN_ID" type="xs:string">
		<xs:annotation>
			<xs:documentation>VBANK DN id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ErrorResponse" type="error"/>
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResponseCode" type="xs:string">
		<xs:annotation>
			<xs:documentation>0-Success
1-Failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ResponseMessage" type="xs:string">
		<xs:annotation>
			<xs:documentation>Order Status-Success or Failed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VbankDN_ID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseMessage" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>