src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/APPS_XX_WF_INTERFACE_PKG_GET_ACTIVE_DELEGATIONS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.oracle.com/apps/wf/soaprovider/plsql/xx_wf_interface_pkg/get_active_delegations/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/wf/soaprovider/plsql/xx_wf_interface_pkg/get_active_delegations/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_BUSINESS_GROUP_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_DATA" type="string" db:index="2" db:type="CLOB" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>