src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/APPS_XX_INV_INT_WS_PKG_RESERVE_STOCK.xsd

<schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/reserve_stock/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/reserve_stock/" elementFormDefault="qualified">   <element name="InputParameters">      <complexType>         <sequence>            <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_SUBINVENTORY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_RESERVE_TO_DATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_USER_NAME" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_ORDER_ID" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_ITEM_LIST" type="string" db:index="6" db:type="CLOB" minOccurs="0" nillable="true"/>            <element name="P_DELIMITER_ASCII_CODE" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>            <element name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>         </sequence>      </complexType>   </element>   <element name="OutputParameters">      <complexType>         <sequence>            <element name="P_RESERVATION_ID" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_RESULT" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_REASON_TEXT" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_REASON_TEXT_LINES" type="string" db:index="12" db:type="CLOB" minOccurs="0" nillable="true"/>         </sequence>      </complexType>   </element></schema>