src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/APPS_XX_INV_INT_WS_PKG_ITEM_WARRANTY.xsd

<schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_warranty/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_warranty/" elementFormDefault="qualified">   <element name="InputParameters">      <complexType>         <sequence>            <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_ITEM_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_SERIAL_NUMBER" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>         </sequence>      </complexType>   </element>   <element name="OutputParameters">      <complexType>         <sequence>            <element name="P_ITEM_DESCRIPTION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_ITEM_CATEGORY" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_VENDOR_NAME" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_VENDOR_ADDRESS" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_RESULT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_REASON_TEXT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>         </sequence>      </complexType>   </element></schema>