src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/APPS_XX_INV_INT_WS_PKG.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="XX_INV_INT_WS_PKG" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/" xmlns:tns="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_onhand_quantity/" xmlns:tns2="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_status_by_serial/" xmlns:tns3="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_warranty/" xmlns:tns4="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/onhand_quantity/" xmlns:tns5="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/pos_transaction/" xmlns:tns6="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/release_stock/" xmlns:tns7="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/reserve_stock/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_onhand_quantity/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_INV_INT_WS_PKG_ITEM_ONHAND_QUANTITY.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_status_by_serial/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_INV_INT_WS_PKG_ITEM_STATUS_BY_SERIAL.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_warranty/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_INV_INT_WS_PKG_ITEM_WARRANTY.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/onhand_quantity/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_INV_INT_WS_PKG_ONHAND_QUANTITY.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/pos_transaction/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_INV_INT_WS_PKG_POS_TRANSACTION.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/release_stock/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_INV_INT_WS_PKG_RELEASE_STOCK.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/reserve_stock/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_INV_INT_WS_PKG_RESERVE_STOCK.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="SOAHeader">
        <complexType>
          <sequence>
            <element name="Responsibility" minOccurs="0" type="string"/>
            <element name="RespApplication" minOccurs="0" type="string"/>
            <element name="SecurityGroup" minOccurs="0" type="string"/>
            <element name="NLSLanguage" minOccurs="0" type="string"/>
            <element name="Org_Id" minOccurs="0" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="ITEM_ONHAND_QUANTITY_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns1:InputParameters"/>
  </message>
  <message name="ITEM_ONHAND_QUANTITY_Output_Msg">
    <part name="body" element="tns1:OutputParameters"/>
  </message>
  <message name="ITEM_STATUS_BY_SERIAL_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns2:InputParameters"/>
  </message>
  <message name="ITEM_STATUS_BY_SERIAL_Output_Msg">
    <part name="body" element="tns2:OutputParameters"/>
  </message>
  <message name="ITEM_WARRANTY_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns3:InputParameters"/>
  </message>
  <message name="ITEM_WARRANTY_Output_Msg">
    <part name="body" element="tns3:OutputParameters"/>
  </message>
  <message name="ONHAND_QUANTITY_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns4:InputParameters"/>
  </message>
  <message name="ONHAND_QUANTITY_Output_Msg">
    <part name="body" element="tns4:OutputParameters"/>
  </message>
  <message name="POS_TRANSACTION_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns5:InputParameters"/>
  </message>
  <message name="POS_TRANSACTION_Output_Msg">
    <part name="body" element="tns5:OutputParameters"/>
  </message>
  <message name="RELEASE_STOCK_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns6:InputParameters"/>
  </message>
  <message name="RELEASE_STOCK_Output_Msg">
    <part name="body" element="tns6:OutputParameters"/>
  </message>
  <message name="RESERVE_STOCK_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns7:InputParameters"/>
  </message>
  <message name="RESERVE_STOCK_Output_Msg">
    <part name="body" element="tns7:OutputParameters"/>
  </message>
  <portType name="XX_INV_INT_WS_PKG_PortType">
    <operation name="ITEM_ONHAND_QUANTITY">
      <input message="tns:ITEM_ONHAND_QUANTITY_Input_Msg"/>
      <output message="tns:ITEM_ONHAND_QUANTITY_Output_Msg"/>
    </operation>
    <operation name="ITEM_STATUS_BY_SERIAL">
      <input message="tns:ITEM_STATUS_BY_SERIAL_Input_Msg"/>
      <output message="tns:ITEM_STATUS_BY_SERIAL_Output_Msg"/>
    </operation>
    <operation name="ITEM_WARRANTY">
      <input message="tns:ITEM_WARRANTY_Input_Msg"/>
      <output message="tns:ITEM_WARRANTY_Output_Msg"/>
    </operation>
    <operation name="ONHAND_QUANTITY">
      <input message="tns:ONHAND_QUANTITY_Input_Msg"/>
      <output message="tns:ONHAND_QUANTITY_Output_Msg"/>
    </operation>
    <operation name="POS_TRANSACTION">
      <input message="tns:POS_TRANSACTION_Input_Msg"/>
      <output message="tns:POS_TRANSACTION_Output_Msg"/>
    </operation>
    <operation name="RELEASE_STOCK">
      <input message="tns:RELEASE_STOCK_Input_Msg"/>
      <output message="tns:RELEASE_STOCK_Output_Msg"/>
    </operation>
    <operation name="RESERVE_STOCK">
      <input message="tns:RESERVE_STOCK_Input_Msg"/>
      <output message="tns:RESERVE_STOCK_Output_Msg"/>
    </operation>
  </portType>
  <binding name="XX_INV_INT_WS_PKG_Binding" type="tns:XX_INV_INT_WS_PKG_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ITEM_ONHAND_QUANTITY">
      <soap:operation soapAction="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ITEM_ONHAND_QUANTITY_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ITEM_STATUS_BY_SERIAL">
      <soap:operation soapAction="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ITEM_STATUS_BY_SERIAL_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ITEM_WARRANTY">
      <soap:operation soapAction="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ITEM_WARRANTY_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ONHAND_QUANTITY">
      <soap:operation soapAction="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ONHAND_QUANTITY_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="POS_TRANSACTION">
      <soap:operation soapAction="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:POS_TRANSACTION_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RELEASE_STOCK">
      <soap:operation soapAction="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:RELEASE_STOCK_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RESERVE_STOCK">
      <soap:operation soapAction="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:RESERVE_STOCK_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="XX_INV_INT_WS_PKG_Service">
    <port name="XX_INV_INT_WS_PKG_Port" binding="tns:XX_INV_INT_WS_PKG_Binding">
      <soap:address location="https://erpdev.zain.com:443/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
    </port>
  </service>
</definitions>