src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/APPS_XX_INV_INT_WS_PKG_RELEASE_STOCK.xsd

<schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/release_stock/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/release_stock/" elementFormDefault="qualified">   <element name="InputParameters">      <complexType>         <sequence>            <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_RESERVATION_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>         </sequence>      </complexType>   </element>   <element name="OutputParameters">      <complexType>         <sequence>            <element name="P_RESULT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_REASON_TEXT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>         </sequence>      </complexType>   </element></schema>