src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/CBiO2_Warehouse_Creation Flow.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="WarehouseCreation_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="WarehouseCategory"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WarehouseCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WarehouseDesc"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="WarehouseCreation_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="WarehouseCreation_Input"
><part
 name="WarehouseCreation_Input"
 element="tns:WarehouseCreation_Input"
></part
></message
><message
 name="WarehouseCreation_Output"
><part
 name="WarehouseCreation_Output"
 element="tns:WarehouseCreation_Output"
></part
></message
><portType
 name="WarehouseCreation"
><operation
 name="WarehouseCreation"
><input
 message="tns:WarehouseCreation_Input"
></input
><output
 message="tns:WarehouseCreation_Output"
></output
></operation
></portType
><binding
 name="WarehouseCreation"
 type="tns:WarehouseCreation"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="WarehouseCreation"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:WarehouseCreation"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcWarehouse_spcCreation_spcFlow"
><port
 binding="tns:WarehouseCreation"
 name="WarehouseCreation"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>