src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/createCFSS.WSDL

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="EOM.catalog.createCFSS" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/createItemService"
	xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/createItemService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:EOM.catalog.createCFSS="http://www.zain.kw.com/BSS/OrderManagement/createItemService">

	<types>
		<schema targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/createItemService"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EOM.catalog.createCFSS="http://www.zain.kw.com/BSS/OrderManagement/createItemService"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">


			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="item">
				<annotation>
					<documentation>item</documentation>
				</annotation>
					<sequence>
						<element name="itemCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="ERPItemCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="itemLabel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="startDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
						<element name="createdDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
						<element name="itemType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="itemSubType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<element name="createItemResponse">
				<complexType >
				<annotation>
					<documentation>createItemResponse</documentation>
				</annotation>
					<sequence>
						<element name="item" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>item</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="itemCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="error" minOccurs="0" maxOccurs="1" type="EOM.catalog.createCFSS:error"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="createItemRequest">
				<complexType >
				<annotation>
					<documentation>createItemRequest</documentation>
				</annotation>
					<sequence>
						<element name="item" minOccurs="0" maxOccurs="1" type="EOM.catalog.createCFSS:item"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="error">
				<annotation>
					<documentation>error</documentation>
				</annotation>
					<sequence>
						<element name="Error_SourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_SourceErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_SourceErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_UserErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_UserErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Occurance_Time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Additional_Desc1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Additional_Desc2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
	</types>

	<message name="createItemRequest">
		<part name="createItemRequest" element="EOM.catalog.createCFSS:createItemRequest"/>
	</message>

	<message name="createItemResponse">
		<part name="createItemResponse" element="EOM.catalog.createCFSS:createItemResponse"/>
	</message>

	<portType name="createECMItemInterface">
		<operation name="createECMItemOp">
			<input message="tns:createItemRequest"/>
			<output message="tns:createItemResponse"/>
		</operation>
	</portType>

	<binding name="createECMItemBinding" type="tns:createECMItemInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="createECMItemOp">
			<soap:operation soapAction="createECMItemOp"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="createECMItem">
		<port name="createECMItemPort" binding="tns:createECMItemBinding">
			<soap:address location="http://192.168.50.102:8080/cwf/services/createECMItemInterface"/>
		</port>
	</service>

</definitions>