src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/delegationProvider.wsdl

<definitions name="XX_WF_INTERFACE_PKG" targetNamespace="http://xmlns.oracle.com/apps/wf/soaprovider/plsql/xx_wf_interface_pkg/" xmlns:tns="http://xmlns.oracle.com/apps/wf/soaprovider/plsql/xx_wf_interface_pkg/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://xmlns.oracle.com/apps/wf/soaprovider/plsql/xx_wf_interface_pkg/get_active_delegations/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/wf/soaprovider/plsql/xx_wf_interface_pkg/get_active_delegations/" xmlns="http://www.w3.org/2001/XMLSchema">
      <include schemaLocation="APPS_XX_WF_INTERFACE_PKG_GET_ACTIVE_DELEGATIONS.xsd"/>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/wf/soaprovider/plsql/xx_wf_interface_pkg/" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="SOAHeader">
        <complexType>
          <sequence>
            <element name="Responsibility" minOccurs="0" type="string"/>
            <element name="RespApplication" minOccurs="0" type="string"/>
            <element name="SecurityGroup" minOccurs="0" type="string"/>
            <element name="NLSLanguage" minOccurs="0" type="string"/>
            <element name="Org_Id" minOccurs="0" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="GET_ACTIVE_DELEGATIONS_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns1:InputParameters"/>
  </message>
  <message name="GET_ACTIVE_DELEGATIONS_Output_Msg">
    <part name="body" element="tns1:OutputParameters"/>
  </message>
  <portType name="XX_WF_INTERFACE_PKG_PortType">
    <operation name="GET_ACTIVE_DELEGATIONS">
      <input message="tns:GET_ACTIVE_DELEGATIONS_Input_Msg"/>
      <output message="tns:GET_ACTIVE_DELEGATIONS_Output_Msg"/>
    </operation>
  </portType>
  <binding name="XX_WF_INTERFACE_PKG_Binding" type="tns:XX_WF_INTERFACE_PKG_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GET_ACTIVE_DELEGATIONS">
      <soap:operation soapAction="https://erptest.zain.com/webservices/SOAProvider/plsql/xx_wf_interface_pkg/"/>
      <input>
        <soap:header message="tns:GET_ACTIVE_DELEGATIONS_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="XX_WF_INTERFACE_PKG_Service">
    <port name="XX_WF_INTERFACE_PKG_Port" binding="tns:XX_WF_INTERFACE_PKG_Binding">
      <soap:address location="https://erptest.zain.com/webservices/SOAProvider/plsql/xx_wf_interface_pkg/"/>
    </port>
  </service>
</definitions>