src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/ERP_Pos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="XX_INV_INT_WS_PKG" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/" xmlns:tns="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_onhand_quantity/" xmlns:tns2="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_status_by_serial/" xmlns:tns3="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_warranty/" xmlns:tns4="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/onhand_quantity/" xmlns:tns5="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/pos_transaction/" xmlns:tns6="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/release_stock/" xmlns:tns7="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/reserve_stock/" xmlns:tns8="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/serial_status/" xmlns:tns9="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/stock_quantities/">
  <types>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_onhand_quantity/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_onhand_quantity/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SUBINVENTORY_LIST" type="string" db:index="3" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_DELIMITER_ASCII_CODE" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_STOCK_ITEM_LIST" type="string" db:index="6" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_RESULT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_status_by_serial/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_status_by_serial/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SERIAL_NUMBER" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_SUBINVENTORY_CODE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SUBINVENTORY_DESC" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_STATUS" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ONHAND_QUANTITY" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_RESULT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_warranty/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/item_warranty/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SERIAL_NUMBER" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_ITEM_DESCRIPTION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_CATEGORY" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_VENDOR_NAME" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_VENDOR_ADDRESS" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_RESULT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/onhand_quantity/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/onhand_quantity/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SUBINVENTORY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_DELIMITER_ASCII_CODE" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_STOCK_ITEM_LIST" type="string" db:index="5" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_RESULT" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/pos_transaction/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/pos_transaction/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SUBINVENTORY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_TRANSACTION_DATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_USER_NAME" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ORDER_ID" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_RESERVATION_ID" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_TYPE" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_LIST" type="string" db:index="8" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_DELIMITER_ASCII_CODE" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_REMARKS" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_RESULT" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT_LINES" type="string" db:index="14" db:type="CLOB" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/release_stock/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/release_stock/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_RESERVATION_ID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_RESULT" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/reserve_stock/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/reserve_stock/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SUBINVENTORY_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_RESERVE_TO_DATE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_USER_NAME" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ORDER_ID" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_LIST" type="string" db:index="6" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_DELIMITER_ASCII_CODE" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_RESERVATION_ID" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_RESULT" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT_LINES" type="string" db:index="12" db:type="CLOB" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/serial_status/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/serial_status/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_SERIAL_NUMBER" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_CODE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_DELIMITER_ASCII_CODE" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_SERIAL_DETAILS" type="string" db:index="6" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_RESULT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
   <schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/stock_quantities/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/stock_quantities/">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element name="P_ORG_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ITEM_CODE_LIST" type="string" db:index="2" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_SUBINVENTORY_LIST" type="string" db:index="3" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_DELIMITER_ASCII_CODE" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element name="P_STOCK_ITEM_LIST" type="string" db:index="6" db:type="CLOB" minOccurs="0" nillable="true"/>
        <element name="P_RESULT" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_REASON_TEXT" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
</schema>
    <schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_int_ws_pkg/" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="SOAHeader">
        <complexType>
          <sequence>
            <element name="Responsibility" minOccurs="0" type="string"/>
            <element name="RespApplication" minOccurs="0" type="string"/>
            <element name="SecurityGroup" minOccurs="0" type="string"/>
            <element name="NLSLanguage" minOccurs="0" type="string"/>
            <element name="Org_Id" minOccurs="0" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="ITEM_ONHAND_QUANTITY_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns1:InputParameters"/>
  </message>
  <message name="ITEM_ONHAND_QUANTITY_Output_Msg">
    <part name="body" element="tns1:OutputParameters"/>
  </message>
  <message name="ITEM_STATUS_BY_SERIAL_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns2:InputParameters"/>
  </message>
  <message name="ITEM_STATUS_BY_SERIAL_Output_Msg">
    <part name="body" element="tns2:OutputParameters"/>
  </message>
  <message name="ITEM_WARRANTY_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns3:InputParameters"/>
  </message>
  <message name="ITEM_WARRANTY_Output_Msg">
    <part name="body" element="tns3:OutputParameters"/>
  </message>
  <message name="ONHAND_QUANTITY_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns4:InputParameters"/>
  </message>
  <message name="ONHAND_QUANTITY_Output_Msg">
    <part name="body" element="tns4:OutputParameters"/>
  </message>
  <message name="POS_TRANSACTION_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns5:InputParameters"/>
  </message>
  <message name="POS_TRANSACTION_Output_Msg">
    <part name="body" element="tns5:OutputParameters"/>
  </message>
  <message name="RELEASE_STOCK_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns6:InputParameters"/>
  </message>
  <message name="RELEASE_STOCK_Output_Msg">
    <part name="body" element="tns6:OutputParameters"/>
  </message>
  <message name="RESERVE_STOCK_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns7:InputParameters"/>
  </message>
  <message name="RESERVE_STOCK_Output_Msg">
    <part name="body" element="tns7:OutputParameters"/>
  </message>
  <message name="SERIAL_STATUS_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns8:InputParameters"/>
  </message>
  <message name="SERIAL_STATUS_Output_Msg">
    <part name="body" element="tns8:OutputParameters"/>
  </message>
  <message name="STOCK_QUANTITIES_Input_Msg">
    <part name="header" element="tns:SOAHeader"/>
    <part name="body" element="tns9:InputParameters"/>
  </message>
  <message name="STOCK_QUANTITIES_Output_Msg">
    <part name="body" element="tns9:OutputParameters"/>
  </message>
  <portType name="XX_INV_INT_WS_PKG_PortType">
    <operation name="ITEM_ONHAND_QUANTITY">
      <input message="tns:ITEM_ONHAND_QUANTITY_Input_Msg"/>
      <output message="tns:ITEM_ONHAND_QUANTITY_Output_Msg"/>
    </operation>
    <operation name="ITEM_STATUS_BY_SERIAL">
      <input message="tns:ITEM_STATUS_BY_SERIAL_Input_Msg"/>
      <output message="tns:ITEM_STATUS_BY_SERIAL_Output_Msg"/>
    </operation>
    <operation name="ITEM_WARRANTY">
      <input message="tns:ITEM_WARRANTY_Input_Msg"/>
      <output message="tns:ITEM_WARRANTY_Output_Msg"/>
    </operation>
    <operation name="ONHAND_QUANTITY">
      <input message="tns:ONHAND_QUANTITY_Input_Msg"/>
      <output message="tns:ONHAND_QUANTITY_Output_Msg"/>
    </operation>
    <operation name="POS_TRANSACTION">
      <input message="tns:POS_TRANSACTION_Input_Msg"/>
      <output message="tns:POS_TRANSACTION_Output_Msg"/>
    </operation>
    <operation name="RELEASE_STOCK">
      <input message="tns:RELEASE_STOCK_Input_Msg"/>
      <output message="tns:RELEASE_STOCK_Output_Msg"/>
    </operation>
    <operation name="RESERVE_STOCK">
      <input message="tns:RESERVE_STOCK_Input_Msg"/>
      <output message="tns:RESERVE_STOCK_Output_Msg"/>
    </operation>
    <operation name="SERIAL_STATUS">
      <input message="tns:SERIAL_STATUS_Input_Msg"/>
      <output message="tns:SERIAL_STATUS_Output_Msg"/>
    </operation>
    <operation name="STOCK_QUANTITIES">
      <input message="tns:STOCK_QUANTITIES_Input_Msg"/>
      <output message="tns:STOCK_QUANTITIES_Output_Msg"/>
    </operation>
  </portType>
  <binding name="XX_INV_INT_WS_PKG_Binding" type="tns:XX_INV_INT_WS_PKG_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ITEM_ONHAND_QUANTITY">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ITEM_ONHAND_QUANTITY_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ITEM_STATUS_BY_SERIAL">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ITEM_STATUS_BY_SERIAL_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ITEM_WARRANTY">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ITEM_WARRANTY_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ONHAND_QUANTITY">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:ONHAND_QUANTITY_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="POS_TRANSACTION">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:POS_TRANSACTION_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RELEASE_STOCK">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:RELEASE_STOCK_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RESERVE_STOCK">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:RESERVE_STOCK_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SERIAL_STATUS">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:SERIAL_STATUS_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="STOCK_QUANTITIES">
      <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
      <input>
        <soap:header message="tns:STOCK_QUANTITIES_Input_Msg" part="header" use="literal"/>
        <soap:body parts="body" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="XX_INV_INT_WS_PKG_Service">
    <port name="XX_INV_INT_WS_PKG_Port" binding="tns:XX_INV_INT_WS_PKG_Binding">
      <soap:address location="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
    </port>
  </service>
</definitions>