src/CommonProject/BusinessWSDLS/Services/InventoryMgmt/erp_warehouse.wsdl

<definitions name="XX_INV_TABS_API_PKG" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/" xmlns:tns="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/change_user_wh/" xmlns:tns2="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/serial_number_vendor/">
	<types>
		
		<schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="SOAHeader">
				<complexType>
					<sequence>
						<element name="Responsibility" minOccurs="0" type="string"/>
						<element name="RespApplication" minOccurs="0" type="string"/>
						<element name="SecurityGroup" minOccurs="0" type="string"/>
						<element name="NLSLanguage" minOccurs="0" type="string"/>
						<element name="Org_Id" minOccurs="0" type="string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
		<schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/change_user_wh/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/change_user_wh/">
			<element name="InputParameters">
				<complexType>
					<sequence>
						<element name="P_USER_NAME" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
						<element name="P_WH_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
						<element name="P_EFFECTIVE_DATE" type="string" db:index="3" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
					</sequence>
				</complexType>
			</element>
			<element name="OutputParameters">
				<complexType>
					<sequence>
						<element name="P_STATUS" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
						<element name="P_ERROR_MESSAGE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
					</sequence>
				</complexType>
			</element>
		</schema>
		<schema targetNamespace="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/serial_number_vendor/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/soaprovider/plsql/xx_inv_tabs_api_pkg/serial_number_vendor/">
			<element name="InputParameters">
				<complexType>
					<sequence>
						<element name="P_ITEM_CODE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
						<element name="P_SERIAL_NUMBER" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
					</sequence>
				</complexType>
			</element>
			<element name="OutputParameters">
				<complexType>
					<sequence>
						<element name="P_VENDOR_NAME" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="CHANGE_USER_WH_Input_Msg">
		<part name="header" element="tns:SOAHeader"/>
		<part name="body" element="tns1:InputParameters"/>
	</message>
	<message name="CHANGE_USER_WH_Output_Msg">
		<part name="body" element="tns1:OutputParameters"/>
	</message>
	<message name="SERIAL_NUMBER_VENDOR_Input_Msg">
		<part name="header" element="tns:SOAHeader"/>
		<part name="body" element="tns2:InputParameters"/>
	</message>
	<message name="SERIAL_NUMBER_VENDOR_Output_Msg">
		<part name="body" element="tns2:OutputParameters"/>
	</message>
	<portType name="XX_INV_TABS_API_PKG_PortType">
		<operation name="CHANGE_USER_WH">
			<input message="tns:CHANGE_USER_WH_Input_Msg"/>
			<output message="tns:CHANGE_USER_WH_Output_Msg"/>
		</operation>
		<operation name="SERIAL_NUMBER_VENDOR">
			<input message="tns:SERIAL_NUMBER_VENDOR_Input_Msg"/>
			<output message="tns:SERIAL_NUMBER_VENDOR_Output_Msg"/>
		</operation>
	</portType>
	<binding name="XX_INV_TABS_API_PKG_Binding" type="tns:XX_INV_TABS_API_PKG_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CHANGE_USER_WH">
			<soap:operation soapAction="https://erp.zain.com/webservices/SOAProvider/plsql/xx_inv_tabs_api_pkg/"/>
			<input>
				<soap:header message="tns:CHANGE_USER_WH_Input_Msg" part="header" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SERIAL_NUMBER_VENDOR">
			<soap:operation soapAction="https://erp.zain.com/webservices/SOAProvider/plsql/xx_inv_tabs_api_pkg/"/>
			<input>
				<soap:header message="tns:SERIAL_NUMBER_VENDOR_Input_Msg" part="header" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="XX_INV_TABS_API_PKG_Service">
		<port name="XX_INV_TABS_API_PKG_Port" binding="tns:XX_INV_TABS_API_PKG_Binding">
			<soap:address location="https://erp.zain.com/webservices/SOAProvider/plsql/xx_inv_tabs_api_pkg/"/>
		</port>
	</service>
</definitions>