src/CommonProject/BusinessWSDLS/Services/WSDLS/Biometric/BIDSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.nvssoft.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nvssoft.com/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.nvssoft.com/">
            <s:element name="JobCreate">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="objRequest" type="tns:clsJobRequest"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="clsJobRequest">
                <s:complexContent mixed="false">
                    <s:extension base="tns:clsRequest">
                        <s:sequence>
                            <s:element maxOccurs="1" minOccurs="0" name="JobId" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="JobUserName" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="JobDeviceId" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="JobClientName" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="PrevJobId" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="OrderNumber" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="1" name="JobStatus" type="tns:enumJobStatus"/>
                            <s:element maxOccurs="1" minOccurs="1" name="JobType" type="tns:enumJobType"/>
                            <s:element maxOccurs="1" minOccurs="0" name="EnglishName" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="ArabicName" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="LineNumber" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="TransactionDate" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="ReceiptNumber" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="ContractNumber" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="InvoiceNumber" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="PDFFileURL" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="TransactionType" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="NewOwnerCustomerId" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="NewOwnerEnglishName" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="NewOwnerArabicName" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="NewOwnerContractNumber" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="IdType" type="s:string"/>
                            <s:element maxOccurs="1" minOccurs="0" name="NewOwnerIdType" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="clsRequest">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="ApplicationId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="UserName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="RequestDate" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="RequestKey" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="CustomerId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="Language" type="tns:enumLanguage"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Token" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ProfileId" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="enumLanguage">
                <s:restriction base="s:string">
                    <s:enumeration value="Arabic"/>
                    <s:enumeration value="English"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="enumJobStatus">
                <s:restriction base="s:string">
                    <s:enumeration value="NotFound"/>
                    <s:enumeration value="New"/>
                    <s:enumeration value="Done"/>
                    <s:enumeration value="Error"/>
                    <s:enumeration value="Cancel"/>
                    <s:enumeration value="InProgress"/>
                    <s:enumeration value="CancelByAdmin"/>
                    <s:enumeration value="Deleted"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="enumJobType">
                <s:restriction base="s:string">
                    <s:enumeration value="NotSet"/>
                    <s:enumeration value="CreateOrValidate"/>
                    <s:enumeration value="Validate"/>
                    <s:enumeration value="ValidateAndDelete"/>
                    <s:enumeration value="Delete"/>
                    <s:enumeration value="Correct"/>
                    <s:enumeration value="ViewOrderDocuments"/>
                    <s:enumeration value="CreateAndViewOrderDocument"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="JobCreateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="JobCreateResult" type="tns:clsJob"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="clsJob">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="ManagerSignatureReasons" type="tns:ArrayOfString"/>
                    <s:element maxOccurs="1" minOccurs="0" name="JobId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="CustomerId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NewOwnerCustomerId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ProfileId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NewOwnerProfileId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ClientName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NewOwnerClientName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="Type" type="tns:enumJobType"/>
                    <s:element maxOccurs="1" minOccurs="0" name="UserName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="DeviceId" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="AssignDate" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="OrderNumber" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="Status" type="tns:enumJobStatus"/>
                    <s:element maxOccurs="1" minOccurs="0" name="StatuschgDate" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="ValidationResult" type="tns:enumValidationResult"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ValidationMessage" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="NewOwnerValidationResult" type="tns:enumValidationResult"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NewOwnerValidationMessage" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="Flag" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="ViewOrderDocumentNewOwnerCollectedBidsFlag" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="SkipFlag" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="NewOwnerSkipFlag" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="0" name="SkipReasonFinger" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NewOwnerFingerprintSkipReason" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="SkipReasonface" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NewOwnerFaceSkipReason" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Message" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="TransactionType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="TransferOwnership" type="s:boolean"/>
                    <s:element maxOccurs="1" minOccurs="1" name="ScanAdditionalPages" type="s:boolean"/>
                    <s:element maxOccurs="1" minOccurs="1" name="RequiredAdditionalPages" type="s:unsignedByte"/>
                    <s:element maxOccurs="1" minOccurs="1" name="MaximumAdditionalPages" type="s:unsignedByte"/>
                    <s:element maxOccurs="1" minOccurs="1" name="AddBarcodeToAdditionalPages" type="s:boolean"/>
                    <s:element maxOccurs="1" minOccurs="0" name="IdType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NewOwnerIdType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="LastAvailableSteps" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="NewOwnerLastAvailableSteps" type="s:int"/>
                    <s:element maxOccurs="1" minOccurs="1" name="ManagerSignature" type="s:boolean"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="enumValidationResult">
                <s:restriction base="s:string">
                    <s:enumeration value="NotValidated"/>
                    <s:enumeration value="ClientProfileNotExisted"/>
                    <s:enumeration value="BiometricIdNotExisted"/>
                    <s:enumeration value="BiometricIdNotMatched"/>
                    <s:enumeration value="Valid"/>
                </s:restriction>
            </s:simpleType>
            <s:element name="JobListGet">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="objRequest" type="tns:clsRequest"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="JobListGetResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="JobListGetResult" type="tns:ArrayOfClsJob"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfClsJob">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="clsJob" nillable="true" type="tns:clsJob"/>
                </s:sequence>
            </s:complexType>
            <s:element name="JobStatusCheck">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="objRequest" type="tns:clsRequest"/>
                        <s:element maxOccurs="1" minOccurs="0" name="JobId" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="JobStatusCheckResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="JobStatusCheckResult" type="tns:clsJob"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LastJobStatusCheck">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="objRequest" type="tns:clsRequest"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LastJobStatusCheckResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="LastJobStatusCheckResult" type="tns:clsJob"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CivilIdGet">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="objRequest" type="tns:clsRequest"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CivilIdGetResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="CivilIdGetResult" type="tns:clsCivilId"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="clsCivilId">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="CivilID" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="IdType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ATitle" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ArabicName1" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ArabicName2" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ArabicName3" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ArabicName4" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="EnglishName1" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="EnglishName2" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="EnglishName3" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="EnglishName4" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ArabicSex" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Sex" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Nat" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="NatCode" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Bday" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="CardIssueDate" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="CardExpiryDate" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="DocumentNo" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="MOIRef" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="MOIIndc" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="UnCode" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Dest" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="block" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Street" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Plot" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="UnitTyp" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="UnitNo" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Floor" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="BloodType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="GuardianCivilIDNO" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="TEL" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="EMAILADDRESS" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ADDITIONAL" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="TEL2" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Extra" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="VisaSerial" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="VisaType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Sponsor" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="ResidencyArticle" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="SiebelBloodType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="SiebelCity" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="SiebelPostalAreaName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="SiebelNationality" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="Article" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="CallBack" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="PassportNo" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="JobTitle" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="LastCheckDate" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="SmsSend">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="objRequest" type="tns:clsRequest"/>
                        <s:element maxOccurs="1" minOccurs="0" name="OrderNumber" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="MobileNumber" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="NewOwnerMobileNumber" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SmsSendResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="EmailSend">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="objRequest" type="tns:clsRequest"/>
                        <s:element maxOccurs="1" minOccurs="0" name="OrderNumber" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="NewOwnerEmailAdress" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="EmailSendResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="JobCreateSoapIn">
        <wsdl:part element="tns:JobCreate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="JobCreateSoapOut">
        <wsdl:part element="tns:JobCreateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="JobListGetSoapIn">
        <wsdl:part element="tns:JobListGet" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="JobListGetSoapOut">
        <wsdl:part element="tns:JobListGetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="JobStatusCheckSoapIn">
        <wsdl:part element="tns:JobStatusCheck" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="JobStatusCheckSoapOut">
        <wsdl:part element="tns:JobStatusCheckResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="LastJobStatusCheckSoapIn">
        <wsdl:part element="tns:LastJobStatusCheck" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="LastJobStatusCheckSoapOut">
        <wsdl:part element="tns:LastJobStatusCheckResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="CivilIdGetSoapIn">
        <wsdl:part element="tns:CivilIdGet" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="CivilIdGetSoapOut">
        <wsdl:part element="tns:CivilIdGetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SmsSendSoapIn">
        <wsdl:part element="tns:SmsSend" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SmsSendSoapOut">
        <wsdl:part element="tns:SmsSendResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="EmailSendSoapIn">
        <wsdl:part element="tns:EmailSend" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="EmailSendSoapOut">
        <wsdl:part element="tns:EmailSendResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="JobSoap">
        <wsdl:operation name="JobCreate">
            <wsdl:input message="tns:JobCreateSoapIn"/>
            <wsdl:output message="tns:JobCreateSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="JobListGet">
            <wsdl:input message="tns:JobListGetSoapIn"/>
            <wsdl:output message="tns:JobListGetSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="JobStatusCheck">
            <wsdl:input message="tns:JobStatusCheckSoapIn"/>
            <wsdl:output message="tns:JobStatusCheckSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="LastJobStatusCheck">
            <wsdl:input message="tns:LastJobStatusCheckSoapIn"/>
            <wsdl:output message="tns:LastJobStatusCheckSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CivilIdGet">
            <wsdl:input message="tns:CivilIdGetSoapIn"/>
            <wsdl:output message="tns:CivilIdGetSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SmsSend">
            <wsdl:input message="tns:SmsSendSoapIn"/>
            <wsdl:output message="tns:SmsSendSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="EmailSend">
            <wsdl:input message="tns:EmailSendSoapIn"/>
            <wsdl:output message="tns:EmailSendSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JobSoap" type="tns:JobSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="JobCreate">
            <soap:operation soapAction="http://www.nvssoft.com/JobCreate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="JobListGet">
            <soap:operation soapAction="http://www.nvssoft.com/JobListGet" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="JobStatusCheck">
            <soap:operation soapAction="http://www.nvssoft.com/JobStatusCheck" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LastJobStatusCheck">
            <soap:operation soapAction="http://www.nvssoft.com/LastJobStatusCheck" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CivilIdGet">
            <soap:operation soapAction="http://www.nvssoft.com/CivilIdGet" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SmsSend">
            <soap:operation soapAction="http://www.nvssoft.com/SmsSend" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EmailSend">
            <soap:operation soapAction="http://www.nvssoft.com/EmailSend" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JobSoap12" type="tns:JobSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="JobCreate">
            <soap12:operation soapAction="http://www.nvssoft.com/JobCreate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="JobListGet">
            <soap12:operation soapAction="http://www.nvssoft.com/JobListGet" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="JobStatusCheck">
            <soap12:operation soapAction="http://www.nvssoft.com/JobStatusCheck" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LastJobStatusCheck">
            <soap12:operation soapAction="http://www.nvssoft.com/LastJobStatusCheck" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CivilIdGet">
            <soap12:operation soapAction="http://www.nvssoft.com/CivilIdGet" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SmsSend">
            <soap12:operation soapAction="http://www.nvssoft.com/SmsSend" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EmailSend">
            <soap12:operation soapAction="http://www.nvssoft.com/EmailSend" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Job">
        <wsdl:port binding="tns:JobSoap" name="JobSoap">
            <soap:address location="http://localhost/bid/job.asmx"/>
        </wsdl:port>
        <wsdl:port binding="tns:JobSoap12" name="JobSoap12">
            <soap12:address location="http://localhost/bid/job.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>