src/CommonProject/BusinessWSDLS/Services/WSDLS/ChangeExpiry/ChangeExpiryService_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/ChangeExpiry" xmlns:ns0="http://www.zain.com/ZESB/Services/ChangeExpiry/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ChangeExpiryService" targetNamespace="http://www.zain.com/ZESB/Services/ChangeExpiry">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/ChangeExpiry/Types"/>
            <xs:complexType name="FaultType">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="sourceSystem" type="xs:string"/>
                    <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="detail" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FaultType" type="ns1:FaultType"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/ChangeExpiry/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="ChangeExpiryInput">
                <xs:sequence>
                    <xs:element name="Msisdn" type="xs:string"/>
                    <xs:element name="Days" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChangeExpiryOutput">
                <xs:sequence>
                    <xs:element name="Status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ChangeExpiryInput" type="ns0:ChangeExpiryInput"/>
            <xs:element name="ChangeExpiryOutput" type="ns0:ChangeExpiryOutput"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ChangeExpiryRequest">
        <wsdl:part element="ns0:ChangeExpiryInput" name="input"/>
    </wsdl:message>
    <wsdl:message name="ChangeExpiryResponse">
        <wsdl:part element="ns0:ChangeExpiryOutput" name="output"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="ChangeExpiryPort">
        <wsdl:operation name="ChangeExpiry">
            <wsdl:input message="tns:ChangeExpiryRequest"/>
            <wsdl:output message="tns:ChangeExpiryResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ChangeExpiryPort" type="tns:ChangeExpiryPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ChangeExpiry">
            <wsdl:documentation/>
            <soap:operation soapAction="ChangeExpiry" style="document"/>
            <wsdl:input>
                <soap:body parts="input" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="output" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ChangeExpiryService">
        <wsdl:port binding="tns:ChangeExpiryPort" name="ChangeExpiryPort">
            <soap:address location="http://10.96.11.37:7071/ESB/SOAP/ChangeExpiry"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>