src/CommonProject/BusinessSchemas/Services/Query/QueryOrderStatus/QueryOrderStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/OrderStatus.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/OrderStatus.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryOrderStatusInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CWOrderID" minOccurs="0"/>
				<xs:element ref="SiebelOrderID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CWOrderID" type="xs:string"/>
	<xs:element name="SiebelOrderID" type="xs:string"/>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>