src/CommonProject/BusinessSchemas/Services/Query/CustomerProfile/CustProfQryRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CustProfQryRes.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CustProfQryRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ROW_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="CUST_STAT_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="STAT_REASON_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="STAT_CHG_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACC_COLOR_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_AGE_RANGE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_FNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_LNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TITLE_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BEHAVIORS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BILLCYCLE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BLOOD_GRP" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_HIER_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_STAT_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_BU" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CATEGORY" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_COMMUNITY_ID1" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_COMPANY_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CONN_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACC_EXPIRES" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CREDIT_NOTE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CREATED_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_EDUCATION" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_MARITAL_STAT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PROFESSION" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CUST_LVL" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_DISC_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BIRTH_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_FNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_LNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TITLE_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_GENDER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_HOME_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_EXPIRY_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_INDUSTRY" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_KAM_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="MARKET_CLASS_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_NATIONALITY" type="xs:string" minOccurs="0"/>
										<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_NOTIFY_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ORG_CAT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ORG_SIZE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ORG_TYP" type="xs:string" minOccurs="0"/>
										<xs:element name="EVT_LOC_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PORTOUT_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PR_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_END_TIME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_START_TIME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_CHANNEL" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_TIME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_RECIPIENT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_REFERRED_BY" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_REG_ZAIN_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_REGD_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_RESIDENCY_TYP" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_RISK_LEVEL" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SALES_AGENT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SALESCALLALLOW_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SECTOR" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SEGMENT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SISTER_COMPANY" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SOURCE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBCORP_SEG" type="xs:string" minOccurs="0"/>
										<xs:element name="MARKET_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBMARKET_TYP" type="xs:string" minOccurs="0"/>
										<xs:element name="CLIENT_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="SUPRESS_CALL_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="FACILITY_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="HSHLDHD_OCC_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="HSHLD_INC" type="xs:string" minOccurs="0"/>
										<xs:element name="LANG_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIN_EMAIL_ADDR" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIN_FAX_PH_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIN_PH_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="MASTER_OU_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="PAR_OU_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="EVT_HOTEL_STD_RT" type="xs:string" minOccurs="0"/>
										<xs:element name="REGION" type="xs:string" minOccurs="0"/>
										<xs:element name="REL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PP_ASSGN_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="LANG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ZAIN_EMP" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUB_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CATEGORY_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="BASE_CURCY_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ARB_FULL_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ENG_FULL_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TOTAL_LINES" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet2" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record2" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="X_CBIO2_ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_LINE_3" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_AVENUE" type="xs:string" minOccurs="0"/>
										<xs:element name="RURAL_ROUTE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BUILDING" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_POSTAL_AREA_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_FLOOR" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_MAIL" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PO_BOX" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PACCI_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_POSTAL_AREA_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ADDR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_STREET_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="CITY" type="xs:string" minOccurs="0"/>
										<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
										<xs:element name="LANDLORD_PH_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_ADDR_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="NEIGHBORHOOD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="ZIPCODE" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR" type="xs:string" minOccurs="0"/>
										<xs:element name="ROW_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="CON_ADDR_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ARABIC_ZIP_CODE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet3" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record3" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="X_CBIO2_ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PP_ASSGN_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PR_BL_PRFL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="HOLDER_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="PAY_ACCNT_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="PP_X_CBIO2_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BANK_DETAIL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CARDTYPE_CRDR" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_END_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PAYMENT_INSTRUMENT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_START_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="EXPIRATION_MO_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="EXPIRATION_YR_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="PAY_METH_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="PROFILE_STATUS_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="BA_X_CBIO2_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BANK_BRANCH" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BANK_CITY" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BANK_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BANK_HINT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SWIFT_CODE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet4" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record4" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="X_CBIO2_ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PR_PAY_PRFL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BILL_FREQ_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="BILL_SOURCE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CREDIT_LIMIT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_INVOICE_FORMAT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_MAIL_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_MODE_OF_COMMUNICATION" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_NOTIFICATION_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PR_PAY_PRFL_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREFF_LANGUAGE" type="xs:string" minOccurs="0"/>
										<xs:element name="CURCY_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="EMAIL_ADDR" type="xs:string" minOccurs="0"/>
										<xs:element name="MEDIA_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="SMS_NOTIFY_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="ROW_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDRESS_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BILLCYCLE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet5" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record5" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="X_CBIO2_ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBMARKET_TYP" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SEGMENT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_NATIONALITY" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TITLE_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ENG_FULL_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_FNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_LNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TITLE_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ARB_FULL_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_FNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_LNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_TNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PROFESSION" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BIRTH_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_GENDER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_MARITAL_STAT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_EDUCATION" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_EXPIRY_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_POSTAL_AREA_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PO_BOX" type="xs:string" minOccurs="0"/>
										<xs:element name="ZIPCODE" type="xs:string" minOccurs="0"/>
										<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
										<xs:element name="CITY" type="xs:string" minOccurs="0"/>
										<xs:element name="RURAL_ROUTE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_STREET_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BUILDING" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_FLOOR" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_LINE_3" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PACCI_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBSCRIBER_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_IVR_LANG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_STAFF_NO" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_HOME_PH" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_FAX_PH" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_WORK_PH" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_EMAIL" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_LINE_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CONNECTION_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_NOTI_PH" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_VBM_CLASS" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_MSISDN_CATEGORY" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SPEND_LIMIT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_FST_CALL_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_CREATED_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SIM_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SIM_CATEGORY" type="xs:string" minOccurs="0"/>
										<xs:element name="SERIAL_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_IMSI" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_ICCID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PIN1" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PIN2" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PUK1" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PUK2" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_KI" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_IVR_PIN" type="xs:string" minOccurs="0"/>
										<xs:element name="TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PORTIN_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBS_LIFE_STATE" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_PORTOUT_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="START_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBSCRIBER_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="END_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="X_CBIO2_SALES_AGENT" type="xs:string" minOccurs="0"/>
										<xs:element name="BILL_PROFILE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="HSHLDHD_OCC_CD" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustProfQryResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Resultsets" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>