src/CommonProject/BusinessSchemas/Services/Transaction/PrepaidRecharge/RechargeRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/RechargeRes.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Subscriber"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/Response"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/RechargeRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Subscriber" schemaLocation="../../../../CDM/Subscriber.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response" schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:element name="RechargeRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader"/>
				<xs:element ref="ns1:Response"/>
				<xs:element ref="ns0:Subscriber"/>
				<xs:choice>
					<xs:element name="VoucherlessRechargeDetails" type="VoucherlessRechargeDetailsType"/>
					<xs:element name="VoucherRechargeDetails" type="VoucherRechargeDetailsType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="VoucherlessRechargeDetailsType">
		<xs:sequence>
			<xs:element name="NewBalance" type="xs:string" minOccurs="0"/>
			<xs:element name="OldExpiryDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="NewExpiryDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VoucherRechargeDetailsType">
		<xs:sequence>
			<xs:element name="ListOfImpactedAccounts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Account" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AccountName" type="xs:string" minOccurs="0"/>
									<xs:element name="RechargeAmount" type="xs:string" minOccurs="0"/>
									<xs:element name="NewBalance" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>