src/CommonProject/BusinessSchemas/Services/Transaction/PrepaidRecharge/RechargeReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/RechargeReq.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Subscriber"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/RechargeReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Subscriber" schemaLocation="../../../../CDM/Subscriber.xsd"/>
	<xs:element name="RechargeReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader"/>
				<xs:element ref="ns0:Subscriber"/>
				<xs:choice>
					<xs:element name="VoucherlessRechargeDetails" type="VoucherlessRechargeDetailsType"/>
					<xs:element name="VoucherRechargeDetails" type="VoucherRechargeDetailsType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="VoucherlessRechargeDetailsType">
		<xs:sequence>
			<xs:element name="Role" type="xs:string" minOccurs="0"/>
			<xs:element name="UserId" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountId" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountType" type="xs:string" minOccurs="0"/>
			<xs:element name="MerchantId" type="xs:string" minOccurs="0"/>
			<xs:element name="Amount" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductId" type="xs:string" minOccurs="0"/>
			<xs:element name="Purpose" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpiryValue" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpiryMode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VoucherRechargeDetailsType">
		<xs:sequence>
			<xs:element name="PIN" type="xs:string" minOccurs="0"/>
			<xs:element name="Purpose" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>