src/BPI_CustMgmt/BusinessProcesses/Services/Query/CallHistory/Resources/CallHistory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://www.zain.com/ZESB/Services/CallHistory" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.zain.com/ZESB/Services/CallHistory/Types" xmlns:WL5G3N2="http://www.zain.com/ZESB/Types/Common" xmlns:WL5G3N3="http://www.zain.com/ZESB/Services/CallHistory" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/CallHistory" xmlns:typ="http://www.zain.com/ZESB/Services/CallHistory/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="FaultType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="string"/>
            <xsd:element name="code" type="string"/>
            <xsd:element name="description" type="string"/>
            <xsd:element name="sourceSystem" type="string"/>
            <xsd:element minOccurs="0" name="extErrorCode" type="string"/>
            <xsd:element minOccurs="0" name="detail" type="string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/CallHistory/Types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/CallHistory" xmlns:typ="http://www.zain.com/ZESB/Services/CallHistory/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="Criteria">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Key" type="string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Operand1" type="string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Operand2" nillable="true" type="string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Operator" type="string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Records">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="R" type="typ:R"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="R">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="A" type="string">
            <xsd:annotation>
              <xsd:documentation>Calling Number A-Number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="B" type="string">
            <xsd:annotation>
              <xsd:documentation>Called Number B-Number</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="T" type="dateTime">
            <xsd:annotation>
              <xsd:documentation>Call Date and Time</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="M" type="decimal">
            <xsd:annotation>
              <xsd:documentation>Call Cost - aMount</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="D" type="long">
            <xsd:annotation>
              <xsd:documentation>Call Duration</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="C" type="string">
            <xsd:annotation>
              <xsd:documentation>Call Category: SMS, MMS, Local, Inter, Roaming, Video, Data</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetHistoryRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ContractId" type="string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Subno" type="string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="From" type="dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="To" type="dateTime"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Criteria" type="typ:Criteria"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PageLimit" type="int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PageNo" type="int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="string"/>
            <xsd:element minOccurs="0" name="Records" type="typ:Records"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="GetHistoryRequest">
    <WL5G3N0:part element="WL5G3N1:GetHistoryRequest" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="GetHistoryResponse">
    <WL5G3N0:part element="WL5G3N1:GetHistoryResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="faultMessage">
    <WL5G3N0:part element="WL5G3N2:FaultType" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="CallHistoryPort">
    <WL5G3N0:operation name="GetHistory">
      <WL5G3N0:input message="WL5G3N3:GetHistoryRequest"/>
      <WL5G3N0:output message="WL5G3N3:GetHistoryResponse"/>
      <WL5G3N0:fault message="WL5G3N3:faultMessage" name="fault"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="CallHistoryBinding" type="WL5G3N3:CallHistoryPort">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="GetHistory">
      <WL5G3N4:operation soapAction="GetHistory"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N4:fault name="fault" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="CallHistory">
    <WL5G3N0:port binding="WL5G3N3:CallHistoryBinding" name="CallHistoryPort">
      <WL5G3N4:address location="http://soadev1.kw.zain.com:8044/ZESB/CallHistory"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>