src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/RatePlanChange/RatePlanChangeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--This Schema is generated by Tibco version 1.0-->
<!--This will be used for response for rate plan change from BSCS to EOM via ESB-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/RatePlanChange/RatePlanChangeResponse.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/RatePlanChange/RatePlanChangeResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="money">
		<xs:sequence>
			<xs:element name="amount" type="xs:double"/>
			<xs:element name="currency" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="svlany">
		<xs:sequence>
			<xs:element name="content" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partyRoleAssignmentsListpartResponse">
		<xs:all>
			<xs:element name="partyRoleId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;party role private key&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyRoleShname" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;party role public key&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyRoleName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;party role public key&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyRoleDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="partyRoleAssignmentsResponse">
		<xs:sequence>
			<xs:element name="item" type="partyRoleAssignmentsListpartResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="listOfAssignmentsListpartResponse">
		<xs:all>
			<xs:element name="familyId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;id of family&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="completionStatus" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;completion status: -1=initial status, 0=completed, 1,2,3...=error code&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;valid from date&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="listOfAssignmentsResponse">
		<xs:sequence>
			<xs:element name="item" type="listOfAssignmentsListpartResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="servicesDroppedListpartResponse">
		<xs:sequence>
			<xs:element name="spcode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Service package code (SimpleProduct) &lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spcodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the service package&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sncode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Service code (ProductElement) &lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sncodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the service&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="servicesDroppedResponse">
		<xs:sequence>
			<xs:element name="item" type="servicesDroppedListpartResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="servicesAddedListpartResponse">
		<xs:sequence>
			<xs:element name="spcode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt; Service package code (SimpleProduct)&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spcodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the service package&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sncode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt; Service code (ProductElement) &lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sncodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the service&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosPendingStatus" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Pending status of the service&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="servicesAddedResponse">
		<xs:sequence>
			<xs:element name="item" type="servicesAddedListpartResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productChangeResponse">
		<xs:sequence>
			<xs:element name="servicesAdded" type="servicesAddedResponse" minOccurs="0"/>
			<xs:element name="servicesDropped" type="servicesDroppedResponse" minOccurs="0"/>
			<xs:element ref="response" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rateplanChangeResponse" type="rateplanChangeResponse"/>
	<xs:complexType name="rateplanChangeResponse">
		<xs:sequence>
			<xs:element ref="orderHeader" minOccurs="0"/>
			<xs:element name="productChange" type="productChangeResponse" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="responseCode" type="xs:string"/>
	<xs:element name="responseMessage" type="xs:string"/>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string"/>
				<xs:element ref="responseCode"/>
				<xs:element ref="responseMessage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>