src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/RatePlanChange/RatePlanChangeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--This Schema is generated by Tibco version 1.0-->
<!--This will be used for rate plan change request  from EOM to BSCS via ESB-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/RatePlanChange/RatePlanChangeRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/RatePlanChange/RatePlanChangeRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="money">
		<xs:sequence>
			<xs:element name="amount" type="xs:double"/>
			<xs:element name="currency" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="svlany">
		<xs:sequence>
			<xs:element name="content" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="valuesListpartRequest">
		<xs:all>
			<xs:element name="key" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="valuesRequest">
		<xs:sequence>
			<xs:element name="item" type="valuesListpartRequest" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sessionChangeRequest">
		<xs:all>
			<xs:element name="values" type="valuesRequest" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ServicesAndServicePackagesListpartRequest">
		<xs:sequence>
			<xs:element name="spcode" type="xs:long" minOccurs="0"/>
			<xs:element name="spcodePub" type="xs:string" minOccurs="0"/>
			<xs:element name="sncode" type="xs:long" minOccurs="0"/>
			<xs:element name="sncodePub" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServicesAndServicePackagesRequest">
		<xs:sequence>
			<xs:element name="item" type="ServicesAndServicePackagesListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="productChangeRequest">
		<xs:sequence>
			<xs:element name="newRpcode" type="xs:long" minOccurs="0"/>
			<xs:element name="rpcodeNewPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>New rate plan id short code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="newServiceClassId" type="xs:long" minOccurs="0"/>
			<xs:element name="newServiceClassIdPub" type="xs:string" minOccurs="0"/>
			<xs:element name="extProductId" type="xs:long" minOccurs="0"/>
			<xs:element name="extProductIdPub" type="xs:string" minOccurs="0"/>
			<xs:element name="oldSpcode" type="xs:long" minOccurs="0"/>
			<xs:element name="spcodeOldPub" type="xs:string" minOccurs="0"/>
			<xs:element name="newSpcode" type="xs:long" minOccurs="0"/>
			<xs:element name="spcodeNewPub" type="xs:string" minOccurs="0"/>
			<xs:element name="sequenceOfServicesAndServicePackages" type="ServicesAndServicePackagesRequest" minOccurs="0"/>
			<xs:element name="coId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Internal BSCS contract id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coIdPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Public Key of a BSCS Contract</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dirnum" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rateplanChangeRequest" type="rateplanChangeRequest"/>
	<xs:complexType name="rateplanChangeRequest">
		<xs:sequence>
			<xs:element ref="orderHeader" minOccurs="0"/>
			<xs:element ref="CRMCustomerID"/>
			<xs:element ref="productChange"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CRMCustomerID" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of Customer Id/Seibel id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productChange" type="productChangeRequest"/>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>