src/CommonProject/BusinessWSDLS/Services/WSDLS/RemedyCreateTicket_WTTX/INTG_WTTX_CREATE_TICKET.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:INTG-WTTX-CREATE-TICKET-WS3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:INTG-WTTX-CREATE-TICKET-WS3">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:INTG-WTTX-CREATE-TICKET-WS3">
            <xsd:element name="Create_Ticket_WTTX" type="s0:InputMapping1"/>
            <xsd:complexType name="InputMapping1">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Subscriber_No__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Subscriber_Name__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Issue_Type__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Category__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Type__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Item__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Summary__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Description__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Language__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Customer_VBM__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Contact_ID__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Contract_No__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Line_Type__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ID_Type__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ID_No__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Subscriber_Status__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PrePost_Flag__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Caller_Number__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Preferred_Contact_No1__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Preferred_Contact_No2__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Contract_Category__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Txt_IMSINumber__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Subscriber_ID__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WTTX_SimCard_IMSI" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WTTX_Delivery_Time" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WTTX_Solution_Type" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WTTX_Speed_Type" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WTTX_Sector_Name" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WTTX_Customer_Location__c" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WTTX_CPE_IMEI" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SiebelUser" nillable="false" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Create_Ticket_WTTXResponse" type="s0:OutputMapping1"/>
            <xsd:complexType name="OutputMapping1">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status_Error_success" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StatusCode" nillable="false" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Txt_IssueID__c" nillable="false" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
            <xsd:complexType name="AuthenticationInfo">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ARAuthenticate">
        <wsdl:part element="s0:AuthenticationInfo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Create_Ticket_WTTXSoapIn">
        <wsdl:part element="s0:Create_Ticket_WTTX" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Create_Ticket_WTTXSoapOut">
        <wsdl:part element="s0:Create_Ticket_WTTXResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="New_Port_0PortType">
        <wsdl:operation name="Create_Ticket_WTTX">
            <wsdl:input message="s0:Create_Ticket_WTTXSoapIn"/>
            <wsdl:output message="s0:Create_Ticket_WTTXSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="New_Port_0SoapBinding" type="s0:New_Port_0PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Create_Ticket_WTTX">
            <soap:operation soapAction="urn:INTG-WTTX-CREATE-TICKET-WS3/Create_Ticket_WTTX" style="document"/>
            <wsdl:input>
                <soap:header message="s0:ARAuthenticate" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="INTG-WTTX-CREATE-TICKET-WS3Service">
        <wsdl:port binding="s0:New_Port_0SoapBinding" name="New_Port_0Soap">
            <soap:address location="http://remedyapp01.kw.zain.com:8080/arsys/services/ARService?server=remedyapp01&amp;webService=INTG-WTTX-CREATE-TICKET-WS3"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>