src/CommonProject/BusinessWSDLS/Services/WSDLS/CMS-OC/CmsOnlineControls.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.ttech.cms.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CmsOnlineControlsService" targetNamespace="http://com.ttech.cms.ws">
    <wsdl:types>
        <xs:schema xmlns:tns="http://com.ttech.cms.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.ttech.cms.ws">
            <xs:element name="HasServiceCategories" type="tns:HasServiceCategories"/>
            <xs:element name="HasServiceCategoriesResponse" type="tns:HasServiceCategoriesResponse"/>
            <xs:complexType name="HasServiceCategories">
                <xs:sequence>
                    <xs:element minOccurs="1" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasServiceCategoriesResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="response" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="HasServices" type="tns:HasServices"/>
            <xs:element name="HasServicesResponse" type="tns:HasServicesResponse"/>
            <xs:complexType name="HasServices">
                <xs:sequence>
                    <xs:element minOccurs="1" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasServicesResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="response" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="HasServiceWithinPeriod" type="tns:HasServiceWithinPeriod"/>
            <xs:element name="HasServiceWithinPeriodResponse" type="tns:HasServiceWithinPeriodResponse"/>
            <xs:complexType name="HasServiceWithinPeriod">
                <xs:sequence>
                    <xs:element minOccurs="1" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasServiceWithinPeriodResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="response" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="HasBalance" type="tns:HasBalance"/>
            <xs:element name="HasBalanceResponse" type="tns:HasBalanceResponse"/>
            <xs:complexType name="HasBalance">
                <xs:sequence>
                    <xs:element minOccurs="1" name="request" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasBalanceResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="response" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="HasServiceCategories">
        <wsdl:part element="tns:HasServiceCategories" name="parameters">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasServiceCategoriesResponse">
        <wsdl:part element="tns:HasServiceCategoriesResponse" name="parameters">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasServices">
        <wsdl:part element="tns:HasServices" name="parameters">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasServicesResponse">
        <wsdl:part element="tns:HasServicesResponse" name="parameters">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasServiceWithinPeriod">
        <wsdl:part element="tns:HasServiceWithinPeriod" name="parameters">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasServiceWithinPeriodResponse">
        <wsdl:part element="tns:HasServiceWithinPeriodResponse" name="parameters">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasBalance">
        <wsdl:part element="tns:HasBalance" name="parameters">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HasBalanceResponse">
        <wsdl:part name="parameters" element="tns:HasBalanceResponse"/>
    </wsdl:message>
    <wsdl:portType name="CmsOnlineControlsFunctions">
        <wsdl:operation name="HasServiceCategories">
            <wsdl:input message="tns:HasServiceCategories" name="HasServiceCategories"/>
            <wsdl:output message="tns:HasServiceCategoriesResponse" name="HasServiceCategoriesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasServices">
            <wsdl:input message="tns:HasServices" name="HasServices"/>
            <wsdl:output message="tns:HasServicesResponse" name="HasServicesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasServiceWithinPeriod">
            <wsdl:input message="tns:HasServiceWithinPeriod" name="HasServiceWithinPeriod"/>
            <wsdl:output message="tns:HasServiceWithinPeriodResponse" name="HasServiceWithinPeriodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasBalance">
            <wsdl:input message="tns:HasBalance" name="HasBalance"/>
            <wsdl:output message="tns:HasBalanceResponse" name="HasBalanceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CmsOnlineControlsSoapBinding" type="tns:CmsOnlineControlsFunctions">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HasServiceCategories">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HasServiceCategories">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HasServiceCategoriesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasServices">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HasServices">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HasServicesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasServiceWithinPeriod">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HasServiceWithinPeriod">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HasServiceWithinPeriodResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasBalance">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HasBalance">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HasBalanceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CmsOnlineControlsService">
        <wsdl:port binding="tns:CmsOnlineControlsSoapBinding" name="CmsOnlineControlsServiceImplPort">
            <soap:address location="http://localhost:8088/CmsIntegrationWS/services/CmsOnlineControlsServiceImplPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>