src/CommonProject/BusinessSchemas/Services/Modification/UpdateFnF/UpdateFnFRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Modification/UpdateFnF/UpdateFnFReq.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Subscriber"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/FAF"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Modification/UpdateFnF/UpdateFnFReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Subscriber" schemaLocation="../../../../CDM/Subscriber.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/FAF" schemaLocation="../../../../CDM/FAFinformationList.xsd"/>
	<xs:element name="UpdateFnFReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="ns0:Subscriber" minOccurs="0"/>
				<xs:element ref="fafChargeFlag" minOccurs="0"/>
				<xs:element ref="ListName" minOccurs="0"/>
				<xs:element ref="ns1:FAF" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fafChargeFlag" type="xs:string"/>
	<xs:element name="ListName" type="xs:string"/>
</xs:schema>