src/CommonProject/BusinessSchemas/Services/Applications/CRM/Provisioning/XSD/listOfCbio2OrderModificationReqIo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO"
	 targetNamespace="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"/>
	<xsd:complexType name="SiebelMessage">
		<xsd:sequence>
			<xsd:element name="listOfCbio2OrderProvisioningReqIo" type="xsdLocal:listOfCbio2OrderProvisioningReqIo" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="MessageId" type="xsd:string"/>
		<xsd:attribute name="MessageType" type="xsd:string"/>
		<xsd:attribute name="IntObjectName" type="xsd:string"/>
		<xsd:attribute name="IntObjectFormat" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="listOfCbio2OrderProvisioningReqIo">
		<xsd:sequence>
			<xsd:element name="orderEntry-Orders" type="xsdLocal:orderEntry-Orders" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderEntry-Orders">
		<xsd:sequence>
			<xsd:element name="account" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountLocation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="active" type="xsd:string" minOccurs="0"/>
			<xsd:element name="agreementId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="agreementName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approved" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approvedBy-EmpLogin" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approvedBy-EmployeeId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="asOfDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="billingProfileId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="billingProfileName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2CWServiceOrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2CreatedDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2CreatedbyPerson" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2OrderSubType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2OrderType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SalesChannel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="campaignId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="campaignName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cancelReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="changeReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="comments" type="xsd:string" minOccurs="0"/>
			<xsd:element name="contactFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="contactId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="contactLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="createdByName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string"/>
			<xsd:element name="discount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="discountAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fulfillmentStatusCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="mRCTotal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nRCTotal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="opportunity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="optyId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="orderNumber" type="xsd:string"/>
			<xsd:element name="orderTotal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="orderType" type="xsd:string"/>
			<xsd:element name="orderTypeId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="priceList" type="xsd:string" minOccurs="0"/>
			<xsd:element name="priceListId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="primaryOrganization" type="xsd:string" minOccurs="0"/>
			<xsd:element name="primaryOrganizationId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="quoteId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="quoteNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="quoteStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="requestedShipDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="revision" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceRequestId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceRequestNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string"/>
			<xsd:element name="listOfCBiO2SubscriberInformation" type="xsdLocal:listOfCBiO2SubscriberInformation" minOccurs="0"/>
			<xsd:element name="listOforderEntry-LineItems" type="xsdLocal:listOforderEntry-LineItems" minOccurs="0"/>
			<xsd:element name="listOfpayments" type="xsdLocal:listOfpayments" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listOfCBiO2SubscriberInformation">
		<xsd:sequence>
			<xsd:element name="CBiO2SubscriberInformation" type="xsdLocal:CBiO2SubscriberInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CBiO2SubscriberInformation">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ActionPerformed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2Behaviors" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContractEndDt" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContractPeriod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContractStartDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2CreatedBy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2CreatedDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2DefCreditLimit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ErrorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ErrorMessage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2FirstCallDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2IVRLang" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2IVRPIN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2LineType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2MasterDataSharingNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2NotificationFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2NotifySubcNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2OldContract" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2OptedCreditLimit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2PortInFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2PortOutFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2PrefCommChannel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2PrefCommTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ProsumerBase" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ReferredBy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2RegistrationDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2RiskLevel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SalesAgent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SalesCallingFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2Source" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2StatusChangeDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SubscriberEmail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SubscriberFaxPhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SubscriberHomePhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SubscriberInformation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SubscriberNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SubscriberNotificationPhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SubscriberWorkPhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2VBMClassification" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2VBMValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2VPNCUGId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2VPNPref" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ZainStaffFlg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ZainStaffNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="integrationId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="product" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactArabicFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactArabicLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactArabicSecName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactArabicThirdName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ContactArabicTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactBirthDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactBloodGroup" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ContactEngFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactEngLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactEngNickName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactEngSecName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactEngThirdName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactExpiryDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactGender" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactIDNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactIDType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ContactLanguageCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactMaritalStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactNationality" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactParentAccountName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactResidencyType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ContactTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SubscriberStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SubscriberLifeCycleState" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listOforderEntry-LineItems">
		<xsd:sequence>
			<xsd:element name="orderEntry-LineItems" type="xsdLocal:orderEntry-LineItems" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderEntry-LineItems">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="actionCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="asOfDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assetNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="billingProfileId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="billingProfileName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBIO2AdvanceRCAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBIO2InstallmentAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2AdvanceRCPaymentFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2FLEXCommitmentDiscountAmt" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2FLEXCommitmentFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2FLEXCommitmentPeriod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2FLEXCommitmentPlan" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2FLEXCommitmentPlanId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2ICCID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2InstallmentEndDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2InstallmentFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2InstallmentPeriod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2InstallmentStartDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2InventoryFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2MSISDNCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2NoOfAdvRCBillCycle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2OTCAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2OTCType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2PosttoInvoiceAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2PosttoInvoiceFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SIMCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2SIMType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2UpfrontPaymentAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cBiO2UpfrontPaymentFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="description2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="discountAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="discountPercent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="eligibilityReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="eligibilityStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="integrationId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="itemType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lineNumber" type="xsd:string"/>
			<xsd:element name="mRCCxTotal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nRCCxTotal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="netPrice" type="xsd:string" minOccurs="0"/>
			<xsd:element name="orderHeaderId" type="xsd:string"/>
			<xsd:element name="orderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="outlineNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="parentProductId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="partNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="previousServiceId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="product" type="xsd:string" minOccurs="0"/>
			<xsd:element name="productId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="productType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="quantityRequested" type="xsd:string"/>
			<xsd:element name="rootOrderItemId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rootProductId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rootProductName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceEndDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceStartDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="startPrice" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="unitPrice" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2InventorySerialNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ParentProdGlobalIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ProdGlobalIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PromotionGlobalIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ParentProductName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2DNId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="listOforderItemXa" type="xsdLocal:listOforderItemXa" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listOfpayments">
		<xsd:sequence>
			<xsd:element name="payments" type="xsdLocal:payments" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="payments">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountNumber2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="authorizationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="issuingBankName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lineNumber3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="orderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="payment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymentAccountId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymentDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymentMethod" type="xsd:string"/>
			<xsd:element name="paymentStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymentType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="transactionAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="transactionType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="listOforderItemXa">
		<xsd:sequence>
			<xsd:element name="orderItemXa" type="xsdLocal:orderItemXa" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orderItemXa">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="actionCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="attributeDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dataType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numericValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="objectId" type="xsd:string"/>
			<xsd:element name="orderHeaderId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="previousDateValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="previousNumericValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="previousTextValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="readOnly" type="xsd:string" minOccurs="0"/>
			<xsd:element name="required" type="xsd:string" minOccurs="0"/>
			<xsd:element name="textValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>