src/CommonProject/BusinessSchemas/Services/Applications/CRM/Provisioning/XSD/listOfCBiO2BarringTerminateOrderReq.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2BarringTerminateOrderReqIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2BarringTerminateOrderReqIO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="listOfCBiO2BarringTerminateOrderReqIO" type="xsdLocal:listOfCBiO2BarringTerminateOrderReqIO"
/><xsd:complexType name="listOfCBiO2BarringTerminateOrderReqIOTopElmt"
><xsd:sequence
><xsd:element name="listOfCBiO2BarringTerminateOrderReqIO" type="xsdLocal:listOfCBiO2BarringTerminateOrderReqIO" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="listOfCBiO2BarringTerminateOrderReqIO"
><xsd:sequence
><xsd:element name="cbio2BarringTerminateOrderDetails" type="xsdLocal:cbio2BarringTerminateOrderDetails" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="cbio2BarringTerminateOrderDetails"
><xsd:sequence
><xsd:element name="cBiO2Additional1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BSCSContractId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2UserName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2RequestTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Additional5" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Additional3" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ExternalOrderId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OrderReason" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Status" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>