src/CommonProject/BusinessSchemas/Services/Applications/CRM/Provisioning/XSD/listOfCbio2OrderProvisioningReqIo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage" 
/><xsd:complexType name="SiebelMessage"
><xsd:sequence
><xsd:element name="listOfCbio2OrderProvisioningReqIo" type="xsdLocal:listOfCbio2OrderProvisioningReqIo" minOccurs="0" maxOccurs="1" 
/></xsd:sequence
><xsd:attribute name="MessageId" type="xsd:string" 
/><xsd:attribute name="MessageType" type="xsd:string" 
/><xsd:attribute name="IntObjectName" type="xsd:string" 
/><xsd:attribute name="IntObjectFormat" type="xsd:string" 
/></xsd:complexType
><xsd:complexType name="listOfCbio2OrderProvisioningReqIo"
><xsd:sequence
><xsd:element name="orderEntry-Orders" type="xsdLocal:orderEntry-Orders" minOccurs="1" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="orderEntry-Orders"
><xsd:sequence
><xsd:element name="accountId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="agreementId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="agreementName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="asOfDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="billingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CWServiceOrderNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CreatedDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CreatedbyPerson" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OrderSubType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OrderType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SalesChannel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cancelReason" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="changeReason" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="comments" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="currencyCode" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="mRCTotal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="costomerEmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="nRCTotal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="orderNumber" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="orderPriority" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="orderTotal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="orderType" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="primaryOrganization" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="requestedShipDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="revision" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="serviceRequestId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="serviceRequestNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="cBiO2SalesAgentId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SalesAgentName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BSCSBillingAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2TotalRCAdvance" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2TotalNRCUpfront" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2DepositAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ShopId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ShopName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ShopType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BatchFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BatchNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ArabicFullName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2EnglishFullName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BSCSCustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BillCycle" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BusinessUnit" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerPrefLanguageCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrefCommunicationChannel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrefCommStartTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrefCommEndTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2NotificationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerSegment" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerSubCorporateSegment" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ZainStaffId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2KAMId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2KAM" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BulkRequestId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldArabicFullName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldBSCSBillingAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldBSCSCustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldBillCycle" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldBillingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldEnglishFullName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldNotificationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2NPOrderId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2WarehouseCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2OldContractCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="listOfCBiO2SubscriberInformation" type="xsdLocal:listOfCBiO2SubscriberInformation" minOccurs="0" maxOccurs="1"
/><xsd:element name="listOforderEntry-LineItems" type="xsdLocal:listOforderEntry-LineItems" minOccurs="0" maxOccurs="1"
/><xsd:element name="listOfpayments" type="xsdLocal:listOfpayments" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="listOfCBiO2SubscriberInformation"
><xsd:sequence
><xsd:element name="CBiO2SubscriberInformation" type="xsdLocal:CBiO2SubscriberInformation" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CBiO2SubscriberInformation"
><xsd:sequence
><xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="billingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="billingProfileName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ContractEndDt" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ContractStartDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CreatedBy" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CreatedDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2DefCreditLimit" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2IVRLang" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2LineType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OptedCreditLimit" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrefCommChannel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SalesCallingFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberEmail" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberNotificationPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="integrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="previousServiceId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="product" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="endDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="serviceId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="startDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberPrefLanguageCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="productType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BSCSContractId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrefCommStartTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrefCommEndTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BSCSBillingAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Market" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubMarket" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CallDetails" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberFullNameArabic" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SubscriberFullNameEnglish" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Location" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SpendLimit" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2DNId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2VPNCommunityId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2VPNShortCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2IMSI" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SIMNum" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CCExemptionFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CollectionExemptionFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="listOforderEntry-LineItems"
><xsd:sequence
><xsd:element name="orderEntry-LineItems" type="xsdLocal:orderEntry-LineItems" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="orderEntry-LineItems"
><xsd:sequence
><xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="actionCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="billingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="billingProfileName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBIO2AdvanceRCAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBIO2InstallmentAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2AdvanceRCPaymentFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2IMSI" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2InstallmentEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2InstallmentFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2InstallmentPeriod" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2InstallmentStartDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2InventoryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2MSISDNCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2NoOfAdvRCBillCycle" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldIMSI" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PosttoInvoiceAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PosttoInvoiceFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SIMCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SIMNum" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SIMType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2UpfrontPaymentAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2UpfrontPaymentFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="discountAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="discountPercent" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="dueDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="integrationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="itemType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="mRCCxTotal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="nRCCxTotal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="netPrice" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="orderHeaderId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="parentProductId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="partNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="previousServiceId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="product" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="productId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="productType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="rootOrderItemId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="rootProductId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="serviceEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="serviceId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="serviceStartDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="startPrice" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2InventorySerialNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ParentProdGlobalIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ProdGlobalIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PromotionGlobalIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ParentProductName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BSCSBillingAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SIMResId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2LineItemRelationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OfferSubType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OfferType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrepaidCharge" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PrepaidFrequency" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ProductSubType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Renewal" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="priceType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2GiftReceiverMSISDN" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2GiftingFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2GiftReceiverIMSI" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2GiftReceiverSIMNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2GiftReceiverContractId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2GiftReceiverLineType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2APN" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ItemCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2KI" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PIN1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PIN2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PUK1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PUK2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ICCID" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2DataSharingflag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2NewSharedValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2OldSharedValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Volume" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SharedServiceCFSId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2SharedServiceName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2UOM" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2VendorCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="quantity" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PreviousQuantity" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ReservationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ReservedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="listOforderItemXa" type="xsdLocal:listOforderItemXa" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="listOfpayments"
><xsd:sequence
><xsd:element name="payments" type="xsdLocal:payments" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="payments"
><xsd:sequence
><xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="accountNumber2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="authorizationCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="currencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="expirationMonth" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="expirationYear" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="issuingBankName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="lineNumber3" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="orderNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="payment" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="paymentAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="paymentDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="paymentMethod" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="paymentStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="paymentType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="transactionAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="transactionType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BSCSBillingAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerBSCSId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CustomerCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2MerchantId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ReceiptNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ShopId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2TabsBillCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2TabsServiceCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2TerminalId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2Username" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2PayDesk" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="listOforderItemXa"
><xsd:sequence
><xsd:element name="orderItemXa" type="xsdLocal:orderItemXa" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="orderItemXa"
><xsd:sequence
><xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="actionCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="attributeDescription" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="dataType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="dateValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="numericValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="objectId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="orderHeaderId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="previousValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="textValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>