src/CommonProject/BusinessSchemas/Services/Applications/CRM/Provisioning/XSD/ListOfCbio2EnterpriseProductsOrderReqIo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2%20Enterprise%20Products%20Order%20Req%20IO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Enterprise%20Products%20Order%20Req%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfCbio2EnterpriseProductsOrderReqIo" type="xsdLocal:ListOfCbio2EnterpriseProductsOrderReqIo"
/><xsd:complexType name="ListOfCbio2EnterpriseProductsOrderReqIoTopElmt"
><xsd:sequence
><xsd:element name="ListOfCbio2EnterpriseProductsOrderReqIo" type="xsdLocal:ListOfCbio2EnterpriseProductsOrderReqIo" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCbio2EnterpriseProductsOrderReqIo"
><xsd:sequence
><xsd:element name="AboBulkRequestHeader" type="xsdLocal:AboBulkRequestHeader" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="AboBulkRequestHeader"
><xsd:sequence
><xsd:element name="BulkRequestName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BulkRequestNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BRLineType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BROrderReason" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BROrderSubType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BROrderType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2FreeService" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Mode" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="NotifyUser" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CBiO2Source" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubmittedBy" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfAboBulkRequestActionSet" type="xsdLocal:ListOfAboBulkRequestActionSet" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfAboBulkRequestActionSet"
><xsd:sequence
><xsd:element name="AboBulkRequestActionSet" type="xsdLocal:AboBulkRequestActionSet" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="AboBulkRequestActionSet"
><xsd:sequence
><xsd:element name="ActiveFlag" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="BulkRequestId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CBiO2AccountSequenceNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ConnectionType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Notes" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Sequence" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="TemplateFlag" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Type" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CBiO2PaymentAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ChargePlanAgreementEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfAboBulkRequestActions" type="xsdLocal:ListOfAboBulkRequestActions" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfAboBulkRequestInstance" type="xsdLocal:ListOfAboBulkRequestInstance" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfCbio2ChargePlan-ChargeItemDetailsBc" type="xsdLocal:ListOfCbio2ChargePlan-ChargeItemDetailsBc" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfAboBulkRequestActions"
><xsd:sequence
><xsd:element name="AboBulkRequestActions" type="xsdLocal:AboBulkRequestActions" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="AboBulkRequestActions"
><xsd:sequence
><xsd:element name="ActionCode" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="AttributeName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AttributeValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BaseProductId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BaseProductName" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="BulkRequestActionSetId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CBiO2AttributeFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CommitmentPeriod" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2DeviceSerialNum" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2DeviceType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PenaltyType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PriceOverrideAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PriceType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ProductType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SPDescriptionKey" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SPDescriptionValue" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ServiceEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Sequence" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="UpgradeProductId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="UpgradeProductName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="UpgradePromotionProductId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="UpgradePromotionProductName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ChampionName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Contact" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Location" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PONumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ProductName" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfAboBulkRequestInstance"
><xsd:sequence
><xsd:element name="AboBulkRequestInstance" type="xsdLocal:AboBulkRequestInstance" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="AboBulkRequestInstance"
><xsd:sequence
><xsd:element name="CBiO2ReservationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MSISDNCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2DNId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BulkRequestActionSetId" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CBiO2SIMNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="InstanceType" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Sequence" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ServiceId" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCbio2ChargePlan-ChargeItemDetailsBc"
><xsd:sequence
><xsd:element name="Cbio2ChargePlan-ChargeItemDetailsBc" type="xsdLocal:Cbio2ChargePlan-ChargeItemDetailsBc" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="Cbio2ChargePlan-ChargeItemDetailsBc"
><xsd:sequence
><xsd:element name="ChargeAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ChargeDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ChargeRemarks" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ChargeStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Sequence" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>