src/CommonProject/BusinessSchemas/Services/Query/QueryPACIStatusBiometrics/QueryPACIStatusBiometricsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/QueryPACIStatusBiometricsRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/QueryPACIStatusBiometricsRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="channel_name" type="xs:string"/>
				<xs:element name="RequestId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>