src/CommonProject/BusinessSchemas/Services/Applications/Common/OrderValidation/OrderValidationInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/OrderValidationInput.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/OrderValidationInput.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OrderValidationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string"/>
				<xs:element name="BillingType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Postpaid"/>
							<xs:enumeration value="Prepaid"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BasicServiceType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Voice"/>
							<xs:enumeration value="Data"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrderType" type="xs:string"/>
				<xs:element name="Requester" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Admin"/>
							<xs:enumeration value="Subscriber"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Username" type="xs:string" minOccurs="0"/>
				<xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A pair of Name/Value.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string">
								<xs:annotation>
									<xs:documentation>Param's name/key.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Value" type="xs:string">
								<xs:annotation>
									<xs:documentation>Params' value.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>