src/CommonProject/BusinessSchemas/Services/Applications/Common/Query/ReceiptDetails/ReceiptDetailsBSCSResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <xs:element name="outputMessage">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="receiptnoInfoReadResponse">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="contractid" type="xs:int"></xs:element>
                                             <xs:element name="subno" type="xs:string"></xs:element>
                                             <xs:element name="invoiceno" type="xs:int"></xs:element>
                                             <xs:element name="invoicedate" type="xs:string"></xs:element>
                                             <xs:element name="method" type="xs:string"></xs:element>
                                             <xs:element name="methodname" type="xs:string"></xs:element>
                                             <xs:element name="username" type="xs:string"></xs:element>
                                             <xs:element name="paydesk" type="xs:string"></xs:element>
                                             <xs:element name="paymentdate" type="xs:string"></xs:element>
                                             <xs:element name="amount" type="xs:int"></xs:element>
                                             <xs:element name="cardno" type="xs:string"></xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="xmlns" type="xs:string"></xs:attribute>
                                       <xs:attribute name="xmlns:SOAP-ENV" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>