src/OSS_BSS_BW_cwp/SharedResources/WSDL/ProdImport.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://siebel.com/webservices" xmlns:tns="http://siebel.com/asi/V0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/SWIProductIntegrationIO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/asi/V0">
    <import location="../../../BusinessProcesses/CatalogSync/Resources/Schema/Header.xsd" namespace="http://siebel.com/webservices"/>
    <import location="../../../BusinessProcesses/CatalogSync/Resources/Schema/siebdetail.xsd" namespace="http://www.tibco.com/schemas/sibeldetail.xsd"/>
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/SWIProductIntegrationIO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/SWIProductIntegrationIO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfProductImport" type="xsdLocal1:ListOfProductImport"/>
            <xsd:complexType name="ListOfProductImportTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfProductImport" type="xsdLocal1:ListOfProductImport"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfProductImport">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductIntegration" type="xsdLocal1:ProductIntegration"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductIntegration">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiProductIntegrationOrganizationVbc" type="xsdLocal1:ListOfSwiProductIntegrationOrganizationVbc"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OverrideLockedFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkspaceId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkspaceName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkspaceReleaseFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkspaceReuseFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ReleaseDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ActiveWorkspaceFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfProductDefinition" type="xsdLocal1:ListOfProductDefinition"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfProductStructure" type="xsdLocal1:ListOfProductStructure"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiProductIntegrationOrganizationVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductIntegrationOrganizationVbc" type="xsdLocal1:ProductIntegrationOrganizationVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductIntegrationOrganizationVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OrganizationId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfProductDefinition">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductDefinition" type="xsdLocal1:ProductDefinition"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductDefinition">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ActiveFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AutoExplodeFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BillableFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BusinessUnitId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CheckEligibilityFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CommonId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveEndTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveStartTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ExternalInventorySystemRef" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="InclusiveEligibilityFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IntegrationId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="InventoryFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LeadTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MaximumQuantity" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MinimumQuantity" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OrderableFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PartNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryProductLineId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductSerializedFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductVersion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ReleaseFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SalesProductFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceInstanceFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceProductFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceTerms" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ShipFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StructureType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TrackAsAssetFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitSize" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitofMeasure" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitsperCase" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="VendorId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="VendorPartNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BillingServiceType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BillingType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BillonFirstService" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Tool" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CompositionType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentCriteriaCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentItemCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductObjectNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductClassId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductClassName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ReleaseDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductClassObjectNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TargetedIndustry" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TargetedMinAge" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TargetedMaxAge" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TargetedPostalCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TargetedCountry" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MTBF" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MTTR" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FieldReplaceable" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ReturnIfDefective" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentProduct" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ItemSize" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ShipMethod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ShipCarrier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AllocateBelowSafetyFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AutoSubstituteFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DivisionCodeSAP" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="GlobalProductIdentifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ModelProduct" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TaxableFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TaxSubcomponentFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProjectResourceFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Compensatable" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SpecialRatingType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SpecialRatingMaxItems" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MSISDNRequiredFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PricingCommitType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="NetworkElementType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SuccessDependency" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="DynamicDiscountMethod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CompoundProductFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductLevel" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Format" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AutoAllocateFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DetailedDescription" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PricingDetails" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Terms" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfProductInvloc" type="xsdLocal1:ListOfProductInvloc"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiAdminProductLineVbc" type="xsdLocal1:ListOfSwiAdminProductLineVbc"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiIssProductAttributesVbc" type="xsdLocal1:ListOfSwiIssProductAttributesVbc"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiPriceListItemVbc" type="xsdLocal1:ListOfSwiPriceListItemVbc"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiProductCompatibility-SubjectVbc" type="xsdLocal1:ListOfSwiProductCompatibility-SubjectVbc"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiProductDetailsLangVbc" type="xsdLocal1:ListOfSwiProductDetailsLangVbc"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiUserAttributeVbc" type="xsdLocal1:ListOfSwiUserAttributeVbc"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfProductStructure">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductStructure" type="xsdLocal1:ProductStructure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductStructure">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ComponentProductBusinessUnitId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ComponentProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ComponentProductName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ComponentProductVendorId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IntegrationId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductBusinessUnitId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductVendorId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DomainType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ComponentClassName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MaxCardinality" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MinCardinality" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DefaultCardinality" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelationshipName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ComponentClassObjectNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ComponentProductObjectNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductObjectNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSwiProductStructureDomainVbc" type="xsdLocal1:ListOfSwiProductStructureDomainVbc"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfProductInvloc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductInvloc" type="xsdLocal1:ProductInvloc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductInvloc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IntegrationId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="InventoryLocationID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductName" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="operation" type="xsd:string"/>
                <xsd:attribute name="searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiAdminProductLineVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductLineVbc" type="xsdLocal1:ProductLineVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductLineVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductLineName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductLineManage" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="Operation" type="xsd:string"/>
                <xsd:attribute name="Searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiIssProductAttributesVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductAttributesVbc" type="xsdLocal1:ProductAttributesVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductAttributesVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AssetFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AttributeName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DefaultValue" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EligibilityProcedureName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="HiddenFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MaximumValue" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MinimumValue" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PostPickCD" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PrePickCD" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ReadOnlyFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RejectedVal" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RequiredFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SequenceNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitofMeasure" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="XAIntegrationId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParametricSearchFlg" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="Operation" type="xsd:string"/>
                <xsd:attribute name="Searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiPriceListItemVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="PriceListItemVbc" type="xsdLocal1:PriceListItemVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceListItemVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AttributeAdjustment" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ChargePeriod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Cost" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListPrice2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MaximumPrice" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MinimumPrice" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceEndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceListCurrencyCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceListId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceListName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceStartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PriceType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PromotionalPrice" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServicePricePercent" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServicePricingMethod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="VolumeDiscount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductObjectNumber" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="Operation" type="xsd:string"/>
                <xsd:attribute name="Searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiProductCompatibility-SubjectVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductCompatibility-SubjectVbc" type="xsdLocal1:ProductCompatibility-SubjectVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductCompatibility-SubjectVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AdjustmentGroup" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveEndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveStartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelProduct" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelProductClass" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelProductLine" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelProductObjectNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelProductClassObjectNumber" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="Operation" type="xsd:string"/>
                <xsd:attribute name="Searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiProductDetailsLangVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductDetailsLangVbc" type="xsdLocal1:ProductDetailsLangVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductDetailsLangVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DisplayName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LangCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LangName" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="Operation" type="xsd:string"/>
                <xsd:attribute name="Searchspec" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiUserAttributeVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductUserAttributeVbc" type="xsdLocal1:ProductUserAttributeVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductUserAttributeVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfSwiProductStructureDomainVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductStructureDomainVbc" type="xsdLocal1:ProductStructureDomainVbc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductStructureDomainVbc">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DomainProductName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DomainProductObjectNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelationshipName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ForcastableFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Comments" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DefaultProductFlag" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="Operation" type="xsd:string"/>
                <xsd:attribute name="Searchspec" type="xsd:string"/>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/asi/V0">
            <xsd:import namespace="http://www.siebel.com/xml/SWIProductIntegrationIO"/>
            <xsd:element name="SWIProductImportUpsert_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="SyncChild" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfProductImport"/>
                        <xsd:element minOccurs="0" name="UTCCanonicalFlag" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SWIProductImportUpsert_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfProductImport"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="SWIProductImportUpsert_Input">
        <part element="tns:SWIProductImportUpsert_Input" name="SWIProductImportUpsert_Input"/>
    </message>
    <message name="SWIProductImportUpsert_Output">
        <part element="tns:SWIProductImportUpsert_Output" name="SWIProductImportUpsert_Output"/>
    </message>
    <message name="SiebelWSHeader">
        <part element="ns:UsernameToken" name="UsernameToken"/>
        <part element="ns:PasswordText" name="PasswordText"/>
        <part element="ns:SessionType" name="SessionType"/>
        <part element="ns:SessionToken" name="SessionToken"/>
    </message>
    <message name="SiebelWSHeader_output">
        <part element="ns:SessionToken" name="SessionToken"/>
    </message>
    <portType name="SWIProductImport">
        <operation name="SWIProductImportUpsert">
            <input message="tns:SWIProductImportUpsert_Input"/>
            <output message="tns:SWIProductImportUpsert_Output"/>
        </operation>
    </portType>
    <binding name="SWIProductImport" type="tns:SWIProductImport">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SWIProductImportUpsert">
            <soap:operation soapAction="document/http://siebel.com/asi/V0:SWIProductImportUpsert"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="tns:SiebelWSHeader" part="UsernameToken" use="literal"/>
                <soap:header message="tns:SiebelWSHeader" part="PasswordText" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <soap:header message="tns:SiebelWSHeader_output" part="SessionToken" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SWIProductImport">
        <port binding="tns:SWIProductImport" name="SWIProductImport">
            <soap:address location="http://192.168.50.84/eai_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1>"/>
        </port>
    </service>
</definitions>