src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/CreateOrder/CreateOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/CreateOrder/CreateOrderRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/CreateOrder/CreateOrderRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CreateOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="customerRead" minOccurs="0"/>
				<xs:element ref="contractNew" minOccurs="0"/>
				<xs:element ref="contractDeviceAdd" minOccurs="0"/>
				<xs:element ref="contractServicesAdd" minOccurs="0"/>
				<xs:element ref="contractServicesWrite" minOccurs="0"/>
				<xs:element ref="fafNumberWrite" minOccurs="0"/>
				<xs:element ref="serviceResources" minOccurs="0"/>
				<xs:element ref="contractWrite" minOccurs="0"/>
				<xs:element ref="contractInfoWrite" minOccurs="0"/>
				<xs:element ref="billingAccountAssignmentWrite" minOccurs="0"/>
				<xs:element ref="serviceParameters" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customerRead">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="csId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Private BSCS customer ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="csIdPub" minOccurs="0"/>
				<xs:element ref="VPNCommunityID" minOccurs="0"/>
				<xs:element ref="VPNShortCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractNew">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="csIdPub" minOccurs="0"/>
				<xs:element ref="contractTypeIdPub" minOccurs="0"/>
				<xs:element ref="sccodePub" minOccurs="0"/>
				<xs:element ref="submIdPub" minOccurs="0"/>
				<xs:element ref="plcodePub" minOccurs="0"/>
				<xs:element ref="coArchive" minOccurs="0"/>
				<xs:element ref="coOpDir" minOccurs="0"/>
				<xs:element ref="coPstnDir" minOccurs="0"/>
				<xs:element ref="rpcodePub" minOccurs="0"/>
				<xs:element ref="coNonexplServPaymentType" minOccurs="0"/>
				<xs:element ref="currencyIdPub" minOccurs="0"/>
				<xs:element ref="callDetail" minOccurs="0"/>
				<xs:element ref="bmIdPub" minOccurs="0"/>
				<xs:element ref="chargingPeriodAdjustmentReference" minOccurs="0"/>
				<xs:element ref="ivrLangIdPub" minOccurs="0"/>
				<xs:element ref="sdpId" minOccurs="0"/>
				<xs:element ref="autoAssignCoreServ" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractDeviceAdd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resType" minOccurs="0"/>
				<xs:element ref="resId" minOccurs="0"/>
				<xs:element ref="resNum" minOccurs="0"/>
				<xs:element ref="smcId" minOccurs="0"/>
				<xs:element ref="hlcodePub" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractServicesAdd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="services" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="serviceResources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coArchive" minOccurs="0"/>
				<xs:element ref="coOpDir" minOccurs="0"/>
				<xs:element ref="coPstnDir" minOccurs="0"/>
				<xs:element ref="coStatus" minOccurs="0"/>
				<xs:element ref="reason" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="csIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public BSCS customer ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractTypeIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>contract type public key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sccodePub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the market</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="submIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the submarket</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="plcodePub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the network</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="coArchive" type="xs:string">
		<xs:annotation>
			<xs:documentation>Archive calls</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="coOpDir" type="xs:string">
		<xs:annotation>
			<xs:documentation>List in operator's directory</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="coPstnDir" type="xs:string">
		<xs:annotation>
			<xs:documentation>List in PSTN directory</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="rpcodePub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the rateplan</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="coNonexplServPaymentType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Indicate the payment type for the non-explicit contracted services.
Possible values:'R' : Prepaid ,'O' : Postpaid, 'D' - not specified: as in rateplan definition</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="currencyIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the currency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="callDetail" type="xs:string">
		<xs:annotation>
			<xs:documentation>Indicates if individual calls should be displayed on call detail statement.  Domains:
R - on request, i.e. within requests generated for customers
P - in addition periodically within billing cycle related call detail statement generation requests
NULL - no call detail statement is generated</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bmIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Bill medium public key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="chargingPeriodAdjustmentReference" type="xs:string">
		<xs:annotation>
			<xs:documentation>Charging period adjustment period for services with charging schedule set to "Cut off date related". Domain: 'B' - Billing period reference date (default), 'A' - Contract activation date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ivrLangIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the language</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="resType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Type of the device to be added
1 -Port ,2 - Storage medium	
Mandatory if &lt;code&gt;RES_ID&lt;/code&gt; or &lt;code&gt;RES_NUM&lt;/code&gt; are set.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="resId" type="xs:string">
		<xs:annotation>
			<xs:documentation>Id of the device to be added.
The table and column are dependent on the resource type &lt;code&gt;RES_TYPE&lt;/code&gt;:
Port - PORT.PORT_ID, Storage medium - STORAGE_MEDIUM.SM_ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="resNum" type="xs:string">
		<xs:annotation>
			<xs:documentation>New device number.Depending on the &lt;code&gt;RES_TYPE&lt;/code&gt; this parameter is either the storage medium number or a port number. The value is ignored if &lt;code&gt;RES_ID&lt;/code&gt; is set. Otherwise the value is used to determine the related resource.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="smcId" type="xs:string">
		<xs:annotation>
			<xs:documentation>Storage medium class id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="services">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="items" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="spcodePub" minOccurs="0"/>
				<xs:element ref="sncodePub" minOccurs="0"/>
				<xs:element ref="profileId" minOccurs="0"/>
				<xs:element ref="isCore" minOccurs="0"/>
				<xs:element ref="OfferType" minOccurs="0"/>
				<xs:element ref="OfferSubType" minOccurs="0"/>
				<xs:element ref="Parameters" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="spcodePub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the service package</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sncodePub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the service</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="profileId" type="xs:string"/>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contractServiceResourcesWrite" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractServiceResourcesWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sncodePub" minOccurs="0"/>
				<xs:element ref="profileId" minOccurs="0"/>
				<xs:element ref="directoryNumberType" minOccurs="0"/>
				<xs:element ref="directoryNumbers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="directoryNumbers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item" type="directoryNumbers" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="directoryNumbers">
		<xs:sequence>
			<xs:element name="dnId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Directory number id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="mainDirnum" minOccurs="0"/>
			<xs:element ref="dirnumOnBill" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="mainDirnum" type="xs:string">
		<xs:annotation>
			<xs:documentation>Main directory number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dirnumOnBill" type="xs:string">
		<xs:annotation>
			<xs:documentation>DIRNUM_ON_BILL indicates  if the directory number is marked as shown on bill</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fafNumberWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FAFNumberWriteInput" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FAFNumberWriteInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fafInformations" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fafInformations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FAFInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FAFInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fafNumber" minOccurs="0"/>
				<xs:element ref="numberingPlan" minOccurs="0"/>
				<xs:element ref="fafIndicator" minOccurs="0"/>
				<xs:element ref="fafAction" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fafNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>The FAF number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="numberingPlan">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id" type="xs:string">
		<xs:annotation>
			<xs:documentation>Internal identification key for FAF</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fafIndicator" type="xs:string">
		<xs:annotation>
			<xs:documentation>The FAF indicator for differentiated rating for traffic events to and from numbers in the FAF number list. The value range is 1 to 65535.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fafAction" type="xs:string">
		<xs:annotation>
			<xs:documentation>The FAF action to be performed for the FAF_NUMBER.
Possible values are: A = Add entry to the FaF list. U = Update elements of an entry in the FaF list. D = Delete an entry of the FaF list.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="coStatus" type="xs:string">
		<xs:annotation>
			<xs:documentation>New status for the contract. activation = 2, suspension = 3, deactive   = 4</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="reason" type="xs:string">
		<xs:annotation>
			<xs:documentation>Reason for the new Status. The reason must fit to the new status, delivered in &lt;code&gt;REASONS.READ RS_STATUS&lt;/code&gt; where the contract status maps to the following &lt;code&gt;RS_STATUS&lt;/code&gt; values: 1 -&gt; o (onhold), 2 -&gt; a (activation), 2 -&gt; r (reactivation) ,3 -&gt; s (suspension) ,4 -&gt; d (deactivation)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM correlation ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Siebel Order Id</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sdpId" type="xs:int">
		<xs:annotation>
			<xs:documentation>SDP Id, only for Charging sytem integration. Can be changed only for onhold contracts.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="autoAssignCoreServ" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Automatical assignment of core services</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="hlcodePub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public key of the physical HLR</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isCore" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>FLAG to identify CORE services from OM</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="contractInfoWrite">
		<xs:complexType>
			<xs:all>
				<xs:annotation>
					<xs:documentation>
							&lt;p&gt;Identifies a contract with the public or private key.&lt;/p&gt;&lt;p&gt;Mandatory if no other contract-related command containing this information has been executed before.&lt;/p&gt;
						</xs:documentation>
				</xs:annotation>
				<xs:element name="text01" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sales Agent</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text02" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Shop Name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text03" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sales Channel</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text04" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Alternate Notification number for data connection</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text05" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Subscriber Name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text06" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Preferred Timing Start</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text07" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Preferred Timing End </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text08" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Type(Prepaid/Postpaid)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text09" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>IVR language Code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text10" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;identifies the text value&lt;/p&gt;
							</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text11" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;identifies the text value&lt;/p&gt;
							</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text12" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt; identifies the text value &lt;/p&gt;
							</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text13" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt; identifies the text value &lt;/p&gt;
							</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text14" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt; identifies the text value &lt;/p&gt;
							</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="creditExemptionFlag" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								credit control exemption flag
							</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="collectionExemptionFlag" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								dunning exemption flag
							</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractServicesWrite">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="services" type="servicesRequest" minOccurs="0"/>
				<xs:element name="instanceId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Identifier of the instance</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="instanceIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Public key of the instance</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="requestIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Request public key that is unique among all MVNE/MVNO instances</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Effective date of the MVNO request</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Contract id</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Public key of the contract</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="recordId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Call record identifier, references the call event from the RTX table.	This argument (together with the RECORD_SUB_ID) triggers generation of the parent charging GMD request</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="recordSubId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								Call record sub-identifier, references to the call event from the RTX table</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="servicesRequest">
		<xs:sequence>
			<xs:element name="item" type="servicesListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="servicesListpartRequest">
		<xs:sequence>
			<xs:element name="sncode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Service code (ProductElement)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sncodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Public key of the service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spcode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Service package code (SimpleProduct)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spcodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Public key of the service package</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extServiceId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								id of external service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extServiceIdPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Public key of the external service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="opAssistedAction" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Operator assisted action "a" : Activate "d" : Deactivate "i" : Interogate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profileId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Profile id. If not set the default profile is used instead</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosPendingStatus" type="xs:integer" minOccurs="0"/>
			<xs:element name="userReason" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Reason for the status change. The value of this parameter is a reason code from REASONSTATUL_ALL table</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosPendingStatusDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Execution date for status changeThis argument makes only sense if the argument COS_PENDING_STATUS is given.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosSubfeeOvw" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								One-time charge (formerly: subscription fee)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosSubfeeOvwType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Type of the one-time charge (formerly: subscription fee):"A" -&gt; One-time charge  (COS_SUBFEE_OVW) is an absolute (lump sum) amount"R" -&gt; One-time charge  (COS_SUBFEE_OVW) is a relative (percentage) amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosAccfeeOvwValidFrom" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Valid from date of the overwritten recurring charge. F00407747 PC15267</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosAccfeeOvw" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Recurring charge (formerly: access fee)Mandatory if COS_ACCFEE_OVW_TYPE and/or COS_ACCFEE_OVW_PRD is not null</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosAccfeeOvwType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Type of the recurring charge (formerly: access fee):"A" -&gt; Recurring charge  (COS_ACCFEE_OVW) is an absolute (lump sum) amount"R" -&gt; Recurring charge  (COS_ACCFEE_OVW) is a relative (percentage) amountThe default value is configurable in Registry_CMS_Contract.xml with the key Contract Settings: DEFAULT_ACCFEE_OVW_TYPE. If this key is missing it is defaulted to "A" in the code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosAccfeeOvwPrd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Number of billing cycles to bill the modified recurring charge (formerly: access fee)-1 means indefinitlyThe default value is configurable in Registry_CMS_Contract.xml with the key Contract Settings: DEFAULT_ACCFEE_OVW_PRDIf this key is missing it is defaulted to 1 in the code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosQuantity" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Quantity for selling goods VAS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cosTrialEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Service trial end date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="advanceAccessOvw" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								 Advance recurring charge (formerly: access fee)Mandatory if ADVANCE_ACCESS_OVW_TYPE and/or ADVANCE_ACCESS_OVW_PRD is not null</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="advanceAccessOvwType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Type of the advance recurring charge (formerly: access fee):"A" -&gt; Advance recurring charge  (ADVANCE_ACCESS_OVW) is an absolute amount"R" -&gt; Advance recurring charge  (ADVANCE_ACCESS_OVW) is a relative (percentage) amountThe default value is configurable in Registry_CMS_Contract.xml with the key Contract Settings: DEFAULT_ADVANCE_ACCESS_OVW_TYPE If this key is missing it is defaulted to 'A' in the code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="advanceAccessOvwPrd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Number of billing cycles to bill the modified advance recurring charge (formerly: access fee)-1 means indefinitly The default value is configurable in Registry_CMS_Contract.xml with the key Contract Settings: DEFAULT_ADVANCE_ACCESS_OVW_PRDIf this key is missing it is defaulted to 1 in the code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cugAction" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								The action to be performed for this CUG membership. D - delete, A - add, M - modify </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cugMemberships" type="cugMembershipsRequest" minOccurs="0"/>
			<xs:element name="bsgConfiguration" type="bsgConfigurationRequest" minOccurs="0"/>
			<xs:element name="csPaymentConditionUsgInd" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Payment condition indicator for usage charges.1 - postpaid2 - prepaid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csPrepaidTpId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Prepaid time package identifier.Can be given only if CS_PREPAID_IND is set to true or the service is already set as prepaid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csPrepaidTpIdPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Public key of the time package</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csTypeOfControl" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Type of control of a service. 1 - Online2 - OfflineFor prepaid service is only Online allowed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csPaymentConditionOnetimeRec" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Payment option for one time and recurring charges of the contracted service.1 - Postpaid2 - Prepaid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chargingSchedule" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Charging schedule of the contracted service.'C' - Cut off date related'B' - Billing run related</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indCharging" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								True - the recurring charge has an individual charging-period.Enable for license LHS_BSCS_PC13849</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chargeIntervalLength" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Interval length or charging-offset period for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="waitPeriodLength" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Waiting Period or initial invoicing date for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indChargingValidTo" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								Waiting Period or initial invoicing date for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="OfferType" minOccurs="0"/>
			<xs:element ref="OfferSubType" minOccurs="0"/>
			<xs:element ref="Parameters" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="basicservicegroupassigmentsListpartRequest">
		<xs:all>
			<xs:element name="bsgAction" type="xs:string">
				<xs:annotation>
					<xs:documentation>
								The action to be performed for this BSG assignment. A - assign, D - deassign </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsgId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								BSG id </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="basicservicegroupassigmentsRequest">
		<xs:sequence>
			<xs:element name="item" type="basicservicegroupassigmentsListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cugMembershipsListpartRequest">
		<xs:all>
			<xs:element name="cugId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								CUG id </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="basicservicegroupassigments" type="basicservicegroupassigmentsRequest" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="cugMembershipsRequest">
		<xs:sequence>
			<xs:element name="item" type="cugMembershipsListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bsgConfigurationListpartRequest">
		<xs:all>
			<xs:element name="bsgId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								BSG id </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferedCugId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								 Prefered CUG for this BSG, -1 for NONE</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="bsgConfigurationRequest">
		<xs:sequence>
			<xs:element name="item" type="bsgConfigurationListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="billingAccountAssignmentWrite">
		<xs:complexType>
			<xs:all>
				<xs:annotation>
					<xs:documentation>
				&lt;p&gt;Identifies a contract with the public or private key. If not given CMS will try to retrieve the contract from the current service context.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
				<xs:element name="billingAccountId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 &lt;p&gt; Billing account identifier &lt;/p&gt; </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="billingAccountIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 &lt;p&gt; Billing account code &lt;/p&gt; </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="validToDate" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					&lt;p&gt; Validity end date and time for explicit assignment specification. If specified, it must be future dated. &lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contractId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 &lt;p&gt;Private contract key.&lt;/p&gt; </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contractIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 &lt;p&gt;Public key of the contract.&lt;/p&gt; </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="delete" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					&lt;p&gt; This flag is only valid for assignments of contracts in state 'on-hold'. It allows a physical deletion of the BA assignments to the 'on-hold' contract in DB. True: Special treatment: Billing Account Assignments are deleted in DB. False or not set: No special treatment of Billing Account Assignments. &lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="seqNo" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 &lt;p&gt;Billing account assignment sequence number&lt;/p&gt; </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="priority" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 &lt;p&gt;Billing account assignment priority&lt;/p&gt; </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="billingAccountAssignmentTemplateId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					&lt;p&gt;The billing account assignment template identifier.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="VPNCommunityID" type="xs:string"/>
	<xs:element name="VPNShortCode" type="xs:string"/>
	<xs:element name="OfferType" type="xs:string"/>
	<xs:element name="OfferSubType" type="xs:string"/>
	<xs:element name="Parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="serviceParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contractServiceParametersWrite" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractServiceParametersWrite" type="contractServiceParametersWriteRequest"/>
	<xs:complexType name="contractServiceParametersWriteRequest">
		<xs:all>
			<xs:annotation>
				<xs:documentation>&lt;p&gt;Identifies a contract with the public or private key.&lt;/p&gt;</xs:documentation>
			</xs:annotation>
			<xs:element name="spcode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Service package code.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spcodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the service package&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sncode" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Service code.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sncodePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the service&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extServiceId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;id of external service&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extServiceIdPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the external service&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profileId" type="xs:long">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Profile ID.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="templId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Service parameter template ID.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paramValues" type="paramValuesRequest" minOccurs="0"/>
			<xs:element name="instanceId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Identifier of the instance&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="instanceIdPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the instance.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestIdPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Request public key that is unique among all MVNE/MVNO instances.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Effective date of the MVNO request.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coId" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Contract identifier. None given means new contract.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coIdPub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the contract&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="paramValuesRequest">
		<xs:sequence>
			<xs:element name="item" type="paramValuesListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="paramValuesListpartRequest">
		<xs:all>
			<xs:element name="cosAction" type="xs:string">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Action to perform.
													
													&lt;ul&gt;&lt;li&gt;i 	- Initialize the first version of the service's parameters. None of the following parameters is required. The default values are assigned from the specified TEMPLATE_ID.
													After initializing, the CONTRACT_SERVICE_PARAMETER.READ SL command can be used.&lt;/li&gt;&lt;li&gt;a	- Activate/Add parameter to service. To add a set of children of the top-level : PRM_NO
													- To add a a set of a complex parameter which is not top-level : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO
													In this case, the specified IDs will identify the parent node to which a set of children will be added. The TARGET_PARAM_VALUES must be empty.
													- To add a value to a simple, multiple value parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO
													In this case, VALUE_SEQNO must be empty, VALUE and VALUE_DES must be set, TARGET_PARAM_VALUES list must contain only one element&lt;/li&gt;&lt;li&gt;d 	- Deactivate/Delete parameter from service. To delete a a set of a complex parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO
													In this case, the specified IDs will identify the parent node who's set of children will be deleted. The MULT_VALUES list must be empty.
													The TARGET_PARAM_VALUES must have one element. The TARGET_SIBLING_NO identifies the set to be deleted.
													- To delete a value of a simple, multiple values parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO
													In this case, VALUE_SEQNO identifies the value to be deleted.  If VALUE_SEQNO is set to a null value, then, all values will be deleted. TARGET_PARAM_VALUES must contain exactly one element.&lt;/li&gt;&lt;li&gt;m	- Modify service parameter. To modify a value of a simple, single entry parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO
													Only simple, single entry parameters can be modified. The IDs identify the parameter to be modified. VALUE and VALUE_DES must be set.&lt;/li&gt;&lt;/ul&gt;
													&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prmNo" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Sequence number of the parameter within the service.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="complexNo" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Sequence number of the node within the hierarchy.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="complexLevel" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Level of the node in the hierarchy.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="siblingNo" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Number of the set that this node belongs to.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parentNo" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Number of the set from the parent that this node belongs to.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetParamValues" type="targetParamValuesRequest" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="targetParamValuesRequest">
		<xs:sequence>
			<xs:element name="item" type="targetParamValuesListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="targetParamValuesListpartRequest">
		<xs:all>
			<xs:element name="targetSiblingNo" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Number of the set for the following new added value(s).&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multValues" type="multValuesRequest" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="multValuesRequest">
		<xs:sequence>
			<xs:element name="item" type="multValuesListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="multValuesListpartRequest">
		<xs:all>
			<xs:element name="valueSeqno" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Number of the parameter value.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Parameter's new  value.
																									&lt;ul&gt;&lt;li&gt; In case of ListBox type, should be the sequence number of the desired value, returned by PARAMETER.READ.&lt;/li&gt;&lt;li&gt; In case the value string represents a date value, the following format should be used : dd/MM/yyyy HH:mm:ss&lt;/li&gt;&lt;/ul&gt;
																									&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valuePub" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Public key of the parameter value.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valueDes" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;Parameter value description.&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFrom" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>&lt;p&gt;The date from which this value shall be valid from. Should be used only for parameters on free unit services! Only supported for action m and single value parameters. In all other cases, the column PARAMETER_VALUE.PRM_VALID_FROM GMD is filled by GMD after processing the GMD request. &lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="directoryNumberType" type="xs:string"/>
</xs:schema>