src/ESI_EMA/BusinessProcesses/Services/BatchUpdateSOBH/BalanceUpdate/Resources/ParseDataSectionBalUpd.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="DataSection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VerbCode" type="xs:string" minOccurs="0"/>
							<xs:element name="Data" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RECORDNO" type="xs:string"/>
										<xs:element name="SUBNO" type="xs:string"/>
										<xs:element name="AMOUNT" type="xs:string"/>
										<xs:element name="ACCOUNT__ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ADJUSTMENTTYPE" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>