src/GW_AppleiWatch/Resources/WSDL/CRM/QueryCustoemrProfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerProfile" xmlns:ns0="http://www.zain.com/ZESB/Services/CustomerProfile/Types" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfile">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/CustomerProfile/Types"/>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Param">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfile/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                    <xs:element minOccurs="0" name="Governate" type="xs:string"/>
                    <xs:element minOccurs="0" name="Area" type="xs:string"/>
                    <xs:element minOccurs="0" name="Block" type="xs:string"/>
                    <xs:element minOccurs="0" name="Street" type="xs:string"/>
                    <xs:element minOccurs="0" name="HouseOrBuilding" type="xs:string"/>
                    <xs:element minOccurs="0" name="Floor" type="xs:string"/>
                    <xs:element minOccurs="0" name="Apartment" type="xs:string"/>
                    <xs:element minOccurs="0" name="Directions" type="xs:string"/>
                    <xs:element minOccurs="0" name="PACIRef" type="xs:string"/>
                    <xs:element minOccurs="0" name="Region" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZipCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="StreetNo" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CardInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IMSI" type="xs:string"/>
                    <xs:element minOccurs="0" name="ICCID" type="xs:string"/>
                    <xs:element minOccurs="0" name="PIN" type="xs:string"/>
                    <xs:element minOccurs="0" name="PUK1" type="xs:string"/>
                    <xs:element minOccurs="0" name="PUK2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Contact">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PhoneContact" type="ns0:PhoneContact"/>
                    <xs:element minOccurs="0" name="eMailAddress" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="Category" type="xs:string"/>
                    <xs:element minOccurs="0" name="Segment" type="xs:string"/>
                    <xs:element minOccurs="0" name="AppliedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CloseCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="BillGroup" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReferredBy" type="xs:string"/>
                    <xs:element minOccurs="0" name="TariffProfile" type="xs:string"/>
                    <xs:element minOccurs="0" name="AllowedSubs" type="xs:int"/>
                    <xs:element minOccurs="0" name="CurrentSubs" type="xs:int"/>
                    <xs:element minOccurs="0" name="VPNCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="ChangedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="AccountType" type="xs:string"/>
                    <xs:element minOccurs="0" name="Currency" type="xs:string"/>
                    <xs:element minOccurs="0" name="HotBilling" type="xs:string"/>
                    <xs:element minOccurs="0" name="PaymentResponsibility" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractDetailsList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ContractDetails" type="ns0:ContractDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="ns0:PostalAddress"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="ns0:Address"/>
                    <xs:element minOccurs="0" name="Identity" type="ns0:Identity"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="ns0:Contact"/>
                    <xs:element minOccurs="0" name="Details" type="ns0:ContractDetails"/>
                    <xs:element minOccurs="0" name="Params" type="ns1:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Identity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="ns0:IdentityName"/>
                    <xs:element minOccurs="0" name="Information" type="ns0:IdentityInformation"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="Sex" type="xs:string"/>
                    <xs:element minOccurs="0" name="Nationality" type="xs:string"/>
                    <xs:element minOccurs="0" name="Language" type="xs:string"/>
                    <xs:element minOccurs="0" name="Profession" type="xs:string"/>
                    <xs:element minOccurs="0" name="ProfessionDescription" type="xs:string"/>
                    <xs:element minOccurs="0" name="Education" type="xs:string"/>
                    <xs:element minOccurs="0" name="MaritalStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="Employee" type="xs:string"/>
                    <xs:element minOccurs="0" name="StaffNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="PersonalNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdType" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdExpirationDate" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                    <xs:element minOccurs="0" name="Name" type="xs:string"/>
                    <xs:element minOccurs="0" name="Title" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="LastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="SecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ThirdName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicTitle" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicFirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicLastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicSecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicThirdName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PhoneContact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Number" type="xs:string"/>
                    <xs:element minOccurs="0" name="Type" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PostalAddress">
                <xs:sequence>
                    <xs:element minOccurs="0" name="PostalArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="POBox" type="xs:string"/>
                    <xs:element minOccurs="0" name="PostalCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MSISDN" type="xs:string"/>
                    <xs:element minOccurs="0" name="Area" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransferDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="BillingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BasicServiceType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BSFlag" type="xs:string"/>
                    <xs:element minOccurs="0" name="MainSubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="HLRProfile" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="ContractAuthority" type="xs:string"/>
                    <xs:element minOccurs="0" name="GSMMain" type="xs:string"/>
                    <xs:element minOccurs="0" name="SCRClass" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditLimit" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstCallDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="SimCard" type="ns0:CardInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="ns0:PostalAddress"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="ns0:Address"/>
                    <xs:element minOccurs="0" name="Identity" type="ns0:Identity"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="ns0:Contact"/>
                    <xs:element minOccurs="0" name="Details" type="ns0:SubscriberDetails"/>
                    <xs:element minOccurs="0" name="Params" type="ns1:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryContractInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryContractResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CustomerProfile" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ContractInfo" type="ns0:ContractInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerByIdInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IDType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Civil ID"/>
                                    <xs:enumeration value="Employee"/>
                                    <xs:enumeration value="System Generated"/>
                                    <xs:enumeration value="Licence"/>
                                    <xs:enumeration value="Roaming"/>
                                    <xs:enumeration value="Passport"/>
                                    <xs:enumeration value="Enterprise"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerByIdResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractDetailsList" type="ns0:ContractDetailsList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberArea" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberType" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CustomerProfile" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ContractInfo" type="ns0:ContractInfo"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SubscriberInfo" type="ns0:SubscriberInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuerySubscriberInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberArea" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberType" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuerySubscriberResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CustomerProfile" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ContractID" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountStatus" type="xs:string"/>
                        <xs:element minOccurs="0" name="Segment" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SubscriberInfo" type="ns0:SubscriberInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="CustomerProfile">
        <wsdl:port binding="tns:CustomerProfilePortHTTPBinding" name="CustomerProfilePortHTTP">
            <soap:address location="http://localhost:7106/ESB/SOAP/QueryCustomerProfile"/>
        </wsdl:port>
        <wsdl:port binding="tns:CustomerProfileBinding" name="CustomerProfile">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tcp://10.96.100.3:7226</jndi:property>
            </jndi:context>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.CUST_PROFILE.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="CustomerProfilePort">
        <wsdl:operation name="QueryContract">
            <wsdl:input message="tns:QueryContractRequest"/>
            <wsdl:output message="tns:QueryContractResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomerById">
            <wsdl:input message="tns:QueryCustomerByIdRequest"/>
            <wsdl:output message="tns:QueryCustomerByIdResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomer">
            <wsdl:input message="tns:QueryCustomerRequest"/>
            <wsdl:output message="tns:QueryCustomerResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QuerySubscriber">
            <wsdl:input message="tns:QuerySubscriberRequest"/>
            <wsdl:output message="tns:QuerySubscriberResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerProfilePortHTTPBinding" type="tns:CustomerProfilePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryContract">
            <soap:operation soapAction="QueryContract" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomerById">
            <soap:operation soapAction="QueryCustomerById" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomer">
            <soap:operation soapAction="QueryCustomer" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QuerySubscriber">
            <soap:operation soapAction="QuerySubscriber" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CustomerProfileBinding" type="tns:CustomerProfilePort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="QueryContract">
            <soap:operation soapAction="QueryContract" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomerById">
            <soap:operation soapAction="QueryCustomerById" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomer">
            <soap:operation soapAction="QueryCustomer" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QuerySubscriber">
            <soap:operation soapAction="QuerySubscriber" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="QueryContractRequest">
        <wsdl:part element="ns0:QueryContractInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="QueryContractResponse">
        <wsdl:part element="ns0:QueryContractResult" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerByIdRequest">
        <wsdl:part element="ns0:QueryCustomerByIdInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerByIdResponse">
        <wsdl:part element="ns0:QueryCustomerByIdResult" name="response"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerRequest">
        <wsdl:part element="ns0:QueryCustomerInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerResponse">
        <wsdl:part element="ns0:QueryCustomerResult" name="response"/>
    </wsdl:message>
    <wsdl:message name="QuerySubscriberRequest">
        <wsdl:part element="ns0:QuerySubscriberInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="QuerySubscriberResponse">
        <wsdl:part element="ns0:QuerySubscriberResult" name="response"/>
    </wsdl:message>
</wsdl:definitions>