src/CommonProject/BusinessSchemas/Services/Query/PrepaidCDRQuery/PrepaidCDRQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/PrepaidCDRQuery.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/PrepaidCDRQuery.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="PrepaidCDRQueryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ContractId" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="FromDate" minOccurs="0"/>
				<xs:element ref="ToDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrepaidCDRQueryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Details" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="ContractId" type="xs:string"/>
	<xs:element name="StartTime" type="xs:string"/>
	<xs:element name="EndTime" type="xs:string"/>
	<xs:element name="Duration" type="xs:string"/>
	<xs:element name="ChargedDuration" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="EntryDate" type="xs:string"/>
	<xs:element name="CallType" type="xs:string"/>
	<xs:element name="AParty" type="xs:string"/>
	<xs:element name="BParty" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="DurationUnit" type="xs:string"/>
	<xs:element name="BeforeChrgAmount" type="xs:string"/>
	<xs:element name="AfterChrgAmount" type="xs:string"/>
	<xs:element name="BalanceAuditDataAccountId" type="xs:string"/>
	<xs:element name="BalanceAuditDataOfferId" type="xs:string"/>
	<xs:element name="BillCode" type="xs:string"/>
	<xs:element name="BillText" type="xs:string"/>
	<xs:element name="TariffTimeCodeDes" type="xs:string"/>
	<xs:element name="ZoneCodeDes" type="xs:string"/>
	<xs:element name="ZonePkgpCodeDes" type="xs:string"/>
	<xs:element name="AccountType" type="xs:string"/>
	<xs:element name="DestinationCode" type="xs:string"/>
	<xs:element name="Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="StartTime" minOccurs="0"/>
				<xs:element ref="EndTime" minOccurs="0"/>
				<xs:element ref="Duration" minOccurs="0"/>
				<xs:element ref="ChargedDuration" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="EntryDate" minOccurs="0"/>
				<xs:element ref="CallType" minOccurs="0"/>
				<xs:element ref="AParty" minOccurs="0"/>
				<xs:element ref="BParty" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="DurationUnit" minOccurs="0"/>
				<xs:element ref="BeforeChrgAmount" minOccurs="0"/>
				<xs:element ref="AfterChrgAmount" minOccurs="0"/>
				<xs:element ref="BalanceAuditDataAccountId" minOccurs="0"/>
				<xs:element ref="BalanceAuditDataOfferId" minOccurs="0"/>
				<xs:element ref="BillCode" minOccurs="0"/>
				<xs:element ref="BillText" minOccurs="0"/>
				<xs:element ref="TariffTimeCodeDes" minOccurs="0"/>
				<xs:element ref="ZoneCodeDes" minOccurs="0"/>
				<xs:element ref="ZonePkgpCodeDes" minOccurs="0"/>
				<xs:element ref="AccountType" minOccurs="0"/>
				<xs:element ref="DestinationCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FromDate" type="xs:string"/>
	<xs:element name="ToDate" type="xs:string"/>
</xs:schema>