src/CommonProject/BusinessWSDLS/Services/WSDLS/TosaCPInbound/TosaCPChannelManagePrefNumber.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns6="http://www.zain.com/ZESB/Services/TosaCPInbound/QueryPrefNumberReq" xmlns:ns5="http://www.zain.com/ZESB/Services/TosaCPInbound/CheckEligibilityPrefNumberRes" xmlns:ns8="http://www.zain.com/ZESB/Services/TosaCPInbound/ChangePrefNumberReq" xmlns:ns7="http://www.zain.com/ZESB/Services/TosaCPInbound/QueryPrefNumberRes" xmlns:ns="http://www.zain.com/ZESB/Services/TosaCPInbound/AddRemPrefNumChannelReq" xmlns:ns9="http://www.zain.com/ZESB/Services/TosaCPInbound/ChangePrefNumberRes" xmlns:tns="http://xmlns.example.com/1651815695986" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.zain.com/ZESB/Services/TosaCPInbound/AddRemPrefNumChannelRes" xmlns:ns4="http://www.zain.com/ZESB/Services/TosaCPInbound/CheckEligibilityPrefNumberReq" xmlns:ns3="http://www.zain.com/ZESB/Services/TosaCPInbound/TosaCPFault" targetNamespace="http://xmlns.example.com/1651815695986">
    <documentation>WSDL contains operatons for channel to manage Preferred Number towards
backend.</documentation>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/AddRemPrefNumChannelReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/AddRemPrefNumReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/TosaCPFault" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/Fault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/CheckEligibilityPrefNumberReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/CheckEligibilityPrefNumberReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/CheckEligibilityPrefNumberRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/CheckEligibilityPrefNumberRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/QueryPrefNumberReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/QueryPrefNumberReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/QueryPrefNumberRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/QueryPrefNumberRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/AddRemPrefNumChannelRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/AddRemPrefNumRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/ChangePrefNumberReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/ChangePrefNumberReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/TosaCPInbound/ChangePrefNumberRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/ChangePrefNumberRes.xsd"/>
    <message name="AddRemPrefNumberReq">
        <part name="AddRemPrefNumberReq" element="ns:AddRemPrefNumReq"/>
    </message>
    <message name="AddRemPrefNumberRes">
        <part name="AddRemPrefNumberRes" element="ns2:AddRemPrefNumRes"/>
    </message>
    <message name="TosaCPFaultMessage">
        <part name="Fault" element="ns3:Fault"/>
    </message>
    <message name="CheckEligibilityPrefNumberReq">
        <part name="CheckEligibilityPrefNumberReq" element="ns4:CheckEligibilityPrefNumberReq"/>
    </message>
    <message name="CheckEligibilityPrefNumberRes">
        <part name="CheckEligibilityPrefNumberRes" element="ns5:CheckEligibilityPrefNumberRes"/>
    </message>
    <message name="QueryPrefNumberReq">
        <part name="QueryPrefNumberReq" element="ns6:QueryPrefNumberReq"/>
    </message>
    <message name="QueryPrefNumberRes">
        <part name="QueryPrefNumberRes" element="ns7:QueryPrefNumberRes"/>
    </message>
    <message name="ChangePrefNumberReq">
        <documentation>Change preferred number for the subscriber from existing value to new value</documentation>
        <part name="ChangePrefNumberReq" element="ns8:ChangePrefNumberReq"/>
    </message>
    <message name="ChangePrefNumberRes">
        <part name="ChangePrefNumberRes" element="ns9:ChangePrefNumberRes"/>
    </message>
    <portType name="TosaCPChannelManagePNPortType">
        <operation name="AddRemPrefNumber">
            <documentation>Operation to add or remove Preferred Number</documentation>
            <input message="tns:AddRemPrefNumberReq"/>
            <output message="tns:AddRemPrefNumberRes"/>
            <fault name="fault1" message="tns:TosaCPFaultMessage"/>
        </operation>
        <operation name="CheckEligibilityPrefNumber">
            <documentation>The operation validates the input subscriber for operations : AddPrefferedNumber,DeletePreferredNumber,ChangePreferredNumber</documentation>
            <input message="tns:CheckEligibilityPrefNumberReq"/>
            <output message="tns:CheckEligibilityPrefNumberRes"/>
            <fault name="fault1" message="tns:TosaCPFaultMessage"/>
        </operation>
        <operation name="ChangePrefNumber">
            <documentation>API is used to change an already added Preferred Number to a new Preferred Number.</documentation>
            <input message="tns:ChangePrefNumberReq"/>
            <output message="tns:ChangePrefNumberRes"/>
            <fault name="fault1" message="tns:TosaCPFaultMessage"/>
        </operation>
        <operation name="QueryPrefNumber">
            <documentation>API is used to Query Preffered Number for the input susbcriber.</documentation>
            <input message="tns:QueryPrefNumberReq"/>
            <output message="tns:QueryPrefNumberRes"/>
            <fault name="fault1" message="tns:TosaCPFaultMessage"/>
        </operation>
    </portType>
</definitions>