src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/CRM_TremblantFinalOrderRes/CBiO2TremblantFinalOrderResIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2TremblantFinalOrderResIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2TremblantFinalOrderResIO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="CBiO2TremblantFinalOrderResIO" type="xsdLocal:CBiO2TremblantFinalOrderResIO"
/><xsd:complexType name="CBiO2TremblantFinalOrderResIOTopElmt"
><xsd:sequence
><xsd:element name="CBiO2TremblantFinalOrderResIO" type="xsdLocal:CBiO2TremblantFinalOrderResIO" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CBiO2TremblantFinalOrderResIO"
><xsd:sequence
><xsd:element name="CBiO2AsyncOrderInputs" type="xsdLocal:CBiO2AsyncOrderInputs" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CBiO2AsyncOrderInputs"
><xsd:sequence
><xsd:element name="CWOrderNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CWOrderStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Operation" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="OrderSubmittedDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="UserName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Source" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_SourceErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_SourceErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Type" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="FlexiOffer" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>