src/CommonProject/BusinessWSDLS/Services/WSDLS/SubscriberProfile/SubscriberProfileInbound.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/SubscriberProfile" xmlns:typ="http://www.zain.com/ZESB/Services/SubscriberProfile/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/SubscriberProfile">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/SubscriberProfile/Types" targetNamespace="http://www.zain.com/ZESB/Services/SubscriberProfile/Types" elementFormDefault="qualified">
			<xs:element name="QuerySubscriberInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuerySubscriberOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractID" type="xs:string" minOccurs="1"/>
						<xs:element name="ContractStatus" type="xs:string" minOccurs="1"/>
						<xs:element name="Segment" type="xs:string" minOccurs="1"/>
						<xs:element name="Area" type="xs:string" minOccurs="1"/>
						<xs:element name="Status" type="xs:string" minOccurs="1"/>
						<xs:element name="BillingType" type="xs:string" minOccurs="1"/>
						<xs:element name="BasicServiceType" type="xs:string" minOccurs="1"/>
						<xs:element name="IsPaymentPossible" type="xs:boolean" minOccurs="1"/>
						<xs:element name="IsRechargePossible" type="xs:boolean" minOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="QuerySubscriberRequest">
		<wsdl:part name="request" element="typ:QuerySubscriberInput"/>
	</wsdl:message>
	<wsdl:message name="QuerySubscriberResponse">
		<wsdl:part name="response" element="typ:QuerySubscriberOutput"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="SubscriberProfilePort">
		<wsdl:operation name="QuerySubscriber">
			<wsdl:input message="tns:QuerySubscriberRequest"/>
			<wsdl:output message="tns:QuerySubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubscriberProfileBinding" type="tns:SubscriberProfilePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="QuerySubscriber">
			<soap:operation soapAction="QuerySubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubscriberProfile">
		<wsdl:port name="SubscriberProfilePort" binding="tns:SubscriberProfileBinding">
			<soap:address location="URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
