src/CommonProject/BusinessWSDLS/Services/WSDLS/SPService/SpService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://np.systor.st/sp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SpPortService" targetNamespace="http://np.systor.st/sp">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://np.systor.st/sp" xmlns:ns1="http://np.systor.st/commontypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://np.systor.st/sp">
<xs:import namespace="http://np.systor.st/commontypes"/>
<xs:element name="AccessFault" type="ns1:AccessFault_Type"/>
<xs:element name="ErrorNotification" type="ns1:ErrorNotification_Type"/>
<xs:element name="MessageAck" type="tns:SpMessageAck_Type"/>
<xs:element name="NPActivated" type="tns:NPActivatedToSp_Type"/>
<xs:element name="NPDeactivated" type="tns:NPDeactivatedToSp_Type"/>
<xs:element name="NPDonorAccept" type="tns:NPDonorAcceptToSp_Type"/>
<xs:element name="NPDonorReject" type="tns:NPDonorRejectToSp_Type"/>
<xs:element name="NPEmergencyRestoreApprove" type="tns:NPEmergencyRestoreApproveToSp_Type"/>
<xs:element name="NPEmergencyRestoreDeny" type="tns:NPEmergencyRestoreDenyToSp_Type"/>
<xs:element name="NPExecuteBroadcast" type="tns:NPExecuteBroadcastToSp_Type"/>
<xs:element name="NPExecuteCancel" type="tns:NPExecuteCancelToSp_Type"/>
<xs:element name="NPFinalBillNotificationDelivered" type="tns:NPFinalBillNotificationDeliveredToSp_Type"/>
<xs:element name="NPFinalBillNotificationUndelivered" type="tns:NPFinalBillNotificationUndeliveredToSp_Type"/>
<xs:element name="NPFinalBillSettled" type="tns:NPFinalBillSettledToSp_Type"/>
<xs:element name="NPFinalBillUnsettled" type="tns:NPFinalBillUnsettledToSp_Type"/>
<xs:element name="NPRequest" type="tns:NPRequestToSp_Type"/>
<xs:element name="NPRequestCancel" type="tns:NPRequestCancelToSp_Type"/>
<xs:element name="NPRequestConfirmation" type="tns:NPRequestConfirmationToSp_Type"/>
<xs:element name="NPRequestReject" type="tns:NPRequestRejectToSp_Type"/>
<xs:element name="NPReturnBroadcast" type="tns:NPReturnBroadcastToSp_Type"/>
<xs:element name="NPRingFenceApprove" type="tns:NPRingFenceApproveToSp_Type"/>
<xs:element name="NPRingFenceDeny" type="tns:NPRingFenceDenyToSp_Type"/>
<xs:element name="Noop" type="ns1:Noop_Type"/>
<xs:element name="NoopResponse" type="ns1:NoopResponse_Type"/>
<xs:element name="TechnicalFault" type="ns1:TechnicalFault_Type"/>
<xs:complexType name="NPRequestRejectToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="NpcdbRejectReason" type="xs:integer"/>
<xs:element minOccurs="0" name="NpcdbRejectMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SpMessageAck_Type">
<xs:sequence>
<xs:element name="NPOrderID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPEmergencyRestoreDenyToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="NpcdbRejectReason" type="xs:integer"/>
<xs:element name="NpcdbRejectMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPDonorRejectToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="DonorRejectList" type="ns1:DonorRejectList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPReturnBroadcastToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="SubscriptionProviderID" type="xs:string"/>
<xs:element name="RangeHolderID" type="xs:string"/>
<xs:element name="PhoneNumberList" type="ns1:PhoneNumberList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPExecuteBroadcastToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="RecipientID" type="xs:string"/>
<xs:element name="DonorID" type="xs:string"/>
<xs:element name="RoutingInfoList" type="ns1:RoutingInfoList"/>
<xs:element name="PortingTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPEmergencyRestoreApproveToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="EmergencyRestoreID" type="xs:long"/>
<xs:element name="OriginalNPOrderID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPRequestCancelToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="CancelReason" type="xs:integer"/>
<xs:element minOccurs="0" name="CancelMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPFinalBillUnsettledToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="MSISDN" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPExecuteCancelToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="CancelReason" type="xs:integer"/>
<xs:element minOccurs="0" name="CancelMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPRequestConfirmationToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPRequestToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element minOccurs="0" name="EmergencyRestoreID" type="xs:long"/>
<xs:element minOccurs="0" name="BlockOrderID" type="xs:string"/>
<xs:element minOccurs="0" name="BlockOrderCount" type="xs:integer"/>
<xs:element minOccurs="0" name="PaymentCode" type="xs:long"/>
<xs:element minOccurs="0" name="ValidationMSISDN" type="xs:string"/>
<xs:element name="RecipientID" type="xs:string"/>
<xs:element name="DonorID" type="xs:string"/>
<xs:element name="CustomerName" type="xs:string"/>
<xs:element name="CustomerIDType" type="xs:int"/>
<xs:element name="CustomerID" type="xs:string"/>
<xs:element minOccurs="0" name="DateOfBirth" type="xs:date"/>
<xs:element name="ServiceType" type="ns1:ServiceType"/>
<xs:element name="CustomerType" type="ns1:CustomerType"/>
<xs:element minOccurs="0" name="SubscriptionType" type="ns1:SubscriptionType"/>
<xs:element name="RoutingInfoList" type="ns1:RoutingInfoList"/>
<xs:element minOccurs="0" name="PortingTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPFinalBillSettledToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="MSISDN" type="xs:string"/>
<xs:element name="BillSettledTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPRingFenceDenyToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="NpcdbRejectReason" type="xs:integer"/>
<xs:element name="NpcdbRejectMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPDonorAcceptToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="AutomaticAccept" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPFinalBillNotificationUndeliveredToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="MSISDN" type="xs:string"/>
<xs:element minOccurs="0" name="SmsDeliveryError" type="xs:string"/>
<xs:element name="FinalStateTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPDeactivatedToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPFinalBillNotificationDeliveredToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="MSISDN" type="xs:string"/>
<xs:element name="DeliveredTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPRingFenceApproveToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
<xs:element name="PhoneNumberList" type="ns1:PhoneNumberList"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NPActivatedToSp_Type">
<xs:sequence>
<xs:element name="MessageID" type="xs:long"/>
<xs:element name="SenderID" type="xs:string"/>
<xs:element name="NPOrderID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://np.systor.st/commontypes" elementFormDefault="qualified" targetNamespace="http://np.systor.st/commontypes" version="1.0">
<xs:complexType name="AccessFault_Type">
<xs:sequence>
<xs:element minOccurs="0" name="ErrorCode" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TechnicalFault_Type">
<xs:sequence>
<xs:element minOccurs="0" name="ErrorCode" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DonorRejectList">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="DonorReject" type="tns:DonorReject"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DonorReject">
<xs:sequence>
<xs:element name="DonorRejectReason" type="xs:integer"/>
<xs:element name="DonorRejectMessage" type="xs:string"/>
<xs:element name="RejectedPhoneNumberRange" type="tns:PhoneNumberRange"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PhoneNumberRange">
<xs:sequence>
<xs:element name="PhoneNumberStart" type="xs:string"/>
<xs:element name="PhoneNumberEnd" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PhoneNumberList">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="PhoneNumberRange" type="tns:PhoneNumberRange"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RoutingInfoList">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="RoutingInfo" type="tns:RoutingInfo"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RoutingInfo">
<xs:sequence>
<xs:element name="PhoneNumberRange" type="tns:PhoneNumberRange"/>
<xs:element name="RoutingNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorNotification_Type">
<xs:sequence>
<xs:element name="NpcdbRejectReason" type="xs:integer"/>
<xs:element name="NpcdbRejectMessage" type="xs:string"/>
<xs:element minOccurs="0" name="NPOrderID" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Noop_Type">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="NoopResponse_Type">
<xs:sequence>
<xs:element name="Alive" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ServiceType">
<xs:restriction base="xs:string">
<xs:enumeration value="mobile"/>
<xs:enumeration value="fixed"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CustomerType">
<xs:restriction base="xs:string">
<xs:enumeration value="consumer"/>
<xs:enumeration value="business"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SubscriptionType">
<xs:restriction base="xs:string">
<xs:enumeration value="prepaid"/>
<xs:enumeration value="postpaid"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="HandleNPRequestConfirmationResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SpTechnicalFault">
    <wsdl:part element="tns:TechnicalFault" name="SpTechnicalFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPActivated">
    <wsdl:part element="tns:NPActivated" name="npAct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillNotificationDelivered">
    <wsdl:part element="tns:NPFinalBillNotificationDelivered" name="npFinalBillNotDel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Noop">
    <wsdl:part element="tns:Noop" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRingFenceApproveResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPActivatedResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPExecuteBroadcast">
    <wsdl:part element="tns:NPExecuteBroadcast" name="npExecBrcast">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPEmergencyRestoreDeny">
    <wsdl:part element="tns:NPEmergencyRestoreDeny" name="npEmergRestDeny">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRequestReject">
    <wsdl:part element="tns:NPRequestReject" name="npReqRej">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillSettledResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillUnsettledResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPDonorAccept">
    <wsdl:part element="tns:NPDonorAccept" name="npAcc">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPReturnBroadcastResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPEmergencyRestoreApprove">
    <wsdl:part element="tns:NPEmergencyRestoreApprove" name="npEmergRestApp">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRequestCancelResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleErrorNotificationResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillUnsettled">
    <wsdl:part element="tns:NPFinalBillUnsettled" name="npFinalBillUnsettled">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRequest">
    <wsdl:part element="tns:NPRequest" name="npReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPDonorRejectResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SpAccessFault">
    <wsdl:part element="tns:AccessFault" name="SpAccessFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPEmergencyRestoreApproveResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRingFenceDenyResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRequestResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRequestConfirmation">
    <wsdl:part element="tns:NPRequestConfirmation" name="npReqConf">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRingFenceDeny">
    <wsdl:part element="tns:NPRingFenceDeny" name="npRingFenceDeny">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPEmergencyRestoreDenyResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillNotificationUndeliveredResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRingFenceApprove">
    <wsdl:part element="tns:NPRingFenceApprove" name="npRingFenceApprove">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRequestCancel">
    <wsdl:part element="tns:NPRequestCancel" name="npCan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPDeactivatedResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPExecuteCancelResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoopResponse">
    <wsdl:part element="tns:NoopResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPDonorReject">
    <wsdl:part element="tns:NPDonorReject" name="npRej">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillSettled">
    <wsdl:part element="tns:NPFinalBillSettled" name="npFinalBillSettled">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillNotificationDeliveredResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPFinalBillNotificationUndelivered">
    <wsdl:part element="tns:NPFinalBillNotificationUndelivered" name="npFinalBillNotUndel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPReturnBroadcast">
    <wsdl:part element="tns:NPReturnBroadcast" name="npRetBrcast">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPExecuteBroadcastResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleErrorNotification">
    <wsdl:part element="tns:ErrorNotification" name="error">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPExecuteCancel">
    <wsdl:part element="tns:NPExecuteCancel" name="npExecCan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPRequestRejectResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPDonorAcceptResponse">
    <wsdl:part element="tns:MessageAck" name="ack">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HandleNPDeactivated">
    <wsdl:part element="tns:NPDeactivated" name="npDeact">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SpPort">
    <wsdl:operation name="HandleNPRequestReject">
      <wsdl:input message="tns:HandleNPRequestReject" name="HandleNPRequestReject">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPRequestRejectResponse" name="HandleNPRequestRejectResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPEmergencyRestoreDeny">
      <wsdl:input message="tns:HandleNPEmergencyRestoreDeny" name="HandleNPEmergencyRestoreDeny">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPEmergencyRestoreDenyResponse" name="HandleNPEmergencyRestoreDenyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPDonorReject">
      <wsdl:input message="tns:HandleNPDonorReject" name="HandleNPDonorReject">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPDonorRejectResponse" name="HandleNPDonorRejectResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPReturnBroadcast">
      <wsdl:input message="tns:HandleNPReturnBroadcast" name="HandleNPReturnBroadcast">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPReturnBroadcastResponse" name="HandleNPReturnBroadcastResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPExecuteBroadcast">
      <wsdl:input message="tns:HandleNPExecuteBroadcast" name="HandleNPExecuteBroadcast">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPExecuteBroadcastResponse" name="HandleNPExecuteBroadcastResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPEmergencyRestoreApprove">
      <wsdl:input message="tns:HandleNPEmergencyRestoreApprove" name="HandleNPEmergencyRestoreApprove">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPEmergencyRestoreApproveResponse" name="HandleNPEmergencyRestoreApproveResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRequestCancel">
      <wsdl:input message="tns:HandleNPRequestCancel" name="HandleNPRequestCancel">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPRequestCancelResponse" name="HandleNPRequestCancelResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleErrorNotification">
      <wsdl:input message="tns:HandleErrorNotification" name="HandleErrorNotification">
    </wsdl:input>
      <wsdl:output message="tns:HandleErrorNotificationResponse" name="HandleErrorNotificationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillUnsettled">
      <wsdl:input message="tns:HandleNPFinalBillUnsettled" name="HandleNPFinalBillUnsettled">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPFinalBillUnsettledResponse" name="HandleNPFinalBillUnsettledResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPExecuteCancel">
      <wsdl:input message="tns:HandleNPExecuteCancel" name="HandleNPExecuteCancel">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPExecuteCancelResponse" name="HandleNPExecuteCancelResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRequestConfirmation">
      <wsdl:input message="tns:HandleNPRequestConfirmation" name="HandleNPRequestConfirmation">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPRequestConfirmationResponse" name="HandleNPRequestConfirmationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRequest">
      <wsdl:input message="tns:HandleNPRequest" name="HandleNPRequest">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPRequestResponse" name="HandleNPRequestResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillSettled">
      <wsdl:input message="tns:HandleNPFinalBillSettled" name="HandleNPFinalBillSettled">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPFinalBillSettledResponse" name="HandleNPFinalBillSettledResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRingFenceDeny">
      <wsdl:input message="tns:HandleNPRingFenceDeny" name="HandleNPRingFenceDeny">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPRingFenceDenyResponse" name="HandleNPRingFenceDenyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPDonorAccept">
      <wsdl:input message="tns:HandleNPDonorAccept" name="HandleNPDonorAccept">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPDonorAcceptResponse" name="HandleNPDonorAcceptResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillNotificationUndelivered">
      <wsdl:input message="tns:HandleNPFinalBillNotificationUndelivered" name="HandleNPFinalBillNotificationUndelivered">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPFinalBillNotificationUndeliveredResponse" name="HandleNPFinalBillNotificationUndeliveredResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPDeactivated">
      <wsdl:input message="tns:HandleNPDeactivated" name="HandleNPDeactivated">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPDeactivatedResponse" name="HandleNPDeactivatedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Noop">
      <wsdl:input message="tns:Noop" name="Noop">
    </wsdl:input>
      <wsdl:output message="tns:NoopResponse" name="NoopResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillNotificationDelivered">
      <wsdl:input message="tns:HandleNPFinalBillNotificationDelivered" name="HandleNPFinalBillNotificationDelivered">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPFinalBillNotificationDeliveredResponse" name="HandleNPFinalBillNotificationDeliveredResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRingFenceApprove">
      <wsdl:input message="tns:HandleNPRingFenceApprove" name="HandleNPRingFenceApprove">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPRingFenceApproveResponse" name="HandleNPRingFenceApproveResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPActivated">
      <wsdl:input message="tns:HandleNPActivated" name="HandleNPActivated">
    </wsdl:input>
      <wsdl:output message="tns:HandleNPActivatedResponse" name="HandleNPActivatedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SpAccessFault" name="SpAccessFault">
    </wsdl:fault>
      <wsdl:fault message="tns:SpTechnicalFault" name="SpTechnicalFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpPortServiceSoapBinding" type="tns:SpPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HandleNPRequestReject">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPRequestReject" style="document"/>
      <wsdl:input name="HandleNPRequestReject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPRequestRejectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPDonorReject">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPDonorReject" style="document"/>
      <wsdl:input name="HandleNPDonorReject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPDonorRejectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPEmergencyRestoreDeny">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPEmergencyRestoreDeny" style="document"/>
      <wsdl:input name="HandleNPEmergencyRestoreDeny">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPEmergencyRestoreDenyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPExecuteBroadcast">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPExecuteBroadcast" style="document"/>
      <wsdl:input name="HandleNPExecuteBroadcast">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPExecuteBroadcastResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPReturnBroadcast">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPReturnBroadcast" style="document"/>
      <wsdl:input name="HandleNPReturnBroadcast">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPReturnBroadcastResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPEmergencyRestoreApprove">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPEmergencyRestoreApprove" style="document"/>
      <wsdl:input name="HandleNPEmergencyRestoreApprove">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPEmergencyRestoreApproveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRequestCancel">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPRequestCancel" style="document"/>
      <wsdl:input name="HandleNPRequestCancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPRequestCancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleErrorNotification">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/ErrorNotification" style="document"/>
      <wsdl:input name="HandleErrorNotification">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleErrorNotificationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillUnsettled">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPFinalBillUnsettled" style="document"/>
      <wsdl:input name="HandleNPFinalBillUnsettled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPFinalBillUnsettledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPExecuteCancel">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPExecuteCancel" style="document"/>
      <wsdl:input name="HandleNPExecuteCancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPExecuteCancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRequestConfirmation">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPRequestConfirmation" style="document"/>
      <wsdl:input name="HandleNPRequestConfirmation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPRequestConfirmationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRequest">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPRequest" style="document"/>
      <wsdl:input name="HandleNPRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillSettled">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPFinalBillSettled" style="document"/>
      <wsdl:input name="HandleNPFinalBillSettled">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPFinalBillSettledResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPDonorAccept">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPDonorAccept" style="document"/>
      <wsdl:input name="HandleNPDonorAccept">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPDonorAcceptResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRingFenceDeny">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPRingFenceDeny" style="document"/>
      <wsdl:input name="HandleNPRingFenceDeny">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPRingFenceDenyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillNotificationUndelivered">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPFinalBillNotificationUndelivered" style="document"/>
      <wsdl:input name="HandleNPFinalBillNotificationUndelivered">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPFinalBillNotificationUndeliveredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPDeactivated">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPDeactivated" style="document"/>
      <wsdl:input name="HandleNPDeactivated">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPDeactivatedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Noop">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/Noop" style="document"/>
      <wsdl:input name="Noop">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NoopResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPFinalBillNotificationDelivered">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPFinalBillNotificationDelivered" style="document"/>
      <wsdl:input name="HandleNPFinalBillNotificationDelivered">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPFinalBillNotificationDeliveredResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPActivated">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPActivated" style="document"/>
      <wsdl:input name="HandleNPActivated">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPActivatedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HandleNPRingFenceApprove">
      <soap:operation soapAction="http://np.systor.st/sp/SpPort/NPRingFenceApprove" style="document"/>
      <wsdl:input name="HandleNPRingFenceApprove">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="HandleNPRingFenceApproveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SpAccessFault">
        <soap:fault name="SpAccessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SpTechnicalFault">
        <soap:fault name="SpTechnicalFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpPortService">
    <wsdl:port binding="tns:SpPortServiceSoapBinding" name="SpPortPort">
      <soap:address location="https://10.151.4.25:9001/service/SpService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>