src/CommonProject/BusinessWSDLS/Services/WSDLS/PaymentInfo/PaymentInfoInbound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/PaymentInformation" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:typ="http://www.zain.com/ZESB/Services/PaymentInformation/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.zain.com/ZESB/Services/PaymentInformation">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/PaymentInformation/Types">
			<xs:complexType name="PaymentInfo">
				<xs:sequence>
					<xs:element name="ReceiptNo" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Amount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PaymentDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Method" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="MethodName" type="xs:string" minOccurs="1" maxOccurs="1" nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PaymentInfoList">
				<xs:sequence>
					<xs:element name="PaymentInfo" type="typ:PaymentInfo" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReceiptInfo">
				<xs:sequence>
					<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Subno" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="InvoiceNo" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="InvoiceDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
					<xs:element name="InvoiceType" type="xs:string" minOccurs="1" maxOccurs="1" nillable="true"/>
					<xs:element name="Method" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="MethodName" type="xs:string" minOccurs="1" maxOccurs="1" nillable="true"/>
					<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PayDesk" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PaymentDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Amount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
					<xs:element name="CardNo" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MonthlySum">
				<xs:sequence>
					<xs:element name="Month" type="xs:string"/>
					<xs:element name="Year" type="xs:string"/>
					<xs:element name="Sum" type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="LanguageType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="En" />
					<xs:enumeration value="Ar" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="MonthlySumList">
				<xs:sequence>
					<xs:element name="MonthlySum" type="typ:MonthlySum" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReceiptInfoList">
				<xs:sequence>
					<xs:element name="ReceiptInfo" type="typ:ReceiptInfo" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Subscriber">
				<xs:sequence>
					<xs:element name="Subno" type="xs:int" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Total" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscriberList">
				<xs:sequence>
					<xs:element name="Subscriber" type="typ:Subscriber" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ContractLatestRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Limit" type="xs:int" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Language" type="typ:LanguageType" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContractLatestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentInfoList" type="typ:PaymentInfoList" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscriberLatestRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Subno" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Limit" type="xs:int" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Language" type="typ:LanguageType" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscriberLatestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentInfoList" type="typ:PaymentInfoList" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContractPaymentsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="From" type="xs:date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="To" type="xs:date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Language" type="typ:LanguageType" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContractPaymentsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentInfoList" type="typ:PaymentInfoList" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscriberPaymentsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Subno" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="From" type="xs:date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="To" type="xs:date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Language" type="typ:LanguageType" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscriberPaymentsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentInfoList" type="typ:PaymentInfoList" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalForContractRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="From" type="xs:date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="To" type="xs:date" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalForContractResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalAmount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalForSubscriberRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Subno" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="From" type="xs:date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="To" type="xs:date" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalForSubscriberResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalAmount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalPerSubscriberRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="From" type="xs:date" minOccurs="1" maxOccurs="1"/>
						<xs:element name="To" type="xs:date" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalPerSubscriberResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubscriberList" type="typ:SubscriberList" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReceiptDetailsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReceiptNo" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Language" type="typ:LanguageType" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReceiptDetailsResponse">
				<xs:complexType>
					<xs:sequence>						
						<xs:element name="ReceiptInfoList" type="typ:ReceiptInfoList" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContractMonthlySumRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Limit" type="xs:int" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContractMonthlySumResponse">
				<xs:complexType>
					<xs:sequence>						
						<xs:element name="MonthlySumList" type="typ:MonthlySumList" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscriberMonthlySumRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Subno" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Limit" type="xs:int" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubscriberMonthlySumResponse">
				<xs:complexType>
					<xs:sequence>						
						<xs:element name="MonthlySumList" type="typ:MonthlySumList" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ContractLatestRequest">
		<wsdl:part name="ContractLatestRequest" element="typ:ContractLatestRequest"/>
	</wsdl:message>
	<wsdl:message name="ContractLatestResponse">
		<wsdl:part name="ContractLatestResponse" element="typ:ContractLatestResponse"/>
	</wsdl:message>
	<wsdl:message name="SubscriberLatestRequest">
		<wsdl:part name="SubscriberLatestRequest" element="typ:SubscriberLatestRequest"/>
	</wsdl:message>
	<wsdl:message name="SubscriberLatestResponse">
		<wsdl:part name="SubscriberLatestResponse" element="typ:SubscriberLatestResponse"/>
	</wsdl:message>
	<wsdl:message name="ContractPaymentsRequest">
		<wsdl:part name="ContractPaymentsRequest" element="typ:ContractPaymentsRequest"/>
	</wsdl:message>
	<wsdl:message name="ContractPaymentsResponse">
		<wsdl:part name="ContractPaymentsResponse" element="typ:ContractPaymentsResponse"/>
	</wsdl:message>
	<wsdl:message name="SubscriberPaymentsRequest">
		<wsdl:part name="GetReceiptDetailsRequest" element="typ:SubscriberPaymentsRequest"/>
	</wsdl:message>
	<wsdl:message name="SubscriberPaymentsResponse">
		<wsdl:part name="SubscriberPaymentsResponse" element="typ:SubscriberPaymentsResponse"/>
	</wsdl:message>
	<wsdl:message name="TotalForContractRequest">
		<wsdl:part name="TotalForContractRequest" element="typ:TotalForContractRequest"/>
	</wsdl:message>
	<wsdl:message name="TotalForContractResponse">
		<wsdl:part name="TotalForContractResponse" element="typ:TotalForContractResponse"/>
	</wsdl:message>
	<wsdl:message name="TotalForSubscriberRequest">
		<wsdl:part name="TotalForSubscriberRequest" element="typ:TotalForSubscriberRequest"/>
	</wsdl:message>
	<wsdl:message name="TotalForSubscriberResponse">
		<wsdl:part name="TotalForSubscriberResponse" element="typ:TotalForSubscriberResponse"/>
	</wsdl:message>
	<wsdl:message name="TotalPerSubscriberRequest">
		<wsdl:part name="TotalPerSubscriberRequest" element="typ:TotalPerSubscriberRequest"/>
	</wsdl:message>
	<wsdl:message name="TotalPerSubscriberResponse">
		<wsdl:part name="TotalPerSubscriberResponse" element="typ:TotalPerSubscriberResponse"/>
	</wsdl:message>
	<wsdl:message name="ReceiptDetailsRequest">
		<wsdl:part name="ReceiptDetailsRequest" element="typ:ReceiptDetailsRequest"/>
	</wsdl:message>
	<wsdl:message name="ReceiptDetailsResponse">
		<wsdl:part name="ReceiptDetailsResponse" element="typ:ReceiptDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="ContractMonthlySumRequest">
		<wsdl:part name="ContractMonthlySumRequest" element="typ:ContractMonthlySumRequest"/>
	</wsdl:message>
	<wsdl:message name="ContractMonthlySumResponse">
		<wsdl:part name="ContractMonthlySumResponse" element="typ:ContractMonthlySumResponse"/>
	</wsdl:message>
	<wsdl:message name="SubscriberMonthlySumRequest">
		<wsdl:part name="SubscriberMonthlySumRequest" element="typ:SubscriberMonthlySumRequest"/>
	</wsdl:message>
	<wsdl:message name="SubscriberMonthlySumResponse">
		<wsdl:part name="SubscriberMonthlySumResponse" element="typ:SubscriberMonthlySumResponse"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="PaymentInformationPort">
		<wsdl:operation name="ContractLatest">
			<wsdl:input message="tns:ContractLatestRequest"/>
			<wsdl:output message="tns:ContractLatestResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="SubscriberLatest">
			<wsdl:input message="tns:SubscriberLatestRequest"/>
			<wsdl:output message="tns:SubscriberLatestResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ContractPayments">
			<wsdl:input message="tns:ContractPaymentsRequest"/>
			<wsdl:output message="tns:ContractPaymentsResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="SubscriberPayments">
			<wsdl:input message="tns:SubscriberPaymentsRequest"/>
			<wsdl:output message="tns:SubscriberPaymentsResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="TotalForContract">
			<wsdl:input message="tns:TotalForContractRequest"/>
			<wsdl:output message="tns:TotalForContractResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="TotalForSubscriber">
			<wsdl:input message="tns:TotalForSubscriberRequest"/>
			<wsdl:output message="tns:TotalForSubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="TotalPerSubscriber">
			<wsdl:input message="tns:TotalPerSubscriberRequest"/>
			<wsdl:output message="tns:TotalPerSubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ReceiptDetails">
			<wsdl:input message="tns:ReceiptDetailsRequest"/>
			<wsdl:output message="tns:ReceiptDetailsResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ContractMonthlySum">
			<wsdl:input message="tns:ContractMonthlySumRequest"/>
			<wsdl:output message="tns:ContractMonthlySumResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="SubscriberMonthlySum">
			<wsdl:input message="tns:SubscriberMonthlySumRequest"/>
			<wsdl:output message="tns:SubscriberMonthlySumResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PaymentInformationBinding" type="tns:PaymentInformationPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ContractLatest">
			<soap:operation soapAction="ContractLatest"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SubscriberLatest">
			<soap:operation soapAction="SubscriberLatest"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ContractPayments">
			<soap:operation soapAction="ContractPayments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SubscriberPayments">
			<soap:operation soapAction="SubscriberPayments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="TotalForContract">
			<soap:operation soapAction="TotalForContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="TotalForSubscriber">
			<soap:operation soapAction="TotalForSubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="TotalPerSubscriber">
			<soap:operation soapAction="TotalPerSubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ReceiptDetails">
			<soap:operation soapAction="ReceiptDetails"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ContractMonthlySum">
			<soap:operation soapAction="ContractMonthlySum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SubscriberMonthlySum">
			<soap:operation soapAction="SubscriberMonthlySum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PaymentInformation">
		<wsdl:port name="PaymentInformationPort" binding="tns:PaymentInformationBinding">
			<soap:address location="ZESB/PaymentInformation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>