src/CommonProject/BusinessWSDLS/Services/BSCS/CreditActionRead/ws_CIL_5_CoCcActionsReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/coccactionsread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>
						
						</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/coccactionsread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/coccactionsread">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:element name="coCcActionsReadRequest" type="wsi:coCcActionsReadRequest"/>
			<xs:element name="coCcActionsReadResponse" type="wsi:coCcActionsReadResponse"/>
			<xs:complexType name="ccactionhistlistListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="transactionId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Transaction Id</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="actionTypeId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Dunning Action ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="actionTypePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit category Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="actionTypeDes" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit category Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>UserName </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="actionDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Processing date of the record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="ccactionhistlistResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:ccactionhistlistListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="coCcActionsReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Credit category Assign History</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="ccactionhistlist" type="wsi:ccactionhistlistResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Input arguments</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="fromDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Dunning action Taken Search from Date, Default SYSDATE -30</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="toDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Dunning action Taken Search To Date, SYSDATE</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dunType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Dunning Action Type:
							C: Credit Control, Used by CCMS
							D: Dunning Action used by CRAH.
							</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="coCcActionsReadRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="coCcActionsReadResponse">
		<wsdl:part element="sch3:coCcActionsReadResponse" name="coCcActionsReadResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="coCcActionsReadRequest">
		<wsdl:part element="sch3:coCcActionsReadRequest" name="coCcActionsReadRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CoCcActionsReadService">
		<wsdl:operation name="coCcActionsRead">
			<wsdl:input message="tns:coCcActionsReadRequest" name="coCcActionsReadRequest">
			</wsdl:input>
			<wsdl:output message="tns:coCcActionsReadResponse" name="coCcActionsReadResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CoCcActionsReadServiceSoap11" type="tns:CoCcActionsReadService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="coCcActionsRead">
			<soap:operation soapAction=""/>
			<wsdl:input name="coCcActionsReadRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="coCcActionsReadResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CoCcActionsReadService">
		<wsdl:port binding="tns:CoCcActionsReadServiceSoap11" name="CoCcActionsReadServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>