src/Log/SharedResources/SchemaDefinitions/Public/Common/ErrorMessage.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco.com/CommonLE2/Public/Common"
	 targetNamespace = "http://www.tibco.com/CommonLE2/Public/Common"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "Error">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Message" minOccurs = "0"/>
				<xsd:element ref = "Code" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Code" type = "xsd:string"/>
	<xsd:element name = "Message" type = "xsd:string"/>
</xsd:schema>