src/CommonProject/BusinessSchemas/Services/Query/QueryChakScreen/QueryChakScreen.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryChakScreen.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryChakScreen.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryChakScreenInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryChakScreenOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IsEligible" minOccurs="0"/>
				<xs:element ref="EligibleAmount" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="IsEligible" type="xs:string"/>
	<xs:element name="EligibleAmount" type="xs:string"/>
</xs:schema>