src/CommonProject/BusinessSchemas/Services/Query/QuerySalesTransactionStatus/QuerySalesTransactionStatusInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zainKW.com/BusinessSchemas/Services/Query/QuerySalesTransactionStatusInput.xsd"
	 targetNamespace="http://www.zainKW.com/BusinessSchemas/Services/Query/QuerySalesTransactionStatusInput.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="QuerySalesTransactionStatusInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="QuerySalesTransactionStatusIn">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionReferenceNumbe" type="xs:string" minOccurs="0"/>
							<xs:element name="UserName" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>