src/GW_FinMgmt/BusinessProcesses/Services/Common/PaymentInfo/HelperProcess/ReceiptDetailsBSCSResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="outputMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="receiptnoInfoReadResponse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="contractid" type="xs:string" minOccurs="0"/>
							<xs:element name="subno" type="xs:string" minOccurs="0"/>
							<xs:element name="invoiceno" type="xs:string" minOccurs="0"/>
							<xs:element name="invoicedate" type="xs:string" minOccurs="0"/>
							<xs:element name="invoicetype" type="xs:string" minOccurs="0"/>
							<xs:element name="method" type="xs:string" minOccurs="0"/>
							<xs:element name="methodname" type="xs:string" minOccurs="0"/>
							<xs:element name="username" type="xs:string" minOccurs="0"/>
							<xs:element name="paydesk" type="xs:string" minOccurs="0"/>
							<xs:element name="paymentdate" type="xs:string" minOccurs="0"/>
							<xs:element name="amount" type="xs:string" minOccurs="0"/>
							<xs:element name="cardno" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>