src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/AppleiWatchSESCleanUp/esimSubscriptionCleanUpReqSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eid" type="xs:string" minOccurs="0"/>
				<xs:element name="primaryImsi" type="xs:string" minOccurs="0"/>
				<xs:element name="primaryMsisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="iccid" type="xs:string" minOccurs="0"/>
				<xs:element name="secondaryImsi" type="xs:string" minOccurs="0"/>
				<xs:element name="secondaryMsisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="applicationCategory" type="xs:string" minOccurs="0"/>
				<xs:element name="deviceType" type="xs:string" minOccurs="0"/>
				<xs:element name="additionalInfo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>