src/ESI_BSCS/BusinessProcesses/Services/Query/BillQueryPostpaid/Implementation/BillQueryReadResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BILLING_ACCOUNT_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="INVOICE_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="INVOICE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="BILL_DUE_DATE" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="BILL_DATE" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="BILL_AMNT" type="xs:float" minOccurs="0"/>
										<xs:element name="OUTSTANDING_AMNT" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="BILL_INDICATOR" type="xs:string" minOccurs="0" nillable="true"/>
										<xs:element name="BILL_PERIOD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PDF_URL" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="REC_CHARGE" type="xs:float" minOccurs="0"/>
										<xs:element name="NONREC_CHARGE" type="xs:string" minOccurs="0"/>
										<xs:element name="USAGE_CHARGE" type="xs:string" minOccurs="0"/>
										<xs:element name="OCC_CHARGE" type="xs:string" minOccurs="0"/>
										<xs:element name="ROAMING_CHARGE" type="xs:string" minOccurs="0"/>
										<xs:element name="INTERCONNECT_CHARGE" type="xs:string" minOccurs="0"/>
										<xs:element name="OTHER_CHARGE" type="xs:string" minOccurs="0"/>
										<xs:element name="TAX" type="xs:string" minOccurs="0"/>
										<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
										<xs:element ref="PAID_AMT" minOccurs="0"/>
										<xs:element ref="ADJ_AMT" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAID_AMT" type="xs:string"/>
	<xs:element name="ADJ_AMT" type="xs:string"/>
</xs:schema>