src/GW_CustMgmt/BusinessProcesses/Services/Common/CampaignManagement/CMS-LMC/Implementation/CMS-LMCRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/CMS-LMCRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/CMS-LMCRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Request" type="request"/>
	<xs:complexType name="request">
		<xs:sequence>
			<xs:element ref="targetListId" minOccurs="0"/>
			<xs:element ref="msisdn"/>
			<xs:element ref="campaignId" minOccurs="0"/>
			<xs:element ref="campaignGroupId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="targetListId" type="xs:string"/>
	<xs:element name="msisdn" type="xs:string"/>
	<xs:element name="campaignId" type="xs:string"/>
	<xs:element name="campaignGroupId" type="xs:string"/>
	<xs:element name="LMCRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Request" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="response">
		<xs:sequence>
			<xs:element ref="targetListId" minOccurs="0"/>
			<xs:element ref="result" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="result" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="Response" type="response"/>
	<xs:element name="LMCResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Response" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>