src/CommonProject/BusinessWSDLS/Services/WSDLS/SubscriberInfo/SubscriberInfoSoapHttpPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns0="http://crm.zain.com/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://crm.zain.com/" name="SubscriberInfo" targetNamespace="http://crm.zain.com/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://crm.zain.com/types/" targetNamespace="http://crm.zain.com/types/" elementFormDefault="qualified">
            <complexType name="ParamList">
                <sequence>
                    <element name="param" type="tns:Param" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="Param">
                <sequence>
                    <element name="name" type="string" nillable="true"/>
                    <element name="value" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <element name="getSubscriberInfoElement">
                <complexType>
                    <sequence>
                        <element name="msisdn" type="string" nillable="true"/>
                        <element name="tag" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                        <element name="paramList" type="tns:ParamList" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getSubscriberInfoResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:SubscriberInfoResponse" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="SubscriberInfoResponse">
                <sequence>
                    <element name="resultCode" type="int"/>
                    <element name="tag" type="tns:Tag" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="Tag">
                <sequence>
                    <element name="name" type="string" nillable="true"/>
                    <element name="type" type="string" nillable="true"/>
                    <element name="value" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <element name="getSubscriberInfoListElement">
                <complexType>
                    <sequence>
                        <element name="msisdn" type="string" nillable="true"/>
                        <element name="listType" type="string" nillable="true"/>
                        <element name="paramList" type="tns:ParamList" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getSubscriberInfoListResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:SubscriberInfoListResponse" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="SubscriberInfoListResponse">
                <sequence>
                    <element name="resultCode" type="int"/>
                    <element name="listType" type="string" nillable="true"/>
                    <element name="headerList" type="tns:HeaderList" nillable="true"/>
                    <element name="row" type="tns:RowList" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="RowList">
                <sequence>
                    <element name="cell" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="HeaderList">
                <sequence>
                    <element name="header" type="tns:HeaderItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="HeaderItem">
                <sequence>
                    <element name="name" type="string" nillable="true"/>
                    <element name="type" type="string" nillable="true"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="SubscriberInfo_getSubscriberInfo">
        <part name="parameters" element="tns0:getSubscriberInfoElement"/>
    </message>
    <message name="SubscriberInfo_getSubscriberInfoResponse">
        <part name="parameters" element="tns0:getSubscriberInfoResponseElement"/>
    </message>
    <message name="SubscriberInfo_getSubscriberInfoList">
        <part name="parameters" element="tns0:getSubscriberInfoListElement"/>
    </message>
    <message name="SubscriberInfo_getSubscriberInfoListResponse">
        <part name="parameters" element="tns0:getSubscriberInfoListResponseElement"/>
    </message>
    <portType name="SubscriberInfo">
        <operation name="getSubscriberInfo">
            <input message="tns:SubscriberInfo_getSubscriberInfo"/>
            <output message="tns:SubscriberInfo_getSubscriberInfoResponse"/>
        </operation>
        <operation name="getSubscriberInfoList">
            <input message="tns:SubscriberInfo_getSubscriberInfoList"/>
            <output message="tns:SubscriberInfo_getSubscriberInfoListResponse"/>
        </operation>
    </portType>
    <binding name="SubscriberInfoSoapHttp" type="tns:SubscriberInfo">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getSubscriberInfo">
            <soap:operation soapAction="http://crm.zain.com//getSubscriberInfo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSubscriberInfoList">
            <soap:operation soapAction="http://crm.zain.com//getSubscriberInfoList"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SubscriberInfo">
        <port name="SubscriberInfoSoapHttpPort" binding="tns:SubscriberInfoSoapHttp">
            <soap:address location="http://falcon8:7780/SubscriberInfo/SubscriberInfoSoapHttpPort"/>
        </port>
    </service>
</definitions>