src/CommonProject/BusinessWSDLS/Services/WSDLS/B2BEnterpriseInbound/B2BEnterpriseInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.zain.com/ZESB/Services/B2BEnterpriseInboundFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntGeneralResponse" xmlns:ns8="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntNewActivationReq" xmlns:ns13="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntQueryOrderStatusRes" xmlns:ns12="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntQueryOrderStatusReq" xmlns:ns9="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriceInbound/Schema.xsd" xmlns:ns11="http://www.Zain.com/ZESB/Services/B2BEnterpriseInbound" xmlns:ns10="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntNewActivationRes" xmlns:tns="http://www.Zain.com/ZESB/Services/BundleOrderInbound" xmlns:ns16="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntTerminateLineReq" xmlns:ns15="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntChangePromotioneReq" xmlns:ns14="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntAddDeleteServiceReq" targetNamespace="http://www.Zain.com/ZESB/Services/B2BEnterpriseInbound">
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntNewActivationReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/B2BEntNewActivationReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntQueryOrderStatusReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/B2BEntQueryOrderStatusReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntQueryOrderStatusRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/B2BEntQueryOrderStatusRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntAddDeleteServiceReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/B2BEntAddDeleteServiceReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntChangePromotioneReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/B2BEntChangePromotionReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntTerminateLineReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/B2BEntTerminateLineReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriseInboundFault" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/Fault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/B2BEnterpriceInbound/B2BEntGeneralResponse" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/B2BEnterpriseInbound/B2BEntGeneralResponse.xsd"/>
    <message name="B2BEntAddDeleteServiceRes">
        <part name="B2BEntAddDeleteServiceRes" element="ns2:B2BEntGeneralResponse"/>
    </message>
    <message name="B2BEntChangePromotionRes">
        <part name="B2BEntChangePromotionRes" element="ns2:B2BEntGeneralResponse"/>
    </message>
    <message name="B2BEntTerminateLineRes">
        <part name="B2BEntTerminateLineRes" element="ns2:B2BEntGeneralResponse"/>
    </message>
    <message name="B2BEntNewActivationReq">
        <part element="ns8:B2BEntNewActivationRequest" name="B2BEntNewActivationReq"/>
    </message>
    <message name="B2BEntNewActivationRes">
        <part name="B2BEntNewActivationRes" element="ns2:B2BEntGeneralResponse"/>
    </message>
    <message name="Fault">
        <part name="Fault" element="ns:Fault"/>
    </message>
    <message name="B2BEntQueryOrderStatusReq">
        <part element="ns12:B2BEntQueryOrderStatusReq" name="B2BEntQueryOrderStatusReq"/>
    </message>
    <message name="B2BEntQueryOrderStatusRes">
        <part element="ns13:B2BEntQueryOrderStatusRes" name="B2BEntQueryOrderStatusRes"/>
    </message>
    <message name="B2BEntAddDeleteServiceReq">
        <part name="B2BEntAddDeleteServiceReq" element="ns14:B2BEntAddDeleteServiceReq"/>
    </message>
    <message name="B2BEntChangePromotionReq">
        <part element="ns15:B2BEntChangePromotioneReq" name="B2BEntChangePromotionReq"/>
    </message>
    <message name="B2BEntTerminateLineReq">
        <part element="ns16:B2BEntTerminateLineReq" name="B2BEntTerminateLineReq"/>
    </message>
    <portType name="B2BEnterprisePortType">
        <operation name="B2BEntNewActivation">
            <input message="ns11:B2BEntNewActivationReq"/>
            <output message="ns11:B2BEntNewActivationRes"/>
            <fault message="ns11:Fault" name="fault1"/>
        </operation>
        <operation name="B2BEntQueryOrderStatus">
            <input message="ns11:B2BEntQueryOrderStatusReq"/>
            <output message="ns11:B2BEntQueryOrderStatusRes"/>
            <fault message="ns11:Fault" name="fault"/>
        </operation>
        <operation name="B2BEntAddDeleteService">
            <input message="ns11:B2BEntAddDeleteServiceReq"/>
            <output message="ns11:B2BEntAddDeleteServiceRes"/>
            <fault name="fault1" message="ns11:Fault"/>
        </operation>
        <operation name="B2BEntChangePromotion">
            <input message="ns11:B2BEntChangePromotionReq"/>
            <output message="ns11:B2BEntChangePromotionRes"/>
            <fault name="fault1" message="ns11:Fault"/>
        </operation>
        <operation name="B2BEntTerminateLine">
            <input message="ns11:B2BEntTerminateLineReq"/>
            <output message="ns11:B2BEntTerminateLineRes"/>
            <fault name="fault1" message="ns11:Fault"/>
        </operation>
    </portType>
</definitions>