src/ESI_BSCS/BusinessProcesses/Services/Query/QueryUnbilledSummary/Schema/QueryUnbilledSummaryOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TYPE" minOccurs="0"/>
				<xs:element ref="DURATION" minOccurs="0"/>
				<xs:element ref="AMOUNT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TYPE" type="xs:string"/>
	<xs:element name="DURATION" type="xs:string"/>
	<xs:element name="AMOUNT" type="xs:decimal"/>
</xs:schema>