src/BPI_FinMgmt/BusinessProcesses/Services/Common/CashSales/Resources/ERP_Inventory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns16="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd" xmlns:ns14="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd" xmlns:ns15="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns9="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns5="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" xmlns:ns12="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" xmlns:ns6="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" xmlns:ns13="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd" xmlns:ns7="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd" xmlns:ns10="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd" xmlns:ns8="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd" xmlns:ns11="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" xmlns:ns2="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" xmlns:ns1="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" xmlns:ns4="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" xmlns:ns3="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" xmlns:tns="http://xmlns.example.com/1455927593838" xmlns:ns0="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1455927593838">
    <wsdl:types>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd">
            <xs:element name="itemList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="availabaleQty" type="xs:long"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element minOccurs="0" name="category" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAvailInStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" ref="ns10:itemList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd">
            <xs:element name="releaseInventoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="reasonText" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd">
            <xs:element name="createShopResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd">
            <xs:element name="QueryBySerialNoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="StockItemList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="storeCode" type="xs:string"/>
                                    <xs:element name="storeDescription" type="xs:string"/>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element name="itemStatus" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd">
            <xs:element name="queryItemInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" type="xs:string"/>
                        <xs:element name="category" type="xs:string"/>
                        <xs:element name="vendoreName" type="xs:string"/>
                        <xs:element name="vendorAddress" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd">
            <xs:element name="reserveInventoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element name="userName" type="xs:string"/>
                        <xs:element name="orderId" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" name="itemList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element minOccurs="0" name="serialNumberFrom" type="xs:string"/>
                                    <xs:element minOccurs="0" name="serialNumberTo" type="xs:string"/>
                                    <xs:element name="quantity" type="xs:long"/>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd">
            <xs:element name="queryAvailXStoresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="stockItemList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="storeCode" type="xs:string"/>
                                    <xs:element name="storeDescription" type="xs:string"/>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element name="availableQty" type="xs:long"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd">
            <xs:element name="queryAvailXStoresRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="storeList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="Storecode" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd">
            <xs:element name="fault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element minOccurs="0" name="sourcesystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd">
            <xs:element name="createShopRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd">
            <xs:element name="queryItemInfoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="serialNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd">
            <xs:element name="releaseInventoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                        <xs:element name="reservationId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd">
            <xs:element name="reserveInventoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="reservationId" type="xs:string"/>
                        <xs:element minOccurs="0" name="reasonText" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="orderLineFailures">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                    <xs:element name="description" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd">
            <xs:element name="queryAvailInStoreRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                        <xs:element name="storeCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd">
            <xs:element name="posTransactionsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element name="userCode" type="xs:string"/>
                        <xs:element name="orderId" type="xs:string"/>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element minOccurs="0" name="remarks" type="xs:string"/>
                        <xs:element minOccurs="0" name="reservationID" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" name="itemList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element minOccurs="0" name="serialNumberFrom" type="xs:string"/>
                                    <xs:element minOccurs="0" name="serialNumberTo" type="xs:string"/>
                                    <xs:element name="quantity" type="xs:long"/>
                                    <xs:element minOccurs="0" name="unitPrice" type="xs:string"/>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd">
            <xs:element name="posTransactionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="reasonText" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="orderLineFailures">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                    <xs:element name="description" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd">
            <xs:element name="QueryBySerialNoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="serialNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ERP_InventoryMgmt-service3">
        <wsdl:port binding="tns:ERP_InventoryMgmtJMSEndPointBinding" name="ERP_InventoryMgmtJMSEndPoint">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.ERP.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
        <wsdl:port binding="tns:ERP_InventoryMgmtHTTPEndpointBinding" name="ERP_InventoryMgmtHTTPEndpoint">
            <soap:address location="http://localhost:7077/ESB/SOAP/ERP"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ERP_InventoryMgmtPortType">
        <wsdl:operation name="ReserveInventory">
            <wsdl:input message="tns:ReserveInventoryRequest"/>
            <wsdl:output message="tns:ReserveInventoryResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
        <wsdl:operation name="CreateShop">
            <wsdl:input message="tns:CreateShopRequest"/>
            <wsdl:output message="tns:CreateShopResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryItemInfo">
            <wsdl:input message="tns:QueryItemInfoRequest"/>
            <wsdl:output message="tns:QueryItemInfoResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
        <wsdl:operation name="posTransactions">
            <wsdl:input message="tns:posTransactionsRequest"/>
            <wsdl:output message="tns:posTransactionsResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailInStore">
            <wsdl:input message="tns:QueryAvailInStoreRequest"/>
            <wsdl:output message="tns:QueryAvailInStoreResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
        <wsdl:operation name="ReleaseInventory">
            <wsdl:input message="tns:ReleaseInventoryRequest"/>
            <wsdl:output message="tns:ReleaseInventoryResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryBySerialNo">
            <wsdl:input message="tns:QueryBySerialNoRequest"/>
            <wsdl:output message="tns:QueryBySerialNoResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailXStores">
            <wsdl:input message="tns:QueryAvailXStoresRequest"/>
            <wsdl:output message="tns:QueryAvailXStoresResponse"/>
            <wsdl:fault message="tns:Fault" name="Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ERP_InventoryMgmtJMSEndPointBinding" type="tns:ERP_InventoryMgmtPortType">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="bytes"/>
        <wsdl:operation name="ReserveInventory">
            <soap:operation soapAction="ReserveInventory" style="document"/>
            <wsdl:input>
                <soap:body parts="ReserveInventoryRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ReserveInventoryResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateShop">
            <soap:operation soapAction="CreateShop" style="document"/>
            <wsdl:input>
                <soap:body parts="CreateShopRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateShopResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryItemInfo">
            <soap:operation soapAction="QueryItemInfo" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryItemInfoRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryItemInfoResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="posTransactions">
            <soap:operation soapAction="posTransactions" style="document"/>
            <wsdl:input>
                <soap:body parts="posTransactionsRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="posTransactionsResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailInStore">
            <soap:operation soapAction="QueryAvailInStore" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryAvailInStoreRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryAvailInStoreResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReleaseInventory">
            <soap:operation soapAction="ReleaseInventory" style="document"/>
            <wsdl:input>
                <soap:body parts="ReleaseInventoryRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ReleaseInventoryResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryBySerialNo">
            <soap:operation soapAction="QueryBySerialNo" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryBySerialNoRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryBySerialNoResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailXStores">
            <soap:operation soapAction="QueryAvailXStores" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryAvailXStoresRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryAvailXStoresResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ERP_InventoryMgmtHTTPEndpointBinding" type="tns:ERP_InventoryMgmtPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReserveInventory">
            <soap:operation soapAction="ReserveInventory" style="document"/>
            <wsdl:input>
                <soap:body parts="ReserveInventoryRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ReserveInventoryResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateShop">
            <soap:operation soapAction="CreateShop" style="document"/>
            <wsdl:input>
                <soap:body parts="CreateShopRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateShopResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryItemInfo">
            <soap:operation soapAction="QueryItemInfo" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryItemInfoRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryItemInfoResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="posTransactions">
            <soap:operation soapAction="posTransactions" style="document"/>
            <wsdl:input>
                <soap:body parts="posTransactionsRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="posTransactionsResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailInStore">
            <soap:operation soapAction="QueryAvailInStore" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryAvailInStoreRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryAvailInStoreResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReleaseInventory">
            <soap:operation soapAction="ReleaseInventory" style="document"/>
            <wsdl:input>
                <soap:body parts="ReleaseInventoryRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ReleaseInventoryResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryBySerialNo">
            <soap:operation soapAction="QueryBySerialNo" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryBySerialNoRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryBySerialNoResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailXStores">
            <soap:operation soapAction="QueryAvailXStores" style="document"/>
            <wsdl:input>
                <soap:body parts="QueryAvailXStoresRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="QueryAvailXStoresResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReserveInventoryRequest">
        <wsdl:part element="ns0:reserveInventoryRequest" name="ReserveInventoryRequest"/>
    </wsdl:message>
    <wsdl:message name="ReserveInventoryResponse">
        <wsdl:part element="ns1:reserveInventoryResponse" name="ReserveInventoryResponse"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part element="ns2:fault" name="Fault"/>
    </wsdl:message>
    <wsdl:message name="CreateShopRequest">
        <wsdl:part element="ns3:createShopRequest" name="CreateShopRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateShopResponse">
        <wsdl:part element="ns4:createShopResponse" name="CreateShopResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryItemInfoRequest">
        <wsdl:part element="ns5:queryItemInfoRequest" name="QueryItemInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryItemInfoResponse">
        <wsdl:part element="ns6:queryItemInfoResponse" name="QueryItemInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="posTransactionsRequest">
        <wsdl:part element="ns7:posTransactionsRequest" name="posTransactionsRequest"/>
    </wsdl:message>
    <wsdl:message name="posTransactionsResponse">
        <wsdl:part element="ns8:posTransactionsResponse" name="posTransactionsResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailInStoreRequest">
        <wsdl:part element="ns9:queryAvailInStoreRequest" name="QueryAvailInStoreRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailInStoreResponse">
        <wsdl:part element="ns10:queryAvailInStoreResponse" name="QueryAvailInStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="ReleaseInventoryRequest">
        <wsdl:part element="ns11:releaseInventoryRequest" name="ReleaseInventoryRequest"/>
    </wsdl:message>
    <wsdl:message name="ReleaseInventoryResponse">
        <wsdl:part element="ns12:releaseInventoryResponse" name="ReleaseInventoryResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryBySerialNoRequest">
        <wsdl:part element="ns13:QueryBySerialNoRequest" name="QueryBySerialNoRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryBySerialNoResponse">
        <wsdl:part element="ns14:QueryBySerialNoResponse" name="QueryBySerialNoResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailXStoresRequest">
        <wsdl:part element="ns15:queryAvailXStoresRequest" name="QueryAvailXStoresRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailXStoresResponse">
        <wsdl:part element="ns16:queryAvailXStoresResponse" name="QueryAvailXStoresResponse"/>
    </wsdl:message>
</wsdl:definitions>