src/ESI_BSCS/BusinessProcesses/Services/Query/ImmediateSimulationBillQuery/Schema/ImmediateSIMBillQueryOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CUST_ID" minOccurs="0"/>
				<xs:element ref="INVOICE_NO" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="BILL_CYCLE_DATE" minOccurs="0"/>
				<xs:element ref="BILL_CYCLE_CODE" minOccurs="0"/>
				<xs:element ref="ABSOLUTE_PATH" minOccurs="0"/>
				<xs:element ref="BILL_PERIOD" minOccurs="0"/>
				<xs:element ref="BILL_ACCOUNT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CUST_ID" type="xs:string"/>
	<xs:element name="INVOICE_NO" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="BILL_CYCLE_DATE" type="xs:string"/>
	<xs:element name="BILL_CYCLE_CODE" type="xs:string"/>
	<xs:element name="ABSOLUTE_PATH" type="xs:string"/>
	<xs:element name="BILL_PERIOD" type="xs:string"/>
	<xs:element name="BILL_ACCOUNT" type="xs:string"/>
</xs:schema>