src/CommonProject/BusinessWSDLS/Services/BSCS/CustomerRiskRead/CustomerRiskReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/customerriskread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>
						
						</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerriskread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerriskread">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:element name="customerRiskReadRequest" type="wsi:customerRiskReadRequest"/>
			<xs:element name="customerRiskReadResponse" type="wsi:customerRiskReadResponse"/>
			<xs:complexType name="ratingcountlistListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="crId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE ID PUB</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crDes" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE DESCRIPTION</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="count" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>TOTAL COUNT</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="ratingcountlistResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:ratingcountlistListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="coassignratinglistListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE ID PUB</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crDes" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE DESCRIPTION</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="source" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Source From which the credit score assignment is triggered</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="request" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Request Id </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>UserName </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="coassignratinglistResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:coassignratinglistListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customerRiskReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Credit Rating</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>CUSTOMER ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>CUSTOMER ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coassignratinglist" type="wsi:coassignratinglistResponse"/>
					<xs:element minOccurs="0" name="ratingcountlist" type="wsi:ratingcountlistResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Input arguments</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>CUSTOMER ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>CUSTOMER ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RATE ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="customerRiskReadRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="customerRiskReadRequest">
		<wsdl:part element="sch3:customerRiskReadRequest" name="customerRiskReadRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="customerRiskReadResponse">
		<wsdl:part element="sch3:customerRiskReadResponse" name="customerRiskReadResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerRiskReadService">
		<wsdl:operation name="customerRiskRead">
			<wsdl:input message="tns:customerRiskReadRequest" name="customerRiskReadRequest">
			</wsdl:input>
			<wsdl:output message="tns:customerRiskReadResponse" name="customerRiskReadResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerRiskReadServiceSoap11" type="tns:CustomerRiskReadService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="customerRiskRead">
			<soap:operation soapAction=""/>
			<wsdl:input name="customerRiskReadRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="customerRiskReadResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerRiskReadService">
		<wsdl:port binding="tns:CustomerRiskReadServiceSoap11" name="CustomerRiskReadServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>