src/CommonProject/BusinessSchemas/Services/Common/JMSSchema/JMSHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                xmlns="http://www.ericsson.com/BusinessSchemas/Services/Common/JMSSchema/JMSHeader.xsd"
                targetNamespace="http://www.ericsson.com/BusinessSchemas/Services/Common/JMSSchema/JMSHeader.xsd"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified">
                <xs:element name="_applicationProperties">
                                <xs:complexType>
                                                <xs:sequence>
                                                                <xs:element name="JMSDestination" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSReplyTo" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSDeliveryMode" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSMessageID" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSTimestamp" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSExpiration" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSRedelivered" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSPriority" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="JMSType" type="xs:string" minOccurs="0"/>
                                                </xs:sequence>
                                </xs:complexType>
                </xs:element>
</xs:schema>
