src/CommonProject/BusinessWSDLS/Services/BSCS/InstallmentPeriodUpdate/ws_CIL_5_InstallmentPeriodUpdateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/installmentperiodupdate" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;New value for a named value.&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;
						
						&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/installmentperiodupdate" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/installmentperiodupdate">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="installmentPeriodUpdateRequest" type="wsi:installmentPeriodUpdateRequest"/>
            <xs:element name="installmentPeriodUpdateResponse" type="wsi:installmentPeriodUpdateResponse"/>
            <xs:complexType name="installmentPeriodUpdateResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="response" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;response Message&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element name="custnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;CSIDPUB&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="cocode" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;COIDPUB&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="orderlineno" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;CRM Order Line Number&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="period" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Installment period&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="installmentPeriodUpdateRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="installmentPeriodUpdateResponse">
        <wsdl:part element="sch3:installmentPeriodUpdateResponse" name="installmentPeriodUpdateResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="installmentPeriodUpdateRequest">
        <wsdl:part element="sch3:installmentPeriodUpdateRequest" name="installmentPeriodUpdateRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="InstallmentPeriodUpdateService">
        <wsdl:operation name="installmentPeriodUpdate">
            <wsdl:input message="tns:installmentPeriodUpdateRequest" name="installmentPeriodUpdateRequest">
    </wsdl:input>
            <wsdl:output message="tns:installmentPeriodUpdateResponse" name="installmentPeriodUpdateResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InstallmentPeriodUpdateServiceSoap11" type="tns:InstallmentPeriodUpdateService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="installmentPeriodUpdate">
            <soap:operation soapAction=""/>
            <wsdl:input name="installmentPeriodUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="installmentPeriodUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InstallmentPeriodUpdateService">
        <wsdl:port binding="tns:InstallmentPeriodUpdateServiceSoap11" name="InstallmentPeriodUpdateServiceSoap11">
            <soap:address location="http://10.96.103.211:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>