src/CommonProject/BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/CheckEligibilityPrefNumberRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/TosaCPInbound/CheckEligibilityPrefNumberRes"
	 targetNamespace="http://www.zain.com/ZESB/Services/TosaCPInbound/CheckEligibilityPrefNumberRes"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CheckEligibilityPrefNumberRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="isEligible" type="xs:string" minOccurs="0"/>
				<xs:element ref="Price" minOccurs="0"/>
				<xs:element ref="ParamList" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Eligibile">
		<xs:annotation>
			<xs:documentation>Y=Operation for Preferred Number is eligible
N=Operation is not eligible.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Price" type="xs:string"/>
	<xs:element name="ParamList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Params" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>