src/CommonProject/BusinessSchemas/Services/Applications/ExternalChannel/TosaCPInbound/TosaCPCRMManagePNRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/TosaCPInbound/TosaCPCRMManagePNRes"
	 targetNamespace="http://www.zain.com/ZESB/Services/TosaCPInbound/TosaCPCRMManagePNRes"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="TosaCPAddPNRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResDesc" type="xs:string" minOccurs="0"/>
				<xs:element ref="Paramlist" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Paramlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Paramas" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="0"/>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>