src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/CBiO2VPNIdChangeReq.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2VPNIdChangeReq" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2VPNIdChangeReq" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"  />
	<xsd:complexType name="SiebelMessage" >
		<xsd:sequence >
			<xsd:element name="ListOfCBiO2VPNIdChangeReq" type="xsdLocal:ListOfCBiO2VPNIdChangeReq" minOccurs="0" maxOccurs="1"  />
		</xsd:sequence >
		<xsd:attribute name="MessageId" type="xsd:string"  />
		<xsd:attribute name="MessageType" type="xsd:string"  />
		<xsd:attribute name="IntObjectName" type="xsd:string"  />
		<xsd:attribute name="IntObjectFormat" type="xsd:string"  />
	</xsd:complexType >
	<xsd:complexType name="ListOfCBiO2VPNIdChangeReq" >
		<xsd:sequence >
			<xsd:element name="CBiO2ChangeVPNRequest" type="xsdLocal:CBiO2ChangeVPNRequest" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="CBiO2ChangeVPNRequest" >
		<xsd:sequence >
			<xsd:element name="BulkRequestNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BulkRecordId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BulkRequestType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SubscriberNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OldVPNId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NewVPNId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OldShortCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NewShortCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LineType" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >