src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/CBiO2VPNIdChangeRes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2CommunityIdChangeResponse" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2CommunityIdChangeResponse" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="ListOfCBiO2VPNIdChangeRes" type="xsdLocal:ListOfCBiO2VPNIdChangeRes" />
	<xsd:complexType name="ListOfCBiO2VPNIdChangeResTopElmt" >
		<xsd:sequence >
			<xsd:element name="ListOfCBiO2VPNIdChangeRes" type="xsdLocal:ListOfCBiO2VPNIdChangeRes" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCBiO2VPNIdChangeRes" >
		<xsd:sequence >
			<xsd:element name="CBiO2ChangeVPNResponse" type="xsdLocal:CBiO2ChangeVPNResponse" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="CBiO2ChangeVPNResponse" >
		<xsd:sequence >
			<xsd:element name="BulkRecordId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BulkRequestNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SubscriberNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NewVPNId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NewShortCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_SourceErrCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_SourceErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Type" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="LineType" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >