src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/CBiO2CustomerStatusUpdateRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2CustomerStatusUpdateRes"
	 targetNamespace="http://www.siebel.com/xml/CBiO2CustomerStatusUpdateRes"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ListOfCBiO2CustomerStatusUpdateRes" type="xsdLocal:ListOfCBiO2CustomerStatusUpdateRes"/>
	<xsd:complexType name="ListOfCBiO2CustomerStatusUpdateResTopElmt">
		<xsd:sequence>
			<xsd:element name="ListOfCBiO2CustomerStatusUpdateRes" type="xsdLocal:ListOfCBiO2CustomerStatusUpdateRes"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfCBiO2CustomerStatusUpdateRes">
		<xsd:sequence>
			<xsd:element name="CBiO2CustomerStatusUpdateRes" type="xsdLocal:CBiO2CustomerStatusUpdateRes"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CBiO2CustomerStatusUpdateRes">
		<xsd:sequence>
			<xsd:element name="TransactionID" type="xsd:string"/>
			<xsd:element name="TransactionDateTime" type="xsd:string"/>
			<xsd:element name="CustomerNumber" type="xsd:string"/>
			<xsd:element name="CustomerID" type="xsd:string"/>
			<xsd:element name="OldStatus" type="xsd:string"/>
			<xsd:element name="NewStatus" type="xsd:string"/>
			<xsd:element name="SubscriberNumber" type="xsd:string"/>
			<xsd:element name="Status" type="xsd:string"/>
			<xsd:element name="BulkHeaderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BulkRecordId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_SourceErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_SourceErrDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>