src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/ListOfCbio2BulkBillingProfileModificationRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:xsdLocal="http://www.siebel.com/xmlCBiO2%20Billing%20Profile%20Modification%20Res%20IO"
	 targetNamespace="http://www.siebel.com/xmlCBiO2%20Billing%20Profile%20Modification%20Res%20IO"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ListOfCbio2BulkBillingProfileModificationRes" type="xsdLocal:ListOfCbio2BulkBillingProfileModificationRes"/>
	<xsd:complexType name="ListOfCbio2BulkBillingProfileModificationResTopElmt">
		<xsd:sequence>
			<xsd:element name="ListOfCbio2BulkBillingProfileModificationRes" type="xsdLocal:ListOfCbio2BulkBillingProfileModificationRes"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfCbio2BulkBillingProfileModificationRes">
		<xsd:sequence>
			<xsd:element name="Account" type="xsdLocal:Account" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Account">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ListOfComInvoiceProfile" type="xsdLocal:ListOfComInvoiceProfile" minOccurs="0"/>
			<xsd:element name="ListOfOrganizationPaymentProfile" type="xsdLocal:ListOfOrganizationPaymentProfile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfComInvoiceProfile">
		<xsd:sequence>
			<xsd:element name="ComInvoiceProfile" type="xsdLocal:ComInvoiceProfile" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComInvoiceProfile">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BatchFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ActionPerformed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorAdditionalDesc1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorAdditionalDesc2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorSourceErrDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorUserErrDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorSourceErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorUserErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfOrganizationPaymentProfile">
		<xsd:sequence>
			<xsd:element name="OrganizationPaymentProfile" type="xsdLocal:OrganizationPaymentProfile" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationPaymentProfile">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ActionPerformed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorAdditionalDesc1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorAdditionalDesc2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorSourceErrDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorUserErrDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorSourceErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorUserErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>