src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/ListOfCBiO2SubscriberCCDunningExemptionReq.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2SubscriberExemption" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2SubscriberExemption" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"  />
	<xsd:complexType name="SiebelMessage" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2subscriberexemption" type="xsdLocal:ListOfCbio2subscriberexemption" minOccurs="0" maxOccurs="1"  />
		</xsd:sequence >
		<xsd:attribute name="MessageId" type="xsd:string"  />
		<xsd:attribute name="MessageType" type="xsd:string"  />
		<xsd:attribute name="IntObjectName" type="xsd:string"  />
		<xsd:attribute name="IntObjectFormat" type="xsd:string"  />
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2subscriberexemption" >
		<xsd:sequence >
			<xsd:element name="Cbio2ExemptionBc" type="xsdLocal:Cbio2ExemptionBc" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="Cbio2ExemptionBc" >
		<xsd:sequence >
			<xsd:element name="CBiO2AssetId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2BillingProfileBSCSId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2CustomerSequenceNum" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ExemptionNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ExemptionSubType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ExemptionTillDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ExemptionType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2SubscriberBSCSId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2SubscriberNo" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >