src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/ListOfCbio2subscribermodificationsreq.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2SubscriberModificationsReq" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2SubscriberModificationsReq" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage" 
/><xsd:complexType name="SiebelMessage"
><xsd:sequence
><xsd:element name="ListOfCbio2subscribermodificationsreq" type="xsdLocal:ListOfCbio2subscribermodificationsreq" minOccurs="0" maxOccurs="1" 
/></xsd:sequence
><xsd:attribute name="MessageId" type="xsd:string" 
/><xsd:attribute name="MessageType" type="xsd:string" 
/><xsd:attribute name="IntObjectName" type="xsd:string" 
/><xsd:attribute name="IntObjectFormat" type="xsd:string" 
/></xsd:complexType
><xsd:complexType name="ListOfCbio2subscribermodificationsreq"
><xsd:sequence
><xsd:element name="CBiO2SubscriberModificationsReq" type="xsdLocal:CBiO2SubscriberModificationsReq" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CBiO2SubscriberModificationsReq"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CreditCategory" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CustomerSequenceNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2DocumentSubmitted" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2NotificationFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2NotifySubcNum" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2OldThresholdService" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2OpenCaseseStore" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PortInFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PortOutFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PrefCommChannel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PrefCommEndTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PrefCommLangCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PrefCommLanguage" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PrefCommStartTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ReferredBy" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Relationship" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2RiskLevel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SalesCallingFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubscriberEmail" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubscriberFaxPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubscriberHomePhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubscriberInformation" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubscriberNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubscriberNotificationPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SubscriberWorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ThresholdService" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ZainStaffNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2NoDataGifting" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BlockCampaignFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BlockDialerOutboundFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ZainCampusBlockerFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2NoRetentFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2UnableToTransferOwnerFlg" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SkipPaymentSMSNotification" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SkipBillSMSNotification" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BatchFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>