src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/ListOfCbio2BulkBillingProfileModificationReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"
	 targetNamespace="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"/>
	<xsd:complexType name="SiebelMessage">
		<xsd:sequence>
			<xsd:element name="ListOfCbio2BulkBillingProfileModificationReq" type="xsdLocal:ListOfCbio2BulkBillingProfileModificationReq" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="MessageId" type="xsd:string"/>
		<xsd:attribute name="MessageType" type="xsd:string"/>
		<xsd:attribute name="IntObjectName" type="xsd:string"/>
		<xsd:attribute name="IntObjectFormat" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ListOfCbio2BulkBillingProfileModificationReq">
		<xsd:sequence>
			<xsd:element name="Account" type="xsdLocal:Account" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Account">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountStatusChangeReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountStatusDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2AccountColorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2AgeRange" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2AnnualAvgRev" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ArabicFullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ArabicLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ArabicSecondName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ArabicThirdName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ArabicTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Behaviors" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BillCycle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BloodGrp" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BusinessUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CalcEntityBase" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CalcLines" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CalcM2MBase" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CalcProsumers" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CalcVoiceBase" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Category" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CompanyNameEng" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ConnectionDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ContractExpiresIn" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ContractValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CreditNote" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustCreatedDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustEducation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustMaritalStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustProfession" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2DOB" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2DisconnectionDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EnglishFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EnglishFullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EnglishLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EnglishSecondName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EnglishThirdName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EnglishTitle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Gender" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2HomeNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2IDExpDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2IDNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2IDType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Industry" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2KAMId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Market" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2MonthlyAvgRev" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Nationality" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2NickName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2OrgCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2OrgSize" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2OrgType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PRFlg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PortInFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PortOutFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PrefCommunicationChannel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PrefCommunicationTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Recipient" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ReferenceId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2RegisterZainFlg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2RegistrationDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ResidencyType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2RiskLevel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SalesAgent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SalesCallingAllowFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Sector" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Segment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SisterCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Source" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SubCorpSegment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SubMarket" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2SubMarketType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClientFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DontCall" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FacilityFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HouseholdHeadOccupation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HouseholdIncome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LanguageCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MainEmailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MainFaxNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MainPhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MasterAccountId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ParentAccountId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Rate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Region" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RelationshipId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2NotificationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSHierarchyId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSStatusCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ArabicFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ActionPerformed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2AccountSequenceNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustomerLevel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PrefCommStartTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PrefCommEndTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustomerPaymentProfId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustomerPPBSCSID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustomerPPCD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2GenerateStatementFlg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ListOfCutAddress" type="xsdLocal:ListOfCutAddress" minOccurs="0"/>
			<xsd:element name="ListOfComInvoiceProfile" type="xsdLocal:ListOfComInvoiceProfile" minOccurs="0"/>
			<xsd:element name="ListOfOrganizationPaymentProfile" type="xsdLocal:ListOfOrganizationPaymentProfile" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfCutAddress">
		<xsd:sequence>
			<xsd:element name="CutAddress" type="xsdLocal:CutAddress" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CutAddress">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AddressType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ApartmentNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Avenue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Block" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Building" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Floor" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Mail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2POBox" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PacciNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2Status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2StreetNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LandlordPhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LocationType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Neighborhood" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StreetAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Type2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EngPostalAreaName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PostalAreaCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ActionPerformed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorStatus" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfComInvoiceProfile">
		<xsd:sequence>
			<xsd:element name="ComInvoiceProfile" type="xsdLocal:ComInvoiceProfile" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComInvoiceProfile">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AddressId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillFrequency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillSource" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CreditLimit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ExchangeRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2InvoiceFormat" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2MailType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ModeofCommunciation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2NotificationSubNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PrefferedLanguage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencyCode2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailBillTo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BatchFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MediaType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PrepaidSMSNotification" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BillCycle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2AddressBSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PaymentProfileBSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PaymentProfileId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ActionPerformed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustomerPPCD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BPPaymentProfileBSCSID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BPModificationIdentifier" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfOrganizationPaymentProfile">
		<xsd:sequence>
			<xsd:element name="OrganizationPaymentProfile" type="xsdLocal:OrganizationPaymentProfile" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationPaymentProfile">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountBankBranch" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountBankName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountHolder" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountNumber2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PaymentInstrument" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExpirationMonth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExpirationYear" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PaymentProfileType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProfileStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BankBSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CCCompanyName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CardType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2StartDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2EndDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2ActionPerformed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BillProfileId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BankDetailId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BillProfileBSCSId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2BankDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CreditCardPrefix" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ErrorStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2CustomerPPCD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CBiO2PPAuditStatus" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>