src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/ListOfCbio2subscribermodificationsres_04_Mar_2016.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2SubscriberModificationsRes" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2SubscriberModificationsRes" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfCbio2subscribermodificationsres" type="xsdLocal:ListOfCbio2subscribermodificationsres"
/><xsd:complexType name="ListOfCbio2subscribermodificationsresTopElmt"
><xsd:sequence
><xsd:element name="ListOfCbio2subscribermodificationsres" type="xsdLocal:ListOfCbio2subscribermodificationsres" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCbio2subscribermodificationsres"
><xsd:sequence
><xsd:element name="CBiO2SubscriberModificationsRes" type="xsdLocal:CBiO2SubscriberModificationsRes" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CBiO2SubscriberModificationsRes"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BatchFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>