src/CommonProject/BusinessSchemas/Services/Applications/CRM/Modification/XSD/UpdateFnFRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/UpdateFnFRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/UpdateFnFRequest.xsd"
	 version="1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UpdateFnFRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Subscriber" minOccurs="0"/>
				<xs:element ref="fafChargeFlag" minOccurs="0"/>
				<xs:element ref="ListName" minOccurs="0"/>
				<xs:element ref="FAFType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subscriber">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceNo" minOccurs="0"/>
				<xs:element ref="IMSI" minOccurs="0"/>
				<xs:element ref="SubscriberType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceNo" type="xs:string"/>
	<xs:element name="IMSI" type="xs:string"/>
	<xs:element name="SubscriberType" type="xs:string"/>
	<xs:element name="fafChargeFlag" type="xs:string"/>
	<xs:element name="ListName" type="xs:string"/>
	<xs:element name="FAFType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FAFNumber" minOccurs="0"/>
				<xs:element ref="FAFCategory" minOccurs="0"/>
				<xs:element ref="FAFChargeInfo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FAFNumber" type="xs:string"/>
	<xs:element name="FAFCategory" type="xs:string"/>
	<xs:element name="FAFChargeInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FAFCharges" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FAFCharges">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="Currency" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Amount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="amount" minOccurs="0"/>
				<xs:element ref="units" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="amount" type="xs:string"/>
	<xs:element name="units" type="xs:string"/>
	<xs:element name="Currency" type="xs:string"/>
</xs:schema>