src/CommonProject/BusinessSchemas/Services/Query/CreditActionsRead/CreditActionsRead.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CreditActionsRead/Schema.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CreditActionsRead/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CreditActionsReadRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
				<xs:element ref="fromDate" minOccurs="0"/>
				<xs:element ref="toDate" minOccurs="0"/>
				<xs:element ref="dunType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreditActionsReadResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
				<xs:element ref="ccactionhistlist" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coId" type="xs:long">
		<xs:annotation>
			<xs:documentation>Contract ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="coIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Contract ID Public Key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fromDate" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit Dunning action Taken Search from Date, Default SYSDATE -30</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="toDate" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit Dunning action Taken Search To Date, SYSDATE</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dunType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Dunning Action Type:
C: Credit Control, Used by CCMS
D: Dunning Action used by CRAH</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ccactionhistlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transactionId" minOccurs="0"/>
				<xs:element ref="actionTypeId" minOccurs="0"/>
				<xs:element ref="actionTypePub" minOccurs="0"/>
				<xs:element ref="username" minOccurs="0"/>
				<xs:element ref="actionDate" minOccurs="0"/>
				<xs:element ref="actionTypeDes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="actionTypeId" type="xs:long">
		<xs:annotation>
			<xs:documentation>Dunning Action ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="actionTypePub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit category Public Key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="username" type="xs:string">
		<xs:annotation>
			<xs:documentation>UserName</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="actionDate" type="xs:string">
		<xs:annotation>
			<xs:documentation>Processing date of the record</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="actionTypeDes" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit category Public Key Description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="transactionId" type="xs:string"/>
</xs:schema>