src/CommonProject/BusinessSchemas/Services/Common/SMSService/SMSService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://xmlns.zain.com/BSS/ESB/CDM/SMSService"
	 targetNamespace="http://xmlns.zain.com/BSS/ESB/CDM/SMSService"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="SendSms">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user" type="SoapUser" minOccurs="0"/>
				<xs:element name="originator" type="xs:string" minOccurs="0"/>
				<xs:element name="smsText" type="xs:string" minOccurs="0"/>
				<xs:element name="recipientPhone" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SoapUser">
		<xs:sequence>
			<xs:element name="CustomerID" type="xs:int"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Language" type="xs:string" minOccurs="0"/>
			<xs:element name="Password" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SendSmsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SendSmsResult" type="SendResult" minOccurs="0"/>
				<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseMsg" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SendResult">
		<xs:complexContent>
			<xs:extension base="CommonResult">
				<xs:sequence>
					<xs:element name="RejectedNumbers" type="ArrayOfString" minOccurs="0"/>
					<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
					<xs:element name="NetPoints" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommonResult">
		<xs:sequence>
			<xs:element name="Result" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfString">
		<xs:sequence>
			<xs:element name="string" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>