src/ESI_BSCS/BusinessProcesses/Services/Query/DeactivatedSubscriberBalanceQuery/Schema/DeactSubsBalanceOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CUSTOMER_ID" minOccurs="0"/>
				<xs:element ref="CONTRACT_ID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="OUTSTANDING_AMNT" minOccurs="0"/>
				<xs:element ref="TOTAL_OUTSTANDING_OUT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CUSTOMER_ID" type="xs:string"/>
	<xs:element name="OUTSTANDING_AMNT" type="xs:string"/>
	<xs:element name="CONTRACT_ID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="TOTAL_OUTSTANDING_OUT" type="xs:string"/>
</xs:schema>