src/CommonProject/BusinessWSDLS/Services/WSDLS/TelephonyService/AvayaTelephonyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns1="http://TelephonyService.ws.avaya.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns2="http://basictelephony.api.avaya.com" xmlns:tns3="http://xml.avaya.com/ws/session" xmlns:impl="http://xml.avaya.com/ws/TelephonyService/2005/04/04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://xml.avaya.com/ws/TelephonyService/2005/04/04">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://TelephonyService.ws.avaya.com">
            <element name="makeCall" type="tns1:endpoints"/>
            <element name="singleStepConferenceCall" type="tns1:endpoints"/>
            <element name="singleStepTransferCall" type="tns1:endpoints"/>
            <complexType name="endpoints">
                <sequence>
                    <element name="originatingExtension" type="xsd:string"/>
                    <element name="destinationNumber" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="release" nillable="true" type="xsd:string"/>
            <element name="attach" nillable="true" type="xsd:string"/>
            <element name="disconnectActiveCall" type="tns1:extension"/>
            <element name="answerAlertingCall" type="tns1:extension"/>
            <complexType name="extension">
                <sequence>
                    <element name="extension" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="disconnectActiveCallResponse" type="tns1:empty"/>
            <element name="makeCallResponse" type="tns1:empty"/>
            <element name="singleStepConferenceCallResponse" type="tns1:empty"/>
            <element name="attachResponse" type="tns1:empty"/>
            <element name="releaseResponse" type="tns1:empty"/>
            <element name="answerAlertingCallResponse" type="tns1:empty"/>
            <element name="singleStepTransferCallResponse" type="tns1:empty"/>
            <complexType name="empty"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://basictelephony.api.avaya.com">
            <element name="InvalidSessionException" type="tns2:InvalidSessionException"/>
            <complexType name="InvalidSessionException">
                <sequence/>
            </complexType>
            <element name="BasicTelephonyException" type="tns2:BasicTelephonyException"/>
            <complexType name="BasicTelephonyException">
                <sequence>
                    <element name="subErrorCode" type="xsd:int"/>
                    <element name="errorMessage" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="SwitchNotReachableException" type="tns2:SwitchNotReachableException"/>
            <complexType name="SwitchNotReachableException">
                <complexContent>
                    <extension base="tns2:BasicTelephonyException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <element name="InvalidPartyException" type="tns2:InvalidPartyException"/>
            <complexType name="InvalidPartyException">
                <complexContent>
                    <extension base="tns2:BasicTelephonyException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <element name="ActiveCallExistsException" type="tns2:ActiveCallExistsException"/>
            <complexType name="ActiveCallExistsException">
                <complexContent>
                    <extension base="tns2:BasicTelephonyException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <element name="NoActiveCallException" type="tns2:NoActiveCallException"/>
            <complexType name="NoActiveCallException">
                <complexContent>
                    <extension base="tns2:BasicTelephonyException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <element name="NoAlertingCallException" type="tns2:NoAlertingCallException"/>
            <complexType name="NoAlertingCallException">
                <complexContent>
                    <extension base="tns2:BasicTelephonyException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <element name="InvalidCredentialsException" type="tns2:InvalidCredentialsException"/>
            <complexType name="InvalidCredentialsException">
                <complexContent>
                    <extension base="tns2:BasicTelephonyException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.avaya.com/ws/session">
            <import namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
            <element name="sessionID" type="xsd:string"/>
        </schema>
    </types>
    <message name="SessionID">
        <part element="tns3:sessionID" name="sessionID"/>
    </message>
    <message name="disconnectActiveCallRequest">
        <part element="tns1:disconnectActiveCall" name="extension"/>
    </message>
    <message name="disconnectActiveCallResponse">
        <part element="tns1:disconnectActiveCallResponse" name="body"/>
    </message>
    <message name="attachRequest">
        <part element="tns1:attach" name="nothing"/>
    </message>
    <message name="attachResponse">
        <part element="tns1:attachResponse" name="attachResponse"/>
    </message>
    <message name="singleStepConferenceCallRequest">
        <part element="tns1:singleStepConferenceCall" name="endpoints"/>
    </message>
    <message name="singleStepConferenceCallResponse">
        <part element="tns1:singleStepConferenceCallResponse" name="singleStepConferenceCallResponse"/>
    </message>
    <message name="makeCallRequest">
        <part element="tns1:makeCall" name="endpoints"/>
    </message>
    <message name="makeCallResponse">
        <part element="tns1:makeCallResponse" name="makeCallResponse"/>
    </message>
    <message name="releaseRequest">
        <part element="tns1:release" name="nothing"/>
    </message>
    <message name="releaseResponse">
        <part element="tns1:releaseResponse" name="releaseResponse"/>
    </message>
    <message name="answerAlertingCallRequest">
        <part element="tns1:answerAlertingCall" name="extension"/>
    </message>
    <message name="answerAlertingCallResponse">
        <part element="tns1:answerAlertingCallResponse" name="answerAlertingCallResponse"/>
    </message>
    <message name="singleStepTransferCallRequest">
        <part element="tns1:singleStepTransferCall" name="endpoints"/>
    </message>
    <message name="singleStepTransferCallResponse">
        <part element="tns1:singleStepTransferCallResponse" name="singleStepTransferCallResponse"/>
    </message>
    <message name="ActiveCallExistsException">
        <part element="tns2:ActiveCallExistsException" name="fault"/>
    </message>
    <message name="InvalidCredentialsException">
        <part element="tns2:InvalidCredentialsException" name="fault"/>
    </message>
    <message name="InvalidPartyException">
        <part element="tns2:InvalidPartyException" name="fault"/>
    </message>
    <message name="SwitchNotReachableException">
        <part element="tns2:SwitchNotReachableException" name="fault"/>
    </message>
    <message name="NoAlertingCallException">
        <part element="tns2:NoAlertingCallException" name="fault"/>
    </message>
    <message name="InvalidSessionException">
        <part element="tns2:InvalidSessionException" name="fault"/>
    </message>
    <message name="NoActiveCallException">
        <part element="tns2:NoActiveCallException" name="fault"/>
    </message>
    <portType name="TelephonyService">
        <operation name="release">
            <input message="impl:releaseRequest" name="releaseRequest"/>
            <output message="impl:releaseResponse" name="releaseResponse"/>
            <fault message="impl:InvalidSessionException" name="InvalidSessionException"/>
        </operation>
        <operation name="attach">
            <input message="impl:attachRequest" name="attachRequest"/>
            <output message="impl:attachResponse" name="attachResponse"/>
            <fault message="impl:InvalidCredentialsException" name="InvalidCredentialsException"/>
            <fault message="impl:InvalidSessionException" name="InvalidSessionException"/>
            <fault message="impl:SwitchNotReachableException" name="SwitchNotReachableException"/>
        </operation>
        <operation name="makeCall">
            <input message="impl:makeCallRequest" name="makeCallRequest"/>
            <output message="impl:makeCallResponse" name="makeCallResponse"/>
            <fault message="impl:InvalidCredentialsException" name="InvalidCredentialsException"/>
            <fault message="impl:InvalidSessionException" name="InvalidSessionException"/>
            <fault message="impl:SwitchNotReachableException" name="SwitchNotReachableException"/>
            <fault message="impl:ActiveCallExistsException" name="ActiveCallExistsException"/>
            <fault message="impl:InvalidPartyException" name="InvalidPartyException"/>
        </operation>
        <operation name="disconnectActiveCall">
            <input message="impl:disconnectActiveCallRequest" name="disconnectActiveCallRequest"/>
            <output message="impl:disconnectActiveCallResponse" name="disconnectActiveCallResponse"/>
            <fault message="impl:InvalidCredentialsException" name="InvalidCredentialsException"/>
            <fault message="impl:InvalidSessionException" name="InvalidSessionException"/>
            <fault message="impl:SwitchNotReachableException" name="SwitchNotReachableException"/>
            <fault message="impl:InvalidPartyException" name="InvalidPartyException"/>
            <fault message="impl:NoActiveCallException" name="NoActiveCallException"/>
        </operation>
        <operation name="singleStepTransferCall">
            <input message="impl:singleStepTransferCallRequest" name="singleStepTransferCallRequest"/>
            <output message="impl:singleStepTransferCallResponse" name="singleStepTransferCallResponse"/>
            <fault message="impl:InvalidCredentialsException" name="InvalidCredentialsException"/>
            <fault message="impl:InvalidSessionException" name="InvalidSessionException"/>
            <fault message="impl:SwitchNotReachableException" name="SwitchNotReachableException"/>
            <fault message="impl:InvalidPartyException" name="InvalidPartyException"/>
            <fault message="impl:NoActiveCallException" name="NoActiveCallException"/>
        </operation>
        <operation name="singleStepConferenceCall">
            <input message="impl:singleStepConferenceCallRequest" name="singleStepConferenceCallRequest"/>
            <output message="impl:singleStepConferenceCallResponse" name="singleStepConferenceCallResponse"/>
            <fault message="impl:InvalidCredentialsException" name="InvalidCredentialsException"/>
            <fault message="impl:InvalidSessionException" name="InvalidSessionException"/>
            <fault message="impl:SwitchNotReachableException" name="SwitchNotReachableException"/>
            <fault message="impl:InvalidPartyException" name="InvalidPartyException"/>
            <fault message="impl:NoActiveCallException" name="NoActiveCallException"/>
        </operation>
        <operation name="answerAlertingCall">
            <input message="impl:answerAlertingCallRequest" name="answerAlertingCallRequest"/>
            <output message="impl:answerAlertingCallResponse" name="answerAlertingCallResponse"/>
            <fault message="impl:NoAlertingCallException" name="NoAlertingCallException"/>
            <fault message="impl:InvalidCredentialsException" name="InvalidCredentialsException"/>
            <fault message="impl:InvalidSessionException" name="InvalidSessionException"/>
            <fault message="impl:SwitchNotReachableException" name="SwitchNotReachableException"/>
            <fault message="impl:ActiveCallExistsException" name="ActiveCallExistsException"/>
            <fault message="impl:InvalidPartyException" name="InvalidPartyException"/>
        </operation>
    </portType>
    <binding name="TelephonyServiceSoapBinding" type="impl:TelephonyService">
        <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="release">
            <soapbind:operation soapAction=""/>
            <input name="releaseRequest">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </input>
            <output name="releaseResponse">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </output>
            <fault name="InvalidSessionException">
                <soapbind:fault name="InvalidSessionException" use="literal"/>
            </fault>
        </operation>
        <operation name="attach">
            <soapbind:operation soapAction=""/>
            <input name="attachRequest">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </input>
            <output name="attachResponse">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </output>
            <fault name="InvalidCredentialsException">
                <soapbind:fault name="InvalidCredentialsException" use="literal"/>
            </fault>
            <fault name="InvalidSessionException">
                <soapbind:fault name="InvalidSessionException" use="literal"/>
            </fault>
            <fault name="SwitchNotReachableException">
                <soapbind:fault name="SwitchNotReachableException" use="literal"/>
            </fault>
        </operation>
        <operation name="makeCall">
            <soapbind:operation soapAction=""/>
            <input name="makeCallRequest">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </input>
            <output name="makeCallResponse">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </output>
            <fault name="InvalidCredentialsException">
                <soapbind:fault name="InvalidCredentialsException" use="literal"/>
            </fault>
            <fault name="InvalidSessionException">
                <soapbind:fault name="InvalidSessionException" use="literal"/>
            </fault>
            <fault name="SwitchNotReachableException">
                <soapbind:fault name="SwitchNotReachableException" use="literal"/>
            </fault>
            <fault name="ActiveCallExistsException">
                <soapbind:fault name="ActiveCallExistsException" use="literal"/>
            </fault>
            <fault name="InvalidPartyException">
                <soapbind:fault name="InvalidPartyException" use="literal"/>
            </fault>
        </operation>
        <operation name="disconnectActiveCall">
            <soapbind:operation soapAction=""/>
            <input name="disconnectActiveCallRequest">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </input>
            <output name="disconnectActiveCallResponse">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </output>
            <fault name="InvalidCredentialsException">
                <soapbind:fault name="InvalidCredentialsException" use="literal"/>
            </fault>
            <fault name="InvalidSessionException">
                <soapbind:fault name="InvalidSessionException" use="literal"/>
            </fault>
            <fault name="SwitchNotReachableException">
                <soapbind:fault name="SwitchNotReachableException" use="literal"/>
            </fault>
            <fault name="InvalidPartyException">
                <soapbind:fault name="InvalidPartyException" use="literal"/>
            </fault>
            <fault name="NoActiveCallException">
                <soapbind:fault name="NoActiveCallException" use="literal"/>
            </fault>
        </operation>
        <operation name="singleStepTransferCall">
            <soapbind:operation soapAction=""/>
            <input name="singleStepTransferCallRequest">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </input>
            <output name="singleStepTransferCallResponse">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </output>
            <fault name="InvalidCredentialsException">
                <soapbind:fault name="InvalidCredentialsException" use="literal"/>
            </fault>
            <fault name="InvalidSessionException">
                <soapbind:fault name="InvalidSessionException" use="literal"/>
            </fault>
            <fault name="SwitchNotReachableException">
                <soapbind:fault name="SwitchNotReachableException" use="literal"/>
            </fault>
            <fault name="InvalidPartyException">
                <soapbind:fault name="InvalidPartyException" use="literal"/>
            </fault>
            <fault name="NoActiveCallException">
                <soapbind:fault name="NoActiveCallException" use="literal"/>
            </fault>
        </operation>
        <operation name="singleStepConferenceCall">
            <soapbind:operation soapAction=""/>
            <input name="singleStepConferenceCallRequest">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </input>
            <output name="singleStepConferenceCallResponse">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </output>
            <fault name="InvalidCredentialsException">
                <soapbind:fault name="InvalidCredentialsException" use="literal"/>
            </fault>
            <fault name="InvalidSessionException">
                <soapbind:fault name="InvalidSessionException" use="literal"/>
            </fault>
            <fault name="SwitchNotReachableException">
                <soapbind:fault name="SwitchNotReachableException" use="literal"/>
            </fault>
            <fault name="InvalidPartyException">
                <soapbind:fault name="InvalidPartyException" use="literal"/>
            </fault>
            <fault name="NoActiveCallException">
                <soapbind:fault name="NoActiveCallException" use="literal"/>
            </fault>
        </operation>
        <operation name="answerAlertingCall">
            <soapbind:operation soapAction=""/>
            <input name="answerAlertingCallRequest">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </input>
            <output name="answerAlertingCallResponse">
                <soapbind:header message="impl:SessionID" part="sessionID" use="literal"/>
                <soapbind:body use="literal"/>
            </output>
            <fault name="NoAlertingCallException">
                <soapbind:fault name="NoAlertingCallException" use="literal"/>
            </fault>
            <fault name="InvalidCredentialsException">
                <soapbind:fault name="InvalidCredentialsException" use="literal"/>
            </fault>
            <fault name="InvalidSessionException">
                <soapbind:fault name="InvalidSessionException" use="literal"/>
            </fault>
            <fault name="SwitchNotReachableException">
                <soapbind:fault name="SwitchNotReachableException" use="literal"/>
            </fault>
            <fault name="ActiveCallExistsException">
                <soapbind:fault name="ActiveCallExistsException" use="literal"/>
            </fault>
            <fault name="InvalidPartyException">
                <soapbind:fault name="InvalidPartyException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="TelephonyServiceService">
        <port binding="impl:TelephonyServiceSoapBinding" name="TelephonyService">
            <soapbind:address location="http://10.99.107.209/axis/services/TelephonyService"/>
        </port>
    </service>
</definitions>