src/CommonProject/BusinessWSDLS/Services/BSCS/MsisdnReinstallCancel/MsisdnReinstallCancelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/msisdnreinstallcancel" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
							</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;New value for a named value.&lt;/p&gt;
							</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
							&lt;p&gt;&lt;/p&gt;
						</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/msisdnreinstallcancel" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/msisdnreinstallcancel">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="msisdnReinstallCancelRequest" type="wsi:msisdnReinstallCancelRequest"/>
            <xs:element name="msisdnReinstallCancelResponse" type="wsi:msisdnReinstallCancelResponse"/>
            <xs:complexType name="msisdnReinstallCancelResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="successful" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;Flag to specify if transaction with webservice was successful&lt;/p&gt;
							</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;Directory Number Id&lt;/p&gt;
							</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;Directory Number&lt;/p&gt;
							</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="msisdnReinstallCancelRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="msisdnReinstallCancelRequest">
        <wsdl:part element="sch3:msisdnReinstallCancelRequest" name="msisdnReinstallCancelRequest"/>
    </wsdl:message>
    <wsdl:message name="msisdnReinstallCancelResponse">
        <wsdl:part element="sch3:msisdnReinstallCancelResponse" name="msisdnReinstallCancelResponse"/>
    </wsdl:message>
    <wsdl:portType name="MsisdnReinstallCancelService">
        <wsdl:operation name="msisdnReinstallCancel">
            <wsdl:input message="tns:msisdnReinstallCancelRequest" name="msisdnReinstallCancelRequest"/>
            <wsdl:output message="tns:msisdnReinstallCancelResponse" name="msisdnReinstallCancelResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MsisdnReinstallCancelServiceSoap11" type="tns:MsisdnReinstallCancelService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="msisdnReinstallCancel">
            <soap:operation soapAction=""/>
            <wsdl:input name="msisdnReinstallCancelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="msisdnReinstallCancelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MsisdnReinstallCancelService">
        <wsdl:port binding="tns:MsisdnReinstallCancelServiceSoap11" name="MsisdnReinstallCancelServiceSoap11">
            <soap:address location="http://10.96.103.208:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>