src/CommonProject/BusinessWSDLS/Services/WSDLS/ResourceManagement/ResourceManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/ResourceManagement" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typ="http://www.zain.com/ZESB/Services/ResourceManagement/Types" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/ResourceManagement">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DecimalParam">
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="ParamList">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="BooleanParam" type="com:BooleanParam" maxOccurs="unbounded"/>
                    <xs:element name="DateParam" type="com:DateParam" maxOccurs="unbounded"/>
                    <xs:element name="DateTimeParam" type="com:DateTimeParam" maxOccurs="unbounded"/>
                    <xs:element name="DecimalParam" type="com:DecimalParam" maxOccurs="unbounded"/>
                    <xs:element name="DoubleParam" type="com:DoubleParam" maxOccurs="unbounded"/>
                    <xs:element name="FloatParam" type="com:FloatParam" maxOccurs="unbounded"/>
                    <xs:element name="IntParam" type="com:IntParam" maxOccurs="unbounded"/>
                    <xs:element name="LongParam" type="com:LongParam" maxOccurs="unbounded"/>
                    <xs:element name="StringParam" type="com:StringParam" maxOccurs="unbounded"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" use="required" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string"/>
                        <xs:element name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/ResourceManagement/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="IdentityName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                    <xs:element minOccurs="0" name="Name" type="xs:string"/>
                    <xs:element minOccurs="0" name="Title" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="LastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="SecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ThirdName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicTitle" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicFirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicLastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicSecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicThirdName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Identity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="typ:IdentityName"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MSISDN" type="xs:string"/>
                    <xs:element minOccurs="0" name="Area" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransferDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="BillingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BasicServiceType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BSFlag" type="xs:string"/>
                    <xs:element minOccurs="0" name="MainSubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="HLRProfile" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="ContractAuthority" type="xs:string"/>
                    <xs:element minOccurs="0" name="GSMMain" type="xs:string"/>
                    <xs:element minOccurs="0" name="SCRClass" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditLimit" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstCallDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Identity" type="typ:Identity"/>
                    <xs:element minOccurs="0" name="Details" type="typ:SubscriberDetails"/>
                    <xs:element minOccurs="0" name="ParamList" type="com:ParamList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Subscriber">
                <xs:sequence>
                    <xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
                    <xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
                    <xs:element name="ContractID" type="xs:string" minOccurs="0"/>
                    <xs:element name="AccountStatus" type="xs:string" minOccurs="0"/>
                    <xs:element name="Segment" type="xs:string" minOccurs="0"/>
                    <xs:element name="SubscriberInfo" type="typ:SubscriberInfo" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SIMStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Free"/>
                    <xs:enumeration value="Purchased"/>
                    <xs:enumeration value="Received"/>
                    <xs:enumeration value="Reserved"/>
                    <xs:enumeration value="Assigned"/>
                    <xs:enumeration value="Deassigned"/>
                    <xs:enumeration value="Failed"/>
                    <xs:enumeration value="Preactivated"/>
                    <xs:enumeration value="Ordered"/>
                    <xs:enumeration value="MemberOfPool"/>
                    <xs:enumeration value="Booked"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ResourceDetails">
                <xs:sequence>
                    <xs:element name="ModelName" type="xs:string" minOccurs="0"/>
                    <xs:element name="Identifer" type="xs:string" minOccurs="0"/>
                    <xs:element name="Status" type="typ:SIMStatus" minOccurs="1"/>
                    <xs:element name="VendorCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="IMSI" type="xs:string" minOccurs="0"/>
                    <xs:element name="ICCID" type="xs:string" minOccurs="0"/>
                    <xs:element name="PIN1" type="xs:string" minOccurs="0"/>
                    <xs:element name="PIN2" type="xs:string" minOccurs="0"/>
                    <xs:element name="PUK1" type="xs:string" minOccurs="0"/>
                    <xs:element name="PUK2" type="xs:string" minOccurs="0"/>
                    <xs:element name="ParamList" type="com:ParamList" minOccurs="0"/>
                    <xs:element name="Subscriber" type="typ:Subscriber" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryResourceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResourceType" type="xs:string" minOccurs="1"/>
                        <xs:element name="SerialNumber" type="xs:string" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryResourceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResourceDetails" type="typ:ResourceDetails" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryResourceRequest">
        <wsdl:part name="QueryResourceInput" element="typ:QueryResourceRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryResourceResponse">
        <wsdl:part name="QueryResourceOutput" element="typ:QueryResourceResponse"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part name="fault" element="com:FaultType"/>
    </wsdl:message>
    <wsdl:portType name="ResourceManagementPort">
        <wsdl:operation name="QueryResource">
            <wsdl:input message="tns:QueryResourceRequest"/>
            <wsdl:output message="tns:QueryResourceResponse"/>
            <wsdl:fault name="fault" message="tns:FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ResourceManagementBinding" type="tns:ResourceManagementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryResource">
            <soap:operation soapAction="QueryResource"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ResourceManagementService">
        <wsdl:port name="ResourceManagement" binding="tns:ResourceManagementBinding">
            <soap:address location="/SOAP/ResourceManagement"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>