src/CommonProject/BusinessWSDLS/Services/WSDLS/CMS-LMC/CmsLmcService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.ttech.cms.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CmsLmcService" targetNamespace="http://com.ttech.cms.ws">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.ttech.cms.ws" xmlns:tns="http://com.ttech.cms.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="HasDataPlan" type="tns:HasDataPlan"/>
			<xs:element name="HasDataPlanResponse" type="tns:HasDataPlanResponse"/>
			<xs:complexType name="HasDataPlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasDataPlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasVoicePlan" type="tns:HasVoicePlan"/>
			<xs:element name="HasVoicePlanResponse" type="tns:HasVoicePlanResponse"/>
			<xs:complexType name="HasVoicePlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasVoicePlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasLocalSMSPlan" type="tns:HasLocalSMSPlan"/>
			<xs:element name="HasLocalSMSPlanResponse" type="tns:HasLocalSMSPlanResponse"/>
			<xs:complexType name="HasLocalSMSPlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasLocalSMSPlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasIntSMSPlan" type="tns:HasIntSMSPlan"/>
			<xs:element name="HasIntSMSPlanResponse" type="tns:HasIntSMSPlanResponse"/>
			<xs:complexType name="HasIntSMSPlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasIntSMSPlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasNoDataPlan" type="tns:HasNoDataPlan"/>
			<xs:element name="HasNoDataPlanResponse" type="tns:HasNoDataPlanResponse"/>
			<xs:complexType name="HasNoDataPlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasNoDataPlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasNoVoicePlan" type="tns:HasNoVoicePlan"/>
			<xs:element name="HasNoVoicePlanResponse" type="tns:HasNoVoicePlanResponse"/>
			<xs:complexType name="HasNoVoicePlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasNoVoicePlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasNoLocalSMSPlan" type="tns:HasNoLocalSMSPlan"/>
			<xs:element name="HasNoLocalSMSPlanResponse" type="tns:HasNoLocalSMSPlanResponse"/>
			<xs:complexType name="HasNoLocalSMSPlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasNoLocalSMSPlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasNoIntSMSPlan" type="tns:HasNoIntSMSPlan"/>
			<xs:element name="HasNoIntSMSPlanResponse" type="tns:HasNoIntSMSPlanResponse"/>
			<xs:complexType name="HasNoIntSMSPlan">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasNoIntSMSPlanResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasRoxanne" type="tns:HasRoxanne"/>
			<xs:element name="HasRoxanneResponse" type="tns:HasRoxanneResponse"/>
			<xs:complexType name="HasRoxanne">
				<xs:sequence>
					<xs:element minOccurs="1" name="request" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasRoxanneResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="response" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="HasRox" type="tns:HasRoxanne"/>
			<xs:element name="HasRoxResponse" type="tns:HasRoxanneResponse"/>
			<xs:element name="HasRox2" type="tns:HasRoxanne"/>
			<xs:element name="HasRox2Response" type="tns:HasRoxanneResponse"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HasDataPlan">
		<wsdl:part name="parameters" element="tns:HasDataPlan"/>
	</wsdl:message>
	<wsdl:message name="HasDataPlanResponse">
		<wsdl:part name="parameters" element="tns:HasDataPlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasVoicePlan">
		<wsdl:part name="parameters" element="tns:HasVoicePlan"/>
	</wsdl:message>
	<wsdl:message name="HasVoicePlanResponse">
		<wsdl:part name="parameters" element="tns:HasVoicePlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasLocalSMSPlan">
		<wsdl:part name="parameters" element="tns:HasLocalSMSPlan"/>
	</wsdl:message>
	<wsdl:message name="HasLocalSMSPlanResponse">
		<wsdl:part name="parameters" element="tns:HasLocalSMSPlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasIntSMSPlan">
		<wsdl:part name="parameters" element="tns:HasIntSMSPlan"/>
	</wsdl:message>
	<wsdl:message name="HasIntSMSPlanResponse">
		<wsdl:part name="parameters" element="tns:HasIntSMSPlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasNoDataPlan">
		<wsdl:part name="parameters" element="tns:HasNoDataPlan"/>
	</wsdl:message>
	<wsdl:message name="HasNoDataPlanResponse">
		<wsdl:part name="parameters" element="tns:HasNoDataPlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasNoVoicePlan">
		<wsdl:part name="parameters" element="tns:HasNoVoicePlan"/>
	</wsdl:message>
	<wsdl:message name="HasNoVoicePlanResponse">
		<wsdl:part name="parameters" element="tns:HasNoVoicePlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasNoLocalSMSPlan">
		<wsdl:part name="parameters" element="tns:HasNoLocalSMSPlan"/>
	</wsdl:message>
	<wsdl:message name="HasNoLocalSMSPlanResponse">
		<wsdl:part name="parameters" element="tns:HasNoLocalSMSPlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasNoIntSMSPlan">
		<wsdl:part name="parameters" element="tns:HasNoIntSMSPlan"/>
	</wsdl:message>
	<wsdl:message name="HasNoIntSMSPlanResponse">
		<wsdl:part name="parameters" element="tns:HasNoIntSMSPlanResponse"/>
	</wsdl:message>
	<wsdl:message name="HasRoxanne">
		<wsdl:part name="parameters" element="tns:HasRoxanne">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="HasRoxanneResponse">
		<wsdl:part name="parameters" element="tns:HasRoxanneResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="HasRox">
		<wsdl:part name="parameters" element="tns:HasRox">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="HasRoxResponse">
		<wsdl:part name="parameters" element="tns:HasRoxResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="HasRox2">
		<wsdl:part name="parameters" element="tns:HasRox2">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="HasRox2Response">
		<wsdl:part name="parameters" element="tns:HasRox2Response">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CmsLmcFunctions">
		<wsdl:operation name="HasDataPlan">
			<wsdl:input name="HasDataPlan" message="tns:HasDataPlan"/>
			<wsdl:output name="HasDataPlanResponse" message="tns:HasDataPlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasVoicePlan">
			<wsdl:input name="HasVoicePlan" message="tns:HasVoicePlan"/>
			<wsdl:output name="HasVoicePlanResponse" message="tns:HasVoicePlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasLocalSMSPlan">
			<wsdl:input name="HasLocalSMSPlan" message="tns:HasLocalSMSPlan"/>
			<wsdl:output name="HasLocalSMSPlanResponse" message="tns:HasLocalSMSPlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasIntSMSPlan">
			<wsdl:input name="HasIntSMSPlan" message="tns:HasIntSMSPlan"/>
			<wsdl:output name="HasIntSMSPlanResponse" message="tns:HasIntSMSPlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasNoDataPlan">
			<wsdl:input name="HasNoDataPlan" message="tns:HasNoDataPlan"/>
			<wsdl:output name="HasNoDataPlanResponse" message="tns:HasNoDataPlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasNoVoicePlan">
			<wsdl:input name="HasNoVoicePlan" message="tns:HasNoVoicePlan"/>
			<wsdl:output name="HasNoVoicePlanResponse" message="tns:HasNoVoicePlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasNoLocalSMSPlan">
			<wsdl:input name="HasNoLocalSMSPlan" message="tns:HasNoLocalSMSPlan"/>
			<wsdl:output name="HasNoLocalSMSPlanResponse" message="tns:HasNoLocalSMSPlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasNoIntSMSPlan">
			<wsdl:input name="HasNoIntSMSPlan" message="tns:HasNoIntSMSPlan"/>
			<wsdl:output name="HasNoIntSMSPlanResponse" message="tns:HasNoIntSMSPlanResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasRoxanne">
			<wsdl:input name="HasRoxanne" message="tns:HasRoxanne"/>
			<wsdl:output name="HasRoxanneResponse" message="tns:HasRoxanneResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasRox">
			<wsdl:input name="HasRox" message="tns:HasRox"/>
			<wsdl:output name="HasRoxResponse" message="tns:HasRoxResponse"/>
		</wsdl:operation>
		<wsdl:operation name="HasRox2">
			<wsdl:input name="HasRox2" message="tns:HasRox2"/>
			<wsdl:output name="HasRox2Response" message="tns:HasRox2Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CmsLmcServiceSoapBinding" type="tns:CmsLmcFunctions">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HasDataPlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasDataPlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasDataPlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasVoicePlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasVoicePlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasVoicePlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasLocalSMSPlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasLocalSMSPlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasLocalSMSPlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasIntSMSPlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasIntSMSPlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasIntSMSPlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasNoDataPlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasNoDataPlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasNoDataPlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasNoVoicePlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasNoVoicePlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasNoVoicePlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasNoLocalSMSPlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasNoLocalSMSPlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasNoLocalSMSPlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasNoIntSMSPlan">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasNoIntSMSPlan">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasNoIntSMSPlanResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasRoxanne">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasRoxanne">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasRoxanneResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasRox">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasRox">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasRoxResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HasRox2">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="HasRox2">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="HasRox2Response">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CmsLmcService">
		<wsdl:port name="CmsLmcServiceImplPort" binding="tns:CmsLmcServiceSoapBinding">
			<soap:address location="http://localhost:8088/CmsIntegrationWS/services/CmsLmcServiceImplPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
