src/CommonProject/BusinessSchemas/Services/Applications/ExternalChannel/InvoicePaymentUsingAdjustment/InvoicePaymentUsingAdjustmentRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/InvoicePaymentUsingAdjustmentRes"
	 targetNamespace="http://www.zain.com/ZESB/Services/InvoicePaymentUsingAdjustmentRes"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Dates are in dd-MM-yyyy format
</xs:documentation>
	</xs:annotation>
	<xs:element name="InvoicePaymentUsingAdjustmentRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="ReceiptNumber" type="xs:string" minOccurs="0"/>
				<xs:element ref="Params" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Params">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>