src/CommonProject/BusinessWSDLS/Services/WSDLS/DistributorManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://www.zain.com/ZESB/Services/DistributorManagement" 
xmlns:typ="http://www.zain.com/ZESB/Services/DistributorManagement/Types" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:com="http://www.zain.com/ZESB/Types/Common" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.zain.com/ZESB/Services/DistributorManagement"
>
  <wsdl:types>
  <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
            <xs:complexType name="ParamList">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="StringParam" type="com:StringParam"/>
                    <xs:element maxOccurs="unbounded" name="BooleanParam" type="com:BooleanParam"/>
                    <xs:element maxOccurs="unbounded" name="IntParam" type="com:IntParam"/>
                    <xs:element maxOccurs="unbounded" name="LongParam" type="com:LongParam"/>
                    <xs:element maxOccurs="unbounded" name="FloatParam" type="com:FloatParam"/>
                    <xs:element maxOccurs="unbounded" name="DecimalParam" type="com:DecimalParam"/>
                    <xs:element maxOccurs="unbounded" name="DoubleParam" type="com:DoubleParam"/>
                    <xs:element maxOccurs="unbounded" name="DateParam" type="com:DateParam"/>
                    <xs:element maxOccurs="unbounded" name="DateTimeParam" type="com:DateTimeParam"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DecimalParam">
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>			
		</xs:schema>
  <xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/DistributorManagement/Types" targetNamespace="http://www.zain.com/ZESB/Services/DistributorManagement/Types" elementFormDefault="qualified">
				<xs:element name="LockRetailerInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RetailerCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
				</xs:element>
				
				<xs:element name="LockRetailerOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
				</xs:element>
				
					<xs:element name="UnLockRetailerInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RetailerCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
				</xs:element>
				
				<xs:element name="UnLockRetailerOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
				</xs:element>
				
</xs:schema>
    
  </wsdl:types>
  <wsdl:message name="LockRequest">
    <wsdl:part name="request" element="typ:LockRetailerInput"/>
  </wsdl:message>
    <wsdl:message name="LockResponse">
    <wsdl:part name="request" element="typ:LockRetailerOutput"/>
  </wsdl:message>
  
    <wsdl:message name="UnLockRequest">
    <wsdl:part name="request" element="typ:UnLockRetailerInput"/>
  </wsdl:message>
  
    <wsdl:message name="UnLockResponse">
    <wsdl:part name="request" element="typ:UnLockRetailerOutput"/>
  </wsdl:message>
  <wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
  <wsdl:portType name="DistributorManagementPort">
    <wsdl:operation name="LockRetailer">
      <wsdl:input message="tns:LockRequest"/>
      <wsdl:output message="tns:LockResponse"/>
      
			<wsdl:fault name="fault" message="tns:faultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UnLockRetailer">
      <wsdl:input message="tns:UnLockRequest"/>
      <wsdl:output message="tns:UnLockResponse"/>
      
			<wsdl:fault name="fault" message="tns:faultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistributorManagementBinding" type="tns:DistributorManagementPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="LockRetailer">
      <soap:operation soapAction="LockRetailer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
    </wsdl:operation>
      <wsdl:operation name="UnLockRetailer">
      <soap:operation soapAction="UnLockRetailer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistributorManagement">
    <wsdl:port binding="tns:DistributorManagementBinding" name="DistributorManagementPort">
      <soap:address location="/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
