src/CommonProject/BusinessWSDLS/Services/WSDLS/GetSharedDataUsage_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/GetSharedDataUsage/GetSharedDataUsage" xmlns:ns0="http://www.zain.com/ZESB/Services/GetSharedDataUsage/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GetSharedDataUsage" targetNamespace="http://www.zain.com/ZESB/Services/GetSharedDataUsage/GetSharedDataUsage">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/GetSharedDataUsage/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/GetSharedDataUsage/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="DataUsageElement">
                <xs:sequence>
                    <xs:element name="MSISDN" type="ns0:MSISDN"/>
                    <xs:element name="IMSI" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="Service">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ID" type="xs:string"/>
                                <xs:element minOccurs="0" name="Type" type="xs:string"/>
                                <xs:element name="BillingStartDate" type="xs:dateTime"/>
                                <xs:element name="BillingEndDate" type="xs:dateTime"/>
                                <xs:element name="Quotas">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="Quota" type="ns0:QuotaType"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="DowngradeDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="MSISDN">
                <xs:restriction base="xs:string">
                    <xs:minLength value="7"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="QuotaType">
                <xs:sequence>
                    <xs:element name="ID" type="xs:string"/>
                    <xs:element name="Used" type="xs:long"/>
                    <xs:element name="Remaining" type="xs:long"/>
                    <xs:element name="Threshold" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetDependentUsageInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="ns0:MSISDN"/>
                        <xs:element name="OfferID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDependentUsageOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DependentUsage" type="ns0:DataUsageElement"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetMasterUsageInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MasterMsisdn" type="ns0:MSISDN"/>
                        <xs:element name="OfferID" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DependentsList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DependentMsisdn" type="ns0:MSISDN"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetMasterUsageOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TotalUsage" type="ns0:DataUsageElement"/>
                        <xs:element name="MasterUsage" type="ns0:DataUsageElement"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="DependentsUsageList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DependentUsage" type="ns0:DataUsageElement"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetDependentUsageRequest">
        <wsdl:part element="ns0:GetDependentUsageInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetDependentUsageResponse">
        <wsdl:part element="ns0:GetDependentUsageOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="GetMasterUsageRequest">
        <wsdl:part element="ns0:GetMasterUsageInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetMasterUsageResponse">
        <wsdl:part element="ns0:GetMasterUsageOutput" name="response"/>
    </wsdl:message>
    <wsdl:portType name="GetSharedDataUsagePort">
        <wsdl:operation name="GetDependentUsage">
            <wsdl:input message="tns:GetDependentUsageRequest"/>
            <wsdl:output message="tns:GetDependentUsageResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetMasterUsage">
            <wsdl:input message="tns:GetMasterUsageRequest"/>
            <wsdl:output message="tns:GetMasterUsageResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetSharedDataUsage" type="tns:GetSharedDataUsagePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDependentUsage">
            <wsdl:documentation/>
            <soap:operation soapAction="GetDependentUsage" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetMasterUsage">
            <wsdl:documentation/>
            <soap:operation soapAction="GetMasterUsage" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetSharedDataUsage">
        <wsdl:port binding="tns:GetSharedDataUsage" name="GetSharedDataUsage">
            <soap:address location="http://10.96.11.37:7071/ESB/SOAP/GetSharedDataUsage"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>