src/CommonProject/BusinessWSDLS/Services/BSCS/PortingRequestWrite/ws_CMI_5_PortingRequestWriteService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/portingrequestwrite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/portingrequestwrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/portingrequestwrite"><xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/><xs:element name="portingRequestWriteRequest" type="wsi:portingRequestWriteRequest"/><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Parameters passed in.</p>]]>
				</xs:documentation></xs:annotation><xs:element name="portingRequestId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifies the porting request.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalRequestId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>External request ID.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="status" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>The new status of the request.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reason" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reason for the new Status.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="portingDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>Porting date.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="transmitDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Mark a request as communicated successfully to an external system.
							<ul><li>If specified and is not null, then the porting request was transmitted.</li><li>If specified and is null, then the porting request should be transmitted again.</li><li>If not specified, then the transmit date will be not cchanged.</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="errorCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Error code.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="errorDes" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Error description.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="portingRequestWriteRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="portingRequestWriteRequest">
    <wsdl:part element="sch3:portingRequestWriteRequest" name="portingRequestWriteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortingRequestWriteService">
    <wsdl:operation name="portingRequestWrite">
      <wsdl:input message="tns:portingRequestWriteRequest" name="portingRequestWriteRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortingRequestWriteServiceSoap11" type="tns:PortingRequestWriteService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="portingRequestWrite">
      <soap:operation soapAction="portingRequestWrite"/>
      <wsdl:input name="portingRequestWriteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortingRequestWriteService">
    <wsdl:port binding="tns:PortingRequestWriteServiceSoap11" name="PortingRequestWriteServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services/ws_CMI_5_PortingRequestWriteService.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>