src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/RemedyCreateTicket/RemedyCreateTicket.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/BusinessSchemas/Services/Applications/ConceptWave/RemedyCreateTicket.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/BusinessSchemas/Services/Applications/ConceptWave/RemedyCreateTicket.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="RemedyCreateTicketRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="Input" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemedyCreateTicketResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseMessage" minOccurs="0"/>
				<xs:element ref="Output" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM correlation ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Siebel Order Id</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SubscriberNumber" minOccurs="0"/>
				<xs:element ref="SubscriberName" minOccurs="0"/>
				<xs:element ref="IssueType" minOccurs="0"/>
				<xs:element ref="Category" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="Item" minOccurs="0"/>
				<xs:element ref="Summary" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="CustomerVBM" minOccurs="0"/>
				<xs:element ref="ContactID" minOccurs="0"/>
				<xs:element ref="CustomerNumber" minOccurs="0"/>
				<xs:element ref="LineType" minOccurs="0"/>
				<xs:element ref="IDType" minOccurs="0"/>
				<xs:element ref="IDNumber" minOccurs="0"/>
				<xs:element ref="SubscriberStatus" minOccurs="0"/>
				<xs:element ref="PrePostFlag" minOccurs="0"/>
				<xs:element ref="CallerNumber" minOccurs="0"/>
				<xs:element ref="PreferredContactNumber1" minOccurs="0"/>
				<xs:element ref="PreferredContactNumber2" minOccurs="0"/>
				<xs:element ref="CustomerCategory" minOccurs="0"/>
				<xs:element ref="WTTX_SimCard_ICCID" minOccurs="0"/>
				<xs:element ref="WTTX_DeliveryTime" minOccurs="0"/>
				<xs:element ref="WTTX_SolutionType" minOccurs="0"/>
				<xs:element ref="WTTX_SpeedType" minOccurs="0"/>
				<xs:element ref="WTTX_SectorName" minOccurs="0"/>
				<xs:element ref="WTTX_CustomerLocation" minOccurs="0"/>
				<xs:element ref="WTTX_CPE_IMEI" minOccurs="0"/>
				<xs:element ref="User" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubscriberNumber" type="xs:string"/>
	<xs:element name="SubscriberName" type="xs:string"/>
	<xs:element name="IssueType" type="xs:string"/>
	<xs:element name="Category" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="Item" type="xs:string"/>
	<xs:element name="Summary" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Language" type="xs:string"/>
	<xs:element name="CustomerVBM" type="xs:string"/>
	<xs:element name="ContactID" type="xs:string"/>
	<xs:element name="CustomerNumber" type="xs:string"/>
	<xs:element name="LineType" type="xs:string"/>
	<xs:element name="IDType" type="xs:string"/>
	<xs:element name="IDNumber" type="xs:string"/>
	<xs:element name="SubscriberStatus" type="xs:string"/>
	<xs:element name="PrePostFlag" type="xs:string"/>
	<xs:element name="CallerNumber" type="xs:string"/>
	<xs:element name="PreferredContactNumber1" type="xs:string"/>
	<xs:element name="PreferredContactNumber2" type="xs:string"/>
	<xs:element name="CustomerCategory" type="xs:string"/>
	<xs:element name="WTTX_SimCard_ICCID" type="xs:string"/>
	<xs:element name="WTTX_DeliveryTime" type="xs:string"/>
	<xs:element name="WTTX_SolutionType" type="xs:string"/>
	<xs:element name="WTTX_SpeedType" type="xs:string"/>
	<xs:element name="WTTX_SectorName" type="xs:string"/>
	<xs:element name="WTTX_CustomerLocation" type="xs:string"/>
	<xs:element name="WTTX_CPE_IMEI" type="xs:string"/>
	<xs:element name="User" type="xs:string"/>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Request_ID" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseMessage" type="xs:string"/>
	<xs:element name="Request_ID" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
</xs:schema>