src/CommonProject/BusinessWSDLS/Services/WSDLS/NumberReservation/NumberReservationInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://www.zain.com/ZESB/Services/NumberReservation/QueryNumberPoolRequest" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns9="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/PrepaidMSISDNSearchRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReserveNumberResponse.xsd" xmlns:ns5="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/UnreserveNumberRequest.xsd" xmlns:ns6="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/UnreserveNumberResponse.xsd" xmlns:ns10="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/PrepaidMSISDNSearchResponse.xsd" xmlns:ns7="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReleaseNumberRequest.xsd" xmlns:ns11="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReserveNumberRequest.xsd" xmlns:ns8="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReleaseNumberResponse.xsd" xmlns:ns2="http://www.zain.com/ZESB/Services/NumberReservation/QueryNumberPoolResponse" xmlns:ns4="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/BlockNumberResponse.xsd" xmlns:ns3="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/BlockNumberRequest.xsd" xmlns:tns="http://www.zain.com/ZESB/Services/NumberReservation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typ="http://www.zain.com/ZESB/Services/NumberReservation/Types" targetNamespace="http://www.zain.com/ZESB/Services/NumberReservation">
    <wsdl:import namespace="http://www.zain.com/ZESB/Services/NumberReservation/QueryNumberPoolRequest" location="QueryNumberPoolRequest.xsd"/>
    <wsdl:import namespace="http://www.zain.com/ZESB/Services/NumberReservation/QueryNumberPoolResponse" location="QueryNumberPoolResponse.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/BlockNumberRequest.xsd" location="BlockNumberRequest.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/BlockNumberResponse.xsd" location="BlockNumberResponse.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/UnreserveNumberRequest.xsd" location="UnreserveNumberRequest.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/UnreserveNumberResponse.xsd" location="UnreserveNumberResponse.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReleaseNumberRequest.xsd" location="ReleaseNumberRequest.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReleaseNumberResponse.xsd" location="ReleaseNumberResponse.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/PrepaidMSISDNSearchRequest.xsd" location="PrepaidMSISDNSearchRequest.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/PrepaidMSISDNSearchResponse.xsd" location="PrepaidMSISDNSearchResponse.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReserveNumberRequest.xsd" location="ReserveNumberRequest.xsd"/>
    <wsdl:import namespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReserveNumberResponse.xsd" location="ReserveNumberResponse.xsd"/>
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/NumberReservation/Types">
            <xs:simpleType name="BillingTypeFilter">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ALL"/>
                    <xs:enumeration value="PREP"/>
                    <xs:enumeration value="POST"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="BsTypeFilter">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ALL"/>
                    <xs:enumeration value="VOICE"/>
                    <xs:enumeration value="DATA"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="Number" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Class" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="BillingType" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="BsType" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryByMatchRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="StartsWith" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="BillingType" type="typ:BillingTypeFilter"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="BsType" type="typ:BsTypeFilter"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Limit" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryByMatchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="NumbersList" type="typ:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryByClassRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Class" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="BillingType" type="typ:BillingTypeFilter"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="BsType" type="typ:BsTypeFilter"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Limit" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryByClassResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="NumbersList" type="typ:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReserveRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Number" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="Requester" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="CivilID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReserveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="RequestStatus" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryByMatchRequest">
        <wsdl:part element="typ:QueryByMatchRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="QueryByMatchResponse">
        <wsdl:part element="typ:QueryByMatchResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="QueryByClassRequest">
        <wsdl:part element="typ:QueryByClassRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="QueryByClassResponse">
        <wsdl:part element="typ:QueryByClassResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ReserveRequest">
        <wsdl:part element="typ:ReserveRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ReserveResponse">
        <wsdl:part element="typ:ReserveResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="QueryNumberPoolRequest">
        <wsdl:part element="ns:QueryNumberPoolReq" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="QueryNumberPoolResponse">
        <wsdl:part element="ns2:QueryNumberPoolRes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="BlockNumberInput">
        <wsdl:part element="ns3:BlockNumberRequest" name="blocknumberinput"/>
    </wsdl:message>
    <wsdl:message name="BlockNumberOutput">
        <wsdl:part element="ns4:BlockNumberResponse" name="blocknumberoutput"/>
    </wsdl:message>
    <wsdl:message name="UnreserveNumberRequest">
        <wsdl:part element="ns5:unreserveNumberRequest" name="UnreserveNumberInput"/>
    </wsdl:message>
    <wsdl:message name="UnreserveNumberResponse">
        <wsdl:part element="ns6:unreserveNumberResponse" name="UnreserveNumberOutput"/>
    </wsdl:message>
    <wsdl:message name="ReleaseNumberRequest">
        <wsdl:part element="ns7:releaseNumberRequest" name="ReleaseNumberInput"/>
    </wsdl:message>
    <wsdl:message name="ReleaseNumberResponse">
        <wsdl:part element="ns8:releaseNumberResponse" name="ReleaseNumberOutput"/>
    </wsdl:message>
    <wsdl:message name="PrepaidMSISDNSearchRequest">
        <wsdl:part element="ns9:prepaidMSISDNsearchReq" name="PrepaidMSISDNSearch"/>
    </wsdl:message>
    <wsdl:message name="PrepaidMSISDNSearchResponse">
        <wsdl:part element="ns10:prepaidMSISDNsearchRes" name="PrepaidMSISDNSearch"/>
    </wsdl:message>
    <wsdl:message name="ReserveNumberRequest">
        <wsdl:part name="parameters" element="ns11:reserveNumberRequest"/>
    </wsdl:message>
    <wsdl:message name="ReserveNumberResponse">
        <wsdl:part name="parameters" element="ns12:reserveNumberResponse"/>
    </wsdl:message>
    <wsdl:portType name="NumberReservationPort">
        <wsdl:operation name="QueryByMatch">
            <wsdl:input message="tns:QueryByMatchRequest"/>
            <wsdl:output message="tns:QueryByMatchResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryByClass">
            <wsdl:input message="tns:QueryByClassRequest"/>
            <wsdl:output message="tns:QueryByClassResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="Reserve">
            <wsdl:input message="tns:ReserveRequest"/>
            <wsdl:output message="tns:ReserveResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryNumberPool">
            <wsdl:input message="tns:QueryNumberPoolRequest"/>
            <wsdl:output message="tns:QueryNumberPoolResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault1"/>
        </wsdl:operation>
        <wsdl:operation name="BlockNumber">
            <wsdl:input message="tns:BlockNumberInput"/>
            <wsdl:output message="tns:BlockNumberOutput"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="UnreserveNumber">
            <wsdl:input message="tns:UnreserveNumberRequest"/>
            <wsdl:output message="tns:UnreserveNumberResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault1"/>
        </wsdl:operation>
        <wsdl:operation name="ReleaseNumber">
            <wsdl:input message="tns:ReleaseNumberRequest"/>
            <wsdl:output message="tns:ReleaseNumberResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault1"/>
        </wsdl:operation>
        <wsdl:operation name="PrepaidMSISDNSearch">
            <wsdl:input message="tns:PrepaidMSISDNSearchRequest"/>
            <wsdl:output message="tns:PrepaidMSISDNSearchResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault1"/>
        </wsdl:operation>
        <wsdl:operation name="ReserveNumber">
            <wsdl:input message="tns:ReserveNumberRequest"/>
            <wsdl:output message="tns:ReserveNumberResponse"/>
            <wsdl:fault name="fault1" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NumberReservationBinding" type="tns:NumberReservationPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryByMatch">
            <soap:operation soapAction="QueryByMatch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryByClass">
            <soap:operation soapAction="QueryByClass" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Reserve">
            <soap:operation soapAction="Reserve" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NumberReservation">
        <wsdl:port binding="tns:NumberReservationBinding" name="NumberReservationPort">
            <soap:address location="/ZESB/NumberReservation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>