src/CommonProject/BusinessWSDLS/Services/WSDLS/NumberReservation/QueryNumberPoolRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/NumberReservation/QueryNumberPoolRequest"
	 targetNamespace="http://www.zain.com/ZESB/Services/NumberReservation/QueryNumberPoolRequest"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="QueryNumberPoolReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ShopId" minOccurs="0"/>
				<xs:element name="DealerName" type="xs:string" minOccurs="0"/>
				<xs:element ref="Category" minOccurs="0"/>
				<xs:element ref="ReservationNumber" minOccurs="0"/>
				<xs:element name="SearchCount" type="xs:string" minOccurs="0"/>
				<xs:element name="MarketCode" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="ShopId" type="xs:string"/>
	<xs:element name="Category" type="xs:string"/>
	<xs:simpleType name="CategoryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VIP"/>
			<xs:enumeration value="Golden"/>
			<xs:enumeration value="Regular"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ReservationNumber" type="xs:string"/>
</xs:schema>