src/CommonProject/BusinessWSDLS/Services/WSDLS/NumberReservation/ReleaseNumberResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReleaseNumberResponse.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessWSDLS/Services/WSDLS/NumberReservation/ReleaseNumberResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="releaseNumberResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dnID" type="xs:string" minOccurs="0"/>
				<xs:element name="number" type="xs:string" minOccurs="0"/>
				<xs:element name="reservationNum" type="xs:string" minOccurs="0"/>
				<xs:element name="category" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>