src/CommonProject/BusinessSchemas/Services/Applications/Common/ContractStatusUpdate/ContractStatusUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/ContractStatusUpdate.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Response"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/ContractStatusUpdate.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response" schemaLocation="../../../../../CDM/Response.xsd"/>
	<xs:element name="ContractStatusUpdateReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Source" minOccurs="0"/>
				<xs:element ref="TransactionReference" minOccurs="0"/>
				<xs:element ref="RequestDateTime" minOccurs="0"/>
				<xs:element ref="ContractID" minOccurs="0"/>
				<xs:element ref="PreviousStatus" minOccurs="0"/>
				<xs:element ref="CurrentStatus" minOccurs="0"/>
				<xs:element ref="Reason" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Source" type="xs:string"/>
	<xs:element name="TransactionReference" type="xs:string"/>
	<xs:element name="RequestDateTime" type="xs:string"/>
	<xs:element name="ContractID" type="xs:string"/>
	<xs:element name="PreviousStatus" type="xs:string"/>
	<xs:element name="CurrentStatus" type="xs:string"/>
	<xs:element name="Reason" type="xs:string"/>
	<xs:element name="ContractStatusUpdateRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransactionStatus" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
				<xs:element ref="cdm:Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransactionStatus" type="xs:string"/>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>