src/CommonProject/BusinessSchemas/Services/Phase1Schemas/GetChargeHistory/GetChargeHistoryReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetChargeHistory/GetChargeHistoryReq.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Subscriber"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetChargeHistory/GetChargeHistoryReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Subscriber" schemaLocation="../../../../CDM/Subscriber.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:element name="GetChargeHistoryReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="cdm:Subscriber" minOccurs="0"/>
				<xs:element name="HistoryDuration">
					<xs:complexType>
						<xs:choice>
							<xs:element name="LastNoOfDays" type="xs:string"/>
							<xs:sequence>
								<xs:element name="StartDate" type="xs:dateTime"/>
								<xs:element name="EndDate" type="xs:dateTime"/>
							</xs:sequence>
						</xs:choice>
					</xs:complexType>					
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>