src/CommonProject/BusinessSchemas/Services/Phase1Schemas/GetChargeHistory/GetChargeHistoryRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetChargeHistory/GetChargeHistoryRes.xsd"
	xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header"
	xmlns:ns1="http://www.ericsson.com/CDM/telecom/Response"
	targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetChargeHistory/GetChargeHistoryRes.xsd"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header"
		schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response"
		schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:element name="GetChargeHistoryRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="ns1:Response"/>
				<xs:element name="ListOfChargeTransaction">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ChargeTransactionDetail" type="ChargeTransactionsType"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ChargeTransactionsType">
		<xs:sequence>
			<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ChargeType" type="xs:string" minOccurs="0"/>
			<xs:element name="ChargeAmount" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
						<xs:element name="Units" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="NewBalance" type="xs:decimal"/>
			<xs:element minOccurs="0" name="NewExpiry" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Purpose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
