src/CommonProject/BusinessSchemas/Services/Query/GetUsage/GetRatingBundlesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Query/GetUsage/GetRatingBundlesResponse.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Query/GetUsage/GetRatingBundlesResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GetRatingBundlesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Records" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ResponseCode"/>
				<xs:element ref="ResponseDescription"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Records">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="ServiceCode" minOccurs="0"/>
				<xs:element ref="Unit" minOccurs="0"/>
				<xs:element ref="Used" minOccurs="0"/>
				<xs:element ref="Threshold" minOccurs="0"/>
				<xs:element ref="Peak" minOccurs="0"/>
				<xs:element ref="OffPeak" minOccurs="0"/>
				<xs:element ref="OnNet" minOccurs="0"/>
				<xs:element ref="OffNet" minOccurs="0"/>
				<xs:element ref="StartDate" minOccurs="0"/>
				<xs:element ref="EndDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseDescription" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="ServiceCode" type="xs:string"/>
	<xs:element name="Unit" type="xs:string"/>
	<xs:element name="Used" type="xs:string"/>
	<xs:element name="Threshold" type="xs:string"/>
	<xs:element name="Peak" type="xs:string"/>
	<xs:element name="OffPeak" type="xs:string"/>
	<xs:element name="OnNet" type="xs:string"/>
	<xs:element name="OffNet" type="xs:string"/>
	<xs:element name="StartDate" type="xs:string"/>
	<xs:element name="EndDate" type="xs:string"/>
</xs:schema>