src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/updateEsimSubscription/updateEsimSubscriptionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/EntitleServer/updateEsimSubscriptionRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/EntitleServer/updateEsimSubscriptionRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="updateEsimSubscriptionReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrderHeader" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
							<xs:element name="serviceOrderId" type="xs:string" minOccurs="0"/>
							<xs:element name="salesOrderId" type="xs:string" minOccurs="0"/>
							<xs:element name="buIdPubKey" type="xs:string" minOccurs="0"/>
							<xs:element name="buIdPubValue" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="iccid" type="xs:string" minOccurs="0"/>
				<xs:element name="source_iccid" type="xs:string" minOccurs="0"/>
				<xs:element name="eid" type="xs:string" minOccurs="0"/>
				<xs:element name="primary_imsi" type="xs:string" minOccurs="0"/>
				<xs:element name="primary_msisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="imsi" type="xs:string" minOccurs="0"/>
				<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="activation_status" type="xs:string" minOccurs="0"/>
				<xs:element name="displayname" type="xs:string" minOccurs="0"/>
				<xs:element name="NameValuePairs" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NameValuePair" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string" minOccurs="0"/>
										<xs:element name="Value" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>