src/GW_OrdMgmt/tester/GetSubInfo_Clinet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:ns1="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfoResponse.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.zain.com/BSS/ESB/getSubInfo" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns0="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfo.xsd" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.zain.com/BSS/ESB/getSubInfo">
    <wsdl:types>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfo.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfo.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="getSubInfo">
                <xs:sequence>
                    <xs:element ref="ns0:session" minOccurs="0"/>
                    <xs:element ref="ns0:msisdn" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="session">
                <xs:sequence>
                    <xs:element ref="ns0:actorId" minOccurs="0"/>
                    <xs:element ref="ns0:language" minOccurs="0"/>
                    <xs:element ref="ns0:sessionId" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="actorId" type="xs:string"/>
            <xs:element name="getSubInfo" type="ns0:getSubInfo"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="msisdn" type="xs:string"/>
            <xs:element name="session" type="ns0:session"/>
            <xs:element name="sessionId" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfoResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfoResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="comment">
                <xs:sequence>
                    <xs:element ref="ns1:type" minOccurs="0"/>
                    <xs:element ref="ns1:value" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="commentList">
                <xs:sequence>
                    <xs:element ref="ns1:comment" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="fraudByMASOList">
                <xs:sequence>
                    <xs:element ref="ns1:fraudByfraudByMASO" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="fraudByfraudByMASO">
                <xs:sequence>
                    <xs:element ref="ns1:aliasCategory" minOccurs="0"/>
                    <xs:element ref="ns1:dailyFraud" minOccurs="0"/>
                    <xs:element ref="ns1:ailyFraudLimit" minOccurs="0"/>
                    <xs:element ref="ns1:medium" minOccurs="0"/>
                    <xs:element ref="ns1:monthlyFraud" minOccurs="0"/>
                    <xs:element ref="ns1:monthlyFraudLimit" minOccurs="0"/>
                    <xs:element ref="ns1:operation" minOccurs="0"/>
                    <xs:element ref="ns1:service" minOccurs="0"/>
                    <xs:element ref="ns1:successiveFraud" minOccurs="0"/>
                    <xs:element ref="ns1:successiveFraudLimit" minOccurs="0"/>
                    <xs:element ref="ns1:totalNbSuspension" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getSubInfoResponse">
                <xs:sequence>
                    <xs:element ref="ns1:subscriberInfo" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="statisticsRecharge">
                <xs:sequence>
                    <xs:element ref="ns1:fraudByMASOList" minOccurs="0"/>
                    <xs:element ref="ns1:nbRechargeKOsinceLastRecharge" minOccurs="0"/>
                    <xs:element ref="ns1:totalNbRechargeKO" minOccurs="0"/>
                    <xs:element ref="ns1:totalNbRechargeOK" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subscriberInfo">
                <xs:sequence>
                    <xs:element ref="ns1:commentList" minOccurs="0"/>
                    <xs:element ref="ns1:firstCall" minOccurs="0"/>
                    <xs:element ref="ns1:firstName" minOccurs="0"/>
                    <xs:element ref="ns1:globalState" minOccurs="0"/>
                    <xs:element ref="ns1:lastCall" minOccurs="0"/>
                    <xs:element ref="ns1:lastDateRechargedKO" minOccurs="0"/>
                    <xs:element ref="ns1:lastDateRechargedOK" minOccurs="0"/>
                    <xs:element ref="ns1:lastHrnKO" minOccurs="0"/>
                    <xs:element ref="ns1:lastName" minOccurs="0"/>
                    <xs:element ref="ns1:lastRechargeErrorCode" minOccurs="0"/>
                    <xs:element ref="ns1:lastRechargeErrorLabel" minOccurs="0"/>
                    <xs:element ref="ns1:lastRechargeStatus" minOccurs="0"/>
                    <xs:element ref="ns1:lastRechargedBE" minOccurs="0"/>
                    <xs:element ref="ns1:lastRechargedVoucherKO" minOccurs="0"/>
                    <xs:element ref="ns1:lastRechargedVoucherOK" minOccurs="0"/>
                    <xs:element ref="ns1:lastUpdate" minOccurs="0"/>
                    <xs:element ref="ns1:msisdn" minOccurs="0"/>
                    <xs:element ref="ns1:statisticsRecharge" minOccurs="0"/>
                    <xs:element ref="ns1:subscriberProductList" minOccurs="0"/>
                    <xs:element ref="ns1:subscriberProfile" minOccurs="0"/>
                    <xs:element ref="ns1:suspended" minOccurs="0"/>
                    <xs:element ref="ns1:timeZone" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subscriberProduct">
                <xs:sequence>
                    <xs:element ref="ns1:activePeriodEndDate" minOccurs="0"/>
                    <xs:element ref="ns1:activePeriodEndQuality" minOccurs="0"/>
                    <xs:element ref="ns1:gracePeriodEndDate" minOccurs="0"/>
                    <xs:element ref="ns1:gracePeriodEndDateQuality" minOccurs="0"/>
                    <xs:element ref="ns1:id" minOccurs="0"/>
                    <xs:element ref="ns1:rechargeablePeriodEndDate" minOccurs="0"/>
                    <xs:element ref="ns1:rechargeablePeriodEndDateQuality"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subscriberProductList">
                <xs:sequence>
                    <xs:element ref="ns1:subscriberProduct" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="activePeriodEndDate" type="xs:string"/>
            <xs:element name="activePeriodEndQuality" type="xs:string"/>
            <xs:element name="ailyFraudLimit" type="xs:string"/>
            <xs:element name="aliasCategory" type="xs:string"/>
            <xs:element name="comment" type="ns1:comment"/>
            <xs:element name="commentList" type="ns1:commentList"/>
            <xs:element name="dailyFraud" type="xs:string"/>
            <xs:element name="firstCall" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="fraudByMASOList" type="ns1:fraudByMASOList"/>
            <xs:element name="fraudByfraudByMASO" type="ns1:fraudByfraudByMASO"/>
            <xs:element name="getSubInfoResponse" type="ns1:getSubInfoResponse"/>
            <xs:element name="globalState" type="xs:string"/>
            <xs:element name="gracePeriodEndDate" type="xs:string"/>
            <xs:element name="gracePeriodEndDateQuality" type="xs:string"/>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="lastCall" type="xs:string"/>
            <xs:element name="lastDateRechargedKO" type="xs:string"/>
            <xs:element name="lastDateRechargedOK" type="xs:string"/>
            <xs:element name="lastHrnKO" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="lastRechargeErrorCode" type="xs:string"/>
            <xs:element name="lastRechargeErrorLabel" type="xs:string"/>
            <xs:element name="lastRechargeStatus" type="xs:string"/>
            <xs:element name="lastRechargedBE" type="xs:string"/>
            <xs:element name="lastRechargedVoucherKO" type="xs:string"/>
            <xs:element name="lastRechargedVoucherOK" type="xs:string"/>
            <xs:element name="lastUpdate" type="xs:string"/>
            <xs:element name="medium" type="xs:string"/>
            <xs:element name="monthlyFraud" type="xs:string"/>
            <xs:element name="monthlyFraudLimit" type="xs:string"/>
            <xs:element name="msisdn" type="xs:string"/>
            <xs:element name="nbRechargeKOsinceLastRecharge" type="xs:string"/>
            <xs:element name="operation" type="xs:string"/>
            <xs:element name="rechargeablePeriodEndDate" type="xs:string"/>
            <xs:element name="rechargeablePeriodEndDateQuality" type="xs:string"/>
            <xs:element name="service" type="xs:string"/>
            <xs:element name="statisticsRecharge" type="ns1:statisticsRecharge"/>
            <xs:element name="subscriberInfo" type="ns1:subscriberInfo"/>
            <xs:element name="subscriberProduct" type="ns1:subscriberProduct"/>
            <xs:element name="subscriberProductList" type="ns1:subscriberProductList"/>
            <xs:element name="subscriberProfile" type="xs:string"/>
            <xs:element name="successiveFraud" type="xs:string"/>
            <xs:element name="successiveFraudLimit" type="xs:string"/>
            <xs:element name="suspended" type="xs:boolean"/>
            <xs:element name="timeZone" type="xs:string"/>
            <xs:element name="totalNbRechargeKO" type="xs:string"/>
            <xs:element name="totalNbRechargeOK" type="xs:string"/>
            <xs:element name="totalNbSuspension" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="error">
                <xs:sequence>
                    <xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorResponse" type="ns2:error"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="UnBar_getSubInfo">
        <wsdl:port name="getSubInfoEndpointJMS" binding="tns:getSubInfoEndpointJMSBinding">
            <soap:address location=""/>
            <jms:connectionFactory>queueconnectionfactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">getSubInfo</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="getSubInfoEndpoint" binding="tns:getSubInfoEndpointBinding">
            <soap:address location="http://localhost:7073/ESB/SOAP/UnBar_getSubInfo"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="getSubInfo">
        <wsdl:operation name="getSubInfo">
            <wsdl:input message="tns:getSubInfo_Input"/>
            <wsdl:output message="tns:getSubInfo_Output"/>
            <wsdl:fault name="fault1" message="tns:getSubInfo_fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="getSubInfoEndpointJMSBinding" type="tns:getSubInfo">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="getSubInfo">
            <soap:operation style="document" soapAction="getSubInfo"/>
            <wsdl:input>
                <soap:body use="literal" parts="getSubInfo_In"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="getSubInfo_Out"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="getSubInfoEndpointBinding" type="tns:getSubInfo">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getSubInfo">
            <soap:operation style="document" soapAction="getSubInfo"/>
            <wsdl:input>
                <soap:body use="literal" parts="getSubInfo_In"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="getSubInfo_Out"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="getSubInfo_Input">
        <wsdl:part name="getSubInfo_In" element="ns0:getSubInfo"/>
    </wsdl:message>
    <wsdl:message name="getSubInfo_Output">
        <wsdl:part name="getSubInfo_Out" element="ns1:subscriberInfo"/>
    </wsdl:message>
    <wsdl:message name="getSubInfo_fault">
        <wsdl:part name="fault" element="ns2:ErrorResponse"/>
    </wsdl:message>
</wsdl:definitions>