src/GW_OrdMgmt/tester/listOfCbio2OrderProvisioningReqIo.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xsd:schema attributeFormDefault = "unqualified" elementFormDefault = "qualified" targetNamespace = "http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO" xmlns:xsd = "http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal = "http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name = "SiebelMessage" type = "xsdLocal:SiebelMessage"/>
	<xsd:complexType name = "SiebelMessage">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "listOfCbio2OrderProvisioningReqIo" type = "xsdLocal:listOfCbio2OrderProvisioningReqIo"/>
		</xsd:sequence>
		<xsd:attribute name = "MessageId" type = "xsd:string"/>
		<xsd:attribute name = "MessageType" type = "xsd:string"/>
		<xsd:attribute name = "IntObjectName" type = "xsd:string"/>
		<xsd:attribute name = "IntObjectFormat" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "listOfCbio2OrderProvisioningReqIo">
		<xsd:sequence>
			<xsd:element maxOccurs = "unbounded" minOccurs = "1" name = "orderEntry-Orders" type = "xsdLocal:orderEntry-Orders"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "orderEntry-Orders">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "accountId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "agreementId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "agreementName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "asOfDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "billingProfileId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CWServiceOrderNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CreatedDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CreatedbyPerson" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OrderSubType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OrderType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SalesChannel" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cancelReason" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "changeReason" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "comments" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "currencyCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "mRCTotal" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "costomerEmailAddress" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "nRCTotal" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "orderNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "orderPriority" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "orderTotal" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "orderType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "primaryOrganization" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "requestedShipDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "revision" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "serviceRequestId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "serviceRequestNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "status" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SalesAgentId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SalesAgentName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BSCSBillingAccountNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2TotalRCAdvance" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2TotalNRCUpfront" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2DepositAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ShopId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ShopName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ShopType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BatchFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BatchNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ArabicFullName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2EnglishFullName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BSCSCustomerId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BillCycle" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BusinessUnit" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CustomerType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CustomerCategory" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CustomerPrefLanguageCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrefCommunicationChannel" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrefCommStartTime" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrefCommEndTime" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2NotificationNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CustomerSegment" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CustomerSubCorporateSegment" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ZainStaffId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2KAMId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2KAM" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BulkRequestId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldAccountId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldArabicFullName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldBSCSBillingAccountNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldBSCSCustomerId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldBillCycle" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldBillingProfileId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldCategory" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldEnglishFullName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldNotificationNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2NPOrderId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "listOfCBiO2SubscriberInformation" type = "xsdLocal:listOfCBiO2SubscriberInformation"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "listOforderEntry-LineItems" type = "xsdLocal:listOforderEntry-LineItems"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "listOfpayments" type = "xsdLocal:listOfpayments"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "listOfCBiO2SubscriberInformation">
		<xsd:sequence>
			<xsd:element maxOccurs = "unbounded" minOccurs = "0" name = "CBiO2SubscriberInformation" type = "xsdLocal:CBiO2SubscriberInformation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "CBiO2SubscriberInformation">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "id" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "billingProfileId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "billingProfileName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ContractEndDt" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ContractStartDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CreatedBy" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CreatedDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2DefCreditLimit" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2IVRLang" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2LineType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OptedCreditLimit" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrefCommChannel" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SalesCallingFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubscriberEmail" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubscriberNo" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubscriberNotificationPhone" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "integrationId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "previousServiceId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "product" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "endDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "serviceId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "startDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubscriberPrefLanguageCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubscriberStatus" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "productType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BSCSContractId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrefCommStartTime" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrefCommEndTime" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BSCSBillingAccountNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2Market" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubMarket" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CallDetails" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubscriberFullNameArabic" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SubscriberFullNameEnglish" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2Location" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SpendLimit" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2DNId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2VPNCommunityId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2VPNShortCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2IMSI" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SIMNum" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "listOforderEntry-LineItems">
		<xsd:sequence>
			<xsd:element maxOccurs = "unbounded" minOccurs = "0" name = "orderEntry-LineItems" type = "xsdLocal:orderEntry-LineItems"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "orderEntry-LineItems">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "id" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "actionCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "billingProfileId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "billingProfileName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBIO2AdvanceRCAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBIO2InstallmentAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2AdvanceRCPaymentFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2IMSI" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2InstallmentEndDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2InstallmentFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2InstallmentPeriod" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2InstallmentStartDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2InventoryFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2MSISDNCategory" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2NoOfAdvRCBillCycle" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldIMSI" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PosttoInvoiceAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PosttoInvoiceFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SIMCategory" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SIMNum" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SIMType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2UpfrontPaymentAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2UpfrontPaymentFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "discountAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "discountPercent" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "dueDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "integrationId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "itemType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "mRCCxTotal" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "nRCCxTotal" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "netPrice" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "orderHeaderId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "parentProductId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "partNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "previousServiceId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "product" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "productId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "productType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "rootOrderItemId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "rootProductId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "serviceEndDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "serviceId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "serviceStartDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "startPrice" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "status" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2InventorySerialNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ParentProdGlobalIdentifier" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ProdGlobalIdentifier" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PromotionGlobalIdentifier" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ParentProductName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BSCSBillingAccountNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2SIMResId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2LineItemRelationId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OfferSubType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OfferType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrepaidCharge" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PrepaidFrequency" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ProductSubType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2Renewal" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "priceType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2GiftReceiverMSISDN" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2GiftingFlag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2GiftReceiverIMSI" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2GiftReceiverSIMNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2GiftReceiverContractId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2GiftReceiverLineType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2APN" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ItemCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2KI" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PIN1" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PIN2" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PUK1" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2PUK2" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ICCID" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2DataSharingflag" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2NewSharedValue" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2OldSharedValue" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2Volume" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "listOforderItemXa" type = "xsdLocal:listOforderItemXa"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "listOfpayments">
		<xsd:sequence>
			<xsd:element maxOccurs = "unbounded" minOccurs = "0" name = "payments" type = "xsdLocal:payments"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "payments">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "id" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "accountNumber2" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "authorizationCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "currencyCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "description" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "issuingBankName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "lineNumber3" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "orderNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "payment" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "paymentAccountId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "paymentDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "paymentMethod" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "paymentStatus" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "paymentType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "transactionAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "transactionType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2BSCSBillingAccountNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CustomerBSCSId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2CustomerCategory" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2MerchantId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ReceiptNo" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2ShopId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2TabsBillCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2TabsServiceCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2TerminalId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "cBiO2Username" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "listOforderItemXa">
		<xsd:sequence>
			<xsd:element maxOccurs = "unbounded" minOccurs = "0" name = "orderItemXa" type = "xsdLocal:orderItemXa"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "orderItemXa">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "id" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "actionCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "attributeDescription" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "dataType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "dateValue" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "name" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "numericValue" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "objectId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "orderHeaderId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "previousValue" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "textValue" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>