src/GW_OrdMgmt/tester/QueryManualTaskListServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryManualTask/GWOrd_queryManualTaskList_Res.xsd" xmlns:tns="http://xmlns.example.com/1471682336919" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryManualTask/GWOrd_queryManualTaskList_Req.xsd" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1471682336919">
    <wsdl:types>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryManualTask/GWOrd_queryManualTaskList_Req.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryManualTask/GWOrd_queryManualTaskList_Req.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="queryManualTaskListRequest">
                <xs:sequence>
                    <xs:element ref="ns0:queryManualTaskReq" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="queryManualTaskReq">
                <xs:sequence>
                    <xs:element ref="ns0:customerId" minOccurs="0"/>
                    <xs:element ref="ns0:msisdn" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="customerId" type="xs:string"/>
            <xs:element name="msisdn" type="xs:string"/>
            <xs:element name="queryManualTaskListRequest" type="ns0:queryManualTaskListRequest"/>
            <xs:element name="queryManualTaskReq" type="ns0:queryManualTaskReq"/>
        </xs:schema>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryManualTask/GWOrd_queryManualTaskList_Res.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryManualTask/GWOrd_queryManualTaskList_Res.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="error">
                <xs:sequence>
                    <xs:element ref="ns1:Error_SourceErrCode" minOccurs="0"/>
                    <xs:element ref="ns1:Error_SourceErrDesc" minOccurs="0"/>
                    <xs:element ref="ns1:Error_Type" minOccurs="0"/>
                    <xs:element ref="ns1:Error_UserErrCode" minOccurs="0"/>
                    <xs:element ref="ns1:Error_UserErrDesc" minOccurs="0"/>
                    <xs:element ref="ns1:Error_Occurance_Time" minOccurs="0"/>
                    <xs:element ref="ns1:Error_Additional_Desc1" minOccurs="0"/>
                    <xs:element ref="ns1:Error_Additional_Desc2" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="header">
                <xs:sequence>
                    <xs:element ref="ns1:customerId" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="manualTaskList">
                <xs:sequence>
                    <xs:element ref="ns1:msisdn" minOccurs="0"/>
                    <xs:element ref="ns1:taskDetails" minOccurs="0"/>
                    <xs:element ref="ns1:errorCode" minOccurs="0"/>
                    <xs:element ref="ns1:errorDesc" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="queryManualTaskListResponse">
                <xs:sequence>
                    <xs:element ref="ns1:queryManualTaskRes" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="queryManualTaskRes">
                <xs:sequence>
                    <xs:element ref="ns1:header" minOccurs="0"/>
                    <xs:element ref="ns1:manualTaskList" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="ns1:error" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Error_Additional_Desc1" type="xs:string"/>
            <xs:element name="Error_Additional_Desc2" type="xs:string"/>
            <xs:element name="Error_Occurance_Time" type="xs:string"/>
            <xs:element name="Error_SourceErrCode" type="xs:string"/>
            <xs:element name="Error_SourceErrDesc" type="xs:string"/>
            <xs:element name="Error_Type" type="xs:string"/>
            <xs:element name="Error_UserErrCode" type="xs:string"/>
            <xs:element name="Error_UserErrDesc" type="xs:string"/>
            <xs:element name="customerId" type="xs:string"/>
            <xs:element name="error" type="ns1:error"/>
            <xs:element name="errorCode" type="xs:string"/>
            <xs:element name="errorDesc" type="xs:string"/>
            <xs:element name="header" type="ns1:header"/>
            <xs:element name="manualTaskList" type="ns1:manualTaskList"/>
            <xs:element name="msisdn" type="xs:string"/>
            <xs:element name="queryManualTaskListResponse" type="ns1:queryManualTaskListResponse"/>
            <xs:element name="queryManualTaskRes" type="ns1:queryManualTaskRes"/>
            <xs:element name="taskDetails" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="QueryManualTask">
        <wsdl:port name="QueryManualTaskPortEndpointJMS" binding="tns:QueryManualTaskPortEndpointJMSBinding">
            <soap:address location=""/>
            <jms:connectionFactory>queueconnectionfactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.QUERY_MANUAL_TASK.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="QueryManualTaskPortEndpoint" binding="tns:QueryManualTaskPortEndpointBinding">
            <soap:address location="http://localhost:7073/BusinessProcesses/Services/OrderManagement/Query/QueryManualTask/Implementation/Service.serviceagent/QueryManualTaskPortEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="QueryManualTaskPort">
        <wsdl:operation name="QueryManualTaskOp">
            <wsdl:input message="tns:QueryManualTaskRequest"/>
            <wsdl:output message="tns:QueryManualTaskResponse"/>
            <wsdl:fault name="fault1" message="tns:FaultType"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QueryManualTaskPortEndpointJMSBinding" type="tns:QueryManualTaskPort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="QueryManualTaskOp">
            <soap:operation style="document" soapAction="/BusinessProcesses/Services/OrderManagement/Query/QueryManualTask/Implementation/QueryManualTask.serviceagent/QueryManualTaskPortEndpointJMS/QueryManualTaskOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="queryManualtaskRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="queryManualTaskResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="QueryManualTaskPortEndpointBinding" type="tns:QueryManualTaskPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryManualTaskOp">
            <soap:operation style="document" soapAction="/BusinessProcesses/Services/OrderManagement/Query/QueryManualTask/Implementation/Service.serviceagent/QueryManualTaskPortEndpoint/QueryManualTaskOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="queryManualtaskRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="queryManualTaskResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="QueryManualTaskRequest">
        <wsdl:part name="queryManualtaskRequest" element="ns0:queryManualTaskListRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryManualTaskResponse">
        <wsdl:part name="queryManualTaskResponse" element="ns1:queryManualTaskListResponse"/>
    </wsdl:message>
    <wsdl:message name="FaultType">
        <wsdl:part name="Fault" element="ns1:error"/>
    </wsdl:message>
</wsdl:definitions>