src/CommonProject/BusinessSchemas/Services/Transaction/PrepaidRecharge/PrepaidRecharge/RechargeReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/RechargeReq.xsd"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/RechargeReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/canonicaldatamodel" schemaLocation="../../../../../CDM/CDM.xsd"/>
	<xs:element name="RechargeReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="cdm:Subscriber" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="VoucherlessRechargeDetailsType"/>
					<xs:element ref="VoucherRechargeDetailsType"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="VoucherRechargeDetailsType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VoucherlessRechargeDetailsType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="VoucherlessRechargeDetailsType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Role" type="xs:string" minOccurs="0"/>
				<xs:element name="UserId" type="xs:string" minOccurs="0"/>
				<xs:element name="AccountId" type="xs:string" minOccurs="0"/>
				<xs:element name="AccountType" type="xs:string" minOccurs="0"/>
				<xs:element name="MerchantId" type="xs:string" minOccurs="0"/>
				<xs:element name="Amount" type="xs:string" minOccurs="0"/>
				<xs:element name="ProductId" type="xs:string" minOccurs="0"/>
				<xs:element name="Purpose" type="xs:string" minOccurs="0"/>
				<xs:element name="ExpiryValue" type="xs:string" minOccurs="0"/>
				<xs:element name="ExpiryMode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VoucherRechargeDetailsType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PIN" type="xs:string" minOccurs="0"/>
				<xs:element name="Purpose" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>