src/CommonProject/BusinessSchemas/Services/Query/ContractRead/ContractRead.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/ContractRead.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/ContractRead.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="ContractReadRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicContractId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractReadResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicContractId" minOccurs="0"/>
				<xs:element ref="Details" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicContractId" type="xs:string"/>
	<xs:element name="Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServicePackageCode" minOccurs="0"/>
				<xs:element ref="ServiceCode" minOccurs="0"/>
				<xs:element ref="ServiceStatus" minOccurs="0"/>
				<xs:element ref="ServiceQuantity" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServicePackageCode" type="xs:string"/>
	<xs:element name="ServiceCode" type="xs:string"/>
	<xs:element name="ServiceStatus" type="xs:string"/>
	<xs:element name="ServiceQuantity" type="xs:long"/>
</xs:schema>