src/CommonProject/BusinessSchemas/Services/Provisioning/CreateOrder/CreateOrderRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/CreateOrderRes.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/CreateOrderRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/canonicaldatamodel" schemaLocation="../../../../CDM/CDM.xsd"/>
	<xs:element name="CreateOrderRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="cdm:ZainIdentifiers" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cdm:Product" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cdm:Response" minOccurs="0"/>
				<xs:element name="SubscriberInformation" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IntegrationId" type="xs:string" minOccurs="0"/>
							<xs:element name="Status" type="xs:string" minOccurs="0"/>
							<xs:element name="ContractId" type="xs:string" minOccurs="0"/>
							<xs:element name="SubscriberStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="refundAmount" type="xs:string" minOccurs="0"/>
							<xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
							<xs:element name="ErrorMessage" type="xs:string" minOccurs="0"/>
							<xs:element name="ErrorType" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Payment" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="authorizedcode" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentId" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
							<xs:element name="ErrorMessage" type="xs:string" minOccurs="0"/>
							<xs:element name="ErrorType" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="errorCode" minOccurs="0"/>
				<xs:element ref="errorType" minOccurs="0"/>
				<xs:element ref="errorDescription" minOccurs="0"/>
				<xs:element name="errorOccuranceTime" type="xs:string" minOccurs="0"/>
				<xs:element name="errorSourceSystem" type="xs:string" minOccurs="0"/>
				<xs:element name="errorUsrErrorCode" type="xs:string" minOccurs="0"/>
				<xs:element name="errorUsrErrorDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="errorAddDesc1" type="xs:string" minOccurs="0"/>
				<xs:element name="errorAddDesc2" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="errorType" type="xs:string"/>
	<xs:element name="errorCode" type="xs:string"/>
	<xs:element name="errorDescription" type="xs:string"/>
</xs:schema>