src/CommonProject/BusinessSchemas/Services/Provisioning/CreateOrder/CreateOrderReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/CreateOrderReq.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/CreateOrderReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/canonicaldatamodel" schemaLocation="../../../../CDM/CDM.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="CreateOrderReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="cdm:ZainIdentifiers" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cdm:ZainCustomerOrderItem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cdm:ZainCustomerPayment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="AttributeDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="cdm:CustomDetails" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DisconnectionType" type="xs:string" minOccurs="0"/>
				<xs:element name="ImmediateSubmissionFlag" type="xs:string" minOccurs="0"/>
				<xs:element name="RedemptionType" type="xs:string" minOccurs="0"/>
				<xs:element ref="cdm:ZainFAFDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>