src/CommonProject/BusinessSchemas/Services/Transaction/SalesTransaction/SalesTransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/SalesTransaction.xsd"
	 xmlns:cus="http://xmlns.zain.com/BSS/ESB/CDM/Customer"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/SalesTransaction.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Customer" schemaLocation="../../../../CDM/ZainKWCustomer.xsd"/>
	<xs:element name="CreateSalesTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerName" minOccurs="0"/>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="TotalAmount" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="PaymentMethod" minOccurs="0"/>
				<xs:element ref="TransactionReference" minOccurs="0"/>
				<xs:element ref="AuthorizeCredit" minOccurs="0"/>
				<xs:element ref="OrderLines" maxOccurs="unbounded"/>
				<xs:element ref="CardDetails" minOccurs="0"/>
				<xs:element ref="NotificationMedia" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Notes" minOccurs="0"/>
				<xs:element ref="Remarks" minOccurs="0"/>
				<xs:element ref="Params" minOccurs="0"/>
				<xs:element ref="RequestStatus" minOccurs="0"/>
				<xs:element ref="ReceiptNumber" minOccurs="0"/>
				<xs:element ref="Authorization" minOccurs="0"/>
				<xs:element name="OriginalUserName" type="xs:string" minOccurs="0"/>
				<xs:element name="OriginalSalesDate" type="xs:string" minOccurs="0"/>
				<xs:element name="OrderState" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string" minOccurs="0"/>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OldSTReceiptNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="OperationToDo" type="xs:string" minOccurs="0"/>
				<xs:element name="Type" type="xs:string" minOccurs="0"/>
				<xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="RetryDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
							<xs:element name="MaxRetryCount" type="xs:string" minOccurs="0"/>
							<xs:element name="CurrentRetryCount" type="xs:string" minOccurs="0"/>
							<xs:element name="extRetryTimeStamp" type="xs:string" minOccurs="0"/>
							<xs:element name="Payload" type="xs:string" minOccurs="0"/>
							<xs:element name="RetryStep" type="xs:string" minOccurs="0"/>
							<xs:element name="RetryComponentName" type="xs:string" minOccurs="0"/>
							<xs:element name="RetryFlag" type="xs:string" minOccurs="0"/>
							<xs:element name="RetryListnerQueue" type="xs:string" minOccurs="0"/>
							<xs:element name="RetryStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="RetryErrorDescription" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PaySalesChannel" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerName" type="xs:string"/>
	<xs:element name="CustomerID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="TotalAmount" type="xs:decimal"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="PaymentMethod" type="xs:string"/>
	<xs:element name="TransactionReference" type="xs:string"/>
	<xs:element name="AuthorizeCredit" type="xs:boolean"/>
	<xs:element name="OrderLines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProductCode" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="Quantity" minOccurs="0"/>
				<xs:element ref="SerialNumber" minOccurs="0"/>
				<xs:element ref="ProductType" minOccurs="0"/>
				<xs:element ref="Remarks" minOccurs="0"/>
				<xs:element ref="Params" minOccurs="0"/>
				<xs:element name="LineItemId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CardDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CardType" minOccurs="0"/>
				<xs:element ref="HolderName" minOccurs="0"/>
				<xs:element ref="MerchantID" minOccurs="0"/>
				<xs:element ref="MerchantPassword" minOccurs="0"/>
				<xs:element ref="TerminalID" minOccurs="0"/>
				<xs:element ref="AuthorizationCode" minOccurs="0"/>
				<xs:element ref="CardNumber" minOccurs="0"/>
				<xs:element ref="ExpiryDate" minOccurs="0"/>
				<xs:element ref="CVV" minOccurs="0"/>
				<xs:element ref="IssuingBank" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotificationMedia">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Media" minOccurs="0"/>
				<xs:element ref="Address" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Notes" type="xs:string"/>
	<xs:element name="Params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Param" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Remarks" type="xs:string"/>
	<xs:element name="ProductCode" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="Quantity" type="xs:string"/>
	<xs:element name="ProductType" type="xs:string"/>
	<xs:element name="Media" type="xs:string"/>
	<xs:element name="Address" type="xs:string"/>
	<xs:element name="Param">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="CardType" type="xs:string"/>
	<xs:element name="HolderName" type="xs:string"/>
	<xs:element name="MerchantID" type="xs:string"/>
	<xs:element name="MerchantPassword" type="xs:string"/>
	<xs:element name="TerminalID" type="xs:string"/>
	<xs:element name="AuthorizationCode" type="xs:string"/>
	<xs:element name="CardNumber" type="xs:string"/>
	<xs:element name="ExpiryDate" type="xs:string"/>
	<xs:element name="CVV" type="xs:string"/>
	<xs:element name="IssuingBank" type="xs:string"/>
	<xs:element name="SerialNumber" type="xs:string"/>
	<xs:element name="RequestStatus" type="xs:string"/>
	<xs:element name="ReceiptNumber" type="xs:string"/>
	<xs:element name="Authorization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MerchantID" minOccurs="0"/>
				<xs:element ref="TotalAmount" minOccurs="0"/>
				<xs:element ref="TransactionReference" minOccurs="0"/>
				<xs:element ref="ShoppingTransactionReference" minOccurs="0"/>
				<xs:element ref="CardType" minOccurs="0"/>
				<xs:element ref="OrderInfo" minOccurs="0"/>
				<xs:element ref="AuthorizationStatus" minOccurs="0"/>
				<xs:element ref="ReceiptNumber" minOccurs="0"/>
				<xs:element ref="AuthorizationID" minOccurs="0"/>
				<xs:element ref="AcquirerResponseCode" minOccurs="0"/>
				<xs:element ref="SettlementDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShoppingTransactionReference" type="xs:string"/>
	<xs:element name="OrderInfo" type="xs:string"/>
	<xs:element name="AuthorizationStatus" type="xs:string"/>
	<xs:element name="AuthorizationID" type="xs:string"/>
	<xs:element name="AcquirerResponseCode" type="xs:string"/>
	<xs:element name="SettlementDate" type="xs:string"/>
</xs:schema>