src/CommonProject/BusinessSchemas/Services/Phase1Schemas/GetRechargeHistory/GetRechargeHistoryRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRechargeHistory/GetRechargeHistoryRes.xsd"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/Response"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRechargeHistory/GetRechargeHistoryRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response" schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:element name="GetRechargeHistoryRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="ns1:Response"/>
				<xs:element name="ListOfRechargeTransaction">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RechargeTransactionDetail" type="RechargeTransactionsType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RechargeTransactionsType">
		<xs:sequence>
			<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
			<xs:element name="AssociationKey" type="xs:string" minOccurs="0"/>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="RechargeType" type="xs:string" minOccurs="0"/>
			<xs:element name="RechargeStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="VoucherSerialNo" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditedAmount" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
						<xs:element name="Units" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Amount" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
						<xs:element name="Units" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NewBalance" type="xs:decimal" minOccurs="0"/>
			<xs:element name="NewExpiry" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Purpose" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>