src/CommonProject/BusinessSchemas/Services/Modification/SubscriberModification/SubscriberModification.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/SubscriberModification"
	 xmlns:ns0="http://xmlns.zain.com/BSS/ESB/CDM/Subscriber"
	 xmlns:ns1="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/SubscriberModification"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Subscriber" schemaLocation="../../../../CDM/ZainKWSubscriber.xsd"/>
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:element name="subscriberModReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header" minOccurs="0"/>
				<xs:element ref="ns0:Subscriber" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subscriberModRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SubscriberOrderID" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns1:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>