src/GW_AppleiWatch/Resources/WSDL/ParlaySender/parlayx_sms_send_interface_3_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--March 8, 2007-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v3_1" xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v3_0" xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:parlayx_sms_send="http://www.csapi.org/wsdl/parlayx/sms/send/v3_1/interface" xmlns:parlayx_sms_send_local_xsd="http://www.csapi.org/schema/parlayx/sms/send/v3_1/local" name="parlayx_sms_send_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/send/v3_1/interface">
    <import namespace="http://www.csapi.org/wsdl/parlayx/common/v3_0/faults" location="parlayx_common_faults_3_0.wsdl"/>
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/sms/send/v3_1/local">
            <xsd:import namespace="http://www.csapi.org/schema/parlayx/sms/v3_0" schemaLocation="parlayx_sms_types_3_0.xsd"/>
            <xsd:import namespace="http://www.csapi.org/schema/parlayx/common/v3_1" schemaLocation="parlayx_common_types_3_1.xsd"/>
            <xsd:element name="sendSms" type="parlayx_sms_send_local_xsd:sendSms"/>
            <xsd:complexType name="sendSms">
                <xsd:sequence>
                    <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="senderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="receiptRequest" type="parlayx_common_xsd:SimpleReference" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sendSmsResponse" type="parlayx_sms_send_local_xsd:sendSmsResponse"/>
            <xsd:complexType name="sendSmsResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sendSmsLogo" type="parlayx_sms_send_local_xsd:sendSmsLogo"/>
            <xsd:complexType name="sendSmsLogo">
                <xsd:sequence>
                    <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="senderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="image" type="xsd:base64Binary"/>
                    <xsd:element name="smsFormat" type="parlayx_sms_xsd:SmsFormat"/>
                    <xsd:element name="receiptRequest" type="parlayx_common_xsd:SimpleReference" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sendSmsLogoResponse" type="parlayx_sms_send_local_xsd:sendSmsLogoResponse"/>
            <xsd:complexType name="sendSmsLogoResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sendSmsRingtone" type="parlayx_sms_send_local_xsd:sendSmsRingtone"/>
            <xsd:complexType name="sendSmsRingtone">
                <xsd:sequence>
                    <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="senderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="ringtone" type="xsd:string"/>
                    <xsd:element name="smsFormat" type="parlayx_sms_xsd:SmsFormat"/>
                    <xsd:element name="receiptRequest" type="parlayx_common_xsd:SimpleReference" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sendSmsRingtoneResponse" type="parlayx_sms_send_local_xsd:sendSmsRingtoneResponse"/>
            <xsd:complexType name="sendSmsRingtoneResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getSmsDeliveryStatus" type="parlayx_sms_send_local_xsd:getSmsDeliveryStatus"/>
            <xsd:complexType name="getSmsDeliveryStatus">
                <xsd:sequence>
                    <xsd:element name="requestIdentifier" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getSmsDeliveryStatusResponse" type="parlayx_sms_send_local_xsd:getSmsDeliveryStatusResponse"/>
            <xsd:complexType name="getSmsDeliveryStatusResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="parlayx_sms_xsd:DeliveryInformation" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="scheduleSms" type="parlayx_sms_send_local_xsd:scheduleSms"/>
            <xsd:complexType name="scheduleSms">
                <xsd:sequence>
                    <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="senderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="startTime" type="xsd:dateTime"/>
                    <xsd:element name="stopTime" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="scheduleSmsResponse" type="parlayx_sms_send_local_xsd:scheduleSmsResponse"/>
            <xsd:complexType name="scheduleSmsResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="scheduleSmsLogo" type="parlayx_sms_send_local_xsd:scheduleSmsLogo"/>
            <xsd:complexType name="scheduleSmsLogo">
                <xsd:sequence>
                    <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="senderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="image" type="xsd:base64Binary"/>
                    <xsd:element name="smsFormat" type="parlayx_sms_xsd:SmsFormat"/>
                    <xsd:element name="startTime" type="xsd:dateTime"/>
                    <xsd:element name="stopTime" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="scheduleSmsLogoResponse" type="parlayx_sms_send_local_xsd:scheduleSmsLogoResponse"/>
            <xsd:complexType name="scheduleSmsLogoResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="scheduleSmsRingtone" type="parlayx_sms_send_local_xsd:scheduleSmsRingtone"/>
            <xsd:complexType name="scheduleSmsRingtone">
                <xsd:sequence>
                    <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="senderName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="charging" type="parlayx_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="ringtone" type="xsd:string"/>
                    <xsd:element name="smsFormat" type="parlayx_sms_xsd:SmsFormat"/>
                    <xsd:element name="startTime" type="xsd:dateTime"/>
                    <xsd:element name="stopTime" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="scheduleSmsRingtoneResponse" type="parlayx_sms_send_local_xsd:scheduleSmsRingtoneResponse"/>
            <xsd:complexType name="scheduleSmsRingtoneResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="cancelScheduledSms" type="parlayx_sms_send_local_xsd:cancelScheduledSms"/>
            <xsd:complexType name="cancelScheduledSms">
                <xsd:sequence>
                    <xsd:element name="requestIdentifier" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="cancelScheduledSmsResponse" type="parlayx_sms_send_local_xsd:cancelScheduledSmsResponse"/>
            <xsd:complexType name="cancelScheduledSmsResponse">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="getScheduledSmsStatus" type="parlayx_sms_send_local_xsd:getScheduledSmsStatus"/>
            <xsd:complexType name="getScheduledSmsStatus">
                <xsd:sequence>
                    <xsd:element name="requestIdentifier" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getScheduledSmsStatusResponse" type="parlayx_sms_send_local_xsd:getScheduledSmsStatusResponse"/>
            <xsd:complexType name="getScheduledSmsStatusResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="parlayx_sms_xsd:ScheduledDeliveryInformation"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="SendSms_sendSmsRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:sendSms"/>
    </message>
    <message name="SendSms_sendSmsResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:sendSmsResponse"/>
    </message>
    <message name="SendSms_sendSmsLogoRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:sendSmsLogo"/>
    </message>
    <message name="SendSms_sendSmsLogoResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:sendSmsLogoResponse"/>
    </message>
    <message name="SendSms_sendSmsRingtoneRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:sendSmsRingtone"/>
    </message>
    <message name="SendSms_sendSmsRingtoneResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:sendSmsRingtoneResponse"/>
    </message>
    <message name="SendSms_getSmsDeliveryStatusRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:getSmsDeliveryStatus"/>
    </message>
    <message name="SendSms_getSmsDeliveryStatusResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:getSmsDeliveryStatusResponse"/>
    </message>
    <message name="SendSms_scheduleSmsRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:scheduleSms"/>
    </message>
    <message name="SendSms_scheduleSmsResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:scheduleSmsResponse"/>
    </message>
    <message name="SendSms_scheduleSmsLogoRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:scheduleSmsLogo"/>
    </message>
    <message name="SendSms_scheduleSmsLogoResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:scheduleSmsLogoResponse"/>
    </message>
    <message name="SendSms_scheduleSmsRingtoneRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:scheduleSmsRingtone"/>
    </message>
    <message name="SendSms_scheduleSmsRingtoneResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:scheduleSmsRingtoneResponse"/>
    </message>
    <message name="SendSms_cancelScheduledSmsRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:cancelScheduledSms"/>
    </message>
    <message name="SendSms_cancelScheduledSmsResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:cancelScheduledSmsResponse"/>
    </message>
    <message name="SendSms_getScheduledSmsStatusRequest">
        <part name="parameters" element="parlayx_sms_send_local_xsd:getScheduledSmsStatus"/>
    </message>
    <message name="SendSms_getScheduledSmsStatusResponse">
        <part name="result" element="parlayx_sms_send_local_xsd:getScheduledSmsStatusResponse"/>
    </message>
    <portType name="SendSms">
        <operation name="sendSms">
            <input message="parlayx_sms_send:SendSms_sendSmsRequest"/>
            <output message="parlayx_sms_send:SendSms_sendSmsResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="sendSmsLogo">
            <input message="parlayx_sms_send:SendSms_sendSmsLogoRequest"/>
            <output message="parlayx_sms_send:SendSms_sendSmsLogoResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="sendSmsRingtone">
            <input message="parlayx_sms_send:SendSms_sendSmsRingtoneRequest"/>
            <output message="parlayx_sms_send:SendSms_sendSmsRingtoneResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="getSmsDeliveryStatus">
            <input message="parlayx_sms_send:SendSms_getSmsDeliveryStatusRequest"/>
            <output message="parlayx_sms_send:SendSms_getSmsDeliveryStatusResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="scheduleSms">
            <input message="parlayx_sms_send:SendSms_scheduleSmsRequest"/>
            <output message="parlayx_sms_send:SendSms_scheduleSmsResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="scheduleSmsLogo">
            <input message="parlayx_sms_send:SendSms_scheduleSmsLogoRequest"/>
            <output message="parlayx_sms_send:SendSms_scheduleSmsLogoResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="scheduleSmsRingtone">
            <input message="parlayx_sms_send:SendSms_scheduleSmsRingtoneRequest"/>
            <output message="parlayx_sms_send:SendSms_scheduleSmsRingtoneResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="cancelScheduledSms">
            <input message="parlayx_sms_send:SendSms_cancelScheduledSmsRequest"/>
            <output message="parlayx_sms_send:SendSms_cancelScheduledSmsResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
        <operation name="getScheduledSmsStatus">
            <input message="parlayx_sms_send:SendSms_getScheduledSmsStatusRequest"/>
            <output message="parlayx_sms_send:SendSms_getScheduledSmsStatusResponse"/>
            <fault name="ServiceException" message="parlayx_common_faults:ServiceException"/>
            <fault name="PolicyException" message="parlayx_common_faults:PolicyException"/>
        </operation>
    </portType>
</definitions>