src/GW_OrdMgmt/BusinessProcesses/Services/Common/ExternalChannelOrderSubmission/Implementation/PreOrderValidationSPResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resultSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="outputSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="P_ERRORCODE_OUT"/>
              <xs:element type="xs:string" name="P_ERRORMSG_OUT"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="UnresolvedResultsets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>