src/CommonProject/BusinessWSDLS/Services/BSCS/CardNoUpdate/ws_CIL_5_CardnoUpdateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/cardnoupdate" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CMI_5">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;New value for a named value.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>&lt;p&gt;
						
						&lt;/p&gt;</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/cardnoupdate" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/cardnoupdate">
            <xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
            <xs:element name="cardnoUpdateRequest" type="wsi:cardnoUpdateRequest"/>
            <xs:element name="cardnoUpdateResponse" type="wsi:cardnoUpdateResponse"/>
            <xs:complexType name="cardnoUpdateResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="response" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;response Message&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>&lt;p&gt;&lt;/p&gt;</xs:documentation>
                    </xs:annotation>
                    <xs:element name="paymentid" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Payment ID Private key&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cardno" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;CARD NO&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cspAccno" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; account number &lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cspAccowner" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; account owner &lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cspBankcode" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; subaccount number &lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cspBankname" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; bank name &lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cspBankstreet" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; street name of the bank address &lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cspCcvaliddt" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; valid date of the credit card (MMYY) &lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="cspCcagCodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Public key of the financial institute.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="cardnoUpdateRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="cardnoUpdateResponse">
        <wsdl:part element="sch3:cardnoUpdateResponse" name="cardnoUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="cardnoUpdateRequest">
        <wsdl:part element="sch3:cardnoUpdateRequest" name="cardnoUpdateRequest"/>
    </wsdl:message>
    <wsdl:portType name="CardnoUpdateService">
        <wsdl:operation name="cardnoUpdate">
            <wsdl:input message="tns:cardnoUpdateRequest" name="cardnoUpdateRequest"/>
            <wsdl:output message="tns:cardnoUpdateResponse" name="cardnoUpdateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CardnoUpdateServiceSoap11" type="tns:CardnoUpdateService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="cardnoUpdate">
            <soap:operation soapAction=""/>
            <wsdl:input name="cardnoUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cardnoUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CardnoUpdateService">
        <wsdl:port binding="tns:CardnoUpdateServiceSoap11" name="CardnoUpdateServiceSoap11">
            <soap:address location="http://10.96.103.208:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>