src/CommonProject/BusinessWSDLS/Services/WSDLS/PACIOutbound/PACIOutbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns6="http://www.zain.com/ZESB/Services/QueryPACIAPIRequest.xsd" xmlns:ns5="http://www.zain.com/ZESB/Services/GetPACIAuthentication/fault.xsd" xmlns:ns8="http://www.zain.com/ZESB/Services/QueryPACIAPI/fault.xsd" xmlns:ns7="http://www.zain.com/ZESB/Services/QueryPACIAPIResponse.xsd" xmlns:ns="http://www.tibco.com/schemas/CommonProject/BusinessWSDLS/Services/WSDLS/GetPACIAuthentication/Schema.xsd" xmlns:ns9="http://www.zain.com/ZESB/Services/faultschema/fault.xsd" xmlns:tns="http://www.zain.com/ZESB/Services/PACIOutbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.zain.com/ZESB/Services/GetPACIAuthenticationRequest.xsd" xmlns:ns4="http://www.ericsson.com/Mozaic/BusinessSchemas/SOAP/XSDs/Fault.xsd" xmlns:ns3="http://www.zain.com/ZESB/Services/GetPACIAuthenticationResponse.xsd" targetNamespace="http://www.zain.com/ZESB/Services/PACIOutbound">
    <import location="../../../../BusinessSchemas/Services/Query/GetPACIAuthentication/GetPACIAuthenticationRequest.xsd" namespace="http://www.zain.com/ZESB/Services/GetPACIAuthenticationRequest.xsd"/>
    <import location="../../../../BusinessSchemas/Services/Query/GetPACIAuthentication/GetPACIAuthenticationResponse.xsd" namespace="http://www.zain.com/ZESB/Services/GetPACIAuthenticationResponse.xsd"/>
    <import location="../../../../BusinessSchemas/Services/Query/QueryPACIAPI/QueryPACIAPIRequest.xsd" namespace="http://www.zain.com/ZESB/Services/QueryPACIAPIRequest.xsd"/>
    <import location="../../../../BusinessSchemas/Services/Query/QueryPACIAPI/QueryPACIAPIResponse.xsd" namespace="http://www.zain.com/ZESB/Services/QueryPACIAPIResponse.xsd"/>
    <import location="../../../../BusinessSchemas/Services/Common/fault.xsd" namespace="http://www.zain.com/ZESB/Services/faultschema/fault.xsd"/>
    <message name="GetPACIAuthenticationRequest">
        <part element="ns2:GetPACIAuthenticationRequest" name="request"/>
    </message>
    <message name="GetPACIAuthenticationResponse">
        <part element="ns3:GetPACIAuthenticationResponse" name="response"/>
    </message>
    <message name="faultMessage">
        <part element="ns9:FaultType" name="fault"/>
    </message>
    <message name="QueryPACIAPIRequest">
        <part element="ns6:QueryPACIAPIRequest" name="request"/>
    </message>
    <message name="QueryPACIAPIResponse">
        <part element="ns7:QueryPACIAPIResponse" name="response"/>
    </message>
    <portType name="PACIOutboundPortType">
        <operation name="GetPACIAuthentication">
            <input message="tns:GetPACIAuthenticationRequest"/>
            <output message="tns:GetPACIAuthenticationResponse"/>
            <fault message="tns:faultMessage" name="fault1"/>
        </operation>
        <operation name="QueryPACIAPI">
            <input message="tns:QueryPACIAPIRequest"/>
            <output message="tns:QueryPACIAPIResponse"/>
            <fault message="tns:faultMessage" name="fault1"/>
        </operation>
    </portType>
</definitions>