src/CommonProject/BusinessWSDLS/Services/WSDLS/QueryCustomerProfile_Biometric/QueryCustomerProfileByIdInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerProfileById" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/CustomerProfileById/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfileById">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Param">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/CustomerProfileById/Types" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfileById/Types">
            <xs:element name="QueryContractInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContractID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuerySubscriberInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="MSISDN" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberArea" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberType" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="IdNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerByIdInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IDType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Civil ID"/>
                                    <xs:enumeration value="Employee"/>
                                    <xs:enumeration value="System Generated"/>
                                    <xs:enumeration value="Licence"/>
                                    <xs:enumeration value="Roaming"/>
                                    <xs:enumeration value="Passport"/>
                                    <xs:enumeration value="Enterprise"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="1" minOccurs="1" name="IdNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="PostalAddress">
                <xs:sequence>
                    <xs:element minOccurs="0" name="PostalArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="POBox" type="xs:string"/>
                    <xs:element minOccurs="0" name="PostalCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                    <xs:element minOccurs="0" name="Governate" type="xs:string"/>
                    <xs:element minOccurs="0" name="Area" type="xs:string"/>
                    <xs:element minOccurs="0" name="Block" type="xs:string"/>
                    <xs:element minOccurs="0" name="Street" type="xs:string"/>
                    <xs:element minOccurs="0" name="HouseOrBuilding" type="xs:string"/>
                    <xs:element minOccurs="0" name="Floor" type="xs:string"/>
                    <xs:element minOccurs="0" name="Apartment" type="xs:string"/>
                    <xs:element minOccurs="0" name="Directions" type="xs:string"/>
                    <xs:element minOccurs="0" name="PACIRef" type="xs:string"/>
                    <xs:element minOccurs="0" name="Region" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZipCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="StreetNo" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                    <xs:element minOccurs="0" name="Name" type="xs:string"/>
                    <xs:element minOccurs="0" name="Title" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="LastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="SecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ThirdName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicTitle" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicFirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicLastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicSecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicThirdName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="Sex" type="xs:string"/>
                    <xs:element minOccurs="0" name="Nationality" type="xs:string"/>
                    <xs:element minOccurs="0" name="Language" type="xs:string"/>
                    <xs:element minOccurs="0" name="Profession" type="xs:string"/>
                    <xs:element minOccurs="0" name="ProfessionDescription" type="xs:string"/>
                    <xs:element minOccurs="0" name="Education" type="xs:string"/>
                    <xs:element minOccurs="0" name="MaritalStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="Employee" type="xs:string"/>
                    <xs:element minOccurs="0" name="StaffNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="PersonalNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdType" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdExpirationDate" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Identity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="typ:IdentityName"/>
                    <xs:element minOccurs="0" name="Information" type="typ:IdentityInformation"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PhoneContact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Number" type="xs:string"/>
                    <xs:element minOccurs="0" name="Type" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Contact">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PhoneContact" type="typ:PhoneContact"/>
                    <xs:element minOccurs="0" name="eMailAddress" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CardInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IMSI" type="xs:string"/>
                    <xs:element minOccurs="0" name="ICCID" type="xs:string"/>
                    <xs:element minOccurs="0" name="PIN" type="xs:string"/>
                    <xs:element minOccurs="0" name="PUK1" type="xs:string"/>
                    <xs:element minOccurs="0" name="PUK2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="Category" type="xs:string"/>
                    <xs:element minOccurs="0" name="Segment" type="xs:string"/>
                    <xs:element minOccurs="0" name="AppliedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CloseCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="BillGroup" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReferredBy" type="xs:string"/>
                    <xs:element minOccurs="0" name="TariffProfile" type="xs:string"/>
                    <xs:element minOccurs="0" name="AllowedSubs" type="xs:int"/>
                    <xs:element minOccurs="0" name="CurrentSubs" type="xs:int"/>
                    <xs:element minOccurs="0" name="VPNCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="ChangedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="AccountType" type="xs:string"/>
                    <xs:element minOccurs="0" name="Currency" type="xs:string"/>
                    <xs:element minOccurs="0" name="HotBilling" type="xs:string"/>
                    <xs:element minOccurs="0" name="PaymentResponsibility" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MSISDN" type="xs:string"/>
                    <xs:element minOccurs="0" name="Area" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransferDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="BillingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BasicServiceType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BSFlag" type="xs:string"/>
                    <xs:element minOccurs="0" name="MainSubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="HLRProfile" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="ContractAuthority" type="xs:string"/>
                    <xs:element minOccurs="0" name="GSMMain" type="xs:string"/>
                    <xs:element minOccurs="0" name="SCRClass" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditLimit" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstCallDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="SimCard" type="typ:CardInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="typ:PostalAddress"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="typ:Address"/>
                    <xs:element minOccurs="0" name="Identity" type="typ:Identity"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="typ:Contact"/>
                    <xs:element minOccurs="0" name="Details" type="typ:ContractDetails"/>
                    <xs:element minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractDetailsList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ContractDetails" type="typ:ContractDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="typ:PostalAddress"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="typ:Address"/>
                    <xs:element minOccurs="0" name="Identity" type="typ:Identity"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="typ:Contact"/>
                    <xs:element minOccurs="0" name="Details" type="typ:SubscriberDetails"/>
                    <xs:element minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryContractResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CustomerProfile" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ContractInfo" type="typ:ContractInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuerySubscriberResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CustomerProfile" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ContractID" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountStatus" type="xs:string"/>
                        <xs:element minOccurs="0" name="Segment" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SubscriberInfo" type="typ:SubscriberInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CustomerProfile" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ContractInfo" type="typ:ContractInfo"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SubscriberInfo" type="typ:SubscriberInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerByIdResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="ContractDetailsList" type="typ:ContractDetailsList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryCustomerRequest">
        <wsdl:part element="typ:QueryCustomerInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerResponse">
        <wsdl:part element="typ:QueryCustomerResult" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="CustomerProfilePort">
        <wsdl:operation name="QueryCustomer">
            <wsdl:input message="tns:QueryCustomerRequest"/>
            <wsdl:output message="tns:QueryCustomerResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerProfileBinding" type="tns:CustomerProfilePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryCustomer">
            <soap:operation soapAction="QueryCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerProfileById">
        <wsdl:port binding="tns:CustomerProfileBinding" name="CustomerProfilePort">
            <soap:address location="URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>