src/GW_ERP/BusinessProcesses/Services/ERP_REST/BusinessSchemas/InventoryManagement/POSTransaction/POSTransactionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/posTransactionRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="posTransactionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="storeCode" type="xs:string"/>
				<xs:element name="userName" type="xs:string"/>
				<xs:element name="orderID" type="xs:string"/>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="remarks" type="xs:string" minOccurs="0"/>
				<xs:element name="transDetails" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="itemCode" type="xs:string"/>
							<xs:element name="serialNumberFrom" type="xs:string"/>
							<xs:element name="serialNumberTo" type="xs:string" minOccurs="0"/>
							<xs:element name="orderLineID" type="xs:string"/>
							<xs:element name="qty" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>