src/CommonProject/BusinessWSDLS/Services/WSDLS/AutoPay/AutoPayInbound.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.zain.com/ZESB/Services/AutoPay" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:typ="http://www.zain.com/ZESB/Services/AutoPay/Types" name="AutoPayOutbound" targetNamespace="http://www.zain.com/ZESB/Services/AutoPay">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string"/>
						<xs:element name="detail" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ParamList">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element maxOccurs="unbounded" name="StringParam" type="com:StringParam"/>
					<xs:element maxOccurs="unbounded" name="BooleanParam" type="com:BooleanParam"/>
					<xs:element maxOccurs="unbounded" name="IntParam" type="com:IntParam"/>
					<xs:element maxOccurs="unbounded" name="LongParam" type="com:LongParam"/>
					<xs:element maxOccurs="unbounded" name="FloatParam" type="com:FloatParam"/>
					<xs:element maxOccurs="unbounded" name="DecimalParam" type="com:DecimalParam"/>
					<xs:element maxOccurs="unbounded" name="DoubleParam" type="com:DoubleParam"/>
					<xs:element maxOccurs="unbounded" name="DateParam" type="com:DateParam"/>
					<xs:element maxOccurs="unbounded" name="DateTimeParam" type="com:DateTimeParam"/>
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="StringParam">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DecimalParam">
				<xs:simpleContent>
					<xs:extension base="xs:decimal">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="BooleanParam">
				<xs:simpleContent>
					<xs:extension base="xs:boolean">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="IntParam">
				<xs:simpleContent>
					<xs:extension base="xs:int">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="LongParam">
				<xs:simpleContent>
					<xs:extension base="xs:long">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="FloatParam">
				<xs:simpleContent>
					<xs:extension base="xs:float">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DoubleParam">
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DateParam">
				<xs:simpleContent>
					<xs:extension base="xs:date">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DateTimeParam">
				<xs:simpleContent>
					<xs:extension base="xs:dateTime">
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:schema>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Services/AutoPay/Types">
			<xs:element name="RegisterPrepaidReq">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>The minimum Required parameters are : ServiceType : string, MonthlyLimit: decimal </xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="CardNumber" type="xs:string"/>
						<xs:element name="CardExpiry" type="xs:string"/>
						<xs:element name="Params" minOccurs="0" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegisterPrepaidResp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegisterPostpaidReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="CardNumber" type="xs:string"/>
						<xs:element name="CardExpiry" type="xs:string"/>
						<xs:element name="Params" minOccurs="0" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegisterPostpaidResp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Subscriber">
				<xs:sequence>
					<xs:element name="Msisdn" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscribersList">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="Subscriber" type="typ:Subscriber"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="RegisterContractReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string"/>
						<xs:element name="CardNumber" type="xs:string"/>
						<xs:element name="CardExpiry" type="xs:string"/>
						<xs:element name="Subscribers" type="typ:SubscribersList"/>
						<xs:element name="Params" minOccurs="0" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegisterContractResp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdatePrepaidReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="MaskedCardNumber" type="xs:string"/>
						<xs:element name="Params" minOccurs="0" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdatePrepaidResp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdatePostpaidReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="MaskedCardNumber" type="xs:string"/>
						<xs:element name="Params" minOccurs="0" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdatePostpaidResp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryPrepaidReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryPrepaidResp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MaskedCardNumber" type="xs:string"/>
						<xs:element name="CardExpiry" type="xs:string"/>
						<xs:element name="Active" type="xs:boolean"/>
						<xs:element name="Params" minOccurs="0" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryPostpaidReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryPostpaidResp">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MaskedCardNumber" type="xs:string"/>
						<xs:element name="CardExpiry" type="xs:string"/>
						<xs:element name="Active" type="xs:boolean"/>
						<xs:element name="Params" minOccurs="0" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="RegisterPrepaidRequest">
		<wsdl:part name="RegisterPrepaidinput" element="typ:RegisterPrepaidReq"/>
	</wsdl:message>
	<wsdl:message name="RegisterPrepaidResponse">
		<wsdl:part name="RegisterPrepaidoutput" element="typ:RegisterPrepaidResp"/>
	</wsdl:message>
	<wsdl:message name="RegisterPostpaidRequest">
		<wsdl:part name="RegisterPostpaidRequest" element="typ:RegisterPostpaidReq"/>
	</wsdl:message>
	<wsdl:message name="RegisterPostpaidResponse">
		<wsdl:part name="RegisterPostpaidResponse" element="typ:RegisterPostpaidResp"/>
	</wsdl:message>
	<wsdl:message name="RegisterContractRequest">
		<wsdl:part name="RegisterContractRequest" element="typ:RegisterContractReq"/>
	</wsdl:message>
	<wsdl:message name="RegisterContractResponse">
		<wsdl:part name="RegisterContractResponse" element="typ:RegisterContractResp"/>
	</wsdl:message>
	<wsdl:message name="UpdatePrepaidRequest">
		<wsdl:part name="UpdatePrepaidRequest" element="typ:UpdatePrepaidReq"/>
	</wsdl:message>
	<wsdl:message name="UpdatePrepaidResponse">
		<wsdl:part name="UpdatePrepaidResponse" element="typ:UpdatePrepaidResp"/>
	</wsdl:message>
	<wsdl:message name="UpdatePostpaidRequest">
		<wsdl:part name="UpdatePostpaidRequest" element="typ:UpdatePostpaidReq"/>
	</wsdl:message>
	<wsdl:message name="UpdatePostpaidResponse">
		<wsdl:part name="UpdatePostpaidResponse" element="typ:UpdatePostpaidResp"/>
	</wsdl:message>
	<wsdl:message name="QueryPrepaidRequest">
		<wsdl:part name="QueryPrepaidRequest" element="typ:QueryPrepaidReq"/>
	</wsdl:message>
	<wsdl:message name="QueryPrepaidResponse">
		<wsdl:part name="QueryPrepaidResponse" element="typ:QueryPrepaidResp"/>
	</wsdl:message>
	<wsdl:message name="QueryPostpaidRequest">
		<wsdl:part name="QueryPostpaidRequest" element="typ:QueryPostpaidReq"/>
	</wsdl:message>
	<wsdl:message name="QueryPostpaidResponse">
		<wsdl:part name="QueryPostpaidResponse" element="typ:QueryPostpaidResp"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="AutoPayPort">
		<wsdl:operation name="RegisterPrepaid">
			<wsdl:input message="ns:RegisterPrepaidRequest"/>
			<wsdl:output message="ns:RegisterPrepaidResponse"/>
			<wsdl:fault name="fault" message="ns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="RegisterPostpaid">
			<wsdl:input message="ns:RegisterPostpaidRequest"/>
			<wsdl:output message="ns:RegisterPostpaidResponse"/>
			<wsdl:fault name="fault" message="ns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="RegisterContract">
			<wsdl:input message="ns:RegisterContractRequest"/>
			<wsdl:output message="ns:RegisterContractResponse"/>
			<wsdl:fault name="fault" message="ns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="UpdatePrepaid">
			<wsdl:input message="ns:UpdatePrepaidRequest"/>
			<wsdl:output message="ns:UpdatePrepaidResponse"/>
			<wsdl:fault name="fault" message="ns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="UpdatePostpaid">
			<wsdl:input message="ns:UpdatePostpaidRequest"/>
			<wsdl:output message="ns:UpdatePostpaidResponse"/>
			<wsdl:fault name="fault" message="ns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="QueryPrepaid">
			<wsdl:input message="ns:QueryPrepaidRequest"/>
			<wsdl:output message="ns:QueryPrepaidResponse"/>
			<wsdl:fault name="fault" message="ns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="QueryPostpaid">
			<wsdl:input message="ns:QueryPostpaidRequest"/>
			<wsdl:output message="ns:QueryPostpaidResponse"/>
			<wsdl:fault name="fault" message="ns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AutoPayBinding" type="ns:AutoPayPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RegisterPrepaid">
			<soap:operation soapAction="RegisterPrepaid"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RegisterPostpaid">
			<soap:operation soapAction="RegisterPostpaid"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RegisterContract">
			<soap:operation soapAction="RegisterContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdatePrepaid">
			<soap:operation soapAction="UpdatePrepaid"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdatePostpaid">
			<soap:operation soapAction="UpdatePostpaid"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryPrepaid">
			<soap:operation soapAction="QueryPrepaid"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryPostpaid">
			<soap:operation soapAction="QueryPostpaid"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AutoPay">
		<wsdl:port name="AutoPayPort" binding="ns:AutoPayBinding">
			<soap:address location="URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>