src/CommonProject/BusinessWSDLS/Services/WSDLS/AutoPay/AutoPayRegOutBound.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns0="http://zws/AutoPayRegWS.wsdl/types/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://zws/AutoPayRegWS.wsdl" name="AutoPayRegWS" targetNamespace="http://zws/AutoPayRegWS.wsdl">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://zws/AutoPayRegWS.wsdl/types/" targetNamespace="http://zws/AutoPayRegWS.wsdl/types/" elementFormDefault="qualified">
            <element name="addContractElement">
                <complexType>
                    <sequence>
                        <element name="pContrno" type="string" nillable="true"/>
                        <element name="pCardno" type="string" nillable="true"/>
                        <element name="pExpiry" type="string" nillable="true"/>
                        <element name="pCardtype" type="string" nillable="true"/>
                        <element name="paramIn" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="addContractResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_addContract_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_addContract_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <element name="addSubscriberElement">
                <complexType>
                    <sequence>
                        <element name="pCardno" type="string" nillable="true"/>
                        <element name="pExpiry" type="string" nillable="true"/>
                        <element name="pCardtype" type="string" nillable="true"/>
                        <element name="pSubno" type="string" nillable="true"/>
                        <element name="paramIn" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="addSubscriberResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_addSubscriber_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_addSubscriber_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <element name="deleteContractElement">
                <complexType>
                    <sequence>
                        <element name="pContrno" type="string" nillable="true"/>
                        <element name="pCardno" type="string" nillable="true"/>
                        <element name="pCardtype" type="string" nillable="true"/>
                        <element name="paramIn" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="deleteContractResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_deleteContract_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_deleteContract_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <element name="deleteSubscriberElement">
                <complexType>
                    <sequence>
                        <element name="pCardno" type="string" nillable="true"/>
                        <element name="pCardtype" type="string" nillable="true"/>
                        <element name="pSubno" type="string" nillable="true"/>
                        <element name="paramIn" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="deleteSubscriberResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_deleteSubscriber_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_deleteSubscriber_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <element name="getContractStatusElement">
                <complexType>
                    <sequence>
                        <element name="pContrno" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getContractStatusResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_getContractStatus_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_getContractStatus_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <element name="getSubscriberStatusElement">
                <complexType>
                    <sequence>
                        <element name="pSubno" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getSubscriberStatusResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_getSubscriberStatus_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_getSubscriberStatus_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <element name="updateContractElement">
                <complexType>
                    <sequence>
                        <element name="pContrno" type="string" nillable="true"/>
                        <element name="pCardno" type="string" nillable="true"/>
                        <element name="pExpiry" type="string" nillable="true"/>
                        <element name="pCardtype" type="string" nillable="true"/>
                        <element name="paramIn" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updateContractResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_updateContract_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_updateContract_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <element name="updateSubscriberElement">
                <complexType>
                    <sequence>
                        <element name="pCardno" type="string" nillable="true"/>
                        <element name="pExpiry" type="string" nillable="true"/>
                        <element name="pCardtype" type="string" nillable="true"/>
                        <element name="pSubno" type="string" nillable="true"/>
                        <element name="paramIn" type="string" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updateSubscriberResponseElement">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:AutoPayRegWSUser_updateSubscriber_Out" nillable="true"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="AutoPayRegWSUser_updateSubscriber_Out">
                <sequence>
                    <element name="paramoutOut" type="string" nillable="true"/>
                    <element name="return" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="AutoPayRegWS_addContract">
        <part name="parameters" element="tns0:addContractElement"/>
    </message>
    <message name="AutoPayRegWS_addContractResponse">
        <part name="parameters" element="tns0:addContractResponseElement"/>
    </message>
    <message name="AutoPayRegWS_addSubscriber">
        <part name="parameters" element="tns0:addSubscriberElement"/>
    </message>
    <message name="AutoPayRegWS_addSubscriberResponse">
        <part name="parameters" element="tns0:addSubscriberResponseElement"/>
    </message>
    <message name="AutoPayRegWS_deleteContract">
        <part name="parameters" element="tns0:deleteContractElement"/>
    </message>
    <message name="AutoPayRegWS_deleteContractResponse">
        <part name="parameters" element="tns0:deleteContractResponseElement"/>
    </message>
    <message name="AutoPayRegWS_deleteSubscriber">
        <part name="parameters" element="tns0:deleteSubscriberElement"/>
    </message>
    <message name="AutoPayRegWS_deleteSubscriberResponse">
        <part name="parameters" element="tns0:deleteSubscriberResponseElement"/>
    </message>
    <message name="AutoPayRegWS_getContractStatus">
        <part name="parameters" element="tns0:getContractStatusElement"/>
    </message>
    <message name="AutoPayRegWS_getContractStatusResponse">
        <part name="parameters" element="tns0:getContractStatusResponseElement"/>
    </message>
    <message name="AutoPayRegWS_getSubscriberStatus">
        <part name="parameters" element="tns0:getSubscriberStatusElement"/>
    </message>
    <message name="AutoPayRegWS_getSubscriberStatusResponse">
        <part name="parameters" element="tns0:getSubscriberStatusResponseElement"/>
    </message>
    <message name="AutoPayRegWS_updateContract">
        <part name="parameters" element="tns0:updateContractElement"/>
    </message>
    <message name="AutoPayRegWS_updateContractResponse">
        <part name="parameters" element="tns0:updateContractResponseElement"/>
    </message>
    <message name="AutoPayRegWS_updateSubscriber">
        <part name="parameters" element="tns0:updateSubscriberElement"/>
    </message>
    <message name="AutoPayRegWS_updateSubscriberResponse">
        <part name="parameters" element="tns0:updateSubscriberResponseElement"/>
    </message>
    <portType name="AutoPayRegWS">
        <operation name="addContract">
            <input message="tns:AutoPayRegWS_addContract"/>
            <output message="tns:AutoPayRegWS_addContractResponse"/>
        </operation>
        <operation name="addSubscriber">
            <input message="tns:AutoPayRegWS_addSubscriber"/>
            <output message="tns:AutoPayRegWS_addSubscriberResponse"/>
        </operation>
        <operation name="deleteContract">
            <input message="tns:AutoPayRegWS_deleteContract"/>
            <output message="tns:AutoPayRegWS_deleteContractResponse"/>
        </operation>
        <operation name="deleteSubscriber">
            <input message="tns:AutoPayRegWS_deleteSubscriber"/>
            <output message="tns:AutoPayRegWS_deleteSubscriberResponse"/>
        </operation>
        <operation name="getContractStatus">
            <input message="tns:AutoPayRegWS_getContractStatus"/>
            <output message="tns:AutoPayRegWS_getContractStatusResponse"/>
        </operation>
        <operation name="getSubscriberStatus">
            <input message="tns:AutoPayRegWS_getSubscriberStatus"/>
            <output message="tns:AutoPayRegWS_getSubscriberStatusResponse"/>
        </operation>
        <operation name="updateContract">
            <input message="tns:AutoPayRegWS_updateContract"/>
            <output message="tns:AutoPayRegWS_updateContractResponse"/>
        </operation>
        <operation name="updateSubscriber">
            <input message="tns:AutoPayRegWS_updateSubscriber"/>
            <output message="tns:AutoPayRegWS_updateSubscriberResponse"/>
        </operation>
    </portType>
    <binding name="AutoPayRegWSSoapHttp" type="tns:AutoPayRegWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addContract">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/addContract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addSubscriber">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/addSubscriber"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteContract">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/deleteContract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteSubscriber">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/deleteSubscriber"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getContractStatus">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/getContractStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSubscriberStatus">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/getSubscriberStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateContract">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/updateContract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateSubscriber">
            <soap:operation soapAction="http://zws/AutoPayRegWS.wsdl/updateSubscriber"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AutoPayRegWS">
        <port name="AutoPayRegWSSoapHttpPort" binding="tns:AutoPayRegWSSoapHttp">
            <soap:address location="http://zkhqapp8.kw.zain.com:7777/AutoPayRegWS/AutoPayRegWSSoapHttpPort"/>
        </port>
    </service>
</definitions>