src/CommonProject/BusinessWSDLS/Services/WSDLS/QueryCustomerProfile/QueryCustomerProfileInbound.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerProfile" xmlns:typ="http://www.zain.com/ZESB/Services/CustomerProfile/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfile">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Params">
				<xs:sequence>
					<xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name" type="xs:string"/>
								<xs:element name="Value" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/CustomerProfile/Types" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfile/Types" elementFormDefault="qualified">
			<xs:element name="QueryContractInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractID" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuerySubscriberInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MSISDN" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="SubscriberArea" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscriberType" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryCustomerInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MSISDN" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="SubscriberArea" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscriberType" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryCustomerByIdInput">
				<xs:complexType>
					<xs:sequence>
					    <xs:element name="IDType">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Civil ID"/>
									<xs:enumeration value="Employee"/>
									<xs:enumeration value="System Generated"/>
									<xs:enumeration value="Licence"/>
									<xs:enumeration value="Roaming"/>
									<xs:enumeration value="Passport"/>
									<xs:enumeration value="Enterprise"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IdNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="PostalAddress">
				<xs:sequence>
					<xs:element name="PostalArea" type="xs:string" minOccurs="0"/>
					<xs:element name="POBox" type="xs:string" minOccurs="0"/>
					<xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Address">
				<xs:sequence>
					<xs:element name="Country" type="xs:string" minOccurs="0"/>
					<xs:element name="Governate" type="xs:string" minOccurs="0"/>
					<xs:element name="Area" type="xs:string" minOccurs="0"/>
					<xs:element name="Block" type="xs:string" minOccurs="0"/>
					<xs:element name="Street" type="xs:string" minOccurs="0"/>
					<xs:element name="HouseOrBuilding" type="xs:string" minOccurs="0"/>
					<xs:element name="Floor" type="xs:string" minOccurs="0"/>
					<xs:element name="Apartment" type="xs:string" minOccurs="0"/>
					<xs:element name="Directions" type="xs:string" minOccurs="0"/>
					<xs:element name="PACIRef" type="xs:string" minOccurs="0"/>
					<xs:element name="Region" type="xs:string" minOccurs="0"/>
					<xs:element name="ZipCode" type="xs:string" minOccurs="0"/>
					<xs:element name="StreetNo" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="IdentityName">
				<xs:sequence>
					<xs:element name="Country" type="xs:string" minOccurs="0"/>
					<xs:element name="Name" type="xs:string" minOccurs="0"/>
					<xs:element name="Title" type="xs:string" minOccurs="0"/>
					<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
					<xs:element name="LastName" type="xs:string" minOccurs="0"/>
					<xs:element name="SecondName" type="xs:string" minOccurs="0"/>
					<xs:element name="ThirdName" type="xs:string" minOccurs="0"/>
					<xs:element name="ArabicName" type="xs:string" minOccurs="0"/>
					<xs:element name="ArabicTitle" type="xs:string" minOccurs="0"/>
					<xs:element name="ArabicFirstName" type="xs:string" minOccurs="0"/>
					<xs:element name="ArabicLastName" type="xs:string" minOccurs="0"/>
					<xs:element name="ArabicSecondName" type="xs:string" minOccurs="0"/>
					<xs:element name="ArabicThirdName" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="IdentityInformation">
				<xs:sequence>
					<xs:element name="DateOfBirth" type="xs:date" nillable="true" minOccurs="0"/>
					<xs:element name="Sex" type="xs:string" minOccurs="0"/>
					<xs:element name="Nationality" type="xs:string" minOccurs="0"/>
					<xs:element name="Language" type="xs:string" minOccurs="0"/>
					<xs:element name="Profession" type="xs:string" minOccurs="0"/>
					<xs:element name="ProfessionDescription" type="xs:string" minOccurs="0"/>
					<xs:element name="Education" type="xs:string" minOccurs="0"/>
					<xs:element name="MaritalStatus" type="xs:string" minOccurs="0"/>
					<xs:element name="Employee" type="xs:string" minOccurs="0"/>
					<xs:element name="StaffNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="PersonalNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="IdType" type="xs:string" minOccurs="0"/>
					<xs:element name="IdNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="IdExpirationDate" type="xs:date" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Identity">
				<xs:sequence>
					<xs:element name="Name" type="typ:IdentityName" minOccurs="0"/>
					<xs:element name="Information" type="typ:IdentityInformation" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PhoneContact">
				<xs:sequence>
					<xs:element name="Number" type="xs:string" minOccurs="0"/>
					<xs:element name="Type" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Contact">
				<xs:sequence>
					<xs:element name="PhoneContact" type="typ:PhoneContact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="eMailAddress" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CardInfo">
				<xs:sequence>
					<xs:element name="CardType" type="xs:string" minOccurs="0"/>
					<xs:element name="CardNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
					<xs:element name="ICCID" type="xs:string" minOccurs="0"/>
					<xs:element name="PIN" type="xs:string" minOccurs="0"/>
					<xs:element name="PUK1" type="xs:string" minOccurs="0"/>
					<xs:element name="PUK2" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContractDetails">
				<xs:sequence>
					<xs:element name="ID" type="xs:string" minOccurs="0"/>
					<xs:element name="Status" type="xs:string" minOccurs="0"/>
					<xs:element name="Category" type="xs:string" minOccurs="0"/>
					<xs:element name="Segment" type="xs:string" minOccurs="0"/>
					<xs:element name="AppliedDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="CloseCode" type="xs:string" minOccurs="0"/>
					<xs:element name="BillGroup" type="xs:string" minOccurs="0"/>
					<xs:element name="ReferredBy" type="xs:string" minOccurs="0"/>
					<xs:element name="TariffProfile" type="xs:string" minOccurs="0"/>
					<xs:element name="AllowedSubs" type="xs:int" minOccurs="0"/>
					<xs:element name="CurrentSubs" type="xs:int" minOccurs="0"/>
					<xs:element name="VPNCode" type="xs:string" minOccurs="0"/>
					<xs:element name="CreatedDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="ChangedDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="AccountType" type="xs:string" minOccurs="0"/>
					<xs:element name="Currency" type="xs:string" minOccurs="0"/>
					<xs:element name="HotBilling" type="xs:string" minOccurs="0"/>
					<xs:element name="PaymentResponsibility" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscriberDetails">
				<xs:sequence>
					<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
					<xs:element name="Area" type="xs:string" minOccurs="0"/>
					<xs:element name="Status" type="xs:string" minOccurs="0"/>
					<xs:element name="TransferDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="BillingType" type="xs:string" minOccurs="0"/>
					<xs:element name="BasicServiceType" type="xs:string" minOccurs="0"/>
					<xs:element name="BSFlag" type="xs:string" minOccurs="0"/>
					<xs:element name="MainSubscriberNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="HLRProfile" type="xs:string" minOccurs="0"/>
					<xs:element name="NotifiedSubscriberNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="NotifiedSubscriberType" type="xs:string" minOccurs="0"/>
					<xs:element name="NotifiedSubscriberArea" type="xs:string" minOccurs="0"/>
					<xs:element name="ContractAuthority" type="xs:string" minOccurs="0"/>
					<xs:element name="GSMMain" type="xs:string" minOccurs="0"/>
					<xs:element name="SCRClass" type="xs:string" minOccurs="0"/>
					<xs:element name="NumberType" type="xs:string" minOccurs="0"/>
					<xs:element name="CreditLimit" type="xs:string" minOccurs="0"/>
					<xs:element name="FirstCallDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="CreatedDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="SimCard" type="typ:CardInfo" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContractInfo">
				<xs:sequence>
					<xs:element name="PostalAddress" type="typ:PostalAddress" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Address" type="typ:Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Identity" type="typ:Identity" minOccurs="0"/>
					<xs:element name="Contact" type="typ:Contact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Details" type="typ:ContractDetails" minOccurs="0"/>
					<xs:element name="Params" type="com:Params" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContractDetailsList">
				<xs:sequence>
					<xs:element name="ContractDetails" type="typ:ContractDetails" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscriberInfo">
				<xs:sequence>
					<xs:element name="PostalAddress" type="typ:PostalAddress" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Address" type="typ:Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Identity" type="typ:Identity" minOccurs="0"/>
					<xs:element name="Contact" type="typ:Contact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Details" type="typ:SubscriberDetails" minOccurs="0"/>
					<xs:element name="Params" type="com:Params" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="QueryContractResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
						<xs:element name="ContractInfo" type="typ:ContractInfo" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuerySubscriberResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
						<xs:element name="ContractID" type="xs:string" minOccurs="0"/>
						<xs:element name="AccountStatus" type="xs:string" minOccurs="0"/>
						<xs:element name="Segment" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscriberInfo" type="typ:SubscriberInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryCustomerResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
						<xs:element name="ContractInfo" type="typ:ContractInfo" minOccurs="0"/>
						<xs:element name="SubscriberInfo" type="typ:SubscriberInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryCustomerByIdResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractDetailsList" type="typ:ContractDetailsList" minOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				<xs:element name="QueryContactsInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractID" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ContactDetails">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="ContactId" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="AuthorizationLevel" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:string"/>				
					<xs:element minOccurs="0" name="Identity" type="typ:Identity"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" type="typ:Contact"/>
					<xs:element minOccurs="0" name="Params" type="com:Params"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactInfo">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDetails" type="typ:ContactDetails"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="QueryContactsResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
						<xs:element minOccurs="1" maxOccurs="1" name="Contacts" type="typ:ContactInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="QueryContractRequest">
		<wsdl:part name="request" element="typ:QueryContractInput"/>
	</wsdl:message>
	<wsdl:message name="QueryContractResponse">
		<wsdl:part name="response" element="typ:QueryContractResult"/>
	</wsdl:message>
	<wsdl:message name="QuerySubscriberRequest">
		<wsdl:part name="request" element="typ:QuerySubscriberInput"/>
	</wsdl:message>
	<wsdl:message name="QuerySubscriberResponse">
		<wsdl:part name="response" element="typ:QuerySubscriberResult"/>
	</wsdl:message>
	<wsdl:message name="QueryCustomerRequest">
		<wsdl:part name="request" element="typ:QueryCustomerInput"/>
	</wsdl:message>
	<wsdl:message name="QueryCustomerResponse">
		<wsdl:part name="response" element="typ:QueryCustomerResult"/>
	</wsdl:message>
	<wsdl:message name="QueryCustomerByIdRequest">
		<wsdl:part name="request" element="typ:QueryCustomerByIdInput"/>
	</wsdl:message>
	<wsdl:message name="QueryCustomerByIdResponse">
		<wsdl:part name="response" element="typ:QueryCustomerByIdResult"/>
	</wsdl:message>
	<wsdl:message name="QueryContactsRequest">
		<wsdl:part name="request" element="typ:QueryContactsInput"/>
	</wsdl:message>
	<wsdl:message name="QueryContactsResponse">
		<wsdl:part name="response" element="typ:QueryContactsResult"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="CustomerProfilePort">
		<wsdl:operation name="QueryContract">
			<wsdl:input message="tns:QueryContractRequest"/>
			<wsdl:output message="tns:QueryContractResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="QuerySubscriber">
			<wsdl:input message="tns:QuerySubscriberRequest"/>
			<wsdl:output message="tns:QuerySubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomer">
			<wsdl:input message="tns:QueryCustomerRequest"/>
			<wsdl:output message="tns:QueryCustomerResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomerById">
			<wsdl:input message="tns:QueryCustomerByIdRequest"/>
			<wsdl:output message="tns:QueryCustomerByIdResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
			<wsdl:operation name="QueryContacts">
			<wsdl:input message="tns:QueryContactsRequest"/>
			<wsdl:output message="tns:QueryContactsResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerProfileBinding" type="tns:CustomerProfilePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="QueryContract">
			<soap:operation soapAction="QueryContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QuerySubscriber">
			<soap:operation soapAction="QuerySubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomer">
			<soap:operation soapAction="QueryCustomer"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryCustomerById">
			<soap:operation soapAction="QueryCustomerById"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QueryContacts">
			<soap:operation soapAction="QueryContacts"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerProfile">
		<wsdl:port name="CustomerProfilePort" binding="tns:CustomerProfileBinding">
			<soap:address location="URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>