src/CommonProject/BusinessWSDLS/Services/WSDLS/QueryCustomerServices/QueryCustomerServicesInbound.wsdl

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by AppsPortables.com (AppsPortables.com) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerServices" xmlns:typ="http://www.zain.com/ZESB/Services/CustomerServices/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/CustomerServices">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Params">
				<xs:sequence>
					<xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Name" type="xs:string"/>
								<xs:element name="Value" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/CustomerServices/Types" targetNamespace="http://www.zain.com/ZESB/Services/CustomerServices/Types" elementFormDefault="qualified">
			<xs:element name="QueryRequestInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ContractInfo">
				<xs:sequence>
					<xs:element name="ID" type="xs:string" minOccurs="0"/>
					<xs:element name="Status" type="xs:string" minOccurs="0"/>
					<xs:element name="Segment" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscriberInfo">
				<xs:sequence>
					<xs:element name="Status" type="xs:string" minOccurs="0"/>
					<xs:element name="BillingType" type="xs:string" minOccurs="0"/>
					<xs:element name="Name" type="xs:string" minOccurs="0"/>
					<xs:element name="BSType" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscriberProduct">
				<xs:sequence>
					<xs:element name="Code" type="xs:string" minOccurs="0"/>
					<xs:element name="Status" type="xs:string" minOccurs="0"/>
					<xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
					<xs:element name="ArabicDisplayName" type="xs:string" minOccurs="0"/>
					<xs:element name="Category" type="xs:string" minOccurs="0"/>
					<xs:element name="SubCategory" type="xs:string" minOccurs="0"/>
					<xs:element name="Classification" type="xs:string" minOccurs="0"/>
					<xs:element name="StartDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="EndDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="RatingInfo" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="RatingInfoItem" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Unit" type="xs:string" minOccurs="0"/>
											<xs:element name="Quantity" type="xs:decimal" minOccurs="0"/>
											<xs:element name="UsedQuantity" type="xs:decimal" minOccurs="0"/>
											<xs:element name="MaxLimit" type="xs:string" minOccurs="0"/>
											<xs:element name="MinLimit" type="xs:string" minOccurs="0"/>
											<xs:element name="WarningLimit" type="xs:string" minOccurs="0"/>
											<xs:element name="ExpirationDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProductSpecs" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ProductSpec" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Name" type="xs:string"/>
											<xs:element name="Value" type="xs:string"/>
											<xs:element name="Measure" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProductFees" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ProductFee" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Name" type="xs:string"/>
											<xs:element name="Amount" type="xs:string"/>
											<xs:element name="RecurrencyType" type="xs:string" minOccurs="0"/>
											<xs:element name="RecurrencyValue" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CommitmentStartDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="CommitmentEndDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
					<xs:element name="Params" type="com:Params" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="QueryResult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractInfo" type="typ:ContractInfo" minOccurs="0"/>
						<xs:element name="SubscriberInfo" type="typ:SubscriberInfo" minOccurs="0"/>
						<xs:element name="SubscriberProducts" type="typ:SubscriberProduct" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="QueryCustomerServicesRequest">
		<wsdl:part name="request" element="typ:QueryRequestInput"/>
	</wsdl:message>
	<wsdl:message name="QueryCustomerServicesResponse">
		<wsdl:part name="response" element="typ:QueryResult"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="CustomerServicesPort">
		<wsdl:operation name="queryCustomerServices">
			<wsdl:input message="tns:QueryCustomerServicesRequest"/>
			<wsdl:output message="tns:QueryCustomerServicesResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerServicesBinding" type="tns:CustomerServicesPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="queryCustomerServices">
			<soap:operation soapAction="queryCustomerServices"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerServices">
		<wsdl:port name="CustomerServicesPort" binding="tns:CustomerServicesBinding"/>
	</wsdl:service>
</wsdl:definitions>
