src/CommonProject/BusinessWSDLS/Services/WSDLS/QueryCustomerServices/QueryCustomerServices.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.zain.com/ZESB/Services/CustomerServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N3="http://www.zain.com/ZESB/Services/CustomerServices" xmlns:WL5G3N2="http://www.zain.com/ZESB/Types/Common" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.zain.com/ZESB/Services/CustomerServices/Types">
<wsp:Policy orawsp:provides="{http://docs.oasis-open.org/ns/opencsa/sca/200903}authentication, {http://docs.oasis-open.org/ns/opencsa/sca/200903}clientAuthentication, {http://docs.oasis-open.org/ns/opencsa/sca/200903}clientAuthentication.message, {http://schemas.oracle.com/ws/2006/01/policy}token.usernamePassword" wsu:Id="wss_username_token_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:orawsp="http://schemas.oracle.com/ws/2006/01/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
<wsp:Policy>
<sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssUsernameToken10/>
</wsp:Policy>
</sp:UsernameToken>
</wsp:Policy>
</sp:SupportingTokens>
</wsp:Policy>
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerServices" xmlns:typ="http://www.zain.com/ZESB/Services/CustomerServices/Types" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Param">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/CustomerServices/Types" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerServices" xmlns:typ="http://www.zain.com/ZESB/Services/CustomerServices/Types" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="QueryRequestInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ContractInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="Segment" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="BillingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="Name" type="xs:string"/>
                    <xs:element minOccurs="0" name="BSType" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberProduct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Code" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="DisplayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicDisplayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="Category" type="xs:string"/>
                    <xs:element minOccurs="0" name="SubCategory" type="xs:string"/>
                    <xs:element minOccurs="0" name="Classification" type="xs:string"/>
                    <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="RatingInfo">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="RatingInfoItem">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="Unit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="Quantity" type="xs:decimal"/>
                                            <xs:element minOccurs="0" name="UsedQuantity" type="xs:decimal"/>
                                            <xs:element minOccurs="0" name="MaxLimit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="MinLimit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="WarningLimit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ProductSpecs">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="ProductSpec">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Name" type="xs:string"/>
                                            <xs:element name="Value" type="xs:string"/>
                                            <xs:element name="Measure" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductFees">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="ProductFee">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Name" type="xs:string"/>
                                            <xs:element name="Amount" type="xs:string"/>
                                            <xs:element minOccurs="0" name="RecurrencyType" type="xs:string"/>
                                            <xs:element minOccurs="0" name="RecurrencyValue" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CommitmentStartDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CommitmentEndDate" nillable="true" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ContractInfo" type="typ:ContractInfo"/>
                        <xs:element minOccurs="0" name="SubscriberInfo" type="typ:SubscriberInfo"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SubscriberProducts" type="typ:SubscriberProduct"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryCustomerServicesRequest">
        <wsdl:part name="request" element="WL5G3N1:QueryRequestInput"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerServicesResponse">
        <wsdl:part name="response" element="WL5G3N1:QueryResult"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="WL5G3N2:FaultType"/>
    </wsdl:message>
    <wsdl:portType name="CustomerServicesPort">
        <wsdl:operation name="queryCustomerServices">
            <wsdl:input message="WL5G3N3:QueryCustomerServicesRequest"/>
            <wsdl:output message="WL5G3N3:QueryCustomerServicesResponse"/>
            <wsdl:fault name="fault" message="WL5G3N3:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerServicesBinding" type="WL5G3N3:CustomerServicesPort">
        <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:PolicyReference URI="#wss_username_token_service_policy" wsdl:required="false" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
        <wsdl:operation name="queryCustomerServices">
            <WL5G3N4:operation soapAction="queryCustomerServices"/>
            <wsdl:input>
                <WL5G3N4:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <WL5G3N4:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <WL5G3N4:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerServices">
        <wsdl:port name="CustomerServicesPort" binding="WL5G3N3:CustomerServicesBinding">
            <WL5G3N4:address location="http://soadev1.kw.zain.com:8044/ZESB/QueryCustomerServices"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>