src/CommonProject/BusinessSchemas/Services/Applications/Common/OnlineControl/HasServiceWithinPeriodInputMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/OnlineControl/HasServicesWithinPeriodInput.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/OnlineControl/HasServicesWithinPeriodInput.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="HasServiceWithinPeriodRequest">
		<xs:complexType>
			<xs:all>
				<xs:element name="campaignGroupId" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignId" type="xs:string" minOccurs="0"/>
				<xs:element name="contextKey" type="xs:string" minOccurs="0"/>
				<xs:element name="ruleParameters" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="period" type="xs:string" minOccurs="0"/>
							<xs:element name="serviceId" type="xs:string" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>