src/CommonProject/BusinessSchemas/Services/Query/QueryBestPackage/QueryBestPackage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Query/QueryBestPackage.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Query/QueryBestPackage.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryBestPackageInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PublicContractId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryBestPackageOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Average_Details" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicContractId" type="xs:string"/>
	<xs:element name="Segment_Type" type="xs:string"/>
	<xs:element name="Avg_International_Duration" type="xs:string"/>
	<xs:element name="Avg_Roaming_Abroad_Duration" type="xs:string"/>
	<xs:element name="Avg_Roaming_Frwd_Duration" type="xs:string"/>
	<xs:element name="Avg_Local_Call_Duration" type="xs:string"/>
	<xs:element name="Avg_Sms" type="xs:string"/>
	<xs:element name="Avg_Mms" type="xs:string"/>
	<xs:element name="Avg_Internet_Duration" type="xs:string"/>
	<xs:element name="Sms" type="xs:string"/>
	<xs:element name="Mms" type="xs:string"/>
	<xs:element name="Internet_Duration" type="xs:string"/>
	<xs:element name="Local_Duration" type="xs:string"/>
	<xs:element name="International_Duration" type="xs:string"/>
	<xs:element name="Roaming_Abroad_Duration" type="xs:string"/>
	<xs:element name="Roaming_Frwd_Duration" type="xs:string"/>
	<xs:element name="Invoice_No" type="xs:string"/>
	<xs:element name="Sms_Local" type="xs:string"/>
	<xs:element name="Sms_International" type="xs:string"/>
	<xs:element name="Sms_Roaming" type="xs:string"/>
	<xs:element name="Mms_International" type="xs:string"/>
	<xs:element name="Mms_To_Non_Zain" type="xs:string"/>
	<xs:element name="Mms_To_Zain" type="xs:string"/>
	<xs:element name="Internet_Roaming" type="xs:string"/>
	<xs:element name="Internet" type="xs:string"/>
	<xs:element name="Wiyana_Non_Zain" type="xs:string"/>
	<xs:element name="Local_Off_Non_Zain" type="xs:string"/>
	<xs:element name="Covered_By_Bundle" type="xs:string"/>
	<xs:element name="Incoming_Calls" type="xs:string"/>
	<xs:element name="Outgoing_Peak_Free" type="xs:string"/>
	<xs:element name="Outgoing_Peak" type="xs:string"/>
	<xs:element name="Outgoing_Off_Peak_Free" type="xs:string"/>
	<xs:element name="Outgoing_Off_Peak" type="xs:string"/>
	<xs:element name="Peak_To_Zain" type="xs:string"/>
	<xs:element name="Off_Peak_To_Zain" type="xs:string"/>
	<xs:element name="In_Group_Free_Calls" type="xs:string"/>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Segment_Type" minOccurs="0"/>
				<xs:element ref="Sms" minOccurs="0"/>
				<xs:element ref="Mms" minOccurs="0"/>
				<xs:element ref="Internet_Duration" minOccurs="0"/>
				<xs:element ref="Local_Duration" minOccurs="0"/>
				<xs:element ref="International_Duration" minOccurs="0"/>
				<xs:element ref="Roaming_Abroad_Duration" minOccurs="0"/>
				<xs:element ref="Roaming_Frwd_Duration" minOccurs="0"/>
				<xs:element ref="Invoice_No" minOccurs="0"/>
				<xs:element ref="Sms_Local" minOccurs="0"/>
				<xs:element ref="Sms_International" minOccurs="0"/>
				<xs:element ref="Sms_Roaming" minOccurs="0"/>
				<xs:element ref="Mms_International" minOccurs="0"/>
				<xs:element ref="Mms_To_Non_Zain" minOccurs="0"/>
				<xs:element ref="Mms_To_Zain" minOccurs="0"/>
				<xs:element ref="Internet_Roaming" minOccurs="0"/>
				<xs:element ref="Internet" minOccurs="0"/>
				<xs:element ref="Wiyana_Non_Zain" minOccurs="0"/>
				<xs:element ref="Local_Off_Non_Zain" minOccurs="0"/>
				<xs:element ref="Covered_By_Bundle" minOccurs="0"/>
				<xs:element ref="Incoming_Calls" minOccurs="0"/>
				<xs:element ref="Outgoing_Peak_Free" minOccurs="0"/>
				<xs:element ref="Outgoing_Peak" minOccurs="0"/>
				<xs:element ref="Outgoing_Off_Peak_Free" minOccurs="0"/>
				<xs:element ref="Outgoing_Off_Peak" minOccurs="0"/>
				<xs:element ref="Peak_To_Zain" minOccurs="0"/>
				<xs:element ref="Off_Peak_To_Zain" minOccurs="0"/>
				<xs:element ref="In_Group_Free_Calls" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Average_Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Avg_International_Duration" minOccurs="0"/>
				<xs:element ref="Avg_Roaming_Abroad_Duration" minOccurs="0"/>
				<xs:element ref="Avg_Roaming_Frwd_Duration" minOccurs="0"/>
				<xs:element ref="Avg_Local_Call_Duration" minOccurs="0"/>
				<xs:element ref="Avg_Sms" minOccurs="0"/>
				<xs:element ref="Avg_Mms" minOccurs="0"/>
				<xs:element ref="Avg_Internet_Duration" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>