src/CommonProject/BusinessSchemas/Services/Transaction/UTUCChannelUpdate/ChannelUpdateResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/schemas/CommonProject/BusinessSchemas/Services/Transaction/UTUCChannelUpdate/ChannelUpdateRes.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.zain.com/schemas/CommonProject/BusinessSchemas/Services/Transaction/UTUCChannelUpdate/ChannelUpdateRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="ChannelUpdateRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseDesc" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseDesc" type="xs:string"/>
</xs:schema>