src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/BillProcessCreate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/BillProcessCreate.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/BillProcessCreate.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="BillProcessCreateRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContractID" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="CRMCustomerID" type="xs:string" minOccurs="0"/>
				<xs:element name="RequestSubType" type="xs:string" minOccurs="0"/>
				<xs:element name="Simulation" type="xs:boolean" minOccurs="0"/>
				<xs:element name="BillRunDate" type="xs:string" minOccurs="0"/>
				<xs:element name="BillPeriodStartDate" type="xs:string" minOccurs="0"/>
				<xs:element name="BillPeriodEndDate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillProcessCreateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BillingRequestNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
				<xs:element ref="Fault" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>