src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/CBiO2AsyncOrderCreationIO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2AsyncOrderCreationIO"
	 targetNamespace="http://www.siebel.com/xml/CBiO2AsyncOrderCreationIO"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CBiO2AsyncOrderCreationIO" type="xsdLocal:CBiO2AsyncOrderCreationIO"/>
	<xsd:complexType name="CBiO2AsyncOrderCreationIOTopElmt">
		<xsd:sequence>
			<xsd:element name="CBiO2AsyncOrderCreationIO" type="xsdLocal:CBiO2AsyncOrderCreationIO"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CBiO2AsyncOrderCreationIO">
		<xsd:sequence>
			<xsd:element name="CBiO2AsyncOrderInputs" type="xsdLocal:CBiO2AsyncOrderInputs"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CBiO2AsyncOrderInputs">
		<xsd:sequence>
			<xsd:element name="ProductDetails" type="xsdLocal:ProductDetails" maxOccurs="unbounded"/>
			<xsd:element name="CWOrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CWOrderStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MSISDN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrderSubmittedDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UserName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Source" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TransactionId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_SourceErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_SourceErrDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlexiOffer" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductDetails">
		<xsd:sequence>
			<xsd:element name="FlexiAttributeName" type="xsdLocal:FlexiAttributeName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProductId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ICFLEXActivationCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceStartDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceEndDate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FlexiAttributeName">
		<xsd:sequence>
			<xsd:element name="ParameterValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ParameterName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>