src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/ListOfCbio2smartmeteritemresponse.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2SmartMeterItemResponse" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2SmartMeterItemResponse" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="ListOfCbio2smartmeteritemresponse" type="xsdLocal:ListOfCbio2smartmeteritemresponse" />
	<xsd:complexType name="ListOfCbio2smartmeteritemresponseTopElmt" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2smartmeteritemresponse" type="xsdLocal:ListOfCbio2smartmeteritemresponse" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2smartmeteritemresponse" >
		<xsd:sequence >
			<xsd:element name="Cbio2SmartMeterItem" type="xsdLocal:Cbio2SmartMeterItem" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="Cbio2SmartMeterItem" >
		<xsd:sequence >
			<xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AdditionalField1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AdditionalField2" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AdditionalField3" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BSCSContractCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EOMOrderNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EOMOrderStatus" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorSourceErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorSourceErrorDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorUserErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorUserErrorDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="HeaderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ICCId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Remarks" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMItemCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMKIValue" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMPIN1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMPIN2" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMPUK1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMPUK2" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMSerialNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMVendorCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SIMIMSI" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >