src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/ListOfCbio2ExternalPmtPostingIo.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xsd:schema attributeFormDefault = "unqualified" elementFormDefault = "qualified" targetNamespace = "http://www.siebel.com/xml/CBiO2%20External%20Pmt%20Posting%20IO" xmlns:xsd = "http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal = "http://www.siebel.com/xml/CBiO2%20External%20Pmt%20Posting%20IO">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>
	<xsd:element name = "ListOfCbio2ExternalPmtPostingIo" type = "xsdLocal:ListOfCbio2ExternalPmtPostingIo"/>
	<xsd:complexType name = "ListOfCbio2ExternalPmtPostingIoTopElmt">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "1" name = "ListOfCbio2ExternalPmtPostingIo" type = "xsdLocal:ListOfCbio2ExternalPmtPostingIo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ListOfCbio2ExternalPmtPostingIo">
		<xsd:sequence>
			<xsd:element maxOccurs = "unbounded" minOccurs = "0" name = "Payments" type = "xsdLocal:Payments"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Payments">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "AccountNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "AuthorizationCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2AssetId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2AuthorizeCredit" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2BankBranch" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2BatchNo" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Channel" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ChequeNum" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2CustomerSequenceNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ErrorCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ErrorMessage" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ErrorType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_Additional_Desc1" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_Additional_Desc2" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_Occurance_Time" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_SourceSystem" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_UserErrCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_UserErrDesc" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ExtTransactionRef" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2IssueDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MSISDN" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MerchantId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntAcquireResCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntAuthorizationId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntAuthorizationStatus" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntCardType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntOrderInfo" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntRecieptNo" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntSettlementDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntShoppingTranRef" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2MrchntTransactionRef" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2PaymentDateTime" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2PaymentRef" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ReceiptNo" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2SalesAgent" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2TerminalId" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2WorkArea" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CardHolder" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "ResponseCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "Message" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "Description" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "ExpirationMonth" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "ExpirationYear" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "IssuingBankName" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "PaymentMethod" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "PaymentStatus" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "PaymentType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "TransactionAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "VerificationNumber" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "ListOfCbio2SubscriberPaymentInfo" type = "xsdLocal:ListOfCbio2SubscriberPaymentInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "ListOfCbio2SubscriberPaymentInfo">
		<xsd:sequence>
			<xsd:element maxOccurs = "unbounded" minOccurs = "0" name = "Cbio2SubscriberPaymentInfo" type = "xsdLocal:Cbio2SubscriberPaymentInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "Cbio2SubscriberPaymentInfo">
		<xsd:sequence>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2DueAmount" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ErrorCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ErrorMessage" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ErrorStatus" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2ErrorType" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_Additional_Desc1" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_Additional_Desc2" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_Occurance_Time" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_SourceSystem" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_UserErrCode" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Error_UserErrDesc" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2Msisdn2" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2PaymentDate" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2PaymentRef2" type = "xsd:string"/>
			<xsd:element maxOccurs = "1" minOccurs = "0" name = "CBiO2PaymentStatus" type = "xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>