src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/ListOfCbio2stpaymentreqio.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2STPaymnetReqIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2STPaymnetReqIO" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"  />
	<xsd:complexType name="SiebelMessage" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2stpaymnetreqio" type="xsdLocal:ListOfCbio2stpaymnetreqio" minOccurs="0" maxOccurs="1"  />
		</xsd:sequence >
		<xsd:attribute name="MessageId" type="xsd:string"  />
		<xsd:attribute name="MessageType" type="xsd:string"  />
		<xsd:attribute name="IntObjectName" type="xsd:string"  />
		<xsd:attribute name="IntObjectFormat" type="xsd:string"  />
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2stpaymnetreqio" >
		<xsd:sequence >
			<xsd:element name="OrderEntry-Orders" type="xsdLocal:OrderEntry-Orders" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="OrderEntry-Orders" >
		<xsd:sequence >
			<xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PayableAmount" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BSCSContractId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SalesRep" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="POSMSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Channel" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ShopId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SubscriberNo" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OrderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OrderNumber" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="PaymentId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Category" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RecurringFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BillingProfile" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfOrderEntry-LineItems" type="xsdLocal:ListOfOrderEntry-LineItems" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfOrderEntry-LineItems" >
		<xsd:sequence >
			<xsd:element name="OrderEntry-LineItems" type="xsdLocal:OrderEntry-LineItems" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="OrderEntry-LineItems" >
		<xsd:sequence >
			<xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BasePrice" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ItemCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NetPrice" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ProdGlobalIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OrderHeaderId" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Quantity" type="xsd:string" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >