src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/ListOfCbio2offerexpiryupdateio.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2OfferExpiryUpdateIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2OfferExpiryUpdateIO" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="ListOfCbio2offerexpiryupdateio" type="xsdLocal:ListOfCbio2offerexpiryupdateio" />
	<xsd:complexType name="ListOfCbio2offerexpiryupdateioTopElmt" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2offerexpiryupdateio" type="xsdLocal:ListOfCbio2offerexpiryupdateio" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2offerexpiryupdateio" >
		<xsd:sequence >
			<xsd:element name="AssetMgmt-Asset" type="xsdLocal:AssetMgmt-Asset" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="AssetMgmt-Asset" >
		<xsd:sequence >
			<xsd:element name="AssetId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EffectiveEndDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >