src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/listOfCbio2CustomerCategoryChangeResIo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2%20Customer%20Category%20Change%20Res%20IO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Customer%20Category%20Change%20Res%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="listOfCbio2CustomerCategoryChangeResIo" type="xsdLocal:listOfCbio2CustomerCategoryChangeResIo"
/><xsd:complexType name="listOfCbio2CustomerCategoryChangeResIoTopElmt"
><xsd:sequence
><xsd:element name="listOfCbio2CustomerCategoryChangeResIo" type="xsdLocal:listOfCbio2CustomerCategoryChangeResIo" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="listOfCbio2CustomerCategoryChangeResIo"
><xsd:sequence
><xsd:element name="serviceRequest" type="xsdLocal:serviceRequest" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="serviceRequest"
><xsd:sequence
><xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2BusinessUnit" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2CompletedDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ECMOrderId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="cBiO2ResponseType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>