src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/ListOfCBiO2AutoRenewalCancelReq.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2AutoRenewalCancelReq" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2AutoRenewalCancelReq" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfCBiO2AutoRenewalCancelReq" type="xsdLocal:ListOfCBiO2AutoRenewalCancelReq"
/><xsd:complexType name="ListOfCBiO2AutoRenewalCancelReqTopElmt"
><xsd:sequence
><xsd:element name="ListOfCBiO2AutoRenewalCancelReq" type="xsdLocal:ListOfCBiO2AutoRenewalCancelReq" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCBiO2AutoRenewalCancelReq"
><xsd:sequence
><xsd:element name="CBiO2AutoRenewal" type="xsdLocal:CBiO2AutoRenewal" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CBiO2AutoRenewal"
><xsd:sequence
><xsd:element name="Operation" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="OrderDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Source" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="OrderReason" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ProductId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>