src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/ListOfCbio2sendsms.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2SendSMS" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2SendSMS" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage" 
/><xsd:complexType name="SiebelMessage"
><xsd:sequence
><xsd:element name="ListOfCbio2sendsms" type="xsdLocal:ListOfCbio2sendsms" minOccurs="0" maxOccurs="1" 
/></xsd:sequence
><xsd:attribute name="MessageId" type="xsd:string" 
/><xsd:attribute name="MessageType" type="xsd:string" 
/><xsd:attribute name="IntObjectName" type="xsd:string" 
/><xsd:attribute name="IntObjectFormat" type="xsd:string" 
/></xsd:complexType
><xsd:complexType name="ListOfCbio2sendsms"
><xsd:sequence
><xsd:element name="Cbio2sendsms" type="xsdLocal:Cbio2sendsms" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="Cbio2sendsms"
><xsd:sequence
><xsd:element name="SMSText" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="From" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Language" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="To" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Channel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="SubscriptionNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContractId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PreferredEndTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PreferredStartTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Remarks" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>