src/CommonProject/BusinessSchemas/Services/Applications/CRM/Update/TerminateMsisdnUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/BusinessSchemas/Services/TerminateMsisdnUpdate"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.zain.com/BusinessSchemas/Services/TerminateMsisdnUpdate"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>CR20-010_NMS_Requirements</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="TerminateMsisdnUpdateRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string"/>
				<xs:element name="DealerName" type="xs:string"/>
				<xs:element name="UserName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TerminateMsisdnUpdateResponse" type="ns0:error"/>
</xs:schema>