src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/ChangeOwnership/ChangeOwnership.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ChangeOwnership/ChangeOwnership.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ChangeOwnership/ChangeOwnership.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ChangeOwnershipRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader" minOccurs="0"/>
				<xs:element ref="Input" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChangeOwnershipResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader" minOccurs="0"/>
				<xs:element ref="Output" minOccurs="0"/>
				<xs:element ref="Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM correlation ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Siebel Order Id</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="newCustomerID" type="xs:string">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Customers public key&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="changeReason" type="xs:long">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Reason for contract takeover &lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="oldContractId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the contract&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="newBillingAccountId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								SECONDARY BILLING ACCOUNT OF NEW CUSTOMER</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="billingAccountAssignmentTemplateId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								BILLING ACCOUNT ASSIGNMENT TEMPLATE ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="newContractId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the new contract&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseMessage" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseMessage" type="xs:string"/>
	<xs:element name="ErrorResponse" type="error"/>
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>