src/ESI_CRM/BusinessProcesses/Services/Query/GetUserEligibleBundles/HelperProcess/GetUserEligibleBundles.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BUNDLE_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="BUNDLE_NAME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="OCC_PRODUCT_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="BUNDLE_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BUNDLE_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="BUNDLE_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP1_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP1_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP1_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP2_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP2_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP2_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP3_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP3_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP3_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP4_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP4_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP4_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP5_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP5_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP5_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP6_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP6_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP6_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP7_PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP7_PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="COMP7_PROD_ITEM_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="BUNDLE_ACTIVE_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="BUNDLE_START_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="BUNDLE_END_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="PRICE_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="PROMOTION_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="PROMOTION_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="PRICE_PACKAGE_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="COMMITMENT_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="COMMITMENT_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="INSTALLMENT_PERIOD" type="xs:string" minOccurs="0"/>
										<xs:element name="INSTALLMENT_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="BASE_PLAN" type="xs:string" minOccurs="0"/>
										<xs:element name="TOTAL_COST" type="xs:string" minOccurs="0"/>
										<xs:element name="UPFRONT_AMOUNT" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>