src/GW_OrdMgmt/BusinessProcesses/Services/Common/ExternalChannelOrderSubmission/Resources/SubAccounts.wsdl

<WL5G3N0:definitions name="Untitled" targetNamespace="http://www.ericsson.com/ZESB/Services/GetSubAccounts" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.zain.com/ZESB/Services/GetSubAccounts/Types" xmlns:WL5G3N2="http://www.zain.com/ZESB/Types/Common" xmlns:WL5G3N3="http://www.ericsson.com/ZESB/Services/GetSubAccounts" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ericsson.com/ZESB/Services/GetSubAccounts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <WL5G3N0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common" xmlns:ns0="http://www.zain.com/ZESB/Services/GetSubAccounts/Types" xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ericsson.com/ZESB/Services/GetSubAccounts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.zain.com/ZESB/Services/GetSubAccounts/Types"/>
      <xs:element name="FaultType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="sourceSystem" type="xs:string"/>
            <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
            <xs:element minOccurs="0" name="detail" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/GetSubAccounts/Types" xmlns:ns0="http://www.zain.com/ZESB/Services/GetSubAccounts/Types" xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ericsson.com/ZESB/Services/GetSubAccounts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
      <xs:complexType name="SubAccounts">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns0:SubAccount"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AccountName" type="xs:string"/>
            <xs:element minOccurs="0" name="Balance" type="xs:decimal"/>
            <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetSubAccountsInput">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Msisdn" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetSubAccountsOutput">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubAccounts" type="ns0:SubAccounts"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="GetSubAccountsRequest">
    <WL5G3N0:part element="WL5G3N1:GetSubAccountsInput" name="request">
    </WL5G3N0:part>
  </WL5G3N0:message>
  <WL5G3N0:message name="faultMessage">
    <WL5G3N0:part element="WL5G3N2:FaultType" name="fault">
    </WL5G3N0:part>
  </WL5G3N0:message>
  <WL5G3N0:message name="GetSubAccountsResponse">
    <WL5G3N0:part element="WL5G3N1:GetSubAccountsOutput" name="response">
    </WL5G3N0:part>
  </WL5G3N0:message>
  <WL5G3N0:portType name="GetSubAccountsPort">
    <WL5G3N0:operation name="GetSubAccounts">
      <WL5G3N0:input message="tns:GetSubAccountsRequest">
    </WL5G3N0:input>
      <WL5G3N0:output message="tns:GetSubAccountsResponse">
    </WL5G3N0:output>
      <WL5G3N0:fault message="tns:faultMessage" name="fault">
    </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="GetSubAccountsBinding" type="tns:GetSubAccountsPort">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="GetSubAccounts">
      <WL5G3N4:operation soapAction="GetSubAccounts" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="fault">
        <WL5G3N4:fault name="fault" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="GetSubAccountsService">
    <WL5G3N0:port binding="tns:GetSubAccountsBinding" name="GetSubAccountsPort">
      <WL5G3N4:address location="http://iapi-test.kw.zain.com/SOAP/SubAccounts"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>