src/CommonProject/BusinessWSDLS/Services/BSCS/TerminateMsisdnUpdate/ws_CIL_5_TerminateMsisdnUpdateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/terminatemsisdnupdate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;New value for a named value.&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;
						
						&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/terminatemsisdnupdate" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/terminatemsisdnupdate">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="terminateMsisdnUpdateRequest" type="wsi:terminateMsisdnUpdateRequest"/>
            <xs:element name="terminateMsisdnUpdateResponse" type="wsi:terminateMsisdnUpdateResponse"/>
            <xs:complexType name="terminateMsisdnUpdateResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="successful" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Flag to specify if transaction with webservice was successful&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;Input arguments&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element name="msisdn" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Directory Number&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="dealerIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Dealer Id Description&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="username" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;UserName &lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="terminateMsisdnUpdateRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="terminateMsisdnUpdateResponse">
        <wsdl:part element="sch3:terminateMsisdnUpdateResponse" name="terminateMsisdnUpdateResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="terminateMsisdnUpdateRequest">
        <wsdl:part element="sch3:terminateMsisdnUpdateRequest" name="terminateMsisdnUpdateRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TerminateMsisdnUpdateService">
        <wsdl:operation name="terminateMsisdnUpdate">
            <wsdl:input message="tns:terminateMsisdnUpdateRequest" name="terminateMsisdnUpdateRequest">
    </wsdl:input>
            <wsdl:output message="tns:terminateMsisdnUpdateResponse" name="terminateMsisdnUpdateResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TerminateMsisdnUpdateServiceSoap11" type="tns:TerminateMsisdnUpdateService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="terminateMsisdnUpdate">
            <soap:operation soapAction=""/>
            <wsdl:input name="terminateMsisdnUpdateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="terminateMsisdnUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TerminateMsisdnUpdateService">
        <wsdl:port binding="tns:TerminateMsisdnUpdateServiceSoap11" name="TerminateMsisdnUpdateServiceSoap11">
            <soap:address location="http://10.96.103.211:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>