src/CommonProject/BusinessSchemas/Services/Applications/ERP/UserSplitting/UserSplittingReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/UserSplittingReq.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/UserSplittingReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UserSplittingReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserName" type="xs:string" minOccurs="0"/>
				<xs:element name="WarehouseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="EffectiveDate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>