src/CommonProject/BusinessWSDLS/Services/WSDLS/BundleOrderInbound/BundleOrderInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.zain.com/ZESB/Services/GetUserEligibleBundlesRes" xmlns:ns4="http://www.zain.com/ZESB/Services/GetSubscriberEligibleBundlesReq" xmlns:ns="http://www.zain.com/ZESB/Services/GetUserEligibleBundlesReq" xmlns:ns3="http://www.zain.com/ZESB/Services/BundleOrderFault" xmlns:tns="http://www.Zain.com/ZESB/Services/BundleOrderInbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://www.zain.com/ZESB/Services/GetSubscriberEligibleBundlesRes" xmlns:ns6="http://www.zain.com/ZESB/Services/GetBundleAssetsReq" xmlns:ns7="http://www.zain.com/ZESB/Services/GetBundleAssetsRes" targetNamespace="http://www.Zain.com/ZESB/Services/BundleOrderInbound">
    <import namespace="http://www.zain.com/ZESB/Services/GetUserEligibleBundlesReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/GetUserEligibleBundles/GetUserEligibleBundlesReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetUserEligibleBundlesRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/GetUserEligibleBundles/GetUserEligibleBundlesRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/BundleOrderFault" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/GetUserEligibleBundles/Fault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetSubscriberEligibleBundlesReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/GetSubscriberEligibleBundles/GetSubscriberEligibleBundlesReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetSubscriberEligibleBundlesRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/GetSubscriberEligibleBundles/GetSubscriberEligibleBundlesRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetBundleAssetsReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/GetBundleAssets/GetBundleAssetsReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetBundleAssetsRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/GetBundleAssets/GetBundleAssetsRes.xsd"/>
    <message name="BundleOrderInboundReq">
        <part name="BundleOrderReq" element="ns:GetUserEligibleBundlesReq"/>
    </message>
    <message name="BundleOrderInboundRes">
        <part name="BundleOrderInboundRes" element="ns2:GetUserEligibleBundlesRes"/>
    </message>
    <message name="Fault">
        <part name="Fault" element="ns3:Fault"/>
    </message>
    <message name="GetSubscriberEligibleBundlesReq">
        <part name="GetSubscriberEligibleBundlesReq" element="ns4:GetSubscriberEligibleBundlesReq"/>
    </message>
    <message name="GetSubscriberEligibleBundlesRes">
        <part name="GetSubscriberEligibleBundlesRes" element="ns5:GetSubscriberEligibleBundlesRes"/>
    </message>
    <message name="GetBundleAssetsReq">
        <documentation>Query Bundle Assets from CRM.</documentation>
        <part name="GetBundleAssetsReq" element="ns6:GetBundleAssetsReq"/>
    </message>
    <message name="GetBundleAssetsRes">
        <part name="GetBundleAssetsRes" element="ns7:GetBundleAssetsRes"/>
    </message>
    <portType name="BundleOrderPortType">
        <operation name="GetUserEligibleBundles">
            <input message="tns:BundleOrderInboundReq"/>
            <output message="tns:BundleOrderInboundRes"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="GetSubscriberEligibleBundles">
            <input message="tns:GetSubscriberEligibleBundlesReq"/>
            <output message="tns:GetSubscriberEligibleBundlesRes"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="GetBundleAssets">
            <input message="tns:GetBundleAssetsReq"/>
            <output message="tns:GetBundleAssetsRes"/>
            <fault name="fault" message="tns:Fault"/>
        </operation>
    </portType>
</definitions>