src/CommonProject/BusinessSchemas/Services/Query/QueryMailStatus/QueryMailStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Query/QueryMailStatus.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Query/QueryMailStatus.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryMailStatusRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="FromDate" minOccurs="0"/>
				<xs:element ref="ToDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryMailStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="FromDate" type="xs:string"/>
	<xs:element name="ToDate" type="xs:string"/>
	<xs:element name="Receiver_Mail_Id" type="xs:string"/>
	<xs:element name="Attachment" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Bill_Cycle_Date" type="xs:string"/>
	<xs:element name="Send_Time" type="xs:string"/>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="Receiver_Mail_Id" minOccurs="0"/>
				<xs:element ref="Attachment" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="Bill_Cycle_Date" minOccurs="0"/>
				<xs:element ref="Send_Time" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FaultResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>