src/CommonProject/BusinessSchemas/Services/Query/CustomerRiskRead/CustomerRiskRead.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CustomerRiskRead.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CustomerRiskRead.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CustomerRiskReadRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="RateIdPublic" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerRiskReadResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ContractAssignRatingList" minOccurs="0"/>
				<xs:element ref="RatingCountList" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="RateIdPublic" type="xs:string"/>
	<xs:element name="ContractAssignRatingList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContractAssignRatingDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractAssignRatingDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContractIdPublic" minOccurs="0"/>
				<xs:element ref="RateIdPublic" minOccurs="0"/>
				<xs:element ref="RateDescription" minOccurs="0"/>
				<xs:element ref="Source" minOccurs="0"/>
				<xs:element ref="RequestId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractIdPublic" type="xs:string"/>
	<xs:element name="RateDescription" type="xs:string"/>
	<xs:element name="Source" type="xs:string"/>
	<xs:element name="RequestId" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="RatingCountList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RatingCountDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RatingCountDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RateIdPublic" minOccurs="0"/>
				<xs:element ref="RateDescription" minOccurs="0"/>
				<xs:element ref="Count" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Count" type="xs:string"/>
</xs:schema>