src/CommonProject/BusinessSchemas/Services/Transaction/Payments/PaymentInbound.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/PaymentInbound.xsd"
	 xmlns:fin="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 xmlns:cus="http://xmlns.zain.com/BSS/ESB/CDM/Customer"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/PaymentInbound.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Finance" schemaLocation="../../../../CDM/ZainKWFinance.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Customer" schemaLocation="../../../../CDM/ZainKWCustomer.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:element name="PaymentInboundInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="AuthorizeCredit" minOccurs="0"/>
				<xs:element ref="Subscriber" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="fin:ZainCustomerPayment" minOccurs="0"/>
				<xs:element ref="bs:ZainIdentifiers" minOccurs="0"/>
				<xs:element ref="fin:Params" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CRMCustomerID" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="AuthorizeCredit" type="xs:string"/>
	<xs:element name="PaymentInboundOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fin:ZainCustomerPayment" minOccurs="0"/>
				<xs:element ref="fin:Params" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subscriber">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="Area" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="Area" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
</xs:schema>