src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/TremblantQueryNumberPool/QueryNumberPoolReqSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userId" type="xs:string" minOccurs="0"/>
				<xs:element name="primaryMsisdn" type="xs:string"/>
				<xs:element name="planId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>