src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/TremblantQueryNumberPool/QueryNumberPoolResSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="availableMsisdns" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="msisdn" type="xs:string"/>
							<xs:element name="priceInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="currency" type="xs:string" minOccurs="0"/>
										<xs:element name="value" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>