src/GW_AppleiWatchSESSwap/Services/SESEntServer/QueryPurchasablePlans/HelperProcess/ParsePurchasablePlans.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PROD_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="PROD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="PROD_DESC" type="xs:string" minOccurs="0"/>
										<xs:element name="PRICE" type="xs:string" minOccurs="0"/>
										<xs:element name="CURRENCY" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>