src/ESI_CRM/BusinessProcesses/Services/Query/QueryActiveVouchers/HelperProcess/QueryActiveVouchers.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUST_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="MSISDN" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="VOUCHER_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="VOUCHER_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="VOUCHER_AMOUNT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="REDEEMED_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="BALANCE_AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="VOUCHER_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="VOUCHER_EXP_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="VOUCHER_STATUS" type="xs:string" nillable="true" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>