src/ESI_BSCS/BusinessProcesses/Services/Query/BillDetailsQuery/Schema/BillDetailsQueryResult.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SEGMENT_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="CHARGE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="SUBCHARGE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="VOLUME" type="xs:string" minOccurs="0"/>
				<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="VOLUME_UNIT" type="xs:string" minOccurs="0"/>
				<xs:element name="FROM_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="TO_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="INVOICE_NO" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="COLUMN_NAME" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATUS" type="xs:string"/>
	<xs:element name="A_PARTY" type="xs:string"/>
	<xs:element name="B_PARTY" type="xs:string"/>
	<xs:element name="START_TIME" type="xs:string"/>
	<xs:element name="CALL_COST" type="xs:float"/>
	<xs:element name="DURATION" type="xs:string"/>
	<xs:element name="CALL_CATEGORY" type="xs:string"/>
</xs:schema>