src/ESI_BSCS/BusinessProcesses/Services/Query/AdjustmentQuery/HelperProcess/AdjustmentQueryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTOMER_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ADJUSTMENT_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ADJUSTMENT_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ADJUSTMENT_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ADJUSTMENT_AUTHCODE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="INVOICE_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="INV_ADJUSTED_AMT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element ref="GLCODE" minOccurs="0"/>
										<xs:element ref="PAYMENT_INSTRUMENT" minOccurs="0"/>
										<xs:element ref="PAYMENT_POST_DATE" minOccurs="0"/>
										<xs:element ref="PAYMENT_AUTH_CODE" minOccurs="0"/>
										<xs:element ref="CHANNEL" minOccurs="0"/>
										<xs:element ref="SRC_TRANSACTION_ID" minOccurs="0"/>
										<xs:element ref="USERNAME" minOccurs="0"/>
										<xs:element ref="CUSTOMER_CATEGORY" minOccurs="0"/>
										<xs:element ref="LOCATION" minOccurs="0"/>
										<xs:element ref="MERCHANT_ID" minOccurs="0"/>
										<xs:element ref="TERMINAL_ID" minOccurs="0"/>
										<xs:element ref="CRCARDNO" minOccurs="0"/>
										<xs:element ref="REMARKS" minOccurs="0"/>
										<xs:element name="BILLING_ACCOUNT_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element ref="MSISDN" minOccurs="0"/>
										<xs:element name="ADJUSTMENT_OPN_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GLCODE" type="xs:string" nillable="true"/>
	<xs:element name="PAYMENT_INSTRUMENT" type="xs:string" nillable="true"/>
	<xs:element name="PAYMENT_POST_DATE" type="xs:dateTime" nillable="true"/>
	<xs:element name="PAYMENT_AUTH_CODE" type="xs:string" nillable="true"/>
	<xs:element name="CHANNEL" type="xs:string" nillable="true"/>
	<xs:element name="SRC_TRANSACTION_ID" type="xs:string" nillable="true"/>
	<xs:element name="USERNAME" type="xs:string" nillable="true"/>
	<xs:element name="CUSTOMER_CATEGORY" type="xs:string" nillable="true"/>
	<xs:element name="LOCATION" type="xs:string" nillable="true"/>
	<xs:element name="MERCHANT_ID" type="xs:string" nillable="true"/>
	<xs:element name="TERMINAL_ID" type="xs:string" nillable="true"/>
	<xs:element name="CRCARDNO" type="xs:string" nillable="true"/>
	<xs:element name="REMARKS" type="xs:string" nillable="true"/>
	<xs:element name="MSISDN" type="xs:string" nillable="true"/>
</xs:schema>