src/CommonProject/BusinessWSDLS/Services/BSCS/ExtPaymentDetailsWrite/ws_CMI_5_ExtPaymentDetailsWriteService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/extpaymentdetailswrite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/extpaymentdetailswrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/extpaymentdetailswrite"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="extPaymentDetailsWriteRequest" type="wsi:extPaymentDetailsWriteRequest"/><xs:element name="extPaymentDetailsWriteResponse" type="wsi:extPaymentDetailsWriteResponse"/><xs:complexType name="extPaymentDetailsWriteResponse"><xs:all><xs:element minOccurs="0" name="response" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>response Message</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p></p>]]>
				</xs:documentation></xs:annotation><xs:element name="caxact" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment Id BSSCS</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="transactionRefnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Transaction Reference Number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="paymentAmount" type="xs:double"><xs:annotation><xs:documentation>
							<![CDATA[<p>Amount</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="payMethod" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>ZAIN MOD PAY</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="payDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment Post date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="payAuthCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="channel" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment Channel</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="user" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment User</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sourceTransactionId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment TRANSACTION_ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="customerCategory" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment Customer category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="location" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment location</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="merchantId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment Merchant Id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="terminalId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment Terminal Id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="crcardno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Encrypted Card No</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="remarks" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Remarks</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="issuerBank" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Card Issuer Bank</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expiryDate" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Card Expiry Date</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="extPaymentDetailsWriteRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="extPaymentDetailsWriteResponse">
    <wsdl:part element="sch3:extPaymentDetailsWriteResponse" name="extPaymentDetailsWriteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="extPaymentDetailsWriteRequest">
    <wsdl:part element="sch3:extPaymentDetailsWriteRequest" name="extPaymentDetailsWriteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExtPaymentDetailsWriteService">
    <wsdl:operation name="extPaymentDetailsWrite">
      <wsdl:input message="tns:extPaymentDetailsWriteRequest" name="extPaymentDetailsWriteRequest">
    </wsdl:input>
      <wsdl:output message="tns:extPaymentDetailsWriteResponse" name="extPaymentDetailsWriteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExtPaymentDetailsWriteServiceSoap11" type="tns:ExtPaymentDetailsWriteService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="extPaymentDetailsWrite">
      <soap:operation soapAction=""/>
      <wsdl:input name="extPaymentDetailsWriteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="extPaymentDetailsWriteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExtPaymentDetailsWriteService">
    <wsdl:port binding="tns:ExtPaymentDetailsWriteServiceSoap11" name="ExtPaymentDetailsWriteServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>