src/GW_FinMgmt/BusinessProcesses/Services/Common/Payment/Schema/QueryCustomerProfile_JMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerProfile" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns0="http://www.zain.com/ZESB/Services/CustomerProfile/Types" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfile">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Services/CustomerProfile/Types"/>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/CustomerProfile/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element name="Country" type="xs:string" minOccurs="0"/>
                    <xs:element name="Governate" type="xs:string" minOccurs="0"/>
                    <xs:element name="Area" type="xs:string" minOccurs="0"/>
                    <xs:element name="Block" type="xs:string" minOccurs="0"/>
                    <xs:element name="Street" type="xs:string" minOccurs="0"/>
                    <xs:element name="HouseOrBuilding" type="xs:string" minOccurs="0"/>
                    <xs:element name="Floor" type="xs:string" minOccurs="0"/>
                    <xs:element name="Apartment" type="xs:string" minOccurs="0"/>
                    <xs:element name="Directions" type="xs:string" minOccurs="0"/>
                    <xs:element name="PACIRef" type="xs:string" minOccurs="0"/>
                    <xs:element name="Region" type="xs:string" minOccurs="0"/>
                    <xs:element name="ZipCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="StreetNo" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CardInfo">
                <xs:sequence>
                    <xs:element name="CardType" type="xs:string" minOccurs="0"/>
                    <xs:element name="CardNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="IMSI" type="xs:string" minOccurs="0"/>
                    <xs:element name="ICCID" type="xs:string" minOccurs="0"/>
                    <xs:element name="PIN" type="xs:string" minOccurs="0"/>
                    <xs:element name="PUK1" type="xs:string" minOccurs="0"/>
                    <xs:element name="PUK2" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Contact">
                <xs:sequence>
                    <xs:element name="PhoneContact" type="ns0:PhoneContact" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="eMailAddress" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractDetails">
                <xs:sequence>
                    <xs:element name="ID" type="xs:string" minOccurs="0"/>
                    <xs:element name="Status" type="xs:string" minOccurs="0"/>
                    <xs:element name="Category" type="xs:string" minOccurs="0"/>
                    <xs:element name="Segment" type="xs:string" minOccurs="0"/>
                    <xs:element name="AppliedDate" nillable="true" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="CloseCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="BillGroup" type="xs:string" minOccurs="0"/>
                    <xs:element name="ReferredBy" type="xs:string" minOccurs="0"/>
                    <xs:element name="TariffProfile" type="xs:string" minOccurs="0"/>
                    <xs:element name="AllowedSubs" type="xs:int" minOccurs="0"/>
                    <xs:element name="CurrentSubs" type="xs:int" minOccurs="0"/>
                    <xs:element name="VPNCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="CreatedDate" nillable="true" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="ChangedDate" nillable="true" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="AccountType" type="xs:string" minOccurs="0"/>
                    <xs:element name="Currency" type="xs:string" minOccurs="0"/>
                    <xs:element name="HotBilling" type="xs:string" minOccurs="0"/>
                    <xs:element name="PaymentResponsibility" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractDetailsList">
                <xs:sequence>
                    <xs:element name="ContractDetails" type="ns0:ContractDetails" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractInfo">
                <xs:sequence>
                    <xs:element name="PostalAddress" type="ns0:PostalAddress" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Address" type="ns0:Address" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Identity" type="ns0:Identity" minOccurs="0"/>
                    <xs:element name="Contact" type="ns0:Contact" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Details" type="ns0:ContractDetails" minOccurs="0"/>
                    <xs:element name="Params" type="ns1:Params" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Identity">
                <xs:sequence>
                    <xs:element name="Name" type="ns0:IdentityName" minOccurs="0"/>
                    <xs:element name="Information" type="ns0:IdentityInformation" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityInformation">
                <xs:sequence>
                    <xs:element name="DateOfBirth" nillable="true" type="xs:date" minOccurs="0"/>
                    <xs:element name="Sex" type="xs:string" minOccurs="0"/>
                    <xs:element name="Nationality" type="xs:string" minOccurs="0"/>
                    <xs:element name="Language" type="xs:string" minOccurs="0"/>
                    <xs:element name="Profession" type="xs:string" minOccurs="0"/>
                    <xs:element name="ProfessionDescription" type="xs:string" minOccurs="0"/>
                    <xs:element name="Education" type="xs:string" minOccurs="0"/>
                    <xs:element name="MaritalStatus" type="xs:string" minOccurs="0"/>
                    <xs:element name="Employee" type="xs:string" minOccurs="0"/>
                    <xs:element name="StaffNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="PersonalNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="IdType" type="xs:string" minOccurs="0"/>
                    <xs:element name="IdNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="IdExpirationDate" nillable="true" type="xs:date" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityName">
                <xs:sequence>
                    <xs:element name="Country" type="xs:string" minOccurs="0"/>
                    <xs:element name="Name" type="xs:string" minOccurs="0"/>
                    <xs:element name="Title" type="xs:string" minOccurs="0"/>
                    <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
                    <xs:element name="LastName" type="xs:string" minOccurs="0"/>
                    <xs:element name="SecondName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ThirdName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArabicName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArabicTitle" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArabicFirstName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArabicLastName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArabicSecondName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArabicThirdName" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PhoneContact">
                <xs:sequence>
                    <xs:element name="Number" type="xs:string" minOccurs="0"/>
                    <xs:element name="Type" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PostalAddress">
                <xs:sequence>
                    <xs:element name="PostalArea" type="xs:string" minOccurs="0"/>
                    <xs:element name="POBox" type="xs:string" minOccurs="0"/>
                    <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberDetails">
                <xs:sequence>
                    <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                    <xs:element name="Area" type="xs:string" minOccurs="0"/>
                    <xs:element name="Status" type="xs:string" minOccurs="0"/>
                    <xs:element name="TransferDate" nillable="true" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="BillingType" type="xs:string" minOccurs="0"/>
                    <xs:element name="BasicServiceType" type="xs:string" minOccurs="0"/>
                    <xs:element name="BSFlag" type="xs:string" minOccurs="0"/>
                    <xs:element name="MainSubscriberNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="HLRProfile" type="xs:string" minOccurs="0"/>
                    <xs:element name="NotifiedSubscriberNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="NotifiedSubscriberType" type="xs:string" minOccurs="0"/>
                    <xs:element name="NotifiedSubscriberArea" type="xs:string" minOccurs="0"/>
                    <xs:element name="ContractAuthority" type="xs:string" minOccurs="0"/>
                    <xs:element name="GSMMain" type="xs:string" minOccurs="0"/>
                    <xs:element name="SCRClass" type="xs:string" minOccurs="0"/>
                    <xs:element name="NumberType" type="xs:string" minOccurs="0"/>
                    <xs:element name="CreditLimit" type="xs:string" minOccurs="0"/>
                    <xs:element name="FirstCallDate" nillable="true" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="CreatedDate" nillable="true" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="SimCard" type="ns0:CardInfo" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element name="PostalAddress" type="ns0:PostalAddress" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Address" type="ns0:Address" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Identity" type="ns0:Identity" minOccurs="0"/>
                    <xs:element name="Contact" type="ns0:Contact" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Details" type="ns0:SubscriberDetails" minOccurs="0"/>
                    <xs:element name="Params" type="ns1:Params" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryContractInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryContractResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
                        <xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
                        <xs:element name="ContractInfo" type="ns0:ContractInfo" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerByIdInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IDType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Civil ID"/>
                                    <xs:enumeration value="Employee"/>
                                    <xs:enumeration value="System Generated"/>
                                    <xs:enumeration value="Licence"/>
                                    <xs:enumeration value="Roaming"/>
                                    <xs:enumeration value="Passport"/>
                                    <xs:enumeration value="Enterprise"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="IdNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerByIdResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractDetailsList" type="ns0:ContractDetailsList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string"/>
                        <xs:element name="SubscriberArea" type="xs:string" minOccurs="0"/>
                        <xs:element name="SubscriberType" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryCustomerResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
                        <xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
                        <xs:element name="ContractInfo" type="ns0:ContractInfo" minOccurs="0"/>
                        <xs:element name="SubscriberInfo" type="ns0:SubscriberInfo" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuerySubscriberInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string"/>
                        <xs:element name="SubscriberArea" type="xs:string" minOccurs="0"/>
                        <xs:element name="SubscriberType" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuerySubscriberResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CustomerProfile" type="xs:string" minOccurs="0"/>
                        <xs:element name="CustomerNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
                        <xs:element name="ContractID" type="xs:string" minOccurs="0"/>
                        <xs:element name="AccountStatus" type="xs:string" minOccurs="0"/>
                        <xs:element name="Segment" type="xs:string" minOccurs="0"/>
                        <xs:element name="SubscriberInfo" type="ns0:SubscriberInfo" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="CustomerProfile">
        <wsdl:port name="CustomerProfilePortHTTP" binding="tns:CustomerProfilePortHTTPBinding">
            <soap:address location="http://localhost:7073/ESB/SOAP/QueryCustomerProfile"/>
        </wsdl:port>
        <wsdl:port name="CustomerProfile" binding="tns:CustomerProfileBinding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.CUST_PROFILE.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="CustomerProfilePort">
        <wsdl:operation name="QueryContract">
            <wsdl:input message="tns:QueryContractRequest"/>
            <wsdl:output message="tns:QueryContractResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomerById">
            <wsdl:input message="tns:QueryCustomerByIdRequest"/>
            <wsdl:output message="tns:QueryCustomerByIdResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomer">
            <wsdl:input message="tns:QueryCustomerRequest"/>
            <wsdl:output message="tns:QueryCustomerResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="QuerySubscriber">
            <wsdl:input message="tns:QuerySubscriberRequest"/>
            <wsdl:output message="tns:QuerySubscriberResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerProfilePortHTTPBinding" type="tns:CustomerProfilePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryContract">
            <soap:operation style="document" soapAction="QueryContract"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomerById">
            <soap:operation style="document" soapAction="QueryCustomerById"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomer">
            <soap:operation style="document" soapAction="QueryCustomer"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QuerySubscriber">
            <soap:operation style="document" soapAction="QuerySubscriber"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CustomerProfileBinding" type="tns:CustomerProfilePort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="QueryContract">
            <soap:operation style="document" soapAction="QueryContract"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomerById">
            <soap:operation style="document" soapAction="QueryCustomerById"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryCustomer">
            <soap:operation style="document" soapAction="QueryCustomer"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QuerySubscriber">
            <soap:operation style="document" soapAction="QuerySubscriber"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="QueryContractRequest">
        <wsdl:part name="request" element="ns0:QueryContractInput"/>
    </wsdl:message>
    <wsdl:message name="QueryContractResponse">
        <wsdl:part name="response" element="ns0:QueryContractResult"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="ns1:FaultType"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerByIdRequest">
        <wsdl:part name="request" element="ns0:QueryCustomerByIdInput"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerByIdResponse">
        <wsdl:part name="response" element="ns0:QueryCustomerByIdResult"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerRequest">
        <wsdl:part name="request" element="ns0:QueryCustomerInput"/>
    </wsdl:message>
    <wsdl:message name="QueryCustomerResponse">
        <wsdl:part name="response" element="ns0:QueryCustomerResult"/>
    </wsdl:message>
    <wsdl:message name="QuerySubscriberRequest">
        <wsdl:part name="request" element="ns0:QuerySubscriberInput"/>
    </wsdl:message>
    <wsdl:message name="QuerySubscriberResponse">
        <wsdl:part name="response" element="ns0:QuerySubscriberResult"/>
    </wsdl:message>
</wsdl:definitions>