src/CommonProject/BusinessSchemas/Services/Query/OnDemandStatementQuery/OnDemandStatementQueryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Query/OnDemandStatementQueryRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Query/OnDemandStatementQueryRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OnDemandStatementQueryReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BSCSCustomerId" type="xs:string"/>
				<xs:element name="FromDate" type="xs:string"/>
				<xs:element name="BillMode" type="xs:string"/>
				<xs:element name="Remarks" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>