src/CommonProject/BusinessWSDLS/Services/WSDLS/eSessionManager/eSessionManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/eSessionManager" xmlns:typ="http://www.zain.com/ZESB/Services/eSessionManager/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.zain.com/ZESB/Services/eSessionManager">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Services/eSessionManager/Types" elementFormDefault="qualified" xmlns:typ="http://www.zain.com/ZESB/Services/eSessionManager/Types">
			<xs:element name="CreateSessionRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="Msisdn" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="ContractOwner" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateSessionResponse">
				<xs:complexType>
					<xs:sequence>						
						<xs:element name="SessionId" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuerySessionRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SessionId" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuerySessionResponse">
				<xs:complexType>
					<xs:sequence>						
						<xs:element name="ContractId" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
						<xs:element name="Msisdn" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="ContractOwner" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DestroySessionRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SessionId" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DestroySessionResponse"/>
			<xs:element name="UpdateSessionRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SessionId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Msisdn" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="ContractOwner" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateSessionResponse"/>			
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CreateSessionRequest">
		<wsdl:part name="request" element="typ:CreateSessionRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateSessionResponse">
		<wsdl:part name="response" element="typ:CreateSessionResponse"/>
	</wsdl:message>
	<wsdl:message name="QuerySessionRequest">
		<wsdl:part name="request" element="typ:QuerySessionRequest"/>
	</wsdl:message>
	<wsdl:message name="QuerySessionResponse">
		<wsdl:part name="response" element="typ:QuerySessionResponse"/>
	</wsdl:message>
	<wsdl:message name="DestroySessionRequest">
		<wsdl:part name="request" element="typ:DestroySessionRequest"/>
	</wsdl:message>
	<wsdl:message name="DestroySessionResponse">
		<wsdl:part name="response" element="typ:DestroySessionResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateSessionRequest">
		<wsdl:part name="request" element="typ:UpdateSessionRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateSessionResponse">
		<wsdl:part name="response" element="typ:UpdateSessionResponse"/>
	</wsdl:message>
	<wsdl:portType name="eSessionManagerPort">
		<wsdl:operation name="createSession">
			<wsdl:input message="tns:CreateSessionRequest"/>
			<wsdl:output message="tns:CreateSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="querySession">
			<wsdl:input message="tns:QuerySessionRequest"/>
			<wsdl:output message="tns:QuerySessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="destroySession">
			<wsdl:input message="tns:DestroySessionRequest"/>
			<wsdl:output message="tns:DestroySessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="updateSession">
			<wsdl:input message="tns:UpdateSessionRequest"/>
			<wsdl:output message="tns:UpdateSessionResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eSessionManagerBinding" type="tns:eSessionManagerPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createSession">
			<soap:operation soapAction="createSession"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="querySession">
			<soap:operation soapAction="querySession"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="destroySession">
			<soap:operation soapAction="destroySession"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateSession">
			<soap:operation soapAction="updateSession"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eSessionManager">
		<wsdl:port name="eSessionManagerPort" binding="tns:eSessionManagerBinding">
			<soap:address location="ZESB/eSessionManager"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
