src/GW_AppleiWatch2/Resources/WSDL/ParlaySender/parlayx_sms_send_service_3_1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--March 7, 2007-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.csapi.org/wsdl/parlayx/sms/send/v3_1/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:interface="http://www.csapi.org/wsdl/parlayx/sms/send/v3_1/interface" name="parlayx_sms_send_service" targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/send/v3_1/service">
    <import namespace="http://www.csapi.org/wsdl/parlayx/sms/send/v3_1/interface" location="parlayx_sms_send_interface_3_1.wsdl"/>
    <binding name="SendSmsBinding" type="interface:SendSms">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendSms">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendSmsLogo">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="sendSmsRingtone">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="getSmsDeliveryStatus">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="scheduleSms">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="scheduleSmsLogo">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="scheduleSmsRingtone">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelScheduledSms">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
        <operation name="getScheduledSmsStatus">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
            <fault name="PolicyException">
                <soap:fault name="PolicyException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SendSmsService">
        <port name="SendSms" binding="tns:SendSmsBinding">
            <soap:address location="http://localhost:9080/SendSmsService/services/SendSms"/>
        </port>
    </service>
</definitions>