src/CommonProject/BusinessSchemas/Services/Modification/MNP/MNPReqRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Modification/MNP/MNPReqRes.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Modification/MNP/MNPReqRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:element name="PortINReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="PortingDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="PortingDate" type="xs:date"/>
	<xs:element name="PortINRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="dnID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="PortingRequestID" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
				<xs:element ref="bs:Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dnID" type="xs:string"/>
	<xs:element name="PortingRequestID" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="PortOutReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="PortingDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PortOutRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="PortingRequestID" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
				<xs:element ref="bs:Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PortingRequestWriteReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="PortingRequestID" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="Reason" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reason" type="xs:string"/>
	<xs:element name="PortingRequestWriteRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
				<xs:element ref="bs:Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>siebel order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>