src/CommonProject/BusinessSchemas/Services/Common/PACIAuthentication/GetPACIAuthentication/GetPACIAuthenticationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/PACIAuthentication/GetPACIAuthenticationRes"
	 targetNamespace="http://www.zain.com/ZESB/Services/PACIAuthentication/GetPACIAuthenticationRes"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string"/>
				<xs:element name="ErrorText" type="xs:string" minOccurs="0"/>
				<xs:element name="QRcode" type="xs:string" minOccurs="0"/>
				<xs:element name="QRcodeFileType" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>