src/CommonProject/BusinessSchemas/Services/Modification/RoamIntlDisconnect/RoamIntlDisconnect.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/RoamIntlDisconnect.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/RoamIntlDisconnect.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="RoamIntlDisconnectRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="Username" minOccurs="0"/>
				<xs:element ref="OfferDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RoamIntlDisconnectResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="Reason" type="xs:string"/>
	<xs:element name="RequestDate" type="xs:dateTime"/>
	<xs:element name="OfferDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Offer" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Offer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OfferType" minOccurs="0"/>
				<xs:element ref="OfferSubType" minOccurs="0"/>
				<xs:element ref="Action" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OfferType" type="xs:string"/>
	<xs:element name="OfferSubType" type="xs:string"/>
	<xs:element name="Action" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
</xs:schema>