src/CommonProject/BusinessWSDLS/Services/EMA/CSSV/ema_UserProvisioning_CSSV_Subscription_wsdl_fixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cssv="http://schemas.ericsson.com/ema/UserProvisioning/CSSV/" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:cai3g="http://schemas.ericsson.com/cai3g1.2/" xmlns="http://schemas.ericsson.com/ema/UserProvisioning/CSSV/" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" targetNamespace="http://schemas.ericsson.com/ema/UserProvisioning/CSSV/" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element type="xs:string" name="actionid" />
	<!-- 
        Note: This tool only cover Create/Set/GetResponse, if you need others, please add them manually
      -->
	<xs:annotation>
		<xs:appinfo>CSSV Subscription</xs:appinfo>
	</xs:annotation>
	<xs:element type="CreateSubscriptionType" name="createSubscription">
		<xs:annotation>
			<xs:documentation>Create Subscription</xs:documentation>
		</xs:annotation>
		<xs:key name="actionidKey_Create">
			<xs:selector xpath="." />
			<xs:field xpath="@actionid" />
		</xs:key>
		<xs:keyref refer="actionidKey_Create" name="actionidKeyRef_Create">
			<xs:selector xpath="." />
			<xs:field xpath="cssv:actionid" />
		</xs:keyref>
	</xs:element>
	<xs:element type="SetSubscriptionType" name="setSubscription">
		<xs:annotation>
			<xs:documentation>Set Subscription</xs:documentation>
		</xs:annotation>
		<xs:key name="actionidKey_Set">
			<xs:selector xpath="." />
			<xs:field xpath="@actionid" />
		</xs:key>
		<xs:keyref refer="actionidKey_Set" name="actionidKeyRef_Set">
			<xs:selector xpath="." />
			<xs:field xpath="cssv:actionid" />
		</xs:keyref>
	</xs:element>
	<xs:element type="GetResponseSubscriptionType" name="getResponseSubscription">
		<xs:annotation>
			<xs:documentation>GetResponse Subscription</xs:documentation>
		</xs:annotation>
		<xs:key name="actionidKey_GetResponse">
			<xs:selector xpath="." />
			<xs:field xpath="@actionid" />
		</xs:key>
		<xs:keyref refer="actionidKey_GetResponse" name="actionidKeyRef_GetResponse">
			<xs:selector xpath="." />
			<xs:field xpath="cssv:actionid" />
		</xs:keyref>
	</xs:element>
	<xs:element type="SetResponseSubscriptionType" name="setResponseSubscription">
		<xs:annotation>
			<xs:documentation>SetResponse Subscription</xs:documentation>
		</xs:annotation>

	</xs:element>
	<xs:complexType name="CreateSubscriptionType">
		<xs:sequence>
			<xs:element name="msisdn" minOccurs="1" type="xs:string" />
			<xs:element name="imsi" minOccurs="0" type="xs:string" />
			<xs:element name="transno" minOccurs="0" type="xs:string" />
			<xs:element name="actionid" minOccurs="1" type="xs:string" />
			<xs:element name="newMsisdn" minOccurs="0" type="xs:string" />
			<xs:element name="srvName" minOccurs="0" type="xs:string" />
			<xs:element name="prepost_paid" minOccurs="0" type="xs:string" />
			<xs:element name="daid" minOccurs="0" type="xs:string" />
			<xs:element name="davalue" minOccurs="0" type="xs:string" />
			<xs:element name="daUnitType" minOccurs="0" type="xs:string" />
			<xs:element name="subscriberNumberNAI" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="7" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceClass" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="9999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="originOperatorID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transactionType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="negotiatedCapabilities" minOccurs="0" type="xs:string" />
			<xs:element name="serviceClassNew" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="9999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="externalData1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="expieryDays" minOccurs="0" type="xs:string" />
			<xs:element name="relativeBalance" minOccurs="0" type="xs:string" />
			<xs:element name="expireyDate" minOccurs="0" type="xs:string" />
			<xs:element name="serviceOfferingID" minOccurs="0" type="xs:integer" />
			<xs:element name="cap" minOccurs="0" type="xs:string" />
			<xs:element name="cmsisdn" minOccurs="0" type="xs:string" />
			<xs:element name="expiryDateTime" minOccurs="0" type="xs:string" />
			<xs:element name="dataSharingFlag" minOccurs="0" type="xs:string" />
			<xs:element name="transactionCode" minOccurs="0" type="xs:string" />
			<xs:element name="operationtype" minOccurs="0" type="xs:string" />
			<xs:element name="offertype" minOccurs="0" type="xs:string" />
			<xs:element name="offerSubType" minOccurs="0" type="xs:string" />
			<xs:element name="preActive" minOccurs="0" type="xs:string" />
			<xs:element name="offerId" minOccurs="0" type="xs:string" />
			<xs:element name="renewalFlag" minOccurs="0" type="xs:string" />
			<xs:element name="transactionStatus" minOccurs="0" type="xs:string" />
			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />
			<xs:element name="responseMsg" minOccurs="0" type="xs:string" />
			<xs:element name="offerStartDate" minOccurs="0" type="xs:string" />
			<xs:element name="offerEndDate" minOccurs="0" type="xs:string" />
			<xs:element name="returnBalance" minOccurs="0" type="xs:string" />
			<xs:element name="amount" minOccurs="0" type="xs:string" />
			<xs:element name="quota" minOccurs="0" type="xs:string" />
			<xs:element name="customerCategory" minOccurs="0" type="xs:string" />
			<xs:element name="orderNumber" minOccurs="0" type="xs:string" />
			<xs:element name="vPNShortCode" minOccurs="0" type="xs:string" />
			<xs:element name="vPNCommunityID" minOccurs="0" type="xs:string" />
			<xs:element name="refillProfileID" minOccurs="0" type="xs:string" />
			<xs:element name="priority" minOccurs="0" type="xs:string" />
			<xs:element name="flexibleAttributeList" minOccurs="0" type="xs:string" />
			<xs:element name="imei" minOccurs="0" type="xs:string" />
			<xs:element name="imsiFlag" minOccurs="0" type="xs:string" />
			<xs:element name="imeiFlag" minOccurs="0" type="xs:string" />
			<xs:element name="afFlag" minOccurs="0" type="xs:string" />
			<xs:element name="sdpID" minOccurs="0" type="xs:string" />
			<xs:element name="vPNOldShortCode" minOccurs="0" type="xs:string" />
			<xs:element name="vPNOldCommunityID" minOccurs="0" type="xs:string" />
			<xs:element name="preactivePeriod" minOccurs="0" type="xs:string" />
			<xs:element name="topupDeletionFlag" minOccurs="0" type="xs:string" />
			<xs:element name="topupUTValue" minOccurs="0" type="xs:string" />
			<xs:element name="linkedOfferID" minOccurs="0" type="xs:string" />
			<xs:element name="offerHandler" minOccurs="0" type="xs:string" />
			<xs:element name="fnfNumber" minOccurs="0" type="xs:string" />
			<xs:element name="chargingIndicator" minOccurs="0" type="xs:string" />
			<xs:element name="maAmount" minOccurs="0" type="xs:string" />
			<xs:element name="maExpiryDaysOrDate" minOccurs="0" type="xs:string" />
			<xs:element name="daAmount" minOccurs="0" type="xs:string" />
			<xs:element name="daExpiryDaysOrDate" minOccurs="0" type="xs:string" />
			<xs:element name="maAccountType" minOccurs="0" type="xs:string" />
			<xs:element name="daAccountType" minOccurs="0" type="xs:string" />
			<xs:element name="respSource" minOccurs="0" type="xs:string" />
			<xs:element name="respCode" minOccurs="0" type="xs:string" />
			<xs:element name="respDesc" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute type="xs:string" use="required" name="actionid">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="actionidAttr" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SetSubscriptionType">
		<xs:sequence>
			<xs:element name="msisdn" minOccurs="1" type="xs:string" />
			<xs:element name="imsi" minOccurs="0" type="xs:string" />
			<xs:element name="transno" minOccurs="0" type="xs:string" />
			<xs:element name="actionid" minOccurs="0" type="xs:string" />
			<xs:element name="newMsisdn" minOccurs="0" type="xs:string" />
			<xs:element name="srvName" minOccurs="0" type="xs:string" />
			<xs:element name="prepost_paid" minOccurs="0" type="xs:string" />
			<xs:element name="daid" minOccurs="0" type="xs:string" />
			<xs:element name="davalue" minOccurs="0" type="xs:string" />
			<xs:element name="daUnitType" minOccurs="0" type="xs:string" />
			<xs:element name="subscriberNumberNAI" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="7" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceClass" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="9999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="originOperatorID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transactionType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="negotiatedCapabilities" minOccurs="0" type="xs:string" />
			<xs:element name="serviceClassNew" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="9999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="externalData1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="expieryDays" minOccurs="0" type="xs:string" />
			<xs:element name="relativeBalance" minOccurs="0" type="xs:string" />
			<xs:element name="expireyDate" minOccurs="0" type="xs:string" />
			<xs:element name="serviceOfferingID" minOccurs="0" type="xs:integer" />
			<xs:element name="cap" minOccurs="0" type="xs:string" />
			<xs:element name="cmsisdn" minOccurs="0" type="xs:string" />
			<xs:element name="expiryDateTime" minOccurs="0" type="xs:string" />
			<xs:element name="dataSharingFlag" minOccurs="0" type="xs:string" />
			<xs:element name="transactionCode" minOccurs="0" type="xs:string" />
			<xs:element name="operationtype" minOccurs="0" type="xs:string" />
			<xs:element name="offertype" minOccurs="0" type="xs:string" />
			<xs:element name="offerSubType" minOccurs="0" type="xs:string" />
			<xs:element name="preActive" minOccurs="0" type="xs:string" />
			<xs:element name="offerId" minOccurs="0" type="xs:string" />
			<xs:element name="renewalFlag" minOccurs="0" type="xs:string" />
			<xs:element name="transactionStatus" minOccurs="0" type="xs:string" />
			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />
			<xs:element name="responseMsg" minOccurs="0" type="xs:string" />
			<xs:element name="offerStartDate" minOccurs="0" type="xs:string" />
			<xs:element name="offerEndDate" minOccurs="0" type="xs:string" />
			<xs:element name="returnBalance" minOccurs="0" type="xs:string" />
			<xs:element name="amount" minOccurs="0" type="xs:string" />
			<xs:element name="quota" minOccurs="0" type="xs:string" />
			<xs:element name="customerCategory" minOccurs="0" type="xs:string" />
			<xs:element name="orderNumber" minOccurs="0" type="xs:string" />
			<xs:element name="vPNShortCode" minOccurs="0" type="xs:string" />
			<xs:element name="vPNCommunityID" minOccurs="0" type="xs:string" />
			<xs:element name="refillProfileID" minOccurs="0" type="xs:string" />
			<xs:element name="priority" minOccurs="0" type="xs:string" />
			<xs:element name="flexibleAttributeList" minOccurs="0" type="xs:string" />
			<xs:element name="imei" minOccurs="0" type="xs:string" />
			<xs:element name="imsiFlag" minOccurs="0" type="xs:string" />
			<xs:element name="imeiFlag" minOccurs="0" type="xs:string" />
			<xs:element name="afFlag" minOccurs="0" type="xs:string" />
			<xs:element name="sdpID" minOccurs="0" type="xs:string" />
			<xs:element name="vPNOldShortCode" minOccurs="0" type="xs:string" />
			<xs:element name="vPNOldCommunityID" minOccurs="0" type="xs:string" />
			<xs:element name="preactivePeriod" minOccurs="0" type="xs:string" />
			<xs:element name="topupDeletionFlag" minOccurs="0" type="xs:string" />
			<xs:element name="topupUTValue" minOccurs="0" type="xs:string" />
			<xs:element name="linkedOfferID" minOccurs="0" type="xs:string" />
			<xs:element name="offerHandler" minOccurs="0" type="xs:string" />
			<xs:element name="fnfNumber" minOccurs="0" type="xs:string" />
			<xs:element name="chargingIndicator" minOccurs="0" type="xs:string" />
			<xs:element name="maAmount" minOccurs="0" type="xs:string" />
			<xs:element name="maExpiryDaysOrDate" minOccurs="0" type="xs:string" />
			<xs:element name="daAmount" minOccurs="0" type="xs:string" />
			<xs:element name="daExpiryDaysOrDate" minOccurs="0" type="xs:string" />
			<xs:element name="maAccountType" minOccurs="0" type="xs:string" />
			<xs:element name="daAccountType" minOccurs="0" type="xs:string" />
			<xs:element name="respSource" minOccurs="0" type="xs:string" />
			<xs:element name="respCode" minOccurs="0" type="xs:string" />
			<xs:element name="respDesc" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute type="xs:string" use="required" name="actionid">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="actionidAttr" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SetResponseSubscriptionType">
		<xs:sequence>

			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />

			<xs:element name="offerStartDate" minOccurs="0" type="xs:string" />
			<xs:element name="offerEndDate" minOccurs="0" type="xs:string" />
			<xs:element name="returnBalance" minOccurs="0" type="xs:string" />
			<xs:element name="respSource" minOccurs="0" type="xs:string" />
			<xs:element name="respCode" minOccurs="0" type="xs:string" />
			<xs:element name="respDesc" minOccurs="0" type="xs:string" />

		</xs:sequence>

	</xs:complexType>
	<xs:complexType name="GetResponseSubscriptionType">
		<xs:sequence>
			<xs:element name="msisdn" minOccurs="1" type="xs:string" />
			<xs:element name="imsi" minOccurs="0" type="xs:string" />
			<xs:element name="transno" minOccurs="0" type="xs:string" />
			<xs:element name="actionid" minOccurs="1" type="xs:string" />
			<xs:element name="newMsisdn" minOccurs="0" type="xs:string" />
			<xs:element name="srvName" minOccurs="0" type="xs:string" />
			<xs:element name="prepost_paid" minOccurs="0" type="xs:string" />
			<xs:element name="daid" minOccurs="0" type="xs:string" />
			<xs:element name="davalue" minOccurs="0" type="xs:string" />
			<xs:element name="daUnitType" minOccurs="0" type="xs:string" />
			<xs:element name="subscriberNumberNAI" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="7" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceClass" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="9999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="originOperatorID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transactionType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="negotiatedCapabilities" minOccurs="0" type="xs:string" />
			<xs:element name="serviceClassNew" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="9999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="externalData1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="128" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="expieryDays" minOccurs="0" type="xs:string" />
			<xs:element name="relativeBalance" minOccurs="0" type="xs:string" />
			<xs:element name="expireyDate" minOccurs="0" type="xs:string" />
			<xs:element name="serviceOfferingID" minOccurs="0" type="xs:integer" />
			<xs:element name="cap" minOccurs="0" type="xs:string" />
			<xs:element name="cmsisdn" minOccurs="0" type="xs:string" />
			<xs:element name="expiryDateTime" minOccurs="0" type="xs:string" />
			<xs:element name="dataSharingFlag" minOccurs="0" type="xs:string" />
			<xs:element name="transactionCode" minOccurs="0" type="xs:string" />
			<xs:element name="operationtype" minOccurs="0" type="xs:string" />
			<xs:element name="offertype" minOccurs="0" type="xs:string" />
			<xs:element name="offerSubType" minOccurs="0" type="xs:string" />
			<xs:element name="preActive" minOccurs="0" type="xs:string" />
			<xs:element name="offerId" minOccurs="0" type="xs:string" />
			<xs:element name="renewalFlag" minOccurs="0" type="xs:string" />
			<xs:element name="transactionStatus" minOccurs="0" type="xs:string" />
			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />
			<xs:element name="responseMsg" minOccurs="0" type="xs:string" />
			<xs:element name="offerStartDate" minOccurs="0" type="xs:string" />
			<xs:element name="offerEndDate" minOccurs="0" type="xs:string" />
			<xs:element name="returnBalance" minOccurs="0" type="xs:string" />
			<xs:element name="amount" minOccurs="0" type="xs:string" />
			<xs:element name="quota" minOccurs="0" type="xs:string" />
			<xs:element name="customerCategory" minOccurs="0" type="xs:string" />
			<xs:element name="orderNumber" minOccurs="0" type="xs:string" />
			<xs:element name="vPNShortCode" minOccurs="0" type="xs:string" />
			<xs:element name="vPNCommunityID" minOccurs="0" type="xs:string" />
			<xs:element name="refillProfileID" minOccurs="0" type="xs:string" />
			<xs:element name="priority" minOccurs="0" type="xs:string" />
			<xs:element name="flexibleAttributeList" minOccurs="0" type="xs:string" />
			<xs:element name="imei" minOccurs="0" type="xs:string" />
			<xs:element name="imsiFlag" minOccurs="0" type="xs:string" />
			<xs:element name="imeiFlag" minOccurs="0" type="xs:string" />
			<xs:element name="afFlag" minOccurs="0" type="xs:string" />
			<xs:element name="sdpID" minOccurs="0" type="xs:string" />
			<xs:element name="vPNOldShortCode" minOccurs="0" type="xs:string" />
			<xs:element name="vPNOldCommunityID" minOccurs="0" type="xs:string" />
			<xs:element name="preactivePeriod" minOccurs="0" type="xs:string" />
			<xs:element name="topupDeletionFlag" minOccurs="0" type="xs:string" />
			<xs:element name="topupUTValue" minOccurs="0" type="xs:string" />
			<xs:element name="linkedOfferID" minOccurs="0" type="xs:string" />
			<xs:element name="offerHandler" minOccurs="0" type="xs:string" />
			<xs:element name="fnfNumber" minOccurs="0" type="xs:string" />
			<xs:element name="chargingIndicator" minOccurs="0" type="xs:string" />
			<xs:element name="maAmount" minOccurs="0" type="xs:string" />
			<xs:element name="maExpiryDaysOrDate" minOccurs="0" type="xs:string" />
			<xs:element name="daAmount" minOccurs="0" type="xs:string" />
			<xs:element name="daExpiryDaysOrDate" minOccurs="0" type="xs:string" />
			<xs:element name="maAccountType" minOccurs="0" type="xs:string" />
			<xs:element name="daAccountType" minOccurs="0" type="xs:string" />
			<xs:element name="respSource" minOccurs="0" type="xs:string" />
			<xs:element name="respCode" minOccurs="0" type="xs:string" />
			<xs:element name="respDesc" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute type="xs:string" use="required" name="actionid">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="actionidAttr" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>