src/CommonProject/BusinessWSDLS/Services/WSDLS/CMS-CampaignManagement/CampaignManagement_v1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="http://www.zain.com/ZESB/Services/CampaignManagement" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/CampaignManagement" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/CampaignManagement/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.zain.com/ZESB/Services/CampaignManagement">
    <wsdl:types>
        <xs:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/CampaignManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string"/>
                        <xs:element name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ParamList">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="StringParam" nillable="false" type="com:StringParam"/>
                    <xs:element name="BooleanParam" nillable="false" type="com:BooleanParam"/>
                    <xs:element name="IntParam" nillable="false" type="com:IntParam"/>
                    <xs:element name="LongParam" nillable="false" type="com:LongParam"/>
                    <xs:element name="FloatParam" nillable="false" type="com:FloatParam"/>
                    <xs:element name="DoubleParam" nillable="false" type="com:DoubleParam"/>
                    <xs:element name="DateParam" nillable="false" type="com:DateParam"/>
                    <xs:element name="DateTimeParam" nillable="false" type="com:DateTimeParam"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://www.zain.com/ZESB/Services/CampaignManagement/Types" xmlns:tns="http://www.zain.com/ZESB/Services/CampaignManagement/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/CampaignManagement/Types">
            <xs:simpleType name="Language">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Ar"/>
                    <xs:enumeration value="En"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ResponseType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Accepted"/>
                    <xs:enumeration value="Rejected"/>
                    <xs:enumeration value="Blocked"/>
                    <xs:enumeration value="NotQualified"/>
                    <xs:enumeration value="Later"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="QualificationType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Qualified"/>
                    <xs:enumeration value="NotQualified"/>
                    <xs:enumeration value="CampaignExpired"/>
                    <xs:enumeration value="Blocked"/>
                    <xs:enumeration value="ParticipationLimit"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="AbstractCampaign">
                <xs:annotation>
                    <xs:documentation>The basic campaign details element</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="1" name="CampaignID" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="1" name="CampaignName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="OfferID" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="1" name="OfferName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="OfferDescription" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Campaign">
                <xs:annotation>
                    <xs:documentation>The Campaign details element with extended params</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="ns:AbstractCampaign">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="CampaignParams" nillable="false" type="com:ParamList"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CampaignQualification">
                <xs:annotation>
                    <xs:documentation>The Campaign details element with qualification status and justification</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="ns:AbstractCampaign">
                        <xs:sequence>
                            <xs:element minOccurs="1" name="QualificationStatus" nillable="false" type="ns:QualificationType"/>
                            <xs:element minOccurs="1" name="QualificationJustification" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="CampaignParams" nillable="false" type="com:ParamList"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CampaignResponse">
                <xs:annotation>
                    <xs:documentation>The response of the customer towards the offered campaign</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="1" name="CampaignID" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="1" name="OfferID" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="1" name="ResponseType" nillable="false" type="ns:ResponseType"/>
                    <xs:element minOccurs="1" name="ResponseReason" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReferenceNo" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="0" name="ResponseParams" nillable="false" type="com:ParamList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CampaignResponseResult">
                <xs:annotation>
                    <xs:documentation>The result of updating the response of the customer towards the offered campaign</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="1" name="ResultCode" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" name="ResultDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransactionNo" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="0" name="ReferenceNo" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="0" name="Blockage">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="1" name="ResponseType" nillable="true" type="ns:ResponseType"/>
                                <xs:element minOccurs="1" name="CampaignID" nillable="true" type="xs:long"/>
                                <xs:element minOccurs="1" name="OfferID" nillable="true" type="xs:long"/>
                                <xs:element minOccurs="1" name="MaxParticipationCounter" nillable="true" type="xs:int"/>
                                <xs:element minOccurs="1" name="BlockageEndDate" nillable="true" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ResponseResultParams" nillable="false" type="com:ParamList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueryCampaignsRequest">
                <xs:sequence>
                    <xs:element minOccurs="1" name="ChannelName" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" name="CampaignType" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" name="MSISDN" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="0" name="MaxReturnedCampaigns" nillable="false" type="xs:long"/>
                    <xs:element minOccurs="1" name="Language" nillable="false" type="tns:Language"/>
                    <xs:element minOccurs="0" name="CampaignParams" nillable="false" type="com:ParamList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueryCampaignsResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Campaigns" nillable="false">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Campaign" nillable="false" type="ns:Campaign"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueryAllCampaignsResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Campaigns" nillable="false">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="Campaign" nillable="false" type="ns:CampaignQualification"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SendCampaignFeedbackRequest">
                <xs:sequence>
                    <xs:element minOccurs="1" name="ChannelName" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" name="UserName" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" name="MSISDN" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="1" name="CampaignsResponseList" nillable="false">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="CampaignResponse" nillable="false" type="ns:CampaignResponse"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SendCampaignFeedbackResponse">
                <xs:sequence>
                    <xs:element minOccurs="1" name="CampaignResponseResultList" nillable="false">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="CampaignResponseResult" nillable="false" type="tns:CampaignResponseResult"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetEligibleCampaignsRequest" type="ns:QueryCampaignsRequest"/>
            <xs:element name="GetEligibleCampaignsResponse" type="ns:QueryCampaignsResponse"/>
            <xs:element name="GetAllCampaignsRequest" type="ns:QueryCampaignsRequest"/>
            <xs:element name="GetAllCampaignsResponse" type="ns:QueryAllCampaignsResponse"/>
            <xs:element name="SendCampaignFeedbackRequest" type="ns:SendCampaignFeedbackRequest"/>
            <xs:element name="SendCampaignFeedbackResponse" type="ns:SendCampaignFeedbackResponse"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="FaultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="GetEligibleCampaignsRequest">
        <wsdl:part element="typ:GetEligibleCampaignsRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetEligibleCampaignsResponse">
        <wsdl:part element="typ:GetEligibleCampaignsResponse" name="response"/>
    </wsdl:message>
    <wsdl:message name="GetAllCampaignsRequest">
        <wsdl:part element="typ:GetAllCampaignsRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetAllCampaignsResponse">
        <wsdl:part element="typ:GetAllCampaignsResponse" name="response"/>
    </wsdl:message>
    <wsdl:message name="SendCampaignFeedbackRequest">
        <wsdl:part element="typ:SendCampaignFeedbackRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="SendCampaignFeedbackResponse">
        <wsdl:part element="typ:SendCampaignFeedbackResponse" name="response"/>
    </wsdl:message>
    <wsdl:portType name="CampaignManagementPort">
        <wsdl:operation name="GetEligibleCampaigns">
            <wsdl:input message="tns:GetEligibleCampaignsRequest"/>
            <wsdl:output message="tns:GetEligibleCampaignsResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllCampaigns">
            <wsdl:input message="tns:GetAllCampaignsRequest"/>
            <wsdl:output message="tns:GetAllCampaignsResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="SendCampaignFeedback">
            <wsdl:input message="tns:SendCampaignFeedbackRequest"/>
            <wsdl:output message="tns:SendCampaignFeedbackResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CampaignManagementBinding" type="tns:CampaignManagementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetEligibleCampaigns">
            <soap:operation soapAction="tns:GetEligibleCampaigns"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAllCampaigns">
            <soap:operation soapAction="tns:GetAllCampaigns"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendCampaignFeedback">
            <soap:operation soapAction="tns:SendCampaignFeedback"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CampaignManagement">
        <wsdl:port binding="tns:CampaignManagementBinding" name="CampaignManagementPort">
            <soap:address location="http://soadev:8011/ZESB/CampaignManagementBinding"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>