src/CommonProject/BusinessWSDLS/Services/WSDLS/CMS-CampaignManagement/CMSInboundRequest.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="InboundRequestService" targetNamespace="http://com.turkcelltech.comet.ws.inboundrequest" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.turkcelltech.comet.ws.inboundrequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://com.turkcelltech.comet.ws.inboundrequest" version="1.0" xmlns:tns="http://com.turkcelltech.comet.ws.inboundrequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="requestAvailableTreatments" type="tns:requestAvailableTreatments" />
<xs:element name="requestAvailableTreatmentsResponse" type="tns:requestAvailableTreatmentsResponse" />
<xs:element name="requestTreatments" type="tns:requestTreatments" />
<xs:element name="requestTreatmentsResponse" type="tns:requestTreatmentsResponse" />
<xs:element name="requestTreatmentsWithReasons" type="tns:requestTreatmentsWithReasons" />
<xs:element name="requestTreatmentsWithReasonsResponse" type="tns:requestTreatmentsWithReasonsResponse" />
<xs:complexType name="requestAvailableTreatments">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestAvailableTreatmentsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestTreatments">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestTreatmentsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestTreatmentsWithReasons">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="requestTreatmentsWithReasonsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="requestTreatments">
    <wsdl:part element="tns:requestTreatments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestTreatmentsWithReasons">
    <wsdl:part element="tns:requestTreatmentsWithReasons" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestAvailableTreatments">
    <wsdl:part element="tns:requestAvailableTreatments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestAvailableTreatmentsResponse">
    <wsdl:part element="tns:requestAvailableTreatmentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestTreatmentsResponse">
    <wsdl:part element="tns:requestTreatmentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestTreatmentsWithReasonsResponse">
    <wsdl:part element="tns:requestTreatmentsWithReasonsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InboundRequest">
    <wsdl:operation name="requestAvailableTreatments">
      <wsdl:input message="tns:requestAvailableTreatments" name="requestAvailableTreatments">
    </wsdl:input>
      <wsdl:output message="tns:requestAvailableTreatmentsResponse" name="requestAvailableTreatmentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestTreatments">
      <wsdl:input message="tns:requestTreatments" name="requestTreatments">
    </wsdl:input>
      <wsdl:output message="tns:requestTreatmentsResponse" name="requestTreatmentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestTreatmentsWithReasons">
      <wsdl:input message="tns:requestTreatmentsWithReasons" name="requestTreatmentsWithReasons">
    </wsdl:input>
      <wsdl:output message="tns:requestTreatmentsWithReasonsResponse" name="requestTreatmentsWithReasonsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InboundRequestServiceSoapBinding" type="tns:InboundRequest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestAvailableTreatments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestAvailableTreatments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestAvailableTreatmentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestTreatments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestTreatments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestTreatmentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestTreatmentsWithReasons">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="requestTreatmentsWithReasons">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="requestTreatmentsWithReasonsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InboundRequestService">
    <wsdl:port binding="tns:InboundRequestServiceSoapBinding" name="InboundRequestServiceImplPort">
      <soap:address location="http://10.151.4.33:8082/Elrohir/Services/InboundRequest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>