src/CommonProject/BusinessWSDLS/Services/WSDLS/CMS-CampaignManagement/CMSResponseManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="ResponseManagerService" targetNamespace="http://com.turkcelltech.comet.ws.responsemanager" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.turkcelltech.comet.ws.responsemanager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://com.turkcelltech.comet.ws.responsemanager" version="1.0" xmlns:tns="http://com.turkcelltech.comet.ws.responsemanager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="checkBlockage" type="tns:checkBlockage" />
<xs:element name="checkBlockageList" type="tns:checkBlockageList" />
<xs:element name="checkBlockageListResponse" type="tns:checkBlockageListResponse" />
<xs:element name="checkBlockageResponse" type="tns:checkBlockageResponse" />
<xs:element name="checkCampaignParticipation" type="tns:checkCampaignParticipation" />
<xs:element name="checkCampaignParticipationList" type="tns:checkCampaignParticipationList" />
<xs:element name="checkCampaignParticipationListResponse" type="tns:checkCampaignParticipationListResponse" />
<xs:element name="checkCampaignParticipationResponse" type="tns:checkCampaignParticipationResponse" />
<xs:element name="writeResponse" type="tns:writeResponse" />
<xs:element name="writeResponseList" type="tns:writeResponseList" />
<xs:element name="writeResponseListResponse" type="tns:writeResponseListResponse" />
<xs:element name="writeResponseResponse" type="tns:writeResponseResponse" />
<xs:complexType name="writeResponseList">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="writeResponseListResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkBlockageList">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkBlockageListResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkBlockage">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkBlockageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkCampaignParticipation">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkCampaignParticipationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="writeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="writeResponseResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkCampaignParticipationList">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkCampaignParticipationListResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="checkCampaignParticipationList">
    <wsdl:part element="tns:checkCampaignParticipationList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkCampaignParticipationResponse">
    <wsdl:part element="tns:checkCampaignParticipationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBlockageListResponse">
    <wsdl:part element="tns:checkBlockageListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeResponseResponse">
    <wsdl:part element="tns:writeResponseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeResponseList">
    <wsdl:part element="tns:writeResponseList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBlockageResponse">
    <wsdl:part element="tns:checkBlockageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBlockageList">
    <wsdl:part element="tns:checkBlockageList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeResponseListResponse">
    <wsdl:part element="tns:writeResponseListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkCampaignParticipationListResponse">
    <wsdl:part element="tns:checkCampaignParticipationListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeResponse">
    <wsdl:part element="tns:writeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkCampaignParticipation">
    <wsdl:part element="tns:checkCampaignParticipation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkBlockage">
    <wsdl:part element="tns:checkBlockage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ResponseManager">
    <wsdl:operation name="writeResponseList">
      <wsdl:input message="tns:writeResponseList" name="writeResponseList">
    </wsdl:input>
      <wsdl:output message="tns:writeResponseListResponse" name="writeResponseListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBlockageList">
      <wsdl:input message="tns:checkBlockageList" name="checkBlockageList">
    </wsdl:input>
      <wsdl:output message="tns:checkBlockageListResponse" name="checkBlockageListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBlockage">
      <wsdl:input message="tns:checkBlockage" name="checkBlockage">
    </wsdl:input>
      <wsdl:output message="tns:checkBlockageResponse" name="checkBlockageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCampaignParticipation">
      <wsdl:input message="tns:checkCampaignParticipation" name="checkCampaignParticipation">
    </wsdl:input>
      <wsdl:output message="tns:checkCampaignParticipationResponse" name="checkCampaignParticipationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeResponse">
      <wsdl:input message="tns:writeResponse" name="writeResponse">
    </wsdl:input>
      <wsdl:output message="tns:writeResponseResponse" name="writeResponseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCampaignParticipationList">
      <wsdl:input message="tns:checkCampaignParticipationList" name="checkCampaignParticipationList">
    </wsdl:input>
      <wsdl:output message="tns:checkCampaignParticipationListResponse" name="checkCampaignParticipationListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResponseManagerServiceSoapBinding" type="tns:ResponseManager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeResponseList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="writeResponseList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="writeResponseListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBlockageList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkBlockageList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkBlockageListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkBlockage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkBlockage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkBlockageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCampaignParticipation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkCampaignParticipation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkCampaignParticipationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeResponse">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="writeResponse">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="writeResponseResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCampaignParticipationList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkCampaignParticipationList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkCampaignParticipationListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResponseManagerService">
    <wsdl:port binding="tns:ResponseManagerServiceSoapBinding" name="ResponseManagerServiceImplPort">
      <soap:address location="http://10.151.4.33:8082/Elrohir/Services/ResponseManager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>