src/CommonProject/BusinessWSDLS/Services/BSCS/GenericDirectoryNumberReadService/GenericDirectoryNumberReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/genericdirectorynumberread" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;New value for a named value.&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;
						
						&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/genericdirectorynumberread" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/genericdirectorynumberread">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="genericDirectoryNumberReadRequest" type="wsi:genericDirectoryNumberReadRequest"/>
            <xs:element name="genericDirectoryNumberReadResponse" type="wsi:genericDirectoryNumberReadResponse"/>
            <xs:complexType name="blocksListpartResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="dnBlockSeqno" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;The sequence number of the current block winthin the current Directory Number&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dnBlockStatus" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;The resource status of the current block. Possible states:
													&lt;ul&gt;&lt;li&gt;f-free&lt;/li&gt;&lt;li&gt;p-purchased&lt;/li&gt;&lt;li&gt;v-received&lt;/li&gt;&lt;li&gt;r-(partially) reserved&lt;/li&gt;&lt;li&gt;a-(completely) assigned to customer&lt;/li&gt;&lt;li&gt;d-deassigned&lt;/li&gt;&lt;li&gt;l-locked (in case of prepaid cards)&lt;/li&gt;&lt;li&gt;i-ported in&lt;/li&gt;&lt;li&gt;o-ported out&lt;/li&gt;&lt;li&gt;s-snapped back out&lt;/li&gt;&lt;li&gt;t-snapped back out reserved&lt;/li&gt;&lt;/ul&gt;
													&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="size" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;The size of the current block&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="low" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;The lower extension of the current block&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="high" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;The upper extension of the current block&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="blocksResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:blocksListpartResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="genericDirectoryNumberReadResponse">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;Identifies a resource structure by the public or private key. At least one of the arguments in group should be entered.&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;ID (primary key) of this Directory Number.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Resource Number.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ndc" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt; national destination code &lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="npcode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Numbering plan for this Directory Number.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="npcodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the payment method&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="plcode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt; Network id &lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="plcodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the network&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dnCode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Type of Directory Number&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dnStatus" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Status of this Directory Number. Possible states:
							&lt;ul&gt;&lt;li&gt;f-free&lt;/li&gt;&lt;li&gt;p-purchased&lt;/li&gt;&lt;li&gt;v-received&lt;/li&gt;&lt;li&gt;r-(partially) reserved&lt;/li&gt;&lt;li&gt;a-(completely) assigned to customer&lt;/li&gt;&lt;li&gt;d-deassigned&lt;/li&gt;&lt;li&gt;l-locked (in case of prepaid cards)&lt;/li&gt;&lt;li&gt;i-ported in&lt;/li&gt;&lt;li&gt;o-ported out&lt;/li&gt;&lt;li&gt;s-snapped back out&lt;/li&gt;&lt;li&gt;t-snapped back out reserved&lt;/li&gt;&lt;/ul&gt;
							&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="portId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Primary key for the linked port.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="portNum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Port Number of the linked port.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="hlcode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;The HLR of the resource.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="hlcodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the physical HLR&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="hmcode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;The Logical HLR of the resource.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="hmcodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the logical HLR&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="des" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Description of the resource. Set in case of following Numbering Plan classes:
							&lt;ul&gt;&lt;li&gt;APN&lt;/li&gt;&lt;/ul&gt;
							&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="vpnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;The ID of the VPN the number belongs to.Set in case of following Numbering Plan classes:
							&lt;ul&gt;&lt;li&gt;APN - optional&lt;/li&gt;&lt;li&gt;PDP - mandatory&lt;/li&gt;&lt;li&gt;VPN User (Private number) - mandatory&lt;/li&gt;&lt;li&gt;VPN Owner - mandatory&lt;/li&gt;&lt;/ul&gt;
							&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="vpnIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the VPN&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="vpnName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;The name of the VPN the number belongs to.Set in case of following Numbering Plan classes:
							&lt;ul&gt;&lt;li&gt;APN - optional&lt;/li&gt;&lt;li&gt;PDP - mandatory&lt;/li&gt;&lt;li&gt;VPN User (Private number) - mandatory&lt;/li&gt;&lt;li&gt;VPN Owner - mandatory&lt;/li&gt;&lt;/ul&gt;
							&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="blocks" type="wsi:blocksResponse"/>
                    <xs:element minOccurs="0" name="rscode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Private key of the resource structure.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="rscodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the resource structure.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;Identifies a VPN with the public or private key.&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;ID (primary key) of the Directory Number to be read.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Resource Number.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="npcode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Numbering plan for this Directory Number.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="npcodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the payment method&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="vpnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;The ID of the VPN the number belongs to.Set in case of following Numbering Plan classes:
							&lt;ul&gt;&lt;li&gt;APN - optional&lt;/li&gt;&lt;li&gt;PDP - mandatory&lt;/li&gt;&lt;li&gt;VPN User (Private number) - mandatory&lt;/li&gt;&lt;li&gt;VPN Owner - mandatory&lt;/li&gt;&lt;/ul&gt;
							&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="vpnIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the VPN&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ignoreDealerInd" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Flag determines if result contains a directory number linked with the current dealer or not&lt;/p&gt;&lt;p&gt;The login dealer is ignored if value is true, default false.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="genericDirectoryNumberReadRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="genericDirectoryNumberReadResponse">
        <wsdl:part element="sch3:genericDirectoryNumberReadResponse" name="genericDirectoryNumberReadResponse"/>
    </wsdl:message>
    <wsdl:message name="genericDirectoryNumberReadRequest">
        <wsdl:part element="sch3:genericDirectoryNumberReadRequest" name="genericDirectoryNumberReadRequest"/>
    </wsdl:message>
    <wsdl:portType name="GenericDirectoryNumberReadService">
        <wsdl:operation name="genericDirectoryNumberRead">
            <wsdl:input message="tns:genericDirectoryNumberReadRequest" name="genericDirectoryNumberReadRequest"/>
            <wsdl:output message="tns:genericDirectoryNumberReadResponse" name="genericDirectoryNumberReadResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GenericDirectoryNumberReadServiceSoap11" type="tns:GenericDirectoryNumberReadService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="genericDirectoryNumberRead">
            <soap:operation soapAction=""/>
            <wsdl:input name="genericDirectoryNumberReadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="genericDirectoryNumberReadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GenericDirectoryNumberReadService">
        <wsdl:port binding="tns:GenericDirectoryNumberReadServiceSoap11" name="GenericDirectoryNumberReadServiceSoap11">
            <soap:address location="http://10.96.103.208:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>