src/CommonProject/BusinessWSDLS/Services/OM/changeCustomerCategory.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="EOM.COM.changeCustomerCategory" targetNamespace="EOM.COM.changeCustomerCategory"
	xmlns:tns="EOM.COM.changeCustomerCategory"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data"
	xmlns:EOM.COM.changeCustomerCategory.changeCustomerCategoryResponse="http://www.zain.kw.com/BSS/OrderManagement/changeCustomerCategoryResponse"
	xmlns:EOM.COM.changeCustomerCategory.changeCustomerCategoryRequest="http://www.zain.kw.com/BSS/OrderManagement/changeCustomerCategoryRequest">

	<types>
			<schema elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/changeCustomerCategoryResponse"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EOM.COM.changeCustomerCategory.changeCustomerCategoryResponse="http://www.zain.kw.com/BSS/OrderManagement/changeCustomerCategoryResponse"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<!-- Data types and elements -->

			<!-- Structures -->

			<element name="subscriptionInfo">
				<complexType >
				<annotation>
					<documentation>subscriptionInfo</documentation>
				</annotation>
					<sequence>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="error" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>error</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="EOM.COM.changeCustomerCategory.changeCustomerCategoryResponse:error">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="subscriptionList">
				<complexType >
				<annotation>
					<documentation>subscriptionList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.changeCustomerCategory.changeCustomerCategoryResponse:subscriptionInfo"/>
					</sequence>
				</complexType>
			</element>

			<element name="changeCustomerCategoryResponse">
				<complexType >
				<annotation>
					<documentation>changeCustomerCategoryResponse</documentation>
				</annotation>
					<sequence>
						<element name="orderHeader" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>orderHeader</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="cwOrderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="sourceOrderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="cwOrderStartTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
									<element name="cwOrderEndTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
									<element name="comment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="responseType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="revision" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="error" minOccurs="0" maxOccurs="1">
										<annotation>
											<documentation>error</documentation>
										</annotation>
										<complexType>
											<complexContent>
												<extension base="EOM.COM.changeCustomerCategory.changeCustomerCategoryResponse:error">
													<sequence>
													</sequence>
												</extension>
											</complexContent>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.changeCustomerCategory.changeCustomerCategoryResponse:subscriptionList"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="error">
				<annotation>
					<documentation>error</documentation>
				</annotation>
					<sequence>
						<element name="Error_SourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_SourceErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_SourceErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_UserErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_UserErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Occurance_Time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Additional_Desc1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Additional_Desc2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/changeCustomerCategoryRequest"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EOM.COM.changeCustomerCategory.changeCustomerCategoryRequest="http://www.zain.kw.com/BSS/OrderManagement/changeCustomerCategoryRequest"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<!-- Data types and elements -->

			<!-- Structures -->

			<element name="header">
				<complexType >
				<annotation>
					<documentation>header</documentation>
				</annotation>
					<sequence>
						<element name="orderType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="orderSubType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceOrderID" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="buId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="createdDate" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="shopId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceCreatedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="areaCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="subscriptionInfo">
				<complexType >
				<annotation>
					<documentation>subscriptionInfo</documentation>
				</annotation>
					<sequence>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="lineType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="subscriberId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="bscsContractId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="changeCustomerCategoryRequest">
				<complexType >
				<annotation>
					<documentation>changeCustomerCategoryRequest</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.changeCustomerCategory.changeCustomerCategoryRequest:header"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.changeCustomerCategory.changeCustomerCategoryRequest:customerInfo"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.changeCustomerCategory.changeCustomerCategoryRequest:subscriptionList"/>
					</sequence>
				</complexType>
			</element>

			<element name="customerInfo">
				<complexType >
				<annotation>
					<documentation>customerInfo</documentation>
				</annotation>
					<sequence>
						<element name="category" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldCategory" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="reason" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="alternateName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="crmCustomerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="billingCustomerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="subscriptionList">
				<complexType >
				<annotation>
					<documentation>subscriptionList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.changeCustomerCategory.changeCustomerCategoryRequest:subscriptionInfo"/>
					</sequence>
				</complexType>
			</element>

			<!-- Documents -->

		</schema>
	</types>

	<message name="changeCustomerCategoryRequest">
		<part name="changeCustomerCategoryRequest" element="EOM.COM.changeCustomerCategory.changeCustomerCategoryRequest:changeCustomerCategoryRequest"/>
	</message>

	<message name="changeCustomerCategoryResponse">
		<part name="changeCustomerCategoryResponse" element="EOM.COM.changeCustomerCategory.changeCustomerCategoryResponse:changeCustomerCategoryResponse"/>
	</message>

	<message name="fault">
		<part name="fault" element="api_common.data:fault"/>
	</message>

	<portType name="syncCustomerCategoryChangeInterface">
		<operation name="syncCustomerCategoryChangeOp">
			<input message="tns:changeCustomerCategoryRequest"/>
			<output message="tns:changeCustomerCategoryResponse"/>
			<!--<fault name="fault" message="tns:fault"/>-->
		</operation>
	</portType>

	<binding name="syncCustomerCategoryChangeBinding" type="tns:syncCustomerCategoryChangeInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="syncCustomerCategoryChangeOp">
			<soap:operation soapAction="syncCustomerCategoryChangeOp"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="syncCustomerCategoryChangeService">
		<port name="syncCustomerCategoryChangePort" binding="tns:syncCustomerCategoryChangeBinding">
			<soap:address location="http://192.168.50.102:8080/cwf/services/syncCustomerCategoryChangeInterface"/>
		</port>
	</service>

</definitions>