src/CommonProject/BusinessWSDLS/Services/OM/getCFSidInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/getCFSID" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:EOM.catalog.getCFSID="http://www.zain.kw.com/BSS/OrderManagement/getCFSID" name="EOM.catalog.getCFSID" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/getCFSID">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:EOM.catalog.getCFSID="http://www.zain.kw.com/BSS/OrderManagement/getCFSID" elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/getCFSID">
            <annotation>
                <documentation>getCFSID</documentation>
            </annotation>
			<!-- Data types and elements -->
			
			<!-- Structures -->
            <element name="CFSSIDResponse">
                <complexType>
                    <annotation>
                        <documentation>CFSSIDResponse</documentation>
                    </annotation>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="1" name="CFSSIDList" type="EOM.catalog.getCFSID:CFSIDResp"/>
                    </sequence>
                </complexType>
            </element>
            <element name="CFSIDRequest">
                <complexType>
                    <annotation>
                        <documentation>CFSIDRequest</documentation>
                    </annotation>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="1" name="CFSSIDList" type="EOM.catalog.getCFSID:CFSSIDReq"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="CFSIDResp">
                <annotation>
                    <documentation>CFSIDResp</documentation>
                </annotation>
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="CFSSID" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="offerId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="error">
                        <annotation>
                            <documentation>error</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element maxOccurs="1" minOccurs="0" name="errorCode" type="xsd:string"/>
                                <element maxOccurs="1" minOccurs="0" name="errorDesc" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="CFSSIDReq">
                <annotation>
                    <documentation>CFSSIDReq</documentation>
                </annotation>
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="offerId" type="xsd:string"/>
                </sequence>
            </complexType>
			<!-- Documents -->
        </schema>
    </types>
    <message name="CFSIDRequest">
        <part element="tns:CFSIDRequest" name="CFSIDRequest">    </part>
    </message>
    <message name="CFSSIDResponse">
        <part element="tns:CFSSIDResponse" name="CFSSIDResponse">    </part>
    </message>
    <portType name="getCFSidInterface">
        <operation name="getCFSId">
            <input message="tns:CFSIDRequest">    </input>
            <output message="tns:CFSSIDResponse">    </output>
        </operation>
    </portType>
    <binding name="getCFSIDBinding" type="tns:getCFSidInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCFSId">
            <soap:operation soapAction="getCFSId"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="getCFSId">
        <port binding="tns:getCFSIDBinding" name="getCFSIdPort">
            <soap:address location="http://localhost:8080/cwf/services/getCFSidInterface"/>
        </port>
    </service>
</definitions>