src/CommonProject/BusinessWSDLS/Services/OM/getOfferIdInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/getCatalogOffer" xmlns:EOM.catalog.getCatalogOffer="http://www.zain.kw.com/BSS/OrderManagement/getCatalogOffer" xmlns:EOM.SOM.EMACS="http://schemas.ericsson.com/cai3g1.2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EOM.catalog.getCatalogOffer" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/getCatalogOffer">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:EOM.SOM.EMACS="http://schemas.ericsson.com/cai3g1.2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.ericsson.com/cai3g1.2/">
            <annotation>
                <documentation>cai3</documentation>
            </annotation>
			<!-- Data types and elements -->
			
			<!-- Structures -->
            <complexType name="Cai3gFaultType">
                <annotation>
                    <documentation>Cai3gFaultType</documentation>
                </annotation>
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="faultcode" type="xsd:integer"/>
                    <element maxOccurs="1" minOccurs="1" name="faultreason">
                        <annotation>
                            <documentation>faultreason</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element maxOccurs="unbounded" minOccurs="1" name="reasonText" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="faultrole" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="details">
                        <annotation>
                            <documentation>details</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element maxOccurs="1" minOccurs="0" name="Any" type="anyType"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="Fault">
                <annotation>
                    <documentation>Fault</documentation>
                </annotation>
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="faultcode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="faultstring" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="detail">
                        <annotation>
                            <documentation>detail</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element maxOccurs="1" minOccurs="0" name="Cai3gFault" type="EOM.SOM.EMACS:Cai3gFault"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="Cai3gFault">
                <annotation>
                    <documentation>Cai3gFault</documentation>
                </annotation>
                <complexContent>
                    <extension base="EOM.SOM.EMACS:Cai3gFaultType">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
			<!-- Documents -->
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:EOM.catalog.getCatalogOffer="http://www.zain.kw.com/BSS/OrderManagement/getCatalogOffer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/getCatalogOffer">
            <annotation>
                <documentation>getCatalogOffer</documentation>
            </annotation>
			<!-- Data types and elements -->
			
			<!-- Structures -->
            <element name="offerResponse">
                <complexType>
                    <annotation>
                        <documentation>offerResponse</documentation>
                    </annotation>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="1" name="offerList" type="EOM.catalog.getCatalogOffer:offerResp"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="offerResp">
                <annotation>
                    <documentation>offerResp</documentation>
                </annotation>
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="CFSSID" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="offerId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="error">
                        <annotation>
                            <documentation>error</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element maxOccurs="1" minOccurs="0" name="errorCode" type="xsd:string"/>
                                <element maxOccurs="1" minOccurs="0" name="errorDesc" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="offerReq">
                <annotation>
                    <documentation>offerReq</documentation>
                </annotation>
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="CFSSID" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="offerRequest">
                <complexType>
                    <annotation>
                        <documentation>offerRequest</documentation>
                    </annotation>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="1" name="offerList" type="EOM.catalog.getCatalogOffer:offerReq"/>
                    </sequence>
                </complexType>
            </element>
			<!-- Documents -->
        </schema>
    </types>
    <message name="offerResponse">
        <part element="tns:offerResponse" name="offerResponse">    </part>
    </message>
    <message name="Fault">
        <part name="Fault" type="EOM.SOM.EMACS:Fault">    </part>
    </message>
    <message name="offerRequest">
        <part element="tns:offerRequest" name="offerRequest">    </part>
    </message>
    <portType name="getOfferIdInterface">
        <operation name="getOfferId">
            <input message="tns:offerRequest">    </input>
            <output message="tns:offerResponse">    </output>
            <fault message="tns:Fault" name="Fault">    </fault>
        </operation>
    </portType>
    <binding name="getOfferIdBinding" type="tns:getOfferIdInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getOfferId">
            <soap:operation soapAction="getOfferId"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="getOfferIdExternalService">
        <port binding="tns:getOfferIdBinding" name="getOfferIdPort">
            <soap:address location="http://localhost:8080/cwf/services/getOfferIdInterface"/>
        </port>
    </service>
</definitions>