src/CommonProject/BusinessWSDLS/Services/OM/queryServiceOrder.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="Common.queryServiceOrder" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/queryServiceOrder"
	xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/queryServiceOrder"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:Common.queryServiceOrder="http://www.zain.kw.com/BSS/OrderManagement/queryServiceOrder">

	<types>
		<schema targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/queryServiceOrder"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:Common.queryServiceOrder="http://www.zain.kw.com/BSS/OrderManagement/queryServiceOrder"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">


			<!-- Data types and elements -->

			<!-- Structures -->

			<element name="headerInfo">
				<complexType >
				<annotation>
					<documentation>headerInfo</documentation>
				</annotation>
					<sequence>
						<element name="customerOrderNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="serviceOrderNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="creationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="orderStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="channel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="buId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="attribute1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="attribute2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="errorInfo">
				<complexType >
				<annotation>
					<documentation>errorInfo</documentation>
				</annotation>
					<sequence>
						<element name="sourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="errorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="errorDescription" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="entityCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="createTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="retryCount" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="serviceOrderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="itemCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="subscriberId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="itemType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="parentItemCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CRMIntegrationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="attribute1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="attribute2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="detailInfoList">
				<complexType >
				<annotation>
					<documentation>detailInfoList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="Common.queryServiceOrder:detailInfo"/>
					</sequence>
				</complexType>
			</element>

			<element name="detailInfo">
				<complexType >
				<annotation>
					<documentation>detailInfo</documentation>
				</annotation>
					<sequence>
						<element name="serviceOrderNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="activityCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="activityDetails" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="startTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="endTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="activityStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="duration" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="processDuration" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="processId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="activityIndex" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="attribute1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="attribute2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="queryServiceOrderResponse">
				<complexType >
				<annotation>
					<documentation>queryServiceOrderResponse</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="1" ref="Common.queryServiceOrder:headerInfoList"/>
						<element minOccurs="0" maxOccurs="1" ref="Common.queryServiceOrder:detailInfoList"/>
						<element minOccurs="0" maxOccurs="1" ref="Common.queryServiceOrder:orderErrorList"/>
						<element name="error" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>error</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="Error_SourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_SourceErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_SourceErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_UserErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_UserErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Occurance_Time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Additional_Desc1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Additional_Desc2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="orderErrorList">
				<complexType >
				<annotation>
					<documentation>orderErrorList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="Common.queryServiceOrder:errorInfo"/>
					</sequence>
				</complexType>
			</element>

			<element name="headerInfoList">
				<complexType >
				<annotation>
					<documentation>headerInfoList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="Common.queryServiceOrder:headerInfo"/>
					</sequence>
				</complexType>
			</element>

			<element name="queryServiceOrderRequest">
				<complexType >
				<annotation>
					<documentation>queryServiceOrderRequest</documentation>
				</annotation>
					<sequence>
						<element name="serviceOrderNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerOrderNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="queryLevel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="contractId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<!-- Documents -->

		</schema>
	</types>

	<message name="queryServiceOrderRequest">
		<part name="queryServiceOrderRequest" element="Common.queryServiceOrder:queryServiceOrderRequest"/>
	</message>

	<message name="queryServiceOrderResponse">
		<part name="queryServiceOrderResponse" element="Common.queryServiceOrder:queryServiceOrderResponse"/>
	</message>

	<portType name="queryServiceOrderInterface">
		<operation name="queryServiceOrderOp">
			<input message="tns:queryServiceOrderRequest"/>
			<output message="tns:queryServiceOrderResponse"/>
		</operation>
	</portType>

	<binding name="queryServiceOrderBinding" type="tns:queryServiceOrderInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="queryServiceOrderOp">
			<soap:operation soapAction="queryServiceOrderOp"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="queryServiceOrderService">
		<port name="queryServiceOrderPort" binding="tns:queryServiceOrderBinding">
			<soap:address location="http://192.168.50.102:8080/cwf/services/queryServiceOrderInterface"/>
		</port>
	</service>

</definitions>