src/CommonProject/BusinessWSDLS/Services/OM/syncModifyOrder.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="EOM.COM.syncModifyOrder" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/syncModifyOrder"
	xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/syncModifyOrder"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data"
	xmlns:EOM.COM.createOrderResponse="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderResponse"
	xmlns:EOM.COM.createOrderRequest="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderRequest">

	<types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderResponse"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EOM.COM.createOrderResponse="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderResponse"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<!-- Data types and elements -->

			<simpleType name="amount">
				<annotation>
					<documentation>amount</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<fractionDigits value="3"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<element name="refund">
				<complexType >
				<annotation>
					<documentation>refund</documentation>
				</annotation>
					<sequence>
						<element name="amount" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderResponse:amount"/>
						<element name="currencyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="productList">
				<complexType >
				<annotation>
					<documentation>productList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.createOrderResponse:product"/>
					</sequence>
				</complexType>
			</element>

			<element name="product">
				<complexType >
				<annotation>
					<documentation>product</documentation>
				</annotation>
					<sequence>
						<element name="productType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="productCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="parentProductCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="crmIntegrationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="offerEndDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="offerStartDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="icflexActivationCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="action" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="itemName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="error" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>error</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="EOM.COM.createOrderResponse:error">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderResponse:productAttributeList"/>
					</sequence>
				</complexType>
			</element>

			<element name="subscriptionInfo">
				<complexType >
				<annotation>
					<documentation>subscriptionInfo</documentation>
				</annotation>
					<sequence>
						<element name="billingContractId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceSubscriberId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="lifeCycleStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="error" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>error</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="EOM.COM.createOrderResponse:error">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderResponse:productList"/>
						<element name="integrationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderResponse:refund"/>
					</sequence>
				</complexType>
			</element>

			<element name="orderResponse">
				<complexType >
				<annotation>
					<documentation>orderResponse</documentation>
				</annotation>
					<sequence>
						<element name="orderHeader" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>orderHeader</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="cwOrderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="sourceOrderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="cwOrderStartTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
									<element name="cwOrderEndTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
									<element name="comment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="responseType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="revision" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="sourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="error" minOccurs="0" maxOccurs="1">
										<annotation>
											<documentation>error</documentation>
										</annotation>
										<complexType>
											<complexContent>
												<extension base="EOM.COM.createOrderResponse:error">
													<sequence>
													</sequence>
												</extension>
											</complexContent>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderResponse:subscriptionList"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderResponse:paymentList"/>
					</sequence>
				</complexType>
			</element>

			<element name="paymentList">
				<complexType >
				<annotation>
					<documentation>paymentList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.createOrderResponse:paymentInfo"/>
					</sequence>
				</complexType>
			</element>

			<element name="productAttribute">
				<complexType >
				<annotation>
					<documentation>productAttribute</documentation>
				</annotation>
					<sequence>
						<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="subscriptionList">
				<complexType >
				<annotation>
					<documentation>subscriptionList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.createOrderResponse:subscriptionInfo"/>
					</sequence>
				</complexType>
			</element>

			<element name="paymentInfo">
				<complexType >
				<annotation>
					<documentation>paymentInfo</documentation>
				</annotation>
					<sequence>
						<element name="paymentId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="error" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>error</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="EOM.COM.createOrderResponse:error">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="paymentReferenceNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="productAttributeList">
				<complexType >
				<annotation>
					<documentation>productAttributeList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.createOrderResponse:productAttribute"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="error">
				<annotation>
					<documentation>error</documentation>
				</annotation>
					<sequence>
						<element name="Error_SourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_SourceErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_SourceErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_UserErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_UserErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Occurance_Time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Additional_Desc1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Error_Additional_Desc2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderRequest"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EOM.COM.createOrderRequest="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderRequest"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"			
	xmlns:cwf="http://www.conceptwave.com/system">

			<!-- Data types and elements -->

		
			<simpleType name="amount">
				<annotation>
					<documentation>amount</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<fractionDigits value="3"/>
				</restriction>
			</simpleType>

			<simpleType name="accountId">
				<annotation>
					<documentation>accountId</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

						<!-- Structures -->

			<element name="productList">
				<complexType >
				<annotation>
					<documentation>productList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="1" maxOccurs="unbounded" ref="EOM.COM.createOrderRequest:product"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="chargeList">
				<annotation>
					<documentation>chargeList</documentation>
				</annotation>
					<sequence>
						<element name="charge" minOccurs="0" maxOccurs="unbounded" type="EOM.COM.createOrderRequest:charge"/>
					</sequence>
				</complexType>

			<element name="orderList">
				<complexType >
				<annotation>
					<documentation>orderList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="1" maxOccurs="unbounded" ref="EOM.COM.createOrderRequest:orderRequest"/>
					</sequence>
				</complexType>
			</element>

			<element name="product">
				<complexType >
				<annotation>
					<documentation>product</documentation>
				</annotation>
					<sequence>
						<element name="lineID" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="productType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="productCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="parentProductCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="action" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderRequest:productAttributeList"/>
						<element name="crmIntegrationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="renewalFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="chargeList" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:chargeList"/>
						<element name="advanceRCAmount" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
						<element name="noOfAdvRCBillCycle" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="installmentFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="installmentAmount" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:amount"/>
						<element name="installmentPeriod" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="installmentStartDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="installmentEndDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="posttoInvoiceAmount" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:amount"/>
						<element name="posttoInvoiceFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="inventoryFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="MSISDNCategory" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="upfrontPaymentAmount" minOccurs="0" maxOccurs="1" type="xsd:decimal"/>
						<element name="upfrontPaymentFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="discountAmount" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:amount"/>
						<element name="discountPercent" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="mRCCxTotal" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:amount"/>
						<element name="nRCCxTotal" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:amount"/>
						<element name="giftReceiverMSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="giftingFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="giftReceiverIMSI" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="giftReceiverSIMNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="giftReceiverContractId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="giftReceiverLineType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="billingAccountId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="dataSharingFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="subscriptionInfo">
				<complexType >
				<annotation>
					<documentation>subscriptionInfo</documentation>
				</annotation>
					<sequence>
						<element name="subscriberId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="subscriberName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceBillingProfileId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="billingContractId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="contractStartDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="contractEndDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="billingAccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="preferredLanguageCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="market" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="subMarket" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sdpId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="communicationMedium" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="email" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="contactNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="alternateNotificationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="preferredCommStartTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="preferredCommEndTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="estimationCompletionTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="spendLimit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="creditLimit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="location" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="salesPromotionFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="callDetailFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="estimationFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldMSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="imsi" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldIMSI" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="dnID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldDNID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="simNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldSIMNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderRequest:productList"/>
						<element name="subscriptionType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="lineType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="integrationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="creditCategory" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="vpnCommunityId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="vpnShortCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldBillingAccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldBillingProfileId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="creditExemption" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="collectionExemption" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="orderRequest">
				<complexType >
				<annotation>
					<documentation>orderRequest</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderRequest:subscriptionList"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderRequest:customerInfo"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderRequest:orderHeader"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.createOrderRequest:paymentList"/>
					</sequence>
				</complexType>
			</element>

			<element name="orderHeader">
				<complexType >
				<annotation>
					<documentation>orderHeader</documentation>
				</annotation>
					<sequence>
						<element name="orderType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="orderNumber" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="createdDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="requestedDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="sourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderSubType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceOrderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceOrderID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceOrderCreationDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="fulfilmentDate" minOccurs="0" maxOccurs="1" type="xsd:date"/>
						<element name="salesAgent" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="reasonCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="shopId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="shopName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceCreatedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="comment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="agreementName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="buID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="totalNRCAmount" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="totalMRCAmount" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="totalNRCUpfront" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="totalRCAdvance" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="priority" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="batchType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="batchNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="deposit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="channel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="escalationFlag" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="estimationTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="revision" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="bulkRequestId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="npOrderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="currencyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="warehouseCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="bulkType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="customerInfo">
				<complexType >
				<annotation>
					<documentation>customerInfo</documentation>
				</annotation>
					<sequence>
						<element name="crmCustomerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="category" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="preferredLanguageCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="segment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="subSegment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="staffId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="alternateName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="email" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="contactNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="alternateNotificationNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="prefCommStartTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="prefCommEndTime" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="prefCommChannel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="camID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="CAM" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="currencyID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="billingCustomerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldBillingCustomerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldCategory" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldAlternateName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldContactNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="oldCRMCustomerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="paymentList">
				<complexType >
				<annotation>
					<documentation>paymentList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.createOrderRequest:paymentInfo"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="charge">
				<annotation>
					<documentation>charge</documentation>
				</annotation>
					<sequence>
						<element name="chargeType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="baseCharge" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:amount"/>
						<element name="netCharge" minOccurs="0" maxOccurs="1" type="EOM.COM.createOrderRequest:amount"/>
					</sequence>
				</complexType>

			<element name="productAttribute">
				<complexType >
				<annotation>
					<documentation>productAttribute</documentation>
				</annotation>
					<sequence>
						<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="subscriptionList">
				<complexType >
				<annotation>
					<documentation>subscriptionList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.createOrderRequest:subscriptionInfo"/>
					</sequence>
				</complexType>
			</element>

			<element name="paymentInfo">
				<complexType >
				<annotation>
					<documentation>paymentInfo</documentation>
				</annotation>
					<sequence>
						<element name="paymentId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="accountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="authorizationCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="currencyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="issuingBankName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="lineNumber3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="payment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="paymentAccountId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="paymentDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="paymentMethod" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="paymentStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="paymentType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="transactionAmount" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="transactionType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="bscsBillingAccountNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="bscsCustomerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="merchantId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="receiptNo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="shopId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="tabsBillCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="tabsServiceCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="terminalId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="userName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerCategory" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="payDesk" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="expiryDate" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="productAttributeList">
				<complexType >
				<annotation>
					<documentation>productAttributeList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="unbounded" ref="EOM.COM.createOrderRequest:productAttribute"/>
					</sequence>
				</complexType>
			</element>

			<!-- Documents -->

		</schema>
	</types>

	<message name="orderList">
		<part name="orderList" element="EOM.COM.createOrderRequest:orderList"/>
	</message>

	<message name="orderResponse">
		<part name="orderResponse" element="EOM.COM.createOrderResponse:orderResponse"/>
	</message>

	<message name="fault">
		<part name="fault" element="api_common.data:fault"/>
	</message>

	<portType name="syncModifyOrderInterface">
		<operation name="syncModifyOrderOperation">
			<input message="tns:orderList"/>
			<output message="tns:orderResponse"/>
			<!--<fault name="fault" message="tns:fault"/>-->
		</operation>
	</portType>

	<binding name="syncModifyOrderBinding" type="tns:syncModifyOrderInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="syncModifyOrderOperation">
			<soap:operation soapAction="syncModifyOrderOperation"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="syncModifyService">
		<port name="syncModifyOrderPort" binding="tns:syncModifyOrderBinding">
			<soap:address location="http://localhost:8081/cwf/services/syncModifyOrderInterface"/>
		</port>
	</service>

</definitions>