src/CommonProject/BusinessWSDLS/Services/OM/syncAutoPay.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="EOM.COM.autoPayExecutionRequest" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionRequest"
	xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionRequest"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:EOM.COM.autoPayExecutionResponse="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionResponse"
	xmlns:EOM.COM.autoPayExecutionRequest="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionRequest">

	<types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionResponse"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EOM.COM.autoPayExecutionResponse="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionResponse"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<!-- Data types and elements -->

			<simpleType name="amount">
				<annotation>
					<documentation>amount</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<fractionDigits value="3"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<element name="header">
				<complexType >
				<annotation>
					<documentation>header</documentation>
				</annotation>
					<sequence>
						<element name="cwOrderId" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="sourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceOrderId" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="responseType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="cwOrderStartTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="cwOrderEndTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="comment" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="error" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>error</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="Error_SourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_SourceErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_SourceErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_UserErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_UserErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Occurance_Time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Additional_Desc1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="Error_Additional_Desc2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="transactionInfo">
				<complexType >
				<annotation>
					<documentation>transactionInfo</documentation>
				</annotation>
					<sequence>
						<element name="amount" minOccurs="0" maxOccurs="1" type="EOM.COM.autoPayExecutionResponse:amount"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="shoppingTransactionReference" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="autorizationStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="receiptNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="settlementDate" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="autoPayExecutionList">
				<complexType >
				<annotation>
					<documentation>autoPayExecutionList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="1" maxOccurs="unbounded" ref="EOM.COM.autoPayExecutionResponse:autoPayExecution"/>
					</sequence>
				</complexType>
			</element>

			<element name="autoPayExecution">
				<complexType >
				<annotation>
					<documentation>autoPayExecution</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.autoPayExecutionResponse:header"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.autoPayExecutionResponse:transactionInfo"/>
					</sequence>
				</complexType>
			</element>

			<!-- Documents -->

		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionRequest"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EOM.COM.autoPayExecutionRequest="http://www.zain.kw.com/BSS/OrderManagement/autoPayExecutionRequest"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">


			<!-- Data types and elements -->

			<simpleType name="amount">
				<annotation>
					<documentation>amount</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<fractionDigits value="3"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<element name="header">
				<complexType >
				<annotation>
					<documentation>header</documentation>
				</annotation>
					<sequence>
						<element name="orderType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="orderSubType" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="sourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceOrderID" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="buId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="createdDate" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="sourceCreatedBy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="transactionInfo">
				<complexType >
				<annotation>
					<documentation>transactionInfo</documentation>
				</annotation>
					<sequence>
						<element name="amount" minOccurs="0" maxOccurs="1" type="EOM.COM.autoPayExecutionRequest:amount"/>
						<element name="currencyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="lineType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="autoPayExecutionList">
				<complexType >
				<annotation>
					<documentation>autoPayExecutionList</documentation>
				</annotation>
					<sequence>
						<element minOccurs="1" maxOccurs="unbounded" ref="EOM.COM.autoPayExecutionRequest:autoPayExecution"/>
					</sequence>
				</complexType>
			</element>

			<element name="autoPayExecution">
				<complexType >
				<annotation>
					<documentation>autoPayExecution</documentation>
				</annotation>
					<sequence>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.autoPayExecutionRequest:header"/>
						<element minOccurs="0" maxOccurs="1" ref="EOM.COM.autoPayExecutionRequest:transactionInfo"/>
					</sequence>
				</complexType>
			</element>

			<!-- Documents -->

		</schema>
	</types>

	<message name="autoPayExecutionList">
		<part name="autoPayExecutionList" element="EOM.COM.autoPayExecutionRequest:autoPayExecutionList"/>
	</message>

	<message name="autoPayExecutionList2">
		<part name="autoPayExecutionList" element="EOM.COM.autoPayExecutionResponse:autoPayExecutionList"/>
	</message>

	<portType name="syncAutoPayInterface">
		<operation name="syncAutoPayOp">
			<input message="tns:autoPayExecutionList"/>
			<output message="tns:autoPayExecutionList2"/>
		</operation>
	</portType>

	<binding name="syncAutoPayBinding" type="tns:syncAutoPayInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="syncAutoPayOp">
			<soap:operation soapAction="syncAutoPayOp"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="syncAutoPayService">
		<port name="syncAutoPayPort" binding="tns:syncAutoPayBinding">
			<soap:address location="http://192.168.50.102:8080/cwf/services/syncCreateServiceInterface"/>
		</port>
	</service>

</definitions>