src/CommonProject/BusinessWSDLS/Services/OM/updateItem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:EOM.catalog.updateCFSS="http://www.zain.kw.com/BSS/OrderManagement/updateItemService" xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/updateItemService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EOM.catalog.updateCFSS" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/updateItemService">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:EOM.catalog.updateCFSS="http://www.zain.kw.com/BSS/OrderManagement/updateItemService" xmlns:EOM="EOM" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/updateItemService">
            <!-- Data types and elements -->
            <!-- Structures -->
            <complexType name="item">
                <annotation>
                    <documentation>item</documentation>
                </annotation>
                <sequence>
                    <element name="itemCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="ERPItemCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="itemSubType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="error">
                <annotation>
                    <documentation>error</documentation>
                </annotation>
                <sequence>
                    <element name="Error_SourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_SourceErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_SourceErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_UserErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_UserErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_Occurance_Time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_Additional_Desc1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="Error_Additional_Desc2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="updateItemRequest">
                <complexType>
                    <annotation>
                        <documentation>updateItemRequest</documentation>
                    </annotation>
                    <sequence>
                        <element name="item" minOccurs="0" maxOccurs="1" type="EOM.catalog.updateCFSS:item"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updateItemResponse">
                <complexType>
                    <annotation>
                        <documentation>updateItemResponse</documentation>
                    </annotation>
                    <sequence>
                        <element name="item" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>item</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="itemCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="error" minOccurs="0" maxOccurs="1" type="EOM.catalog.updateCFSS:error"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <!-- Documents -->
            <complexType name="itemCodeOutputDoc">
                <annotation>
                    <documentation>itemCodeOutputDoc</documentation>
                </annotation>
                <sequence>
                    <element name="itemCode" type="EOM:String32"/>
                </sequence>
            </complexType>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:EOM="EOM" xmlns:cwf="http://www.conceptwave.com/system" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="EOM">
            <!-- Data types and elements -->
            <simpleType name="calendar">
                <annotation>
                    <documentation>calendar</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <enumeration value="Calendar">
                        <annotation>
                            <documentation>Calendar</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="Integer1">
                <annotation>
                    <documentation>Integer1</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="1"/>
                </restriction>
            </simpleType>
            <simpleType name="bulkInterfaceURLCT">
                <annotation>
                    <documentation>bulk Interface URL</documentation>
                </annotation>
                <restriction base="cwf:cwDbEnum">
				</restriction>
            </simpleType>
            <simpleType name="String32">
                <annotation>
                    <documentation>String32</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
            <simpleType name="String10">
                <annotation>
                    <documentation>String10</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="10"/>
                </restriction>
            </simpleType>
            <simpleType name="String8">
                <annotation>
                    <documentation>String8</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
            <simpleType name="String100">
                <annotation>
                    <documentation>String100</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="100"/>
                </restriction>
            </simpleType>
            <simpleType name="String256">
                <annotation>
                    <documentation>String256</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="String500">
                <annotation>
                    <documentation>String500</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="500"/>
                </restriction>
            </simpleType>
            <simpleType name="Decimal3">
                <annotation>
                    <documentation>Decimal3</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="10"/>
                    <fractionDigits value="3"/>
                </restriction>
            </simpleType>
            <simpleType name="String16">
                <annotation>
                    <documentation>String16</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="String50">
                <annotation>
                    <documentation>String50</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="50"/>
                </restriction>
            </simpleType>
            <simpleType name="String64">
                <annotation>
                    <documentation>String64</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="String20">
                <annotation>
                    <documentation>String20</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="20"/>
                </restriction>
            </simpleType>
            <!-- Structures -->
            <!-- Documents -->
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cwf="http://www.conceptwave.com/system" targetNamespace="http://www.conceptwave.com/system">
            <!-- Data types and elements -->
            <simpleType name="ID">
                <annotation>
                    <documentation>ID</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
            <simpleType name="NClob">
                <annotation>
                    <documentation>National CLOB</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="NVarChar">
                <annotation>
                    <documentation>Extend this datatype in your user metadata and specify a valid length. Database column will be created with type NVARCHAR2 if a length is specified. Otherwise it will default to type NCLOB</documentation>
                    <appinfo>
                        <label>National String</label>
                    </appinfo>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="NodeId">
                <annotation>
                    <documentation>NodeId</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="50"/>
                </restriction>
            </simpleType>
            <simpleType name="String64">
                <annotation>
                    <documentation>String64</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="actIndex">
                <annotation>
                    <documentation>Activity Index</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="5"/>
                </restriction>
            </simpleType>
            <simpleType name="actionName">
                <annotation>
                    <documentation>actionName</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="allCalendars">
                <annotation>
                    <documentation>All calendars</documentation>
                </annotation>
                <restriction base="cwf:calendar">
				</restriction>
            </simpleType>
            <simpleType name="allCompensates">
                <annotation>
                    <documentation>All Compensates</documentation>
                </annotation>
                <restriction base="cwf:compensate">
				</restriction>
            </simpleType>
            <simpleType name="allMilestones">
                <annotation>
                    <documentation>All Milestones</documentation>
                </annotation>
                <restriction base="cwf:milestone">
				</restriction>
            </simpleType>
            <simpleType name="allPriorities">
                <annotation>
                    <documentation>All priorities</documentation>
                </annotation>
                <restriction base="cwf:priority">
                    <enumeration value="1">
                        <annotation>
                            <documentation>High</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="8">
                        <annotation>
                            <documentation>Normal</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="15">
                        <annotation>
                            <documentation>Low</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="allStates">
                <annotation>
                    <documentation>All States</documentation>
                </annotation>
                <restriction base="cwf:state">
				</restriction>
            </simpleType>
            <simpleType name="anyURI">
                <annotation>
                    <documentation/>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="appName">
                <annotation>
                    <documentation>Deployed Application Name</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
            <simpleType name="applicationNames">
                <annotation>
                    <documentation>Application name</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                    <enumeration value="none">
                        <annotation>
                            <documentation>No applications available</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="attachmentDescription">
                <annotation>
                    <documentation>attachmentDescription</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="avmID">
                <annotation>
                    <documentation>AVM</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="8"/>
                </restriction>
            </simpleType>
            <simpleType name="benchmarkValue">
                <annotation>
                    <documentation>benchmarkValue</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="calendar">
                <annotation>
                    <documentation>Calendar</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="80"/>
                </restriction>
            </simpleType>
            <simpleType name="calendarRef">
                <annotation>
                    <documentation>calendarRef</documentation>
                </annotation>
                <restriction base="cwf:sReference">
                    <maxLength value="80"/>
                </restriction>
            </simpleType>
            <simpleType name="category">
                <annotation>
                    <documentation>category</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="compensate">
                <annotation>
                    <documentation>Compensate</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="6"/>
                </restriction>
            </simpleType>
            <simpleType name="counterName">
                <annotation>
                    <documentation>counterName</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="cwAppName">
                <annotation>
                    <documentation>System Application Name</documentation>
                </annotation>
                <restriction base="cwf:appName">
				</restriction>
            </simpleType>
            <simpleType name="cwAppVersion">
                <annotation>
                    <documentation>Deployed Application Version</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="8"/>
                </restriction>
            </simpleType>
            <simpleType name="cwAvmType">
                <annotation>
                    <documentation>cwAvmType</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="cwCreated">
                <annotation>
                    <documentation>System created timestamp</documentation>
                </annotation>
                <restriction base="xsd:dateTime">
				</restriction>
            </simpleType>
            <simpleType name="cwCreatedBy">
                <annotation>
                    <documentation>System created by</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="cwDbEnum">
                <annotation>
                    <documentation>Standard DB enumeration</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="cwDbEnumName">
                <annotation>
                    <documentation>Standard DB enumeration name</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="cwDocId">
                <annotation>
                    <documentation>System document ID</documentation>
                </annotation>
                <restriction base="cwf:docId">
				</restriction>
            </simpleType>
            <simpleType name="cwDocId64">
                <annotation>
                    <documentation>System document ID 64</documentation>
                </annotation>
                <restriction base="cwf:docId">
                    <maxLength value="10"/>
                </restriction>
            </simpleType>
            <simpleType name="cwDocStamp">
                <annotation>
                    <documentation>System doc stamp</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="cwDocType">
                <annotation>
                    <documentation>System document type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="cwDynamicCT">
                <annotation>
                    <documentation>Dynamic code table</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="cwJson">
                <annotation>
                    <documentation>cwJson</documentation>
                </annotation>
                <restriction base="cwf:NClob">
				</restriction>
            </simpleType>
            <simpleType name="cwMimeType">
                <annotation>
                    <documentation>cwMimeType</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="cwMultiApp">
                <annotation>
                    <documentation>Deployed Application Name</documentation>
                </annotation>
                <restriction base="cwf:appName">
				</restriction>
            </simpleType>
            <simpleType name="cwOrderCreationDate">
                <annotation>
                    <documentation>System order creation timestamp</documentation>
                </annotation>
                <restriction base="xsd:dateTime">
				</restriction>
            </simpleType>
            <simpleType name="cwOrderId">
                <annotation>
                    <documentation>System order ID</documentation>
                </annotation>
                <restriction base="cwf:docId">
				</restriction>
            </simpleType>
            <simpleType name="cwOrderStamp">
                <annotation>
                    <documentation>System Order Stamp</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="cwOriginalFileSpec">
                <annotation>
                    <documentation>cwOriginalFileSpec</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="cwOriginalId">
                <annotation>
                    <documentation>System Document Original ID</documentation>
                </annotation>
                <restriction base="cwf:docId">
				</restriction>
            </simpleType>
            <simpleType name="cwParentId">
                <annotation>
                    <documentation>System parent ID</documentation>
                </annotation>
                <restriction base="cwf:docId">
				</restriction>
            </simpleType>
            <simpleType name="cwResumeIndicator">
                <annotation>
                    <documentation>Resume Indicator</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="cwRollbackCode">
                <annotation>
                    <documentation>Rollback Code</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="cwSiteId">
                <annotation>
                    <documentation>Site ID</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="2"/>
                </restriction>
            </simpleType>
            <simpleType name="cwTimestamp">
                <annotation>
                    <documentation>System Timestamp</documentation>
                </annotation>
                <restriction base="xsd:dateTime">
				</restriction>
            </simpleType>
            <simpleType name="cwTopOrderId">
                <annotation>
                    <documentation>cwTopOrderId</documentation>
                </annotation>
                <restriction base="cwf:processId">
				</restriction>
            </simpleType>
            <simpleType name="cwTypeNo">
                <annotation>
                    <documentation>System doc type number</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="cwXml">
                <annotation>
                    <documentation>cwXml</documentation>
                </annotation>
                <restriction base="cwf:NClob">
				</restriction>
            </simpleType>
            <simpleType name="date">
                <annotation>
                    <documentation/>
                </annotation>
                <restriction base="xsd:date">
                    <pattern value="MM/dd/yyyy"/>
                </restriction>
            </simpleType>
            <simpleType name="dateTimeMin">
                <annotation>
                    <documentation>Date/Time (min)</documentation>
                </annotation>
                <restriction base="xsd:dateTime">
                    <pattern value="MM/dd/yyyy HH:mm"/>
                </restriction>
            </simpleType>
            <simpleType name="dateTimeSec">
                <annotation>
                    <documentation>Date/Time (sec)</documentation>
                </annotation>
                <restriction base="xsd:dateTime">
                    <pattern value="MM/dd/yyyy HH:mm:ss"/>
                </restriction>
            </simpleType>
            <simpleType name="docId">
                <annotation>
                    <documentation>Document ID</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="domainName">
                <annotation>
                    <documentation>domainName</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="dueDate">
                <annotation>
                    <documentation>Due Date</documentation>
                </annotation>
                <restriction base="xsd:date">
				</restriction>
            </simpleType>
            <simpleType name="duration">
                <annotation>
                    <documentation>&lt;p style="margin-top: 0"&gt;
  Duration(sec)
&lt;/p&gt;</documentation>
                    <appinfo>
                        <label>Duration</label>
                    </appinfo>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="dynDocContent">
                <annotation>
                    <documentation>&lt;p style="margin-top: 0"&gt;
  Content datatype for the DynamicDocumentDefinition Document
&lt;/p&gt;</documentation>
                    <appinfo>
                        <label>Dynamic Document Definition Document Content</label>
                    </appinfo>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="dynamicDatasource">
                <annotation>
                    <documentation>dynamicDatasource</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="externalId">
                <annotation>
                    <documentation>&lt;p style="margin-top: 0"&gt;
  Used in attachment document in order to save the &amp;quot;Owner&amp;quot; Id
&lt;/p&gt;</documentation>
                    <appinfo>
                        <label>externalId</label>
                    </appinfo>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="externalScriptName">
                <annotation>
                    <documentation>Script Name</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="externalScriptStatus">
                <annotation>
                    <documentation>Script Status</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="3"/>
                    <enumeration value="DEF">
                        <annotation>
                            <documentation>Definition</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="ACT">
                        <annotation>
                            <documentation>Active</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="externalScriptType">
                <annotation>
                    <documentation>Script Type</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="2"/>
                </restriction>
            </simpleType>
            <simpleType name="globalProcMetaId">
                <annotation>
                    <documentation>Numeric global process type</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="globalScripts">
                <annotation>
                    <documentation>Script</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="guid">
                <annotation>
                    <documentation>GUID</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
            <simpleType name="hasAttachment">
                <annotation>
                    <documentation>Has Attachment</documentation>
                </annotation>
                <restriction base="xsd:boolean">
				</restriction>
            </simpleType>
            <simpleType name="headerData">
                <annotation>
                    <documentation>headerData</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="iReference">
                <annotation>
                    <documentation>Native reference</documentation>
                </annotation>
                <restriction base="cwf:sReference">
                    <maxLength value="19"/>
                </restriction>
            </simpleType>
            <simpleType name="interOper">
                <annotation>
                    <documentation>Interface Operation</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="interOperFQ">
                <annotation>
                    <documentation>Fully qualified interface operation</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="languages">
                <annotation>
                    <documentation>Language</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="5"/>
                </restriction>
            </simpleType>
            <simpleType name="lastUpdatedDate">
                <annotation>
                    <documentation>System last updated timestamp</documentation>
                </annotation>
                <restriction base="xsd:dateTime">
				</restriction>
            </simpleType>
            <simpleType name="ldapModifyAttribute">
                <annotation>
                    <documentation>LDAP Modify Attribute</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                    <enumeration value="1">
                        <annotation>
                            <documentation>ADD_ATTRIBUTE</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation>
                            <documentation>REPLACE_ATTRIBUTE</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="3">
                        <annotation>
                            <documentation>REMOVE_ATTRIBUTE</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="ldapSearchScope">
                <annotation>
                    <documentation>LDAP Search Scope</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                    <enumeration value="0">
                        <annotation>
                            <documentation>OBJECT_SCOPE</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="1">
                        <annotation>
                            <documentation>ONELEVEL_SCOPE</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation>
                            <documentation>SUBTREE_SCOPE</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="links">
                <annotation>
                    <documentation>links</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="messageID">
                <annotation>
                    <documentation>Message ID</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="metaDocuments">
                <annotation>
                    <documentation>Document type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="metaDocumentsFQ">
                <annotation>
                    <documentation>Fully qualified document type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="metaFinders">
                <annotation>
                    <documentation>Finder type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="metaInterfaces">
                <annotation>
                    <documentation>Interface type</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="metaInterfacesId">
                <annotation>
                    <documentation>Numeric interface type</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="metaOrdAndWiz">
                <annotation>
                    <documentation>Order or wizard type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="metaOrders">
                <annotation>
                    <documentation>Order type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="metaParticipants">
                <annotation>
                    <documentation>Participant type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="metaUserParticipants">
                <annotation>
                    <documentation>User participant type</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="metadataId">
                <annotation>
                    <documentation>Metadata ID (string)</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="metadataIntId">
                <annotation>
                    <documentation>Numeric metadata type</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="metadataVer">
                <annotation>
                    <documentation>Metadata Version</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="milestone">
                <annotation>
                    <documentation>Milestone</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="module">
                <annotation>
                    <documentation>Module</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="2"/>
                    <enumeration value="0">
                        <annotation>
                            <documentation>User Interface</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="1">
                        <annotation>
                            <documentation>Persistence</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation>
                            <documentation>Data/System</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="3">
                        <annotation>
                            <documentation>Metadata</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="4">
                        <annotation>
                            <documentation>Process Engine</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="5">
                        <annotation>
                            <documentation>Javascript Interpreter</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="6">
                        <annotation>
                            <documentation>External Interface</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="7">
                        <annotation>
                            <documentation>DB Stored Procedure</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="8">
                        <annotation>
                            <documentation>User Profile</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="9">
                        <annotation>
                            <documentation>Testing</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="10">
                        <annotation>
                            <documentation>Other</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="msgCorrelationId">
                <annotation>
                    <documentation>msgCorrelationId</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="msgPriority">
                <annotation>
                    <documentation>msgPriority</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="1"/>
                </restriction>
            </simpleType>
            <simpleType name="msgRetryCount">
                <annotation>
                    <documentation>&lt;p style="margin-top: 0"&gt;
  Message Retry Count
&lt;/p&gt;</documentation>
                    <appinfo>
                        <label>Message Retry Count</label>
                    </appinfo>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="3"/>
                </restriction>
            </simpleType>
            <simpleType name="msgSequenceId">
                <annotation>
                    <documentation>msgSequenceId</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="nReference">
                <annotation>
                    <documentation>Numeric reference</documentation>
                </annotation>
                <restriction base="xsd:decimal">
				</restriction>
            </simpleType>
            <simpleType name="nodeName">
                <annotation>
                    <documentation>Node Name</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
            <simpleType name="notes4000">
                <annotation>
                    <documentation>notes4000</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="4000"/>
                </restriction>
            </simpleType>
            <simpleType name="openIdName">
                <annotation>
                    <documentation>openIdName</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="operation">
                <annotation>
                    <documentation>Operation</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="optionalItems">
                <annotation>
                    <documentation>Optional item(s)</documentation>
                </annotation>
                <restriction base="cwf:metadataId">
				</restriction>
            </simpleType>
            <simpleType name="orderId">
                <annotation>
                    <documentation>Order ID</documentation>
                </annotation>
                <restriction base="cwf:docId">
				</restriction>
            </simpleType>
            <simpleType name="orderIdRef">
                <annotation>
                    <documentation>Order ID</documentation>
                </annotation>
                <restriction base="cwf:orderId">
				</restriction>
            </simpleType>
            <simpleType name="orderKind">
                <annotation>
                    <documentation>Kind of Order</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="1"/>
                    <enumeration value="1">
                        <annotation>
                            <documentation>Order</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation>
                            <documentation>Change Order</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="orderMetaId">
                <annotation>
                    <documentation>Numeric order type</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="orderPhase">
                <annotation>
                    <documentation>Order Phase</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="1"/>
                    <enumeration value="1">
                        <annotation>
                            <documentation>In Entry</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation>
                            <documentation>In Progress</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="3">
                        <annotation>
                            <documentation>Completed</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="orderValidationStatus">
                <annotation>
                    <documentation>Order Validation Status</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="1"/>
                    <enumeration value="I">
                        <annotation>
                            <documentation>Incomplete</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="V">
                        <annotation>
                            <documentation>Valid (No Messages)</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="E">
                        <annotation>
                            <documentation>System Problem</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="N">
                        <annotation>
                            <documentation>Informational/Warning Messages</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="X">
                        <annotation>
                            <documentation>In Error</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="orderVisualKey">
                <annotation>
                    <documentation>Order Visual Key</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="owner">
                <annotation>
                    <documentation>Owner</documentation>
                </annotation>
                <restriction base="cwf:userId">
				</restriction>
            </simpleType>
            <simpleType name="parentOrder">
                <annotation>
                    <documentation>Parent Order</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="participantOper">
                <annotation>
                    <documentation>Participant operation</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="priority">
                <annotation>
                    <documentation>Priority</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="2"/>
                    <minInclusive value="1"/>
                    <maxInclusive value="15"/>
                </restriction>
            </simpleType>
            <simpleType name="privilege">
                <annotation>
                    <documentation>Privilege</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="privilegeDescription">
                <annotation>
                    <documentation>privilegeDescription</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="80"/>
                </restriction>
            </simpleType>
            <simpleType name="procMetaId">
                <annotation>
                    <documentation>Numeric process type</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="processId">
                <annotation>
                    <documentation>Process ID</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="processIdRef">
                <annotation>
                    <documentation>Process ID</documentation>
                </annotation>
                <restriction base="cwf:processId">
				</restriction>
            </simpleType>
            <simpleType name="productCode">
                <annotation>
                    <documentation>Product Code</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="receiveCharset">
                <annotation>
                    <documentation>receiveCharset</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="refTableContent">
                <annotation>
                    <documentation>Reference Table Content</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="refTableName">
                <annotation>
                    <documentation>Reference Table Name</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="68"/>
                </restriction>
            </simpleType>
            <simpleType name="responseErrorCode">
                <annotation>
                    <documentation>Response - Error Code</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
            <simpleType name="responseMessage">
                <annotation>
                    <documentation>Response - Message</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="256"/>
                </restriction>
            </simpleType>
            <simpleType name="sReference">
                <annotation>
                    <documentation>Reference</documentation>
                </annotation>
                <restriction base="xsd:string">
				</restriction>
            </simpleType>
            <simpleType name="severity">
                <annotation>
                    <documentation>Severity</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="1"/>
                    <enumeration value="0">
                        <annotation>
                            <documentation>Debug</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="1">
                        <annotation>
                            <documentation>Information</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="2">
                        <annotation>
                            <documentation>Warning</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="3">
                        <annotation>
                            <documentation>Error</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="4">
                        <annotation>
                            <documentation>Fatal Error</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="state">
                <annotation>
                    <documentation>State</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="sysGuid">
                <annotation>
                    <documentation>System GUID</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="32"/>
                </restriction>
            </simpleType>
            <simpleType name="sysMDVersionNo">
                <annotation>
                    <documentation>System metadata version</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="sysStoredVisualKey">
                <annotation>
                    <documentation>System stored visual key</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <simpleType name="systemPrivileges">
                <annotation>
                    <documentation>System Privileges</documentation>
                </annotation>
                <restriction base="cwf:privilege">
                    <enumeration value="PMAdmin">
                        <annotation>
                            <documentation>Process Manager Administrator</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="UPAdmin">
                        <annotation>
                            <documentation>User Profile Administrator</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="LPAdmin">
                        <annotation>
                            <documentation>Local Profile Administrator</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="WLAdmin">
                        <annotation>
                            <documentation>Worklist Administrator</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="RTAdmin">
                        <annotation>
                            <documentation>Runtime Administrator</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="CWApi">
                        <annotation>
                            <documentation>ConceptWave API Access</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="PRPriority">
                        <annotation>
                            <documentation>Set Process Priority</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="Everyone">
                        <annotation>
                            <documentation>Everyone</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="WGSelect">
                        <annotation>
                            <documentation>Workgroup Select</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="WDelegate">
                        <annotation>
                            <documentation>Delegate Task</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="WTakeOn">
                        <annotation>
                            <documentation>Take on Task</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="WGManager">
                        <annotation>
                            <documentation>Group Manager</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="CWAdminApp">
                        <annotation>
                            <documentation>Administration App</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="WReturn">
                        <annotation>
                            <documentation>Return Task</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="WGAvailable">
                        <annotation>
                            <documentation>Get Available</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="AddFavorite">
                        <annotation>
                            <documentation>Add Shared Favorites</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="DelFavorite">
                        <annotation>
                            <documentation>Delete Shared Favorites</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="ModFavorite">
                        <annotation>
                            <documentation>Modify Shared Favorites</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="ShowError">
                        <annotation>
                            <documentation>Show Error Details</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="SuperSiteAdmin">
                        <annotation>
                            <documentation>Super Site Administrator</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType name="transactionId">
                <annotation>
                    <documentation>Transaction ID</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="16"/>
                </restriction>
            </simpleType>
            <simpleType name="translationId">
                <annotation>
                    <documentation>Translation ID</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="10"/>
                </restriction>
            </simpleType>
            <simpleType name="translationText">
                <annotation>
                    <documentation>Translation Text</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="1024"/>
                </restriction>
            </simpleType>
            <simpleType name="updatedBy">
                <annotation>
                    <documentation>System updated by</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="userData">
                <annotation>
                    <documentation>User Data</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="userId">
                <annotation>
                    <documentation>User ID </documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="64"/>
                </restriction>
            </simpleType>
            <simpleType name="userIdRef">
                <annotation>
                    <documentation>&lt;p style="margin-top: 0"&gt;
  DEPRECATED: used to support existing 5.x metadata (overriden by
  cwf_up.UserId). For version 6.0 and up use security.userIdRef.
&lt;/p&gt;</documentation>
                    <appinfo>
                        <label>User ID</label>
                    </appinfo>
                </annotation>
                <restriction base="cwf:userId">
				</restriction>
            </simpleType>
            <simpleType name="userProcMetaId">
                <annotation>
                    <documentation>Numeric user process type</documentation>
                </annotation>
                <restriction base="xsd:integer">
                    <totalDigits value="9"/>
                </restriction>
            </simpleType>
            <simpleType name="usersPerPriv">
                <annotation>
                    <documentation>Participant user</documentation>
                </annotation>
                <restriction base="cwf:userId">
				</restriction>
            </simpleType>
            <simpleType name="xslFo">
                <annotation>
                    <documentation>XslFo file</documentation>
                </annotation>
                <restriction base="xsd:string">
                    <maxLength value="128"/>
                </restriction>
            </simpleType>
            <!-- Structures -->
            <complexType name="cilEventPara">
                <annotation>
                    <documentation>cilEventPara</documentation>
                </annotation>
                <sequence>
                    <element name="operationType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="cilPath" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
                    <element name="uuid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="timestamp" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
                </sequence>
            </complexType>
            <complexType name="error">
                <annotation>
                    <documentation>Error</documentation>
                </annotation>
                <sequence>
                    <element name="code" minOccurs="0" maxOccurs="1" type="cwf:responseErrorCode"/>
                    <element name="message" minOccurs="0" maxOccurs="1" type="cwf:responseMessage"/>
                </sequence>
            </complexType>
            <complexType name="httpHeader">
                <annotation>
                    <documentation>httpHeader</documentation>
                </annotation>
                <sequence>
                    <element name="name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="value" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ldapAttribute">
                <annotation>
                    <documentation>LDAP Attribute</documentation>
                </annotation>
                <sequence>
                    <element name="attrName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="attrValue" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ldapDeleteRequest">
                <annotation>
                    <documentation>LDAP Delete Request</documentation>
                </annotation>
                <sequence>
                    <element name="contextName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ldapEntry">
                <annotation>
                    <documentation>LDAP Entry</documentation>
                </annotation>
                <sequence>
                    <element name="contextName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="ldapAttr" minOccurs="1" maxOccurs="unbounded" type="cwf:ldapAttribute"/>
                </sequence>
            </complexType>
            <complexType name="ldapEntryArray">
                <annotation>
                    <documentation>LDAP Entry Array</documentation>
                </annotation>
                <sequence>
                    <element name="ldapEntryItem" minOccurs="0" maxOccurs="unbounded" type="cwf:ldapEntry"/>
                </sequence>
            </complexType>
            <complexType name="ldapModificationItem">
                <annotation>
                    <documentation>LDAP Modification Item</documentation>
                </annotation>
                <sequence>
                    <element name="contextName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="modifyAttribute" minOccurs="1" maxOccurs="1" type="cwf:ldapModifyAttribute"/>
                    <element name="ldapAttr" minOccurs="1" maxOccurs="unbounded" type="cwf:ldapAttribute"/>
                </sequence>
            </complexType>
            <complexType name="ldapModificationItemArray">
                <annotation>
                    <documentation>LDAP Modification Item Array</documentation>
                </annotation>
                <sequence>
                    <element name="ldapModItem" minOccurs="1" maxOccurs="unbounded" type="cwf:ldapModificationItem"/>
                </sequence>
            </complexType>
            <complexType name="ldapModifyRdnRequest">
                <annotation>
                    <documentation>LDAP Modify RDN Request</documentation>
                </annotation>
                <sequence>
                    <element name="oldRdnName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="newRdnName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ldapSearchCriteria">
                <annotation>
                    <documentation>LDAP Search Criteria</documentation>
                </annotation>
                <sequence>
                    <element name="contextName" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="filterExpr" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    <element name="searchScope" minOccurs="0" maxOccurs="1" type="cwf:ldapSearchScope"/>
                    <element name="returnAttributeNames" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="msgLogData">
                <annotation>
                    <documentation>msgLogData</documentation>
                </annotation>
                <sequence>
                    <element name="msgId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="userData1" minOccurs="0" maxOccurs="1" type="cwf:userData"/>
                    <element name="userData2" minOccurs="0" maxOccurs="1" type="cwf:userData"/>
                    <element name="userData3" minOccurs="0" maxOccurs="1" type="cwf:userData"/>
                    <element name="msg" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="msgType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="soapHeaders" minOccurs="0" maxOccurs="unbounded" type="cwf:soapHeader"/>
                    <element name="conversionMap" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="callbackFunction" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="msgCorrelationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="location" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="user" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="password" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="returnErrorToCallback" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
                </sequence>
            </complexType>
            <complexType name="propertyMap">
                <annotation>
                    <documentation>propertyMap</documentation>
                </annotation>
                <sequence>
                    <element name="property" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>property</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                <element name="value" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
            <complexType name="soapHeader">
                <annotation>
                    <documentation>soapHeader</documentation>
                </annotation>
                <sequence>
                    <element name="headerData" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    <element name="headerType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>
            <!-- Documents -->
            <complexType name="actionAuditDoc">
                <annotation>
                    <documentation>actionAuditDoc</documentation>
                </annotation>
                <sequence>
                    <element name="userId" type="cwf:userId"/>
                    <element name="avmID" type="cwf:avmID"/>
                    <element name="cwAppName" type="cwf:cwAppName"/>
                    <element name="actionName" type="cwf:actionName"/>
                    <element name="time" type="cwf:dateTimeSec"/>
                    <element name="category" type="cwf:category"/>
                    <element name="context" type="cwf:notes4000"/>
                    <element name="cwDocId" type="cwf:cwDocId"/>
                    <element name="from" type="xsd:dateTime"/>
                    <element name="to" type="xsd:dateTime"/>
                </sequence>
            </complexType>
            <complexType name="actionLogDocument">
                <annotation>
                    <documentation>actionLogDocument</documentation>
                </annotation>
                <sequence>
                    <element name="userId" type="cwf:userId"/>
                    <element name="avmID" type="cwf:avmID"/>
                    <element name="appName" type="cwf:appName"/>
                    <element name="nodeId" type="cwf:NodeId"/>
                    <element name="actionName" type="cwf:actionName"/>
                    <element name="time" type="cwf:dateTimeSec"/>
                    <element name="category" type="cwf:String64"/>
                    <element name="context" type="cwf:notes4000"/>
                    <element name="cwDocId" type="cwf:cwDocId"/>
                    <element name="from" type="xsd:dateTime"/>
                    <element name="to" type="xsd:dateTime"/>
                </sequence>
            </complexType>
            <complexType name="archiveProcDoc">
                <annotation>
                    <documentation>Archive Process Doc</documentation>
                </annotation>
                <sequence>
                    <element name="id" type="cwf:docId"/>
                    <element name="date" type="xsd:date"/>
                    <element name="hasOrders" type="xsd:boolean"/>
                    <element name="hasData" type="xsd:boolean"/>
                    <element name="hasArchiveExtension" type="xsd:boolean"/>
                </sequence>
            </complexType>
            <complexType name="attachmentDoc">
                <annotation>
                    <documentation>Attachment</documentation>
                </annotation>
                <sequence>
                    <element name="docId" type="cwf:externalId"/>
                    <element name="docMetadataType" type="cwf:metadataIntId"/>
                    <element name="topOrderId" type="cwf:cwTopOrderId"/>
                    <element name="topOrderMetadataType" type="cwf:metadataIntId"/>
                    <element name="description" type="cwf:attachmentDescription"/>
                    <element name="fileSpec" type="cwf:cwOriginalFileSpec"/>
                    <element name="mimeType" type="cwf:cwMimeType"/>
                    <element name="notes4000" type="cwf:notes4000"/>
                    <element name="createdOn" type="cwf:cwCreated"/>
                    <element name="createdBy" type="cwf:cwCreatedBy"/>
                    <element name="notes" type="xsd:string"/>
                    <element name="newNotes" type="xsd:string"/>
                    <element name="cwDocId" type="cwf:cwDocId"/>
                    <element name="modifiedOn" type="cwf:dateTimeMin"/>
                    <element name="cwSiteId" type="cwf:cwSiteId"/>
                </sequence>
            </complexType>
            <complexType name="benchmarkCounterDoc">
                <annotation>
                    <documentation>benchmarkCounterDoc</documentation>
                </annotation>
                <sequence>
                    <element name="JMXDomainName" type="cwf:domainName"/>
                    <element name="JMXCounterName" type="cwf:counterName"/>
                    <element name="RecordTime" type="xsd:dateTime"/>
                    <element name="Counter" type="cwf:benchmarkValue"/>
                    <element name="AverageValue" type="cwf:benchmarkValue"/>
                    <element name="MaxValue" type="cwf:benchmarkValue"/>
                    <element name="MinValue" type="cwf:benchmarkValue"/>
                    <element name="cwAppName" type="cwf:cwAppName"/>
                    <element name="avmId" type="cwf:avmID"/>
                    <element name="NodeId" type="cwf:NodeId"/>
                </sequence>
            </complexType>
            <complexType name="blobAttachmentDoc">
                <annotation>
                    <documentation>blobAttachmentDoc</documentation>
                </annotation>
                <sequence>
                    <element name="cwDocId" type="cwf:docId"/>
                    <element name="cwSiteId" type="cwf:cwSiteId"/>
                </sequence>
            </complexType>
            <complexType name="dynamicDocumentDefinitionDoc">
                <annotation>
                    <documentation>Dynamic Document Definition</documentation>
                </annotation>
                <sequence>
                    <element name="name" type="cwf:String64"/>
                    <element name="content" type="cwf:dynDocContent"/>
                </sequence>
            </complexType>
            <complexType name="externalScript">
                <annotation>
                    <documentation>External Script</documentation>
                </annotation>
                <sequence>
                    <element name="name" type="cwf:externalScriptName"/>
                    <element name="searchType" type="cwf:externalScriptType"/>
                    <element name="isConstant" type="xsd:boolean"/>
                    <element name="validFrom" type="xsd:date"/>
                    <element name="validTo" type="xsd:date"/>
                    <element name="status" type="cwf:externalScriptStatus"/>
                    <element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
                    <element name="updatedBy" type="cwf:updatedBy"/>
                    <element name="script" type="xsd:string"/>
                    <element name="app_name" type="cwf:cwAppName"/>
                </sequence>
            </complexType>
            <complexType name="interfaceExpDoc">
                <annotation>
                    <documentation>Interface Exception Doc</documentation>
                </annotation>
                <sequence>
                    <element name="Boolean" type="xsd:boolean"/>
                    <element name="message" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="messageLog">
                <annotation>
                    <documentation>Message Log</documentation>
                </annotation>
                <sequence>
                    <element name="messageID" type="cwf:messageID"/>
                    <element name="avm" type="cwf:avmID"/>
                    <element name="interType" type="cwf:metaInterfacesId"/>
                    <element name="operation" type="cwf:operation"/>
                    <element name="userId" type="cwf:userId"/>
                    <element name="creationTime" type="cwf:cwTimestamp"/>
                    <element name="sendTime" type="xsd:dateTime"/>
                    <element name="receiveTime" type="xsd:dateTime"/>
                    <element name="sendData" type="xsd:string"/>
                    <element name="receiveData" type="xsd:string"/>
                    <element name="userData1" type="cwf:userData"/>
                    <element name="userData2" type="cwf:userData"/>
                    <element name="userData3" type="cwf:userData"/>
                    <element name="receiveCharset" type="cwf:receiveCharset"/>
                    <element name="sendMsgProps" type="xsd:string"/>
                    <element name="receiveMsgProps" type="xsd:string"/>
                    <element name="sendMsgPriority" type="cwf:msgPriority"/>
                    <element name="receiveMsgPriority" type="cwf:msgPriority"/>
                    <element name="sendMsgSequenceId" type="cwf:msgSequenceId"/>
                    <element name="receiveMsgSequenceId" type="cwf:msgSequenceId"/>
                    <element name="sendMsgRetryCount" type="cwf:msgRetryCount"/>
                    <element name="receiveMsgRetryCount" type="cwf:msgRetryCount"/>
                    <element name="sendMsgCorrelationId" type="cwf:msgCorrelationId"/>
                    <element name="receiveMsgCorrelationId" type="cwf:msgCorrelationId"/>
                    <element name="cwAppName" type="cwf:cwAppName"/>
                    <element name="customerId" type="cwf:ID"/>
                    <element name="activityIndex" type="cwf:ID"/>
                    <element name="transactionId" type="cwf:transactionId"/>
                    <element name="processId" type="cwf:processId"/>
                    <element name="orderId" type="cwf:orderId"/>
                    <element name="accountId" type="cwf:ID"/>
                    <element name="attemptCount" type="xsd:integer"/>
                    <element name="failure" type="xsd:boolean"/>
                    <element name="cwSiteId" type="cwf:cwSiteId"/>
                </sequence>
            </complexType>
            <complexType name="milestoneDoc">
                <annotation>
                    <documentation>Milestone</documentation>
                </annotation>
                <sequence>
                    <element name="PROCESS_ID" type="cwf:processId"/>
                    <element name="CODE" type="cwf:allMilestones"/>
                    <element name="START_TIME" type="cwf:dateTimeMin"/>
                    <element name="END_TIME" type="cwf:dateTimeMin"/>
                    <element name="PARTICIPANT_ID" type="cwf:metaParticipants"/>
                    <element name="PARTICIPANT_TYPE" type="cwf:metadataIntId"/>
                    <element name="EXP_DUE_DATE" type="cwf:dateTimeMin"/>
                    <element name="ORDER_ID" type="cwf:orderId"/>
                    <element name="DUE_DATE" type="cwf:dateTimeMin"/>
                    <element name="actIndex" type="cwf:actIndex"/>
                    <element name="lastCode" type="xsd:boolean"/>
                    <element name="Duration" type="cwf:duration"/>
                    <element name="processDuration" type="cwf:duration"/>
                    <element name="cwSiteId" type="cwf:cwSiteId"/>
                </sequence>
            </complexType>
            <complexType name="orderInstance">
                <annotation>
                    <documentation>Order Instance</documentation>
                </annotation>
                <sequence>
                    <element name="cwDocId" type="cwf:cwDocId"/>
                    <element name="createdBy" type="cwf:cwCreatedBy"/>
                    <element name="creationDate" type="cwf:cwCreated"/>
                    <element name="updatedBy" type="cwf:updatedBy"/>
                    <element name="updateDate" type="cwf:lastUpdatedDate"/>
                    <element name="state" type="cwf:allStates"/>
                    <element name="metadataType" type="cwf:metadataIntId"/>
                    <element name="status" type="cwf:orderValidationStatus"/>
                    <element name="visualKey" type="cwf:orderVisualKey"/>
                    <element name="productCode" type="cwf:productCode"/>
                    <element name="parentOrder" type="cwf:parentOrder"/>
                    <element name="owner" type="cwf:owner"/>
                    <element name="state2" type="cwf:state"/>
                    <element name="HasAttachment" type="cwf:hasAttachment"/>
                    <element name="metadataVer" type="cwf:sysMDVersionNo"/>
                    <element name="originalOrderId" type="cwf:orderIdRef"/>
                    <element name="sourceOrderId" type="cwf:orderIdRef"/>
                    <element name="kindOfOrder" type="cwf:orderKind"/>
                    <element name="orderPhase" type="cwf:orderPhase"/>
                    <element name="projectId" type="cwf:docId"/>
                    <element name="processId" type="cwf:processId"/>
                    <element name="duedate" type="cwf:dueDate"/>
                    <element name="cwDocStamp" type="cwf:cwDocStamp"/>
                    <element name="cwOrderSync" type="cwf:cwOrderStamp"/>
                    <element name="cwAppName" type="cwf:cwAppName"/>
                    <element name="cwSiteId" type="cwf:cwSiteId"/>
                </sequence>
            </complexType>
            <complexType name="processExcpDoc">
                <annotation>
                    <documentation>Process Exception Doc</documentation>
                </annotation>
                <sequence>
                    <element name="senderID" type="cwf:processId"/>
                </sequence>
            </complexType>
            <complexType name="referenceTableDoc">
                <annotation>
                    <documentation>Reference Table Doc</documentation>
                </annotation>
                <sequence>
                    <element name="name" type="cwf:refTableName"/>
                    <element name="content" type="cwf:refTableContent"/>
                    <element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
                </sequence>
            </complexType>
            <complexType name="translation">
                <annotation>
                    <documentation>Translation</documentation>
                </annotation>
                <sequence>
                    <element name="id" type="cwf:translationId"/>
                    <element name="language" type="cwf:languages"/>
                    <element name="translationText" type="cwf:translationText"/>
                    <element name="lastUpdatedDate" type="xsd:dateTime"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="updateItemRequest">
        <part name="updateItemRequest" element="EOM.catalog.updateCFSS:updateItemRequest"/>
    </message>
    <message name="updateItemResponse">
        <part name="updateItemResponse" element="EOM.catalog.updateCFSS:updateItemResponse"/>
    </message>
    <portType name="updateECMItemInterface">
        <operation name="updateECMItemOp">
            <input message="tns:updateItemRequest"/>
            <output message="tns:updateItemResponse"/>
        </operation>
    </portType>
    <binding name="updateECMItemBinding" type="tns:updateECMItemInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="updateECMItemOp">
            <soap:operation soapAction="updateECMItemOp"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="updateECMItem">
        <port name="updateECMItemPort" binding="tns:updateECMItemBinding">
            <soap:address location="http://localhost:8081/cwf/services/updateECMItemInterface"/>
        </port>
    </service>
</definitions>