src/CommonProject/BusinessWSDLS/Services/WSDLS/AuthorizeCredit/AuthorizeCreditInbound.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Abdulaziz Alfoudari (Zain) -->
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/AuthorizeCredit" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/AuthorizeCredit/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/AuthorizeCredit">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="RequestHeader">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="conversationID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:typ="http://www.zain.com/ZESB/Services/AuthorizeCredit/Types" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/AuthorizeCredit/Types">
            <xs:simpleType name="NonEmptyString">
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="CardInfo">
                <xs:sequence>
                    <xs:element name="CardNumber" type="xs:string"/>
                    <xs:element name="ExpiryDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="CVV" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AuthorizationInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MerchantId" type="xs:string"/>
                        <xs:element name="AccessCode" type="xs:string"/>
                        <xs:element name="Amount" type="xs:decimal"/>
                        <xs:element minOccurs="0" name="TransactionReference" type="xs:string"/>
                        <xs:element name="CardDetails" type="typ:CardInfo"/>
                        <xs:element minOccurs="0" name="OrderInfo" type="xs:string"/>
                        <xs:element minOccurs="0" name="TicketNo" type="xs:string"/>
                        <xs:element minOccurs="0" name="SecureECI" type="xs:string"/>
                        <xs:element minOccurs="0" name="SecureTransID" type="xs:string"/>
                        <xs:element minOccurs="0" name="SecureToken" type="xs:string"/>
                        <xs:element minOccurs="0" name="SecureCardEnrolled" type="xs:string"/>
                        <xs:element minOccurs="0" name="SecureAuthStatus" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AuthorizationOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MerchantId" type="xs:string"/>
                        <xs:element minOccurs="0" name="Amount" type="xs:decimal"/>
                        <xs:element minOccurs="0" name="TransactionReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="ShoppingTransactionReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                        <xs:element minOccurs="0" name="OrderInfo" type="xs:string"/>
                        <xs:element minOccurs="0" name="AuthorizationStatus" type="xs:string"/>
                        <xs:element minOccurs="0" name="ReceiptNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="AuthorizationID" type="xs:string"/>
                        <xs:element minOccurs="0" name="AcquirerResponseCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="SettlmentDate" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AuthorizationQueryInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MerchantId" type="typ:NonEmptyString"/>
                        <xs:element name="AccessCode" type="typ:NonEmptyString"/>
                        <xs:element name="TransactionReference" type="typ:NonEmptyString"/>
                        <xs:element name="User" type="typ:NonEmptyString"/>
                        <xs:element name="Password" type="typ:NonEmptyString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AuthorizationQueryOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AuthorizationStatus" type="xs:string"/>
                        <xs:element name="Message" type="xs:string"/>
                        <xs:element minOccurs="0" name="MerchantId" type="xs:string"/>
                        <xs:element minOccurs="0" name="TransactionReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="Amount" type="xs:decimal"/>
                        <xs:element minOccurs="0" name="ReceiptNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="AuthorizationID" type="xs:string"/>
                        <xs:element minOccurs="0" name="ShoppingTransactionReference" type="xs:string"/>
                        <xs:element minOccurs="0" name="AcquirerResponseCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="SettlementDate" type="xs:date"/>
                        <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                        <xs:element minOccurs="0" name="OrderInfo" type="xs:string"/>
                        <xs:element minOccurs="0" name="TransactionExists" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="MultipleTransactions" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AuthorizeCreditRequest">
        <wsdl:part element="typ:AuthorizationInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="AuthorizeCreditResponse">
        <wsdl:part element="typ:AuthorizationOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="requestMessageHeader">
        <wsdl:part element="com:RequestHeader" name="header"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="AuthorizationQueryRequest">
        <wsdl:part element="typ:AuthorizationQueryInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="AuthorizationQueryResponse">
        <wsdl:part element="typ:AuthorizationQueryOutput" name="response"/>
    </wsdl:message>
    <wsdl:portType name="AuthorizeCreditPort">
        <wsdl:operation name="AuthorizeCredit">
            <wsdl:input message="tns:AuthorizeCreditRequest"/>
            <wsdl:output message="tns:AuthorizeCreditResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="AuthorizationQuery">
            <wsdl:input message="tns:AuthorizationQueryRequest"/>
            <wsdl:output message="tns:AuthorizationQueryResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthorizeCreditBinding" type="tns:AuthorizeCreditPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AuthorizeCredit">
            <soap:operation soapAction="AuthorizeCredit"/>
            <wsdl:input>
                <soap:header message="tns:requestMessageHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AuthorizationQuery">
            <soap:operation soapAction="AuthorizationQuery"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthorizeCredit">
        <wsdl:port binding="tns:AuthorizeCreditBinding" name="AuthorizeCreditPort">
            <soap:address location="http://soadev1.kw.zain.com:8044/ZESB/AuthorizeCredit"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>