src/CommonProject/BusinessWSDLS/Services/WSDLS/AuthorizeCredit/MasterCardWS_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<xs:schema xmlns:tns="http://mastercard.zain.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mastercard.zain.com/">

	<xs:element name="GetCreditCardType" type="tns:GetCreditCardType" />

	<xs:element name="GetCreditCardTypeResponse" type="tns:GetCreditCardTypeResponse" />

	<xs:element name="paymentQuery" type="tns:paymentQuery" />

	<xs:element name="paymentQueryResponse" type="tns:paymentQueryResponse" />

	<xs:element name="paymentResponse" type="tns:paymentResponse" />

	<xs:element name="queryDRResponse" type="tns:queryDRResponse" />

	<xs:element name="secondPartyPayment" type="tns:secondPartyPayment" />

	<xs:element name="secondPartyPaymentResponse" type="tns:secondPartyPaymentResponse" />

	<xs:complexType name="secondPartyPayment">
		<xs:sequence>
			<xs:element name="Merchant" type="xs:string" minOccurs="0" />
			<xs:element name="AccessCode" type="xs:string" minOccurs="0" />
			<xs:element name="Amount" type="xs:float" />
			<xs:element name="MerchTxnRef" type="xs:string" minOccurs="0" />
			<xs:element name="CardNum" type="xs:string" minOccurs="0" />
			<xs:element name="CardExp" type="xs:string" minOccurs="0" />
			<xs:element name="CSC" type="xs:string" minOccurs="0" />
			<xs:element name="OrderInfo" type="xs:string" minOccurs="0" />
			<xs:element name="TicketNo" type="xs:string" minOccurs="0" />
			<xs:element name="SecureECI" type="xs:string" minOccurs="0" />
			<xs:element name="SecureXID" type="xs:string" minOccurs="0" />
			<xs:element name="SecureVerToken" type="xs:string" minOccurs="0" />
			<xs:element name="SecureVerType" type="xs:string" minOccurs="0" />
			<xs:element name="SecureCardEnrolled" type="xs:string" minOccurs="0" />
			<xs:element name="SecureAuthStatus" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="secondPartyPaymentResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:paymentResponse" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentResponse">
		<xs:sequence>
			<xs:element name="ResponseCode" type="xs:string" minOccurs="0" />
			<xs:element name="Message" type="xs:string" minOccurs="0" />
			<xs:element name="MerchantID" type="xs:string" minOccurs="0" />
			<xs:element name="MerchTxnRef" type="xs:string" minOccurs="0" />
			<xs:element name="Amount" type="xs:float" />
			<xs:element name="ReceiptNo" type="xs:string" minOccurs="0" />
			<xs:element name="AuthorizeID" type="xs:string" minOccurs="0" />
			<xs:element name="TransactionNo" type="xs:string" minOccurs="0" />
			<xs:element name="AcqResponseCode" type="xs:string" minOccurs="0" />
			<xs:element name="BatchNo" type="xs:string" minOccurs="0" />
			<xs:element name="CardType" type="xs:string" minOccurs="0" />
			<xs:element name="OrderInfo" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GetCreditCardType">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GetCreditCardTypeResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentQuery">
		<xs:sequence>
			<xs:element name="Merchant" type="xs:string" minOccurs="0" />
			<xs:element name="AccessCode" type="xs:string" minOccurs="0" />
			<xs:element name="MerchTxnRef" type="xs:string" minOccurs="0" />
			<xs:element name="User" type="xs:string" minOccurs="0" />
			<xs:element name="Password" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentQueryResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:queryDRResponse" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryDRResponse">
		<xs:sequence>
			<xs:element name="ResponseCode" type="xs:string" minOccurs="0" />
			<xs:element name="Message" type="xs:string" minOccurs="0" />
			<xs:element name="MerchantID" type="xs:string" minOccurs="0" />
			<xs:element name="MerchTxnRef" type="xs:string" minOccurs="0" />
			<xs:element name="Amount" type="xs:string" minOccurs="0" />
			<xs:element name="ReceiptNo" type="xs:string" minOccurs="0" />
			<xs:element name="AuthorizeID" type="xs:string" minOccurs="0" />
			<xs:element name="TransactionNo" type="xs:string" minOccurs="0" />
			<xs:element name="AcqResponseCode" type="xs:string" minOccurs="0" />
			<xs:element name="BatchNo" type="xs:string" minOccurs="0" />
			<xs:element name="CardType" type="xs:string" minOccurs="0" />
			<xs:element name="OrderInfo" type="xs:string" minOccurs="0" />
			<xs:element name="DRExists" type="xs:string" minOccurs="0" />
			<xs:element name="FoundMultipleDRs" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
