src/CommonProject/BusinessSchemas/Services/Query/StorageMediumDetailsRead/StorageMediumDetailsRead.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/StorageMediumDetailsRead.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/StorageMediumDetailsRead.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="StorageMediumDetailsReadInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="smserialno" minOccurs="0"/>
				<xs:element ref="startrange" minOccurs="0"/>
				<xs:element ref="endrange" minOccurs="0"/>
				<xs:element ref="quantity" minOccurs="0"/>
				<xs:element ref="dealeridpub" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StorageMediumDetailsReadOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="smserialno" type="xs:string">
		<xs:annotation>
			<xs:documentation>Sim Serial Number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="startrange" type="xs:string">
		<xs:annotation>
			<xs:documentation>Sim Serial Start Range</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="endrange" type="xs:string">
		<xs:annotation>
			<xs:documentation>Sim Serial End Range</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="quantity" type="xs:string">
		<xs:annotation>
			<xs:documentation>Quantiy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="simId" minOccurs="0"/>
				<xs:element ref="pin1" minOccurs="0"/>
				<xs:element ref="puk1" minOccurs="0"/>
				<xs:element ref="pin2" minOccurs="0"/>
				<xs:element ref="puk2" minOccurs="0"/>
				<xs:element ref="simType" minOccurs="0"/>
				<xs:element ref="simSerialnum" minOccurs="0"/>
				<xs:element ref="ki" minOccurs="0"/>
				<xs:element ref="imsi" minOccurs="0"/>
				<xs:element ref="transportKey" minOccurs="0"/>
				<xs:element ref="status" minOccurs="0"/>
				<xs:element ref="hlcodepub" minOccurs="0"/>
				<xs:element ref="vendorCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="simId" type="xs:long">
		<xs:annotation>
			<xs:documentation>Sim Serial Number Id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pin1" type="xs:string">
		<xs:annotation>
			<xs:documentation>Personal Identification Number for storage medium</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="puk1" type="xs:string">
		<xs:annotation>
			<xs:documentation>Personal Unblocking Number for storage medium</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pin2" type="xs:string">
		<xs:annotation>
			<xs:documentation>Second Personal Identification Number for storage medium</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="puk2" type="xs:string">
		<xs:annotation>
			<xs:documentation>Second Personal Unblocking Number for storage medium</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="simType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Description of the Storage Medium type</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="simSerialnum" type="xs:string">
		<xs:annotation>
			<xs:documentation>Sim Serial number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ki" type="xs:string">
		<xs:annotation>
			<xs:documentation>Authentication Key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="imsi" type="xs:string">
		<xs:annotation>
			<xs:documentation>Port Number or IMSI</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="transportKey" type="xs:string">
		<xs:annotation>
			<xs:documentation>Port transport key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="status" type="xs:string">
		<xs:annotation>
			<xs:documentation>Storage medium Status</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dealeridpub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Dealer Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="hlcodepub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Public Key of HLCODE</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="vendorCode" type="xs:string"/>
</xs:schema>