src/CommonProject/BusinessWSDLS/Services/BSCS/ContractInfoWrite/ws_CMI_5_ContractInfoWriteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/contractinfowrite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/contractinfowrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/contractinfowrite">
			<xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
			<xs:element name="contractInfoWriteRequest" type="wsi:contractInfoWriteRequest"/>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Identifies a contract with the public or private key.</p><p>Mandatory if no other contract-related command containing this information has been executed before.</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="text01" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text02" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text03" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text04" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text05" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text06" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text07" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text08" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text09" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text10" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text11" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text12" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text13" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text14" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text15" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text16" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text17" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text18" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text19" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text20" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text21" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text22" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text23" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text24" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text25" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text26" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text27" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text28" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text29" nillable="true"  type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="text30" nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the text value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check01" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check02" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check03" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check04" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check05" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check06" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check07" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check08" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check09" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check10" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check11" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check12" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check13" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check14" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check15" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check16" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check17" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check18" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check19" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="check20" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the check value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo01" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo02" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo03" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo04" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo05" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo06" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo07" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo08" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo09" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo10" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo11" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo12" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo13" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo14" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo15" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo16" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo17" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo18" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo19" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="combo20" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identifies the combo value</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract Id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the contract</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="contractInfoWriteRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="contractInfoWriteRequest">
		<wsdl:part element="sch3:contractInfoWriteRequest" name="contractInfoWriteRequest"/>
	</wsdl:message>
	<wsdl:portType name="ContractInfoWriteService">
		<wsdl:operation name="contractInfoWrite">
			<wsdl:input message="tns:contractInfoWriteRequest" name="contractInfoWriteRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ContractInfoWriteServiceSoap11" type="tns:ContractInfoWriteService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="contractInfoWrite">
			<soap:operation soapAction="contractInfoWrite"/>
			<wsdl:input name="contractInfoWriteRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ContractInfoWriteService">
		<wsdl:port binding="tns:ContractInfoWriteServiceSoap11" name="ContractInfoWriteServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services/ws_CMI_5_ContractInfoWriteService.wsdl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>