src/CommonProject/BusinessSchemas/Services/Provisioning/Autopay/AutopayTransactionResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/AutopayTransactionResponse.xsd"
	 xmlns:fin="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/AutopayTransactionResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:element name="AutopayTransactionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BusinessMessageHeader" type="bs:Header" minOccurs="0"/>
				<xs:element name="TransactionRefNo" type="xs:string" minOccurs="0"/>
				<xs:element ref="bs:Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>