src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/ContractInfoWrite/ContractInfoWrite.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ContractInfoWrite.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ContractInfoWrite.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ContractInfoWriteInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="Input" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractInfoWriteOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseMessage" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM correlation ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Siebel Order Id</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorResponse" type="error"/>
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Input">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="text01" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text02" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text03" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text04" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text05" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text06" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text07" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text08" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text09" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text10" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text11" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text12" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text13" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text14" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text15" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text16" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text17" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text18" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text19" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					 identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text20" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text21" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text22" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text23" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text24" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text25" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text26" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text27" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text28" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text29" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="text30" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the text value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check01" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check02" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check03" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check04" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check05" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check06" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check07" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check08" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check09" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check10" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check11" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check12" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check13" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check14" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check15" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check16" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check17" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check18" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check19" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="check20" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the check value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo01" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo02" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo03" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo04" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo05" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo06" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo07" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo08" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo09" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo10" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo11" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo12" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo13" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo14" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo15" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo16" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo17" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo18" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo19" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="combo20" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					identifies the combo value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ContractIdPublic" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
					Public key of the contract</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseMessage" type="xs:string"/>
</xs:schema>