src/CommonProject/BusinessSchemas/Services/Applications/ERP/QueryBySerialNo/QueryBySerialNoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="QueryBySerialNoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="itemCode" type="xs:string"/>
				<xs:element name="serialNumber" type="xs:string"/>
				<xs:element name="orgCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>