src/CommonProject/BusinessSchemas/Services/Query/GetCallHistory/GetCallHistoryInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com//BusinessSchemas/Services/Query/GetCallHistoryInput.xsd"
	 targetNamespace="http://www.tibco.com//BusinessSchemas/Services/Query/GetCallHistoryInput.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GetCallHistoryInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContractId" type="xs:string" minOccurs="0"/>
				<xs:element name="Subno" type="xs:string" minOccurs="0"/>
				<xs:element name="From" type="xs:string" minOccurs="0"/>
				<xs:element name="To" type="xs:string" minOccurs="0"/>
				<xs:element name="Filter" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Type" type="xs:string" minOccurs="0"/>
							<xs:element name="Value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PageLimit" type="xs:string" minOccurs="0"/>
				<xs:element name="PageNo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>