src/CommonProject/BusinessSchemas/Services/Query/GetCallHistory/GetCallHistoryOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com//BusinessSchemas/Services/Query/GetCallHistoryoutput.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 targetNamespace="http://www.tibco.com//BusinessSchemas/Services/Query/GetCallHistoryoutput.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/canonicaldatamodel" schemaLocation="../../../../CDM/CDM.xsd"/>
	<xs:element name="GetCallHistoryOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="Records" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Aparty" type="xs:string" minOccurs="0"/>
										<xs:element name="BParty" type="xs:string" minOccurs="0"/>
										<xs:element name="Duration" type="xs:string" minOccurs="0"/>
										<xs:element name="DateTime" type="xs:string" minOccurs="0"/>
										<xs:element name="Amount" type="xs:string" minOccurs="0"/>
										<xs:element name="Category" type="xs:string" minOccurs="0"/>
										<xs:element name="Type" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>