src/CommonProject/BusinessWSDLS/Services/WSDLS/AccountManager/AccountManagerInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/AccountManager" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/AccountManager/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/AccountManager">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/AccountManager/Types">
            <xs:simpleType name="AccountManagerType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="KAM"/>
                    <xs:enumeration value="SAM"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="AccountManagerInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContractId" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="Type" type="typ:AccountManagerType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AccountManagerOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Alias" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="FullName" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="StartDate" type="xs:date"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="Email" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="MobileNo" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="PhoneNo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateAccountManagerInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContractId" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Type" type="typ:AccountManagerType"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Alias" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateAccountManagerOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestVisitInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContractId" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="Type" type="typ:AccountManagerType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestVisitOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Status" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetAccountManagerRequest">
        <wsdl:part element="typ:AccountManagerInput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetAccountManagerResponse">
        <wsdl:part element="typ:AccountManagerOutput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="RequestVisitRequest">
        <wsdl:part element="typ:RequestVisitInput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="RequestVisitResponse">
        <wsdl:part element="typ:RequestVisitOutput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateAccountManagerRequest">
        <wsdl:part element="typ:UpdateAccountManagerInput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateAccountManagerResponse">
        <wsdl:part element="typ:UpdateAccountManagerOutput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="AccountManagerPort">
        <wsdl:operation name="GetAccountManager">
            <wsdl:input message="tns:GetAccountManagerRequest"/>
            <wsdl:output message="tns:GetAccountManagerResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="RequestVisit">
            <wsdl:input message="tns:RequestVisitRequest"/>
            <wsdl:output message="tns:RequestVisitResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateAccountManager">
            <wsdl:input message="tns:UpdateAccountManagerRequest"/>
            <wsdl:output message="tns:UpdateAccountManagerResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountManagerBinding" type="tns:AccountManagerPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAccountManager">
            <soap:operation soapAction="GetAccountManager" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RequestVisit">
            <soap:operation soapAction="RequestVisit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateAccountManager">
            <soap:operation soapAction="UpdateAccountManager" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountManager">
        <wsdl:port binding="tns:AccountManagerBinding" name="AccountManagerPort">
            <soap:address location="/ZESB/AccountManager"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>