src/CommonProject/BusinessSchemas/Services/Applications/CRM/Query/GetOfferExpiry/GetOfferExpiryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/Query/GetOfferExpiryRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/Query/GetOfferExpiryRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="GetOfferExpiryReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Msisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="Operation" type="xs:string" minOccurs="0"/>
				<xs:element name="PrePost_Paid" type="xs:string" minOccurs="0"/>
				<xs:element name="CFSSID" type="xs:string" minOccurs="0"/>
				<xs:element name="ProductId" type="xs:string" minOccurs="0"/>
				<xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>