src/CommonProject/BusinessSchemas/Services/Applications/CRM/Query/QueryInstallment/QueryInstallment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/QueryInstallments.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/QueryInstallments.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryInstallmentInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CRMCustomerID" type="xs:string"/>
				<xs:element name="ContractCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryInstallmentOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BSCSCustomerID" minOccurs="0"/>
				<xs:element ref="BSCSContractID" minOccurs="0"/>
				<xs:element ref="items" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BSCSCustomerID" type="xs:string"/>
	<xs:element name="BSCSContractID" type="xs:string"/>
	<xs:element name="Remark" type="xs:string"/>
	<xs:element name="CRMOrderID" type="xs:string"/>
	<xs:element name="ValidFrom" type="xs:string"/>
	<xs:element name="Period" type="xs:string"/>
	<xs:element name="RemainingPeriod" type="xs:string"/>
	<xs:element name="GrossAmount" type="xs:string"/>
	<xs:element name="ServiceDescription" type="xs:string"/>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Remark" minOccurs="0"/>
				<xs:element ref="CRMOrderID" minOccurs="0"/>
				<xs:element ref="ValidFrom" minOccurs="0"/>
				<xs:element ref="Period" minOccurs="0"/>
				<xs:element ref="RemainingPeriod" minOccurs="0"/>
				<xs:element ref="GrossAmount" minOccurs="0"/>
				<xs:element ref="ServiceDescription" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
</xs:schema>