src/ESI_BSCS/BusinessProcesses/Services/Query/GetRoamingUsageInfo/Schema/GetRoamingUsageOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="SERVICE_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="SERVICE_NAME" type="xs:string" minOccurs="0"/>
				<xs:element name="PARTNER_USAGE" type="xs:string" minOccurs="0"/>
				<xs:element name="PARTNER_QUOTA" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHER_USAGE" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHER_QUOTA" type="xs:string" minOccurs="0"/>
				<xs:element name="PARTNER_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="OTHER_AMOUNT" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATUS" type="xs:string"/>
	<xs:element name="A_PARTY" type="xs:string"/>
	<xs:element name="B_PARTY" type="xs:string"/>
	<xs:element name="START_TIME" type="xs:string"/>
	<xs:element name="CALL_COST" type="xs:float"/>
	<xs:element name="DURATION" type="xs:string"/>
	<xs:element name="CALL_CATEGORY" type="xs:string"/>
</xs:schema>