src/CommonProject/BusinessWSDLS/Services/WSDLS/PrepaidChargeRefund/PrepiadTransactionsCharge_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/Charge" xmlns:ns0="http://www.zain.com/ZESB/Services/Charge/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Charge" targetNamespace="http://www.zain.com/ZESB/Services/Charge">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/Charge/Types"/>
            <xs:complexType name="Param">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Param" type="ns1:Param"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/Charge/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:element name="chargeAmountInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionId" type="xs:string"/>
                        <xs:element minOccurs="0" name="Role" type="xs:string"/>
                        <xs:element minOccurs="0" name="UserId" type="xs:string"/>
                        <xs:element minOccurs="0" name="FrontendId" type="xs:string"/>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountId" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountType" type="xs:string"/>
                        <xs:element minOccurs="0" name="MerchantId" type="xs:string"/>
                        <xs:element name="Amount" type="xs:decimal"/>
                        <xs:element name="ProductId" type="xs:string"/>
                        <xs:element name="Purpose" type="xs:string"/>
                        <xs:element minOccurs="0" name="Params" type="ns1:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="chargeAmountOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ExecutionStatus" type="xs:short"/>
                        <xs:element minOccurs="0" name="Params" type="ns1:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refundAmountInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionId" type="xs:string"/>
                        <xs:element minOccurs="0" name="Role" type="xs:string"/>
                        <xs:element minOccurs="0" name="UserId" type="xs:string"/>
                        <xs:element minOccurs="0" name="FrontendId" type="xs:string"/>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountId" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountType" type="xs:string"/>
                        <xs:element minOccurs="0" name="MerchantId" type="xs:string"/>
                        <xs:element name="Amount" type="xs:decimal"/>
                        <xs:element name="RefundCause" type="xs:int"/>
                        <xs:element name="ProductId" type="xs:string"/>
                        <xs:element name="Purpose" type="xs:string"/>
                        <xs:element minOccurs="0" name="Params" type="ns1:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refundAmountOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ExecutionStatus" type="xs:short"/>
                        <xs:element minOccurs="0" name="Params" type="ns1:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="chargeAmountRequest">
        <wsdl:part element="ns0:chargeAmountInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="chargeAmountResponse">
        <wsdl:part element="ns0:chargeAmountOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="refundAmountRequest">
        <wsdl:part element="ns0:refundAmountInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="refundAmountResponse">
        <wsdl:part element="ns0:refundAmountOutput" name="response"/>
    </wsdl:message>
    <wsdl:portType name="ChargePort">
        <wsdl:operation name="chargeAmount">
            <wsdl:input message="tns:chargeAmountRequest"/>
            <wsdl:output message="tns:chargeAmountResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="refundAmount">
            <wsdl:input message="tns:refundAmountRequest"/>
            <wsdl:output message="tns:refundAmountResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ChargePort" type="tns:ChargePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="chargeAmount">
            <wsdl:documentation/>
            <soap:operation soapAction="chargeAmount" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="refundAmount">
            <wsdl:documentation/>
            <soap:operation soapAction="refundAmount" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Charge">
        <wsdl:port binding="tns:ChargePort" name="ChargePort">
            <soap:address location="http://10.96.11.37:7071/ESB/SOAP/PrepaidCharge"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>