src/CommonProject/BusinessWSDLS/Services/BSCS/AverageInvoiceDetails/InvoiceAvgDetailsReadService_wsl_CIL_5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/invoiceavgdetailsread" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;New value for a named value.&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;
						
						&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/invoiceavgdetailsread" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/invoiceavgdetailsread">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="invoiceAvgDetailsReadRequest" type="wsi:invoiceAvgDetailsReadRequest"/>
            <xs:element name="invoiceAvgDetailsReadResponse" type="wsi:invoiceAvgDetailsReadResponse"/>
            <xs:complexType name="invoiceAvgDetailsReadResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="invavg" type="xs:double">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Invoice Avg of 6 Months&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element name="custnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Customer Name&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="date" type="xs:date">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Date Range&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="invoiceAvgDetailsReadRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="invoiceAvgDetailsReadRequest">
        <wsdl:part element="sch3:invoiceAvgDetailsReadRequest" name="invoiceAvgDetailsReadRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="invoiceAvgDetailsReadResponse">
        <wsdl:part element="sch3:invoiceAvgDetailsReadResponse" name="invoiceAvgDetailsReadResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="InvoiceAvgDetailsReadService">
        <wsdl:operation name="invoiceAvgDetailsRead">
            <wsdl:input message="tns:invoiceAvgDetailsReadRequest" name="invoiceAvgDetailsReadRequest">
    </wsdl:input>
            <wsdl:output message="tns:invoiceAvgDetailsReadResponse" name="invoiceAvgDetailsReadResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InvoiceAvgDetailsReadServiceSoap11" type="tns:InvoiceAvgDetailsReadService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="invoiceAvgDetailsRead">
            <soap:operation soapAction=""/>
            <wsdl:input name="invoiceAvgDetailsReadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="invoiceAvgDetailsReadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InvoiceAvgDetailsReadService">
        <wsdl:port binding="tns:InvoiceAvgDetailsReadServiceSoap11" name="InvoiceAvgDetailsReadServiceSoap11">
            <soap:address location="http://10.96.103.211:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>