src/BPI_CustMgmt/BusinessProcesses/Services/Common/ServiceEligibility/ServiceEligibilityInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by AppsPortables.com (AppsPortables.com) -->
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/ServiceEligibility" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typ="http://www.zain.com/ZESB/Services/ServiceEligibility/Types" targetNamespace="http://www.zain.com/ZESB/Services/ServiceEligibility">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/ServiceEligibility/Types" targetNamespace="http://www.zain.com/ZESB/Services/ServiceEligibility/Types" elementFormDefault="qualified">
            <xs:simpleType name="ActionType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Add"/>
                    <xs:enumeration value="Remove"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="QueryRequestInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element name="Action" type="typ:ActionType">
                            <xs:annotation>
                                <xs:documentation>The eligibility for adding or removing service</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>The services category which needed to be displayed</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element name="Status" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>subscriber status will determine if the eligibility list will show or not</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BillingType" type="xs:string" minOccurs="0"/>
                    <xs:element name="BSType" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string" minOccurs="0"/>
                    <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
                    <xs:element name="ArabicDisplayName" type="xs:string" minOccurs="0"/>
                    <xs:element name="Category" type="xs:string" minOccurs="0"/>
                    <xs:element name="SubCategory" type="xs:string" minOccurs="0"/>
                    <xs:element name="ServiceBillingType" type="xs:string" minOccurs="0"/>
                    <xs:element name="Classification" type="xs:string" minOccurs="0"/>
                    <xs:element name="RatingInfo" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="RatingInfoItem" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Unit" type="xs:string" minOccurs="0"/>
                                            <xs:element name="Quantity" type="xs:decimal" minOccurs="0"/>
                                            <xs:element name="MaxLimit" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ProductSpecs" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ProductSpec" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Name" type="xs:string"/>
                                            <xs:element name="Value" type="xs:string"/>
                                            <xs:element name="Measure" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ProductFees" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ProductFee" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Name" type="xs:string"/>
                                            <xs:element name="Amount" type="xs:string"/>
                                            <xs:element name="RecurrencyType" type="xs:string" minOccurs="0"/>
                                            <xs:element name="RecurrencyValue" type="xs:string" minOccurs="0"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Params" type="com:Params" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SubscriberInfo" type="typ:SubscriberInfo" minOccurs="0"/>
                        <xs:element name="Products" type="typ:Product" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryEligibleServicesRequest">
        <wsdl:part name="request" element="typ:QueryRequestInput"/>
    </wsdl:message>
    <wsdl:message name="QueryEligibleServicesResponse">
        <wsdl:part name="response" element="typ:QueryResult"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="com:FaultType"/>
    </wsdl:message>
    <wsdl:portType name="ServiceEligibilityPort">
        <wsdl:operation name="QueryEligibleServices">
            <wsdl:input message="tns:QueryEligibleServicesRequest"/>
            <wsdl:output message="tns:QueryEligibleServicesResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceEligibilitysBinding" type="tns:ServiceEligibilityPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryEligibleServices">
            <soap:operation soapAction="QueryEligibleServices"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServiceEligibility">
        <wsdl:port name="ServiceEligibilityPort" binding="tns:ServiceEligibilitysBinding"/>
    </wsdl:service>
</wsdl:definitions>