src/CommonProject/BusinessWSDLS/Services/InventoryMgmt_Rest/APPS_XX_INV_INT_WS_PKG_STOCK_QUANTITIES.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/"
	 targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<element name="InputParameters">
		<complexType>
			<sequence>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="VARCHAR2" db:index="1" name="P_ORG_CODE" type="string" nillable="true" minOccurs="0"/>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="CLOB" db:index="2" name="P_ITEM_CODE_LIST" type="string" nillable="true" minOccurs="0"/>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="CLOB" db:index="3" name="P_SUBINVENTORY_LIST" type="string" nillable="true" minOccurs="0"/>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="NUMBER" db:index="4" name="P_DELIMITER_ASCII_CODE" type="decimal" nillable="true" minOccurs="0"/>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="NUMBER" db:index="5" name="P_LINE_SEPARATOR_ASCII_CODE" type="decimal" nillable="true" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="OutputParameters">
		<complexType>
			<sequence>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="CLOB" db:index="6" name="P_STOCK_ITEM_LIST" type="string" nillable="true" minOccurs="0"/>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="VARCHAR2" db:index="7" name="P_RESULT" type="string" nillable="true" minOccurs="0"/>
				<element xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" db:type="VARCHAR2" db:index="8" name="P_REASON_TEXT" type="string" nillable="true" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
</schema>