src/CommonProject/BusinessWSDLS/Services/InventoryMgmt_Rest/ERP_CreateItem_CreateShop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.zain.com/ZESB/Services/Inventory/CreateItemResponse.xsd" xmlns:ns="http://www.zain.com/ZESB/Services/Inventory/CreateItemRequest.xsd" xmlns:ns4="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" xmlns:ns3="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" xmlns:tns="http://www.zain.com/ZESB/Services/ERP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" xmlns:ns6="http://www.zain.com/ZESB/Services/Inventory/ShopCreationRequest.xsd" xmlns:ns7="http://www.zain.com/ZESB/Services/Inventory/ShopCreationResponse.xsd" targetNamespace="http://www.zain.com/ZESB/Services/ERP">
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/CreateItemRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/CreateItem/CreateItemRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/CreateItemResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/CreateItem/CreateItemResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/CreateShop/CreateShopRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/CreateShop/CreateShopResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/Fault/Fault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ShopCreationRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/NewShopCreation/ShopCreationRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ShopCreationResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/NewShopCreation/ShopCreationResponse.xsd"/>
    <message name="CreateItemRequest">
        <part element="ns:ItemReq" name="CreateItemReq"/>
    </message>
    <message name="CreateItemResponse">
        <part element="ns2:itemRes" name="CreateItemRes"/>
    </message>
    <message name="CreateShopRequest">
        <part name="CreateShopReq" element="ns6:createShopReq"/>
    </message>
    <message name="CreateShopResponse">
        <part name="CreateShopRes" element="ns7:createShopRes"/>
    </message>
    <message name="Fault">
        <part element="ns5:fault" name="fault"/>
    </message>
    <portType name="CreateItemShopPort">
        <operation name="CreateItem">
            <input message="tns:CreateItemRequest"/>
            <output message="tns:CreateItemResponse"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="CreateShop">
            <input message="tns:CreateShopRequest"/>
            <output message="tns:CreateShopResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
    </portType>
</definitions>