src/CommonProject/BusinessWSDLS/Services/InventoryMgmt_Rest/ERP_Pos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns1="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_onhand_quantity/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns2="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_status_by_serial/" xmlns:tns3="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_warranty/" xmlns:tns4="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/onhand_quantity/" xmlns:tns5="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/pos_transaction/" xmlns:tns6="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/release_stock/" xmlns:tns="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/" xmlns:tns7="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/reserve_stock/" xmlns:tns8="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/serial_status/" xmlns:tns9="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="XX_INV_INT_WS_PKG" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_onhand_quantity/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_onhand_quantity/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_ITEM_CODE" nillable="true" type="string"/>
                        <element db:index="3" db:type="CLOB" minOccurs="0" name="P_SUBINVENTORY_LIST" nillable="true" type="string"/>
                        <element db:index="4" db:type="NUMBER" minOccurs="0" name="P_DELIMITER_ASCII_CODE" nillable="true" type="decimal"/>
                        <element db:index="5" db:type="NUMBER" minOccurs="0" name="P_LINE_SEPARATOR_ASCII_CODE" nillable="true" type="decimal"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="6" db:type="CLOB" minOccurs="0" name="P_STOCK_ITEM_LIST" nillable="true" type="string"/>
                        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_status_by_serial/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_status_by_serial/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_ITEM_CODE" nillable="true" type="string"/>
                        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_SERIAL_NUMBER" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_SUBINVENTORY_CODE" nillable="true" type="string"/>
                        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_SUBINVENTORY_DESC" nillable="true" type="string"/>
                        <element db:index="6" db:type="VARCHAR2" minOccurs="0" name="P_ITEM_STATUS" nillable="true" type="string"/>
                        <element db:index="7" db:type="NUMBER" minOccurs="0" name="P_ONHAND_QUANTITY" nillable="true" type="decimal"/>
                        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_warranty/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/item_warranty/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_ITEM_CODE" nillable="true" type="string"/>
                        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_SERIAL_NUMBER" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_ITEM_DESCRIPTION" nillable="true" type="string"/>
                        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_ITEM_CATEGORY" nillable="true" type="string"/>
                        <element db:index="6" db:type="VARCHAR2" minOccurs="0" name="P_VENDOR_NAME" nillable="true" type="string"/>
                        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_VENDOR_ADDRESS" nillable="true" type="string"/>
                        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/onhand_quantity/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/onhand_quantity/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_SUBINVENTORY_CODE" nillable="true" type="string"/>
                        <element db:index="3" db:type="NUMBER" minOccurs="0" name="P_DELIMITER_ASCII_CODE" nillable="true" type="decimal"/>
                        <element db:index="4" db:type="NUMBER" minOccurs="0" name="P_LINE_SEPARATOR_ASCII_CODE" nillable="true" type="decimal"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="5" db:type="CLOB" minOccurs="0" name="P_STOCK_ITEM_LIST" nillable="true" type="string"/>
                        <element db:index="6" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/pos_transaction/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/pos_transaction/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_SUBINVENTORY_CODE" nillable="true" type="string"/>
                        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_TRANSACTION_DATE" nillable="true" type="string"/>
                        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_USER_NAME" nillable="true" type="string"/>
                        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_ORDER_ID" nillable="true" type="string"/>
                        <element db:index="6" db:type="NUMBER" minOccurs="0" name="P_RESERVATION_ID" nillable="true" type="decimal"/>
                        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_TYPE" nillable="true" type="string"/>
                        <element db:index="8" db:type="CLOB" minOccurs="0" name="P_ITEM_LIST" nillable="true" type="string"/>
                        <element db:index="9" db:type="NUMBER" minOccurs="0" name="P_DELIMITER_ASCII_CODE" nillable="true" type="decimal"/>
                        <element db:index="10" db:type="NUMBER" minOccurs="0" name="P_LINE_SEPARATOR_ASCII_CODE" nillable="true" type="decimal"/>
                        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_REMARKS" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="12" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="13" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                        <element db:index="14" db:type="CLOB" minOccurs="0" name="P_REASON_TEXT_LINES" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/release_stock/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/release_stock/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_RESERVATION_ID" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/reserve_stock/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/reserve_stock/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_SUBINVENTORY_CODE" nillable="true" type="string"/>
                        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_RESERVE_TO_DATE" nillable="true" type="string"/>
                        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_USER_NAME" nillable="true" type="string"/>
                        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_ORDER_ID" nillable="true" type="string"/>
                        <element db:index="6" db:type="CLOB" minOccurs="0" name="P_ITEM_LIST" nillable="true" type="string"/>
                        <element db:index="7" db:type="NUMBER" minOccurs="0" name="P_DELIMITER_ASCII_CODE" nillable="true" type="decimal"/>
                        <element db:index="8" db:type="NUMBER" minOccurs="0" name="P_LINE_SEPARATOR_ASCII_CODE" nillable="true" type="decimal"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="9" db:type="VARCHAR2" minOccurs="0" name="P_RESERVATION_ID" nillable="true" type="string"/>
                        <element db:index="10" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="11" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                        <element db:index="12" db:type="CLOB" minOccurs="0" name="P_REASON_TEXT_LINES" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/serial_status/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/serial_status/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_SERIAL_NUMBER" nillable="true" type="string"/>
                        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_ITEM_CODE" nillable="true" type="string"/>
                        <element db:index="4" db:type="NUMBER" minOccurs="0" name="P_DELIMITER_ASCII_CODE" nillable="true" type="decimal"/>
                        <element db:index="5" db:type="NUMBER" minOccurs="0" name="P_LINE_SEPARATOR_ASCII_CODE" nillable="true" type="decimal"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="6" db:type="CLOB" minOccurs="0" name="P_SERIAL_DETAILS" nillable="true" type="string"/>
                        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/stock_quantities/">
            <element name="InputParameters">
                <complexType>
                    <sequence>
                        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_ORG_CODE" nillable="true" type="string"/>
                        <element db:index="2" db:type="CLOB" minOccurs="0" name="P_ITEM_CODE_LIST" nillable="true" type="string"/>
                        <element db:index="3" db:type="CLOB" minOccurs="0" name="P_SUBINVENTORY_LIST" nillable="true" type="string"/>
                        <element db:index="4" db:type="NUMBER" minOccurs="0" name="P_DELIMITER_ASCII_CODE" nillable="true" type="decimal"/>
                        <element db:index="5" db:type="NUMBER" minOccurs="0" name="P_LINE_SEPARATOR_ASCII_CODE" nillable="true" type="decimal"/>
                    </sequence>
                </complexType>
            </element>
            <element name="OutputParameters">
                <complexType>
                    <sequence>
                        <element db:index="6" db:type="CLOB" minOccurs="0" name="P_STOCK_ITEM_LIST" nillable="true" type="string"/>
                        <element db:index="7" db:type="VARCHAR2" minOccurs="0" name="P_RESULT" nillable="true" type="string"/>
                        <element db:index="8" db:type="VARCHAR2" minOccurs="0" name="P_REASON_TEXT" nillable="true" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/inv/rest/xx_inv_int_ws_pkg/">
            <element name="SOAHeader">
                <complexType>
                    <sequence>
                        <element minOccurs="0" name="Responsibility" type="string"/>
                        <element minOccurs="0" name="RespApplication" type="string"/>
                        <element minOccurs="0" name="SecurityGroup" type="string"/>
                        <element minOccurs="0" name="NLSLanguage" type="string"/>
                        <element minOccurs="0" name="Org_Id" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="ITEM_ONHAND_QUANTITY_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns1:InputParameters" name="body"/>
    </message>
    <message name="ITEM_ONHAND_QUANTITY_Output_Msg">
        <part element="tns1:OutputParameters" name="body"/>
    </message>
    <message name="ITEM_STATUS_BY_SERIAL_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns2:InputParameters" name="body"/>
    </message>
    <message name="ITEM_STATUS_BY_SERIAL_Output_Msg">
        <part element="tns2:OutputParameters" name="body"/>
    </message>
    <message name="ITEM_WARRANTY_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns3:InputParameters" name="body"/>
    </message>
    <message name="ITEM_WARRANTY_Output_Msg">
        <part element="tns3:OutputParameters" name="body"/>
    </message>
    <message name="ONHAND_QUANTITY_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns4:InputParameters" name="body"/>
    </message>
    <message name="ONHAND_QUANTITY_Output_Msg">
        <part element="tns4:OutputParameters" name="body"/>
    </message>
    <message name="POS_TRANSACTION_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns5:InputParameters" name="body"/>
    </message>
    <message name="POS_TRANSACTION_Output_Msg">
        <part element="tns5:OutputParameters" name="body"/>
    </message>
    <message name="RELEASE_STOCK_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns6:InputParameters" name="body"/>
    </message>
    <message name="RELEASE_STOCK_Output_Msg">
        <part element="tns6:OutputParameters" name="body"/>
    </message>
    <message name="RESERVE_STOCK_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns7:InputParameters" name="body"/>
    </message>
    <message name="RESERVE_STOCK_Output_Msg">
        <part element="tns7:OutputParameters" name="body"/>
    </message>
    <message name="SERIAL_STATUS_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns8:InputParameters" name="body"/>
    </message>
    <message name="SERIAL_STATUS_Output_Msg">
        <part element="tns8:OutputParameters" name="body"/>
    </message>
    <message name="STOCK_QUANTITIES_Input_Msg">
        <part element="tns:SOAHeader" name="header"/>
        <part element="tns9:InputParameters" name="body"/>
    </message>
    <message name="STOCK_QUANTITIES_Output_Msg">
        <part element="tns9:OutputParameters" name="body"/>
    </message>
    <portType name="XX_INV_INT_WS_PKG_PortType">
        <operation name="ITEM_ONHAND_QUANTITY">
            <input message="tns:ITEM_ONHAND_QUANTITY_Input_Msg"/>
            <output message="tns:ITEM_ONHAND_QUANTITY_Output_Msg"/>
        </operation>
        <operation name="ITEM_STATUS_BY_SERIAL">
            <input message="tns:ITEM_STATUS_BY_SERIAL_Input_Msg"/>
            <output message="tns:ITEM_STATUS_BY_SERIAL_Output_Msg"/>
        </operation>
        <operation name="ITEM_WARRANTY">
            <input message="tns:ITEM_WARRANTY_Input_Msg"/>
            <output message="tns:ITEM_WARRANTY_Output_Msg"/>
        </operation>
        <operation name="ONHAND_QUANTITY">
            <input message="tns:ONHAND_QUANTITY_Input_Msg"/>
            <output message="tns:ONHAND_QUANTITY_Output_Msg"/>
        </operation>
        <operation name="POS_TRANSACTION">
            <input message="tns:POS_TRANSACTION_Input_Msg"/>
            <output message="tns:POS_TRANSACTION_Output_Msg"/>
        </operation>
        <operation name="RELEASE_STOCK">
            <input message="tns:RELEASE_STOCK_Input_Msg"/>
            <output message="tns:RELEASE_STOCK_Output_Msg"/>
        </operation>
        <operation name="RESERVE_STOCK">
            <input message="tns:RESERVE_STOCK_Input_Msg"/>
            <output message="tns:RESERVE_STOCK_Output_Msg"/>
        </operation>
        <operation name="SERIAL_STATUS">
            <input message="tns:SERIAL_STATUS_Input_Msg"/>
            <output message="tns:SERIAL_STATUS_Output_Msg"/>
        </operation>
        <operation name="STOCK_QUANTITIES">
            <input message="tns:STOCK_QUANTITIES_Input_Msg"/>
            <output message="tns:STOCK_QUANTITIES_Output_Msg"/>
        </operation>
    </portType>
    <binding name="XX_INV_INT_WS_PKG_Binding" type="tns:XX_INV_INT_WS_PKG_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ITEM_ONHAND_QUANTITY">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:ITEM_ONHAND_QUANTITY_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ITEM_STATUS_BY_SERIAL">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:ITEM_STATUS_BY_SERIAL_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ITEM_WARRANTY">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:ITEM_WARRANTY_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ONHAND_QUANTITY">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:ONHAND_QUANTITY_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="POS_TRANSACTION">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:POS_TRANSACTION_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RELEASE_STOCK">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:RELEASE_STOCK_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RESERVE_STOCK">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:RESERVE_STOCK_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SERIAL_STATUS">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:SERIAL_STATUS_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="STOCK_QUANTITIES">
            <soap:operation soapAction="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
            <input>
                <soap:header message="tns:STOCK_QUANTITIES_Input_Msg" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="XX_INV_INT_WS_PKG_Service">
        <port binding="tns:XX_INV_INT_WS_PKG_Binding" name="XX_INV_INT_WS_PKG_Port">
            <soap:address location="https://141.143.113.19/webservices/SOAProvider/plsql/xx_inv_int_ws_pkg/"/>
        </port>
    </service>
</definitions>