src/CommonProject/BusinessWSDLS/Services/InventoryMgmt_Rest/ws_CIL_5_DealerCreateService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/customernew" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/addresswrite" xmlns:sch5="http://ericsson.com/services/ws_CIL_5/customerwrite" xmlns:sch6="http://ericsson.com/services/ws_CIL_5/dealercreate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customernew" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customernew"><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:complexType name="partyRoleAssignmentsListpartResponse"><xs:all><xs:element minOccurs="0" name="partyRoleId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role private key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleName" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleDescription" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role description</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="partyRoleAssignmentsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="customerNewResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a customer with the public or private key.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="tbAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for threshold billing</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold mode for threshold billing.</p><p><ul><li>'IM': Immediate request</li><li>'OD': For on demand request.</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbPurpose" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold purpose for threshold billing</p><p><ul><li>'SIM': For simulation bill run</li><li>'INF': For information bill run</li><li>'REG': For regular bill run </li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of family</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer set id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>status of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csActivationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>activation date of the customer (It is only set if the status is active.)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdHigh" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of parent level of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdHighPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLevelCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>level of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>payment responsibility</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="prgCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>pricegroup of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>rateplan for other credits and charges of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tradeCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>trade code of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="areaCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>area code of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>costcenter of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the cost center</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPassword" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>password of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rsCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>reason for the status change</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="wpCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>welcome procedure of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>subscription reduction of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 1 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 2 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillInformation" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>bill information run flag</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>home currency code for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>foreign currency code for expected refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>external credit check agreed</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>category code of the customer's current individual taxation</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the customer category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates that a city area is incorporated to levy taxes. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycle" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>billcycle of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 1 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 2 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 3 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csClimit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit limit of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csContresp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>customer responsibility for contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLastBcDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>last billing cycle date of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeposit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>deposit amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunning" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>specifies if dunning is enabled / disabled (ignored for PC14318)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrepayment" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>prepayment required</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCollector" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>cash collector of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>currency of credit, deposit, current balance, and previous balance of the customer.</p><p>This attribute is needed to show the HOME currency.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscurbalance" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>current balance of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrevbalance" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>previous balance of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csUnbilledAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>unbilled amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPaybehaviour" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>payment behaviour of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>dealer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealeridPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer's public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>ID of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer's public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsResponse"/><xs:element minOccurs="0" name="partyType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>party type identifier.</p><p><ul><li>'c': Customer</li><li>'b': Business partner</li><li>'o': Operator</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lastModificationUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Last modification user</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCreationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Creation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatusDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>status date of the customer (dependends on the status CSDEACTIVATED, CSACTIVATED, SUSPENDE,REACTIVATED)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="performCreditScoring" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Column CUSTOMER_ALL.CS_SUPPORTED for LA members will be set with given value for this attribute.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="partyRoleAssignmentsListpartRequest"><xs:all><xs:element minOccurs="0" name="partyRoleId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role private key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleShname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="partyRoleAssignmentsRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="customerNewRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a currency by the public or private key. Input applies to PC 12694 only.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="paymentResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>payment responsibility, if not set, then a default value will apply.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for threshold billing</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold mode for threshold billing.</p><p><ul><li>'IM': Immediate request</li><li>'OD': For on demand request.</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbPurpose" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold purpose for threshold billing</p><p><ul><li>'SIM': For simulation bill run</li><li>'INF': For information bill run</li><li>'REG': For regular bill run </li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioActionType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold action related to small invoices handling.</p><p><ul><li>'G': Invoice: Generate invoice anyway (default).</li><li>'F': Carry-over: Forward invoices with small amount (Baseline setup per customer group).</li><li>'S': Write-off: Suppress invoices with small amount. </li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioThresholdAmt" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverLenght" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over length for  small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverPeriodType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over type period for  small invoices handling.</p><p><ul><li>'D': Days.</li><li>'M': Months.</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer set id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Optional customer's public key. If isn't specified than will be created</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of family</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="prgCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>pricegroup of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>rateplan for other credits and charges of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tradeCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>trade code of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="areaCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>area code of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>cost center of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the cost center</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPassword" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>password of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="wpCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>welcome procedure of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>subscription reduction of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 1 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 2 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillInformation" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>bill information run flag</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>home currency code for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>foreign currency code for expected refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>external credit check agreed</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycle" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>billcycle of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 1 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 2 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 3 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csClimit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit limit of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeposit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>deposit amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunning" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>specifies if dunning is enabled / disabled (ignored for PC14318)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrepayment" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>prepayment required</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCollector" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>cash collector of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer Category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the customer category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>dealer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealeridPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer's public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates that a city area is incorporated to levy taxes. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsRequest"/><xs:element minOccurs="0" name="partyType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>party type identifier.</p><p><ul><li>'c': Customer</li><li>'b': Business partner</li><li>'o': Operator</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>currency of credit, deposit, current balance, and previous balance of the customer.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/addresswrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/addresswrite"><xs:complexType name="addressWriteResponse"><xs:all><xs:element minOccurs="0" name="adrSeq" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Sequence no. of the party.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="addressWriteRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a country by the public or private key.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="adrSeq" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Sequence no of the party. Private key of the party. </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrRoles" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>All address roles assigned to this party.</p><p> This argument is modeled as a
							<code>String</code> containing the character encodings of the various
							address roles, as defined in <code>ADDRESSROLES.READ</code>.
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ttlId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>title of the customer. </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ttlIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the title</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrDeleted" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> true if the address should be deleted. The party must have no address role. A deleted address cannot be activated.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrLname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> last name of the party.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrName" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> company name if applicable </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrFname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> first name of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrStreet" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> street of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrStreetno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> street no of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrZip" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Zip of the postal address. The value is checked against the country specific format defined in the database (in <code>COUNTRY.POSTAL_CODE_FORMAT</code>). The ZIP code check for a country can be switched off by setting the value of the <code>POSTAL_CODE_FORMAT</code> column to null. If no country (see parameter <code>COUNTRY_ID</code>) is set, no ZIP code validation is performed.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCity" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> city of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lngCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> language code of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lngCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the language</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNote1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> note 1 of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNote2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> note 2 of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNote3" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> note 3 of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrJbdes" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> job description of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrPhn1Area" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> phone no.1 areacode of the voice address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrPhn1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> phone no.1 of the voice address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrPhn2Area" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> phone no.2 areacode of the voice address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrPhn2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> phone no.2 of the voice address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrFaxArea" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> fax no.1 areacode of the fax address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrFax" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> fax no.1 of the fax address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrMname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> middle initial name of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmail" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> email address of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrSmsno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> short message no of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrYears" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p> years at this postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrState" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> state of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCounty" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> county of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrValiddate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p> date of last address validation </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrInccode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> incorporated city area of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrUrgent" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> address is of "urgent" type </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrForward" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> address may be forwarded for commercial purposes </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrLocation1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> additional address information 1 of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrLocation2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> additional address information 2 of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrRemark" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> hints for installation workforce of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrWriteOnReq" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> Create new address if no entry was found. </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCheck" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> Decide whether the address check should be done or not.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrTaxno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> tax registration number of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCompno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> company registration number of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="idtypeCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> identity-type code of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrIdno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> identity-number of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrBirthdt" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p> birth date of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrSocialseno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> social security number of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrDrivelicence" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> driving licence number of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrSex" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>gender of the party.<ul><li>'F' - Female</li><li>'M' - Male</li><li>'NULL' - Party is not related to sex</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmployer" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> employer of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCusttype" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>type of the party, either 'C' for consumer or
							'B' for business.</p><p>The type of he billing address
							determines the type of the customer.</p><p>This parameter is also used to change
							the type from consumer to business and vice versa.</p><p>If the value is changed
							the entry for ADR_TITLE has to be changed as well.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="masCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> marital status of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="masCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the marital status.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationality" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> nationality of the party </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationalityPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the country</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmployee" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> remark if customer is an employee </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> internal BSCS customer id. Only mandatory if the context is empty. </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="countryId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> country id of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="countryIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the country</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Address code for external system usage</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerwrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerwrite"><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:complexType name="partyRoleAssignmentsListpartRequest"><xs:all><xs:element minOccurs="0" name="partyRoleId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role private key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleShname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="partyRoleAssignmentsRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="customerWriteRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a country by the public or private key. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="tbAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for threshold billing</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold mode for threshold billing.</p><p><ul><li>'IM': Immediate request</li><li>'OD': For on demand request.</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbPurpose" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold purpose for threshold billing</p><p><ul><li>'SIM': For simulation bill run</li><li>'INF': For information bill run</li><li>'REG': For regular bill run </li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csContresp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> party responsibility for contract. parameter is ignored for when working with sales hierarchies since dealers are always responsible for the contracts. </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioActionType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold action related to small invoices handling.</p><p><ul><li>'G': Invoice: Generate invoice anyway (default).</li><li>'F': Carry-over: Forward invoices with small amount (Baseline setup per customer group).</li><li>'S': Write-off: Suppress invoices with small amount. </li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioThresholdAmt" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverLenght" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over length for  small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverPeriodType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over type period for  small invoices handling.</p><p><ul><li>'D': Days.</li><li>'M': Months.</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditRemark" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit remark about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment responsibility. Can be set only in case of a business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer set id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of family</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="prgCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>pricegroup of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>rateplan for other credits and charges of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tradeCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>trade code of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="areaCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>area code of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>cost center of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the cost center</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPassword" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>password of the customer/business partner</p><p>The cloumn CUSTOMER_ALL.BTX_PASSWORD is mapped and the property is bTXPassword for the dealer.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="wpCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>welcome procedure of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>subscription reduction of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 1 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 2 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillInformation" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>bill information run flag</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>home currency code for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>foreign currency code for expected refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>external credit check agreed</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycle" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>current billing cycle of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bcComment" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bill cycle change comment. Has to be set if  <code>CS_BILLCYCLE</code> is set</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 1 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 2 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 3 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csClimit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit limit of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>status of the customer / business partner, for business partner only state interested and active are supported.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rsCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>reason for the status change</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeposit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>deposit amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunning" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>specifies if dunning is enabled / disabled (ignored for PC14318)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrepayment" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>prepayment required</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCollector" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>cash collector of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer Category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the customer category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code.</p><p>Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates that a city area is incorporated to levy taxes.</p><p>Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>dealer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealeridPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer's public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>This is the given internal BSCS customer/business partner id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer's public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="newCsIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>New customer's public key. A public key can be changed only if the customer is an anonymous customer. After the anonymous flag is taken away, the public key can no longer be changed!</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsRequest"/><xs:element minOccurs="0" name="collInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>true if customer is set to be in collection process, otherwise false.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="useLastBillDate" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the last billing date must be used as an effective date for modification of payment responsibility. It can be use only if PAYMENT_RESP is set.  Default is FALSE.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCreditscore" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score grade.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="creditScoreProvider" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score type: B for CrB Defined; C for CSP defined.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="performCreditScoring" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Column CUSTOMER_ALL.CS_SUPPORTED for LA members will be set with given value for this attribute.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cscreditEnteredManually" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Informs if credit score was entered manually.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cslvlname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>CS LEVEL NAME. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationality" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Nationality of the party</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationalityPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the country</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmployee" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Remark if customer is an employee. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csTestbillrun" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>special entry, range [a-z][A-Z]</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:addresswrite="http://ericsson.com/services/ws_CIL_5/addresswrite" xmlns:customernew="http://ericsson.com/services/ws_CIL_5/customernew" xmlns:customerwrite="http://ericsson.com/services/ws_CIL_5/customerwrite" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/dealercreate" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/dealercreate"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:import namespace="http://ericsson.com/services/ws_CIL_5/customernew"/><xs:import namespace="http://ericsson.com/services/ws_CIL_5/addresswrite"/><xs:import namespace="http://ericsson.com/services/ws_CIL_5/customerwrite"/><xs:element name="dealerCreateRequest" type="wsi:dealerCreateRequest"/><xs:element name="dealerCreateResponse" type="wsi:dealerCreateResponse"/><xs:complexType name="addressesListpartResponse"><xs:all><xs:element minOccurs="0" name="addressWrite" type="addresswrite:addressWriteResponse"><xs:annotation><xs:documentation>
												
										</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="addressesResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:addressesListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="dealerCreateResponse"><xs:all><xs:element minOccurs="0" name="customerNew" type="customernew:customerNewResponse"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="addresses" type="wsi:addressesResponse"/></xs:all></xs:complexType><xs:complexType name="addressesListpartRequest"><xs:all><xs:element minOccurs="0" name="addressWrite" type="addresswrite:addressWriteRequest"><xs:annotation><xs:documentation>
												
										</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="addressesRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:addressesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element minOccurs="0" name="customerNew" type="customernew:customerNewRequest"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="addresses" type="wsi:addressesRequest"/><xs:element minOccurs="0" name="customerWrite" type="customerwrite:customerWriteRequest"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="dealerCreateRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="dealerCreateRequest">
    <wsdl:part element="sch6:dealerCreateRequest" name="dealerCreateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dealerCreateResponse">
    <wsdl:part element="sch6:dealerCreateResponse" name="dealerCreateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DealerCreateService">
    <wsdl:operation name="dealerCreate">
      <wsdl:input message="tns:dealerCreateRequest" name="dealerCreateRequest">
    </wsdl:input>
      <wsdl:output message="tns:dealerCreateResponse" name="dealerCreateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DealerCreateServiceSoap11" type="tns:DealerCreateService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dealerCreate">
      <soap:operation soapAction=""/>
      <wsdl:input name="dealerCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dealerCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DealerCreateService">
    <wsdl:port binding="tns:DealerCreateServiceSoap11" name="DealerCreateServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services/ws_CIL_5_DealerCreateService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>