src/GW_ERP_REST/BusinessProcesses/Services/ERP_REST/BusinessSchemas/InventoryManagement/QueryItemWarrentyInfo/QueryItemWarrentyInfoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryItemWarrentyInfoResponse.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemWarrentyInfoResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="warrentyInfoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WarrantyInfo" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VendoreName" type="xs:string"/>
							<xs:element name="VendorDetails" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>