src/CommonProject/BusinessWSDLS/Services/BSCS/CreditCategoryCalculate/CreditCategoryCalculateService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/creditcategorycalculate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/creditcategorycalculate" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/creditcategorycalculate"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="creditCategoryCalculateRequest" type="wsi:creditCategoryCalculateRequest"/><xs:element name="creditCategoryCalculateResponse" type="wsi:creditCategoryCalculateResponse"/><xs:complexType name="scheduledjoblistListpartResponse"><xs:all><xs:element minOccurs="0" name="jobId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Credit Rating ID</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="jobIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Credit Rating Public Key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Contract ID</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Contract ID Public Key</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="scheduledjoblistResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:scheduledjoblistListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="creditCategoryCalculateResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Credit category Assign History</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer ID Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="scheduledjoblist" type="wsi:scheduledjoblistResponse"/><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ccId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit Category ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ccIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit category Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="crId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit Rating ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="crIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit Rating Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="creditScore" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit Score Of the Contract Populated In case of New Contract/Takeover</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Input arguments</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="custLvlFlag" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer Level flag to update the credit category default: No.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer ID Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="billingAccountId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Billing Account ID </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="billingAccountCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Billing Account Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="username" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Username</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="source" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Source From which the credit category assignment is triggered</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="request" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Request Id for Change</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="commitFlag" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Commit flag to update the credit category default: No.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="exemptFlag" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Exemption Flag, based on which credit limit would be exempted.default: No</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="creditCategoryCalculateRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="creditCategoryCalculateRequest">
    <wsdl:part element="sch3:creditCategoryCalculateRequest" name="creditCategoryCalculateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditCategoryCalculateResponse">
    <wsdl:part element="sch3:creditCategoryCalculateResponse" name="creditCategoryCalculateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreditCategoryCalculateService">
    <wsdl:operation name="creditCategoryCalculate">
      <wsdl:input message="tns:creditCategoryCalculateRequest" name="creditCategoryCalculateRequest">
    </wsdl:input>
      <wsdl:output message="tns:creditCategoryCalculateResponse" name="creditCategoryCalculateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCategoryCalculateServiceSoap11" type="tns:CreditCategoryCalculateService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="creditCategoryCalculate">
      <soap:operation soapAction=""/>
      <wsdl:input name="creditCategoryCalculateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creditCategoryCalculateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCategoryCalculateService">
    <wsdl:port binding="tns:CreditCategoryCalculateServiceSoap11" name="CreditCategoryCalculateServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>