src/CommonProject/BusinessSchemas/Services/Modification/PortInNumberUpdate/PortInNumberUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/PortInNumberUpdate.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/PortInNumberUpdate.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="PortInNumberUpdateInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMOrderId" minOccurs="0"/>
				<xs:element ref="CWOrderId" minOccurs="0"/>
				<xs:element ref="TransactionId" minOccurs="0"/>
				<xs:element ref="RequestId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PortInNumberUpdateOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMOrderId" minOccurs="0"/>
				<xs:element ref="CWOrderId" minOccurs="0"/>
				<xs:element ref="TransactionId" minOccurs="0"/>
				<xs:element ref="Response" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestId" type="xs:string"/>
	<xs:element name="Response" type="xs:string"/>
	<xs:element name="CRMOrderId" type="xs:string"/>
	<xs:element name="CWOrderId" type="xs:string"/>
	<xs:element name="TransactionId" type="xs:string"/>
</xs:schema>