src/CommonProject/BusinessWSDLS/Services/WSDLS/eAccountManagementInbound/eAccountManagementInbound.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/eAccountManagement" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:typ="http://www.zain.com/ZESB/Services/eAccountManagement/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/eAccountManagement">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Services/eAccountManagement/Types" xmlns:typ="http://www.zain.com/ZESB/Services/eAccountManagement/Types" elementFormDefault="qualified">

			<xs:element name="RegisterRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
			<xs:element name="RegisterResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ActivationCode" type="xs:string"/>
						<xs:element name="OwnedContract" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
						
			<xs:element name="ConfirmRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ActivationCode" type="xs:string"/>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="Username" type="xs:string"/>
						<xs:element name="Password" type="xs:string"/>
						<xs:element name="CivilId" type="xs:string"/>
						<xs:element name="Email" type="xs:string"/>
						<xs:element name="OwnedContract" type="xs:boolean"/>			
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConfirmResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string"/>
						<xs:element name="BillingType" type="xs:string"/>
						<xs:element name="Category" type="xs:string"/>
						<xs:element name="Nationality" type="xs:string" minOccurs="0"/>
						<xs:element name="ContractOwner" type="xs:boolean"/>
						<xs:element name="HasPostpaid" type="xs:boolean"/>
						<xs:element name="HasPrepaid" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="RegisterCorporateRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LoginName" type="xs:string"/>
						<xs:element name="Password" type="xs:string"/>
						<xs:element name="ContractId" type="xs:string"/>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="ContactName" type="xs:string"/>
						<xs:element name="Title" minOccurs="0" type="xs:string"/>
						<xs:element name="Email" type="xs:string"/>
						<xs:element name="RegistrationId" minOccurs="0" type="xs:string"/>
						<xs:element name="YearOfEstablishment" minOccurs="0" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegisterCorporateResponse">
			 <xs:complexType>
			  <xs:sequence>
			  		<xs:element name="RequestStatus" type="xs:string"/>
			  </xs:sequence>
			 </xs:complexType>
			</xs:element>			
			
			<xs:element name="LoginRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Username" type="xs:string"/>
						<xs:element name="Password" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
			<xs:element name="LoginResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string"/>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="AccountType" type="xs:string"/>
						<xs:element name="BillingType" type="xs:string"/>
						<xs:element name="Category" type="xs:string"/>
						<xs:element name="Nationality" type="xs:string" minOccurs="0"/>											
						<xs:element name="ContractOwner" type="xs:boolean"/>
						<xs:element name="HasPostpaid" type="xs:boolean"/>
						<xs:element name="HasPrepaid" type="xs:boolean"/>				
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
			
			<xs:element name="ForgetPasswordRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ForgetPasswordResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ActivationCode" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="ResetPasswordRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string"/>
						<xs:element name="ActivationCode" type="xs:string"/>
						<xs:element name="NewPassword" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResetPasswordResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Email" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="RegisterRequest">
		<wsdl:part name="request" element="typ:RegisterRequest"/>
	</wsdl:message>
	<wsdl:message name="RegisterResponse">
		<wsdl:part name="response" element="typ:RegisterResponse"/>
	</wsdl:message>
	<wsdl:message name="ConfirmRequest">
		<wsdl:part name="request" element="typ:ConfirmRequest"/>
	</wsdl:message>
	<wsdl:message name="ConfirmResponse">
		<wsdl:part name="response" element="typ:ConfirmResponse"/>
	</wsdl:message>
	<wsdl:message name="RegisterCorporateRequest">
		<wsdl:part name="request" element="typ:RegisterCorporateRequest"/>
	</wsdl:message>
	<wsdl:message name="RegisterCorporateResponse">
		<wsdl:part name="response" element="typ:RegisterCorporateResponse"/>
	</wsdl:message>
	<wsdl:message name="LoginRequest">
		<wsdl:part name="request" element="typ:LoginRequest"/>
	</wsdl:message>
	<wsdl:message name="LoginResponse">
		<wsdl:part name="response" element="typ:LoginResponse"/>
	</wsdl:message>	
	<wsdl:message name="ForgetPasswordRequest">
		<wsdl:part name="request" element="typ:ForgetPasswordRequest"/>
	</wsdl:message>
	<wsdl:message name="ForgetPasswordResponse">
		<wsdl:part name="response" element="typ:ForgetPasswordResponse"/>
	</wsdl:message>
	<wsdl:message name="ResetPasswordRequest">
		<wsdl:part name="response" element="typ:ResetPasswordRequest"/>
	</wsdl:message>
	<wsdl:message name="ResetPasswordResponse">
		<wsdl:part name="response" element="typ:ResetPasswordResponse"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="eAccountManagementPort">
		<wsdl:operation name="Register">
			<wsdl:input message="tns:RegisterRequest"/>
			<wsdl:output message="tns:RegisterResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="Confirm">
			<wsdl:input message="tns:ConfirmRequest"/>
			<wsdl:output message="tns:ConfirmResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="RegisterCorporate">
			<wsdl:input message="tns:RegisterCorporateRequest"/>
			<wsdl:output message="tns:RegisterCorporateResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<wsdl:input message="tns:LoginRequest"/>
			<wsdl:output message="tns:LoginResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>		
		<wsdl:operation name="ForgetPassword">
			<wsdl:input message="tns:ForgetPasswordRequest"/>
			<wsdl:output message="tns:ForgetPasswordResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="ResetPassword">
			<wsdl:input message="tns:ResetPasswordRequest"/>
			<wsdl:output message="tns:ResetPasswordResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eAccountManagementBinding" type="tns:eAccountManagementPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Register">
			<soap:operation soapAction="Register"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Confirm">
			<soap:operation soapAction="Confirm"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RegisterCorporate">
			<soap:operation soapAction="RegisterCorporate"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<soap:operation soapAction="Login"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>		
		<wsdl:operation name="ForgetPassword">
			<soap:operation soapAction="ForgetPassword"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ResetPassword">
			<soap:operation soapAction="ResetPassword"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eAccountManagement">
		<wsdl:port name="eAccountManagementPort" binding="tns:eAccountManagementBinding">
			<soap:address location="ZESB/eAccountManagement"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>