src/CommonProject/BusinessWSDLS/Services/BSCS/FinancialTransactionWrite/FinancialTransactionWriteService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/financialtransactionwrite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/financialtransactionwrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/financialtransactionwrite"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:element name="financialTransactionWriteRequest" type="wsi:financialTransactionWriteRequest"/><xs:element name="financialTransactionWriteResponse" type="wsi:financialTransactionWriteResponse"/><xs:complexType name="resultListListpartResponse"><xs:all><xs:element minOccurs="0" name="transactionId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Internal transaction id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="transactionRefnum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Reference code of the transaction</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="transactionDocumentNo" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>transaction document number</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="resultListResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:resultListListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="financialTransactionWriteResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Properties of the financial transaction.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="resultList" type="wsi:resultListResponse"/></xs:all></xs:complexType><xs:complexType name="detailsListpartRequest"><xs:all><xs:element name="documentId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Internal document id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentTransactionId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Transaction id of payment, only used for refund of payments</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="creditDebit" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Flag to mark if the amount debits or credits (D/C)</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="assTransactionId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>associated financial transaction</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="assAmountCashPay" type="money:money"><xs:annotation><xs:documentation>
													<![CDATA[<p>Cash amount in payment currency</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="assAmountDiscountPay" type="money:money"><xs:annotation><xs:documentation>
													<![CDATA[<p>Discount amount in payment currency</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="detailsRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:detailsListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="transItemsListpartRequest"><xs:all><xs:element name="documentId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>reference to the document item</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="seqno" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>reference to the document item</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="amountCreditPay" type="money:money"><xs:annotation><xs:documentation>
													<![CDATA[<p>Credit mount in payment currency</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="transItemsRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:transItemsListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies the target billing account with the public or private key. Provided
						target billing account must belong to the passed target customer.</p><p>These parameters depends on PC16477</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="transactionRefnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reference code of the transaction</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="transactionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Internal transaction id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="secTransactionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Transaction id of transaction for revers / transfer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers private key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="targetCsId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer private key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="targetCsIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="targetCsCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>target customer code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="transDocumentId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>document id of document to transfer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="entryDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>entry date of the transaction, this is the entry date the user enters for the transaction,</p><p>the field CAENTDATE is always set to sysdate </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>reference date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="glAccount" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Cash GL Account</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="glAccountDis" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Discount GL Account</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="glAccountPayDis" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>GL Account for payable discounts</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="useCaseCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Use case code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reversalFlag" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Flag to indicate whether it is a reversal transaction or not</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="handlingReasonId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Handling reason Id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="handlingReasonPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Handling reason public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="remark" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="payMethodId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>proposed payment method.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="payMethodIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>proposed payment method - public id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="batchNumber" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Created batch number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bankId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>bank id of the financial institute</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bankname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>bankname / name of the financial institute</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bankAccount" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>bank account no / creidt card no</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bankSubaccount" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>bank subaccount</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="validThrough" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Valid through date of credit card.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="applyBankCharge" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bank charge shall be applied</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="applyHandlingCharge" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Handling charge shall be applied</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="suspendDdebit" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Flag whether to suspend direct debit flag for this document</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bankChargeAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Amount of the bank charge</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="handlingChargeAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Amount of the handling charge</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="exchangeRateDoc" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Conversion rate type for document currency.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="amountCashPay" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Cash amount in payment currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="amountDiscountPay" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Cash discount amount in payment currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="amountPayDiscountPay" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payable discount amount in payment currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="buId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Business unit</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="docGlAccount" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>GL Account used for created OH entries</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="postingPeriod" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Posting period to use</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="extSystem" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifier of the external system that triggers the invoice/debit note creation.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="transItems" type="wsi:transItemsRequest"/><xs:element minOccurs="0" name="details" type="wsi:detailsRequest"/><xs:element minOccurs="0" name="convDateInFc" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date of the conversion rate type of the document type IN/FC.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="convDateCoCm" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date of the conversion rate type of the document type CO/CM.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="convDateCreateFc" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date of the conversion rate type of the document type Create FC.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="convDateCreateCo" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date of the conversion rate type of the document type Create CO.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="convRateType" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Conversion rate type to be used.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="glacodeExcDiffInc" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>GL account for exchange difference income.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="glacodeExcDiffExp" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>GL account for exchange difference expense.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="billingAccountId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Billing account internal id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="billingAccountCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Billing account public key.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="targetBillingAccountId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Target billing account internal id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="targetBillingAccountCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Target billing account public key.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="financialTransactionWriteRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="financialTransactionWriteResponse">
    <wsdl:part element="sch3:financialTransactionWriteResponse" name="financialTransactionWriteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="financialTransactionWriteRequest">
    <wsdl:part element="sch3:financialTransactionWriteRequest" name="financialTransactionWriteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FinancialTransactionWriteService">
    <wsdl:operation name="financialTransactionWrite">
      <wsdl:input message="tns:financialTransactionWriteRequest" name="financialTransactionWriteRequest">
    </wsdl:input>
      <wsdl:output message="tns:financialTransactionWriteResponse" name="financialTransactionWriteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinancialTransactionWriteServiceSoap11" type="tns:FinancialTransactionWriteService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="financialTransactionWrite">
      <soap:operation soapAction=""/>
      <wsdl:input name="financialTransactionWriteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="financialTransactionWriteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinancialTransactionWriteService">
    <wsdl:port binding="tns:FinancialTransactionWriteServiceSoap11" name="FinancialTransactionWriteServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>