src/CommonProject/BusinessSchemas/Services/Query/QueryDunningStatus/QueyDunningStatusRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Query/QueryDunningStatusRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Query/QueryDunningStatusRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="QueyDunningStatusReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string"/>
				<xs:element name="FromDate" type="xs:string"/>
				<xs:element name="ToDate" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>