src/CommonProject/BusinessSchemas/Services/Provisioning/CustomerCreditTransfer/CustomerCreditTransfer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/CustomerCreditTransfer.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/CustomerCreditTransfer.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CustomerCreditTransferInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SourceDetails" minOccurs="0"/>
				<xs:element ref="TargetList" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerCreditTransferOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerResponse" minOccurs="0"/>
				<xs:element ref="SubscriberResponse" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CRMCustomerId" type="xs:string"/>
	<xs:element name="BSCSCustomerId" type="xs:string"/>
	<xs:element name="SubmittedDate" type="xs:string"/>
	<xs:element name="Reason" type="xs:string"/>
	<xs:element name="OverallStatus" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="BSCSContractId" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="BillCode" type="xs:string"/>
	<xs:element name="DebitTransactionReference" type="xs:string"/>
	<xs:element name="CreditTransactionReference" type="xs:string"/>
	<xs:element name="ErrorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CRMTransactionReference" type="xs:string"/>
	<xs:element name="CreditStatus" type="xs:string"/>
	<xs:element name="TargetDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMTransactionReference" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="BSCSContractId" minOccurs="0"/>
				<xs:element ref="CreditTransactionReference" minOccurs="0"/>
				<xs:element ref="CreditStatus" minOccurs="0"/>
				<xs:element ref="BillCode" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="Reason" minOccurs="0"/>
				<xs:element ref="User" minOccurs="0"/>
				<xs:element ref="WorkArea" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubscriberResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMTransactionReference" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="BSCSContractId" minOccurs="0"/>
				<xs:element ref="CreditStatus" minOccurs="0"/>
				<xs:element ref="CreditTransactionReference" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMTransactionReference" minOccurs="0"/>
				<xs:element ref="OverallStatus" minOccurs="0"/>
				<xs:element ref="DebitTransactionReference" minOccurs="0"/>
				<xs:element ref="CRMCustomerId" minOccurs="0"/>
				<xs:element ref="BSCSCustomerId" minOccurs="0"/>
				<xs:element ref="SubmittedDate" minOccurs="0"/>
				<xs:element ref="BillCode" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="Reason" minOccurs="0"/>
				<xs:element ref="User" minOccurs="0"/>
				<xs:element ref="WorkArea" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMTransactionReference" minOccurs="0"/>
				<xs:element ref="OverallStatus" minOccurs="0"/>
				<xs:element ref="CRMCustomerId" minOccurs="0"/>
				<xs:element ref="BSCSCustomerId" minOccurs="0"/>
				<xs:element ref="DebitTransactionReference" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TargetDetails" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="User" type="xs:string"/>
	<xs:element name="WorkArea" type="xs:string"/>
</xs:schema>