src/CommonProject/BusinessWSDLS/Services/BSCS/CreditScoreDetails/CotractCreditScoreDetailsReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/cocreditscoredetailsread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/cocreditscoredetailsread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/cocreditscoredetailsread"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="coCreditScoreDetailsReadRequest" type="wsi:coCreditScoreDetailsReadRequest"/><xs:element name="coCreditScoreDetailsReadResponse" type="wsi:coCreditScoreDetailsReadResponse"/><xs:complexType name="contractlevelscoredetailslistListpartResponse"><xs:all><xs:element minOccurs="0" name="evId" type="xs:long"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Evaluation  ID</p>]]>
																	</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="evIdPub" type="xs:string"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Evaluation Public Key</p>]]>
																	</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="evDes" type="xs:string"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Evaluation description Key</p>]]>
																	</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="evType" type="xs:string"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Evaluation description Key</p>]]>
																	</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="evScoreValue" type="xs:string"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Evaluation description Key</p>]]>
																	</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="evScore" type="xs:long"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Evaluation description Key</p>]]>
																	</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="contractlevelscoredetailslistResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:contractlevelscoredetailslistListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="contractlevelscoreListpartResponse"><xs:all><xs:element minOccurs="0" name="csScoreTotal" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Total Score Total</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="scoreAssignDate" type="xs:dateTime"><xs:annotation><xs:documentation>
													<![CDATA[<p>Score assignment date of the record</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="source" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Source From which the credit score assignment is triggered</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="request" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Request Id </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="username" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>UserName </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isCurrent" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>if the assigned record is the current record</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="contractlevelscoredetailslist" type="wsi:contractlevelscoredetailslistResponse"/></xs:all></xs:complexType><xs:complexType name="contractlevelscoreResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:contractlevelscoreListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="coCreditScoreDetailsReadResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Credit Score details  History</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="contractlevelscore" type="wsi:contractlevelscoreResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Input arguments</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract ID Public Key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="scorePrediction" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>SCORE_PREDICTION information is required to be read</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="coCreditScoreDetailsReadRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="coCreditScoreDetailsReadResponse">
    <wsdl:part element="sch3:coCreditScoreDetailsReadResponse" name="coCreditScoreDetailsReadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="coCreditScoreDetailsReadRequest">
    <wsdl:part element="sch3:coCreditScoreDetailsReadRequest" name="coCreditScoreDetailsReadRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CoCreditScoreDetailsReadService">
    <wsdl:operation name="coCreditScoreDetailsRead">
      <wsdl:input message="tns:coCreditScoreDetailsReadRequest" name="coCreditScoreDetailsReadRequest">
    </wsdl:input>
      <wsdl:output message="tns:coCreditScoreDetailsReadResponse" name="coCreditScoreDetailsReadResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoCreditScoreDetailsReadServiceSoap11" type="tns:CoCreditScoreDetailsReadService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="coCreditScoreDetailsRead">
      <soap:operation soapAction=""/>
      <wsdl:input name="coCreditScoreDetailsReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="coCreditScoreDetailsReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoCreditScoreDetailsReadService">
    <wsdl:port binding="tns:CoCreditScoreDetailsReadServiceSoap11" name="CoCreditScoreDetailsReadServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>