src/CommonProject/BusinessWSDLS/Services/BSCS/CreditScoreDetails/CsCreditScoreDetailsReadService.wsdl

<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/cscreditscoredetailsread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
         <xs:complexType name="money">
            <xs:sequence>
               <xs:element name="amount" type="xs:double"/>
               <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
         <xs:complexType name="svlany">
            <xs:sequence>
               <xs:element name="content" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange">
         <xs:complexType name="valuesListpartRequest">
            <xs:all>
               <xs:element name="key" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="value" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="valuesRequest">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="sessionChangeRequest">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>
						
						&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/cscreditscoredetailsread" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/cscreditscoredetailsread">
         <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
         <xs:element name="csCreditScoreDetailsReadRequest" type="wsi:csCreditScoreDetailsReadRequest"/>
         <xs:element name="csCreditScoreDetailsReadResponse" type="wsi:csCreditScoreDetailsReadResponse"/>
         <xs:complexType name="customerlevelscoredetailsListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="evId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Evaluation  ID&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="evIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Evaluation Public Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="evDes" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Evaluation description Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="evType" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Evaluation description Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="evScoreValue" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Evaluation description Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="evScore" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Evaluation description Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="customerlevelscoredetailsResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:customerlevelscoredetailsListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="customerlevelscoreListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="csScoreTotal" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Total Score Total&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="scoreAssignDate" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Score assignment date of the record&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="isCurrent" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>if the assigned record is the current record&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ccId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit Category ID&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ccIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit category Public Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ccDes" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit category description Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="crId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit Rating ID&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="crIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit Rating Public Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="crDes" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit Rating description&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="customerlevelscoredetails" type="wsi:customerlevelscoredetailsResponse"/>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="customerlevelscoreResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:customerlevelscoreListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="csCreditScoreDetailsReadResponse">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>Credit Score details  History&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="csId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Customer ID&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Customer ID Public Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="customerlevelscore" type="wsi:customerlevelscoreResponse"/>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="inputAttributes">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>Input arguments&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="csId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Customer ID&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Customer ID Public Key&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="fromDate" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit Dunning action Taken Search from Date, Default SYSDATE -30&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="toDate" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Credit Dunning action Taken Search To Date, SYSDATE&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="csCreditScoreDetailsReadRequest">
            <xs:all>
               <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
               <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="csCreditScoreDetailsReadRequest">
      <wsdl:part element="sch3:csCreditScoreDetailsReadRequest" name="csCreditScoreDetailsReadRequest"/>
   </wsdl:message>
   <wsdl:message name="csCreditScoreDetailsReadResponse">
      <wsdl:part element="sch3:csCreditScoreDetailsReadResponse" name="csCreditScoreDetailsReadResponse"/>
   </wsdl:message>
   <wsdl:portType name="CsCreditScoreDetailsReadService">
      <wsdl:operation name="csCreditScoreDetailsRead">
         <wsdl:input message="tns:csCreditScoreDetailsReadRequest" name="csCreditScoreDetailsReadRequest"/>
         <wsdl:output message="tns:csCreditScoreDetailsReadResponse" name="csCreditScoreDetailsReadResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CsCreditScoreDetailsReadServiceSoap11" type="tns:CsCreditScoreDetailsReadService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="csCreditScoreDetailsRead">
         <soap:operation soapAction=""/>
         <wsdl:input name="csCreditScoreDetailsReadRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="csCreditScoreDetailsReadResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CsCreditScoreDetailsReadService">
      <wsdl:port binding="tns:CsCreditScoreDetailsReadServiceSoap11" name="CsCreditScoreDetailsReadServiceSoap11">
         <soap:address location="http://10.103.23.91:20103/wsi/services"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>