src/CommonProject/BusinessWSDLS/Services/WSDLS/IncidentManagement_Inbound/IncidentManagement-Northbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/IncidentManagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/IncidentManagement/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/IncidentManagement">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xsd:element name="FaultType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="type" type="xsd:string"/>
                        <xsd:element name="code" type="xsd:string"/>
                        <xsd:element name="description" type="xsd:string"/>
                        <xsd:element name="sourceSystem" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="extErrorCode" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="detail" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ParamList">
                <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    <xsd:element maxOccurs="unbounded" name="StringParam" type="com:StringParam"/>
                    <xsd:element maxOccurs="unbounded" name="BooleanParam" type="com:BooleanParam"/>
                    <xsd:element maxOccurs="unbounded" name="IntParam" type="com:IntParam"/>
                    <xsd:element maxOccurs="unbounded" name="LongParam" type="com:LongParam"/>
                    <xsd:element maxOccurs="unbounded" name="FloatParam" type="com:FloatParam"/>
                    <xsd:element maxOccurs="unbounded" name="DecimalParam" type="com:DecimalParam"/>
                    <xsd:element maxOccurs="unbounded" name="DoubleParam" type="com:DoubleParam"/>
                    <xsd:element maxOccurs="unbounded" name="DateParam" type="com:DateParam"/>
                    <xsd:element maxOccurs="unbounded" name="DateTimeParam" type="com:DateTimeParam"/>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="StringParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DecimalParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:decimal">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BooleanParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:boolean">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="IntParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:int">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="LongParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:long">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="FloatParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:float">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DoubleParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:double">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DateParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:date">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DateTimeParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:dateTime">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/IncidentManagement/Types">
            <xsd:simpleType name="ImpactType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Extensive"/>
                    <xsd:enumeration value="Significant"/>
                    <xsd:enumeration value="Moderate"/>
                    <xsd:enumeration value="Minor"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UrgencyType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Critical"/>
                    <xsd:enumeration value="High"/>
                    <xsd:enumeration value="Medium"/>
                    <xsd:enumeration value="Low"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PriorityType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Critical"/>
                    <xsd:enumeration value="High"/>
                    <xsd:enumeration value="Medium"/>
                    <xsd:enumeration value="Low"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ServiceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UserIncident"/>
                    <xsd:enumeration value="UserRequest"/>
                    <xsd:enumeration value="SystemIncident"/>
                    <xsd:enumeration value="SystemEvent"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="StatusType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="New"/>
                    <xsd:enumeration value="Assigned"/>
                    <xsd:enumeration value="In Progress"/>
                    <xsd:enumeration value="Pending"/>
                    <xsd:enumeration value="Resolved"/>
                    <xsd:enumeration value="Closed"/>
                    <xsd:enumeration value="Cancelled"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="StatusDateType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Created" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="Resolved" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="Closed" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="Cancelled" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategorizationItem">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="Tier" type="xsd:int" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="CategorizationType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="Category" type="typ:CategorizationItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContactType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="First" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="MiddleInitial" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Last" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LoginID" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="PhoneNumber" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Company" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CorporateID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AssignedToType">
                <xsd:complexContent>
                    <xsd:extension base="typ:ContactType">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="Organization" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Group" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ShiftName" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="AttachmentType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Data" type="xsd:base64Binary"/>
					<!--					<xsd:element name = "Size" type = "xsd:int"/>-->
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AttachmentList">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attachment" type="typ:AttachmentType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BaseWorkLogType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Type" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Source" type="xsd:string"/>
                    <xsd:element name="Summary" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Private" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Locked" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="Attachments" type="typ:AttachmentList"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WorkLogType">
                <xsd:complexContent>
                    <xsd:extension base="typ:BaseWorkLogType">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="InstanceID" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="SubmitDate" type="xsd:dateTime"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ProductInfoType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Manufacturer" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Categorization" type="typ:CategorizationType"/>
                    <xsd:element minOccurs="0" name="ModelVersion" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WorkLogList">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkItem" type="typ:WorkLogType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BaseIncidentType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Customer" type="typ:ContactType"/>
                    <xsd:element name="AssignedTo" type="typ:AssignedToType"/>
                    <xsd:element minOccurs="0" name="Categorization" type="typ:CategorizationType"/>
                    <xsd:element name="Status" type="typ:StatusType"/>
                    <xsd:element name="Summary" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Impact" type="typ:ImpactType"/>
                    <xsd:element minOccurs="0" name="Urgency" type="typ:UrgencyType"/>
                    <xsd:element minOccurs="0" name="ServiceType" type="typ:ServiceType"/>
                    <xsd:element minOccurs="0" name="ReportedSource" type="xsd:string"/>
                    <xsd:element name="DirectContact" type="typ:ContactType"/>
                    <xsd:element minOccurs="0" name="ProductInfo" type="typ:ProductInfoType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IncidentType">
                <xsd:complexContent>
                    <xsd:extension base="typ:BaseIncidentType">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="IncidentID" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="StatusReason" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="VIP" type="xsd:boolean"/>
                            <xsd:element minOccurs="0" name="Priority" type="typ:PriorityType"/>
                            <xsd:element minOccurs="0" name="PriorityWeight" type="xsd:int"/>
                            <xsd:element minOccurs="0" name="TargetDate" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0" name="Resolution" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ResolutionCategorization" type="typ:CategorizationType"/>
                            <xsd:element minOccurs="0" name="StatusDates" type="typ:StatusDateType"/>
                            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ClosureProductInfo" type="typ:ProductInfoType"/>
                            <xsd:element minOccurs="0" name="Params" type="com:ParamList"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="IncidentListType">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Incident" type="typ:IncidentType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="QueryIncidentsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Filter" type="xsd:string"/>
                        <xsd:element name="StartRecord" type="xsd:string"/>
                        <xsd:element name="PageSize" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryIncidentsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Incidents" type="typ:IncidentListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryWorkLogRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IncidentID" type="xsd:string"/>
                        <xsd:element name="IncludeAttachments" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryWorkLogResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="WorkLog" type="typ:WorkLogList"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateIncidentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Incident">
                            <xsd:complexType>
                                <xsd:complexContent>
                                    <xsd:extension base="typ:BaseIncidentType">
                                        <xsd:sequence>
                                            <xsd:element minOccurs="0" name="Params" type="com:ParamList"/>
                                        </xsd:sequence>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateIncidentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IncidentID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateIncidentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Incident" type="typ:IncidentType"/>
                        <xsd:element minOccurs="0" name="WorkLog" type="typ:BaseWorkLogType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateIncidentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="QueryIncidentsRequest">
        <part element="typ:QueryIncidentsRequest" name="QueryIncidentsRequest"/>
    </message>
    <message name="QueryIncidentsResponse">
        <part element="typ:QueryIncidentsResponse" name="QueryIncidentsResponse"/>
    </message>
    <message name="QueryWorkLogRequest">
        <part element="typ:QueryWorkLogRequest" name="QueryWorkLogRequest"/>
    </message>
    <message name="QueryWorkLogResponse">
        <part element="typ:QueryWorkLogResponse" name="QueryWorkLogResponse"/>
    </message>
    <message name="CreateIncidentRequest">
        <part element="typ:CreateIncidentRequest" name="CreateIncidentRequest"/>
    </message>
    <message name="CreateIncidentResponse">
        <part element="typ:CreateIncidentResponse" name="CreateIncidentResponse"/>
    </message>
    <message name="UpdateIncidentRequest">
        <part element="typ:UpdateIncidentRequest" name="UpdateIncidentRequest"/>
    </message>
    <message name="UpdateIncidentResponse">
        <part element="typ:UpdateIncidentResponse" name="UpdateIncidentResponse"/>
    </message>
    <message name="faultMessage">
        <part element="com:FaultType" name="fault"/>
    </message>
    <portType name="IncidentManagementPort">
        <operation name="QueryIncidents">
            <input message="tns:QueryIncidentsRequest"/>
            <output message="tns:QueryIncidentsResponse"/>
            <fault message="tns:faultMessage" name="fault"/>
        </operation>
        <operation name="QueryWorkLog">
            <input message="tns:QueryWorkLogRequest"/>
            <output message="tns:QueryWorkLogResponse"/>
            <fault message="tns:faultMessage" name="fault"/>
        </operation>
        <operation name="CreateIncident">
            <input message="tns:CreateIncidentRequest"/>
            <output message="tns:CreateIncidentResponse"/>
            <fault message="tns:faultMessage" name="fault"/>
        </operation>
        <operation name="UpdateIncident">
            <input message="tns:UpdateIncidentRequest"/>
            <output message="tns:UpdateIncidentResponse"/>
            <fault message="tns:faultMessage" name="fault"/>
        </operation>
    </portType>
    <binding name="IncidentManagementBinding" type="tns:IncidentManagementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="QueryIncidents">
            <soap:operation soapAction="QueryIncidents" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="QueryWorkLog">
            <soap:operation soapAction="QueryWorkLog" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="CreateIncident">
            <soap:operation soapAction="CreateIncident" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="UpdateIncident">
            <soap:operation soapAction="UpdateIncident" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="IncidentManagementService">
        <port binding="tns:IncidentManagementBinding" name="IncidentManagementPort">
            <soap:address location="some_endpoint"/>
        </port>
    </service>
</definitions>