src/BPI/BusinessProcesses/Services/Common/eAccountManagement/HelperProcess/CBiO2SubscriberServicesListWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="CBiO2SubscriberServicesList_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2SubscriberServicesList_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ActiveDataService" type="xsd:string"/>
                        <xsd:element name="ActivePostpaidSubscriber" type="xsd:string"/>
                        <xsd:element name="ActivePrepaidSubsriber" type="xsd:string"/>
                        <xsd:element name="ActiveVoiceService" type="xsd:string"/>
                        <xsd:element name="DataService" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="PostpaidSubscriber" type="xsd:string"/>
                        <xsd:element name="PrepaidSubscriber" type="xsd:string"/>
                        <xsd:element name="VoiceService" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CBiO2SubscriberServicesList_Input">
        <part element="tns:CBiO2SubscriberServicesList_Input" name="CBiO2SubscriberServicesList_Input"/>
    </message>
    <message name="CBiO2SubscriberServicesList_Output">
        <part element="tns:CBiO2SubscriberServicesList_Output" name="CBiO2SubscriberServicesList_Output"/>
    </message>
    <portType name="CBiO2_spcRetrieve_spcSubscriber_spcLists_spcWorkflow">
        <operation name="CBiO2SubscriberServicesList">
            <input message="tns:CBiO2SubscriberServicesList_Input"/>
            <output message="tns:CBiO2SubscriberServicesList_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcRetrieve_spcSubscriber_spcLists_spcWorkflow" type="tns:CBiO2_spcRetrieve_spcSubscriber_spcLists_spcWorkflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CBiO2SubscriberServicesList">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2SubscriberServicesList"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2SubscriberServicesListWS">
        <port binding="tns:CBiO2_spcRetrieve_spcSubscriber_spcLists_spcWorkflow" name="CBiO2_spcRetrieve_spcSubscriber_spcLists_spcWorkflow">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>