src/CommonProject/BusinessSchemas/Services/Applications/Common/Biometric/QueryOrderDetails/QueryOrdDetailsRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/QueryOrdDetailsRes.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/QueryOrdDetailsRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="OrderDetailsBiometricsRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrderHeader" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="accountId" type="xs:string" minOccurs="0"/>
							<xs:element name="agreementId" type="xs:string" minOccurs="0"/>
							<xs:element name="agreementName" type="xs:string" minOccurs="0"/>
							<xs:element name="asOfDate" type="xs:string" minOccurs="0"/>
							<xs:element name="billingProfileId" type="xs:string" minOccurs="0"/>
							<xs:element name="CWServiceOrderNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
							<xs:element name="CreatedbyPerson" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderSubType" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderType" type="xs:string" minOccurs="0"/>
							<xs:element name="SalesChannel" type="xs:string" minOccurs="0"/>
							<xs:element name="cancelReason" type="xs:string" minOccurs="0"/>
							<xs:element name="changeReason" type="xs:string" minOccurs="0"/>
							<xs:element name="comments" type="xs:string" minOccurs="0"/>
							<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
							<xs:element name="mRCTotal" type="xs:string" minOccurs="0"/>
							<xs:element name="costomerEmailAddress" type="xs:string" minOccurs="0"/>
							<xs:element name="nRCTotal" type="xs:string" minOccurs="0"/>
							<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="orderPriority" type="xs:string" minOccurs="0"/>
							<xs:element name="orderTotal" type="xs:string" minOccurs="0"/>
							<xs:element name="orderType" type="xs:string" minOccurs="0"/>
							<xs:element name="primaryOrganization" type="xs:string" minOccurs="0"/>
							<xs:element name="requestedShipDate" type="xs:string" minOccurs="0"/>
							<xs:element name="revision" type="xs:string" minOccurs="0"/>
							<xs:element name="serviceRequestId" type="xs:string" minOccurs="0"/>
							<xs:element name="serviceRequestNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="status" type="xs:string" minOccurs="0"/>
							<xs:element name="SalesAgentId" type="xs:string" minOccurs="0"/>
							<xs:element name="SalesAgentName" type="xs:string" minOccurs="0"/>
							<xs:element name="BSCSBillingAccountNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="TotalRCAdvance" type="xs:string" minOccurs="0"/>
							<xs:element name="TotalNRCUpfront" type="xs:string" minOccurs="0"/>
							<xs:element name="DepositAmount" type="xs:string" minOccurs="0"/>
							<xs:element name="ShopId" type="xs:string" minOccurs="0"/>
							<xs:element name="ShopName" type="xs:string" minOccurs="0"/>
							<xs:element name="ShopType" type="xs:string" minOccurs="0"/>
							<xs:element name="BatchFlag" type="xs:string" minOccurs="0"/>
							<xs:element name="BatchNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="ArabicFullName" type="xs:string" minOccurs="0"/>
							<xs:element name="EnglishFullName" type="xs:string" minOccurs="0"/>
							<xs:element name="BSCSCustomerId" type="xs:string" minOccurs="0"/>
							<xs:element name="BillCycle" type="xs:string" minOccurs="0"/>
							<xs:element name="BusinessUnit" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerType" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerCategory" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerPrefLanguageCode" type="xs:string" minOccurs="0"/>
							<xs:element name="PrefCommunicationChannel" type="xs:string" minOccurs="0"/>
							<xs:element name="PrefCommStartTime" type="xs:string" minOccurs="0"/>
							<xs:element name="PrefCommEndTime" type="xs:string" minOccurs="0"/>
							<xs:element name="NotificationNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerSegment" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerSubCorporateSegment" type="xs:string" minOccurs="0"/>
							<xs:element name="ZainStaffId" type="xs:string" minOccurs="0"/>
							<xs:element name="KAMId" type="xs:string" minOccurs="0"/>
							<xs:element name="KAM" type="xs:string" minOccurs="0"/>
							<xs:element name="BulkRequestId" type="xs:string" minOccurs="0"/>
							<xs:element name="OldAccountId" type="xs:string" minOccurs="0"/>
							<xs:element name="OldArabicFullName" type="xs:string" minOccurs="0"/>
							<xs:element name="OldBSCSBillingAccountNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="OldBSCSCustomerId" type="xs:string" minOccurs="0"/>
							<xs:element name="OldBillCycle" type="xs:string" minOccurs="0"/>
							<xs:element name="OldBillingProfileId" type="xs:string" minOccurs="0"/>
							<xs:element name="OldCategory" type="xs:string" minOccurs="0"/>
							<xs:element name="OldEnglishFullName" type="xs:string" minOccurs="0"/>
							<xs:element name="OldNotificationNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="NPOrderId" type="xs:string" minOccurs="0"/>
							<xs:element name="WarehouseCode" type="xs:string" minOccurs="0"/>
							<xs:element name="OldContractCode" type="xs:string" minOccurs="0"/>
							<xs:element name="AccountIDNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="AccountIDType" type="xs:string" minOccurs="0"/>
							<xs:element name="pdfsourcepath" type="xs:string" minOccurs="0"/>
							<xs:element name="pdfurl" type="xs:string" minOccurs="0"/>
							<xs:element name="listOfSubscriber" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Subscribers" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:string" minOccurs="0"/>
													<xs:element name="billingProfileId" type="xs:string" minOccurs="0"/>
													<xs:element name="billingProfileName" type="xs:string" minOccurs="0"/>
													<xs:element name="ContractEndDt" type="xs:string" minOccurs="0"/>
													<xs:element name="ContractStartDate" type="xs:string" minOccurs="0"/>
													<xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
													<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
													<xs:element name="DefCreditLimit" type="xs:string" minOccurs="0"/>
													<xs:element name="IVRLang" type="xs:string" minOccurs="0"/>
													<xs:element name="LineType" type="xs:string" minOccurs="0"/>
													<xs:element name="OptedCreditLimit" type="xs:string" minOccurs="0"/>
													<xs:element name="PrefCommChannel" type="xs:string" minOccurs="0"/>
													<xs:element name="SalesCallingFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberEmail" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberNo" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberNotificationPhone" type="xs:string" minOccurs="0"/>
													<xs:element name="integrationId" type="xs:string" minOccurs="0"/>
													<xs:element name="previousServiceId" type="xs:string" minOccurs="0"/>
													<xs:element name="product" type="xs:string" minOccurs="0"/>
													<xs:element name="endDate" type="xs:string" minOccurs="0"/>
													<xs:element name="serviceId" type="xs:string" minOccurs="0"/>
													<xs:element name="startDate" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberPrefLanguageCode" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberStatus" type="xs:string" minOccurs="0"/>
													<xs:element name="productType" type="xs:string" minOccurs="0"/>
													<xs:element name="BSCSContractId" type="xs:string" minOccurs="0"/>
													<xs:element name="PrefCommStartTime" type="xs:string" minOccurs="0"/>
													<xs:element name="PrefCommEndTime" type="xs:string" minOccurs="0"/>
													<xs:element name="BSCSBillingAccountNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="Market" type="xs:string" minOccurs="0"/>
													<xs:element name="SubMarket" type="xs:string" minOccurs="0"/>
													<xs:element name="CallDetails" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberFullNameArabic" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberFullNameEnglish" type="xs:string" minOccurs="0"/>
													<xs:element name="Location" type="xs:string" minOccurs="0"/>
													<xs:element name="SpendLimit" type="xs:string" minOccurs="0"/>
													<xs:element name="DNId" type="xs:string" minOccurs="0"/>
													<xs:element name="VPNCommunityId" type="xs:string" minOccurs="0"/>
													<xs:element name="VPNShortCode" type="xs:string" minOccurs="0"/>
													<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
													<xs:element name="SIMNum" type="xs:string" minOccurs="0"/>
													<xs:element name="CCExemptionFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="SubscriberFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="CollectionExemptionFlag" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="listOfOrderLineItems" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OrderLineItems" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:string" minOccurs="0"/>
													<xs:element name="actionCode" type="xs:string" minOccurs="0"/>
													<xs:element name="billingProfileId" type="xs:string" minOccurs="0"/>
													<xs:element name="billingProfileName" type="xs:string" minOccurs="0"/>
													<xs:element name="AdvanceRCAmount" type="xs:string" minOccurs="0"/>
													<xs:element name="InstallmentAmount" type="xs:string" minOccurs="0"/>
													<xs:element name="AdvanceRCPaymentFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
													<xs:element name="InstallmentEndDate" type="xs:string" minOccurs="0"/>
													<xs:element name="InstallmentFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="InstallmentPeriod" type="xs:string" minOccurs="0"/>
													<xs:element name="InstallmentStartDate" type="xs:string" minOccurs="0"/>
													<xs:element name="InventoryFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="MSISDNCategory" type="xs:string" minOccurs="0"/>
													<xs:element name="NoOfAdvRCBillCycle" type="xs:string" minOccurs="0"/>
													<xs:element name="OldIMSI" type="xs:string" minOccurs="0"/>
													<xs:element name="PosttoInvoiceAmount" type="xs:string" minOccurs="0"/>
													<xs:element name="PosttoInvoiceFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="SIMCategory" type="xs:string" minOccurs="0"/>
													<xs:element name="SIMNum" type="xs:string" minOccurs="0"/>
													<xs:element name="SIMType" type="xs:string" minOccurs="0"/>
													<xs:element name="UpfrontPaymentAmount" type="xs:string" minOccurs="0"/>
													<xs:element name="UpfrontPaymentFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="discountAmount" type="xs:string" minOccurs="0"/>
													<xs:element name="discountPercent" type="xs:string" minOccurs="0"/>
													<xs:element name="dueDate" type="xs:string" minOccurs="0"/>
													<xs:element name="integrationId" type="xs:string" minOccurs="0"/>
													<xs:element name="itemType" type="xs:string" minOccurs="0"/>
													<xs:element name="mRCCxTotal" type="xs:string" minOccurs="0"/>
													<xs:element name="nRCCxTotal" type="xs:string" minOccurs="0"/>
													<xs:element name="netPrice" type="xs:string" minOccurs="0"/>
													<xs:element name="orderHeaderId" type="xs:string" minOccurs="0"/>
													<xs:element name="parentProductId" type="xs:string" minOccurs="0"/>
													<xs:element name="partNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="previousServiceId" type="xs:string" minOccurs="0"/>
													<xs:element name="product" type="xs:string" minOccurs="0"/>
													<xs:element name="productId" type="xs:string" minOccurs="0"/>
													<xs:element name="productType" type="xs:string" minOccurs="0"/>
													<xs:element name="rootOrderItemId" type="xs:string" minOccurs="0"/>
													<xs:element name="rootProductId" type="xs:string" minOccurs="0"/>
													<xs:element name="serviceEndDate" type="xs:string" minOccurs="0"/>
													<xs:element name="serviceId" type="xs:string" minOccurs="0"/>
													<xs:element name="serviceStartDate" type="xs:string" minOccurs="0"/>
													<xs:element name="startPrice" type="xs:string" minOccurs="0"/>
													<xs:element name="status" type="xs:string" minOccurs="0"/>
													<xs:element name="InventorySerialNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="ParentProdGlobalIdentifier" type="xs:string" minOccurs="0"/>
													<xs:element name="ProdGlobalIdentifier" type="xs:string" minOccurs="0"/>
													<xs:element name="PromotionGlobalIdentifier" type="xs:string" minOccurs="0"/>
													<xs:element name="ParentProductName" type="xs:string" minOccurs="0"/>
													<xs:element name="BSCSBillingAccountNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="SIMResId" type="xs:string" minOccurs="0"/>
													<xs:element name="LineItemRelationId" type="xs:string" minOccurs="0"/>
													<xs:element name="OfferSubType" type="xs:string" minOccurs="0"/>
													<xs:element name="OfferType" type="xs:string" minOccurs="0"/>
													<xs:element name="PrepaidCharge" type="xs:string" minOccurs="0"/>
													<xs:element name="PrepaidFrequency" type="xs:string" minOccurs="0"/>
													<xs:element name="ProductSubType" type="xs:string" minOccurs="0"/>
													<xs:element name="Renewal" type="xs:string" minOccurs="0"/>
													<xs:element name="priceType" type="xs:string" minOccurs="0"/>
													<xs:element name="GiftReceiverMSISDN" type="xs:string" minOccurs="0"/>
													<xs:element name="GiftingFlag" type="xs:string" minOccurs="0"/>
													<xs:element name="GiftReceiverIMSI" type="xs:string" minOccurs="0"/>
													<xs:element name="GiftReceiverSIMNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="GiftReceiverContractId" type="xs:string" minOccurs="0"/>
													<xs:element name="GiftReceiverLineType" type="xs:string" minOccurs="0"/>
													<xs:element name="APN" type="xs:string" minOccurs="0"/>
													<xs:element name="ItemCode" type="xs:string" minOccurs="0"/>
													<xs:element name="KI" type="xs:string" minOccurs="0"/>
													<xs:element name="PIN1" type="xs:string" minOccurs="0"/>
													<xs:element name="PIN2" type="xs:string" minOccurs="0"/>
													<xs:element name="PUK1" type="xs:string" minOccurs="0"/>
													<xs:element name="PUK2" type="xs:string" minOccurs="0"/>
													<xs:element name="ICCID" type="xs:string" minOccurs="0"/>
													<xs:element name="DataSharingflag" type="xs:string" minOccurs="0"/>
													<xs:element name="NewSharedValue" type="xs:string" minOccurs="0"/>
													<xs:element name="OldSharedValue" type="xs:string" minOccurs="0"/>
													<xs:element name="Volume" type="xs:string" minOccurs="0"/>
													<xs:element name="SharedServiceCFSId" type="xs:string" minOccurs="0"/>
													<xs:element name="SharedServiceName" type="xs:string" minOccurs="0"/>
													<xs:element name="UOM" type="xs:string" minOccurs="0"/>
													<xs:element name="VendorCode" type="xs:string" minOccurs="0"/>
													<xs:element name="quantity" type="xs:string" minOccurs="0"/>
													<xs:element name="PreviousQuantity" type="xs:string" minOccurs="0"/>
													<xs:element name="ReservationNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="ReservedFlag" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="listOfPayments" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Payments" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="id" type="xs:string" minOccurs="0"/>
													<xs:element name="accountNumber2" type="xs:string" minOccurs="0"/>
													<xs:element name="authorizationCode" type="xs:string" minOccurs="0"/>
													<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
													<xs:element name="description" type="xs:string" minOccurs="0"/>
													<xs:element name="expirationMonth" type="xs:string" minOccurs="0"/>
													<xs:element name="expirationYear" type="xs:string" minOccurs="0"/>
													<xs:element name="issuingBankName" type="xs:string" minOccurs="0"/>
													<xs:element name="lineNumber3" type="xs:string" minOccurs="0"/>
													<xs:element name="orderNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="payment" type="xs:string" minOccurs="0"/>
													<xs:element name="paymentAccountId" type="xs:string" minOccurs="0"/>
													<xs:element name="paymentDate" type="xs:string" minOccurs="0"/>
													<xs:element name="paymentMethod" type="xs:string" minOccurs="0"/>
													<xs:element name="paymentStatus" type="xs:string" minOccurs="0"/>
													<xs:element name="paymentType" type="xs:string" minOccurs="0"/>
													<xs:element name="transactionAmount" type="xs:string" minOccurs="0"/>
													<xs:element name="transactionType" type="xs:string" minOccurs="0"/>
													<xs:element name="BSCSBillingAccountNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="CustomerBSCSId" type="xs:string" minOccurs="0"/>
													<xs:element name="CustomerCategory" type="xs:string" minOccurs="0"/>
													<xs:element name="MerchantId" type="xs:string" minOccurs="0"/>
													<xs:element name="ReceiptNo" type="xs:string" minOccurs="0"/>
													<xs:element name="ShopId" type="xs:string" minOccurs="0"/>
													<xs:element name="TabsBillCode" type="xs:string" minOccurs="0"/>
													<xs:element name="TabsServiceCode" type="xs:string" minOccurs="0"/>
													<xs:element name="TerminalId" type="xs:string" minOccurs="0"/>
													<xs:element name="Username" type="xs:string" minOccurs="0"/>
													<xs:element name="PayDesk" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="listOfLegalText">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LegalTexts" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="legalTextId" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermId" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermText" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR10" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR2" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR3" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR4" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR5" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR6" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR7" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR8" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextAR9" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN10" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN2" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN3" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN4" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN5" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN6" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN7" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN8" type="xs:string" minOccurs="0"/>
													<xs:element name="packageTermTextEN9" type="xs:string" minOccurs="0"/>
													<xs:element name="productName" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermId" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermText" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR10" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR2" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR3" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR4" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR5" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR6" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR7" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR8" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextAR9" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN10" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN2" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN3" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN4" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN5" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN6" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN7" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN8" type="xs:string" minOccurs="0"/>
													<xs:element name="productTermTextEN9" type="xs:string" minOccurs="0"/>
													<xs:element name="serviceType" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>