src/CommonProject/BusinessWSDLS/Services/BSCS/PaymentInfo/ws_CMI_5_MonthlypaymentInfoReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/monthlypaymentinforead" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/monthlypaymentinforead" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/monthlypaymentinforead"><xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/><xs:element name="monthlypaymentInfoReadRequest" type="wsi:monthlypaymentInfoReadRequest"/><xs:element name="monthlypaymentInfoReadResponse" type="wsi:monthlypaymentInfoReadResponse"/><xs:complexType name="monthlyPaymentListListpartResponse"><xs:all><xs:element minOccurs="0" name="month" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>MONTHS</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="year" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>YEARS </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="monthlyAmount" type="xs:double"><xs:annotation><xs:documentation>
													<![CDATA[<p>AMOUNT PER MONTH </p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="monthlyPaymentListResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:monthlyPaymentListListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="monthlypaymentInfoReadResponse"><xs:all><xs:element minOccurs="0" name="totalAmount" type="xs:double"><xs:annotation><xs:documentation>
							<![CDATA[<p>TOTAL AMOUNT FOR NUMBER OF MONTHS </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="monthlyPaymentList" type="wsi:monthlyPaymentListResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p></p>]]>
				</xs:documentation></xs:annotation><xs:element name="dnNum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>MSISDN</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="limit" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>NUMBER OF MONTHS</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="level" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>LEVEL</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="monthlypaymentInfoReadRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="monthlypaymentInfoReadResponse">
    <wsdl:part element="sch3:monthlypaymentInfoReadResponse" name="monthlypaymentInfoReadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="monthlypaymentInfoReadRequest">
    <wsdl:part element="sch3:monthlypaymentInfoReadRequest" name="monthlypaymentInfoReadRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MonthlypaymentInfoReadService">
    <wsdl:operation name="monthlypaymentInfoRead">
      <wsdl:input message="tns:monthlypaymentInfoReadRequest" name="monthlypaymentInfoReadRequest">
    </wsdl:input>
      <wsdl:output message="tns:monthlypaymentInfoReadResponse" name="monthlypaymentInfoReadResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonthlypaymentInfoReadServiceSoap11" type="tns:MonthlypaymentInfoReadService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="monthlypaymentInfoRead">
      <soap:operation soapAction=""/>
      <wsdl:input name="monthlypaymentInfoReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="monthlypaymentInfoReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonthlypaymentInfoReadService">
    <wsdl:port binding="tns:MonthlypaymentInfoReadServiceSoap11" name="MonthlypaymentInfoReadServiceSoap11">
      <soap:address location="/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>