src/BPI_FinMgmt/BusinessProcesses/Services/Common/SalesOrder/Resources/WSDls/ExecuteRecharge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/ExecuteRecharge/Types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.ericsson.com/BusinessSchemas/Common/JMSHeader/Header.xsd" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/ExecuteRecharge/Types">
    <wsdl:types>
        <xs:schema xmlns="http://www.ericsson.com/BusinessSchemas/Common/JMSHeader/Header.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/BusinessSchemas/Common/JMSHeader/Header.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="_applicationProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="JMSDestination" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSReplyTo" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSDeliveryMode" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSMessageID" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSTimestamp" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSExpiration" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSRedelivered" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSPriority" type="xs:string" minOccurs="0"/>
                        <xs:element name="JMSType" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Services/ExecuteRecharge/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestHeader">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conversationID" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/ExecuteRecharge/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="RechargedAccounts">
                <xs:sequence>
                    <xs:element name="AccountName" type="xs:string"/>
                    <xs:element name="RechargeAmount" type="xs:decimal"/>
                    <xs:element name="NewBalance" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="RechargeByVoucherInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element name="HRN" type="xs:string"/>
                        <xs:element name="Purpose" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RechargeByVoucherOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RechargedAccounts" type="tns:RechargedAccounts" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RechargeInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element name="Amount" type="xs:decimal"/>
                        <xs:element name="UserId" type="xs:string"/>
                        <xs:element name="Role" type="xs:short" minOccurs="0"/>
                        <xs:element name="TransactionId" type="xs:string"/>
                        <xs:element name="MerchantId" type="xs:string"/>
                        <xs:element name="ProductId" type="xs:string"/>
                        <xs:element name="Purpose" type="xs:string"/>
                        <xs:element name="AccountId" type="xs:long"/>
                        <xs:element name="AccountType" type="xs:short"/>
                        <xs:element name="FrontendId" type="xs:string"/>
                        <xs:element name="ExpiryMode" type="xs:byte"/>
                        <xs:element name="ExpiryValue" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RechargeOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionId" nillable="true" type="xs:string"/>
                        <xs:element name="ExecutionStatus" nillable="true" type="xs:short"/>
                        <xs:element name="TransparentData" nillable="true" type="xs:string"/>
                        <xs:element name="NewBalance" nillable="true" type="xs:decimal"/>
                        <xs:element name="OldExpiryDate" type="xs:dateTime"/>
                        <xs:element name="NewExpiryDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ExecuteRecharge.serviceagent">
        <wsdl:port name="ExecuteRechargePortEndpoint" binding="tns:ExecuteRechargePortEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DEV.DOM_ESB.GW.TRANS_MGMT.TRANS_RECHARGE.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ExecuteRechargePort">
        <wsdl:operation name="RechargeByVoucher">
            <wsdl:input message="tns:RechargeByVoucherRequest"/>
            <wsdl:output message="tns:RechargeByVoucherResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ExecuteRecharge">
            <wsdl:input message="tns:ExecuteRechargeRequest"/>
            <wsdl:output message="tns:ExecuteRechargeResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExecuteRechargePortEndpointBinding" type="tns:ExecuteRechargePort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="RechargeByVoucher">
            <soap:operation style="document" soapAction="RechargeByVoucher"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
                <soap:header use="literal" message="tns:InputHeader" part="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ExecuteRecharge">
            <soap:operation style="document" soapAction="ExecuteRecharge"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
                <soap:header use="literal" message="tns:InputHeader" part="Input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InputHeader">
        <wsdl:part name="Input" element="ns0:_applicationProperties"/>
    </wsdl:message>
    <wsdl:message name="RechargeByVoucherRequest">
        <wsdl:part name="request" element="tns:RechargeByVoucherInput"/>
    </wsdl:message>
    <wsdl:message name="RechargeByVoucherResponse">
        <wsdl:part name="response" element="tns:RechargeByVoucherOutput"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="ns1:FaultType"/>
    </wsdl:message>
    <wsdl:message name="ExecuteRechargeRequest">
        <wsdl:part name="request" element="tns:RechargeInput"/>
    </wsdl:message>
    <wsdl:message name="ExecuteRechargeResponse">
        <wsdl:part name="response" element="tns:RechargeOutput"/>
    </wsdl:message>
</wsdl:definitions>