src/ESI_BSCS/BusinessProcesses/Services/Query/SubscriberAccountSum/Schema/SubscriberAccountSumResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CO_ID" type="xs:string" nillable="true"  minOccurs="0"/>
										<xs:element name="PASTDUE_AMNT" type="xs:string" minOccurs="0"/>
										<xs:element name="TOTAL_UNBILLED_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="DEPOSIT_AMNT" type="xs:string" nillable="true"  minOccurs="0"/>
										<xs:element name="TOTAL_AMNT" type="xs:string" nillable="true"  minOccurs="0"/>
										<xs:element name="LBC_DATE" type="xs:string" nillable="true" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>