src/ESI_CMS/BusinessProcesses/Services/Query/SendCampaignFeedback/Schema/SendCampaignFeedbackResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="writeResponseOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="results" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="results">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:long" minOccurs="0"/>
				<xs:element name="responseHistoryId" type="xs:long" minOccurs="0"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="referenceId" type="xs:long" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>