src/CommonProject/BusinessSchemas/Services/Phase1Schemas/GetCallHistory/GetCallHistoryRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetCallHistory/GetCallHistoryRes.xsd"
	xmlns:cdm="http://www.ericsson.com/CDM/telecom/SubscriberUsageDetails"
	xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header"
	xmlns:ns1="http://www.ericsson.com/CDM/telecom/Response"
	targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetCallHistory/GetCallHistoryRes.xsd"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/SubscriberUsageDetails"
		schemaLocation="../../../../CDM/SubscriberUsageDetails.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header"
		schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response"
		schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:element name="GetCallHistoryRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="ns1:Response"/>
				<xs:element name="ListOfCallDetails">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CallDetails" type="CallDetailsType"
								minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="UsedAccount">
		<xs:sequence>
			<xs:element name="Cost" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountName" type="xs:string" minOccurs="0"/>
			<xs:element name="NewBalance" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsedAccountList">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="UsedAccount" type="UsedAccount"/>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="CallDetailsType">
		<xs:sequence>
			<xs:element ref="cdm:SubscriberUsageDetails" minOccurs="0"/>
			<xs:element name="CallDuration" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CallStartDateTime" type="xs:dateTime"/>
						<xs:element name="EndStartDateTime" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UsedServiceClass" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CallType" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UsedAccountList" type="UsedAccountList" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
