src/CommonProject/BusinessWSDLS/Services/BSCS/NumberFlow/MsisdnStatusReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/msisdnstatusread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;New value for a named value.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>&lt;p&gt;
						
						&lt;/p&gt;</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/msisdnstatusread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/msisdnstatusread">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="msisdnStatusReadRequest" type="wsi:msisdnStatusReadRequest"/>
            <xs:element name="msisdnStatusReadResponse" type="wsi:msisdnStatusReadResponse"/>
            <xs:complexType name="msisdnStatusReadResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number Id&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dncodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;DNCODE Description&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dealerId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Dealer Id&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dealerIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Dealer Id Description&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="status" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number Status&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="isReserved" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Flag To Denote if the MSISDN is reserved.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="isLocked" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Flag To Denote if the MSISDN is locked.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="remarks" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;DN_RESERVATION.REMARKS&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="isGifted" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number is GIFTED or NOT&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number Id&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="msisdnStatusReadRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="msisdnStatusReadRequest">
        <wsdl:part element="sch3:msisdnStatusReadRequest" name="msisdnStatusReadRequest">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="msisdnStatusReadResponse">
        <wsdl:part element="sch3:msisdnStatusReadResponse" name="msisdnStatusReadResponse">    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MsisdnStatusReadService">
        <wsdl:operation name="msisdnStatusRead">
            <wsdl:input message="tns:msisdnStatusReadRequest" name="msisdnStatusReadRequest">    </wsdl:input>
            <wsdl:output message="tns:msisdnStatusReadResponse" name="msisdnStatusReadResponse">    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MsisdnStatusReadServiceSoap11" type="tns:MsisdnStatusReadService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="msisdnStatusRead">
            <soap:operation soapAction=""/>
            <wsdl:input name="msisdnStatusReadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="msisdnStatusReadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MsisdnStatusReadService">
        <wsdl:port binding="tns:MsisdnStatusReadServiceSoap11" name="MsisdnStatusReadServiceSoap11">
            <soap:address location="http://10.96.103.211:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>