src/CommonProject/BusinessWSDLS/Services/BSCS/NumberFlow/ws_CMI_5_MsisdnReserveService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/msisdnreserve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;New value for a named value.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>&lt;p&gt;
						
						&lt;/p&gt;</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/msisdnreserve" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/msisdnreserve">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="msisdnReserveRequest" type="wsi:msisdnReserveRequest"/>
            <xs:element name="msisdnReserveResponse" type="wsi:msisdnReserveResponse"/>
            <xs:complexType name="msisdnReserveResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number Id&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="reservationNum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Reservation Number&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="status" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number Status&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="remarks" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;DN_RESERVATION.REMARKS&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number Id&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="requesterMsisdn" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Requester Directory Number&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="reservationNum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Reservation Number&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="username" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;User name&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="channelName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Channel Name&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="remarks" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Remarks&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="reservedUntil" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Reserve an MSISDN until a given date&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="customerType" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Customer Type. Possible values are VOICE or DATA. Default value is VOICE&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="numberType" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;NUMBER_TYPE Type. Possible values are PRE or POST. Default value is POST&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="isGifted" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Directory Number is GIFTED or NOT&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="msisdnReserveRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="msisdnReserveRequest">
        <wsdl:part element="sch3:msisdnReserveRequest" name="msisdnReserveRequest">    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="msisdnReserveResponse">
        <wsdl:part element="sch3:msisdnReserveResponse" name="msisdnReserveResponse">    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MsisdnReserveService">
        <wsdl:operation name="msisdnReserve">
            <wsdl:input message="tns:msisdnReserveRequest" name="msisdnReserveRequest">    </wsdl:input>
            <wsdl:output message="tns:msisdnReserveResponse" name="msisdnReserveResponse">    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MsisdnReserveServiceSoap11" type="tns:MsisdnReserveService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="msisdnReserve">
            <soap:operation soapAction=""/>
            <wsdl:input name="msisdnReserveRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="msisdnReserveResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MsisdnReserveService">
        <wsdl:port binding="tns:MsisdnReserveServiceSoap11" name="MsisdnReserveServiceSoap11">
            <soap:address location="http://10.96.103.211:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>