src/CommonProject/BusinessWSDLS/Services/BSCS/NumberFlow/ws_CIL_5_EnterpriseMsisdnSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/enterprisemsisdnsearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/enterprisemsisdnsearch" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/enterprisemsisdnsearch"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="enterpriseMsisdnSearchRequest" type="wsi:enterpriseMsisdnSearchRequest"/><xs:element name="enterpriseMsisdnSearchResponse" type="wsi:enterpriseMsisdnSearchResponse"/><xs:complexType name="listOfMsisdnSearchListpartResponse"><xs:all><xs:element minOccurs="0" name="dnid" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number Id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dnnum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dncodepub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>DNCODE Description</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="listOfMsisdnSearchResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfMsisdnSearchListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="enterpriseMsisdnSearchResponse"><xs:all><xs:element minOccurs="0" name="listOfMsisdnSearch" type="wsi:listOfMsisdnSearchResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory Number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealeridpub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer Id Description</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dncodepub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>DNCODE Description</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="searchcount" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Maximum number of fetched rows</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="market" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Market Description</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="enterpriseMsisdnSearchRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="enterpriseMsisdnSearchRequest">
    <wsdl:part element="sch3:enterpriseMsisdnSearchRequest" name="enterpriseMsisdnSearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enterpriseMsisdnSearchResponse">
    <wsdl:part element="sch3:enterpriseMsisdnSearchResponse" name="enterpriseMsisdnSearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EnterpriseMsisdnSearchService">
    <wsdl:operation name="enterpriseMsisdnSearch">
      <wsdl:input message="tns:enterpriseMsisdnSearchRequest" name="enterpriseMsisdnSearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:enterpriseMsisdnSearchResponse" name="enterpriseMsisdnSearchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnterpriseMsisdnSearchServiceSoap11" type="tns:EnterpriseMsisdnSearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enterpriseMsisdnSearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="enterpriseMsisdnSearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enterpriseMsisdnSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnterpriseMsisdnSearchService">
    <wsdl:port binding="tns:EnterpriseMsisdnSearchServiceSoap11" name="EnterpriseMsisdnSearchServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>