src/CommonProject/BusinessWSDLS/Services/BSCS/NumberFlow/ws_CMI_5_MsisdnUnreserveService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/msisdnunreserve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/msisdnunreserve" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/msisdnunreserve"><xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/><xs:element name="msisdnUnreserveRequest" type="wsi:msisdnUnreserveRequest"/><xs:element name="msisdnUnreserveResponse" type="wsi:msisdnUnreserveResponse"/><xs:complexType name="msisdnUnreserveResponse"><xs:all><xs:element minOccurs="0" name="success" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Success String</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element name="reservationNum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reservation Number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="username" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>User name</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory Number</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="msisdnUnreserveRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="msisdnUnreserveResponse">
    <wsdl:part element="sch3:msisdnUnreserveResponse" name="msisdnUnreserveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="msisdnUnreserveRequest">
    <wsdl:part element="sch3:msisdnUnreserveRequest" name="msisdnUnreserveRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MsisdnUnreserveService">
    <wsdl:operation name="msisdnUnreserve">
      <wsdl:input message="tns:msisdnUnreserveRequest" name="msisdnUnreserveRequest">
    </wsdl:input>
      <wsdl:output message="tns:msisdnUnreserveResponse" name="msisdnUnreserveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MsisdnUnreserveServiceSoap11" type="tns:MsisdnUnreserveService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="msisdnUnreserve">
      <soap:operation soapAction=""/>
      <wsdl:input name="msisdnUnreserveRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="msisdnUnreserveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MsisdnUnreserveService">
    <wsdl:port binding="tns:MsisdnUnreserveServiceSoap11" name="MsisdnUnreserveServiceSoap11">
      <soap:address location="http://10.103.23.91:30103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>