src/CommonProject/BusinessWSDLS/Services/BSCS/NumberFlow/ws_CMI_5_PrepaidMsisdnSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/prepaidmsisdnsearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/prepaidmsisdnsearch" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/prepaidmsisdnsearch"><xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/><xs:element name="prepaidMsisdnSearchRequest" type="wsi:prepaidMsisdnSearchRequest"/><xs:element name="prepaidMsisdnSearchResponse" type="wsi:prepaidMsisdnSearchResponse"/><xs:complexType name="dnDetailListListpartResponse"><xs:all><xs:element minOccurs="0" name="dnId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number Id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dnNum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dncodePub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number Description</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealerId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Dealer Id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealerIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Second Personal Unblocking Number for storage medium</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="status" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Description of the Storage Medium type</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="hlcodepub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public Key of HLCODE</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="dnDetailListResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:dnDetailListListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="prepaidMsisdnSearchResponse"><xs:all><xs:element minOccurs="0" name="dnDetailList" type="wsi:dnDetailListResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element minOccurs="0" name="startrange" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory Number Start Range</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="endrange" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory Number End Range</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="pattern" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory Number Pattern</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="quantity" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Quantiy</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealeridpub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer Name</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="prepaidMsisdnSearchRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="prepaidMsisdnSearchResponse">
    <wsdl:part element="sch3:prepaidMsisdnSearchResponse" name="prepaidMsisdnSearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepaidMsisdnSearchRequest">
    <wsdl:part element="sch3:prepaidMsisdnSearchRequest" name="prepaidMsisdnSearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PrepaidMsisdnSearchService">
    <wsdl:operation name="prepaidMsisdnSearch">
      <wsdl:input message="tns:prepaidMsisdnSearchRequest" name="prepaidMsisdnSearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:prepaidMsisdnSearchResponse" name="prepaidMsisdnSearchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrepaidMsisdnSearchServiceSoap11" type="tns:PrepaidMsisdnSearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="prepaidMsisdnSearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="prepaidMsisdnSearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="prepaidMsisdnSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrepaidMsisdnSearchService">
    <wsdl:port binding="tns:PrepaidMsisdnSearchServiceSoap11" name="PrepaidMsisdnSearchServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services/ws_CMI_5_PrepaidMsisdnSearchService.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>