src/CommonProject/BusinessWSDLS/Services/BSCS/NumberFlow/ws_CMI_5_MsisdnSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/msisdnsearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/msisdnsearch" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/msisdnsearch"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="msisdnSearchRequest" type="wsi:msisdnSearchRequest"/><xs:element name="msisdnSearchResponse" type="wsi:msisdnSearchResponse"/><xs:complexType name="listOfMsisdnSearchListpartResponse"><xs:all><xs:element minOccurs="0" name="dnId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number Id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dncodePub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>DNCODE Description</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="originalDncodePub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Original DNCODE Description</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reservationNum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Reservation Number</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="remarks" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Remarks</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealerIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Dealer Id Description</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isGift" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory Number Gifted Status</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="listOfMsisdnSearchResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfMsisdnSearchListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="msisdnSearchResponse"><xs:all><xs:element minOccurs="0" name="listOfMsisdnSearch" type="wsi:listOfMsisdnSearchResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element name="marketCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Market Code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealerId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer Id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealerIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer Id Description</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory Number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dncodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>DNCODE Description</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reservationNum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reservation Number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="searchCount" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Maximum number of fetched rows</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="msisdnSearchRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="msisdnSearchResponse">
    <wsdl:part element="sch3:msisdnSearchResponse" name="msisdnSearchResponse"/>
  </wsdl:message>
  <wsdl:message name="msisdnSearchRequest">
    <wsdl:part element="sch3:msisdnSearchRequest" name="msisdnSearchRequest"/>
  </wsdl:message>
  <wsdl:portType name="MsisdnSearchService">
    <wsdl:operation name="msisdnSearch">
      <wsdl:input message="tns:msisdnSearchRequest" name="msisdnSearchRequest"/>
      <wsdl:output message="tns:msisdnSearchResponse" name="msisdnSearchResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MsisdnSearchServiceSoap11" type="tns:MsisdnSearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="msisdnSearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="msisdnSearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="msisdnSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MsisdnSearchService">
    <wsdl:port binding="tns:MsisdnSearchServiceSoap11" name="MsisdnSearchServiceSoap11">
      <soap:address location="http://10.96.103.208:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>