src/CommonProject/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfo.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/UnBar_getSubInfo/UnBar_getSubInfo.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="getSubInfo" type="getSubInfo"/>
	<xs:complexType name="getSubInfo">
		<xs:sequence>
			<xs:element ref="session" minOccurs="0"/>
			<xs:element ref="msisdn" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="session" type="session"/>
	<xs:element name="msisdn" type="xs:string"/>
	<xs:complexType name="session">
		<xs:sequence>
			<xs:element ref="actorId" minOccurs="0"/>
			<xs:element ref="language" minOccurs="0"/>
			<xs:element ref="sessionId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="actorId" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="sessionId" type="xs:string"/>
</xs:schema>