src/ESI_BSCS/BusinessProcesses/Services/Query/OfferUsageQuery/Schema/OfferUsageQueryOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ACCOUNT_ID" type="xs:string" nillable="true"/>
				<xs:element name="OFFER_ID" type="xs:string" nillable="true"/>
				<xs:element name="PEAK_DURATION" type="xs:string" nillable="true"/>
				<xs:element name="OFF_PEAK_DURATION" type="xs:string" nillable="true"/>
				<xs:element name="ON_NET_DURATION" type="xs:string" nillable="true"/>
				<xs:element name="OFF_NET_DURATION" type="xs:string" nillable="true"/>
				<xs:element name="START_DATE" type="xs:string" nillable="true"/>
				<xs:element name="END_DATE" type="xs:string" nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>