src/ESI_BSCS/BusinessProcesses/Services/Query/QueryBestPackage/Schema/QueryBestPackageOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SEGMENT_TYPE" type="xs:string"/>
	<xs:element name="AVG_INTERNATIONAL_DURATION" type="xs:string"/>
	<xs:element name="AVG_ROAMING_ABROAD_DURATION" type="xs:string"/>
	<xs:element name="AVG_ROAMING_FRWD_DURATION" type="xs:string"/>
	<xs:element name="AVG_LOCAL_CALL_DURATION" type="xs:string"/>
	<xs:element name="AVG_SMS" type="xs:string"/>
	<xs:element name="AVG_MMS" type="xs:string"/>
	<xs:element name="AVG_INTERNET_DURATION" type="xs:string"/>
	<xs:element name="SMS" type="xs:string"/>
	<xs:element name="MMS" type="xs:string"/>
	<xs:element name="INTERNET_DURATION" type="xs:string"/>
	<xs:element name="LOCAL_DURATION" type="xs:string"/>
	<xs:element name="INTERNATIONAL_DURATION" type="xs:string"/>
	<xs:element name="ROAMING_ABROAD_DURATION" type="xs:string"/>
	<xs:element name="ROAMING_FRWD_DURATION" type="xs:string"/>
	<xs:element name="INVOICE_NO" type="xs:string"/>
	<xs:element name="SMS_LOCAL" type="xs:string"/>
	<xs:element name="SMS_INTERNATIONAL" type="xs:string"/>
	<xs:element name="SMS_ROAMING" type="xs:string"/>
	<xs:element name="MMS_INTERNATIONAL" type="xs:string"/>
	<xs:element name="MMS_TO_NON_ZAIN" type="xs:string"/>
	<xs:element name="MMS_TO_ZAIN" type="xs:string"/>
	<xs:element name="INTERNET_ROAMING" type="xs:string"/>
	<xs:element name="INTERNET" type="xs:string"/>
	<xs:element name="WIYANA_NON_ZAIN" type="xs:string"/>
	<xs:element name="LOCAL_OFF_NON_ZAIN" type="xs:string"/>
	<xs:element name="COVERED_BY_BUNDLE" type="xs:string"/>
	<xs:element name="INCOMING_CALLS" type="xs:string"/>
	<xs:element name="OG_PEAK_FREE" type="xs:string"/>
	<xs:element name="OG_PEAK" type="xs:string"/>
	<xs:element name="OG_OFF_PEAK_FREE" type="xs:string"/>
	<xs:element name="OG_OFF_PEAK" type="xs:string"/>
	<xs:element name="PEAK_TO_ZAIN" type="xs:string"/>
	<xs:element name="OFF_PEAK_TO_ZAIN" type="xs:string"/>
	<xs:element name="IN_GROUP_FREE_CALLS" type="xs:string"/>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SEGMENT_TYPE" minOccurs="0"/>
				<xs:element ref="AVG_INTERNATIONAL_DURATION" minOccurs="0"/>
				<xs:element ref="AVG_ROAMING_ABROAD_DURATION" minOccurs="0"/>
				<xs:element ref="AVG_ROAMING_FRWD_DURATION" minOccurs="0"/>
				<xs:element ref="AVG_LOCAL_CALL_DURATION" minOccurs="0"/>
				<xs:element ref="AVG_SMS" minOccurs="0"/>
				<xs:element ref="AVG_MMS" minOccurs="0"/>
				<xs:element ref="AVG_INTERNET_DURATION" minOccurs="0"/>
				<xs:element ref="SMS" minOccurs="0"/>
				<xs:element ref="MMS" minOccurs="0"/>
				<xs:element ref="INTERNET_DURATION" minOccurs="0"/>
				<xs:element ref="LOCAL_DURATION" minOccurs="0"/>
				<xs:element ref="INTERNATIONAL_DURATION" minOccurs="0"/>
				<xs:element ref="ROAMING_ABROAD_DURATION" minOccurs="0"/>
				<xs:element ref="ROAMING_FRWD_DURATION" minOccurs="0"/>
				<xs:element ref="INVOICE_NO" minOccurs="0"/>
				<xs:element ref="SMS_LOCAL" minOccurs="0"/>
				<xs:element ref="SMS_INTERNATIONAL" minOccurs="0"/>
				<xs:element ref="SMS_ROAMING" minOccurs="0"/>
				<xs:element ref="MMS_INTERNATIONAL" minOccurs="0"/>
				<xs:element ref="MMS_TO_NON_ZAIN" minOccurs="0"/>
				<xs:element ref="MMS_TO_ZAIN" minOccurs="0"/>
				<xs:element ref="INTERNET_ROAMING" minOccurs="0"/>
				<xs:element ref="INTERNET" minOccurs="0"/>
				<xs:element ref="WIYANA_NON_ZAIN" minOccurs="0"/>
				<xs:element ref="LOCAL_OFF_NON_ZAIN" minOccurs="0"/>
				<xs:element ref="COVERED_BY_BUNDLE" minOccurs="0"/>
				<xs:element ref="INCOMING_CALLS" minOccurs="0"/>
				<xs:element ref="OG_PEAK_FREE" minOccurs="0"/>
				<xs:element ref="OG_PEAK" minOccurs="0"/>
				<xs:element ref="OG_OFF_PEAK_FREE" minOccurs="0"/>
				<xs:element ref="OG_OFF_PEAK" minOccurs="0"/>
				<xs:element ref="PEAK_TO_ZAIN" minOccurs="0"/>
				<xs:element ref="OFF_PEAK_TO_ZAIN" minOccurs="0"/>
				<xs:element ref="IN_GROUP_FREE_CALLS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>