src/CommonProject/BusinessWSDLS/Services/TIBCO/BillAdjustmentAbstractWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://xmlns.zain.com/BSS/ESB/CDM/BillAdjustment" xmlns:tns="http://xmlns.zain.com/BSS/ESB/Financial/BillAdjustment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.zain.com/BSS/ESB/Financial/BillAdjustment">
    <import location="../../../CDM/ZainKWFault.xsd" namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"/>
    <import location="../../../BusinessSchemas/Services/Common/BillAdjustment/BillAdjustment.xsd" namespace="http://xmlns.zain.com/BSS/ESB/CDM/BillAdjustment"/>
    <message name="BillAdjustmentFault">
        <part element="ns2:ErrorResponse" name="Fault"/>
    </message>
    <message name="CreateBillAdjustmentInput">
        <part element="ns:BillAdjustmentRequest" name="Input"/>
    </message>
    <message name="CreateBillAdjustmentOutput">
        <part element="ns:BillAdjustmentResponse" name="Output"/>
    </message>
    <message name="QueryAdjustmentInput">
        <part element="ns:AdjustmentQueryRequest" name="Input"/>
    </message>
    <message name="QueryAdjustmentOutput">
        <part element="ns:AdjustmentQueryResponse" name="Output"/>
    </message>
    <portType name="BillAdjustmentPortType">
        <operation name="CreateBillAdjustment">
            <input message="tns:CreateBillAdjustmentInput"/>
            <output message="tns:CreateBillAdjustmentOutput"/>
            <fault message="tns:BillAdjustmentFault" name="fault"/>
        </operation>
        <operation name="QueryBillAdjustment">
            <input message="tns:QueryAdjustmentInput"/>
            <output message="tns:QueryAdjustmentOutput"/>
            <fault message="tns:BillAdjustmentFault" name="fault1"/>
        </operation>
    </portType>
</definitions>