src/CommonProject/BusinessWSDLS/Services/TIBCO/BiometricActivity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/BiometricActivity.xsd" xmlns:tns="http://xmlns.example.com/1541416552111" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1541416552111">
    <import location="../../../BusinessSchemas/Services/Modification/Biometric/BiometricActivity.xsd" namespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/BiometricActivity.xsd"/>
    <message name="CreateRequestByAgentRequest">
        <part element="ns:CreateRequestByAgentInput" name="Input"/>
    </message>
    <message name="CreateRequestByAgentResponse">
        <part element="ns:CreateRequestByAgentOutput" name="Output"/>
    </message>
    <message name="QueryIDByAgentRequest">
        <part element="ns:QueryIDByAgentInput" name="Input"/>
    </message>
    <message name="QueryIDByAgentResponse">
        <part element="ns:QueryIDByAgentOutput" name="Output"/>
    </message>
    <message name="QueryCustomerCivilIdDataRequest">
        <part element="ns:QueryCustomerCivilIdDataInput" name="Input"/>
    </message>
    <message name="QueryCustomerCivilIdDataResponse">
        <part element="ns:QueryCustomerCivilIdDataOutput" name="Output"/>
    </message>
    <message name="QueryJobListsRequest">
        <part element="ns:QueryJobListsInput" name="Input"/>
    </message>
    <message name="QueryJobListsResponse">
        <part element="ns:QueryJobListsOutput" name="Output"/>
    </message>
    <message name="ViewOrderDocumentsJobCreateRequest">
        <part element="ns:ViewOrderDocumentsJobCreateInput" name="Input"/>
    </message>
    <message name="ViewOrderDocumentsJobCreateResponse">
        <part element="ns:ViewOrderDocumentsJobCreateOutput" name="Output"/>
    </message>
    <message name="SendSMSRequest">
        <part element="ns:SendSMSInput" name="Input"/>
    </message>
    <message name="SendSMSResponse">
        <part element="ns:SendSMSOutput" name="Output"/>
    </message>
    <message name="JobStatusCheckByJobIdInput">
        <part element="ns:JobStatusCheckByJobIdInput" name="Input"/>
    </message>
    <message name="JobStatusCheckByJobIdOutput">
        <part element="ns:JobStatusCheckByJobIdOutput" name="Output"/>
    </message>
    <portType name="BiometricActivityPort">
        <operation name="ViewOrderDocumentsJobCreate">
            <input message="tns:ViewOrderDocumentsJobCreateRequest"/>
            <output message="tns:ViewOrderDocumentsJobCreateResponse"/>
        </operation>
        <operation name="QueryJobLists">
            <input message="tns:QueryJobListsRequest"/>
            <output message="tns:QueryJobListsResponse"/>
        </operation>
        <operation name="QueryCustomerCivilIdData">
            <input message="tns:QueryCustomerCivilIdDataRequest"/>
            <output message="tns:QueryCustomerCivilIdDataResponse"/>
        </operation>
        <operation name="QueryIDByAgent">
            <input message="tns:QueryIDByAgentRequest"/>
            <output message="tns:QueryIDByAgentResponse"/>
        </operation>
        <operation name="CreateRequestByAgent">
            <input message="tns:CreateRequestByAgentRequest"/>
            <output message="tns:CreateRequestByAgentResponse"/>
        </operation>
        <operation name="SendSMS">
            <input message="tns:SendSMSRequest"/>
            <output message="tns:SendSMSResponse"/>
        </operation>
        <operation name="JobStatusCheckByJobId">
            <input message="tns:JobStatusCheckByJobIdInput"/>
            <output message="tns:JobStatusCheckByJobIdOutput"/>
        </operation>
    </portType>
</definitions>