src/CommonProject/BusinessWSDLS/Services/TIBCO/CreditScoreDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.zain.com/ZESB/Services/Applications/Common/Query/CreditScoreDetails/CreditScoreDetailsResponse.xsd" xmlns:ns="http://www.zain.com/ZESB/Services/Applications/Common/Query/CreditScoreDetails/CreditScoreDetailsRequest.xsd" xmlns:ns4="http://www.zain.com/ZESB/Services/Applications/Common/Query/CustomerCreditScoreDetails.xsd" xmlns:ns3="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:tns="http://xmlns.zain.com/BSS/ESB/Customer/CreditScoreDetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.zain.com/BSS/ESB/Customer/CreditScoreDetails">
    <import namespace="http://www.zain.com/ZESB/Services/Applications/Common/Query/CreditScoreDetails/CreditScoreDetailsRequest.xsd" location="../../../BusinessSchemas/Services/Applications/Common/Query/CreditScoreDetails/CreditScoreDetailsRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Applications/Common/Query/CreditScoreDetails/CreditScoreDetailsResponse.xsd" location="../../../BusinessSchemas/Services/Applications/Common/Query/CreditScoreDetails/CreditScoreDetailsResponse.xsd"/>
    <import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" location="../../../CDM/ZainKWFault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Applications/Common/Query/CustomerCreditScoreDetails.xsd" location="../../../BusinessSchemas/Services/Applications/Common/Query/CreditScoreDetails/CustomerCreditScoreDetails.xsd"/>
    <message name="CreditScoreDetailsInput">
        <part name="Input" element="ns:CreditScoreDetailsRequest"/>
    </message>
    <message name="CreditScoreDetailsOutput">
        <part name="Output" element="ns2:CreditScoreDetailsResponse"/>
    </message>
    <message name="CreditScoreDetailsFault">
        <part name="Fault" element="ns3:ErrorResponse"/>
    </message>
    <message name="CustomerCreditScoreDetailsRequest">
        <part name="Input" element="ns4:CustomerCreditScoreDetailsInput"/>
    </message>
    <message name="CustomerCreditScoreDetailsResponse">
        <part name="Output" element="ns4:CustomerCreditScoreDetailsOutput"/>
    </message>
    <portType name="CreditScoreDetailsPort">
        <operation name="CoCreditScoreDetails">
            <input message="tns:CreditScoreDetailsInput"/>
            <output message="tns:CreditScoreDetailsOutput"/>
            <fault name="fault1" message="tns:CreditScoreDetailsFault"/>
        </operation>
        <operation name="CustomerCreditScoreDetails">
            <input message="tns:CustomerCreditScoreDetailsRequest"/>
            <output message="tns:CustomerCreditScoreDetailsResponse"/>
            <fault name="fault1" message="tns:CreditScoreDetailsFault"/>
        </operation>
    </portType>
</definitions>