src/CommonProject/BusinessWSDLS/Services/TIBCO/DepositMgmtAbstractCRMWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:ns="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Update/DepositMgmt/Schema.xsd" xmlns:ns3="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Update/CRMDepositMgmt/Schema.xsd" xmlns:tns="http://xmlns.zain.com/BSS/ESB/Financial/CRMDepositMgmt" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.zain.com/BSS/ESB/Financial/CRMDepositMgmt">
    <import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" location="../../../CDM/ZainKWFault.xsd"/>
    <import namespace="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Update/CRMDepositMgmt/Schema.xsd" location="../../../BusinessSchemas/Services/Common/DepositMgmt/DepostiCRMSchema.xsd"/>
    <message name="DepositQueryReq">
        <part name="DepositQueryReq" element="ns3:DepositQueryRequest"/>
    </message>
    <message name="DepositQueryRes">
        <part name="DepositQueryRes" element="ns3:DepositQueryRes"/>
    </message>
    <message name="DepostiRefundReq">
        <part name="DepostiRefundReq" element="ns3:DepositRefundRequest"/>
    </message>
    <message name="DepostiRefundRes">
        <part name="DepostiRefundRes" element="ns3:DepositRefundRes"/>
    </message>
    <message name="fault">
        <part name="fault" element="ns2:ErrorResponse"/>
    </message>
    <portType name="DepositMgmtPort">
        <operation name="DepositQuery">
            <input message="tns:DepositQueryReq"/>
            <output message="tns:DepositQueryRes"/>
            <fault message="tns:fault" name="fault1"/>
        </operation>
        <operation name="DepositRefund">
            <input message="tns:DepostiRefundReq"/>
            <output message="tns:DepostiRefundRes"/>
            <fault message="tns:fault" name="fault1"/>
        </operation>
    </portType>
</definitions>