src/CommonProject/BusinessWSDLS/Services/TIBCO/GetPrepaidRechargeHistory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1450268187825" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns0="http://www.zain.com/ZESB/Services/GetPrepaidRechargeHistory/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1450268187825">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/GetPrepaidRechargeHistory/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:simpleType name="RechargeType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Voucher"/>
                    <xs:enumeration value="Voucherless"/>
                    <xs:enumeration value="All"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="GetPrepaidRechargeHistoryInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:choice>
                            <xs:element name="LastNoOfDays" type="xs:int"/>
                            <xs:sequence>
                                <xs:element name="FromDate" type="xs:date"/>
                                <xs:element name="ToDate" type="xs:date"/>
                            </xs:sequence>
                        </xs:choice>
                        <xs:element name="RechargeType" type="ns0:RechargeType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetPrepaidRechargeHistoryOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RechargeTransactionsList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="RechargeTransaction" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="RechargeType" type="ns0:RechargeType"/>
                                                <xs:element name="Timestamp" type="xs:dateTime"/>
                                                <xs:element name="Amount" type="xs:decimal"/>
                                                <xs:element name="NewBalance" type="xs:decimal" minOccurs="0"/>
                                                <xs:element name="NewExpiry" type="xs:dateTime" minOccurs="0"/>
                                                <xs:element name="VoucherSerial" type="xs:string" minOccurs="0"/>
                                                <xs:element name="RechargeStatus" type="xs:string" minOccurs="0"/>
                                                <xs:element name="Purpose" type="xs:string" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Services/GetPrepaidRechargeHistory/Types"/>
            <xs:import namespace="http://www.zain.com/ZESB/Services/GetPrepaidRechargeHistory/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="GetPrepaidRechargeHistory">
        <wsdl:port name="GetPrepaidRechargeHistoryPortEndpoint" binding="tns:GetPrepaidRechargeHistoryPortEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DEV.DOM_ESB.GW.QUERY_MGMT.GET_RECHG_HISTORY.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GetPrepaidRechargeHistoryPort">
        <wsdl:operation name="GetPrepaidRechargeHistory">
            <wsdl:input message="tns:GetPrepaidRechargeHistoryRequest"/>
            <wsdl:output message="tns:GetPrepaidRechargeHistoryResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetPrepaidRechargeHistoryPortEndpointBinding" type="tns:GetPrepaidRechargeHistoryPort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="GetPrepaidRechargeHistory">
            <soap:operation style="document" soapAction="GetPrepaidRechargeHistory"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetPrepaidRechargeHistoryRequest">
        <wsdl:part name="request" element="ns0:GetPrepaidRechargeHistoryInput"/>
    </wsdl:message>
    <wsdl:message name="GetPrepaidRechargeHistoryResponse">
        <wsdl:part name="response" element="ns0:GetPrepaidRechargeHistoryOutput"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="ns1:FaultType"/>
    </wsdl:message>
</wsdl:definitions>