src/CommonProject/BusinessWSDLS/Services/TIBCO/GetSubscriberBalanceAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/BalanceQuery.xsd" xmlns:tns="http://xmlns.zain.com/BSS/ESB/Financial/Query/SubscriberBalance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.zain.com/BSS/ESB/Financial/Query/SubscriberBalance">
    <import namespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/BalanceQuery.xsd" location="../../../BusinessSchemas/Services/Query/BalanceQuery/BalanceQuery.xsd"/>
    <message name="TerminatedSubscriberBalanceReq">
        <part name="TerminatedBalanceReq" element="ns:BalanceRequest"/>
    </message>
    <message name="TerminatedSubscriberBalanceRes">
        <part name="TerminatedBalanceRes" element="ns:BalanceResponse"/>
    </message>
    <message name="SubscriberNegativeBalanceReq">
        <part name="NegativeBalanceReq" element="ns:BalanceRequest"/>
    </message>
    <message name="SubscriberNegativeBalanceRes">
        <part name="NegativeBalanceRes" element="ns:BalanceResponse"/>
    </message>
    <portType name="GetSubscriberBalancePortType">
        <operation name="TerminatedSubscriberBalance">
            <input message="tns:TerminatedSubscriberBalanceReq"/>
            <output message="tns:TerminatedSubscriberBalanceRes"/>
        </operation>
        <operation name="SubscriberNegativeBalance">
            <input message="tns:SubscriberNegativeBalanceReq"/>
            <output message="tns:SubscriberNegativeBalanceRes"/>
        </operation>
    </portType>
</definitions>