src/CommonProject/BusinessWSDLS/Services/TIBCO/GetSubAccountDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://www.zain.com/ZESB/Services/GetSubAccounts/Types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.zain.com/ZESB/Types/Common" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/GetSubAccounts/Types">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Services/GetSubAccounts/Types"/>
            <xs:import namespace="http://www.zain.com/ZESB/Services/GetSubAccounts/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/GetSubAccounts/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="SubAccounts">
                <xs:sequence>
                    <xs:element ref="tns:SubAccount" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetSubAccountsInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetSubAccountsOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SubAccounts" type="tns:SubAccounts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SubAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AccountName" type="xs:string"/>
                        <xs:element name="Balance" type="xs:decimal" minOccurs="0"/>
                        <xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="GetSubAccountsDetails">
        <wsdl:port name="GetSubAccountsPortEndpoint" binding="tns:GetSubAccountsPortEndpointBinding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DEV.DOM_ESB.GW.QUERY_MGMT.GET_SUB_ACC_DETAILS.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GetSubAccountsPort">
        <wsdl:operation name="GetSubAccounts">
            <wsdl:input message="tns:GetSubAccountsRequest"/>
            <wsdl:output message="tns:GetSubAccountsResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetSubAccountsPortEndpointBinding" type="tns:GetSubAccountsPort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="GetSubAccounts">
            <soap:operation style="document" soapAction="GetSubAccounts"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetSubAccountsRequest">
        <wsdl:part name="request" element="tns:GetSubAccountsInput"/>
    </wsdl:message>
    <wsdl:message name="GetSubAccountsResponse">
        <wsdl:part name="response" element="tns:GetSubAccountsOutput"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="ns0:FaultType"/>
    </wsdl:message>
</wsdl:definitions>