src/CommonProject/BusinessWSDLS/Services/TIBCO/GetUsageDetailsAbstract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.zain.com/ZESB/Services/Query/GetUsageDetails.xsd" xmlns:tns="http://xmlns.example.com/1450253296761" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1450253296761">
    <import namespace="http://www.zain.com/ZESB/Services/Query/GetUsageDetails.xsd" location="../../../BusinessSchemas/Services/Applications/Common/Query/GetUsageDetails/GetUsageDetails.xsd"/>
    <message name="BilledUsageRequest">
        <part name="Input" element="ns:BilledUsageRequest"/>
    </message>
    <message name="BilledUsageResponse">
        <part name="Output" element="ns:BilledUsageResponse"/>
    </message>
    <message name="UnBilledUsageRequest">
        <part name="Input" element="ns:UnBilledUsageRequest"/>
    </message>
    <message name="UnBilledUsageResponse">
        <part name="Output" element="ns:UnBilledUsageResponse"/>
    </message>
    <message name="FaultMessage">
        <part name="Fault" element="ns:FaultMessage"/>
    </message>
    <message name="UnbilledDetailsRequest">
        <part name="Input" element="ns:UnbilledDetailsRequest"/>
    </message>
    <message name="UnbilledDetailsResponse">
        <part name="Output" element="ns:UnbilledDetailsResponse"/>
    </message>
    <message name="UnbilledSummaryRequest">
        <part name="Input" element="ns:UnbilledSummaryRequest"/>
    </message>
    <message name="UnbilledSummaryResponse">
        <part name="Output" element="ns:UnbilledSummaryResponse"/>
    </message>
    <portType name="GetUsageDetailsPort">
        <operation name="GetBilledUsage">
            <input message="tns:BilledUsageRequest"/>
            <output message="tns:BilledUsageResponse"/>
            <fault name="fault1" message="tns:FaultMessage"/>
        </operation>
        <operation name="GetUnbilledUsage">
            <input message="tns:UnBilledUsageRequest"/>
            <output message="tns:UnBilledUsageResponse"/>
            <fault name="fault1" message="tns:FaultMessage"/>
        </operation>
        <operation name="GetUnbilledSummary">
            <input message="tns:UnbilledSummaryRequest"/>
            <output message="tns:UnbilledSummaryResponse"/>
            <fault name="fault1" message="tns:FaultMessage"/>
        </operation>
        <operation name="GetUnbilledDetails">
            <input message="tns:UnbilledDetailsRequest"/>
            <output message="tns:UnbilledDetailsResponse"/>
            <fault name="fault1" message="tns:FaultMessage"/>
        </operation>
    </portType>
</definitions>