src/CommonProject/BusinessWSDLS/Services/TIBCO/MADARecharge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1461152727324" xmlns:ns0="http://www.zain.com/ZESB/Services/MADARecharge/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1461152727324">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/MADARecharge/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RequestHeader">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="conversationID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/MADARecharge/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:element name="RechargeInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element minOccurs="0" name="MainAccountAmount" type="xs:string"/>
                        <xs:element minOccurs="0" name="MainAccountExpiry" type="xs:string"/>
                        <xs:element minOccurs="0" name="InitialCreditAmount" type="xs:string"/>
                        <xs:element minOccurs="0" name="InitialCreditExpiry" type="xs:string"/>
                        <xs:element minOccurs="0" name="OrderNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RechargeOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Responsecode" nillable="true" type="xs:string"/>
                        <xs:element name="ResposneDescription" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="MADARecharge">
        <wsdl:port binding="tns:MADARechargePortEndpointBinding" name="MADARechargePortEndpoint">
            <soap:address location="http://localhost:7099/ESB/SOAP/MADARecharge"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="MADARechargePort">
        <wsdl:operation name="MADARecharge">
            <wsdl:input message="tns:MADARechargeRequest"/>
            <wsdl:output message="tns:MADARechargeResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MADARechargePortEndpointBinding" type="tns:MADARechargePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MADARecharge">
            <soap:operation soapAction="MADARecharge" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="faultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="MADARechargeRequest">
        <wsdl:part element="ns0:RechargeInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="MADARechargeResponse">
        <wsdl:part element="ns0:RechargeOutput" name="response"/>
    </wsdl:message>
</wsdl:definitions>