src/CommonProject/BusinessWSDLS/Services/TIBCO/MNPCBIO2Operations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.tibco.com/schemas/GW_MNP/BusinessProcesses/Services/DonorAcceptRejectFromCRM/WSDL/Schema.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:ns="http://np.systor.st/sp" xmlns:ns3="http://www.zain.com/ZESB/Services/MNPCBIO2Operations" xmlns:tns="http://www.zain.com/ZESB/Services/MNPCBIO2Operations" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/MNPCBIO2Operations">
    <import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" location="../../../CDM/ZainKWFault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/MNPCBIO2Operations" location="../../../BusinessSchemas/Services/Provisioning/MNPOperationsCBIO2Operations/MNPCBIO2Operations.xsd"/>
    <message name="DonorAcceptReq">
        <part element="ns3:DonorAcceptRequest" name="CRMDonorAcceptRequest"/>
    </message>
    <message name="DonorAcceptRes">
        <part element="ns3:DonorAcceptResponse" name="CRMDonorAcceptResponse"/>
    </message>
    <message name="DonorRejectReq">
        <part element="ns3:DonorRejectRequest" name="CRMDonorRejectRequest"/>
    </message>
    <message name="DonorRejectRes">
        <part element="ns3:DonoRejectResponse" name="CRMDonorRejectResponse"/>
    </message>
    <message name="DeactivatedRequest">
        <part element="ns3:NPDeactivatedRequest" name="NPDeactivatedRequest"/>
    </message>
    <message name="DeactivatedResponse">
        <part element="ns3:NPDeactivatedResponse" name="NPDeactivatedResponse"/>
    </message>
    <message name="Fault">
        <part element="ns4:ErrorResponse" name="Fault"/>
    </message>
    <message name="SendNPRequestPortInReq">
        <part element="ns3:SendNPRequestPortInRequest" name="SendNPRequestPortInReq"/>
    </message>
    <message name="SendNPRequestPortInRes">
        <part element="ns3:SendNPRequestPortInResponse" name="SendNPRequestPortInRes"/>
    </message>
    <message name="CancelNPRequestPortInReq">
        <part element="ns3:CancelNPRequestPortInRequest" name="CancelNPRequestPortInReq"/>
    </message>
    <message name="CancelNPRequestPortInRes">
        <part element="ns3:CancelRequestPortInResponse" name="CancelNPRequestPortInRes"/>
    </message>
    <message name="SendNPActivatedRequestPortInReq">
        <part element="ns3:SendNPActivatedRequestPortInRequest" name="SendNPActivatedRequestPortInReq"/>
    </message>
    <message name="SendNPActivatedRequestPortInRes">
        <part element="ns3:SendNPActivatedRequestPortInResponse" name="SendNPActivatedRequestPortInRes"/>
    </message>
    <message name="SendNPEmergencyRestoreReq">
        <part element="ns3:SendNPEmergencyRestoreRequest" name="SendNPEmergencyRestoreReq"/>
    </message>
    <message name="SendNPEmergencyRestoreRes">
        <part element="ns3:SendNPEmergencyRestoreResponse" name="SendNPEmergencyRestoreRes"/>
    </message>
    <message name="SendNPRingFencePortInReq">
        <part name="SendNPRingFencePortInReq" element="ns3:SendNPRingFencePortInRequest"/>
    </message>
    <message name="SendNPRingFencePortInRes">
        <part name="SendNPRingFencePortInRes" element="ns3:SendNPRingFencePortInResponse"/>
    </message>
    <message name="NPReturnRequest">
        <part name="NPReturnRequest" element="ns3:NPReturnRequest"/>
    </message>
    <message name="NPReturnResponse">
        <part name="NPReturnResponse" element="ns3:NPReturnResponse"/>
    </message>
    <message name="NPReturnCancelRequest">
        <part name="NPReturnCancelRequest" element="ns3:NPReturnCancelRequest"/>
    </message>
    <message name="NPReturnCancelResponse">
        <part name="NPReturnCancelResponse" element="ns3:NPReturnCancelResponse"/>
    </message>
    <portType name="MNPCBIO2OperationsPortType">
        <operation name="DonorAcceptPortOut">
            <input message="ns3:DonorAcceptReq"/>
            <output message="tns:DonorAcceptRes"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="DonorRejectOut">
            <input message="tns:DonorRejectReq"/>
            <output message="tns:DonorRejectRes"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="NPDeactivatedPortOut">
            <input message="tns:DeactivatedRequest"/>
            <output message="tns:DeactivatedResponse"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="SendNPRequestPortIn">
            <documentation>This Operation is internal and called by CRM 

The flow is CRM-&gt;ESB-&gt;EMA
			</documentation>
            <input message="tns:SendNPRequestPortInReq"/>
            <output message="tns:SendNPRequestPortInRes"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="CancelNPRequestPortIn">
            <input message="tns:CancelNPRequestPortInReq"/>
            <output message="tns:CancelNPRequestPortInRes"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="SendNPActivatedRequestPortIn">
            <input message="tns:SendNPActivatedRequestPortInReq"/>
            <output message="tns:SendNPActivatedRequestPortInRes"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="SendNPEmergencyRestore">
            <input message="tns:SendNPEmergencyRestoreReq"/>
            <output message="tns:SendNPEmergencyRestoreRes"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="SendNPRingFencePortIn">
            <documentation>This Operation is internal and called by CRM   The flow is CRM-&gt;ESB-&gt;EMA 	</documentation>
            <input message="ns3:SendNPRingFencePortInReq"/>
            <output message="ns3:SendNPRingFencePortInRes"/>
            <fault name="fault1" message="ns3:Fault"/>
        </operation>
        <operation name="NPReturn">
            <input message="ns3:NPReturnRequest"/>
            <output message="ns3:NPReturnResponse"/>
            <fault name="fault1" message="ns3:Fault"/>
        </operation>
        <operation name="NPReturnCancel">
            <input message="ns3:NPReturnCancelRequest"/>
            <output message="ns3:NPReturnCancelResponse"/>
            <fault name="fault1" message="ns3:Fault"/>
        </operation>
    </portType>
</definitions>