src/CommonProject/BusinessWSDLS/Services/TIBCO/PaymentReceiptQuery.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:tns="http://www.zain.com/ZESB/Services/PaymentReceiptNumberQuery"
      xmlns:typ="http://www.zain.com/ZESB/Services/PaymentReceiptNumberQuery/Types"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common"
      xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/PaymentReceiptNumberQuery">
      <wsdl:types>
            <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common"
                  targetNamespace="http://www.zain.com/ZESB/Types/Common"
                  elementFormDefault="qualified">
                  <xs:element name="FaultType">
                        <xs:complexType>
                              <xs:sequence>
                                    <xs:element name="type" type="xs:string" />
                                    <xs:element name="code" type="xs:string" />
                                    <xs:element name="description" type="xs:string" />
                                    <xs:element name="sourceSystem" type="xs:string" />
                                    <xs:element name="extErrorCode" type="xs:string"
                                          minOccurs="0" />
                                    <xs:element name="detail" type="xs:string" minOccurs="0" />
                              </xs:sequence>
                        </xs:complexType>
                  </xs:element>
                  <xs:complexType name="Params">
                        <xs:sequence>
                              <xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
                                    <xs:complexType>
                                          <xs:sequence>
                                                <xs:element name="Name" type="xs:string" />
                                                <xs:element name="Value" type="xs:string" />
                                          </xs:sequence>
                                    </xs:complexType>
                              </xs:element>
                        </xs:sequence>
                  </xs:complexType>
            </xs:schema>

            <xs:schema attributeFormDefault="qualified"
                  elementFormDefault="qualified"
                  targetNamespace="http://www.zain.com/ZESB/Services/PaymentReceiptNumberQuery/Types"
                  xmlns:typ="http://www.zain.com/ZESB/Services/PaymentReceiptNumberQuery/Types">
                  <xs:element name="PaymentReceiptNumberQueryRequest">
                        <xs:complexType>
                              <xs:sequence>
                                    <xs:element minOccurs="0" name="ContractID" type="xs:string" />
                                    <xs:element minOccurs="0" name="MSISDN" type="xs:string" />
                                    <xs:element minOccurs="0" name="UserName" type="xs:string" />
                                    <xs:element minOccurs="0" name="Limit" type="xs:string" />
                              </xs:sequence>
                        </xs:complexType>
                  </xs:element>
                  <xs:element name="PaymentReceiptNumberQueryResponse">
                        <xs:complexType>
                              <xs:sequence>
                                    <xs:element  minOccurs="0"
                                          name="ReceiptNumbers">
                                          <xs:complexType>
                                                <xs:sequence>
                                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptNumber" type="xs:string" />
                                                </xs:sequence>
                                          </xs:complexType>
                                    </xs:element>
                              </xs:sequence>
                        </xs:complexType>
                  </xs:element>
            </xs:schema>

      </wsdl:types>
      <wsdl:message name="PaymentReceiptNumberQueryInput">
            <wsdl:part element="typ:PaymentReceiptNumberQueryRequest"
                  name="request" />
      </wsdl:message>
      <wsdl:message name="PaymentReceiptNumberQueryOutput">
            <wsdl:part element="typ:PaymentReceiptNumberQueryResponse"
                  name="response" />
      </wsdl:message>
      <wsdl:message name="PaymentReceiptNumberQueryFault">
            <wsdl:part element="com:FaultType" name="fault1" />
      </wsdl:message>
      
      <wsdl:portType name="PaymentReceiptNumberQueryPort">
            <wsdl:operation name="PaymentReceiptNumberQuery">
                  <wsdl:input message="tns:PaymentReceiptNumberQueryInput" />
                  <wsdl:output message="tns:PaymentReceiptNumberQueryOutput" />
                  <wsdl:fault message="tns:PaymentReceiptNumberQueryFault"
                        name="fault1" />
            </wsdl:operation>
      </wsdl:portType>
      <wsdl:binding name="PaymentReceiptNumberQueryBinding"
            type="tns:PaymentReceiptNumberQueryPort">
            <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
            <wsdl:operation name="PaymentReceiptNumberQuery">
                  <soap:operation soapAction="PaymentReceiptNumberQuery" />
                  <wsdl:input>
                        <soap:body use="literal" />
                  </wsdl:input>
                  <wsdl:output>
                        <soap:body  use="literal" />
                  </wsdl:output>
                  <wsdl:fault name="fault1">
                        <soap:fault name="fault1" use="literal" />
                  </wsdl:fault>
            </wsdl:operation>
      </wsdl:binding>
      <wsdl:service name="PaymentReceiptNumberQueryService">
            <wsdl:port binding="tns:PaymentReceiptNumberQueryBinding"
                  name="PaymentReceiptNumberQueryPort">
                  <soap:address
                        location="http://iapi-test.kw.zain.com/UAT/SOAP/PaymentReceiptQuery" />
            </wsdl:port>
      </wsdl:service>
</wsdl:definitions>