src/CommonProject/BusinessWSDLS/Services/TIBCO/PaymentPostingAbtractWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/PaymentTransaction.xsd" xmlns:ns3="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/PaymentTransaction.xsd" xmlns:tns="http://xmlns.zain.com/BSS/ESB/Financial/PaymentPosting" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.zain.com/BSS/ESB/Financial/PaymentPosting">
    <import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" location="../../../CDM/ZainKWFault.xsd"/>
    <import namespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/PaymentTransaction.xsd" location="../../../BusinessSchemas/Services/Transaction/Payments/PaymentTransaction.xsd"/>
    <import namespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/PaymentTransaction.xsd" location="../../../BusinessSchemas/Services/Applications/ConceptWave/PaymentTransaction/PaymentTransaction.xsd"/>
    <message name="PaymentPostingFault">
        <part name="Fault" element="ns2:ErrorResponse"/>
    </message>
    <message name="PaymentPostingInput">
        <part name="Input" element="ns:PaymentTransactionRequest"/>
    </message>
    <message name="PaymentPostingOutput">
        <part name="Output" element="ns:PaymentTransactionResponse"/>
    </message>
    <portType name="PaymentPostingPortType">
        <operation name="PaymentPosting">
            <input message="tns:PaymentPostingInput"/>
            <output message="tns:PaymentPostingOutput"/>
            <fault name="fault1" message="tns:PaymentPostingFault"/>
        </operation>
        <operation name="PaymentReversal">
            <input message="tns:PaymentPostingInput"/>
            <output message="tns:PaymentPostingOutput"/>
            <fault name="fault1" message="tns:PaymentPostingFault"/>
        </operation>
    </portType>
</definitions>