src/CommonProject/BusinessWSDLS/Services/WSDLS/PACIOutboundBiometrics/PACIOutboundBiometrics.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns5="http://www.zain.com/ZESB/Services/GetPACIAuthenticationResponse.xsd" xmlns:ns="http://www.zain.com/ZESB/Services/QueryPACIStatusBiometricsRequest.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.zain.com/ZESB/Services/PACIOutboundBiometrics" xmlns:ns2="http://www.zain.com/ZESB/Services/QueryPACIStatusBiometricsResponse.xsd" xmlns:ns4="http://www.zain.com/ZESB/Services/GetPACIAuthenticationRequest.xsd" xmlns:ns3="http://www.zain.com/ZESB/Services/faultschema/fault.xsd" targetNamespace="http://www.zain.com/ZESB/Services/PACIOutboundBiometrics">
    <import namespace="http://www.zain.com/ZESB/Services/QueryPACIStatusBiometricsRequest.xsd" location="../../../../BusinessSchemas/Services/Query/QueryPACIStatusBiometrics/QueryPACIStatusBiometricsRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/QueryPACIStatusBiometricsResponse.xsd" location="../../../../BusinessSchemas/Services/Query/QueryPACIStatusBiometrics/QueryPACIStatusBiometricsResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/faultschema/fault.xsd" location="../../../../BusinessSchemas/Services/Common/fault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetPACIAuthenticationRequest.xsd" location="../../../../BusinessSchemas/Services/Query/GetPACIAuthentication/GetPACIAuthenticationRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetPACIAuthenticationResponse.xsd" location="../../../../BusinessSchemas/Services/Query/GetPACIAuthentication/GetPACIAuthenticationResponse.xsd"/>
    <message name="QueryPACIStatusRequest">
        <part name="request" element="ns:root"/>
    </message>
    <message name="QueryPACIStatusResponse">
        <part name="response" element="ns2:root"/>
    </message>
    <message name="faultMessage">
        <part name="fault" element="ns3:FaultType"/>
    </message>
    <message name="GetPACIAuthenticationRequest">
        <part name="request" element="ns4:GetPACIAuthenticationRequest"/>
    </message>
    <message name="GetPACIAuthenticationResponse">
        <part name="response" element="ns5:GetPACIAuthenticationResponse"/>
    </message>
    <portType name="PACIOutboundBiometricsPortType">
        <operation name="QueryPACIStatus">
            <input message="tns:QueryPACIStatusRequest"/>
            <output message="tns:QueryPACIStatusResponse"/>
            <fault name="fault1" message="tns:faultMessage"/>
        </operation>
        <operation name="GetPACIAuthentication">
            <input message="tns:GetPACIAuthenticationRequest"/>
            <output message="tns:GetPACIAuthenticationResponse"/>
            <fault name="fault1" message="tns:faultMessage"/>
        </operation>
    </portType>
</definitions>