src/CommonProject/BusinessSchemas/Services/Applications/ERP/QueryAvailInStore/QueryAvailInStoreRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="queryAvailInStoreRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="orgCode" type="xs:string" minOccurs="0"/>
				<xs:element name="storeCode" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>