src/CommonProject/BusinessWSDLS/Services/WSDLS/GetGiftedOffers/GetGiftedOffersOffers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:ns="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers" xmlns:ns0="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GetGiftedOffersOffers" targetNamespace="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="OfferList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns0:Offer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetGiftedOffersOffersInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetGiftedOffersOffersOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OfferList" type="ns0:OfferList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Offer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OfferId" type="xs:string"/>
                        <xs:element name="OfferName" type="xs:string"/>
                        <xs:element name="OfferType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ProductId" type="xs:string"/>
                        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetGiftedOffersOffersRequest">
        <wsdl:part element="ns:GetGiftedOffersOffersInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetGiftedOffersOffersResponse">
        <wsdl:part element="ns:GetGiftedOffersOffersOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="GetGiftedOffersOffersPort">
        <wsdl:operation name="GetGiftedOffersOffers">
            <wsdl:input message="tns:GetGiftedOffersOffersRequest"/>
            <wsdl:output message="tns:GetGiftedOffersOffersResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetGiftedOffersOffersEndpoint" type="tns:GetGiftedOffersOffersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetGiftedOffersOffers">
            <wsdl:documentation/>
            <soap:operation soapAction="GetGiftedOffersOffers" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetGiftedOffersOffers">
        <wsdl:port binding="tns:GetGiftedOffersOffersEndpoint" name="GetGiftedOffersOffersPortEndpoint">
            <soap:address location="http://10.96.11.37:7070/ESB/SOAP/GetGiftedOffersOffers"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>