src/GW_ERP/BusinessProcesses/Services/ERP_REST/BusinessSchemas/InventoryManagement/DeductInventoryItem/DeductInventoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryRequest.xsd"
	 xmlns:ns0="http://www.zain.com/ZESB/Services/Inventory/Item.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.zain.com/ZESB/Services/Inventory/Item.xsd" schemaLocation="../Item.xsd"/>
	<xs:element name="DeductInventoryItemRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ShopCode" type="xs:string"/>
				<xs:element name="UserID" type="xs:string"/>
				<xs:element name="ECMID" type="xs:string" minOccurs="0"/>
				<xs:element name="transactionTime" type="xs:string"/>
				<xs:element ref="ns0:itemList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>