src/CommonProject/BusinessSchemas/Services/Query/GetFnFNumbers/GetFnFNumbersResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetFnFNumbers/GetFnFNumbersResponse.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/FAF"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/Response"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetFnFNumbers/GetFnFNumbersResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/FAF" schemaLocation="../../../../CDM/FAFinformationList.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response" schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:element name="GetFnFResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:FAFNumber" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="ns1:Response" minOccurs="0"/>
				<xs:element ref="UpdateFee" minOccurs="0"/>
				<xs:element ref="MaxNumbers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateFee" type="xs:decimal"/>
	<xs:element name="MaxNumbers" type="xs:long"/>
</xs:schema>