src/CommonProject/BusinessWSDLS/Services/BSCS/ModifyContract/ContractModifyserviceService.wsdl

<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/contractservicesadd" xmlns:sch5="http://ericsson.com/services/ws_CIL_5/contractserviceswrite" xmlns:sch6="http://ericsson.com/services/ws_CIL_5/contractserviceresourceswrite" xmlns:sch7="http://ericsson.com/services/ws_CIL_5/contractserviceparameterswrite" xmlns:sch8="http://ericsson.com/services/ws_CIL_5/contractmodifyservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerread">
			<xs:import namespace="http://lhsgroup.com/lhsws/money"/>
			<xs:complexType name="partyRoleAssignmentsListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="partyRoleId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>party role private key&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleShname" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>party role public key&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleName" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>party role public key&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="partyRoleAssignmentsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="listOfAssignmentsListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="familyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>id of family&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="completionStatus" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>completion status: -1=initial status, 0=completed, 1,2,3...=error code&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>&lt;p>valid from date&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="listOfAssignmentsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfAssignmentsListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customerReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>Identifies a nationality of the party by the public or private key. To be used only if license of feature LHS_BSCS_PC12991 is switched on&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="tbAmount" type="money:money">
						<xs:annotation>
							<xs:documentation>&lt;p>Threshold amount for threshold billing&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="createdByUser" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>user of creation&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="tbMode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Threshold mode for threshold billing: "IM" immediate request or "OD" for on demand request.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="tbPurpose" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Threshold purpose for threshold billing: "SIM" for simulation bill run, "INF" for information bill run, "REG" for regular bill run.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sioActionType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Threshold action related to small invoices handling.</p><p><ul><li>'G': Invoice: Generate invoice anyway (default).</li><li>'F': Carry-over: Forward invoices with small amount (Baseline setup per customer group).</li><li>'S': Write-off: Suppress invoices with small amount. </li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sioThresholdAmt" type="money:money">
						<xs:annotation>
							<xs:documentation>&lt;p>Threshold amount for small invoices handling.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="maxCarryOverLenght" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Max carry over length for  small invoices handling.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="maxCarryOverPeriodType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Max carry over type period for  small invoices handling.</p><p><ul><li>'D': Days.</li><li>'M': Months.</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="familyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>id of current family&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="listOfAssignments" type="wsi:listOfAssignmentsResponse"/>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Private BSCS customer ID.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public BSCS customer ID&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>customer code&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csStatus" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>status of the customer/dealer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csStatusDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>status date of the customer (dependend on the status CSDEACTIVATED, CSACTIVATED, SUSPENDE,REACTIVATED)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csActivationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>activation date of the customer (It is only set if the status is active.)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdHigh" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>id of parent level of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdHighPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Customers public key&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLevelCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>level of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentResp" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>payment responsibility&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="prgCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>pricegroup of the customer/dealer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="rpcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>rateplan for other credits and charges of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="rpcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the rateplan&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="tradeCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>trade code of the customer/dealer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="areaCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>area code of the customer/dealer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="costId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>costcenter of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="costCodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the cost center&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPassword" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>password of the customer/dealer&lt;/p>&lt;p>The cloumn CUSTOMER_ALL.BTX_PASSWORD is mapped and the property is bTXPassword for the dealer.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="rsCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>reason for the status change&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="wpCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>welcome procedure of the customer/dealer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="srCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>subscription reduction of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csRemark1" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>remark 1 about the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csRemark2" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>remark 2 about the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csBillInformation" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>bill information run flag&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>home currency code for expected payment&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the currency&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>conversion rate type for expected payment&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the conversion rate type&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="refundCurrencyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>foreign currency code for expected refund&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the currency&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>conversion rate type for refund&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the conversion rate type&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>external credit check agreed&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="custcatCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>category code of the customer's current individual taxation&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="custcatCodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the customer category&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csJurisdictionId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Tax geo code id.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Tax geo code. Usually provided by external address validation system.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Indicates that a city area is incorporated to levy taxes. Usually provided by external address validation system.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csBillcycle" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>billing cycle of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csBillcycleDesc" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>billing cycle of the customer (description)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr1" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>open amount threshold 1 of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the threshold&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr2" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>open amount threshold 2 of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the threshold&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr3" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>open amount threshold 3 of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the threshold&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csClimit" type="money:money">
						<xs:annotation>
							<xs:documentation>&lt;p>credit limit of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csContresp" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>customer responsibility for contract&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLastBcDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>&lt;p>last billing cycle date of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDeposit" type="money:money">
						<xs:annotation>
							<xs:documentation>&lt;p>deposit amount of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCreditscore" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>credit score&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditStatus" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>credit status&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditRemark" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>credit remark about the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>&lt;p>Date of Credit Scoring&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDunning" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>specifies if dunning is enabled / disabled (ignored for PC14318)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDunningMode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>dunning mode&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrepayment" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>prepayment required&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCollector" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>cash collector of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csFcId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>currency of credit, deposit, current balance, and previous balance of the customer.	The CS_FC_ID is needed to show the HOME currency.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csFcIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the currency&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscurbalance" type="money:money">
						<xs:annotation>
							<xs:documentation>&lt;p>current balance of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrevbalance" type="money:money">
						<xs:annotation>
							<xs:documentation>&lt;p>previous balance of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csUnbilledAmount" type="money:money">
						<xs:annotation>
							<xs:documentation>&lt;p>unbilled amount of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPaybehaviour" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>payment behaviour of the customer&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csNoBouncePay" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>number of the bounced payments.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDealerid" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>dealer id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDealeridPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Dealers public key&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csInitPrepaidContrOwner" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Flag indicating that this customer has been created in order to be used as the initial owner of a batch of preactivated prepaid contracts.	This kind of customer must have the party role preactive subscriber.	&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCreationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Creation date&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDeactivationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Deactivation date&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csSuspensionDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Suspension date&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csReactivationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Reactivation date&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="lastModificationUser" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Last modification user&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentRespId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Customer id of the payment responsible.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPaymntRespCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Customer code of the payment responsible.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsResponse"/>
					<xs:element minOccurs="0" name="partyType" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>party type identifier. c: cusotmer, b: business partner, o: operator&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="collInd" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>true if customer is in collection process, otherwise false.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="markedForRerating" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Indicates whether the customer is marked as a candidate for re-rating&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="externalCustomerId" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>external customer id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>external customer set id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="maxCsLevel" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>If the customer is a large account root, the max level of its large account should be returned&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="creditScore" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Credit score grade.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="creditScoreProvider" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Credit score type: B for CrB Defined; C for CSP defined.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditUser" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Username when credit scoring has been triggered externally.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="performCreditScoring" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Column CUSTOMER_ALL.CS_SUPPORTED for LA members will be set with given value for this attribute.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cslvlname" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>CSLVLNAME. To be used only if license of feature LHS_BSCS_PC12991 is switched on&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNationality" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Nationality of the party&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNationalityPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the country&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrEmployee" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Remark if customer is an employee. To be used only if license of feature LHS_BSCS_PC12991 is switched on&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csTestbillrun" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>special entry, range [a-z][A-Z]&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="customerReadRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>Customer identifier. If not explicitly passed then the customer ID is taken from the context&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Private BSCS customer ID.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public BSCS customer ID&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="syncWithDb" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>true if a database read is forced. In case the customer was already loaded in the server cache, the customer data is refreshed.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractservicesadd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractservicesadd">
			<xs:complexType name="bsgConfigurationListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="bsgId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p> BSG id &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="preferedCugId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p> Prefered CUG for this BSG, -1 for NONE&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="bsgConfigurationRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:bsgConfigurationListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="basicservicegroupassigmentsRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="bsgId" type="xs:long"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cugMembershipsListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="cugId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p> CUG id &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="basicservicegroupassigments" type="wsi:basicservicegroupassigmentsRequest"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="cugMembershipsRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:cugMembershipsListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="portsListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="portId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Port id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Numbering plan of the port (ResourceRegulation)&lt;/p>&lt;p>Mandatory if the port must be determined by the system&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the payment method&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extResourceTypeCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>The external resource types. Must be set if external service is set.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="portsRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:portsListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="directoryNumbersListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="dnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Directory number id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="mainDirnum" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Main directory number&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dirnumOnBill" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>&lt;code>DIRNUM_ON_BILL&lt;/code> indicates if the directory number is marked as shown on bill&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="bccode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Bearer capability code&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="lowerExt" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Lowest variable part of assigned block&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="upperExt" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Highest variable part of assigned block&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="hmcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Logical HLR code&lt;/p>&lt;p>Only considered if the directory number must be determined by the system&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="hmcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the logical HLR&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dnType" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Directory number type&lt;/p>&lt;p>Only considered if the directory number must be determined by the system&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Numbering plan of the directory number (ResourceRegulation)&lt;/p>&lt;p>Mandatory if the directory number must be determined by the system&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the payment method&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="linkedPublicDnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Linked Public Directory Number Id(MSISDN): This field must be given when we want to assign a Private Number to the VPN Access Service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="vpnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>This field must be given when we want to assign VPN Numbers or Private Numbers&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="vpnIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the VPN&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extResourceTypeCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>The external resource types. Must be set if external service is set.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="portingRequestId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Identifies the porting request. Used in case of import directory number.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="directoryNumbersRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:directoryNumbersListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="servicesListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="extServiceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>id of external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extServiceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="spcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service package code (SimpleProduct)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="spcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service package&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service code (ProductElement)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Profile id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosActivationDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Activation date for status change.</p><p>If this argument is not given the service remains on hold.</p><p>The column VALID_FROM_DATE will be filled only when the provisioning request is finished.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosTemplId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Template id of the parameters&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosSubfeeOvw" type="xs:double">
						<xs:annotation>
							<xs:documentation>&lt;p>One-time charge (formerly: subscription fee)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosSubfeeOvwType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Type of the one-time charge (formerly: subscription fee):	<ul><li>"A" -> one-time charge (<code>COS_SUBFEE_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> one-time charge (<code>COS_SUBFEE_OVW</code>) is a relative (percentage) amount</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvwValidFrom" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Valid from date of the overwritten recurring charge. F00407747 PC15267&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvw" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Recurring charge (formerly: access fee)</p><p>Mandatory if <code>COS_ACCFEE_OVW_TYPE</code> and/or <code>COS_ACCFEE_OVW_PRD</code> is not null</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvwType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Type of the recurring charge (formerly: access fee):	<ul><li>"A" -> recurring charge  (<code>COS_ACCFEE_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> recurring charge (<code>COS_ACCFEE_OVW</code>) is a relative (percentage) amount</li></ul></p><p>The default value is configurable in <code>Registry_CMS_Contract.xml</code> with the key Contract Settings: <code>DEFAULT_ACCFEE_OVW_TYPE</code>.</p><p>If this key is missing it is defaulted to "A" in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvwPrd" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Number of billing cycles to bill the modified recurring charge (formerly: access fee).</p><p>-1 means indefinitly</p><p>The default value is configurable in <code>Registry_CMS_Contract.xml</code> with the key Contract Settings: <code>DEFAULT_ACCFEE_OVW_PRD</code>.</p><p>If this key is missing it is defaulted to 1 in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="advanceAccessOvw" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Advance recurring charge (formerly: access fee)</p><p>Mandatory if <code>ADVANCE_ACCESS_OVW_TYPE</code> and/or <code>ADVANCE_ACCESS_OVW_PRD</code> is not null</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="advanceAccessOvwType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Type of the advance recurring charge (formerly: access fee):	<ul><li>"A" -> advance recurring charge  (<code>ADVANCE_ACCESS_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> advance recurring charge  (<code>ADVANCE_ACCESS_OVW</code>) is a relative (percentage) amount</li></ul></p><p>The default value is configurable in Registry_CMS_Contract.xml with the key Contract Settings: DEFAULT_ADVANCE_ACCESS_OVW_TYPE. If this key is missing it is defaulted to "A" in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="advanceAccessOvwPrd" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>	Number of billing cycles to bill the modified advance recurring charge (formerly: access fee)</p><p>-1 means indefinitly</p><p>The default value is configurable in <code>Registry_CMS_Contract.xml</code> with the key Contract Settings: <code>DEFAULT_ADVANCE_ACCESS_OVW_PRD</code>.</p><p>If this key is missing it is defaulted to 1 in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosQuantity" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>Quantity for selling goods VAS&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosTrialEndDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>&lt;p>Service trial end date&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPaymentConditionUsgInd" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Payment condition indicator for usage charges.<ul><li>1 - postpaid</li><li>2 - prepaid</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrepaidTpId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Prepaid time package identifier.</p><p>Can be given only if <code>CS_PREPAID_IND</code> is set to true or the service is already set as prepaid.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrepaidTpIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the time package&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csTypeOfControl" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Type of control of a service. <ul><li>1 - Online</li><li>2 - Offline</li></ul> </p><p>For prepaid service is only Online allowed.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPaymentConditionOnetimeRec" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Payment option for one time and recurring charges.<ul><li>1 - Postpaid</li><li>2 - Prepaid</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="chargingSchedule" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Charging schedule.<ul><li>'C' - Cut off date related</li><li>'B' - Billing run related</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="indCharging" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>True - the recurring charge has an individual charging-period.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="chargeIntervalLength" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>Interval length or charging-offset period for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="waitPeriodLength" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>Waiting Period or initial invoicing date for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="indChargingValidTo" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Valid to date of the individual charging. Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="directoryNumbers" type="wsi:directoryNumbersRequest"/>
					<xs:element minOccurs="0" name="ports" type="wsi:portsRequest"/>
					<xs:element minOccurs="0" name="cugMemberships" type="wsi:cugMembershipsRequest"/>
					<xs:element minOccurs="0" name="bsgConfiguration" type="wsi:bsgConfigurationRequest"/>
					<xs:element minOccurs="0" name="userReason" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Reason for the service status. This can be either the reason for the onhold status or for the activation in case EFFECTIVE_DATE or COS_ACTIVATION_DATE is set. The value of this parameter is a reason code from REASONSTATUS_ALL table&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="servicesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:servicesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contractServicesAddRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Identifies a contract with the public or private key.</p><p>Mandatory if no other contract-related command containing this information (such as <code>CONTRACT.READ</code>) has been executed before.</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="services" type="wsi:servicesRequest"/>
					<xs:element minOccurs="0" name="instanceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Identifier of the instance&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="instanceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the instance.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="requestIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Request public key that is unique among all MVNE/MVNO instances.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Effective date of the MVNO request.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Contract id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the contract&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractserviceswrite" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractserviceswrite">
			<xs:complexType name="autochangedservicesListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="spcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service package code (SimpleProduct) &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="spcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service package&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service code (ProductElement) &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosPendingStatus" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>Pending status of the service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="autochangedservicesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:autochangedservicesListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contractServicesWriteResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>This command returns a list with services that have been automatically modified in case a service package was provided as input without a corresponding &lt;code>SERVICE&lt;/code>, meaning all services assigned under that service packages get changed to the required status.&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="autochangedservices" type="wsi:autochangedservicesResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="bsgConfigurationListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="bsgId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p> BSG id &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="preferedCugId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p> Prefered CUG for this BSG, -1 for NONE&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="bsgConfigurationRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:bsgConfigurationListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="basicservicegroupassigmentsListpartRequest">
				<xs:all>
					<xs:element name="bsgAction" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p> The action to be performed for this BSG assignment. A - assign, D - deassign &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="bsgId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p> BSG id &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="basicservicegroupassigmentsRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:basicservicegroupassigmentsListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cugMembershipsListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="cugId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p> CUG id &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="basicservicegroupassigments" type="wsi:basicservicegroupassigmentsRequest"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="cugMembershipsRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:cugMembershipsListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="servicesListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="sncode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service code (ProductElement)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="spcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service package code (SimpleProduct)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="spcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service package&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extServiceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>id of external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extServiceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="opAssistedAction" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Operator assisted action<ul><li>"a" : Activate</li><li>"d" : Deactivate</li><li>"i" : Interogate</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="profileId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Profile id. If not set the default profile is used instead.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosPendingStatus" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>The new state of the contracted service.	This argument must be given to change the status of the contracted services.<ul><li>2 -> Active</li><li>4 -> Deactive</li></ul>It can be also used to delete an onhold service from the contract.</p><p>If the specified service is onhold, and the client set this parameter to 4 (Deactive), the service will be deleted.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="userReason" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Reason for the status change. The value of this parameter is a reason code from REASONSTATUL_ALL table&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosPendingStatusDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>    Execution date for status change.</p><p>This argument makes only sense if the argument <code>COS_PENDING_STATUS</code> is given.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosSubfeeOvw" type="xs:double">
						<xs:annotation>
							<xs:documentation>&lt;p>One-time charge (formerly: subscription fee)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosSubfeeOvwType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Type of the one-time charge (formerly: subscription fee):<ul><li>"A" -> One-time charge  (<code>COS_SUBFEE_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> One-time charge  (<code>COS_SUBFEE_OVW</code>) is a relative (percentage) amount</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvwValidFrom" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Valid from date of the overwritten recurring charge. F00407747 PC15267&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvw" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Recurring charge (formerly: access fee)</p><p>Mandatory if <code>COS_ACCFEE_OVW_TYPE</code> and/or <code>COS_ACCFEE_OVW_PRD</code> is not null</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvwType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Type of the recurring charge (formerly: access fee):<ul><li>"A" -> Recurring charge  (<code>COS_ACCFEE_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> Recurring charge  (<code>COS_ACCFEE_OVW</code>) is a relative (percentage) amount</li></ul></p><p>The default value is configurable in <code>Registry_CMS_Contract.xml</code> with the key Contract Settings: <code>DEFAULT_ACCFEE_OVW_TYPE</code>. If this key is missing it is defaulted to "A" in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosAccfeeOvwPrd" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Number of billing cycles to bill the modified recurring charge (formerly: access fee)</p><p>-1 means indefinitly</p><p>The default value is configurable in <code>Registry_CMS_Contract.xml</code> with the key Contract Settings: <code>DEFAULT_ACCFEE_OVW_PRD</code>.</p><p>If this key is missing it is defaulted to 1 in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosQuantity" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>Quantity for selling goods VAS&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cosTrialEndDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>&lt;p>Service trial end date&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="advanceAccessOvw" type="xs:double">
						<xs:annotation>
							<xs:documentation>&lt;p> Advance recurring charge (formerly: access fee)&lt;/p>&lt;p>Mandatory if ADVANCE_ACCESS_OVW_TYPE and/or ADVANCE_ACCESS_OVW_PRD is not null&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="advanceAccessOvwType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Type of the advance recurring charge (formerly: access fee):<ul><li>"A" -> Advance recurring charge  (<code>ADVANCE_ACCESS_OVW</code>) is an absolute amount</li><li>"R" -> Advance recurring charge  (<code>ADVANCE_ACCESS_OVW</code>) is a relative (percentage) amount</li></ul></p><p>The default value is configurable in <code>Registry_CMS_Contract.xml</code> with the key Contract Settings: <code>DEFAULT_ADVANCE_ACCESS_OVW_TYPE</code>.</p><p>If this key is missing it is defaulted to 'A' in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="advanceAccessOvwPrd" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Number of billing cycles to bill the modified advance recurring charge (formerly: access fee)</p><p>-1 means indefinitly </p><p>The default value is configurable in <code>Registry_CMS_Contract.xml</code> with the key Contract Settings: <code>DEFAULT_ADVANCE_ACCESS_OVW_PRD</code>.</p><p>If this key is missing it is defaulted to 1 in the code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cugAction" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p> The action to be performed for this CUG membership. D - delete, A - add, M - modify &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cugMemberships" type="wsi:cugMembershipsRequest"/>
					<xs:element minOccurs="0" name="bsgConfiguration" type="wsi:bsgConfigurationRequest"/>
					<xs:element minOccurs="0" name="csPaymentConditionUsgInd" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Payment condition indicator for usage charges.<ul><li>1 - postpaid</li><li>2 - prepaid</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrepaidTpId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Prepaid time package identifier.</p><p>Can be given only if <code>CS_PREPAID_IND</code> is set to true or the service is already set as prepaid.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrepaidTpIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the time package&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csTypeOfControl" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Type of control of a service. <ul><li>1 - Online</li><li>2 - Offline</li></ul> </p><p>For prepaid service is only Online allowed.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPaymentConditionOnetimeRec" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Payment option for one time and recurring charges of the contracted service.<ul><li>1 - Postpaid</li><li>2 - Prepaid</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="chargingSchedule" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Charging schedule of the contracted service.<ul><li>'C' - Cut off date related</li><li>'B' - Billing run related</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="indCharging" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>True - the recurring charge has an individual charging-period.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="chargeIntervalLength" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>Interval length or charging-offset period for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="waitPeriodLength" type="xs:integer">
						<xs:annotation>
							<xs:documentation>&lt;p>Waiting Period or initial invoicing date for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="indChargingValidTo" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Waiting Period or initial invoicing date for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="servicesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:servicesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contractServicesWriteRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>Both arguments RECORD_ID and RECORD_ID_SUB should be set or both should be omitted	&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="services" type="wsi:servicesRequest"/>
					<xs:element minOccurs="0" name="instanceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Identifier of the instance&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="instanceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the instance.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="requestIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Request public key that is unique among all MVNE/MVNO instances.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Effective date of the MVNO request.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Contract id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the contract&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="recordId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Call record identifier, references the call event from the RTX table.	This argument (together with the RECORD_SUB_ID) triggers generation of the parent charging GMD request&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="recordSubId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Call record sub-identifier, references to the call event from the RTX table&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractserviceresourceswrite" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractserviceresourceswrite">
			<xs:complexType name="portsListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="portId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Port id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="portNum" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Port number&lt;/p>&lt;p>This argument is used only to modify the status of a port.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="status" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Port status<ul><li>2 -> Active</li><li>4 -> Deactive</li><li>6 -> Removed</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="retention" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Retention mode:<ul><li>0 -> No retention</li><li>1 -> With hold</li><li>2 -> Return to same dealer</li><li>3 -> Return to different dealer</li></ul>Only considered if the value of <code>STATUS</code> is 6.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Numbering plan of the port (ResourceRegulation)&lt;/p>&lt;p>Mandatory if the port must be determined by the system &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the payment method&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extResourceTypeCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>The external resource types. Must be set if external service is set.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="portsRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:portsListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="directoryNumbersListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="dnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Directory number id.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dirnum" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Directory number (MSISDN)</p><p>This argument must be used only in for deassignment or modification of resource. For assignment, use <code>DN_ID</code></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isVanity" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Flag to identify if the res_num given is a vanity num	This value will only be taken in account if the NPCODE is given&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="retention" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Retention mode:<ul><li>0 -> No retention</li><li>1 -> With hold</li><li>2 -> Return to same dealer</li><li>3 -> Return to different dealer</li></ul>Only considered if the directory number is going to be deassigned.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="mainDirnum" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>Main directory number&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dirnumOnBill" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>&lt;p>DIRNUM_ON_BILL indicates  if the directory number is marked as shown on bill&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="bccode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Bearer capability code&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="lowerExt" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Lowest variable part of assigned block&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="upperExt" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Highest variable part of assigned block&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="hmcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Logical HLR code</p><p>Only considered if the directory number must be determined by the system,	i.e., <code>DN_ID</code> and <code>DIRNUM</code> are not given.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="hmcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the logical HLR&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dnType" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>	Directory number type</p><p>Only considered if the directory number must be determined by the system	i.e., <code>RES_ID</code> and <code>DIRNUM</code> are not given.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Numbering plan of the directory number (ResourceRegulation)</p><p>Mandatory if the directory number must be determined by the system	i.e., <code>DN_ID</code> and <code>DIRNUM</code> are not given.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="npcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the payment method&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="linkedPublicDnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Linked Public Directory Number Id (MSISDN): This field must be given when we want to assign a Private Number to the VPN Access Service or	when we want to replace the Public Number of a already assigned Private Number&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extResourceTypeCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>The external resource types. Must be set if external service is set.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="portingRequestId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Identifies the porting request. Used in case of directory number replacement.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="directoryNumbersRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:directoryNumbersListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contractServiceResourcesWriteRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>Identifies a contract with the public or private key.&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="sncode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service code (ProductElement)&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extServiceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>id of external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extServiceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Profile id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="directoryNumbers" type="wsi:directoryNumbersRequest"/>
					<xs:element minOccurs="0" name="ports" type="wsi:portsRequest"/>
					<xs:element minOccurs="0" name="instanceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Identifier of the instance&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="instanceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the instance.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="requestIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Request public key that is unique among all MVNE/MVNO instances.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Effective date of the MVNO request.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Contract id&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the contract&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractserviceparameterswrite" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractserviceparameterswrite">
			<xs:complexType name="multValuesListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="valueSeqno" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Number of the parameter value.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Parameter's new  value.<ul><li> In case of ListBox type, should be the sequence number of the desired value, returned by PARAMETER.READ.</li><li> In case the value string represents a date value, the following format should be used : dd/MM/yyyy HH:mm:ss</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="valuePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the parameter value.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="valueDes" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Parameter value description.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>&lt;p>The date from which this value shall be valid from. Should be used only for parameters on free unit services! Only supported for action m and single value parameters. In all other cases, the column PARAMETER_VALUE.PRM_VALID_FROM GMD is filled by GMD after processing the GMD request. &lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="multValuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:multValuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="targetParamValuesListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="targetSiblingNo" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Number of the set for the following new added value(s).&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="multValues" type="wsi:multValuesRequest"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="targetParamValuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:targetParamValuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="paramValuesListpartRequest">
				<xs:all>
					<xs:element name="cosAction" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Action to perform.	<ul><li>i 	- Initialize the first version of the service's parameters. None of the following parameters is required. The default values are assigned from the specified TEMPLATE_ID.	After initializing, the CONTRACT_SERVICE_PARAMETER.READ SL command can be used.</li><li>a	- Activate/Add parameter to service. To add a set of children of the top-level : PRM_NO	- To add a a set of a complex parameter which is not top-level : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO	In this case, the specified IDs will identify the parent node to which a set of children will be added. The TARGET_PARAM_VALUES must be empty.	- To add a value to a simple, multiple value parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO	In this case, VALUE_SEQNO must be empty, VALUE and VALUE_DES must be set, TARGET_PARAM_VALUES list must contain only one element</li><li>d 	- Deactivate/Delete parameter from service. To delete a a set of a complex parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO	In this case, the specified IDs will identify the parent node who's set of children will be deleted. The MULT_VALUES list must be empty.	The TARGET_PARAM_VALUES must have one element. The TARGET_SIBLING_NO identifies the set to be deleted.	- To delete a value of a simple, multiple values parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO	In this case, VALUE_SEQNO identifies the value to be deleted.  If VALUE_SEQNO is set to a null value, then, all values will be deleted. TARGET_PARAM_VALUES must contain exactly one element.</li><li>m	- Modify service parameter. To modify a value of a simple, single entry parameter : PRM_NO, COMPLEX_SEQNO,COMPLEX_LEVEL,SIBLING_SEQNO,PARENT_SEQNO	Only simple, single entry parameters can be modified. The IDs identify the parameter to be modified. VALUE and VALUE_DES must be set.</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="prmNo" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Sequence number of the parameter within the service.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="complexNo" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Sequence number of the node within the hierarchy.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="complexLevel" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Level of the node in the hierarchy.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="siblingNo" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Number of the set that this node belongs to.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="parentNo" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Number of the set from the parent that this node belongs to.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="targetParamValues" type="wsi:targetParamValuesRequest"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="paramValuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:paramValuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="contractServiceParametersWriteRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>Identifies a contract with the public or private key.&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="spcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service package code.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="spcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service package&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncode" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service code.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sncodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extServiceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>id of external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="extServiceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the external service&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Profile ID.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="templId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Service parameter template ID.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paramValues" type="wsi:paramValuesRequest"/>
					<xs:element minOccurs="0" name="instanceId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Identifier of the instance&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="instanceIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the instance.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="requestIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Request public key that is unique among all MVNE/MVNO instances.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>&lt;p>Effective date of the MVNO request.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>&lt;p>Contract identifier. None given means new contract.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>Public key of the contract&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractmodifyservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:contractserviceparameterswrite="http://ericsson.com/services/ws_CIL_5/contractserviceparameterswrite" xmlns:contractserviceresourceswrite="http://ericsson.com/services/ws_CIL_5/contractserviceresourceswrite" xmlns:contractservicesadd="http://ericsson.com/services/ws_CIL_5/contractservicesadd" xmlns:contractserviceswrite="http://ericsson.com/services/ws_CIL_5/contractserviceswrite" xmlns:customerread="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractmodifyservice">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/customerread"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/contractservicesadd"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/contractserviceswrite"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/contractserviceresourceswrite"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/contractserviceparameterswrite"/>
			<xs:element name="contractModifyserviceRequest" type="wsi:contractModifyserviceRequest"/>
			<xs:element name="contractModifyserviceResponse" type="wsi:contractModifyserviceResponse"/>
			<xs:complexType name="contractModifyserviceResponse">
				<xs:all>
					<xs:element minOccurs="0" name="contractServicesWrite" type="contractserviceswrite:contractServicesWriteResponse">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="serviceParametersListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="contractServiceParametersWrite" type="contractserviceparameterswrite:contractServiceParametersWriteRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="serviceParametersRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:serviceParametersListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:element minOccurs="0" name="customerRead" type="customerread:customerReadRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="contractServicesAdd" type="contractservicesadd:contractServicesAddRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="contractServicesWrite" type="contractserviceswrite:contractServicesWriteRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="contractServiceResourcesWrite" type="contractserviceresourceswrite:contractServiceResourcesWriteRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="serviceParameters" type="wsi:serviceParametersRequest"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="contractModifyserviceRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="contractModifyserviceResponse">
		<wsdl:part element="sch8:contractModifyserviceResponse" name="contractModifyserviceResponse"/>
	</wsdl:message>
	<wsdl:message name="contractModifyserviceRequest">
		<wsdl:part element="sch8:contractModifyserviceRequest" name="contractModifyserviceRequest"/>
	</wsdl:message>
	<wsdl:portType name="ContractModifyserviceService">
		<wsdl:operation name="contractModifyservice">
			<wsdl:input message="tns:contractModifyserviceRequest" name="contractModifyserviceRequest"/>
			<wsdl:output message="tns:contractModifyserviceResponse" name="contractModifyserviceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ContractModifyserviceServiceSoap11" type="tns:ContractModifyserviceService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="contractModifyservice">
			<soap:operation soapAction=""/>
			<wsdl:input name="contractModifyserviceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="contractModifyserviceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ContractModifyserviceService">
		<wsdl:port binding="tns:ContractModifyserviceServiceSoap11" name="ContractModifyserviceServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services/ws_CIL_5_ContractModifyserviceService.wsdl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>