src/CommonProject/BusinessWSDLS/Services/WSDLS/CustomerCommitment/CustomerCommitment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Abdulaziz Alfoudari (Zain) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerCommitment" xmlns:ns="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Services/CustomerCommitment">
    <wsdl:types>
        <xs:schema xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerCommitment" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/CustomerCommitment" elementFormDefault="qualified">
            <xsi:simpleType name="MSISDN">
                <xsi:restriction base="xs:string">
                    <xsi:minLength value="8"/>
                </xsi:restriction>
            </xsi:simpleType>
            <xsi:simpleType name="NonEmptyString">
                <xsi:restriction base="xs:string">
                    <xsi:minLength value="1"/>
                </xsi:restriction>
            </xsi:simpleType>
            <xsi:simpleType name="ActionType">
                <xsi:restriction base="xs:string">
                    <xsi:enumeration value="Install"/>
                    <xsi:enumeration value="Disconnect"/>
                </xsi:restriction>
            </xsi:simpleType>
            <xsi:element name="CommitmentDetailsInput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="SubscriberNumber" type="tns:MSISDN">
                            <xsi:annotation>
                                <xsi:documentation>The subscriber number to retrieve commitment details for.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="CommitmentDetailsOutput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="Commitment" minOccurs="0" maxOccurs="unbounded">
                            <xsi:annotation>
                                <xsi:documentation>Represents a single commitment.</xsi:documentation>
                            </xsi:annotation>
                            <xsi:complexType>
                                <xsi:sequence>
                                    <xsi:element name="Service" type="xs:string">
                                        <xsi:annotation>
                                            <xsi:documentation>Service code associated with the commitment.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="Description" type="xs:string">
                                        <xsi:annotation>
                                            <xsi:documentation>Brief description of the service/commitment.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="Type" type="xs:string">
                                        <xsi:annotation>
                                            <xsi:documentation>Commitment’s type.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="Period" type="xs:string">
                                        <xsi:annotation>
                                            <xsi:documentation>Commitment’s entire period (months).</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="DisconnectionFee" type="xs:decimal">
                                        <xsi:annotation>
                                            <xsi:documentation>The penalty fee to be applied if the commitment is terminated.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="StartDate" type="xs:date">
                                        <xsi:annotation>
                                            <xsi:documentation>Commitment’s start date.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="EndDate" type="xs:date">
                                        <xsi:annotation>
                                            <xsi:documentation>Commitment’s end date.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="DaysLeft" type="xs:integer">
                                        <xsi:annotation>
                                            <xsi:documentation>Number of days left for the commitment.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                    <xsi:element name="MonthsLeft" type="xs:decimal">
                                        <xsi:annotation>
                                            <xsi:documentation>Approximate number of months left for the commitment.</xsi:documentation>
                                        </xsi:annotation>
                                    </xsi:element>
                                </xsi:sequence>
                            </xsi:complexType>
                        </xsi:element>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="SimulateInput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="SubscriberNumber" type="tns:MSISDN">
                            <xsi:annotation>
                                <xsi:documentation>The subscriber number to simulate the order on.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                        <xsi:element name="Action" type="tns:ActionType">
                            <xsi:annotation>
                                <xsi:documentation>The order’s action.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                        <xsi:element name="EquipID" type="tns:NonEmptyString">
                            <xsi:annotation>
                                <xsi:documentation>The service code to perform the action for.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="SimulateOutput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="Type" type="xs:string" minOccurs="0">
                            <xsi:annotation>
                                <xsi:documentation>The type of the commitment.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                        <xsi:element name="Period" type="xs:dateTime" minOccurs="0">
                            <xsi:annotation>
                                <xsi:documentation>The period in months of the commitment.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                        <xsi:element name="CommitmentAmount" type="xs:decimal" minOccurs="0">
                            <xsi:annotation>
                                <xsi:documentation>The commitment total amount.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                        <xsi:element name="DisconnectionFee" type="xs:decimal">
                            <xsi:annotation>
                                <xsi:documentation>The penalty fee to be applied if the commitment is terminated.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
        </xsi:schema>
    </wsdl:types>
    <wsdl:message name="CommitmentDetailsRequest">
        <wsdl:part name="request" element="tns:CommitmentDetailsInput"/>
    </wsdl:message>
    <wsdl:message name="CommitmentDetailsResponse">
        <wsdl:part name="response" element="tns:CommitmentDetailsOutput"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part name="fault" element="ns:FaultType"/>
    </wsdl:message>
    <wsdl:message name="SimulateRequest">
        <wsdl:part name="parameter" element="tns:SimulateInput"/>
    </wsdl:message>
    <wsdl:message name="SimulateResponse">
        <wsdl:part name="parameter" element="tns:SimulateOutput"/>
    </wsdl:message>
    <wsdl:portType name="CustomerCommitmentPort">
        <wsdl:operation name="CommitmentDetails">
            <wsdl:input message="tns:CommitmentDetailsRequest"/>
            <wsdl:output message="tns:CommitmentDetailsResponse"/>
            <wsdl:fault name="fault" message="tns:FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Simulate">
            <wsdl:input message="tns:SimulateRequest"/>
            <wsdl:output message="tns:SimulateResponse"/>
            <wsdl:fault name="fault" message="tns:FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerCommitmentBinding" type="tns:CustomerCommitmentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CommitmentDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Simulate">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerCommitment">
        <wsdl:port name="CustomerCommitmentPort" binding="tns:CustomerCommitmentBinding">
            <soap:address location="URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>