src/CommonProject/BusinessSchemas/Services/Modification/CustomerCategoryChange/CustCatChangeEEB.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Modification/CustCategoryChange/Schema.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Modification/CustCategoryChange/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CustCategoryChangeReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header" minOccurs="0"/>
				<xs:element ref="Input" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMCustomerID" minOccurs="0"/>
				<xs:element ref="custCategory" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustCategoryChangeRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header" minOccurs="0"/>
				<xs:element ref="Response" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="custCategory" type="xs:string"/>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="correlationID" minOccurs="0"/>
				<xs:element ref="serviceOrderId" minOccurs="0"/>
				<xs:element ref="salesOrderId" minOccurs="0"/>
				<xs:element ref="buIdPubKey" minOccurs="0"/>
				<xs:element ref="buIdPubValue" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="correlationID" type="xs:string"/>
	<xs:element name="serviceOrderId" type="xs:string"/>
	<xs:element name="salesOrderId" type="xs:string"/>
	<xs:element name="buIdPubKey" type="xs:string"/>
	<xs:element name="buIdPubValue" type="xs:string"/>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseDesc" type="xs:string"/>
	<xs:element name="CRMCustomerID" type="xs:string"/>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseDesc" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>