src/CommonProject/BusinessSchemas/Services/Modification/Biometric/BiometricActivity.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/BiometricActivity.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/BiometricActivity.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CreateRequestByAgentInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="RequestKey" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Token" minOccurs="0"/>
				<xs:element ref="ProfileId" minOccurs="0"/>
				<xs:element ref="JobId" minOccurs="0"/>
				<xs:element ref="JobUserName" minOccurs="0"/>
				<xs:element ref="JobDeviceId" minOccurs="0"/>
				<xs:element ref="JobClientName" minOccurs="0"/>
				<xs:element ref="PrevJobId" minOccurs="0"/>
				<xs:element ref="OrderNumber" minOccurs="0"/>
				<xs:element ref="JobStatus" minOccurs="0"/>
				<xs:element ref="JobType" minOccurs="0"/>
				<xs:element ref="EnglishName" minOccurs="0"/>
				<xs:element ref="ArabicName" minOccurs="0"/>
				<xs:element ref="LineNumber" minOccurs="0"/>
				<xs:element ref="TransactionDate" minOccurs="0"/>
				<xs:element ref="ReceiptNumberList" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ContractNumber" minOccurs="0"/>
				<xs:element ref="InvoiceNumber" minOccurs="0"/>
				<xs:element ref="PDFFileURL" minOccurs="0"/>
				<xs:element ref="OrderType" minOccurs="0"/>
				<xs:element ref="OrderSubType" minOccurs="0"/>
				<xs:element ref="OldCustomerNumber" minOccurs="0"/>
				<xs:element ref="OldCustomerIdType" minOccurs="0"/>
				<xs:element ref="OldCustomerIdNumber" minOccurs="0"/>
				<xs:element ref="NewCustomerNumber" minOccurs="0"/>
				<xs:element ref="NewCustomerIdType" minOccurs="0"/>
				<xs:element ref="NewCustomerIdNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateRequestByAgentOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobId" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ProfileId" minOccurs="0"/>
				<xs:element ref="ClientName" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="DeviceId" minOccurs="0"/>
				<xs:element ref="AssignDate" minOccurs="0"/>
				<xs:element ref="OrderNumber" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="StatuschgDate" minOccurs="0"/>
				<xs:element ref="ValidationResult" minOccurs="0"/>
				<xs:element ref="ValidationMessage" minOccurs="0"/>
				<xs:element ref="Flag" minOccurs="0"/>
				<xs:element ref="SkipFlag" minOccurs="0"/>
				<xs:element ref="SkipReasonFinger" minOccurs="0"/>
				<xs:element ref="SkipReasonface" minOccurs="0"/>
				<xs:element ref="Message" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ApplicationId" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="RequestDate" type="xs:string"/>
	<xs:element name="RequestKey" type="xs:string"/>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="Language" type="xs:string"/>
	<xs:element name="Token" type="xs:string"/>
	<xs:element name="JobType" type="xs:string"/>
	<xs:element name="ClientUserName" type="xs:string"/>
	<xs:element name="JobId" type="xs:string"/>
	<xs:element name="ProfileId" type="xs:string"/>
	<xs:element name="ClientName" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="DeviceId" type="xs:string"/>
	<xs:element name="AssignDate" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="StatuschgDate" type="xs:string"/>
	<xs:element name="ValidationResult" type="xs:string"/>
	<xs:element name="ValidationMessage" type="xs:string"/>
	<xs:element name="Message" type="xs:string"/>
	<xs:element name="QueryIDByAgentInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="RequestKey" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Token" minOccurs="0"/>
				<xs:element ref="JobId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryIDByAgentOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobId" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ProfileId" minOccurs="0"/>
				<xs:element ref="ClientName" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="DeviceId" minOccurs="0"/>
				<xs:element ref="AssignDate" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="StatuschgDate" minOccurs="0"/>
				<xs:element ref="ValidationResult" minOccurs="0"/>
				<xs:element ref="ValidationMessage" minOccurs="0"/>
				<xs:element ref="Message" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryCustomerCivilIdDataInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="RequestKey" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Token" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryCustomerCivilIdDataOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CivilID" minOccurs="0"/>
				<xs:element ref="IdType" minOccurs="0"/>
				<xs:element ref="ArabicTitle" minOccurs="0"/>
				<xs:element ref="ArabicName1" minOccurs="0"/>
				<xs:element ref="ArabicName2" minOccurs="0"/>
				<xs:element ref="ArabicName3" minOccurs="0"/>
				<xs:element ref="ArabicName4" minOccurs="0"/>
				<xs:element ref="EnglishName1" minOccurs="0"/>
				<xs:element ref="EnglishName2" minOccurs="0"/>
				<xs:element ref="EnglishName3" minOccurs="0"/>
				<xs:element ref="EnglishName4" minOccurs="0"/>
				<xs:element ref="ArabicSex" minOccurs="0"/>
				<xs:element ref="Sex" minOccurs="0"/>
				<xs:element ref="Nationality" minOccurs="0"/>
				<xs:element ref="NationalityCode" minOccurs="0"/>
				<xs:element ref="Birthday" minOccurs="0"/>
				<xs:element ref="CardIssueDate" minOccurs="0"/>
				<xs:element ref="CardExpiryDate" minOccurs="0"/>
				<xs:element ref="DocumentNo" minOccurs="0"/>
				<xs:element ref="SerialNumber" minOccurs="0"/>
				<xs:element ref="MOIRef" minOccurs="0"/>
				<xs:element ref="MOIIndicator" minOccurs="0"/>
				<xs:element ref="UnCode" minOccurs="0"/>
				<xs:element ref="Destination" minOccurs="0"/>
				<xs:element ref="Block" minOccurs="0"/>
				<xs:element ref="Street" minOccurs="0"/>
				<xs:element ref="Plot" minOccurs="0"/>
				<xs:element ref="UnitType" minOccurs="0"/>
				<xs:element ref="UnitNo" minOccurs="0"/>
				<xs:element ref="Floor" minOccurs="0"/>
				<xs:element ref="BloodType" minOccurs="0"/>
				<xs:element ref="GuardianCivilIDNo" minOccurs="0"/>
				<xs:element ref="TEL" minOccurs="0"/>
				<xs:element ref="EMAILADDRESS" minOccurs="0"/>
				<xs:element ref="ADDITIONAL" minOccurs="0"/>
				<xs:element ref="TEL2" minOccurs="0"/>
				<xs:element ref="Extra" minOccurs="0"/>
				<xs:element ref="VisaSerial" minOccurs="0"/>
				<xs:element ref="VisaType" minOccurs="0"/>
				<xs:element ref="Sponsor" minOccurs="0"/>
				<xs:element ref="ResidencyArticle" minOccurs="0"/>
				<xs:element ref="SiebelBloodType" minOccurs="0"/>
				<xs:element ref="SiebelCity" minOccurs="0"/>
				<xs:element ref="SiebelPostalAreaName" minOccurs="0"/>
				<xs:element ref="SiebelNationality" minOccurs="0"/>
				<xs:element ref="Article" minOccurs="0"/>
				<xs:element ref="CallBack" minOccurs="0"/>
				<xs:element ref="PassportNo" minOccurs="0"/>
				<xs:element ref="JobTitle" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CivilID" type="xs:string"/>
	<xs:element name="ArabicTitle" type="xs:string"/>
	<xs:element name="ArabicName1" type="xs:string"/>
	<xs:element name="ArabicName2" type="xs:string"/>
	<xs:element name="ArabicName3" type="xs:string"/>
	<xs:element name="ArabicName4" type="xs:string"/>
	<xs:element name="EnglishName1" type="xs:string"/>
	<xs:element name="EnglishName2" type="xs:string"/>
	<xs:element name="EnglishName3" type="xs:string"/>
	<xs:element name="EnglishName4" type="xs:string"/>
	<xs:element name="ArabicSex" type="xs:string"/>
	<xs:element name="Sex" type="xs:string"/>
	<xs:element name="Nationality" type="xs:string"/>
	<xs:element name="NationalityCode" type="xs:string"/>
	<xs:element name="Birthday" type="xs:string"/>
	<xs:element name="CardIssueDate" type="xs:string"/>
	<xs:element name="CardExpiryDate" type="xs:string"/>
	<xs:element name="DocumentNo" type="xs:string"/>
	<xs:element name="SerialNumber" type="xs:string"/>
	<xs:element name="MOIRef" type="xs:string"/>
	<xs:element name="MOIIndicator" type="xs:string"/>
	<xs:element name="UnCode" type="xs:string"/>
	<xs:element name="Destination" type="xs:string"/>
	<xs:element name="Block" type="xs:string"/>
	<xs:element name="Street" type="xs:string"/>
	<xs:element name="Plot" type="xs:string"/>
	<xs:element name="UnitType" type="xs:string"/>
	<xs:element name="UnitNo" type="xs:string"/>
	<xs:element name="Floor" type="xs:string"/>
	<xs:element name="BloodType" type="xs:string"/>
	<xs:element name="GuardianCivilIDNo" type="xs:string"/>
	<xs:element name="TEL" type="xs:string"/>
	<xs:element name="EMAILADDRESS" type="xs:string"/>
	<xs:element name="ADDITIONAL" type="xs:string"/>
	<xs:element name="TEL2" type="xs:string"/>
	<xs:element name="Extra" type="xs:string"/>
	<xs:element name="VisaSerial" type="xs:string"/>
	<xs:element name="VisaType" type="xs:string"/>
	<xs:element name="Sponsor" type="xs:string"/>
	<xs:element name="QueryJobListsInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="RequestKey" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Token" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryJobListsOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobDetail" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobId" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ProfileId" minOccurs="0"/>
				<xs:element ref="ClientName" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="DeviceId" minOccurs="0"/>
				<xs:element ref="AssignDate" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="StatuschgDate" minOccurs="0"/>
				<xs:element ref="ValidationResult" minOccurs="0"/>
				<xs:element ref="ValidationMessage" minOccurs="0"/>
				<xs:element ref="Message" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewOrderDocumentsJobCreateInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="RequestKey" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Token" minOccurs="0"/>
				<xs:element ref="ClientUserName" minOccurs="0"/>
				<xs:element ref="OrderNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewOrderDocumentsJobCreateOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobId" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ProfileId" minOccurs="0"/>
				<xs:element ref="ClientName" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="DeviceId" minOccurs="0"/>
				<xs:element ref="AssignDate" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="StatuschgDate" minOccurs="0"/>
				<xs:element ref="ValidationResult" minOccurs="0"/>
				<xs:element ref="ValidationMessage" minOccurs="0"/>
				<xs:element ref="Message" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderNumber" type="xs:string"/>
	<xs:element name="ResidencyArticle" type="xs:string"/>
	<xs:element name="EmailAddress" type="xs:string"/>
	<xs:element name="SiebelBloodType" type="xs:string"/>
	<xs:element name="SiebelCity" type="xs:string"/>
	<xs:element name="SiebelPostalAreaName" type="xs:string"/>
	<xs:element name="SiebelNationality" type="xs:string"/>
	<xs:element name="SendSMSInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="RequestKey" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Token" minOccurs="0"/>
				<xs:element ref="OrderNumber" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendSMSOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="IdType" type="xs:string"/>
	<xs:element name="JobUserName" type="xs:string"/>
	<xs:element name="JobDeviceId" type="xs:string"/>
	<xs:element name="JobClientName" type="xs:string"/>
	<xs:element name="PrevJobId" type="xs:string"/>
	<xs:element name="JobStatus" type="xs:string"/>
	<xs:element name="EnglishName" type="xs:string"/>
	<xs:element name="ArabicName" type="xs:string"/>
	<xs:element name="LineNumber" type="xs:string"/>
	<xs:element name="TransactionDate" type="xs:string"/>
	<xs:element name="ReceiptNumberList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReceiptNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReceiptNumber" type="xs:string"/>
	<xs:element name="ContractNumber" type="xs:string"/>
	<xs:element name="InvoiceNumber" type="xs:string"/>
	<xs:element name="PDFFileURL" type="xs:string"/>
	<xs:element name="Flag" type="xs:string"/>
	<xs:element name="SkipFlag" type="xs:string"/>
	<xs:element name="SkipReasonFinger" type="xs:string"/>
	<xs:element name="SkipReasonface" type="xs:string"/>
	<xs:element name="OrderType" type="xs:string"/>
	<xs:element name="OrderSubType" type="xs:string"/>
	<xs:element name="OldCustomerNumber" type="xs:string"/>
	<xs:element name="OldCustomerIdType" type="xs:string"/>
	<xs:element name="OldCustomerIdNumber" type="xs:string"/>
	<xs:element name="NewCustomerNumber" type="xs:string"/>
	<xs:element name="NewCustomerIdType" type="xs:string"/>
	<xs:element name="NewCustomerIdNumber" type="xs:string"/>
	<xs:element name="JobStatusCheckByJobIdInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ApplicationId" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="RequestDate" minOccurs="0"/>
				<xs:element ref="RequestKey" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Token" minOccurs="0"/>
				<xs:element ref="JobId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobStatusCheckByJobIdOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobId" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ProfileId" minOccurs="0"/>
				<xs:element ref="ClientName" minOccurs="0"/>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="DeviceId" minOccurs="0"/>
				<xs:element ref="AssignDate" minOccurs="0"/>
				<xs:element ref="OrderNumber" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="StatuschgDate" minOccurs="0"/>
				<xs:element ref="ValidationResult" minOccurs="0"/>
				<xs:element ref="ValidationMessage" minOccurs="0"/>
				<xs:element ref="Flag" minOccurs="0"/>
				<xs:element ref="SkipFlag" minOccurs="0"/>
				<xs:element ref="SkipReasonFinger" minOccurs="0"/>
				<xs:element ref="SkipReasonface" minOccurs="0"/>
				<xs:element ref="Message" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Article" type="xs:string"/>
	<xs:element name="CallBack" type="xs:string"/>
	<xs:element name="PassportNo" type="xs:string"/>
	<xs:element name="JobTitle" type="xs:string"/>
</xs:schema>