src/CommonProject/BusinessWSDLS/Services/WSDLS/UpsertCustomer/UpsertCustomerInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/UpsertCustomer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/UpsertCustomer/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/UpsertCustomer">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Param">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/UpsertCustomer/Types" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/UpsertCustomer/Types">
            <xs:complexType name="PostalAddress">
                <xs:sequence>
                    <xs:element minOccurs="0" name="PostalArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="POBox" type="xs:string"/>
                    <xs:element minOccurs="0" name="PostalCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                    <xs:element minOccurs="0" name="Governate" type="xs:string"/>
                    <xs:element minOccurs="0" name="Area" type="xs:string"/>
                    <xs:element minOccurs="0" name="Block" type="xs:string"/>
                    <xs:element minOccurs="0" name="Street" type="xs:string"/>
                    <xs:element minOccurs="0" name="HouseOrBuilding" type="xs:string"/>
                    <xs:element minOccurs="0" name="Floor" type="xs:string"/>
                    <xs:element minOccurs="0" name="Apartment" type="xs:string"/>
                    <xs:element minOccurs="0" name="Directions" type="xs:string"/>
                    <xs:element minOccurs="0" name="PACIRef" type="xs:string"/>
                    <xs:element minOccurs="0" name="Region" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZipCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="StreetNo" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Country" type="xs:string"/>
                    <xs:element minOccurs="0" name="Name" type="xs:string"/>
                    <xs:element minOccurs="0" name="Title" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="LastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="SecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ThirdName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicTitle" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicFirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicLastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicSecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicThirdName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentityInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="Sex" type="xs:string"/>
                    <xs:element minOccurs="0" name="Nationality" type="xs:string"/>
                    <xs:element minOccurs="0" name="Language" type="xs:string"/>
                    <xs:element minOccurs="0" name="Profession" type="xs:string"/>
                    <xs:element minOccurs="0" name="ProfessionDescription" type="xs:string"/>
                    <xs:element minOccurs="0" name="Education" type="xs:string"/>
                    <xs:element minOccurs="0" name="MaritalStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="Employee" type="xs:string"/>
                    <xs:element minOccurs="0" name="StaffNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="PersonalNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdType">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Civil ID"/>
                                <xs:enumeration value="Employee"/>
                                <xs:enumeration value="System Generated"/>
                                <xs:enumeration value="Licence"/>
                                <xs:enumeration value="Roaming"/>
                                <xs:enumeration value="Passport"/>
                                <xs:enumeration value="Enterprise"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="IdNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdExpirationDate" nillable="true" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Identity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="typ:IdentityName"/>
                    <xs:element minOccurs="0" name="Information" type="typ:IdentityInformation"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PhoneContact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Number" type="xs:string"/>
                    <xs:element minOccurs="0" name="Type" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Contact">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PhoneContact" type="typ:PhoneContact"/>
                    <xs:element minOccurs="0" name="eMailAddress" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CardInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="IMSI" type="xs:string"/>
                    <xs:element minOccurs="0" name="ICCID" type="xs:string"/>
                    <xs:element minOccurs="0" name="PIN" type="xs:string"/>
                    <xs:element minOccurs="0" name="PUK1" type="xs:string"/>
                    <xs:element minOccurs="0" name="PUK2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="Category" type="xs:string"/>
                    <xs:element minOccurs="0" name="Segment" type="xs:string"/>
                    <xs:element minOccurs="0" name="AppliedDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CloseCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="BillGroup" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReferredBy" type="xs:string"/>
                    <xs:element minOccurs="0" name="TariffProfile" type="xs:string"/>
                    <xs:element minOccurs="0" name="AllowedSubs" type="xs:int"/>
                    <xs:element minOccurs="0" name="VPNCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="Currency" type="xs:string"/>
                    <xs:element minOccurs="0" name="HotBilling" type="xs:string"/>
                    <xs:element minOccurs="0" name="PaymentResponsibility" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="TransferDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="BillingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BasicServiceType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BSFlag" type="xs:string"/>
                    <xs:element minOccurs="0" name="HLRProfile" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="NotifiedSubscriberArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="ContractAuthority" type="xs:string"/>
                    <xs:element minOccurs="0" name="GSMMain" type="xs:string"/>
                    <xs:element minOccurs="0" name="SCRClass" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumberType" type="xs:string"/>
                    <xs:element minOccurs="0" name="CreditLimit" type="xs:string"/>
                    <xs:element minOccurs="0" name="FirstCallDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="SimCard" type="typ:CardInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContractInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="typ:PostalAddress"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="typ:Address"/>
                    <xs:element minOccurs="0" name="Identity" type="typ:Identity"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="typ:Contact"/>
                    <xs:element minOccurs="0" name="Details" type="typ:ContractDetails"/>
                    <xs:element minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberProduct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Code" type="xs:string"/>
                    <xs:element minOccurs="0" name="Status" type="xs:string"/>
                    <xs:element minOccurs="0" name="SerialNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="DisplayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicDisplayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="Category" type="xs:string"/>
                    <xs:element minOccurs="0" name="SubCategory" type="xs:string"/>
                    <xs:element minOccurs="0" name="Classification" type="xs:string"/>
                    <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="RatingInfo">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="RatingInfoItem">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="Unit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="Quantity" type="xs:decimal"/>
                                            <xs:element minOccurs="0" name="UsedQuantity" type="xs:decimal"/>
                                            <xs:element minOccurs="0" name="MaxLimit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="MinLimit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="WarningLimit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ProductSpecs">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="ProductSpec">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Name" type="xs:string"/>
                                            <xs:element name="Value" type="xs:string"/>
                                            <xs:element name="Measure" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CommitmentStartDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="CommitmentEndDate" nillable="true" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberProducts">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="SubscriberProduct" type="typ:SubscriberProduct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="typ:PostalAddress"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Address" type="typ:Address"/>
                    <xs:element minOccurs="0" name="Identity" type="typ:Identity"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="typ:Contact"/>
                    <xs:element minOccurs="0" name="Details" type="typ:SubscriberDetails"/>
                    <xs:element minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InsertContractInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CustomerProfile" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="CustomerType" type="xs:string"/>
                        <xs:element name="Username" type="xs:string"/>
                        <xs:element minOccurs="0" name="ContractInfo" type="typ:ContractInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InsertContractOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContractID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateContractInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContractID" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="ContractInfo" type="typ:ContractInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InsertSubscriberInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractID" type="xs:string"/>
                        <xs:element name="MSISDN" type="xs:string"/>
                        <xs:element name="Username" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberArea" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberType" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberInfo" type="typ:SubscriberInfo"/>
                        <xs:element minOccurs="1" name="SubscriberProducts" type="typ:SubscriberProducts"/>
                        <xs:element minOccurs="0" name="PaymentInfo" type="typ:PaymentInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateSubscriberInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="MSISDN" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberArea" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberType" type="xs:string"/>
                        <xs:element minOccurs="0" name="SubscriberInfo" type="typ:SubscriberInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ContactDetails">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="ContactId" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="AuthorizationLevel" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Priority" type="xs:string"/>
                    <xs:element minOccurs="0" name="Identity" type="typ:Identity"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="typ:Contact"/>
                    <xs:element minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContactInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ContactDetails" type="typ:ContactDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ManageContactInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContractID" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="ContactType" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Action" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Contacts" type="typ:ContactInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="PaymentCardInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                    <xs:element minOccurs="0" name="HolderName" type="xs:string"/>
                    <xs:element name="MerchantId" type="xs:string"/>
                    <xs:element name="MerchantPassword" type="xs:string"/>
                    <xs:element name="TerminalId" type="xs:string"/>
                    <xs:element minOccurs="0" name="AuthCode" type="xs:string"/>
                    <xs:element name="CardNumber" type="xs:string"/>
                    <xs:element name="ExpiryDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="CVV" type="xs:string"/>
                    <xs:element minOccurs="0" name="IssuingBank" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaymentInfo">
                <xs:sequence>
                    <xs:element name="Amount" type="xs:decimal"/>
                    <xs:element name="PaymentMethod" type="xs:string"/>
                    <xs:element name="TransactionReference" type="xs:string"/>
                    <xs:element name="AuthorizeCredit" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardDetails" type="typ:PaymentCardInfo"/>
                    <xs:element minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GeneralOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="Result" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="com:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="insertContractRequest">
        <wsdl:part element="typ:InsertContractInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="insertContractResponse">
        <wsdl:part element="typ:InsertContractOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="updateContractRequest">
        <wsdl:part element="typ:UpdateContractInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="updateContractResponse">
        <wsdl:part element="typ:GeneralOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="insertSubscriberRequest">
        <wsdl:part element="typ:InsertSubscriberInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="insertSubscriberResponse">
        <wsdl:part element="typ:GeneralOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="updateSubscriberRequest">
        <wsdl:part element="typ:UpdateSubscriberInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="updateubscriberResponse">
        <wsdl:part element="typ:GeneralOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="ManageContactRequest">
        <wsdl:part element="typ:ManageContactInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="ManageContactResponse">
        <wsdl:part element="typ:GeneralOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="UpsertCustomerPort">
        <wsdl:operation name="InsertContract">
            <wsdl:input message="tns:insertContractRequest"/>
            <wsdl:output message="tns:insertContractResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateContract">
            <wsdl:input message="tns:updateContractRequest"/>
            <wsdl:output message="tns:updateContractResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="InsertSubscriber">
            <wsdl:input message="tns:insertSubscriberRequest"/>
            <wsdl:output message="tns:insertSubscriberResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateSubscriber">
            <wsdl:input message="tns:updateSubscriberRequest"/>
            <wsdl:output message="tns:updateubscriberResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="ManageContact">
            <wsdl:input message="tns:ManageContactRequest"/>
            <wsdl:output message="tns:ManageContactResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="upsertCustomerBinding" type="tns:UpsertCustomerPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InsertContract">
            <soap:operation soapAction="InsertContract"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateContract">
            <soap:operation soapAction="UpdateContract"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="InsertSubscriber">
            <soap:operation soapAction="InsertSubscriber"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateSubscriber">
            <soap:operation soapAction="UpdateSubscriber"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ManageContact">
            <soap:operation soapAction="ManageContact"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpsertCustomer">
        <wsdl:port binding="tns:upsertCustomerBinding" name="upsertCustomerPort">
            <soap:address location="http://iapi-test.kw.zain.com/SOAP/UpsertCustomer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>