src/CommonProject/BusinessWSDLS/Services/BSCS/FinishDunningRequest/ws_CIL_5_FinishDunningRequestService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/finishdunningrequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/finishdunningrequest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/finishdunningrequest"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="finishDunningRequestRequest" type="wsi:finishDunningRequestRequest"/><xs:element name="finishDunningRequestResponse" type="wsi:finishDunningRequestResponse"/><xs:complexType name="finishDunningRequestResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Output attribute</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="result" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Status</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element minOccurs="0" name="contractId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract Id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="billingAccountId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Billing Account Id</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="finishDunningRequestRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="finishDunningRequestRequest">
    <wsdl:part element="sch3:finishDunningRequestRequest" name="finishDunningRequestRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishDunningRequestResponse">
    <wsdl:part element="sch3:finishDunningRequestResponse" name="finishDunningRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FinishDunningRequestService">
    <wsdl:operation name="finishDunningRequest">
      <wsdl:input message="tns:finishDunningRequestRequest" name="finishDunningRequestRequest">
    </wsdl:input>
      <wsdl:output message="tns:finishDunningRequestResponse" name="finishDunningRequestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinishDunningRequestServiceSoap11" type="tns:FinishDunningRequestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="finishDunningRequest">
      <soap:operation soapAction=""/>
      <wsdl:input name="finishDunningRequestRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finishDunningRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinishDunningRequestService">
    <wsdl:port binding="tns:FinishDunningRequestServiceSoap11" name="FinishDunningRequestServiceSoap11">
      <soap:address location="http://10.96.202.167:30103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>