src/GW_ERP_REST/BusinessProcesses/Services/ERP_REST/BusinessSchemas/InventoryManagement/ReserveInventoryItem/ReserveInventoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ReserveInventoryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string"/>
				<xs:element name="reservationID" type="xs:string" minOccurs="0"/>
				<xs:element name="reasonText" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>