src/CommonProject/BusinessSchemas/Services/Query/GetAccumulator/GetAccumulatorRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetAccumulator/GetAccumulatorRes.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Response"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetAccumulator/GetAccumulatorRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response" schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:element name="GetAccumulatorRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:Response" minOccurs="0"/>
				<xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
				<xs:element name="UpdateFee" type="xs:decimal" minOccurs="0"/>
				<xs:element name="MaxNumbers" type="xs:long" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>