src/CommonProject/BusinessWSDLS/Services/BSCS/EOMToBSCSPort/EOMToBSCS_ws_CIL_5_PortinRequestWriteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/portinrequestwrite" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;New value for a named value.&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;
						
						&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/portinrequestwrite" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/portinrequestwrite">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="portinRequestWriteRequest" type="wsi:portinRequestWriteRequest"/>
            <xs:element name="portinRequestWriteResponse" type="wsi:portinRequestWriteResponse"/>
            <xs:complexType name="resultSetListpartResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="command" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;command&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dnId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;dn id&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dirnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;dirnum &lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="npcode" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;npcode &lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="npcodePub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;npcodepub &lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="portingRequestId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;request id &lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="status" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;status &lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="reason" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;reason &lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="resultSetResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:resultSetListpartResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="portinRequestWriteResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="resultSet" type="wsi:resultSetResponse"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element name="msisdn" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Directory Number&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="npcodepub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;NPCODEPUB&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="srcplcodepub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;SOURCE PLCODE&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="portingdate" type="xs:date">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;EFFECTIVE DATE OF PORT IN&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="portinRequestWriteRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="portinRequestWriteRequest">
        <wsdl:part element="sch3:portinRequestWriteRequest" name="portinRequestWriteRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="portinRequestWriteResponse">
        <wsdl:part element="sch3:portinRequestWriteResponse" name="portinRequestWriteResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PortinRequestWriteService">
        <wsdl:operation name="portinRequestWrite">
            <wsdl:input message="tns:portinRequestWriteRequest" name="portinRequestWriteRequest">
    </wsdl:input>
            <wsdl:output message="tns:portinRequestWriteResponse" name="portinRequestWriteResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortinRequestWriteServiceSoap11" type="tns:PortinRequestWriteService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="portinRequestWrite">
            <soap:operation soapAction=""/>
            <wsdl:input name="portinRequestWriteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="portinRequestWriteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PortinRequestWriteService">
        <wsdl:port binding="tns:PortinRequestWriteServiceSoap11" name="PortinRequestWriteServiceSoap11">
            <soap:address location="http://10.103.23.91:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>