src/GW_ERP/BusinessProcesses/Services/ERP_REST/BusinessSchemas/InventoryManagement/ReserveInventoryItem/ReserveInventoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd"
	 xmlns:ns0="http://www.zain.com/ZESB/Services/Inventory/Item.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.zain.com/ZESB/Services/Inventory/Item.xsd" schemaLocation="../Item.xsd"/>
	<xs:element name="ReserveInventoryItemRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="storeCode" type="xs:string"/>
				<xs:element name="userName" type="xs:string"/>
				<xs:element name="orderID" type="xs:string"/>
				<xs:element name="reservationLineItems" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="itemCode" type="xs:string"/>
							<xs:element name="serialNumberFrom" type="xs:string"/>
							<xs:element name="serialNumberTo" type="xs:string" minOccurs="0"/>
							<xs:element name="orderLineID" type="xs:string"/>
							<xs:element name="Qty" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>