src/CommonProject/BusinessWSDLS/Services/WSDLS/SalesChannels/SalesChannelsInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:typ="http://www.zain.com/ZESB/Services/SalesChannels/Types" xmlns:tns="http://www.zain.com/ZESB/Services/SalesChannels" xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Services/SalesChannels">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Services/SalesChannels/Types" elementFormDefault="qualified">			
			<xs:complexType name="AddressType">
				<xs:sequence>
					<xs:element name="Governorate" type="xs:string"/>
					<xs:element name="Area" type="xs:string"/>
					<xs:element name="Block" type="xs:int" minOccurs="0"/>
					<xs:element name="Street" type="xs:string" minOccurs="0"/>
					<xs:element name="Building" type="xs:string" minOccurs="0"/>
					<xs:element name="Floor" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactsType">
				<xs:sequence>
					<xs:element name="Contact" type="typ:ContactType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WorkingTimeType">
				<xs:sequence>
					<xs:element name="Days" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Timing" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attribute name="from" type="xs:string"/>
										<xs:attribute name="to" type="xs:string"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="from" type="xs:string"/>
							<xs:attribute name="to" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Nonstop" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactType">
				<xs:attribute name="type" type="xs:string"/>
				<xs:attribute name="contact" type="xs:string"/>
			</xs:complexType>
			<xs:complexType name="SalesChannelType">
				<xs:sequence>
					<xs:element name="Id" type="xs:int"/>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="Address" type="typ:AddressType" minOccurs="0"/>
					<xs:element name="WorkingTime" type="typ:WorkingTimeType" minOccurs="0"/>
					<xs:element name="Latitude" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Longitude" type="xs:decimal" minOccurs="0"/>
					<xs:element name="Contacts" type="typ:ContactsType" minOccurs="0"/>
					<xs:element name="Status" type="xs:string" minOccurs="0"/>
					<xs:element name="Agents" type="xs:int" minOccurs="0"/>
					<xs:element name="Kiosk" type="xs:boolean" minOccurs="0"/>
					<xs:element name="MobiQuick" type="xs:boolean" minOccurs="0"/>
					<xs:element name="WarehouseId" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SalesChannels">
				<xs:sequence>
					<xs:element name="SalesChannel" type="typ:SalesChannelType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getBranchesRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Language" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServiceCentersRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Language" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getResellersRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Language" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getDistributorsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Language" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMachinesRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Language" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getBranchesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalesChannels" type="typ:SalesChannels" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServiceCentersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalesChannels" type="typ:SalesChannels" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getResellersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalesChannels" type="typ:SalesChannels" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getDistributorsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalesChannels" type="typ:SalesChannels" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getMachinesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SalesChannels" type="typ:SalesChannels" minOccurs="0" maxOccurs="1" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getBranchesRequest">
		<wsdl:part name="parameter" element="typ:getBranchesRequest"/>
	</wsdl:message>
	<wsdl:message name="getBranchesResponse">
		<wsdl:part name="parameter" element="typ:getBranchesResponse"/>
	</wsdl:message>
	<wsdl:message name="getServiceCentersRequest">
		<wsdl:part name="parameter" element="typ:getServiceCentersRequest"/>
	</wsdl:message>
	<wsdl:message name="getServiceCentersResponse">
		<wsdl:part name="parameter" element="typ:getServiceCentersResponse"/>
	</wsdl:message>
	<wsdl:message name="getResellersRequest">
		<wsdl:part name="parameter" element="typ:getResellersRequest"/>
	</wsdl:message>
	<wsdl:message name="getResellersResponse">
		<wsdl:part name="parameter" element="typ:getResellersResponse"/>
	</wsdl:message>
	<wsdl:message name="getDistributorsRequest">
		<wsdl:part name="parameter" element="typ:getDistributorsRequest"/>
	</wsdl:message>
	<wsdl:message name="getDistributorsResponse">
		<wsdl:part name="parameter" element="typ:getDistributorsResponse"/>
	</wsdl:message>
	<wsdl:message name="getMachinesRequest">
		<wsdl:part name="parameter" element="typ:getMachinesRequest"/>
	</wsdl:message>
	<wsdl:message name="getMachinesResponse">
		<wsdl:part name="parameter" element="typ:getMachinesResponse"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="SalesChannelsPort">
		<wsdl:operation name="getBranches">
			<wsdl:input message="tns:getBranchesRequest"/>
			<wsdl:output message="tns:getBranchesResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="getServiceCenters">
			<wsdl:input message="tns:getServiceCentersRequest"/>
			<wsdl:output message="tns:getServiceCentersResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="getResellers">
			<wsdl:input message="tns:getResellersRequest"/>
			<wsdl:output message="tns:getResellersResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="getDistributors">
			<wsdl:input message="tns:getDistributorsRequest"/>
			<wsdl:output message="tns:getDistributorsResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="getMachines">
			<wsdl:input message="tns:getMachinesRequest"/>
			<wsdl:output message="tns:getMachinesResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SalesChannelsBinding" type="tns:SalesChannelsPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBranches">
			<soap:operation soapAction="getBranches"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getServiceCenters">
			<soap:operation soapAction="getServiceCenters"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getResellers">
			<soap:operation soapAction="getResellers"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDistributors">
			<soap:operation soapAction="getDistributors"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getMachines">
			<soap:operation soapAction="getMachines"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SalesChannels">
		<wsdl:port name="SalesChannelsPort" binding="tns:SalesChannelsBinding">
			<soap:address location="No Target Adress"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>