src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/TerminateOrder/TerminateOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/TerminateOrderRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/TerminateOrderRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="TerminateOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="customerReadRequest" minOccurs="0"/>
				<xs:element ref="contractWriteRequest" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customerReadRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="csId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Private BSCS customer ID.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="csIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public BSCS customer ID&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="syncWithDb" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;true if a database read is forced. In case the customer was already loaded in the server cache, the customer data is refreshed.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractWriteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="accPackId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;The accounting package identifier. Filled only for a content provider contract.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="commonRefData" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;contract data is common reference data&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coTrialStartDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Start date of the contract trial&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="homeBidGroupId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Home BIG group id&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="foreignBidGroupId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Foreign BIG group id&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coTrialEndDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;trial end date&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dealerId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Id of the dealer of the contract&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dealerIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Dealers public key&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;description&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coArchive" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Archive calls&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coOpDir" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;List in operator's directory&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coPstnDir" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;List in PSTN directory&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coStatus" type="xs:integer" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;New status for the contract.&lt;ul&gt;&lt;li&gt;activation = 2&lt;/li&gt;&lt;li&gt;suspension = 3&lt;/li&gt;&lt;li&gt;deactive   = 4&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reason" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Reason for the new Status. The reason must fit to the new status, delivered in &lt;code&gt;REASONS.READ RS_STATUS&lt;/code&gt; where the contract status maps to the following &lt;code&gt;RS_STATUS&lt;/code&gt; values:&lt;ul&gt;&lt;li&gt;1 -&gt; o (onhold)&lt;/li&gt;&lt;li&gt;2 -&gt; a (activation)&lt;/li&gt;&lt;li&gt;2 -&gt; r (reactivation)&lt;/li&gt;&lt;li&gt;3 -&gt; s (suspension)&lt;/li&gt;&lt;li&gt;4 -&gt; d (deactivation)&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;&lt;p&gt;This argument makes only sense if the argument &lt;code&gt;CO_STATUS&lt;/code&gt; is given.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reasonShdes" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Reason short description representing the public key of a reason.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="validFrom" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Date when the new Status will be valid.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coDevRetention" type="xs:integer" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt; Retention mode of the device&lt;ul&gt;&lt;li&gt;0 -&gt; No retention&lt;/li&gt;&lt;li&gt;1 -&gt; With hold&lt;/li&gt;&lt;li&gt;2 -&gt; Return to same dealer&lt;/li&gt;&lt;li&gt;3 -&gt; Return to different dealer&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coDevRetentions" type="coDevRetentionsRequest" minOccurs="0"/>
				<xs:element name="coDnRetention" type="xs:integer" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Retention mode of the directory number.&lt;ul&gt;&lt;li&gt;0 -&gt; No retention&lt;/li&gt;&lt;li&gt;1 -&gt; With hold&lt;/li&gt;&lt;li&gt;2 -&gt; Return to same dealer&lt;/li&gt;&lt;li&gt;3 -&gt; Return to different dealer&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coPortRetention" type="xs:integer" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt; Retention mode of the port&lt;ul&gt;&lt;li&gt;0 -&gt; No retention&lt;/li&gt;&lt;li&gt;1 -&gt; With hold&lt;/li&gt;&lt;li&gt;2 -&gt; Return to same dealer&lt;/li&gt;&lt;li&gt;3 -&gt; Return to different dealer&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="anPackageId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Anonymization&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="anPackageIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the anonymization package&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="altRpcode" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Alternate rateplan code&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="altRpcodePub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the rateplan&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coNonexplServPaymentType" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Indicate the payment type for the non-explicit contracted services.&lt;/p&gt;&lt;p&gt;Possible values:&lt;ul&gt;&lt;li&gt;'R' : Prepaid&lt;/li&gt;&lt;li&gt;'O' : Postpaid&lt;/li&gt;&lt;li&gt;'D' - not specified: as in rateplan definition&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="preratedTapRp" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Use Pre-rated TAP Rateplan.&lt;/p&gt;&lt;p&gt;This parameter can only be set if the flag &lt;code&gt;NTWK_PRERATED_TAP_RP&lt;/code&gt; in &lt;code&gt;NETWORKS.READ&lt;/code&gt; is set to true.&lt;/p&gt;&lt;p&gt;Not applicable for Service Provider and Business Partner contract.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coSignedDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Date when contract is signed&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="currencyId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Currency of the following fields:&lt;ul&gt;&lt;li&gt;&lt;code&gt;CONTRACT_ALL.CO_CRD_AMOUNT&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;CONTRACT_ALL.CO_CRD_AMOUNT_DAY&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;CO_IB_THRESHOLD&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;MPUFDTAB.UNBILLED_PERIODIC&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code&gt;MPUFDTAB.UNBILLED_DAY&lt;/code&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="currencyIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the currency&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Contract id &lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the contract&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="callDetail" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Indicates if individual calls should be displayed on call detail statement.  Domains:&lt;ul&gt;&lt;li&gt;R - on request, i.e. within requests generated for customers&lt;/li&gt;&lt;li&gt;P - in addition periodically within billing cycle related call detail statement generation requests&lt;/li&gt;&lt;li&gt;NULL - no call detail statement is generated&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="userinstallationAdr" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Indicates if user/installation address should be printed on call detail statement&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="bmId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Bill medium private key&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="bmIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Bill medium public key&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="notificationMediumId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Bill medium private key.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="notificationMediumIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Bill medium public key.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="chargingPeriodAdjustmentReference" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Charging period adjustment period for services with charging schedule set to "Cut off date related". Domain: 'B' - Billing period reference date, 'A' - Contract activation date&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="coEquipmentStatus" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;The status of the equipment.&lt;ul&gt;&lt;li&gt;'Y' : Equipment sold&lt;/li&gt;&lt;li&gt;'V' : Equipment vended&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;&lt;p&gt;However no validation is provided as this column is not used by BSCS&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="earliestEndDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Earliest contract end date.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="portingRequestId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Identifies the porting request. Used in case of export directory number and contract deactivation.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ivrBarringDate" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Date until the IVR will ignore calls incoming from this contract.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ivrLangId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Identifier of the language to be used in IVR for the current subscription. If not specified the default one will be used.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ivrLangIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the language&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="instanceId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Identifier of the instance&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="instanceIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Public key of the instance.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="requestIdPub" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Request public key that is unique among all MVNE/MVNO instances.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;Effective date of the MVNO request.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="sdpId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
								&lt;p&gt;SDP Id, only for Charging sytem integration. Can be changed only for onhold contracts.&lt;/p&gt;</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="coDevRetentionsRequest">
		<xs:sequence>
			<xs:element name="item" type="coDevRetentionsListpartRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coDevRetentionsListpartRequest">
		<xs:sequence>
			<xs:element name="retention" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt; Retention mode of the device&lt;ul&gt;&lt;li&gt;0 -&gt; No retention&lt;/li&gt;&lt;li&gt;1 -&gt; With hold&lt;/li&gt;&lt;li&gt;2 -&gt; Return to same dealer&lt;/li&gt;&lt;li&gt;3 -&gt; Return to different dealer&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cdId" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Identification of the SIM card (starts with 0).&lt;/p&gt;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>