src/CommonProject/BusinessWSDLS/Services/BSCS/PortIN/ws_CMI_5_PhoneNumberImportService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/phonenumberimport" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/phonenumberimport" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/phonenumberimport"><xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/><xs:element name="phoneNumberImportRequest" type="wsi:phoneNumberImportRequest"/><xs:element name="phoneNumberImportResponse" type="wsi:phoneNumberImportResponse"/><xs:complexType name="phoneNumberImportResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a payment method by the public or private key.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="dnId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>ID (primary key) of this Directory Number.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Resource Number.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="npcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Numbering plan for this Directory Number.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="npcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the payment method</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="portingRequestId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifies the porting request.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="status" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>The status of the request.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reason" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reason for the new Status.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="errorCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Error code.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="errorDes" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Error description.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a dealer with the public or private key.</p>]]>
				</xs:documentation></xs:annotation><xs:element name="localPrefix" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> Country code + National destination code </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="suffix" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> Suffix (for imported numbers, this structure is not validated) </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="npcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> Resource regulation </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="npcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the payment method</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="hmcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> Logical HLR </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="hmcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the logical HLR</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element name="portingDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p> Porting Date </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srcPlcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> Source network </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srcPlcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the network</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="destPlcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> Destination network </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="destPlcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the network</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srcProvider" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> Source service provider (for future use) </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srcProviderPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="destProvider" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Destination service provider (for future use) </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="destProviderPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalRequestId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>External request ID.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reason" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reason for the new Status.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="errorCodeInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Flag determines if an exception or error code/text is returned by the command in case of validation errors.</p><p>An error code and error text is returned if value is true, default false</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="phoneNumberImportRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="phoneNumberImportRequest">
    <wsdl:part element="sch3:phoneNumberImportRequest" name="phoneNumberImportRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="phoneNumberImportResponse">
    <wsdl:part element="sch3:phoneNumberImportResponse" name="phoneNumberImportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PhoneNumberImportService">
    <wsdl:operation name="phoneNumberImport">
      <wsdl:input message="tns:phoneNumberImportRequest" name="phoneNumberImportRequest">
    </wsdl:input>
      <wsdl:output message="tns:phoneNumberImportResponse" name="phoneNumberImportResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhoneNumberImportServiceSoap11" type="tns:PhoneNumberImportService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="phoneNumberImport">
      <soap:operation soapAction="phoneNumberImport"/>
      <wsdl:input name="phoneNumberImportRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="phoneNumberImportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneNumberImportService">
    <wsdl:port binding="tns:PhoneNumberImportServiceSoap11" name="PhoneNumberImportServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services/ws_CMI_5_PhoneNumberImportService.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>