src/CommonProject/BusinessSchemas/Services/Applications/Common/ManagePaymentMethod/PaymentMethod.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/CreditControl/Customer/PaymentProfile"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/CreditControl/Customer/PaymentProfile"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="PaymentMethodChangeReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="BillingAccountID" minOccurs="0"/>
				<xs:element ref="BSCSCustomerID" minOccurs="0"/>
				<xs:element ref="Level"/>
				<xs:element ref="PaymentMethod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="8"/>
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PaymentMethod" type="xs:string"/>
	<xs:element name="PaymentMethodChangeRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="BSCSCustomerID" type="xs:string"/>
	<xs:element name="Level">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Customer"/>
				<xs:enumeration value="Line"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BillingAccountID" type="xs:string"/>
</xs:schema>