src/CommonProject/BusinessWSDLS/Services/WSDLS/PostpaidCharge/PostpaidChargeInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:ns="http://www.zain.com/ZESB/Services/PostpaidCharge" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/PostpaidCharge" xmlns:typ="http://www.zain.com/ZESB/Services/PostpaidCharge/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/PostpaidCharge">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:complexType name="Param">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="Param" type="com:Param"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/PostpaidCharge/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/PostpaidCharge/Types">
            <xs:element name="chargeAmountInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionId" nillable="false" type="xs:string"/>
                        <xs:element name="UserId" nillable="false" type="xs:string"/>
                        <xs:element name="ContractId" type="xs:string"/>
                        <xs:element name="Msisdn" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountId" type="xs:string"/>
                        <xs:element name="MerchantId" nillable="false" type="xs:string"/>
                        <xs:element name="Amount" nillable="false" type="xs:decimal"/>
                        <xs:element name="ProductId" type="xs:string"/>
                        <xs:element name="Purpose" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="0" name="Params" type="com:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RefundAmountInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionId" nillable="false" type="xs:string"/>
                        <xs:element name="UserId" nillable="false" type="xs:string"/>
                        <xs:element name="ContractId" type="xs:string"/>
                        <xs:element name="Msisdn" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="0" name="AccountId" type="xs:string"/>
                        <xs:element name="MerchantId" nillable="false" type="xs:string"/>
                        <xs:element name="Amount" nillable="false" type="xs:decimal"/>
                        <xs:element name="RefundCause" type="xs:int"/>
                        <xs:element name="ProductId" type="xs:string"/>
                        <xs:element name="Purpose" nillable="false" type="xs:string"/>
                        <xs:element minOccurs="0" name="Params" type="com:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="chargeAmountOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ExecutionStatus" type="xs:short"/>
                        <xs:element minOccurs="0" name="Params" type="com:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RefundAmountOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ExecutionStatus" type="xs:short"/>
                        <xs:element minOccurs="0" name="Params" type="com:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="chargeAmountRequest">
        <wsdl:part element="typ:chargeAmountInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="chargeAmountResponse">
        <wsdl:part element="typ:chargeAmountOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="RefundAmountRequest">
        <wsdl:part element="typ:RefundAmountInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="RefundAmountResponse">
        <wsdl:part element="typ:RefundAmountOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="PostpaidChargePort">
        <wsdl:operation name="chargeAmount">
            <wsdl:input message="tns:chargeAmountRequest"/>
            <wsdl:output message="tns:chargeAmountResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="RefundAmount">
            <wsdl:input message="tns:RefundAmountRequest"/>
            <wsdl:output message="tns:RefundAmountResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PostpaidChargeBinding" type="tns:PostpaidChargePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="chargeAmount">
            <soap:operation soapAction="chargeAmount" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RefundAmount">
            <soap:operation soapAction="RefundAmount" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PostpaidChargeService">
        <wsdl:port binding="tns:PostpaidChargeBinding" name="PostpaidChargePort">
            <soap:address location="http://iapi.kw.zain.com/SOAP/PostpaidCharge"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>