src/CommonProject/BusinessSchemas/Services/Provisioning/PaymentGateway/PaymentGatewayOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/Common/PaymentGateway/Implementation/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/Common/PaymentGateway/Implementation/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="PaymentGatewayOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Response"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseRefernces" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string" minOccurs="0"/>
										<xs:element name="Value" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>