src/CommonProject/BusinessSchemas/Services/Provisioning/PaymentGateway/PaymentGatewayInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/Common/PaymentGateway/Implementation/PaymentGatewayInput.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/Common/PaymentGateway/Implementation/PaymentGatewayInput.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="PaymentGatewayInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="amount"/>
				<xs:element ref="transactionReference"/>
				<xs:element ref="merchantID"/>
				<xs:element ref="AccessCode"/>
				<xs:element ref="CardDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="amount" type="xs:string"/>
	<xs:element name="transactionReference" type="xs:string"/>
	<xs:element name="merchantID" type="xs:string"/>
	<xs:element name="AccessCode" type="xs:string"/>
	<xs:element name="CardDetails" type="CreditCardPM"/>
	<xs:complexType name="CreditCardPM">
		<xs:sequence>
			<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditCardCompanyName" type="xs:string" minOccurs="0"/>
			<xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ExpirationMonth" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpirationYear" type="xs:string" minOccurs="0"/>
			<xs:element name="nameOnCard" type="xs:string" minOccurs="0"/>
			<xs:element name="authorizationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="creditCardType" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>