src/GW_ERP/BusinessProcesses/Services/ERP/BusinessSchemas/InventoryManagement/DeductInventoryItem/DeductInventoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryResponse.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="DeductInventoryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseCode" type="xs:string"/>
				<xs:element name="responseMsg" type="xs:string" minOccurs="0"/>
				<xs:element name="transactionRef" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>