src/CommonProject/BusinessWSDLS/Services/BSCS/ReserveNumber/ws_CIL_5_MsisdnReserveService.wsdl

<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CMI_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/msisdnreserve" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
         <xs:complexType name="money">
            <xs:sequence>
               <xs:element name="amount" type="xs:double"/>
               <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
         <xs:complexType name="svlany">
            <xs:sequence>
               <xs:element name="content" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange">
         <xs:complexType name="valuesListpartRequest">
            <xs:all>
               <xs:element name="key" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="value" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="valuesRequest">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="sessionChangeRequest">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>
						
						&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/msisdnreserve" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/msisdnreserve">
         <xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
         <xs:element name="msisdnReserveRequest" type="wsi:msisdnReserveRequest"/>
         <xs:element name="msisdnReserveResponse" type="wsi:msisdnReserveResponse"/>
         <xs:complexType name="msisdnReserveResponse">
            <xs:all>
               <xs:element minOccurs="0" name="dnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number Id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dirnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="reservationNum" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Reservation Number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="inputAttributes">
            <xs:all>
               <xs:element minOccurs="0" name="dnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number Id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dirnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="msisdnReserveRequest">
            <xs:all>
               <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
               <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="msisdnReserveResponse">
      <wsdl:part element="sch3:msisdnReserveResponse" name="msisdnReserveResponse"/>
   </wsdl:message>
   <wsdl:message name="msisdnReserveRequest">
      <wsdl:part element="sch3:msisdnReserveRequest" name="msisdnReserveRequest"/>
   </wsdl:message>
   <wsdl:portType name="MsisdnReserveService">
      <wsdl:operation name="msisdnReserve">
         <wsdl:input message="tns:msisdnReserveRequest" name="msisdnReserveRequest"/>
         <wsdl:output message="tns:msisdnReserveResponse" name="msisdnReserveResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MsisdnReserveServiceSoap11" type="tns:MsisdnReserveService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="msisdnReserve">
         <soap:operation soapAction=""/>
         <wsdl:input name="msisdnReserveRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="msisdnReserveResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MsisdnReserveService">
      <wsdl:port binding="tns:MsisdnReserveServiceSoap11" name="MsisdnReserveServiceSoap11">
         <soap:address location="http://10.103.23.91:30103/wsi/services/ws_CMI_5_MsisdnReserveService.wsdl"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>