src/CommonProject/BusinessSchemas/Services/Query/GetSharedDataUsage/GetSharedDataUsageResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/BPI/BusinessProcesses/Services/Query/GetSharedDataUsage/HelperProcess/Schema.xsd2"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header"
	 targetNamespace="http://www.tibco.com/schemas/BPI/BusinessProcesses/Services/Query/GetSharedDataUsage/HelperProcess/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../../CDM/Header.xsd"/>
	<xs:element name="GetSharedDataUsageResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader"/>
				<xs:element name="GetMasterUsageOutput" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TotalUsage" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
										<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
										<xs:element name="Service" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ID" type="xs:string" minOccurs="0"/>
													<xs:element name="Type" type="xs:string" minOccurs="0"/>
													<xs:element name="BillingStartDate" type="xs:string" minOccurs="0"/>
													<xs:element name="BillingEndDate" type="xs:string" minOccurs="0"/>
													<xs:element name="Quotas" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ID" type="xs:string" minOccurs="0"/>
																<xs:element name="Used" type="xs:string" minOccurs="0"/>
																<xs:element name="Remaining" type="xs:string" minOccurs="0"/>
																<xs:element name="Threshold" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DowngradeDate" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="MasterUsage" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
										<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
										<xs:element name="Service" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ID" type="xs:string" minOccurs="0"/>
													<xs:element name="Type" type="xs:string" minOccurs="0"/>
													<xs:element name="BillingStartDate" type="xs:string" minOccurs="0"/>
													<xs:element name="BillingEndDate" type="xs:string" minOccurs="0"/>
													<xs:element name="Quotas" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ID" type="xs:string" minOccurs="0"/>
																<xs:element name="Used" type="xs:string" minOccurs="0"/>
																<xs:element name="Remaining" type="xs:string" minOccurs="0"/>
																<xs:element name="Threshold" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DowngradeDate" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DependentUsage" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
										<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
										<xs:element name="Service" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ID" type="xs:string" minOccurs="0"/>
													<xs:element name="Type" type="xs:string" minOccurs="0"/>
													<xs:element name="BillingStartDate" type="xs:string" minOccurs="0"/>
													<xs:element name="BillingEndDate" type="xs:string" minOccurs="0"/>
													<xs:element name="Quotas" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ID" type="xs:string" minOccurs="0"/>
																<xs:element name="Used" type="xs:string" minOccurs="0"/>
																<xs:element name="Remaining" type="xs:string" minOccurs="0"/>
																<xs:element name="Threshold" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DowngradeDate" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>