src/CommonProject/BusinessSchemas/Services/Query/ImmediateSimulationBillQuery/ImmediateSimulationBillQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/ImmediateSimulationBillQuery.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/ImmediateSimulationBillQuery.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="ImmediateSimulationBillQueryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ContractID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ImmediateSimulationBillQueryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Output" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="InvoiceNumber" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="BillCycleDate" minOccurs="0"/>
				<xs:element ref="BillCycleCode" minOccurs="0"/>
				<xs:element ref="AbsolutePath" minOccurs="0"/>
				<xs:element ref="BillStartDate" minOccurs="0"/>
				<xs:element ref="BillEndDate" minOccurs="0"/>
				<xs:element ref="BillAccount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceNumber" type="xs:string"/>
	<xs:element name="BillCycleDate" type="xs:string"/>
	<xs:element name="BillCycleCode" type="xs:string"/>
	<xs:element name="AbsolutePath" type="xs:string"/>
	<xs:element name="BillStartDate" type="xs:string"/>
	<xs:element name="BillEndDate" type="xs:string"/>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillAccount" type="xs:string"/>
	<xs:element name="ContractID" type="xs:string"/>
</xs:schema>