src/CommonProject/BusinessSchemas/Services/Query/QueryAccountStatement/QueryAccountStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryAccountStatement.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryAccountStatement.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryAccountStatementRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="FromDate" minOccurs="0"/>
				<xs:element ref="ToDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryAccountStatementResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Records" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="FromDate" type="xs:string"/>
	<xs:element name="ToDate" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="ReferenceDate" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="InvoiceNumber" type="xs:string"/>
	<xs:element name="ReceiptNumber" type="xs:string"/>
	<xs:element name="CreditAmount" type="xs:string"/>
	<xs:element name="DebitAmount" type="xs:string"/>
	<xs:element name="Balance" type="xs:string"/>
	<xs:element name="Records">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ReferenceDate" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="InvoiceNumber" minOccurs="0"/>
				<xs:element ref="ReceiptNumber" minOccurs="0"/>
				<xs:element ref="CreditAmount" minOccurs="0"/>
				<xs:element ref="DebitAmount" minOccurs="0"/>
				<xs:element ref="Balance" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>