src/CommonProject/BusinessSchemas/Services/Transaction/PACIFinalAuthentication/PACIFinalAuthenticationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/PACIFinalAuthenticationRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/PACIFinalAuthenticationRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestID" type="xs:string"/>
				<xs:element name="Status" type="xs:string"/>
				<xs:element name="UserInfo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CivilID" type="xs:string" minOccurs="0"/>
							<xs:element name="CardExpiryDate" type="xs:string" minOccurs="0"/>
							<xs:element name="Photo" type="xs:string" minOccurs="0"/>
							<xs:element name="FullNameAr" type="xs:string" minOccurs="0"/>
							<xs:element name="FullNameEn" type="xs:string" minOccurs="0"/>
							<xs:element name="BirthDate" type="xs:string" minOccurs="0"/>
							<xs:element name="Gender" type="xs:string" minOccurs="0"/>
							<xs:element name="NationalityAr" type="xs:string" minOccurs="0"/>
							<xs:element name="NationalityEn" type="xs:string" minOccurs="0"/>
							<xs:element name="Address" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PaciBuildingNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="Governerate" type="xs:string" minOccurs="0"/>
										<xs:element name="Area" type="xs:string" minOccurs="0"/>
										<xs:element name="StreetName" type="xs:string" minOccurs="0"/>
										<xs:element name="BlockNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="BuildingNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="FloorNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="UnitType" type="xs:string" minOccurs="0"/>
										<xs:element name="UnitNumber" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="GovData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CivilIdExpiryDate" type="xs:string" minOccurs="0"/>
										<xs:element name="MOIReference" type="xs:string" minOccurs="0"/>
										<xs:element name="SponsorName" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DocumentNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="ProfessionDetails" type="xs:string" minOccurs="0"/>
							<xs:element name="ResidencyType" type="xs:string" minOccurs="0"/>
							<xs:element name="ArabicName1" type="xs:string" minOccurs="0"/>
							<xs:element name="ArabicName2" type="xs:string" minOccurs="0"/>
							<xs:element name="ArabicName3" type="xs:string" minOccurs="0"/>
							<xs:element name="ArabicName4" type="xs:string" minOccurs="0"/>
							<xs:element name="EnglishName1" type="xs:string" minOccurs="0"/>
							<xs:element name="EnglishName2" type="xs:string" minOccurs="0"/>
							<xs:element name="EnglishName3" type="xs:string" minOccurs="0"/>
							<xs:element name="EnglishName4" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>