src/ESI_ZainNE/BusinessProcesses/Services/NumberPortability/Schema/NumberPortabilityResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://www.huawei.com/AXIS/SmartKey"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="LST_USRResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Result">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ResultCode" type="xs:long" minOccurs="0"/>
							<xs:element name="ResultDesc" type="xs:string" minOccurs="0"/>
							<xs:element name="Count" type="xs:long" minOccurs="0"/>
							<xs:element name="ResultData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Table1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Item">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Number" type="xs:long" minOccurs="0"/>
																<xs:element name="IMSI" type="xs:long" minOccurs="0"/>
																<xs:element name="NumberType" type="xs:long" minOccurs="0"/>
																<xs:element name="HLRAddress" type="xs:string" minOccurs="0"/>
																<xs:element name="NewRoute" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LST_USR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERNAME" type="xs:string"/>
				<xs:element name="PASSWORD" type="xs:string"/>
				<xs:element name="Number" type="xs:long"/>
				<xs:element name="IMSI" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>