src/CommonProject/BusinessWSDLS/Services/BSCS/BlockNumber/ws_CIL_5_MsisdnReadService.wsdl

<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CMI_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/msisdnread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
         <xs:complexType name="money">
            <xs:sequence>
               <xs:element name="amount" type="xs:double"/>
               <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
         <xs:complexType name="svlany">
            <xs:sequence>
               <xs:element name="content" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange">
         <xs:complexType name="valuesListpartRequest">
            <xs:all>
               <xs:element name="key" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="value" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="valuesRequest">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="sessionChangeRequest">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>
						
						&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/msisdnread" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/msisdnread">
         <xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
         <xs:element name="msisdnReadRequest" type="wsi:msisdnReadRequest"/>
         <xs:element name="msisdnReadResponse" type="wsi:msisdnReadResponse"/>
         <xs:complexType name="msisdnReadResponse">
            <xs:all>
               <xs:element minOccurs="0" name="dnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number Id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dirnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dncodePub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>DNCODE Description&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dealerId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Dealer Id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="status" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number Status&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="inputAttributes">
            <xs:all>
               <xs:element minOccurs="0" name="dnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number Id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dirnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory Number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="lockFlag" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Lock an MSISDN for a preconfigured duration&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="lockedUntill" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Lock an MSISDN until a given date for future dated orders&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="msisdnReadRequest">
            <xs:all>
               <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
               <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="msisdnReadResponse">
      <wsdl:part element="sch3:msisdnReadResponse" name="msisdnReadResponse"/>
   </wsdl:message>
   <wsdl:message name="msisdnReadRequest">
      <wsdl:part element="sch3:msisdnReadRequest" name="msisdnReadRequest"/>
   </wsdl:message>
   <wsdl:portType name="MsisdnReadService">
      <wsdl:operation name="msisdnRead">
         <wsdl:input message="tns:msisdnReadRequest" name="msisdnReadRequest"/>
         <wsdl:output message="tns:msisdnReadResponse" name="msisdnReadResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="MsisdnReadServiceSoap11" type="tns:MsisdnReadService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="msisdnRead">
         <soap:operation soapAction=""/>
         <wsdl:input name="msisdnReadRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="msisdnReadResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="MsisdnReadService">
      <wsdl:port binding="tns:MsisdnReadServiceSoap11" name="MsisdnReadServiceSoap11">
         <soap:address location="http://10.103.23.91:30103/wsi/services/ws_CMI_5_MsisdnReadService.wsdl"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>