src/CommonProject/BusinessWSDLS/Services/WSDLS/NetworkProfile/NetworkProfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.zain.com/ZESB/Services/NetworkProfile" xmlns:ns="http://www.zain.com/ZESB/Services/NetworkProfile/Types" xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Services/NetworkProfile">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema  targetNamespace="http://www.zain.com/ZESB/Services/NetworkProfile/Types" elementFormDefault="qualified">
			<xs:simpleType name="MsisdnType">
				<xs:restriction base="xs:string">
					<xs:minLength value="7"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="NetworkElement">
				<xs:restriction base="xs:string">
					<xs:enumeration value="HLR"/>
					<xs:enumeration value="AAA"/>
					<xs:enumeration value="PCS"/>
					<xs:enumeration value="MNP"/>
					<xs:enumeration value="HSS"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="QueryProfileInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="ns:MsisdnType"/>
						<xs:element name="NetworkElement" type="ns:NetworkElement" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QueryProfileOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="xs:anyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRoamingStatusInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="ns:MsisdnType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRoamingStatusOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Group" type="xs:string"/>
						<xs:element name="Country" type="xs:string"/>
						<xs:element name="Operator" type="xs:string"/>
	                    <xs:element name="Threshold">
	                        <xs:complexType>
	                            <xs:simpleContent>
	                                <xs:extension base="xs:decimal">
	                                    <xs:attribute name="unit" type="xs:string"/>
	                                </xs:extension>
	                            </xs:simpleContent>
	                        </xs:complexType>
	                    </xs:element>												
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="QueryProfileRequest">
		<wsdl:part name="parameter" element="ns:QueryProfileInput"/>
	</wsdl:message>
	<wsdl:message name="QueryProfileResponse">
		<wsdl:part name="parameter" element="ns:QueryProfileOutput"/>
	</wsdl:message>
	<wsdl:message name="GetRoamingStatusRequest">
		<wsdl:part name="parameter" element="ns:GetRoamingStatusInput"/>
	</wsdl:message>
	<wsdl:message name="GetRoamingStatusResponse">
		<wsdl:part name="parameter" element="ns:GetRoamingStatusOutput"/>
	</wsdl:message>	
	<wsdl:message name="FaultMessage">
		<wsdl:part name="parameter" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="NetworkProfilePort">
		<wsdl:operation name="QueryProfile">
			<wsdl:input message="tns:QueryProfileRequest"/>
			<wsdl:output message="tns:QueryProfileResponse"/>
			<wsdl:fault name="fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetRoamingStatus">
			<wsdl:input message="tns:GetRoamingStatusRequest"/>
			<wsdl:output message="tns:GetRoamingStatusResponse"/>
			<wsdl:fault name="fault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NetworkProfileBinding" type="tns:NetworkProfilePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="QueryProfile">
			<soap:operation soapAction="QueryProfile"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetRoamingStatus">
			<soap:operation soapAction="GetRoamingStatus"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault"/>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NetworkProfile">
		<wsdl:port name="NetworkProfilePort" binding="tns:NetworkProfileBinding">
			<soap:address location="URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
