src/GW_FinMgmt/Tester/GWOrd_queryManualTaskList_Res.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/GWOrd_queryManualTaskList_Res.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/GWOrd_queryManualTaskList_Res.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="queryManualTaskListResponse" type="queryManualTaskListResponse"/>
	<xs:complexType name="queryManualTaskListResponse">
		<xs:sequence>
			<xs:element ref="queryManualTaskRes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="queryManualTaskRes" type="queryManualTaskRes"/>
	<xs:complexType name="queryManualTaskRes">
		<xs:sequence>
			<xs:element ref="header" minOccurs="0"/>
			<xs:element ref="manualTaskList" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="error" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="header" type="header"/>
	<xs:element name="manualTaskList" type="manualTaskList"/>
	<xs:element name="error" type="error"/>
	<xs:complexType name="header">
		<xs:sequence>
			<xs:element ref="customerId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="customerId" type="xs:string"/>
	<xs:complexType name="manualTaskList">
		<xs:sequence>
			<xs:element ref="msisdn" minOccurs="0"/>
			<xs:element ref="taskDetails" minOccurs="0"/>
			<xs:element ref="errorCode" minOccurs="0"/>
			<xs:element ref="errorDesc" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="msisdn" type="xs:string"/>
	<xs:element name="taskDetails" type="xs:string"/>
	<xs:element name="errorCode" type="xs:string"/>
	<xs:element name="errorDesc" type="xs:string"/>
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element ref="Error_SourceErrCode" minOccurs="0"/>
			<xs:element ref="Error_SourceErrDesc" minOccurs="0"/>
			<xs:element ref="Error_Type" minOccurs="0"/>
			<xs:element ref="Error_UserErrCode" minOccurs="0"/>
			<xs:element ref="Error_UserErrDesc" minOccurs="0"/>
			<xs:element ref="Error_Occurance_Time" minOccurs="0"/>
			<xs:element ref="Error_Additional_Desc1" minOccurs="0"/>
			<xs:element ref="Error_Additional_Desc2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Error_SourceErrCode" type="xs:string"/>
	<xs:element name="Error_SourceErrDesc" type="xs:string"/>
	<xs:element name="Error_Type" type="xs:string"/>
	<xs:element name="Error_UserErrCode" type="xs:string"/>
	<xs:element name="Error_UserErrDesc" type="xs:string"/>
	<xs:element name="Error_Occurance_Time" type="xs:string"/>
	<xs:element name="Error_Additional_Desc1" type="xs:string"/>
	<xs:element name="Error_Additional_Desc2" type="xs:string"/>
</xs:schema>