src/GW_FinMgmt/Tester/queryManualTaskList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:Common.manualTask.queryManualTaskList="http://www.zain.kw.com/BSS/OrderManagement/Inventory/queryManualTaskList" xmlns:tns="http://www.zain.kw.com/BSS/OrderManagement/Inventory/queryManualTaskList" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Common.manualTask.queryManualTaskList" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/Inventory/queryManualTaskList">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:Common.manualTask.queryManualTaskList="http://www.zain.kw.com/BSS/OrderManagement/Inventory/queryManualTaskList" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/Inventory/queryManualTaskList">
            <!-- Data types and elements -->
            <!-- Structures -->
            <element name="queryManualtaskRequest">
                <complexType>
                    <annotation>
                        <documentation>queryManualtaskRequest</documentation>
                    </annotation>
                    <sequence>
                        <element name="customerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                        <element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="queryManualTaskResponse">
                <complexType>
                    <annotation>
                        <documentation>queryManualTaskResponse</documentation>
                    </annotation>
                    <sequence>
                        <element name="header" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>header</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="customerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="manualTaskList" minOccurs="0" maxOccurs="unbounded">
                            <annotation>
                                <documentation>manualTaskList</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="taskDetails" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="errorCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="errorDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="error" minOccurs="0" maxOccurs="1">
                            <annotation>
                                <documentation>error</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="Error_SourceSystem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_SourceErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_SourceErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_Type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_UserErrCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_UserErrDesc" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_Occurance_Time" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_Additional_Desc1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <element name="Error_Additional_Desc2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <!-- Documents -->
        </schema>
    </types>
    <message name="queryManualtaskRequest">
        <part name="queryManualtaskRequest" element="Common.manualTask.queryManualTaskList:queryManualtaskRequest"/>
    </message>
    <message name="queryManualTaskResponse">
        <part name="queryManualTaskResponse" element="Common.manualTask.queryManualTaskList:queryManualTaskResponse"/>
    </message>
    <portType name="queryManualTaskInterface">
        <operation name="queryManualTaskOp">
            <input message="tns:queryManualtaskRequest"/>
            <output message="tns:queryManualTaskResponse"/>
        </operation>
    </portType>
    <binding name="queryManualTaskBinding" type="tns:queryManualTaskInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="queryManualTaskOp">
            <soap:operation soapAction="queryManualTaskOp"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="queryManualTaskService">
        <port name="queryManualTaskPort" binding="tns:queryManualTaskBinding">
            <soap:address location="http://192.168.50.102:8080/cwf/services/queryManualTaskInterface"/>
        </port>
    </service>
</definitions>