src/CommonProject/BusinessSchemas/Services/Query/AverageInvoiceDetails/AverageInvoiceDetailsReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/AverageInvoiceDetailsReq"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/AverageInvoiceDetailsReq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AverageInvoiceDetailsReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Custnum" type="xs:string" minOccurs="0"/>
				<xs:element name="Date" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>