src/CommonProject/BusinessSchemas/Services/Query/BalanceQuery/BalanceQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/BalanceQuery.xsd"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/BalanceQuery.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="BalanceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ContractID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ToDate" minOccurs="0"/>
				<xs:element ref="PageSize" minOccurs="0"/>
				<xs:element ref="PageNumber" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="ToDate" type="xs:string"/>
	<xs:element name="BalanceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header" minOccurs="0"/>
				<xs:element ref="ResultSet" minOccurs="0"/>
				<xs:element ref="TotalOutstanding" minOccurs="0"/>
				<xs:element ref="TotalNegativeDue" minOccurs="0"/>
				<xs:element ref="UnbilledAmount" minOccurs="0"/>
				<xs:element ref="DepositAmount" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PastDueAmnt" type="xs:string"/>
	<xs:element name="PaidAmnt" type="xs:string"/>
	<xs:element name="UnbilledAmnt" type="xs:string"/>
	<xs:element name="OutstandingAmnt" type="xs:string"/>
	<xs:element name="ContractId" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="PenaltyAmnt" type="xs:string"/>
	<xs:element name="ResultSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ContractId" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="PastDueAmnt" minOccurs="0"/>
				<xs:element ref="PaidAmnt" minOccurs="0"/>
				<xs:element ref="UnbilledAmnt" minOccurs="0"/>
				<xs:element ref="OutstandingAmnt" minOccurs="0"/>
				<xs:element ref="PenaltyAmnt" minOccurs="0"/>
				<xs:element ref="BillAccNum" minOccurs="0"/>
				<xs:element ref="BillAmnt" minOccurs="0"/>
				<xs:element ref="InvoiceAmnt" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="DepositAmnt" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TotalOutstanding" type="xs:string"/>
	<xs:element name="TotalNegativeDue" type="xs:string"/>
	<xs:element name="PageSize" type="xs:string"/>
	<xs:element name="PageNumber" type="xs:string"/>
	<xs:element name="Language" type="xs:string"/>
	<xs:element name="BillAccNum" type="xs:string"/>
	<xs:element name="ContractID" type="xs:string"/>
	<xs:element name="UnbilledAmount" type="xs:string"/>
	<xs:element name="DepositAmount" type="xs:string"/>
	<xs:element name="BillAmnt" type="xs:string"/>
	<xs:element name="InvoiceAmnt" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="DepositAmnt" type="xs:string"/>
</xs:schema>