src/CommonProject/BusinessWSDLS/Services/ERP/ERP_STUB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns16="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd" xmlns:ns14="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd" xmlns:ns15="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns9="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd" xmlns:ns12="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" xmlns:ns5="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" xmlns:ns13="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd" xmlns:ns6="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" xmlns:ns10="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd" xmlns:ns7="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd" xmlns:ns11="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" xmlns:ns8="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd" xmlns:ns2="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" xmlns:ns1="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" xmlns:ns4="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" xmlns:ns3="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" xmlns:tns="http://xmlns.example.com/1456811194257" xmlns:ns0="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1456811194257">
    <wsdl:types>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="itemList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="availabaleQty" type="xs:float"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="category" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAvailInStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element ref="ns10:itemList" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="releaseInventoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                        <xs:element name="reasonText" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="createShopResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="QueryBySerialNoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StockItemList" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="storeCode" type="xs:string"/>
                                    <xs:element name="storeDescription" type="xs:string"/>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element name="itemStatus" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="queryItemInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="category.vendoreName" type="xs:string"/>
                        <xs:element name="vendorAddress" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="reserveInventoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orgCode" type="xs:string"/>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element name="userName" type="xs:string"/>
                        <xs:element name="orderId" type="xs:string"/>
                        <xs:element name="itemList" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element name="serialNumberFrom" type="xs:string" minOccurs="0"/>
                                    <xs:element name="serialNumberTo" type="xs:string" minOccurs="0"/>
                                    <xs:element name="quantity" type="xs:float"/>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="queryAvailXStoresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="stockItemList" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="storeCode" type="xs:string"/>
                                    <xs:element name="storeDescription" type="xs:string"/>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element name="availableQty" type="xs:float"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="queryAvailXStoresRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="orgCode" type="xs:string"/>
                        <xs:element name="storeList" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Storecode" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="fault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourcesystem" type="xs:string" minOccurs="0"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="createShopRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="queryItemInfoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orgCode" type="xs:string"/>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="serialNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="releaseInventoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orgCode" type="xs:string"/>
                        <xs:element name="reservationId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="reserveInventoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                        <xs:element name="reservationId" type="xs:string" minOccurs="0"/>
                        <xs:element name="reasonText" type="xs:string" minOccurs="0"/>
                        <xs:element name="orderLineFailures" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                    <xs:element name="description" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="queryAvailInStoreRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orgCode" type="xs:string"/>
                        <xs:element name="storeCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="posTransactionsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orgCode" type="xs:string"/>
                        <xs:element name="storeCode" type="xs:string"/>
                        <xs:element name="userCode" type="xs:string"/>
                        <xs:element name="orderId" type="xs:string"/>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="remarks" type="xs:string" minOccurs="0"/>
                        <xs:element name="itemList" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="itemCode" type="xs:string"/>
                                    <xs:element name="serialNumberFrom" type="xs:string" minOccurs="0"/>
                                    <xs:element name="serialNumberTo" type="xs:string" minOccurs="0"/>
                                    <xs:element name="quantity" type="xs:float"/>
                                    <xs:element name="unitPrice" type="xs:float" minOccurs="0"/>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="posTransactionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                        <xs:element name="reasonText" type="xs:string" minOccurs="0"/>
                        <xs:element name="orderLineFailures" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="orderLineItemId" type="xs:string"/>
                                    <xs:element name="description" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="QueryBySerialNoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="itemCode" type="xs:string"/>
                        <xs:element name="serialNumber" type="xs:string"/>
                        <xs:element name="orgCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ERP_InventoryMgmt-service">
        <wsdl:port name="ERP_InventoryMgmtPortTypeEndpoint0" binding="tns:ERP_InventoryMgmtPortTypeEndpoint0Binding">
            <soap:address location="http://localhost:7077/ERPInventoryMgmtPortTypeEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ERP_InventoryMgmtPortType">
        <wsdl:operation name="ReserveInventory">
            <wsdl:input message="tns:ReserveInventoryRequest"/>
            <wsdl:output message="tns:ReserveInventoryResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="CreateShop">
            <wsdl:input message="tns:CreateShopRequest"/>
            <wsdl:output message="tns:CreateShopResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryItemInfo">
            <wsdl:input message="tns:QueryItemInfoRequest"/>
            <wsdl:output message="tns:QueryItemInfoResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="posTransactions">
            <wsdl:input message="tns:posTransactionsRequest"/>
            <wsdl:output message="tns:posTransactionsResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailInStore">
            <wsdl:input message="tns:QueryAvailInStoreRequest"/>
            <wsdl:output message="tns:QueryAvailInStoreResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="ReleaseInventory">
            <wsdl:input message="tns:ReleaseInventoryRequest"/>
            <wsdl:output message="tns:ReleaseInventoryResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryBySerialNo">
            <wsdl:input message="tns:QueryBySerialNoRequest"/>
            <wsdl:output message="tns:QueryBySerialNoResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailXStores">
            <wsdl:input message="tns:QueryAvailXStoresRequest"/>
            <wsdl:output message="tns:QueryAvailXStoresResponse"/>
            <wsdl:fault name="Fault" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ERP_InventoryMgmtPortTypeEndpoint0Binding" type="tns:ERP_InventoryMgmtPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReserveInventory">
            <soap:operation style="document" soapAction="ReserveInventory"/>
            <wsdl:input>
                <soap:body use="literal" parts="ReserveInventoryRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ReserveInventoryResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateShop">
            <soap:operation style="document" soapAction="CreateShop"/>
            <wsdl:input>
                <soap:body use="literal" parts="CreateShopRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CreateShopResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryItemInfo">
            <soap:operation style="document" soapAction="QueryItemInfo"/>
            <wsdl:input>
                <soap:body use="literal" parts="QueryItemInfoRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="QueryItemInfoResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="posTransactions">
            <soap:operation style="document" soapAction="posTransactions"/>
            <wsdl:input>
                <soap:body use="literal" parts="posTransactionsRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="posTransactionsResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailInStore">
            <soap:operation style="document" soapAction="QueryAvailInStore"/>
            <wsdl:input>
                <soap:body use="literal" parts="QueryAvailInStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="QueryAvailInStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReleaseInventory">
            <soap:operation style="document" soapAction="ReleaseInventory"/>
            <wsdl:input>
                <soap:body use="literal" parts="ReleaseInventoryRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ReleaseInventoryResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryBySerialNo">
            <soap:operation style="document" soapAction="QueryBySerialNo"/>
            <wsdl:input>
                <soap:body use="literal" parts="QueryBySerialNoRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="QueryBySerialNoResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryAvailXStores">
            <soap:operation style="document" soapAction="QueryAvailXStores"/>
            <wsdl:input>
                <soap:body use="literal" parts="QueryAvailXStoresRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="QueryAvailXStoresResponse"/>
            </wsdl:output>
            <wsdl:fault name="Fault">
                <soap:fault use="literal" name="Fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReserveInventoryRequest">
        <wsdl:part name="ReserveInventoryRequest" element="ns0:reserveInventoryRequest"/>
    </wsdl:message>
    <wsdl:message name="ReserveInventoryResponse">
        <wsdl:part name="ReserveInventoryResponse" element="ns1:reserveInventoryResponse"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="Fault" element="ns2:fault"/>
    </wsdl:message>
    <wsdl:message name="CreateShopRequest">
        <wsdl:part name="CreateShopRequest" element="ns3:createShopRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateShopResponse">
        <wsdl:part name="CreateShopResponse" element="ns4:createShopResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryItemInfoRequest">
        <wsdl:part name="QueryItemInfoRequest" element="ns5:queryItemInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryItemInfoResponse">
        <wsdl:part name="QueryItemInfoResponse" element="ns6:queryItemInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="posTransactionsRequest">
        <wsdl:part name="posTransactionsRequest" element="ns7:posTransactionsRequest"/>
    </wsdl:message>
    <wsdl:message name="posTransactionsResponse">
        <wsdl:part name="posTransactionsResponse" element="ns8:posTransactionsResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailInStoreRequest">
        <wsdl:part name="QueryAvailInStoreRequest" element="ns9:queryAvailInStoreRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailInStoreResponse">
        <wsdl:part name="QueryAvailInStoreResponse" element="ns10:queryAvailInStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="ReleaseInventoryRequest">
        <wsdl:part name="ReleaseInventoryRequest" element="ns11:releaseInventoryRequest"/>
    </wsdl:message>
    <wsdl:message name="ReleaseInventoryResponse">
        <wsdl:part name="ReleaseInventoryResponse" element="ns12:releaseInventoryResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryBySerialNoRequest">
        <wsdl:part name="QueryBySerialNoRequest" element="ns13:QueryBySerialNoRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryBySerialNoResponse">
        <wsdl:part name="QueryBySerialNoResponse" element="ns14:QueryBySerialNoResponse"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailXStoresRequest">
        <wsdl:part name="QueryAvailXStoresRequest" element="ns15:queryAvailXStoresRequest"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailXStoresResponse">
        <wsdl:part name="QueryAvailXStoresResponse" element="ns16:queryAvailXStoresResponse"/>
    </wsdl:message>
</wsdl:definitions>