src/CommonProject/BusinessWSDLS/Services/ERP/ERP_InventoryMgmt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns16="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns17="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd" xmlns:ns14="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" xmlns:ns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd" xmlns:ns15="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" xmlns:ns9="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" xmlns:ns12="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd" xmlns:ns5="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd" xmlns:ns13="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd" xmlns:ns6="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" xmlns:ns7="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" xmlns:ns10="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" xmlns:ns8="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" xmlns:ns11="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" xmlns:ns2="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd" xmlns:ns4="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd" xmlns:ns3="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd" xmlns:tns="http://xmlns.example.com/1455922418661" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1455922418661">
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryAvailInStore/QueryAvailInStoreRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryAvailXStores/QueryAvailXStoresRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryAvailXStores/QueryAvailXStoresResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryBySerialNo/QueryBySerialNoRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryItemInfo/QueryItemInfoRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryItemInfo/QueryItemInfoResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/ReserveInventory/ReserveInventoryRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/ReserveInventory/ReserveInventoryResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/ReleaseInventory/ReleaseInventoryRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/ReleaseInventory/ReleaseInventoryResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionsRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/posTransactions/posTransactionsRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/posTransactions/posTransactionsResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopRequest.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/CreateShop/CreateShopRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/CreateShopResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/CreateShop/CreateShopResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/Fault/Fault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryBySerialNoResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryBySerialNo/QueryBySerialNoResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailInStoreResponse.xsd" location="../../../BusinessSchemas/Services/Applications/ERP/QueryAvailInStore/QueryAvailInStoreResponse.xsd"/>
    <message name="QueryAvailInStoreRequest">
        <part name="QueryAvailInStoreRequest" element="ns:queryAvailInStoreRequest"/>
    </message>
    <message name="QueryAvailInStoreResponse">
        <part name="QueryAvailInStoreResponse" element="ns2:queryAvailInStoreResponse"/>
    </message>
    <message name="QueryAvailXStoresRequest">
        <part name="QueryAvailXStoresRequest" element="ns3:queryAvailXStoresRequest"/>
    </message>
    <message name="QueryAvailXStoresResponse">
        <part name="QueryAvailXStoresResponse" element="ns4:queryAvailXStoresResponse"/>
    </message>
    <message name="QueryBySerialNoRequest">
        <part name="QueryBySerialNoRequest" element="ns5:QueryBySerialNoRequest"/>
    </message>
    <message name="QueryBySerialNoResponse">
        <part name="QueryBySerialNoResponse" element="ns17:QueryBySerialNoResponse"/>
    </message>
    <message name="QueryItemInfoRequest">
        <part name="QueryItemInfoRequest" element="ns6:queryItemInfoRequest"/>
    </message>
    <message name="QueryItemInfoResponse">
        <part name="QueryItemInfoResponse" element="ns7:queryItemInfoResponse"/>
    </message>
    <message name="ReserveInventoryRequest">
        <part name="ReserveInventoryRequest" element="ns8:reserveInventoryRequest"/>
    </message>
    <message name="ReserveInventoryResponse">
        <part name="ReserveInventoryResponse" element="ns9:reserveInventoryResponse"/>
    </message>
    <message name="ReleaseInventoryRequest">
        <part name="ReleaseInventoryRequest" element="ns10:releaseInventoryRequest"/>
    </message>
    <message name="ReleaseInventoryResponse">
        <part name="ReleaseInventoryResponse" element="ns11:releaseInventoryResponse"/>
    </message>
    <message name="posTransactionsRequest">
        <part name="posTransactionsRequest" element="ns12:posTransactionsRequest"/>
    </message>
    <message name="posTransactionsResponse">
        <part name="posTransactionsResponse" element="ns13:posTransactionsResponse"/>
    </message>
    <message name="CreateShopRequest">
        <part name="CreateShopRequest" element="ns14:createShopRequest"/>
    </message>
    <message name="CreateShopResponse">
        <part name="CreateShopResponse" element="ns15:createShopResponse"/>
    </message>
    <message name="Fault">
        <part name="Fault" element="ns16:fault"/>
    </message>
    <portType name="ERP_InventoryMgmtPortType">
        <operation name="QueryAvailInStore">
            <input name="QueryAvailInStoreRequest" message="tns:QueryAvailInStoreRequest"/>
            <output name="QueryAvailInStoreResponse" message="tns:QueryAvailInStoreResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
        <operation name="QueryAvailXStores">
            <input name="QueryAvailXStoresRequest" message="tns:QueryAvailXStoresRequest"/>
            <output name="QueryAvailXStoresResponse" message="tns:QueryAvailXStoresResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
        <operation name="QueryBySerialNo">
            <input name="QueryBySerialNoRequest" message="tns:QueryBySerialNoRequest"/>
            <output name="QueryBySerialNoResponse" message="tns:QueryBySerialNoResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
        <operation name="QueryItemInfo">
            <input name="QueryItemInfoRequest" message="tns:QueryItemInfoRequest"/>
            <output name="QueryItemInfoResponse" message="tns:QueryItemInfoResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
        <operation name="ReserveInventory">
            <input name="ReserveInventoryRequest" message="tns:ReserveInventoryRequest"/>
            <output name="ReserveInventoryResponse" message="tns:ReserveInventoryResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
        <operation name="ReleaseInventory">
            <input name="ReleaseInventoryRequest" message="tns:ReleaseInventoryRequest"/>
            <output name="ReleaseInventoryResponse" message="tns:ReleaseInventoryResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
        <operation name="posTransactions">
            <input name="posTransactionsRequest" message="tns:posTransactionsRequest"/>
            <output name="posTransactionsResponse" message="tns:posTransactionsResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
        <operation name="CreateShop">
            <input name="CreateShopRequest" message="tns:CreateShopRequest"/>
            <output name="CreateShopResponse" message="tns:CreateShopResponse"/>
            <fault name="Fault" message="tns:Fault"/>
        </operation>
    </portType>
</definitions>