src/CommonProject/BusinessWSDLS/Services/BSCS/ChangeOwner/ContractTakeoverService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/changeownership" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;New value for a named value.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>&lt;p&gt;&lt;/p&gt;</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/changeownership" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/changeownership">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="changeOwnershipRequest" type="wsi:changeOwnershipRequest"/>
            <xs:element name="changeOwnershipResponse" type="wsi:changeOwnershipResponse"/>
            <xs:complexType name="changeOwnershipResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="newCoIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;NEW CONTRACT ID GENERATED&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element name="newcsidpub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;NEW Customer Id&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="reason" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;REASON&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="coidpub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;NEW CONTRACT ID PUB&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="billingaccountid" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;SECONDARY BILLING ACCOUNT OF NEW CUSTOMER&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="billingaccountassignmenttemplateid" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;BILLING ACCOUNT ASSIGNMENT TEMPLATE ID&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="changeOwnershipRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="changeOwnershipResponse">
        <wsdl:part element="sch3:changeOwnershipResponse" name="changeOwnershipResponse"/>
    </wsdl:message>
    <wsdl:message name="changeOwnershipRequest">
        <wsdl:part element="sch3:changeOwnershipRequest" name="changeOwnershipRequest"/>
    </wsdl:message>
    <wsdl:portType name="ChangeOwnershipService">
        <wsdl:operation name="changeOwnership">
            <wsdl:input message="tns:changeOwnershipRequest" name="changeOwnershipRequest"/>
            <wsdl:output message="tns:changeOwnershipResponse" name="changeOwnershipResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ChangeOwnershipServiceSoap11" type="tns:ChangeOwnershipService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="changeOwnership">
            <soap:operation soapAction=""/>
            <wsdl:input name="changeOwnershipRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeOwnershipResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ChangeOwnershipService">
        <wsdl:port binding="tns:ChangeOwnershipServiceSoap11" name="ChangeOwnershipServiceSoap11">
            <soap:address location="http://10.103.23.91:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>