src/GW_AppleiWatchSESSwap/Resources/WSDL/BSCS/StorageMediumDetailsReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://ericsson.com/services/ws_CMI_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/storagemediumdetailsread" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" targetNamespace="http://ericsson.com/services/ws_CMI_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;New value for a named value.&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
							 &lt;p&gt; &lt;/p&gt; </xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/storagemediumdetailsread" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/storagemediumdetailsread">
            <xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
            <xs:element name="storageMediumDetailsReadRequest" type="wsi:storageMediumDetailsReadRequest"/>
            <xs:element name="storageMediumDetailsReadResponse" type="wsi:storageMediumDetailsReadResponse"/>
            <xs:complexType name="simDetailListListpartResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="simId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Sim Serial Number Id&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="pin1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;Personal Identification Number for storage medium&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="puk1" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;Personal Unblocking Number for storage medium&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="pin2" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;Second Personal Identification Number for storage medium&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="puk2" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								&lt;p&gt;Second Personal Unblocking Number for storage medium&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="simType" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Description of the Storage Medium type&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="simSerialnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Sim Serial number&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="ki" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Authentication Key&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="imsi" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Port Number or IMSI &lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="transportKey" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Port transport key&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="status" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Storage medium Status&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="hlcodepub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Public Key of HLCODE&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="vendcode" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;VENDOR CODE&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="simDetailListResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:simDetailListListpartResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="storageMediumDetailsReadResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="simDetailList" type="wsi:simDetailListResponse"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element minOccurs="0" name="smserialno" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Sim Serial Number&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="startrange" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Sim Serial Start Range&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="endrange" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Sim Serial End Range&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="quantity" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Quantiy&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="dealeridpub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
								 &lt;p&gt;Dealer Name&lt;/p&gt; </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="storageMediumDetailsReadRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="storageMediumDetailsReadResponse">
        <wsdl:part element="sch3:storageMediumDetailsReadResponse" name="storageMediumDetailsReadResponse"/>
    </wsdl:message>
    <wsdl:message name="storageMediumDetailsReadRequest">
        <wsdl:part element="sch3:storageMediumDetailsReadRequest" name="storageMediumDetailsReadRequest"/>
    </wsdl:message>
    <wsdl:portType name="StorageMediumDetailsReadService">
        <wsdl:operation name="storageMediumDetailsRead">
            <wsdl:input message="tns:storageMediumDetailsReadRequest" name="storageMediumDetailsReadRequest"/>
            <wsdl:output message="tns:storageMediumDetailsReadResponse" name="storageMediumDetailsReadResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StorageMediumDetailsReadServiceSoap11" type="tns:StorageMediumDetailsReadService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="storageMediumDetailsRead">
            <soap:operation soapAction=""/>
            <wsdl:input name="storageMediumDetailsReadRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="storageMediumDetailsReadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StorageMediumDetailsReadService">
        <wsdl:port binding="tns:StorageMediumDetailsReadServiceSoap11" name="StorageMediumDetailsReadServiceSoap11">
            <soap:address location="http://10.103.23.91:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>