src/CommonProject/BusinessWSDLS/Services/BSCS/ModifyBillCycle/CustomerWritezainService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/customerwrite" xmlns:sch5="http://ericsson.com/services/ws_CIL_5/customerwritezain" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerread"><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:complexType name="partyRoleAssignmentsListpartResponse"><xs:all><xs:element minOccurs="0" name="partyRoleId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role private key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleShname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleName" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleDescription" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p></p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="partyRoleAssignmentsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="listOfAssignmentsListpartResponse"><xs:all><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>id of family</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="completionStatus" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>completion status: -1=initial status, 0=completed, 1,2,3...=error code</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="validFrom" type="xs:date"><xs:annotation><xs:documentation>
													<![CDATA[<p>valid from date</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="listOfAssignmentsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfAssignmentsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="customerReadResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a nationality of the party by the public or private key. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="tbAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for threshold billing</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="createdByUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>user of creation</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold mode for threshold billing: "IM" immediate request or "OD" for on demand request.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbPurpose" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold purpose for threshold billing: "SIM" for simulation bill run, "INF" for information bill run, "REG" for regular bill run.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioActionType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold action related to small invoices handling.</p><p><ul><li>'G': Invoice: Generate invoice anyway (default).</li><li>'F': Carry-over: Forward invoices with small amount (Baseline setup per customer group).</li><li>'S': Write-off: Suppress invoices with small amount. </li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioThresholdAmt" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverLenght" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over length for  small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverPeriodType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over type period for  small invoices handling.</p><p><ul><li>'D': Days.</li><li>'M': Months.</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of current family</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="listOfAssignments" type="wsi:listOfAssignmentsResponse"/><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Private BSCS customer ID.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public BSCS customer ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>customer code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>status of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatusDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>status date of the customer (dependend on the status CSDEACTIVATED, CSACTIVATED, SUSPENDE,REACTIVATED)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csActivationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>activation date of the customer (It is only set if the status is active.)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdHigh" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of parent level of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdHighPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLevelCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>level of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>payment responsibility</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="prgCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>pricegroup of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>rateplan for other credits and charges of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tradeCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>trade code of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="areaCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>area code of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>costcenter of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the cost center</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPassword" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>password of the customer/dealer</p><p>The cloumn CUSTOMER_ALL.BTX_PASSWORD is mapped and the property is bTXPassword for the dealer.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rsCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>reason for the status change</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="wpCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>welcome procedure of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>subscription reduction of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 1 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 2 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillInformation" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>bill information run flag</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>home currency code for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>foreign currency code for expected refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>external credit check agreed</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>category code of the customer's current individual taxation</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the customer category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates that a city area is incorporated to levy taxes. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycle" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>billing cycle of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycleDesc" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>billing cycle of the customer (description)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 1 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 2 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 3 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csClimit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit limit of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csContresp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>customer responsibility for contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLastBcDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>last billing cycle date of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeposit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>deposit amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCreditscore" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit score</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit status</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditRemark" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit remark about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date of Credit Scoring</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunning" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>specifies if dunning is enabled / disabled (ignored for PC14318)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunningMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>dunning mode</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrepayment" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>prepayment required</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCollector" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>cash collector of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>currency of credit, deposit, current balance, and previous balance of the customer.
							The CS_FC_ID is needed to show the HOME currency.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscurbalance" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>current balance of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrevbalance" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>previous balance of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csUnbilledAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>unbilled amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPaybehaviour" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>payment behaviour of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csNoBouncePay" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p>number of the bounced payments.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>dealer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealeridPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csInitPrepaidContrOwner" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Flag indicating that this customer has been created in order to be used as the initial owner of a batch of preactivated prepaid contracts.
							This kind of customer must have the party role preactive subscriber.
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCreationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Creation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeactivationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Deactivation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csSuspensionDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Suspension date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csReactivationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reactivation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lastModificationUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Last modification user</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentRespId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer id of the payment responsible.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPaymntRespCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer code of the payment responsible.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsResponse"/><xs:element minOccurs="0" name="partyType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>party type identifier. c: cusotmer, b: business partner, o: operator</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="collInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>true if customer is in collection process, otherwise false.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="markedForRerating" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the customer is marked as a candidate for re-rating</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer set id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCsLevel" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>If the customer is a large account root, the max level of its large account should be returned</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="creditScore" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score grade.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="creditScoreProvider" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score type: B for CrB Defined; C for CSP defined.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Username when credit scoring has been triggered externally.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="performCreditScoring" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Column CUSTOMER_ALL.CS_SUPPORTED for LA members will be set with given value for this attribute.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cslvlname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>CSLVLNAME. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationality" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Nationality of the party</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationalityPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the country</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmployee" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Remark if customer is an employee. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csTestbillrun" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>special entry, range [a-z][A-Z]</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csProtectionMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifies protected customers. Values: </p><p>
							<ul><li>V = VIP customers</li><li>E = Employees</li><li>If not set, the command will consider a non-protected customer.</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="customerReadRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Customer identifier. If not explicitly passed then the customer ID is taken from the context</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Private BSCS customer ID.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public BSCS customer ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="syncWithDb" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>true if a database read is forced. In case the customer was already loaded in the server cache, the customer data is refreshed.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerwrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerwrite"><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:complexType name="partyRoleAssignmentsListpartRequest"><xs:all><xs:element minOccurs="0" name="partyRoleId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role private key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleShname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="partyRoleAssignmentsRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="customerWriteRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a currency by the public or private key. Input applies to PC 12694 only and if the customer is in status interested.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="tbAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for threshold billing</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold mode for threshold billing.</p><p><ul><li>'IM': Immediate request</li><li>'OD': For on demand request.</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbPurpose" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold purpose for threshold billing</p><p><ul><li>'SIM': For simulation bill run</li><li>'INF': For information bill run</li><li>'REG': For regular bill run </li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csContresp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> party responsibility for contract. parameter is ignored for when working with sales hierarchies since dealers are always responsible for the contracts. </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioActionType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold action related to small invoices handling.</p><p><ul><li>'G': Invoice: Generate invoice anyway (default).</li><li>'F': Carry-over: Forward invoices with small amount (Baseline setup per customer group).</li><li>'S': Write-off: Suppress invoices with small amount. </li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioThresholdAmt" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverLenght" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over length for  small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverPeriodType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over type period for  small invoices handling.</p><p><ul><li>'D': Days.</li><li>'M': Months.</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditRemark" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit remark about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Payment responsibility. Can be set only in case of a business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer set id (e.g. from PeopleSoft CRM)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of family</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="prgCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>pricegroup of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>rateplan for other credits and charges of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tradeCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>trade code of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="areaCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>area code of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>cost center of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the cost center</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPassword" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>password of the customer/business partner</p><p>The cloumn CUSTOMER_ALL.BTX_PASSWORD is mapped and the property is bTXPassword for the dealer.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="wpCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>welcome procedure of the customer/business partner</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>subscription reduction of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 1 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 2 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillInformation" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>bill information run flag</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>home currency code for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>foreign currency code for expected refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>external credit check agreed</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycle" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>current billing cycle of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bcComment" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bill cycle change comment. Has to be set if  <code>CS_BILLCYCLE</code> is set</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 1 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 2 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 3 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csClimit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit limit of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>status of the customer / business partner, for business partner only state interested and active are supported.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rsCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>reason for the status change</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeposit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>deposit amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunning" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>specifies if dunning is enabled / disabled (ignored for PC14318)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrepayment" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>prepayment required</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCollector" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>cash collector of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer Category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the customer category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code.</p><p>Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates that a city area is incorporated to levy taxes.</p><p>Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>dealer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealeridPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealer's public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>This is the given internal BSCS customer/business partner id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer's public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="newCsIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>New customer's public key. A public key can be changed only if the customer is an anonymous customer. After the anonymous flag is taken away, the public key can no longer be changed!</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsRequest"/><xs:element minOccurs="0" name="collInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>true if customer is set to be in collection process, otherwise false.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="useLastBillDate" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the last billing date must be used as an effective date for modification of payment responsibility. It can be use only if PAYMENT_RESP is set.  Default is FALSE.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCreditscore" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score grade.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="creditScoreProvider" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score type: B for CrB Defined; C for CSP defined.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="performCreditScoring" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Column CUSTOMER_ALL.CS_SUPPORTED for LA members will be set with given value for this attribute.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cscreditEnteredManually" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Informs if credit score was entered manually.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cslvlname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>CS LEVEL NAME. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationality" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Nationality of the party</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationalityPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the country</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmployee" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Remark if customer is an employee. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csTestbillrun" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>special entry, range [a-z][A-Z]</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>currency of credit, deposit, current balance, and previous balance of the customer.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csProtectionMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifies protected customers. Values: </p><p>
							<ul><li>V = VIP customers</li><li>E = Employees</li><li>If not set, the command will consider a non-protected customer.</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:customerread="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:customerwrite="http://ericsson.com/services/ws_CIL_5/customerwrite" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerwritezain" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerwritezain"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:import namespace="http://ericsson.com/services/ws_CIL_5/customerread"/><xs:import namespace="http://ericsson.com/services/ws_CIL_5/customerwrite"/><xs:element name="customerWritezainRequest" type="wsi:customerWritezainRequest"/><xs:complexType name="inputAttributes"><xs:all><xs:element minOccurs="0" name="customerRead" type="customerread:customerReadRequest"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="customerWrite" type="customerwrite:customerWriteRequest"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="customerWritezainRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="customerWritezainRequest">
    <wsdl:part element="sch5:customerWritezainRequest" name="customerWritezainRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerWritezainService">
    <wsdl:operation name="customerWritezain">
      <wsdl:input message="tns:customerWritezainRequest" name="customerWritezainRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerWritezainServiceSoap11" type="tns:CustomerWritezainService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="customerWritezain">
      <soap:operation soapAction=""/>
      <wsdl:input name="customerWritezainRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWritezainService">
    <wsdl:port binding="tns:CustomerWritezainServiceSoap11" name="CustomerWritezainServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>