src/CommonProject/BusinessWSDLS/Services/WSDLS/NumberPortability/NumberPortabilityOutbound.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions
    targetNamespace="http://www.huawei.com/AXIS/SmartKey"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.huawei.com/AXIS/SmartKey"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema targetNamespace="http://www.huawei.com/AXIS/SmartKey">
            <xsd:element name="ADD_USR">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="USERNAME" type="xsd:string"/>
                        <xsd:element name="PASSWORD" type="xsd:string"/>
                        <xsd:element name="Number" type="xsd:string"/>
                        <xsd:element name="NumberType" type="xsd:long"/>
                        <xsd:element name="IMSI" type="xsd:string"/>
                        <xsd:element name="HLRAddress" type="xsd:string"/>
                        <xsd:element name="NewRoute" type="xsd:string"/>
                        <xsd:element name="OperatorCode" type="xsd:string"/>
                        <xsd:element name="LocationCode" type="xsd:string"/>
                        <xsd:element name="InterconnectCode" type="xsd:string"/>
                        <xsd:element name="CPcode" type="xsd:string"/>
                        <xsd:element name="CNL" type="xsd:string"/>
                        <xsd:element name="RecipientID" type="xsd:string"/>
                        <xsd:element name="DonorID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ADD_USRResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Result" type="tns:ResultType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MOD_USR">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="USERNAME" type="xsd:string"/>
                        <xsd:element name="PASSWORD" type="xsd:string"/>
                        <xsd:element name="Number" type="xsd:string"/>
                        <xsd:element name="NumberType" type="xsd:long"/>
                        <xsd:element name="NewNumber" type="xsd:string"/>
                        <xsd:element name="NewIMSI" type="xsd:string"/>
                        <xsd:element name="HLRAddress" type="xsd:string"/>
                        <xsd:element name="NewRoute" type="xsd:string"/>
                        <xsd:element name="OperatorCode" type="xsd:string"/>
                        <xsd:element name="LocationCode" type="xsd:string"/>
                        <xsd:element name="InterconnectCode" type="xsd:string"/>
                        <xsd:element name="CPcode" type="xsd:string"/>
                        <xsd:element name="CNL" type="xsd:string"/>
                        <xsd:element name="RecipientID" type="xsd:string"/>
                        <xsd:element name="DonorID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MOD_USRResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Result" type="tns:ResultType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RMV_USR">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="USERNAME" type="xsd:string"/>
                        <xsd:element name="PASSWORD" type="xsd:string"/>
                        <xsd:element name="Number" type="xsd:string"/>
                        <xsd:element name="IMSI" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RMV_USRResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Result" type="tns:ResultType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LST_USR">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="USERNAME" type="xsd:string"/>
                        <xsd:element name="PASSWORD" type="xsd:string"/>
                        <xsd:element name="Number" type="xsd:string"/>
                        <xsd:element name="IMSI" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="LST_USRResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Result" type="tns:LST_USRType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="LST_USRType">
                <xsd:sequence>
                    <xsd:element name="ResultCode" type="xsd:unsignedLong"/>
                    <xsd:element name="ResultDesc" type="xsd:string"/>
                    <xsd:element name="Count" type="xsd:unsignedLong"/>
                    <xsd:element name="ResultData" type="tns:LST_USRTables"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LST_USRTables">
                <xsd:sequence>
                    <xsd:element name="Table1" type="tns:LST_USRTable1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LST_USRTable1">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="tns:LST_USRStruct1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LST_USRStruct1">
                <xsd:sequence>
                    <xsd:element name="Number" type="xsd:string"/>
                    <xsd:element name="IMSI" type="xsd:string"/>
                    <xsd:element name="NumberType" type="xsd:long"/>
                    <xsd:element name="HLRAddress" type="xsd:string"/>
                    <xsd:element name="NewRoute" type="xsd:string"/>
                    <xsd:element name="OperatorCode" type="xsd:string"/>
                    <xsd:element name="LocationCode" type="xsd:string"/>
                    <xsd:element name="InterconnectCode" type="xsd:string"/>
                    <xsd:element name="CPcode" type="xsd:string"/>
                    <xsd:element name="CNL" type="xsd:string"/>
                    <xsd:element name="RecipientID" type="xsd:string"/>
                    <xsd:element name="DonorID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="OperationFault" type="tns:OperationFault"/>
            <xsd:complexType name="OperationFault">
                <xsd:sequence>
                    <xsd:element name="faultReason" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultType">                                 
                <xsd:sequence>
                    <xsd:element name="ResultCode" type="xsd:unsignedLong"/>
                    <xsd:element name="ResultDesc" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType> 
        </xsd:schema>
    </types>
    <message name="ADD_USRSoapIn">
        <part name="parameters" element="tns:ADD_USR"/>
    </message>
    <message name="ADD_USRSoapOut">
        <part name="parameters" element="tns:ADD_USRResponse"/>
    </message>
    <message name="MOD_USRSoapIn">
        <part name="parameters" element="tns:MOD_USR"/>
    </message>
    <message name="MOD_USRSoapOut">
        <part name="parameters" element="tns:MOD_USRResponse"/>
    </message>
    <message name="RMV_USRSoapIn">
        <part name="parameters" element="tns:RMV_USR"/>
    </message>
    <message name="RMV_USRSoapOut">
        <part name="parameters" element="tns:RMV_USRResponse"/>
    </message>
    <message name="LST_USRSoapIn">
        <part name="parameters" element="tns:LST_USR"/>
    </message>
    <message name="LST_USRSoapOut">
        <part name="parameters" element="tns:LST_USRResponse"/>
    </message>
    <message name="OperationFault">
        <part name="fault" element="tns:OperationFault"/>
    </message>
    <portType name="NPServiceProcess">
        <operation name="ADD_USR">
            <input message="tns:ADD_USRSoapIn"/>
            <output message="tns:ADD_USRSoapOut"/>
            <fault message="tns:OperationFault" name="OperationFault"/>
        </operation>
        <operation name="MOD_USR">
            <input message="tns:MOD_USRSoapIn"/>
            <output message="tns:MOD_USRSoapOut"/>
            <fault message="tns:OperationFault" name="OperationFault"/>
        </operation>
        <operation name="RMV_USR">
            <input message="tns:RMV_USRSoapIn"/>
            <output message="tns:RMV_USRSoapOut"/>
            <fault message="tns:OperationFault" name="OperationFault"/>
        </operation>
        <operation name="LST_USR">
            <input message="tns:LST_USRSoapIn"/>
            <output message="tns:LST_USRSoapOut"/>
            <fault message="tns:OperationFault" name="OperationFault"/>
        </operation>
    </portType>
    <binding name="NPServiceProcessBinding" type="tns:NPServiceProcess">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ADD_USR">
            <soap:operation soapAction="NPServiceProcess#ADD_USR"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="OperationFault"><soap:fault name="OperationFault" use="literal"/></fault>
        </operation>
        <operation name="MOD_USR">
            <soap:operation soapAction="NPServiceProcess#MOD_USR"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="OperationFault"><soap:fault name="OperationFault" use="literal"/></fault>
        </operation>
        <operation name="RMV_USR">
            <soap:operation soapAction="NPServiceProcess#RMV_USR"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="OperationFault"><soap:fault name="OperationFault" use="literal"/></fault>
        </operation>
        <operation name="LST_USR">
            <soap:operation soapAction="NPServiceProcess#LST_USR"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="OperationFault"><soap:fault name="OperationFault" use="literal"/></fault>
        </operation>
    </binding>
    <service name="NPServiceProcess">
        <port name="NPServiceProcessPort" binding="tns:NPServiceProcessBinding">
            <soap:address location="http://www.huawei.com/AXIS/SmartKey"/>
        </port>
    </service>
</definitions>
