src/CommonProject/BusinessSchemas/Services/Phase1Schemas/GetBonusRechargeHistory/GetBonusRechargeHistoryRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetBonusRechargeHistory/GetBonusRechargeHistoryRes.xsd"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/Response"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetBonusRechargeHistory/GetBonusRechargeHistoryRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response" schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:element name="GetBonusRechargeHistoryRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
				<xs:element ref="ns1:Response"/>
				<xs:element name="ListOfTransactions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Transactions" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Timestamp"/>
				<xs:element ref="Amount"/>
				<xs:element ref="NewBalance" minOccurs="0"/>
				<xs:element ref="NewExpiry" minOccurs="0"/>
				<xs:element ref="Purpose" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Timestamp" type="xs:dateTime"/>
	<xs:element name="Amount" type="xs:decimal"/>
	<xs:element name="NewBalance" type="xs:decimal"/>
	<xs:element name="NewExpiry" type="xs:dateTime"/>
	<xs:element name="Purpose" type="xs:string"/>
</xs:schema>