src/CommonProject/BusinessWSDLS/Services/EMA/HMMSCSV2/ema_UserProvisioning_HMMSCSV_wsdl_fixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:hmmscsv="http://schemas.ericsson.com/ema/UserProvisioning/HMMSCSV/"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:cai3g="http://schemas.ericsson.com/cai3g1.2/"
	xmlns="http://schemas.ericsson.com/ema/UserProvisioning/HMMSCSV/"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" targetNamespace="http://schemas.ericsson.com/ema/UserProvisioning/HMMSCSV/"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc"
	attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element type="xs:string" name="actionid" />
	<!-- Note: This tool only cover Create/Set/GetResponse, if you need others, 
		please add them manually -->
	<xs:annotation>
		<xs:appinfo>HMMSCSV Subscription</xs:appinfo>
	</xs:annotation>
	<xs:element type="CreateSubscriptionType" name="createSubscription">
		<xs:annotation>
			<xs:documentation>Create Subscription</xs:documentation>
		</xs:annotation>
		<xs:key name="actionidKey_Create">
			<xs:selector xpath="." />
			<xs:field xpath="@actionid" />
		</xs:key>
		<xs:keyref refer="actionidKey_Create" name="actionidKeyRef_Create">
			<xs:selector xpath="." />
			<xs:field xpath="actionid" />
		</xs:keyref>
	</xs:element>
	<xs:element type="SetSubscriptionType" name="setSubscription">
		<xs:annotation>
			<xs:documentation>Set Subscription</xs:documentation>
		</xs:annotation>
		<xs:key name="actionidKey_Set">
			<xs:selector xpath="." />
			<xs:field xpath="@actionid" />
		</xs:key>
		<xs:keyref refer="actionidKey_Set" name="actionidKeyRef_Set">
			<xs:selector xpath="." />
			<xs:field xpath="actionid" />
		</xs:keyref>
	</xs:element>
	<xs:element type="SetResponseSubscriptionType" name="setResponseSubscription">
		<xs:annotation>
			<xs:documentation>SetResponse Subscription</xs:documentation>
		</xs:annotation>
		
	</xs:element>
	<xs:complexType name="SetResponseSubscriptionType">
		<xs:sequence>
			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />


			<xs:element name="respSource" minOccurs="0" type="xs:string" />
			<xs:element name="respCode" minOccurs="0" type="xs:string" />
			<xs:element name="respDesc" minOccurs="0" type="xs:string" />

		</xs:sequence>
		
	</xs:complexType>
	<xs:element type="GetResponseSubscriptionType" name="getResponseSubscription">
		<xs:annotation>
			<xs:documentation>GetResponse Subscription</xs:documentation>
		</xs:annotation>
		<xs:key name="actionidKey_GetResponse">
			<xs:selector xpath="." />
			<xs:field xpath="@actionid" />
		</xs:key>
		<xs:keyref refer="actionidKey_GetResponse" name="actionidKeyRef_GetResponse">
			<xs:selector xpath="." />
			<xs:field xpath="hmmscsv:actionid" />
		</xs:keyref>
	</xs:element>
	<xs:complexType name="CreateSubscriptionType">
		<xs:sequence>
			<xs:element name="msisdn" minOccurs="1" type="xs:string" />
			<xs:element name="imsi" minOccurs="1" type="xs:string" />
			<xs:element name="transno" minOccurs="1" type="xs:string" />
			<xs:element name="actionid" minOccurs="1" type="xs:string" />
			<xs:element name="srvName" minOccurs="0" type="xs:string" />
			<xs:element name="prepost_paid" minOccurs="0" type="xs:string" />
			<xs:element name="flag" minOccurs="0" type="xs:string" />
			<xs:element name="oldRoutingLocation" minOccurs="0"
				type="xs:string" />
			<xs:element name="routingLocation" minOccurs="0" type="xs:string" />
			<xs:element name="registerType" minOccurs="0" type="xs:string" />
			<xs:element name="timeoutDeliverMthd" minOccurs="0"
				type="xs:string" />
			<xs:element name="terminalType" minOccurs="0" type="xs:string" />
			<xs:element name="transactionStatus" minOccurs="0" type="xs:string" />
			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />
			<xs:element name="responseMsg" minOccurs="0" type="xs:string" />
			<xs:element name="orderNumber" minOccurs="0" type="xs:string" />
			<xs:element name="flexibleAttributeList" minOccurs="0"
				type="xs:string" />
			<xs:element name="priority" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute type="xs:string" use="required" name="actionid">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="actionidAttr" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SetSubscriptionType">
		<xs:sequence>
			<xs:element name="msisdn" minOccurs="1" type="xs:string" />
			<xs:element name="imsi" minOccurs="1" type="xs:string" />
			<xs:element name="transno" minOccurs="1" type="xs:string" />
			<xs:element name="actionid" minOccurs="0" type="xs:string" />
			<xs:element name="srvName" minOccurs="0" type="xs:string" />
			<xs:element name="prepost_paid" minOccurs="0" type="xs:string" />
			<xs:element name="flag" minOccurs="0" type="xs:string" />
			<xs:element name="oldRoutingLocation" minOccurs="0"
				type="xs:string" />
			<xs:element name="routingLocation" minOccurs="0" type="xs:string" />
			<xs:element name="registerType" minOccurs="0" type="xs:string" />
			<xs:element name="timeoutDeliverMthd" minOccurs="0"
				type="xs:string" />
			<xs:element name="terminalType" minOccurs="0" type="xs:string" />
			<xs:element name="transactionStatus" minOccurs="0" type="xs:string" />
			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />
			<xs:element name="responseMsg" minOccurs="0" type="xs:string" />
			<xs:element name="orderNumber" minOccurs="0" type="xs:string" />
			<xs:element name="flexibleAttributeList" minOccurs="0"
				type="xs:string" />
			<xs:element name="priority" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute type="xs:string" use="required" name="actionid">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="actionidAttr" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GetResponseSubscriptionType">
		<xs:sequence>
			<xs:element name="msisdn" minOccurs="1" type="xs:string" />
			<xs:element name="imsi" minOccurs="1" type="xs:string" />
			<xs:element name="transno" minOccurs="1" type="xs:string" />
			<xs:element name="actionid" minOccurs="1" type="xs:string" />
			<xs:element name="srvName" minOccurs="0" type="xs:string" />
			<xs:element name="prepost_paid" minOccurs="0" type="xs:string" />
			<xs:element name="flag" minOccurs="0" type="xs:string" />
			<xs:element name="oldRoutingLocation" minOccurs="0"
				type="xs:string" />
			<xs:element name="routingLocation" minOccurs="0" type="xs:string" />
			<xs:element name="registerType" minOccurs="0" type="xs:string" />
			<xs:element name="timeoutDeliverMthd" minOccurs="0"
				type="xs:string" />
			<xs:element name="terminalType" minOccurs="0" type="xs:string" />
			<xs:element name="transactionStatus" minOccurs="0" type="xs:string" />
			<xs:element name="startTime" minOccurs="0" type="xs:string" />
			<xs:element name="endTime" minOccurs="0" type="xs:string" />
			<xs:element name="responseMsg" minOccurs="0" type="xs:string" />
			<xs:element name="orderNumber" minOccurs="0" type="xs:string" />
			<xs:element name="flexibleAttributeList" minOccurs="0"
				type="xs:string" />
			<xs:element name="priority" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute type="xs:string" use="required" name="actionid">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="actionidAttr" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
