src/CommonProject/BusinessWSDLS/Services/WSDLS/GetCellId/CellId.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://www.zain.com/ZESB/Services/NetworkProfile/Types" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.zain.com/ZESB/Services/NetworkProfile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/NetworkProfile">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ParamList">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="StringParam" type="com:StringParam"/>
                    <xs:element maxOccurs="unbounded" name="BooleanParam" type="com:BooleanParam"/>
                    <xs:element maxOccurs="unbounded" name="IntParam" type="com:IntParam"/>
                    <xs:element maxOccurs="unbounded" name="LongParam" type="com:LongParam"/>
                    <xs:element maxOccurs="unbounded" name="FloatParam" type="com:FloatParam"/>
                    <xs:element maxOccurs="unbounded" name="DecimalParam" type="com:DecimalParam"/>
                    <xs:element maxOccurs="unbounded" name="DoubleParam" type="com:DoubleParam"/>
                    <xs:element maxOccurs="unbounded" name="DateParam" type="com:DateParam"/>
                    <xs:element maxOccurs="unbounded" name="DateTimeParam" type="com:DateTimeParam"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DecimalParam">
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/NetworkProfile/Types">
            <xs:simpleType name="MsisdnType">
                <xs:restriction base="xs:string">
                    <xs:minLength value="7"/>
                    <xs:maxLength value="8"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="NetworkElement">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="HLR"/>
                    <xs:enumeration value="AAA"/>
                    <xs:enumeration value="PCS"/>
                    <xs:enumeration value="MNP"/>
                    <xs:enumeration value="HSS"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="QueryProfileInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="ns:MsisdnType"/>
                        <xs:element maxOccurs="unbounded" name="NetworkElement" type="ns:NetworkElement"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryProfileOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRoamingStatusInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="ns:MsisdnType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetRoamingStatusOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Group" type="xs:string"/>
                        <xs:element name="Country" type="xs:string"/>
                        <xs:element name="Operator" type="xs:string"/>
                        <xs:element name="Threshold">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:decimal">
                                        <xs:attribute name="unit" type="xs:string"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCellIdInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="ns:MsisdnType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="AreaInformation">
                <xs:sequence>
                    <xs:element name="Area" type="xs:string"/>
                    <xs:element minOccurs="0" name="Block" type="xs:string"/>
                    <xs:element minOccurs="0" name="Street" type="xs:string"/>
                    <xs:element minOccurs="0" name="Latitude" type="xs:string"/>
                    <xs:element minOccurs="0" name="Longitude" type="xs:string"/>
                    <xs:element minOccurs="0" name="Remarks" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetCellIdOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CellId" type="xs:string"/>
                        <xs:element minOccurs="0" name="LocationCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="Sector" type="xs:string"/>
                        <xs:element minOccurs="0" name="Technology" type="xs:string"/>
                        <xs:element minOccurs="0" name="DeviceState" type="xs:string"/>
                        <xs:element minOccurs="0" name="LastAction" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="SourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="AreaInformation" type="ns:AreaInformation"/>
                        <xs:element minOccurs="0" name="Params" type="com:ParamList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryProfileRequest">
        <wsdl:part element="ns:QueryProfileInput" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="QueryProfileResponse">
        <wsdl:part element="ns:QueryProfileOutput" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="GetRoamingStatusRequest">
        <wsdl:part element="ns:GetRoamingStatusInput" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="GetRoamingStatusResponse">
        <wsdl:part element="ns:GetRoamingStatusOutput" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="GetCellIdRequest">
        <wsdl:part element="ns:GetCellIdInput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetCellIdResponse">
        <wsdl:part element="ns:GetCellIdOutput" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part element="com:FaultType" name="parameter"/>
    </wsdl:message>
    <wsdl:portType name="NetworkProfilePort">
        <wsdl:operation name="QueryProfile">
            <wsdl:input message="tns:QueryProfileRequest"/>
            <wsdl:output message="tns:QueryProfileResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetRoamingStatus">
            <wsdl:input message="tns:GetRoamingStatusRequest"/>
            <wsdl:output message="tns:GetRoamingStatusResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetCellId">
            <wsdl:input message="tns:GetCellIdRequest"/>
            <wsdl:output message="tns:GetCellIdResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NetworkProfileBinding" type="tns:NetworkProfilePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryProfile">
            <soap:operation soapAction="QueryProfile"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetRoamingStatus">
            <soap:operation soapAction="GetRoamingStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetCellId">
            <soap:operation soapAction="GetCellId"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault"/>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NetworkProfile">
        <wsdl:port binding="tns:NetworkProfileBinding" name="NetworkProfilePort">
            <soap:address location="URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>