src/CommonProject/BusinessSchemas/Services/Provisioning/FinalBillNotification/ListOfCbio2finalbillnotificationresio.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2PortOutNotificationResIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2PortOutNotificationResIO" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="ListOfCbio2finalbillnotificationresio" type="xsdLocal:ListOfCbio2finalbillnotificationresio" />
	<xsd:complexType name="ListOfCbio2finalbillnotificationresioTopElmt" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2finalbillnotificationresio" type="xsdLocal:ListOfCbio2finalbillnotificationresio" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2finalbillnotificationresio" >
		<xsd:sequence >
			<xsd:element name="ServiceRequest" type="xsdLocal:ServiceRequest" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ServiceRequest" >
		<xsd:sequence >
			<xsd:element name="NPOrderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FBNNPOrderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ValidationMSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2MessageID" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2SenderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2DonorId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfCbio2PortoutNotification" type="xsdLocal:ListOfCbio2PortoutNotification" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2PortoutNotification" >
		<xsd:sequence >
			<xsd:element name="NotificationLists" type="xsdLocal:NotificationLists" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="NotificationLists" >
		<xsd:sequence >
			<xsd:element name="NotificationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NotificationStatus" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorAdditionalDesc1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorAdditionalDesc2" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorSourceErrCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorSourceErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorUserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ErrorUserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DeliveryStatus" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >