src/CommonProject/BusinessSchemas/Services/Provisioning/FinalBillNotification/ListOfCbio2finalbillnotificationreqio.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2PortOutNotificationReqIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2PortOutNotificationReqIO" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"  />
	<xsd:complexType name="SiebelMessage" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2finalbillnotificationreqio" type="xsdLocal:ListOfCbio2finalbillnotificationreqio" minOccurs="0" maxOccurs="1"  />
		</xsd:sequence >
		<xsd:attribute name="MessageId" type="xsd:string"  />
		<xsd:attribute name="MessageType" type="xsd:string"  />
		<xsd:attribute name="IntObjectName" type="xsd:string"  />
		<xsd:attribute name="IntObjectFormat" type="xsd:string"  />
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2finalbillnotificationreqio" >
		<xsd:sequence >
			<xsd:element name="ServiceRequest" type="xsdLocal:ServiceRequest" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ServiceRequest" >
		<xsd:sequence >
			<xsd:element name="CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="DonorId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MessageID" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NPOrderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SenderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ThresholdAmount" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ValidationMSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SRNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FinalSettlement" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FBNNPOrderId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfCbio2PortoutNotification" type="xsdLocal:ListOfCbio2PortoutNotification" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ListOfCbio2Mnp" type="xsdLocal:ListOfCbio2Mnp" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2PortoutNotification" >
		<xsd:sequence >
			<xsd:element name="NotificationLists" type="xsdLocal:NotificationLists" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="NotificationLists" >
		<xsd:sequence >
			<xsd:element name="NotificationId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NotificationType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NotificationDate" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2Mnp" >
		<xsd:sequence >
			<xsd:element name="MSISDNLists" type="xsdLocal:MSISDNLists" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="MSISDNLists" >
		<xsd:sequence >
			<xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >