src/CommonProject/BusinessSchemas/Services/Applications/CRM/Query/PaymentQuery/PaymentQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/Query/PaymentQuery.xsd"
	 xmlns:ns0="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/PaymentTransaction.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/CRM/Query/PaymentQuery.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="PaymentQueryInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CustomerID" type="xs:string" minOccurs="0"/>
				<xs:element name="BillingAccountID" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element ref="ContractID" minOccurs="0"/>
				<xs:element name="FromDate" type="xs:string" minOccurs="0"/>
				<xs:element name="ToDate" type="xs:string" minOccurs="0"/>
				<xs:element name="ChildCustomerFlag" type="xs:string" minOccurs="0"/>
				<xs:element name="Limit" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaymentQueryOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Payments" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CustomerID" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentID" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentDate" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentAmount" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentMethod" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentReferenceNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentPostDate" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentAuthCode" type="xs:string" minOccurs="0"/>
							<xs:element name="Channel" type="xs:string" minOccurs="0"/>
							<xs:element name="SourceTransactionID" type="xs:string" minOccurs="0"/>
							<xs:element name="UserName" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomerCategory" type="xs:string" minOccurs="0"/>
							<xs:element name="Location" type="xs:string" minOccurs="0"/>
							<xs:element name="MerchantID" type="xs:string" minOccurs="0"/>
							<xs:element name="TerminalID" type="xs:string" minOccurs="0"/>
							<xs:element name="CRCCardNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="TotalAmount" type="xs:string" minOccurs="0"/>
							<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
							<xs:element name="Month" type="xs:string" minOccurs="0"/>
							<xs:element name="Year" type="xs:string" minOccurs="0"/>
							<xs:element name="Sum" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentType" type="xs:string" minOccurs="0"/>
							<xs:element ref="References" minOccurs="0"/>
							<xs:element ref="ErrorResponse" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="References">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Items" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Error_SourceSystem" minOccurs="0"/>
				<xs:element ref="Error_SourceErrCode" minOccurs="0"/>
				<xs:element ref="Error_SourceErrDesc" minOccurs="0"/>
				<xs:element ref="Error_Type" minOccurs="0"/>
				<xs:element ref="Error_UserErrCode" minOccurs="0"/>
				<xs:element ref="Error_UserErrDesc" minOccurs="0"/>
				<xs:element ref="Error_Occurance_Time" minOccurs="0"/>
				<xs:element ref="Error_Additional_Desc1" minOccurs="0"/>
				<xs:element ref="Error_Additional_Desc2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Items">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Value" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error_SourceSystem" type="xs:string"/>
	<xs:element name="Error_SourceErrCode" type="xs:string"/>
	<xs:element name="Error_SourceErrDesc" type="xs:string"/>
	<xs:element name="Error_Type" type="xs:string"/>
	<xs:element name="Error_UserErrCode" type="xs:string"/>
	<xs:element name="Error_UserErrDesc" type="xs:string"/>
	<xs:element name="Error_Occurance_Time" type="xs:string"/>
	<xs:element name="Error_Additional_Desc1" type="xs:string"/>
	<xs:element name="Error_Additional_Desc2" type="xs:string"/>
	<xs:element name="ContractID" type="xs:string"/>
</xs:schema>