src/CommonProject/BusinessWSDLS/Services/WSDLS/QueryOrderStatus_JMS_CRM/QueryOrderStatus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:ns1="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1458652163947" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns0="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/OrderStatus.xsd" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1458652163947">
    <wsdl:types>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/OrderStatus.xsd" xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/OrderStatus.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"/>
            <xs:element name="CWOrderID" type="xs:string"/>
            <xs:element name="Fault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryOrderStatusInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="CWOrderID" minOccurs="0"/>
                        <xs:element ref="SiebelOrderID" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SiebelOrderID" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="error">
                <xs:sequence>
                    <xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorResponse" type="ns2:error"/>
        </xs:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:EOM.COM.createOrderResponse="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderResponse" targetNamespace="http://www.zain.kw.com/BSS/OrderManagement/CreateOrderResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <simpleType name="amount">
                <annotation>
                    <documentation>amount</documentation>
                </annotation>
                <restriction base="xsd:decimal">
                    <fractionDigits value="3"/>
                </restriction>
            </simpleType>
            <complexType name="error">
                <annotation>
                    <documentation>error</documentation>
                </annotation>
                <sequence>
                    <element name="Error_SourceSystem" type="xsd:string" minOccurs="0"/>
                    <element name="Error_SourceErrCode" type="xsd:string" minOccurs="0"/>
                    <element name="Error_SourceErrDesc" type="xsd:string" minOccurs="0"/>
                    <element name="Error_Type" type="xsd:string" minOccurs="0"/>
                    <element name="Error_UserErrCode" type="xsd:string" minOccurs="0"/>
                    <element name="Error_UserErrDesc" type="xsd:string" minOccurs="0"/>
                    <element name="Error_Occurance_Time" type="xsd:string" minOccurs="0"/>
                    <element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0"/>
                    <element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0"/>
                </sequence>
            </complexType>
            <element name="orderResponse">
                <complexType>
                    <annotation>
                        <documentation>orderResponse</documentation>
                    </annotation>
                    <sequence>
                        <element name="orderHeader" minOccurs="0">
                            <annotation>
                                <documentation>orderHeader</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="cwOrderId" type="xsd:string" minOccurs="0"/>
                                    <element name="sourceOrderId" type="xsd:string" minOccurs="0"/>
                                    <element name="status" type="xsd:string" minOccurs="0"/>
                                    <element name="cwOrderStartTime" type="xsd:dateTime" minOccurs="0"/>
                                    <element name="cwOrderEndTime" type="xsd:dateTime" minOccurs="0"/>
                                    <element name="comment" type="xsd:string" minOccurs="0"/>
                                    <element name="responseType" type="xsd:string" minOccurs="0"/>
                                    <element name="revision" type="xsd:string" minOccurs="0"/>
                                    <element name="sourceSystem" type="xsd:string" minOccurs="0"/>
                                    <element name="error" minOccurs="0">
                                        <annotation>
                                            <documentation>error</documentation>
                                        </annotation>
                                        <complexType>
                                            <complexContent>
                                                <extension base="EOM.COM.createOrderResponse:error"/>
                                            </complexContent>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        <element ref="EOM.COM.createOrderResponse:subscriptionList" minOccurs="0"/>
                        <element ref="EOM.COM.createOrderResponse:paymentList" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="paymentInfo">
                <complexType>
                    <annotation>
                        <documentation>paymentInfo</documentation>
                    </annotation>
                    <sequence>
                        <element name="paymentId" type="xsd:string" minOccurs="0"/>
                        <element name="status" type="xsd:string" minOccurs="0"/>
                        <element name="error" minOccurs="0">
                            <annotation>
                                <documentation>error</documentation>
                            </annotation>
                            <complexType>
                                <complexContent>
                                    <extension base="EOM.COM.createOrderResponse:error"/>
                                </complexContent>
                            </complexType>
                        </element>
                        <element name="paymentReferenceNo" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="paymentList">
                <complexType>
                    <annotation>
                        <documentation>paymentList</documentation>
                    </annotation>
                    <sequence>
                        <element ref="EOM.COM.createOrderResponse:paymentInfo" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="product">
                <complexType>
                    <annotation>
                        <documentation>product</documentation>
                    </annotation>
                    <sequence>
                        <element name="productType" type="xsd:string"/>
                        <element name="productCode" type="xsd:string"/>
                        <element name="parentProductCode" type="xsd:string" minOccurs="0"/>
                        <element name="status" type="xsd:string"/>
                        <element name="crmIntegrationId" type="xsd:string" minOccurs="0"/>
                        <element name="offerEndDate" type="xsd:dateTime" minOccurs="0"/>
                        <element name="offerStartDate" type="xsd:dateTime" minOccurs="0"/>
                        <element name="icflexActivationCode" type="xsd:string" minOccurs="0"/>
                        <element name="action" type="xsd:string"/>
                        <element name="itemName" type="xsd:string" minOccurs="0"/>
                        <element name="error" minOccurs="0">
                            <annotation>
                                <documentation>error</documentation>
                            </annotation>
                            <complexType>
                                <complexContent>
                                    <extension base="EOM.COM.createOrderResponse:error"/>
                                </complexContent>
                            </complexType>
                        </element>
                        <element ref="EOM.COM.createOrderResponse:productAttributeList" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="productAttribute">
                <complexType>
                    <annotation>
                        <documentation>productAttribute</documentation>
                    </annotation>
                    <sequence>
                        <element name="name" type="xsd:string" minOccurs="0"/>
                        <element name="value" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="productAttributeList">
                <complexType>
                    <annotation>
                        <documentation>productAttributeList</documentation>
                    </annotation>
                    <sequence>
                        <element ref="EOM.COM.createOrderResponse:productAttribute" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="productList">
                <complexType>
                    <annotation>
                        <documentation>productList</documentation>
                    </annotation>
                    <sequence>
                        <element ref="EOM.COM.createOrderResponse:product" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="refund">
                <complexType>
                    <annotation>
                        <documentation>refund</documentation>
                    </annotation>
                    <sequence>
                        <element name="amount" type="EOM.COM.createOrderResponse:amount" minOccurs="0"/>
                        <element name="currencyCode" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="subscriptionInfo">
                <complexType>
                    <annotation>
                        <documentation>subscriptionInfo</documentation>
                    </annotation>
                    <sequence>
                        <element name="billingContractId" type="xsd:string" minOccurs="0"/>
                        <element name="sourceSubscriberId" type="xsd:string" minOccurs="0"/>
                        <element name="lifeCycleStatus" type="xsd:string" minOccurs="0"/>
                        <element name="status" type="xsd:string" minOccurs="0"/>
                        <element name="error" minOccurs="0">
                            <annotation>
                                <documentation>error</documentation>
                            </annotation>
                            <complexType>
                                <complexContent>
                                    <extension base="EOM.COM.createOrderResponse:error"/>
                                </complexContent>
                            </complexType>
                        </element>
                        <element ref="EOM.COM.createOrderResponse:productList" minOccurs="0"/>
                        <element name="integrationId" type="xsd:string" minOccurs="0"/>
                        <element ref="EOM.COM.createOrderResponse:refund" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="subscriptionList">
                <complexType>
                    <annotation>
                        <documentation>subscriptionList</documentation>
                    </annotation>
                    <sequence>
                        <element ref="EOM.COM.createOrderResponse:subscriptionInfo" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:service name="QueryOrderStatus">
        <wsdl:port name="QueryOrderStatusHTTP" binding="tns:QueryOrderStatusHTTPBinding">
            <soap:address location="http://localhost:7073/QueryOrderStatus"/>
        </wsdl:port>
        <wsdl:port name="QueryOrderStatus" binding="tns:QueryOrderStatusBinding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.ESI.QUERY.QUERY_ORDER_STATUS.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="QueryOrderStatusPortType">
        <wsdl:operation name="QueryOrderStatus">
            <wsdl:input message="tns:QueryOrderStatusInput"/>
            <wsdl:output message="tns:QueryOrderStatusOutput"/>
            <wsdl:fault name="fault" message="tns:FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QueryOrderStatusHTTPBinding" type="tns:QueryOrderStatusPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryOrderStatus">
            <soap:operation style="document" soapAction="/QueryOrderStatus"/>
            <wsdl:input>
                <soap:body use="literal" parts="QueryOrderStatusInput"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="QueryOrderStatusOutput"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="QueryOrderStatusBinding" type="tns:QueryOrderStatusPortType">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="bytes"/>
        <wsdl:operation name="QueryOrderStatus">
            <soap:operation style="document" soapAction="/QueryOrderStatus"/>
            <wsdl:input>
                <soap:body use="literal" parts="QueryOrderStatusInput"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="QueryOrderStatusOutput"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="QueryOrderStatusInput">
        <wsdl:part name="QueryOrderStatusInput" element="ns0:QueryOrderStatusInput"/>
    </wsdl:message>
    <wsdl:message name="QueryOrderStatusOutput">
        <wsdl:part name="QueryOrderStatusOutput" element="ns1:orderResponse"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part name="Fault" element="ns0:Fault"/>
    </wsdl:message>
</wsdl:definitions>