src/CommonProject/BusinessWSDLS/Services/WSDLS/EwalletServiceRenewal/EwalletServiceRenewal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/EwalletServiceRenewal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/EwalletServiceRenewal/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/EwalletServiceRenewal">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Param">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element name="Param" type="com:Param" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:typ="http://www.zain.com/ZESB/Services/EwalletServiceRenewal/Types" targetNamespace="http://www.zain.com/ZESB/Services/EwalletServiceRenewal/Types" elementFormDefault="qualified">
            <xs:element name="RenewInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element name="Service" type="xs:string"/>
                        <xs:element name="Params" type="com:Params" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RenewOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" type="xs:string"/>
                        <xs:element name="Params" type="com:Params" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="RenewRequest">
        <wsdl:part name="request" element="typ:RenewInput"/>
    </wsdl:message>
    <wsdl:message name="RenewResponse">
        <wsdl:part name="response" element="typ:RenewOutput"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="com:FaultType"/>
    </wsdl:message>
    <wsdl:portType name="EwalletServiceRenewalPort">
        <wsdl:operation name="Renew">
            <wsdl:input message="tns:RenewRequest"/>
            <wsdl:output message="tns:RenewResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EwalletServiceRenewalBinding" type="tns:EwalletServiceRenewalPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Renew">
            <soap:operation soapAction="Renew"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EwalletServiceRenewal">
        <wsdl:port name="EwalletServiceRenewalPort" binding="tns:EwalletServiceRenewalBinding">
            <soap:address location="http://localhost"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>