src/CommonProject/BusinessSchemas/Services/Applications/ERP/QueryAvailXStores/QueryAvailXStoresRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/QueryAvailXStoresRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="queryAvailXStoresRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="itemCode" type="xs:string"/>
				<xs:element name="orgCode" type="xs:string" minOccurs="0"/>
				<xs:element name="storeList" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Storecode" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>