src/CommonProject/BusinessWSDLS/Services/BSCS/ReceiptInfoRead/ws_CMI_5_ReceiptnoInfoReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/receiptnoinforead" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/receiptnoinforead" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/receiptnoinforead">
			<xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
			<xs:element name="receiptnoInfoReadRequest" type="wsi:receiptnoInfoReadRequest"/>
			<xs:element name="receiptnoInfoReadResponse" type="wsi:receiptnoInfoReadResponse"/>
			<xs:complexType name="documentListListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="documentid" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>DOCUMENT ID</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="amount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>AMOUNT</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoicedate" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>INVOICE DATE</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoicetype" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>INVOICE TYPE</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="subno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>SUBNO</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoiceamount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>INVOICE AMOUNT</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="documenttype" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Document type</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="documentListResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:documentListListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="receiptDetailsListListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="custnum" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>CUSTNUM</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="subno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>SUBNO</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoiceno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>INVOICE NUMBER</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoicedate" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>INVOICE DATE</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoicetype" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>INVOICE TYPE</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="method" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>METHOD</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>USERNAME</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paydesk" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>PAYDESK</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentdate" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>PAYMENTDATE</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="amount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>AMOUNT</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="openamount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>OPEN AMOUNT</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cardno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>CARDNO</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoiceamount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>AMOUNT</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="documenttype" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>AMOUNT</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="receiptDetailsListResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:receiptDetailsListListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="receiptnoInfoReadResponse">
				<xs:all>
					<xs:element minOccurs="0" name="receiptDetailsList" type="wsi:receiptDetailsListResponse"/>
					<xs:element minOccurs="0" name="documentList" type="wsi:documentListResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element name="receiptno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>RECEIPT NO</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="receiptnoInfoReadRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="receiptnoInfoReadRequest">
		<wsdl:part element="sch3:receiptnoInfoReadRequest" name="receiptnoInfoReadRequest"/>
	</wsdl:message>
	<wsdl:message name="receiptnoInfoReadResponse">
		<wsdl:part element="sch3:receiptnoInfoReadResponse" name="receiptnoInfoReadResponse"/>
	</wsdl:message>
	<wsdl:portType name="ReceiptnoInfoReadService">
		<wsdl:operation name="receiptnoInfoRead">
			<wsdl:input message="tns:receiptnoInfoReadRequest" name="receiptnoInfoReadRequest"/>
			<wsdl:output message="tns:receiptnoInfoReadResponse" name="receiptnoInfoReadResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReceiptnoInfoReadServiceSoap11" type="tns:ReceiptnoInfoReadService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="receiptnoInfoRead">
			<soap:operation soapAction=""/>
			<wsdl:input name="receiptnoInfoReadRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="receiptnoInfoReadResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReceiptnoInfoReadService">
		<wsdl:port binding="tns:ReceiptnoInfoReadServiceSoap11" name="ReceiptnoInfoReadServiceSoap11">
			<soap:address location="http://10.96.202.167:30103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>