src/CommonProject/BusinessWSDLS/Services/WSDLS/GetUsage/GetUsage_CRM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited By Manish Verms Explicitely for CRM interfaces -->
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns2="http://www.ericsson.com/ZESB/Services/GetUsage/Types" xmlns:ns1="http://www.ericsson.com/ZESB/Types/Common" xmlns:ns="http://www.ericsson.com/ZESB/Services/GetUsage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ericsson.com/ZESB/Services/GetUsage" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.ericsson.com/ZESB/Services/GetUsage">
    <wsdl:types>
        <xsi:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:com="http://www.ericsson.com/ZESB/Types/Common" xmlns:tns="http://www.ericsson.com/ZESB/Services/GetUsage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ericsson.com/ZESB/Types/Common">
            <xsi:element name="FaultType">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="type" type="xs:string"/>
                        <xsi:element name="code" type="xs:string"/>
                        <xsi:element name="description" type="xs:string"/>
                        <xsi:element name="sourceSystem" type="xs:string"/>
                        <xsi:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xsi:element minOccurs="0" name="detail" type="xs:string"/>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
        </xsi:schema>
        <xsi:schema xmlns:ns="http://www.ericsson.com/ZESB/Services/GetUsage/Types" xmlns:tns="http://www.ericsson.com/ZESB/Services/GetUsage/Types" xmlns:xsi="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ericsson.com/ZESB/Services/GetUsage/Types">
            <xsi:simpleType name="MSISDN">
                <xsi:restriction base="xs:string">
                    <xsi:minLength value="6"/>
                    <xsi:maxLength value="13"/>
                </xsi:restriction>
            </xsi:simpleType>
            <xsi:simpleType name="NonEmptyString">
                <xsi:restriction base="xs:string">
                    <xsi:minLength value="1"/>
                </xsi:restriction>
            </xsi:simpleType>
            <xsi:simpleType name="UsageType">
                <xsi:restriction base="xs:string">
                    <xsi:minLength value="0"/>
                </xsi:restriction>
            </xsi:simpleType>
            <xsi:simpleType name="Language">
                <xsi:restriction base="xs:string">
                    <xsi:enumeration value="Ar"/>
                    <xsi:enumeration value="En"/>
                </xsi:restriction>
            </xsi:simpleType>
            <xsi:complexType name="RatingInfo">
                <xsi:sequence>
                    <xsi:element name="Service" type="xs:string"/>
                    <xsi:element name="ChargingType" type="xs:string"/>
                    <xsi:element minOccurs="0" name="Destination" type="xs:string"/>
                    <xsi:element name="Product" type="xs:string"/>
                    <xsi:element name="Used">
                        <xsi:complexType>
                            <xsi:simpleContent>
                                <xsi:extension base="xs:decimal">
                                    <xsi:attribute name="unit" type="xs:string"/>
                                    <xsi:attribute name="on-net" type="xs:decimal"/>
                                    <xsi:attribute name="off-net" type="xs:decimal"/>
                                </xsi:extension>
                            </xsi:simpleContent>
                        </xsi:complexType>
                    </xsi:element>
                    <xsi:element minOccurs="0" name="Threshold">
                        <xsi:complexType>
                            <xsi:simpleContent>
                                <xsi:extension base="xs:decimal">
                                    <xsi:attribute name="unit" type="xs:string"/>
                                </xsi:extension>
                            </xsi:simpleContent>
                        </xsi:complexType>
                    </xsi:element>
                    <xsi:element minOccurs="0" name="StartDate" type="xs:string"/>
                    <xsi:element minOccurs="0" name="EndDate" type="xs:string"/>
                </xsi:sequence>
            </xsi:complexType>
            <xsi:complexType name="RatingBundle">
                <xsi:sequence>
                    <xsi:element name="Type" type="xs:string"/>
                    <xsi:element name="ServiceCode" type="xs:string"/>
                    <xsi:element name="Unit" type="xs:string"/>
                    <xsi:element name="Used" type="xs:decimal"/>
                    <xsi:element name="Threshold" type="xs:decimal"/>
                    <xsi:element name="Peak" type="xs:decimal"/>
                    <xsi:element name="OffPeak" type="xs:decimal"/>
                    <xsi:element minOccurs="0" name="OnNet" type="xs:decimal"/>
                    <xsi:element minOccurs="0" name="OffNet" type="xs:decimal"/>
                    <xsi:element name="StartDate" type="xs:string"/>
                    <xsi:element name="EndDate" type="xs:string"/>
                </xsi:sequence>
            </xsi:complexType>
            <xsi:element name="GetUsageInput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="MSISDN" type="tns:MSISDN"/>
                        <xsi:element minOccurs="0" name="Language">
                            <xsi:complexType>
                                <xsi:simpleContent>
                                    <xsi:extension base="tns:Language"/>
                                </xsi:simpleContent>
                            </xsi:complexType>
                        </xsi:element>
                        <xsi:element minOccurs="0" name="Filter">
                            <xsi:complexType>
                                <xsi:sequence>
                                    <xsi:element maxOccurs="unbounded" name="Type" type="tns:UsageType"/>
                                </xsi:sequence>
                            </xsi:complexType>
                        </xsi:element>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="GetUsageOutput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element maxOccurs="unbounded" name="RatingInfo" type="tns:RatingInfo"/>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="GetRatingBundlesInput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="MSISDN" type="tns:MSISDN"/>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="GetRatingBundlesOutput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element maxOccurs="unbounded" name="Bundle" type="tns:RatingBundle"/>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="GetDataPoliciesInput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="MSISDN" type="tns:MSISDN"/>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="GetDataPoliciesOutput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="IMSI" type="xs:string"/>
                        <xsi:element maxOccurs="unbounded" name="Service">
                            <xsi:complexType>
                                <xsi:sequence>
                                    <xsi:element name="ID" type="xs:string"/>
                                    <xsi:element minOccurs="0" name="Type" type="xsi:string"/>
                                    <xsi:element name="BillingStartDate" type="xs:string"/>
                                    <xsi:element name="BillingEndDate" type="xs:string"/>
                                    <xsi:element maxOccurs="unbounded" name="Quota">
                                        <xsi:complexType>
                                            <xsi:sequence>
                                                <xsi:element name="ID" type="xs:string"/>
                                                <xsi:element name="Used" type="xs:long"/>
                                                <xsi:element name="Remaining" type="xs:long"/>
                                                <xsi:element name="Threshold" type="xs:long"/>
                                            </xsi:sequence>
                                        </xsi:complexType>
                                    </xsi:element>
                                </xsi:sequence>
                            </xsi:complexType>
                        </xsi:element>
                        <xsi:element minOccurs="0" name="DowngradeDate" type="xs:string"/>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
        </xsi:schema>
    </wsdl:types>
    <wsdl:message name="GetUsageRequest">
        <wsdl:part element="ns2:GetUsageInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetUsageResponse">
        <wsdl:part element="ns2:GetUsageOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="GetRatingBundlesRequest">
        <wsdl:part element="ns2:GetRatingBundlesInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetRatingBundlesResponse">
        <wsdl:part element="ns2:GetRatingBundlesOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="GetDataPoliciesRequest">
        <wsdl:part element="ns2:GetDataPoliciesInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetDataPoliciesResponse">
        <wsdl:part element="ns2:GetDataPoliciesOutput" name="response"/>
    </wsdl:message>
    <wsdl:portType name="GetUsagePort">
        <wsdl:operation name="GetUsage">
            <wsdl:input message="tns:GetUsageRequest"/>
            <wsdl:output message="tns:GetUsageResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetRatingBundles">
            <wsdl:input message="tns:GetRatingBundlesRequest"/>
            <wsdl:output message="tns:GetRatingBundlesResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="GetDataPolicies">
            <wsdl:input message="tns:GetDataPoliciesRequest"/>
            <wsdl:output message="tns:GetDataPoliciesResponse"/>
            <wsdl:fault message="tns:FaultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetUsageBinding" type="tns:GetUsagePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetUsage">
            <soap:operation soapAction="GetUsage"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetRatingBundles">
            <soap:operation soapAction="GetRatingBundles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetDataPolicies">
            <soap:operation soapAction="GetDataPolicies"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetUsage">
        <wsdl:port binding="tns:GetUsageBinding" name="GetUsagePort">
            <soap:address location="http://10.96.100.3:7073/ESB/SOAP/GetUsage"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>