src/CommonProject/BusinessSchemas/Services/Transaction/PrepaidChargeRefund/ChargeRefundReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/ChargeRefundReq.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Subscriber"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/Charge"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/ChargeRefundReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Subscriber" schemaLocation="../../../../CDM/Subscriber.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Charge" schemaLocation="../../../../CDM/Charge.xsd"/>
	<xs:element name="ChargeRefundReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader"/>
				<xs:element ref="ns0:Subscriber"/>
				<xs:element ref="ns1:Charge"/>
				<xs:element name="ChargeRefundDetails" type="ChargeRefundDetailsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ChargeRefundDetailsType">
		<xs:sequence>
			<xs:element name="Role" type="xs:string" minOccurs="0"/>
			<xs:element name="UserId" type="xs:string" minOccurs="0"/>
			<xs:element name="FrontendId" type="xs:string" minOccurs="0"/>			
			<xs:element name="AccountId" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountType" type="xs:string" minOccurs="0"/>
			<xs:element name="MerchantId" type="xs:string" minOccurs="0"/>
			<xs:element name="Amount" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductId" type="xs:string" minOccurs="0"/>
			<xs:element name="Purpose" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>