src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/AppleiWatchSESActivate/triggerSubscriptionActivationResSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uniqueId" type="xs:string"/>
				<xs:element name="serviceInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="msisdn" type="xs:string"/>
							<xs:element name="imsi" type="xs:string"/>
							<xs:element name="subscriptionStatus" type="xs:string"/>
							<xs:element name="provisionStatus" type="xs:string"/>
							<xs:element name="networkRegistrationInterval" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="iccidInfo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="iccid" type="xs:string"/>
							<xs:element name="activationCode" type="xs:string" minOccurs="0"/>
							<xs:element name="confirmationCode" type="xs:string" minOccurs="0"/>
							<xs:element name="smdpAddress" type="xs:string" minOccurs="0"/>
							<xs:element name="useSmds" type="xs:boolean" minOccurs="0"/>
							<xs:element name="iccidStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="delayProfileDownloadTime" type="xs:integer" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>