src/CommonProject/BusinessSchemas/Services/Applications/Common/Query/QueryAsyncService/CRMAsyncServiceResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Resultsets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResultSet1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Record1" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="X_ACTION_CD" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_CFSS_ID" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_CONNECTION_TYPE" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_CONTRACT_ID" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_CREATED_DT" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_CUSTOMER_ID" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_ECM_PROMOTION_ID" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_GIFT_RECV_MSISDN" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_GIFT_REMARKS" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_LINE_TYPE" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_ORDER_NUM" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_PROD_ID" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_SOURCE_SYSTEM" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_SERIAL_NUM" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_STATUS_CD" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_TRANSACTION_REF" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_USERNAME" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_PROD_NAME" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="X_PART_NUM" minOccurs="0" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>