src/ESI_BSCS/BusinessProcesses/Services/Query/ContractQueryOutstanding/HelperProcess/ParseContractQueryOutstanding.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTRACT_ID" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="PAID_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="BILLED_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="UNBILLED_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="OUTSTANDING_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
				<xs:element name="TOTAL_OUTSTANDING_AMNT" type="xs:string" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>