src/CommonProject/BusinessSchemas/Services/Applications/Common/Biometric/QueryCustomerByIDRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/QueryCustomerByIDRes.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/QueryCustomerByIDRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ROW_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="CUST_STAT_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="STAT_REASON_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="STAT_CHG_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="ACC_COLOR_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="AGE_RANGE" type="xs:string" minOccurs="0"/>
										<xs:element name="FNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="LNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="SNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="TNAME_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="TITLE_ARA" type="xs:string" minOccurs="0"/>
										<xs:element name="BEHAVIORS" type="xs:string" minOccurs="0"/>
										<xs:element name="BILLCYCLE" type="xs:string" minOccurs="0"/>
										<xs:element name="BLOOD_GRP" type="xs:string" minOccurs="0"/>
										<xs:element name="BSCS_HIER_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BSCS_STAT_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="BSCS_BU" type="xs:string" minOccurs="0"/>
										<xs:element name="CATEGORY" type="xs:string" minOccurs="0"/>
										<xs:element name="COMMUNITY_ID1" type="xs:string" minOccurs="0"/>
										<xs:element name="COMPANY_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="CONN_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="ACC_EXPIRES" type="xs:string" minOccurs="0"/>
										<xs:element name="CREDIT_NOTE" type="xs:string" minOccurs="0"/>
										<xs:element name="CREATED_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="EDUCATION" type="xs:string" minOccurs="0"/>
										<xs:element name="MARITAL_STAT" type="xs:string" minOccurs="0"/>
										<xs:element name="PROFESSION" type="xs:string" minOccurs="0"/>
										<xs:element name="CUST_LVL" type="xs:string" minOccurs="0"/>
										<xs:element name="DISC_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="BIRTH_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="FNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="LNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="SNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="TNAME_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="TITLE_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
										<xs:element name="HOME_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="ID_EXPIRY_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="ID_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="ID_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="INDUSTRY" type="xs:string" minOccurs="0"/>
										<xs:element name="KAM_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="MARKET_CLASS_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
										<xs:element name="BANK_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="NOTIFY_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="ORG_CAT" type="xs:string" minOccurs="0"/>
										<xs:element name="ORG_SIZE" type="xs:string" minOccurs="0"/>
										<xs:element name="ORG_TYP" type="xs:string" minOccurs="0"/>
										<xs:element name="EVT_LOC_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="PORTOUT_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="PR_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="PREF_COMM_END_TIME" type="xs:string" minOccurs="0"/>
										<xs:element name="PREF_COMM_START_TIME" type="xs:string" minOccurs="0"/>
										<xs:element name="PREF_COMM_CHANNEL" type="xs:string" minOccurs="0"/>
										<xs:element name="PREF_COMM_TIME" type="xs:string" minOccurs="0"/>
										<xs:element name="RECIPIENT" type="xs:string" minOccurs="0"/>
										<xs:element name="REFERRED_BY" type="xs:string" minOccurs="0"/>
										<xs:element name="REG_ZAIN_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="REGD_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="RESIDENCY_TYP" type="xs:string" minOccurs="0"/>
										<xs:element name="RISK_LEVEL" type="xs:string" minOccurs="0"/>
										<xs:element name="SALES_AGENT" type="xs:string" minOccurs="0"/>
										<xs:element name="SALESCALLALLOW_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="SECTOR" type="xs:string" minOccurs="0"/>
										<xs:element name="SEGMENT" type="xs:string" minOccurs="0"/>
										<xs:element name="SISTER_COMPANY" type="xs:string" minOccurs="0"/>
										<xs:element name="SOURCE" type="xs:string" minOccurs="0"/>
										<xs:element name="SUBCORP_SEG" type="xs:string" minOccurs="0"/>
										<xs:element name="MARKET_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="SUBMARKET_TYP" type="xs:string" minOccurs="0"/>
										<xs:element name="CLIENT_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="SUPRESS_CALL_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="FACILITY_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="HSHLDHD_OCC_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="HSHLD_INC" type="xs:string" minOccurs="0"/>
										<xs:element name="LANG_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIN_EMAIL_ADDR" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIN_FAX_PH_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIN_PH_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="MASTER_OU_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="PAR_OU_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="EVT_HOTEL_STD_RT" type="xs:string" minOccurs="0"/>
										<xs:element name="REGION" type="xs:string" minOccurs="0"/>
										<xs:element name="REL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="PP_ASSGN_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="LANG" type="xs:string" minOccurs="0"/>
										<xs:element name="ZAIN_EMP" type="xs:string" minOccurs="0"/>
										<xs:element name="SUB_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="CATEGORY_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="BASE_CURCY_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="ARB_FULL_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="ENG_FULL_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="TOTAL_LINES" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet2" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record2" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_LINE_3" type="xs:string" minOccurs="0"/>
										<xs:element name="AVENUE" type="xs:string" minOccurs="0"/>
										<xs:element name="RURAL_ROUTE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="BUILDING" type="xs:string" minOccurs="0"/>
										<xs:element name="POSTAL_AREA_ENG" type="xs:string" minOccurs="0"/>
										<xs:element name="ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="FLOOR" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIL" type="xs:string" minOccurs="0"/>
										<xs:element name="PO_BOX" type="xs:string" minOccurs="0"/>
										<xs:element name="PACCI_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="X_POSTAL_AREA_CODE" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="STREET_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="CITY" type="xs:string" minOccurs="0"/>
										<xs:element name="COUNTRY" type="xs:string" minOccurs="0"/>
										<xs:element name="LANDLORD_PH_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_ADDR_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="NEIGHBORHOOD_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="ZIPCODE" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR" type="xs:string" minOccurs="0"/>
										<xs:element name="ROW_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="CON_ADDR_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="ARABIC_ZIP_CODE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet3" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record3" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="PP_ASSGN_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="PR_BL_PRFL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="HOLDER_NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="PAY_ACCNT_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="PP_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BANK_DETAIL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="CARDTYPE_CRDR" type="xs:string" minOccurs="0"/>
										<xs:element name="END_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="PAYMENT_INSTRUMENT" type="xs:string" minOccurs="0"/>
										<xs:element name="START_DT" type="xs:string" minOccurs="0"/>
										<xs:element name="EXPIRATION_MO_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="EXPIRATION_YR_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="PAY_METH_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="PROFILE_STATUS_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="BA_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BANK_BRANCH" type="xs:string" minOccurs="0"/>
										<xs:element name="BANK_CITY" type="xs:string" minOccurs="0"/>
										<xs:element name="BANK_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BANK_HINT" type="xs:string" minOccurs="0"/>
										<xs:element name="SWIFT_CODE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet4" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record4" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ACC_SEQUENCE_NUM" type="xs:string" minOccurs="0"/>
										<xs:element name="PR_PAY_PRFL_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDR_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BILL_FREQ_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="BILL_SOURCE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="ACT_PERF" type="xs:string" minOccurs="0"/>
										<xs:element name="BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="CREDIT_LIMIT" type="xs:string" minOccurs="0"/>
										<xs:element name="ERROR_STATUS" type="xs:string" minOccurs="0"/>
										<xs:element name="EXCHANGE_RATE" type="xs:string" minOccurs="0"/>
										<xs:element name="INVOICE_FORMAT" type="xs:string" minOccurs="0"/>
										<xs:element name="MAIL_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="MODE_OF_COMMUNICATION" type="xs:string" minOccurs="0"/>
										<xs:element name="NOTIFICATION_NUMBER" type="xs:string" minOccurs="0"/>
										<xs:element name="PR_PAY_PRFL_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="PREFF_LANGUAGE" type="xs:string" minOccurs="0"/>
										<xs:element name="CURCY_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="EMAIL_ADDR" type="xs:string" minOccurs="0"/>
										<xs:element name="MEDIA_TYPE_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="SMS_NOTIFY_FLG" type="xs:string" minOccurs="0"/>
										<xs:element name="STATUS_CD" type="xs:string" minOccurs="0"/>
										<xs:element name="ROW_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="ADDRESS_BSCS_ID" type="xs:string" minOccurs="0"/>
										<xs:element name="BILLCYCLE" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>