src/CommonProject/BusinessWSDLS/Services/BSCS/CancelFutureOrder/ws_CIL_5_FutureReqCancelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/futurereqcancel" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;New value for a named value.&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;
						
						&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/futurereqcancel" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/futurereqcancel">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="futureReqCancelRequest" type="wsi:futureReqCancelRequest"/>
            <xs:element name="futureReqCancelResponse" type="wsi:futureReqCancelResponse"/>
            <xs:complexType name="futureReqCancelResponse">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;Response Of Future Request Cancel.&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="status" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Response of API execution.
							S: Success
							F: Failure
							&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errorCode" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Short description of error message.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errorMessage" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Long description of error message.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element name="ticklerNumber" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Unique Identifier of the Tickler Request.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="crmOrderId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Unique Identifier of the Request.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="csIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Customer Public Key&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="coIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Contract Public Key&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="futureReqCancelRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="futureReqCancelResponse">
        <wsdl:part element="sch3:futureReqCancelResponse" name="futureReqCancelResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="futureReqCancelRequest">
        <wsdl:part element="sch3:futureReqCancelRequest" name="futureReqCancelRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FutureReqCancelService">
        <wsdl:operation name="futureReqCancel">
            <wsdl:input message="tns:futureReqCancelRequest" name="futureReqCancelRequest">
    </wsdl:input>
            <wsdl:output message="tns:futureReqCancelResponse" name="futureReqCancelResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FutureReqCancelServiceSoap11" type="tns:FutureReqCancelService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="futureReqCancel">
            <soap:operation soapAction=""/>
            <wsdl:input name="futureReqCancelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="futureReqCancelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FutureReqCancelService">
        <wsdl:port binding="tns:FutureReqCancelServiceSoap11" name="FutureReqCancelServiceSoap11">
            <soap:address location="http://10.96.103.211:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>