src/CommonProject/BusinessSchemas/Services/Provisioning/eStoreCustCreation/eStoreCustRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/eStoreCustRequest.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Provisioning/eStoreCustRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="custCreationReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="requestor" type="xs:string"/>
				<xs:element name="transactionReference" type="xs:string"/>
				<xs:element name="createdDate" type="xs:string"/>
				<xs:element name="username" type="xs:string"/>
				<xs:element name="customerId" type="xs:string"/>
				<xs:element name="source" type="xs:string"/>
				<xs:element name="externalIndividualCustomerCreation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="account">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ArabicFirstName" type="xs:string" minOccurs="0"/>
										<xs:element name="ArabicLastName" type="xs:string" minOccurs="0"/>
										<xs:element name="ArabicSecondName" type="xs:string" minOccurs="0"/>
										<xs:element name="ArabicThirdName" type="xs:string" minOccurs="0"/>
										<xs:element name="ArabicTitle" type="xs:string" minOccurs="0"/>
										<xs:element name="BillCycle" type="xs:string" minOccurs="0"/>
										<xs:element name="BloodGrp" type="xs:string" minOccurs="0"/>
										<xs:element name="BusinessUnit" type="xs:string" minOccurs="0"/>
										<xs:element name="Category" type="xs:string" minOccurs="0"/>
										<xs:element name="CustCreatedThru" type="xs:string" minOccurs="0"/>
										<xs:element name="CustEducation" type="xs:string" minOccurs="0"/>
										<xs:element name="CustMaritalStatus" type="xs:string" minOccurs="0"/>
										<xs:element name="CustProfession" type="xs:string" minOccurs="0"/>
										<xs:element name="DOB" type="xs:string" minOccurs="0"/>
										<xs:element name="EnglishFirstName" type="xs:string" minOccurs="0"/>
										<xs:element name="EnglishLastName" type="xs:string" minOccurs="0"/>
										<xs:element name="EnglishSecondName" type="xs:string" minOccurs="0"/>
										<xs:element name="EnglishThirdName" type="xs:string" minOccurs="0"/>
										<xs:element name="Gender" type="xs:string" minOccurs="0"/>
										<xs:element name="HomeNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="IDExpDate" type="xs:string" minOccurs="0"/>
										<xs:element name="IDNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="IDType" type="xs:string" minOccurs="0"/>
										<xs:element name="IncomeRange" type="xs:string" minOccurs="0"/>
										<xs:element name="LineType" type="xs:string" minOccurs="0"/>
										<xs:element name="Nationality" type="xs:string" minOccurs="0"/>
										<xs:element name="NickName" type="xs:string" minOccurs="0"/>
										<xs:element name="NotificationNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="OverrideIDExp" type="xs:string" minOccurs="0"/>
										<xs:element name="PrefCommEndTime" type="xs:string" minOccurs="0"/>
										<xs:element name="PrefCommStartTime" type="xs:string" minOccurs="0"/>
										<xs:element name="PrefCommunicationChannel" type="xs:string" minOccurs="0"/>
										<xs:element name="Recipient" type="xs:string" minOccurs="0"/>
										<xs:element name="ReferenceId" type="xs:string" minOccurs="0"/>
										<xs:element name="RegisterZainFlg" type="xs:string" minOccurs="0"/>
										<xs:element name="ResidencyType" type="xs:string" minOccurs="0"/>
										<xs:element name="SalesAgent" type="xs:string" minOccurs="0"/>
										<xs:element name="SalesCallingAllowFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="Source" type="xs:string" minOccurs="0"/>
										<xs:element name="SubMarketType" type="xs:string" minOccurs="0"/>
										<xs:element name="ZainEmp" type="xs:string" minOccurs="0"/>
										<xs:element name="clientFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="description" type="xs:string" minOccurs="0"/>
										<xs:element name="dontCall" type="xs:string" minOccurs="0"/>
										<xs:element name="facilityFlag" type="xs:string" minOccurs="0"/>
										<xs:element name="householdHeadOccupation" type="xs:string" minOccurs="0"/>
										<xs:element name="language" type="xs:string" minOccurs="0"/>
										<xs:element name="mainEmailAddress" type="xs:string" minOccurs="0"/>
										<xs:element name="mainFaxNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="mainPhoneNumber" type="xs:string" minOccurs="0"/>
										<xs:element name="name" type="xs:string" minOccurs="0"/>
										<xs:element name="MOIReference" type="xs:string" minOccurs="0"/>
										<xs:element name="CardIssueDate" type="xs:string" minOccurs="0"/>
										<xs:element name="GuardianCivilId" type="xs:string" minOccurs="0"/>
										<xs:element name="listOfcutAddress" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cutAddress" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="apartmentNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="Avenue" type="xs:string" minOccurs="0"/>
																<xs:element name="Block" type="xs:string" minOccurs="0"/>
																<xs:element name="Building" type="xs:string" minOccurs="0"/>
																<xs:element name="Floor" type="xs:string" minOccurs="0"/>
																<xs:element name="Mail" type="xs:string" minOccurs="0"/>
																<xs:element name="POBox" type="xs:string" minOccurs="0"/>
																<xs:element name="PacciNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="StreetNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="city" type="xs:string" minOccurs="0"/>
																<xs:element name="country" type="xs:string" minOccurs="0"/>
																<xs:element name="landlordPhoneNumbe" type="xs:string" minOccurs="0"/>
																<xs:element name="locationType" type="xs:string" minOccurs="0"/>
																<xs:element name="neighborhood" type="xs:string" minOccurs="0"/>
																<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																<xs:element name="streetAddress" type="xs:string" minOccurs="0"/>
																<xs:element name="type2" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="listOfcomInvoiceProfile" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="comInvoiceProfile" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="billFrequency" type="xs:string" minOccurs="0"/>
																<xs:element name="CreditLimit" type="xs:string" minOccurs="0"/>
																<xs:element name="ExchangeRate" type="xs:string" minOccurs="0"/>
																<xs:element name="InvoiceFormat" type="xs:string" minOccurs="0"/>
																<xs:element name="MailType" type="xs:string" minOccurs="0"/>
																<xs:element name="ModeofCommunciation" type="xs:string" minOccurs="0"/>
																<xs:element name="NotificationSubNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="currencyCode2" type="xs:string" minOccurs="0"/>
																<xs:element name="mediaType" type="xs:string" minOccurs="0"/>
																<xs:element name="name" type="xs:string" minOccurs="0"/>
																<xs:element name="prepaidSMSNotification" type="xs:string" minOccurs="0"/>
																<xs:element name="streetAddress" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="listOforganizationPaymentProfile" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="organizationPaymentProfile" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="accountBankBranch" type="xs:string" minOccurs="0"/>
																<xs:element name="accountBankName" type="xs:string" minOccurs="0"/>
																<xs:element name="AccountHolderFlag" type="xs:string" minOccurs="0"/>
																<xs:element name="CardType" type="xs:string" minOccurs="0"/>
																<xs:element name="CreditCardPrefix" type="xs:string" minOccurs="0"/>
																<xs:element name="OldCreditCardNum" type="xs:string" minOccurs="0"/>
																<xs:element name="PaymentInstrument" type="xs:string" minOccurs="0"/>
																<xs:element name="creditCardVerificationNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="expirationMonth" type="xs:string" minOccurs="0"/>
																<xs:element name="expirationYear" type="xs:string" minOccurs="0"/>
																<xs:element name="name2" type="xs:string" minOccurs="0"/>
																<xs:element name="paymentMethodLIC" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>