src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/NotifySES/EOM_NotifySES_Mag.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/EntitleServer/EOM_NotifySES_Mag.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/EntitleServer/EOM_NotifySES_Mag.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="NotifyUserDataMagReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader" minOccurs="0"/>
				<xs:element name="oldPrimaryDevice" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="eid" type="xs:string" minOccurs="0"/>
							<xs:element name="deviceType" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="newPrimaryDevice" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="eid" type="xs:string" minOccurs="0"/>
							<xs:element name="deviceType" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="transferredSubscriptions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="oldSubscription" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="primaryImsi" type="xs:string" minOccurs="0"/>
										<xs:element name="primaryMsisdn" type="xs:string" minOccurs="0"/>
										<xs:element name="iccidProfile" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="iccid" type="xs:string" minOccurs="0"/>
													<xs:element name="imei" type="xs:string" minOccurs="0"/>
													<xs:element name="meid" type="xs:string" minOccurs="0"/>
													<xs:element name="iccidStatus" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="operatorId" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="newSubscription" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="primaryImsi" type="xs:string" minOccurs="0"/>
										<xs:element name="primaryMsisdn" type="xs:string" minOccurs="0"/>
										<xs:element name="iccidProfile" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="iccid" type="xs:string" minOccurs="0"/>
													<xs:element name="imei" type="xs:string" minOccurs="0"/>
													<xs:element name="meid" type="xs:string" minOccurs="0"/>
													<xs:element name="iccidStatus" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="operatorId" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="NameValuePairs" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM correlation ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>OM order ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Siebel Order Id</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Key</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Business Unit Public Value</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotifyUserDataMagRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader" minOccurs="0"/>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseMessage" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorResponse" type="error"/>
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NameValuePairs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NameValuePair" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseMessage" type="xs:string"/>
</xs:schema>