src/CommonProject/BusinessWSDLS/Services/BSCS/QueryInstallments/ws_CMI_5_InstallmentDetailsReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/installmentdetailsread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/installmentdetailsread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/installmentdetailsread">
			<xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
			<xs:element name="installmentDetailsReadRequest" type="wsi:installmentDetailsReadRequest"/>
			<xs:element name="installmentDetailsReadResponse" type="wsi:installmentDetailsReadResponse"/>
			<xs:complexType name="paymentListListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="remark" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>REMARK</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="siebelorderid" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>SIEBELORDERID</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="validfrom" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Valid from date</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="period" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Period</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="remainingperiod" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Remaining Period</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="grossamount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Total Amount</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="service" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Service Short Description</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="msisdn" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Service Short Description</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="paymentListResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:paymentListListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="installmentDetailsReadResponse">
				<xs:all>
					<xs:element minOccurs="0" name="customerid" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customer ID</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="contractid" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentList" type="wsi:paymentListResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element name="custnum" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customer ID public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cocode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="installmentDetailsReadRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="installmentDetailsReadResponse">
		<wsdl:part element="sch3:installmentDetailsReadResponse" name="installmentDetailsReadResponse"/>
	</wsdl:message>
	<wsdl:message name="installmentDetailsReadRequest">
		<wsdl:part element="sch3:installmentDetailsReadRequest" name="installmentDetailsReadRequest"/>
	</wsdl:message>
	<wsdl:portType name="InstallmentDetailsReadService">
		<wsdl:operation name="installmentDetailsRead">
			<wsdl:input message="tns:installmentDetailsReadRequest" name="installmentDetailsReadRequest"/>
			<wsdl:output message="tns:installmentDetailsReadResponse" name="installmentDetailsReadResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InstallmentDetailsReadServiceSoap11" type="tns:InstallmentDetailsReadService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="installmentDetailsRead">
			<soap:operation soapAction=""/>
			<wsdl:input name="installmentDetailsReadRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="installmentDetailsReadResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InstallmentDetailsReadService">
		<wsdl:port binding="tns:InstallmentDetailsReadServiceSoap11" name="InstallmentDetailsReadServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>