src/CommonProject/BusinessSchemas/Services/Query/CustomerAsset/CustomerAssetQueryInbound.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Query/CustomerAssetQueryInbound.xsd"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Query/CustomerAssetQueryInbound.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:element name="ListOfCbio2QueryAssetIo" type="ListOfCbio2QueryAssetIo"/>
	<xs:complexType name="ListOfCbio2QueryAssetIoTopElmt">
		<xs:sequence>
			<xs:element name="ListOfCbio2QueryAssetIo" type="ListOfCbio2QueryAssetIo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfCbio2QueryAssetIo">
		<xs:sequence>
			<xs:element name="Account" type="Account" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Account">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomerId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2BSCSId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CalcLines" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CalcPostpaidLines" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CalcPrepaidLines" type="xs:string" minOccurs="0"/>
			<xs:element name="ListOfSubscribers" type="ListOfSubscribers" minOccurs="0"/>
			<xs:element name="ListOfAssetMgmtAsset" type="ListOfAssetMgmtAsset" minOccurs="0"/>
			<xs:element name="CBIO2Segment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfSubscribers">
		<xs:sequence>
			<xs:element name="SubscriberInformation" type="SubscriberInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriberInformation">
		<xs:sequence>
			<xs:element name="CBiO2ArabicFullName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2BSCSBillingAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2BSCSId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2Behaviors2" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CallDetails" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ContractEndDt" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ContractPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ContractStartDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerArabicFirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerArabicLastName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerArabicSecName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerArabicThirdName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerArabicTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerBirthDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerBloodGroup" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerEngFirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerEngLastName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerEngNickName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerEngSecName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerEngThirdName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerExpiryDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerGender" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerIDNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerIDType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerLanguageCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerMaritalStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerNationality" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerParentAccountName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerResidencyType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CustomerTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2DNId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2DefCreditLimit" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2DocumentSubmitted" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2FirstCallDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2IVRLang" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2IVRPIN" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2LineType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2MSISDNCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2Market2" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2MasterDataSharingNum" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2NotificationFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2OldContract" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2OptedCreditLimit" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PortInFlag2" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PortOutFlag2" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PrefCommChannel" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PrefCommEndTime" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PrefCommLangCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PrefCommLanguage" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PrefCommStartTime" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PrefCommTime" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ProsumerBase" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ReferredBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2RegistrationDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2RiskLevel" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SalesAgent" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SalesCallingFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2Source" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SpendLimit" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2StatusChangeDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubMarket2" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubsLocation" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberEmail" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberFaxPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberHomePhone" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberLifeCycleState" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberNo" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberNotificationPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubscriberWorkPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2UpfrontPaymentFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VBMClassification" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VBMValue" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VPNCUGId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VPNPref" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VPNPrefixandShortCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VPNShortCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ZainStaffFlg" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ZainStaffNo" type="xs:string" minOccurs="0"/>
			<xs:element name="ProdType" type="xs:string" minOccurs="0"/>
			<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ConnectionType" type="xs:string" minOccurs="0"/>
			<xs:element name="subsFlexField1" type="xs:string" minOccurs="0"/>
			<xs:element name="subsFlexField2" type="xs:string" minOccurs="0"/>
			<xs:element name="subsFlexField3" type="xs:string" minOccurs="0"/>
			<xs:element name="subsFlexField4" type="xs:string" minOccurs="0"/>
			<xs:element name="subsFlexField5" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2TenureInDays" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2TenureInMonths" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2TenureInYears" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2NoDataGifting" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2BlockCampaignFlg" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2BlockDialerOutboundFlg" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2ZainCampusBlockerFlg" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2NoRetentFlg" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2UnableToTransferOwnerFlg" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2SIMCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2SIMType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2SubType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2CustSeqNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2SIMNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfAssetMgmtAsset">
		<xs:sequence>
			<xs:element name="AssetMgmtAsset" type="AssetMgmtAsset" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetMgmtAsset">
		<xs:sequence>
			<xs:element name="AdjustedListPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="AssetDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="AssetId" type="xs:string" minOccurs="0"/>
			<xs:element name="AssetNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="BasePrice" type="xs:string" minOccurs="0"/>
			<xs:element name="BillingProfileId" type="xs:string" minOccurs="0"/>
			<xs:element name="BillingProfileName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBIO2InstallmentAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ContractEndDt" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ContractPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ContractStartDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2DNId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2DefCreditLimit2" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2FLEXCommitmentDiscountAmt" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2FLEXCommitmentFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2FLEXCommitmentPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2FLEXCommitmentPlan2" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2FLEXCommitmentPlanId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2IMSI" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2InstallmentEndDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2InstallmentFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2InstallmentPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2InstallmentStartDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2InventoryFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2InventorySerialNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2MSISDNCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2NoOfAdvRCBillCycle" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2OfferSubType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2OfferType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2OldContract" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2OldIMSI" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2OpenCaseseStore" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ProsumerBase" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ReferredBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SIMCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SIMResId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SIMType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2StatusChangeDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SubType" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2UpfrontPaymentAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2UpfrontPaymentFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VPNCUGId" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VPNPref" type="xs:string" minOccurs="0"/>
			<xs:element name="EffectiveEndDate" type="xs:string" minOccurs="0"/>
			<xs:element name="IntegrationId" type="xs:string" minOccurs="0"/>
			<xs:element name="OwnerAccount" type="xs:string" minOccurs="0"/>
			<xs:element name="OwnerAccountId" type="xs:string" minOccurs="0"/>
			<xs:element name="ParentAssetId" type="xs:string" minOccurs="0"/>
			<xs:element name="ProdType" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductName" type="xs:string"/>
			<xs:element name="ProductPartNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductType" type="xs:string" minOccurs="0"/>
			<xs:element name="Quantity2" type="xs:string" minOccurs="0"/>
			<xs:element name="RootAssetId" type="xs:string" minOccurs="0"/>
			<xs:element name="RootAssetNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="StartDate" type="xs:string" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2AutoRenewableFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2AutoRenewalDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2AutoRenewalFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ParentProdGlobalIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ProdGlobalIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PromotionGlobalIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2VPNShortCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2SIMNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ICCID" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PIN1" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PUK1" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2PUK2" type="xs:string" minOccurs="0"/>
			<xs:element name="assetFlexField1" type="xs:string" minOccurs="0"/>
			<xs:element name="assetFlexField2" type="xs:string" minOccurs="0"/>
			<xs:element name="assetFlexField3" type="xs:string" minOccurs="0"/>
			<xs:element name="assetFlexField4" type="xs:string" minOccurs="0"/>
			<xs:element name="assetFlexField5" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ProductArabicDisplayName" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ProductCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ProductSubCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2ProductClassification" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductID" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2GiftVolume" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2GiftUOM" type="xs:string" minOccurs="0"/>
			<xs:element name="PriceType" type="xs:string" minOccurs="0"/>
			<xs:element name="UnitofMeasure" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CommitmentStartDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CBiO2CommitmentEndDate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="queryAssetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header" minOccurs="0"/>
				<xs:element name="OperationType" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="CustomerId" type="xs:string" minOccurs="0"/>
				<xs:element ref="HierarchyFlag" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="queryAssetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header" minOccurs="0"/>
				<xs:element ref="bs:Response" minOccurs="0"/>
				<xs:element ref="ListOfCbio2QueryAssetIo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HierarchyFlag" type="xs:string"/>
</xs:schema>