src/CommonProject/BusinessSchemas/Services/Applications/ConceptWave/ChangeOwnerServiceUpdate/ChangeOwnerServiceUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ChangeOwnerServiceUpdate.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/ConceptWave/ChangeOwnerServiceUpdate.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ChangeOwnerServiceUpdateRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="Input" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChangeOwnerServiceUpdateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orderHeader" minOccurs="0"/>
				<xs:element ref="Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="correlationID" minOccurs="0"/>
				<xs:element ref="serviceOrderId" minOccurs="0"/>
				<xs:element ref="salesOrderId" minOccurs="0"/>
				<xs:element ref="buIdPubKey" minOccurs="0"/>
				<xs:element ref="buIdPubValue" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseMessage" minOccurs="0"/>
				<xs:element ref="ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="correlationID" type="xs:string"/>
	<xs:element name="serviceOrderId" type="xs:string"/>
	<xs:element name="salesOrderId" type="xs:string"/>
	<xs:element name="buIdPubKey" type="xs:string"/>
	<xs:element name="buIdPubValue" type="xs:string"/>
	<xs:element name="coId" type="xs:string"/>
	<xs:element name="coIdPub" type="xs:string"/>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseMessage" type="xs:string"/>
	<xs:element name="ErrorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Error_SourceSystem" minOccurs="0"/>
				<xs:element ref="Error_SourceErrCode" minOccurs="0"/>
				<xs:element ref="Error_SourceErrDesc" minOccurs="0"/>
				<xs:element ref="Error_Type" minOccurs="0"/>
				<xs:element ref="Error_UserErrCode" minOccurs="0"/>
				<xs:element ref="Error_UserErrDesc" minOccurs="0"/>
				<xs:element ref="Error_Occurance_Time" minOccurs="0"/>
				<xs:element ref="Error_Additional_Desc1" minOccurs="0"/>
				<xs:element ref="Error_Additional_Desc2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Error_SourceSystem" type="xs:string"/>
	<xs:element name="Error_SourceErrCode" type="xs:string"/>
	<xs:element name="Error_SourceErrDesc" type="xs:string"/>
	<xs:element name="Error_Type" type="xs:string"/>
	<xs:element name="Error_UserErrCode" type="xs:string"/>
	<xs:element name="Error_UserErrDesc" type="xs:string"/>
	<xs:element name="Error_Occurance_Time" type="xs:string"/>
	<xs:element name="Error_Additional_Desc1" type="xs:string"/>
	<xs:element name="Error_Additional_Desc2" type="xs:string"/>
</xs:schema>