src/CommonProject/BusinessWSDLS/Services/WSDLS/CashSales/CashSalesInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Abdulaziz Alfoudari (Zain) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/CashSales" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:typ="http://www.zain.com/ZESB/Services/CashSales/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.zain.com/ZESB/Services/CashSales">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
            <xs:element name="RequestHeader">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="conversationID" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/CashSales/Types" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.zain.com/ZESB/Services/CashSales/Types" elementFormDefault="qualified">
            <xs:complexType name="OrderState">
                <xs:sequence>
                    <xs:element name="Code" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>A numeric value representing the order state. Value of 0 indicates a successful order.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Description" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Text describing the order state.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CardInfo">
                <xs:sequence>
                    <xs:element name="CardNumber" type="xs:string"/>
                    <xs:element name="ExpiryDate" type="xs:string"/>
                    <xs:element name="CVV" type="xs:string" minOccurs="0"/>
                    <xs:element name="IssuingBank" type="xs:string" minOccurs="0"/>
                    <xs:element name="MerchantID" type="xs:string" minOccurs="0"/>
                    <xs:element name="TerminalID" type="xs:string" minOccurs="0"/>
                    <xs:element name="AuthCode" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderLine">
                <xs:sequence>
                    <xs:element name="ItemCode" type="xs:string"/>
                    <xs:element name="Amount" type="xs:decimal"/>
                    <xs:element name="Quantity" type="xs:int" minOccurs="0"/>
                    <xs:element name="Serial" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ReturnedItem">
                <xs:sequence>
                    <xs:element name="ItemCode" type="xs:string"/>
                    <xs:element name="Quantity" type="xs:int"/>
                    <xs:element name="Serial" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="CashSalesInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractID" type="xs:string" minOccurs="0"/>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element name="Amount" type="xs:decimal"/>
                        <xs:element name="UserName" type="xs:string"/>
                        <xs:element name="PaymentMethod" type="xs:string"/>
                        <xs:element name="OrderLines" type="typ:OrderLine" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="CardDetails" type="typ:CardInfo"/>
                        <xs:element name="CustomerName" type="xs:string" minOccurs="0"/>
                        <xs:element name="CheckPrice" type="xs:string" minOccurs="0"/>
                        <xs:element name="Notes" type="xs:string" minOccurs="0"/>
                        <xs:element name="Params" type="typ:Params" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CashSalesOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReceiptNumber" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SalesReturnInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReceiptNo" type="xs:string"/>
                        <xs:element name="UserName" type="xs:string"/>
                        <xs:element name="ReturnedItems" type="typ:ReturnedItem"/>
                        <xs:element name="ContractID" type="xs:string" minOccurs="0"/>
                        <xs:element name="OriginalUserName" type="xs:string" minOccurs="0"/>
                        <xs:element name="OriginalSalesDate" type="xs:date" minOccurs="0"/>
                        <xs:element name="Params" type="typ:Params" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SalesReturnOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderState" type="typ:OrderState">
                            <xs:annotation>
                                <xs:documentation>The state/result of the order after execution.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Params" type="typ:Params" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Custom Parameters.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Param">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element name="Param" type="typ:Param" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="CashSalesRequest">
        <wsdl:part name="request" element="typ:CashSalesInput"/>
    </wsdl:message>
    <wsdl:message name="CashSalesResponse">
        <wsdl:part name="response" element="typ:CashSalesOutput"/>
    </wsdl:message>
    <wsdl:message name="requestMessageHeader">
        <wsdl:part name="header" element="com:RequestHeader"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="com:FaultType"/>
    </wsdl:message>
    <wsdl:message name="SalesReturnRequest">
        <wsdl:part name="request" element="typ:SalesReturnInput"/>
    </wsdl:message>
    <wsdl:message name="SalesReturnResponse">
        <wsdl:part name="response" element="typ:SalesReturnOutput"/>
    </wsdl:message>
    <wsdl:portType name="CashSalesPort">
        <wsdl:operation name="CashSales">
            <wsdl:input message="tns:CashSalesRequest"/>
            <wsdl:output message="tns:CashSalesResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SalesReturn">
            <wsdl:input message="tns:SalesReturnRequest"/>
            <wsdl:output message="tns:SalesReturnResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CashSalesBinding" type="tns:CashSalesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CashSales">
            <soap:operation soapAction="CashSales"/>
            <wsdl:input>
                <soap:header message="tns:requestMessageHeader" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SalesReturn">
            <soap:operation soapAction="SalesReturn"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CashSales">
        <wsdl:port name="CashSalesPort" binding="tns:CashSalesBinding"/>
    </wsdl:service>
</wsdl:definitions>
