src/CommonProject/BusinessWSDLS/Services/WSDLS/InteractionHistory/InteractionHistory.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.zain.com/ZESB/Services/InteractionHistory"
	xmlns:typ="http://www.zain.com/ZESB/Services/InteractionHistory/Types"
	xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Services/InteractionHistory">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Types/Common"
			xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string" />
						<xs:element name="code" type="xs:string" />
						<xs:element name="description" type="xs:string" />
						<xs:element name="sourceSystem" type="xs:string" />
						<xs:element name="extErrorCode" type="xs:string"
							minOccurs="0" />
						<xs:element name="detail" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ParamList">
				<xs:choice maxOccurs="unbounded" minOccurs="0">
					<xs:element maxOccurs="unbounded" name="StringParam"
						type="com:StringParam" />
					<xs:element maxOccurs="unbounded" name="BooleanParam"
						type="com:BooleanParam" />
					<xs:element maxOccurs="unbounded" name="IntParam" type="com:IntParam" />
					<xs:element maxOccurs="unbounded" name="LongParam" type="com:LongParam" />
					<xs:element maxOccurs="unbounded" name="FloatParam"
						type="com:FloatParam" />
					<xs:element maxOccurs="unbounded" name="DecimalParam"
						type="com:DecimalParam" />
					<xs:element maxOccurs="unbounded" name="DoubleParam"
						type="com:DoubleParam" />
					<xs:element maxOccurs="unbounded" name="DateParam" type="com:DateParam" />
					<xs:element maxOccurs="unbounded" name="DateTimeParam"
						type="com:DateTimeParam" />
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="StringParam">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DecimalParam">
				<xs:simpleContent>
					<xs:extension base="xs:decimal">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="BooleanParam">
				<xs:simpleContent>
					<xs:extension base="xs:boolean">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="IntParam">
				<xs:simpleContent>
					<xs:extension base="xs:int">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="LongParam">
				<xs:simpleContent>
					<xs:extension base="xs:long">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="FloatParam">
				<xs:simpleContent>
					<xs:extension base="xs:float">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DoubleParam">
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DateParam">
				<xs:simpleContent>
					<xs:extension base="xs:date">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="DateTimeParam">
				<xs:simpleContent>
					<xs:extension base="xs:dateTime">
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:schema>
		<xs:schema
			xmlns:typ="http://www.zain.com/ZESB/Services/InteractionHistory/Types"
			targetNamespace="http://www.zain.com/ZESB/Services/InteractionHistory/Types"
			elementFormDefault="qualified">
			<xs:element name="InteractionOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ActivityStatus">
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" name="ResponseCode" type="xs:string" />
									<xs:element minOccurs="0" name="ResponseDescription"
										type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Params" type="com:ParamList"
							minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InteractionInput">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="MSISDN" type="xs:string" />
							<xs:element name="ContractID" type="xs:string" />
						</xs:choice>
						<xs:element name="Activity">
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" name="ActivityCode" type="xs:string" />
									<xs:element minOccurs="0" name="ActivityDescription"
										type="xs:string" />
									<xs:element minOccurs="0" name="Channel" type="xs:string" />
									<xs:element minOccurs="0" name="Time" type="xs:dateTime" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="UserName" type="xs:string" />
						<xs:element name="Params" type="com:ParamList"
							minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="InteractionRequest">
		<wsdl:part name="request" element="typ:InteractionInput"/>
	</wsdl:message>
	<wsdl:message name="InteractionResponse">
		<wsdl:part name="response" element="typ:InteractionOutput"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="InteractionPort">
		<wsdl:operation name="Interaction">
			<wsdl:input message="tns:InteractionRequest"/>
			<wsdl:output message="tns:InteractionResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InteractionBinding" type="tns:InteractionPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Interaction">
			<soap:operation soapAction="Interaction"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Interaction">
		<wsdl:port name="InteractionPort" binding="tns:InteractionBinding">
			<soap:address location="URL"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>