src/CommonProject/BusinessWSDLS/Services/WSDLS/Payment/PaymentInbound.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/Payment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:typ="http://www.zain.com/ZESB/Services/Payment/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/Payment">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
		</xs:schema>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Services/Payment/Types" xmlns:typ="http://www.zain.com/ZESB/Services/Payment/Types" elementFormDefault="qualified">
			<xs:complexType name="CardInfo">
				<xs:sequence>
					<xs:element name="CardType" minOccurs="0" type="xs:string"/>
					<xs:element name="HolderName" type="xs:string" minOccurs="0"/>
					<xs:element name="MerchantId" type="xs:string"/>
					<xs:element name="MerchantPassword" type="xs:string"/>
					<xs:element name="TerminalId" type="xs:string"/>
					<xs:element name="AuthCode" type="xs:string" minOccurs="0"/>
					<xs:element name="CardNumber" type="xs:string"/>
					<xs:element name="ExpiryDate" type="xs:string"/>
					<xs:element name="CVV" type="xs:string" minOccurs="0"/>
					<xs:element name="IssuingBank" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Chequelnfo">
				<xs:sequence>
					<xs:element name="Bank" type="xs:string" minOccurs="0"/>
					<xs:element name="Branch" type="xs:string" minOccurs="0"/>
					<xs:element name="ChequeNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="AccountNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="IssueDate" type="xs:date" minOccurs="0"/>
					<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NotificationMedia">
				<xs:sequence>
					<xs:element name="Media" type="xs:string"/>
					<xs:element name="Address" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PayContractInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractId" type="xs:string"/>
						<xs:element name="Amount" type="xs:decimal"/>
						<xs:element name="UserName" type="xs:string"/>
						<xs:element name="PaymentMethod" type="xs:string"/>
						<xs:element name="AuthorizeCredit">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N"/>
									<xs:enumeration value="Y"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TransactionReference" type="xs:string"/>
						<xs:element name="CardDetails" type="typ:CardInfo" minOccurs="0"/>
						<xs:element name="ChequeDetail" type="typ:Chequelnfo" minOccurs="0"/>
						<xs:element name="NotificationMedia" type="typ:NotificationMedia" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Params" type="typ:Params" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="SubscriberInfo">
				<xs:sequence>
					<xs:element name="Msisdn" type="xs:string"/>
					<xs:element name="Area" type="xs:string"/>
					<xs:element name="Amount" type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscribersList">
				<xs:sequence>
					<xs:element name="Subscriber" type="typ:SubscriberInfo" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PaySubscribersInput">
				<xs:complexType>
					<xs:sequence>
					    <xs:element name="ContractId" type="xs:string" minOccurs="0"/>
						<xs:element name="SubscribersList" type="typ:SubscribersList"/>
						<xs:element name="UserName" type="xs:string"/>
						<xs:element name="PaymentMethod" type="xs:string"/>
						<xs:element name="AuthorizeCredit">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="N"/>
									<xs:enumeration value="Y"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TransactionReference" type="xs:string"/>
						<xs:element name="CardDetails" type="typ:CardInfo" minOccurs="0"/>
						<xs:element name="ChequeDetail" type="typ:Chequelnfo" minOccurs="0"/>
						<xs:element name="NotificationMedia" type="typ:NotificationMedia" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Params" type="typ:Params" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Authorization">
				<xs:sequence>
					<xs:element name="MerchantId" type="xs:string" minOccurs="0"/>
					<xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
					<xs:element name="TransactionReference" type="xs:string" minOccurs="0"/>
					<xs:element name="ShoppingTransactionReference" type="xs:string" minOccurs="0"/>
					<xs:element name="CardType" type="xs:string" minOccurs="0"/>
					<xs:element name="OrderInfo" type="xs:string" minOccurs="0"/>
					<xs:element name="AuthorizationStatus" type="xs:string" minOccurs="0"/>
					<xs:element name="ReceiptNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="AuthorizationID" type="xs:string" minOccurs="0"/>
					<xs:element name="AcquirerResponseCode" type="xs:string" minOccurs="0"/>
					<xs:element name="SettlementDate" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GeneralOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestStatus" type="xs:string"/>
						<xs:element name="ReceiptNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="Authorization" type="typ:Authorization"/>						
						<xs:element name="Params" type="typ:Params" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Param">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="Value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Params">
				<xs:sequence>
					<xs:element name="Param" type="typ:Param" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PayContractRequest">
		<wsdl:part name="request" element="typ:PayContractInput"/>
	</wsdl:message>
	<wsdl:message name="PayContractResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="PaySubscribersRequest">
		<wsdl:part name="request" element="typ:PaySubscribersInput"/>
	</wsdl:message>
	<wsdl:message name="PaySubscribersResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="PaymentPort">
		<wsdl:operation name="PayContract">
			<wsdl:input message="tns:PayContractRequest"/>
			<wsdl:output message="tns:PayContractResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="PaySubscribers">
			<wsdl:input message="tns:PaySubscribersRequest"/>
			<wsdl:output message="tns:PaySubscribersResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PaymentBinding" type="tns:PaymentPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="PayContract">
			<soap:operation soapAction="PayContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="PaySubscribers">
			<soap:operation soapAction="PaySubscribers"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Payment">
		<wsdl:port name="PaymentPort" binding="tns:PaymentBinding"/>
	</wsdl:service>
</wsdl:definitions>
