src/CommonProject/BusinessWSDLS/Services/CRM/AccountManagerQuerySAMWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO"/>
            <xsd:element name="AccountManagerQuerySAM_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RequestedBy" type="xsd:string"/>
                        <xsd:element name="CustSequenceNum" type="xsd:string"/>
                        <xsd:element name="SalesChannel" type="xsd:string"/>
                        <xsd:element name="CustRowID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AccountManagerQuerySAM_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfCbio2SamQueryIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2SamQueryIo" type="xsdLocal1:ListOfCbio2SamQueryIo"/>
            <xsd:complexType name="ListOfCbio2SamQueryIoTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfCbio2SamQueryIo" type="xsdLocal1:ListOfCbio2SamQueryIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2SamQueryIo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="CBiO2SAM" type="xsdLocal1:CBiO2SAM"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2SAM">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CustomerSequenceNumber" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SAMUserID" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Title" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SAMFirstName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SAMLastName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MobilePhone" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsdLocal1:string350"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Gender" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string350">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="350"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </types>
    <message name="AccountManagerQuerySAM_Input">
        <part element="tns:AccountManagerQuerySAM_Input" name="AccountManagerQuerySAM_Input"/>
    </message>
    <message name="AccountManagerQuerySAM_Output">
        <part element="tns:AccountManagerQuerySAM_Output" name="AccountManagerQuerySAM_Output"/>
    </message>
    <portType name="CBiO2_spcQuery_spcCustomer_spcSAM_spcWorkflow">
        <operation name="AccountManagerQuerySAM">
            <input message="tns:AccountManagerQuerySAM_Input"/>
            <output message="tns:AccountManagerQuerySAM_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcQuery_spcCustomer_spcSAM_spcWorkflow" type="tns:CBiO2_spcQuery_spcCustomer_spcSAM_spcWorkflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AccountManagerQuerySAM">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:AccountManagerQuerySAM"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AccountManagerQuerySAMWS">
        <port binding="tns:CBiO2_spcQuery_spcCustomer_spcSAM_spcWorkflow" name="CBiO2_spcQuery_spcCustomer_spcSAM_spcWorkflow">
            <soap:address location="http://10.223.148.22:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>