src/CommonProject/BusinessWSDLS/Services/CRM/AddUpdateCorpAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Account%20Address%20Update%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Account%20Address%20Update%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Account%20Address%20Update%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2AccountAddressUpdateIo" type="xsdLocal1:ListOfCbio2AccountAddressUpdateIo"/>
            <xsd:complexType name="ListOfCbio2AccountAddressUpdateIoTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfCbio2AccountAddressUpdateIo" type="xsdLocal1:ListOfCbio2AccountAddressUpdateIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2AccountAddressUpdateIo">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Account" type="xsdLocal1:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CustomerRowID" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CustomerSequenceNumber" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfCutAddress" type="xsdLocal1:ListOfCutAddress"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCutAddress">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CutAddress" type="xsdLocal1:CutAddress"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CutAddress">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SiebelAddressId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CreatedBy" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Apartment" type="xsdLocal1:string5"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Avenue" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Block" type="xsdLocal1:string3"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Building" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Floor" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Mail" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="POBox" type="xsdLocal1:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PacciNumber" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PostalCode" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StreetNumber" type="xsdLocal1:string8"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SalesChannel" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Country" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BaseType" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PostalAreaName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StreetName" type="xsdLocal1:string200"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CreatedByUser" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AddressType" type="xsdLocal1:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Account%20Address%20Update%20IO"/>
            <xsd:element name="AddUpdateCORPCustAddress_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfCbio2AccountAddressUpdateIo"/>
                        <xsd:element name="Action" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddUpdateCORPCustAddress_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerSequence" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorStep" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="SiebelAddressId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="AddUpdateCORPCustAddress_Input">
        <part element="tns:AddUpdateCORPCustAddress_Input" name="AddUpdateCORPCustAddress_Input"/>
    </message>
    <message name="AddUpdateCORPCustAddress_Output">
        <part element="tns:AddUpdateCORPCustAddress_Output" name="AddUpdateCORPCustAddress_Output"/>
    </message>
    <portType name="CBiO2_spcCORP_spcCustomer_spcAddress_spcModification_spcWF">
        <operation name="AddUpdateCORPCustAddress">
            <input message="tns:AddUpdateCORPCustAddress_Input"/>
            <output message="tns:AddUpdateCORPCustAddress_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcCORP_spcCustomer_spcAddress_spcModification_spcWF" type="tns:CBiO2_spcCORP_spcCustomer_spcAddress_spcModification_spcWF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AddUpdateCORPCustAddress">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:AddUpdateCORPCustAddress"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcCORP_spcCustomer_spcAddress_spcModification_spcWS">
        <port binding="tns:CBiO2_spcCORP_spcCustomer_spcAddress_spcModification_spcWF" name="CBiO2_spcCORP_spcCustomer_spcAddress_spcModification_spcWF">
            <soap:address location="http://10.223.148.22:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>