src/CommonProject/BusinessWSDLS/Services/CRM/AssetQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO"/>
            <xsd:element name="queryShopInfo_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Language" type="xsd:string"/>
                        <xsd:element name="Type" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryShopInfo_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfCbio2QueryShopInformationIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2QueryShopInformationIo" type="xsdLocal1:ListOfCbio2QueryShopInformationIo"/>
            <xsd:complexType name="ListOfCbio2QueryShopInformationIoTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfCbio2QueryShopInformationIo" type="xsdLocal1:ListOfCbio2QueryShopInformationIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2QueryShopInformationIo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Organization" type="xsdLocal1:Organization"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Days" type="xsdLocal1:string250"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FromTime" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Kiosk" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Latitude" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Longitude" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2MobiQuick" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2NoofAgents" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2NonStop" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ShopId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Status" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ToTime" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2WarehouseId" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Type" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfOrganization_BusinessAddress" type="xsdLocal1:ListOfOrganization_BusinessAddress"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfOrganization_CBiO2ContactInformation" type="xsdLocal1:ListOfOrganization_CBiO2ContactInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfOrganization_BusinessAddress">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Organization_BusinessAddress" type="xsdLocal1:Organization_BusinessAddress"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization_BusinessAddress">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Area" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Block" type="xsdLocal1:string3"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Building" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Floor" type="xsdLocal1:string3"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Governorate" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PostalCode" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="StreetAddress" type="xsdLocal1:string200"/>
                </xsd:sequence>
                <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="ListOfOrganization_CBiO2ContactInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Organization_CBiO2ContactInformation" type="xsdLocal1:Organization_CBiO2ContactInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Organization_CBiO2ContactInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContactEmailAddress" type="xsdLocal1:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContactFirstName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContactLastName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContactType" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContactWorkPhone" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
            </xsd:complexType>
            <xsd:simpleType name="string3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string250">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="250"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </types>
    <message name="queryShopInfo_Input">
        <part element="tns:queryShopInfo_Input" name="queryShopInfo_Input"/>
    </message>
    <message name="queryShopInfo_Output">
        <part element="tns:queryShopInfo_Output" name="queryShopInfo_Output"/>
    </message>
    <portType name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow">
        <operation name="queryShopInfo">
            <input message="tns:queryShopInfo_Input"/>
            <output message="tns:queryShopInfo_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow" type="tns:CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="queryShopInfo">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:queryShopInfo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow">
        <port binding="tns:CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow" name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow">
            <soap:address location="http://10.96.11.37:7070/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>