src/CommonProject/BusinessWSDLS/Services/CRM/AutoPayRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:element  name="AutoPayRegistration_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="PaymentType"  type="xsd:string" />
						<xsd:element  name="Comments"  type="xsd:string" />
						<xsd:element  name="ChequeNumber"  type="xsd:string" />
						<xsd:element  name="CardType"  type="xsd:string" />
						<xsd:element  name="ThresholdAmount"  type="xsd:string" />
						<xsd:element  name="MonthlyLimit"  type="xsd:string" />
						<xsd:element  name="CardHolderName"  type="xsd:string" />
						<xsd:element  name="AutoPayStatus"  type="xsd:string" />
						<xsd:element  name="ProfileId"  type="xsd:string" />
						<xsd:element  name="AmountCharged"  type="xsd:string" />
						<xsd:element  name="MSISDN"  type="xsd:string" />
						<xsd:element  name="CreditCardNum"  type="xsd:string" />
						<xsd:element  name="ExpiryYear"  type="xsd:string" />
						<xsd:element  name="BankName"  type="xsd:string" />
						<xsd:element  name="ExpiryMonth"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="AutoPayRegistration_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="AutoPayRegId"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  name="OrderNumber"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
	</types >
	<message  name="AutoPayRegistration_Input" >
		<part  name="AutoPayRegistration_Input"  element="tns:AutoPayRegistration_Input" />
	</message >
	<message  name="AutoPayRegistration_Output" >
		<part  name="AutoPayRegistration_Output"  element="tns:AutoPayRegistration_Output" />
	</message >
	<portType  name="CBiO2_spcAutoPay_spcRegistration_spcWorkflow" >
		<operation  name="AutoPayRegistration" >
			<input  message="tns:AutoPayRegistration_Input" />
			<output  message="tns:AutoPayRegistration_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcAutoPay_spcRegistration_spcWorkflow"  type="tns:CBiO2_spcAutoPay_spcRegistration_spcWorkflow" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="AutoPayRegistration" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:AutoPayRegistration" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2AutoPayRegistration" >
		<port  binding="tns:CBiO2_spcAutoPay_spcRegistration_spcWorkflow"  name="CBiO2_spcAutoPay_spcRegistration_spcWorkflow" >
			<soap:address  location="http://10.96.108.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >