src/CommonProject/BusinessWSDLS/Services/CRM/AutoPaySalesTransaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="AutoPayTransaction_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ServiceCode" type="xsd:string"/>
                        <xsd:element name="CardType" type="xsd:string"/>
                        <xsd:element name="transactionDate" type="xsd:string"/>
                        <xsd:element name="MerchantId" type="xsd:string"/>
                        <xsd:element name="AuthorizationStatus" type="xsd:string"/>
                        <xsd:element name="TerminalId" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="ReceiptNumber" type="xsd:string"/>
                        <xsd:element name="PaymentMode" type="xsd:string"/>
                        <xsd:element name="Channel" type="xsd:string"/>
                        <xsd:element name="TransactionReference" type="xsd:string"/>
                        <xsd:element name="AcquirerResponseCode" type="xsd:string"/>
                        <xsd:element name="TransactionAmount" type="xsd:string"/>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="CRMTransactionRef" type="xsd:string"/>
                        <xsd:element name="ShoppingTransactionReference" type="xsd:string"/>
                        <xsd:element name="Description" type="xsd:string"/>
                        <xsd:element name="AuthorizationID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AutoPayTransaction_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CRMTransactionRef" type="xsd:string"/>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="TransactionRef" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="AutoPayTransaction_Input">
        <part element="tns:AutoPayTransaction_Input" name="AutoPayTransaction_Input"/>
    </message>
    <message name="AutoPayTransaction_Output">
        <part element="tns:AutoPayTransaction_Output" name="AutoPayTransaction_Output"/>
    </message>
    <portType name="CBiO2_spcAutoPay_spcSales_spcTransaction_spcWorkflow">
        <operation name="AutoPayTransaction">
            <input message="tns:AutoPayTransaction_Input"/>
            <output message="tns:AutoPayTransaction_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcAutoPay_spcSales_spcTransaction_spcWorkflow" type="tns:CBiO2_spcAutoPay_spcSales_spcTransaction_spcWorkflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AutoPayTransaction">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:AutoPayTransaction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AutoPaySalesTransaction">
        <port binding="tns:CBiO2_spcAutoPay_spcSales_spcTransaction_spcWorkflow" name="CBiO2_spcAutoPay_spcSales_spcTransaction_spcWorkflow">
            <soap:address location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>