src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2ExternalMultiOrderProvisoningWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/RAFActionList" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/RAFActionList"/>
            <xsd:element name="CreateMultipleOrder_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ServiceLineType" type="xsd:string"/>
                        <xsd:element name="ServiceCommitment" type="xsd:string"/>
                        <xsd:element name="ProductId" type="xsd:string"/>
                        <xsd:element name="Channel" type="xsd:string"/>
                        <xsd:element name="PromotionId" type="xsd:string"/>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="SubscriberNumber" type="xsd:string"/>
                        <xsd:element name="SkipCommitmentCarryover" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfServiceDetails"/>
                        <xsd:element name="TransactionId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateMultipleOrder_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="OrderNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/RAFActionList" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/RAFActionList">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfServiceDetails" type="xsdLocal1:ListOfServiceDetails"/>
            <xsd:complexType name="ListOfServiceDetailsTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfServiceDetails" type="xsdLocal1:ListOfServiceDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfServiceDetails">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="RAFActions" type="xsdLocal1:RAFActions"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RAFActions">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LineType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Operation" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryDevice" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentProduct" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AttributeName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AttributeValue" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BundleId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="InstallmentPeriod" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CreateMultipleOrder_Input">
        <part element="tns:CreateMultipleOrder_Input" name="CreateMultipleOrder_Input"/>
    </message>
    <message name="CreateMultipleOrder_Output">
        <part element="tns:CreateMultipleOrder_Output" name="CreateMultipleOrder_Output"/>
    </message>
    <portType name="CBiO2_spcExternal_spcMultiOrder_spcProvisoning_spcWF">
        <operation name="CreateMultipleOrder">
            <input message="tns:CreateMultipleOrder_Input"/>
            <output message="tns:CreateMultipleOrder_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcExternal_spcMultiOrder_spcProvisoning_spcWF" type="tns:CBiO2_spcExternal_spcMultiOrder_spcProvisoning_spcWF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateMultipleOrder">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CreateMultipleOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2ExternalMultiOrderProvisoningWS">
        <port binding="tns:CBiO2_spcExternal_spcMultiOrder_spcProvisoning_spcWF" name="CBiO2_spcExternal_spcMultiOrder_spcProvisoning_spcWF">
            <soap:address location="http://10.96.108.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>