src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2TremblantSusResOrderCreationFromExtChannelWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="NewSusResRequest_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="SecEID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SecIMSI"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderReason"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PromotionId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SecICCID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReasonCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderSubType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderDate"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Dunning_spcStatus"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Source"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryMSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryIMSI"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryICCID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Operation"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContractId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="NewSusResRequest_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderStatus"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="NewSusResRequest_Input"
><part
 name="NewSusResRequest_Input"
 element="tns:NewSusResRequest_Input"
></part
></message
><message
 name="NewSusResRequest_Output"
><part
 name="NewSusResRequest_Output"
 element="tns:NewSusResRequest_Output"
></part
></message
><portType
 name="CBiO2_spcTremblant_spcSus_slhRes_spcOrder_spcCreation_spcFrom_spcExt_spcChannel_spcWF"
><operation
 name="NewSusResRequest"
><input
 message="tns:NewSusResRequest_Input"
></input
><output
 message="tns:NewSusResRequest_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcTremblant_spcSus_slhRes_spcOrder_spcCreation_spcFrom_spcExt_spcChannel_spcWF"
 type="tns:CBiO2_spcTremblant_spcSus_slhRes_spcOrder_spcCreation_spcFrom_spcExt_spcChannel_spcWF"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="NewSusResRequest"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:NewSusResRequest"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2TremblantSusResOrderCreationFromExtChannelWS"
><port
 binding="tns:CBiO2_spcTremblant_spcSus_slhRes_spcOrder_spcCreation_spcFrom_spcExt_spcChannel_spcWF"
 name="CBiO2_spcTremblant_spcSus_slhRes_spcOrder_spcCreation_spcFrom_spcExt_spcChannel_spcWF"
><soap:address
 location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>