src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2UpdateBillingProfileWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2UpdateBillingProfileRequest"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2UpdateBillingProfileRequest"
></xsd:import
><xsd:element
 name="UpdateBillingProfileRequest_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="SalesChannel"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreatedBy"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:Customer"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="UpdateBillingProfileRequest_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="AddressSequenceID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerSequenceNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2UpdateBillingProfileRequest"
 targetNamespace="http://www.siebel.com/xml/CBiO2UpdateBillingProfileRequest"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="Customer"
 type="xsdLocal1:Customer"
></xsd:element
><xsd:complexType
 name="CustomerTopElmt"
><xsd:sequence
><xsd:element
 name="Customer"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:Customer"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Customer"
><xsd:sequence
><xsd:element
 name="CustomerSequenceNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerRowID"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingProfile"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:BillingProfile"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="BillingProfile"
><xsd:sequence
><xsd:element
 name="BillingBSCSID"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="InvoiceFormat"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MediaType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillSMSNotification"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NotificationSubNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Mail"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AddressSequenceID"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="UpdateBillingProfileRequest_Input"
><part
 name="UpdateBillingProfileRequest_Input"
 element="tns:UpdateBillingProfileRequest_Input"
></part
></message
><message
 name="UpdateBillingProfileRequest_Output"
><part
 name="UpdateBillingProfileRequest_Output"
 element="tns:UpdateBillingProfileRequest_Output"
></part
></message
><portType
 name="CBiO2_spcUpdate_spcCorp_spcBP_spcInterface_spcWFP"
><operation
 name="UpdateBillingProfileRequest"
><input
 message="tns:UpdateBillingProfileRequest_Input"
></input
><output
 message="tns:UpdateBillingProfileRequest_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcUpdate_spcCorp_spcBP_spcInterface_spcWFP"
 type="tns:CBiO2_spcUpdate_spcCorp_spcBP_spcInterface_spcWFP"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="UpdateBillingProfileRequest"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:UpdateBillingProfileRequest"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2UpdateBillingProfileWS"
><port
 binding="tns:CBiO2_spcUpdate_spcCorp_spcBP_spcInterface_spcWFP"
 name="CBiO2_spcUpdate_spcCorp_spcBP_spcInterface_spcWFP"
><soap:address
 location="http://&lt;webserver&gt;/eai_anon_&lt;lang&gt;/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>