src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2ExternalCorporateLOAdjustmentCreationProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="CreditAdjustment_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TransactionRefNum" type="xsd:string"/>
                        <xsd:element name="InvoiceId" type="xsd:string"/>
                        <xsd:element name="VoucherNumber" type="xsd:string"/>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="Operation" type="xsd:string"/>
                        <xsd:element name="InvoiceOpenAmount" type="xsd:string"/>
                        <xsd:element name="AdjustmentAmount" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreditAdjustment_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="ReceiptNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CreditAdjustment_Input">
        <part element="tns:CreditAdjustment_Input" name="CreditAdjustment_Input"/>
    </message>
    <message name="CreditAdjustment_Output">
        <part element="tns:CreditAdjustment_Output" name="CreditAdjustment_Output"/>
    </message>
    <portType name="CBiO2_spcExternal_spcCorporate_spcLO_spcAdjustment_spcCreation_spcProcess">
        <operation name="CreditAdjustment">
            <input message="tns:CreditAdjustment_Input"/>
            <output message="tns:CreditAdjustment_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcExternal_spcCorporate_spcLO_spcAdjustment_spcCreation_spcProcess" type="tns:CBiO2_spcExternal_spcCorporate_spcLO_spcAdjustment_spcCreation_spcProcess">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreditAdjustment">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CreditAdjustment"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcExternal_spcCorporate_spcLO_spcAdjustment_spcCreation_spcProcess">
        <port binding="tns:CBiO2_spcExternal_spcCorporate_spcLO_spcAdjustment_spcCreation_spcProcess" name="CBiO2_spcExternal_spcCorporate_spcLO_spcAdjustment_spcCreation_spcProcess">
            <soap:address location="http://&lt;webserver>/eai_anon_&lt;lang>/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>