src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2GiftingService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Internal%20Product%20IO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2%20Internal%20Product%20IO"
></xsd:import
><xsd:element
 name="QueryServiceGifting_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="OperationType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="QueryServiceGifting_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfCbio2InternalProductIo"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Internal%20Product%20IO"
 targetNamespace="http://www.siebel.com/xml/CBiO2%20Internal%20Product%20IO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2InternalProductIo"
 type="xsdLocal1:ListOfCbio2InternalProductIo"
></xsd:element
><xsd:complexType
 name="ListOfCbio2InternalProductIoTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2InternalProductIo"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2InternalProductIo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2InternalProductIo"
><xsd:sequence
><xsd:element
 name="InternalProduct-IssAdmin"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:InternalProduct-IssAdmin"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="InternalProduct-IssAdmin"
><xsd:sequence
><xsd:element
 name="SiebelProdId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2DataGifting"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2OfferType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ProductType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2SubType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ECMId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListPrice"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UnitofMeasure"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GiftVolume"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GiftReceiverType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GiftUOM"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="QueryServiceGifting_Input"
><part
 name="QueryServiceGifting_Input"
 element="tns:QueryServiceGifting_Input"
></part
></message
><message
 name="QueryServiceGifting_Output"
><part
 name="QueryServiceGifting_Output"
 element="tns:QueryServiceGifting_Output"
></part
></message
><portType
 name="ServiceGifting"
><operation
 name="QueryServiceGifting"
><input
 message="tns:QueryServiceGifting_Input"
></input
><output
 message="tns:QueryServiceGifting_Output"
></output
></operation
></portType
><binding
 name="ServiceGifting"
 type="tns:ServiceGifting"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="QueryServiceGifting"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:QueryServiceGifting"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcGifting_spcService"
><port
 binding="tns:ServiceGifting"
 name="ServiceGifting"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>