src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2AsyncExternalOrderProvisioning.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/ListQuery"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/ListQuery"
></xsd:import
><xsd:element
 name="AsyncExternalOrder_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="NewMSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BillingType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewSIMSerialNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DNId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewMSISDNCategory"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderReason"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewBillingAccount"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BasicServiceType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Requester"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShopId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewSIMType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Date"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SIMItemCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewICCId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderSubType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderDate"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewPUK2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewPUK1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewKI"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Username"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReservedFlag"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDNCategory"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerId"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ProductLists"
></xsd:element
><xsd:element
 name="NewPIN2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewIMSI"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewCustomerAccount"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CancelReason"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Charged"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NewPIN1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContractId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="AsyncExternalOrder_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderNumber"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/ListQuery"
 targetNamespace="http://www.siebel.com/xml/ListQuery"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ProductLists"
 type="xsdLocal1:ProductLists"
></xsd:element
><xsd:complexType
 name="ProductListsTopElmt"
><xsd:sequence
><xsd:element
 name="ProductLists"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ProductLists"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ProductLists"
><xsd:sequence
><xsd:element
 name="Products"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Products"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Products"
><xsd:sequence
><xsd:element
 name="ProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Operation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GiftReceiverMSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="GiftRemarks"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="AsyncExternalOrder_Input"
><part
 name="AsyncExternalOrder_Input"
 element="tns:AsyncExternalOrder_Input"
></part
></message
><message
 name="AsyncExternalOrder_Output"
><part
 name="AsyncExternalOrder_Output"
 element="tns:AsyncExternalOrder_Output"
></part
></message
><portType
 name="CBiO2_spcAsync_spcExternal_spcOrder_spcProvisioning_spcWF"
><operation
 name="AsyncExternalOrder"
><input
 message="tns:AsyncExternalOrder_Input"
></input
><output
 message="tns:AsyncExternalOrder_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcAsync_spcExternal_spcOrder_spcProvisioning_spcWF"
 type="tns:CBiO2_spcAsync_spcExternal_spcOrder_spcProvisioning_spcWF"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="AsyncExternalOrder"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:AsyncExternalOrder"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2AsyncExternalOrderProvisioning"
><port
 binding="tns:CBiO2_spcAsync_spcExternal_spcOrder_spcProvisioning_spcWF"
 name="CBiO2_spcAsync_spcExternal_spcOrder_spcProvisioning_spcWF"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>