src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2 Port In NP Donor Accept.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="PortInNPDonorAccept_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="NPOrderID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AutomaticAccept"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SenderID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MessageID"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="PortInNPDonorAccept_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="NPOrderID"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="PortInNPDonorAccept_Input"
><part
 name="PortInNPDonorAccept_Input"
 element="tns:PortInNPDonorAccept_Input"
></part
></message
><message
 name="PortInNPDonorAccept_Output"
><part
 name="PortInNPDonorAccept_Output"
 element="tns:PortInNPDonorAccept_Output"
></part
></message
><portType
 name="PortInNPDonorAccept"
><operation
 name="PortInNPDonorAccept"
><input
 message="tns:PortInNPDonorAccept_Input"
></input
><output
 message="tns:PortInNPDonorAccept_Output"
></output
></operation
></portType
><binding
 name="PortInNPDonorAccept"
 type="tns:PortInNPDonorAccept"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="PortInNPDonorAccept"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:PortInNPDonorAccept"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcPort_spcIn_spcNP_spcDonor_spcAccept"
><port
 binding="tns:PortInNPDonorAccept"
 name="PortInNPDonorAccept"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>