src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2DisconnectReconnectDistributorWS.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:element  name="CBiO2DisconnectReconnectDistributor_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="DistributorCode"  type="xsd:string" />
						<xsd:element  name="Operation"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="CBiO2DisconnectReconnectDistributor_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorStep"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
	</types >
	<message  name="CBiO2DisconnectReconnectDistributor_Input" >
		<part  name="CBiO2DisconnectReconnectDistributor_Input"  element="tns:CBiO2DisconnectReconnectDistributor_Input" />
	</message >
	<message  name="CBiO2DisconnectReconnectDistributor_Output" >
		<part  name="CBiO2DisconnectReconnectDistributor_Output"  element="tns:CBiO2DisconnectReconnectDistributor_Output" />
	</message >
	<portType  name="CBiO2_spcDisconnect_slhReconnect_spcDistributer_spcWF" >
		<operation  name="CBiO2DisconnectReconnectDistributor" >
			<input  message="tns:CBiO2DisconnectReconnectDistributor_Input" />
			<output  message="tns:CBiO2DisconnectReconnectDistributor_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcDisconnect_slhReconnect_spcDistributer_spcWF"  type="tns:CBiO2_spcDisconnect_slhReconnect_spcDistributer_spcWF" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="CBiO2DisconnectReconnectDistributor" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:CBiO2DisconnectReconnectDistributor" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2DisconnectReconnectDistributorWS" >
		<port  binding="tns:CBiO2_spcDisconnect_slhReconnect_spcDistributer_spcWF"  name="CBiO2_spcDisconnect_slhReconnect_spcDistributer_spcWF" >
			<soap:address  location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >