src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2CorporateAssociateSAMWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="ModifySAM_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Requestor"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Customer_spcRow_spcID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Source_spcName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Customer_spcSequence_spcNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Identifier"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SAM_spcUser_spcId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="ModifySAM_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Customer_spcSequence_spcNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SAM_spcUser_spcId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="ModifySAM_Input"
><part
 name="ModifySAM_Input"
 element="tns:ModifySAM_Input"
></part
></message
><message
 name="ModifySAM_Output"
><part
 name="ModifySAM_Output"
 element="tns:ModifySAM_Output"
></part
></message
><portType
 name="ModifySAM"
><operation
 name="ModifySAM"
><input
 message="tns:ModifySAM_Input"
></input
><output
 message="tns:ModifySAM_Output"
></output
></operation
></portType
><binding
 name="ModifySAM"
 type="tns:ModifySAM"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="ModifySAM"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:ModifySAM"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2CorporateAssociateSAMWS"
><port
 binding="tns:ModifySAM"
 name="ModifySAM"
><soap:address
 location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>