src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2PostpaidAutoPayRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:element  name="CBiO2PostpaidAutoPayRegistration_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="PaymentMethod"  type="xsd:string" />
						<xsd:element  name="CardType"  type="xsd:string" />
						<xsd:element  name="BankId"  type="xsd:string" />
						<xsd:element  name="BankGroup"  type="xsd:string" />
						<xsd:element  name="CCNum"  type="xsd:string" />
						<xsd:element  name="Status"  type="xsd:string" />
						<xsd:element  name="CardName"  type="xsd:string" />
						<xsd:element  name="MSISDN"  type="xsd:string" />
						<xsd:element  name="ExpYear"  type="xsd:string" />
						<xsd:element  name="ExpMonth"  type="xsd:string" />
						<xsd:element  name="CustomerId"  type="xsd:string" />
						<xsd:element  name="CVV"  type="xsd:string" />
						<xsd:element  name="BankDescription"  type="xsd:string" />
						<xsd:element  name="BankName"  type="xsd:string" />
						<xsd:element  name="CCHolderName"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="CBiO2PostpaidAutoPayRegistration_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="AutoPayRegId"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
	</types >
	<message  name="CBiO2PostpaidAutoPayRegistration_Input" >
		<part  name="CBiO2PostpaidAutoPayRegistration_Input"  element="tns:CBiO2PostpaidAutoPayRegistration_Input" />
	</message >
	<message  name="CBiO2PostpaidAutoPayRegistration_Output" >
		<part  name="CBiO2PostpaidAutoPayRegistration_Output"  element="tns:CBiO2PostpaidAutoPayRegistration_Output" />
	</message >
	<portType  name="CBiO2AutoPayPostpaidReg" >
		<operation  name="CBiO2PostpaidAutoPayRegistration" >
			<input  message="tns:CBiO2PostpaidAutoPayRegistration_Input" />
			<output  message="tns:CBiO2PostpaidAutoPayRegistration_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2AutoPayPostpaidReg"  type="tns:CBiO2AutoPayPostpaidReg" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="CBiO2PostpaidAutoPayRegistration" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:CBiO2PostpaidAutoPayRegistration" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2PostpaidAutoPayRegistration" >
		<port  binding="tns:CBiO2AutoPayPostpaidReg"  name="CBiO2AutoPayPostpaidReg" >
			<soap:address  location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >