src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2 Port In NP Emergency Restore Deny Flow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="NPEmergencyRestoreDeny_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="NPRejectMessage" type="xsd:string"/>
                        <xsd:element name="NPRejectReason" type="xsd:string"/>
                        <xsd:element name="NPOrderID" type="xsd:string"/>
                        <xsd:element name="SenderID" type="xsd:string"/>
                        <xsd:element name="MessageID" type="xsd:string"/>
                        <xsd:element name="EmergencyRestoreID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="NPEmergencyRestoreDeny_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="NPOrderID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="NPEmergencyRestoreDeny_Input">
        <part element="tns:NPEmergencyRestoreDeny_Input" name="NPEmergencyRestoreDeny_Input"/>
    </message>
    <message name="NPEmergencyRestoreDeny_Output">
        <part element="tns:NPEmergencyRestoreDeny_Output" name="NPEmergencyRestoreDeny_Output"/>
    </message>
    <portType name="NPEmergencyRestoreDeny">
        <operation name="NPEmergencyRestoreDeny">
            <input message="tns:NPEmergencyRestoreDeny_Input"/>
            <output message="tns:NPEmergencyRestoreDeny_Output"/>
        </operation>
    </portType>
    <binding name="NPEmergencyRestoreDeny" type="tns:NPEmergencyRestoreDeny">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NPEmergencyRestoreDeny">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:NPEmergencyRestoreDeny"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcPort_spcIn_spcNP_spcEmergency_spcRestore_spcDeny_spcFlow">
        <port binding="tns:NPEmergencyRestoreDeny" name="NPEmergencyRestoreDeny">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>