src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2GetECMID.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="GetECMId_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProductId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetECMId_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ECMId" type="xsd:string"/>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="GetECMId_Input">
        <part element="tns:GetECMId_Input" name="GetECMId_Input"/>
    </message>
    <message name="GetECMId_Output">
        <part element="tns:GetECMId_Output" name="GetECMId_Output"/>
    </message>
    <portType name="GetECMId">
        <operation name="GetECMId">
            <input message="tns:GetECMId_Input"/>
            <output message="tns:GetECMId_Output"/>
        </operation>
    </portType>
    <binding name="GetECMId" type="tns:GetECMId">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetECMId">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:GetECMId"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2GetECMID">
        <port binding="tns:GetECMId" name="GetECMId">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>