src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2RingFenceApproveWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2RingFenceIO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2RingFenceIO"
></xsd:import
><xsd:element
 name="CBiO2RingFenceApprove_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CustomerName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerIDType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NPOrderID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="messageID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfCbio2ringfenceio"
></xsd:element
><xsd:element
 name="RingFenceStartDate"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DOB"
 type="xsd:string"
></xsd:element
><xsd:element
 name="senderID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerIDNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RingFenceEndDate"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CBiO2RingFenceApprove_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorStep"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NPOrderID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SRNumber"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2RingFenceIO"
 targetNamespace="http://www.siebel.com/xml/CBiO2RingFenceIO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2ringfenceio"
 type="xsdLocal1:ListOfCbio2ringfenceio"
></xsd:element
><xsd:complexType
 name="ListOfCbio2ringfenceioTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2ringfenceio"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2ringfenceio"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2ringfenceio"
><xsd:sequence
><xsd:element
 name="ServiceRequest"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ServiceRequest"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ServiceRequest"
><xsd:sequence
><xsd:element
 name="CBiO2ExternalStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ServiceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2SubscriptionType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfCbio2Mnp"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfCbio2Mnp"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2Mnp"
><xsd:sequence
><xsd:element
 name="Cbio2Mnp"
 maxOccurs="unbounded"
 minOccurs="1"
 type="xsdLocal1:Cbio2Mnp"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Cbio2Mnp"
><xsd:sequence
><xsd:element
 name="CBiO2ExternalStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2MSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="CBiO2RingFenceApprove_Input"
><part
 name="CBiO2RingFenceApprove_Input"
 element="tns:CBiO2RingFenceApprove_Input"
></part
></message
><message
 name="CBiO2RingFenceApprove_Output"
><part
 name="CBiO2RingFenceApprove_Output"
 element="tns:CBiO2RingFenceApprove_Output"
></part
></message
><portType
 name="CBiO2_spcRing_spcFence_spcApprove_spcRequest"
><operation
 name="CBiO2RingFenceApprove"
><input
 message="tns:CBiO2RingFenceApprove_Input"
></input
><output
 message="tns:CBiO2RingFenceApprove_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcRing_spcFence_spcApprove_spcRequest"
 type="tns:CBiO2_spcRing_spcFence_spcApprove_spcRequest"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CBiO2RingFenceApprove"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CBiO2RingFenceApprove"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2RingFenceApproveWS"
><port
 binding="tns:CBiO2_spcRing_spcFence_spcApprove_spcRequest"
 name="CBiO2_spcRing_spcFence_spcApprove_spcRequest"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>