src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2HideBalanceUpdateWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="CBiO2HideBalanceUpdateWS_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="HIDE_BLNC_FLG" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2HideBalanceUpdateWS_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CBiO2HideBalanceUpdateWS_Input">
        <part name="CBiO2HideBalanceUpdateWS_Input" element="tns:CBiO2HideBalanceUpdateWS_Input"/>
    </message>
    <message name="CBiO2HideBalanceUpdateWS_Output">
        <part name="CBiO2HideBalanceUpdateWS_Output" element="tns:CBiO2HideBalanceUpdateWS_Output"/>
    </message>
    <portType name="CBiO2_spcHide_spcBalance_spcUpdate_spcWS">
        <operation name="CBiO2HideBalanceUpdateWS">
            <input message="tns:CBiO2HideBalanceUpdateWS_Input"/>
            <output message="tns:CBiO2HideBalanceUpdateWS_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcHide_spcBalance_spcUpdate_spcWS" type="tns:CBiO2_spcHide_spcBalance_spcUpdate_spcWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CBiO2HideBalanceUpdateWS">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2HideBalanceUpdateWS"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcHide_spcBalance_spcUpdate_spcWS">
        <port binding="tns:CBiO2_spcHide_spcBalance_spcUpdate_spcWS" name="CBiO2_spcHide_spcBalance_spcUpdate_spcWS">
            <soap:address location="http://10.103.23.68:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>