src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2TradeInVoucher.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VoucherStatus" type="xsd:string"/>
                        <xsd:element name="VoucherAmount" type="xsd:string"/>
                        <xsd:element name="SubscriberNum" type="xsd:string"/>
                        <xsd:element name="PartNum" type="xsd:string"/>
                        <xsd:element name="IMEINum" type="xsd:string"/>
                        <xsd:element name="VoucherDate" type="xsd:string"/>
                        <xsd:element name="DeviceCondn" type="xsd:string"/>
                        <xsd:element name="Username" type="xsd:string"/>
                        <xsd:element name="VoucherNum" type="xsd:string"/>
                        <xsd:element name="VoucherExpiryDate" type="xsd:string"/>
                        <xsd:element name="Operation" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Input">
        <part name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Input" element="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Input"/>
    </message>
    <message name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Output">
        <part name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Output" element="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Output"/>
    </message>
    <portType name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcprocess_spcFlow">
        <operation name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess">
            <input message="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Input"/>
            <output message="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcprocess_spcFlow" type="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcprocess_spcFlow">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcProcess"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcprocess_spcFlow">
        <port binding="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcprocess_spcFlow" name="CBiO2_spcTrade_spcIn_spcVoucher_spcCUD_spcprocess_spcFlow">
            <soap:address location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>