src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2_AutopayExecution.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2AutoPayRegistration"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2AutoPayRegistration"
></xsd:import
><xsd:element
 name="AutoPayExecution_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="OperationType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="AutoPayExecution_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfCbio2autopayregistration"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2AutoPayRegistration"
 targetNamespace="http://www.siebel.com/xml/CBiO2AutoPayRegistration"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2autopayregistration"
 type="xsdLocal1:ListOfCbio2autopayregistration"
></xsd:element
><xsd:complexType
 name="ListOfCbio2autopayregistrationTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2autopayregistration"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2autopayregistration"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2autopayregistration"
><xsd:sequence
><xsd:element
 name="Cbio2AutoPay"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Cbio2AutoPay"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Cbio2AutoPay"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2AmountCharged"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2BankName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="CBiO2CVV"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string10"
></xsd:element
><xsd:element
 name="CBiO2CardHolderName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="CBiO2CardType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2Comments"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string250"
></xsd:element
><xsd:element
 name="CBiO2CreditCardNum"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string500"
></xsd:element
><xsd:element
 name="CBiO2ExpiryMonth"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ExpiryYear"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2LastRechargeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2MSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2MonthlyLimit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2PaymentType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2RegisterDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2RegisterEndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2SubscriberNo"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string10"
></xsd:element
><xsd:element
 name="CBiO2ThresholdAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ChequeNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ProfileId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string500"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="500"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string250"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="250"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string10"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="10"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string100"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="100"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="AutoPayExecution_Input"
><part
 name="AutoPayExecution_Input"
 element="tns:AutoPayExecution_Input"
></part
></message
><message
 name="AutoPayExecution_Output"
><part
 name="AutoPayExecution_Output"
 element="tns:AutoPayExecution_Output"
></part
></message
><portType
 name="CBiO2_spcAuto_spcPay_spcValidation_spcWorkflow"
><operation
 name="AutoPayExecution"
><input
 message="tns:AutoPayExecution_Input"
></input
><output
 message="tns:AutoPayExecution_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcAuto_spcPay_spcValidation_spcWorkflow"
 type="tns:CBiO2_spcAuto_spcPay_spcValidation_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="AutoPayExecution"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:AutoPayExecution"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2AutoPayExecution"
><port
 binding="tns:CBiO2_spcAuto_spcPay_spcValidation_spcWorkflow"
 name="CBiO2_spcAuto_spcPay_spcValidation_spcWorkflow"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>