src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2SalesTransactionReceiptsWS.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/Order%20Entry%20(Sales)" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/Order%20Entry%20(Sales)"/>
            <xsd:element name="GetReceipts_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ToDate" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="CustomerId" type="xsd:string"/>
                        <xsd:element name="FromDate" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetReceipts_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfSalesTransaction"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/Order%20Entry%20(Sales)" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/Order%20Entry%20(Sales)">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfSalesTransaction" type="xsdLocal1:ListOfSalesTransaction"/>
            <xsd:complexType name="ListOfSalesTransactionTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfSalesTransaction" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfSalesTransaction"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfSalesTransaction">
                <xsd:sequence>
                    <xsd:element name="OrderEntry-Orders" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:OrderEntry-Orders"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-Orders">
                <xsd:sequence>
                    <xsd:element name="LocationId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SalesChannel" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SalesTransactionType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ShopId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SubmittedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SiebelTransactionId" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="Status" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="TransactionRef" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CustomerId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2MSISDN" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="UserName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Requestor" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="listOforderEntry-LineItems" maxOccurs="1" minOccurs="0" type="xsdLocal1:listOforderEntry-LineItems"/>
                    <xsd:element name="listOfpayments" maxOccurs="1" minOccurs="0" type="xsdLocal1:listOfpayments"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOforderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element name="OrderEntry-LineItems" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:OrderEntry-LineItems"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element name="LineItemId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Product" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ProductId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Quantity" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="SerialNum" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Status" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfpayments">
                <xsd:sequence>
                    <xsd:element name="Payments" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Payments"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Payments">
                <xsd:sequence>
                    <xsd:element name="CardHolder" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Remarks" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ExpirationMonth" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ExpirationYear" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="IssuingBankName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Payment" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PaymentDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PaymentMethod" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="PaymentStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CardType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="TransactionAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="TransactionTime" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="TransactionType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SiebelReceiptNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PaymentRef" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CreditCardNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="MerchantID" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PaymentDateTime" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="TerminalId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="AcquirerResponseCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="AuthorizationID" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="AuthorizationStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="OrderInfo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ReceiptNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SettlmentDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ShoppingTransactionReference" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="TransactionReference" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="GetReceipts_Input">
        <part name="GetReceipts_Input" element="tns:GetReceipts_Input"/>
    </message>
    <message name="GetReceipts_Output">
        <part name="GetReceipts_Output" element="tns:GetReceipts_Output"/>
    </message>
    <portType name="SalesTransactionReceipts">
        <operation name="GetReceipts">
            <input message="tns:GetReceipts_Input"/>
            <output message="tns:GetReceipts_Output"/>
        </operation>
    </portType>
    <binding name="SalesTransactionReceipts" type="tns:SalesTransactionReceipts">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetReceipts">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:GetReceipts"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2SalesTransactionReceiptsWS">
        <port binding="tns:SalesTransactionReceipts" name="SalesTransactionReceipts">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>