src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2SalesTransactionWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/Order%20Entry%20(Sales)"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/Order%20Entry%20(Sales)"
></xsd:import
><xsd:element
 name="salesTransactionPayment_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Requestor"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentMethod"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CardType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MerchantId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ItemCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AuthorizationStatus"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TerminalId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderInfo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IssuingBank"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CardHolderName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AuthorizationId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionReference"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShopId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SettlementDate"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MerchantRecieptNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CCExpirationYear"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CCExpirationMonth"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AreaCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreditCardNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UserName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Amount"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentRefNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShoppingTransactionReference"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SerialNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AcquireResponseCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Denomination"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionRefNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Quantity"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContractId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="salesTransactionPayment_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfSalesTransaction"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/Order%20Entry%20(Sales)"
 targetNamespace="http://www.siebel.com/xml/Order%20Entry%20(Sales)"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSalesTransaction"
 type="xsdLocal1:ListOfSalesTransaction"
></xsd:element
><xsd:complexType
 name="ListOfSalesTransactionTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSalesTransaction"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfSalesTransaction"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSalesTransaction"
><xsd:sequence
><xsd:element
 name="OrderEntry-Orders"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:OrderEntry-Orders"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="OrderEntry-Orders"
><xsd:sequence
><xsd:element
 name="LocationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SalesChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SalesTransactionType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShopId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SubmittedDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SiebelTransactionId"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionRef"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2MSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UserName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Requestor"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="listOforderEntry-LineItems"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:listOforderEntry-LineItems"
></xsd:element
><xsd:element
 name="listOfpayments"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:listOfpayments"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="listOforderEntry-LineItems"
><xsd:sequence
><xsd:element
 name="OrderEntry-LineItems"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:OrderEntry-LineItems"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="OrderEntry-LineItems"
><xsd:sequence
><xsd:element
 name="LineItemId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Product"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Quantity"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SerialNum"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="listOfpayments"
><xsd:sequence
><xsd:element
 name="Payments"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Payments"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Payments"
><xsd:sequence
><xsd:element
 name="CardHolder"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExpirationMonth"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ExpirationYear"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IssuingBankName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Payment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentMethod"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CardType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SiebelReceiptNo"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentRef"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreditCardNo"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MerchantID"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentDateTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TerminalId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AcquirerResponseCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AuthorizationID"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AuthorizationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderInfo"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReceiptNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SettlmentDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShoppingTransactionReference"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionReference"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="salesTransactionPayment_Input"
><part
 name="salesTransactionPayment_Input"
 element="tns:salesTransactionPayment_Input"
></part
></message
><message
 name="salesTransactionPayment_Output"
><part
 name="salesTransactionPayment_Output"
 element="tns:salesTransactionPayment_Output"
></part
></message
><portType
 name="CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
><operation
 name="salesTransactionPayment"
><input
 message="tns:salesTransactionPayment_Input"
></input
><output
 message="tns:salesTransactionPayment_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
 type="tns:CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="salesTransactionPayment"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:salesTransactionPayment"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2SalesTransactionWS"
><port
 binding="tns:CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
 name="CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>