src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2 Apple Watch Suspend-Resume WS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="NickName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransportKey"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UserName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderDate"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryIMSI"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Operation"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderNumber"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Input"
><part
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Input"
 element="tns:CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Input"
></part
></message
><message
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Output"
><part
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Output"
 element="tns:CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Output"
></part
></message
><portType
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
><operation
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
><input
 message="tns:CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Input"
></input
><output
 message="tns:CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
 type="tns:CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
><port
 binding="tns:CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
 name="CBiO2_spcApple_spcWatch_spcSuspend-Resume_spcWS"
><soap:address
 location="http://10.96.80.9:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>