src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2TopUpPayment.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="salesTransactionPayment_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="PaymentMethod"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CardType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MerchantId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ItemCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TerminalId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IssuingBank"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CardHolderName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CCExpirationYear"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CCExpirationMonth"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreditCardNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Amount"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentRefNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SerialNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Denomination"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionRefNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Quantity"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContractId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="salesTransactionPayment_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReceiptNo"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SiebelTransactionId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="salesTransactionPayment_Input"
><part
 name="salesTransactionPayment_Input"
 element="tns:salesTransactionPayment_Input"
></part
></message
><message
 name="salesTransactionPayment_Output"
><part
 name="salesTransactionPayment_Output"
 element="tns:salesTransactionPayment_Output"
></part
></message
><portType
 name="CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
><operation
 name="salesTransactionPayment"
><input
 message="tns:salesTransactionPayment_Input"
></input
><output
 message="tns:salesTransactionPayment_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
 type="tns:CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="salesTransactionPayment"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:salesTransactionPayment"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2TopUpPayment"
><port
 binding="tns:CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
 name="CBiO2_spcTop_spcUp_spcPayment_spcWorkflow"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>