src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2MNPPortInFBNRequestFlow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:element  name="MNPPortInFBN_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="SenderId"  type="xsd:string" />
						<xsd:element  name="NotificationType"  type="xsd:string" />
						<xsd:element  name="NotificationStatus"  type="xsd:string" />
						<xsd:element  name="MessageId"  type="xsd:string" />
						<xsd:element  name="MSISDN"  type="xsd:string" />
						<xsd:element  name="NotificationTime"  type="xsd:string" />
						<xsd:element  name="NPOrderId"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="MNPPortInFBN_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  name="NPOrderId"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
	</types >
	<message  name="MNPPortInFBN_Input" >
		<part  name="MNPPortInFBN_Input"  element="tns:MNPPortInFBN_Input" />
	</message >
	<message  name="MNPPortInFBN_Output" >
		<part  name="MNPPortInFBN_Output"  element="tns:MNPPortInFBN_Output" />
	</message >
	<portType  name="MNPPortInFBN" >
		<operation  name="MNPPortInFBN" >
			<input  message="tns:MNPPortInFBN_Input" />
			<output  message="tns:MNPPortInFBN_Output" />
		</operation >
	</portType >
	<binding  name="MNPPortInFBN"  type="tns:MNPPortInFBN" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="MNPPortInFBN" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:MNPPortInFBN" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2_spcMNP_spcPort_spcIn_spcFBN_spcRequest_spcFlow" >
		<port  binding="tns:MNPPortInFBN"  name="MNPPortInFBN" >
			<soap:address  location="http://10.96.108.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >