src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2MNPErrorNotification.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="CBiO2MNPErrorNotification_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="NPOrderID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="npcdbRejectMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="npcdbRejectReason"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CBiO2MNPErrorNotification_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="CBiO2MNPErrorNotification_Input"
><part
 name="CBiO2MNPErrorNotification_Input"
 element="tns:CBiO2MNPErrorNotification_Input"
></part
></message
><message
 name="CBiO2MNPErrorNotification_Output"
><part
 name="CBiO2MNPErrorNotification_Output"
 element="tns:CBiO2MNPErrorNotification_Output"
></part
></message
><portType
 name="CBiO2_spcMNP_spcError_spcNotification_spcWorkflow"
><operation
 name="CBiO2MNPErrorNotification"
><input
 message="tns:CBiO2MNPErrorNotification_Input"
></input
><output
 message="tns:CBiO2MNPErrorNotification_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcMNP_spcError_spcNotification_spcWorkflow"
 type="tns:CBiO2_spcMNP_spcError_spcNotification_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CBiO2MNPErrorNotification"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CBiO2MNPErrorNotification"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2MNPErrorNotification"
><port
 binding="tns:CBiO2_spcMNP_spcError_spcNotification_spcWorkflow"
 name="CBiO2_spcMNP_spcError_spcNotification_spcWorkflow"
><soap:address
 location="http://10.103.23.115/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>