src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2 Data Sharing Consumer Cap Update Flow.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="ConsumerCap_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MasterMSISDN" type="xsd:string"/>
                        <xsd:element name="OfferID" type="xsd:string"/>
                        <xsd:element name="DependentMSISDN" type="xsd:string"/>
                        <xsd:element name="Threshold" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsumerCap_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="ConsumerCap_Input">
        <part name="ConsumerCap_Input" element="tns:ConsumerCap_Input"/>
    </message>
    <message name="ConsumerCap_Output">
        <part name="ConsumerCap_Output" element="tns:ConsumerCap_Output"/>
    </message>
    <portType name="DataSharing">
        <operation name="ConsumerCap">
            <input message="tns:ConsumerCap_Input"/>
            <output message="tns:ConsumerCap_Output"/>
        </operation>
    </portType>
    <binding name="DataSharing" type="tns:DataSharing">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="ConsumerCap">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:ConsumerCap"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcData_spcSharing_spcConsumer_spcCap_spcUpdate_spcFlow">
        <port binding="tns:DataSharing" name="DataSharing">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>