src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2NewConnectionAppleTremblantExternalOrderWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/RAFActionList" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/RAFActionList"/>
            <xsd:element name="NewAppleTremblantRequest_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VendorCode" type="xsd:string"/>
                        <xsd:element name="SkipPACI" type="xsd:string"/>
                        <xsd:element name="Requestor" type="xsd:string"/>
                        <xsd:element name="PIN1" type="xsd:string"/>
                        <xsd:element name="DNID" type="xsd:string"/>
                        <xsd:element name="SiebelPromotionId" type="xsd:string"/>
                        <xsd:element name="ECMPromotionId" type="xsd:string"/>
                        <xsd:element name="PUK1" type="xsd:string"/>
                        <xsd:element name="IMSI" type="xsd:string"/>
                        <xsd:element name="EID" type="xsd:string"/>
                        <xsd:element name="CommunityId" type="xsd:string"/>
                        <xsd:element name="TransactionReferenceNo" type="xsd:string"/>
                        <xsd:element name="IMEI" type="xsd:string"/>
                        <xsd:element name="OrderReason" type="xsd:string"/>
                        <xsd:element name="SIMType" type="xsd:string"/>
                        <xsd:element name="MSISDNReservedFlag" type="xsd:string"/>
                        <xsd:element name="KI" type="xsd:string"/>
                        <xsd:element name="EquipId" type="xsd:string"/>
                        <xsd:element name="Channel" type="xsd:string"/>
                        <xsd:element name="SIMSerialNo" type="xsd:string"/>
                        <xsd:element name="PUK2" type="xsd:string"/>
                        <xsd:element name="SIMItemCode" type="xsd:string"/>
                        <xsd:element name="PIN2" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="Username" type="xsd:string"/>
                        <xsd:element name="MSISDNReservationId" type="xsd:string"/>
                        <xsd:element name="MSISDNCategory" type="xsd:string"/>
                        <xsd:element name="LineType" type="xsd:string"/>
                        <xsd:element name="CustomerId" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfServiceDetails"/>
                        <xsd:element name="ICCID" type="xsd:string"/>
                        <xsd:element name="Source" type="xsd:string"/>
                        <xsd:element name="PrimaryMSISDN" type="xsd:string"/>
                        <xsd:element name="SIMReservationFlag" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="NewAppleTremblantRequest_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="OrderNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/RAFActionList" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/RAFActionList">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfServiceDetails" type="xsdLocal1:ListOfServiceDetails"/>
            <xsd:complexType name="ListOfServiceDetailsTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfServiceDetails" type="xsdLocal1:ListOfServiceDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfServiceDetails">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="RAFActions" type="xsdLocal1:RAFActions"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RAFActions">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LineType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Operation" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryDevice" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentProduct" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AttributeName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AttributeValue" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BundleId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="NewAppleTremblantRequest_Input">
        <part element="tns:NewAppleTremblantRequest_Input" name="NewAppleTremblantRequest_Input"/>
    </message>
    <message name="NewAppleTremblantRequest_Output">
        <part element="tns:NewAppleTremblantRequest_Output" name="NewAppleTremblantRequest_Output"/>
    </message>
    <portType name="CBiO2_spcNew_spcConnection_spcApple_spcTremblant_spcExternal_spcOrder_spcWF">
        <operation name="NewAppleTremblantRequest">
            <input message="tns:NewAppleTremblantRequest_Input"/>
            <output message="tns:NewAppleTremblantRequest_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcNew_spcConnection_spcApple_spcTremblant_spcExternal_spcOrder_spcWF" type="tns:CBiO2_spcNew_spcConnection_spcApple_spcTremblant_spcExternal_spcOrder_spcWF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NewAppleTremblantRequest">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:NewAppleTremblantRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2NewConnectionAppleTremblantExternalOrderWS">
        <port binding="tns:CBiO2_spcNew_spcConnection_spcApple_spcTremblant_spcExternal_spcOrder_spcWF" name="CBiO2_spcNew_spcConnection_spcApple_spcTremblant_spcExternal_spcOrder_spcWF">
            <soap:address location="http://10.96.107.10:7777/ecommunications_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>