src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2ExternalIndividualCustomerCreationWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20External%20Individual%20Customer%20Creation%20IO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2%20External%20Individual%20Customer%20Creation%20IO"
></xsd:import
><xsd:element
 name="CBiO2IndividualCustomerCreationWS_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Requestor"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionReference"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:listOfCbio2ExternalIndividualCustomerCreationIo"
></xsd:element
><xsd:element
 name="CreatedDate"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Username"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Source"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CBiO2IndividualCustomerCreationWS_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CustomerId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20External%20Individual%20Customer%20Creation%20IO"
 targetNamespace="http://www.siebel.com/xml/CBiO2%20External%20Individual%20Customer%20Creation%20IO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="listOfCbio2ExternalIndividualCustomerCreationIo"
 type="xsdLocal1:listOfCbio2ExternalIndividualCustomerCreationIo"
></xsd:element
><xsd:complexType
 name="listOfCbio2ExternalIndividualCustomerCreationIoTopElmt"
><xsd:sequence
><xsd:element
 name="listOfCbio2ExternalIndividualCustomerCreationIo"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:listOfCbio2ExternalIndividualCustomerCreationIo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="listOfCbio2ExternalIndividualCustomerCreationIo"
><xsd:sequence
><xsd:element
 name="account"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="account"
><xsd:sequence
><xsd:element
 name="created"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="accountStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string24"
></xsd:element
><xsd:element
 name="cBiO2AccountSequenceNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="cBiO2ArabicFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string80"
></xsd:element
><xsd:element
 name="cBiO2ArabicLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="cBiO2ArabicSecondName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="cBiO2ArabicThirdName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="cBiO2ArabicTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2BillCycle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2BloodGrp"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string4"
></xsd:element
><xsd:element
 name="cBiO2BusinessUnit"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string10"
></xsd:element
><xsd:element
 name="cBiO2Category"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2CommunityId1"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2CustCreatedThru"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2CustEducation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2CustMaritalStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2CustProfession"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2DOB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2EnglishFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="cBiO2EnglishLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="cBiO2EnglishSecondName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="cBiO2EnglishThirdName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="cBiO2EnglishTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2Gender"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2HomeNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="cBiO2IDExpDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2IDNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2IDType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2IncomeRange"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2LineType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2Nationality"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2NickName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="cBiO2NotificationNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="cBiO2OverrideIDExp"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2PRFlg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2PrefCommEndTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2PrefCommStartTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2PrefCommunicationChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2Recipient"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="cBiO2ReferenceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="cBiO2RegisterZainFlg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2ResidencyType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2SalesAgent"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="cBiO2SalesCallingAllowFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2Segment"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2Source"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="cBiO2SubMarketType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2ZainEmp"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="clientFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="description"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string255"
></xsd:element
><xsd:element
 name="dontCall"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="facilityFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="householdHeadOccupation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="language"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="mainEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string350"
></xsd:element
><xsd:element
 name="mainFaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="mainPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2MOIReference"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2CardIssueDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="cBiO2GuardianCivilId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="listOfcutAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:listOfcutAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="listOfcutAddress"
><xsd:sequence
><xsd:element
 name="cutAddress"
 maxOccurs="unbounded"
 minOccurs="1"
 type="xsdLocal1:cutAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="cutAddress"
><xsd:sequence
><xsd:element
 name="apartmentNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string5"
></xsd:element
><xsd:element
 name="cBiO2Avenue"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="cBiO2Block"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string3"
></xsd:element
><xsd:element
 name="cBiO2Building"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="cBiO2EngPostalAreaName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2Floor"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string3"
></xsd:element
><xsd:element
 name="cBiO2Mail"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2POBox"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string15"
></xsd:element
><xsd:element
 name="cBiO2PacciNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2PostalAreaCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="cBiO2StreetNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string8"
></xsd:element
><xsd:element
 name="city"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="country"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="landlordPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="locationType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="neighborhood"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="phoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="postalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="streetAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string200"
></xsd:element
><xsd:element
 name="type2"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string3"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="3"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string24"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="24"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string255"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="255"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string10"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="10"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string15"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="15"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string40"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="40"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string5"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="5"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string350"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="350"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string80"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="80"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string8"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="8"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string200"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="200"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string20"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="20"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string4"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="4"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="CBiO2IndividualCustomerCreationWS_Input"
><part
 name="CBiO2IndividualCustomerCreationWS_Input"
 element="tns:CBiO2IndividualCustomerCreationWS_Input"
></part
></message
><message
 name="CBiO2IndividualCustomerCreationWS_Output"
><part
 name="CBiO2IndividualCustomerCreationWS_Output"
 element="tns:CBiO2IndividualCustomerCreationWS_Output"
></part
></message
><portType
 name="CBiO2IndividualCustomerCreation"
><operation
 name="CBiO2IndividualCustomerCreationWS"
><input
 message="tns:CBiO2IndividualCustomerCreationWS_Input"
></input
><output
 message="tns:CBiO2IndividualCustomerCreationWS_Output"
></output
></operation
></portType
><binding
 name="CBiO2IndividualCustomerCreation"
 type="tns:CBiO2IndividualCustomerCreation"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CBiO2IndividualCustomerCreationWS"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CBiO2IndividualCustomerCreationWS"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2ExternalIndividualCustomerCreationWS"
><port
 binding="tns:CBiO2IndividualCustomerCreation"
 name="CBiO2IndividualCustomerCreation"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>