src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2QueryPostpaidAutoPay.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2QueryPostpaidAutoPay"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2QueryPostpaidAutoPay" />
			<xsd:element  name="QueryPostpaidAutopay_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="MSISDN"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="QueryPostpaidAutopay_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  ref="xsdLocal1:ListOfCbio2querypostpaidautopay" />
						<xsd:element  name="CustomerId"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorAdditional_Desc1"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  name="PaymentProfileType"  type="xsd:string" />
						<xsd:element  name="RegistrationDate"  type="xsd:string" />
						<xsd:element  name="SubscriberId"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2QueryPostpaidAutoPay"  targetNamespace="http://www.siebel.com/xml/CBiO2QueryPostpaidAutoPay"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="ListOfCbio2querypostpaidautopay"  type="xsdLocal1:ListOfCbio2querypostpaidautopay" />
			<xsd:complexType  name="ListOfCbio2querypostpaidautopayTopElmt" >
				<xsd:sequence >
					<xsd:element  name="ListOfCbio2querypostpaidautopay"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:ListOfCbio2querypostpaidautopay" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2querypostpaidautopay" >
				<xsd:sequence >
					<xsd:element  name="PostpaidAutopayDetails"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:PostpaidAutopayDetails" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="PostpaidAutopayDetails" >
				<xsd:sequence >
					<xsd:element  name="AutoPayRegId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CardNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="CBiO2ArabicFullName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CardType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="StartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="ExpirationMonth"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="ExpirationYear"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="Status"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2EnglishFullName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:simpleType  name="string50" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="50" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string30" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="30" />
				</xsd:restriction >
			</xsd:simpleType >
		</xsd:schema >
	</types >
	<message  name="QueryPostpaidAutopay_Input" >
		<part  name="QueryPostpaidAutopay_Input"  element="tns:QueryPostpaidAutopay_Input" />
	</message >
	<message  name="QueryPostpaidAutopay_Output" >
		<part  name="QueryPostpaidAutopay_Output"  element="tns:QueryPostpaidAutopay_Output" />
	</message >
	<portType  name="CBiO2_spcQuery_spcPostpaid_spcAutoPay_spcWF" >
		<operation  name="QueryPostpaidAutopay" >
			<input  message="tns:QueryPostpaidAutopay_Input" />
			<output  message="tns:QueryPostpaidAutopay_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcQuery_spcPostpaid_spcAutoPay_spcWF"  type="tns:CBiO2_spcQuery_spcPostpaid_spcAutoPay_spcWF" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="QueryPostpaidAutopay" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:QueryPostpaidAutopay" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2QueryPostpaidAutoPay" >
		<port  binding="tns:CBiO2_spcQuery_spcPostpaid_spcAutoPay_spcWF"  name="CBiO2_spcQuery_spcPostpaid_spcAutoPay_spcWF" >
			<soap:address  location="http://10.96.108.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >