src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2 PortInNPActivationQueryWF.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="NPActivationDetailsQuery_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="OrderNumber"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="NPActivationDetailsQuery_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NPOrderId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SRType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SenderId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SubscriptionType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ValidationMSISDN"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="NPActivationDetailsQuery_Input"
><part
 name="NPActivationDetailsQuery_Input"
 element="tns:NPActivationDetailsQuery_Input"
></part
></message
><message
 name="NPActivationDetailsQuery_Output"
><part
 name="NPActivationDetailsQuery_Output"
 element="tns:NPActivationDetailsQuery_Output"
></part
></message
><portType
 name="CBiO2_spcPort_spcIn_spcNP_spcActivation_spcQuery_spcWF"
><operation
 name="NPActivationDetailsQuery"
><input
 message="tns:NPActivationDetailsQuery_Input"
></input
><output
 message="tns:NPActivationDetailsQuery_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcPort_spcIn_spcNP_spcActivation_spcQuery_spcWF"
 type="tns:CBiO2_spcPort_spcIn_spcNP_spcActivation_spcQuery_spcWF"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="NPActivationDetailsQuery"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:NPActivationDetailsQuery"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcPort_spcIn_spcNP_spcActivation_spcQuery_spcWF"
><port
 binding="tns:CBiO2_spcPort_spcIn_spcNP_spcActivation_spcQuery_spcWF"
 name="CBiO2_spcPort_spcIn_spcNP_spcActivation_spcQuery_spcWF"
><soap:address
 location="http://&lt;webserver&gt;/eai_anon_&lt;lang&gt;/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>