src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2CommitmentQueryWorkflow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Commitment%20Query%20IO"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2%20Commitment%20Query%20IO" />
			<xsd:element  name="QueryCommitmentService_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="User_Name"  type="xsd:string" />
						<xsd:element  name="MSISDN"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="QueryCommitmentService_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="Dvic_Gft_Pnlty_Per_Line"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  ref="xsdLocal1:ListOfCbio2CommitmentQueryIo" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Commitment%20Query%20IO"  targetNamespace="http://www.siebel.com/xml/CBiO2%20Commitment%20Query%20IO"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="ListOfCbio2CommitmentQueryIo"  type="xsdLocal1:ListOfCbio2CommitmentQueryIo" />
			<xsd:complexType  name="ListOfCbio2CommitmentQueryIoTopElmt" >
				<xsd:sequence >
					<xsd:element  name="ListOfCbio2CommitmentQueryIo"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:ListOfCbio2CommitmentQueryIo" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2CommitmentQueryIo" >
				<xsd:sequence >
					<xsd:element  name="ServiceAgreement"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:ServiceAgreement" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ServiceAgreement" >
				<xsd:sequence >
					<xsd:element  name="AgreementType"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2AgreementStatus"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2MSISDN"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="AgreementStatus"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="ListOfCbio2LineItem"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:ListOfCbio2LineItem" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2LineItem" >
				<xsd:sequence >
					<xsd:element  name="Cbio2LineItem"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Cbio2LineItem" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Cbio2LineItem" >
				<xsd:sequence >
					<xsd:element  name="CBIO2EndDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBIO2ProductId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBIO2ProductName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="CBIO2StartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2ProductPartNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="CBiO2Status"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2PenaltyAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="ListOfCbio2ChargeItem"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:ListOfCbio2ChargeItem" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2ChargeItem" >
				<xsd:sequence >
					<xsd:element  name="Cbio2ChargeItem"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Cbio2ChargeItem" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Cbio2ChargeItem" >
				<xsd:sequence >
					<xsd:element  name="CBiO2CommitmentAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2MonthDifferenceCalc"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2PenaltyPeriod"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2PenaltyType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:simpleType  name="string50" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="50" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string30" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="30" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string100" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="100" />
				</xsd:restriction >
			</xsd:simpleType >
		</xsd:schema >
	</types >
	<message  name="QueryCommitmentService_Input" >
		<part  name="QueryCommitmentService_Input"  element="tns:QueryCommitmentService_Input" />
	</message >
	<message  name="QueryCommitmentService_Output" >
		<part  name="QueryCommitmentService_Output"  element="tns:QueryCommitmentService_Output" />
	</message >
	<portType  name="CommitmentQuery" >
		<operation  name="QueryCommitmentService" >
			<input  message="tns:QueryCommitmentService_Input" />
			<output  message="tns:QueryCommitmentService_Output" />
		</operation >
	</portType >
	<binding  name="CommitmentQuery"  type="tns:CommitmentQuery" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="QueryCommitmentService" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:QueryCommitmentService" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2_spcCommitment_spcQuery_spcWorkflow" >
		<port  binding="tns:CommitmentQuery"  name="CommitmentQuery" >
			<soap:address  location="http://10.103.23.68:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >