src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2UpdateCustomerbyCivilId.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2UpdateCustomerbyCivilId" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2UpdateCustomerbyCivilId" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2UpdateCustomerbyCivilId">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="UpdateCustomerCivilIdData" type="xsdLocal1:UpdateCustomerCivilIdData"/>
            <xsd:complexType name="UpdateCustomerCivilIdDataTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="UpdateCustomerCivilIdData" type="xsdLocal1:UpdateCustomerCivilIdData"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateCustomerCivilIdData">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Additional" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName1" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName3" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName4" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicTitle" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Birthday" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Block" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BloodType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CardExpiryDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CardIssueDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="City" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CivilID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName1" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName3" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName4" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Floor" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Gender" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="GuardianCivilId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="HomeNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IDType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MOIReference" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MainPhoneNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Nationality" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PostalAreaName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ResidencyArticle" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Sponsor" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StreetAddress" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Attribute1" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Attribute2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Attribute3" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Attribute4" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Attribute5" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2UpdateCustomerbyCivilId"/>
            <xsd:element name="UpdateCustomerbyCivilId_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:UpdateCustomerCivilIdData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateCustomerbyCivilId_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="UpdateCustomerbyCivilId_Input">
        <part element="tns:UpdateCustomerbyCivilId_Input" name="UpdateCustomerbyCivilId_Input"/>
    </message>
    <message name="UpdateCustomerbyCivilId_Output">
        <part element="tns:UpdateCustomerbyCivilId_Output" name="UpdateCustomerbyCivilId_Output"/>
    </message>
    <portType name="CBiO2_spcUpdate_spcBiometric_spcCustomer_spcDetails_spcChannel_spcWFP">
        <operation name="UpdateCustomerbyCivilId">
            <input message="tns:UpdateCustomerbyCivilId_Input"/>
            <output message="tns:UpdateCustomerbyCivilId_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcUpdate_spcBiometric_spcCustomer_spcDetails_spcChannel_spcWFP" type="tns:CBiO2_spcUpdate_spcBiometric_spcCustomer_spcDetails_spcChannel_spcWFP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="UpdateCustomerbyCivilId">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:UpdateCustomerbyCivilId"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2UpdateCustomerbyCivilId">
        <port binding="tns:CBiO2_spcUpdate_spcBiometric_spcCustomer_spcDetails_spcChannel_spcWFP" name="CBiO2_spcUpdate_spcBiometric_spcCustomer_spcDetails_spcChannel_spcWFP">
            <soap:address location="http://localhost/eai_anon_lang/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>