src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2ExternalChannelTremblantTerminateOrderWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="NewTerminateRequest_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CBiO2OrderSubType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PromotionName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PromotionId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2_spcLine_spcType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Status"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryMSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CancelReason"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Dormant"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductType"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="NewTerminateRequest_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CBiO2_spcLine_spcType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Status"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="NewTerminateRequest_Input"
><part
 name="NewTerminateRequest_Input"
 element="tns:NewTerminateRequest_Input"
></part
></message
><message
 name="NewTerminateRequest_Output"
><part
 name="NewTerminateRequest_Output"
 element="tns:NewTerminateRequest_Output"
></part
></message
><portType
 name="CBiO2_spcExternal_spcChannel_spcTremblant_spcTerminate_spcOrder_spcWF"
><operation
 name="NewTerminateRequest"
><input
 message="tns:NewTerminateRequest_Input"
></input
><output
 message="tns:NewTerminateRequest_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcExternal_spcChannel_spcTremblant_spcTerminate_spcOrder_spcWF"
 type="tns:CBiO2_spcExternal_spcChannel_spcTremblant_spcTerminate_spcOrder_spcWF"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="NewTerminateRequest"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:NewTerminateRequest"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2ExternalChannelTremblantTerminateOrderWS"
><port
 binding="tns:CBiO2_spcExternal_spcChannel_spcTremblant_spcTerminate_spcOrder_spcWF"
 name="CBiO2_spcExternal_spcChannel_spcTremblant_spcTerminate_spcOrder_spcWF"
><soap:address
 location="http://10.96.107.10:7777/ecommunications_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>