src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2 Port Out Donor Accept Reject.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20MNP%20Accept%20Reject%20IO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2%20MNP%20Accept%20Reject%20IO"
></xsd:import
><xsd:element
 name="DonorAcceptReject_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="SenderId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RejectionReason"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AutoAccept"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MessageId"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfCbio2MnpAcceptRejectIo"
></xsd:element
><xsd:element
 name="NPOrderId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Operation"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="DonorAcceptReject_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NPOrderId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20MNP%20Accept%20Reject%20IO"
 targetNamespace="http://www.siebel.com/xml/CBiO2%20MNP%20Accept%20Reject%20IO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2MnpAcceptRejectIo"
 type="xsdLocal1:ListOfCbio2MnpAcceptRejectIo"
></xsd:element
><xsd:complexType
 name="ListOfCbio2MnpAcceptRejectIoTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2MnpAcceptRejectIo"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2MnpAcceptRejectIo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2MnpAcceptRejectIo"
><xsd:sequence
><xsd:element
 name="Cbio2Mnp"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Cbio2Mnp"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Cbio2Mnp"
><xsd:sequence
><xsd:element
 name="CBiO2ExternalStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2LineType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2MSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2OutstandingAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2RejectionReason"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ServiceRequestId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="DonorAcceptReject_Input"
><part
 name="DonorAcceptReject_Input"
 element="tns:DonorAcceptReject_Input"
></part
></message
><message
 name="DonorAcceptReject_Output"
><part
 name="DonorAcceptReject_Output"
 element="tns:DonorAcceptReject_Output"
></part
></message
><portType
 name="DonorAcceptReject"
><operation
 name="DonorAcceptReject"
><input
 message="tns:DonorAcceptReject_Input"
></input
><output
 message="tns:DonorAcceptReject_Output"
></output
></operation
></portType
><binding
 name="DonorAcceptReject"
 type="tns:DonorAcceptReject"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="DonorAcceptReject"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:DonorAcceptReject"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcPort_spcOut_spcDonor_spcAccept_spcReject"
><port
 binding="tns:DonorAcceptReject"
 name="DonorAcceptReject"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>