src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2QueryCustomerKAM.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO"
></xsd:import
><xsd:element
 name="queryKAM_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CustomerId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="queryKAM_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfCbio2KamQueryIo"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO"
 targetNamespace="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2KamQueryIo"
 type="xsdLocal1:ListOfCbio2KamQueryIo"
></xsd:element
><xsd:complexType
 name="ListOfCbio2KamQueryIoTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2KamQueryIo"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2KamQueryIo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2KamQueryIo"
><xsd:sequence
><xsd:element
 name="Cbio2KamHistoryBc"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Cbio2KamHistoryBc"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Cbio2KamHistoryBc"
><xsd:sequence
><xsd:element
 name="CBiO2CustomerId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Email"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string350"
></xsd:element
><xsd:element
 name="CBiO2Gender"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2KAMFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2KAMLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2MobilePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Title"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2WorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string40"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="40"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string350"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="350"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="queryKAM_Input"
><part
 name="queryKAM_Input"
 element="tns:queryKAM_Input"
></part
></message
><message
 name="queryKAM_Output"
><part
 name="queryKAM_Output"
 element="tns:queryKAM_Output"
></part
></message
><portType
 name="QueryCustomerKAM"
><operation
 name="queryKAM"
><input
 message="tns:queryKAM_Input"
></input
><output
 message="tns:queryKAM_Output"
></output
></operation
></portType
><binding
 name="QueryCustomerKAM"
 type="tns:QueryCustomerKAM"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="queryKAM"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:queryKAM"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2QueryCustomerKAM"
><port
 binding="tns:QueryCustomerKAM"
 name="QueryCustomerKAM"
><soap:address
 location="http://10.103.23.115/:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>