src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2KAMUpdateWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="CBiO2KAMUpdateWS_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="KAMUserId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustSequenceNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SalesChannel"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreatedBy"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustRowId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Identifier"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CBiO2KAMUpdateWS_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CustSequenceNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="KAMUserId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="CBiO2KAMUpdateWS_Input"
><part
 name="CBiO2KAMUpdateWS_Input"
 element="tns:CBiO2KAMUpdateWS_Input"
></part
></message
><message
 name="CBiO2KAMUpdateWS_Output"
><part
 name="CBiO2KAMUpdateWS_Output"
 element="tns:CBiO2KAMUpdateWS_Output"
></part
></message
><portType
 name="CBiO2_spcModify_spcKAM_spcDetails_spcInterface_spcWFP"
><operation
 name="CBiO2KAMUpdateWS"
><input
 message="tns:CBiO2KAMUpdateWS_Input"
></input
><output
 message="tns:CBiO2KAMUpdateWS_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcModify_spcKAM_spcDetails_spcInterface_spcWFP"
 type="tns:CBiO2_spcModify_spcKAM_spcDetails_spcInterface_spcWFP"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CBiO2KAMUpdateWS"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CBiO2KAMUpdateWS"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2KAMUpdateWS"
><port
 binding="tns:CBiO2_spcModify_spcKAM_spcDetails_spcInterface_spcWFP"
 name="CBiO2_spcModify_spcKAM_spcDetails_spcInterface_spcWFP"
><soap:address
 location="http://&lt;webserver&gt;/eai_anon_&lt;lang&gt;/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>