src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2MNPReturnBroadcastManualTaskFlow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:element  name="CBiO2MNPReturnBroadcastManualTaskFlow_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="NPOrderID"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="CBiO2MNPReturnBroadcastManualTaskFlow_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  name="NPOrderID"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
	</types >
	<message  name="CBiO2MNPReturnBroadcastManualTaskFlow_Input" >
		<part  name="CBiO2MNPReturnBroadcastManualTaskFlow_Input"  element="tns:CBiO2MNPReturnBroadcastManualTaskFlow_Input" />
	</message >
	<message  name="CBiO2MNPReturnBroadcastManualTaskFlow_Output" >
		<part  name="CBiO2MNPReturnBroadcastManualTaskFlow_Output"  element="tns:CBiO2MNPReturnBroadcastManualTaskFlow_Output" />
	</message >
	<portType  name="CBiO2_spcMNP_spcReturn_spcBroadcast_spcManual_spcTask_spcFlow" >
		<operation  name="CBiO2MNPReturnBroadcastManualTaskFlow" >
			<input  message="tns:CBiO2MNPReturnBroadcastManualTaskFlow_Input" />
			<output  message="tns:CBiO2MNPReturnBroadcastManualTaskFlow_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcMNP_spcReturn_spcBroadcast_spcManual_spcTask_spcFlow"  type="tns:CBiO2_spcMNP_spcReturn_spcBroadcast_spcManual_spcTask_spcFlow" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="CBiO2MNPReturnBroadcastManualTaskFlow" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:CBiO2MNPReturnBroadcastManualTaskFlow" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2_spcMNP_spcReturn_spcBroadcast_spcManual_spcTask_spcFlow" >
		<port  binding="tns:CBiO2_spcMNP_spcReturn_spcBroadcast_spcManual_spcTask_spcFlow"  name="CBiO2_spcMNP_spcReturn_spcBroadcast_spcManual_spcTask_spcFlow" >
			<soap:address  location="http://10.103.23.68:7777/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >