src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2ServiceGiftingGetMessageQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CommPackage"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2CommPackage" />
			<xsd:element  name="ServiceGiftingMessageQuery_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="Language"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="ServiceGiftingMessageQuery_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  ref="xsdLocal1:ListOfCbio2commpackage" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CommPackage"  targetNamespace="http://www.siebel.com/xml/CBiO2CommPackage"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="ListOfCbio2commpackage"  type="xsdLocal1:ListOfCbio2commpackage" />
			<xsd:complexType  name="ListOfCbio2commpackageTopElmt" >
				<xsd:sequence >
					<xsd:element  name="ListOfCbio2commpackage"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:ListOfCbio2commpackage" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2commpackage" >
				<xsd:sequence >
					<xsd:element  name="CommPackage"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:CommPackage" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="CommPackage" >
				<xsd:sequence >
					<xsd:element  name="TemplateId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2PartNo"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2ProductId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2ServiceOperation"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2Type"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="TemplateText"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Language"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
					<xsd:element  name="TemplateName"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
				</xsd:sequence >
			</xsd:complexType >
		</xsd:schema >
	</types >
	<message  name="ServiceGiftingMessageQuery_Input" >
		<part  name="ServiceGiftingMessageQuery_Input"  element="tns:ServiceGiftingMessageQuery_Input" />
	</message >
	<message  name="ServiceGiftingMessageQuery_Output" >
		<part  name="ServiceGiftingMessageQuery_Output"  element="tns:ServiceGiftingMessageQuery_Output" />
	</message >
	<portType  name="CBiO2_spcService_spcGifting_spcMessage_spcQuery_spcFlow" >
		<operation  name="ServiceGiftingMessageQuery" >
			<input  message="tns:ServiceGiftingMessageQuery_Input" />
			<output  message="tns:ServiceGiftingMessageQuery_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcService_spcGifting_spcMessage_spcQuery_spcFlow"  type="tns:CBiO2_spcService_spcGifting_spcMessage_spcQuery_spcFlow" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="ServiceGiftingMessageQuery" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:ServiceGiftingMessageQuery" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2_spcService_spcGifting_spcMessage_spcQuery_spcFlow" >
		<port  binding="tns:CBiO2_spcService_spcGifting_spcMessage_spcQuery_spcFlow"  name="CBiO2_spcService_spcGifting_spcMessage_spcQuery_spcFlow" >
			<soap:address  location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >