src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2TradeInVoucherQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Voucher%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Voucher%20IO"/>
            <xsd:element name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VoucherNumber" type="xsd:string"/>
                        <xsd:element name="CustomerNum" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfCbio2VoucherIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Voucher%20IO" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Voucher%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2VoucherIo" type="xsdLocal1:ListOfCbio2VoucherIo"/>
            <xsd:complexType name="ListOfCbio2VoucherIoTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfCbio2VoucherIo" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfCbio2VoucherIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2VoucherIo">
                <xsd:sequence>
                    <xsd:element name="Cbio2VoucherInformation" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Cbio2VoucherInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Cbio2VoucherInformation">
                <xsd:sequence>
                    <xsd:element name="Searchspec" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CurrencyCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CustomerSeqNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2DeviceCondition" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2DeviceConditionCalc" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2IMEINo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2IMEINoCalc" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2ItemCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2MSISDN" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2NewMSISDN" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2ProductName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2ProductNameCalc" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2ProductNameUsingPart" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2SalesAgent" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2StoredDeviceCondition" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2StoredIMEINo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2StoredPartNum" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2SubscriberNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2VoucherAmount" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2VoucherCreatedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2VoucherExpiryDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2VoucherNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2VoucherStatus" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2VoucherType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2PartNum" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2PartNumCalc" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="Operation" type="xsd:string"/>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Input">
        <part name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Input" element="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Input"/>
    </message>
    <message name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Output">
        <part name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Output" element="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Output"/>
    </message>
    <portType name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_spcWFP">
        <operation name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery">
            <input message="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Input"/>
            <output message="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_spcWFP" type="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_spcWFP">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2_spcTrade_spcIn_spcVoucher_spcQuery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_spcWFP">
        <port binding="tns:CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_spcWFP" name="CBiO2_spcTrade_spcIn_spcVoucher_spcQuery_spcWFP">
            <soap:address location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>