src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2PrepaidFlexiNewConnectionWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2PrepaidOrderProductDetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2PrepaidOrderProductDetails" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2PrepaidOrderProductDetails">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="CBiO2PrepaidOrderProductDetails" type="xsdLocal1:CBiO2PrepaidOrderProductDetails"/>
            <xsd:complexType name="CBiO2PrepaidOrderProductDetailsTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CBiO2PrepaidOrderProductDetails" type="xsdLocal1:CBiO2PrepaidOrderProductDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2PrepaidOrderProductDetails">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="ProductDetails" type="xsdLocal1:ProductDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductDetails">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentProduct" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="FlexiAttributeName" type="xsdLocal1:FlexiAttributeName"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ICFLEXActivationCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Operation" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceEndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceStartDate" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FlexiAttributeName">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParameterName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParameterValue" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2PrepaidOrderProductDetails"/>
            <xsd:element name="PrepaidFlexiNewContract_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VendorCode" type="xsd:string"/>
                        <xsd:element name="Requestor" type="xsd:string"/>
                        <xsd:element name="PIN1" type="xsd:string"/>
                        <xsd:element name="DNID" type="xsd:string"/>
                        <xsd:element name="SiebelPromotionId" type="xsd:string"/>
                        <xsd:element name="P_ExpiryYear" type="xsd:string"/>
                        <xsd:element name="PUK1" type="xsd:string"/>
                        <xsd:element name="IMSI" type="xsd:string"/>
                        <xsd:element name="TransactionReferenceNo" type="xsd:string"/>
                        <xsd:element name="IMEI" type="xsd:string"/>
                        <xsd:element name="P_CVV" type="xsd:string"/>
                        <xsd:element name="OrderReason" type="xsd:string"/>
                        <xsd:element name="SIMType" type="xsd:string"/>
                        <xsd:element name="P_CardNumber" type="xsd:string"/>
                        <xsd:element name="MSISDNReservedFlag" type="xsd:string"/>
                        <xsd:element name="KI" type="xsd:string"/>
                        <xsd:element name="Channel" type="xsd:string"/>
                        <xsd:element name="P_TerminalId" type="xsd:string"/>
                        <xsd:element name="SIMSerialNo" type="xsd:string"/>
                        <xsd:element name="PUK2" type="xsd:string"/>
                        <xsd:element name="SIMItemCode" type="xsd:string"/>
                        <xsd:element name="P_PaymentTransactionReference" type="xsd:string"/>
                        <xsd:element name="P_MerchantId" type="xsd:string"/>
                        <xsd:element name="P_Amount" type="xsd:string"/>
                        <xsd:element name="PIN2" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="P_ExpiryMonth" type="xsd:string"/>
                        <xsd:element name="Username" type="xsd:string"/>
                        <xsd:element name="P_CardType" type="xsd:string"/>
                        <xsd:element name="P_AuthCode" type="xsd:string"/>
                        <xsd:element name="MSISDNReservationId" type="xsd:string"/>
                        <xsd:element name="MSISDNCategory" type="xsd:string"/>
                        <xsd:element name="LineType" type="xsd:string"/>
                        <xsd:element name="CustomerId" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:CBiO2PrepaidOrderProductDetails"/>
                        <xsd:element name="ICCID" type="xsd:string"/>
                        <xsd:element name="P_PaymentMethod" type="xsd:string"/>
                        <xsd:element name="P_IssuingBank" type="xsd:string"/>
                        <xsd:element name="SIMReservationFlag" type="xsd:string"/>
                        <xsd:element name="P_HolderName" type="xsd:string"/>
                        <xsd:element name="P_AuthorizeCredit" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PrepaidFlexiNewContract_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="OrderNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="PrepaidFlexiNewContract_Input">
        <part element="tns:PrepaidFlexiNewContract_Input" name="PrepaidFlexiNewContract_Input"/>
    </message>
    <message name="PrepaidFlexiNewContract_Output">
        <part element="tns:PrepaidFlexiNewContract_Output" name="PrepaidFlexiNewContract_Output"/>
    </message>
    <portType name="CBiO2_spcPrepaid_spcNew_spcConnection_spcExternal_spcChannel_spcFlow">
        <operation name="PrepaidFlexiNewContract">
            <input message="tns:PrepaidFlexiNewContract_Input"/>
            <output message="tns:PrepaidFlexiNewContract_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcPrepaid_spcNew_spcConnection_spcExternal_spcChannel_spcFlow" type="tns:CBiO2_spcPrepaid_spcNew_spcConnection_spcExternal_spcChannel_spcFlow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="PrepaidFlexiNewContract">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:PrepaidFlexiNewContract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2PrepaidFlexiNewConnectionWS">
        <port binding="tns:CBiO2_spcPrepaid_spcNew_spcConnection_spcExternal_spcChannel_spcFlow" name="CBiO2_spcPrepaid_spcNew_spcConnection_spcExternal_spcChannel_spcFlow">
            <soap:address location="http://&lt;webserver>/eai_anon_&lt;lang>/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>