src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2ChangeSubscriberBPAssignment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="CBiO2PPModification_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BillingAccountId" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="ContractId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2PPModification_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CBiO2PPModification_Input">
        <part element="tns:CBiO2PPModification_Input" name="CBiO2PPModification_Input"/>
    </message>
    <message name="CBiO2PPModification_Output">
        <part element="tns:CBiO2PPModification_Output" name="CBiO2PPModification_Output"/>
    </message>
    <portType name="CBiO2_spcSubscriber_spcPP_spcDeAssociation_spcFlow">
        <operation name="CBiO2PPModification">
            <input message="tns:CBiO2PPModification_Input"/>
            <output message="tns:CBiO2PPModification_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcSubscriber_spcPP_spcDeAssociation_spcFlow" type="tns:CBiO2_spcSubscriber_spcPP_spcDeAssociation_spcFlow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CBiO2PPModification">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2PPModification"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2SubscriberPPModificationWS">
        <port binding="tns:CBiO2_spcSubscriber_spcPP_spcDeAssociation_spcFlow" name="CBiO2_spcSubscriber_spcPP_spcDeAssociation_spcFlow">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>