src/CommonProject/BusinessWSDLS/Services/CRM/CBiO2CashSalesReturnWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdLocal2="http://www.siebel.com/xml/Order%20Entry%20(Sales)" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CashSalesIO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/Order%20Entry%20(Sales)"/>
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2CashSalesIO"/>
            <xsd:element name="CBiO2CashSalesReturn_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TotalAmount" type="xsd:string"/>
                        <xsd:element name="PaymentType" type="xsd:string"/>
                        <xsd:element name="PaymentMethod" type="xsd:string"/>
                        <xsd:element name="CardType" type="xsd:string"/>
                        <xsd:element name="Notes" type="xsd:string"/>
                        <xsd:element name="MerchantId" type="xsd:string"/>
                        <xsd:element name="CustPhNo" type="xsd:string"/>
                        <xsd:element name="AuthorizationStatus" type="xsd:string"/>
                        <xsd:element name="OriginalSalesDate" type="xsd:string"/>
                        <xsd:element name="CustArabicName" type="xsd:string"/>
                        <xsd:element name="AuthorizeCredit" type="xsd:string"/>
                        <xsd:element name="AuthCode" type="xsd:string"/>
                        <xsd:element name="TerminalId" type="xsd:string"/>
                        <xsd:element name="OriginalUserName" type="xsd:string"/>
                        <xsd:element name="CheckPrice" type="xsd:string"/>
                        <xsd:element name="OldSTReceiptNum" type="xsd:string"/>
                        <xsd:element name="IssuingBank" type="xsd:string"/>
                        <xsd:element name="CardHolderName" type="xsd:string"/>
                        <xsd:element name="Channel" type="xsd:string"/>
                        <xsd:element name="ShopId" type="xsd:string"/>
                        <xsd:element name="CCExpirationYear" type="xsd:string"/>
                        <xsd:element name="CCExpirationMonth" type="xsd:string"/>
                        <xsd:element name="CreditCardNo" type="xsd:string"/>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="NotificationMediaAddress" type="xsd:string"/>
                        <xsd:element name="NotificationMedia" type="xsd:string"/>
                        <xsd:element name="Type" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfCbio2cashsalesio"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="AuthDate" type="xsd:string"/>
                        <xsd:element name="PaymentRefNo" type="xsd:string"/>
                        <xsd:element name="ItemType" type="xsd:string"/>
                        <xsd:element name="CustIDType" type="xsd:string"/>
                        <xsd:element name="CustEngName" type="xsd:string"/>
                        <xsd:element name="CVV" type="xsd:string"/>
                        <xsd:element name="TransactionType" type="xsd:string"/>
                        <xsd:element name="PaymentDate" type="xsd:string"/>
                        <xsd:element name="STSubType" type="xsd:string"/>
                        <xsd:element name="CustIDNum" type="xsd:string"/>
                        <xsd:element name="ContractId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2CashSalesReturn_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorStep" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="OrderNumber" type="xsd:string"/>
                        <xsd:element ref="xsdLocal2:ListOfSalesTransaction"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsdLocal2="http://www.siebel.com/xml/Order%20Entry%20(Sales)" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/Order%20Entry%20(Sales)">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfSalesTransaction" type="xsdLocal2:ListOfSalesTransaction"/>
            <xsd:complexType name="ListOfSalesTransactionTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfSalesTransaction" type="xsdLocal2:ListOfSalesTransaction"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfSalesTransaction">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderEntry-Orders" type="xsdLocal2:OrderEntry-Orders"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-Orders">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LocationId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SalesChannel" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SalesTransactionType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ShopId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SubmittedDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="SiebelTransactionId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TransactionRef" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CustomerId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2MSISDN" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UserName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Requestor" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="listOforderEntry-LineItems" type="xsdLocal2:listOforderEntry-LineItems"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="listOfpayments" type="xsdLocal2:listOfpayments"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOforderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderEntry-LineItems" type="xsdLocal2:OrderEntry-LineItems"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LineItemId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Product" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Quantity" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SerialNum" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfpayments">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Payments" type="xsdLocal2:Payments"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Payments">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CardHolder" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Remarks" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ExpirationMonth" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ExpirationYear" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IssuingBankName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Payment" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PaymentDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="PaymentMethod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PaymentStatus" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CardType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TransactionAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TransactionTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TransactionType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SiebelReceiptNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PaymentRef" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CreditCardNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MerchantID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PaymentDateTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TerminalId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AcquirerResponseCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationStatus" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OrderInfo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ReceiptNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SettlmentDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ShoppingTransactionReference" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TransactionReference" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CashSalesIO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2CashSalesIO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2cashsalesio" type="xsdLocal1:ListOfCbio2cashsalesio"/>
            <xsd:complexType name="ListOfCbio2cashsalesioTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfCbio2cashsalesio" type="xsdLocal1:ListOfCbio2cashsalesio"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2cashsalesio">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="OrderEntry-Orders" type="xsdLocal1:OrderEntry-Orders"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-Orders">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2TransactionRef" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfCbio2VoucherInformation" type="xsdLocal1:ListOfCbio2VoucherInformation"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfOrderEntry-LineItems" type="xsdLocal1:ListOfOrderEntry-LineItems"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2VoucherInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Cbio2VoucherInformation" type="xsdLocal1:Cbio2VoucherInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Cbio2VoucherInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IMEINo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VoucherAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VoucherCreatedDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VoucherExpiryDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VoucherNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VoucherStatus" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VoucherType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfOrderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="OrderEntry-LineItems" type="xsdLocal1:OrderEntry-LineItems"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrderEntry-LineItems">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IntactScreen" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ItemCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PowerUp" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ReservationNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ToSerialNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CompletedDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DiscountAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DiscountPercent" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Quantity" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FromSerialNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ItemAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ItemType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CBiO2CashSalesReturn_Input">
        <part element="tns:CBiO2CashSalesReturn_Input" name="CBiO2CashSalesReturn_Input"/>
    </message>
    <message name="CBiO2CashSalesReturn_Output">
        <part element="tns:CBiO2CashSalesReturn_Output" name="CBiO2CashSalesReturn_Output"/>
    </message>
    <portType name="CBiO2_spcCash_spcSales_spcChannel_spcWorkflow">
        <operation name="CBiO2CashSalesReturn">
            <input message="tns:CBiO2CashSalesReturn_Input"/>
            <output message="tns:CBiO2CashSalesReturn_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcCash_spcSales_spcChannel_spcWorkflow" type="tns:CBiO2_spcCash_spcSales_spcChannel_spcWorkflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CBiO2CashSalesReturn">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2CashSalesReturn"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2CashSalesReturnWS">
        <port binding="tns:CBiO2_spcCash_spcSales_spcChannel_spcWorkflow" name="CBiO2_spcCash_spcSales_spcChannel_spcWorkflow">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>