src/CommonProject/BusinessWSDLS/Services/CRM/CreateCorporateCustomer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CorpCustomerCreationReq"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2CorpCustomerCreationReq" />
			<xsd:element  name="CreateCorporateCustomer_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  ref="xsdLocal1:ListOfCBiO2CorpCustomerCreationReq" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="CreateCorporateCustomer_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="AddressId"  type="xsd:string" />
						<xsd:element  name="AuthorizationId"  type="xsd:string" />
						<xsd:element  name="CustomerRowId"  type="xsd:string" />
						<xsd:element  name="CustomerSeqNumber"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  name="PrimaryBillingId"  type="xsd:string" />
						<xsd:element  name="SecondaryBillingId"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CorpCustomerCreationReq"  targetNamespace="http://www.siebel.com/xml/CBiO2CorpCustomerCreationReq"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="ListOfCBiO2CorpCustomerCreationReq"  type="xsdLocal1:ListOfCBiO2CorpCustomerCreationReq" />
			<xsd:complexType  name="ListOfCBiO2CorpCustomerCreationReqTopElmt" >
				<xsd:sequence >
					<xsd:element  name="ListOfCBiO2CorpCustomerCreationReq"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:ListOfCBiO2CorpCustomerCreationReq" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCBiO2CorpCustomerCreationReq" >
				<xsd:sequence >
					<xsd:element  name="CBiO2CorpCustomerCreationReq"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:CBiO2CorpCustomerCreationReq" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="CBiO2CorpCustomerCreationReq" >
				<xsd:sequence >
					<xsd:element  name="CorporateLevelRequired"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="NoOfContract"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CustomerLevel"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="LineType"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="BillCycle"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="CustomerPPCD"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="KAMId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="MVGLastName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="IDType"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="IDNumber"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="IDExpDate"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
					<xsd:element  name="Category"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="CompanyNameArabic"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string80" />
					<xsd:element  name="CompanyNameEng"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="RegistrationDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Industry"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="OrgCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="OrgSize"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="AuthorisedLastNameAra"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="OrgType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="Sector"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string25" />
					<xsd:element  name="Segment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="SisterCompany"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="SubCorpSegment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="Type"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="Neighborhood"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string50" />
					<xsd:element  name="City"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string50" />
					<xsd:element  name="Avenue"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="StreetNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string8" />
					<xsd:element  name="Country"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="Building"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="Floor"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="Gender"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="Nationality"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="DOB"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="ArabicTitle"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="ArabicFirstName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string80" />
					<xsd:element  name="ArabicSecondName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="ArabicThirdName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="ArabicLastName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="EnglishTitle"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="EnglishFirstName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="EnglishSecondName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="EnglishThirdName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="EnglishLastName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="NotificationNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="MainEmailAddress"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string350" />
					<xsd:element  name="PrefCommStartTime"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="PrefCommEndTime"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Source"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string20" />
					<xsd:element  name="CreatedBy"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string50" />
					<xsd:element  name="CommunityId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="CommunityType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="StreetAddress"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string200" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:simpleType  name="string50" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="50" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string15" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="15" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string40" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="40" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string30" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="30" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string350" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="350" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string80" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="80" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string8" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="8" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string25" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="25" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string200" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="200" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string20" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="20" />
				</xsd:restriction >
			</xsd:simpleType >
		</xsd:schema >
	</types >
	<message  name="CreateCorporateCustomer_Input" >
		<part  name="CreateCorporateCustomer_Input"  element="tns:CreateCorporateCustomer_Input" />
	</message >
	<message  name="CreateCorporateCustomer_Output" >
		<part  name="CreateCorporateCustomer_Output"  element="tns:CreateCorporateCustomer_Output" />
	</message >
	<portType  name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcWorkflow" >
		<operation  name="CreateCorporateCustomer" >
			<input  message="tns:CreateCorporateCustomer_Input" />
			<output  message="tns:CreateCorporateCustomer_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcWorkflow"  type="tns:CBiO2_spcCreate_spcCorporate_spcCustomer_spcWorkflow" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="CreateCorporateCustomer" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:CreateCorporateCustomer" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcWorkflow" >
		<port  binding="tns:CBiO2_spcCreate_spcCorporate_spcCustomer_spcWorkflow"  name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcWorkflow" >
			<soap:address  location="http://10.223.148.22:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >