src/CommonProject/BusinessWSDLS/Services/CRM/CreateCorporateCustomerHierarchy.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CorpCustHierarchyCreationReq"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2CorpCustHierarchyCreationReq"
></xsd:import
><xsd:element
 name="CreateCorporateHierarchy_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfCBiO2CorpCustHierarchyCreationReq"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CreateCorporateHierarchy_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="AddressId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AuthorizationId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerRowId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerSeqNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryBillingId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SecondaryBillingId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2CorpCustHierarchyCreationReq"
 targetNamespace="http://www.siebel.com/xml/CBiO2CorpCustHierarchyCreationReq"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCBiO2CorpCustHierarchyCreationReq"
 type="xsdLocal1:ListOfCBiO2CorpCustHierarchyCreationReq"
></xsd:element
><xsd:complexType
 name="ListOfCBiO2CorpCustHierarchyCreationReqTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCBiO2CorpCustHierarchyCreationReq"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCBiO2CorpCustHierarchyCreationReq"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCBiO2CorpCustHierarchyCreationReq"
><xsd:sequence
><xsd:element
 name="CBiO2CorpCustHierarchyCreationReq"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:CBiO2CorpCustHierarchyCreationReq"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2CorpCustHierarchyCreationReq"
><xsd:sequence
><xsd:element
 name="KAMId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="SAMId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="MVGLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountSequenceNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="IDType"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="IDNumber"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="IDExpDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Category"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CompanyNameArabic"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string80"
></xsd:element
><xsd:element
 name="CompanyNameEng"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="RegistrationDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Industry"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="OrgCategory"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="OrgSize"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="AuthorisedLastNameAra"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrgType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Sector"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string25"
></xsd:element
><xsd:element
 name="Segment"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="SisterCompany"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="SubCorpSegment"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Neighborhood"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="Avenue"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="StreetNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string8"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Building"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="Floor"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="Gender"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="Nationality"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="DOB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ArabicTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="ArabicFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string80"
></xsd:element
><xsd:element
 name="ArabicSecondName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="ArabicThirdName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="ArabicLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="EnglishTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="EnglishFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="EnglishSecondName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="EnglishThirdName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="EnglishLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="NotificationNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="MainEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string350"
></xsd:element
><xsd:element
 name="PrefCommStartTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrefCommEndTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Source"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="CreatedBy"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CommunityId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string15"
></xsd:element
><xsd:element
 name="CommunityType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string15"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="15"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string40"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="40"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string350"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="350"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string80"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="80"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string8"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="8"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string25"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="25"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string20"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="20"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="CreateCorporateHierarchy_Input"
><part
 name="CreateCorporateHierarchy_Input"
 element="tns:CreateCorporateHierarchy_Input"
></part
></message
><message
 name="CreateCorporateHierarchy_Output"
><part
 name="CreateCorporateHierarchy_Output"
 element="tns:CreateCorporateHierarchy_Output"
></part
></message
><portType
 name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcHierarchy_spcWorkflow"
><operation
 name="CreateCorporateHierarchy"
><input
 message="tns:CreateCorporateHierarchy_Input"
></input
><output
 message="tns:CreateCorporateHierarchy_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcHierarchy_spcWorkflow"
 type="tns:CBiO2_spcCreate_spcCorporate_spcCustomer_spcHierarchy_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CreateCorporateHierarchy"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CreateCorporateHierarchy"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcHierarchy_spcWorkflow"
><port
 binding="tns:CBiO2_spcCreate_spcCorporate_spcCustomer_spcHierarchy_spcWorkflow"
 name="CBiO2_spcCreate_spcCorporate_spcCustomer_spcHierarchy_spcWorkflow"
><soap:address
 location="http://10.223.148.22:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>