src/CommonProject/BusinessWSDLS/Services/CRM/ExternalServiceOrderCreate_04Mar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO"  targetNamespace="http://siebel.com/ExternalOrderCreate"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/ExternalOrderCreate" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/ExternalOrderCreate"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO" />
			<xsd:element  name="ExternalOrderCreation_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="Requester"  type="xsd:string" />
						<xsd:element  name="ProductId"  type="xsd:string" />
						<xsd:element  name="Channel"  type="xsd:string" />
						<xsd:element  name="UserName"  type="xsd:string" />
						<xsd:element  name="MSISDN"  type="xsd:string" />
						<xsd:element  name="OrderType"  type="xsd:string" />
						<xsd:element  name="CancelReason"  type="xsd:string" />
						<xsd:element  name="TransactionId"  type="xsd:string" />
						<xsd:element  name="Operation"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="ExternalOrderCreation_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  ref="xsdLocal1:listOfCbio2OrderProvisioningReqIo" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO"  targetNamespace="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="listOfCbio2OrderProvisioningReqIo"  type="xsdLocal1:listOfCbio2OrderProvisioningReqIo" />
			<xsd:complexType  name="listOfCbio2OrderProvisioningReqIoTopElmt" >
				<xsd:sequence >
					<xsd:element  name="listOfCbio2OrderProvisioningReqIo"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:listOfCbio2OrderProvisioningReqIo" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOfCbio2OrderProvisioningReqIo" >
				<xsd:sequence >
					<xsd:element  name="orderEntry-Orders"  maxOccurs="unbounded"  minOccurs="1"  type="xsdLocal1:orderEntry-Orders" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="orderEntry-Orders" >
				<xsd:sequence >
					<xsd:element  name="accountId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="agreementId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="agreementName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="asOfDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="billingProfileId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2CWServiceOrderNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2CreatedDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2CreatedbyPerson"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2OrderSubType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2OrderType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SalesChannel"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cancelReason"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="changeReason"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="comments"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string250" />
					<xsd:element  name="currencyCode"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string20" />
					<xsd:element  name="mRCTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="costomerEmailAddress"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string350" />
					<xsd:element  name="nRCTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderNumber"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="orderPriority"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="orderTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderType"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="primaryOrganization"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="requestedShipDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="revision"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceRequestId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceRequestNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="status"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SalesAgentId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2SalesAgentName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TotalRCAdvance"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2TotalNRCUpfront"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2DepositAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2ShopId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ShopName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ShopType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BatchFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
					<xsd:element  name="cBiO2BatchNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ArabicFullName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2EnglishFullName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2BSCSCustomerId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BillCycle"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BusinessUnit"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2CustomerType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerPrefLanguageCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2PrefCommunicationChannel"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommStartTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommEndTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2NotificationNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="cBiO2CustomerSegment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerSubCorporateSegment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ZainStaffId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2KAMId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2KAM"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="listOfCBiO2SubscriberInformation"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOfCBiO2SubscriberInformation" />
					<xsd:element  name="listOforderEntry-LineItems"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOforderEntry-LineItems" />
					<xsd:element  name="listOfpayments"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOfpayments" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOfCBiO2SubscriberInformation" >
				<xsd:sequence >
					<xsd:element  name="CBiO2SubscriberInformation"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:CBiO2SubscriberInformation" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="CBiO2SubscriberInformation" >
				<xsd:sequence >
					<xsd:element  name="id"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="billingProfileId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="billingProfileName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2ContractEndDt"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2ContractStartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2CreatedBy"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CreatedDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2DefCreditLimit"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2IVRLang"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2LineType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OptedCreditLimit"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2PrefCommChannel"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SalesCallingFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
					<xsd:element  name="cBiO2SubscriberEmail"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SubscriberNo"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2SubscriberNotificationPhone"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="integrationId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="previousServiceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="product"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="endDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="startDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2SubscriberPrefLanguageCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2SubscriberStatus"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="productType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BSCSContractId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommStartTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommEndTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2Market"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2SubMarket"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2CallDetails"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="cBiO2SubscriberFullNameArabic"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2SubscriberFullNameEnglish"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2Location"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2SpendLimit"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2DNId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2VPNCommunityId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2VPNShortCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2IMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SIMNum"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOforderEntry-LineItems" >
				<xsd:sequence >
					<xsd:element  name="orderEntry-LineItems"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:orderEntry-LineItems" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="orderEntry-LineItems" >
				<xsd:sequence >
					<xsd:element  name="id"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="actionCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="billingProfileId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="billingProfileName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBIO2AdvanceRCAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBIO2InstallmentAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2AdvanceRCPaymentFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2IMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2InstallmentEndDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2InstallmentFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2InstallmentPeriod"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2InstallmentStartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2InventoryFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2MSISDNCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2NoOfAdvRCBillCycle"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OldIMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2PosttoInvoiceAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2PosttoInvoiceFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2SIMCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SIMNum"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SIMType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2UpfrontPaymentAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2UpfrontPaymentFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="discountAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="discountPercent"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="dueDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="integrationId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="itemType"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="mRCCxTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="nRCCxTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="netPrice"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderHeaderId"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
					<xsd:element  name="parentProductId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="partNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="previousServiceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="product"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="productId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="productType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="rootOrderItemId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="rootProductId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceEndDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="serviceStartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="startPrice"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="status"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2InventorySerialNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ParentProdGlobalIdentifier"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ProdGlobalIdentifier"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2PromotionGlobalIdentifier"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ParentProductName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SIMResId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2LineItemRelationId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2OfferSubType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OfferType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrepaidCharge"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrepaidFrequency"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ProductSubType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2Renewal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="priceType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2GiftReceiverMSISDN"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2GiftingFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2GiftReceiverIMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2GiftReceiverSIMNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2GiftReceiverContractId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2GiftReceiverLineType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="listOforderItemXa"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOforderItemXa" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOfpayments" >
				<xsd:sequence >
					<xsd:element  name="payments"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:payments" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="payments" >
				<xsd:sequence >
					<xsd:element  name="id"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="accountNumber2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="authorizationCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="currencyCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="description"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string255" />
					<xsd:element  name="issuingBankName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="lineNumber3"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="payment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="paymentAccountId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="paymentDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="paymentMethod"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="paymentStatus"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="paymentType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="transactionAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="transactionType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerBSCSId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2MerchantId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ReceiptNo"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ShopId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TabsBillCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TabsServiceCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TerminalId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2Username"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOforderItemXa" >
				<xsd:sequence >
					<xsd:element  name="orderItemXa"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:orderItemXa" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="orderItemXa" >
				<xsd:sequence >
					<xsd:element  name="id"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="actionCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="attributeDescription"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="dataType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="dateValue"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="name"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string75" />
					<xsd:element  name="numericValue"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="objectId"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
					<xsd:element  name="orderHeaderId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="textValue"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:simpleType  name="string250" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="250" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string50" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="50" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string255" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="255" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string10" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="10" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string75" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="75" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string15" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="15" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string40" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="40" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string30" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="30" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string350" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="350" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string1" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="1" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string100" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="100" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string20" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="20" />
				</xsd:restriction >
			</xsd:simpleType >
		</xsd:schema >
	</types >
	<message  name="ExternalOrderCreation_Input" >
		<part  name="ExternalOrderCreation_Input"  element="tns:ExternalOrderCreation_Input" />
	</message >
	<message  name="ExternalOrderCreation_Output" >
		<part  name="ExternalOrderCreation_Output"  element="tns:ExternalOrderCreation_Output" />
	</message >
	<portType  name="ExternalOrderCreation" >
		<operation  name="ExternalOrderCreation" >
			<input  message="tns:ExternalOrderCreation_Input" />
			<output  message="tns:ExternalOrderCreation_Output" />
		</operation >
	</portType >
	<binding  name="ExternalOrderCreation"  type="tns:ExternalOrderCreation" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="ExternalOrderCreation" >
			<soap:operation  soapAction="document/http://siebel.com/ExternalOrderCreate:ExternalOrderCreation" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2CreateOrderWS" >
		<port  binding="tns:ExternalOrderCreation"  name="ExternalOrderCreation" >
			<soap:address  location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >