src/CommonProject/BusinessWSDLS/Services/CRM/http---siebel.com-CustomUI_CBiO2 Customer Query Workflow.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2CustomerCreationIo" type="xsdLocal1:ListOfCbio2CustomerCreationIo"/>
            <xsd:complexType name="ListOfCbio2CustomerCreationIoTopElmt">
                <xsd:sequence>
                    <xsd:element name="ListOfCbio2CustomerCreationIo" maxOccurs="1" minOccurs="1" type="xsdLocal1:ListOfCbio2CustomerCreationIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2CustomerCreationIo">
                <xsd:sequence>
                    <xsd:element name="Account" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="AccountNumber" maxOccurs="1" minOccurs="0" type="xsdLocal1:string31"/>
                    <xsd:element name="AccountStatus" maxOccurs="1" minOccurs="0" type="xsdLocal1:string25"/>
                    <xsd:element name="AccountStatusChangeReason" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="AccountStatusDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2AccountColorCode" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2AgeRange" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2AnnualAvgRev" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2ArabicFullName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string200"/>
                    <xsd:element name="CBiO2ArabicLastName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2ArabicSecondName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2ArabicThirdName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2ArabicTitle" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2BSCSId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2Behaviors" maxOccurs="1" minOccurs="0" type="xsdLocal1:string25"/>
                    <xsd:element name="CBiO2BillCycle" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2BloodGrp" maxOccurs="1" minOccurs="0" type="xsdLocal1:string4"/>
                    <xsd:element name="CBiO2BusinessUnit" maxOccurs="1" minOccurs="0" type="xsdLocal1:string10"/>
                    <xsd:element name="CBiO2CalcEntityBase" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CalcLines" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CalcM2MBase" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CalcProsumers" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CalcVoiceBase" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2Category" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2CompanyNameEng" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2ConnectionDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2ContractExpiresIn" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2ContractValue" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CreditNote" maxOccurs="1" minOccurs="0" type="xsdLocal1:string10"/>
                    <xsd:element name="CBiO2CustCreatedDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2CustEducation" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2CustMaritalStatus" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2CustProfession" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2DOB" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2DisconnectionDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2EnglishFirstName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2EnglishFullName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string200"/>
                    <xsd:element name="CBiO2EnglishLastName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2EnglishSecondName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2EnglishThirdName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string40"/>
                    <xsd:element name="CBiO2EnglishTitle" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2Gender" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2HomeNumber" maxOccurs="1" minOccurs="0" type="xsdLocal1:string20"/>
                    <xsd:element name="CBiO2IDExpDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2IDNumber" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2IDType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2Industry" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2KAMId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2Market" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2MonthlyAvgRev" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2Nationality" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2NickName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2OrgCategory" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2OrgSize" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2OrgType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2PRFlg" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2PortInFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2PortOutFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2PrefCommunicationChannel" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2PrefCommunicationTime" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2Recipient" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2ReferenceId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2RegisterZainFlg" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2RegistrationDate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2ResidencyType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2RiskLevel" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2SalesAgent" maxOccurs="1" minOccurs="0" type="xsdLocal1:string20"/>
                    <xsd:element name="CBiO2SalesCallingAllowFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2Sector" maxOccurs="1" minOccurs="0" type="xsdLocal1:string25"/>
                    <xsd:element name="CBiO2Segment" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2SisterCompany" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2Source" maxOccurs="1" minOccurs="0" type="xsdLocal1:string20"/>
                    <xsd:element name="CBiO2SubCorpSegment" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2SubMarket" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2SubMarketType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ClientFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="DontCall" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="FacilityFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="HouseholdHeadOccupation" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="HouseholdIncome" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Language" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="LanguageCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="MainEmailAddress" maxOccurs="1" minOccurs="0" type="xsdLocal1:string350"/>
                    <xsd:element name="MainFaxNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="MainPhoneNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Name" maxOccurs="1" minOccurs="1" type="xsdLocal1:string100"/>
                    <xsd:element name="ParentAccountId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Rate" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="Region" maxOccurs="1" minOccurs="0" type="xsdLocal1:string25"/>
                    <xsd:element name="RelationshipId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2NotificationNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2BSCSHierarchyId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ListOfCutAddress" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfCutAddress"/>
                    <xsd:element name="ListOfComInvoiceProfile" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfComInvoiceProfile"/>
                    <xsd:element name="ListOfOrganizationPaymentProfile" maxOccurs="1" minOccurs="0" type="xsdLocal1:ListOfOrganizationPaymentProfile"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCutAddress">
                <xsd:sequence>
                    <xsd:element name="CutAddress" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:CutAddress"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CutAddress">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="AddressName" maxOccurs="1" minOccurs="1" type="xsdLocal1:string100"/>
                    <xsd:element name="AddressType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ApartmentNumber" maxOccurs="1" minOccurs="0" type="xsdLocal1:string5"/>
                    <xsd:element name="CBiO2Avenue" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2Block" maxOccurs="1" minOccurs="0" type="xsdLocal1:string3"/>
                    <xsd:element name="CBiO2Building" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2Floor" maxOccurs="1" minOccurs="0" type="xsdLocal1:string3"/>
                    <xsd:element name="CBiO2Mail" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2POBox" maxOccurs="1" minOccurs="0" type="xsdLocal1:string15"/>
                    <xsd:element name="CBiO2PacciNumber" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2Status" maxOccurs="1" minOccurs="0" type="xsdLocal1:string25"/>
                    <xsd:element name="CBiO2StreetNumber" maxOccurs="1" minOccurs="0" type="xsdLocal1:string8"/>
                    <xsd:element name="City" maxOccurs="1" minOccurs="1" type="xsdLocal1:string50"/>
                    <xsd:element name="Country" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="LocationType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="Neighborhood" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="PostalCode" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="StreetAddress" maxOccurs="1" minOccurs="1" type="xsdLocal1:string200"/>
                    <xsd:element name="CBiOBSCSId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfComInvoiceProfile">
                <xsd:sequence>
                    <xsd:element name="ComInvoiceProfile" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:ComInvoiceProfile"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ComInvoiceProfile">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="BillFrequency" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="BillSource" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2CreditLimit" maxOccurs="1" minOccurs="0" type="xsdLocal1:string10"/>
                    <xsd:element name="CBiO2ExchangeRate" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2InvoiceFormat" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2MailType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2ModeofCommunciation" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2NotificationSubNumber" maxOccurs="1" minOccurs="0" type="xsdLocal1:string20"/>
                    <xsd:element name="CBiO2PrefferedLanguage" maxOccurs="1" minOccurs="0" type="xsdLocal1:string10"/>
                    <xsd:element name="CurrencyCode2" maxOccurs="1" minOccurs="0" type="xsdLocal1:string20"/>
                    <xsd:element name="EmailBillTo" maxOccurs="1" minOccurs="0" type="xsdLocal1:string350"/>
                    <xsd:element name="MediaType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="Name" maxOccurs="1" minOccurs="1" type="xsdLocal1:string100"/>
                    <xsd:element name="PrepaidSMSNotification" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2BSCSId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2BillCycle" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfOrganizationPaymentProfile">
                <xsd:sequence>
                    <xsd:element name="OrganizationPaymentProfile" maxOccurs="unbounded" minOccurs="0" type="xsdLocal1:OrganizationPaymentProfile"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganizationPaymentProfile">
                <xsd:sequence>
                    <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="AccountBankBranch" maxOccurs="1" minOccurs="0" type="xsdLocal1:string75"/>
                    <xsd:element name="AccountBankName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="AccountNumber2" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="AccountNumber-Display" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="CBiO2PaymentInstrument" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ExpirationMonth" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ExpirationYear" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="PaymentProfileType" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="ProfileStatus" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2BSCSId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2BankBSCSId" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                    <xsd:element name="CBiO2CCCompanyName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string75">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="75"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string350">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="350"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string31">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="31"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"/>
            <xsd:element name="CustomerQuery_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CBiO2MSISDN" type="xsd:string"/>
                        <xsd:element name="CBiO2CustomerId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CustomerQuery_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfCbio2CustomerCreationIo"/>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CustomerQuery_Input">
        <part name="CustomerQuery_Input" element="tns:CustomerQuery_Input"/>
    </message>
    <message name="CustomerQuery_Output">
        <part name="CustomerQuery_Output" element="tns:CustomerQuery_Output"/>
    </message>
    <portType name="CBiO2_spcCustomer_spcQuery_spcWorkflow">
        <operation name="CustomerQuery">
            <input message="tns:CustomerQuery_Input"/>
            <output message="tns:CustomerQuery_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcCustomer_spcQuery_spcWorkflow" type="tns:CBiO2_spcCustomer_spcQuery_spcWorkflow">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CustomerQuery">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CustomerQuery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcCustomer_spcQuery_spcWorkflow">
        <port binding="tns:CBiO2_spcCustomer_spcQuery_spcWorkflow" name="CBiO2_spcCustomer_spcQuery_spcWorkflow">
            <soap:address location="http://10.103.23.4/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=TIBCO&amp;Password=TIBCO123"/>
        </port>
    </service>
</definitions>