src/CommonProject/BusinessWSDLS/Services/CRM/http___siebel.com_CustomUI_CBiO2PrepaidOrderDetailsWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2PrepaidOrderHistory"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2PrepaidOrderHistory"
 targetNamespace="http://www.siebel.com/xml/CBiO2PrepaidOrderHistory"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2prepaidorderhistory"
 type="xsdLocal1:ListOfCbio2prepaidorderhistory"
></xsd:element
><xsd:complexType
 name="ListOfCbio2prepaidorderhistoryTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2prepaidorderhistory"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2prepaidorderhistory"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2prepaidorderhistory"
><xsd:sequence
><xsd:element
 name="Cbio2PrepaidOrderHistory"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Cbio2PrepaidOrderHistory"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Cbio2PrepaidOrderHistory"
><xsd:sequence
><xsd:element
 name="ErrorCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CwOrderNum"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CwOrderStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorMessage"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionRef"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="UserName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrepaidOrderHistoryServiceDetails"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:PrepaidOrderHistoryServiceDetails"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="PrepaidOrderHistoryServiceDetails"
><xsd:sequence
><xsd:element
 name="ActionCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EquipId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentEquipId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceStartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceEndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2PrepaidOrderHistory"
></xsd:import
><xsd:element
 name="PrepaidOrderDetails_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfCbio2prepaidorderhistory"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="PrepaidOrderDetails_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="PrepaidOrderDetails_Input"
><part
 name="PrepaidOrderDetails_Input"
 element="tns:PrepaidOrderDetails_Input"
></part
></message
><message
 name="PrepaidOrderDetails_Output"
><part
 name="PrepaidOrderDetails_Output"
 element="tns:PrepaidOrderDetails_Output"
></part
></message
><portType
 name="CBiO2_spcPrepaid_spcOrder_spcDetails_spcWorkflow"
><operation
 name="PrepaidOrderDetails"
><input
 message="tns:PrepaidOrderDetails_Input"
></input
><output
 message="tns:PrepaidOrderDetails_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcPrepaid_spcOrder_spcDetails_spcWorkflow"
 type="tns:CBiO2_spcPrepaid_spcOrder_spcDetails_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="PrepaidOrderDetails"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:PrepaidOrderDetails"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2PrepaidOrderDetailsWS"
><port
 binding="tns:CBiO2_spcPrepaid_spcOrder_spcDetails_spcWorkflow"
 name="CBiO2_spcPrepaid_spcOrder_spcDetails_spcWorkflow"
><soap:address
 location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>