src/CommonProject/BusinessWSDLS/Services/CRM/http___siebel.com_CustomUI_CBiO2_Query_Asset_Workflow.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Asset%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Asset%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Query%20Asset%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2QueryAssetIo" type="xsdLocal1:ListOfCbio2QueryAssetIo"/>
            <xsd:complexType name="ListOfCbio2QueryAssetIoTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfCbio2QueryAssetIo" type="xsdLocal1:ListOfCbio2QueryAssetIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2QueryAssetIo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Account" type="xsdLocal1:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BSCSId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfSubscribers" type="xsdLocal1:ListOfSubscribers"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfAssetMgmtAsset" type="xsdLocal1:ListOfAssetMgmtAsset"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfSubscribers">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="SubscriberInformation" type="xsdLocal1:SubscriberInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SubscriberInformation">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ArabicFullName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BSCSBillingAccountNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BSCSId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Behaviors2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CallDetails" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractEndDt" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractPeriod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractStartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CreatedBy" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CreatedDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerArabicFirstName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerArabicLastName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerArabicSecName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerArabicThirdName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerArabicTitle" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerBirthDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerBloodGroup" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerCategory" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerEngFirstName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerEngLastName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerEngNickName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerEngSecName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerEngThirdName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerExpiryDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerGender" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerIDNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerIDType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerLanguageCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerMaritalStatus" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerNationality" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerParentAccountName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerResidencyType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerTitle" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2DNId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2DefCreditLimit" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2DocumentSubmitted" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FirstCallDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IVRLang" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IVRPIN" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2LineType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2MSISDNCategory" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Market2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2MasterDataSharingNum" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2NotificationFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OldContract" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OptedCreditLimit" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PortInFlag2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PortOutFlag2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommChannel" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommEndTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommLangCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommLanguage" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommStartTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommTime" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ProsumerBase" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ReferredBy" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2RegistrationDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2RiskLevel" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SalesAgent" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SalesCallingFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Source" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SpendLimit" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2StatusChangeDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubMarket2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubsLocation" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberEmail" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberFaxPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberHomePhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberLifeCycleState" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberNotificationPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberStatus" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubscriberWorkPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2UpfrontPaymentFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VBMClassification" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VBMValue" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VPNCUGId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VPNPref" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VPNPrefixandShortCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VPNShortCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ZainStaffFlg" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ZainStaffNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ConnectionType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfAssetMgmtAsset">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="AssetMgmtAsset" type="xsdLocal1:AssetMgmtAsset"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AssetMgmtAsset">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AdjustedListPrice" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AssetDescription" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AssetId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AssetNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BasePrice" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BillingProfileId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BillingProfileName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBIO2InstallmentAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractEndDt" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractPeriod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractStartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CreatedBy" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CreatedDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2DNId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2DefCreditLimit2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FLEXCommitmentDiscountAmt" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FLEXCommitmentFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FLEXCommitmentPeriod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FLEXCommitmentPlan2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2FLEXCommitmentPlanId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IMSI" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2InstallmentEndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2InstallmentFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2InstallmentPeriod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2InstallmentStartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2InventoryFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2InventorySerialNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2MSISDNCategory" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2NoOfAdvRCBillCycle" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OfferSubType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OfferType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OldContract" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OldIMSI" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OpenCaseseStore" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ProsumerBase" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ReferredBy" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SIMCategory" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SIMResId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SIMType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2StatusChangeDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2UpfrontPaymentAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2UpfrontPaymentFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VPNCUGId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VPNPref" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveEndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IntegrationId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OwnerAccount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="OwnerAccountId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentAssetId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProdType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ProductName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductPartNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ProductType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Quantity2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RootAssetId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RootAssetNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="SerialNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2AutoRenewableFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2AutoRenewalDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2AutoRenewalFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ParentProdGlobalIdentifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ProdGlobalIdentifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PromotionGlobalIdentifier" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2VPNShortCode" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Query%20Asset%20IO"/>
            <xsd:element name="queryAsset_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="CustomerId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryAsset_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfCbio2QueryAssetIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="queryAsset_Input">
        <part element="tns:queryAsset_Input" name="queryAsset_Input"/>
    </message>
    <message name="queryAsset_Output">
        <part element="tns:queryAsset_Output" name="queryAsset_Output"/>
    </message>
    <portType name="CBiO2_spcQuery_spcAsset_spcWorkflow">
        <operation name="queryAsset">
            <input message="tns:queryAsset_Input"/>
            <output message="tns:queryAsset_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcQuery_spcAsset_spcWorkflow" type="tns:CBiO2_spcQuery_spcAsset_spcWorkflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="queryAsset">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:queryAsset"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcQuery_spcAsset_spcWorkflow">
        <port binding="tns:CBiO2_spcQuery_spcAsset_spcWorkflow" name="CBiO2_spcQuery_spcAsset_spcWorkflow">
            <soap:address location=" http://10.103.23.6:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>