src/CommonProject/BusinessWSDLS/Services/CRM/http---siebel.com-CustomUI_CBiO2SimulatePenalty.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Detail%20Commitment%20Resp%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Query%20Detail%20Commitment%20Resp%20IO"/>
            <xsd:element name="SimulatePenalty_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProductId" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="Action" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SimulatePenalty_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:ListOfCbio2QueryDetailCommitmentRespIo"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="TotalPenaltyAmount" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Detail%20Commitment%20Resp%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Query%20Detail%20Commitment%20Resp%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2QueryDetailCommitmentRespIo" type="xsdLocal1:ListOfCbio2QueryDetailCommitmentRespIo"/>
            <xsd:complexType name="ListOfCbio2QueryDetailCommitmentRespIoTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfCbio2QueryDetailCommitmentRespIo" type="xsdLocal1:ListOfCbio2QueryDetailCommitmentRespIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2QueryDetailCommitmentRespIo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ServiceAgreement" type="xsdLocal1:ServiceAgreement"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceAgreement">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="AgreementStatus" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="AgreementType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MSISDN" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ListOfCbio2LineItem" type="xsdLocal1:ListOfCbio2LineItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2LineItem">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Cbio2LineItem" type="xsdLocal1:Cbio2LineItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Cbio2LineItem">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ServiceName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StartDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PenaltyType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PenaltyAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PenaltyPeriod" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MonthDifference" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CommitmentAmount" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBIO2AssetIntegrationId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="SimulatePenalty_Input">
        <part element="tns:SimulatePenalty_Input" name="SimulatePenalty_Input"/>
    </message>
    <message name="SimulatePenalty_Output">
        <part element="tns:SimulatePenalty_Output" name="SimulatePenalty_Output"/>
    </message>
    <portType name="CBiO2_spcSimulate_spcPenalty_spcWF">
        <operation name="SimulatePenalty">
            <input message="tns:SimulatePenalty_Input"/>
            <output message="tns:SimulatePenalty_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcSimulate_spcPenalty_spcWF" type="tns:CBiO2_spcSimulate_spcPenalty_spcWF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SimulatePenalty">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:SimulatePenalty"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2SimulatePenalty">
        <port binding="tns:CBiO2_spcSimulate_spcPenalty_spcWF" name="CBiO2_spcSimulate_spcPenalty_spcWF">
            <soap:address location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>