src/CommonProject/BusinessWSDLS/Services/CRM/http---siebel.com-CustomUI_CBiO2 Query Customer KAM Workflow_08_10_2015.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO"/>
            <xsd:element name="queryKAM_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IdType" type="xsd:string"/>
                        <xsd:element name="IdNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryKAM_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:listOfCbio2KamQueryIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20KAM%20Query%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="listOfCbio2KamQueryIo" type="xsdLocal1:listOfCbio2KamQueryIo"/>
            <xsd:complexType name="listOfCbio2KamQueryIoTopElmt">
                <xsd:sequence>
                    <xsd:element name="listOfCbio2KamQueryIo" maxOccurs="1" minOccurs="1" type="xsdLocal1:listOfCbio2KamQueryIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfCbio2KamQueryIo">
                <xsd:sequence>
                    <xsd:element name="KAMDetails" maxOccurs="1" minOccurs="1" type="xsdLocal1:KAMDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="KAMDetails">
                <xsd:sequence>
                    <xsd:element name="activeEmail" maxOccurs="1" minOccurs="0" type="xsdLocal1:string100"/>
                    <xsd:element name="activeFirstName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="activeLastName" maxOccurs="1" minOccurs="0" type="xsdLocal1:string50"/>
                    <xsd:element name="activePhone" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </types>
    <message name="queryKAM_Input">
        <part name="queryKAM_Input" element="tns:queryKAM_Input"/>
    </message>
    <message name="queryKAM_Output">
        <part name="queryKAM_Output" element="tns:queryKAM_Output"/>
    </message>
    <portType name="CBiO2_spcQuery_spcCustomer_spcKAM_spcWorkflow">
        <operation name="queryKAM">
            <input message="tns:queryKAM_Input"/>
            <output message="tns:queryKAM_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcQuery_spcCustomer_spcKAM_spcWorkflow" type="tns:CBiO2_spcQuery_spcCustomer_spcKAM_spcWorkflow">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="queryKAM">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:queryKAM"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcQuery_spcCustomer_spcKAM_spcWorkflow">
        <port binding="tns:CBiO2_spcQuery_spcCustomer_spcKAM_spcWorkflow" name="CBiO2_spcQuery_spcCustomer_spcKAM_spcWorkflow">
            <soap:address location="http://10.103.23.104/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>