src/CommonProject/BusinessWSDLS/Services/CRM/http---siebel.com-CustomUI_CBiO2IVRPINResetWorkflow_21_Sep_2015.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="IVRPINReset_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IVRLang"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IVR_spcPIN"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="IVRPINReset_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="IVRPINReset_Input"
><part
 name="IVRPINReset_Input"
 element="tns:IVRPINReset_Input"
></part
></message
><message
 name="IVRPINReset_Output"
><part
 name="IVRPINReset_Output"
 element="tns:IVRPINReset_Output"
></part
></message
><portType
 name="CBiO2_spcIVR_spcPIN_spcReset_spcWorkflow"
><operation
 name="IVRPINReset"
><input
 message="tns:IVRPINReset_Input"
></input
><output
 message="tns:IVRPINReset_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcIVR_spcPIN_spcReset_spcWorkflow"
 type="tns:CBiO2_spcIVR_spcPIN_spcReset_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="IVRPINReset"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:IVRPINReset"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcIVR_spcPIN_spcReset_spcWorkflow"
><port
 binding="tns:CBiO2_spcIVR_spcPIN_spcReset_spcWorkflow"
 name="CBiO2_spcIVR_spcPIN_spcReset_spcWorkflow"
><soap:address
 location="http://10.103.23.4/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>