src/CommonProject/BusinessWSDLS/Services/CRM/http___siebel.com_CustomUI_CBiO2 SamsungAndroid Watch Add-Delete WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="AddWatch_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VendorCode" type="xsd:string"/>
                        <xsd:element name="NickName" type="xsd:string"/>
                        <xsd:element name="EID" type="xsd:string"/>
                        <xsd:element name="SimId" type="xsd:string"/>
                        <xsd:element name="Ki" type="xsd:string"/>
                        <xsd:element name="Puk1" type="xsd:string"/>
                        <xsd:element name="TransportKey" type="xsd:string"/>
                        <xsd:element name="ProductId" type="xsd:string"/>
                        <xsd:element name="Channel" type="xsd:string"/>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="SIMItemCode" type="xsd:string"/>
                        <xsd:element name="OrderDate" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="Pin2" type="xsd:string"/>
                        <xsd:element name="Pin1" type="xsd:string"/>
                        <xsd:element name="BSCSBillingAccountId" type="xsd:string"/>
                        <xsd:element name="Puk2" type="xsd:string"/>
                        <xsd:element name="Imsi" type="xsd:string"/>
                        <xsd:element name="HlcodePub" type="xsd:string"/>
                        <xsd:element name="CustomerId" type="xsd:string"/>
                        <xsd:element name="VendorId" type="xsd:string"/>
                        <xsd:element name="PrimaryIMSI" type="xsd:string"/>
                        <xsd:element name="ParentProductId" type="xsd:string"/>
                        <xsd:element name="SimType" type="xsd:string"/>
                        <xsd:element name="SimSerialNum" type="xsd:string"/>
                        <xsd:element name="ProductName" type="xsd:string"/>
                        <xsd:element name="TransactionId" type="xsd:string"/>
                        <xsd:element name="Operation" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddWatch_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BSCSBillingAccountId" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="OrderNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="AddWatch_Input">
        <part element="tns:AddWatch_Input" name="AddWatch_Input"/>
    </message>
    <message name="AddWatch_Output">
        <part element="tns:AddWatch_Output" name="AddWatch_Output"/>
    </message>
    <portType name="CBiO2_spcSamsung_slhAndroid_spcWatch_spcAdd-Delete_spcWS">
        <operation name="AddWatch">
            <input message="tns:AddWatch_Input"/>
            <output message="tns:AddWatch_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcSamsung_slhAndroid_spcWatch_spcAdd-Delete_spcWS" type="tns:CBiO2_spcSamsung_slhAndroid_spcWatch_spcAdd-Delete_spcWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AddWatch">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:AddWatch"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcSamsungAndroid_spcWatch_spcAdd-Delete_spcWS">
        <port binding="tns:CBiO2_spcSamsung_slhAndroid_spcWatch_spcAdd-Delete_spcWS" name="CBiO2_spcSamsung_slhAndroid_spcWatch_spcAdd-Delete_spcWS">
            <soap:address location="http://10.96.107.10:7777//eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>