src/CommonProject/BusinessWSDLS/Services/CRM/http---siebel.com-CustomUI_CBiO2 Auto Renewal Workflow_08_10_2015.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="autoRenewal_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="ProductGlobalIdentifier" type="xsd:string"/>
                        <xsd:element name="AutoRenewDate" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="autoRenewal_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="autoRenewal_Input">
        <part name="autoRenewal_Input" element="tns:autoRenewal_Input"/>
    </message>
    <message name="autoRenewal_Output">
        <part name="autoRenewal_Output" element="tns:autoRenewal_Output"/>
    </message>
    <portType name="CBiO2_spcAuto_spcRenewal_spcWorkflow">
        <operation name="autoRenewal">
            <input message="tns:autoRenewal_Input"/>
            <output message="tns:autoRenewal_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcAuto_spcRenewal_spcWorkflow" type="tns:CBiO2_spcAuto_spcRenewal_spcWorkflow">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="autoRenewal">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:autoRenewal"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcAuto_spcRenewal_spcWorkflow">
        <port binding="tns:CBiO2_spcAuto_spcRenewal_spcWorkflow" name="CBiO2_spcAuto_spcRenewal_spcWorkflow">
            <soap:address location="http://10.103.23.104/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>