src/CommonProject/BusinessWSDLS/Services/CRM/http---siebel.com-CustomUI_CBiO2 Port Out Request.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20MNP%20IO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2%20MNP%20IO"
></xsd:import
><xsd:element
 name="NPCDBPortOutRequest_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CustomerName"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerIDType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CustomerType"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfCbio2MnpIo"
></xsd:element
><xsd:element
 name="CustomerID"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DOB"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="NPCDBPortOutRequest_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ServiceRequestId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20MNP%20IO"
 targetNamespace="http://www.siebel.com/xml/CBiO2%20MNP%20IO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2MnpIo"
 type="xsdLocal1:ListOfCbio2MnpIo"
></xsd:element
><xsd:complexType
 name="ListOfCbio2MnpIoTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2MnpIo"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2MnpIo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2MnpIo"
><xsd:sequence
><xsd:element
 name="ServiceRequest"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:ServiceRequest"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ServiceRequest"
><xsd:sequence
><xsd:element
 name="CBiO2BlockOrderCount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2BlockOrderID"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2DonorId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2EmergencyRestoreId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string250"
></xsd:element
><xsd:element
 name="CBiO2MessageID"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string250"
></xsd:element
><xsd:element
 name="CBiO2NPOrderId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="CBiO2PaymentCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="CBiO2PortingTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2RecipientId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2SenderId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="CBiO2ServiceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2SubscriptionType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2ValidationMSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="ListOfCbio2Mnp"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfCbio2Mnp"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2Mnp"
><xsd:sequence
><xsd:element
 name="Cbio2Mnp"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Cbio2Mnp"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Cbio2Mnp"
><xsd:sequence
><xsd:element
 name="CBiO2LineType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2MSISDN"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="CBiO2Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string250"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="250"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string100"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="100"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="NPCDBPortOutRequest_Input"
><part
 name="NPCDBPortOutRequest_Input"
 element="tns:NPCDBPortOutRequest_Input"
></part
></message
><message
 name="NPCDBPortOutRequest_Output"
><part
 name="NPCDBPortOutRequest_Output"
 element="tns:NPCDBPortOutRequest_Output"
></part
></message
><portType
 name="CBiO2PortOutRequest"
><operation
 name="NPCDBPortOutRequest"
><input
 message="tns:NPCDBPortOutRequest_Input"
></input
><output
 message="tns:NPCDBPortOutRequest_Output"
></output
></operation
></portType
><binding
 name="CBiO2PortOutRequest"
 type="tns:CBiO2PortOutRequest"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="NPCDBPortOutRequest"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:NPCDBPortOutRequest"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcPort_spcOut_spcRequest"
><port
 binding="tns:CBiO2PortOutRequest"
 name="CBiO2PortOutRequest"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>