src/CommonProject/BusinessWSDLS/Services/CRM/http___siebel.com_CustomUI_CBiO2 First Call Activation_16_Sep_2015.WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="firstCallActivation_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="FirstCallDate" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="firstCallActivation_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="firstCallActivation_Input">
        <part name="firstCallActivation_Input" element="tns:firstCallActivation_Input"/>
    </message>
    <message name="firstCallActivation_Output">
        <part name="firstCallActivation_Output" element="tns:firstCallActivation_Output"/>
    </message>
    <portType name="CBiO2_spcFirst_spcCall_spcActivation_spcWorkflow">
        <operation name="firstCallActivation">
            <input message="tns:firstCallActivation_Input"/>
            <output message="tns:firstCallActivation_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcFirst_spcCall_spcActivation_spcWorkflow" type="tns:CBiO2_spcFirst_spcCall_spcActivation_spcWorkflow">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="firstCallActivation">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:firstCallActivation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcFirst_spcCall_spcActivation_spcWorkflow">
        <port binding="tns:CBiO2_spcFirst_spcCall_spcActivation_spcWorkflow" name="CBiO2_spcFirst_spcCall_spcActivation_spcWorkflow">
            <soap:address location="http://localhost/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>