src/CommonProject/BusinessWSDLS/Services/CRM/http___siebel.com_ExternalOrder_CBiO2ProductValidationWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/ExternalOrder"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/ExternalOrder"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/ExternalOrder"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="CheckProductEligibility_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ProductId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MSISDN"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CheckProductEligibility_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="CheckProductEligibility_Input"
><part
 name="CheckProductEligibility_Input"
 element="tns:CheckProductEligibility_Input"
></part
></message
><message
 name="CheckProductEligibility_Output"
><part
 name="CheckProductEligibility_Output"
 element="tns:CheckProductEligibility_Output"
></part
></message
><portType
 name="CheckProductEligibility"
><operation
 name="CheckProductEligibility"
><input
 message="tns:CheckProductEligibility_Input"
></input
><output
 message="tns:CheckProductEligibility_Output"
></output
></operation
></portType
><binding
 name="CheckProductEligibility"
 type="tns:CheckProductEligibility"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CheckProductEligibility"
><soap:operation
 soapAction="document/http://siebel.com/ExternalOrder:CheckProductEligibility"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2ProductValidationWS"
><port
 binding="tns:CheckProductEligibility"
 name="CheckProductEligibility"
><soap:address
 location="http://10.103.23.6:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>