src/CommonProject/BusinessWSDLS/Services/CRM/http---siebel.com-CustomUI_CBiO2DemographicUpdateWorkflow.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"
></xsd:import
><xsd:element
 name="updatedemographicInfo_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="OperationType"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfCbio2CustomerCreationIo"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="updatedemographicInfo_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"
 targetNamespace="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfCbio2CustomerCreationIo"
 type="xsdLocal1:ListOfCbio2CustomerCreationIo"
></xsd:element
><xsd:complexType
 name="ListOfCbio2CustomerCreationIoTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfCbio2CustomerCreationIo"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfCbio2CustomerCreationIo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCbio2CustomerCreationIo"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="AccountNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="AccountStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string25"
></xsd:element
><xsd:element
 name="AccountStatusChangeReason"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="AccountStatusDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2AccountColorCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2AgeRange"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2AnnualAvgRev"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ArabicFullName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string200"
></xsd:element
><xsd:element
 name="CBiO2ArabicLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2ArabicSecondName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2ArabicThirdName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2ArabicTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2BSCSId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2Behaviors"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string25"
></xsd:element
><xsd:element
 name="CBiO2BillCycle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2BloodGrp"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string4"
></xsd:element
><xsd:element
 name="CBiO2BusinessUnit"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string10"
></xsd:element
><xsd:element
 name="CBiO2CalcEntityBase"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2CalcLines"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2CalcM2MBase"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2CalcProsumers"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2CalcVoiceBase"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Category"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2CompanyNameEng"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2ConnectionDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ContractExpiresIn"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2ContractValue"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2CreditNote"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string10"
></xsd:element
><xsd:element
 name="CBiO2CustCreatedDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2CustEducation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2CustMaritalStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2CustProfession"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2DOB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2DisconnectionDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2EnglishFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2EnglishFullName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string200"
></xsd:element
><xsd:element
 name="CBiO2EnglishLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2EnglishSecondName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2EnglishThirdName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2EnglishTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2Gender"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2HomeNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="CBiO2IDExpDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2IDNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2IDType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2Industry"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2KAMId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2Market"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2MonthlyAvgRev"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Nationality"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2NickName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2OrgCategory"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2OrgSize"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2OrgType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2PRFlg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2PortInFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2PortOutFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2PrefCommunicationChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2PrefCommunicationTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2Recipient"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2ReferenceId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2RegisterZainFlg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2RegistrationDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2ResidencyType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2RiskLevel"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2SalesAgent"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="CBiO2SalesCallingAllowFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2Sector"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string25"
></xsd:element
><xsd:element
 name="CBiO2Segment"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2SisterCompany"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2Source"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string20"
></xsd:element
><xsd:element
 name="CBiO2SubCorpSegment"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2SubMarket"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2SubMarketType"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="ClientFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DontCall"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FacilityFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HouseholdHeadOccupation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="HouseholdIncome"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Language"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LanguageCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MainEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string350"
></xsd:element
><xsd:element
 name="MainFaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MainPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MasterAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string100"
></xsd:element
><xsd:element
 name="ParentAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Rate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Region"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string25"
></xsd:element
><xsd:element
 name="RelationshipId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2NotificationNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2BSCSHierarchyId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2BSCSStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2ArabicFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string40"
></xsd:element
><xsd:element
 name="CBiO2ActionPerformed"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2AccountSequenceNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string50"
></xsd:element
><xsd:element
 name="CBiO2CustomerLevel"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2PrefCommStartTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
><xsd:element
 name="CBiO2PrefCommEndTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string10"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="10"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string40"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="40"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string350"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="350"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string25"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="25"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string100"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="100"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string200"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="200"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string20"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="20"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string4"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="4"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="updatedemographicInfo_Input"
><part
 name="updatedemographicInfo_Input"
 element="tns:updatedemographicInfo_Input"
></part
></message
><message
 name="updatedemographicInfo_Output"
><part
 name="updatedemographicInfo_Output"
 element="tns:updatedemographicInfo_Output"
></part
></message
><portType
 name="CBiO2_spcDemographic_spcUpdate_spcWorkflow"
><operation
 name="updatedemographicInfo"
><input
 message="tns:updatedemographicInfo_Input"
></input
><output
 message="tns:updatedemographicInfo_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcDemographic_spcUpdate_spcWorkflow"
 type="tns:CBiO2_spcDemographic_spcUpdate_spcWorkflow"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="updatedemographicInfo"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:updatedemographicInfo"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2_spcDemographic_spcUpdate_spcWorkflow"
><port
 binding="tns:CBiO2_spcDemographic_spcUpdate_spcWorkflow"
 name="CBiO2_spcDemographic_spcUpdate_spcWorkflow"
><soap:address
 location="http://10.103.23.6:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>