src/CommonProject/BusinessWSDLS/Services/CRM/http___siebel.com_CustomUI_CBiO2 TOSA Preferred Number External Channel WF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="CBiO2TOSAService_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TotalAmount" type="xsd:string"/>
                        <xsd:element name="SMS" type="xsd:string"/>
                        <xsd:element name="TransactionNum" type="xsd:string"/>
                        <xsd:element name="SubscriberNum" type="xsd:string"/>
                        <xsd:element name="Username" type="xsd:string"/>
                        <xsd:element name="PrefNum" type="xsd:string"/>
                        <xsd:element name="Source" type="xsd:string"/>
                        <xsd:element name="ActionCode" type="xsd:string"/>
                        <xsd:element name="NewPrefNum" type="xsd:string"/>
                        <xsd:element name="Comment" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2TOSAService_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorDescription" type="xsd:string"/>
                        <xsd:element name="ErrorSource" type="xsd:string"/>
                        <xsd:element name="ResponseCode" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CBiO2TOSAService_Input">
        <part element="tns:CBiO2TOSAService_Input" name="CBiO2TOSAService_Input"/>
    </message>
    <message name="CBiO2TOSAService_Output">
        <part element="tns:CBiO2TOSAService_Output" name="CBiO2TOSAService_Output"/>
    </message>
    <portType name="CBiO2_spcTOSA_spcPreferred_spcNumber_spcExternal_spcChannel_spcWF">
        <operation name="CBiO2TOSAService">
            <input message="tns:CBiO2TOSAService_Input"/>
            <output message="tns:CBiO2TOSAService_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcTOSA_spcPreferred_spcNumber_spcExternal_spcChannel_spcWF" type="tns:CBiO2_spcTOSA_spcPreferred_spcNumber_spcExternal_spcChannel_spcWF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CBiO2TOSAService">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2TOSAService"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcTOSA_spcPreferred_spcNumber_spcExternal_spcChannel_spcWF">
        <port binding="tns:CBiO2_spcTOSA_spcPreferred_spcNumber_spcExternal_spcChannel_spcWF" name="CBiO2_spcTOSA_spcPreferred_spcNumber_spcExternal_spcChannel_spcWF">
            <soap:address location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>