src/CommonProject/BusinessWSDLS/Services/CRM/ListOfCBiO2DemographicModificationResIO_18_Nov_2015.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO"/>
            <xsd:element name="updatedemographicInfo_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OperationType" type="xsd:string"/>
                        <xsd:element ref="xsdLocal1:ListOfCbio2CustomerCreationIo"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updatedemographicInfo_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_spcCode" type="xsd:string"/>
                        <xsd:element name="Error_spcMessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Customer%20Creation%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ListOfCbio2CustomerCreationIo" type="xsdLocal1:ListOfCbio2CustomerCreationIo"/>
            <xsd:complexType name="ListOfCbio2CustomerCreationIoTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfCbio2CustomerCreationIo" type="xsdLocal1:ListOfCbio2CustomerCreationIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListOfCbio2CustomerCreationIo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Account" type="xsdLocal1:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AccountStatus" type="xsdLocal1:string25"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AccountStatusChangeReason" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="AccountStatusDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2AccountColorCode" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2AgeRange" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2AnnualAvgRev" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ArabicFullName" type="xsdLocal1:string200"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ArabicLastName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ArabicSecondName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ArabicThirdName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ArabicTitle" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BSCSId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Behaviors" type="xsdLocal1:string25"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BillCycle" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BloodGrp" type="xsdLocal1:string4"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BusinessUnit" type="xsdLocal1:string10"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CalcEntityBase" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CalcLines" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CalcM2MBase" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CalcProsumers" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CalcVoiceBase" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Category" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CompanyNameEng" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ConnectionDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractExpiresIn" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ContractValue" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CreditNote" type="xsdLocal1:string10"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustCreatedDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustEducation" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustMaritalStatus" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustProfession" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2DOB" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2DisconnectionDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2EnglishFirstName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2EnglishFullName" type="xsdLocal1:string200"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2EnglishLastName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2EnglishSecondName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2EnglishThirdName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2EnglishTitle" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Gender" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2HomeNumber" type="xsdLocal1:string20"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IDExpDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IDNumber" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2IDType" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Industry" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2KAMId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Market" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2MonthlyAvgRev" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Nationality" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2NickName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OrgCategory" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OrgSize" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2OrgType" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PRFlg" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PortInFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PortOutFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommunicationChannel" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommunicationTime" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Recipient" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ReferenceId" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2RegisterZainFlg" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2RegistrationDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ResidencyType" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2RiskLevel" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SalesAgent" type="xsdLocal1:string20"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SalesCallingAllowFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Sector" type="xsdLocal1:string25"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Segment" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SisterCompany" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2Source" type="xsdLocal1:string20"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubCorpSegment" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubMarket" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2SubMarketType" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ClientFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DontCall" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FacilityFlag" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="HouseholdHeadOccupation" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="HouseholdIncome" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Language" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="LanguageCode" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MainEmailAddress" type="xsdLocal1:string350"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MainFaxNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MainPhoneNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MasterAccountId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsdLocal1:string100"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ParentAccountId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Rate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Region" type="xsdLocal1:string25"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RelationshipId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2NotificationNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BSCSHierarchyId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2BSCSStatusCode" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ArabicFirstName" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2ActionPerformed" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2AccountSequenceNumber" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2CustomerLevel" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommStartTime" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PrefCommEndTime" type="xsdLocal1:string30"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string350">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="350"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string200">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </types>
    <message name="updatedemographicInfo_Input">
        <part name="updatedemographicInfo_Input" element="tns:updatedemographicInfo_Input"/>
    </message>
    <message name="updatedemographicInfo_Output">
        <part name="updatedemographicInfo_Output" element="tns:updatedemographicInfo_Output"/>
    </message>
    <portType name="CBiO2_spcDemographic_spcUpdate_spcWorkflow">
        <operation name="updatedemographicInfo">
            <input message="tns:updatedemographicInfo_Input"/>
            <output message="tns:updatedemographicInfo_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcDemographic_spcUpdate_spcWorkflow" type="tns:CBiO2_spcDemographic_spcUpdate_spcWorkflow">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="updatedemographicInfo">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:updatedemographicInfo"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcDemographic_spcUpdate_spcWorkflow">
        <port binding="tns:CBiO2_spcDemographic_spcUpdate_spcWorkflow" name="CBiO2_spcDemographic_spcUpdate_spcWorkflow">
            <soap:address location="http://10.103.23.6:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>