src/CommonProject/BusinessWSDLS/Services/CRM/OrderInstallationDetailsQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Order%20Installation%20Details%20IO"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Order%20Installation%20Details%20IO"  targetNamespace="http://www.siebel.com/xml/CBiO2%20Order%20Installation%20Details%20IO"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="ListOfCbio2OrderInstallationDetailsIo"  type="xsdLocal1:ListOfCbio2OrderInstallationDetailsIo" />
			<xsd:complexType  name="ListOfCbio2OrderInstallationDetailsIoTopElmt" >
				<xsd:sequence >
					<xsd:element  name="ListOfCbio2OrderInstallationDetailsIo"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:ListOfCbio2OrderInstallationDetailsIo" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2OrderInstallationDetailsIo" >
				<xsd:sequence >
					<xsd:element  name="OrderEntry-OrdersInternal"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:OrderEntry-OrdersInternal" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="OrderEntry-OrdersInternal" >
				<xsd:sequence >
					<xsd:element  name="OrderNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Status"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="ListOfCbio2InstallationDetailsOrderBc"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:ListOfCbio2InstallationDetailsOrderBc" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2InstallationDetailsOrderBc" >
				<xsd:sequence >
					<xsd:element  name="Cbio2InstallationDetailsOrderBc"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Cbio2InstallationDetailsOrderBc" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Cbio2InstallationDetailsOrderBc" >
				<xsd:sequence >
					<xsd:element  name="CallerNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CellId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="ChampionName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Contact"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CustomerCategory"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CustomerIdNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CustomerNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="DeliveryTime"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Description"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="IntSector"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Language"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="Location"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="OrderNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="PONumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="PrefferedContact1"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="PrefferedContact2"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="PrimaryMSISDN"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="SolutionType"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="SubscriberVBM"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="TacId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="ZoneId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
				</xsd:sequence >
			</xsd:complexType >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2%20Order%20Installation%20Details%20IO" />
			<xsd:element  name="OrderInstallationDetailsQuery_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="OrderNumber"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="OrderInstallationDetailsQuery_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  ref="xsdLocal1:ListOfCbio2OrderInstallationDetailsIo" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
	</types >
	<message  name="OrderInstallationDetailsQuery_Input" >
		<part  name="OrderInstallationDetailsQuery_Input"  element="tns:OrderInstallationDetailsQuery_Input" />
	</message >
	<message  name="OrderInstallationDetailsQuery_Output" >
		<part  name="OrderInstallationDetailsQuery_Output"  element="tns:OrderInstallationDetailsQuery_Output" />
	</message >
	<portType  name="CBiO2_spcOrder_spcInstallation_spcDetails_spcQuery_spcWF" >
		<operation  name="OrderInstallationDetailsQuery" >
			<input  message="tns:OrderInstallationDetailsQuery_Input" />
			<output  message="tns:OrderInstallationDetailsQuery_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcOrder_spcInstallation_spcDetails_spcQuery_spcWF"  type="tns:CBiO2_spcOrder_spcInstallation_spcDetails_spcQuery_spcWF" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="OrderInstallationDetailsQuery" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:OrderInstallationDetailsQuery" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2_spcOrder_spcInstallation_spcDetails_spcQuery_spcWF" >
		<port  binding="tns:CBiO2_spcOrder_spcInstallation_spcDetails_spcQuery_spcWF"  name="CBiO2_spcOrder_spcInstallation_spcDetails_spcQuery_spcWF" >
			<soap:address  location="http://10.223.148.22:7777/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >