src/CommonProject/BusinessWSDLS/Services/CRM/PACIAuthenticationFinalResponsews.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20PACI%20User%20Info%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20PACI%20User%20Info%20IO"/>
            <xsd:element name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:CBiO2PACIUserInfoIO"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20PACI%20User%20Info%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20PACI%20User%20Info%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="CBiO2PACIUserInfoIO" type="xsdLocal1:CBiO2PACIUserInfoIO"/>
            <xsd:complexType name="CBiO2PACIUserInfoIOTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="CBiO2PACIUserInfoIO" type="xsdLocal1:CBiO2PACIUserInfoIO"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2PACIUserInfoIO">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CBiO2PACIUserInfo" type="xsdLocal1:CBiO2PACIUserInfo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2PACIUserInfo">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CivilID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IdType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BiometricJobId" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="TransactionRefNum" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName1" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName3" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ArabicName4" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName2" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName3" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName1" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="EnglishName4" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Gender" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Sex" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Nationality" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Birthday" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="CardExpiryDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="DocumentNo" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="MOIRef" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="StreetName" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="UnitType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Floor" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BloodType" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FullNameEn" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Governerate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="PaciBuildingNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="RequestID" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FullNameAr" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Area" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Sponsor" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BuildingNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="BlockNumber" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Profession" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ResidencyType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Input">
        <part element="tns:CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Input" name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Input"/>
    </message>
    <message name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Output">
        <part element="tns:CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Output" name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Output"/>
    </message>
    <portType name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse">
        <operation name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS">
            <input message="tns:CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Input"/>
            <output message="tns:CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse" type="tns:CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse_spcWS">
        <port binding="tns:CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse" name="CBiO2_spcPACI_spcAuthentication_spcFinal_spcResponse">
            <soap:address location="http://10.63.238.112:7777/eai_anon_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>