src/CommonProject/BusinessWSDLS/Services/CRM/QueryOrderDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Order%20Details%20Biometrics%20IO"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2%20Order%20Details%20Biometrics%20IO" />
			<xsd:element  name="QueryOrderDetails_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="OrderNumber"  type="xsd:string" />
						<xsd:element  name="CustomerPreferredLanguage"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="QueryOrderDetails_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="ErrorAdditionalDesc1"  type="xsd:string" />
						<xsd:element  name="ErrorAdditionalDesc2"  type="xsd:string" />
						<xsd:element  name="ErrorOccuranceTime"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorSourceErrDesc"  type="xsd:string" />
						<xsd:element  name="ErrorSourceSystem"  type="xsd:string" />
						<xsd:element  name="ErrorType"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrCode"  type="xsd:string" />
						<xsd:element  name="ErrorUserErrDesc"  type="xsd:string" />
						<xsd:element  ref="xsdLocal1:ListOfCBiO2OrderDetailsBiometricsIO" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Order%20Details%20Biometrics%20IO"  targetNamespace="http://www.siebel.com/xml/CBiO2%20Order%20Details%20Biometrics%20IO"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="ListOfCBiO2OrderDetailsBiometricsIO"  type="xsdLocal1:ListOfCBiO2OrderDetailsBiometricsIO" />
			<xsd:complexType  name="ListOfCBiO2OrderDetailsBiometricsIOTopElmt" >
				<xsd:sequence >
					<xsd:element  name="ListOfCBiO2OrderDetailsBiometricsIO"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:ListOfCBiO2OrderDetailsBiometricsIO" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCBiO2OrderDetailsBiometricsIO" >
				<xsd:sequence >
					<xsd:element  name="OrderHeader"  maxOccurs="unbounded"  minOccurs="1"  type="xsdLocal1:OrderHeader" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="OrderHeader" >
				<xsd:sequence >
					<xsd:element  name="accountId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="agreementId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="agreementName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="asOfDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="billingProfileId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2CWServiceOrderNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2CreatedDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2CreatedbyPerson"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2OrderSubType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2OrderType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SalesChannel"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cancelReason"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="changeReason"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="comments"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string250" />
					<xsd:element  name="currencyCode"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string20" />
					<xsd:element  name="mRCTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="costomerEmailAddress"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string350" />
					<xsd:element  name="nRCTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderNumber"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="orderPriority"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="orderTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderType"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="pdfsourcepath"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string250" />
					<xsd:element  name="primaryOrganization"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="requestedShipDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="revision"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceRequestId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceRequestNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="pdfurl"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string250" />
					<xsd:element  name="status"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SalesAgentId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2SalesAgentName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TotalRCAdvance"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2TotalNRCUpfront"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2DepositAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2ShopId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ShopName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ShopType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BatchFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
					<xsd:element  name="cBiO2BatchNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ArabicFullName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2EnglishFullName"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2BSCSCustomerId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BillCycle"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BusinessUnit"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2CustomerType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerPrefLanguageCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2PrefCommunicationChannel"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommStartTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommEndTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2NotificationNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="cBiO2CustomerSegment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerSubCorporateSegment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ZainStaffId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2KAMId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2KAM"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2BulkRequestId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2OldAccountId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2OldArabicFullName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2OldBSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OldBSCSCustomerId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OldBillCycle"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OldBillingProfileId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2OldCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2OldEnglishFullName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2OldNotificationNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2NPOrderId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2WarehouseCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2OldContractCode"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2AccountIDNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="CBiO2AccountIDType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="listOfSubscriber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOfSubscriber" />
					<xsd:element  name="listOfOrderLineItems"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOfOrderLineItems" />
					<xsd:element  name="listOfPayments"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOfPayments" />
					<xsd:element  name="listOfLegalText"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:listOfLegalText" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOfSubscriber" >
				<xsd:sequence >
					<xsd:element  name="Subscriber"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Subscriber" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Subscriber" >
				<xsd:sequence >
					<xsd:element  name="id"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="billingProfileId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="billingProfileName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2ContractEndDt"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2ContractStartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2CreatedBy"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CreatedDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2DefCreditLimit"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2IVRLang"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2LineType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OptedCreditLimit"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string10" />
					<xsd:element  name="cBiO2PrefCommChannel"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SalesCallingFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
					<xsd:element  name="cBiO2SubscriberEmail"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SubscriberNo"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SubscriberNotificationPhone"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="integrationId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="previousServiceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="product"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="endDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="startDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2SubscriberPrefLanguageCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="cBiO2SubscriberStatus"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="productType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BSCSContractId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommStartTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrefCommEndTime"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2Market"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2SubMarket"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2CallDetails"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="cBiO2SubscriberFullNameArabic"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2SubscriberFullNameEnglish"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2Location"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2SpendLimit"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2DNId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2VPNCommunityId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2VPNShortCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2IMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SIMNum"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2CCExemptionFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
					<xsd:element  name="cBiO2SubscriberFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
					<xsd:element  name="cBiO2CollectionExemptionFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOfOrderLineItems" >
				<xsd:sequence >
					<xsd:element  name="OrderLineItems"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:OrderLineItems" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="OrderLineItems" >
				<xsd:sequence >
					<xsd:element  name="id"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="actionCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="billingProfileId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="billingProfileName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBIO2AdvanceRCAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBIO2InstallmentAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2AdvanceRCPaymentFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2IMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2InstallmentEndDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2InstallmentFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2InstallmentPeriod"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2InstallmentStartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2InventoryFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2MSISDNCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2NoOfAdvRCBillCycle"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OldIMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2PosttoInvoiceAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2PosttoInvoiceFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2SIMCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SIMNum"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2SIMType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2UpfrontPaymentAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2UpfrontPaymentFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="discountAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="discountPercent"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="dueDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="integrationId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="itemType"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="mRCCxTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="nRCCxTotal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="netPrice"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderHeaderId"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
					<xsd:element  name="parentProductId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="partNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="previousServiceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="product"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="productId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="productType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="rootOrderItemId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="rootProductId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceEndDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="serviceId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="serviceStartDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="startPrice"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="status"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2InventorySerialNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ParentProdGlobalIdentifier"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ProdGlobalIdentifier"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2PromotionGlobalIdentifier"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2ParentProductName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2SIMResId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2LineItemRelationId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OfferSubType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2OfferType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrepaidCharge"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PrepaidFrequency"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ProductSubType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2Renewal"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="priceType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2GiftReceiverMSISDN"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2GiftingFlag"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2GiftReceiverIMSI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2GiftReceiverSIMNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2GiftReceiverContractId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2GiftReceiverLineType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2APN"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2ItemCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2KI"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2PIN1"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PIN2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PUK1"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PUK2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ICCID"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2DataSharingflag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
					<xsd:element  name="cBiO2NewSharedValue"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2OldSharedValue"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2Volume"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2SharedServiceCFSId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="cBiO2SharedServiceName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="cBiO2UOM"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="cBiO2VendorCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="quantity"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2PreviousQuantity"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="cBiO2ReservationNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ReservedFlag"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string1" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOfPayments" >
				<xsd:sequence >
					<xsd:element  name="Payments"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Payments" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Payments" >
				<xsd:sequence >
					<xsd:element  name="id"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="accountNumber2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="authorizationCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="currencyCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string20" />
					<xsd:element  name="description"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string255" />
					<xsd:element  name="expirationMonth"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="expirationYear"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="issuingBankName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="lineNumber3"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="orderNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="payment"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="paymentAccountId"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="paymentDate"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="paymentMethod"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="paymentStatus"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="paymentType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="transactionAmount"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="transactionType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2BSCSBillingAccountNumber"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerBSCSId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2CustomerCategory"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2MerchantId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ReceiptNo"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2ShopId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TabsBillCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TabsServiceCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2TerminalId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2Username"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="cBiO2PayDesk"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="listOfLegalText" >
				<xsd:sequence >
					<xsd:element  name="LegalText"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:LegalText" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="LegalText" >
				<xsd:sequence >
					<xsd:element  name="legalTextId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="packageTermId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="packageTermText"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR10"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR3"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR4"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR5"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR6"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR7"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR8"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextAR9"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN10"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN3"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN4"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN5"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN6"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN7"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN8"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="packageTermTextEN9"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="productTermId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string15" />
					<xsd:element  name="productTermText"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR10"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR3"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR4"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR5"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR6"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR7"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR8"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextAR9"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN10"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN2"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN3"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN4"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN5"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN6"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN7"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN8"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="productTermTextEN9"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string2000" />
					<xsd:element  name="serviceType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:simpleType  name="string250" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="250" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string2000" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="2000" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string50" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="50" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string255" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="255" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string10" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="10" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string15" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="15" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string40" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="40" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string30" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="30" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string350" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="350" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string1" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="1" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string100" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="100" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string20" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="20" />
				</xsd:restriction >
			</xsd:simpleType >
		</xsd:schema >
	</types >
	<message  name="QueryOrderDetails_Input" >
		<part  name="QueryOrderDetails_Input"  element="tns:QueryOrderDetails_Input" />
	</message >
	<message  name="QueryOrderDetails_Output" >
		<part  name="QueryOrderDetails_Output"  element="tns:QueryOrderDetails_Output" />
	</message >
	<portType  name="CBiO2_spcQuery_spcOrder_spcDetails_spcBiometrics_spcWFP" >
		<operation  name="QueryOrderDetails" >
			<input  message="tns:QueryOrderDetails_Input" />
			<output  message="tns:QueryOrderDetails_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcQuery_spcOrder_spcDetails_spcBiometrics_spcWFP"  type="tns:CBiO2_spcQuery_spcOrder_spcDetails_spcBiometrics_spcWFP" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="QueryOrderDetails" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:QueryOrderDetails" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="QueryOrderDetailsWS" >
		<port  binding="tns:CBiO2_spcQuery_spcOrder_spcDetails_spcBiometrics_spcWFP"  name="CBiO2_spcQuery_spcOrder_spcDetails_spcBiometrics_spcWFP" >
			<soap:address  location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >