src/CommonProject/BusinessWSDLS/Services/CRM/QueryUserWarehouseDetails_v1.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:element
 name="QueryUserWarehouse_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="LoginUserId"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="QueryUserWarehouse_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="ErrorAdditionalDesc1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorAdditionalDesc2"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorOccuranceTime"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorSourceSystem"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorStep"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorType"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ErrorUserErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PayDesk"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RetailerCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RetailerDescription"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ShopId"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WareHouseCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WarehouseCategory"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WarehouseDescription"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="QueryUserWarehouse_Input"
><part
 name="QueryUserWarehouse_Input"
 element="tns:QueryUserWarehouse_Input"
></part
></message
><message
 name="QueryUserWarehouse_Output"
><part
 name="QueryUserWarehouse_Output"
 element="tns:QueryUserWarehouse_Output"
></part
></message
><portType
 name="CBiO2_spcQuery_spcUser_spcWarehouse_spcDetails_spcWF"
><operation
 name="QueryUserWarehouse"
><input
 message="tns:QueryUserWarehouse_Input"
></input
><output
 message="tns:QueryUserWarehouse_Output"
></output
></operation
></portType
><binding
 name="CBiO2_spcQuery_spcUser_spcWarehouse_spcDetails_spcWF"
 type="tns:CBiO2_spcQuery_spcUser_spcWarehouse_spcDetails_spcWF"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="QueryUserWarehouse"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:QueryUserWarehouse"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2QueryUserWarehouseDetailsWS"
><port
 binding="tns:CBiO2_spcQuery_spcUser_spcWarehouse_spcDetails_spcWF"
 name="CBiO2_spcQuery_spcUser_spcWarehouse_spcDetails_spcWF"
><soap:address
 location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>