src/CommonProject/BusinessWSDLS/Services/CRM/ShopInventoryQueryAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO"  targetNamespace="http://siebel.com/CustomUI"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:tns="http://siebel.com/CustomUI" >
	<types >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  targetNamespace="http://siebel.com/CustomUI"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:import  namespace="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO" />
			<xsd:element  name="queryShopInfo_Input" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="Language"  type="xsd:string" />
						<xsd:element  name="Type"  type="xsd:string" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
			<xsd:element  name="queryShopInfo_Output" >
				<xsd:complexType >
					<xsd:sequence >
						<xsd:element  name="Error_spcCode"  type="xsd:string" />
						<xsd:element  name="Error_spcMessage"  type="xsd:string" />
						<xsd:element  ref="xsdLocal1:ListOfCbio2QueryShopInformationIo" />
					</xsd:sequence >
				</xsd:complexType >
			</xsd:element >
		</xsd:schema >
		<xsd:schema  elementFormDefault="qualified"  attributeFormDefault="unqualified"  xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO"  targetNamespace="http://www.siebel.com/xml/CBiO2%20Query%20Shop%20Information%20IO"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
			<xsd:annotation >
				<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
			</xsd:annotation >
			<xsd:element  name="ListOfCbio2QueryShopInformationIo"  type="xsdLocal1:ListOfCbio2QueryShopInformationIo" />
			<xsd:complexType  name="ListOfCbio2QueryShopInformationIoTopElmt" >
				<xsd:sequence >
					<xsd:element  name="ListOfCbio2QueryShopInformationIo"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:ListOfCbio2QueryShopInformationIo" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfCbio2QueryShopInformationIo" >
				<xsd:sequence >
					<xsd:element  name="Organization"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Organization" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Organization" >
				<xsd:sequence >
					<xsd:element  name="CBiO2ServiceCenter"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2HasCM"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2DevicesReseller"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2ChannelType"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2MainPhoneNumber"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2EmailAddress"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2Kiosk"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2MobiQuick"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2NoofAgents"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2NonStop"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2ShopId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2Status"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2WarehouseId"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="Name"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
					<xsd:element  name="Type"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="ListOfOrganization_BusinessAddress"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:ListOfOrganization_BusinessAddress" />
					<xsd:element  name="ListOfOrganization_CBiO2ContactInformation"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:ListOfOrganization_CBiO2ContactInformation" />
					<xsd:element  name="ListOfShift"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:ListOfShift" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfOrganization_BusinessAddress" >
				<xsd:sequence >
					<xsd:element  name="Organization_BusinessAddress"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Organization_BusinessAddress" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Organization_BusinessAddress" >
				<xsd:sequence >
					<xsd:element  name="CBiO2Area"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2Block"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string3" />
					<xsd:element  name="CBiO2Building"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="CBiO2Floor"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string50" />
					<xsd:element  name="CBiO2Governorate"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="PostalCode"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="StreetAddress"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string200" />
					<xsd:element  name="CBiO2Latitude"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2Longitude"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
				</xsd:sequence >
				<xsd:attribute  name="IsPrimaryMVG"  type="xsd:string" />
			</xsd:complexType >
			<xsd:complexType  name="ListOfOrganization_CBiO2ContactInformation" >
				<xsd:sequence >
					<xsd:element  name="Organization_CBiO2ContactInformation"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Organization_CBiO2ContactInformation" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Organization_CBiO2ContactInformation" >
				<xsd:sequence >
					<xsd:element  name="CBiO2ContactEmailAddress"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string100" />
					<xsd:element  name="CBiO2ContactType"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="CBiO2ContactWorkPhone"  maxOccurs="1"  minOccurs="0"  type="xsd:string" />
					<xsd:element  name="CBiO2ContactFirstName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
					<xsd:element  name="CBiO2ContactLastName"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string40" />
				</xsd:sequence >
				<xsd:attribute  name="IsPrimaryMVG"  type="xsd:string" />
			</xsd:complexType >
			<xsd:complexType  name="ListOfShift" >
				<xsd:sequence >
					<xsd:element  name="Shift"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:Shift" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="Shift" >
				<xsd:sequence >
					<xsd:element  name="Name"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string100" />
					<xsd:element  name="ListOfShiftHour"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:ListOfShiftHour" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ListOfShiftHour" >
				<xsd:sequence >
					<xsd:element  name="ShiftHour"  maxOccurs="unbounded"  minOccurs="0"  type="xsdLocal1:ShiftHour" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:complexType  name="ShiftHour" >
				<xsd:sequence >
					<xsd:element  name="EndDay"  maxOccurs="1"  minOccurs="0"  type="xsdLocal1:string30" />
					<xsd:element  name="EndTime"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
					<xsd:element  name="StartDay"  maxOccurs="1"  minOccurs="1"  type="xsdLocal1:string30" />
					<xsd:element  name="StartTime"  maxOccurs="1"  minOccurs="1"  type="xsd:string" />
				</xsd:sequence >
			</xsd:complexType >
			<xsd:simpleType  name="string3" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="3" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string50" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="50" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string40" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="40" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string30" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="30" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string100" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="100" />
				</xsd:restriction >
			</xsd:simpleType >
			<xsd:simpleType  name="string200" >
				<xsd:restriction  base="xsd:string" >
					<xsd:maxLength  value="200" />
				</xsd:restriction >
			</xsd:simpleType >
		</xsd:schema >
	</types >
	<message  name="queryShopInfo_Input" >
		<part  name="queryShopInfo_Input"  element="tns:queryShopInfo_Input" />
	</message >
	<message  name="queryShopInfo_Output" >
		<part  name="queryShopInfo_Output"  element="tns:queryShopInfo_Output" />
	</message >
	<portType  name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow" >
		<operation  name="queryShopInfo" >
			<input  message="tns:queryShopInfo_Input" />
			<output  message="tns:queryShopInfo_Output" />
		</operation >
	</portType >
	<binding  name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow"  type="tns:CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow" >
		<soap:binding  transport="http://schemas.xmlsoap.org/soap/http"  style="document" />
		<operation  name="queryShopInfo" >
			<soap:operation  soapAction="document/http://siebel.com/CustomUI:queryShopInfo" />
			<input >
				<soap:body  use="literal" />
			</input >
			<output >
				<soap:body  use="literal" />
			</output >
		</operation >
	</binding >
	<service  name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow" >
		<port  binding="tns:CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow"  name="CBiO2_spcQuery_spcShop_spcInformation_spcWorkflow" >
			<soap:address  location="http://10.103.23.115:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1" />
		</port >
	</service >
</definitions >