src/CommonProject/BusinessWSDLS/Services/CRM/UpdateCorpCustCat.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="UpdateCORPCustCategory_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SalesChannel" type="xsd:string"/>
                        <xsd:element name="UserCreatedBy" type="xsd:string"/>
                        <xsd:element name="CustomerSequenceNumber" type="xsd:string"/>
                        <xsd:element name="CustomerRowID" type="xsd:string"/>
                        <xsd:element name="Action" type="xsd:string"/>
                        <xsd:element name="ChangeReason" type="xsd:string"/>
                        <xsd:element name="NewCategory" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateCORPCustCategory_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerSequenceNumber" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorStep" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="NewCategory" type="xsd:string"/>
                        <xsd:element name="OldCategory" type="xsd:string"/>
                        <xsd:element name="ServiceRequestId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="UpdateCORPCustCategory_Input">
        <part element="tns:UpdateCORPCustCategory_Input" name="UpdateCORPCustCategory_Input"/>
    </message>
    <message name="UpdateCORPCustCategory_Output">
        <part element="tns:UpdateCORPCustCategory_Output" name="UpdateCORPCustCategory_Output"/>
    </message>
    <portType name="CBiO2_spcCORP_spcCustomer_spcCategory_spcModification_spcWF">
        <operation name="UpdateCORPCustCategory">
            <input message="tns:UpdateCORPCustCategory_Input"/>
            <output message="tns:UpdateCORPCustCategory_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcCORP_spcCustomer_spcCategory_spcModification_spcWF" type="tns:CBiO2_spcCORP_spcCustomer_spcCategory_spcModification_spcWF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="UpdateCORPCustCategory">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:UpdateCORPCustCategory"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcCORP_spcCustomer_spcCategory_spcModification_spcWS">
        <port binding="tns:CBiO2_spcCORP_spcCustomer_spcCategory_spcModification_spcWF" name="CBiO2_spcCORP_spcCustomer_spcCategory_spcModification_spcWF">
            <soap:address location="http://10.223.148.22:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>