src/CommonProject/BusinessWSDLS/Services/CRM/UpdateCorpCustContact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Auth%20Contact%20Update%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2%20Auth%20Contact%20Update%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/CBiO2%20Auth%20Contact%20Update%20IO">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="listOfCbio2AuthContactUpdateIo" type="xsdLocal1:listOfCbio2AuthContactUpdateIo"/>
            <xsd:complexType name="listOfCbio2AuthContactUpdateIoTopElmt">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="listOfCbio2AuthContactUpdateIo" type="xsdLocal1:listOfCbio2AuthContactUpdateIo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfCbio2AuthContactUpdateIo">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="account" type="xsdLocal1:account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="account">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="customerRowID" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="customerSequenceNumber" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="listOfcontact" type="xsdLocal1:listOfcontact"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfcontact">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="contact" type="xsdLocal1:contact"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="contact">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="authorizedPersonId" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="createdBy" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="authorizationLevel" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="salesChannel" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="createdByUser" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="firstNameEng" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IDExpiryDate" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IDNumber" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="IDType" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="lastNameEng" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Priority" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="secondNameEng" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="thirdNameEng" type="xsdLocal1:string40"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="arabicTitle" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="mobilePhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="dateofBirth" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="emailAddress" type="xsdLocal1:string350"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="faxPhone" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="arabicFirstName" type="xsdLocal1:string80"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="arabicLastName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="Gender" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="englishTitle" type="xsdLocal1:string15"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="arabicThirdName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="maritalStatus" type="xsdLocal1:string30"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="arabicSecondName" type="xsdLocal1:string50"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="workPhone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="string50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string80">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string350">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="350"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2%20Auth%20Contact%20Update%20IO"/>
            <xsd:element name="UpdateCorpCustContact_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:listOfCbio2AuthContactUpdateIo"/>
                        <xsd:element name="Action" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateCorpCustContact_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerSequenceNumber" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorStep" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="SiebelAutorizedPersonId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="UpdateCorpCustContact_Input">
        <part element="tns:UpdateCorpCustContact_Input" name="UpdateCorpCustContact_Input"/>
    </message>
    <message name="UpdateCorpCustContact_Output">
        <part element="tns:UpdateCorpCustContact_Output" name="UpdateCorpCustContact_Output"/>
    </message>
    <portType name="CBiO2_spcCORP_spcCustomer_spcContact_spcModification_spcWF">
        <operation name="UpdateCorpCustContact">
            <input message="tns:UpdateCorpCustContact_Input"/>
            <output message="tns:UpdateCorpCustContact_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcCORP_spcCustomer_spcContact_spcModification_spcWF" type="tns:CBiO2_spcCORP_spcCustomer_spcContact_spcModification_spcWF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="UpdateCorpCustContact">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:UpdateCorpCustContact"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcCORP_spcCustomer_spcContact_spcModification_spcWS">
        <port binding="tns:CBiO2_spcCORP_spcCustomer_spcContact_spcModification_spcWF" name="CBiO2_spcCORP_spcCustomer_spcContact_spcModification_spcWF">
            <soap:address location="http://10.223.148.22:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>