src/CommonProject/BusinessSchemas/Services/Query/InvoiceSummaryCRM/InvoiceSummaryCRM.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/InvoiceSummaryCRM.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/InvoiceSummaryCRM.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="InvoiceSummaryCRMRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INVOICEID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceSummaryBSCSResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Output" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CUSTOMERID" type="xs:string"/>
	<xs:element name="BILLINGACCOUNTID" type="xs:string"/>
	<xs:element name="CONTRACTID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="CHILDCUSTFLAG" type="xs:string"/>
	<xs:element name="RECEIPTNO" type="xs:string"/>
	<xs:element name="FROMDATE" type="xs:string"/>
	<xs:element name="TODATE" type="xs:string"/>
	<xs:element name="ADJUSTMENT_ID" type="xs:string"/>
	<xs:element name="ADJUSTMENT_DATE" type="xs:string"/>
	<xs:element name="ADJUSTMENT_AMNT" type="xs:string"/>
	<xs:element name="ADJUSTMENT_AUTHCODE" type="xs:string"/>
	<xs:element name="GLCODE" type="xs:string"/>
	<xs:element name="PAYMENT_INSTRUMENT" type="xs:string"/>
	<xs:element name="PAYMENT_POST_DATE" type="xs:string"/>
	<xs:element name="PAYMENT_AUTH_CODE" type="xs:string"/>
	<xs:element name="CHANNEL" type="xs:string"/>
	<xs:element name="SRC_TRANSACTION_ID" type="xs:string"/>
	<xs:element name="USERNAME" type="xs:string"/>
	<xs:element name="CUSTOMER_CATEGORY" type="xs:string"/>
	<xs:element name="LOCATION" type="xs:string"/>
	<xs:element name="MERCHANT_ID" type="xs:string"/>
	<xs:element name="TERMINAL_ID" type="xs:string"/>
	<xs:element name="CRCARDNO" type="xs:string"/>
	<xs:element name="REMARKS" type="xs:string"/>
	<xs:element name="ADJUSTMENT_OPN_AMNT" type="xs:string"/>
	<xs:element name="ADJUSTMENT_SETTLD_AMNT" type="xs:string"/>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element name="CHARGE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="SUBCHARGE_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="FROM_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="TO_DATE" type="xs:string" minOccurs="0"/>
				<xs:element name="INVOICE_NO" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceSummaryBSCSRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element name="INVOICEID" type="xs:string" minOccurs="0"/>
				<xs:element ref="TODATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceSummaryCRMResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
				<xs:element name="InvoiceRecords" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ChargeType">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ChargeType" type="xs:string" minOccurs="0"/>
										<xs:element name="ChargeTypeRecords" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SubChargeType" type="xs:string"/>
													<xs:element name="Amount" type="xs:string" minOccurs="0"/>
													<xs:element name="FromDate" type="xs:string" minOccurs="0"/>
													<xs:element name="ToDate" type="xs:string" minOccurs="0"/>
													<xs:element name="InvoiceNo" type="xs:string" minOccurs="0"/>
													<xs:element ref="MSISDN" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>