src/GW_CustMgmt/BusinessProcesses/Services/Common/ServiceEligibility/ServiceEligibilityInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by AppsPortables.com (AppsPortables.com) -->
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/ServiceEligibility" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/ServiceEligibility/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/ServiceEligibility">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Param">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/ServiceEligibility/Types" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/ServiceEligibility/Types">
            <xs:simpleType name="ActionType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Add"/>
                    <xs:enumeration value="Remove"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="QueryRequestInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element name="Action" type="typ:ActionType">
                            <xs:annotation>
                                <xs:documentation>The eligibility for adding or removing service</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Category" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>The services category which needed to be displayed</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="SubscriberInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Status" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>subscriber status will determine if the eligibility list will show or not</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="BillingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="BSType" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Code" type="xs:string"/>
                    <xs:element minOccurs="0" name="DisplayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="ArabicDisplayName" type="xs:string"/>
                    <xs:element minOccurs="0" name="Category" type="xs:string"/>
                    <xs:element minOccurs="0" name="SubCategory" type="xs:string"/>
                    <xs:element minOccurs="0" name="ServiceBillingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="Classification" type="xs:string"/>
                    <xs:element minOccurs="0" name="RatingInfo">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="RatingInfoItem">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" name="Unit" type="xs:string"/>
                                            <xs:element minOccurs="0" name="Quantity" type="xs:decimal"/>
                                            <xs:element minOccurs="0" name="MaxLimit" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ProductSpecs">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="ProductSpec">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Name" type="xs:string"/>
                                            <xs:element name="Value" type="xs:string"/>
                                            <xs:element name="Measure" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ProductFees">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="ProductFee">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Name" type="xs:string"/>
                                            <xs:element name="Amount" type="xs:string"/>
                                            <xs:element minOccurs="0" name="RecurrencyType" type="xs:string"/>
                                            <xs:element minOccurs="0" name="RecurrencyValue" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="com:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="QueryResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SubscriberInfo" type="typ:SubscriberInfo"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Products" type="typ:Product"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryEligibleServicesRequest">
        <wsdl:part element="typ:QueryRequestInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="QueryEligibleServicesResponse">
        <wsdl:part element="typ:QueryResult" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="ServiceEligibilityPort">
        <wsdl:operation name="QueryEligibleServices">
            <wsdl:input message="tns:QueryEligibleServicesRequest"/>
            <wsdl:output message="tns:QueryEligibleServicesResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceEligibilitysBinding" type="tns:ServiceEligibilityPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryEligibleServices">
            <soap:operation soapAction="QueryEligibleServices"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServiceEligibility">
        <wsdl:port binding="tns:ServiceEligibilitysBinding" name="ServiceEligibilityPort"/>
    </wsdl:service>
</wsdl:definitions>