src/CommonProject/BusinessWSDLS/Services/WSDLS/Remedy/INTG-REMEDY-CSA-TIKCET-CONFIGURATION_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:INTG-REMEDY-CSA-TIKCET-CONFIGURATION" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:INTG-REMEDY-CSA-TIKCET-CONFIGURATION">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:INTG-REMEDY-CSA-TIKCET-CONFIGURATION">
            <xsd:element name="getCategorySubList" type="s0:InputMapping1"/>
            <xsd:complexType name="InputMapping1">
                <xsd:sequence>
                    <xsd:element name="IssueType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getCategorySubListResponse" type="s0:OutputMapping1"/>
            <xsd:complexType name="OutputMapping1">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="getListValues">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Issue_Category" type="xsd:string"/>
                                <xsd:element name="Issue_Sub_Category" type="xsd:string"/>
                                <xsd:element name="Issue_Type" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFullConfigurationList" type="s0:InputMapping2"/>
            <xsd:complexType name="InputMapping2">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="getFullConfigurationListResponse" type="s0:OutputMapping2"/>
            <xsd:complexType name="OutputMapping2">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="getListValues">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Issue_Category" type="xsd:string"/>
                                <xsd:element name="Issue_Sub_Category" type="xsd:string"/>
                                <xsd:element name="Issue_Type" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
            <xsd:complexType name="AuthenticationInfo">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCategorySubListSoapOut">
        <wsdl:part element="s0:getCategorySubListResponse" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFullConfigurationListSoapOut">
        <wsdl:part element="s0:getFullConfigurationListResponse" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFullConfigurationListSoapIn">
        <wsdl:part element="s0:getFullConfigurationList" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCategorySubListSoapIn">
        <wsdl:part element="s0:getCategorySubList" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ARAuthenticate">
        <wsdl:part element="s0:AuthenticationInfo" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PortPortType">
        <wsdl:operation name="getCategorySubList">
            <wsdl:input message="s0:getCategorySubListSoapIn">       </wsdl:input>
            <wsdl:output message="s0:getCategorySubListSoapOut">       </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFullConfigurationList">
            <wsdl:input message="s0:getFullConfigurationListSoapIn">       </wsdl:input>
            <wsdl:output message="s0:getFullConfigurationListSoapOut">       </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortSoapBinding" type="s0:PortPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCategorySubList">
            <soap:operation soapAction="urn:INTG-REMEDY-CSA-TIKCET-CONFIGURATION/getCategorySubList" style="document"/>
            <wsdl:input>
                <soap:header message="s0:ARAuthenticate" part="parameters" use="literal">            </soap:header>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFullConfigurationList">
            <soap:operation soapAction="urn:INTG-REMEDY-CSA-TIKCET-CONFIGURATION/getFullConfigurationList" style="document"/>
            <wsdl:input>
                <soap:header message="s0:ARAuthenticate" part="parameters" use="literal">            </soap:header>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="INTG-REMEDY-CSA-TIKCET-CONFIGURATIONService">
        <wsdl:documentation>GetCategorySubList  </wsdl:documentation>
        <wsdl:port binding="s0:PortSoapBinding" name="PortSoap">
            <soap:address location="http://itsmwebdev:8080/arsys/services/ARService?server=ITSMappDev&amp;webService=INTG-REMEDY-CSA-TIKCET-CONFIGURATION"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>