src/CommonProject/BusinessWSDLS/Services/WSDLS/Remedy/INTG-REMEDY-CSA-OBW-GET-TICKET-INFO_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:INTG-REMEDY-CSA-TICKET-CREATE-SERVICE" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:INTG-REMEDY-CSA-TICKET-CREATE-SERVICE">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:INTG-REMEDY-CSA-TICKET-CREATE-SERVICE">
            <xsd:element name="CSA_Ticket_Create" type="s0:InputMapping1"/>
            <xsd:complexType name="InputMapping1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
                    <xsd:element name="Subscriber_Number" type="xsd:string"/>
                    <xsd:element name="Issue_Type" type="xsd:string"/>
                    <xsd:element name="Issue_Category" type="xsd:string"/>
                    <xsd:element name="Issue_Sub_Category" type="xsd:string"/>
                    <xsd:element name="Source" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CSA_Ticket_CreateResponse" type="s0:OutputMapping1"/>
            <xsd:complexType name="OutputMapping1">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Response" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
            <xsd:complexType name="AuthenticationInfo">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ARAuthenticate">
        <wsdl:part element="s0:AuthenticationInfo" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CSA_Ticket_CreateSoapOut">
        <wsdl:part element="s0:CSA_Ticket_CreateResponse" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CSA_Ticket_CreateSoapIn">
        <wsdl:part element="s0:CSA_Ticket_Create" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PortPortType">
        <wsdl:operation name="CSA_Ticket_Create">
            <wsdl:input message="s0:CSA_Ticket_CreateSoapIn">       </wsdl:input>
            <wsdl:output message="s0:CSA_Ticket_CreateSoapOut">       </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortSoapBinding" type="s0:PortPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CSA_Ticket_Create">
            <soap:operation soapAction="urn:INTG-REMEDY-CSA-TICKET-CREATE-SERVICE/CSA_Ticket_Create" style="document"/>
            <wsdl:input>
                <soap:header message="s0:ARAuthenticate" part="parameters" use="literal">            </soap:header>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="INTG-REMEDY-CSA-TICKET-CREATE-SERVICEService">
        <wsdl:port binding="s0:PortSoapBinding" name="PortSoap">
            <soap:address location="http://itsmwebdev:8080/arsys/services/ARService?server=ITSMappDev&amp;webService=INTG-REMEDY-CSA-TICKET-CREATE-SERVICE"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>