src/CommonProject/BusinessWSDLS/Services/WSDLS/Remedy/INTG-REMEDY-CSA-GET-SUBSCRIBER-LIST_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:INTG-REMEDY-CSA-GET-SUBSCRIBER-LIST" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:INTG-REMEDY-CSA-GET-SUBSCRIBER-LIST">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:INTG-REMEDY-CSA-GET-SUBSCRIBER-LIST">
            <xsd:element name="GetSubscriberList" type="s0:InputMapping1"/>
            <xsd:complexType name="InputMapping1">
                <xsd:sequence>
                    <xsd:element name="SubscriberNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetSubscriberListResponse" type="s0:OutputMapping1"/>
            <xsd:complexType name="OutputMapping1">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="getListValues">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" name="Txt_AssignedMainGroup" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Txt_Assignee" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Txt_Issue_Type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Txt_Category" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Txt_Type" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Txt_Item" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Txt_Severity" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Txt_IssueID" type="xsd:string"/>
                                <xsd:element minOccurs="0" name="Ddl_IssueStatus" nillable="true" type="s0:Ddl_IssueStatusType"/>
                                <xsd:element minOccurs="0" name="Expected_DT_Resolution" type="xsd:dateTime"/>
                                <xsd:element minOccurs="0" name="DT_CreateDate" type="xsd:dateTime"/>
                                <xsd:element minOccurs="0" name="Ddl_Source_of_Creation" nillable="true" type="s0:Ddl_Source_of_CreationType"/>
                                <xsd:element minOccurs="0" name="Txt_Summary" type="xsd:string"/>
                                <xsd:element name="Txt_Description" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Ddl_IssueStatusType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="New"/>
                    <xsd:enumeration value="Assigned"/>
                    <xsd:enumeration value="WIP"/>
                    <xsd:enumeration value="Pending"/>
                    <xsd:enumeration value="Solved"/>
                    <xsd:enumeration value="Closed"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Ddl_Source_of_CreationType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Contact Center"/>
                    <xsd:enumeration value="Email"/>
                    <xsd:enumeration value="SMS"/>
                    <xsd:enumeration value="IVR"/>
                    <xsd:enumeration value="Branches"/>
                    <xsd:enumeration value="Web"/>
                    <xsd:enumeration value="Bulk"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
            <xsd:complexType name="AuthenticationInfo">
                <xsd:sequence>
                    <xsd:element name="userName" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetSubscriberListSoapOut">
        <wsdl:part element="s0:GetSubscriberListResponse" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSubscriberListSoapIn">
        <wsdl:part element="s0:GetSubscriberList" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ARAuthenticate">
        <wsdl:part element="s0:AuthenticationInfo" name="parameters">      </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PortPortType">
        <wsdl:operation name="GetSubscriberList">
            <wsdl:input message="s0:GetSubscriberListSoapIn">       </wsdl:input>
            <wsdl:output message="s0:GetSubscriberListSoapOut">       </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortSoapBinding" type="s0:PortPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetSubscriberList">
            <soap:operation soapAction="urn:INTG-REMEDY-CSA-GET-SUBSCRIBER-LIST/GetSubscriberList" style="document"/>
            <wsdl:input>
                <soap:header message="s0:ARAuthenticate" part="parameters" use="literal">            </soap:header>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="INTG-REMEDY-CSA-GET-SUBSCRIBER-LISTService">
        <wsdl:documentation>Get Subscriber Details  </wsdl:documentation>
        <wsdl:port binding="s0:PortSoapBinding" name="PortSoap">
            <soap:address location="http://itsmwebdev:8080/arsys/services/ARService?server=ITSMappDev&amp;webService=INTG-REMEDY-CSA-GET-SUBSCRIBER-LIST"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>