src/CommonProject/BusinessSchemas/Services/Query/QueueManagement/QueueManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Query/QueueManagement.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Query/QueueManagement.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueueManagementRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CounterID" minOccurs="0"/>
				<xs:element ref="EmpID" minOccurs="0"/>
				<xs:element ref="BranchID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueueManagementResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CounterID" type="xs:string"/>
	<xs:element name="EmpID" type="xs:string"/>
	<xs:element name="BranchID" type="xs:string"/>
	<xs:element name="QueueID" type="xs:string"/>
	<xs:element name="TicketNumber" type="xs:string"/>
	<xs:element name="TaskName" type="xs:string"/>
	<xs:element name="MobileNumber" type="xs:string"/>
	<xs:element name="QueueBranchID" type="xs:string"/>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="QueueID" minOccurs="0"/>
				<xs:element ref="TicketNumber" minOccurs="0"/>
				<xs:element ref="TaskName" minOccurs="0"/>
				<xs:element ref="MobileNumber" minOccurs="0"/>
				<xs:element ref="QueueBranchID" minOccurs="0"/>
				<xs:element ref="PassportNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PassportNumber" type="xs:string"/>
</xs:schema>