src/GW_CustMgmt/BusinessProcesses/Services/Common/CampaignManagement/CMS-OC/Schemas/HasServiceWithinPeriodInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ruleParameters">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="serviceId" type="xs:string"/>
							<xs:element name="period" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="campaignId" type="xs:string"/>
				<xs:element name="contextKey" type="xs:string"/>
				<xs:element name="campaignGroupId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>