src/CommonProject/BusinessSchemas/Services/Applications/ERP/posTransactions/posTransactionsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionsResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="posTransactionsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean"/>
				<xs:element name="reasonText" type="xs:string" minOccurs="0"/>
				<xs:element name="orderLineFailures" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="orderLineItemId" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>