src/CommonProject/BusinessWSDLS/Services/WSDLS/eAccountManagement_Custom/eAccountManagementOutbound_Custom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.zain.com/ZESB/Services/eAccountManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/eAccountManagement/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/eAccountManagement">
    <wsdl:types>
        <xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/eAccountManagement/Types" targetNamespace="http://www.zain.com/ZESB/Services/eAccountManagement/Types" elementFormDefault="qualified">
            <xs:element name="LoginRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="consumerCorporateFlag" type="xs:int"/>
                        <xs:element minOccurs="0" name="contractNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loginID" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subscriptionStatus" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConfirmRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="activationCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="billingType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="categoryCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="civilId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contractNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="hasPostpaid" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="hasPrepaid" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subscriptionStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConfirmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contractNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subscriptionStatus" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RegisterCorporateRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="contactPerson" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contactPersonTitle" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contactPersonmobileNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="noOfConnections" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="organizationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="registrationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="yearOfEstablishment" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RegisterCorporateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UnregisterRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UnregisterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RegisterRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sendSMS" type="xs:int"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RegisterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="activationCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="alreadyHaveContractHolder" type="xs:boolean"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ForgetPasswordRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sendSMS" type="xs:int"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ForgetPasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="activationCode" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResetPasswordRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="activationCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sendEmail" type="xs:int"/>
                        <xs:element minOccurs="0" name="sendSMS" type="xs:int"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResetPasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CheckRegistrationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountType" nillable="true" type="xs:int"/>
                        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CheckRegistrationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resultStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="approvedDeclined" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contractHolder" nillable="true" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="contractNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string"/>
                        <xs:element name="TransactionID" type="xs:string"/>
                        <xs:element name="StartTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="LoginRequest">
        <wsdl:part name="request" element="typ:LoginRequest"/>
    </wsdl:message>
    <wsdl:message name="LoginResponse">
        <wsdl:part name="response" element="typ:LoginResponse"/>
    </wsdl:message>
    <wsdl:message name="ConfirmRequest">
        <wsdl:part name="request" element="typ:ConfirmRequest"/>
    </wsdl:message>
    <wsdl:message name="ConfirmResponse">
        <wsdl:part name="response" element="typ:ConfirmResponse"/>
    </wsdl:message>
    <wsdl:message name="RegisterCorporateRequest">
        <wsdl:part name="request" element="typ:RegisterCorporateRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterCorporateResponse">
        <wsdl:part name="response" element="typ:RegisterCorporateResponse"/>
    </wsdl:message>
    <wsdl:message name="UnregisterRequest">
        <wsdl:part name="request" element="typ:UnregisterRequest"/>
    </wsdl:message>
    <wsdl:message name="UnregisterResponse">
        <wsdl:part name="response" element="typ:UnregisterResponse"/>
    </wsdl:message>
    <wsdl:message name="RegisterRequest">
        <wsdl:part name="request" element="typ:RegisterRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterResponse">
        <wsdl:part name="response" element="typ:RegisterResponse"/>
    </wsdl:message>
    <wsdl:message name="ForgetPasswordRequest">
        <wsdl:part name="request" element="typ:ForgetPasswordRequest"/>
    </wsdl:message>
    <wsdl:message name="ForgetPasswordResponse">
        <wsdl:part name="response" element="typ:ForgetPasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="ResetPasswordRequest">
        <wsdl:part name="request" element="typ:ResetPasswordRequest"/>
    </wsdl:message>
    <wsdl:message name="ResetPasswordResponse">
        <wsdl:part name="response" element="typ:ResetPasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="CheckRegistrationRequest">
        <wsdl:part name="request" element="typ:CheckRegistrationRequest"/>
    </wsdl:message>
    <wsdl:message name="CheckRegistrationResponse">
        <wsdl:part name="response" element="typ:CheckRegistrationResponse"/>
    </wsdl:message>
    <wsdl:portType name="eAccountManagementPort">
        <wsdl:operation name="Login">
            <wsdl:input message="tns:LoginRequest"/>
            <wsdl:output message="tns:LoginResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Confirm">
            <wsdl:input message="tns:ConfirmRequest"/>
            <wsdl:output message="tns:ConfirmResponse"/>
        </wsdl:operation>
        <wsdl:operation name="RegisterCorporate">
            <wsdl:input message="tns:RegisterCorporateRequest"/>
            <wsdl:output message="tns:RegisterCorporateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Unregister">
            <wsdl:input message="tns:UnregisterRequest"/>
            <wsdl:output message="tns:UnregisterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Register">
            <wsdl:input message="tns:RegisterRequest"/>
            <wsdl:output message="tns:RegisterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ForgetPassword">
            <wsdl:input message="tns:ForgetPasswordRequest"/>
            <wsdl:output message="tns:ForgetPasswordResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ResetPassword">
            <wsdl:input message="tns:ResetPasswordRequest"/>
            <wsdl:output message="tns:ResetPasswordResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CheckRegistration">
            <wsdl:input message="tns:CheckRegistrationRequest"/>
            <wsdl:output message="tns:CheckRegistrationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="eAccountManagementBinding" type="tns:eAccountManagementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Register">
            <soap:operation soapAction="Register"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Confirm">
            <soap:operation soapAction="Confirm"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RegisterCorporate">
            <soap:operation soapAction="RegisterCorporate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Unregister">
            <soap:operation soapAction="Unregister"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Login">
            <soap:operation soapAction="Login"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ForgetPassword">
            <soap:operation soapAction="ForgetPassword"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ResetPassword">
            <soap:operation soapAction="ResetPassword"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckRegistration">
            <soap:operation soapAction="CheckRegistration"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="eAccountManagement">
        <wsdl:port name="eAccountManagementPort" binding="tns:eAccountManagementBinding"/>
    </wsdl:service>
</wsdl:definitions>