src/CommonProject/BusinessSchemas/Services/Query/InvoiceQuery/OutstandingQueryInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GW/BusinessProcesses/Services/CRM/Query/OutstandingQuery/Implementation/OutstandingQueryInput.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GW/BusinessProcesses/Services/CRM/Query/OutstandingQuery/Implementation/OutstandingQueryInput.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="BAId" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="OutstandingQueryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="BAId" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ContractID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractID" type="xs:string"/>
</xs:schema>