src/GW_OrdMgmt/BusinessProcesses/Services/OrderManagement/Provisioning/CreateBillingAccountSmartMeter/Resources/billingAccountWriteResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://ericsson.com/services/ws_CMI_5/billingaccountwrite"
	 targetNamespace="http://ericsson.com/services/ws_CMI_5/billingaccountwrite"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="billingAccountWriteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
				<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
				<xs:element name="billingAccountId" type="xs:string" minOccurs="0"/>
				<xs:element name="billingAccountCode" type="xs:string" minOccurs="0"/>
				<xs:element name="bulkreqId" type="xs:string" minOccurs="0"/>
				<xs:element name="customerSequenceNum" type="xs:string" minOccurs="0"/>
				<xs:element name="accountId" type="xs:string" minOccurs="0"/>
				<xs:element name="bscsId" type="xs:string" minOccurs="0"/>
				<xs:element name="smartLineId" type="xs:string" minOccurs="0"/>
				<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>