src/CommonProject/BusinessWSDLS/Services/BSCS/ZainMSISDNChk/ZainMsisdnChkService.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/zainmsisdncheck" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>
						
						</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/zainmsisdncheck" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/zainmsisdncheck">
			<xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
			<xs:element name="zainMsisdnCheckRequest" type="wsi:zainMsisdnCheckRequest"/>
			<xs:element name="zainMsisdnCheckResponse" type="wsi:zainMsisdnCheckResponse"/>
			<xs:complexType name="zainMsisdnCheckResponse">
				<xs:all>
					<xs:element minOccurs="0" name="response" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>response Message</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element name="dnnum" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Directory Number Public key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="zainMsisdnCheckRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="zainMsisdnCheckRequest">
		<wsdl:part element="sch3:zainMsisdnCheckRequest" name="zainMsisdnCheckRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="zainMsisdnCheckResponse">
		<wsdl:part element="sch3:zainMsisdnCheckResponse" name="zainMsisdnCheckResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ZainMsisdnCheckService">
		<wsdl:operation name="zainMsisdnCheck">
			<wsdl:input message="tns:zainMsisdnCheckRequest" name="zainMsisdnCheckRequest">
			</wsdl:input>
			<wsdl:output message="tns:zainMsisdnCheckResponse" name="zainMsisdnCheckResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZainMsisdnCheckServiceSoap11" type="tns:ZainMsisdnCheckService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="zainMsisdnCheck">
			<soap:operation soapAction=""/>
			<wsdl:input name="zainMsisdnCheckRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="zainMsisdnCheckResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZainMsisdnCheckService">
		<wsdl:port binding="tns:ZainMsisdnCheckServiceSoap11" name="ZainMsisdnCheckServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services/ws_CMI_5_ZainMsisdnCheckService.wsdl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>