src/ESI_ERP/BusinessProcesses/Services_Rest/Test/CreateDeposit.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 xmlns="http://www.ericsson.com/BusinessSchemas/Transaction/CreateDeposit.xsd"
	 targetNamespace="http://www.ericsson.com/BusinessSchemas/Transaction/CreateDeposit.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="ZainKWFault.xsd"/>
	<xs:element name="CreateDepositRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header" minOccurs="0"/>
				<xs:element ref="DepositData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="businessTransactionWrite">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="deposit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="ServiceCode" minOccurs="0"/>
				<xs:element ref="ServicePackageCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CRMContractID" type="xs:string"/>
	<xs:element name="Amount" type="xs:double"/>
	<xs:element name="billingAccountId" type="xs:string"/>
	<xs:element name="ServiceCode" type="xs:string"/>
	<xs:element name="ServicePackageCode" type="xs:string"/>
	<xs:element name="BillingContractID" type="xs:string"/>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="correlationID" minOccurs="0"/>
				<xs:element ref="serviceOrderId" minOccurs="0"/>
				<xs:element ref="salesOrderId" minOccurs="0"/>
				<xs:element ref="buIdPubKey" minOccurs="0"/>
				<xs:element ref="buIdPubValue" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="correlationID" type="xs:string"/>
	<xs:element name="serviceOrderId" type="xs:string"/>
	<xs:element name="salesOrderId" type="xs:string"/>
	<xs:element name="buIdPubKey" type="xs:string"/>
	<xs:element name="buIdPubValue" type="xs:string"/>
	<xs:element name="CreateDepositResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header" minOccurs="0"/>
				<xs:element ref="DepositRes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Response"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseCode" minOccurs="0"/>
				<xs:element ref="ResponseDesc" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseCode" type="xs:string"/>
	<xs:element name="ResponseDesc" type="xs:string"/>
	<xs:simpleType name="businessTransactionWriteResType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="DepositRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMContractID" minOccurs="0"/>
				<xs:element ref="BillingContractID" minOccurs="0"/>
				<xs:element ref="deposits" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositId" type="xs:string"/>
	<xs:element name="RefNum" type="xs:string"/>
	<xs:element name="DepositData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRMContractID" minOccurs="0"/>
				<xs:element ref="BillingContractID" minOccurs="0"/>
				<xs:element ref="billingAccountId" minOccurs="0"/>
				<xs:element ref="deposit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deposits">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositId" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="RefNum" minOccurs="0"/>
				<xs:element ref="ServiceCode" minOccurs="0"/>
				<xs:element ref="ServicePackageCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>