src/ESI_ERP/BusinessProcesses/Services_Rest/Test/DTD.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML.-->

<!ELEMENT ROWSET (ROW+)>

<!ELEMENT ROW (FROM_USER , TO_USER , START_DATE , MESSAGE_TYPE , MESSAGE_DISPLAY_NAME)>

<!ELEMENT FROM_USER (#PCDATA)>

<!ELEMENT TO_USER (#PCDATA)>

<!ELEMENT START_DATE (#PCDATA)>

<!ELEMENT MESSAGE_TYPE (#PCDATA)>

<!ELEMENT MESSAGE_DISPLAY_NAME (#PCDATA)>

