src/ESI_ERP/BusinessProcesses/Services_Rest/Test/Schematest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ROWSET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ROW" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FROM_USER" type="xs:string"/>
							<xs:element name="TO_USER" type="xs:string"/>
							<xs:element name="START_DATE" type="xs:string"/>
							<xs:element name="MESSAGE_TYPE" type="xs:string"/>
							<xs:element name="MESSAGE_DISPLAY_NAME" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="P_DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ROWSET"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>