src/ESI_ERP/BusinessProcesses/Services_Rest/Test/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/ESI_ERP/BusinessProcesses/Services/Test/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/ESI_ERP/BusinessProcesses/Services/Test/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="group">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="root" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="param" type="xs:string"/>
							<xs:element name="param1" type="xs:string"/>
							<xs:element name="param2" type="xs:string"/>
							<xs:element name="param3" type="xs:string"/>
							<xs:element name="param4" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>