src/ESI_ERP/BusinessProcesses/Services_Rest/Test/SchemaCDATA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROWSET">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ROW" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="FROM_USER"/>
              <xs:element type="xs:string" name="TO_USER"/>
              <xs:element type="xs:string" name="START_DATE"/>
              <xs:element type="xs:string" name="MESSAGE_TYPE"/>
              <xs:element type="xs:string" name="MESSAGE_DISPLAY_NAME"/>
              <xs:element type="xs:string" name="END_DATE"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>