src/ESI_ERP/BusinessProcesses/Services_Rest/Test/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/esimstatuswrite" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/esimstatuseswrite" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;New value for a named value.&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>&lt;p&gt; &lt;/p&gt;</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/esimstatuswrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/esimstatuswrite">
            <xs:complexType name="esimStatusWriteResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="response" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Response Message&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="esimStatusWriteRequest">
                <xs:all>
                    <xs:element name="smSerialnum" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;18 digit e-sim iccid&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="coIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Contrac id&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="status" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>&lt;p&gt;Change status to : a- activate; d- deactivate&lt;/p&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/esimstatuseswrite" xmlns:esimstatuswrite="http://ericsson.com/services/ws_CIL_5/esimstatuswrite" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/esimstatuseswrite">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/esimstatuswrite"/>
            <xs:element name="esimStatusesWriteRequest" type="wsi:esimStatusesWriteRequest"/>
            <xs:element name="esimStatusesWriteResponse" type="wsi:esimStatusesWriteResponse"/>
            <xs:complexType name="esimStatusListpartResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="esimStatusWrite" type="esimstatuswrite:esimStatusWriteResponse">
                        <xs:annotation>
                            <xs:documentation> </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="esimStatusResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:esimStatusListpartResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="esimStatusesWriteResponse">
                <xs:all>
                    <xs:element minOccurs="0" name="esimStatus" type="wsi:esimStatusResponse"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="esimStatusListpartRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="esimStatusWrite" type="esimstatuswrite:esimStatusWriteRequest">
                        <xs:annotation>
                            <xs:documentation> </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="esimStatusRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:esimStatusListpartRequest"/>
                </xs:sequence>
            </xs:complexType>-<xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:element minOccurs="0" name="esimStatus" type="wsi:esimStatusRequest"/>
                </xs:all>
            </xs:complexType>-<xs:complexType name="esimStatusesWriteRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="esimStatusesWriteResponse">
        <wsdl:part element="sch4:esimStatusesWriteResponse" name="esimStatusesWriteResponse"/>
    </wsdl:message>
    <wsdl:message name="esimStatusesWriteRequest">
        <wsdl:part element="sch4:esimStatusesWriteRequest" name="esimStatusesWriteRequest"/>
    </wsdl:message>
    <wsdl:portType name="EsimStatusesWriteService">
        <wsdl:operation name="esimStatusesWrite">
            <wsdl:input message="tns:esimStatusesWriteRequest" name="esimStatusesWriteRequest"/>
            <wsdl:output message="tns:esimStatusesWriteResponse" name="esimStatusesWriteResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EsimStatusesWriteServiceSoap11" type="tns:EsimStatusesWriteService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="esimStatusesWrite">
            <soap:operation soapAction=""/>
            <wsdl:input name="esimStatusesWriteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="esimStatusesWriteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EsimStatusesWriteService">
        <wsdl:port binding="tns:EsimStatusesWriteServiceSoap11" name="EsimStatusesWriteServiceSoap11">
            <soap:address location="http://10.96.103.208:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>