src/OSS_BSS_BW_cwp/BusinessProcesses/CatalogSync/Resources/Schema/Header.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://siebel.com/webservices"
	 targetNamespace="http://siebel.com/webservices"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="UsernameToken" type="xs:string"/>
	<xs:element name="PasswordText" type="xs:string"/>
	<xs:element name="SessionType" type="xs:string"/>
	<xs:element name="SessionToken" type="xs:string"/>
</xs:schema>