src/CommonProject/BusinessWSDLS/Services/BSCS/TicklerNewService/TicklerNewService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/ticklernew" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" targetNamespace="http://ericsson.com/services/ws_CIL_5">
    <wsdl:types>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
            <xs:complexType name="svlany">
                <xs:sequence>
                    <xs:element name="content" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
            <xs:complexType name="valuesListpartRequest">
                <xs:all>
                    <xs:element name="key" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
													&lt;p&gt;New value for a named value.&lt;/p&gt;
											</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="valuesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sessionChangeRequest">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;
						
						&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/ticklernew" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/ticklernew">
            <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
            <xs:element name="ticklerNewRequest" type="wsi:ticklerNewRequest"/>
            <xs:element name="ticklerNewResponse" type="wsi:ticklerNewResponse"/>
            <xs:complexType name="ticklerNewResponse">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="tickNumber" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Memo number&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="problemTypesRequest">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="trId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="inputAttributes">
                <xs:all>
                    <xs:annotation>
                        <xs:documentation>
						&lt;p&gt;Identifies a customer with the public or private key.&lt;/p&gt;
				</xs:documentation>
                    </xs:annotation>
                    <xs:element minOccurs="0" name="coId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Contract id, is mandatory if &lt;code&gt;CUSTOMER&lt;/code&gt; is not entered:&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="coIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Public key of the contract&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="tickCode" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Memo type (formerly: tickler code) ("SYSTEM", etc)&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="tickStatus" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Memo status: NOTE || OPEN || CLOSED&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="tickPriority" type="xs:integer">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Priority (from 1-9)&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="followUpUser" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Memo follow-up user&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="tickShdes" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Memo short description&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="tickLdes" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Memo long description&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="followUpCode" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Follow-up code.&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="followUpDate" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Follow-up Date. The date when the follow-up user has to perform an activity on the memo&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="firstDistribUser" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;First distributon user&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="secondDistribUser" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Second distributon user&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="thirdDistribUser" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Third distributon user&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="csId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Customer  id &lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="csIdPub" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
							&lt;p&gt;Customers public key&lt;/p&gt;
					</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="problemTypes" type="wsi:problemTypesRequest"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="ticklerNewRequest">
                <xs:all>
                    <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
                    <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ticklerNewRequest">
        <wsdl:part element="sch3:ticklerNewRequest" name="ticklerNewRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ticklerNewResponse">
        <wsdl:part element="sch3:ticklerNewResponse" name="ticklerNewResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TicklerNewService">
        <wsdl:operation name="ticklerNew">
            <wsdl:input message="tns:ticklerNewRequest" name="ticklerNewRequest">
    </wsdl:input>
            <wsdl:output message="tns:ticklerNewResponse" name="ticklerNewResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TicklerNewServiceSoap11" type="tns:TicklerNewService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ticklerNew">
            <soap:operation soapAction=""/>
            <wsdl:input name="ticklerNewRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ticklerNewResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TicklerNewService">
        <wsdl:port binding="tns:TicklerNewServiceSoap11" name="TicklerNewServiceSoap11">
            <soap:address location="http://10.96.103.211:20103/wsi/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>