src/CommonProject/BusinessWSDLS/Services/WSDLS/TradeInVoucher/TradeInVoucherInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/TradeInVoucher" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/TradeInVoucher/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/TradeInVoucher">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/TradeInVoucher/Types">
            <xs:complexType name="ParamType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string"/>
                    <xs:element minOccurs="0" name="Value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="DeviceConditionType">
                <xs:restriction base="xs:string">                    
                    
                
				</xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="AllowedVoucherStatus">
                <xs:restriction base="xs:string">                    
                
				</xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="AllowedOperationType">
                <xs:restriction base="xs:string">                    
                
				</xs:restriction>
            </xs:simpleType>
            <xs:complexType name="VoucherInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CustomerNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="DeviceCondition" type="xs:string"/>
                    <xs:element minOccurs="0" name="IMEI" type="xs:string"/>
                    <xs:element minOccurs="0" name="SalesAgent" type="xs:string"/>
                    <xs:element minOccurs="0" name="ProductName" type="xs:string"/>
                    <xs:element minOccurs="0" name="PartNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="SubscriberNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="VoucherAmount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="VoucherNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="VoucherStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="VoucherType" type="xs:string"/>
                    <xs:element minOccurs="0" name="VoucherExpiryDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="VoucherCreatedDate" type="xs:dateTime"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="typ:ParamType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetTradeInVoucherInfoInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="VoucherNumber" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="CustomerNumber" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="MSISDN" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetTradeInVoucherInfoOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="VoucherInfo" type="typ:VoucherInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateUpdateTradeInVoucherInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="Status" type="typ:AllowedVoucherStatus"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="Amount" type="xs:decimal"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="SubscriberNumber" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="PartNumber" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="ProductId" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="IMEI" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="VoucherDate" type="xs:date"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="DeviceCondition" type="typ:DeviceConditionType"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="Username" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="VoucherNumber" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="VoucherExpiryDate" type="xs:date"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="Operation" type="typ:AllowedOperationType"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Params" type="typ:ParamType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CreateUpdateTradeInVoucherOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="Result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetTradeInVoucherInfoRequest">
        <wsdl:part element="typ:GetTradeInVoucherInfoInput" name="GetTradeInVoucherInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTradeInVoucherInfoResponse">
        <wsdl:part element="typ:GetTradeInVoucherInfoOutput" name="GetTradeInVoucherInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateUpdateTradeInVoucherRequest">
        <wsdl:part element="typ:CreateUpdateTradeInVoucherInput" name="CreateUpdateTradeInVoucherRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateUpdateTradeInVoucherResponse">
        <wsdl:part element="typ:CreateUpdateTradeInVoucherOutput" name="CreateUpdateTradeInVoucherResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="TradeInVoucherPort">
        <wsdl:operation name="GetTradeInVoucherInfo">
            <wsdl:input message="tns:GetTradeInVoucherInfoRequest"/>
            <wsdl:output message="tns:GetTradeInVoucherInfoResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="CreateUpdateTradeInVoucher">
            <wsdl:input message="tns:CreateUpdateTradeInVoucherRequest"/>
            <wsdl:output message="tns:CreateUpdateTradeInVoucherResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TradeInVoucherBinding" type="tns:TradeInVoucherPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTradeInVoucherInfo">
            <soap:operation soapAction="GetTradeInVoucherInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateUpdateTradeInVoucher">
            <soap:operation soapAction="CreateUpdateTradeInVoucher"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TradeInVoucher">
        <wsdl:port binding="tns:TradeInVoucherBinding" name="TradeInVoucherPort">
            <soap:address location="ZESB/TradeInVoucher"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>