src/CommonProject/BusinessSchemas/Services/Applications/Common/NumberReservation/MSISDNStatusReadReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/MSISDNStatusReadReq.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/MSISDNStatusReadReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="MSISDNStatus">
		<xs:annotation>
			<xs:documentation>channelName? addedin CR-20-010</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dnid" type="xs:string" minOccurs="0"/>
				<xs:element name="dirnum" type="xs:string" minOccurs="0"/>
				<xs:element name="channelName" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>