src/CommonProject/BusinessSchemas/Services/Applications/Common/NumberReservation/NumReservResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns=" http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/NumReservResponse.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/NumReservResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="numReservResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="response" type="xs:string" minOccurs="0"/>
				<xs:element name="requestStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="dnid" type="xs:string" minOccurs="0"/>
				<xs:element name="number" type="xs:string" minOccurs="0"/>
				<xs:element name="reservationNum" type="xs:string" minOccurs="0"/>
				<xs:element name="dnCodepub" type="xs:string" minOccurs="0"/>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="dealerID" type="xs:string" minOccurs="0"/>
				<xs:element name="class" type="xs:string" minOccurs="0"/>
				<xs:element name="billingType" type="xs:string" minOccurs="0"/>
				<xs:element name="bsType" type="xs:string" minOccurs="0"/>
				<xs:element name="category" type="xs:string" minOccurs="0"/>
				<xs:element name="numberList" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number" type="xs:string" minOccurs="0"/>
							<xs:element name="dnid" type="xs:string" minOccurs="0"/>
							<xs:element name="category" type="xs:string" minOccurs="0"/>
							<xs:element name="reservationNum" type="xs:string" minOccurs="0"/>
							<xs:element name="class" type="xs:string" minOccurs="0"/>
							<xs:element name="billingType" type="xs:string" minOccurs="0"/>
							<xs:element name="bsType" type="xs:string" minOccurs="0"/>
							<xs:element name="dealerid" type="xs:string" minOccurs="0"/>
							<xs:element name="dealerName" type="xs:string" minOccurs="0"/>
							<xs:element name="status" type="xs:string" minOccurs="0"/>
							<xs:element name="Remarks" type="xs:string" minOccurs="0"/>
							<xs:element name="OriginalNumCategory" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>