src/CommonProject/CommonResources/SharedVariables/Internal/CrossRefData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns="http://www.tibco.com/schemas/CommonProject/CommonResources/SharedVariable/Internal/CrossRef.xsd"
     targetNamespace="http://www.tibco.com/schemas/CommonProject/CommonResources/SharedVariable/Internal/CrossRef.xsd"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified">
    <xs:element name="CrossRefVar">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="paramGroup" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="paramGroup">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ENTITY_TYPE" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="COMMON" form="unqualified" type="xs:string"/>
            <xs:element name="TABS" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="CS" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="OLM" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="EMM" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="ESERV" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="EMA" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="CRS" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="CMS" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="AUTO_RCHG" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="OSS" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>