src/CommonProject/CommonResources/SharedVariables/Internal/EOMLOV.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/CommonResources/SharedVariable/Internal/EOMLOV.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/CommonResources/SharedVariable/Internal/EOMLOV.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="EOMLOV">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Record" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OMELEMENT" type="xs:string" minOccurs="0"/>
							<xs:element name="OMENTITY" type="xs:string" minOccurs="0"/>
							<xs:element name="CRMENTITY" type="xs:string" minOccurs="0"/>
							<xs:element name="CRMELEMENT" type="xs:string" minOccurs="0"/>
							<xs:element name="ENTITYTYPE" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>