src/CommonProject/CommonResources/SharedVariables/Internal/FetchOCCDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/CommonResources/SharedVariables/Internal/FetchOCCDetails.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/CommonResources/SharedVariables/Internal/FetchOCCDetails.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Records" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ITEMCODE" type="xs:string" minOccurs="0"/>
							<xs:element name="BSCS_OCC_CODE" type="xs:string" minOccurs="0"/>
						
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>