src/CommonProject/BusinessWSDLS/Services/WSDLS/SalesOrder/SalesOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N3="http://www.zain.com/ZESB/Services/SalesOrder" xmlns:WL5G3N2="http://www.zain.com/ZESB/Types/Common" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.zain.com/ZESB/Services/SalesOrder/Types" targetNamespace="http://www.zain.com/ZESB/Services/SalesOrder">
    <Policy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:orawsp="http://schemas.oracle.com/ws/2006/01/policy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" orawsp:provides="{http://docs.oasis-open.org/ns/opencsa/sca/200903}authentication, {http://docs.oasis-open.org/ns/opencsa/sca/200903}clientAuthentication, {http://docs.oasis-open.org/ns/opencsa/sca/200903}clientAuthentication.message, {http://schemas.oracle.com/ws/2006/01/policy}token.usernamePassword" wsu:Id="wss_username_token_service_policy">
        <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
            <Policy>
                <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                    <Policy>
                        <sp:WssUsernameToken10/>
                    </Policy>
                </sp:UsernameToken>
            </Policy>
        </sp:SupportingTokens>
    </Policy>
    <wsdl:types>
        <xs:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/SalesOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/SalesOrder/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/SalesOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/SalesOrder/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/SalesOrder/Types">
            <xs:complexType name="NotificationMedia">
                <xs:sequence>
                    <xs:element name="Media" type="xs:string"/>
                    <xs:element name="Address" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderLine">
                <xs:sequence>
                    <xs:element name="ItemCode" type="xs:string"/>
                    <xs:element name="Amount" type="xs:decimal"/>
                    <xs:element name="Quantity" type="xs:int"/>
                    <xs:element minOccurs="0" name="Serial" type="xs:string"/>
                    <xs:element name="ItemType">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Recharge"/>
                                <xs:enumeration value="VOMS"/>
                                <xs:enumeration value="Validity"/>
                                <xs:enumeration value="Device"/>
                                <xs:enumeration value="Service"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Params" type="typ:Params"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CardInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                    <xs:element minOccurs="0" name="HolderName" type="xs:string"/>
                    <xs:element name="MerchantId" type="xs:string"/>
                    <xs:element name="MerchantPassword" type="xs:string"/>
                    <xs:element name="TerminalId" type="xs:string"/>
                    <xs:element minOccurs="0" name="AuthCode" type="xs:string"/>
                    <xs:element name="CardNumber" type="xs:string"/>
                    <xs:element name="ExpiryDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="CVV" type="xs:string"/>
                    <xs:element minOccurs="0" name="IssuingBank" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SalesOrderInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ContractId" type="xs:string"/>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:element name="Amount" type="xs:decimal"/>
                        <xs:element minOccurs="0" name="UserName" type="xs:string"/>
                        <xs:element name="PaymentMethod" type="xs:string"/>
                        <xs:element name="TransactionReference" type="xs:string"/>
                        <xs:element name="AuthorizeCredit" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="OrderLines" type="typ:OrderLine"/>
                        <xs:element minOccurs="0" name="CardDetails" type="typ:CardInfo"/>
                        <xs:element minOccurs="0" name="CustomerName" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="NotificationMedia" type="typ:NotificationMedia"/>
                        <xs:element minOccurs="0" name="Notes" type="xs:string"/>
                        <xs:element minOccurs="0" name="Params" type="typ:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Authorization">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MerchantId" type="xs:string"/>
                    <xs:element minOccurs="0" name="Amount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="TransactionReference" type="xs:string"/>
                    <xs:element minOccurs="0" name="ShoppingTransactionReference" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                    <xs:element minOccurs="0" name="OrderInfo" type="xs:string"/>
                    <xs:element minOccurs="0" name="AuthorizationStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="ReceiptNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="AuthorizationID" type="xs:string"/>
                    <xs:element minOccurs="0" name="AcquirerResponseCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="SettlmentDate" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SalesOrderOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestStatus" type="xs:string"/>
                        <xs:element minOccurs="0" name="ReceiptNumber" type="xs:string"/>
                        <xs:element name="Authorization" type="typ:Authorization"/>
                        <xs:element minOccurs="0" name="Params" type="typ:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Param">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Params">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Param" type="typ:Param"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="MessageType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Successful"/>
                    <xs:enumeration value="PartiallySuccessful"/>
                    <xs:enumeration value="Failed"/>
                    <xs:enumeration value="NotFound"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="QueryStatusInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="UserName" type="xs:string"/>
                        <xs:element name="TransactionReference" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryStatusOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionStatus" type="typ:MessageType"/>
                        <xs:element minOccurs="0" name="ReceiptNumber" type="xs:string"/>
                        <xs:element minOccurs="0" name="Authorization" type="typ:Authorization"/>
                        <xs:element minOccurs="0" name="Params" type="typ:Params"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="SalesOrderRequest">
        <wsdl:part element="WL5G3N1:SalesOrderInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="SalesOrderResponse">
        <wsdl:part element="WL5G3N1:SalesOrderOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="WL5G3N2:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="QueryStatusRequest">
        <wsdl:part element="WL5G3N1:QueryStatusInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="QueryStatusResponse">
        <wsdl:part element="WL5G3N1:QueryStatusOutput" name="response"/>
    </wsdl:message>
    <wsdl:portType name="SalesOrderPort">
        <wsdl:operation name="SalesOrder">
            <wsdl:input message="WL5G3N3:SalesOrderRequest"/>
            <wsdl:output message="WL5G3N3:SalesOrderResponse"/>
            <wsdl:fault message="WL5G3N3:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="QueryStatus">
            <wsdl:input message="WL5G3N3:QueryStatusRequest"/>
            <wsdl:output message="WL5G3N3:QueryStatusResponse"/>
            <wsdl:fault message="WL5G3N3:faultMessage" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="SalesOrderExt">
            <wsdl:input message="WL5G3N3:SalesOrderRequest"/>
            <wsdl:output message="WL5G3N3:SalesOrderResponse"/>
            <wsdl:fault message="WL5G3N3:faultMessage" name="fault1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SalesOrderBinding" type="WL5G3N3:SalesOrderPort">
        <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_username_token_service_policy" wsdl:required="false"/>
        <wsdl:operation name="SalesOrder">
            <WL5G3N4:operation soapAction="SalesOrder"/>
            <wsdl:input>
                <WL5G3N4:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <WL5G3N4:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <WL5G3N4:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SalesOrderExt">
            <WL5G3N4:operation soapAction="SalesOrderExt"/>
            <wsdl:input>
                <WL5G3N4:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <WL5G3N4:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <WL5G3N4:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryStatus">
            <WL5G3N4:operation soapAction="QueryStatus"/>
            <wsdl:input>
                <WL5G3N4:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <WL5G3N4:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <WL5G3N4:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SalesOrder">
        <wsdl:port binding="WL5G3N3:SalesOrderBinding" name="SalesOrderPort">
            <WL5G3N4:address location="http://soadev1.kw.zain.com:8044/ZESB/SalesOrder"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>