src/CommonProject/BusinessSchemas/Services/Applications/Common/Dunning/BarringOrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/Common/Dunning/BarringOrderResponse.xsd"
	 targetNamespace="http://www.tibco.com/schemas/CommonProject/BusinessSchemas/Services/Applications/Common/Dunning/BarringOrderResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="BarringOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MSISDN"/>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="ContractId" minOccurs="0"/>
				<xs:element ref="ExternalOrderId" minOccurs="0"/>
				<xs:element ref="CRMOrderId" minOccurs="0"/>
				<xs:element ref="EOMOrderId" minOccurs="0"/>
				<xs:element ref="FInalResponse"/>
				<xs:element ref="RequestTime" minOccurs="0"/>
				<xs:element ref="ResponseTime" minOccurs="0"/>
				<xs:element ref="CFSID" minOccurs="0"/>
				<xs:element ref="DunningActionCode" minOccurs="0"/>
				<xs:element ref="Action"/>
				<xs:element ref="Status"/>
				<xs:element ref="TargetSystem"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="CustomerID" type="xs:string"/>
	<xs:element name="ContractId" type="xs:string"/>
	<xs:element name="ExternalOrderId" type="xs:string"/>
	<xs:element name="CRMOrderId" type="xs:string"/>
	<xs:element name="FinalResponse" type="xs:string"/>
	<xs:element name="RequestTime" type="xs:string"/>
	<xs:element name="ResponseTime" type="xs:string"/>
	<xs:element name="CFSID" type="xs:string"/>
	<xs:element name="ActionCode" type="xs:string"/>
	<xs:element name="Action" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="EOMOrderId" type="xs:string"/>
	<xs:element name="FInalResponse" type="xs:string"/>
	<xs:element name="TargetSystem" type="xs:string"/>
	<xs:element name="DunningActionCode" type="xs:string"/>
</xs:schema>