src/CommonProject/BusinessSchemas/Services/Applications/Common/Dunning/CustomerDunning.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/CustomerDunning.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/CustomerDunning.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CustomerDunningInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerDunningReq" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransactionID" type="xs:string"/>
	<xs:element name="ChannelName" type="xs:string"/>
	<xs:element name="TransactionDateTime" type="xs:string"/>
	<xs:element name="BSCSCustomerID" type="xs:string"/>
	<xs:element name="OldStatus" type="xs:string"/>
	<xs:element name="NewStatus" type="xs:string"/>
	<xs:element name="CustomerDunningOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Result" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Result" type="xs:string"/>
	<xs:element name="Remarks" type="xs:string"/>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerDunningReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransactionID" minOccurs="0"/>
				<xs:element ref="ChannelName" minOccurs="0"/>
				<xs:element ref="TransactionDateTime" minOccurs="0"/>
				<xs:element ref="BSCSCustomerID" minOccurs="0"/>
				<xs:element ref="OldStatus" minOccurs="0"/>
				<xs:element ref="NewStatus" minOccurs="0"/>
				<xs:element ref="Remarks" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>