src/CommonProject/BusinessSchemas/Services/Applications/Common/Dunning/Dunning.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/Dunning.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/Dunning.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="OrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransactionID"/>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="ContractID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="OrderType"/>
				<xs:element ref="OrderSubType"/>
				<xs:element ref="SourceSystem"/>
				<xs:element ref="Reason"/>
				<xs:element ref="OrderItems" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerID" type="xs:string"/>
	<xs:element name="ContractID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="OrderType" type="xs:string"/>
	<xs:element name="SourceSystem" type="xs:string"/>
	<xs:element name="Reason" type="xs:string"/>
	<xs:element name="OrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="References" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderSubType" type="xs:string"/>
	<xs:element name="TransactionID" type="xs:string"/>
	<xs:element name="References">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Items" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="OrderItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ECMID" minOccurs="0"/>
				<xs:element ref="ActionCode" minOccurs="0"/>
				<xs:element ref="ServiceParameters" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECMID" type="xs:string"/>
	<xs:element name="ActionCode" type="xs:string"/>
	<xs:element name="ServiceParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Items" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>