src/CommonProject/BusinessSchemas/Services/Applications/Common/Dunning/ListOfCBiO2CustomerDunningReq.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2CustomerDunningReq" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2CustomerDunningReq" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfCBiO2CustomerDunningReq" type="xsdLocal:ListOfCBiO2CustomerDunningReq"
/><xsd:complexType name="ListOfCBiO2CustomerDunningReqTopElmt"
><xsd:sequence
><xsd:element name="ListOfCBiO2CustomerDunningReq" type="xsdLocal:ListOfCBiO2CustomerDunningReq" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCBiO2CustomerDunningReq"
><xsd:sequence
><xsd:element name="CBiO2CustomerDunningReq" type="xsdLocal:CBiO2CustomerDunningReq" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="CBiO2CustomerDunningReq"
><xsd:sequence
><xsd:element name="TransactionID" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionDateTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Source" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="OldStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="NewStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Remarks" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>