src/GW_OrdMgmt/BusinessProcesses/Services/Common/ExpiredOfferRemoval/HelperProcess/ParseCRMResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ROW_ID" type="xs:string" nillable="true"/>
										<xs:element name="CUSTOMER_ID" type="xs:string" nillable="true"/>
										<xs:element name="SERVICE_END_DT" type="xs:string" nillable="true"/>
										<xs:element name="MSISDN" type="xs:string" nillable="true"/>
										<xs:element name="ECM_PROMOTION_ID" type="xs:string" nillable="true"/>
										<xs:element name="IMSI" type="xs:string" nillable="true"/>
										<xs:element name="NOTIFICATION_NO" type="xs:string" nillable="true"/>
										<xs:element name="SERVICE_CFSS_ID" type="xs:string" nillable="true"/>
										<xs:element name="SMS_TEXT" type="xs:string" nillable="true"/>
										<xs:element name="CONTRACT_ID" type="xs:string" nillable="true"/>
										<xs:element name="ACTION_CD" type="xs:string" nillable="true"/>
										<xs:element name="CUSTOMER_TYPE" type="xs:string" nillable="true"/>
										<xs:element name="CUST_FIRSTNAME" type="xs:string" nillable="true"/>
										<xs:element name="CUST_LASTNAME" type="xs:string" nillable="true"/>
										<xs:element name="DN_ID" type="xs:string" nillable="true"/>
										<xs:element name="ICCID" type="xs:string" nillable="true"/>
										<xs:element name="MARKET_CD" type="xs:string" nillable="true"/>
										<xs:element name="SOURCE_SYSTEM" type="xs:string" nillable="true"/>
										<xs:element name="SUBMARKET_CD" type="xs:string" nillable="true"/>
										<xs:element name="SUBSCRIBER_NO" type="xs:string" nillable="true"/>
										<xs:element name="ASSET_ID" type="xs:string" nillable="true"/>
										<xs:element name="PACKAGE_ID" type="xs:string" nillable="true"/>
										<xs:element name="BATCH_FLG" type="xs:string" nillable="true"/>
										<xs:element name="PREF_LANGUAGE" type="xs:string" nillable="true"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>