src/CommonProject/BusinessSchemas/Services/Applications/CRM/Transaction/CBiO2ChargePlanExternalIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2%20Charge%20Plan%20IO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Charge%20Plan%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage"  />
	<xsd:complexType name="SiebelMessage" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2ChargePlanIo" type="xsdLocal:ListOfCbio2ChargePlanIo" minOccurs="0" maxOccurs="1"  />
		</xsd:sequence >
		<xsd:attribute name="MessageId" type="xsd:string"  />
		<xsd:attribute name="MessageType" type="xsd:string"  />
		<xsd:attribute name="IntObjectName" type="xsd:string"  />
		<xsd:attribute name="IntObjectFormat" type="xsd:string"  />
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2ChargePlanIo" >
		<xsd:sequence >
			<xsd:element name="ChargePlan" type="xsdLocal:ChargePlan" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ChargePlan" >
		<xsd:sequence >
			<xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AgreementId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SubscriberNo" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OCCId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ProdName" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="POSMSISDN" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BillCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SNCODEPUB" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SPCODEPUB" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RPCODEPUB" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PayableAmount" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="SalesRep" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ShopId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Channel" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Category" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="RecurringFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BillingProfile" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Quantity" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Remark" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >