src/CommonProject/BusinessSchemas/Services/Applications/CRM/Transaction/CBiO2ChargePlanPostResIO.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2STPaymentResIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2STPaymentResIO" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="ListOfChargePlanPostResIO" type="xsdLocal:ListOfChargePlanPostResIO" />
	<xsd:complexType name="ListOfChargePlanPostResIOTopElmt" >
		<xsd:sequence >
			<xsd:element name="ListOfChargePlanPostResIO" type="xsdLocal:ListOfChargePlanPostResIO" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfChargePlanPostResIO" >
		<xsd:sequence >
			<xsd:element name="ChargePlan" type="xsdLocal:ChargePlan" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ChargePlan" >
		<xsd:sequence >
			<xsd:element name="OCCId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AgreementId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Code" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Type" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BillingProfile" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >