src/CommonProject/BusinessSchemas/Services/Applications/CRM/Transaction/ListOfCbio2cashsalesio.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2CashSalesIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2CashSalesIO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfCbio2cashsalesio" type="xsdLocal:ListOfCbio2cashsalesio"
/><xsd:complexType name="ListOfCbio2cashsalesioTopElmt"
><xsd:sequence
><xsd:element name="ListOfCbio2cashsalesio" type="xsdLocal:ListOfCbio2cashsalesio" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCbio2cashsalesio"
><xsd:sequence
><xsd:element name="OrderEntry-Orders" type="xsdLocal:OrderEntry-Orders" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="OrderEntry-Orders"
><xsd:sequence
><xsd:element name="CBiO2ArabicFullName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CreatedDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CustomerIDNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CustomerIDType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CustomerPhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2EnglishFullName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SalesChannel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SalesTransactionSubType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SalesTransactionType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ShopId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SyncinERP" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2TransactionRef" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2UserName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Status" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CBiO2NotificationMedia" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2NotificationMediaAddress" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="OldSTReceiptNum" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2POSTransactionType" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2OldTransactionAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2OldTransactionId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfOrderEntry-LineItems" type="xsdLocal:ListOfOrderEntry-LineItems" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfPayments" type="xsdLocal:ListOfPayments" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfOrderEntry-LineItems"
><xsd:sequence
><xsd:element name="OrderEntry-LineItems" type="xsdLocal:OrderEntry-LineItems" minOccurs="1" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="OrderEntry-LineItems"
><xsd:sequence
><xsd:element name="CBiO2IntactScreen" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ItemCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PinNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PowerUp" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ReservationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ToSerialNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2VoucherExpiryDate2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2VoucherStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2VoucherSubNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CompletedDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DiscountAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DiscountPercent" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ProductId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Quantity" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="CBiO2TopupNewBalanceAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2TopupNewExpiryDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2FromSerialNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ItemAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ItemType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ExecuteStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfPayments"
><xsd:sequence
><xsd:element name="Payments" type="xsdLocal:Payments" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="Payments"
><xsd:sequence
><xsd:element name="CreditCardNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AuthorizationCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AuthorizationDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2AuthorizeCredit" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Channel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ExtTransactionRef" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MerchantId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PaymentDateTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ReceiptNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SalesAgent" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ShopId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2TerminalId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Username2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2VoucherNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2WorkArea" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CardHolder" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExpirationMonth" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExpirationYear" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IssuingBankName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentMethod" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="VerificationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PayDesk" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Additional_Desc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_Occurance_Time" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Error_UserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntAcquireResCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntAuthorizationId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntAuthorizationStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CardType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntOrderInfo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntRecieptNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntSettlementDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntShoppingTranRef" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MrchntTransactionRef" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>