src/CommonProject/BusinessSchemas/Services/Applications/CRM/Transaction/ListOfCbio2paymentreversalasyncio.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2PaymentReversalAsyncIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2PaymentReversalAsyncIO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="SiebelMessage" type="xsdLocal:SiebelMessage" 
/><xsd:complexType name="SiebelMessage"
><xsd:sequence
><xsd:element name="ListOfCbio2paymentreversalasyncio" type="xsdLocal:ListOfCbio2paymentreversalasyncio" minOccurs="0" maxOccurs="1" 
/></xsd:sequence
><xsd:attribute name="MessageId" type="xsd:string" 
/><xsd:attribute name="MessageType" type="xsd:string" 
/><xsd:attribute name="IntObjectName" type="xsd:string" 
/><xsd:attribute name="IntObjectFormat" type="xsd:string" 
/></xsd:complexType
><xsd:complexType name="ListOfCbio2paymentreversalasyncio"
><xsd:sequence
><xsd:element name="Cbio2ExternalPaymentPostingBc" type="xsdLocal:Cbio2ExternalPaymentPostingBc" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="Cbio2ExternalPaymentPostingBc"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="AccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2BankBranch" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Channel" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ChequeNum" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2CustomerSequenceNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2IssueDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2Location" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2MerchantId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PayAuthCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PayDesk" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PaymentDateTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PaymentMode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PaymentModeShortCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PaymentRef" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2PaymentReversalReason" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ReceiptNo" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ReversalTransactionDate" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ReversalUser" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SalesAgent" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2ShopId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2TerminalId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2WorkArea" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CardHolder" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExpirationMonth" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ExpirationYear" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="IssuingBankName" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentMethod" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentStatus" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="TransactionType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="VerificationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ListOfCbio2SubscriberPaymentInfo" type="xsdLocal:ListOfCbio2SubscriberPaymentInfo" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCbio2SubscriberPaymentInfo"
><xsd:sequence
><xsd:element name="Cbio2SubscriberPaymentInfo" type="xsdLocal:Cbio2SubscriberPaymentInfo" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="Cbio2SubscriberPaymentInfo"
><xsd:sequence
><xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="BillingAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ContractId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="DocumentId" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentAmount" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="PaymentRef" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>