src/CommonProject/BusinessSchemas/Services/Applications/CRM/Transaction/ListOfCbio2scxpaymentresio.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2SCXPaymentResIO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2SCXPaymentResIO" attributeFormDefault="unqualified" elementFormDefault="qualified"  >
	<xsd:annotation >
		<xsd:documentation >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation >
	</xsd:annotation >
	<xsd:element name="ListOfCbio2scxpaymentresio" type="xsdLocal:ListOfCbio2scxpaymentresio" />
	<xsd:complexType name="ListOfCbio2scxpaymentresioTopElmt" >
		<xsd:sequence >
			<xsd:element name="ListOfCbio2scxpaymentresio" type="xsdLocal:ListOfCbio2scxpaymentresio" minOccurs="1" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="ListOfCbio2scxpaymentresio" >
		<xsd:sequence >
			<xsd:element name="Cbio2BulkPaymentDetails" type="xsdLocal:Cbio2BulkPaymentDetails" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence >
	</xsd:complexType >
	<xsd:complexType name="Cbio2BulkPaymentDetails" >
		<xsd:sequence >
			<xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2Error_Additional_Desc1" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2Error_Additional_Desc2" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2Error_Occurance_Time" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2Error_SourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2Error_UserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CBiO2Error_UserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="PaymentStatus" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence >
	</xsd:complexType >
</xsd:schema >