src/CommonProject/BusinessWSDLS/Services/BSCS/GMDRequestDeatilsRead/GmdRequestDeatilsReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CMI_5/gmdrequestdeatilsread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CMI_5" targetNamespace="http://ericsson.com/services/ws_CMI_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CMI_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CMI_5/gmdrequestdeatilsread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CMI_5/gmdrequestdeatilsread">
			<xs:import namespace="http://ericsson.com/services/ws_CMI_5/sessionchange"/>
			<xs:element name="gmdRequestDeatilsReadRequest" type="wsi:gmdRequestDeatilsReadRequest"/>
			<xs:element name="gmdRequestDeatilsReadResponse" type="wsi:gmdRequestDeatilsReadResponse"/>
			<xs:complexType name="serviceDetailsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="serviceDes" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="gmdRequestsDetailsListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="status" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract Id.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Error Code.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="requestId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Request ID.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="actionDes" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Action Description.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="serviceDetails" type="wsi:serviceDetailsResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="gmdRequestsDetailsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:gmdRequestsDetailsListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="gmdRequestDeatilsReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="response" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>response Message</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="gmdRequestsDetails" type="wsi:gmdRequestsDetailsResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>BSCS ID of the Contract.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="gmdRequestDeatilsReadRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="gmdRequestDeatilsReadResponse">
		<wsdl:part element="sch3:gmdRequestDeatilsReadResponse" name="gmdRequestDeatilsReadResponse"/>
	</wsdl:message>
	<wsdl:message name="gmdRequestDeatilsReadRequest">
		<wsdl:part element="sch3:gmdRequestDeatilsReadRequest" name="gmdRequestDeatilsReadRequest"/>
	</wsdl:message>
	<wsdl:portType name="GmdRequestDeatilsReadService">
		<wsdl:operation name="gmdRequestDeatilsRead">
			<wsdl:input message="tns:gmdRequestDeatilsReadRequest" name="gmdRequestDeatilsReadRequest"/>
			<wsdl:output message="tns:gmdRequestDeatilsReadResponse" name="gmdRequestDeatilsReadResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GmdRequestDeatilsReadServiceSoap11" type="tns:GmdRequestDeatilsReadService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="gmdRequestDeatilsRead">
			<soap:operation soapAction=""/>
			<wsdl:input name="gmdRequestDeatilsReadRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="gmdRequestDeatilsReadResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GmdRequestDeatilsReadService">
		<wsdl:port binding="tns:GmdRequestDeatilsReadServiceSoap11" name="GmdRequestDeatilsReadServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>