src/CommonProject/BusinessSchemas/Services/Common/SOAP/Header.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:hdr="http://www.ericsson.com/Mozaic/BusinessSchemas/SOAP/XSDs/Header.xsd"
	 xmlns:typ="http://www.ericsson.com/GW/Common/datatypes"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 targetNamespace="http://www.ericsson.com/Mozaic/BusinessSchemas/SOAP/XSDs/Header.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.ericsson.com/CDM/telecom/canonicaldatamodel" schemaLocation="../../../../CDM/CDM.xsd"/>
	<xsd:element name="Header">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ApplicationID" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ComponentName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Hostname" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Timestamp" type="xsd:dateTime"/>
				<xsd:element name="TransactionDomain" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TransactionType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TransactionID" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>