src/CommonProject/BusinessWSDLS/Services/WSDLS/CorporateVoucherInbound/CorporateVoucherInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.zain.com/ZESB/Services/InvoicePaymentUsingAdjustmentRes" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.zain.com/ZESB/Services/InvoicePaymentUsingAdjustmentReq" xmlns:tns="http://www.Zain.com/ZESB/Services/CorporateVoucherInbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns9="http://www.zain.com/ZESB/Services/QueryActiveVouchersRes" xmlns:ns10="http://www.zain.com/ZESB/Services/QueryActiveVouchersFault" xmlns:ns8="http://www.zain.com/ZESB/Services/QueryActiveVouchersReq" targetNamespace="http://www.Zain.com/ZESB/Services/CorporateVoucherInbound">
    <documentation>QueryActiveVouchers:CR-020-066-003</documentation>
    <import namespace="http://www.zain.com/ZESB/Services/QueryActiveVouchersReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/QueryActiveVouchers/QueryActiveVoucherssReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/QueryActiveVouchersRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/QueryActiveVouchers/QueryActiveVouchersRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/QueryActiveVouchersFault" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/QueryActiveVouchers/Fault.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/InvoicePaymentUsingAdjustmentReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/InvoicePaymentUsingAdjustment/InvoicePaymentUsingAdjustmentReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/InvoicePaymentUsingAdjustmentRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/InvoicePaymentUsingAdjustment/InvoicePaymentUsingAdjustmentRes.xsd"/>
    <message name="InvoicePaymentUsingAdjustmentReq">
        <part name="InvPayReq" element="ns:InvoicePaymentUsingAdjustmentReq"/>
    </message>
    <message name="InvoicePaymentUsingAdjustmentRes">
        <part name="InvPayRes" element="ns2:InvoicePaymentUsingAdjustmentRes"/>
    </message>
    <message name="QueryAcriveVouchersReq">
        <part element="ns8:QueryActiveVouchersReq" name="VouchersReq"/>
    </message>
    <message name="QueryActiveVouchersRes">
        <part element="ns9:QueryActiveVouchersRes" name="VouchersRes"/>
    </message>
    <message name="Fault">
        <part element="ns10:Fault" name="Fault"/>
    </message>
    <portType name="CorporateVoucherInboundPortType">
        <operation name="QueryActiveVouchers">
            <documentation>Reqid: CR-020-066-003 : return list of credit vouchers for a customer
              Field VoucherType can have values [case sensetive --(Corporate Gift Voucher,Trade in Voucher,Device Insurance Voucher,Gift Voucher,Credit Note)] 
			</documentation>
            <input message="tns:QueryAcriveVouchersReq"/>
            <output message="tns:QueryActiveVouchersRes"/>
            <fault message="tns:Fault" name="fault1"/>
        </operation>
        <operation name="InvoicePaymentUsingAdjustment">
            <documentation>CR-020-066-005</documentation>
            <input message="tns:InvoicePaymentUsingAdjustmentReq"/>
            <output message="tns:InvoicePaymentUsingAdjustmentRes"/>
            <fault name="fault" message="tns:Fault"/>
        </operation>
    </portType>
</definitions>