src/CommonProject/BusinessWSDLS/Services/EMA/HuaweiMNP/HuaweiMNPSV_wsdl_fixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:huaweimnpsv="http://schemas.ericsson.com/ema/UserProvisioning/HuaweiMNPSV/" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:cai3g="http://schemas.ericsson.com/cai3g1.2/" xmlns="http://schemas.ericsson.com/ema/UserProvisioning/HuaweiMNPSV/" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" targetNamespace="http://schemas.ericsson.com/ema/UserProvisioning/HuaweiMNPSV/" jaxb:version="2.0" jaxb:extensionBindingPrefixes="xjc" attributeFormDefault="unqualified" elementFormDefault="qualified">

	<xs:element type="xs:string" name="actionid" />

	<xs:annotation>
		<xs:appinfo>HuaweiMNPSV Subscription</xs:appinfo>
	</xs:annotation>

	<xs:element type="SetSubscriptionType" name="setSubscription">
		<xs:annotation>
			<xs:documentation>Set Subscription</xs:documentation>
		</xs:annotation>
		<xs:key name="actionidKey_Set">
			<xs:selector xpath="." />
			<xs:field xpath="@actionid" />
		</xs:key>
		<xs:keyref refer="actionidKey_Set" name="actionidKeyRef_Set">
			<xs:selector xpath="." />
			<xs:field xpath="actionid" />
		</xs:keyref>
	</xs:element>

	<xs:complexType name="SetSubscriptionType">
		<xs:sequence>
			<xs:element name="actionid" minOccurs="0" type="xs:string" />
			<xs:element name="isdn" minOccurs="0" type="xs:string" />
			<xs:element name="numbertype" minOccurs="0" type="xs:integer" />
			<xs:element name="imsi" minOccurs="0" type="xs:string" />
			<xs:element name="hlraddress" minOccurs="0" type="xs:string" />
			<xs:element name="newroute" minOccurs="0" type="xs:string" />
			<xs:element name="newnumber" minOccurs="0" type="xs:string" />
			<xs:element name="newimsi" minOccurs="0" type="xs:string" />
			<xs:element name="routinelocation" minOccurs="0" type="xs:string" />
			<xs:element name="oldroutinelocation" minOccurs="0" type="xs:string" />
			<xs:element name="lastmodifieddate" minOccurs="0" type="xs:string" />
			<xs:element name="prepost_paid" minOccurs="0" type="xs:string" />
			<xs:element name="srvname" minOccurs="0" type="xs:string" />
			<xs:element name="transno" minOccurs="0" type="xs:string" />
			<xs:element name="ordernumber" minOccurs="0" type="xs:string" />
		</xs:sequence>
		<xs:attribute type="xs:string" use="required" name="actionid">
			<xs:annotation>
				<xs:appinfo>
					<jaxb:property name="actionidAttr" />
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>    

	<xs:element name="setResponseSubscription"
    	type="huaweimnpsv:SetResponseSubscriptionType">
	</xs:element>

	<xs:complexType name="SetResponseSubscriptionType">
		<xs:sequence>
			<xs:element name="startTime" type="xs:string" maxOccurs="1" minOccurs="0"/>
			<xs:element name="endTime" type="xs:string" maxOccurs="1" minOccurs="0"/>
			<xs:element name="respCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
			<xs:element name="respDesc" type="xs:string" maxOccurs="1" minOccurs="0"/>
			<xs:element name="respSource" type="xs:string" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
