src/GW_ERP/BusinessProcesses/Services/ERP/BusinessWSDL/InventoryManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns16="http://www.zain.com/ZESB/Services/Inventory/posTransactionRequest.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns17="http://www.zain.com/ZESB/Services/Inventory/posTransactionResponse.xsd" xmlns:ns14="http://www.zain.com/ZESB/Services/Inventory/QueryItemWarrentyInfoRequest.xsd" xmlns:ns="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryRequest.xsd" xmlns:ns15="http://www.zain.com/ZESB/Services/Inventory/QueryItemWarrentyInfoResponse.xsd" xmlns:ns9="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" xmlns:ns12="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" xmlns:ns5="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" xmlns:ns13="http://www.tibco.com/schemas/GW/BusinessProcesses/Services/ERP/BusinessSchemas/InventoryManagement/Fault/Schema.xsd" xmlns:ns6="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" xmlns:ns10="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" xmlns:ns7="http://www.zain.com/ZESB/Services/Inventory/QueryStoreRequest.xsd" xmlns:ns11="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" xmlns:ns8="http://www.zain.com/ZESB/Services/Inventory/QueryStoreResponse.xsd" xmlns:ns2="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryResponse.xsd" xmlns:ns4="http://www.zain.com/ZESB/Services/Inventory/QueryAllStoresResponse.xsd" xmlns:ns3="http://www.zain.com/ZESB/Services/Inventory/QueryAllStoresRequest.xsd" xmlns:tns="http://xmlns.example.com/1443506317373" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1443506317373">
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryRequest.xsd" location="../BusinessSchemas/InventoryManagement/DeductInventoryItem/DeductInventoryRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/DeductInventoryResponse.xsd" location="../BusinessSchemas/InventoryManagement/DeductInventoryItem/DeductInventoryResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryAllStoresRequest.xsd" location="../BusinessSchemas/InventoryManagement/QueryAllStore/QueryAllStoresRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryAllStoresResponse.xsd" location="../BusinessSchemas/InventoryManagement/QueryAllStore/QueryAllStoresResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoRequest.xsd" location="../BusinessSchemas/InventoryManagement/QueryItemInfo/QueryItemInfoRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemInfoResponse.xsd" location="../BusinessSchemas/InventoryManagement/QueryItemInfo/QueryItemInfoResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryStoreRequest.xsd" location="../BusinessSchemas/InventoryManagement/QueryStore/QueryStoreRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryStoreResponse.xsd" location="../BusinessSchemas/InventoryManagement/QueryStore/QueryStoreResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryRequest.xsd" location="../BusinessSchemas/InventoryManagement/ReleaseInventoryItem/ReleaseInventoryRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd" location="../BusinessSchemas/InventoryManagement/ReleaseInventoryItem/ReleaseInventoryResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryResponse.xsd" location="../BusinessSchemas/InventoryManagement/ReserveInventoryItem/ReserveInventoryResponse.xsd"/>
    <import namespace="http://www.tibco.com/schemas/GW/BusinessProcesses/Services/ERP/BusinessSchemas/InventoryManagement/Fault/Schema.xsd" location="../BusinessSchemas/InventoryManagement/Fault/FaultMessage.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/ReserveInventoryRequest.xsd" location="../BusinessSchemas/InventoryManagement/ReserveInventoryItem/ReserveInventoryRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemWarrentyInfoRequest.xsd" location="../BusinessSchemas/InventoryManagement/QueryItemWarrentyInfo/QueryItemWarrentyInfoRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/QueryItemWarrentyInfoResponse.xsd" location="../BusinessSchemas/InventoryManagement/QueryItemWarrentyInfo/QueryItemWarrentyInfoResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionRequest.xsd" location="../BusinessSchemas/InventoryManagement/POSTransaction/POSTransactionRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/Inventory/posTransactionResponse.xsd" location="../BusinessSchemas/InventoryManagement/POSTransaction/POSTransactionResponse.xsd"/>
    <message name="DeductInventoryItemReq">
        <part name="DeductInventoryItemReq" element="ns:DeductInventoryItemRequest"/>
    </message>
    <message name="DeductInventoryItemRes">
        <part name="DeductInventoryResponse" element="ns2:DeductInventoryResponse"/>
    </message>
    <message name="QueryAllStoreRequest">
        <part name="QueryAllStoresReq" element="ns3:QueryAllStoresRequest"/>
    </message>
    <message name="QueryAllStoreResponse">
        <part name="QueryAllStoresRes" element="ns4:QueryAllStoresResponse"/>
    </message>
    <message name="QueryItemInfoRequest">
        <part name="QueryItemInfoReq" element="ns5:QueryItemInfoRequest"/>
    </message>
    <message name="QueryItemInfoResponse">
        <part name="QueryItemInfoRes" element="ns6:QueryItemInfoResponse"/>
    </message>
    <message name="QueryStoreRequest">
        <part name="QueryStoreReq" element="ns7:QueryStoreRequest"/>
    </message>
    <message name="QueryStoreResponse">
        <part name="QueryStoreRes" element="ns8:QueryStoreResponse"/>
    </message>
    <message name="ReleaseInventoryItemReq">
        <part name="ReleaseInventoryReq" element="ns9:ReleaseInventoryRequest"/>
    </message>
    <message name="ReleaseInventoryItemResponse">
        <part name="ReleaseInventoryRes" element="ns10:ReleaseInventoryResponse"/>
    </message>
    <message name="ReserveInventoryItemRequest">
        <part name="ReserveInventoryItemReq" element="ns11:ReserveInventoryItemRequest"/>
    </message>
    <message name="ReserveInventoryResponse">
        <part name="ReserveInventoryRes" element="ns12:ReserveInventoryResponse"/>
    </message>
    <message name="Fault">
        <part name="fault" element="ns13:FaultMessage"/>
    </message>
    <message name="QueryItemWarrentyInfoRequest">
        <part name="QueryItemWarrentyInfoReq" element="ns14:warrentyInfoRequest"/>
    </message>
    <message name="QueryItemWarrentyInfoResponse">
        <part name="QueryItemWarrentyInfoRes" element="ns15:warrentyInfoResponse"/>
    </message>
    <message name="POSTransactionRequest">
        <part name="POSTransactionReq" element="ns16:posTransactionRequest"/>
    </message>
    <message name="POSTransactionResponse">
        <part name="POSTransactionRes" element="ns17:posTransactionResponse"/>
    </message>
    <portType name="InventoryManagement">
        <operation name="DeductInventoryItem">
            <input message="tns:DeductInventoryItemReq"/>
            <output message="tns:DeductInventoryItemRes"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="QueryAllStore">
            <input message="tns:QueryAllStoreRequest"/>
            <output message="tns:QueryAllStoreResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="QueryItemInfo">
            <input message="tns:QueryItemInfoRequest"/>
            <output message="tns:QueryItemInfoResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="QueryStore">
            <input message="tns:QueryStoreRequest"/>
            <output message="tns:QueryStoreResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="ReleaseInventoryItem">
            <input message="tns:ReleaseInventoryItemReq"/>
            <output message="tns:ReleaseInventoryItemResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="ReserveInventoryItem">
            <input message="tns:ReserveInventoryItemRequest"/>
            <output message="tns:ReserveInventoryResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="QueryItemWarrentyInfo">
            <input message="tns:QueryItemWarrentyInfoRequest"/>
            <output message="tns:QueryItemWarrentyInfoResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
        <operation name="POSTransaction">
            <input message="tns:POSTransactionRequest"/>
            <output message="tns:POSTransactionResponse"/>
            <fault name="fault1" message="tns:Fault"/>
        </operation>
    </portType>
</definitions>