src/CommonProject/BusinessWSDLS/Services/BSCS/MsisdnPortStatusChange/MsisdnPortStatusChangeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/msisdnportstatuschange" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/msisdnportstatuschange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/msisdnportstatuschange">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:element name="msisdnPortStatusChangeRequest" type="wsi:msisdnPortStatusChangeRequest"/>
			<xs:element name="msisdnPortStatusChangeResponse" type="wsi:msisdnPortStatusChangeResponse"/>
			<xs:complexType name="msisdnPortStatusChangeResponse">
				<xs:all>
					<xs:element minOccurs="0" name="dnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Directory Number Id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dirnum" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Directory Number</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="status" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Directory Number Status</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:element minOccurs="0" name="dnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Directory Number Id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dirnum" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Directory Number</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="msisdnPortStatusChangeRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="msisdnPortStatusChangeRequest">
		<wsdl:part element="sch3:msisdnPortStatusChangeRequest" name="msisdnPortStatusChangeRequest"/>
	</wsdl:message>
	<wsdl:message name="msisdnPortStatusChangeResponse">
		<wsdl:part element="sch3:msisdnPortStatusChangeResponse" name="msisdnPortStatusChangeResponse"/>
	</wsdl:message>
	<wsdl:portType name="MsisdnPortStatusChangeService">
		<wsdl:operation name="msisdnPortStatusChange">
			<wsdl:input message="tns:msisdnPortStatusChangeRequest" name="msisdnPortStatusChangeRequest"/>
			<wsdl:output message="tns:msisdnPortStatusChangeResponse" name="msisdnPortStatusChangeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MsisdnPortStatusChangeServiceSoap11" type="tns:MsisdnPortStatusChangeService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="msisdnPortStatusChange">
			<soap:operation soapAction=""/>
			<wsdl:input name="msisdnPortStatusChangeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="msisdnPortStatusChangeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MsisdnPortStatusChangeService">
		<wsdl:port binding="tns:MsisdnPortStatusChangeServiceSoap11" name="MsisdnPortStatusChangeServiceSoap11">
			<soap:address location="http://10.96.103.208:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>