src/CommonProject/BusinessSchemas/Services/Applications/ERP/Fault/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/Fault.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="code" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="sourcesystem" type="xs:string" minOccurs="0"/>
				<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
				<xs:element name="detail" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>