src/CommonProject/BusinessSchemas/Services/EntitleServer/EOM_NotifyUserDataRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/EntitleServer/EOM_NotifyUserDataRes.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/EntitleServer/EOM_NotifyUserDataRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="NotifyUserDataRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RESULT_CODE" type="xs:string"/>
				<xs:element name="RESULT_DESC" type="xs:string"/>
				<xs:element name="Error" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ns0:ErrorResponse"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>