src/ESI_BSCS/BusinessProcesses/Services/Query/PrepaidCDRQuery/Schema/PrepaidCDRQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTNUM" type="xs:long" nillable="true"/>
										<xs:element name="START_TIME" type="xs:dateTime" nillable="true"/>
										<xs:element name="END_TIME" type="xs:dateTime" nillable="true"/>
										<xs:element name="DURATION" type="xs:decimal" nillable="true"/>
										<xs:element name="CHARGED_DURATION" type="xs:decimal" nillable="true"/>
										<xs:element name="TYPE" type="xs:string" nillable="true"/>
										<xs:element name="ENTRY_DATE" type="xs:dateTime" nillable="true"/>
										<xs:element name="CALL_TYPE" type="xs:string" nillable="true"/>
										<xs:element name="A_PARTY" type="xs:long" nillable="true"/>
										<xs:element name="B_PARTY" type="xs:string" nillable="true"/>
										<xs:element name="AMOUNT" type="xs:decimal" nillable="true"/>
										<xs:element name="DURATION_UNIT" type="xs:string" nillable="true"/>
										<xs:element name="BEFORE_CHRG_AMNT" type="xs:decimal" nillable="true"/>
										<xs:element name="AFTER_CHRG_AMNT" type="xs:decimal" nillable="true"/>
										<xs:element name="BAL_AUDIT_DATA_ACCOUNT_ID" type="xs:long" nillable="true"/>
										<xs:element name="BAL_AUDIT_DAT_OFFER_ID" type="xs:long" nillable="true"/>
										<xs:element name="BILLCODE" type="xs:string" nillable="true"/>
										<xs:element name="BILLTEXT" type="xs:string" nillable="true"/>
										<xs:element name="TTCODE_DES" type="xs:string" nillable="true"/>
										<xs:element name="ZNCODE_DES" type="xs:string" nillable="true"/>
										<xs:element name="ZPCODE_DES" type="xs:string" nillable="true"/>
										<xs:element name="ACCOUNT_TYPE" type="xs:string" nillable="true"/>
										<xs:element name="DEST_CODE" type="xs:string" nillable="true"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>