src/GW_MNP/Tester/MNPCBIO2Operations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1467282410069" xmlns:ns0="http://www.zain.com/ZESB/Services/MNPCBIO2Operations" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1467282410069">
    <wsdl:types>
        <xs:schema xmlns="http://www.zain.com/ZESB/Services/MNPCBIO2Operations" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/MNPCBIO2Operations" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="AutomaticAccept" type="xs:string"/>
            <xs:element name="CancelNPRequestPortInRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string"/>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element ref="ns0:NPOrderID"/>
                        <xs:element name="CancelMessage" type="xs:string" minOccurs="0"/>
                        <xs:element name="CancelReason" type="xs:string"/>
                        <xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
                        <xs:element name="Priority" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CancelRequestPortInResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomerId" type="xs:string"/>
            <xs:element name="DonoRejectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DonorAcceptRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string"/>
                        <xs:element ref="ns0:NPOrderID"/>
                        <xs:element ref="ns0:ordernumber" minOccurs="0"/>
                        <xs:element ref="ns0:transno" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DonorAcceptResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DonorRejectList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:DonorRejectReason"/>
                        <xs:element ref="ns0:DonorRejectMessage"/>
                        <xs:element ref="ns0:PhoneNUmberStart"/>
                        <xs:element ref="ns0:PhoneNumberEnd"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DonorRejectMessage" type="xs:string"/>
            <xs:element name="DonorRejectReason" type="xs:int"/>
            <xs:element name="DonorRejectReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string"/>
                        <xs:element name="OrderNumber" type="xs:string"/>
                        <xs:element ref="ns0:NPOrderID"/>
                        <xs:element ref="ns0:DonorRejectList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DonorRejectRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element ref="ns0:NPOrderID"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string" minOccurs="0"/>
                        <xs:element ref="ns0:ordernumber" minOccurs="0"/>
                        <xs:element ref="ns0:transno" minOccurs="0"/>
                        <xs:element ref="ns0:DonorRejectList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MessageAck">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ResCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
                        <xs:element ref="ns0:donorID" minOccurs="0"/>
                        <xs:element ref="ns0:messageID" minOccurs="0"/>
                        <xs:element ref="ns0:NPOrderID" minOccurs="0"/>
                        <xs:element ref="ns0:recipientID" minOccurs="0"/>
                        <xs:element ref="ns0:rangeHolderID" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MessageID" type="xs:int"/>
            <xs:element name="NPDeactivatedRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string"/>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element name="npOrderID" type="xs:string"/>
                        <xs:element ref="ns0:ordernumber" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NPDeactivatedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NPOrderID" type="xs:string"/>
            <xs:element name="PhoneNUmberStart" type="xs:string"/>
            <xs:element name="PhoneNumberEnd" type="xs:string"/>
            <xs:element name="RejectedPhoneNUmberRange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:PhoneNUmberStart"/>
                        <xs:element ref="ns0:PhoneNUmberStart"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPActivatedRequestPortInRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string"/>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element ref="ns0:NPOrderID"/>
                        <xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
                        <xs:element name="Priority" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPActivatedRequestPortInResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPEmergencyRestoreRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string"/>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element name="OriginalNPOrderID" type="xs:string"/>
                        <xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
                        <xs:element name="Priority" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPEmergencyRestoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPRequestPortInRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="PrepaidOrPostpaid" type="xs:string"/>
                        <xs:element ref="ns0:SenderID"/>
                        <xs:element ref="ns0:NPOrderID"/>
                        <xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
                        <xs:element name="Emergencyrestoreid" type="xs:string" minOccurs="0"/>
                        <xs:element name="Blockorderid" type="xs:string" minOccurs="0"/>
                        <xs:element name="BlockOrderCount" type="xs:string" minOccurs="0"/>
                        <xs:element name="PaymentCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="ValidationMSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="PortingTime" type="xs:string" minOccurs="0"/>
                        <xs:element name="RoutingInfoList">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="PhoneNumberStart" type="xs:string"/>
                                    <xs:element ref="ns0:PhoneNumberEnd"/>
                                    <xs:element name="RoutingNumber" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="CustomerName" type="xs:string"/>
                        <xs:element name="CustomerIdType" type="xs:string"/>
                        <xs:element ref="ns0:CustomerId"/>
                        <xs:element name="DateofBirth" type="xs:string" minOccurs="0"/>
                        <xs:element name="ServiceType" type="xs:string"/>
                        <xs:element name="CustomerType" type="xs:string"/>
                        <xs:element name="SubscriptionType" type="xs:string" minOccurs="0"/>
                        <xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
                        <xs:element name="Priority" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPRequestPortInResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPRingFencePortInRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SenderID" type="xs:string" minOccurs="0"/>
                        <xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
                        <xs:element name="PhoneNumberRange" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="PhoneNumberStart" type="xs:string" minOccurs="0"/>
                                    <xs:element name="PhoneNumberEnd" type="xs:string" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SendNPRingFencePortInResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:MessageAck"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SenderID" type="xs:string"/>
            <xs:element name="actionId" type="xs:string"/>
            <xs:element name="donorID" type="xs:string"/>
            <xs:element name="messageID" type="xs:string"/>
            <xs:element name="msisdn" type="xs:integer"/>
            <xs:element name="operation" type="xs:string"/>
            <xs:element name="ordernumber" type="xs:string"/>
            <xs:element name="rangeHolderID" type="xs:string"/>
            <xs:element name="recipientID" type="xs:string"/>
            <xs:element name="transno" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="error">
                <xs:sequence>
                    <xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
                    <xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorResponse" type="ns1:error"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="MNPCBIO2Operations">
        <wsdl:port name="MNPCBIO2OperationsPortTypeEndpoint" binding="tns:MNPCBIO2OperationsPortTypeEndpointBinding">
            <soap:address location="http://localhost:7088/MNPCBIO2OperationsEndpointURI"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="MNPCBIO2OperationsPortType">
        <wsdl:operation name="DonorAcceptPortOut">
            <wsdl:input message="tns:DonorAcceptReq"/>
            <wsdl:output message="tns:DonorAcceptRes"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="SendNPRequestPortIn">
            <wsdl:documentation>This Operation is internal and called by CRM 

The flow is CRM-&gt;ESB-&gt;EMA
			</wsdl:documentation>
            <wsdl:input message="tns:SendNPRequestPortInReq"/>
            <wsdl:output message="tns:SendNPRequestPortInRes"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="SendNPRingFencePortIn">
            <wsdl:documentation>This Operation is internal and called by CRM   The flow is CRM-&gt;ESB-&gt;EMA 	</wsdl:documentation>
            <wsdl:input message="tns:SendNPRingFencePortInReq"/>
            <wsdl:output message="tns:SendNPRingFencePortInRes"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="NPDeactivatedPortOut">
            <wsdl:input message="tns:DeactivatedRequest"/>
            <wsdl:output message="tns:DeactivatedResponse"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="SendNPActivatedRequestPortIn">
            <wsdl:input message="tns:SendNPActivatedRequestPortInReq"/>
            <wsdl:output message="tns:SendNPActivatedRequestPortInRes"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="CancelNPRequestPortIn">
            <wsdl:input message="tns:CancelNPRequestPortInReq"/>
            <wsdl:output message="tns:CancelNPRequestPortInRes"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="DonorRejectOut">
            <wsdl:input message="tns:DonorRejectReq"/>
            <wsdl:output message="tns:DonorRejectRes"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="SendNPEmergencyRestore">
            <wsdl:input message="tns:SendNPEmergencyRestoreReq"/>
            <wsdl:output message="tns:SendNPEmergencyRestoreRes"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MNPCBIO2OperationsPortTypeEndpointBinding" type="tns:MNPCBIO2OperationsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DonorAcceptPortOut">
            <soap:operation style="document" soapAction="NPDonorAccept"/>
            <wsdl:input>
                <soap:body use="literal" parts="CRMDonorAcceptRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CRMDonorAcceptResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendNPRequestPortIn">
            <soap:operation style="document" soapAction="SendNPRequestPortIn"/>
            <wsdl:input>
                <soap:body use="literal" parts="SendNPRequestPortInReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="SendNPRequestPortInRes"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendNPRingFencePortIn">
            <soap:operation style="document" soapAction="SendNPRingFenceRequestPortIn"/>
            <wsdl:input>
                <soap:body use="literal" parts="SendNPRingFencePortInReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="SendNPRingFencePortInRes"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="NPDeactivatedPortOut">
            <soap:operation style="document" soapAction="NPDeactivated"/>
            <wsdl:input>
                <soap:body use="literal" parts="NPDeactivatedRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="NPDeactivatedResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendNPActivatedRequestPortIn">
            <soap:operation style="document" soapAction="SendNPActivateRequestPortIn"/>
            <wsdl:input>
                <soap:body use="literal" parts="SendNPActivatedRequestPortInReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="SendNPActivatedRequestPortInRes"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CancelNPRequestPortIn">
            <soap:operation style="document" soapAction="CancelNPRequestPortIN"/>
            <wsdl:input>
                <soap:body use="literal" parts="CancelNPRequestPortInReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CancelNPRequestPortInRes"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DonorRejectOut">
            <soap:operation style="document" soapAction="NPDonorReject"/>
            <wsdl:input>
                <soap:body use="literal" parts="CRMDonorRejectRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CRMDonorRejectResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendNPEmergencyRestore">
            <soap:operation style="document" soapAction="SendNPEmergencyRestore"/>
            <wsdl:input>
                <soap:body use="literal" parts="SendNPEmergencyRestoreReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="SendNPEmergencyRestoreRes"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="DonorAcceptReq">
        <wsdl:part name="CRMDonorAcceptRequest" element="ns0:DonorAcceptRequest"/>
    </wsdl:message>
    <wsdl:message name="DonorAcceptRes">
        <wsdl:part name="CRMDonorAcceptResponse" element="ns0:DonorAcceptResponse"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="Fault" element="ns1:ErrorResponse"/>
    </wsdl:message>
    <wsdl:message name="SendNPRequestPortInReq">
        <wsdl:part name="SendNPRequestPortInReq" element="ns0:SendNPRequestPortInRequest"/>
    </wsdl:message>
    <wsdl:message name="SendNPRequestPortInRes">
        <wsdl:part name="SendNPRequestPortInRes" element="ns0:SendNPRequestPortInResponse"/>
    </wsdl:message>
    <wsdl:message name="SendNPRingFencePortInReq">
        <wsdl:part name="SendNPRingFencePortInReq" element="ns0:SendNPRingFencePortInRequest"/>
    </wsdl:message>
    <wsdl:message name="SendNPRingFencePortInRes">
        <wsdl:part name="SendNPRingFencePortInRes" element="ns0:SendNPRingFencePortInResponse"/>
    </wsdl:message>
    <wsdl:message name="DeactivatedRequest">
        <wsdl:part name="NPDeactivatedRequest" element="ns0:NPDeactivatedRequest"/>
    </wsdl:message>
    <wsdl:message name="DeactivatedResponse">
        <wsdl:part name="NPDeactivatedResponse" element="ns0:NPDeactivatedResponse"/>
    </wsdl:message>
    <wsdl:message name="SendNPActivatedRequestPortInReq">
        <wsdl:part name="SendNPActivatedRequestPortInReq" element="ns0:SendNPActivatedRequestPortInRequest"/>
    </wsdl:message>
    <wsdl:message name="SendNPActivatedRequestPortInRes">
        <wsdl:part name="SendNPActivatedRequestPortInRes" element="ns0:SendNPActivatedRequestPortInResponse"/>
    </wsdl:message>
    <wsdl:message name="CancelNPRequestPortInReq">
        <wsdl:part name="CancelNPRequestPortInReq" element="ns0:CancelNPRequestPortInRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelNPRequestPortInRes">
        <wsdl:part name="CancelNPRequestPortInRes" element="ns0:CancelRequestPortInResponse"/>
    </wsdl:message>
    <wsdl:message name="DonorRejectReq">
        <wsdl:part name="CRMDonorRejectRequest" element="ns0:DonorRejectRequest"/>
    </wsdl:message>
    <wsdl:message name="DonorRejectRes">
        <wsdl:part name="CRMDonorRejectResponse" element="ns0:DonoRejectResponse"/>
    </wsdl:message>
    <wsdl:message name="SendNPEmergencyRestoreReq">
        <wsdl:part name="SendNPEmergencyRestoreReq" element="ns0:SendNPEmergencyRestoreRequest"/>
    </wsdl:message>
    <wsdl:message name="SendNPEmergencyRestoreRes">
        <wsdl:part name="SendNPEmergencyRestoreRes" element="ns0:SendNPEmergencyRestoreResponse"/>
    </wsdl:message>
</wsdl:definitions>