src/GW_MNP/Tester/SPPortService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://np.systor.st/sp" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns0="http://np.systor.st/commontypes" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://np.systor.st/sp">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://np.systor.st/sp" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://np.systor.st/commontypes"/>
            <xs:import namespace="http://np.systor.st/commontypes"/>
            <xs:complexType name="NPActivatedToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPDeactivatedToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPDonorAcceptToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="AutomaticAccept" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPDonorRejectToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="DonorRejectList" type="ns0:DonorRejectList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPEmergencyRestoreApproveToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="EmergencyRestoreID" type="xs:long"/>
                    <xs:element name="OriginalNPOrderID" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPEmergencyRestoreDenyToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="NpcdbRejectReason" type="xs:integer"/>
                    <xs:element name="NpcdbRejectMessage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPExecuteBroadcastToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="RecipientID" type="xs:string"/>
                    <xs:element name="DonorID" type="xs:string"/>
                    <xs:element name="RoutingInfoList" type="ns0:RoutingInfoList"/>
                    <xs:element name="PortingTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPExecuteCancelToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="CancelReason" type="xs:integer"/>
                    <xs:element name="CancelMessage" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPFinalBillNotificationDeliveredToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="MSISDN" type="xs:string"/>
                    <xs:element name="DeliveredTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPFinalBillNotificationUndeliveredToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="MSISDN" type="xs:string"/>
                    <xs:element name="SmsDeliveryError" type="xs:string" minOccurs="0"/>
                    <xs:element name="FinalStateTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPFinalBillSettledToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="MSISDN" type="xs:string"/>
                    <xs:element name="BillSettledTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPFinalBillUnsettledToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="MSISDN" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPRequestCancelToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="CancelReason" type="xs:integer"/>
                    <xs:element name="CancelMessage" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPRequestConfirmationToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPRequestRejectToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="NpcdbRejectReason" type="xs:integer"/>
                    <xs:element name="NpcdbRejectMessage" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPRequestToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="EmergencyRestoreID" type="xs:long" minOccurs="0"/>
                    <xs:element name="BlockOrderID" type="xs:string" minOccurs="0"/>
                    <xs:element name="BlockOrderCount" type="xs:integer" minOccurs="0"/>
                    <xs:element name="PaymentCode" type="xs:long" minOccurs="0"/>
                    <xs:element name="ValidationMSISDN" type="xs:string" minOccurs="0"/>
                    <xs:element name="RecipientID" type="xs:string"/>
                    <xs:element name="DonorID" type="xs:string"/>
                    <xs:element name="CustomerName" type="xs:string"/>
                    <xs:element name="CustomerIDType" type="xs:int"/>
                    <xs:element name="CustomerID" type="xs:string"/>
                    <xs:element name="DateOfBirth" type="xs:date" minOccurs="0"/>
                    <xs:element name="ServiceType" type="ns0:ServiceType"/>
                    <xs:element name="CustomerType" type="ns0:CustomerType"/>
                    <xs:element name="SubscriptionType" type="ns0:SubscriptionType" minOccurs="0"/>
                    <xs:element name="RoutingInfoList" type="ns0:RoutingInfoList"/>
                    <xs:element name="PortingTime" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPReturnBroadcastToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="SubscriptionProviderID" type="xs:string"/>
                    <xs:element name="RangeHolderID" type="xs:string"/>
                    <xs:element name="PhoneNumberList" type="ns0:PhoneNumberList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPRingFenceApproveToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="PhoneNumberList" type="ns0:PhoneNumberList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NPRingFenceDenyToSp_Type">
                <xs:sequence>
                    <xs:element name="MessageID" type="xs:long"/>
                    <xs:element name="SenderID" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long"/>
                    <xs:element name="NpcdbRejectReason" type="xs:integer"/>
                    <xs:element name="NpcdbRejectMessage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SpMessageAck_Type">
                <xs:sequence>
                    <xs:element name="NPOrderID" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccessFault" type="ns0:AccessFault_Type"/>
            <xs:element name="ErrorNotification" type="ns0:ErrorNotification_Type"/>
            <xs:element name="MessageAck" type="tns:SpMessageAck_Type"/>
            <xs:element name="NPActivated" type="tns:NPActivatedToSp_Type"/>
            <xs:element name="NPDeactivated" type="tns:NPDeactivatedToSp_Type"/>
            <xs:element name="NPDonorAccept" type="tns:NPDonorAcceptToSp_Type"/>
            <xs:element name="NPDonorReject" type="tns:NPDonorRejectToSp_Type"/>
            <xs:element name="NPEmergencyRestoreApprove" type="tns:NPEmergencyRestoreApproveToSp_Type"/>
            <xs:element name="NPEmergencyRestoreDeny" type="tns:NPEmergencyRestoreDenyToSp_Type"/>
            <xs:element name="NPExecuteBroadcast" type="tns:NPExecuteBroadcastToSp_Type"/>
            <xs:element name="NPExecuteCancel" type="tns:NPExecuteCancelToSp_Type"/>
            <xs:element name="NPFinalBillNotificationDelivered" type="tns:NPFinalBillNotificationDeliveredToSp_Type"/>
            <xs:element name="NPFinalBillNotificationUndelivered" type="tns:NPFinalBillNotificationUndeliveredToSp_Type"/>
            <xs:element name="NPFinalBillSettled" type="tns:NPFinalBillSettledToSp_Type"/>
            <xs:element name="NPFinalBillUnsettled" type="tns:NPFinalBillUnsettledToSp_Type"/>
            <xs:element name="NPRequest" type="tns:NPRequestToSp_Type"/>
            <xs:element name="NPRequestCancel" type="tns:NPRequestCancelToSp_Type"/>
            <xs:element name="NPRequestConfirmation" type="tns:NPRequestConfirmationToSp_Type"/>
            <xs:element name="NPRequestReject" type="tns:NPRequestRejectToSp_Type"/>
            <xs:element name="NPReturnBroadcast" type="tns:NPReturnBroadcastToSp_Type"/>
            <xs:element name="NPRingFenceApprove" type="tns:NPRingFenceApproveToSp_Type"/>
            <xs:element name="NPRingFenceDeny" type="tns:NPRingFenceDenyToSp_Type"/>
            <xs:element name="Noop" type="ns0:Noop_Type"/>
            <xs:element name="NoopResponse" type="ns0:NoopResponse_Type"/>
            <xs:element name="TechnicalFault" type="ns0:TechnicalFault_Type"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://np.systor.st/commontypes" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://np.systor.st/sp"/>
            <xs:complexType name="AccessFault_Type">
                <xs:sequence>
                    <xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Description" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="CustomerType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="consumer"/>
                    <xs:enumeration value="business"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="DonorReject">
                <xs:sequence>
                    <xs:element name="DonorRejectReason" type="xs:integer"/>
                    <xs:element name="DonorRejectMessage" type="xs:string"/>
                    <xs:element name="RejectedPhoneNumberRange" type="ns0:PhoneNumberRange"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DonorRejectList">
                <xs:sequence>
                    <xs:element name="DonorReject" type="ns0:DonorReject" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorNotification_Type">
                <xs:sequence>
                    <xs:element name="NpcdbRejectReason" type="xs:integer"/>
                    <xs:element name="NpcdbRejectMessage" type="xs:string"/>
                    <xs:element name="NPOrderID" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NoopResponse_Type">
                <xs:sequence>
                    <xs:element name="Alive" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Noop_Type"/>
            <xs:complexType name="PhoneNumberList">
                <xs:sequence>
                    <xs:element name="PhoneNumberRange" type="ns0:PhoneNumberRange" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PhoneNumberRange">
                <xs:sequence>
                    <xs:element name="PhoneNumberStart" type="xs:string"/>
                    <xs:element name="PhoneNumberEnd" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RoutingInfo">
                <xs:sequence>
                    <xs:element name="PhoneNumberRange" type="ns0:PhoneNumberRange"/>
                    <xs:element name="RoutingNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RoutingInfoList">
                <xs:sequence>
                    <xs:element name="RoutingInfo" type="ns0:RoutingInfo" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ServiceType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="mobile"/>
                    <xs:enumeration value="fixed"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="SubscriptionType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="prepaid"/>
                    <xs:enumeration value="postpaid"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="TechnicalFault_Type">
                <xs:sequence>
                    <xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="Description" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SpPortService">
        <wsdl:port name="SpPortServiceSoapBinding" binding="tns:SpPortServiceSoapBindingBinding">
            <soap:address location=""/>
            <jms:connectionFactory>queueconnectionfactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.MNP.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="SpPortEndpoint" binding="tns:SpPortEndpointBinding">
            <soap:address location="http://localhost:7088/SpService/SpPortEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="SpPort">
        <wsdl:operation name="HandleNPEmergencyRestoreDeny">
            <wsdl:input message="tns:HandleNPEmergencyRestoreDeny"/>
            <wsdl:output message="tns:HandleNPEmergencyRestoreDenyResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPExecuteBroadcast">
            <wsdl:input message="tns:HandleNPExecuteBroadcast"/>
            <wsdl:output message="tns:HandleNPExecuteBroadcastResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRingFenceApprove">
            <wsdl:input message="tns:HandleNPRingFenceApprove"/>
            <wsdl:output message="tns:HandleNPRingFenceApproveResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestCancel">
            <wsdl:input message="tns:HandleNPRequestCancel"/>
            <wsdl:output message="tns:HandleNPRequestCancelResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestReject">
            <wsdl:input message="tns:HandleNPRequestReject"/>
            <wsdl:output message="tns:HandleNPRequestRejectResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestConfirmation">
            <wsdl:input message="tns:HandleNPRequestConfirmation"/>
            <wsdl:output message="tns:HandleNPRequestConfirmationResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPActivated">
            <wsdl:input message="tns:HandleNPActivated"/>
            <wsdl:output message="tns:HandleNPActivatedResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillNotificationDelivered">
            <wsdl:input message="tns:HandleNPFinalBillNotificationDelivered"/>
            <wsdl:output message="tns:HandleNPFinalBillNotificationDeliveredResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="Noop">
            <wsdl:input message="tns:Noop"/>
            <wsdl:output message="tns:NoopResponse"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRingFenceDeny">
            <wsdl:input message="tns:HandleNPRingFenceDeny"/>
            <wsdl:output message="tns:HandleNPRingFenceDenyResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPEmergencyRestoreApprove">
            <wsdl:input message="tns:HandleNPEmergencyRestoreApprove"/>
            <wsdl:output message="tns:HandleNPEmergencyRestoreApproveResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleErrorNotification">
            <wsdl:input message="tns:HandleErrorNotification"/>
            <wsdl:output message="tns:HandleErrorNotificationResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPExecuteCancel">
            <wsdl:input message="tns:HandleNPExecuteCancel"/>
            <wsdl:output message="tns:HandleNPExecuteCancelResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillUnsettled">
            <wsdl:input message="tns:HandleNPFinalBillUnsettled"/>
            <wsdl:output message="tns:HandleNPFinalBillUnsettledResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequest">
            <wsdl:input message="tns:HandleNPRequest"/>
            <wsdl:output message="tns:HandleNPRequestResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDeactivated">
            <wsdl:input message="tns:HandleNPDeactivated"/>
            <wsdl:output message="tns:HandleNPDeactivatedResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDonorReject">
            <wsdl:input message="tns:HandleNPDonorReject"/>
            <wsdl:output message="tns:HandleNPDonorRejectResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDonorAccept">
            <wsdl:input message="tns:HandleNPDonorAccept"/>
            <wsdl:output message="tns:HandleNPDonorAcceptResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillSettled">
            <wsdl:input message="tns:HandleNPFinalBillSettled"/>
            <wsdl:output message="tns:HandleNPFinalBillSettledResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillNotificationUndelivered">
            <wsdl:input message="tns:HandleNPFinalBillNotificationUndelivered"/>
            <wsdl:output message="tns:HandleNPFinalBillNotificationUndeliveredResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
        <wsdl:operation name="HandleNPReturnBroadcast">
            <wsdl:input message="tns:HandleNPReturnBroadcast"/>
            <wsdl:output message="tns:HandleNPReturnBroadcastResponse"/>
            <wsdl:fault name="SpAccessFault" message="tns:SpAccessFault"/>
            <wsdl:fault name="SpTechnicalFault" message="tns:SpTechnicalFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SpPortServiceSoapBindingBinding" type="tns:SpPort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="HandleNPEmergencyRestoreDeny">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPEmergencyRestoreDeny"/>
            <wsdl:input>
                <soap:body use="literal" parts="npEmergRestDeny"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPExecuteBroadcast">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPExecuteBroadcast"/>
            <wsdl:input>
                <soap:body use="literal" parts="npExecBrcast"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRingFenceApprove">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRingFenceApprove"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRingFenceApprove"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestCancel">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequestCancel"/>
            <wsdl:input>
                <soap:body use="literal" parts="npCan"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestReject">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequestReject"/>
            <wsdl:input>
                <soap:body use="literal" parts="npReqRej"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestConfirmation">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequestConfirmation"/>
            <wsdl:input>
                <soap:body use="literal" parts="npReqConf"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPActivated">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPActivated"/>
            <wsdl:input>
                <soap:body use="literal" parts="npAct"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillNotificationDelivered">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillNotificationDelivered"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillNotDel"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Noop">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/Noop"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRingFenceDeny">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRingFenceDeny"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRingFenceDeny"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPEmergencyRestoreApprove">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPEmergencyRestoreApprove"/>
            <wsdl:input>
                <soap:body use="literal" parts="npEmergRestApp"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleErrorNotification">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/ErrorNotification"/>
            <wsdl:input>
                <soap:body use="literal" parts="error"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPExecuteCancel">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPExecuteCancel"/>
            <wsdl:input>
                <soap:body use="literal" parts="npExecCan"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillUnsettled">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillUnsettled"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillUnsettled"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequest">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequest"/>
            <wsdl:input>
                <soap:body use="literal" parts="npReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDeactivated">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPDeactivated"/>
            <wsdl:input>
                <soap:body use="literal" parts="npDeact"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDonorReject">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPDonorReject"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRej"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDonorAccept">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPDonorAccept"/>
            <wsdl:input>
                <soap:body use="literal" parts="npAcc"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillSettled">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillSettled"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillSettled"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillNotificationUndelivered">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillNotificationUndelivered"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillNotUndel"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPReturnBroadcast">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPReturnBroadcast"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRetBrcast"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SpPortEndpointBinding" type="tns:SpPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HandleNPEmergencyRestoreDeny">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPEmergencyRestoreDeny"/>
            <wsdl:input>
                <soap:body use="literal" parts="npEmergRestDeny"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPExecuteBroadcast">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPExecuteBroadcast"/>
            <wsdl:input>
                <soap:body use="literal" parts="npExecBrcast"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRingFenceApprove">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRingFenceApprove"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRingFenceApprove"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestCancel">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequestCancel"/>
            <wsdl:input>
                <soap:body use="literal" parts="npCan"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestReject">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequestReject"/>
            <wsdl:input>
                <soap:body use="literal" parts="npReqRej"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequestConfirmation">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequestConfirmation"/>
            <wsdl:input>
                <soap:body use="literal" parts="npReqConf"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPActivated">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPActivated"/>
            <wsdl:input>
                <soap:body use="literal" parts="npAct"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillNotificationDelivered">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillNotificationDelivered"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillNotDel"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Noop">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/Noop"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRingFenceDeny">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRingFenceDeny"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRingFenceDeny"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPEmergencyRestoreApprove">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPEmergencyRestoreApprove"/>
            <wsdl:input>
                <soap:body use="literal" parts="npEmergRestApp"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleErrorNotification">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/ErrorNotification"/>
            <wsdl:input>
                <soap:body use="literal" parts="error"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPExecuteCancel">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPExecuteCancel"/>
            <wsdl:input>
                <soap:body use="literal" parts="npExecCan"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillUnsettled">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillUnsettled"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillUnsettled"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPRequest">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPRequest"/>
            <wsdl:input>
                <soap:body use="literal" parts="npReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDeactivated">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPDeactivated"/>
            <wsdl:input>
                <soap:body use="literal" parts="npDeact"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDonorReject">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPDonorReject"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRej"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPDonorAccept">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPDonorAccept"/>
            <wsdl:input>
                <soap:body use="literal" parts="npAcc"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillSettled">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillSettled"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillSettled"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPFinalBillNotificationUndelivered">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPFinalBillNotificationUndelivered"/>
            <wsdl:input>
                <soap:body use="literal" parts="npFinalBillNotUndel"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HandleNPReturnBroadcast">
            <soap:operation style="document" soapAction="http://np.systor.st/sp/SpPort/NPReturnBroadcast"/>
            <wsdl:input>
                <soap:body use="literal" parts="npRetBrcast"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ack"/>
            </wsdl:output>
            <wsdl:fault name="SpAccessFault">
                <soap:fault use="literal" name="SpAccessFault"/>
            </wsdl:fault>
            <wsdl:fault name="SpTechnicalFault">
                <soap:fault use="literal" name="SpTechnicalFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="HandleNPEmergencyRestoreDeny">
        <wsdl:part name="npEmergRestDeny" element="tns:NPEmergencyRestoreDeny"/>
    </wsdl:message>
    <wsdl:message name="HandleNPEmergencyRestoreDenyResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="SpAccessFault">
        <wsdl:part name="SpAccessFault" element="tns:AccessFault"/>
    </wsdl:message>
    <wsdl:message name="SpTechnicalFault">
        <wsdl:part name="SpTechnicalFault" element="tns:TechnicalFault"/>
    </wsdl:message>
    <wsdl:message name="HandleNPExecuteBroadcast">
        <wsdl:part name="npExecBrcast" element="tns:NPExecuteBroadcast"/>
    </wsdl:message>
    <wsdl:message name="HandleNPExecuteBroadcastResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRingFenceApprove">
        <wsdl:part name="npRingFenceApprove" element="tns:NPRingFenceApprove"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRingFenceApproveResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequestCancel">
        <wsdl:part name="npCan" element="tns:NPRequestCancel"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequestCancelResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequestReject">
        <wsdl:part name="npReqRej" element="tns:NPRequestReject"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequestRejectResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequestConfirmation">
        <wsdl:part name="npReqConf" element="tns:NPRequestConfirmation"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequestConfirmationResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPActivated">
        <wsdl:part name="npAct" element="tns:NPActivated"/>
    </wsdl:message>
    <wsdl:message name="HandleNPActivatedResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillNotificationDelivered">
        <wsdl:part name="npFinalBillNotDel" element="tns:NPFinalBillNotificationDelivered"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillNotificationDeliveredResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="Noop">
        <wsdl:part name="parameters" element="tns:Noop"/>
    </wsdl:message>
    <wsdl:message name="NoopResponse">
        <wsdl:part name="parameters" element="tns:NoopResponse"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRingFenceDeny">
        <wsdl:part name="npRingFenceDeny" element="tns:NPRingFenceDeny"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRingFenceDenyResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPEmergencyRestoreApprove">
        <wsdl:part name="npEmergRestApp" element="tns:NPEmergencyRestoreApprove"/>
    </wsdl:message>
    <wsdl:message name="HandleNPEmergencyRestoreApproveResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleErrorNotification">
        <wsdl:part name="error" element="tns:ErrorNotification"/>
    </wsdl:message>
    <wsdl:message name="HandleErrorNotificationResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPExecuteCancel">
        <wsdl:part name="npExecCan" element="tns:NPExecuteCancel"/>
    </wsdl:message>
    <wsdl:message name="HandleNPExecuteCancelResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillUnsettled">
        <wsdl:part name="npFinalBillUnsettled" element="tns:NPFinalBillUnsettled"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillUnsettledResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequest">
        <wsdl:part name="npReq" element="tns:NPRequest"/>
    </wsdl:message>
    <wsdl:message name="HandleNPRequestResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPDeactivated">
        <wsdl:part name="npDeact" element="tns:NPDeactivated"/>
    </wsdl:message>
    <wsdl:message name="HandleNPDeactivatedResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPDonorReject">
        <wsdl:part name="npRej" element="tns:NPDonorReject"/>
    </wsdl:message>
    <wsdl:message name="HandleNPDonorRejectResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPDonorAccept">
        <wsdl:part name="npAcc" element="tns:NPDonorAccept"/>
    </wsdl:message>
    <wsdl:message name="HandleNPDonorAcceptResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillSettled">
        <wsdl:part name="npFinalBillSettled" element="tns:NPFinalBillSettled"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillSettledResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillNotificationUndelivered">
        <wsdl:part name="npFinalBillNotUndel" element="tns:NPFinalBillNotificationUndelivered"/>
    </wsdl:message>
    <wsdl:message name="HandleNPFinalBillNotificationUndeliveredResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
    <wsdl:message name="HandleNPReturnBroadcast">
        <wsdl:part name="npRetBrcast" element="tns:NPReturnBroadcast"/>
    </wsdl:message>
    <wsdl:message name="HandleNPReturnBroadcastResponse">
        <wsdl:part name="ack" element="tns:MessageAck"/>
    </wsdl:message>
</wsdl:definitions>