src/BPI_FinMgmt/BusinessProcesses/Services/Query/GetIndividualCalls/HelperProcess/GetCallHistory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://xmlns.example.com/1462866831605" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.zain.com/ZESB/Services/CallHistory/Types" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1462866831605">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Services/CallHistory/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/CallHistory/Types" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="Filter">
                <xs:sequence>
                    <xs:element name="Type">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Only"/>
                                <xs:enumeration value="Except"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="R">
                <xs:sequence>
                    <xs:element name="A" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Calling Number A-Number</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="B" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Called Number B-Number</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="T" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Call Date and Time</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="M" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>Call Cost - aMount</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="D" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Call Duration</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="C" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Call Category: SMS, MMS, Local, Inter, Roaming, Video, Data</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Records">
                <xs:sequence>
                    <xs:element name="R" type="ns0:R" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetHistoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ContractId" type="xs:string"/>
                        <xs:element name="Subno" type="xs:string"/>
                        <xs:element name="From" type="xs:dateTime"/>
                        <xs:element name="To" type="xs:dateTime"/>
                        <xs:element name="Filter" type="ns0:Filter" minOccurs="0"/>
                        <xs:element name="PageLimit">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="500"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="PageNo">
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetHistoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Status" type="xs:string"/>
                        <xs:element name="Records" type="ns0:Records" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="CallHistoryInboundService">
        <wsdl:port name="CallHistoryPortEndpoint" binding="tns:CallHistoryPortEndpointBinding">
            <soap:address location="http://localhost:7073/ESB/SOAP/GetHistory"/>
        </wsdl:port>
        <wsdl:port name="CallHistoryPortEndpointJMS" binding="tns:CallHistoryPortEndpointJMSBinding">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.QUERY.CALL_HISTORY.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="CallHistoryPort">
        <wsdl:operation name="GetHistory">
            <wsdl:input message="tns:GetHistoryRequest"/>
            <wsdl:output message="tns:GetHistoryResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CallHistoryPortEndpointBinding" type="tns:CallHistoryPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetHistory">
            <soap:operation style="document" soapAction="GetHistory"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CallHistoryPortEndpointJMSBinding" type="tns:CallHistoryPort">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="GetHistory">
            <soap:operation style="document" soapAction="GetHistory"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetHistoryRequest">
        <wsdl:part name="parameters" element="ns0:GetHistoryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetHistoryResponse">
        <wsdl:part name="parameters" element="ns0:GetHistoryResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="ns1:FaultType"/>
    </wsdl:message>
</wsdl:definitions>