src/CommonProject/BusinessSchemas/Services/Query/PaymentReportQuery/PaymentReportQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Query/PaymentReportQuery.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Query/PaymentReportQuery.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="PaymentReportQueryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkArea" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="Date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaymentReportQueryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkArea" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="Date" type="xs:string"/>
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Customer_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment_Date" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment_Amnt" type="xs:string" minOccurs="0"/>
				<xs:element name="Total_Payment_Amnt" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment_Instrument" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment_Refnum" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment_Post_Date" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment_Auth_Code" type="xs:string" minOccurs="0"/>
				<xs:element name="Channel" type="xs:string" minOccurs="0"/>
				<xs:element name="Src_Transaction_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Username" type="xs:string" minOccurs="0"/>
				<xs:element name="Customer_Category" type="xs:string" minOccurs="0"/>
				<xs:element name="Location" type="xs:string" minOccurs="0"/>
				<xs:element name="Merchant_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Terminal_Id" type="xs:string" minOccurs="0"/>
				<xs:element name="Crcardno" type="xs:string" minOccurs="0"/>
				<xs:element name="Msisdn" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>