src/CommonProject/BusinessWSDLS/Services/CADE/FnfDelete/FnfDelete.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="SMSService" 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://www.example.com" 
  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.example.com" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.example.com"
    xmlns:tns="http://www.example.com"
    elementFormDefault="qualified">
  <xsd:element name="FnFDeletePortOut">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transactionId" type="xsd:string" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="dateTimestamp" type="xsd:dateTime" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FnFDeletePortOutResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="result" type="xsd:string" />
		<xsd:element name="transactionId" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="FnFDeletePortOut_InputMessage">
    <wsdl:part name="parameters" element="tns:FnFDeletePortOut" />
  </wsdl:message>
  <wsdl:message name="FnFDeletePortOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:FnFDeletePortOutResponse" />
  </wsdl:message>

  <wsdl:portType name="FnFDeletePortType">
    <wsdl:operation name="FnFDeletePortOut">
      <wsdl:input message="tns:FnFDeletePortOut_InputMessage" />
      <wsdl:output message="tns:FnFDeletePortOut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DefaultBinding_FnFDelete" type="tns:FnFDeletePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FnFDeletePortOut">
      <soap:operation soapAction="FnFDeletePortOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SMSService">
        <wsdl:port name="FnFDelete" binding="tns:DefaultBinding_FnFDelete">
            <soap:address location="http://localhost:8888/ZainKuwaitReportingTool/SMSService/FnFDelete.yaws" />
        </wsdl:port> 
  </wsdl:service>
</wsdl:definitions>
