src/CommonProject/BusinessSchemas/Services/Applications/Common/CMS/XSD's/requestavaiabletreatment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="packageName" type="xs:string" minOccurs="0"/>
				<xs:element name="contextParameters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="campaignDefinitionId" type="xs:string" minOccurs="0"/>
							<xs:element name="campaignId" type="xs:string" minOccurs="0"/>
							<xs:element name="treatmentId" type="xs:string" minOccurs="0"/>
							<xs:element name="treatmentName" type="xs:string" minOccurs="0"/>
							<xs:element name="campaignDefinitionName" type="xs:string" minOccurs="0"/>
							<xs:element name="campaignGroupId" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="contextKey" type="xs:string" minOccurs="0"/>
				<xs:element name="externalParameters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="QWERTY" type="xs:string" minOccurs="0"/>
							<xs:element name="ABCD" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="requestTypeName" type="xs:string" minOccurs="0"/>
				<xs:element name="pruningCount" type="xs:string" minOccurs="0"/>
				<xs:element name="commonParameters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="entity" type="xs:string" minOccurs="0"/>
							<xs:element name="channel" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="requestTypeParameters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Motivation" type="xs:string" minOccurs="0"/>
							<xs:element name="churn" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>