src/CommonProject/BusinessSchemas/Services/Applications/Common/CMS/XSD's/WithoutAvailableTreatment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:string" minOccurs="0"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="contextKey" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>