src/ESI_CRM/BusinessProcesses/Services/Query/QuerySyncService/HelperProcess/CRMSyncServiceResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Resultsets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResultSet1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Record1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="SUBSCRIBER_ID"/>
                    <xs:element type="xs:string" name="BILLING_CONTRACT_ID"/>
                    <xs:element type="xs:string" name="MARKET"/>
                    <xs:element type="xs:string" name="SUBMARKET"/>
                    <xs:element type="xs:int" name="DNID"/>
                    <xs:element type="xs:long" name="MSISDN"/>
                    <xs:element type="xs:long" name="IMSI"/>
                    <xs:element type="xs:long" name="ICCID"/>
                    <xs:element type="xs:string" name="PARENT_PRODUCT_CODE"/>
                    <xs:element type="xs:long" name="CRM_CUSTOMER_ID"/>
                    <xs:element type="xs:string" name="CUSTOMER_TYPE"/>
                    <xs:element type="xs:string" name="PREF_LANG_CODE"/>
                    <xs:element type="xs:string" name="ARABIC_NAME"/>
                    <xs:element type="xs:string" name="ENGLISH_NAME"/>
                    <xs:element type="xs:int" name="BILLING_ACCOUNT_NUMBER"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>