src/ESI_BSCS_HistoryQueries/BusinessProcesses/Services/BSCS/Query/GetRefundHistory/Concrete-GetRefundHist.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://www.zain.com/ZESB/Types/Common" xmlns:ns1="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRefundHistory/GetRefundHistoryRes.xsd" xmlns:ns4="http://www.ericsson.com/CDM/telecom/Response" xmlns:ns3="http://www.ericsson.com/CDM/telecom/FAF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1413150927505" xmlns:ns0="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRefundHistory/GetRefundHistoryReq.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns5="http://www.ericsson.com/CDM/telecom/Subscriber" xmlns:ns6="http://www.ericsson.com/CDM/telecom/Header" name="Untitled" targetNamespace="http://xmlns.example.com/1413150927505">
    <wsdl:types>
        <xs:schema xmlns:cdm="http://www.ericsson.com/CDM/telecom/FAF" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/CDM/telecom/FAF" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="FAFType">
                <xs:sequence>
                    <xs:element ref="cdm:FAFNumber" minOccurs="0"/>
                    <xs:element ref="cdm:FAFCategory" minOccurs="0"/>
                    <xs:element ref="cdm:FAFChargeInformation" minOccurs="0"/>
                    <xs:element ref="cdm:FreeUpdateCount" minOccurs="0"/>
                    <xs:element ref="cdm:MaxFreeAllowed" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Amount" type="xs:string"/>
            <xs:element name="Currency" type="xs:string"/>
            <xs:element name="FAF" type="cdm:FAFType"/>
            <xs:element name="FAFCategory" type="xs:string"/>
            <xs:element name="FAFChargeInformation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="cdm:FAFCharges" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FAFCharges">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="cdm:Amount" minOccurs="0"/>
                        <xs:element ref="cdm:Currency" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FAFNumber" type="xs:string"/>
            <xs:element name="FreeUpdateCount" type="xs:string"/>
            <xs:element name="MaxFreeAllowed" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
                        <xs:element name="detail" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:cdm="http://www.ericsson.com/CDM/telecom/Response" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/CDM/telecom/Response" version="1.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="ListOfReferences">
                <xs:sequence>
                    <xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string" minOccurs="0"/>
                                <xs:element name="Value" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="cdm:Response">
                            <xs:sequence>
                                <xs:element name="ResponseReference" type="cdm:ListOfReferences" minOccurs="0"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRefundHistory/GetRefundHistoryReq.xsd" xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header" xmlns:cdm="http://www.ericsson.com/CDM/telecom/Subscriber" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRefundHistory/GetRefundHistoryReq.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.ericsson.com/CDM/telecom/Subscriber"/>
            <xs:import namespace="http://www.ericsson.com/CDM/telecom/Header"/>
            <xs:element name="GetRefundHistoryReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
                        <xs:element ref="cdm:Subscriber" minOccurs="0"/>
                        <xs:element name="HistoryDuration">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="LastNoOfDays" type="xs:string"/>
                                    <xs:sequence>
                                        <xs:element name="StartDate" type="xs:dateTime"/>
                                        <xs:element name="EndDate" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRefundHistory/GetRefundHistoryRes.xsd" xmlns:ns1="http://www.ericsson.com/CDM/telecom/Response" xmlns:ns0="http://www.ericsson.com/CDM/telecom/Header" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/GetRefundHistory/GetRefundHistoryRes.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.ericsson.com/CDM/telecom/Header"/>
            <xs:import namespace="http://www.ericsson.com/CDM/telecom/Response"/>
            <xs:complexType name="RefundTransactionsType">
                <xs:sequence>
                    <xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
                    <xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="RefundType" type="xs:string" minOccurs="0"/>
                    <xs:element name="RefundAmount" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
                                <xs:element name="Units" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="NewBalance" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="NewExpiry" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="Purpose" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetRefundHistoryRes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BusinessMessageHeader" minOccurs="0"/>
                        <xs:element ref="ns1:Response"/>
                        <xs:element name="ListOfRefundTransaction">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="RefundTransactionDetail" type="RefundTransactionsType" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ns0="http://www.ericsson.com/CDM/telecom/FAF" xmlns:cdm="http://www.ericsson.com/CDM/telecom/Subscriber" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/CDM/telecom/Subscriber" version="1.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://www.ericsson.com/CDM/telecom/FAF"/>
            <xs:complexType name="SubscriberType">
                <xs:annotation>
                    <xs:documentation>The telecom subscriber details.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="ns0:FAFType">
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" minOccurs="0"/>
                            <xs:element name="Nationality" type="xs:string" minOccurs="0"/>
                            <xs:element name="NationalID" type="xs:string" minOccurs="0"/>
                            <xs:element name="ServiceNo" type="xs:string"/>
                            <xs:element name="AccountLocked" type="xs:boolean" minOccurs="0"/>
                            <xs:element name="SubscriberStatus" type="xs:string" minOccurs="0"/>
                            <xs:element name="AccountBalance" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Amount" type="xs:double"/>
                                        <xs:element name="Unit" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0"/>
                            <xs:element name="LanguageDetails" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LanguageID" type="xs:string"/>
                                        <xs:element name="Language" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="Subscriber" type="cdm:SubscriberType"/>
        </xs:schema>
        <xs:schema xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ericsson.com/CDM/telecom/Header" version="1.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Header">
                <xs:sequence>
                    <xs:element name="ExternalTransactionID" type="xs:string" minOccurs="0"/>
                    <xs:element name="COName" type="xs:string" minOccurs="0"/>
                    <xs:element name="Consumer" type="xs:string" minOccurs="0"/>
                    <xs:element name="Provider" type="xs:string" minOccurs="0"/>
                    <xs:element name="Timestamp" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="Action" type="xs:string" minOccurs="0"/>
                    <xs:element name="ApplicationID" type="xs:string" minOccurs="0"/>
                    <xs:element name="ComponentName" type="xs:string" minOccurs="0"/>
                    <xs:element name="Hostname" type="xs:string" minOccurs="0"/>
                    <xs:element name="TransactionDomain" type="xs:string" minOccurs="0"/>
                    <xs:element name="TransactionType" type="xs:string" minOccurs="0"/>
                    <xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ListOfReferences">
                <xs:sequence>
                    <xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string" minOccurs="0"/>
                                <xs:element name="Value" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SystemInfo">
                <xs:sequence>
                    <xs:element name="SystemtId" type="xs:string"/>
                    <xs:element name="SystemAddress" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="SystemVersion" type="xs:string"/>
            </xs:complexType>
            <xs:complexType name="TrackingInfo">
                <xs:sequence>
                    <xs:element name="SourceMessageId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>message Id of Source System</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalReferences" type="cdm:ListOfReferences" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Reference details like Order Number, Customer
                        Number</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PointOfFailure" default="0" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Point of failure in Tibco, as per fault returned
                    </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RetryCount" type="xs:int" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Current Retry Count of same transaction</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="BusinessMessageHeader">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="cdm:Header">
                            <xs:sequence>
                                <xs:element name="Version" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Message Schema Version.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="SourceSystemInfo" type="cdm:SystemInfo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Information regarding source system of data for
                                    example BSCS, SIEBEL.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TargetSystemInfo" type="cdm:SystemInfo" minOccurs="0" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>Information regarding target of data for example
                                    BSCS, SIEBEL.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TrackingInfo" type="cdm:TrackingInfo" minOccurs="0"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="SOAPWSDL-GetRefundHist-service0">
        <wsdl:port name="GetRefundHistoryPortTypeEndpoint0" binding="tns:GetRefundHistoryPortTypeEndpoint0Binding">
            <soap:address location="http://10.96.80.6:7070/BusinessProcesses/Services/CRS/Query/GetRefundHistory/SOAPWSDL-GetRefundHist-service0.serviceagent/GetRefundHistoryPortTypeEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GetRefundHistoryPortType">
        <wsdl:operation name="GetRefundHistoryOperation">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OutputMessage"/>
            <wsdl:fault name="fault1" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetRefundHistoryPortTypeEndpoint0Binding" type="tns:GetRefundHistoryPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetRefundHistoryOperation">
            <soap:operation style="document" soapAction="/BusinessProcesses/Services/CRS/Query/GetRefundHistory/SOAPWSDL-GetRefundHist-service0.serviceagent/GetRefundHistoryPortTypeEndpoint0/GetRefundHistoryOperation"/>
            <wsdl:input>
                <soap:body use="literal" parts="part"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InputMessage">
        <wsdl:part name="part" element="ns0:GetRefundHistoryReq"/>
    </wsdl:message>
    <wsdl:message name="OutputMessage">
        <wsdl:part name="part" element="ns1:GetRefundHistoryRes"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="part" element="ns2:FaultType"/>
    </wsdl:message>
</wsdl:definitions>