src/CommonProject/BusinessWSDLS/Services/WSDLS/CampignFollowUp/CustomerCampaignHistory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/CustomerCampaignHistory" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/CustomerCampaignHistory/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.zain.com/ZESB/Services/CustomerCampaignHistory">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string"/>
                        <xs:element name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ParamList">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="StringParam" type="com:StringParam"/>
                    <xs:element name="BooleanParam" type="com:BooleanParam"/>
                    <xs:element name="IntParam" type="com:IntParam"/>
                    <xs:element name="LongParam" type="com:LongParam"/>
                    <xs:element name="FloatParam" type="com:FloatParam"/>
                    <xs:element name="DoubleParam" type="com:DoubleParam"/>
                    <xs:element name="DateParam" type="com:DateParam"/>
                    <xs:element name="DateTimeParam" type="com:DateTimeParam"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:tns="http://www.zain.com/ZESB/Services/CustomerCampaignHistory/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/CustomerCampaignHistory/Types" elementFormDefault="qualified">
            <xs:simpleType name="Language">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Ar"/>
                    <xs:enumeration value="En"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="OfferDetails">
                <xs:sequence>
                    <xs:element name="ID" minOccurs="0" type="xs:string"/>
                    <xs:element name="Name" nillable="true" type="xs:string"/>
                    <xs:element name="CommercialProductID" minOccurs="0" nillable="true" type="xs:string"/>
                    <xs:element name="CommercialProductName" minOccurs="0" nillable="true" type="xs:string"/>
                    <xs:element name="Description" minOccurs="0" nillable="true" type="xs:string"/>
                    <xs:element name="OfferParams" minOccurs="0" maxOccurs="1" type="com:ParamList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CampaignDetails">
                <xs:sequence>
                    <xs:element name="ID" minOccurs="0" type="xs:string"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Description" minOccurs="0" type="xs:string"/>
                    <xs:element name="Type" minOccurs="0" type="xs:string"/>
                    <xs:element name="Template" minOccurs="0" type="xs:string"/>
                    <xs:element name="Objective" minOccurs="0" type="xs:string"/>
                    <xs:element name="KPI" minOccurs="0" type="xs:string"/>
                    <xs:element name="Segment" minOccurs="0" type="xs:string"/>
                    <xs:element name="StartDate" minOccurs="0" type="xs:dateTime"/>
                    <xs:element name="EndDate" minOccurs="0" type="xs:dateTime"/>
                    <xs:element name="LaunchDate" minOccurs="0" type="xs:dateTime"/>
                    <xs:element name="InitiatedBy" minOccurs="0" type="xs:string"/>
                    <xs:element name="CreatedBy" minOccurs="0" type="xs:string"/>
                    <xs:element name="CampaignParams" minOccurs="0" maxOccurs="1" type="com:ParamList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InteractionCampaign">
                <xs:complexContent>
                    <xs:extension base="typ:CampaignDetails">
                        <xs:sequence>
                            <xs:element name="Offer" minOccurs="0" maxOccurs="1" type="typ:OfferDetails"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="GetInteractionHistoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" minOccurs="1" type="xs:string"/>
                        <xs:element name="Language" minOccurs="0" type="tns:Language"/>
                        <xs:choice>
                            <xs:element name="LastNoOfDays" minOccurs="1" type="xs:int"/>
                            <xs:sequence>
                                <xs:element name="FromDate" minOccurs="1" type="xs:dateTime"/>
                                <xs:element name="ToDate" minOccurs="0" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetInteractionHistoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Interaction" minOccurs="0" maxOccurs="unbounded" nillable="false">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="InteractionDate" type="xs:dateTime"/>
                                    <xs:element name="InteractionStatus" type="xs:string"/>
                                    <xs:element name="ChannelName" minOccurs="1" type="xs:string"/>
                                    <xs:element name="SenderID" minOccurs="0" type="xs:string"/>
                                    <xs:element name="MessageContent" minOccurs="0" type="xs:string"/>
                                    <xs:element name="InteractionCampaign" minOccurs="1" maxOccurs="1" type="typ:InteractionCampaign"/>
                                    <xs:element name="InteractionParams" minOccurs="0" type="com:ParamList"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="FaultMessage">
        <wsdl:part name="fault" element="com:FaultType"/>
    </wsdl:message>
    <wsdl:message name="GetInteractionHistoryRequest">
        <wsdl:part name="request" element="typ:GetInteractionHistoryRequest"/>
    </wsdl:message>
    <wsdl:message name="GetInteractionHistoryResponse">
        <wsdl:part name="response" element="typ:GetInteractionHistoryResponse"/>
    </wsdl:message>
    <wsdl:portType name="CustomerCampaignHistoryPort">
        <wsdl:operation name="GetInteractionHistory">
            <wsdl:input message="tns:GetInteractionHistoryRequest"/>
            <wsdl:output message="tns:GetInteractionHistoryResponse"/>
            <wsdl:fault name="fault" message="tns:FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerCampaignHistoryBinding" type="tns:CustomerCampaignHistoryPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetInteractionHistory">
            <soap:operation soapAction="GetInteractionHistory"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerCampaignHistory">
        <wsdl:port name="CustomerCampaignHistoryPort" binding="tns:CustomerCampaignHistoryBinding">
            <soap:address location="http://soadev:8011/ZESB/CustomerCampaignHistory"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>