src/CommonProject/BusinessSchemas/Services/Query/OrderInstallationDetailsQuery/OrderInstallationDetailsQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/OrderInstallationDetailsQuery.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/OrderInstallationDetailsQuery.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="OrderInstallationDetailsQueryInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderInstallationDetailsQueryOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderDetails" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderNumber" type="xs:string"/>
	<xs:element name="OrderDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderNumber" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CallerNumber" minOccurs="0"/>
				<xs:element ref="CellId" minOccurs="0"/>
				<xs:element ref="ChampionName" minOccurs="0"/>
				<xs:element ref="Contact" minOccurs="0"/>
				<xs:element ref="CustomerCategory" minOccurs="0"/>
				<xs:element ref="CustomerIdNumber" minOccurs="0"/>
				<xs:element ref="CustomerNumber" minOccurs="0"/>
				<xs:element ref="DeliveryTime" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="IntSector" minOccurs="0"/>
				<xs:element ref="Language" minOccurs="0"/>
				<xs:element ref="Location" minOccurs="0"/>
				<xs:element ref="OrderNumber" minOccurs="0"/>
				<xs:element ref="PONumber" minOccurs="0"/>
				<xs:element ref="PrefferedContact1" minOccurs="0"/>
				<xs:element ref="PrefferedContact2" minOccurs="0"/>
				<xs:element ref="PrimaryMSISDN" minOccurs="0"/>
				<xs:element ref="SolutionType" minOccurs="0"/>
				<xs:element ref="SubscriberVBM" minOccurs="0"/>
				<xs:element ref="TacId" minOccurs="0"/>
				<xs:element ref="ZoneId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CallerNumber" type="xs:string"/>
	<xs:element name="CellId" type="xs:string"/>
	<xs:element name="ChampionName" type="xs:string"/>
	<xs:element name="Contact" type="xs:string"/>
	<xs:element name="CustomerCategory" type="xs:string"/>
	<xs:element name="CustomerIdNumber" type="xs:string"/>
	<xs:element name="CustomerNumber" type="xs:string"/>
	<xs:element name="DeliveryTime" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="IntSector" type="xs:string"/>
	<xs:element name="Language" type="xs:string"/>
	<xs:element name="Location" type="xs:string"/>
	<xs:element name="PONumber" type="xs:string"/>
	<xs:element name="PrefferedContact1" type="xs:string"/>
	<xs:element name="PrefferedContact2" type="xs:string"/>
	<xs:element name="PrimaryMSISDN" type="xs:string"/>
	<xs:element name="SolutionType" type="xs:string"/>
	<xs:element name="SubscriberVBM" type="xs:string"/>
	<xs:element name="TacId" type="xs:string"/>
	<xs:element name="ZoneId" type="xs:string"/>
</xs:schema>