src/CommonProject/BusinessSchemas/Services/Applications/ERP/ReleaseInventory/ReleaseInventoryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Inventory/ReleaseInventoryResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="releaseInventoryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean"/>
				<xs:element name="reasonText" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>