src/CommonProject/BusinessWSDLS/Services/BSCS/ContractServicesRead/ContractServicesReadService.wsdl

<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/contractservicesread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5">
   <wsdl:types>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
         <xs:complexType name="money">
            <xs:sequence>
               <xs:element name="amount" type="xs:double"/>
               <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
         <xs:complexType name="svlany">
            <xs:sequence>
               <xs:element name="content" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange">
         <xs:complexType name="valuesListpartRequest">
            <xs:all>
               <xs:element name="key" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="value" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="valuesRequest">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="sessionChangeRequest">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>
						
						&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractservicesread" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractservicesread">
         <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
         <xs:element name="contractServicesReadRequest" type="wsi:contractServicesReadRequest"/>
         <xs:element name="contractServicesReadResponse" type="wsi:contractServicesReadResponse"/>
         <xs:complexType name="bsgConfigurationListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="bsgId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Configured BSG id &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="bsgDes" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Configured BSG description &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="preferedCugId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Prefered CUG for this configred BSG, -1 for NONE&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="preferedCugName" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Prefered CUG name &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="bsgConfigurationResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:bsgConfigurationListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="basicservicegroupassigmentsListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="bsgId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Assigned BSG id &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="bsgDes" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> Assigned BSG description &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="basicservicegroupassigmentsResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:basicservicegroupassigmentsListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="cugMembershipsListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="cugId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p> CUG id &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cugName" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> CUG name &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cugInterlockCode" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p> CUG interlock code &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cugIndex" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p> CUG index id &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="basicservicegroupassigments" type="wsi:basicservicegroupassigmentsResponse"/>
               <xs:element minOccurs="0" name="cugPendingStatus" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p> CUG pending status
																			<ul><li> 2 = Active  </li><li> 4 = Deactive  </li></ul>
																			</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="cugMembershipsResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:cugMembershipsListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="portsListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="cospPortnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Port number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cospStatus" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p> Port status
																			
																			<ul><li>1 -> Not active</li><li>2 -> Active</li><li>6 -> Removed</li><li>4 -> Deactive</li></ul>
																			</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cospPortNp" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Numbering plan of the port(ResourceRegulation)&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cospPortNpPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the number plan&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="portsResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:portsListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="directoryNumbersListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="dirnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory number (MSISDN)&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory number Id. This is needed in order to reuse the already assigned DNs as public numbers for VPNs services&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dirnumAdditionalFlag" type="xs:string">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>This parameter is relevant only for the Charging and Billing in One releases</p><p>Additional Directory number.
																			<ul><li>O = Additional (old) directory number, the old directory number is an additional directory number after exchanging.</li><li>N = Additional (new) directory number, the new directory number is an additional directory number after registering.</li><li>unset = this directory number is not an additional directory number.</li></ul>
																			</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="preDirnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>The currently active directory number (MSISDN) in case there is a pending request&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="preDnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Directory number Id of the currently active directory number in case there is a pending request.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscDnStatus" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Status of this Directory Number.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscPendingDnStatus" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Pending Status of this Directory Number.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="externalFlag" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Flag to indicate whether the directory Number is external (true) or internal (false).&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="lowerExt" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Lowest variable part of assigned block&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="upperExt" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Highest variable part of assigned block&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dnbStatus" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Status of this Directory Block Number.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="pendingDnbStatus" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Pending Status of this Directory Block Number.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="mainDirnum" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Main directory number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dirnumOnBill" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>DIRNUM_ON_BILL indicates  if the directory number is marked as shown on bill&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="bccode" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Bearer capability code&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="pendingBccode" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Pending bearer capability code&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dnActivationDate" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Activation date and time of the directory number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="dnDeactivationDate" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>De-Activation date and time of the directory number&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscDnNp" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Numbering plan of the directory number (ResourceRegulation) &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscDnNpPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the number plan&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscLinkedPublicDirnum" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Linked Public Directory Number (MSISDN) &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscLinkedPublicDnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Linked public Directory number Id. This is needed in order to find out
																			which regular services is linked via this number with the current VPN service.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscLinkedPublicDirnumNp" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>The numbering plan of the linked public number.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coscLinkedPublicDirnumNpPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the number plan&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="vpnId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>VPN code</p><p>If the VPN code is present, it means that the field DIRNUM will represent either:
																			<ul><li> A VPN Number (if no COSC_LINKED_PUBLIC_DIRNUM is given)</li><li>A Private Directory Number (if a COSC_LINKED_PUBLIC_DIRNUM is given)</li></ul>
																			</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="vpnIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the VPN&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csStatus" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Status of directory number replacement.
																			<ul><li>0 -> Undefined</li><li>7 -> Original</li><li>8 -> Replaced</li></ul>
																			</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="directoryNumbersResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:directoryNumbersListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="servicesListpartResponse">
            <xs:all>
               <xs:element minOccurs="0" name="spcode" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Service package code (SimpleProduct)&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="spcodePub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the service package&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="sncode" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Service code (ProductElement)&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="sncodePub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the service&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="profileId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Profile id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csPaymentConditionUsgInd" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Prepaid indicator for the contracted service.<ul><li>1 - postpaid</li><li>2 - prepaid</li></ul></p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csTypeOfControl" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Type of control for the contracted network service.<ul><li>1 - online</li><li>2 - offline</li></ul></p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csPrepaidTpId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Prepaid time package identifier. Returned only in case the service is prepaid.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csPrepaidTpIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the time package&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="csPaymentConditionOnetimeRec" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Payment option for one time and recurring charges of the contracted service.<ul><li>1 - Postpaid</li><li>2 - Prepaid</li></ul></p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="chargingSchedule" type="xs:string">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Charging schedule of the contracted service.<ul><li>'C' - Cut off date related</li><li>'B' - Billing run related</li></ul></p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="paramsInd" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Service parameter indicator&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="calcSub" type="xs:double">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Calculated one-time charge (formerly: subscription fee).&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="indCharging" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>True - the recurring charge has an individual charging-period.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="chargeIntervalLength" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Interval length or charging-offset period for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="waitPeriodLength" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Waiting Period or initial invoicing date for the specification of overwritten recurring charges.Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="indChargingValidTo" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Valid to date of the individual charging. Enable for license LHS_BSCS_PC13849.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosSubfeeOvw" type="xs:double">
                  <xs:annotation>
                     <xs:documentation>&lt;p>One-time charge (formerly: subscription fee)&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosSubfeeOvwType" type="xs:string">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Type of the one-time charge (formerly: subscription fee):
													
													<ul><li>"A" -> One-time charge  (<code>COS_SUBFEE_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> One-time charge  (<code>COS_SUBFEE_OVW</code>) is a relative (percentage) amount</li></ul>
													
													</p><p>Note: If there is no value set in the database, the type should be "A"</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="origAcc" type="xs:double">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Recurring charge (formerly: access fee) defined by the pricing element considering the service charge period and the billing cycle.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="calcAcc" type="xs:double">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Calculated Recurring charge (formerly: access fee) considering the service charge period and the billing cycle. The value equals to &lt;code>ORIG_ACC&lt;/code> if no overwritten recurring charge is defined.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="origAccOvw" type="xs:double">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Overwritten recurring charge (formerly: access fee) defined by the pricing element considering the service charge period and the billing cycle.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="isInitialChargePeriod" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Indicates whether the initial charge period of the rate plan service is active (Overwritten charge ORIG_ACC_OVW is active). Only set if an initial charge period is defined at the rate plan service.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosAccfeeOvw" type="xs:double">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Recurring charge (formerly: access fee). If the value of the column PROFILE_SERVICE.ACCESSFEE is null in the database,
													the default value for the pricing element will be used&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosAccfeeOvwType" type="xs:string">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Type of the recurring charge (formerly: access fee):
													
													<ul><li>"A" -> Recurring charge  (<code>COS_ACCFEE_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> Recurring charge  (<code>COS_ACCFEE_OVW</code>) is a relative (percentage) amount</li></ul>
													
													Note: If there is no value set in the database, the type should be "A"</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosAccfeeOvwPrd" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Number od billing cycles to bill the modified recurring charge (formerly: access fee)&lt;/p>&lt;p>-1 means indefinitly&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="advanceAccessOvw" type="xs:double">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Advance recurring charge (formerly: access fee)</p><p>Note that if the parameter <code>ADVANCE_ACCESS_OVW_TYPE</code> is given <code>ADVANCE_ACCESS_OVW</code> and <code>ADVANCE_ACCESS_OVW_PRD</code> are mandatory.
													Otherwise, they must not be specified</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="advanceAccessOvwType" type="xs:string">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Type of the advanced access fee amount:
													
													<ul><li>"N" -> advance recurring charge has to be taken from the rate plan price. No change relatives to rate plan price has to be made</li><li>"A" -> advance recurring charge  (<code>ADVANCE_ACCESS_OVW</code>) is an absolute (lump sum) amount</li><li>"R" -> advance recurring charge  (<code>ADVANCE_ACCESS_OVW</code>) is a relative (percentage) amount</li></ul>
													</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="advanceAccessOvwPrd" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Number of billing cycles to bill the modified advance recurring charge (formerly: access fee)&lt;/p>&lt;p>-1 means indefinitly &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="calcAdvanceAcc" type="xs:double">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Calculated advance recurring charge (formerly: access fee) considering the service charge period and the billing cycle.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosStatus" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Status of the service.
													<ul><li> 0 = Undefined </li><li> 1 = OnHold  </li><li> 2 = Active  </li><li> 3 = Suspended  </li><li> 4 = Deactive  </li><li> 5 = Invisible  </li></ul>
													</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="userReason" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Code of the last user defined reason for service status change. The value of this parameter is a reason code from REASONSTATUL_ALL table &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosStatusDate" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Valid from date of the current status&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosLastActDate" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Last activation date&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="pendingUserReason" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Code of the user defined reason for a pending service status change.&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosPendingStatus" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Pending status of the service
													<ul><li> 0 = Undefined </li><li> 1 = OnHold  </li><li> 2 = Active  </li><li> 3 = Suspended  </li><li> 4 = Deactive  </li><li> 5 = Invisible  </li></ul>
													</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosPendingStatusDate" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Pending status date of the service&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="reason" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation><![CDATA[<p>Code of the last reason for service status change
													
													Possible values for reason:
													
													<ul><li>0 -> Initial activation</li><li>1 -> Following state value of the service during its life cycle without any external reason</li><li>2 -> Service package change, external reason</li><li>3 -> Rate plan change, external reason</li><li>4 -> Profile change, external reason</li><li>5 -> Contract suspension, external reason</li><li>9 -> Service is invisible</li></ul>
													</p>]]></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coReqPending" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Request id of a pending service status change request&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosQuantity" type="xs:integer">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Quantity for selling goods VAS&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosTrialEndDate" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Service trial end date&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosCurrency" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Currency of the service&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosCurrencyPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the currency&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="cosDateBilled" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Last bill date&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="directoryNumbers" type="wsi:directoryNumbersResponse"/>
               <xs:element minOccurs="0" name="ports" type="wsi:portsResponse"/>
               <xs:element minOccurs="0" name="cugMemberships" type="wsi:cugMembershipsResponse"/>
               <xs:element minOccurs="0" name="bsgConfiguration" type="wsi:bsgConfigurationResponse"/>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="servicesResponse">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:servicesListpartResponse"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="contractServicesReadResponse">
            <xs:all>
               <xs:annotation>
                  <xs:documentation>&lt;p>Identifies a contract with the public or private key.&lt;/p></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="services" type="wsi:servicesResponse"/>
               <xs:element minOccurs="0" name="coId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Contract id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the contract&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="inputAttributes">
            <xs:all>
               <xs:annotation>
                  <xs:documentation><![CDATA[<p>Identifies a contract with the public or private key.</p><p>Mandatory if no other contract-related command containing this information (such as <code>CONTRACT.READ</code>) has been executed before.</p>]]></xs:documentation>
               </xs:annotation>
               <xs:element minOccurs="0" name="spcode" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Service package code (SimpleProduct)&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="spcodePub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the service package&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="sncode" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Service code (ProductElement)&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="sncodePub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the service&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="profileId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Profile id&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coId" type="xs:long">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Contract id &lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="coIdPub" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>&lt;p>Public key of the contract&lt;/p></xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:all>
         </xs:complexType>
         <xs:complexType name="contractServicesReadRequest">
            <xs:all>
               <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
               <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
            </xs:all>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="contractServicesReadResponse">
      <wsdl:part element="sch3:contractServicesReadResponse" name="contractServicesReadResponse"/>
   </wsdl:message>
   <wsdl:message name="contractServicesReadRequest">
      <wsdl:part element="sch3:contractServicesReadRequest" name="contractServicesReadRequest"/>
   </wsdl:message>
   <wsdl:portType name="ContractServicesReadService">
      <wsdl:operation name="contractServicesRead">
         <wsdl:input message="tns:contractServicesReadRequest" name="contractServicesReadRequest"/>
         <wsdl:output message="tns:contractServicesReadResponse" name="contractServicesReadResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ContractServicesReadServiceSoap11" type="tns:ContractServicesReadService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="contractServicesRead">
         <soap:operation soapAction=""/>
         <wsdl:input name="contractServicesReadRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="contractServicesReadResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ContractServicesReadService">
      <wsdl:port binding="tns:ContractServicesReadServiceSoap11" name="ContractServicesReadServiceSoap11">
         <soap:address location="http://10.103.23.39:20103/wsi/services/ws_CIL_5_ContractServicesReadService.wsdl"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>