src/CommonProject/BusinessSchemas/Services/Query/BalanceQueryPrepaid/BalanceCheckInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GW_FinMgmt/Tester/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GW_FinMgmt/Tester/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="BalanceCheckRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ListOfCustomers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="ListOfCustomers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Customer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>