src/GW_FinMgmt/BusinessProcesses/Services/CRM/Query/GetChargeHistory/Implementation/QueryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.ericsson.com/ZainKW/BusinessSchemas/QueryService.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Query/GetChargeHistory/Implementation/Schema.xsd" xmlns:tns="http://xmlns.zain.com/BSS/ESB/QueryService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.zain.com/BSS/ESB/QueryService">
    <import namespace="http://www.ericsson.com/ZainKW/BusinessSchemas/QueryService.xsd" location="QueryService.xsd"/>
    <message name="ChargeHistoryRequest">
        <part name="ChargeHistoryInput" element="ns2:ChargeHistoryRequest"/>
    </message>
    <message name="ChargeHistoryResponse">
        <part name="ChargeHistoryOutput" element="ns2:ChargeHistoryResponse"/>
    </message>
    <message name="ChargeHistoryFault">
        <part name="ChargeHistoryFault" element="ns2:FaultType"/>
    </message>
    <message name="BalanceHistoryRequest">
        <part name="BalanceHistoryInput" element="ns2:BalanceHistoryRequest"/>
    </message>
    <message name="BalanceHistoryResponse">
        <part name="BalanceHistoryOutput" element="ns2:BalanceHistoryResponse"/>
    </message>
    <message name="BalanceHistoryFault">
        <part name="BalanceHistoryFault" element="ns2:FaultType"/>
    </message>
    <portType name="QueryServicePortType">
        <operation name="QueryChargeService">
            <input message="tns:ChargeHistoryRequest"/>
            <output message="tns:ChargeHistoryResponse"/>
            <fault name="fault1" message="tns:ChargeHistoryFault"/>
        </operation>
        <operation name="QueryBalanceService">
            <input message="tns:BalanceHistoryRequest"/>
            <output message="tns:BalanceHistoryResponse"/>
            <fault name="fault1" message="tns:BalanceHistoryFault"/>
        </operation>
    </portType>
</definitions>