src/CommonProject/BusinessWSDLS/Services/WSDLS/ProductInfo/ProductInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Abdulaziz Alfoudari (Zain) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.zain.com/ZESB/Services/ProductInfo" xmlns:ns="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Services/ProductInfo">
    <wsdl:types>
        <xs:schema xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.zain.com/ZESB/Services/ProductInfo" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/ProductInfo" elementFormDefault="qualified">
            <xsi:complexType name="Product">
                <xsi:sequence>
                    <xsi:element name="ServiceCode" type="xs:string">
                        <xsi:annotation>
                            <xsi:documentation>The service code associated with the product.</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="Name" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>English name.</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="ArabicName" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>Arabic Name.</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="Class" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>Product classification.</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="SubClass" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>Product classification.</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="BillingType" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>The eligible billing type of a subscriber the product can be used for. (e.g. Postpaid/Prepaid)</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="BasicServiceType" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>The eligible basic service type of a subscriber the product can be used for. (e.g. Voice/Data)</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="InstallationFee" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>The installation fee of the product (one time).</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                    <xsi:element name="RentalFee" type="xs:string" minOccurs="0">
                        <xsi:annotation>
                            <xsi:documentation>The rental fee of the product (recurring).</xsi:documentation>
                        </xsi:annotation>
                    </xsi:element>
                </xsi:sequence>
            </xsi:complexType>
            <xsi:element name="GetProductsInput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="ServiceCode" type="xs:string" maxOccurs="unbounded">
                            <xsi:annotation>
                                <xsi:documentation>The service code to retrieve details for.</xsi:documentation>
                            </xsi:annotation>
                        </xsi:element>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
            <xsi:element name="GetProductsOutput">
                <xsi:complexType>
                    <xsi:sequence>
                        <xsi:element name="Product" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
                    </xsi:sequence>
                </xsi:complexType>
            </xsi:element>
        </xsi:schema>
    </wsdl:types>
    <wsdl:message name="GetProductsRequest">
        <wsdl:part name="request" element="tns:GetProductsInput"/>
    </wsdl:message>
    <wsdl:message name="GetProductsResponse">
        <wsdl:part name="response" element="tns:GetProductsOutput"/>
    </wsdl:message>
    <wsdl:message name="GetProductsFault">
        <wsdl:part name="fault" element="ns:FaultType"/>
    </wsdl:message>
    <wsdl:portType name="ProductInfoPort">
        <wsdl:operation name="GetProducts">
            <wsdl:input message="tns:GetProductsRequest"/>
            <wsdl:output message="tns:GetProductsResponse"/>
            <wsdl:fault name="fault" message="tns:GetProductsFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductInfoBinding" type="tns:ProductInfoPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetProducts">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductInfo">
        <wsdl:port name="ProductInfoPort" binding="tns:ProductInfoBinding">
            <soap:address location="URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>