src/CommonProject/BusinessSchemas/Services/Common/BillAdjustment/BillAdjustment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://xmlns.zain.com/BSS/ESB/CDM/BillAdjustment"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 xmlns:fin="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 targetNamespace="http://xmlns.zain.com/BSS/ESB/CDM/BillAdjustment"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Finance" schemaLocation="../../../../CDM/ZainKWFinance.xsd"/>
	<xs:element name="BillAdjustment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Identifier" minOccurs="0"/>
				<xs:element ref="BillId" minOccurs="0"/>
				<xs:element ref="fin:Adjustment" minOccurs="0"/>
				<xs:element ref="fin:PaymentMethod" minOccurs="0"/>
				<xs:element ref="GLCode" minOccurs="0"/>
				<xs:element ref="fin:SourceDetails" minOccurs="0"/>
				<xs:element ref="payDesk" minOccurs="0"/>
				<xs:element ref="workArea" minOccurs="0"/>
				<xs:element ref="user" minOccurs="0"/>
				<xs:element ref="modPay" minOccurs="0"/>
				<xs:element ref="remark" minOccurs="0"/>
				<xs:element ref="References" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerID" type="xs:string"/>
	<xs:element name="BillingAccountID" type="xs:string"/>
	<xs:element name="BillId" type="xs:string"/>
	<xs:element name="GLCode" type="xs:string"/>
	<xs:element name="References">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="items" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="BillAdjustmentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header"/>
				<xs:element ref="BillAdjustment"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillAdjustmentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Response" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Identifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="BillingAccountID" minOccurs="0"/>
				<xs:element ref="bs:MSISDN" minOccurs="0"/>
				<xs:element name="ContractID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjustmentQueryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header" minOccurs="0"/>
				<xs:element ref="Identifier" minOccurs="0"/>
				<xs:element ref="TimePeriod" minOccurs="0"/>
				<xs:element ref="CustomerFlag" minOccurs="0"/>
				<xs:element ref="ReceiptNo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjustmentQueryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Adjustment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bs:Response" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerFlag" type="xs:string"/>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="Adjustment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AdjustmentId" minOccurs="0"/>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="InvoiceId" minOccurs="0"/>
				<xs:element ref="Invoice_Adjusted_Amnt" minOccurs="0"/>
				<xs:element ref="AdjustmentAmount" minOccurs="0"/>
				<xs:element ref="AuthCode" minOccurs="0"/>
				<xs:element ref="AdjustmentDate" minOccurs="0"/>
				<xs:element ref="GLCode" minOccurs="0"/>
				<xs:element ref="Payment_Instrument" minOccurs="0"/>
				<xs:element ref="Payment_Post_Date" minOccurs="0"/>
				<xs:element ref="Payment_Auth_Code" minOccurs="0"/>
				<xs:element ref="Channel" minOccurs="0"/>
				<xs:element ref="Src_Transaction_Id" minOccurs="0"/>
				<xs:element ref="Username" minOccurs="0"/>
				<xs:element ref="Customer_Category" minOccurs="0"/>
				<xs:element ref="Location" minOccurs="0"/>
				<xs:element ref="Merchant_Id" minOccurs="0"/>
				<xs:element ref="Terminal_Id" minOccurs="0"/>
				<xs:element ref="Crcardno" minOccurs="0"/>
				<xs:element ref="Remarks" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="Billing_Account_Id" minOccurs="0"/>
				<xs:element ref="Adjustment_Open_Amnt" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjustmentId" type="xs:string"/>
	<xs:element name="InvoiceId" type="xs:string"/>
	<xs:element name="AdjustmentAmount" type="xs:string"/>
	<xs:element name="AuthCode" type="xs:string"/>
	<xs:element name="AdjustmentDate" type="xs:string"/>
	<xs:element name="TimePeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="endDate" minOccurs="0"/>
				<xs:element ref="startDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endDate" type="xs:string"/>
	<xs:element name="startDate" type="xs:string"/>
	<xs:element name="payDesk" type="xs:string"/>
	<xs:element name="workArea" type="xs:string"/>
	<xs:element name="user" type="xs:string"/>
	<xs:element name="remark" type="xs:string"/>
	<xs:element name="modPay" type="xs:string"/>
	<xs:element name="Payment_Instrument" type="xs:string"/>
	<xs:element name="Payment_Post_Date" type="xs:string"/>
	<xs:element name="Payment_Auth_Code" type="xs:string"/>
	<xs:element name="Channel" type="xs:string"/>
	<xs:element name="Src_Transaction_Id" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
	<xs:element name="Customer_Category" type="xs:string"/>
	<xs:element name="Location" type="xs:string"/>
	<xs:element name="Merchant_Id" type="xs:string"/>
	<xs:element name="Terminal_Id" type="xs:string"/>
	<xs:element name="Crcardno" type="xs:string"/>
	<xs:element name="Remarks" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="ReceiptNo" type="xs:string"/>
	<xs:element name="Invoice_Adjusted_Amnt" type="xs:string"/>
	<xs:element name="Billing_Account_Id" type="xs:string"/>
	<xs:element name="Adjustment_Open_Amnt" type="xs:string"/>
</xs:schema>