src/CommonProject/BusinessWSDLS/Services/CADE/SMSService/SMSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SMSService" targetNamespace="http://example.org" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://example.org" version="1.0" xmlns:tns="http://example.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="SMSRequester" type="tns:SMSRequester"/>
<xs:element name="SMSRequesterResponse" type="tns:SMSRequesterResponse"/>
<xs:complexType name="SMSRequester">
    <xs:sequence>
      <xs:element name="SOURCE_ADDR_TON" type="xs:int"/>
      <xs:element name="SOURCE_ADDR_NPI" type="xs:int"/>
      <xs:element minOccurs="0" name="SOURCE_ADDR" type="xs:string"/>
      <xs:element name="DEST_ADDR_TON" type="xs:int"/>
      <xs:element name="DEST_ADDR_NPI" type="xs:int"/>
      <xs:element name="DESTINATION_ADDR" type="xs:string"/>
      <xs:element name="SHORT_MESSAGE" type="xs:string"/>
      <xs:element minOccurs="0" name="ENCODING" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="SMSRequesterResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SMSResp" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SMSRequesterResponse">
    <wsdl:part element="tns:SMSRequesterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SMSRequester">
    <wsdl:part element="tns:SMSRequester" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SMSPortType">
    <wsdl:operation name="SMSRequester">
      <wsdl:input message="tns:SMSRequester" name="SMSRequester">
    </wsdl:input>
      <wsdl:output message="tns:SMSRequesterResponse" name="SMSRequesterResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSServiceSoapBinding" type="tns:SMSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SMSRequester">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SMSRequester">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SMSRequesterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port binding="tns:SMSServiceSoapBinding" name="SMSPortTypePort">
      <soap:address location="http://localhost:8088/ZainKuwaitReportingTool/SMSService/SMSPortType.yaws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
