src/GW_FinMgmt/BusinessProcesses/Services/Common/SalesOrder/Retry/Resources/RetrySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record1" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTIONID" type="xs:string" minOccurs="0"/>
				<xs:element name="MAXRETRYCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="CURRENTRETRYCOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="NEXTRETRYTIMESTAMP" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYLOAD" type="xs:string" minOccurs="0"/>
				<xs:element name="RETRYSTEP" type="xs:string" minOccurs="0"/>
				<xs:element name="RETRYCOMPONENTNAME" type="xs:string" minOccurs="0"/>
				<xs:element name="RETRYFLAG" type="xs:string" minOccurs="0"/>
				<xs:element name="RETRYLISTNERQUEUE" type="xs:string" minOccurs="0"/>
				<xs:element name="RETRYSTATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="RETRYERRORDESCRIPTION" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>