src/CommonProject/BusinessSchemas/Services/Applications/Common/DeviceManagement/DeviceMgmtRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mformation.com/ProvisionServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProvisionServices">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element type="xs:string" name="Source"/>
        <xs:element type="xs:string" name="Secret"/>
        <xs:element name="Subscriber">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MSISDN"/>
              <xs:element type="xs:string" name="BillingType"/>
              <xs:element type="xs:string" name="Category"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ServiceList" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Service" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>