src/CommonProject/BusinessSchemas/Services/Applications/Common/DeviceManagement/DeviceMgmtCmn.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="ProvisionServicesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="service" type="xs:string" minOccurs="0"/>
				<xs:element name="ResultCode" type="xs:byte" minOccurs="0"/>
				<xs:element name="ResultDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="ProvisionServicesRequestId" type="xs:int" minOccurs="0"/>
				<xs:element name="RequestId" type="xs:string" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>