src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/AppleiWatchSESCommonError/SESCommonErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="error" type="xs:string"/>
	<xs:element name="error_description" type="xs:string"/>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="error" minOccurs="0"/>
				<xs:element ref="error_description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>