src/CommonProject/BusinessWSDLS/Services/Eserve/UnbarRecharge/voms_soaptopupsuite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soaptopupsuite.eservglobal.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="soaptopupsuite" targetNamespace="http://soaptopupsuite.eservglobal.com/">
    <types>
        <xs:schema xmlns:tns="http://soaptopupsuite.eservglobal.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soaptopupsuite.eservglobal.com/" version="1.0">
            <xs:element name="WebServiceException" type="tns:WebServiceException"/>
            <xs:complexType name="session">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actorId" type="xs:string"/>
                    <xs:element minOccurs="0" name="language" type="xs:string"/>
                    <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="transaction">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actorId" type="xs:string"/>
                    <xs:element minOccurs="0" name="aliasCategoryName" type="xs:string"/>
                    <xs:element minOccurs="0" name="creationDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="credit" type="xs:string"/>
                    <xs:element minOccurs="0" name="externalTransactionId" type="xs:string"/>
                    <xs:element minOccurs="0" name="globalId" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastUpdate" type="xs:string"/>
                    <xs:element minOccurs="0" name="lifeCycleInfoList" type="tns:lifeCycleInfoList"/>
                    <xs:element minOccurs="0" name="operation" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeCategoryId" type="xs:string"/>
                    <xs:element minOccurs="0" name="scenarioId" type="xs:string"/>
                    <xs:element minOccurs="0" name="service" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="xs:string"/>
                    <xs:element minOccurs="0" name="tax" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionsDetailList" type="tns:transactionDetailList"/>
                    <xs:element minOccurs="0" name="voucherInfo" type="tns:voucherInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lifeCycleInfoList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="lifeCycleInfo" nillable="true" type="tns:lifeCycleInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lifeCycleInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="activePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="gracePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="gracePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="productId" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeablePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeablePeriodEndDate" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="transactionDetailList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transactionDetail" nillable="true" type="tns:transactionDetail"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="transactionDetail">
                <xs:sequence>
                    <xs:element minOccurs="0" name="actorId" type="xs:string"/>
                    <xs:element minOccurs="0" name="operState" type="xs:string"/>
                    <xs:element minOccurs="0" name="operStateDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="operation" type="xs:string"/>
                    <xs:element minOccurs="0" name="productId" type="xs:string"/>
                    <xs:element minOccurs="0" name="quantity" type="xs:string"/>
                    <xs:element minOccurs="0" name="tax" type="xs:string"/>
                    <xs:element minOccurs="0" name="unitId" type="xs:string"/>
                    <xs:element minOccurs="0" name="unitPrice" type="xs:string"/>
                    <xs:element minOccurs="0" name="unitValueId" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="voucherInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activationDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="creationDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="denominationValue" type="xs:string"/>
                    <xs:element minOccurs="0" name="expiryDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="externalSerialNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="inventoryPacketId" type="xs:string"/>
                    <xs:element minOccurs="0" name="inventorySerialNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="isoCurrencyUnitId" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastUpdate" type="xs:string"/>
                    <xs:element minOccurs="0" name="lockedDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="multiHrnQuality" type="xs:string"/>
                    <xs:element minOccurs="0" name="producedDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="retailerId" type="xs:string"/>
                    <xs:element minOccurs="0" name="scenarioId" type="xs:string"/>
                    <xs:element minOccurs="0" name="scenarioName" type="xs:string"/>
                    <xs:element minOccurs="0" name="scenarioNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="xs:string"/>
                    <xs:element minOccurs="0" name="stateComment" type="xs:string"/>
                    <xs:element minOccurs="0" name="voucherCategoryId" type="xs:string"/>
                    <xs:element minOccurs="0" name="voucherCategoryName" type="xs:string"/>
                    <xs:element minOccurs="0" name="voucherClass" type="xs:string"/>
                    <xs:element minOccurs="0" name="voucherRechargeInfoList" type="tns:voucherRechargeInfoList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="voucherRechargeInfoList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="voucherRechargeInfo" nillable="true" type="tns:voucherRechargeInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="voucherRechargeInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="externalSerialNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="hrn" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastUpdate" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeMode" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargedProductList" type="tns:rechargedProductList"/>
                    <xs:element minOccurs="0" name="serialNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriberMSISDN" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rechargedProductList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rechargedProduct" nillable="true" type="tns:rechargedProduct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rechargedProduct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="beParameterList" type="tns:beParameterList"/>
                    <xs:element minOccurs="0" name="bonusQuantity" type="xs:string"/>
                    <xs:element minOccurs="0" name="productId" type="xs:string"/>
                    <xs:element minOccurs="0" name="quantity" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargedProductLifeCycles" type="tns:rechargedProductLifeCycles"/>
                    <xs:element minOccurs="0" name="voucherQuantity" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="beParameterList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="beParameter" nillable="true" type="tns:beParameter"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="beParameter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="parameterId" type="xs:string"/>
                    <xs:element minOccurs="0" name="parameterValuesList" type="tns:parameterValuesList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="parameterValuesList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rechargedProductLifeCycles">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="activePeriodDurationQuality" type="xs:string"/>
                    <xs:element minOccurs="0" name="activePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="bonusOnActivePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="bonusOnGracePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="bonusOnRechargeablePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="gracePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="gracePeriodDurationQuality" type="xs:string"/>
                    <xs:element minOccurs="0" name="gracePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeablePeriodDuration" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeablePeriodDurationQuality" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeablePeriodEndDate" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WebServiceException">
                <xs:sequence>
                    <xs:element name="correlationId" type="xs:long"/>
                    <xs:element name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="transactionList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transaction" nillable="true" type="tns:transaction"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subscriberInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="commentList" type="tns:commentList"/>
                    <xs:element minOccurs="0" name="firstCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="globalState" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastDateRechargedKO" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastDateRechargedOK" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastHrnKO" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastRechargeErrorCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastRechargeErrorLabel" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastRechargeStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastRechargedBE" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastRechargedVoucherKO" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastRechargedVoucherOK" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastUpdate" type="xs:string"/>
                    <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
                    <xs:element minOccurs="0" name="statisticsRecharge" type="tns:statisticsRecharge"/>
                    <xs:element minOccurs="0" name="subscriberProductList" type="tns:subscriberProductList"/>
                    <xs:element minOccurs="0" name="subscriberProfile" type="xs:string"/>
                    <xs:element name="suspended" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="timeZone" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="commentList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="comment" nillable="true" type="tns:comment"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="comment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="statisticsRecharge">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fraudByMASOList" type="tns:fraudByMASOList"/>
                    <xs:element minOccurs="0" name="nbRechargeKOsinceLastRecharge" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalNbRechargeKO" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalNbRechargeOK" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="fraudByMASOList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fraudByfraudByMASO" nillable="true" type="tns:fraudByMASO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="fraudByMASO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aliasCategory" type="xs:string"/>
                    <xs:element minOccurs="0" name="dailyFraud" type="xs:string"/>
                    <xs:element minOccurs="0" name="dailyFraudLimit" type="xs:string"/>
                    <xs:element minOccurs="0" name="medium" type="xs:string"/>
                    <xs:element minOccurs="0" name="monthlyFraud" type="xs:string"/>
                    <xs:element minOccurs="0" name="monthlyFraudLimit" type="xs:string"/>
                    <xs:element minOccurs="0" name="operation" type="xs:string"/>
                    <xs:element minOccurs="0" name="service" type="xs:string"/>
                    <xs:element minOccurs="0" name="successiveFraud" type="xs:string"/>
                    <xs:element minOccurs="0" name="successiveFraudLimit" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalNbSuspension" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subscriberProductList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriberProduct" nillable="true" type="tns:subscriberProduct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subscriberProduct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="activePeriodEndQuality" type="xs:string"/>
                    <xs:element minOccurs="0" name="gracePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="gracePeriodEndDateQuality" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeablePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargeablePeriodEndDateQuality" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="voucherInfoList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="paging" type="tns:paging"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="voucherInfo" nillable="true" type="tns:voucherInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="paging">
                <xs:sequence>
                    <xs:element minOccurs="0" name="last" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="number" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="recordTotalNumber" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rechargeResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rechargeCategoryId" type="xs:string"/>
                    <xs:element minOccurs="0" name="rechargedProductList" type="tns:rechargedProductList"/>
                    <xs:element minOccurs="0" name="scenarioList" type="tns:scenarioList"/>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionGlobalId" type="xs:string"/>
                    <xs:element minOccurs="0" name="voucherInfo" type="tns:voucherInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="scenarioList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scenario" nillable="true" type="tns:scenario"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="scenario">
                <xs:sequence>
                    <xs:element minOccurs="0" name="faceAmount" type="xs:string"/>
                    <xs:element minOccurs="0" name="isoCurrencyUnitId" type="xs:string"/>
                    <xs:element minOccurs="0" name="lifeCycleList" type="tns:lifeCycleList"/>
                    <xs:element minOccurs="0" name="scenarioId" type="xs:string"/>
                    <xs:element minOccurs="0" name="scenarioName" type="xs:string"/>
                    <xs:element minOccurs="0" name="scenarioNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="spreadingList" type="tns:spreadingList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lifeCycleList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="lifeCycle" nillable="true" type="tns:lifeCycle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lifeCycle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="periodList" type="tns:periodList"/>
                    <xs:element minOccurs="0" name="productId" type="xs:string"/>
                    <xs:element minOccurs="0" name="productName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="periodList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="period" nillable="true" type="tns:period"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="period">
                <xs:sequence>
                    <xs:element minOccurs="0" name="method" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="spreadingList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="spreading" nillable="true" type="tns:spreading"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="spreading">
                <xs:sequence>
                    <xs:element minOccurs="0" name="productList" type="tns:productList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="productList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="product" nillable="true" type="tns:product"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="product">
                <xs:sequence>
                    <xs:element minOccurs="0" name="productId" type="xs:string"/>
                    <xs:element minOccurs="0" name="productName" type="xs:string"/>
                    <xs:element minOccurs="0" name="productQuantity" type="xs:string"/>
                    <xs:element minOccurs="0" name="productState" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rechargeableProduct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lifeCycleList" type="tns:rechargeableProductLifeCycleList"/>
                    <xs:element minOccurs="0" name="productId" type="xs:string"/>
                    <xs:element minOccurs="0" name="quantity" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rechargeableProductLifeCycleList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="lifeCycle" nillable="true" type="tns:rechargeableProductLifeCycle"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rechargeableProductLifeCycle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="periodType" type="xs:string"/>
                    <xs:element minOccurs="0" name="quality" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:string"/>
                    <xs:element minOccurs="0" name="valueType" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="subscriberInput">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billingType" type="xs:string"/>
                    <xs:element minOccurs="0" name="language" type="xs:string"/>
                    <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
                    <xs:element minOccurs="0" name="providerId" type="xs:string"/>
                    <xs:element minOccurs="0" name="smpId" type="xs:string"/>
                    <xs:element minOccurs="0" name="tariffPlan" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="productInput">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activePeriodEndDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="EndPointInterface_getVoucherList">
        <part name="session" type="tns:session"/>
        <part name="pagingNumber" type="xsd:string"/>
        <part name="pagingLastVoucherId" type="xsd:string"/>
        <part name="filterMsisdn" type="xsd:string"/>
        <part name="filterState" type="xsd:string"/>
        <part name="filterFaceAmount" type="xsd:string"/>
        <part name="filterSelectedRange" type="xsd:string"/>
        <part name="filterSneFrom" type="xsd:string"/>
        <part name="filterSneTo" type="xsd:string"/>
        <part name="filterPackageFrom" type="xsd:string"/>
        <part name="filterPackageTo" type="xsd:string"/>
        <part name="filterDistributor" type="xsd:string"/>
    </message>
    <message name="WebServiceException">
        <part element="tns:WebServiceException" name="WebServiceException"/>
    </message>
    <message name="EndPointInterface_deleteSubscriberResponse"/>
    <message name="EndPointInterface_voucherOnDemandResponse">
        <part name="voucherInfo" type="tns:voucherInfo"/>
    </message>
    <message name="EndPointInterface_getSubscriberInfoUpdatedResponse">
        <part name="subscriberInfo" type="tns:subscriberInfo"/>
    </message>
    <message name="EndPointInterface_getTransactionResponse">
        <part name="transaction" type="tns:transaction"/>
    </message>
    <message name="EndPointInterface_cancelRechargeByHRNResponse">
        <part name="rechargeResult" type="tns:rechargeResult"/>
    </message>
    <message name="EndPointInterface_getVoucherByHrn">
        <part name="session" type="tns:session"/>
        <part name="hiddenRechargeNumber" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_setSubscriberInfo">
        <part name="session" type="tns:session"/>
        <part name="subscriberInput" type="tns:subscriberInput"/>
        <part name="product" type="tns:productInput"/>
    </message>
    <message name="EndPointInterface_closeSessionResponse"/>
    <message name="EndPointInterface_createSubscriber">
        <part name="session" type="tns:session"/>
        <part name="subscriberInput" type="tns:subscriberInput"/>
    </message>
    <message name="EndPointInterface_getSubscriberInfoUpdated">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_rechargePredifinedQuantity">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="product" type="tns:rechargeableProduct"/>
        <part name="holder" type="xsd:string"/>
        <part name="externalTransactionId" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_confirmRechargePredifinedQuantityResponse">
        <part name="rechargeResult" type="tns:rechargeResult"/>
    </message>
    <message name="EndPointInterface_unsuspendSubscriberResponse"/>
    <message name="EndPointInterface_confirmRechargePredifinedQuantity">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="product" type="tns:rechargeableProduct"/>
        <part name="holder" type="xsd:string"/>
        <part name="transactionGlobalId" type="xsd:string"/>
        <part name="scenarioId" type="xsd:string"/>
        <part name="externalTransactionId" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_getSubscriberInfoResponse">
        <part name="subscriberInfo" type="tns:subscriberInfo"/>
    </message>
    <message name="EndPointInterface_rechargeByHRNResponse">
        <part name="rechargeResult" type="tns:rechargeResult"/>
    </message>
    <message name="EndPointInterface_cancelRechargeByHRN">
        <part name="session" type="tns:session"/>
        <part name="transactionGlobalId" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_rechargePredifinedQuantityResponse">
        <part name="rechargeResult" type="tns:rechargeResult"/>
    </message>
    <message name="EndPointInterface_getVoucherInfoResponse">
        <part name="voucherInfo" type="tns:voucherInfo"/>
    </message>
    <message name="EndPointInterface_confirmRechargeByHRNResponse">
        <part name="rechargeResult" type="tns:rechargeResult"/>
    </message>
    <message name="EndPointInterface_confirmRechargeAnyQuantityResponse">
        <part name="rechargeResult" type="tns:rechargeResult"/>
    </message>
    <message name="EndPointInterface_voucherOnDemand">
        <part name="session" type="tns:session"/>
        <part name="rechargeCategoryId" type="xsd:string"/>
        <part name="voucherExpiryDate" type="xsd:string"/>
        <part name="subscriberNotif" type="xsd:string"/>
        <part name="subscriberMsisdn" type="xsd:string"/>
        <part name="subscriberLanguage" type="xsd:string"/>
        <part name="thirdPartyNotif" type="xsd:string"/>
        <part name="thirdPartyMsisdn" type="xsd:string"/>
        <part name="thirdPartyLanguage" type="xsd:string"/>
        <part name="thirdPartyActorId" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_rechargeByHRN">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="hiddenRechargeNumber" type="xsd:string"/>
        <part name="holder" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_openSessionResponse">
        <part name="session" type="tns:session"/>
    </message>
    <message name="EndPointInterface_setVoucherStateResponse"/>
    <message name="EndPointInterface_closeSession">
        <part name="session" type="tns:session"/>
    </message>
    <message name="EndPointInterface_suspendSubscriber">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="service" type="xsd:string"/>
        <part name="comment" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_rechargeAnyQuantityResponse">
        <part name="rechargeResult" type="tns:rechargeResult"/>
    </message>
    <message name="EndPointInterface_openSession">
        <part name="userName" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="mode" type="xsd:string"/>
        <part name="language" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_getVoucherInfo">
        <part name="session" type="tns:session"/>
        <part name="externalSerialNumber" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_confirmRechargeAnyQuantity">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="product" type="tns:rechargeableProduct"/>
        <part name="holder" type="xsd:string"/>
        <part name="transactionGlobalId" type="xsd:string"/>
        <part name="scenarioId" type="xsd:string"/>
        <part name="externalTransactionId" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_suspendSubscriberResponse"/>
    <message name="EndPointInterface_getTransactionListResponse">
        <part name="transactionList" type="tns:transactionList"/>
    </message>
    <message name="EndPointInterface_getVoucherByHrnResponse">
        <part name="voucherInfo" type="tns:voucherInfo"/>
    </message>
    <message name="EndPointInterface_rechargeAnyQuantity">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="product" type="tns:rechargeableProduct"/>
        <part name="holder" type="xsd:string"/>
        <part name="externalTransactionId" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_getVoucherListResponse">
        <part name="voucherInfoList" type="tns:voucherInfoList"/>
    </message>
    <message name="EndPointInterface_unsuspendSubscriber">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="service" type="xsd:string"/>
        <part name="comment" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_setSubscriberInfoResponse"/>
    <message name="EndPointInterface_createSubscriberResponse"/>
    <message name="EndPointInterface_getSubscriberInfo">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_getTransactionList">
        <part name="session" type="tns:session"/>
        <part name="pagingNumber" type="xsd:string"/>
        <part name="pagingLastId" type="xsd:string"/>
        <part name="filterActorId" type="xsd:string"/>
        <part name="filterAliasName" type="xsd:string"/>
        <part name="filterState" type="xsd:string"/>
        <part name="filterTransactionId" type="xsd:string"/>
        <part name="filterService" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_confirmRechargeByHRN">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
        <part name="hiddenRechargeNumber" type="xsd:string"/>
        <part name="transactionGlobalId" type="xsd:string"/>
        <part name="selectedScenario" type="xsd:string"/>
        <part name="holder" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_getTransaction">
        <part name="session" type="tns:session"/>
        <part name="transactionId" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_setVoucherState">
        <part name="session" type="tns:session"/>
        <part name="externalSerialNumber" type="xsd:string"/>
        <part name="state" type="xsd:string"/>
        <part name="stateComment" type="xsd:string"/>
    </message>
    <message name="EndPointInterface_deleteSubscriber">
        <part name="session" type="tns:session"/>
        <part name="msisdn" type="xsd:string"/>
    </message>
    <portType name="EndPointInterface">
        <operation name="cancelRechargeByHRN" parameterOrder="session transactionGlobalId">
            <input message="tns:EndPointInterface_cancelRechargeByHRN"/>
            <output message="tns:EndPointInterface_cancelRechargeByHRNResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="closeSession" parameterOrder="session">
            <input message="tns:EndPointInterface_closeSession"/>
            <output message="tns:EndPointInterface_closeSessionResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="confirmRechargeAnyQuantity" parameterOrder="session msisdn product holder transactionGlobalId scenarioId externalTransactionId">
            <input message="tns:EndPointInterface_confirmRechargeAnyQuantity"/>
            <output message="tns:EndPointInterface_confirmRechargeAnyQuantityResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="confirmRechargeByHRN" parameterOrder="session msisdn hiddenRechargeNumber transactionGlobalId selectedScenario holder">
            <input message="tns:EndPointInterface_confirmRechargeByHRN"/>
            <output message="tns:EndPointInterface_confirmRechargeByHRNResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="confirmRechargePredifinedQuantity" parameterOrder="session msisdn product holder transactionGlobalId scenarioId externalTransactionId">
            <input message="tns:EndPointInterface_confirmRechargePredifinedQuantity"/>
            <output message="tns:EndPointInterface_confirmRechargePredifinedQuantityResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="createSubscriber" parameterOrder="session subscriberInput">
            <input message="tns:EndPointInterface_createSubscriber"/>
            <output message="tns:EndPointInterface_createSubscriberResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="deleteSubscriber" parameterOrder="session msisdn">
            <input message="tns:EndPointInterface_deleteSubscriber"/>
            <output message="tns:EndPointInterface_deleteSubscriberResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="getSubscriberInfo" parameterOrder="session msisdn">
            <input message="tns:EndPointInterface_getSubscriberInfo"/>
            <output message="tns:EndPointInterface_getSubscriberInfoResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="getSubscriberInfoUpdated" parameterOrder="session msisdn">
            <input message="tns:EndPointInterface_getSubscriberInfoUpdated"/>
            <output message="tns:EndPointInterface_getSubscriberInfoUpdatedResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="getTransaction" parameterOrder="session transactionId">
            <input message="tns:EndPointInterface_getTransaction"/>
            <output message="tns:EndPointInterface_getTransactionResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="getTransactionList" parameterOrder="session pagingNumber pagingLastId filterActorId filterAliasName filterState filterTransactionId filterService">
            <input message="tns:EndPointInterface_getTransactionList"/>
            <output message="tns:EndPointInterface_getTransactionListResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="getVoucherByHrn" parameterOrder="session hiddenRechargeNumber">
            <input message="tns:EndPointInterface_getVoucherByHrn"/>
            <output message="tns:EndPointInterface_getVoucherByHrnResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="getVoucherInfo" parameterOrder="session externalSerialNumber">
            <input message="tns:EndPointInterface_getVoucherInfo"/>
            <output message="tns:EndPointInterface_getVoucherInfoResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="getVoucherList" parameterOrder="session pagingNumber pagingLastVoucherId filterMsisdn filterState filterFaceAmount filterSelectedRange filterSneFrom filterSneTo filterPackageFrom filterPackageTo filterDistributor">
            <input message="tns:EndPointInterface_getVoucherList"/>
            <output message="tns:EndPointInterface_getVoucherListResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="openSession" parameterOrder="userName password mode language">
            <input message="tns:EndPointInterface_openSession"/>
            <output message="tns:EndPointInterface_openSessionResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="rechargeAnyQuantity" parameterOrder="session msisdn product holder externalTransactionId">
            <input message="tns:EndPointInterface_rechargeAnyQuantity"/>
            <output message="tns:EndPointInterface_rechargeAnyQuantityResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="rechargeByHRN" parameterOrder="session msisdn hiddenRechargeNumber holder">
            <input message="tns:EndPointInterface_rechargeByHRN"/>
            <output message="tns:EndPointInterface_rechargeByHRNResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="rechargePredifinedQuantity" parameterOrder="session msisdn product holder externalTransactionId">
            <input message="tns:EndPointInterface_rechargePredifinedQuantity"/>
            <output message="tns:EndPointInterface_rechargePredifinedQuantityResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="setSubscriberInfo" parameterOrder="session subscriberInput product">
            <input message="tns:EndPointInterface_setSubscriberInfo"/>
            <output message="tns:EndPointInterface_setSubscriberInfoResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="setVoucherState" parameterOrder="session externalSerialNumber state stateComment">
            <input message="tns:EndPointInterface_setVoucherState"/>
            <output message="tns:EndPointInterface_setVoucherStateResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="suspendSubscriber" parameterOrder="session msisdn service comment">
            <input message="tns:EndPointInterface_suspendSubscriber"/>
            <output message="tns:EndPointInterface_suspendSubscriberResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="unsuspendSubscriber" parameterOrder="session msisdn service comment">
            <input message="tns:EndPointInterface_unsuspendSubscriber"/>
            <output message="tns:EndPointInterface_unsuspendSubscriberResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
        <operation name="voucherOnDemand" parameterOrder="session rechargeCategoryId voucherExpiryDate subscriberNotif subscriberMsisdn subscriberLanguage thirdPartyNotif thirdPartyMsisdn thirdPartyLanguage thirdPartyActorId">
            <input message="tns:EndPointInterface_voucherOnDemand"/>
            <output message="tns:EndPointInterface_voucherOnDemandResponse"/>
            <fault message="tns:WebServiceException" name="WebServiceException"/>
        </operation>
    </portType>
    <binding name="EndPointInterfaceBinding" type="tns:EndPointInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelRechargeByHRN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="closeSession">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmRechargeAnyQuantity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmRechargeByHRN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmRechargePredifinedQuantity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createSubscriber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteSubscriber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getSubscriberInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getSubscriberInfoUpdated">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTransaction">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTransactionList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getVoucherByHrn">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getVoucherInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getVoucherList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="openSession">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="rechargeAnyQuantity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="rechargeByHRN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="rechargePredifinedQuantity">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="setSubscriberInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="setVoucherState">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="suspendSubscriber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="unsuspendSubscriber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="voucherOnDemand">
            <soap:operation soapAction=""/>
            <input>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </input>
            <output>
                <soap:body namespace="http://soaptopupsuite.eservglobal.com/" use="literal"/>
            </output>
            <fault name="WebServiceException">
                <soap:fault name="WebServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="soaptopupsuite">
        <port binding="tns:EndPointInterfaceBinding" name="EndPointInterfacePort">
            <soap:address location="http://zweb31:8080/soaptopupsuite"/>
        </port>
    </service>
</definitions>