src/CommonProject/BusinessWSDLS/Services/BSCS/CustomerReadzainService/CustomerReadzainService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/addressread" xmlns:sch5="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread" xmlns:sch6="http://ericsson.com/services/ws_CIL_5/billingaccountsearch" xmlns:sch7="http://ericsson.com/services/ws_CIL_5/customerreadzain" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerread">
			<xs:import namespace="http://lhsgroup.com/lhsws/money"/>
			<xs:complexType name="partyRoleAssignmentsListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="partyRoleId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>party role private key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleShname" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>party role public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>party role public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="partyRoleAssignmentsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="listOfAssignmentsListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="familyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>id of family</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="completionStatus" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>completion status: -1=initial status, 0=completed, 1,2,3...=error code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="validFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>valid from date</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="listOfAssignmentsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfAssignmentsListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customerReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Identifies a nationality of the party by the public or private key. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="tbAmount" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Threshold amount for threshold billing</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="createdByUser" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>user of creation</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="tbMode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Threshold mode for threshold billing: "IM" immediate request or "OD" for on demand request.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="tbPurpose" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Threshold purpose for threshold billing: "SIM" for simulation bill run, "INF" for information bill run, "REG" for regular bill run.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sioActionType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Threshold action related to small invoices handling.</p><p><ul><li>'G': Invoice: Generate invoice anyway (default).</li><li>'F': Carry-over: Forward invoices with small amount (Baseline setup per customer group).</li><li>'S': Write-off: Suppress invoices with small amount. </li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sioThresholdAmt" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Threshold amount for small invoices handling.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="maxCarryOverLenght" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Max carry over length for  small invoices handling.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="maxCarryOverPeriodType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Max carry over type period for  small invoices handling.</p><p><ul><li>'D': Days.</li><li>'M': Months.</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="familyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>id of current family</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="listOfAssignments" type="wsi:listOfAssignmentsResponse"/>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Private BSCS customer ID.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public BSCS customer ID</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>customer code</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csStatus" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>status of the customer/dealer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csStatusDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>status date of the customer (dependend on the status CSDEACTIVATED, CSACTIVATED, SUSPENDE,REACTIVATED)</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csActivationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>activation date of the customer (It is only set if the status is active.)</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdHigh" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>id of parent level of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdHighPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLevelCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>level of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentResp" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>payment responsibility</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="prgCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>pricegroup of the customer/dealer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="rpcode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>rateplan for other credits and charges of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="rpcodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the rateplan</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="tradeCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>trade code of the customer/dealer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="areaCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>area code of the customer/dealer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="costId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>costcenter of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="costCodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the cost center</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPassword" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>password of the customer/dealer</p><p>The cloumn CUSTOMER_ALL.BTX_PASSWORD is mapped and the property is bTXPassword for the dealer.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="rsCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>reason for the status change</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="wpCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>welcome procedure of the customer/dealer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="srCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>subscription reduction of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csRemark1" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>remark 1 about the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csRemark2" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>remark 2 about the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csBillInformation" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>bill information run flag</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>home currency code for expected payment</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the currency</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>conversion rate type for expected payment</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the conversion rate type</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="refundCurrencyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>foreign currency code for expected refund</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the currency</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>conversion rate type for refund</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the conversion rate type</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>external credit check agreed</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="custcatCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>category code of the customer's current individual taxation</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="custcatCodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the customer category</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csJurisdictionId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Tax geo code id.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Tax geo code. Usually provided by external address validation system.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Indicates that a city area is incorporated to levy taxes. Usually provided by external address validation system.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csBillcycle" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>billing cycle of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csBillcycleDesc" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>billing cycle of the customer (description)</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr1" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>open amount threshold 1 of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the threshold</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr2" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>open amount threshold 2 of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the threshold</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr3" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>open amount threshold 3 of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the threshold</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csClimit" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>credit limit of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csContresp" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>customer responsibility for contract</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csLastBcDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>last billing cycle date of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDeposit" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>deposit amount of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCreditscore" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>credit score</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditStatus" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>credit status</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditRemark" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>credit remark about the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Date of Credit Scoring</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDunning" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>specifies if dunning is enabled / disabled (ignored for PC14318)</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDunningMode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>dunning mode</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrepayment" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>prepayment required</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCollector" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>cash collector of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csFcId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>currency of credit, deposit, current balance, and previous balance of the customer.	The CS_FC_ID is needed to show the HOME currency.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csFcIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the currency</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscurbalance" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>current balance of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPrevbalance" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>previous balance of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csUnbilledAmount" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>unbilled amount of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPaybehaviour" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>payment behaviour of the customer</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csNoBouncePay" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>number of the bounced payments.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDealerid" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>dealer id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDealeridPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Dealers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csInitPrepaidContrOwner" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Flag indicating that this customer has been created in order to be used as the initial owner of a batch of preactivated prepaid contracts.	This kind of customer must have the party role preactive subscriber.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCreationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Creation date</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csDeactivationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Deactivation date</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csSuspensionDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Suspension date</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csReactivationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Reactivation date</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="lastModificationUser" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Last modification user</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentRespId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customer id of the payment responsible.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csPaymntRespCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customer code of the payment responsible.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsResponse"/>
					<xs:element minOccurs="0" name="partyType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>party type identifier. c: cusotmer, b: business partner, o: operator</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="collInd" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>true if customer is in collection process, otherwise false.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="markedForRerating" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Indicates whether the customer is marked as a candidate for re-rating</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="externalCustomerId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>external customer id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>external customer set id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="maxCsLevel" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>If the customer is a large account root, the max level of its large account should be returned</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="creditScore" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit score grade.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="creditScoreProvider" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit score type: B for CrB Defined; C for CSP defined.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csCscreditUser" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Username when credit scoring has been triggered externally.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="performCreditScoring" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Column CUSTOMER_ALL.CS_SUPPORTED for LA members will be set with given value for this attribute.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cslvlname" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>CSLVLNAME. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNationality" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Nationality of the party</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNationalityPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the country</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrEmployee" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Remark if customer is an employee. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csTestbillrun" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>special entry, range [a-z][A-Z]</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csProtectionMode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Identifies protected customers. Values: </p><p><ul><li>V = VIP customers</li><li>E = Employees</li><li>If not set, the command will consider a non-protected customer.</li></ul></p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="customerReadRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Customer identifier. If not explicitly passed then the customer ID is taken from the context</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Private BSCS customer ID.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public BSCS customer ID</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="syncWithDb" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>true if a database read is forced. In case the customer was already loaded in the server cache, the customer data is refreshed.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/addressread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/addressread">
			<xs:complexType name="addressReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Identifies a country by the public or private key.</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="adrSeq" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>sequence no of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrRoles" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>All address roles assigned to the party. This argument is modeled as a<code>STRING</code> containing the character encodings of the various	address roles, as defined in <code>ADDRESSROLES.READ</code>.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrJurTaxOverridden" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> jurisdiction address used for taxation different to billing address of customer by at least one of billling accounts. </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrTempbillOverridden" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> temporary billing address is overridden by at least one of billling accounts. </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="ttlId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Title of the customer.  </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="ttlIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the title</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrLname" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> last name of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>company name if applicable</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrFname" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> first name of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrStreet" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>street of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrStreetno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> street no of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrZip" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> zip of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrCity" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> city of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="lngCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> language code of the party</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="lngCodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the language</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNote1" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> note 1 of the postal address</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNote2" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> note 2 of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNote3" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> note 3 of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrJbdes" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>job description of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrPhn1Area" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>phone no.1 areacode of the voice address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrPhn1" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> phone no.1 of the voice address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrPhn2Area" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>phone no.2 areacode of the voice address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrPhn2" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> phone no.2 of the voice address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrFaxArea" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> fax no.1 areacode of the fax address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrFax" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>fax no.1 of the fax address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrMname" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>middle initial name of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrEmail" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>email address of the party</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrSmsno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> short message no of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrYears" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>years at this postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrState" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> state of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrCounty" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>county of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrValiddate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>date of last address validation</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrInccode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> incorporated city area of the postal address</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrUrgent" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> address is of "urgent" type </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrForward" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>address may be forwarded for commercial purposes </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrLocation1" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> additional address information 1 of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrLocation2" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> additional address information 2 of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrRemark" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>hints for installation workforce of the postal address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrTaxno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> tax registration number of the party</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrCompno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> company registration number of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="idtypeCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>identity-type code of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrIdno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> identity-number of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrBirthdt" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> birth date of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrSocialseno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> social security number of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrDrivelicence" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> driving licence number of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrSex" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> gender of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrEmployer" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> employer of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrCusttype" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> type of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="masCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> marital status of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="masCodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the marital status.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNationality" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> nationality of the party </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrNationalityPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the country</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrEmployee" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> remark if customer is an employee </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> internal BSCS customer id </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="countryId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>country id of the postal address</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="countryIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the country</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="adrCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Address code for external system usage</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="addressReadRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Identifies a customer with the public or private key. At least one of the arguments in group should be entered</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="adrType" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Address type common to all addresses that should be retrieved. If omitted, the	default address role as delivered by <code>ADDRESSROLES.READ</code> will be used. </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> internal BSCS customer id </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread">
			<xs:import namespace="http://lhsgroup.com/lhsws/money"/>
			<xs:complexType name="listOfPaymentArrangementsListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="cspId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Payment arrangement (payment) identifier.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspSeqno" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> sequence number </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspPmntId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> payment-type id </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspPmntIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the payment method</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspAccno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> account number </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspAccowner" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> account owner </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankcode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> subaccount number </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankname" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> bank name </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankzip" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> zipcode of the bank-address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankcity" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> city of the bank-address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankstreet" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> street name of the bank address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspCcagCode" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> credit card agency code </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspCcagCodePub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the financial institute.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspCcvaliddt" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> valid date of the credit card (MMYY) </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspCeiling" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> ceiling amount for credit card payments </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankstate" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> state of bank address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankcounty" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> county of bank address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspOrdernumber" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> order number </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankstreetno" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> street number of the bank address </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankcountry" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> country of the bank/ccag </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspBankcountryPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Public key of the country</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspSwiftcode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> international bank identifier </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspActUsed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Flag indicating, that this is the actually used payment arrangement </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cspValidFrom" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Valid from date</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="authOk" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> authorization is ok </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="authDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Date for authorization </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="authNo" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Credit card authorization code </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="authCredit" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Credit for authorization </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="authTn" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Phone number of authorization </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="authRemark" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Authorization remark </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>internal BSCS customer id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="listOfPaymentArrangementsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfPaymentArrangementsListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="paymentArrangementsReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="listOfPaymentArrangements" type="wsi:listOfPaymentArrangementsResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="paymentArrangementsReadRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Identifies a customer with the public or private key.</p><p>Mandatory if no other customer-related command containing this information (such as <code>CUSTOMER.READ</code>) has been executed before.</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="flagCurrent" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Flag returning the current payment arrangement of the customer. Default is false, meaning all payment arrangements are returned.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> internal BSCS customer id </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/billingaccountsearch" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/billingaccountsearch">
			<xs:import namespace="http://lhsgroup.com/lhsws/money"/>
			<xs:complexType name="resultListListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="invoicingInd" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Flag to specify whether the Billing Account	is used for invoicing or for reconciliation:	I: invoicing	R: reconciliation	C: credit memo</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="billingAccountId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Billing account identifier </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="billingAccountCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Billing account code </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>customer id</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="billingAccountName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> The billing account's name </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="primaryFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> The billing account is a primary one </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="splitBillingFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> The billing account is split billing. If there is a entry in BILLING_ACCOUNT_ASSIGNMENT table </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="lastBilledDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> The last billed date for this billing account </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="status" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Status of current version:	I: Inactive	A: Active	C: Closed</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="bmId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Medium for the monthly-bill of the customer </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="primaryDocumentCurrencyId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Primary Document Currency </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoiceTypeId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Invoice type identifier. </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoiceTypeIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>The invoice type public key.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoiceTypeDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>The invoice type description.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="currentBalance" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>PC16477 only : current balance of the billing account</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="previousBalance" type="money:money">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>PC16477 only : previous balance of the billing account</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dunningFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>PC16477 only : specifies if dunning is enabled / disabled</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="resultListResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:resultListListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="billingAccountSearchResponse">
				<xs:all>
					<xs:element minOccurs="0" name="resultList" type="wsi:resultListResponse"/>
					<xs:element minOccurs="0" name="searchIsComplete" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>flag indicating if search was completed.</p><p>This flag will be set to false if more rows than specified in Srch_Count are available in the database</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="billingAccountSearchRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Identifies a customer with the public or private key. At least one of the arguments in group should be entered</p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="csId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> internal BSCS customer id </p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customers public key</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>O:    Return data of all billing accounts owned.	L:    Return data of all billing accounts owned by a large account member. Valid only for large account members.	U:    Return data of all potentially usable (i.e. only active) billing accounts.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="invoicingInd" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Flags to specify whether the Billing Account	is used for invoicing or for reconciliation:	I: invoicing	R: reconciliation	C: credit memo	The flags can be combined, e.g. IC would search for invoicing and credit memo billing accounts.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="srchCount" type="xs:integer">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Size of result set.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:addressread="http://ericsson.com/services/ws_CIL_5/addressread" xmlns:billingaccountsearch="http://ericsson.com/services/ws_CIL_5/billingaccountsearch" xmlns:customerread="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:paymentarrangementsread="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerreadzain" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerreadzain">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/customerread"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/addressread"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/billingaccountsearch"/>
			<xs:element name="customerReadzainRequest" type="wsi:customerReadzainRequest"/>
			<xs:element name="customerReadzainResponse" type="wsi:customerReadzainResponse"/>
			<xs:complexType name="customerReadzainResponse">
				<xs:all>
					<xs:element minOccurs="0" name="customerRead" type="customerread:customerReadResponse">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentArrangementsRead" type="paymentarrangementsread:paymentArrangementsReadResponse">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="addressRead" type="addressread:addressReadResponse">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="billingAccountSearch" type="billingaccountsearch:billingAccountSearchResponse">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:element minOccurs="0" name="customerRead" type="customerread:customerReadRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="addressRead" type="addressread:addressReadRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="paymentArrangementsRead" type="paymentarrangementsread:paymentArrangementsReadRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="billingAccountSearch" type="billingaccountsearch:billingAccountSearchRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="customerReadzainRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="customerReadzainResponse">
		<wsdl:part element="sch7:customerReadzainResponse" name="customerReadzainResponse"/>
	</wsdl:message>
	<wsdl:message name="customerReadzainRequest">
		<wsdl:part element="sch7:customerReadzainRequest" name="customerReadzainRequest"/>
	</wsdl:message>
	<wsdl:portType name="CustomerReadzainService">
		<wsdl:operation name="customerReadzain">
			<wsdl:input message="tns:customerReadzainRequest" name="customerReadzainRequest"/>
			<wsdl:output message="tns:customerReadzainResponse" name="customerReadzainResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerReadzainServiceSoap11" type="tns:CustomerReadzainService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="customerReadzain">
			<soap:operation soapAction=""/>
			<wsdl:input name="customerReadzainRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="customerReadzainResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerReadzainService">
		<wsdl:port binding="tns:CustomerReadzainServiceSoap11" name="CustomerReadzainServiceSoap11">
			<soap:address location="http://10.96.103.208:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>