src/CommonProject/BusinessWSDLS/Services/WSDLS/OnlineBillingRegistration/OnlineBillingRegistrationInbound.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/OnlineBillingRegistration" xmlns:typ="http://www.zain.com/ZESB/Services/OnlineBillingRegistration/Types" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/OnlineBillingRegistration">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema targetNamespace="http://www.zain.com/ZESB/Services/OnlineBillingRegistration/Types" elementFormDefault="qualified" xmlns:typ="http://www.zain.com/ZESB/Services/OnlineBillingRegistration/Types">
			<xs:complexType name="ContractInput">
				<xs:sequence>
					<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ContractId" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SubscriberInput">
				<xs:sequence>
					<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Msisdn" type="xs:string" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="AddContractInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractInput" type="typ:ContractInput"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateContractInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractInput" type="typ:ContractInput"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteContractInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractInput" type="typ:ContractInput"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddSubscriberInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubscriberInput" type="typ:SubscriberInput"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateSubscriberInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubscriberInput" type="typ:SubscriberInput"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteSubscriberInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubscriberInput" type="typ:SubscriberInput"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GeneralOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ResultCode" type="xs:int" minOccurs="1" maxOccurs="1"/>
						<xs:element name="ResultText" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addContractRequest">
		<wsdl:part name="request" element="typ:AddContractInput"/>
	</wsdl:message>
	<wsdl:message name="addContractResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="updateContractRequest">
		<wsdl:part name="request" element="typ:UpdateContractInput"/>
	</wsdl:message>
	<wsdl:message name="updateContractResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="deleteContractRequest">
		<wsdl:part name="request" element="typ:DeleteContractInput"/>
	</wsdl:message>
	<wsdl:message name="deleteContractResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="addSubscriberRequest">
		<wsdl:part name="request" element="typ:AddSubscriberInput"/>
	</wsdl:message>
	<wsdl:message name="addSubscriberResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="updateSubscriberRequest">
		<wsdl:part name="request" element="typ:UpdateSubscriberInput"/>
	</wsdl:message>
	<wsdl:message name="updateSubscriberResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="deleteSubscriberRequest">
		<wsdl:part name="request" element="typ:DeleteSubscriberInput"/>
	</wsdl:message>
	<wsdl:message name="deleteSubscriberResponse">
		<wsdl:part name="response" element="typ:GeneralOutput"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="OnlineBillingRegistrationPort">
		<wsdl:operation name="AddContract">
			<wsdl:input message="tns:addContractRequest"/>
			<wsdl:output message="tns:addContractResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateContract">
			<wsdl:input message="tns:updateContractRequest"/>
			<wsdl:output message="tns:updateContractResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteContract">
			<wsdl:input message="tns:deleteContractRequest"/>
			<wsdl:output message="tns:deleteContractResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="AddSubscriber">
			<wsdl:input message="tns:addSubscriberRequest"/>
			<wsdl:output message="tns:addSubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateSubscriber">
			<wsdl:input message="tns:updateSubscriberRequest"/>
			<wsdl:output message="tns:updateSubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteSubscriber">
			<wsdl:input message="tns:deleteSubscriberRequest"/>
			<wsdl:output message="tns:deleteSubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OnlineBillingRegistrationBinding" type="tns:OnlineBillingRegistrationPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="AddContract">
			<soap:operation soapAction="AddContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateContract">
			<soap:operation soapAction="UpdateContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteContract">
			<soap:operation soapAction="DeleteContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddSubscriber">
			<soap:operation soapAction="AddSubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateSubscriber">
			<soap:operation soapAction="UpdateSubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteSubscriber">
			<soap:operation soapAction="DeleteSubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OnlineBillingRegistration">
		<wsdl:port name="OnlineBillingRegistrationPort" binding="tns:OnlineBillingRegistrationBinding"/>
	</wsdl:service>
</wsdl:definitions>
