src/CommonProject/BusinessSchemas/Services/Modification/FirstCallUpdateService/FirstCallUpdateService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/FirstCallUpdateService.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/FirstCallUpdateService.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="FirstCallUpdateRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Event" minOccurs="0"/>
				<xs:element ref="ActivationDate" minOccurs="0"/>
				<xs:element ref="EventID" minOccurs="0"/>
				<xs:element ref="EventTime" minOccurs="0"/>
				<xs:element ref="ServiceClass" minOccurs="0"/>
				<xs:element ref="EventSourceID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FirstCallUpdateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Event" type="xs:string"/>
	<xs:element name="ActivationDate" type="xs:string"/>
	<xs:element name="EventID" type="xs:string"/>
	<xs:element name="EventTime" type="xs:string"/>
	<xs:element name="ServiceClass" type="xs:string"/>
	<xs:element name="EventSourceID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
</xs:schema>