src/CommonProject/BusinessWSDLS/Services/WSDLS/AutoRenewalSuccessFailure/RenewalUpdate_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/Services/Modification/RenewalUpdateOutput.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/RenewalUpdate" xmlns:ns0="http://www.zain.com/Services/Modification/RenewalUpdateInput.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/RenewalUpdate">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/Services/Modification/RenewalUpdateInput.xsd">
            <xs:import namespace="http://www.zain.com/Services/Modification/RenewalUpdateOutput.xsd"/>
            <xs:element name="RenewalUpdateInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MSISDN" type="xs:string"/>
                        <xs:element name="RenewalStatusCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="RenewalStatusDesc" type="xs:string"/>
                        <xs:element minOccurs="0" name="Offer_Id" type="xs:string"/>
                        <xs:element minOccurs="0" name="Expiry_date" type="xs:string"/>
                        <xs:element minOccurs="0" name="LastTry" type="xs:string"/>
                        <xs:element minOccurs="0" name="RetryCount" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/Services/Modification/RenewalUpdateOutput.xsd">
            <xs:import namespace="http://www.zain.com/Services/Modification/RenewalUpdateInput.xsd"/>
            <xs:element name="RenewalUpdateOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Response" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Renewals.serviceagent">
        <wsdl:port binding="tns:RenewalUpdatePortBinding" name="RenewalUpdatePort">
            <soap:address location="http://10.96.80.6:7073/ESB/SOAP/RenewalUpdate"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="RenewalUpdatePort">
        <wsdl:operation name="RenewalUpdate">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RenewalUpdatePortBinding" type="tns:RenewalUpdatePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RenewalUpdate">
            <soap:operation soapAction="/ESB/SOAP/RenewalUpdate" style="document"/>
            <wsdl:input>
                <soap:body parts="part" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="part1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InputMessage">
        <wsdl:part element="ns0:RenewalUpdateInput" name="part"/>
    </wsdl:message>
    <wsdl:message name="OutputMessage">
        <wsdl:part element="ns1:RenewalUpdateOutput" name="part1"/>
    </wsdl:message>
</wsdl:definitions>