src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/AppleiWatchSESEligibilityCheck/ESIMOperationEligibilityCheckReqSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="primary-imsi" type="xs:string" minOccurs="0"/>
				<xs:element name="primary-msisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="eid" type="xs:string" minOccurs="0"/>
				<xs:element name="imei" type="xs:string" minOccurs="0"/>
				<xs:element name="number-plan-type" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>