src/CommonProject/BusinessSchemas/Services/Provisioning/MNPOperationsCBIO2Operations/MNPCBIO2Operations.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/MNPCBIO2Operations"
	 targetNamespace="http://www.zain.com/ZESB/Services/MNPCBIO2Operations"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="DonorAcceptResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DonorAcceptRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SenderID"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="NPOrderID"/>
				<xs:element ref="ordernumber" minOccurs="0"/>
				<xs:element ref="transno" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageID" type="xs:int"/>
	<xs:element name="SenderID" type="xs:string"/>
	<xs:element name="NPOrderID" type="xs:string"/>
	<xs:element name="AutomaticAccept" type="xs:string"/>
	<xs:element name="MessageAck">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
				<xs:element ref="donorID" minOccurs="0"/>
				<xs:element ref="messageID" minOccurs="0"/>
				<xs:element ref="NPOrderID" minOccurs="0"/>
				<xs:element ref="recipientID" minOccurs="0"/>
				<xs:element ref="rangeHolderID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DonoRejectResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DonorRejectList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DonorRejectReason"/>
				<xs:element ref="DonorRejectMessage"/>
				<xs:element ref="PhoneNUmberStart"/>
				<xs:element ref="PhoneNumberEnd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DonorRejectReason" type="xs:int"/>
	<xs:element name="DonorRejectMessage" type="xs:string"/>
	<xs:element name="RejectedPhoneNUmberRange">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PhoneNUmberStart"/>
				<xs:element ref="PhoneNUmberStart"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PhoneNUmberStart" type="xs:string"/>
	<xs:element name="PhoneNumberEnd" type="xs:string"/>
	<xs:element name="DonorRejectRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SenderID"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element ref="NPOrderID"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string" minOccurs="0"/>
				<xs:element ref="ordernumber" minOccurs="0"/>
				<xs:element ref="transno" minOccurs="0"/>
				<xs:element ref="DonorRejectList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DonorRejectReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SenderID"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element name="OrderNumber" type="xs:string"/>
				<xs:element ref="NPOrderID"/>
				<xs:element ref="DonorRejectList"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="actionId" type="xs:string"/>
	<xs:element name="msisdn" type="xs:integer"/>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="operation" type="xs:string"/>
	<xs:element name="ordernumber" type="xs:string"/>
	<xs:element name="transno" type="xs:string"/>
	<xs:element name="NPDeactivatedRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="SenderID"/>
				<xs:element name="npOrderID" type="xs:string"/>
				<xs:element ref="ordernumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NPDeactivatedResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPRequestPortInRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="SenderID"/>
				<xs:element ref="NPOrderID"/>
				<xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="Emergencyrestoreid" type="xs:string" minOccurs="0"/>
				<xs:element name="Blockorderid" type="xs:string" minOccurs="0"/>
				<xs:element name="BlockOrderCount" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ValidationMSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="PortingTime" type="xs:string" minOccurs="0"/>
				<xs:element name="RoutingInfoList" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PhoneNumberStart" type="xs:string"/>
							<xs:element ref="PhoneNumberEnd"/>
							<xs:element name="RoutingNumber" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CustomerName" type="xs:string"/>
				<xs:element name="CustomerIdType" type="xs:string"/>
				<xs:element ref="CustomerId"/>
				<xs:element name="DateofBirth" type="xs:string" minOccurs="0"/>
				<xs:element name="ServiceType" type="xs:string"/>
				<xs:element name="CustomerType" type="xs:string"/>
				<xs:element name="SubscriptionType" type="xs:string" minOccurs="0"/>
				<xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
				<xs:element name="Priority" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPRequestPortInResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CancelNPRequestPortInRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="SenderID"/>
				<xs:element ref="NPOrderID"/>
				<xs:element name="CancelMessage" type="xs:string" minOccurs="0"/>
				<xs:element name="CancelReason" type="xs:string"/>
				<xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
				<xs:element name="Priority" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CancelRequestPortInResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPRingFencePortInRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SenderID" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="PhoneNumberRange" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PhoneNumberStart" type="xs:string" minOccurs="0"/>
							<xs:element name="PhoneNumberEnd" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPRingFencePortInResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPActivatedRequestPortInRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="SenderID"/>
				<xs:element ref="NPOrderID"/>
				<xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
				<xs:element name="Priority" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPActivatedRequestPortInResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPEmergencyRestoreRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="SenderID"/>
				<xs:element name="OriginalNPOrderID" type="xs:string"/>
				<xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="FlexibleAttributeList" type="xs:string" minOccurs="0"/>
				<xs:element name="Priority" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SendNPEmergencyRestoreResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="messageID" type="xs:string"/>
	<xs:element name="recipientID" type="xs:string"/>
	<xs:element name="donorID" type="xs:string"/>
	<xs:element name="rangeHolderID" type="xs:string"/>
	<xs:element name="NPReturnRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="SenderID"/>
				<xs:element name="PhoneNumberRange">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="phoneNumberStart" type="xs:string"/>
							<xs:element name="phoneNumberEnd" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OrderNo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NPReturnCancelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionNo" type="xs:string" minOccurs="0"/>
				<xs:element name="PrepaidOrPostpaid" type="xs:string"/>
				<xs:element ref="SenderID"/>
				<xs:element ref="NPOrderID"/>
				<xs:element name="OrderNo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NPReturnResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NPReturnCancelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageAck"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>