src/CommonProject/BusinessSchemas/Services/Modification/MsisdnPortStatusChange/MsisdnPortStatusChange.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/MsisdnPortStatusChange.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Modification/MsisdnPortStatusChange.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="MsisdnPortStatusChangeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DirectoryNumber" minOccurs="0"/>
				<xs:element ref="DirectoryNumberId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsisdnPortStatusChangeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DirectoryNumber" minOccurs="0"/>
				<xs:element ref="DirectoryNumberId" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DirectoryNumber" type="xs:string"/>
	<xs:element name="DirectoryNumberId" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
</xs:schema>