src/CommonProject/CommonResources/SharedVariables/External/ItemCodeDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.Zain.com/schemas/External/itemCodeDetailsSchema.xsd"
	 targetNamespace="http://www.Zain.com/schemas/External/itemCodeDetailsSchema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ItemCodeDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Items">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ROWID" type="xs:string" minOccurs="0"/>
										<xs:element name="PARTNUM" type="xs:string" minOccurs="0"/>
										<xs:element name="NAME" type="xs:string" minOccurs="0"/>
										<xs:element name="CRMOFFERType" type="xs:string" minOccurs="0"/>
										<xs:element name="ERPItemCode" type="xs:string" minOccurs="0"/>
										<xs:element name="CRMSUBType" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>