src/CommonProject/CommonResources/SharedVariables/External/ListOfValues.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonResources/SharedVariables/External/ListOfValues.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonResources/SharedVariables/External/ListOfValues.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ListOfValues">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOV" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TYPE" type="xs:string" minOccurs="0"/>
							<xs:element name="HIGH" type="xs:string" minOccurs="0"/>
							<xs:element name="LOW" type="xs:string" minOccurs="0"/>
							<xs:element name="VAL" type="xs:string" minOccurs="0"/>
							<xs:element name="NAME" type="xs:string" minOccurs="0"/>
							<xs:element ref="DESC_TEXT" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DESC_TEXT" type="xs:string"/>
</xs:schema>