src/CommonProject/CommonResources/SharedVariables/External/ProductDetalis.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/QUERY/ProductDetalis.xsd"
	 targetNamespace="http://www.zain.com/ZESB/QUERY/ProductDetalis.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ProductDetalis">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Products">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Product" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServiceCode" type="xs:string">
											<xs:annotation>
												<xs:documentation>The service code associated with the product.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
										<xs:element name="Name" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>English name.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ArabicName" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Arabic Name.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Class" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Product classification.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SubClass" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Product classification.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BillingType" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The eligible billing type of a subscriber the product can be used for. (e.g. Postpaid/Prepaid)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BasicServiceType" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The eligible basic service type of a subscriber the product can be used for. (e.g. Voice/Data)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="InstallationFee" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The installation fee of the product (one time).</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="RentalFee" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The rental fee of the product (recurring).</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ProductID" type="xs:string" minOccurs="0"/>
										<xs:element ref="CFSSID" minOccurs="0"/>
										<xs:element ref="POSFlag" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CFSSID" type="xs:string"/>
	<xs:element name="POSFlag" type="xs:string"/>
</xs:schema>