src/CommonProject/BusinessWSDLS/Services/WSDLS/eSIMOperationInbound/eSIMOperationInbound.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.zain.com/ZESB/Services/LockeSIMRes" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.zain.com/ZESB/Services/ReleaseeSIMRes" xmlns:ns="http://www.zain.com/ZESB/Services/LockeSIMReq" xmlns:ns3="http://www.zain.com/ZESB/Services/ReleaseeSIMReq" xmlns:tns="http://www.zain.com/ZESB/Services/eSIMOperationInbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://www.zain.com/ZESB/Services/eSIMFault" targetNamespace="http://www.zain.com/ZESB/Services/eSIMOperationInbound">
    <import namespace="http://www.zain.com/ZESB/Services/LockeSIMReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/LockeSIM/LockeSIMReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/LockeSIMRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/LockeSIM/LockeSIMRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/ReleaseeSIMReq" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/ReleaseeSIM/ReleaseeSIMReq.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/ReleaseeSIMRes" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/ReleaseeSIM/ReleaseeSIMRes.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/eSIMFault" location="../../../../BusinessSchemas/Services/Applications/ExternalChannel/LockeSIM/Fault.xsd"/>
    <message name="LockeSIMReq">
        <part name="LockeSIMReq" element="ns:LockeSIMReq"/>
    </message>
    <message name="LockeSIMRes">
        <part name="LockeSIMRes" element="ns2:LockeSIMRes"/>
    </message>
    <message name="ReleaseeSIMReq">
        <part name="ReleaseeSIMReq" element="ns3:ReleaseeSIMReq"/>
    </message>
    <message name="ReleaseeSIMRes">
        <part name="ReleaseeSIMRes" element="ns4:ReleaseeSIMRes"/>
    </message>
    <message name="Fault">
        <part name="Fault" element="ns5:Fault"/>
    </message>
    <portType name="eSIMPortType">
        <operation name="LockeSIMOp">
            <input message="tns:LockeSIMReq"/>
            <output message="tns:LockeSIMRes"/>
            <fault name="fault" message="tns:Fault"/>
        </operation>
        <operation name="ReleaseeSIMOp">
            <input message="tns:ReleaseeSIMReq"/>
            <output message="tns:ReleaseeSIMRes"/>
            <fault name="fault" message="tns:Fault"/>
        </operation>
    </portType>
</definitions>