src/CommonProject/BusinessSchemas/Services/Query/CorpCustomerBalance/CorpCustomerBalance.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CorpCustomerBalance.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CorpCustomerBalance.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CorpCustomerBalanceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="Limit" minOccurs="0"/>
				<xs:element ref="ToDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CorpCustomerBalanceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Detail" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerId" type="xs:string"/>
	<xs:element name="Limit" type="xs:string"/>
	<xs:element name="ToDate" type="xs:string"/>
	<xs:element name="ContractId" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="OutstandingAmount" type="xs:string"/>
	<xs:element name="PaidAmount" type="xs:string"/>
	<xs:element name="DueAmount" type="xs:string"/>
	<xs:element name="BillingAccountId" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="DepositAmount" type="xs:string"/>
	<xs:element name="Detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerId" minOccurs="0"/>
				<xs:element ref="ContractId" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="OutstandingAmount" minOccurs="0"/>
				<xs:element ref="PaidAmount" minOccurs="0"/>
				<xs:element ref="DueAmount" minOccurs="0"/>
				<xs:element ref="BillingAccountId" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="DepositAmount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>