src/CommonProject/BusinessSchemas/Services/Query/QueryContractStatementReport/QueryContractStatementReport.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryContractStatementReport.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/QueryContractStatementReport.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="QueryContractStatementReportInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="Limit" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryContractStatementReportOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Limit" type="xs:string"/>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="ContractID" minOccurs="0"/>
				<xs:element ref="Msisdn" minOccurs="0"/>
				<xs:element ref="OutstandingAmount" minOccurs="0"/>
				<xs:element ref="PaidAmount" minOccurs="0"/>
				<xs:element ref="DueAmount" minOccurs="0"/>
				<xs:element ref="BillingAccountID" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
				<xs:element ref="DepositAmount" minOccurs="0"/>
				<xs:element ref="LineType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerID" type="xs:string"/>
	<xs:element name="ContractID" type="xs:string"/>
	<xs:element name="Msisdn" type="xs:string"/>
	<xs:element name="OutstandingAmount" type="xs:string"/>
	<xs:element name="PaidAmount" type="xs:string"/>
	<xs:element name="DueAmount" type="xs:string"/>
	<xs:element name="BillingAccountID" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="DepositAmount" type="xs:string"/>
	<xs:element name="LineType" type="xs:string"/>
</xs:schema>