src/CommonProject/BusinessSchemas/Services/Transaction/VoucherOnDemand/VoucherOnDemandReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/VoucherOnDemandReq.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Subscriber"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/Voucher"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Transaction/VoucherOnDemandReq.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Subscriber" schemaLocation="../../../../CDM/Subscriber.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Voucher" schemaLocation="../../../../CDM/Voucher.xsd"/>
	<xs:element name="VoucherOnDemandReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader"/>
				<xs:element ref="ns0:Subscriber"/>
				<xs:element ref="ns1:Voucher"/>
				<xs:element name="RechargeCategoryId" type="xs:string" minOccurs="0"/>
				<xs:element name="SendSMS" type="xs:boolean" minOccurs="0"/>
				<xs:element name="Language" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>