src/CommonProject/BusinessSchemas/Services/Query/VoucherStatus/VoucherStatusResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/VoucherStatusResponse.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/VoucherStatusResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/canonicaldatamodel" schemaLocation="../../../../CDM/CDM.xsd"/>
	<xs:element name="VoucherStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:BusinessMessageHeader" minOccurs="0"/>
				<xs:element name="GetVoucherStatusResposne" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ActivationDate" type="xs:string" minOccurs="0"/>
							<xs:element name="CreationDate" type="xs:string" minOccurs="0"/>
							<xs:element name="Amount" type="xs:string" minOccurs="0"/>
							<xs:element name="ExpiryDate" type="xs:string" minOccurs="0"/>
							<xs:element name="LastUpdate" type="xs:string" minOccurs="0"/>
							<xs:element name="LockedDate" type="xs:string" minOccurs="0"/>
							<xs:element name="ScenarioId" type="xs:string" minOccurs="0"/>
							<xs:element name="ScenariosName" type="xs:string" minOccurs="0"/>
							<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="Status" type="xs:string" minOccurs="0"/>
							<xs:element name="StatusComment" type="xs:string" minOccurs="0"/>
							<xs:element name="VoucherCategoryId" type="xs:string" minOccurs="0"/>
							<xs:element name="VoucherCategoryName" type="xs:string" minOccurs="0"/>
							<xs:element name="VoucherName" type="xs:string" minOccurs="0"/>
							<xs:element name="RechargeInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
										<xs:element name="HRN" type="xs:string" minOccurs="0"/>
										<xs:element name="RechargeDate" type="xs:string" minOccurs="0"/>
										<xs:element name="RechargeMode" type="xs:string" minOccurs="0"/>
										<xs:element name="Status" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="cdm:Response" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>