src/CommonProject/BusinessWSDLS/Services/WSDLS/GetSubscriberType/GetSubscriberTypeInbound.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/GetSubscriberType" xmlns:typ="http://www.zain.com/ZESB/Services/GetSubscriberType/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.zain.com/ZESB/Services/GetSubscriberType">
	<wsdl:types>
		<xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" targetNamespace="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified">
			<xs:element name="FaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:string"/>
						<xs:element name="code" type="xs:string"/>
						<xs:element name="description" type="xs:string"/>
						<xs:element name="sourceSystem" type="xs:string"/>
						<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
						<xs:element name="detail" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
            <xs:complexType name="ParamList">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="StringParam" type="com:StringParam"/>
                    <xs:element maxOccurs="unbounded" name="BooleanParam" type="com:BooleanParam"/>
                    <xs:element maxOccurs="unbounded" name="IntParam" type="com:IntParam"/>
                    <xs:element maxOccurs="unbounded" name="LongParam" type="com:LongParam"/>
                    <xs:element maxOccurs="unbounded" name="FloatParam" type="com:FloatParam"/>
                    <xs:element maxOccurs="unbounded" name="DecimalParam" type="com:DecimalParam"/>
                    <xs:element maxOccurs="unbounded" name="DoubleParam" type="com:DoubleParam"/>
                    <xs:element maxOccurs="unbounded" name="DateParam" type="com:DateParam"/>
                    <xs:element maxOccurs="unbounded" name="DateTimeParam" type="com:DateTimeParam"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DecimalParam">
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>			
		</xs:schema>
		<xs:schema xmlns:typ="http://www.zain.com/ZESB/Services/GetSubscriberType/Types" targetNamespace="http://www.zain.com/ZESB/Services/GetSubscriberType/Types" elementFormDefault="qualified">
			<xs:element name="QuerySubscriberInput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Msisdn" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QuerySubscriberOutput">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContractID" type="xs:string" minOccurs="1"/>
						<xs:element name="AccountStatus" type="xs:string" minOccurs="1"/>
						<xs:element name="Segment" type="xs:string" minOccurs="1"/>
						<xs:element name="Area" type="xs:string" minOccurs="1"/>
						<xs:element name="Status" type="xs:string" minOccurs="1"/>
						<xs:element name="BillingType" type="xs:string" minOccurs="1"/>
						<xs:element name="BasicServiceType" type="xs:string" minOccurs="1"/>
						<xs:element name="IsPaymentPossible" type="xs:boolean" minOccurs="1"/>
						<xs:element name="IsRechargePossible" type="xs:boolean" minOccurs="1"/>
						<xs:element minOccurs="0" name="Params" type="com:ParamList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="QuerySubscriberRequest">
		<wsdl:part name="request" element="typ:QuerySubscriberInput"/>
	</wsdl:message>
	<wsdl:message name="QuerySubscriberResponse">
		<wsdl:part name="response" element="typ:QuerySubscriberOutput"/>
	</wsdl:message>
	<wsdl:message name="faultMessage">
		<wsdl:part name="fault" element="com:FaultType"/>
	</wsdl:message>
	<wsdl:portType name="GetSubscriberTypePort">
		<wsdl:operation name="QuerySubscriber">
			<wsdl:input message="tns:QuerySubscriberRequest"/>
			<wsdl:output message="tns:QuerySubscriberResponse"/>
			<wsdl:fault name="fault" message="tns:faultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetSubscriberTypeBinding" type="tns:GetSubscriberTypePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="QuerySubscriber">
			<soap:operation soapAction="QuerySubscriber"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetSubscriberType">
		<wsdl:port name="GetSubscriberTypePort" binding="tns:GetSubscriberTypeBinding">
			<soap:address location="URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
