src/CommonProject/BusinessWSDLS/Services/BSCS/CustCatBasedDiscount/CustomerCatDiscountUpdateService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/customercatdiscountupdate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
      <xs:complexType name="money">
        <xs:sequence>
          <xs:element name="amount" type="xs:double"/>
          <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
      <xs:complexType name="svlany">
        <xs:sequence>
          <xs:element name="content" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange">
      <xs:complexType name="valuesListpartRequest">
        <xs:all>
          <xs:element name="key" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="value" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="valuesRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sessionChangeRequest">
        <xs:all>
          <xs:annotation>
            <xs:documentation>&lt;p>
						
						&lt;/p></xs:documentation>
          </xs:annotation>
          <xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
        </xs:all>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customercatdiscountupdate" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customercatdiscountupdate">
      <xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
      <xs:element name="customerCatDiscountUpdateRequest" type="wsi:customerCatDiscountUpdateRequest"/>
      <xs:element name="customerCatDiscountUpdateResponse" type="wsi:customerCatDiscountUpdateResponse"/>
      <xs:complexType name="customerCatDiscountUpdateResponse">
        <xs:all>
          <xs:element minOccurs="0" name="response" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p>response Message&lt;/p></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="inputAttributes">
        <xs:all>
          <xs:annotation>
            <xs:documentation>&lt;p>&lt;/p></xs:documentation>
          </xs:annotation>
          <xs:element name="csidpub" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p>Customer id Public key&lt;/p></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="oldprgcode" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p>Old Customer Category&lt;/p></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="newprgcode" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p>NEW Customer Category&lt;/p></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="username" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p>USERNAME&lt;/p></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="customerCatDiscountUpdateRequest">
        <xs:all>
          <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
          <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
        </xs:all>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="customerCatDiscountUpdateRequest">
    <wsdl:part element="sch3:customerCatDiscountUpdateRequest" name="customerCatDiscountUpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="customerCatDiscountUpdateResponse">
    <wsdl:part element="sch3:customerCatDiscountUpdateResponse" name="customerCatDiscountUpdateResponse"/>
  </wsdl:message>
  <wsdl:portType name="CustomerCatDiscountUpdateService">
    <wsdl:operation name="customerCatDiscountUpdate">
      <wsdl:input message="tns:customerCatDiscountUpdateRequest" name="customerCatDiscountUpdateRequest"/>
      <wsdl:output message="tns:customerCatDiscountUpdateResponse" name="customerCatDiscountUpdateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerCatDiscountUpdateServiceSoap11" type="tns:CustomerCatDiscountUpdateService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="customerCatDiscountUpdate">
      <soap:operation soapAction=""/>
      <wsdl:input name="customerCatDiscountUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="customerCatDiscountUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerCatDiscountUpdateService">
    <wsdl:port binding="tns:CustomerCatDiscountUpdateServiceSoap11" name="CustomerCatDiscountUpdateServiceSoap11">
      <soap:address location="http://10.103.23.91:30103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>