src/CommonProject/BusinessWSDLS/Services/BSCS/PrepaidConnectionTerminate/ContractWritezainService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/contractwrite" xmlns:sch5="http://ericsson.com/services/ws_CIL_5/contractwritezain" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/customerread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/customerread"><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:complexType name="partyRoleAssignmentsListpartResponse"><xs:all><xs:element minOccurs="0" name="partyRoleId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role private key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleShname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleName" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>party role public key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleDescription" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p></p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="partyRoleAssignmentsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:partyRoleAssignmentsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="listOfAssignmentsListpartResponse"><xs:all><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>id of family</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="completionStatus" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>completion status: -1=initial status, 0=completed, 1,2,3...=error code</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="validFrom" type="xs:date"><xs:annotation><xs:documentation>
													<![CDATA[<p>valid from date</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="listOfAssignmentsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfAssignmentsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="customerReadResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a nationality of the party by the public or private key. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="tbAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for threshold billing</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="createdByUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>user of creation</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold mode for threshold billing: "IM" immediate request or "OD" for on demand request.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tbPurpose" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold purpose for threshold billing: "SIM" for simulation bill run, "INF" for information bill run, "REG" for regular bill run.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioActionType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold action related to small invoices handling.</p><p><ul><li>'G': Invoice: Generate invoice anyway (default).</li><li>'F': Carry-over: Forward invoices with small amount (Baseline setup per customer group).</li><li>'S': Write-off: Suppress invoices with small amount. </li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sioThresholdAmt" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>Threshold amount for small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverLenght" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over length for  small invoices handling.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCarryOverPeriodType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Max carry over type period for  small invoices handling.</p><p><ul><li>'D': Days.</li><li>'M': Months.</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isIndividualOverdiscDisabled" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the generation of so-called posting items shall be disabled within traditional promotion actions</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of current family</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="listOfAssignments" type="wsi:listOfAssignmentsResponse"/><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Private BSCS customer ID.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public BSCS customer ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>customer code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>status of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatusDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>status date of the customer (dependend on the status CSDEACTIVATED, CSACTIVATED, SUSPENDE,REACTIVATED)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csActivationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>activation date of the customer (It is only set if the status is active.)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdHigh" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of parent level of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdHighPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLevelCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>level of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>payment responsibility</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="prgCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>pricegroup of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>rateplan for other credits and charges of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="tradeCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>trade code of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="areaCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>area code of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>costcenter of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="costCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the cost center</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPassword" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>password of the customer/dealer</p><p>The cloumn CUSTOMER_ALL.BTX_PASSWORD is mapped and the property is bTXPassword for the dealer.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rsCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>reason for the status change</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="wpCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>welcome procedure of the customer/dealer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>subscription reduction of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark1" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 1 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csRemark2" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>remark 2 about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillInformation" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>bill information run flag</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>home currency code for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="expectPayCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePayment" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for expected payment</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypePaymentPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>foreign currency code for expected refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="refundCurrencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefund" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>conversion rate type for refund</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csConvratetypeRefundPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the conversion rate type</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCrcheckAgreed" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>external credit check agreed</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>category code of the customer's current individual taxation</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="custcatCodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the customer category</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csJurisdictionCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Tax geo code. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIncorporatedInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates that a city area is incorporated to levy taxes. Usually provided by external address validation system.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycle" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>billing cycle of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csBillcycleDesc" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>billing cycle of the customer (description)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 1 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr1Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 2 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr2Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>open amount threshold 3 of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLimitTr3Pub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the threshold</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csClimit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit limit of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csContresp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>customer responsibility for contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLastBcDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>last billing cycle date of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeposit" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>deposit amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCreditscore" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit score</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit status</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditRemark" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>credit remark about the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date of Credit Scoring</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunning" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>specifies if dunning is enabled / disabled (ignored for PC14318)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDunningMode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>dunning mode</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrepayment" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>prepayment required</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCollector" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>cash collector of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>currency of credit, deposit, current balance, and previous balance of the customer.
							The CS_FC_ID is needed to show the HOME currency.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csFcIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscurbalance" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>current balance of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPrevbalance" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>previous balance of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csUnbilledAmount" type="money:money"><xs:annotation><xs:documentation>
							<![CDATA[<p>unbilled amount of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPaybehaviour" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>payment behaviour of the customer</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csNoBouncePay" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p>number of the bounced payments.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>dealer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealeridPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csInitPrepaidContrOwner" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Flag indicating that this customer has been created in order to be used as the initial owner of a batch of preactivated prepaid contracts.
							This kind of customer must have the party role preactive subscriber.
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCreationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Creation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDeactivationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Deactivation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csSuspensionDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Suspension date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csReactivationDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reactivation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lastModificationUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Last modification user</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentRespId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer id of the payment responsible.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csPaymntRespCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer code of the payment responsible.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="partyRoleAssignments" type="wsi:partyRoleAssignmentsResponse"/><xs:element minOccurs="0" name="partyType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>party type identifier. c: cusotmer, b: business partner, o: operator</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="collInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>true if customer is in collection process, otherwise false.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="markedForRerating" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates whether the customer is marked as a candidate for re-rating</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalCustomerSetId" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>external customer set id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="maxCsLevel" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>If the customer is a large account root, the max level of its large account should be returned</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="creditScore" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score grade.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="creditScoreProvider" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Credit score type: B for CrB Defined; C for CSP defined.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCscreditUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Username when credit scoring has been triggered externally.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="performCreditScoring" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Column CUSTOMER_ALL.CS_SUPPORTED for LA members will be set with given value for this attribute.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cslvlname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>CSLVLNAME. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationality" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Nationality of the party</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrNationalityPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the country</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmployee" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Remark if customer is an employee. To be used only if license of feature LHS_BSCS_PC12991 is switched on</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csTestbillrun" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>special entry, range [a-z][A-Z]</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="customerReadRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Customer identifier. If not explicitly passed then the customer ID is taken from the context</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Private BSCS customer ID.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public BSCS customer ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="syncWithDb" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>true if a database read is forced. In case the customer was already loaded in the server cache, the customer data is refreshed.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractwrite" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractwrite"><xs:complexType name="autoassignedservicesListpartResponse"><xs:all><xs:element minOccurs="0" name="spcode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Service package code (SimpleProduct) </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="spcodePub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the service package</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sncode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Service code (ProductElement) </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sncodePub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the service</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="autoassignedservicesResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:autoassignedservicesListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="contractWriteResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>This command returns a list with services that have been automatically assigned to the contract</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="autoassignedservices" type="wsi:autoassignedservicesResponse"/></xs:all></xs:complexType><xs:complexType name="coDevRetentionsListpartRequest"><xs:all><xs:element minOccurs="0" name="retention" type="xs:integer"><xs:annotation><xs:documentation>
													<![CDATA[<p> Retention mode of the device
													<ul><li>0 -> No retention</li><li>1 -> With hold</li><li>2 -> Return to same dealer</li><li>3 -> Return to different dealer</li></ul>
													</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cdId" type="xs:integer"><xs:annotation><xs:documentation>
													<![CDATA[<p>Identification of the SIM card (starts with 0).</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="coDevRetentionsRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:coDevRetentionsListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="contractWriteRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a MVNE/MVNO instance by the public or private key.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="accPackId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>The accounting package identifier. Filled only for a content provider contract.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="commonRefData" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>contract data is common reference data</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coTrialStartDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>Start date of the contract trial</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="homeBidGroupId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Home BIG group id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="foreignBidGroupId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Foreign BIG group id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coTrialEndDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>trial end date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealerId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Id of the dealer of the contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dealerIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="description" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>description</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coArchive" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Archive calls</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coOpDir" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>List in operator's directory</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coPstnDir" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>List in PSTN directory</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coStatus" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p>New status for the contract.<ul><li>activation = 2</li><li>suspension = 3</li><li>deactive   = 4</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reason" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reason for the new Status. The reason must fit to the new status, delivered in <code>REASONS.READ RS_STATUS</code> where the contract status maps to the following <code>RS_STATUS</code> values:
							<ul><li>1 -> o (onhold)</li><li>2 -> a (activation)</li><li>2 -> r (reactivation)</li><li>3 -> s (suspension)</li><li>4 -> d (deactivation)</li></ul>
							</p><p>This argument makes only sense if the argument <code>CO_STATUS</code> is given.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="reasonShdes" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Reason short description representing the public key of a reason.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="validFrom" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date when the new Status will be valid.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coDevRetention" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p> Retention mode of the device
							<ul><li>0 -> No retention</li><li>1 -> With hold</li><li>2 -> Return to same dealer</li><li>3 -> Return to different dealer</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coDevRetentions" type="wsi:coDevRetentionsRequest"/><xs:element minOccurs="0" name="coDnRetention" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p>Retention mode of the directory number.<ul><li>0 -> No retention</li><li>1 -> With hold</li><li>2 -> Return to same dealer</li><li>3 -> Return to different dealer</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coPortRetention" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p> Retention mode of the port<ul><li>0 -> No retention</li><li>1 -> With hold</li><li>2 -> Return to same dealer</li><li>3 -> Return to different dealer</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="anPackageId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Anonymization</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="anPackageIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the anonymization package</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="altRpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Alternate rateplan code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="altRpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coNonexplServPaymentType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicate the payment type for the non-explicit contracted services.</p><p>
							Possible values:<ul><li>'R' : Prepaid</li><li>'O' : Postpaid</li><li>'D' - not specified: as in rateplan definition</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="preratedTapRp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Use Pre-rated TAP Rateplan.</p><p>This parameter can only be set if the flag <code>NTWK_PRERATED_TAP_RP</code> in <code>NETWORKS.READ</code> is set to true.</p><p>Not applicable for Service Provider and Business Partner contract.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coSignedDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date when contract is signed</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="currencyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Currency of the following fields:
							<ul><li>
							<code>CONTRACT_ALL.CO_CRD_AMOUNT</code>
							</li><li>
							<code>CONTRACT_ALL.CO_CRD_AMOUNT_DAY</code>
							</li><li>
							<code>CO_IB_THRESHOLD</code>
							</li><li>
							<code>MPUFDTAB.UNBILLED_PERIODIC</code>
							</li><li>
							<code>MPUFDTAB.UNBILLED_DAY</code>
							</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="currencyIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the currency</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract id </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="callDetail" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates if individual calls should be displayed on call detail statement.  Domains:
							<ul><li>
							R - on request, i.e. within requests generated for customers
							</li><li>
							P - in addition periodically within billing cycle related call detail statement generation requests
							</li><li>
							NULL - no call detail statement is generated
							</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="userinstallationAdr" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates if user/installation address should be printed on call detail statement</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bmId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bill medium private key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bmIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bill medium public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="notificationMediumId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bill medium private key.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="notificationMediumIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bill medium public key.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="chargingPeriodAdjustmentReference" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Charging period adjustment period for services with charging schedule set to "Cut off date related". Domain: 'B' - Billing period reference date, 'A' - Contract activation date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coEquipmentStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>The status of the equipment.<ul><li>'Y' : Equipment sold</li><li>'V' : Equipment vended</li></ul></p><p>However no validation is provided as this column is not used by BSCS</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="earliestEndDate" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>Earliest contract end date.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="portingRequestId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifies the porting request. Used in case of export directory number and contract deactivation.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ivrBarringDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Date until the IVR will ignore calls incoming from this contract.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ivrLangId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifier of the language to be used in IVR for the current subscription. If not specified the default one will be used.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ivrLangIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the language</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="instanceId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Identifier of the instance</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="instanceIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the instance.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="requestIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Request public key that is unique among all MVNE/MVNO instances.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"><xs:annotation><xs:documentation>
							<![CDATA[<p>Effective date of the MVNO request.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sdpId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>SDP Id, only for Charging sytem integration. Can be changed only for onhold contracts.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:contractwrite="http://ericsson.com/services/ws_CIL_5/contractwrite" xmlns:customerread="http://ericsson.com/services/ws_CIL_5/customerread" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractwritezain" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractwritezain"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:import namespace="http://ericsson.com/services/ws_CIL_5/customerread"/><xs:import namespace="http://ericsson.com/services/ws_CIL_5/contractwrite"/><xs:element name="contractWritezainRequest" type="wsi:contractWritezainRequest"/><xs:element name="contractWritezainResponse" type="wsi:contractWritezainResponse"/><xs:complexType name="contractWritezainResponse"><xs:all><xs:element minOccurs="0" name="contractWrite" type="contractwrite:contractWriteResponse"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:element minOccurs="0" name="customerRead" type="customerread:customerReadRequest"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="contractWrite" type="contractwrite:contractWriteRequest"><xs:annotation><xs:documentation>
						
				</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="contractWritezainRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="contractWritezainResponse">
    <wsdl:part element="sch5:contractWritezainResponse" name="contractWritezainResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="contractWritezainRequest">
    <wsdl:part element="sch5:contractWritezainRequest" name="contractWritezainRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContractWritezainService">
    <wsdl:operation name="contractWritezain">
      <wsdl:input message="tns:contractWritezainRequest" name="contractWritezainRequest">
    </wsdl:input>
      <wsdl:output message="tns:contractWritezainResponse" name="contractWritezainResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractWritezainServiceSoap11" type="tns:ContractWritezainService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="contractWritezain">
      <soap:operation soapAction="contractWritezain"/>
      <wsdl:input name="contractWritezainRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="contractWritezainResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractWritezainService">
    <wsdl:port binding="tns:ContractWritezainServiceSoap11" name="ContractWritezainServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services/ws_CIL_5_ContractWritezainService.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>