src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/QueryPurchasablePlans/QueryPurchasablePlans.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="plans-list" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="plan-group-options" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="plan-id" type="xs:string" minOccurs="0"/>
										<xs:element name="plan-label" type="xs:string" minOccurs="0"/>
										<xs:element name="plan-currency" type="xs:string" minOccurs="0"/>
										<xs:element name="plan-value" type="xs:string" minOccurs="0"/>
										<xs:element name="plan-description" type="xs:string" minOccurs="0"/>
										<xs:element name="plan-billing-cycle" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>