src/CommonProject/BusinessWSDLS/Services/WSDLS/IncidentManagement_Custom/IncidentManagement_Custom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/IncidentManagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typ="http://www.zain.com/ZESB/Services/IncidentManagement/Types" targetNamespace="http://www.zain.com/ZESB/Services/IncidentManagement">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xsd:element name="FaultType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="type" type="xsd:string"/>
                        <xsd:element name="code" type="xsd:string"/>
                        <xsd:element name="description" type="xsd:string"/>
                        <xsd:element name="sourceSystem" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="extErrorCode" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="detail" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ParamList">
                <xsd:choice maxOccurs="unbounded" minOccurs="0">
                    <xsd:element maxOccurs="unbounded" name="StringParam" type="com:StringParam"/>
                    <xsd:element maxOccurs="unbounded" name="BooleanParam" type="com:BooleanParam"/>
                    <xsd:element maxOccurs="unbounded" name="IntParam" type="com:IntParam"/>
                    <xsd:element maxOccurs="unbounded" name="LongParam" type="com:LongParam"/>
                    <xsd:element maxOccurs="unbounded" name="FloatParam" type="com:FloatParam"/>
                    <xsd:element maxOccurs="unbounded" name="DecimalParam" type="com:DecimalParam"/>
                    <xsd:element maxOccurs="unbounded" name="DoubleParam" type="com:DoubleParam"/>
                    <xsd:element maxOccurs="unbounded" name="DateParam" type="com:DateParam"/>
                    <xsd:element maxOccurs="unbounded" name="DateTimeParam" type="com:DateTimeParam"/>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="StringParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DecimalParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:decimal">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BooleanParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:boolean">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="IntParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:int">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="LongParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:long">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="FloatParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:float">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DoubleParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:double">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DateParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:date">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DateTimeParam">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:dateTime">
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/IncidentManagement/Types">
            <xsd:simpleType name="ImpactType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Extensive"/>
                    <xsd:enumeration value="Significant"/>
                    <xsd:enumeration value="Moderate"/>
                    <xsd:enumeration value="Minor"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UrgencyType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Critical"/>
                    <xsd:enumeration value="High"/>
                    <xsd:enumeration value="Medium"/>
                    <xsd:enumeration value="Low"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PriorityType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Critical"/>
                    <xsd:enumeration value="High"/>
                    <xsd:enumeration value="Medium"/>
                    <xsd:enumeration value="Low"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ServiceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UserIncident"/>
                    <xsd:enumeration value="UserRequest"/>
                    <xsd:enumeration value="SystemIncident"/>
                    <xsd:enumeration value="SystemEvent"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="StatusType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="New"/>
                    <xsd:enumeration value="Assigned"/>
                    <xsd:enumeration value="In Progress"/>
                    <xsd:enumeration value="Pending"/>
                    <xsd:enumeration value="Resolved"/>
                    <xsd:enumeration value="Closed"/>
                    <xsd:enumeration value="Cancelled"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="StatusDateType">
                <xsd:sequence>
                    <xsd:element name="Created" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="Resolved" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="Closed" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="Cancelled" type="xsd:dateTime" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategorizationItem">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="Tier" type="xsd:int" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="CategorizationType">
                <xsd:sequence>
                    <xsd:element name="Category" type="typ:CategorizationItem" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContactType">
                <xsd:sequence>
                    <xsd:element name="First" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MiddleInitial" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Last" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LoginID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Company" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CorporateID" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AssignedToType">
                <xsd:complexContent>
                    <xsd:extension base="typ:ContactType">
                        <xsd:sequence>
                            <xsd:element name="Organization" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="Group" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="ShiftName" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="AttachmentType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Data" type="xsd:base64Binary"/>
                    <xsd:element name="Size" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AttachmentList">
                <xsd:sequence>
                    <xsd:element name="Attachment" type="typ:AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BaseWorkLogType">
                <xsd:sequence>
                    <xsd:element name="Type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Summary" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Private" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="Locked" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="Attachments" type="typ:AttachmentList" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WorkLogType">
                <xsd:complexContent>
                    <xsd:extension base="typ:BaseWorkLogType">
                        <xsd:sequence>
                            <xsd:element name="InstanceID" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="SubmitDate" type="xsd:dateTime" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ProductInfoType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Manufacturer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Categorization" type="typ:CategorizationType" minOccurs="0"/>
                    <xsd:element name="ModelVersion" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WorkLogList">
                <xsd:sequence>
                    <xsd:element name="WorkItem" type="typ:WorkLogType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BaseIncidentType">
                <xsd:sequence>
                    <xsd:element name="Customer" type="typ:ContactType" minOccurs="0"/>
                    <xsd:element name="AssignedTo" type="typ:AssignedToType"/>
                    <xsd:element name="Categorization" type="typ:CategorizationType" minOccurs="0"/>
                    <xsd:element name="Status" type="typ:StatusType"/>
                    <xsd:element name="Summary" type="xsd:string"/>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Impact" type="typ:ImpactType" minOccurs="0"/>
                    <xsd:element name="Urgency" type="typ:UrgencyType" minOccurs="0"/>
                    <xsd:element name="ServiceType" type="typ:ServiceType" minOccurs="0"/>
                    <xsd:element name="ReportedSource" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DirectContact" type="typ:ContactType"/>
                    <xsd:element name="ProductInfo" type="typ:ProductInfoType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IncidentType">
                <xsd:complexContent>
                    <xsd:extension base="typ:BaseIncidentType">
                        <xsd:sequence>
                            <xsd:element name="IncidentID" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="StatusReason" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="VIP" type="xsd:boolean" minOccurs="0"/>
                            <xsd:element name="Priority" type="typ:PriorityType" minOccurs="0"/>
                            <xsd:element name="PriorityWeight" type="xsd:int" minOccurs="0"/>
                            <xsd:element name="TargetDate" type="xsd:dateTime" minOccurs="0"/>
                            <xsd:element name="Resolution" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="ResolutionCategorization" type="typ:CategorizationType" minOccurs="0"/>
                            <xsd:element name="StatusDates" type="typ:StatusDateType" minOccurs="0"/>
                            <xsd:element name="LastUpdatedBy" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="ClosureProductInfo" type="typ:ProductInfoType" minOccurs="0"/>
                            <xsd:element name="Params" type="com:ParamList" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="IncidentListType">
                <xsd:sequence>
                    <xsd:element name="Incident" type="typ:IncidentType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="QueryIncidentsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Filter" type="xsd:string"/>
                        <xsd:element name="StartRecord" type="xsd:string"/>
                        <xsd:element name="PageSize" type="xsd:string"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryIncidentsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Incidents" type="typ:IncidentListType"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryWorkLogRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IncidentID" type="xsd:string"/>
                        <xsd:element name="IncludeAttachments" type="xsd:boolean"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="QueryWorkLogResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="WorkLog" type="typ:WorkLogList" minOccurs="0"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateIncidentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Incident" type="typ:BaseIncidentType"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateIncidentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IncidentID" type="xsd:string"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateIncidentRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Incident" type="typ:IncidentType"/>
                        <xsd:element name="WorkLog" type="typ:BaseWorkLogType" minOccurs="0"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateIncidentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="TransactionID" type="xsd:string"/>
                        <xsd:element name="StartTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="QueryIncidentsRequest">
        <part name="QueryIncidentsRequest" element="typ:QueryIncidentsRequest"/>
    </message>
    <message name="QueryIncidentsResponse">
        <part name="QueryIncidentsResponse" element="typ:QueryIncidentsResponse"/>
    </message>
    <message name="QueryWorkLogRequest">
        <part name="QueryWorkLogRequest" element="typ:QueryWorkLogRequest"/>
    </message>
    <message name="QueryWorkLogResponse">
        <part name="QueryWorkLogResponse" element="typ:QueryWorkLogResponse"/>
    </message>
    <message name="CreateIncidentRequest">
        <part name="CreateIncidentRequest" element="typ:CreateIncidentRequest"/>
    </message>
    <message name="CreateIncidentResponse">
        <part name="CreateIncidentResponse" element="typ:CreateIncidentResponse"/>
    </message>
    <message name="UpdateIncidentRequest">
        <part name="UpdateIncidentRequest" element="typ:UpdateIncidentRequest"/>
    </message>
    <message name="UpdateIncidentResponse">
        <part name="UpdateIncidentResponse" element="typ:UpdateIncidentResponse"/>
    </message>
    <message name="faultMessage">
        <part name="fault" element="com:FaultType"/>
    </message>
    <portType name="IncidentManagementPort">
        <operation name="QueryIncidents">
            <input message="tns:QueryIncidentsRequest"/>
            <output message="tns:QueryIncidentsResponse"/>
            <fault name="fault" message="tns:faultMessage"/>
        </operation>
        <operation name="QueryWorkLog">
            <input message="tns:QueryWorkLogRequest"/>
            <output message="tns:QueryWorkLogResponse"/>
            <fault name="fault" message="tns:faultMessage"/>
        </operation>
        <operation name="CreateIncident">
            <input message="tns:CreateIncidentRequest"/>
            <output message="tns:CreateIncidentResponse"/>
            <fault name="fault" message="tns:faultMessage"/>
        </operation>
        <operation name="UpdateIncident">
            <input message="tns:UpdateIncidentRequest"/>
            <output message="tns:UpdateIncidentResponse"/>
            <fault name="fault" message="tns:faultMessage"/>
        </operation>
    </portType>
    <binding name="IncidentManagementBinding" type="tns:IncidentManagementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="QueryIncidents">
            <soap:operation soapAction="QueryIncidents" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="QueryWorkLog">
            <soap:operation soapAction="QueryWorkLog" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="CreateIncident">
            <soap:operation soapAction="CreateIncident" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
        <operation name="UpdateIncident">
            <soap:operation soapAction="UpdateIncident" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="IncidentManagementService">
        <port name="IncidentManagementPort" binding="tns:IncidentManagementBinding">
            <soap:address location="some_endpoint"/>
        </port>
    </service>
</definitions>