src/ESI_CRM/BusinessProcesses/Services/Query/GetCustomerAsset/HelperProcess/AssetQueryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ROW_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CUST_STAT_CD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_ACC_SEQUENCE_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_BSCS_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_FNAME_ARA" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_LNAME_ARA" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SNAME_ARA" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_TNAME_ARA" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_TITLE_ARA" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_BIRTH_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_BLOOD_GRP" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CATEGORY" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_FNAME_ENG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_LNAME_ENG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="BANK_CODE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SNAME_ENG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_TNAME_ENG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_EXPIRY_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_GENDER" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_NUMBER" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_ID_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="LANG_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_MARITAL_STAT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_NATIONALITY" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="NAME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_RESIDENCY_TYP" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_TITLE_ENG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="A_X_CBIO2_BSCS_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_BEHAVIORS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_NOCAMP" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_BDOCC" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CC_DUNNING_STATUS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CALL_DETAILS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CONNECTION_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CONTR_END_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CONTR_PERIOD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CON_START_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CREATED_BY" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_CREATED_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_DNID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_DEF_CRD_LIMIT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_DOC_SUB" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_FST_CALL_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_IVR_LANG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_LINE_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_MSISDN_CATEGORY" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_MARKET" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_MASTER_DS_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_NO_DATA_GFT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_NORETENT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_NOTF_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OLD_CONTR" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OPTED_CRD_LIMIT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PORTIN_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PORTOUT_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_CHAN" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_END_TIME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_LANG_CODE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_LANG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_START_TIME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PREF_COMM_TIME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PROSUMER_BASE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_RFRD_BY" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_REG_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_RISK_LVL" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SIM_CATEGORY" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SIM_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SIM_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SALES_AGENT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SALES_CALL_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SOURCE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SPEND_LIMIT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="STATUS_CHG_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUB_MARKET" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBS_LOCATION" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_EMAIL" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_FAX_PH" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBSCRIBER_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_HOME_PH" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBS_LIFE_STATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_NOTI_PH" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBSCRIBER_STATUS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUBC_WORK_PH" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_UTOWN" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_UPFRONT_PYMT_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_VBM_CLASS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_VBM_VAL" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_VPN_CUG_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_VPN_PREF" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_VPN_SHORT_CODE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_NOZCAMP" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_STAFF_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_STAFF_NO" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="SERIAL_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="START_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PURCH_ADJ_UNIT_PRI" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="DESC_TEXT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="A_ROW_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ASSET_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_AUTO_RENEWAL_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_AUTO_RENEWAL_FLAG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_INSTALLMENT_AMOUNT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_COMMITMENT_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_COMMITMENT_PERIOD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="A_NAME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_COMMITEMNT_PLAN_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_ICCID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_IMSI" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_INSTALLMENT_END_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_INSTALLMENT_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_INSTALLMENT_PERIOD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_INSTALLMENT_START_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_INVENTORY_SERIAL_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_KI" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_ADV_RC_BILL_CYCLE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OLD_DEVICE_SERIAL_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OLD_IMSI" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PIN1" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PIN2" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PUK1" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PUK2" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_RES_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="END_DT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="INTEGRATION_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="OWNER_ACCNT_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PAR_ASSET_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PROD_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="QTY" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="ROOT_ASSET_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="STATUS_CD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PROD_GLOBAL_UID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_FLEX_FLD1" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SUB_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_RENEWABLE_FLAG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_GIFT_UOM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_GIFT_VOL" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="SERIALIZED_FLG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OFFER_SUB_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OFFER_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PROD_ARABIC_NAME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PRODUCT_CATEGORY_TAB" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_PROD_SUB_CAT_TAB" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PRICE_TYPE_CD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="P_NAME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PART_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PROD_CD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="UOM_CD" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="BILL_PROFILE_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="COM_X_CBIO2_BSCS_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="COM_NAME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO_START_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO_END_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SEGMENT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PURCH_LST_UNIT_PRI" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_TENURE_DAYS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_TENURE_MONTH" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_TENURE_YEAR" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="STD_PRI_UNIT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_DUNNING_STATUS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_FRAUD_STATUS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_EQUIP_CLASS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_DATA_SHARING_FLAG" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_SIM_LOST" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_HIDE_BALANCE_FLG" type="xs:string" nillable="true"  minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResultSet2" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record2" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CBIO2_GIFT_RCVD_DATE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_GIFT_REMARKS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_GIFT_SERVICE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_RCVR_ACC_ID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_RCVR_CONTRACT_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_RCVR_MSISDN" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_RCVR_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_STATUS" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="CBIO2_RCVR_SUBS_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_GIFT_UOM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_GIFT_VOL" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OFFER_SUB_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="X_CBIO2_OFFER_TYPE" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PROD_GLOBAL_UID" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="NAME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PART_NUM" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="PROD_CD" type="xs:string" nillable="true" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>