src/CommonProject/BusinessWSDLS/Services/BSCS/VbankMsisdnSearch/VbankMsisdnCreateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/vbankmsisdncreate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/vbankmsisdncreate" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/vbankmsisdncreate">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:element name="vbankMsisdnCreateRequest" type="wsi:vbankMsisdnCreateRequest"/>
			<xs:element name="vbankMsisdnCreateResponse" type="wsi:vbankMsisdnCreateResponse"/>
			<xs:complexType name="vbankMsisdnCreateResponse">
				<xs:all>
					<xs:element minOccurs="0" name="dnId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>DIRECTORY NUMBER ID</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="dnNum" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>DIRECTORY NUMBER</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="msisdn" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>DIRECTORY NUMBER</p>]]></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="vbankMsisdnCreateRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="vbankMsisdnCreateResponse">
		<wsdl:part element="sch3:vbankMsisdnCreateResponse" name="vbankMsisdnCreateResponse"/>
	</wsdl:message>
	<wsdl:message name="vbankMsisdnCreateRequest">
		<wsdl:part element="sch3:vbankMsisdnCreateRequest" name="vbankMsisdnCreateRequest"/>
	</wsdl:message>
	<wsdl:portType name="VbankMsisdnCreateService">
		<wsdl:operation name="vbankMsisdnCreate">
			<wsdl:input message="tns:vbankMsisdnCreateRequest" name="vbankMsisdnCreateRequest"/>
			<wsdl:output message="tns:vbankMsisdnCreateResponse" name="vbankMsisdnCreateResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VbankMsisdnCreateServiceSoap11" type="tns:VbankMsisdnCreateService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="vbankMsisdnCreate">
			<soap:operation soapAction=""/>
			<wsdl:input name="vbankMsisdnCreateRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="vbankMsisdnCreateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VbankMsisdnCreateService">
		<wsdl:port binding="tns:VbankMsisdnCreateServiceSoap11" name="VbankMsisdnCreateServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>