src/GW_AppleiWatchSESSwap/Services/SESEntServer/PACIGW/PACIServiceHandler/intfGetPACIAuthenticationImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:pfx2="http://www.zain.com/ZESB/Services/QueryPACIAPIRequest.xsd" xmlns:pfx3="http://www.zain.com/ZESB/Services/QueryPACIAPIResponse.xsd" xmlns:tns="http://www.zain.com/1699443629922" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pfx0="http://www.zain.com/ZESB/Services/GetPACIAuthenticationRequest.xsd" xmlns:pfx1="http://www.zain.com/ZESB/Services/GetPACIAuthenticationResponse.xsd" targetNamespace="http://www.zain.com/1699443629922">
    <import namespace="http://www.zain.com/ZESB/Services/QueryPACIAPIResponse.xsd" location="../../../../BusinessSchemas/Services/Query/QueryPACIAPI/QueryPACIAPIResponse.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetPACIAuthenticationRequest.xsd" location="../../../../BusinessSchemas/Services/Query/GetPACIAuthentication/GetPACIAuthenticationRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/QueryPACIAPIRequest.xsd" location="../../../../BusinessSchemas/Services/Query/QueryPACIAPI/QueryPACIAPIRequest.xsd"/>
    <import namespace="http://www.zain.com/ZESB/Services/GetPACIAuthenticationResponse.xsd" location="../../../../BusinessSchemas/Services/Query/GetPACIAuthentication/GetPACIAuthenticationResponse.xsd"/>
    <message name="GetPACIAuthenticationRequest">
        <part element="pfx0:GetPACIAuthenticationRequest" name="parameters"/>
    </message>
    <message name="GetPACIAuthenticationResponse">
        <part element="pfx1:GetPACIAuthenticationResponse" name="parameters"/>
    </message>
    <message name="QueryPACIAPIRequest">
        <part element="pfx2:QueryPACIAPIRequest" name="parameters"/>
    </message>
    <message name="QueryPACIAPIResponse">
        <part element="pfx3:QueryPACIAPIResponse" name="parameters"/>
    </message>
    <portType name="portType">
        <operation name="GetPACIAuthenticationImplOp">
            <input message="tns:GetPACIAuthenticationRequest"/>
            <output message="tns:GetPACIAuthenticationResponse"/>
        </operation>
        <operation name="QueryPACIStatusImplOp">
            <input message="tns:QueryPACIAPIRequest"/>
            <output message="tns:QueryPACIAPIResponse"/>
        </operation>
    </portType>
</definitions>