src/CommonProject/BusinessSchemas/Services/Common/DepositMgmt/DepositMgmt.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Update/DepositMgmt/Schema.xsd"
	 xmlns:fin="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Update/DepositMgmt/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Finance" schemaLocation="../../../../../CDM/ZainKWFinance.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="DepositQueryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header"/>
				<xs:element ref="bs:customerId" minOccurs="0"/>
				<xs:element ref="msisdn" minOccurs="0"/>
				<xs:element ref="baId" minOccurs="0"/>
				<xs:element name="contractId" type="xs:string" minOccurs="0"/>
				<xs:element name="ChildFlag" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositQueryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fin:ZainDeposit" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositRefundRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header"/>
				<xs:element ref="msisdn" minOccurs="0"/>
				<xs:element ref="baId" minOccurs="0"/>
				<xs:element ref="fin:ZainDeposit" maxOccurs="unbounded"/>
				<xs:element ref="fin:SourceDetails" minOccurs="0"/>
				<xs:element name="References" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="items" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string"/>
										<xs:element name="value" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepostRefundResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Response" minOccurs="0"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="msisdn" type="xs:string"/>
	<xs:element name="baId" type="xs:string"/>
</xs:schema>