src/CommonProject/BusinessSchemas/Services/Common/DepositMgmt/DepostiCRMSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Update/CRMDepositMgmt/Schema.xsd"
	 xmlns:fin="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.tibco.com/schemas/GW_FinMgmt/BusinessProcesses/Services/CRM/Update/CRMDepositMgmt/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Finance" schemaLocation="../../../../CDM/ZainKWFinance.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="../../../../CDM/ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="DepositQueryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header" minOccurs="0"/>
				<xs:element name="customerId" type="xs:string" minOccurs="0"/>
				<xs:element ref="msisdn" minOccurs="0"/>
				<xs:element ref="baId" minOccurs="0"/>
				<xs:element ref="ContractId" minOccurs="0"/>
				<xs:element name="ChildFlag" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositQueryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="customerId"/>
				<xs:element ref="ContractId" minOccurs="0"/>
				<xs:element ref="BillingAccountId" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="ServiceID" type="xs:string" minOccurs="0"/>
				<xs:element ref="ServiceDes" minOccurs="0"/>
				<xs:element ref="DepositDate" minOccurs="0"/>
				<xs:element ref="DepositRequestId" minOccurs="0"/>
				<xs:element ref="DepositId" minOccurs="0"/>
				<xs:element ref="Amount"/>
				<xs:element ref="RefundFlag" minOccurs="0"/>
				<xs:element ref="Status" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositRefundRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Header" minOccurs="0"/>
				<xs:element ref="customerId" minOccurs="0"/>
				<xs:element ref="msisdn" minOccurs="0"/>
				<xs:element ref="baId" minOccurs="0"/>
				<xs:element ref="ContractId"/>
				<xs:element name="Deposit" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DepositId"/>
							<xs:element ref="Amount"/>
							<xs:element name="ChequeNo" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="transactionRefnum" type="xs:string" minOccurs="0"/>
				<xs:element name="paymentMethodType" type="xs:string"/>
				<xs:element ref="payDesk" minOccurs="0"/>
				<xs:element ref="workArea" minOccurs="0"/>
				<xs:element ref="user" minOccurs="0"/>
				<xs:element ref="modPay" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepostRefundResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="transactionId" type="xs:string" minOccurs="0"/>
				<xs:element name="trasactionRefnum" type="xs:string" minOccurs="0"/>
				<xs:element name="transactionDocumentNo" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customerId" type="xs:string"/>
	<xs:element name="ContractId" type="xs:string"/>
	<xs:element name="BillingAccountId" type="xs:string"/>
	<xs:element name="ServiceDes" type="xs:string"/>
	<xs:element name="DepositDate" type="xs:string"/>
	<xs:element name="DepositRequestId" type="xs:string"/>
	<xs:element name="DepositId" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="RefundFlag" type="xs:string"/>
	<xs:element name="DepositQueryRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositQueryResponse" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepositRefundRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepostRefundResponse" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="msisdn" type="xs:string"/>
	<xs:element name="baId" type="xs:string"/>
	<xs:element name="payDesk" type="xs:string"/>
	<xs:element name="workArea" type="xs:string"/>
	<xs:element name="user" type="xs:string"/>
	<xs:element name="modPay" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
</xs:schema>