src/ESI_PGW/BusinessProcesses/Services/New_KNET_CreateOrder/KNETPaymentsSB/KNETPaymentsSB.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
				<xs:element name="OrderID" type="xs:string" minOccurs="0"/>
				<xs:element name="returnURL" type="xs:string" minOccurs="0"/>
				<xs:element name="ErrorURL" type="xs:string" minOccurs="0"/>
				<xs:element name="OrderDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="lang" type="xs:string" minOccurs="0"/>
				<xs:element name="CardNo" type="xs:string" minOccurs="0"/>
				<xs:element name="CardExp" type="xs:string" minOccurs="0"/>
				<xs:element name="actionClassName" type="xs:string" minOccurs="0"/>
				<xs:element name="Channel" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateOrderOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PaymentID" type="xs:string" minOccurs="0"/>
				<xs:element name="PaymentPage" type="xs:string" minOccurs="0"/>
				<xs:element name="TerminalID" type="xs:string" minOccurs="0"/>
				<xs:element name="MerchantID" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>