src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/XSD/TremblantEligibilityCheck/TremblantEligibilityCheckReq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zainKW.com/SESEntServer/TremblantEligibilityCheckReq"
	 targetNamespace="http://www.zainKW.com/SESEntServer/TremblantEligibilityCheckReq"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="TremblantEligibilityCheckReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
				<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
				<xs:element name="ServiceType" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>