src/CommonProject/BusinessSchemas/Services/Modification/NPRoaming/NPRoaming.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/schemas/Adapter/NPRoaming.xsd"
	 targetNamespace="http://www.ericsson.com/schemas/Adapter/NPRoaming.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="NPRoamingReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserName" type="xs:string" minOccurs="0"/>
				<xs:element name="Password" type="xs:string" minOccurs="0"/>
				<xs:element name="CSOfferID" type="xs:string" minOccurs="0"/>
				<xs:element name="Action" type="xs:string" minOccurs="0"/>
				<xs:element name="MSISDN" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>