src/CommonProject/BusinessSchemas/Services/Applications/ExternalChannel/LockeSIM/LockeSIMRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/LockeSIMRes"
	 targetNamespace="http://www.zain.com/ZESB/Services/LockeSIMRes"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>CR-20-063:Auto Allocate eSIM Number</xs:documentation>
	</xs:annotation>
	<xs:element name="LockeSIMRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResDesc" type="xs:string" minOccurs="0"/>
				<xs:element name="SimId" type="xs:string" minOccurs="0"/>
				<xs:element name="Pin1" type="xs:string" minOccurs="0"/>
				<xs:element name="Puk1" type="xs:string" minOccurs="0"/>
				<xs:element name="Pin2" type="xs:string" minOccurs="0"/>
				<xs:element name="Puk2" type="xs:string" minOccurs="0"/>
				<xs:element name="SimType" type="xs:string" minOccurs="0"/>
				<xs:element name="SimSerialNum" type="xs:string" minOccurs="0"/>
				<xs:element name="KI" type="xs:string" minOccurs="0"/>
				<xs:element name="IMSI" type="xs:string" minOccurs="0"/>
				<xs:element name="TransportKey" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="HlCodePub" type="xs:string" minOccurs="0"/>
				<xs:element name="VendCode" type="xs:string" minOccurs="0"/>
				<xs:element name="NameValues" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="NameValue" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NameValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string" minOccurs="0"/>
				<xs:element name="Value" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>