src/CommonProject/BusinessSchemas/Services/Applications/ERP/Order/ListOfCbio2SalesTranResponseIo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siebel.com/xml/CBiO2%20Sales%20Tran%20Response%20IO" xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Sales%20Tran%20Response%20IO" attributeFormDefault="unqualified" elementFormDefault="qualified" 
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element name="ListOfCbio2SalesTranResponseIo" type="xsdLocal:ListOfCbio2SalesTranResponseIo"
/><xsd:complexType name="ListOfCbio2SalesTranResponseIoTopElmt"
><xsd:sequence
><xsd:element name="ListOfCbio2SalesTranResponseIo" type="xsdLocal:ListOfCbio2SalesTranResponseIo" minOccurs="1" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="ListOfCbio2SalesTranResponseIo"
><xsd:sequence
><xsd:element name="OrderEntry-Orders" type="xsdLocal:OrderEntry-Orders" minOccurs="0" maxOccurs="unbounded"
/></xsd:sequence
></xsd:complexType
><xsd:complexType name="OrderEntry-Orders"
><xsd:sequence
><xsd:element name="OrderNumber" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="Revision" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="Status" type="xsd:string" minOccurs="1" maxOccurs="1"
/><xsd:element name="ErrorSourceErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorType" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorSourceSystem" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorOccuranceTime" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrCode" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorUserErrDesc" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc1" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="ErrorAdditionalDesc2" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2FraudFlag" type="xsd:string" minOccurs="0" maxOccurs="1"
/><xsd:element name="CBiO2SyncinERP" type="xsd:string" minOccurs="0" maxOccurs="1"
/></xsd:sequence
></xsd:complexType
></xsd:schema
>