src/GW_AppleiWatchSESSwap/Resources/WSDL/EntitleServer/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.huawei.com/CDM/ES/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ES" targetNamespace="http://www.huawei.com/CDM/ES/">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.huawei.com/CDM/ES/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/CDM/ES/">
            <xsd:simpleType name="Length0_128">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="128"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="imsiType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{1,15}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="msisdnType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="impiType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[(a-zA-Z0-9)-@_+.:=/]{0,128}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="impuType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[(a-zA-Z0-9)-@_+.:=/]{0,128}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="eidType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z0-9]{0,40}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="iccidType">
                <xsd:restriction base="xsd:string">                
					<!-- Commented it out due to TS43 	<xsd:pattern value = "[a-zA-Z0-9]{1,40}"/> -->
				</xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="resultCodeType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-1]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="operation4MultiSIMgrType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-1]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="status4QueryMultiSIMType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-1]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="status4NotifyServiceStatusType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-1]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="status4queryUserDataType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-4]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="statusType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-2]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="trade4eSIMCardMgrType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-1]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="trade4NotifyUserDataType">
                <xsd:restriction base="xsd:integer">
                    <xsd:pattern value="[0-6]"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="serviceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="VoWiFi"/>
                    <xsd:enumeration value="Multi-SIM"/>
                    <xsd:enumeration value="iCloudVoWiFi"/>
                    <xsd:enumeration value="odsa-companion-sharednum"/>
                </xsd:restriction>
            </xsd:simpleType>
			<!-- ?? -->
            <xsd:element name="heartBeatRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="BEAT" type="tns:Length0_128"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="heartBeatResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RESULT_CODE" type="tns:resultCodeType"/>
                        <xsd:element name="RESULT_DESC" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<!-- ?????? -->
            <xsd:element name="queryServiceStatusRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SERVICE" type="tns:serviceType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="MSISDN" type="tns:msisdnType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryServiceStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="STATUS" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<!-- ?????? -->
            <xsd:element name="queryUserDataRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="SERVICE" type="tns:serviceType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="MSISDN" type="tns:msisdnType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="ICCID" type="tns:iccidType">                    </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryUserDataResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="tns:resultCodeType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="tns:Length0_128"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="MAIN_USER">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPI" type="tns:impiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPU" type="tns:impuType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="ATTACH_USERS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="EID" type="tns:eidType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="STATUS" type="tns:status4queryUserDataType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="TEMINAL_TYPE" type="tns:Length0_128"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPU" type="tns:impuType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPI" type="tns:impiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="NICKNAME" type="tns:Length0_128"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateServiceRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="MSISDN" type="tns:msisdnType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="SERVICE" type="tns:serviceType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="STATUS" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="tns:resultCodeType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="tns:Length0_128"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<!-- ??????? -->
            <xsd:element name="iCloudUserMgrRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="TRADE_TYPE" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MAIN_USER">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPI" type="tns:impiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPU" type="tns:impuType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="ATTACH_USERS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="T-IMPU" type="tns:impuType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="SIP-NAME" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="SIP-PASSWORD" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="HARDWARE-UNIQUE-ID" type="xsd:string"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="AAA-USERNAME" type="tns:Length0_128"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="AAA-PASSWORD" type="tns:Length0_128"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="SN" type="tns:Length0_128"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPI" type="tns:impiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPU" type="tns:impuType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="iCloudUserMgrResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="tns:Length0_128"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
			<!-- ???????? -->
            <xsd:element name="notifyServiceStatusRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="MSISDN" type="tns:msisdnType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="SERVICE" type="tns:serviceType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="STATUS" type="tns:status4NotifyServiceStatusType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="notifyServiceStatusResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="tns:Length0_128"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="notifyUserDataRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SERVICE" type="tns:serviceType"/>
                        <xsd:element name="TRADE_TYPE" type="tns:trade4NotifyUserDataType"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MAIN_USER">
                            <xsd:element name="MSISDN" type="tns:msisdnType"/>
                            <xsd:element name="IMSI" type="tns:imsiType"/>
                            <xsd:element name="ICCID" type="tns:iccidType"/>
                            <xsd:element name="IMPI" type="tns:impiType"/>
                            <xsd:element name="IMPU" type="tns:impuType"/>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">                        </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">                        </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="ICCID" type="tns:iccidType">                        </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPI" type="tns:impiType">                        </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPU" type="tns:impuType">                        </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="ATTACH_USERS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="STATUS" type="xsd:int"/>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="EID" type="tns:eidType"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="TEMINAL_TYPE" type="tns:Length0_128"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPI" type="tns:Length0_128"/>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMPU" type="tns:Length0_128"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="notifyUserDataResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="xsd:int"/>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="eSIMCardMgrRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="TRADE_TYPE" type="tns:trade4eSIMCardMgrType">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MAIN_USER">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ATTACH_USERS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="IMSI" type="tns:imsiType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="EID" type="tns:eidType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="NICKNAME" type="tns:Length0_128"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="eSIMCardMgrResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="xsd:int">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="xsd:string">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MAIN_USER">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ATTACH_USERS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="multiSIMMgrRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ACTION">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="NAME" type="tns:Length0_128">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="OPERATION" type="tns:operation4MultiSIMgrType">            </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MAIN_USER">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ATTACH_USERS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="EID" type="tns:eidType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="0" name="NICKNAME" type="tns:Length0_128"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="multiSIMMgrResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="tns:resultCodeType">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="xsd:string">            </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryMultiSIMRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType">            </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="queryMultiSIMResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="tns:resultCodeType">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="xsd:string">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MAIN_USER">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:imsiType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="SMS_NOTIFICATION" type="tns:status4QueryMultiSIMType">            </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="ATTACH_USERS">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="IMSI" type="tns:msisdnType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="ICCID" type="tns:iccidType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="VOICE" type="tns:status4QueryMultiSIMType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="SIMULTANEOUS_RINGING" type="tns:status4QueryMultiSIMType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="STATUS" type="tns:status4QueryMultiSIMType">            </xsd:element>
                                    <xsd:element maxOccurs="1" minOccurs="1" name="NICKNAME" type="tns:Length0_128">            </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="authSubRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="tns:msisdnType">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="PWD" type="tns:Length0_128">            </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="authSubResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_CODE" type="tns:resultCodeType">            </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="RESULT_DESC" type="xsd:string">            </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="iCloudUserMgrIn">
        <wsdl:part element="tns:iCloudUserMgrRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="iCloudUserMgrOut">
        <wsdl:part element="tns:iCloudUserMgrResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notifyUserDataIn">
        <wsdl:part element="tns:notifyUserDataRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notifyUserDataOut">
        <wsdl:part element="tns:notifyUserDataResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="heartBeatIn">
        <wsdl:part element="tns:heartBeatRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="heartBeatOut">
        <wsdl:part element="tns:heartBeatResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryServiceStatusIn">
        <wsdl:part element="tns:queryServiceStatusRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryServiceStatusOut">
        <wsdl:part element="tns:queryServiceStatusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateServiceIn">
        <wsdl:part element="tns:updateServiceRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateServiceOut">
        <wsdl:part element="tns:updateServiceResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notifyServiceStatusIn">
        <wsdl:part element="tns:notifyServiceStatusRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notifyServiceStatusOut">
        <wsdl:part element="tns:notifyServiceStatusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryUserDataIn">
        <wsdl:part element="tns:queryUserDataRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryUserDataOut">
        <wsdl:part element="tns:queryUserDataResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eSIMCardMgrRequest">
        <wsdl:part element="tns:eSIMCardMgrRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eSIMCardMgrResponse">
        <wsdl:part element="tns:eSIMCardMgrResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="multiSIMMgrRequest">
        <wsdl:part element="tns:multiSIMMgrRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="multiSIMMgrResponse">
        <wsdl:part element="tns:multiSIMMgrResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryMultiSIMRequest">
        <wsdl:part element="tns:queryMultiSIMRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="queryMultiSIMResponse">
        <wsdl:part element="tns:queryMultiSIMResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="authSubRequest">
        <wsdl:part element="tns:authSubRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="authSubResponse">
        <wsdl:part element="tns:authSubResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="CDM">
        <wsdl:operation name="heartBeat">
            <wsdl:input message="tns:heartBeatIn"/>
            <wsdl:output message="tns:heartBeatOut"/>
        </wsdl:operation>
        <wsdl:operation name="queryServiceStatus">
            <wsdl:input message="tns:queryServiceStatusIn"/>
            <wsdl:output message="tns:queryServiceStatusOut"/>
        </wsdl:operation>
        <wsdl:operation name="queryUserData">
            <wsdl:input message="tns:queryUserDataIn"/>
            <wsdl:output message="tns:queryUserDataOut"/>
        </wsdl:operation>
        <wsdl:operation name="updateService">
            <wsdl:input message="tns:updateServiceIn"/>
            <wsdl:output message="tns:updateServiceOut"/>
        </wsdl:operation>
        <wsdl:operation name="iCloudUserMgr">
            <wsdl:input message="tns:iCloudUserMgrIn"/>
            <wsdl:output message="tns:iCloudUserMgrOut"/>
        </wsdl:operation>
        <wsdl:operation name="notifyServiceStatus">
            <wsdl:input message="tns:notifyServiceStatusIn"/>
            <wsdl:output message="tns:notifyServiceStatusOut"/>
        </wsdl:operation>
        <wsdl:operation name="notifyUserData">
            <wsdl:input message="tns:notifyUserDataIn"/>
            <wsdl:output message="tns:notifyUserDataOut"/>
        </wsdl:operation>
        <wsdl:operation name="eSIMCardMgr">
            <wsdl:input message="tns:eSIMCardMgrRequest"/>
            <wsdl:output message="tns:eSIMCardMgrResponse"/>
        </wsdl:operation>
        <wsdl:operation name="multiSIMMgr">
            <wsdl:input message="tns:multiSIMMgrRequest"/>
            <wsdl:output message="tns:multiSIMMgrResponse"/>
        </wsdl:operation>
        <wsdl:operation name="queryMultiSIM">
            <wsdl:input message="tns:queryMultiSIMRequest"/>
            <wsdl:output message="tns:queryMultiSIMResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authSub">
            <wsdl:input message="tns:authSubRequest"/>
            <wsdl:output message="tns:authSubResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CDMSOAP" type="tns:CDM">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="heartBeat">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/heartBeat"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryServiceStatus">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/queryServiceStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryUserData">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/queryUserData"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateService">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/updateService"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="iCloudUserMgr">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/iCloudUserMgr"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notifyServiceStatus">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/notifyServiceStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notifyUserData">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/notifyUserData"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eSIMCardMgr">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/eSIMCardMgr"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="multiSIMMgr">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/multiSIMMgr"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryMultiSIM">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/queryMultiSIM"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authSub">
            <soap:operation soapAction="http://www.huawei.com/CDM/ES/authSub"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CDM">
        <wsdl:port binding="tns:CDMSOAP" name="CDMSOAP">
            <soap:address location="http://www.huawei.com/CDM/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>