src/CommonProject/BusinessWSDLS/Services/WSDLS/GetChargeHistory/GetChargeHistory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:tns="http://www.zain.com/ZESB/Services/ChargeHistory" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.zain.com/ZESB/Services/ChargeHistory/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.zain.com/ZESB/Services/ChargeHistory">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/ChargeHistory/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/ChargeHistory/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="ChargeTransaction">
                <xs:sequence>
                    <xs:element name="Timestamp" type="xs:dateTime"/>
                    <xs:element name="Amount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="NewBalance" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="NewExpiry" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Purpose" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChargeTransactionsList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ChargeTransaction" type="ns0:ChargeTransaction"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ChargeHistoryInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:choice>
                            <xs:element name="LastNoOfDays" type="xs:int"/>
                            <xs:sequence>
                                <xs:element name="FromDate" type="xs:dateTime"/>
                                <xs:element name="ToDate" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ChargeHistoryOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ChargeTransactionsList" type="ns0:ChargeTransactionsList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BalanceHistoryInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                        <xs:choice>
                            <xs:element name="LastNoOfDays" type="xs:int"/>
                            <xs:sequence>
                                <xs:element name="FromDate" type="xs:dateTime"/>
                                <xs:element name="ToDate" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BalanceHistoryOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ChargeTransactionsList" type="ns0:ChargeTransactionsList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ChargeHistoryRequest">
        <wsdl:part element="ns0:ChargeHistoryInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="ChargeHistoryResponse">
        <wsdl:part element="ns0:ChargeHistoryOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:message name="BalanceHistoryRequest">
        <wsdl:part element="ns0:BalanceHistoryInput" name="request"/>
    </wsdl:message>
    <wsdl:message name="BalanceHistoryResponse">
        <wsdl:part element="ns0:BalanceHistoryOutput" name="response"/>
    </wsdl:message>
    <wsdl:message name="faultMessage1">
        <wsdl:part element="ns1:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="GetChargeHistoryPort">
        <wsdl:operation name="GetChargeHistory">
            <wsdl:input message="tns:ChargeHistoryRequest"/>
            <wsdl:output message="tns:ChargeHistoryResponse"/>
            <wsdl:fault message="tns:faultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GetBalanceHistoryPort">
        <wsdl:operation name="GetBalanceHistory">
            <wsdl:input message="tns:BalanceHistoryRequest"/>
            <wsdl:output message="tns:BalanceHistoryResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetChargeHistoryPortEndpointBinding" type="tns:GetChargeHistoryPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetChargeHistory">
            <soap:operation soapAction="GetChargeHistory" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetChargeHistoryService">
        <wsdl:port binding="tns:GetChargeHistoryPortEndpointBinding" name="GetChargeHistoryPortEndpoint">
            <soap:address location="http://localhost:7073/GetChargeHistoryService.serviceagent/GetChargeHistoryPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>