src/CommonProject/BusinessWSDLS/Services/WSDLS/GetChargeHistory/PrepaidHistory_QueryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1463390531087" xmlns:ns0="http://www.ericsson.com/ZainKW/BusinessSchemas/QueryService.xsd" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" name="Untitled" targetNamespace="http://xmlns.example.com/1463390531087" tibex:src="file:/C:/AA.Imran/Zain/Zain%20Kuwait/Phase-2/40-Development/ESB/WSDL/PrepaidHistory_QueryService.wsdl">
    <wsdl:types>
        <xs:schema xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/QueryService.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/QueryService.xsd">
            <xs:complexType name="response">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns0:Timestamp"/>
                    <xs:element minOccurs="0" ref="ns0:Amount"/>
                    <xs:element minOccurs="0" ref="ns0:NewBalance"/>
                    <xs:element minOccurs="0" ref="ns0:NewExpiry"/>
                    <xs:element minOccurs="0" ref="ns0:OldExpiryDate"/>
                    <xs:element minOccurs="0" ref="ns0:Purpose"/>
                    <xs:element minOccurs="0" ref="ns0:Recharge_Type"/>
                    <xs:element minOccurs="0" ref="ns0:Recharge_Voucher_Num"/>
                    <xs:element minOccurs="0" ref="ns0:Recharge_Channel"/>
                    <xs:element minOccurs="0" ref="ns0:AccountType"/>
                    <xs:element minOccurs="0" ref="ns0:AccountId"/>
                    <xs:element minOccurs="0" ref="ns0:OfferId"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Amount" type="xs:string"/>
            <xs:element name="BalanceHistoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:Request"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BalanceHistoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ChargeHistoryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:Request"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ChargeHistoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:Response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EndDate" type="xs:string"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LastNoOfDays" type="xs:string"/>
            <xs:element name="Msisdn" type="xs:string"/>
            <xs:element name="ContractID" type="xs:string"/>
            <xs:element name="NewBalance" type="xs:string"/>
            <xs:element name="NewExpiry" type="xs:string"/>
            <xs:element name="OldExpiryDate" type="xs:string"/>
            <xs:element name="Purpose" type="xs:string"/>
            <xs:element name="Recharge_Type" type="xs:string"/>
            <xs:element name="Recharge_Voucher_Num" type="xs:string"/>
            <xs:element name="Recharge_Channel" type="xs:string"/>
            <xs:element name="AccountType" type="xs:string"/>
            <xs:element name="AccountId" type="xs:string"/>
            <xs:element name="OfferId" type="xs:string"/>
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:Msisdn"/>
                        <xs:element minOccurs="0" ref="ns0:ContractID"/>
                        <xs:element minOccurs="0" ref="ns0:LastNoOfDays"/>
                        <xs:element minOccurs="0" ref="ns0:StartDate"/>
                        <xs:element minOccurs="0" ref="ns0:EndDate"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="ns0:response"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StartDate" type="xs:string"/>
            <xs:element name="Timestamp" type="xs:string"/>
            <xs:element name="response" type="ns0:response"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="QueryService">
        <wsdl:port binding="tns:QueryServicePortTypeHTTPEndpointBinding" name="QueryServicePortTypeHTTPEndpoint">
            <soap:address location="http://localhost:7073/ZESB/Financial/QueryHistoryService"/>
        </wsdl:port>
        <wsdl:port binding="tns:QueryServicePortTypeJMSEndpointBinding" name="QueryServicePortTypeJMSEndpoint">
            <soap:address location=""/>
            <jms:connectionFactory>queueconnectionfactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.QUERY.CRM_POSTPAID_CHARGE.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="QueryServicePortType">
        <wsdl:operation name="QueryBalanceService">
            <wsdl:input message="tns:BalanceHistoryRequest"/>
            <wsdl:output message="tns:BalanceHistoryResponse"/>
            <wsdl:fault message="tns:BalanceHistoryFault" name="fault1"/>
        </wsdl:operation>
        <wsdl:operation name="QueryChargeService">
            <wsdl:input message="tns:ChargeHistoryRequest"/>
            <wsdl:output message="tns:ChargeHistoryResponse"/>
            <wsdl:fault message="tns:ChargeHistoryFault" name="fault1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QueryServicePortTypeHTTPEndpointBinding" type="tns:QueryServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QueryBalanceService">
            <soap:operation soapAction="/BusinessProcesses/Services/CRM/Query/GetChargeHistory/Implementation/QueryService-service0.serviceagent/QueryServicePortTypeEndpoint0/QueryBalanceService" style="document"/>
            <wsdl:input>
                <soap:body parts="BalanceHistoryInput" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="BalanceHistoryOutput" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryChargeService">
            <soap:operation soapAction="QueryHistoryService" style="document"/>
            <wsdl:input>
                <soap:body parts="ChargeHistoryInput" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ChargeHistoryOutput" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="QueryServicePortTypeJMSEndpointBinding" type="tns:QueryServicePortType">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="QueryBalanceService">
            <soap:operation soapAction="/BusinessProcesses/Services/CRM/Query/GetChargeHistory/Implementation/QueryService-service0.serviceagent/QueryServicePortTypeJMSEndpoint/QueryBalanceService" style="document"/>
            <wsdl:input>
                <soap:body parts="BalanceHistoryInput" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="BalanceHistoryOutput" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryChargeService">
            <soap:operation soapAction="QueryChargeService" style="document"/>
            <wsdl:input>
                <soap:body parts="ChargeHistoryInput" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ChargeHistoryOutput" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="BalanceHistoryRequest">
        <wsdl:part element="ns0:BalanceHistoryRequest" name="BalanceHistoryInput"/>
    </wsdl:message>
    <wsdl:message name="BalanceHistoryResponse">
        <wsdl:part element="ns0:BalanceHistoryResponse" name="BalanceHistoryOutput"/>
    </wsdl:message>
    <wsdl:message name="BalanceHistoryFault">
        <wsdl:part element="ns0:FaultType" name="BalanceHistoryFault"/>
    </wsdl:message>
    <wsdl:message name="ChargeHistoryRequest">
        <wsdl:part element="ns0:ChargeHistoryRequest" name="ChargeHistoryInput"/>
    </wsdl:message>
    <wsdl:message name="ChargeHistoryResponse">
        <wsdl:part element="ns0:ChargeHistoryResponse" name="ChargeHistoryOutput"/>
    </wsdl:message>
    <wsdl:message name="ChargeHistoryFault">
        <wsdl:part element="ns0:FaultType" name="ChargeHistoryFault"/>
    </wsdl:message>
</wsdl:definitions>