src/CommonProject/BusinessSchemas/Services/Applications/Common/Query/GetUsageDetails/GetUsageDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/Query/GetUsageDetails.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.zain.com/ZESB/Services/Query/GetUsageDetails.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="BilledUsageRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="customerID" minOccurs="0"/>
				<xs:element ref="subscriberNumber" minOccurs="0"/>
				<xs:element ref="contractID" minOccurs="0"/>
				<xs:element ref="fromDate" minOccurs="0"/>
				<xs:element ref="toDate" minOccurs="0"/>
				<xs:element ref="usageType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BilledUsageResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnBilledUsageRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="customerID" minOccurs="0"/>
				<xs:element ref="subscriberNumber" minOccurs="0"/>
				<xs:element ref="contractID" minOccurs="0"/>
				<xs:element ref="billingAccountId" minOccurs="0"/>
				<xs:element ref="fromDate" minOccurs="0"/>
				<xs:element ref="toDate" minOccurs="0"/>
				<xs:element ref="usageType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnBilledUsageResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultSet" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customerID" type="xs:string"/>
	<xs:element name="subscriberNumber" type="xs:string"/>
	<xs:element name="fromDate" type="xs:string"/>
	<xs:element name="toDate" type="xs:string">
		<xs:annotation>
			<xs:documentation>To Date in  format MM/dd/yyyy</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="usageType" type="xs:string">
		<xs:annotation>
			<xs:documentation>3 : CALL , 4 : SMS,10 : DATA ,1001: ALL/NULL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="usageStartTime" type="xs:string"/>
	<xs:element name="usageEndTime" type="xs:string"/>
	<xs:element name="entryDate" type="xs:string"/>
	<xs:element name="serviceDescription" type="xs:string"/>
	<xs:element name="PartyA" type="xs:string"/>
	<xs:element name="PartyB" type="xs:string">
		<xs:annotation>
			<xs:documentation>Called To</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="usageCharge" type="xs:string">
		<xs:annotation>
			<xs:documentation>Usage details</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="usageStartTime" minOccurs="0"/>
				<xs:element ref="usageEndTime" minOccurs="0"/>
				<xs:element ref="usageType" minOccurs="0"/>
				<xs:element ref="entryDate" minOccurs="0"/>
				<xs:element ref="serviceDescription" minOccurs="0"/>
				<xs:element ref="PartyA" minOccurs="0"/>
				<xs:element ref="PartyB" minOccurs="0"/>
				<xs:element ref="usageCharge" minOccurs="0"/>
				<xs:element ref="Before_Chrg_Amnt" minOccurs="0"/>
				<xs:element ref="After_Chrg_Amnt" minOccurs="0"/>
				<xs:element ref="CallType" minOccurs="0"/>
				<xs:element ref="OfferID" minOccurs="0"/>
				<xs:element ref="AccountType" minOccurs="0"/>
				<xs:element ref="AccountID" minOccurs="0"/>
				<xs:element ref="BillCode" minOccurs="0"/>
				<xs:element ref="BillText" minOccurs="0"/>
				<xs:element ref="Volume" minOccurs="0"/>
				<xs:element ref="VolumeUnit" minOccurs="0"/>
				<xs:element ref="PeakStatus" minOccurs="0"/>
				<xs:element ref="ChargedDuration" minOccurs="0"/>
				<xs:element ref="Country" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FaultMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="billingAccountId" type="xs:string"/>
	<xs:element name="Before_Chrg_Amnt" type="xs:string"/>
	<xs:element name="After_Chrg_Amnt" type="xs:string"/>
	<xs:element name="contractID" type="xs:string"/>
	<xs:element name="ChargeType" type="xs:string"/>
	<xs:element name="FromDate" type="xs:string"/>
	<xs:element name="ToDate" type="xs:string"/>
	<xs:element name="Duration" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="CallType" type="xs:string"/>
	<xs:element name="OfferID" type="xs:string"/>
	<xs:element name="AccountType" type="xs:string"/>
	<xs:element name="AccountID" type="xs:string"/>
	<xs:element name="BillCode" type="xs:string"/>
	<xs:element name="BillText" type="xs:string"/>
	<xs:element name="Volume" type="xs:string"/>
	<xs:element name="VolumeUnit" type="xs:string"/>
	<xs:element name="PeakStatus" type="xs:string"/>
	<xs:element name="UnbilledDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contractID" minOccurs="0"/>
				<xs:element ref="customerID" minOccurs="0"/>
				<xs:element ref="subscriberNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnbilledDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UnbilledDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnbilledDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChargeType" minOccurs="0"/>
				<xs:element ref="FromDate" minOccurs="0"/>
				<xs:element ref="ToDate" minOccurs="0"/>
				<xs:element ref="Duration" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnbilledSummaryRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contractID" minOccurs="0"/>
				<xs:element ref="customerID" minOccurs="0"/>
				<xs:element ref="subscriberNumber" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnbilledSummaryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UnbilledSummary" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnbilledSummary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="Duration" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChargedDuration" type="xs:string"/>
	<xs:element name="Country" type="xs:string"/>
</xs:schema>