src/ESI_BSCS/BusinessProcesses/Services/Query/PaymentReportQuery/Schema/PaymentReportQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CUSTOMER_ID" type="xs:long" nillable="true"/>
										<xs:element name="PAYMENT_ID" type="xs:long" nillable="true"/>
										<xs:element name="PAYMENT_DATE" type="xs:dateTime" nillable="true"/>
										<xs:element name="PAYMENT_AMNT" type="xs:decimal" nillable="true"/>
										<xs:element name="TOTAL_PAYMENT_AMNT" type="xs:decimal" nillable="true"/>
										<xs:element name="PAYMENT_INSTRUMENT" type="xs:string" nillable="true"/>
										<xs:element name="PAYMENT_REFNUM" type="xs:long" nillable="true"/>
										<xs:element name="PAYMENT_POST_DATE" type="xs:dateTime" nillable="true"/>
										<xs:element name="PAYMENT_AUTH_CODE" type="xs:string" nillable="true"/>
										<xs:element name="CHANNEL" type="xs:string" nillable="true"/>
										<xs:element name="SRC_TRANSACTION_ID" type="xs:long" nillable="true"/>
										<xs:element name="USERNAME" type="xs:string" nillable="true"/>
										<xs:element name="CUSTOMER_CATEGORY" type="xs:string" nillable="true"/>
										<xs:element name="LOCATION" type="xs:string" nillable="true"/>
										<xs:element name="MERCHANT_ID" type="xs:string" nillable="true"/>
										<xs:element name="TERMINAL_ID" type="xs:long" nillable="true"/>
										<xs:element name="CRCARDNO" type="xs:string" nillable="true"/>
										<xs:element name="MSISDN" type="xs:string" nillable="true"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>