src/CommonProject/BusinessWSDLS/Services/BSCS/CreditCategoryPredict/CreditCategoryPredictService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/creditcategorypredict" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p></p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/creditcategorypredict" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/creditcategorypredict">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:element name="creditCategoryPredictRequest" type="wsi:creditCategoryPredictRequest"/>
			<xs:element name="creditCategoryPredictResponse" type="wsi:creditCategoryPredictResponse"/>
			<xs:complexType name="creditCategoryPredictResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Credit category Assign History</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="currCcId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Category ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="currCcIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit category Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="currCcPriority" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Category Priority</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="futrCcId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Category ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="futrCcIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit category Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="futrCcPriority" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Category Priority</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isAllowed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Category Factor Change is Allowed</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Input arguments</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="billingAccountId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Billing Account ID </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="billingAccountCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Billing Account Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="factor" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Factor impacting CC Change</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="factorVal" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Factor Value impacting CC Change</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="operation" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Operation ADD/DELETE</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="creditCategoryPredictRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="creditCategoryPredictRequest">
		<wsdl:part element="sch3:creditCategoryPredictRequest" name="creditCategoryPredictRequest"/>
	</wsdl:message>
	<wsdl:message name="creditCategoryPredictResponse">
		<wsdl:part element="sch3:creditCategoryPredictResponse" name="creditCategoryPredictResponse"/>
	</wsdl:message>
	<wsdl:portType name="CreditCategoryPredictService">
		<wsdl:operation name="creditCategoryPredict">
			<wsdl:input message="tns:creditCategoryPredictRequest" name="creditCategoryPredictRequest"/>
			<wsdl:output message="tns:creditCategoryPredictResponse" name="creditCategoryPredictResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditCategoryPredictServiceSoap11" type="tns:CreditCategoryPredictService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="creditCategoryPredict">
			<soap:operation soapAction=""/>
			<wsdl:input name="creditCategoryPredictRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="creditCategoryPredictResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CreditCategoryPredictService">
		<wsdl:port binding="tns:CreditCategoryPredictServiceSoap11" name="CreditCategoryPredictServiceSoap11">
			<soap:address location="http://10.96.103.208:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>