src/CommonProject/BusinessWSDLS/Services/BSCS/PaymentProfileCustomerRead/ws_CIL_5_PaymentProfileCustomerReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/paymentprofilecustomerread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/paymentprofilecustomerread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/paymentprofilecustomerread"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="paymentProfileCustomerReadRequest" type="wsi:paymentProfileCustomerReadRequest"/><xs:element name="paymentProfileCustomerReadResponse" type="wsi:paymentProfileCustomerReadResponse"/><xs:complexType name="paymentProfileCustomerReadResponse"><xs:all><xs:element minOccurs="0" name="paymentId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>PAYMENT ID</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="payArrId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>PAYMENT ARRANGEMENT ID</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p></p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="csidpub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>CUSTNUM</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="baid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>BILLING ACCOUNT ID</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="paymentProfileCustomerReadRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="paymentProfileCustomerReadResponse">
    <wsdl:part element="sch3:paymentProfileCustomerReadResponse" name="paymentProfileCustomerReadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="paymentProfileCustomerReadRequest">
    <wsdl:part element="sch3:paymentProfileCustomerReadRequest" name="paymentProfileCustomerReadRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentProfileCustomerReadService">
    <wsdl:operation name="paymentProfileCustomerRead">
      <wsdl:input message="tns:paymentProfileCustomerReadRequest" name="paymentProfileCustomerReadRequest">
    </wsdl:input>
      <wsdl:output message="tns:paymentProfileCustomerReadResponse" name="paymentProfileCustomerReadResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentProfileCustomerReadServiceSoap11" type="tns:PaymentProfileCustomerReadService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="paymentProfileCustomerRead">
      <soap:operation soapAction=""/>
      <wsdl:input name="paymentProfileCustomerReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="paymentProfileCustomerReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentProfileCustomerReadService">
    <wsdl:port binding="tns:PaymentProfileCustomerReadServiceSoap11" name="PaymentProfileCustomerReadServiceSoap11">
      <soap:address location="http://10.103.23.91:20103/wsi/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>