src/CommonProject/BusinessWSDLS/Services/WSDLS/QueueManagement/QueueManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="QMS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="QMS">
	<wsdl:types>
		<s:schema xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1" targetNamespace="urn:schemas-microsoft-com:xml-diffgram-v1">
			<s:element name="diffgram" />
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="QMS" xmlns:msdata="schemas-microsoft-com:xml-msdata" xmlns:diffgr="schemas-microsoft-com:xml-diffgram-v1">
			<s:element name="HelloWorld">
				<s:complexType/>
			</s:element>
			<s:element name="HelloWorldResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="CallTicket">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="counterID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="EmpID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CallTicketResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CallTicketResult">
							<s:complexType>
								<s:sequence>

									<s:any maxOccurs="unbounded" minOccurs="0"/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RecallTicket">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="counterID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="EmpID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="RecallTicketResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="RecallTicketResult">
							<s:complexType>
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SkipTicket">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="counterID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="EmpID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="SkipTicketResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="SkipTicketResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Break">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="BreakResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="BreakResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EndBreak">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EndBreakResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="EndBreakResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="Greet">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GreetResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="GreetResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EndGreet">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="EndGreetResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="EndGreetResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetWaiting">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="counterID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetWaitingResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetWaitingResult">
							<s:complexType>
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetServed">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="counterID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetServedResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetServedResult">
							<s:complexType>
								<s:sequence>

									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAgentInfo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetAgentInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetAgentInfoResult">
							<s:complexType>
								<s:sequence>

									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTicketInfo">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TicketNo" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="counterID" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="empID" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetTicketInfoResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetTicketInfoResult">
							<s:complexType>
								<s:sequence>

									<s:any maxOccurs="unbounded" minOccurs="0"/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="HelloWorldSoapIn">
		<wsdl:part name="parameters" element="tns:HelloWorld"/>
	</wsdl:message>
	<wsdl:message name="HelloWorldSoapOut">
		<wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
	</wsdl:message>
	<wsdl:message name="CallTicketSoapIn">
		<wsdl:part name="parameters" element="tns:CallTicket"/>
	</wsdl:message>
	<wsdl:message name="CallTicketSoapOut">
		<wsdl:part name="parameters" element="tns:CallTicketResponse"/>
	</wsdl:message>
	<wsdl:message name="RecallTicketSoapIn">
		<wsdl:part name="parameters" element="tns:RecallTicket"/>
	</wsdl:message>
	<wsdl:message name="RecallTicketSoapOut">
		<wsdl:part name="parameters" element="tns:RecallTicketResponse"/>
	</wsdl:message>
	<wsdl:message name="SkipTicketSoapIn">
		<wsdl:part name="parameters" element="tns:SkipTicket"/>
	</wsdl:message>
	<wsdl:message name="SkipTicketSoapOut">
		<wsdl:part name="parameters" element="tns:SkipTicketResponse"/>
	</wsdl:message>
	<wsdl:message name="BreakSoapIn">
		<wsdl:part name="parameters" element="tns:Break"/>
	</wsdl:message>
	<wsdl:message name="BreakSoapOut">
		<wsdl:part name="parameters" element="tns:BreakResponse"/>
	</wsdl:message>
	<wsdl:message name="EndBreakSoapIn">
		<wsdl:part name="parameters" element="tns:EndBreak"/>
	</wsdl:message>
	<wsdl:message name="EndBreakSoapOut">
		<wsdl:part name="parameters" element="tns:EndBreakResponse"/>
	</wsdl:message>
	<wsdl:message name="GreetSoapIn">
		<wsdl:part name="parameters" element="tns:Greet"/>
	</wsdl:message>
	<wsdl:message name="GreetSoapOut">
		<wsdl:part name="parameters" element="tns:GreetResponse"/>
	</wsdl:message>
	<wsdl:message name="EndGreetSoapIn">
		<wsdl:part name="parameters" element="tns:EndGreet"/>
	</wsdl:message>
	<wsdl:message name="EndGreetSoapOut">
		<wsdl:part name="parameters" element="tns:EndGreetResponse"/>
	</wsdl:message>
	<wsdl:message name="GetWaitingSoapIn">
		<wsdl:part name="parameters" element="tns:GetWaiting"/>
	</wsdl:message>
	<wsdl:message name="GetWaitingSoapOut">
		<wsdl:part name="parameters" element="tns:GetWaitingResponse"/>
	</wsdl:message>
	<wsdl:message name="GetServedSoapIn">
		<wsdl:part name="parameters" element="tns:GetServed"/>
	</wsdl:message>
	<wsdl:message name="GetServedSoapOut">
		<wsdl:part name="parameters" element="tns:GetServedResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAgentInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetAgentInfo"/>
	</wsdl:message>
	<wsdl:message name="GetAgentInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetAgentInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="GetTicketInfoSoapIn">
		<wsdl:part name="parameters" element="tns:GetTicketInfo"/>
	</wsdl:message>
	<wsdl:message name="GetTicketInfoSoapOut">
		<wsdl:part name="parameters" element="tns:GetTicketInfoResponse"/>
	</wsdl:message>
	<wsdl:portType name="QMSSoap">
		<wsdl:operation name="HelloWorld">
			<wsdl:input message="tns:HelloWorldSoapIn"/>
			<wsdl:output message="tns:HelloWorldSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="CallTicket">
			<wsdl:input message="tns:CallTicketSoapIn"/>
			<wsdl:output message="tns:CallTicketSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="RecallTicket">
			<wsdl:input message="tns:RecallTicketSoapIn"/>
			<wsdl:output message="tns:RecallTicketSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="SkipTicket">
			<wsdl:input message="tns:SkipTicketSoapIn"/>
			<wsdl:output message="tns:SkipTicketSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Break">
			<wsdl:input message="tns:BreakSoapIn"/>
			<wsdl:output message="tns:BreakSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="EndBreak">
			<wsdl:input message="tns:EndBreakSoapIn"/>
			<wsdl:output message="tns:EndBreakSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Greet">
			<wsdl:input message="tns:GreetSoapIn"/>
			<wsdl:output message="tns:GreetSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="EndGreet">
			<wsdl:input message="tns:EndGreetSoapIn"/>
			<wsdl:output message="tns:EndGreetSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetWaiting">
			<wsdl:input message="tns:GetWaitingSoapIn"/>
			<wsdl:output message="tns:GetWaitingSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetServed">
			<wsdl:input message="tns:GetServedSoapIn"/>
			<wsdl:output message="tns:GetServedSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetAgentInfo">
			<wsdl:input message="tns:GetAgentInfoSoapIn"/>
			<wsdl:output message="tns:GetAgentInfoSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetTicketInfo">
			<wsdl:input message="tns:GetTicketInfoSoapIn"/>
			<wsdl:output message="tns:GetTicketInfoSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="QMSSoap" type="tns:QMSSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HelloWorld">
			<soap:operation soapAction="QMS/HelloWorld" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CallTicket">
			<soap:operation soapAction="QMS/CallTicket" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecallTicket">
			<soap:operation soapAction="QMS/RecallTicket" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SkipTicket">
			<soap:operation soapAction="QMS/SkipTicket" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Break">
			<soap:operation soapAction="QMS/Break" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EndBreak">
			<soap:operation soapAction="QMS/EndBreak" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Greet">
			<soap:operation soapAction="QMS/Greet" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EndGreet">
			<soap:operation soapAction="QMS/EndGreet" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWaiting">
			<soap:operation soapAction="QMS/GetWaiting" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServed">
			<soap:operation soapAction="QMS/GetServed" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAgentInfo">
			<soap:operation soapAction="QMS/GetAgentInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTicketInfo">
			<soap:operation soapAction="QMS/GetTicketInfo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="QMSSoap12" type="tns:QMSSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HelloWorld">
			<soap12:operation soapAction="QMS/HelloWorld" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CallTicket">
			<soap12:operation soapAction="QMS/CallTicket" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RecallTicket">
			<soap12:operation soapAction="QMS/RecallTicket" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SkipTicket">
			<soap12:operation soapAction="QMS/SkipTicket" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Break">
			<soap12:operation soapAction="QMS/Break" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EndBreak">
			<soap12:operation soapAction="QMS/EndBreak" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Greet">
			<soap12:operation soapAction="QMS/Greet" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EndGreet">
			<soap12:operation soapAction="QMS/EndGreet" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetWaiting">
			<soap12:operation soapAction="QMS/GetWaiting" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetServed">
			<soap12:operation soapAction="QMS/GetServed" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAgentInfo">
			<soap12:operation soapAction="QMS/GetAgentInfo" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTicketInfo">
			<soap12:operation soapAction="QMS/GetTicketInfo" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="QMS">
		<wsdl:port name="QMSSoap" binding="tns:QMSSoap">
			<soap:address location="http://10.151.0.31/zainwsTest/service.asmx"/>
		</wsdl:port>
		<wsdl:port name="QMSSoap12" binding="tns:QMSSoap12">
			<soap12:address location="http://10.151.0.31/zainwsTest/service.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>