src/CommonProject/BusinessSchemas/Services/Provisioning/DistributorDisconnect/DistributorDisconnect.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zain.com/ZESB/Services/DistributorDisconnect"
	 targetNamespace="http://www.zain.com/ZESB/Services/DistributorDisconnect"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="DistributorDisconnectRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DistributorCode" minOccurs="0"/>
				<xs:element ref="Operation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DistributorCode" type="xs:string"/>
	<xs:element name="Operation" type="xs:string"/>
	<xs:element name="DistributorDisconnectResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="xs:string"/>
				<xs:element name="code" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="sourceSystem" type="xs:string"/>
				<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
				<xs:element name="detail" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>