src/GW_CustMgmt/BusinessProcesses/Services/Common/CampaignManagement/CMS-LMC/Implementation/Tester/CMS-LMC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://com.ttech.cms.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://com.ttech.cms.ws">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.ttech.cms.ws" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="HasDataPlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasDataPlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasIntSMSPlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasIntSMSPlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasLocalSMSPlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasLocalSMSPlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoDataPlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoDataPlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoIntSMSPlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoIntSMSPlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoLocalSMSPlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoLocalSMSPlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoVoicePlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasNoVoicePlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasRoxanne">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasRoxanneResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasVoicePlan">
                <xs:sequence>
                    <xs:element name="request" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="HasVoicePlanResponse">
                <xs:sequence>
                    <xs:element name="response" form="unqualified" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="HasDataPlan" type="tns:HasDataPlan"/>
            <xs:element name="HasDataPlanResponse" type="tns:HasDataPlanResponse"/>
            <xs:element name="HasIntSMSPlan" type="tns:HasIntSMSPlan"/>
            <xs:element name="HasIntSMSPlanResponse" type="tns:HasIntSMSPlanResponse"/>
            <xs:element name="HasLocalSMSPlan" type="tns:HasLocalSMSPlan"/>
            <xs:element name="HasLocalSMSPlanResponse" type="tns:HasLocalSMSPlanResponse"/>
            <xs:element name="HasNoDataPlan" type="tns:HasNoDataPlan"/>
            <xs:element name="HasNoDataPlanResponse" type="tns:HasNoDataPlanResponse"/>
            <xs:element name="HasNoIntSMSPlan" type="tns:HasNoIntSMSPlan"/>
            <xs:element name="HasNoIntSMSPlanResponse" type="tns:HasNoIntSMSPlanResponse"/>
            <xs:element name="HasNoLocalSMSPlan" type="tns:HasNoLocalSMSPlan"/>
            <xs:element name="HasNoLocalSMSPlanResponse" type="tns:HasNoLocalSMSPlanResponse"/>
            <xs:element name="HasNoVoicePlan" type="tns:HasNoVoicePlan"/>
            <xs:element name="HasNoVoicePlanResponse" type="tns:HasNoVoicePlanResponse"/>
            <xs:element name="HasRox" type="tns:HasRoxanne"/>
            <xs:element name="HasRox2" type="tns:HasRoxanne"/>
            <xs:element name="HasRox2Response" type="tns:HasRoxanneResponse"/>
            <xs:element name="HasRoxResponse" type="tns:HasRoxanneResponse"/>
            <xs:element name="HasRoxanne" type="tns:HasRoxanne"/>
            <xs:element name="HasRoxanneResponse" type="tns:HasRoxanneResponse"/>
            <xs:element name="HasVoicePlan" type="tns:HasVoicePlan"/>
            <xs:element name="HasVoicePlanResponse" type="tns:HasVoicePlanResponse"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="CmsLmcService">
        <wsdl:port name="CmsLmcService" binding="tns:CmsLmcServiceBinding">
            <soap:address location=""/>
            <jms:connectionFactory>queueconnectionfactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">CBIO.BSS.DOM_ESB.GW.QUERY.CMS-LMC.SVC.Q.EXT.REQ</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="CmsLmcServiceHTTP" binding="tns:CmsLmcServiceHTTPBinding">
            <soap:address location="http://localhost:7073/ESB/SOAP/CMS-LMC"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="CmsLmcFunctions">
        <wsdl:operation name="HasVoicePlan">
            <wsdl:input message="tns:HasVoicePlan"/>
            <wsdl:output message="tns:HasVoicePlanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasNoDataPlan">
            <wsdl:input message="tns:HasNoDataPlan"/>
            <wsdl:output message="tns:HasNoDataPlanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasLocalSMSPlan">
            <wsdl:input message="tns:HasLocalSMSPlan"/>
            <wsdl:output message="tns:HasLocalSMSPlanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasNoIntSMSPlan">
            <wsdl:input message="tns:HasNoIntSMSPlan"/>
            <wsdl:output message="tns:HasNoIntSMSPlanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasNoLocalSMSPlan">
            <wsdl:input message="tns:HasNoLocalSMSPlan"/>
            <wsdl:output message="tns:HasNoLocalSMSPlanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasRoxanne">
            <wsdl:input message="tns:HasRoxanne"/>
            <wsdl:output message="tns:HasRoxanneResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasNoVoicePlan">
            <wsdl:input message="tns:HasNoVoicePlan"/>
            <wsdl:output message="tns:HasNoVoicePlanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasDataPlan">
            <wsdl:input message="tns:HasDataPlan"/>
            <wsdl:output message="tns:HasDataPlanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasRox">
            <wsdl:input message="tns:HasRox"/>
            <wsdl:output message="tns:HasRoxResponse"/>
        </wsdl:operation>
        <wsdl:operation name="HasRox2">
            <wsdl:input message="tns:HasRox2"/>
            <wsdl:output message="tns:HasRox2Response"/>
        </wsdl:operation>
        <wsdl:operation name="HasIntSMSPlan">
            <wsdl:input message="tns:HasIntSMSPlan"/>
            <wsdl:output message="tns:HasIntSMSPlanResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CmsLmcServiceBinding" type="tns:CmsLmcFunctions">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="HasVoicePlan">
            <soap:operation style="document" soapAction="/HasVoicePlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoDataPlan">
            <soap:operation style="document" soapAction="/HasNoDataPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasLocalSMSPlan">
            <soap:operation style="document" soapAction="/HasLocalSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoIntSMSPlan">
            <soap:operation style="document" soapAction="/HasNoIntSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoLocalSMSPlan">
            <soap:operation style="document" soapAction="/HasNoLocalSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasRoxanne">
            <soap:operation style="document" soapAction="/HasRoxanne"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoVoicePlan">
            <soap:operation style="document" soapAction="/HasNoVoicePlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasDataPlan">
            <soap:operation style="document" soapAction="/HasDataPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasRox">
            <soap:operation style="document" soapAction="/HasRox"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasRox2">
            <soap:operation style="document" soapAction="/HasRox2"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasIntSMSPlan">
            <soap:operation style="document" soapAction="/HasIntSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CmsLmcServiceHTTPBinding" type="tns:CmsLmcFunctions">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HasVoicePlan">
            <soap:operation style="document" soapAction="/HasVoicePlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoDataPlan">
            <soap:operation style="document" soapAction="/HasNoDataPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasLocalSMSPlan">
            <soap:operation style="document" soapAction="/HasLocalSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoIntSMSPlan">
            <soap:operation style="document" soapAction="/HasNoIntSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoLocalSMSPlan">
            <soap:operation style="document" soapAction="/HasNoLocalSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasRoxanne">
            <soap:operation style="document" soapAction="/HasRoxanne"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasNoVoicePlan">
            <soap:operation style="document" soapAction="/HasNoVoicePlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasDataPlan">
            <soap:operation style="document" soapAction="/HasDataPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasRox">
            <soap:operation style="document" soapAction="/HasRox"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasRox2">
            <soap:operation style="document" soapAction="/HasRox2"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="HasIntSMSPlan">
            <soap:operation style="document" soapAction="/HasIntSMSPlan"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="HasVoicePlan">
        <wsdl:part name="parameters" element="tns:HasVoicePlan"/>
    </wsdl:message>
    <wsdl:message name="HasVoicePlanResponse">
        <wsdl:part name="parameters" element="tns:HasVoicePlanResponse"/>
    </wsdl:message>
    <wsdl:message name="HasNoDataPlan">
        <wsdl:part name="parameters" element="tns:HasNoDataPlan"/>
    </wsdl:message>
    <wsdl:message name="HasNoDataPlanResponse">
        <wsdl:part name="parameters" element="tns:HasNoDataPlanResponse"/>
    </wsdl:message>
    <wsdl:message name="HasLocalSMSPlan">
        <wsdl:part name="parameters" element="tns:HasLocalSMSPlan"/>
    </wsdl:message>
    <wsdl:message name="HasLocalSMSPlanResponse">
        <wsdl:part name="parameters" element="tns:HasLocalSMSPlanResponse"/>
    </wsdl:message>
    <wsdl:message name="HasNoIntSMSPlan">
        <wsdl:part name="parameters" element="tns:HasNoIntSMSPlan"/>
    </wsdl:message>
    <wsdl:message name="HasNoIntSMSPlanResponse">
        <wsdl:part name="parameters" element="tns:HasNoIntSMSPlanResponse"/>
    </wsdl:message>
    <wsdl:message name="HasNoLocalSMSPlan">
        <wsdl:part name="parameters" element="tns:HasNoLocalSMSPlan"/>
    </wsdl:message>
    <wsdl:message name="HasNoLocalSMSPlanResponse">
        <wsdl:part name="parameters" element="tns:HasNoLocalSMSPlanResponse"/>
    </wsdl:message>
    <wsdl:message name="HasRoxanne">
        <wsdl:part name="parameters" element="tns:HasRoxanne"/>
    </wsdl:message>
    <wsdl:message name="HasRoxanneResponse">
        <wsdl:part name="parameters" element="tns:HasRoxanneResponse"/>
    </wsdl:message>
    <wsdl:message name="HasNoVoicePlan">
        <wsdl:part name="parameters" element="tns:HasNoVoicePlan"/>
    </wsdl:message>
    <wsdl:message name="HasNoVoicePlanResponse">
        <wsdl:part name="parameters" element="tns:HasNoVoicePlanResponse"/>
    </wsdl:message>
    <wsdl:message name="HasDataPlan">
        <wsdl:part name="parameters" element="tns:HasDataPlan"/>
    </wsdl:message>
    <wsdl:message name="HasDataPlanResponse">
        <wsdl:part name="parameters" element="tns:HasDataPlanResponse"/>
    </wsdl:message>
    <wsdl:message name="HasRox">
        <wsdl:part name="parameters" element="tns:HasRox"/>
    </wsdl:message>
    <wsdl:message name="HasRoxResponse">
        <wsdl:part name="parameters" element="tns:HasRoxResponse"/>
    </wsdl:message>
    <wsdl:message name="HasRox2">
        <wsdl:part name="parameters" element="tns:HasRox2"/>
    </wsdl:message>
    <wsdl:message name="HasRox2Response">
        <wsdl:part name="parameters" element="tns:HasRox2Response"/>
    </wsdl:message>
    <wsdl:message name="HasIntSMSPlan">
        <wsdl:part name="parameters" element="tns:HasIntSMSPlan"/>
    </wsdl:message>
    <wsdl:message name="HasIntSMSPlanResponse">
        <wsdl:part name="parameters" element="tns:HasIntSMSPlanResponse"/>
    </wsdl:message>
</wsdl:definitions>