src/CommonProject/BusinessSchemas/Services/Modification/TicklerNewService/TicklerNew.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.zainkw.com/ZainKW/BusinessSchemas/Services/Modification/TicklerNewService.xsd"
	 targetNamespace="http://www.zainkw.com/ZainKW/BusinessSchemas/Services/Modification/TicklerNewService.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="TicklerNewReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader"/>
				<xs:element name="csIdPub" type="xs:string"/>
				<xs:element name="coIdPub" type="xs:string"/>
				<xs:element name="tickCode" type="xs:string"/>
				<xs:element name="tickShdes" type="xs:string"/>
				<xs:element name="tickLdes" type="xs:string"/>
				<xs:element name="tickStatus" type="xs:string"/>
				<xs:element name="tickPriority" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="correlationID" type="xs:string" minOccurs="0"/>
				<xs:element name="serviceOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="salesOrderId" type="xs:string" minOccurs="0"/>
				<xs:element name="buIdPubKey" type="xs:string" minOccurs="0"/>
				<xs:element name="buIdPubValue" type="xs:string" minOccurs="0"/>
				<xs:element name="mainProcessId" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorResponse" type="error"/>
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element name="Error_SourceSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Occurance_Time" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TicklerNewRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader"/>
				<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseMessage" type="xs:string" minOccurs="0"/>
				<xs:element name="TickNumber" type="xs:string" minOccurs="0"/>
				<xs:element ref="ErrorResponse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>