src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/WSDL/CBiO2ExternalChannelTremblantChangeSIMWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://siebel.com/CustomUI" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2SIMTransfereSIMTremblant" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2SIMTransfereSIMTremblant" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.siebel.com/xml/CBiO2SIMTransfereSIMTremblant">
            <xsd:annotation>
                <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="CBiO2SIMTransfereSIMTremblant" type="xsdLocal1:CBiO2SIMTransfereSIMTremblant"/>
            <xsd:complexType name="CBiO2SIMTransfereSIMTremblantTopElmt">
                <xsd:sequence>
                    <xsd:element name="CBiO2SIMTransfereSIMTremblant" maxOccurs="1" minOccurs="1" type="xsdLocal1:CBiO2SIMTransfereSIMTremblant"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2SIMTransfereSIMTremblant">
                <xsd:sequence>
                    <xsd:element name="CBiO2OrderDetails" type="xsdLocal1:CBiO2OrderDetails"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2OrderDetails">
                <xsd:sequence>
                    <xsd:element name="SubscriberNumber" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="TransactionId" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2sourceDeviceInfo" type="xsdLocal1:CBiO2sourceDeviceInfo"/>
                    <xsd:element name="UserName" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="CBiO2targetDeviceInfo" type="xsdLocal1:CBiO2targetDeviceInfo"/>
                    <xsd:element name="Channel" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="OrderReason" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="OrderType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2sourceDeviceInfo">
                <xsd:sequence>
                    <xsd:element name="iccid" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="msisdn" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="imsi" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="primarymsisdn" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                    <xsd:element name="primaryimsi" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="deviceType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="eid" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CBiO2targetDeviceInfo">
                <xsd:sequence>
                    <xsd:element name="KI" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PIN1" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PIN2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PUK1" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="PUK2" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SIMType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="ReservedFlag" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="SimSerialNo" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="transportKey" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="VendorCode" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="deviceType" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="eid" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="hlcodepub" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="iccid" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="imei" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="meid" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="imsi" maxOccurs="1" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:import namespace="http://www.siebel.com/xml/CBiO2SIMTransfereSIMTremblant"/>
            <xsd:element name="ChangeSIMRequest_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="xsdLocal1:CBiO2SIMTransfereSIMTremblant"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ChangeSIMRequest_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error_Occurance_Time" type="xsd:string"/>
                        <xsd:element name="Error_SourceErrCode" type="xsd:string"/>
                        <xsd:element name="Error_SourceErrDesc" type="xsd:string"/>
                        <xsd:element name="Error_Type" type="xsd:string"/>
                        <xsd:element name="OrderNumber" type="xsd:string"/>
                        <xsd:element name="iccid" type="xsd:string"/>
                        <xsd:element name="imei" type="xsd:string"/>
                        <xsd:element name="imsi" type="xsd:string"/>
                        <xsd:element name="meid" type="xsd:string"/>
                        <xsd:element name="msisdn" type="xsd:string"/>
                        <xsd:element name="primaryImsi" type="xsd:string"/>
                        <xsd:element name="primaryMsisdn" type="xsd:string"/>
                        <xsd:element name="profileReleased" type="xsd:string"/>
                        <xsd:element name="sourceIccid" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="ChangeSIMRequest_Input">
        <part name="ChangeSIMRequest_Input" element="tns:ChangeSIMRequest_Input"/>
    </message>
    <message name="ChangeSIMRequest_Output">
        <part name="ChangeSIMRequest_Output" element="tns:ChangeSIMRequest_Output"/>
    </message>
    <portType name="CBiO2_spcTremblant_spcChangeSIM_spcWFP">
        <operation name="ChangeSIMRequest">
            <input message="tns:ChangeSIMRequest_Input"/>
            <output message="tns:ChangeSIMRequest_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcTremblant_spcChangeSIM_spcWFP" type="tns:CBiO2_spcTremblant_spcChangeSIM_spcWFP">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="ChangeSIMRequest">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:ChangeSIMRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2ExternalChannelTremblantChangeSIMWS">
        <port binding="tns:CBiO2_spcTremblant_spcChangeSIM_spcWFP" name="CBiO2_spcTremblant_spcChangeSIM_spcWFP">
            <soap:address location="http://10.96.107.10:7777/ecommunications_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;WSSOAP=1"/>
        </port>
    </service>
</definitions>