src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/WSDL/CBiO2AppleiWatchFactoryResetWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2AppleiWatchFactoryResetIO"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2AppleiWatchFactoryResetIO"
 targetNamespace="http://www.siebel.com/xml/CBiO2AppleiWatchFactoryResetIO"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="CBiO2AppleiWatchFactoryReset"
 type="xsdLocal1:CBiO2AppleiWatchFactoryReset"
></xsd:element
><xsd:complexType
 name="CBiO2AppleiWatchFactoryResetTopElmt"
><xsd:sequence
><xsd:element
 name="CBiO2AppleiWatchFactoryReset"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:CBiO2AppleiWatchFactoryReset"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2AppleiWatchFactoryReset"
><xsd:sequence
><xsd:element
 name="CBiO2OrderDetails"
 type="xsdLocal1:CBiO2OrderDetails"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2OrderDetails"
><xsd:sequence
><xsd:element
 name="SubscriberNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2sourceSecondaryDeviceInfo"
 type="xsdLocal1:CBiO2sourceSecondaryDeviceInfo"
></xsd:element
><xsd:element
 name="UserName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2targetSecondaryDeviceInfo"
 type="xsdLocal1:CBiO2targetSecondaryDeviceInfo"
></xsd:element
><xsd:element
 name="Channel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderReason"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2sourceSecondaryDeviceInfo"
><xsd:sequence
><xsd:element
 name="iccid"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="msisdn"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="imsi"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="primarymsisdn"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="primaryimsi"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="deviceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="eid"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2targetSecondaryDeviceInfo"
><xsd:sequence
><xsd:element
 name="KI"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PIN1"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PIN2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PUK1"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PUK2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SIMType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReservedFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SimSerialNo"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="transportKey"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VendorCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="deviceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="eid"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="hlcodepub"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iccid"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="imei"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="meid"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IMSI"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2AppleiWatchFactoryResetIO"
></xsd:import
><xsd:element
 name="CBiO2AppleiWatchFactoryResetWS_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:CBiO2AppleiWatchFactoryReset"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CBiO2AppleiWatchFactoryResetWS_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="CRMOrderNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_Occurance_Time"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_SourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_SourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_Type"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
></types
><message
 name="CBiO2AppleiWatchFactoryResetWS_Input"
><part
 name="CBiO2AppleiWatchFactoryResetWS_Input"
 element="tns:CBiO2AppleiWatchFactoryResetWS_Input"
></part
></message
><message
 name="CBiO2AppleiWatchFactoryResetWS_Output"
><part
 name="CBiO2AppleiWatchFactoryResetWS_Output"
 element="tns:CBiO2AppleiWatchFactoryResetWS_Output"
></part
></message
><portType
 name="CBiO2AppleiWatchFactoryResetWS"
><operation
 name="CBiO2AppleiWatchFactoryResetWS"
><input
 message="tns:CBiO2AppleiWatchFactoryResetWS_Input"
></input
><output
 message="tns:CBiO2AppleiWatchFactoryResetWS_Output"
></output
></operation
></portType
><binding
 name="CBiO2AppleiWatchFactoryResetWS"
 type="tns:CBiO2AppleiWatchFactoryResetWS"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CBiO2AppleiWatchFactoryResetWS"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CBiO2AppleiWatchFactoryResetWS"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2AppleiWatchFactoryResetWS"
><port
 binding="tns:CBiO2AppleiWatchFactoryResetWS"
 name="CBiO2AppleiWatchFactoryResetWS"
><soap:address
 location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtCmd=Execute&amp;SWEExtSource=SecureWebService&amp;WSSOAP=1"
></soap:address
></port
></service
></definitions
>