src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/WSDL/CBiO2TransfereSIMSubsPrimaryDeviceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2TransfereSIMSubsPrimaryDevice"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/CBiO2TransfereSIMSubsPrimaryDevice"
></xsd:import
><xsd:element
 name="CBiO2TransfereSIMSubsPrimaryDevice_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:CBiO2TransfereSIMSubsPrimaryDevice"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="CBiO2TransfereSIMSubsPrimaryDevice_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_Occurance_Time"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_SourceErrCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_SourceErrDesc"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_Type"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderNumber"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iccid"
 type="xsd:string"
></xsd:element
><xsd:element
 name="imei"
 type="xsd:string"
></xsd:element
><xsd:element
 name="imsi"
 type="xsd:string"
></xsd:element
><xsd:element
 name="meid"
 type="xsd:string"
></xsd:element
><xsd:element
 name="msisdn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="primaryImsi"
 type="xsd:string"
></xsd:element
><xsd:element
 name="primaryMsisdn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="profileReleased"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sourceIccid"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/CBiO2TransfereSIMSubsPrimaryDevice"
 targetNamespace="http://www.siebel.com/xml/CBiO2TransfereSIMSubsPrimaryDevice"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="CBiO2TransfereSIMSubsPrimaryDevice"
 type="xsdLocal1:CBiO2TransfereSIMSubsPrimaryDevice"
></xsd:element
><xsd:complexType
 name="CBiO2TransfereSIMSubsPrimaryDeviceTopElmt"
><xsd:sequence
><xsd:element
 name="CBiO2TransfereSIMSubsPrimaryDevice"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:CBiO2TransfereSIMSubsPrimaryDevice"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2TransfereSIMSubsPrimaryDevice"
><xsd:sequence
><xsd:element
 name="CBiO2OrderDetails"
 type="xsdLocal1:CBiO2OrderDetails"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2OrderDetails"
><xsd:sequence
><xsd:element
 name="SubscriberNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TransactionId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2sourcePrimaryDeviceInfo"
 type="xsdLocal1:CBiO2sourcePrimaryDeviceInfo"
></xsd:element
><xsd:element
 name="UserName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CBiO2targetPrimaryDeviceInfo"
 type="xsdLocal1:CBiO2targetPrimaryDeviceInfo"
></xsd:element
><xsd:element
 name="Channel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderReason"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrderType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2sourcePrimaryDeviceInfo"
><xsd:sequence
><xsd:element
 name="iccid"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="msisdn"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="imsi"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="primarymsisdn"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="primaryimsi"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="deviceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="eid"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CBiO2targetPrimaryDeviceInfo"
><xsd:sequence
><xsd:element
 name="KI"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PIN1"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PIN2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PUK1"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PUK2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SIMType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ReservedFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SimSerialNo"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="transportKey"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="VendorCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="deviceType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="eid"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="hlcodepub"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iccid"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="imei"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="meid"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="imsi"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="CBiO2TransfereSIMSubsPrimaryDevice_Input"
><part
 name="CBiO2TransfereSIMSubsPrimaryDevice_Input"
 element="tns:CBiO2TransfereSIMSubsPrimaryDevice_Input"
></part
></message
><message
 name="CBiO2TransfereSIMSubsPrimaryDevice_Output"
><part
 name="CBiO2TransfereSIMSubsPrimaryDevice_Output"
 element="tns:CBiO2TransfereSIMSubsPrimaryDevice_Output"
></part
></message
><portType
 name="CBiO2TransfereSIMSubsPrimaryDeviceWF"
><operation
 name="CBiO2TransfereSIMSubsPrimaryDevice"
><input
 message="tns:CBiO2TransfereSIMSubsPrimaryDevice_Input"
></input
><output
 message="tns:CBiO2TransfereSIMSubsPrimaryDevice_Output"
></output
></operation
></portType
><binding
 name="CBiO2TransfereSIMSubsPrimaryDeviceWF"
 type="tns:CBiO2TransfereSIMSubsPrimaryDeviceWF"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="CBiO2TransfereSIMSubsPrimaryDevice"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:CBiO2TransfereSIMSubsPrimaryDevice"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="CBiO2TransfereSIMSubsPrimaryDeviceWS"
><port
 binding="tns:CBiO2TransfereSIMSubsPrimaryDeviceWF"
 name="CBiO2TransfereSIMSubsPrimaryDeviceWF"
><soap:address
 location="http://&lt;webserver&gt;/eai_anon_&lt;lang&gt;/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>