src/GW_AppleiWatchSESSwap/Services/SESEntServer/Resources/WSDL/http___siebel.com_CustomUI_CBiO2 Apple Rio-Transfer WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://siebel.com/CustomUI" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://siebel.com/CustomUI">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://siebel.com/CustomUI">
            <xsd:element name="RioTransfer_Input">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="VendorCode" type="xsd:string"/>
                        <xsd:element name="NickName" type="xsd:string"/>
                        <xsd:element name="EID" type="xsd:string"/>
                        <xsd:element name="SimId" type="xsd:string"/>
                        <xsd:element name="Ki" type="xsd:string"/>
                        <xsd:element name="Puk1" type="xsd:string"/>
                        <xsd:element name="TransportKey" type="xsd:string"/>
                        <xsd:element name="ProductId" type="xsd:string"/>
                        <xsd:element name="OldEID" type="xsd:string"/>
                        <xsd:element name="Channel" type="xsd:string"/>
                        <xsd:element name="UserName" type="xsd:string"/>
                        <xsd:element name="SIMItemCode" type="xsd:string"/>
                        <xsd:element name="OrderDate" type="xsd:string"/>
                        <xsd:element name="MSISDN" type="xsd:string"/>
                        <xsd:element name="Pin2" type="xsd:string"/>
                        <xsd:element name="Pin1" type="xsd:string"/>
                        <xsd:element name="BSCSBillingAccountId" type="xsd:string"/>
                        <xsd:element name="Puk2" type="xsd:string"/>
                        <xsd:element name="Imsi" type="xsd:string"/>
                        <xsd:element name="HlcodePub" type="xsd:string"/>
                        <xsd:element name="CustomerId" type="xsd:string"/>
                        <xsd:element name="PrimaryIMSI" type="xsd:string"/>
                        <xsd:element name="ParentProductId" type="xsd:string"/>
                        <xsd:element name="SimType" type="xsd:string"/>
                        <xsd:element name="SimSerialNum" type="xsd:string"/>
                        <xsd:element name="ProductName" type="xsd:string"/>
                        <xsd:element name="TransactionId" type="xsd:string"/>
                        <xsd:element name="Operation" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RioTransfer_Output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BSCSBillingAccountId" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc1" type="xsd:string"/>
                        <xsd:element name="ErrorAdditionalDesc2" type="xsd:string"/>
                        <xsd:element name="ErrorOccuranceTime" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorSourceErrDesc" type="xsd:string"/>
                        <xsd:element name="ErrorSourceSystem" type="xsd:string"/>
                        <xsd:element name="ErrorType" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrCode" type="xsd:string"/>
                        <xsd:element name="ErrorUserErrDesc" type="xsd:string"/>
                        <xsd:element name="OrderNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="RioTransfer_Input">
        <part name="RioTransfer_Input" element="tns:RioTransfer_Input"/>
    </message>
    <message name="RioTransfer_Output">
        <part name="RioTransfer_Output" element="tns:RioTransfer_Output"/>
    </message>
    <portType name="CBiO2_spcApple_spcRio-Transfer_spcWS">
        <operation name="RioTransfer">
            <input message="tns:RioTransfer_Input"/>
            <output message="tns:RioTransfer_Output"/>
        </operation>
    </portType>
    <binding name="CBiO2_spcApple_spcRio-Transfer_spcWS" type="tns:CBiO2_spcApple_spcRio-Transfer_spcWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="RioTransfer">
            <soap:operation soapAction="document/http://siebel.com/CustomUI:RioTransfer"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CBiO2_spcApple_spcRio-Transfer_spcWS">
        <port binding="tns:CBiO2_spcApple_spcRio-Transfer_spcWS" name="CBiO2_spcApple_spcRio-Transfer_spcWS">
            <soap:address location="http://10.96.107.10:7777/eai_anon_enu/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"/>
        </port>
    </service>
</definitions>