src/CommonProject/BusinessSchemas/Services/Query/QueryServiceOrder/QueryServiceOrderRes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:Qry="http://www.zain.com/BusinessSchemas/Services/Query/QueryServiceOrder/QueryServiceOrderRes.xsd"
	 targetNamespace="http://www.zain.com/BusinessSchemas/Services/Query/QueryServiceOrder/QueryServiceOrderRes.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="QueryServiceOrderRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="headerInfoList" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="headerInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Customerorderno" type="xs:string" minOccurs="0"/>
										<xs:element name="Serviceorderno" type="xs:string" minOccurs="0"/>
										<xs:element name="Ordertype" type="xs:string" minOccurs="0"/>
										<xs:element name="Creationdate" type="xs:string" minOccurs="0"/>
										<xs:element name="Orderstatus" type="xs:string" minOccurs="0"/>
										<xs:element name="Customerid" type="xs:string" minOccurs="0"/>
										<xs:element name="Customername" type="xs:string" minOccurs="0"/>
										<xs:element name="Channel" type="xs:string" minOccurs="0"/>
										<xs:element name="Buid" type="xs:string" minOccurs="0"/>
										<xs:element name="Attribute1" type="xs:string" minOccurs="0"/>
										<xs:element name="Attribute2" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="detailInfoList" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="detailsInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="serviceOrderNo" type="xs:string" minOccurs="0"/>
										<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
										<xs:element name="activityCode" type="xs:string" minOccurs="0"/>
										<xs:element name="activityDetails" type="xs:string" minOccurs="0"/>
										<xs:element name="startTime" type="xs:string" minOccurs="0"/>
										<xs:element name="endTime" type="xs:string" minOccurs="0"/>
										<xs:element name="activityStatus" type="xs:string" minOccurs="0"/>
										<xs:element name="duration" type="xs:string" minOccurs="0"/>
										<xs:element name="processDuration" type="xs:string" minOccurs="0"/>
										<xs:element name="processId" type="xs:string" minOccurs="0"/>
										<xs:element name="activityIndex" type="xs:string" minOccurs="0"/>
										<xs:element name="attribute1" type="xs:string" minOccurs="0"/>
										<xs:element name="attribute2" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>