src/CommonProject/BusinessSchemas/Services/Applications/Common/BillAdjustment/BillAdjustment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/BillAdjustment.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/BillAdjustment.xsd"
	 version="1.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="BillAdjustmentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header" minOccurs="0"/>
				<xs:element ref="PaymentType" minOccurs="0"/>
				<xs:element ref="totalAmount"/>
				<xs:element ref="CRMCustomerID" minOccurs="0"/>
				<xs:element ref="BillingAccountID" minOccurs="0"/>
				<xs:element ref="MSISDN" minOccurs="0"/>
				<xs:element ref="ContractID"/>
				<xs:element ref="InvoiceId" minOccurs="0"/>
				<xs:element ref="ChannelDetails" minOccurs="0"/>
				<xs:element ref="AdjustmentType" minOccurs="0"/>
				<xs:element ref="BillAdjType" minOccurs="0"/>
				<xs:element ref="GLCode" minOccurs="0"/>
				<xs:element ref="References" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillAdjustmentResponse" type="Response"/>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ExternalTransactionID" type="xs:string" minOccurs="0"/>
				<xs:element name="Timestamp" type="xs:dateTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaymentType" type="xs:string"/>
	<xs:element name="CRMCustomerID" type="xs:string"/>
	<xs:element name="ChannelDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="payDate" minOccurs="0"/>
				<xs:element ref="payAuthCode" minOccurs="0"/>
				<xs:element ref="channel" minOccurs="0"/>
				<xs:element ref="user" minOccurs="0"/>
				<xs:element ref="sourceTransactionId" minOccurs="0"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="merchantId" minOccurs="0"/>
				<xs:element ref="terminalId" minOccurs="0"/>
				<xs:element ref="cardnum" minOccurs="0"/>
				<xs:element ref="remarks" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="totalAmount" type="Money"/>
	<xs:complexType name="Money">
		<xs:sequence>
			<xs:element ref="amount"/>
			<xs:element ref="currency" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="amount" type="xs:decimal" nillable="true"/>
	<xs:element name="currency" type="xs:string"/>
	<xs:element name="payDate" type="xs:string"/>
	<xs:element name="payAuthCode" type="xs:string"/>
	<xs:element name="channel" type="xs:string"/>
	<xs:element name="user" type="xs:string"/>
	<xs:element name="sourceTransactionId" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="merchantId" type="xs:string"/>
	<xs:element name="terminalId" type="xs:string"/>
	<xs:element name="remarks" type="xs:string"/>
	<xs:element name="transactionId" type="xs:string"/>
	<xs:element name="AdjustmentType" type="xs:string"/>
	<xs:element name="BillAdjType" type="xs:string"/>
	<xs:element name="GLCode" type="xs:string"/>
	<xs:element name="References">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="items" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="cardnum" type="xs:string"/>
	<xs:element name="Error" type="Error"/>
	<xs:complexType name="Error">
		<xs:sequence>
			<xs:element name="Error_SourceSystem" type="xs:string"/>
			<xs:element name="Error_SourceErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_SourceErrDesc" type="xs:string"/>
			<xs:element name="Error_Type" type="xs:string"/>
			<xs:element name="Error_UserErrCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_UserErrDesc" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Occurance_Time" type="xs:string"/>
			<xs:element name="Error_Additional_Desc1" type="xs:string" minOccurs="0"/>
			<xs:element name="Error_Additional_Desc2" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="Status" type="xs:string"/>
			<xs:element ref="transactionId"/>
			<xs:element ref="CorrelationID" minOccurs="0"/>
			<xs:element name="ResponseCode" type="xs:string"/>
			<xs:element name="ResponseDesc" type="xs:string" minOccurs="0"/>
			<xs:element ref="Error" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorrelationID" type="xs:string"/>
	<xs:element name="BillingAccountID" type="xs:string"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="InvoiceId" type="xs:string"/>
	<xs:element name="ContractID" type="xs:string"/>
</xs:schema>