src/CommonProject/BusinessWSDLS/Services/BSCS/TerminateInstallment/InstallmentCancelWriteService.wsdl

<wsdl:definitions targetNamespace="http://ericsson.com/services/ws_CIL_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/installmentcancelwrite" xmlns:sch4="http://ericsson.com/services/ws_CIL_5/installmentcancelswrite" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p> Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>New value for a named value.&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/installmentcancelwrite" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/installmentcancelwrite">
			<xs:complexType name="installmentCancelWriteResponse">
				<xs:all>
					<xs:element minOccurs="0" name="response" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>response Message&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="installmentCancelWriteRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>&lt;p>&lt;/p></xs:documentation>
					</xs:annotation>
					<xs:element name="custnum" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>CSIDPUB&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cocode" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>COIDPUB&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderlineno" type="xs:string">
						<xs:annotation>
							<xs:documentation>&lt;p>CRM Order Line Number&lt;/p></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/installmentcancelswrite" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:installmentcancelwrite="http://ericsson.com/services/ws_CIL_5/installmentcancelwrite" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/installmentcancelswrite">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/installmentcancelwrite"/>
			<xs:element name="installmentCancelsWriteRequest" type="wsi:installmentCancelsWriteRequest"/>
			<xs:element name="installmentCancelsWriteResponse" type="wsi:installmentCancelsWriteResponse"/>
			<xs:complexType name="installmentCancelListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="installmentCancelWrite" type="installmentcancelwrite:installmentCancelWriteResponse">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="installmentCancelResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:installmentCancelListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="installmentCancelsWriteResponse">
				<xs:all>
					<xs:element minOccurs="0" name="installmentCancel" type="wsi:installmentCancelResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="installmentCancelListpartRequest">
				<xs:all>
					<xs:element minOccurs="0" name="installmentCancelWrite" type="installmentcancelwrite:installmentCancelWriteRequest">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="installmentCancelRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:installmentCancelListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:element minOccurs="0" name="installmentCancel" type="wsi:installmentCancelRequest"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="installmentCancelsWriteRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="installmentCancelsWriteResponse">
		<wsdl:part element="sch4:installmentCancelsWriteResponse" name="installmentCancelsWriteResponse"/>
	</wsdl:message>
	<wsdl:message name="installmentCancelsWriteRequest">
		<wsdl:part element="sch4:installmentCancelsWriteRequest" name="installmentCancelsWriteRequest"/>
	</wsdl:message>
	<wsdl:portType name="InstallmentCancelsWriteService">
		<wsdl:operation name="installmentCancelsWrite">
			<wsdl:input message="tns:installmentCancelsWriteRequest" name="installmentCancelsWriteRequest"/>
			<wsdl:output message="tns:installmentCancelsWriteResponse" name="installmentCancelsWriteResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InstallmentCancelsWriteServiceSoap11" type="tns:InstallmentCancelsWriteService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="installmentCancelsWrite">
			<soap:operation soapAction=""/>
			<wsdl:input name="installmentCancelsWriteRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="installmentCancelsWriteResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InstallmentCancelsWriteService">
		<wsdl:port binding="tns:InstallmentCancelsWriteServiceSoap11" name="InstallmentCancelsWriteServiceSoap11">
			<soap:address location="http://10.103.23.91:20103/wsi/services/ws_CIL_5_InstallmentCancelsWriteService.wsdl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>