src/CommonProject/BusinessWSDLS/Services/WSDLS/GetGiftedOfferBalance/GetGiftedOffersBalance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://www.ZAIN.com/BusinessSchemas/Query/GetGiftedOfferBalanceReq.xsd" xmlns:ns1="http://www.zain.com/ZESB/Types/Common" xmlns:ns4="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" xmlns:ns="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types" xmlns:ns3="http://www.ZAIN.com/BusinessSchemas/Query/GetGiftedOfferBalanceRes.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.zain.com/ZESB/Services/GetGiftedOffersBalance" xmlns:ns0="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GetGiftedOffersOffersBalance" targetNamespace="http://www.zain.com/ZESB/Services/GetGiftedOffersBalance">
    <wsdl:import namespace="http://www.ZAIN.com/BusinessSchemas/Query/GetGiftedOfferBalanceReq.xsd" location="../../../../BusinessSchemas/Services/Query/GetGiftedOfferBalance/GetGiftedOfferBalanceReq.xsd"/>
    <wsdl:import namespace="http://www.ZAIN.com/BusinessSchemas/Query/GetGiftedOfferBalanceRes.xsd" location="../../../../BusinessSchemas/Services/Query/GetGiftedOfferBalance/GetGiftedOfferBalanceRes.xsd"/>
    <wsdl:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" location="../../../../CDM/ZainKWFault.xsd"/>
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:import namespace="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types"/>
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element minOccurs="0" name="extErrorCode" type="xs:string"/>
                        <xs:element minOccurs="0" name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Services/GetGiftedOffersOffers/Types">
            <xs:import namespace="http://www.zain.com/ZESB/Types/Common"/>
            <xs:complexType name="OfferList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns0:Offer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetGiftedOffersOffersInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Msisdn" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetGiftedOffersOffersOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OfferList" type="ns0:OfferList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Offer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OfferId" type="xs:string"/>
                        <xs:element name="OfferName" type="xs:string"/>
                        <xs:element name="OfferType" type="xs:string"/>
                        <xs:element minOccurs="0" name="ProductId" type="xs:string"/>
                        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
                        <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetGiftedOffersBalanceRequest">
        <wsdl:part name="request" element="ns2:GetGiftedOfferBalanceReq"/>
    </wsdl:message>
    <wsdl:message name="GetGiftedOffersBalanceResponse">
        <wsdl:part name="response" element="ns3:GetGiftedOfferBalanceRes"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="ns4:ErrorResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetGiftedOffersBalPort">
        <wsdl:operation name="GetGiftedOffersBal">
            <wsdl:input message="tns:GetGiftedOffersBalanceRequest"/>
            <wsdl:output message="tns:GetGiftedOffersBalanceResponse"/>
            <wsdl:fault name="fault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetGiftedOffersOffersEndpoint" type="tns:GetGiftedOffersBalPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetGiftedOffersOffers">
            <wsdl:documentation/>
            <soap:operation soapAction="GetGiftedOffersOffers" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetGiftedOffersOffers">
        <wsdl:port binding="tns:GetGiftedOffersOffersEndpoint" name="GetGiftedOffersOffersPortEndpoint">
            <soap:address location="http://10.96.11.37:7070/ESB/SOAP/GetGiftedOffersOffers"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>