src/CommonProject/BusinessSchemas/Services/Applications/Common/CustomerPPAssignment/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/Fault.xsd"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Applications/Common/Fault.xsd"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="ExceptionRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="type" type="xsd:string" minOccurs="0"/>
				<xsd:element name="code" type="xsd:string" minOccurs="0"/>
				<xsd:element name="description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sourceSystem" type="xsd:string" minOccurs="0"/>
				<xsd:element name="extErrorCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="detail" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>