src/ESI_CMS/BusinessProcesses/Services/Query/CampaignsFollow/Schema/ResponseMap.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Responses" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="InteractionDate" minOccurs="0"/>
							<xs:element ref="InteractionStatus" minOccurs="0"/>
							<xs:element ref="ChannelName" minOccurs="0"/>
							<xs:element ref="SenderID" minOccurs="0"/>
							<xs:element name="ChannelParameters" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="InteractionDate" minOccurs="0"/>
										<xs:element ref="InteractionStatus" minOccurs="0"/>
										<xs:element ref="ChannelName" minOccurs="0"/>
										<xs:element name="ID" type="xs:string" minOccurs="0"/>
										<xs:element name="Name" type="xs:string" minOccurs="0"/>
										<xs:element name="EndDate" type="xs:string" minOccurs="0"/>
										<xs:element name="LaunchDate" type="xs:string" minOccurs="0"/>
										<xs:element name="OfferName" type="xs:string" minOccurs="0"/>
										<xs:element name="CommercialProductID" type="xs:string" minOccurs="0"/>
										<xs:element name="SenderId" type="xs:string" minOccurs="0"/>
										<xs:element name="MessageContent" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InteractionDate" type="xs:string"/>
	<xs:element name="InteractionStatus" type="xs:string"/>
	<xs:element name="ChannelName" type="xs:string"/>
	<xs:element name="SenderID" type="xs:string"/>
</xs:schema>