src/ESI_CMS/BusinessProcesses/Services/Query/CampaignsFollow/Schema/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="campaignFollowupResponseElement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="response" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="resultCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="campaignCatalogName" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignDefinitionId" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignEndDate" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignGroupId" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignId" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignName" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignProperties" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="key" type="xs:string" minOccurs="0"/>
										<xs:element name="value" type="xs:string" nillable="true" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="campaignStartDate" type="xs:string" minOccurs="0"/>
				<xs:element name="campaignType" type="xs:string" minOccurs="0"/>
				<xs:element name="channelName" type="xs:string" minOccurs="0"/>
				<xs:element name="msisdn" type="xs:string" minOccurs="0"/>
				<xs:element name="response" type="xs:string" minOccurs="0"/>
				<xs:element name="transactionDate" type="xs:string" minOccurs="0"/>
				<xs:element name="treatmentDetail" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="channelParameters" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="channelName" type="xs:string" minOccurs="0"/>
										<xs:element name="parameters" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="key" type="xs:string" minOccurs="0"/>
																<xs:element name="value" type="xs:anySimpleType" nillable="true" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="controlGroup" type="xs:string" minOccurs="0"/>
							<xs:element name="controlGroupPercentage" type="xs:string" minOccurs="0"/>
							<xs:element name="deliveryChannelLimit" type="xs:string" minOccurs="0"/>
							<xs:element name="deliveryChannelLimitPeriod" type="xs:string" minOccurs="0"/>
							<xs:element name="treatmentDescription" type="xs:string" minOccurs="0"/>
							<xs:element name="treatmentName" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="treatmentName" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>