src/CommonProject/BusinessWSDLS/Services/WSDLS/HuaweiHLR/HSSV900R009C00SPC202.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ssd="http://www.huawei.com/SPGSchema" xmlns:tns="http://www.huawei.com/HSS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cgp="http://www.huawei.com/IMS/HSSV900R009C00SPC202" targetNamespace="http://www.huawei.com/HSS">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/HSS">
            <xs:element name="OperationFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="faultReason" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Authentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Username" type="xs:string"/>
                        <xs:element name="Password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LST_SUB">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IMSI" type="xs:string">
                            <xs:annotation>
                                <xs:documentation/>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="ISDN" type="xs:string">
                            <xs:annotation>
                                <xs:documentation/>
                            </xs:annotation>
                        </xs:element>
                        <xs:element default="0" minOccurs="0" name="DETAIL" type="xs:string">
                            <xs:annotation>
                                <xs:documentation/>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element xmlns:hss="http://www.huawei.com/HSS" name="LST_SUBResponse" type="hss:LST_SUBResponseType"/>
            <xs:complexType name="GroupType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="HLRSN" type="xs:int"/>
                    <xs:element minOccurs="0" name="IMSI" type="xs:long"/>
                    <xs:element minOccurs="0" name="ISDN" type="xs:long"/>
                    <xs:element minOccurs="0" name="CardType" type="xs:string"/>
                    <xs:element minOccurs="0" name="NAM" type="xs:string"/>
                    <xs:element minOccurs="0" name="CATEGORY" type="xs:string"/>
                    <xs:element minOccurs="0" name="SUB_AGE" type="xs:int"/>
                    <xs:element minOccurs="0" name="BaocForVlrRestrict" type="xs:string"/>
                    <xs:element xmlns:hss="http://www.huawei.com/HSS" maxOccurs="unbounded" minOccurs="0" name="Group" type="hss:GroupType"/>
                    <xs:element minOccurs="0" name="GSM_IC" type="xs:string"/>
                    <xs:element minOccurs="0" name="GSM_OC" type="xs:string"/>
                    <xs:element minOccurs="0" name="GPRSLOCK" type="xs:string"/>
                    <xs:element minOccurs="0" name="SABLOCK_IC" type="xs:string"/>
                    <xs:element minOccurs="0" name="IMEI" type="xs:string"/>
                    <xs:element minOccurs="0" name="SABLOCK_OC" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="TS" type="xs:string"/>
                    <xs:element minOccurs="0" name="BS" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="DEFAULTCALL_TS" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBSS" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBOC" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBIC" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBPB1" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBPB2" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBPB3" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBPB4" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBENTE" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBINFO" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBROAM" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBRCF" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBDECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBMECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBPOS" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBPOSTYPE" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBENTEROAM" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBINFOROAM" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFU" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFU_NCS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFU_COU" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFU_FTN" type="xs:long"/>
                    <xs:element minOccurs="0" name="CFU_BSG" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFU_STATUS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFB" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFB_NFS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFB_NCS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFB_COU" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFB_FTN" type="xs:long"/>
                    <xs:element minOccurs="0" name="CFB_BSG" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFB_STATUS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRY" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRY_NFS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRY_NCS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRY_COU" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRY_BSG" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRY_STATUS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRC" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRC_NCS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRC_COU" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRC_BSG" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFNRC_STATUS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_NFS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_NCS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_SUPINTERCFD" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_VALIDCCF" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_SHORTNUM" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_FTN" type="xs:long"/>
                    <xs:element minOccurs="0" name="CFD_BSG" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_STATUS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CFD_NotReplyTime" type="xs:int"/>
                    <xs:element minOccurs="0" name="BAOC" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="BOIC" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="BOIC_TS1X" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="BOIC_TS2X" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="BOIC_TS3X" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="BOIC_TS4X" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="BOIC_TS5X" type="xs:string"/>
                    <xs:element minOccurs="0" name="BOICEXHC" type="xs:string"/>
                    <xs:element minOccurs="0" name="BORO" type="xs:string"/>
                    <xs:element minOccurs="0" name="BAIC" type="xs:string"/>
                    <xs:element minOccurs="0" name="BICROAM" type="xs:string"/>
                    <xs:element minOccurs="0" name="CBCOU" type="xs:string"/>
                    <xs:element minOccurs="0" name="CLIP" type="xs:string"/>
                    <xs:element minOccurs="0" name="CLIR" type="xs:string"/>
                    <xs:element minOccurs="0" name="COLP" type="xs:string"/>
                    <xs:element minOccurs="0" name="COLR" type="xs:string"/>
                    <xs:element minOccurs="0" name="ECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="CW" type="xs:string"/>
                    <xs:element minOccurs="0" name="HOLD" type="xs:string"/>
                    <xs:element minOccurs="0" name="MPTY" type="xs:string"/>
                    <xs:element minOccurs="0" name="MC" type="xs:string"/>
                    <xs:element minOccurs="0" name="AOCI" type="xs:string"/>
                    <xs:element minOccurs="0" name="AOCC" type="xs:string"/>
                    <xs:element minOccurs="0" name="CUG" type="xs:string"/>
                    <xs:element minOccurs="0" name="UUS1" type="xs:string"/>
                    <xs:element minOccurs="0" name="UUS2" type="xs:string"/>
                    <xs:element minOccurs="0" name="UUS3" type="xs:string"/>
                    <xs:element minOccurs="0" name="SMSCF" type="xs:string"/>
                    <xs:element minOccurs="0" name="OCSI_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="OCSI_NAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="OCSISTATE" type="xs:string"/>
                    <xs:element minOccurs="0" name="TCSI_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="TCSI_NAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="TCSISTATE" type="xs:string"/>
                    <xs:element minOccurs="0" name="SMSCSI_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="SMSCSI_NAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="MOSMSCSISTATE" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-1" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-2" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-3" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-4" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-5" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-6" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-7" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-8" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-9" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-A" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-B" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-C" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-D" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-E" type="xs:string"/>
                    <xs:element minOccurs="0" name="plmn-specificSS-F" type="xs:string"/>
                    <xs:element minOccurs="0" name="CNAP" type="xs:string"/>
                    <xs:element minOccurs="0" name="TIFCSI" type="xs:string"/>
                    <xs:element minOccurs="0" name="VLRLIST_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="VLRLIST_NAME" type="xs:string"/>
                    <xs:element minOccurs="0" name="CHARGE_GLOBAL" type="xs:string"/>
                    <xs:element minOccurs="0" name="CNTXID" type="xs:int"/>
                    <xs:element minOccurs="0" name="PDPTYPE" type="xs:string"/>
                    <xs:element minOccurs="0" name="ADDIND" type="xs:string"/>
                    <xs:element minOccurs="0" name="VPLMN" type="xs:string"/>
                    <xs:element minOccurs="0" name="CHARGE" type="xs:string"/>
                    <xs:element minOccurs="0" name="APNTPLID" type="xs:int"/>
                    <xs:element minOccurs="0" name="QOSTPLID" type="xs:int"/>
                    <xs:element minOccurs="0" name="SMDP" type="xs:string"/>
                    <xs:element minOccurs="0" name="ALS" type="xs:string"/>
                    <xs:element minOccurs="0" name="VVDN" type="xs:string"/>
                    <xs:element minOccurs="0" name="ARD" type="xs:string"/>
                    <xs:element minOccurs="0" name="CARP" type="xs:string"/>
                    <xs:element minOccurs="0" name="RROption" type="xs:string"/>
                    <xs:element minOccurs="0" name="VBS" type="xs:string"/>
                    <xs:element minOccurs="0" name="VGCS" type="xs:string"/>
                    <xs:element minOccurs="0" name="EMLPP" type="xs:string"/>
                    <xs:element minOccurs="0" name="FMInit" type="xs:string"/>
                    <xs:element minOccurs="0" name="FMSupervisor" type="xs:string"/>
                    <xs:element minOccurs="0" name="FMRemote" type="xs:string"/>
                    <xs:element minOccurs="0" name="IST" type="xs:string"/>
                    <xs:element minOccurs="0" name="DIC" type="xs:string"/>
                    <xs:element minOccurs="0" name="VlrNum" type="xs:long"/>
                    <xs:element minOccurs="0" name="MscNum" type="xs:long"/>
                    <xs:element minOccurs="0" name="MsPurgedForNonGprs" type="xs:string"/>
                    <xs:element minOccurs="0" name="VLRInHplmn" type="xs:string"/>
                    <xs:element minOccurs="0" name="VLRInHomeCountry" type="xs:string"/>
                    <xs:element minOccurs="0" name="VLRInArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="RequireCheckSS" type="xs:string"/>
                    <xs:element minOccurs="0" name="RoamingRestrictInMscDueToUnsupportedFeature" type="xs:string"/>
                    <xs:element minOccurs="0" name="MscOrVlrAreaRoamingRestrict" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBarredForUnsupportedCamel" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedCamelPhase1" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedCamelPhase2" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedCamelPhase3" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedCamelPhase4" type="xs:string"/>
                    <xs:element minOccurs="0" name="SRIMsrnCfActive" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZoneCodeStatusAtMsc" type="xs:string"/>
                    <xs:element minOccurs="0" name="longGroupIDSupported" type="xs:string"/>
                    <xs:element minOccurs="0" name="basicISTSupported" type="xs:string"/>
                    <xs:element minOccurs="0" name="istCommandSupported" type="xs:string"/>
                    <xs:element minOccurs="0" name="SuperChargerSupportedForGsm" type="xs:string"/>
                    <xs:element minOccurs="0" name="ECATEGORYAtMsc" type="xs:string"/>
                    <xs:element minOccurs="0" name="CS-MSISDN-LESS" type="xs:string"/>
                    <xs:element minOccurs="0" name="CsUplStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="SgsnNum" type="xs:string"/>
                    <xs:element minOccurs="0" name="SgsnAddressType" type="xs:string"/>
                    <xs:element minOccurs="0" name="SgsnAddress" type="xs:string"/>
                    <xs:element minOccurs="0" name="SgsnInHplmn" type="xs:string"/>
                    <xs:element minOccurs="0" name="MsPurgedForGprs" type="xs:string"/>
                    <xs:element minOccurs="0" name="SgsnInHomeCountry" type="xs:string"/>
                    <xs:element minOccurs="0" name="SgsnInArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="RoamingRestrictInSgsnDueToUnsupportedFeature" type="xs:string"/>
                    <xs:element minOccurs="0" name="SgsnAreaRoamingRestrict" type="xs:string"/>
                    <xs:element minOccurs="0" name="ODBarredForUnsupportedCamelForGprs" type="xs:string"/>
                    <xs:element minOccurs="0" name="PS-MSISDN-LESS" type="xs:string"/>
                    <xs:element minOccurs="0" name="PsUplStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedCamelPhase3_SGSN" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedCamelPhase4_SGSN" type="xs:string"/>
                    <xs:element minOccurs="0" name="SuperChargerSupportedForGprs" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZoneCodeStatusAtSgsn" type="xs:string"/>
                    <xs:element minOccurs="0" name="MCEFforGSM" type="xs:string"/>
                    <xs:element minOccurs="0" name="MNRF" type="xs:string"/>
                    <xs:element minOccurs="0" name="MNRRforGSM" type="xs:string"/>
                    <xs:element minOccurs="0" name="MCEFforGPRS" type="xs:string"/>
                    <xs:element minOccurs="0" name="MNRG" type="xs:string"/>
                    <xs:element minOccurs="0" name="MNRRforGPRS" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedShortMessageMTPP" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupportedShortMessageMOPP" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredSSAccess" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredOutgoingEntertainmentCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredOutgoingInformationCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupGSMODB-BarredOutgoingInternationalCallExHC" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupGSMODB-BarredOutgoingInternationalCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupGSMODB-BarredAllOutgoingCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredAllECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredChargeableECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredInternationalECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredInterzonalECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredDECT" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarredMECT" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="SC" type="xs:string"/>
                    <xs:element minOccurs="0" name="UnsupSS" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupGPRSODB-BarredAllOutgoingCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupGPRSODB-BarredOutgoingInternationalCall" type="xs:string"/>
                    <xs:element minOccurs="0" name="SupGPRSODB-BarredOutgoingInternationalCallExHC" type="xs:string"/>
                    <xs:element minOccurs="0" name="BarringofPacketOrientedServices" type="xs:string"/>
                    <xs:element minOccurs="0" name="MSCSupportedLCSCapabilitySet1" type="xs:string"/>
                    <xs:element minOccurs="0" name="MSCSupportedLCSCapabilitySet2" type="xs:string"/>
                    <xs:element minOccurs="0" name="SGSNSupportedLCSCapabilitySet2" type="xs:string"/>
                    <xs:element minOccurs="0" name="ALS_DYN" type="xs:string"/>
                    <xs:element minOccurs="0" name="VVDN_DYN" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="Name" type="xs:string" use="optional"/>
            </xs:complexType>
            <xs:complexType name="ResultDataType">
                <xs:sequence>
                    <xs:element xmlns:hss="http://www.huawei.com/HSS" maxOccurs="unbounded" minOccurs="0" name="Group" type="hss:GroupType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultType">
                <xs:sequence>
                    <xs:element name="ResultCode" type="xs:int"/>
                    <xs:element name="ResultDesc" type="xs:string"/>
                    <xs:element xmlns:hss="http://www.huawei.com/HSS" maxOccurs="unbounded" minOccurs="0" name="ResultData" type="hss:ResultDataType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LST_SUBResponseType">
                <xs:sequence>
                    <xs:element xmlns:hss="http://www.huawei.com/HSS" name="Result" type="hss:ResultType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="LST_SUBSoapIn">
        <part element="tns:LST_SUB" name="parameters"/>
    </message>
    <message name="LST_SUBSoapOut">
        <part element="tns:LST_SUBResponse" name="parameters"/>
    </message>
    <message name="OperationFault">
        <part element="tns:OperationFault" name="fault"/>
    </message>
    <message name="AuthenticationInfo">
        <part element="tns:Authentication" name="header"/>
    </message>
    <portType name="HSSV900R009C00SPC202">
        <operation name="LST_SUB">
            <input message="tns:LST_SUBSoapIn"/>
            <output message="tns:LST_SUBSoapOut"/>
            <fault message="tns:OperationFault" name="OperationFault"/>
        </operation>
    </portType>
    <binding name="HSSV900R009C00SPC202Binding" type="tns:HSSV900R009C00SPC202">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="LST_SUB">
            <soap:operation soapAction="HSSV900R009C00SPC202#LST_SUB"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="tns:AuthenticationInfo" part="header" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="OperationFault">
                <soap:fault name="fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="HSSV900R009C00SPC202">
        <port binding="tns:HSSV900R009C00SPC202Binding" name="HSSV900R009C00SPC202Port">
            <soap:address location="http://www.huawei.com/IMS/BMU"/>
        </port>
    </service>
</definitions>