src/CommonProject/BusinessWSDLS/Services/WSDLS/TotalRechargesOC/TotalRechargesOC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="http://cms.server.ws.netas.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://cms.server.ws.netas.com" targetNamespace="http://cms.server.ws.netas.com">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://cms.server.ws.netas.com">
            <element name="handleCxHistoryOnlineFunctionsRequest">
                <complexType>
                    <sequence>
                        <element name="request" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="handleCxHistoryOnlineFunctionsRequestResponse">
                <complexType>
                    <sequence>
                        <element name="handleCxHistoryOnlineFunctionsRequestReturn" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="handleCxHistoryOnlineFunctionsRequestRequest">
        <wsdl:part name="parameters" element="impl:handleCxHistoryOnlineFunctionsRequest">

      </wsdl:part>
    </wsdl:message>
    <wsdl:message name="handleCxHistoryOnlineFunctionsRequestResponse">
        <wsdl:part name="parameters" element="impl:handleCxHistoryOnlineFunctionsRequestResponse">

      </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OnlineFunctionsCxHistory">
        <wsdl:operation name="handleCxHistoryOnlineFunctionsRequest">
            <wsdl:input name="handleCxHistoryOnlineFunctionsRequestRequest" message="impl:handleCxHistoryOnlineFunctionsRequestRequest">

       </wsdl:input>
            <wsdl:output name="handleCxHistoryOnlineFunctionsRequestResponse" message="impl:handleCxHistoryOnlineFunctionsRequestResponse">

       </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OnlineFunctionsCxHistorySoapBinding" type="impl:OnlineFunctionsCxHistory">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="handleCxHistoryOnlineFunctionsRequest">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="handleCxHistoryOnlineFunctionsRequestRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="handleCxHistoryOnlineFunctionsRequestResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OnlineFunctionsCxHistoryService">
        <wsdl:port name="OnlineFunctionsCxHistory" binding="impl:OnlineFunctionsCxHistorySoapBinding">
            <wsdlsoap:address location="http://0.0.0.0:7777/CMS/TotalRechargesOC"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>