src/CommonProject/BusinessWSDLS/Services/BSCS/CreditProfileHistRead/ws_CMI_5_CreditProfileHistReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/cocreditprofileread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money">
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element name="amount" type="xs:double"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany">
			<xs:complexType name="svlany">
				<xs:sequence>
					<xs:element name="content" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange">
			<xs:complexType name="valuesListpartRequest">
				<xs:all>
					<xs:element name="key" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>New value for a named value.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="valuesRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sessionChangeRequest">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>
						
						</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/cocreditprofileread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/cocreditprofileread">
			<xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/>
			<xs:element name="coCreditProfileReadRequest" type="wsi:coCreditProfileReadRequest"/>
			<xs:element name="coCreditProfileReadResponse" type="wsi:coCreditProfileReadResponse"/>
			<xs:complexType name="creditriskscorehistlistcustListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="riskScore" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Current Risk Score Of the Customer.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="source" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Source From which the credit category assignment is triggered</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="request" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Request Id </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>UserName </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="processedDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Processing date of the record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isCurrent" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>if the assigned record is the current record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="creditriskscorehistlistcustResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:creditriskscorehistlistcustListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="creditriskscorehistlistsubListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="riskScore" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Current Risk Score Of the Contract.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="source" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Source From which the credit category assignment is triggered</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="request" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Request Id </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>UserName </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="processedDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Processing date of the record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isCurrent" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>if the assigned record is the current record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="creditriskscorehistlistsubResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:creditriskscorehistlistsubListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="creditscorehistlistListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="creditScore" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Current Credit Score Of the Contract.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="source" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Source From which the credit category assignment is triggered</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="request" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Request Id </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>UserName </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="processedDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Processing date of the record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isCurrent" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>if the assigned record is the current record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="creditscorehistlistResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:creditscorehistlistListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="creditratinghistlistListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="crId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Rating ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Rating Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="crDes" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Rating description</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="source" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Source From which the credit category assignment is triggered</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="request" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Request Id </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>UserName </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="processedDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Processing date of the record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isCurrent" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>if the assigned record is the current record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="creditratinghistlistResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:creditratinghistlistListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="creditcategoryhistlistListpartResponse">
				<xs:all>
					<xs:element minOccurs="0" name="ccId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit Category ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="ccIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit category Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="ccDes" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Credit category description Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="source" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Source From which the credit category assignment is triggered</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="request" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Request Id </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="username" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>UserName </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="processedDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Processing date of the record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="isCurrent" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>if the assigned record is the current record</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="creditcategoryhistlistResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:creditcategoryhistlistListpartResponse"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="coCreditProfileReadResponse">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Credit category Assign History</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="unbilledUsage" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Unbilled Usage Amount BILL_ACC_UNBILLED_AMT_VIEW.UNBILLED_AMOUNT</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="unbilledRecurAmt" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Unbilled non Usage Amount </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="unbilledSubscriptAmt" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Unbilled non Usage Amount </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="unbilledOccAmt" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Unbilled non Usage Amount </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="unbilledTotNonUsage" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Unbilled non Usage Amount </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="curBalance" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>open Balance at billing account</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="openAmountFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>open amount flag</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="recurringAmountFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>open amount flag</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="totalUsedCl" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>total used Amount </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="creditLimit" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Current Limit available to the customer at the time of API execution.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="additionalBarrAmount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Current Limit available to the customer at the time of API execution.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="unbarringThresholdAmount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p> unbarring threshold amount </p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="avCreditLimit" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Available Credit Limit CREDIT_LIMIT-BILL_ACC_UNBILLED_AMT_VIEW.UNBILLED_AMOUNT-CO_CREDIT_LIMIT_BAL_TAB-CR_BAL_AMT</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="unbarringAmount" type="xs:double">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>a. The amount for the corporate is the Available Credit limit – Credit Limit=difference amount
							b. The amount for consumer customer will be Available Credit limit – Credit Limit=difference amount + threshold unbarring amount.</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="csSegment" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Customer Segment, Consumer/Corporate/Employee</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="creditcategoryhistlist" type="wsi:creditcategoryhistlistResponse"/>
					<xs:element minOccurs="0" name="creditratinghistlist" type="wsi:creditratinghistlistResponse"/>
					<xs:element minOccurs="0" name="creditscorehistlist" type="wsi:creditscorehistlistResponse"/>
					<xs:element minOccurs="0" name="creditriskscorehistlistsub" type="wsi:creditriskscorehistlistsubResponse"/>
					<xs:element minOccurs="0" name="creditriskscorehistlistcust" type="wsi:creditriskscorehistlistcustResponse"/>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="inputAttributes">
				<xs:all>
					<xs:annotation>
						<xs:documentation>
							<![CDATA[<p>Input arguments</p>]]>
						</xs:documentation>
					</xs:annotation>
					<xs:element minOccurs="0" name="coId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="coIdPub" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>Contract ID Public Key</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="histFlag" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								<![CDATA[<p>History relevant flag to provide all the historical data of credit category assignment, default: No</p>]]>
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="coCreditProfileReadRequest">
				<xs:all>
					<xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/>
					<xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/>
				</xs:all>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="coCreditProfileReadResponse">
		<wsdl:part element="sch3:coCreditProfileReadResponse" name="coCreditProfileReadResponse"/>
	</wsdl:message>
	<wsdl:message name="coCreditProfileReadRequest">
		<wsdl:part element="sch3:coCreditProfileReadRequest" name="coCreditProfileReadRequest"/>
	</wsdl:message>
	<wsdl:portType name="CoCreditProfileReadService">
		<wsdl:operation name="coCreditProfileRead">
			<wsdl:input message="tns:coCreditProfileReadRequest" name="coCreditProfileReadRequest"/>
			<wsdl:output message="tns:coCreditProfileReadResponse" name="coCreditProfileReadResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CoCreditProfileReadServiceSoap11" type="tns:CoCreditProfileReadService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="coCreditProfileRead">
			<soap:operation soapAction=""/>
			<wsdl:input name="coCreditProfileReadRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="coCreditProfileReadResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CoCreditProfileReadService">
		<wsdl:port binding="tns:CoCreditProfileReadServiceSoap11" name="CoCreditProfileReadServiceSoap11">
			<soap:address location="http://10.96.103.208:20103/wsi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>