src/CommonProject/BusinessWSDLS/Services/WSDLS/QuerySIMDetails/QuerySIMDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://www.zain.com/ZESB/Services/QuerySIMDetails" xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:typ="http://www.zain.com/ZESB/Services/QuerySIMDetails/Types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QuerySIMDetails" targetNamespace="http://www.zain.com/ZESB/Services/QuerySIMDetails">
    <wsdl:types>
        <xs:schema xmlns:com="http://www.zain.com/ZESB/Types/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.zain.com/ZESB/Types/Common">
            <xs:element name="FaultType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="code" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element name="sourceSystem" type="xs:string"/>
                        <xs:element name="extErrorCode" type="xs:string"/>
                        <xs:element name="detail" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ParamList">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="StringParam" type="com:StringParam"/>
                    <xs:element maxOccurs="unbounded" name="BooleanParam" type="com:BooleanParam"/>
                    <xs:element maxOccurs="unbounded" name="IntParam" type="com:IntParam"/>
                    <xs:element maxOccurs="unbounded" name="LongParam" type="com:LongParam"/>
                    <xs:element maxOccurs="unbounded" name="FloatParam" type="com:FloatParam"/>
                    <xs:element maxOccurs="unbounded" name="DecimalParam" type="com:DecimalParam"/>
                    <xs:element maxOccurs="unbounded" name="DoubleParam" type="com:DoubleParam"/>
                    <xs:element maxOccurs="unbounded" name="DateParam" type="com:DateParam"/>
                    <xs:element maxOccurs="unbounded" name="DateTimeParam" type="com:DateTimeParam"/>
                </xs:choice>
            </xs:complexType>
            <xs:complexType name="StringParam">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DecimalParam">
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="BooleanParam">
                <xs:simpleContent>
                    <xs:extension base="xs:boolean">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="IntParam">
                <xs:simpleContent>
                    <xs:extension base="xs:int">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="LongParam">
                <xs:simpleContent>
                    <xs:extension base="xs:long">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="FloatParam">
                <xs:simpleContent>
                    <xs:extension base="xs:float">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DoubleParam">
                <xs:simpleContent>
                    <xs:extension base="xs:double">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateParam">
                <xs:simpleContent>
                    <xs:extension base="xs:date">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="DateTimeParam">
                <xs:simpleContent>
                    <xs:extension base="xs:dateTime">
                        <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema targetNamespace="http://www.zain.com/ZESB/Services/QuerySIMDetails/Types">
            <xs:element name="QuerySIMDetailsReq">
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>SIM number </xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="SIM_Number" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuerySIMDetailsResp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="SIMDetails" type="typ:SIMDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="SIMDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SIM_Number" type="xs:string"/>
                    <xs:element minOccurs="0" name="SIM_Type" type="xs:string"/>
                    <xs:element minOccurs="0" name="Msisdn" type="xs:string"/>
                    <xs:element minOccurs="0" name="Imsi" type="xs:string"/>
                    <xs:element minOccurs="0" name="SubscriptionNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="DeviceSerialNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="LineType" type="xs:string"/>
                    <xs:element minOccurs="0" name="Billing_CustomerId" type="xs:string"/>
                    <xs:element minOccurs="0" name="CRM_CustomerId" type="xs:string"/>
                    <xs:element minOccurs="0" name="CustomerName" type="xs:string"/>
                    <xs:element minOccurs="0" name="PromotionName" type="xs:string"/>
                    <xs:element minOccurs="0" name="InitialCredit" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QuerySIMDetailsRequest">
        <wsdl:part element="typ:QuerySIMDetailsReq" name="QuerySIMDetailsinput"/>
    </wsdl:message>
    <wsdl:message name="QuerySIMDetailsResponse">
        <wsdl:part element="typ:QuerySIMDetailsResp" name="QuerySIMDetailsoutput"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part element="com:FaultType" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="QuerySIMDetailsPort">
        <wsdl:operation name="QuerySIMDetails">
            <wsdl:input message="ns:QuerySIMDetailsRequest"/>
            <wsdl:output message="ns:QuerySIMDetailsResponse"/>
            <wsdl:fault message="ns:FaultMessage" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QuerySIMDetailsBinding" type="ns:QuerySIMDetailsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QuerySIMDetails">
            <soap:operation soapAction="QuerySIMDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="QuerySIMDetails">
        <wsdl:port binding="ns:QuerySIMDetailsBinding" name="QuerySIMDetailsPort">
            <soap:address location="URL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>