src/ESI_BSCS/BusinessProcesses/Services/Query/BillDetailsQuery/HelperProcess/BillDetailResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Resultsets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultSet1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record1" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SEGMENT_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="CHARGE_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="SUBCHARGE_TYPE" type="xs:string" minOccurs="0"/>
										<xs:element name="VOLUME" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="AMOUNT" type="xs:string" minOccurs="0"/>
										<xs:element name="VOLUME_UNIT" type="xs:string" nillable="true" minOccurs="0"/>
										<xs:element name="FROM_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="TO_DATE" type="xs:string" minOccurs="0"/>
										<xs:element name="INVOICE_NO" type="xs:string" minOccurs="0"/>
										<xs:element name="MSISDN" type="xs:string" minOccurs="0"/>
										<xs:element name="COLUMN_NAME" type="xs:string" nillable="true" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>