src/CommonProject/BusinessSchemas/Services/Query/DataInquiries/DataInquiriesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/DataInquiries/DataInquiriesResponse.xsd"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Header"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/Response"
	 xmlns:ns1="http://www.ericsson.com/CDM/telecom/SubscriberAssets"
	 targetNamespace="http://www.ericsson.com/ZainKW/CommonProject/BusinessSchemas/Services/Query/DataInquiries/DataInquiriesResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Header" schemaLocation="../../../../CDM/Header.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/Response" schemaLocation="../../../../CDM/Response.xsd"/>
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/SubscriberAssets" schemaLocation="../../../../CDM/SubscriberAssets.xsd"/>
	<xs:element name="DataInquiriesResponse" type="DataInquiriesResponse"/>
	<xs:complexType name="DataInquiriesResponse">
		<xs:sequence>
			<xs:element ref="cdm:BusinessMessageHeader"/>
			<xs:element ref="ns0:Response"/>
			<xs:element ref="ns1:SubscriberAssets"/>
			<xs:element ref="DowngradeDate" minOccurs="0"/>
			<xs:element ref="Quotas" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Quotas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Quota" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Quota">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="Remaining"/>
				<xs:element ref="Used"/>
				<xs:element ref="Threshold"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID" type="xs:string"/>
	<xs:element name="Remaining" type="xs:long"/>
	<xs:element name="Used" type="xs:long"/>
	<xs:element name="Threshold" type="xs:long"/>
	<xs:element name="DowngradeDate" type="xs:dateTime"/>
</xs:schema>