src/CommonProject/BusinessSchemas/Services/Applications/CRM/Provisioning/SyncService/SyncService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemasS/Services/Application/CRM/Provisioning/SyncService/SyncService.xsd"
	 xmlns:xsdLocal="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO"
	 xmlns:ns0="http://www.siebel.com/xml/CBiO2%20Order%20Header%20Res%20IO"
	 xmlns:ns1="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Res%20IO"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemasS/Services/Application/CRM/Provisioning/SyncService/SyncService.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Req%20IO" schemaLocation="../XSD/listOfCbio2OrderProvisioningReqIo.xsd"/>
	<xs:import namespace="http://www.siebel.com/xml/CBiO2%20Order%20Header%20Res%20IO" schemaLocation="../XSD/listOfCbio2OrderHeaderResIo.xsd"/>
	<xs:import namespace="http://www.siebel.com/xml/CBiO2%20Order%20Provisioning%20Res%20IO" schemaLocation="../XSD/listOfCbio2LineItemResIo.xsd"/>
	<xs:element name="fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="faultType">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="code" type="xs:string"/>
							<xs:element name="description" type="xs:string"/>
							<xs:element name="sourceSystem" type="xs:string"/>
							<xs:element name="extErrorCode" type="xs:string" minOccurs="0"/>
							<xs:element name="detail" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="syncserviceinput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xsdLocal:SiebelMessage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="syncserviceoutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:listOfCbio2OrderHeaderResIo" minOccurs="0"/>
				<xs:element ref="ns1:listOfCbio2OrderProvisioningResIo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>