src/CommonProject/CDM/Resource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:cdm="http://www.ericsson.com/CDM/telecom/Resource"
    targetNamespace="http://www.ericsson.com/CDM/telecom/Resource"
    version="1.0"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    
            <xs:complexType name="ResourceType">
                <xs:annotation>
                    <xs:documentation>The telecom resource details.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ResourceID" type="xs:string"/>
                    <xs:element name="ResourceCategory" type="xs:string" minOccurs="0"/>
                    <xs:element name="ResourceType" type="xs:string" minOccurs="0"/>
                    <xs:element name="ResourceGroupID" type="xs:string" minOccurs="0"/>
                    <xs:element name="ResourceGroupName" type="xs:string" minOccurs="0"/>
                    <xs:element name="CreationDateTime" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="ResourceStatus" type="xs:string" minOccurs="0"/>
                    <xs:element ref="cdm:ResourceSpecification"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Resource" type="cdm:ResourceType"/>
            <xs:element name="ResourceSpecification">
                <xs:complexType>
                            <xs:sequence>
                                <xs:element name="SerialNumber" type="xs:string"/>
                                <xs:element name="Code" type="xs:string"/>
                                <xs:element name="Value" type="xs:string"/>
                                <xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0"/>
                                <xs:element name="Status" type="xs:string" minOccurs="0"/>
                                <xs:element name="BatchId" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                </xs:complexType>
            </xs:element>
</xs:schema>
