src/CommonProject/CDM/Resource_SUBS_GROUP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:cdm="http://www.ericsson.com/CDM/telecom/Resource"
    targetNamespace="http://www.ericsson.com/CDM/telecom/Resource"
    version="1.0"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    
    <xs:element name="Resource" type="cdm:ResourceType"></xs:element>
    
    <xs:complexType name="ResourceType" >
        <xs:annotation>
            <xs:documentation>The telecom resource details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ResourceID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ResourceCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ResourceType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ResourceGroupID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ResourceGroupName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CreationDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ResourceStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="cdm:ResourceSpecification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ResourceSpecification" abstract="true"/>
    <xs:complexType name="ResourceSpecificationType" abstract="true"/>
</xs:schema>
