src/CommonProject/CDM/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Response"
	 targetNamespace="http://www.ericsson.com/CDM/telecom/Response"
	 version="1.0"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cdm:Response">
					<xs:sequence>
						<xs:element name="ResponseReference" type="cdm:ListOfReferences" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ListOfReferences">
		<xs:sequence>
			<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="xs:string" minOccurs="0"/>
						<xs:element name="Value" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>