src/CommonProject/CDM/Subscriber.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/Subscriber"
	 xmlns:ns0="http://www.ericsson.com/CDM/telecom/FAF"
	 targetNamespace="http://www.ericsson.com/CDM/telecom/Subscriber"
	 version="1.0"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ericsson.com/CDM/telecom/FAF" schemaLocation="FAFinformationList.xsd"/>
	<xs:element name="Subscriber" type="cdm:SubscriberType"/>
	<xs:complexType name="SubscriberType">
		<xs:annotation>
			<xs:documentation>The telecom subscriber details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ns0:FAFType">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" minOccurs="0"/>
					<xs:element name="Nationality" type="xs:string" minOccurs="0"/>
					<xs:element name="NationalID" type="xs:string" minOccurs="0"/>
					<xs:element name="ServiceNo" type="xs:string"/>
					<xs:element name="AccountLocked" type="xs:boolean" minOccurs="0"/>
					<xs:element name="SubscriberStatus" type="xs:string" minOccurs="0"/>
					<xs:element name="AccountBalance" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Amount" type="xs:double"/>
								<xs:element name="Unit" type="xs:string" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="LanguageDetails" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="LanguageID" type="xs:string"/>
								<xs:element name="Language" type="xs:string" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>