src/CommonProject/CDM/ZainKWCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:cus="http://xmlns.zain.com/BSS/ESB/CDM/Customer"
	 targetNamespace="http://xmlns.zain.com/BSS/ESB/CDM/Customer"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="ZainKWBaseEntities.xsd"/>
	<xs:element name="Party" type="cus:Party"/>
	<xs:complexType name="Party" abstract="true">
		<xs:annotation>
			<xs:documentation>Represents an individual, organization or organization unit.Party is an abstract concept that should be used in places where the business says something
    can be an organization , organization unit or an individual</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partyId" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier for Party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFor" type="bs:TimePeriod" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Individual" type="cus:Individual"/>
	<xs:complexType name="Individual">
		<xs:complexContent>
			<xs:extension base="cus:Party">
				<xs:sequence>
					<xs:element ref="cus:IndividualName" minOccurs="0"/>
					<xs:element name="dateofBirth" type="xs:date" minOccurs="0"/>
					<xs:element name="gender" type="xs:string" minOccurs="0"/>
					<xs:element name="languageAbility" type="xs:int" minOccurs="0"/>
					<xs:element name="maritalStatus" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Holds all the information of an
                                individual.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nationality" type="xs:string" minOccurs="0"/>
					<xs:element name="placeOfBirth" type="xs:string" minOccurs="0"/>
					<xs:element name="education" type="xs:string" minOccurs="0"/>
					<xs:element name="profession" type="xs:string" minOccurs="0"/>
					<xs:element name="disabilities" type="xs:int" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ZainIndividual" type="cus:ZainIndividual"/>
	<xs:complexType name="ZainIndividual">
		<xs:complexContent>
			<xs:extension base="cus:Individual">
				<xs:sequence>
					<xs:element name="Category" type="xs:string" minOccurs="0"/>
					<xs:element name="CategoryType" type="xs:string" minOccurs="0"/>
					<xs:element ref="cus:IndividualIdentification" minOccurs="0"/>
					<xs:element name="ResidencyType" type="xs:string" minOccurs="0"/>
					<xs:element name="CRMCustomerID" type="xs:string" minOccurs="0"/>
					<xs:element name="BillingCustomerID" type="xs:string" minOccurs="0"/>
					<xs:element name="targetParentCustomerID" type="xs:string" minOccurs="0"/>
					<xs:element name="ZainAddress" type="cus:ZainAddress" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ZainContact" type="cus:ZainContact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="InvoiceLanguage" type="bs:Language" minOccurs="0"/>
					<xs:element name="StatementOfAccountFormat" type="cus:CustomerBillFormat" minOccurs="0"/>
					<xs:element ref="cus:CorporateInfo" minOccurs="0"/>
					<xs:element name="isDirUnlisted" type="xs:string" minOccurs="0"/>
					<xs:element name="BloodType" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="IndividualName" type="cus:IndividualName"/>
	<xs:complexType name="IndividualName">
		<xs:annotation>
			<xs:documentation>A word, term, or phrase by which an individual is known and
                distinguished from other individuals.A name is an informal way of identifying an
                object [Fowler]This entity allows for international naming variations. An
                IndividualName is a type of PartyName.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AristocraticTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicAristocraticTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="familyNamePrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="familyNames" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the non-chosen or inherited name. Also known as a
                        person's last name in the Western context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formattedName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains, in one string, a fully formatted name with all of
                        its pieces in their proper place. This includes all of the necessary
                        punctuation. This de-normalized form of the name cannot be easily
                        parsed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formOfAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the Salutation,e.g. Mr., Mrs., Hon., Dr.,Major,
                        etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicFullName" type="xs:string" minOccurs="0"/>
			<xs:element name="givenNames" type="xs:string" minOccurs="0"/>
			<xs:element name="legalName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains, in one string, a fully formatted name with all of
                        its pieces in their proper place. This includes all of the necessary
                        punctuation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="SecondName" type="xs:string" minOccurs="0"/>
			<xs:element name="ThirdName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicFirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicSecondName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicThirdName" type="xs:string" minOccurs="0"/>
			<xs:element name="preferredName" type="xs:string" minOccurs="0"/>
			<xs:element name="SponsorName" type="xs:string" minOccurs="0"/>
			<xs:element name="Behaviors" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PassportIdentification" type="cus:PassportIdentification"/>
	<xs:complexType name="PassportIdentification">
		<xs:annotation>
			<xs:documentation>Passport information used to Identify an Individual</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cus:IndividualIdentificationType">
				<xs:sequence>
					<xs:element name="issuingCountry" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>the country issuing the passport</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="passportNr" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>the unique identifier per passport
                                issuer</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="passportType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>the type of Passport. e.g. Personal,
                                Consular</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="IndividualIdentification">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cus:IndividualIdentificationType">
					<xs:sequence>
						<xs:element name="DriversLicence" type="xs:string" minOccurs="0"/>
						<xs:element name="aristocraticCode" type="xs:string" minOccurs="0"/>
						<xs:element name="employeeID" type="xs:string" minOccurs="0"/>
						<xs:element name="IdentityNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="idType" type="xs:string" minOccurs="0"/>
						<xs:element name="CivilId" type="xs:string" minOccurs="0"/>
						<xs:element ref="cus:PassportIdentification" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IndividualIdentificationType" abstract="true">
		<xs:annotation>
			<xs:documentation>Individual Identification represents our registration of information
                used as proof of identity by an Individual</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="ZainAddress" type="cus:ZainAddress"/>
	<xs:complexType name="ZainAddress">
		<xs:sequence>
			<xs:element name="adressType" type="xs:string" minOccurs="0"/>
			<xs:element name="addressId" type="xs:string" minOccurs="0"/>
			<xs:element name="seqNumber" type="xs:int" minOccurs="0"/>
			<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
			<xs:element name="Block" type="xs:string" minOccurs="0"/>
			<xs:element name="Floor" type="xs:string" minOccurs="0"/>
			<xs:element name="Building" type="xs:string" minOccurs="0"/>
			<xs:element name="Apartment" type="xs:string" minOccurs="0"/>
			<xs:element name="Avenue" type="xs:string" minOccurs="0"/>
			<xs:element name="area" type="xs:string" minOccurs="0"/>
			<xs:element name="city" type="xs:string" minOccurs="0"/>
			<xs:element name="state" type="xs:string" minOccurs="0"/>
			<xs:element name="country" type="xs:string" minOccurs="0"/>
			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
			<xs:element name="poBoxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="isBillingAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="status" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainContact" type="cus:ZainContact"/>
	<xs:complexType name="ZainContact">
		<xs:complexContent>
			<xs:extension base="cus:ContactMedium">
				<xs:sequence>
					<xs:element name="faxContact" type="xs:string" minOccurs="0"/>
					<xs:element name="homeContact" type="xs:string" minOccurs="0"/>
					<xs:element name="otherContact" type="xs:string" minOccurs="0"/>
					<xs:element name="workContact" type="xs:string" minOccurs="0"/>
					<xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
					<xs:element ref="cus:EmailContact" minOccurs="0"/>
					<xs:element name="SMSNotificationNumForAccount" type="xs:string" minOccurs="0"/>
					<xs:element name="ContactPersonName" type="xs:string" minOccurs="0"/>
					<xs:element name="Notificationnumber" type="xs:string" minOccurs="0"/>
					<xs:element name="AuthorizedPerson" type="xs:string" minOccurs="0"/>
					<xs:element name="ModeOfCommunication" type="xs:string" minOccurs="0"/>
					<xs:element name="PrefferredCommunication" type="xs:string" minOccurs="0"/>
					<xs:element name="Preferredlanguage" type="xs:string" minOccurs="0"/>
					<xs:element name="PreferredCommunicationTime" type="bs:TimePeriod" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ContactMedium" type="cus:ContactMedium"/>
	<xs:complexType name="ContactMedium" abstract="true">
		<xs:annotation>
			<xs:documentation>A means by which communication may be established with a party
                (individual or organization).Contact Medium is an abstract concept that should be
                subclassed as required.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ValidityPeriod" type="bs:TimePeriod" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EmailContact" type="cus:EmailContact"/>
	<xs:complexType name="EmailContact">
		<xs:annotation>
			<xs:documentation>The eMail address to use when contacting a given PartyRole. An
                eMailContact is a type of ContactMedium.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cus:ContactMedium">
				<xs:sequence>
					<xs:element name="eMailAddress" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>full e-mail address in standard
                                format</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TelephoneNumber" type="cus:TelephoneNumber"/>
	<xs:complexType name="TelephoneNumber">
		<xs:complexContent>
			<xs:extension base="cus:ContactMedium">
				<xs:sequence>
					<xs:element name="number" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:int" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SocialSecurityNrIdentification" type="cus:SocialSecurityNrIdentification"/>
	<xs:complexType name="SocialSecurityNrIdentification">
		<xs:complexContent>
			<xs:extension base="cus:IndividualIdentificationType">
				<xs:sequence>
					<xs:element name="socialSecurityNr" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CorporateInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="corporationType" type="xs:string" minOccurs="0"/>
				<xs:element name="customerLevel" type="xs:string" minOccurs="0"/>
				<xs:element name="parentCustomerId" type="xs:string" minOccurs="0"/>
				<xs:element name="MasterAccountId" type="xs:string" minOccurs="0"/>
				<xs:element name="sourceSystemID" type="xs:string" minOccurs="0"/>
				<xs:element name="ProsumerBase" type="xs:string" minOccurs="0"/>
				<xs:element name="TotalLines" type="xs:string" minOccurs="0"/>
				<xs:element name="VoiceBase" type="xs:string" minOccurs="0"/>
				<xs:element name="EntityBase" type="xs:string" minOccurs="0"/>
				<xs:element name="M2MBase" type="xs:string" minOccurs="0"/>
				<xs:element name="MonthlyAverageRevenue" type="xs:string" minOccurs="0"/>
				<xs:element name="AnnualAverageRevenue" type="xs:string" minOccurs="0"/>
				<xs:element name="KAMPartner" type="xs:string" minOccurs="0"/>
				<xs:element name="KeyAccountManagerId" type="xs:string" minOccurs="0"/>
				<xs:element name="KeyAccountManager" type="xs:string" minOccurs="0"/>
				<xs:element name="KAMcontact" type="xs:string" minOccurs="0"/>
				<xs:element name="Segment" type="xs:string" minOccurs="0"/>
				<xs:element name="SubCorporateSegment" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerBillFormat" type="cus:CustomerBillFormat"/>
	<xs:complexType name="CustomerBillFormat">
		<xs:annotation>
			<xs:documentation>A detailed description of the way in which a customer's bill is
                presented. The current version of this entity serves as a placeholder. It will be
                further developed in a future version of this document.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of the bill format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A short descriptive name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasCallDetails" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomerBillPresentationMedia" type="cus:CustomerBillPresentationMedia"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerBillPresentationMedia" type="cus:CustomerBillPresentationMedia"/>
	<xs:complexType name="CustomerBillPresentationMedia">
		<xs:annotation>
			<xs:documentation>A means of communicating a CustomerBill, supported by the associated
                bill format. For example, post mail, email, web page.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of the presentation media.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A short descriptive name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--Accounts-->
	<xs:element name="CustomerAccount" type="cus:CustomerAccount"/>
	<xs:complexType name="CustomerAccount">
		<xs:annotation>
			<xs:documentation>An arrangement that a customer has with an enterprise that provides
                products to the customer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="accountStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The condition of the account, such as due, paid, in
                        arrears.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A categorization of an account, such as individual, joint, and
                        so forth, whose instances share some of the same
                        characteristics.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classificationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="creationDateTime" type="xs:string" minOccurs="0"/>
			<xs:element name="creditLimit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum amount of money that may be charged on a
                        account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pin" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A multidigit personal identification numbe that is used by a Customer to gain access to a CustomerAccount at an ATM, a computer, or a telephone system, and so forth.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainKCustomerAccount" type="cus:ZainKCustomerAccount"/>
	<xs:complexType name="ZainKCustomerAccount">
		<xs:annotation>
			<xs:documentation>An arrangement that a customer has with an enterprise that provides products to the customer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cus:CustomerAccount">
				<xs:sequence>
					<xs:element name="parentAccountId" type="xs:string" minOccurs="0"/>
					<xs:element name="rootAccountId" type="xs:string" minOccurs="0"/>
					<xs:element name="LogicalResource" type="bs:CustomDetails" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ContractID" type="xs:string" minOccurs="0"/>
					<xs:element name="BillingType" type="xs:string" minOccurs="0"/>
					<xs:element name="Category" type="xs:string" minOccurs="0"/>
					<xs:element name="Nationality" type="xs:string" minOccurs="0"/>
					<xs:element name="ContractOwner" type="xs:string" minOccurs="0"/>
					<xs:element name="HasPrepaid" type="xs:string" minOccurs="0"/>
					<xs:element name="HasPostpaid" type="xs:string" minOccurs="0"/>
					<xs:element ref="bs:MSISDN" minOccurs="0"/>
					<xs:element name="ActivationCode" type="xs:string" minOccurs="0"/>
					<xs:element name="Email" type="xs:string" minOccurs="0"/>
					<xs:element ref="bs:EmployeeIdentifier" minOccurs="0"/>
					<xs:element name="SourceofSignOff" type="xs:string" minOccurs="0"/>
					<xs:element name="Salesagent" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--Contracts-->
	<xs:element name="BillingContract" type="cus:BillingContract"/>
	<xs:complexType name="BillingContract">
		<xs:sequence>
			<xs:element name="MSISDN" type="xs:string"/>
			<xs:element ref="cus:IndividualName" minOccurs="0"/>
			<xs:element ref="cus:CRMBillingProfileID" minOccurs="0"/>
			<xs:element ref="cus:BillingContractID"/>
			<xs:element name="contractType" type="xs:string" minOccurs="0"/>
			<xs:element name="lineType" type="xs:string"/>
			<xs:element name="ContractPeriod" type="bs:TimePeriod">
				<xs:annotation>
					<xs:documentation>Billing Contract validity time period start date &amp; end date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="bs:Language" minOccurs="0"/>
			<xs:element ref="cus:MarketSegment" minOccurs="0"/>
			<xs:element name="SDPID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SDP which stores the subscriber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:string" minOccurs="0"/>
			<xs:element ref="cus:SpendLimit" minOccurs="0"/>
			<xs:element ref="cus:CreditLimit" minOccurs="0"/>
			<xs:element name="salesPromotionFlag" type="xs:boolean" minOccurs="0"/>
			<xs:element name="callDetailsFlag" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CRMBillingProfileID" type="xs:string"/>
	<xs:element name="BillingContractID" type="xs:string"/>
	<xs:element name="SpendLimit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Money"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreditLimit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:Money"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MarketSegment" type="cus:MarketSegment"/>
	<xs:complexType name="MarketSegment" abstract="true">
		<xs:annotation>
			<xs:documentation>A grouping of Parties, GeographicAreas, SalesChannels, and so forth.
                MarketSegments are the target of MarketingCampaigns, ProductOfferings,
                ProductPromotions, ProductPlacements, and ProductPrograms from both internal and
                external (Competitors, and other Providers) perspective.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>A narrative that explains what the MarketSegment
                        is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="xs:string">
				<xs:annotation>
					<xs:documentation>A unique identifier for the MarketSegment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketSegmentSubCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>A further classification of MarketSegments because they share
                        common characteristics. For example, a vertical category MarketSegment may
                        be further categorized as consumer, business, or carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>A word, term, or phrase by which a MarketSegment is known and
                        distinguished from other MarketSegments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFor" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The period during which the MarketSegment is
                        applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Agreement" type="cus:Agreement"/>
	<xs:complexType name="Agreement">
		<xs:annotation>
			<xs:documentation>A type of BusinessInteraction that represents a contract or
                arrangement, either written or verbal and sometimes enforceable by
                law.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="agreementName" type="xs:string"/>
			<xs:element name="agreementID" type="xs:string"/>
			<xs:element name="agreementType" type="xs:string" minOccurs="0"/>
			<xs:element name="agreementStatementOfIntent" type="xs:string">
				<xs:annotation>
					<xs:documentation>An overview and goals of the
                                Agreement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agreementItem" type="xs:string"/>
			<xs:element name="agreementStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="agreementDates" type="bs:TimePeriod" minOccurs="0"/>
			<xs:element name="penaltyValue" type="bs:Money" minOccurs="0"/>
			<xs:element name="commitValue" type="xs:int" minOccurs="0"/>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
			<xs:element name="minCommitmentThreshold" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>