src/CommonProject/CDM/ZainKWCustomerOrder.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:od="http://xmlns.zain.com/BSS/ESB/CDM/CustomerOrder"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:cus="http://xmlns.zain.com/BSS/ESB/CDM/Customer"
	 xmlns:fin="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 xmlns:pr="http://xmlns.zain.com/BSS/ESB/CDM/Products"
	 targetNamespace="http://xmlns.zain.com/BSS/ESB/CDM/CustomerOrder"
	 version="2.2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Customer" schemaLocation="ZainKWCustomer.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Finance" schemaLocation="ZainKWFinance.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Products" schemaLocation="ZainKWProducts.xsd"/>

	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionItem -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionItemPrice -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionLocation -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionRelationship -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionRole -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionSpec -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionType -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionVersion -->
	<!-- RESOURCE-->
	<xs:element name="CustomerOrder" type="od:CustomerOrder"/>
	<xs:complexType name="CustomerOrder" abstract="true">
		<xs:annotation>
			<xs:documentation>A CustomerOrder is a communication used to procure a Product. There
                are different types of requests, such as AccessServiceRequests (ASRs),
                LocalServiceRequests (LSRs), DirectoryServiceRequests (DSRs), ProductOrders
                (PSRs).The abstract Order object provides a generalization of
                relationships.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderChannel" type="xs:string" minOccurs="0"/>
			<xs:element ref="bs:orderId" minOccurs="0"/>
			<xs:element name="orderType" type="xs:string" minOccurs="0"/>
			<xs:element name="orderSubType" type="xs:string" minOccurs="0"/>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="dueDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date upon which the CustomerOrder is requested to be provisioned</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderFulfilmentDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order completion date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assignedPriority" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The order's assigned priority after review.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="od:SalesChannel" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainCustomerOrder" type="od:ZainCustomerOrder"/>
	<xs:complexType name="ZainCustomerOrder">
		<xs:annotation>
			<xs:documentation>A CustomerOrder is a communication used to procure a Product or a service in Zain Kuwait Business.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="od:CustomerOrder">
				<xs:sequence>
					<xs:element name="SourceOrderID" type="bs:ZainIdentifierAttributes" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This element holds the Order ID generated by the original source.i.e.CRM or Channel</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="od:businessUnit" minOccurs="0"/>
					<xs:element name="CustomerInfo" type="cus:ZainIndividual"/>
					<xs:element name="totalNRCAmount" type="xs:double" minOccurs="0"/>
					<xs:element name="totalMRCAmount" type="xs:double" minOccurs="0"/>
					<xs:element name="totalNRCUpfront" type="xs:double" minOccurs="0"/>
					<xs:element name="totalRCAdvance" type="xs:double" minOccurs="0"/>
					<xs:element name="totalDepositAmount" type="xs:double" minOccurs="0"/>
					<xs:element name="ZainCurrency" type="bs:ZainCurrency" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="orderReceiptNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="orderReason" type="xs:string" minOccurs="0"/>
					<xs:element name="batchDetails" type="bs:ZainIdentifierAttributes" minOccurs="0"/>
					<xs:element ref="cus:Agreement" minOccurs="0"/>
					<xs:element name="escalationFlag" type="xs:boolean" minOccurs="0"/>
					<xs:element name="estimationTime" type="xs:string" minOccurs="0"/>
					<xs:element name="revision" type="xs:string" minOccurs="0"/>
					<xs:element name="comment" type="xs:string" minOccurs="0"/>
					<xs:element name="ZainCustomerOrderItem" type="od:ZainCustomerOrderItem" maxOccurs="unbounded"/>
					<xs:element ref="fin:ZainCustomerPayment" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="fin:ZainInstallment" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ZainOrderHeader" type="od:ZainOrderHeader"/>
	<xs:complexType name="ZainOrderHeader">
		<xs:sequence>
			<xs:element name="businessMessageID" type="xs:string" minOccurs="0"/>
			<xs:element name="businessMessageName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainCustomerOrderItem" type="od:ZainCustomerOrderItem"/>
	<xs:complexType name="ZainCustomerOrderItem">
		<xs:annotation>
			<xs:documentation>The purpose for the Customer Order expressed in terms of a Product
                Offering or a Product.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="od:CustomerOrderItem">
				<xs:sequence>
					<xs:element name="CRMIntegrationID" type="xs:string" minOccurs="0"/>
					<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
					<xs:element name="refundFlag" type="xs:string" minOccurs="0"/>
					<xs:element name="upfrontFlag" type="xs:string" minOccurs="0"/>
					<xs:element name="isPriceOverride" type="xs:string" minOccurs="0"/>
					<xs:element name="ListOfServiceParameters" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ServiceParameters" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ActionCode" type="xs:string" minOccurs="0"/>
											<xs:element name="Name" type="xs:string" minOccurs="0"/>
											<xs:element name="Value" type="xs:string" minOccurs="0"/>
											<xs:element name="OldValue" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ChangeReason" type="xs:string" minOccurs="0"/>
					<xs:element ref="cus:BillingContract" minOccurs="0"/>
					<xs:element name="OldResource" type="bs:SubscriberIdentifier" minOccurs="0"/>
					<xs:element name="NewResource" type="bs:SubscriberIdentifier" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CustomerOrderItem" type="od:CustomerOrderItem"/>
	<xs:complexType name="CustomerOrderItem">
		<xs:annotation>
			<xs:documentation>The purpose for the Customer Order expressed in terms of a Product
                Offering or a Product .</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Product" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="pr:Product">
							<xs:sequence>
								<xs:element name="actionCode" type="xs:string" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderLineItemStatus">
		<xs:sequence>
			<xs:element name="OrderId" type="od:OrderLineItemStatus"/>
			<xs:element name="LineItemStatus" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IntegrationID" type="xs:string"/>
						<xs:element name="Status" type="xs:string"/>
						<xs:element name="StatusDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderLineItemStatus" type="od:OrderLineItemStatus"/>
	<xs:element name="CustomDetails" type="bs:CustomDetails"/>
	<xs:element name="nationalNumber" type="xs:string"/>
	<xs:element name="ZainFAFDetailsList" type="od:ZainFAFDetailsList"/>
	<xs:complexType name="ZainFAFDetailsList">
		<xs:sequence>
			<xs:element ref="bs:ZainIdentifiers" minOccurs="0"/>
			<xs:element ref="od:ZainFAFDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainFAFDetails" type="od:ZainFAFDetails"/>
	<xs:complexType name="ZainFAFDetails">
		<xs:annotation>
			<xs:documentation>FaF details contains the details of FaF and Super Numbers for Add
                delete and modify.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="NewMSISDN" type="xs:string" minOccurs="0"/>
			<xs:element name="OldMSISDN" type="xs:string" minOccurs="0"/>
			<xs:element name="DiscountType" type="xs:string" minOccurs="0"/>
			<xs:element name="NewMSISDNType" type="xs:string" minOccurs="0"/>
			<xs:element name="FFCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NumberReservation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Requester" type="xs:string"/>
				<xs:element name="CivilID" type="xs:string"/>
				<xs:element name="StartsWith" type="xs:string"/>
				<xs:element name="Limit" type="xs:string"/>
				<xs:element ref="od:BillingType" minOccurs="0"/>
				<xs:element ref="od:BsType" minOccurs="0"/>
				<xs:element name="RequestStatus" type="xs:string"/>
				<xs:element ref="od:Numberlist" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="dnID" type="xs:string" minOccurs="0"/>
				<xs:element name="lockFlag" type="xs:boolean" minOccurs="0"/>
				<xs:element name="dnCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillingType" type="xs:string"/>
	<xs:element name="BsType" type="xs:string"/>
	<xs:element name="Numberlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bs:MSISDN" minOccurs="0"/>
				<xs:element ref="od:class" minOccurs="0"/>
				<xs:element ref="od:BillingType" minOccurs="0"/>
				<xs:element ref="od:BsType" minOccurs="0"/>
				<xs:element ref="od:Category" minOccurs="0"/>
				<xs:element ref="od:ReservationNum" minOccurs="0"/>
				<xs:element ref="od:ShopID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="class" type="xs:string"/>
	<xs:element name="CivilId" type="xs:string"/>
	<xs:element name="ReservationNum" type="xs:string"/>
	<xs:element name="ShopID" type="xs:string"/>
	<xs:element name="Category" type="xs:string"/>
	<xs:element name="FAF" type="od:FAFType"/>
	<xs:simpleType name="FAFType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="FAFType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FAFNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="FAFCategory" type="xs:string" minOccurs="0"/>
				<xs:element name="FAFChargeInformation" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FAFCharges" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="bs:Amount" minOccurs="0"/>
										<xs:element name="Currency" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FreeUpdateCount" type="xs:string" minOccurs="0"/>
				<xs:element name="MaxFreeAllowed" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SalesChannel">
		<xs:sequence>
			<xs:element ref="od:ShopID" minOccurs="0"/>
			<xs:element name="SalesAgent" type="xs:string" minOccurs="0"/>
			<xs:element name="ShopName" type="xs:string" minOccurs="0"/>
			<xs:element ref="bs:UserId" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SalesChannel" type="od:SalesChannel"/>
	<xs:element name="businessUnit" type="xs:string"/>
</xs:schema>