src/CommonProject/CDM/ZainKWFinance.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:fin="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:cus="http://xmlns.zain.com/BSS/ESB/CDM/Customer"
	 targetNamespace="http://xmlns.zain.com/BSS/ESB/CDM/Finance"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Customer" schemaLocation="ZainKWCustomer.xsd"/>
	<xs:element name="CustomerBill" type="fin:CustomerBill"/>
	<xs:complexType name="CustomerBill">
		<xs:annotation>
			<xs:documentation>A total amount due from a CustomerAccount for all products during the
                billing period.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billDate" type="xs:int" minOccurs="0"/>
			<xs:element name="billNo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique identification number of a bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="bs:billId" minOccurs="0"/>
			<xs:element ref="bs:addressId" minOccurs="0"/>
			<xs:element name="Format" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which charges previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which credits previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditLimit" type="xs:string" minOccurs="0"/>
			<xs:element name="mailingDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill mailing date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentDueDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill payment due date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationshipType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the type of connection between two
                        CustomerAccounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerBillingCycle" type="fin:CustomerBillingCycle" minOccurs="0"/>
			<xs:element name="CustomerBillFormat" type="cus:CustomerBillFormat" minOccurs="0"/>
			<xs:element name="Money" type="bs:Money" minOccurs="0"/>
			<xs:element ref="cus:ZainContact" minOccurs="0"/>
			<xs:element name="numberOfCopies" type="xs:int" minOccurs="0"/>
			<xs:element name="nameToPrint" type="xs:string" minOccurs="0"/>
			<xs:element name="RequestType" type="xs:string" minOccurs="0"/>
			<xs:element name="RequestsubType" type="xs:string" minOccurs="0"/>
			<xs:element name="ContractTypeId" type="xs:string" minOccurs="0"/>
			<xs:element name="Information" type="xs:boolean" minOccurs="0"/>
			<xs:element name="simulation" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RefernceDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PostingPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="acknowledgment" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CollectInd" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Ignorebuind" type="xs:boolean" minOccurs="0"/>
			<xs:element name="allbusinesunits" type="xs:boolean" minOccurs="0"/>
			<xs:element name="disableinvoiceforwarding" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerBillingCycle" type="fin:CustomerBillingCycle"/>
	<xs:complexType name="CustomerBillingCycle">
		<xs:annotation>
			<xs:documentation>An occurrence of a billing cycle. Besides significant dates, it
                records who triggered the cycle.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billCyclechange" type="xs:string" minOccurs="0"/>
			<xs:element name="billSource" type="xs:string" minOccurs="0"/>
			<xs:element name="billFrequency" type="xs:string" minOccurs="0"/>
			<xs:element name="billingDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A billing date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="billCycle" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which charges previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="xs:string" minOccurs="0"/>
			<xs:element name="ExchangeRate" type="xs:string" minOccurs="0"/>
			<xs:element name="creditDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which credits previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailingDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill mailing date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentDueDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill payment due date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByAccountClose" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that billing cycle has been triggered by customer
                        account closing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByCustomer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that customer request triggered the billing
                        cycle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByProvider" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that provider request triggered the billing
                        cycle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByScheduler" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that billing system scheduler triggered the billing
                        cycle.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerPayment" type="fin:CustomerPayment"/>
	<xs:complexType name="CustomerPayment">
		<xs:annotation>
			<xs:documentation>CustomerPayment represents the transfer of wealth from a customer for
                a product or usage of product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="bs:Money" minOccurs="0"/>
			<xs:element ref="bs:conversionRate" minOccurs="0"/>
			<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
			<xs:element name="paymentDate" type="xs:date" minOccurs="0"/>
			<xs:element name="paymentReceiptDate" type="xs:date" minOccurs="0"/>
			<xs:element name="paymentType" type="xs:string" minOccurs="0"/>
			<xs:element ref="fin:PaymentMethod" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainCustomerPayment" type="fin:ZainCustomerPayment"/>
	<xs:complexType name="ZainCustomerPayment">
		<xs:complexContent>
			<xs:extension base="fin:CustomerPayment">
				<xs:sequence>
					<xs:element ref="bs:paymentReferenceNumber" minOccurs="0"/>
					<xs:element name="PaymentChannel" type="xs:string" minOccurs="0"/>
					<xs:element name="paymentStatus" type="xs:string" minOccurs="0"/>
					<xs:element name="MerchantID" type="xs:string" minOccurs="0"/>
					<xs:element name="MerchantPassword" type="xs:string" minOccurs="0"/>
					<xs:element name="TerminalID" type="xs:string" minOccurs="0"/>
					<xs:element name="AuthorizationStatus" type="xs:string" minOccurs="0"/>
					<xs:element name="ReceiptNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="SettlementDate" type="xs:string" minOccurs="0"/>
					<xs:element name="AcquirerResponseCode" type="xs:string" minOccurs="0"/>
					<xs:element name="ShoppingTransactionReference" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PaymentMethod" type="fin:PaymentMethod"/>
	<xs:complexType name="PaymentMethod">
		<xs:annotation>
			<xs:documentation>PaymentMethod is the way in which customer provides payment, for
                example cash ,credit,transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="paymentMethodType" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditCardPM" type="fin:CreditCardPM" minOccurs="0"/>
			<xs:element name="CashPM" type="fin:CashPM" minOccurs="0"/>
			<xs:element name="ZainBankPM" type="fin:ZainBankPM" minOccurs="0"/>
			<xs:element name="PreferredPaymentMode" type="xs:string" minOccurs="0"/>
			<xs:element ref="bs:ChequeDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreditCardPM" type="fin:CreditCardPM"/>
	<xs:complexType name="CreditCardPM">
		<xs:annotation>
			<xs:documentation>CreditCardPM is an example of&lt;span style="mso-spacerun:
                yes"&gt;&lt;/span&gt; payment method, using which payment can be made by credit
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditCardCompanyName" type="xs:string" minOccurs="0"/>
			<xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ExpirationMonth" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpirationYear" type="xs:string" minOccurs="0"/>
			<xs:element name="nameOnCard" type="xs:string" minOccurs="0"/>
			<xs:element name="authorizationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="creditCardType" type="xs:string" minOccurs="0"/>
			<xs:element name="CVV" type="xs:string" minOccurs="0"/>
			<xs:element name="ReceiptNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CashPM" type="fin:CashPM"/>
	<xs:complexType name="CashPM">
		<xs:annotation>
			<xs:documentation>payment method, through which payment can be made by
                cash.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cashierInfo" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainBankPM" type="fin:ZainBankPM"/>
	<xs:complexType name="ZainBankPM">
		<xs:sequence>
			<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="accountowner" type="xs:string" minOccurs="0"/>
			<xs:element name="BankCode" type="xs:string" minOccurs="0"/>
			<xs:element name="BankCountry" type="bs:Country" minOccurs="0"/>
			<xs:element name="BankName" type="xs:string" minOccurs="0"/>
			<xs:element name="BankState" type="xs:string" minOccurs="0"/>
			<xs:element name="BankStreetName" type="xs:string" minOccurs="0"/>
			<xs:element name="BankStreetNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="BankZipCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CityOfBank" type="xs:string" minOccurs="0"/>
			<xs:element name="lso3Code" type="xs:string" minOccurs="0"/>
			<xs:element name="swiftCode" type="xs:string" minOccurs="0"/>
			<xs:element name="verificationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="BankBranchName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VoucherDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="VoucherCode" type="xs:string" minOccurs="0"/>
				<xs:element name="Value" type="bs:Money" minOccurs="0"/>
				<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
				<xs:element name="VoucherAgent" type="xs:string" minOccurs="0"/>
				<xs:element name="VoucherGroup" type="xs:string" minOccurs="0"/>
				<xs:element name="CurrentState" type="xs:string" minOccurs="0"/>
				<xs:element name="Newstate" type="xs:string" minOccurs="0"/>
				<xs:element name="IsExpired" type="xs:string" minOccurs="0"/>
				<xs:element name="Batchid" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvoiceDetails">
		<xs:sequence>
			<xs:element ref="bs:ZainIdentifiers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="bs:TimePeriod"/>
			<xs:element name="InvoiceID" type="xs:string" minOccurs="0"/>
			<xs:element ref="bs:InvoiceNumber" minOccurs="0"/>
			<xs:element name="InternationalCallCharges" type="xs:double" minOccurs="0"/>
			<xs:element name="Tax" type="xs:double" minOccurs="0"/>
			<xs:element name="ExtraServices" type="xs:double" minOccurs="0"/>
			<xs:element name="BillAmount" type="xs:double" minOccurs="0"/>
			<xs:element name="RecurringCharges" type="xs:string" minOccurs="0"/>
			<xs:element name="NonRecurringCharges" type="xs:string" minOccurs="0"/>
			<xs:element name="UsageCharges" type="xs:string" minOccurs="0"/>
			<xs:element name="OtherCharges" type="xs:string" minOccurs="0"/>
			<xs:element name="PdfUrl" type="xs:string" minOccurs="0"/>
			<xs:element name="BillDueDate" type="xs:date" minOccurs="0"/>
			<xs:element name="OutstandingAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adjustment">
		<xs:sequence>
			<xs:element name="AdjustmentId" type="bs:ZainIdentifierAttributes" minOccurs="0" maxOccurs="2"/>
			<xs:element ref="bs:InvoiceNumber" minOccurs="0"/>
			<xs:element name="AdjustmentType" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditOrDebit" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CREDIT"/>
						<xs:enumeration value="DEBIT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceAmount" type="xs:double" minOccurs="0"/>
			<xs:element name="AdjustmentAmount" type="xs:double" minOccurs="0"/>
			<xs:element name="Status" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="AdjustmentDate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Adjustment" type="fin:Adjustment"/>
	<xs:complexType name="ZainInstallment">
		<xs:sequence>
			<xs:element name="actionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="installmentPeriod" type="bs:TimePeriod" minOccurs="0"/>
			<xs:element name="TotalPrice" type="bs:Money" minOccurs="0"/>
			<xs:element name="installmentAmount" type="bs:Money" minOccurs="0"/>
			<xs:element name="installmentTaxAmount" type="bs:Money" minOccurs="0"/>
			<xs:element name="installmentTransactiontDate" type="xs:date" minOccurs="0"/>
			<xs:element name="installmentReason" type="xs:string" minOccurs="0"/>
			<xs:element name="installmentDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainInstallment" type="fin:ZainInstallment"/>
	<xs:element name="SourceDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fin:location" minOccurs="0"/>
				<xs:element ref="fin:merchantId" minOccurs="0"/>
				<xs:element ref="fin:terminalId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="merchantId" type="xs:string"/>
	<xs:element name="terminalId" type="xs:string"/>
	<xs:complexType name="ZainDeposit">
		<xs:sequence>
			<xs:element name="customerId" type="xs:string" minOccurs="0"/>
			<xs:element name="depositLevel">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IDname" type="xs:string"/>
						<xs:element name="IDvalue" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="depositDate" type="xs:string"/>
			<xs:element name="depositAmount" type="bs:Money"/>
			<xs:element name="transactionID" type="xs:string" minOccurs="0"/>
			<xs:element name="refundFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="depositID" type="xs:string"/>
			<xs:element ref="fin:PaymentMethod"/>
			<xs:element name="serviceInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="value" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainDeposit" type="fin:ZainDeposit"/>
	<xs:complexType name="ZainAutoPayInfo">
		<xs:sequence>
			<xs:element name="threshholdAmount" type="bs:Money"/>
			<xs:element name="monthlyLimit" type="xs:string"/>
			<xs:element name="registerDate" type="xs:string"/>
			<xs:element name="status" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fin:Param" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Param">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fin:Name" minOccurs="0"/>
				<xs:element ref="fin:Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
</xs:schema>