src/CommonProject/CDM/ZainKWOrder.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:cdm="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 targetNamespace="http://www.ericsson.com/CDM/telecom/canonicaldatamodel"
	 version="2.2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionItem -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionItemPrice -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionLocation -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionRelationship -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionRole -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionSpec -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionType -->
	<!-- The type: com.sid.CommonBusinessEntitiesDomain.BusinessInteractionVersion -->
	<!-- RESOURCE-->
	<xs:element name="PaymentMethod" type="cdm:PaymentMethod"/>
	<xs:complexType name="PaymentMethod">
		<xs:annotation>
			<xs:documentation>PaymentMethod is the way in which customer provides payment, for
                example cash ,credit,transfer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="paymentMethodType" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditCardPM" type="cdm:CreditCardPM" minOccurs="0"/>
			<xs:element name="CashPM" type="cdm:CashPM" minOccurs="0"/>
			<xs:element name="ZainBankPM" type="cdm:ZainBankPM" minOccurs="0"/>
			<xs:element name="PreferredPaymentMode" type="xs:string" minOccurs="0"/>
			<xs:element ref="cdm:ChequeDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Agreement" type="cdm:Agreement"/>
	<xs:complexType name="Agreement">
		<xs:annotation>
			<xs:documentation>A type of BusinessInteraction that represents a contract or
                arrangement, either written or verbal and sometimes enforceable by
                law.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="agreementName" type="xs:string"/>
			<xs:element name="agreementID" type="xs:string"/>
			<xs:element name="agreementType" type="xs:string" minOccurs="0"/>
			<xs:element name="agreementStatementOfIntent" type="xs:string">
				<xs:annotation>
					<xs:documentation>An overview and goals of the
                                Agreement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agreementItem" type="xs:string"/>
			<xs:element name="agreementStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="agreementDates" type="cdm:TimePeriod" minOccurs="0"/>
			<xs:element name="penaltyValue" type="cdm:Money" minOccurs="0"/>
			<xs:element name="commitValue" type="xs:int" minOccurs="0"/>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
			<xs:element name="minCommitmentThreshold" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContactMedium" type="cdm:ContactMedium"/>
	<xs:complexType name="ContactMedium" abstract="true">
		<xs:annotation>
			<xs:documentation>A means by which communication may be established with a party
                (individual or organization).Contact Medium is an abstract concept that should be
                subclassed as required.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ValidityPeriod" type="cdm:TimePeriod" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerBill" type="cdm:CustomerBill"/>
	<xs:complexType name="CustomerBill">
		<xs:annotation>
			<xs:documentation>A total amount due from a CustomerAccount for all products during the
                billing period.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billDate" type="xs:int" minOccurs="0"/>
			<xs:element name="billNo" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique identification number of a bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="cdm:billId" minOccurs="0"/>
			<xs:element ref="cdm:addressId" minOccurs="0"/>
			<xs:element name="Format" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which charges previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which credits previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditLimit" type="xs:string" minOccurs="0"/>
			<xs:element name="mailingDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill mailing date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentDueDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill payment due date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="relationshipType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Defines the type of connection between two
                        CustomerAccounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerBillingCycle" type="cdm:CustomerBillingCycle" minOccurs="0"/>
			<xs:element name="CustomerBillFormat" type="cdm:CustomerBillFormat" minOccurs="0"/>
			<xs:element name="Money" type="cdm:Money" minOccurs="0"/>
			<xs:element ref="cdm:ZainContact" minOccurs="0"/>
			<xs:element name="numberOfCopies" type="xs:int" minOccurs="0"/>
			<xs:element name="nameToPrint" type="xs:string" minOccurs="0"/>
			<xs:element name="RequestType" type="xs:string" minOccurs="0"/>
			<xs:element name="RequestsubType" type="xs:string" minOccurs="0"/>
			<xs:element name="ContractTypeId" type="xs:string" minOccurs="0"/>
			<xs:element name="Information" type="xs:boolean" minOccurs="0"/>
			<xs:element name="simulation" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RefernceDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PostingPeriod" type="xs:string" minOccurs="0"/>
			<xs:element name="acknowledgment" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CollectInd" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Ignorebuind" type="xs:boolean" minOccurs="0"/>
			<xs:element name="allbusinesunits" type="xs:boolean" minOccurs="0"/>
			<xs:element name="disableinvoiceforwarding" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreditCardPM" type="cdm:CreditCardPM"/>
	<xs:complexType name="CreditCardPM">
		<xs:annotation>
			<xs:documentation>CreditCardPM is an example of&lt;span style="mso-spacerun:
                yes"&gt;&lt;/span&gt; payment method, using which payment can be made by credit
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="CreditCardCompanyName" type="xs:string" minOccurs="0"/>
			<xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ExpirationMonth" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpirationYear" type="xs:string" minOccurs="0"/>
			<xs:element name="nameOnCard" type="xs:string" minOccurs="0"/>
			<xs:element name="authorizationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="creditCardType" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Party" type="cdm:Party"/>
	<xs:complexType name="Party" abstract="true">
		<xs:annotation>
			<xs:documentation>Represents an individual, organization or organization unit.Party is
                an abstract concept that should be used in places where the business says something
                can be an organization , organization unit or an individual</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partyId" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier for Party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFor" type="cdm:TimePeriod" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LogicalResource" type="cdm:LogicalResource"/>
	<xs:complexType name="LogicalResource">
		<xs:annotation>
			<xs:documentation>Resource information related to a CustomerOrder are
                stored.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resourceName" type="xs:string" minOccurs="0"/>
			<xs:element name="resourceValue" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerOrder" type="cdm:CustomerOrder"/>
	<xs:complexType name="CustomerOrder" abstract="true">
		<xs:annotation>
			<xs:documentation>A CustomerOrder is a communication used to procure a Product. There
                are different types of requests, such as AccessServiceRequests (ASRs),
                LocalServiceRequests (LSRs), DirectoryServiceRequests (DSRs), ProductOrders
                (PSRs).The abstract Order object provides a generalization of
                relationships.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderChannel" type="xs:string" minOccurs="0"/>
			<xs:element ref="cdm:orderId" minOccurs="0"/>
			<xs:element name="customerOrderType" type="xs:string" minOccurs="0"/>
			<xs:element name="customerOrderSubType" type="xs:string" minOccurs="0"/>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="dueDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date upon which the CustomerOrder is requested to be provisioned</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderFulfilmentDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order completion date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assignedPriority" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The order's assigned priority after review.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="cdm:SalesChannel" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainCustomerOrder" type="cdm:ZainCustomerOrder"/>
	<xs:complexType name="ZainCustomerOrder">
		<xs:annotation>
			<xs:documentation>A CustomerOrder is a communication used to procure a Product. There are different types of requests, such as AccessServiceRequests (ASRs),LocalServiceRequests (LSRs), DirectoryServiceRequests (DSRs), ProductOrders (PSRs).The abstract Order object provides a generalization of relationships.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cdm:CustomerOrder">
				<xs:sequence>
					<xs:element name="CustomerInfo" type="cdm:ZainIndividual"/>
					<xs:element ref="cdm:BillingContract" minOccurs="0"/>
					<xs:element name="totalNRCAmount" type="xs:double" minOccurs="0"/>
					<xs:element name="totalMRCAmount" type="xs:double" minOccurs="0"/>
					<xs:element name="totalNRCUpfront" type="xs:double" minOccurs="0"/>
					<xs:element name="totalRCAdvance" type="xs:double" minOccurs="0"/>
					<xs:element name="totalDepositAmount" type="xs:double" minOccurs="0"/>
					<xs:element name="ZainCurrency" type="cdm:ZainCurrency" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="orderReceiptNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="orderReason" type="xs:string" minOccurs="0"/>
					<xs:element name="batchDetails" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="name" type="xs:string"/>
								<xs:element ref="cdm:value"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="cdm:Agreement" minOccurs="0"/>
					<xs:element name="escalationFlag" type="xs:boolean" minOccurs="0"/>
					<xs:element name="estimationTime" type="xs:string" minOccurs="0"/>
					<xs:element name="revision" type="xs:string" minOccurs="0"/>
					<xs:element name="comment" type="xs:string" minOccurs="0"/>
					<xs:element name="ZainCustomerOrderItem" type="cdm:ZainCustomerOrderItem" maxOccurs="unbounded"/>
					<xs:element ref="cdm:ZainCustomerPayment" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CustomerPayment" type="cdm:CustomerPayment"/>
	<xs:complexType name="CustomerPayment">
		<xs:annotation>
			<xs:documentation>CustomerPayment represents the transfer of wealth from a customer for
                a product or usage of product.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="cdm:Money" minOccurs="0"/>
			<xs:element ref="cdm:conversionRate" minOccurs="0"/>
			<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
			<xs:element name="paymentDate" type="xs:date" minOccurs="0"/>
			<xs:element name="paymentReceiptDate" type="xs:date" minOccurs="0"/>
			<xs:element name="paymentType" type="xs:string" minOccurs="0"/>
			<xs:element ref="cdm:PaymentMethod" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AgreementItem" type="cdm:AgreementItem"/>
	<xs:complexType name="AgreementItem">
		<xs:annotation>
			<xs:documentation>The purpose for an Agreement expressed in terms of a Product, Service,
                Resource, and/or their respective specifications, inherited from
                BusinessInteractionItem.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cdm:CustomerOrderItem"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="IndividualIdentification" type="cdm:IndividualIdentification"/>
	<xs:complexType name="IndividualIdentification" abstract="true">
		<xs:annotation>
			<xs:documentation>Individual Identification represents our registration of information
                used as proof of identity by an Individual</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="TimePeriod" type="cdm:TimePeriod"/>
	<xs:complexType name="TimePeriod">
		<xs:annotation>
			<xs:documentation>A base / value business entity used to represent a period of time,
                between two timepoints</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An instant of time, ending at the
                        TimePeriod</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An instant of time, starting at the
                        TimePeriod</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TelephoneNumber" type="cdm:TelephoneNumber"/>
	<xs:complexType name="TelephoneNumber">
		<xs:complexContent>
			<xs:extension base="cdm:ContactMedium">
				<xs:sequence>
					<xs:element name="number" type="xs:string" minOccurs="0"/>
					<xs:element name="type" type="xs:int" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SocialSecurityNrIdentification" type="cdm:SocialSecurityNrIdentification"/>
	<xs:complexType name="SocialSecurityNrIdentification">
		<xs:complexContent>
			<xs:extension base="cdm:IndividualIdentification">
				<xs:sequence>
					<xs:element name="socialSecurityNr" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CashPM" type="cdm:CashPM"/>
	<xs:complexType name="CashPM">
		<xs:annotation>
			<xs:documentation>payment method, through which payment can be made by
                cash.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cashierInfo" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Individual" type="cdm:Individual"/>
	<xs:complexType name="Individual">
		<xs:complexContent>
			<xs:extension base="cdm:Party">
				<xs:sequence>
					<xs:element name="disabilities" type="xs:int" minOccurs="0"/>
					<xs:element name="gender" type="xs:string" minOccurs="0"/>
					<xs:element name="languageAbility" type="xs:int" minOccurs="0"/>
					<xs:element name="maritalStatus" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Holds all the information of an
                                individual.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nationality" type="xs:string" minOccurs="0"/>
					<xs:element name="placeOfBirth" type="xs:string" minOccurs="0"/>
					<xs:element name="skills" type="xs:string" minOccurs="0"/>
					<xs:element name="profession" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EmailContact" type="cdm:EmailContact"/>
	<xs:complexType name="EmailContact">
		<xs:annotation>
			<xs:documentation>The eMail address to use when contacting a given PartyRole. An
                eMailContact is a type of ContactMedium.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cdm:ContactMedium">
				<xs:sequence>
					<xs:element name="eMailAddress" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>full e-mail address in standard
                                format</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CustomerOrderItem" type="cdm:CustomerOrderItem"/>
	<xs:complexType name="CustomerOrderItem">
		<xs:annotation>
			<xs:documentation>The purpose for the Customer Order expressed in terms of a Product
                Offering or a Product .</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="MarketSegment" type="cdm:MarketSegment"/>
	<xs:complexType name="MarketSegment" abstract="true">
		<xs:annotation>
			<xs:documentation>A grouping of Parties, GeographicAreas, SalesChannels, and so forth.
                MarketSegments are the target of MarketingCampaigns, ProductOfferings,
                ProductPromotions, ProductPlacements, and ProductPrograms from both internal and
                external (Competitors, and other Providers) perspective.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>A narrative that explains what the MarketSegment
                        is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="xs:string">
				<xs:annotation>
					<xs:documentation>A unique identifier for the MarketSegment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="marketSegmentSubCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>A further classification of MarketSegments because they share
                        common characteristics. For example, a vertical category MarketSegment may
                        be further categorized as consumer, business, or carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>A word, term, or phrase by which a MarketSegment is known and
                        distinguished from other MarketSegments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFor" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The period during which the MarketSegment is
                        applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainOrderHeader" type="cdm:ZainOrderHeader"/>
	<xs:complexType name="ZainOrderHeader">
		<xs:sequence>
			<xs:element name="businessMessageID" type="xs:string" minOccurs="0"/>
			<xs:element name="businessMessageName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerBillFormat" type="cdm:CustomerBillFormat"/>
	<xs:complexType name="CustomerBillFormat">
		<xs:annotation>
			<xs:documentation>A detailed description of the way in which a customer's bill is
                presented. The current version of this entity serves as a placeholder. It will be
                further developed in a future version of this document.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of the bill format.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A short descriptive name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hasCallDetails" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomerBillPresentationMedia" type="cdm:CustomerBillPresentationMedia"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Money" type="cdm:Money"/>
	<xs:complexType name="Money">
		<xs:annotation>
			<xs:documentation>A base / value business entity used to represent
                money</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amount" type="xs:double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A positive floating point number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="units" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Currency.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainCustomerOrderItem" type="cdm:ZainCustomerOrderItem"/>
	<xs:complexType name="ZainCustomerOrderItem">
		<xs:annotation>
			<xs:documentation>The purpose for the Customer Order expressed in terms of a Product
                Offering or a Product.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cdm:CustomerOrderItem">
				<xs:sequence>
					<xs:element name="actionCode" type="xs:string" minOccurs="0"/>
					<xs:element name="CRMIntegrationID" type="xs:string" minOccurs="0"/>
					<xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
					<xs:element name="refundFlag" type="xs:string" minOccurs="0"/>
					<xs:element name="upfrontFlag" type="xs:string" minOccurs="0"/>
					<xs:element name="isPriceOverride" type="xs:string" minOccurs="0"/>
					<xs:element name="ListOfServiceParameters" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ServiceParameters" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ActionCode" type="xs:string" minOccurs="0"/>
											<xs:element name="Name" type="xs:string" minOccurs="0"/>
											<xs:element name="Value" type="xs:string" minOccurs="0"/>
											<xs:element name="OldValue" type="xs:string" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ChangeReason" type="xs:string" minOccurs="0"/>
					<xs:element name="agreementName" type="xs:string" minOccurs="0"/>
					<xs:element name="CorporateSegment" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="IndividualName" type="cdm:IndividualName"/>
	<xs:complexType name="IndividualName">
		<xs:annotation>
			<xs:documentation>A word, term, or phrase by which an individual is known and
                distinguished from other individuals.A name is an informal way of identifying an
                object [Fowler]This entity allows for international naming variations. An
                IndividualName is a type of PartyName.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AristocraticTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicAristocraticTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="familyNamePrefix" type="xs:string" minOccurs="0"/>
			<xs:element name="familyNames" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the non-chosen or inherited name. Also known as a
                        person's last name in the Western context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formattedName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains, in one string, a fully formatted name with all of
                        its pieces in their proper place. This includes all of the necessary
                        punctuation. This de-normalized form of the name cannot be easily
                        parsed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formOfAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains the Salutation,e.g. Mr., Mrs., Hon., Dr.,Major,
                        etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicFullName" type="xs:string" minOccurs="0"/>
			<xs:element name="givenNames" type="xs:string" minOccurs="0"/>
			<xs:element name="legalName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains, in one string, a fully formatted name with all of
                        its pieces in their proper place. This includes all of the necessary
                        punctuation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="SecondName" type="xs:string" minOccurs="0"/>
			<xs:element name="ThirdName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicFirstName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicSecondName" type="xs:string" minOccurs="0"/>
			<xs:element name="ArabicThirdName" type="xs:string" minOccurs="0"/>
			<xs:element name="preferredName" type="xs:string" minOccurs="0"/>
			<xs:element name="SponsorName" type="xs:string" minOccurs="0"/>
			<xs:element name="Behaviors" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainIndividual" type="cdm:ZainIndividual"/>
	<xs:complexType name="ZainIndividual">
		<xs:complexContent>
			<xs:extension base="cdm:Individual">
				<xs:sequence>
					<xs:element name="AddressRole" type="xs:string" minOccurs="0"/>
					<xs:element name="adrCustType" type="xs:string" minOccurs="0"/>
					<xs:element name="adrDeleted" type="xs:boolean" minOccurs="0"/>
					<xs:element name="aristocraticCode" type="xs:string" minOccurs="0"/>
					<xs:element name="DateofBirth" type="xs:date" minOccurs="0"/>
					<xs:element name="DriversLicence" type="xs:string" minOccurs="0"/>
					<xs:element name="employee" type="xs:string" minOccurs="0"/>
					<xs:element name="IdentityNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="idType" type="xs:string" minOccurs="0"/>
					<xs:element name="CivilId" type="xs:string" minOccurs="0"/>
					<xs:element name="ResidencyType" type="xs:string" minOccurs="0"/>
					<xs:element name="Region" type="xs:string" minOccurs="0"/>
					<xs:element name="languageCode" type="xs:int" minOccurs="0"/>
					<xs:element name="language" type="xs:string" minOccurs="0"/>
					<xs:element name="CRMCustomerID" type="xs:string" minOccurs="0"/>
					<xs:element name="BillingCustomerID" type="xs:string" minOccurs="0"/>
					<xs:element name="targetParentCustomerID" type="xs:string" minOccurs="0"/>
					<xs:element name="IndividualName" type="cdm:IndividualName" minOccurs="0"/>
					<xs:element name="PassportIdentification" type="cdm:PassportIdentification" minOccurs="0"/>
					<xs:element name="ZainAddress" type="cdm:ZainAddress" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ZainContact" type="cdm:ZainContact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="InvoiceLanguage" type="cdm:Language" minOccurs="0"/>
					<xs:element name="StatementOfAccountFormat" type="cdm:CustomerBillFormat" minOccurs="0"/>
					<xs:element ref="cdm:CorporateInfo" minOccurs="0"/>
					<xs:element name="isDirUnlisted" type="xs:string" minOccurs="0"/>
					<xs:element name="BloodType" type="xs:string" minOccurs="0"/>
					<xs:element name="Education" type="xs:string" minOccurs="0"/>
					<xs:element name="Category" type="xs:string" minOccurs="0"/>
					<xs:element name="CategoryType" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ZainBankPM" type="cdm:ZainBankPM"/>
	<xs:complexType name="ZainBankPM">
		<xs:sequence>
			<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="accountowner" type="xs:string" minOccurs="0"/>
			<xs:element name="BankCode" type="xs:string" minOccurs="0"/>
			<xs:element name="BankCountry" type="xs:string" minOccurs="0"/>
			<xs:element name="BankName" type="xs:string" minOccurs="0"/>
			<xs:element name="BankState" type="xs:string" minOccurs="0"/>
			<xs:element name="BankStreetName" type="xs:string" minOccurs="0"/>
			<xs:element name="BankStreetNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="BankZipCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CityOfBank" type="xs:string" minOccurs="0"/>
			<xs:element name="lso3Code" type="xs:string" minOccurs="0"/>
			<xs:element name="swiftCode" type="xs:string" minOccurs="0"/>
			<xs:element name="verificationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="BankBranchName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainCustomerPayment" type="cdm:ZainCustomerPayment"/>
	<xs:complexType name="ZainCustomerPayment">
		<xs:complexContent>
			<xs:extension base="cdm:CustomerPayment">
				<xs:sequence>
					<xs:element ref="cdm:paymentReferenceNumber" minOccurs="0"/>
					<xs:element name="PaymentChannel" type="xs:string" minOccurs="0"/>
					<xs:element name="paymentStatus" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CustomerBillPresentationMedia" type="cdm:CustomerBillPresentationMedia"/>
	<xs:complexType name="CustomerBillPresentationMedia">
		<xs:annotation>
			<xs:documentation>A means of communicating a CustomerBill, supported by the associated
                bill format. For example, post mail, email, web page.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of the presentation media.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A short descriptive name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PassportIdentification" type="cdm:PassportIdentification"/>
	<xs:complexType name="PassportIdentification">
		<xs:annotation>
			<xs:documentation>Passport information used to Identify an Individual</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cdm:IndividualIdentification">
				<xs:sequence>
					<xs:element name="issuingCountry" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>the country issuing the passport</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="passportNr" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>the unique identifier per passport
                                issuer</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="passportType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>the type of Passport. e.g. Personal,
                                Consular</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CustomerBillingCycle" type="cdm:CustomerBillingCycle"/>
	<xs:complexType name="CustomerBillingCycle">
		<xs:annotation>
			<xs:documentation>An occurrence of a billing cycle. Besides significant dates, it
                records who triggered the cycle.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billCyclechange" type="xs:string" minOccurs="0"/>
			<xs:element name="billSource" type="xs:string" minOccurs="0"/>
			<xs:element name="billFrequency" type="xs:string" minOccurs="0"/>
			<xs:element name="billingDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A billing date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="billCycle" type="xs:string" minOccurs="0"/>
			<xs:element name="chargeDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which charges previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="xs:string" minOccurs="0"/>
			<xs:element name="ExchangeRate" type="xs:string" minOccurs="0"/>
			<xs:element name="creditDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date through which credits previously received by the
                        billing system appear on the bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailingDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill mailing date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentDueDate" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A customer bill payment due date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByAccountClose" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that billing cycle has been triggered by customer
                        account closing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByCustomer" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that customer request triggered the billing
                        cycle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByProvider" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that provider request triggered the billing
                        cycle</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredByScheduler" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates that billing system scheduler triggered the billing
                        cycle.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Country" type="cdm:Country"/>
	<xs:complexType name="Country">
		<xs:annotation>
			<xs:documentation>This is an example of a concrete Geographic Location
                entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="countryCode" type="xs:string"/>
			<xs:element name="Iso2Code" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ISO 2 letter country abbreviation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Iso3Code" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ISO 3 letter country abbreviation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the name that the Country is known by</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the type of country</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Product" type="cdm:Product"/>
	<xs:complexType name="Product">
		<xs:annotation>
			<xs:documentation>A ProductOffering procured by a Customer, or other interested Party
                playing a PartyRole, appearing as a BusinessInteractionItem, which could take the
                form of a Agreement. ProductSpecificationCharacteristic(s) in part define the
                Product. A Product is realized as one or more Service(s) and/or
                Resource(s).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An explanation of what the product is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A word, term, or phrase by which the product is known and
                        distinguished from other products.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductType" type="xs:string" minOccurs="0"/>
			<xs:element name="isChargeable" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceID" type="xs:string" minOccurs="0"/>
			<xs:element name="servicePackageID" type="xs:string" minOccurs="0"/>
			<xs:element name="ratePlanID" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="validFor" type="cdm:TimePeriod" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The period during which the product is
                        applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Price" type="xs:double" minOccurs="0"/>
			<xs:element name="action" type="xs:string" minOccurs="0"/>
			<xs:element name="sdpServiceClass" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductCode" type="xs:string" minOccurs="0"/>
			<xs:element name="sobBSCS" type="xs:string" minOccurs="0"/>
			<xs:element name="crmProductType" type="xs:string" minOccurs="0"/>
			<xs:element name="crmProductSubType" type="xs:string" minOccurs="0"/>
			<xs:element name="parentProductcode" type="xs:string" minOccurs="0"/>
			<xs:element name="tax" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainCurrency" type="cdm:ZainCurrency"/>
	<xs:complexType name="ZainCurrency">
		<xs:sequence>
			<xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
			<xs:element name="currencyId" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainAddress" type="cdm:ZainAddress"/>
	<xs:complexType name="ZainAddress">
		<xs:sequence>
			<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
			<xs:element name="area" type="xs:string" minOccurs="0"/>
			<xs:element name="city" type="xs:string" minOccurs="0"/>
			<xs:element name="country" type="xs:string" minOccurs="0"/>
			<xs:element name="Block" type="xs:string" minOccurs="0"/>
			<xs:element name="Floor" type="xs:string" minOccurs="0"/>
			<xs:element name="Building" type="xs:string" minOccurs="0"/>
			<xs:element name="Apartment" type="xs:string" minOccurs="0"/>
			<xs:element name="Avenue" type="xs:string" minOccurs="0"/>
			<xs:element name="BaseType" type="xs:string" minOccurs="0"/>
			<xs:element name="poBoxNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="seqNumber" type="xs:int" minOccurs="0"/>
			<xs:element name="sourceAddressId" type="xs:string" minOccurs="0"/>
			<xs:element name="state" type="xs:string" minOccurs="0"/>
			<xs:element name="streetName" type="xs:string" minOccurs="0"/>
			<xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="targetAddressId" type="cdm:ZainIdentifierAttributes" minOccurs="0"/>
			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountCommunicationLanguage" type="cdm:Language" minOccurs="0"/>
			<xs:element ref="cdm:ZainContact" minOccurs="0"/>
			<xs:element name="isBillingAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="AdressType" type="xs:string" minOccurs="0"/>
			<xs:element name="AccountID" type="xs:string" minOccurs="0"/>
			<xs:element name="PostalArea" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="ActiveStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="PostalAreaName" type="xs:string" minOccurs="0"/>
			<xs:element name="PacciNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainContact" type="cdm:ZainContact"/>
	<xs:complexType name="ZainContact">
		<xs:complexContent>
			<xs:extension base="cdm:ContactMedium">
				<xs:sequence>
					<xs:element name="faxContact" type="xs:string" minOccurs="0"/>
					<xs:element name="homeContact" type="xs:string" minOccurs="0"/>
					<xs:element name="otherContact" type="xs:string" minOccurs="0"/>
					<xs:element name="workContact" type="xs:string" minOccurs="0"/>
					<xs:element name="mobileNumber" type="xs:string" minOccurs="0"/>
					<xs:element ref="cdm:EmailContact" minOccurs="0"/>
					<xs:element name="SMSNotificationNumForAccount" type="xs:string" minOccurs="0"/>
					<xs:element name="ContactPersonName" type="xs:string" minOccurs="0"/>
					<xs:element name="Notificationnumber" type="xs:string" minOccurs="0"/>
					<xs:element name="AuthorizedPerson" type="xs:string" minOccurs="0"/>
					<xs:element name="ModeOfCommunication" type="xs:string" minOccurs="0"/>
					<xs:element name="PrefferredCommunication" type="xs:string" minOccurs="0"/>
					<xs:element name="Preferredlanguage" type="xs:string" minOccurs="0"/>
					<xs:element name="PreferredCommunicationTime" type="cdm:TimePeriod" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="systemName" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:complexType name="ZainIdentifiers">
		<xs:choice>
			<xs:element ref="cdm:customerId"/>
			<xs:element ref="cdm:billId"/>
			<xs:element ref="cdm:accountId"/>
			<xs:element ref="cdm:productId"/>
			<xs:element ref="cdm:orderId"/>
			<xs:element ref="cdm:SubscriberIdentifier"/>
			<xs:element ref="cdm:UserId"/>
			<xs:element ref="cdm:BankID"/>
			<xs:element name="contractID" type="cdm:ZainIdentifierAttributes"/>
			<xs:element name="billingAccountID" type="cdm:ZainIdentifierAttributes"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ZainIdentifierAttributes">
		<xs:sequence>
			<xs:element ref="cdm:systemName" minOccurs="0"/>
			<xs:element ref="cdm:value" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="customerId" type="cdm:ZainIdentifierAttributes"/>
	<xs:element name="billId" type="cdm:ZainIdentifierAttributes"/>
	<xs:element name="paymentId">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cdm:ZainIdentifierAttributes">
					<xs:sequence>
						<xs:element name="status" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZainIdentifiers" type="cdm:ZainIdentifiers"/>
	<xs:element name="accountId" type="cdm:ZainIdentifierAttributes"/>
	<xs:element name="productId">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cdm:ZainIdentifierAttributes">
					<xs:sequence>
						<xs:element name="category" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderId" type="cdm:ZainIdentifierAttributes"/>
	<xs:element name="addressId" type="cdm:ZainIdentifierAttributes"/>
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="ExternalTransactionID" type="xs:string" minOccurs="0"/>
			<xs:element name="COName" type="xs:string" minOccurs="0"/>
			<xs:element name="Consumer" type="xs:string" minOccurs="0"/>
			<xs:element name="Provider" type="xs:string" minOccurs="0"/>
			<xs:element name="Timestamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Action" type="xs:string" minOccurs="0"/>
			<xs:element name="ApplicationID" type="xs:string" minOccurs="0"/>
			<xs:element name="ComponentName" type="xs:string" minOccurs="0"/>
			<xs:element name="Hostname" type="xs:string" minOccurs="0"/>
			<xs:element name="TransactionDomain" type="xs:string" minOccurs="0"/>
			<xs:element name="TransactionType" type="xs:string" minOccurs="0"/>
			<xs:element name="TransactionID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Header" type="cdm:Header"/>
	<xs:element name="MSISDN" type="xs:string"/>
	<xs:element name="UserId" type="cdm:ZainIdentifierAttributes"/>
	<xs:complexType name="Language">
		<xs:sequence>
			<xs:element name="LanguageCode" type="xs:string" minOccurs="0"/>
			<xs:element name="strLanguage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Language" type="cdm:Language"/>
	<xs:element name="SubscriberIdentifier" type="cdm:SubscriberIdentifier"/>
	<xs:complexType name="SubscriberIdentifier">
		<xs:sequence>
			<xs:element ref="cdm:MSISDN" minOccurs="0"/>
			<xs:element ref="cdm:IMSI" minOccurs="0"/>
			<xs:element name="DongleSerialNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ReferenceMSISDN" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="IMSI" type="xs:string"/>
	<xs:complexType name="ZainAssetInfo">
		<xs:sequence>
			<xs:element ref="cdm:IMSI" minOccurs="0"/>
			<xs:element ref="cdm:PUK" minOccurs="0"/>
			<xs:element name="SIMType" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainAssetInfo" type="cdm:ZainAssetInfo"/>
	<xs:complexType name="OrderLineItemStatus">
		<xs:sequence>
			<xs:element name="OrderId" type="cdm:OrderLineItemStatus"/>
			<xs:element name="LineItemStatus" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IntegrationID" type="xs:string"/>
						<xs:element name="Status" type="xs:string"/>
						<xs:element name="StatusDescription" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderLineItemStatus" type="cdm:OrderLineItemStatus"/>
	<xs:element name="BankID" type="cdm:ZainIdentifierAttributes"/>
	<xs:element name="CorporateInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="corporationType" type="xs:string" minOccurs="0"/>
				<xs:element name="customerLevel" type="xs:string" minOccurs="0"/>
				<xs:element name="parentCustomerId" type="xs:string" minOccurs="0"/>
				<xs:element name="MasterAccountId" type="xs:string" minOccurs="0"/>
				<xs:element name="sourceSystemID" type="xs:string" minOccurs="0"/>
				<xs:element name="ProsumerBase" type="xs:string" minOccurs="0"/>
				<xs:element name="TotalLines" type="xs:string" minOccurs="0"/>
				<xs:element name="VoiceBase" type="xs:string" minOccurs="0"/>
				<xs:element name="EntityBase" type="xs:string" minOccurs="0"/>
				<xs:element name="M2MBase" type="xs:string" minOccurs="0"/>
				<xs:element name="MonthlyAverageRevenue" type="xs:string" minOccurs="0"/>
				<xs:element name="AnnualAverageRevenue" type="xs:string" minOccurs="0"/>
				<xs:element name="KAMPartner" type="xs:string" minOccurs="0"/>
				<xs:element name="KeyAccountManagerId" type="xs:string" minOccurs="0"/>
				<xs:element name="KeyAccountManager" type="xs:string" minOccurs="0"/>
				<xs:element name="KAMcontact" type="xs:string" minOccurs="0"/>
				<xs:element name="Segment" type="xs:string" minOccurs="0"/>
				<xs:element name="SubCorporateSegment" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CustomPropertyType">
		<xs:annotation>
			<xs:documentation>Extensible properties to cater endsystem needs</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PropertyName" type="xs:string"/>
			<xs:element name="PropertyValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomDetails" type="cdm:CustomPropertyType"/>
	<xs:element name="nationalNumber" type="xs:string"/>
	<xs:element name="ChequeDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:chequeNumber"/>
				<xs:element ref="cdm:bankName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Amount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:amount" minOccurs="0"/>
				<xs:element ref="cdm:units" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="amount" type="xs:double"/>
	<xs:element name="units" type="xs:string"/>
	<xs:element name="chequeNumber" type="xs:int"/>
	<xs:element name="bankName" type="xs:string"/>
	<xs:element name="routingID" type="xs:int"/>
	<xs:element name="chequeDate" type="xs:date"/>
	<xs:element name="paymentReferenceNumber" type="xs:string"/>
	<xs:element name="VoucherDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SerialNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="VoucherCode" type="xs:string" minOccurs="0"/>
				<xs:element name="Value" type="cdm:Money" minOccurs="0"/>
				<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
				<xs:element name="VoucherAgent" type="xs:string" minOccurs="0"/>
				<xs:element name="VoucherGroup" type="xs:string" minOccurs="0"/>
				<xs:element name="CurrentState" type="xs:string" minOccurs="0"/>
				<xs:element name="Newstate" type="xs:string" minOccurs="0"/>
				<xs:element name="IsExpired" type="xs:string" minOccurs="0"/>
				<xs:element name="Batchid" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="PUK" type="xs:string"/>
	<xs:element name="ZainFAFDetailsList" type="cdm:ZainFAFDetailsList"/>
	<xs:complexType name="ZainFAFDetailsList">
		<xs:sequence>
			<xs:element ref="cdm:ZainIdentifiers" minOccurs="0"/>
			<xs:element ref="cdm:ZainFAFDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ZainFAFDetails" type="cdm:ZainFAFDetails"/>
	<xs:complexType name="ZainFAFDetails">
		<xs:annotation>
			<xs:documentation>FaF details contains the details of FaF and Super Numbers for Add
                delete and modify.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="NewMSISDN" type="xs:string" minOccurs="0"/>
			<xs:element name="OldMSISDN" type="xs:string" minOccurs="0"/>
			<xs:element name="DiscountType" type="xs:string" minOccurs="0"/>
			<xs:element name="NewMSISDNType" type="xs:string" minOccurs="0"/>
			<xs:element name="FFCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseDescription" type="xs:string" minOccurs="0"/>
				<xs:element name="ResponseRefernces" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string" minOccurs="0"/>
										<xs:element name="Value" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberReservation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:Requester" minOccurs="0"/>
				<xs:element ref="cdm:CivilId" minOccurs="0"/>
				<xs:element ref="cdm:StartsWith" minOccurs="0"/>
				<xs:element ref="cdm:BillingType" minOccurs="0"/>
				<xs:element ref="cdm:Limit" minOccurs="0"/>
				<xs:element ref="cdm:BsType" minOccurs="0"/>
				<xs:element ref="cdm:RequestStatus" minOccurs="0"/>
				<xs:element ref="cdm:Numberlist" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="dnID" type="xs:string" minOccurs="0"/>
				<xs:element name="lockFlag" type="xs:boolean" minOccurs="0"/>
				<xs:element name="dnCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Requester" type="xs:string"/>
	<xs:element name="CivilID" type="xs:string"/>
	<xs:element name="StartsWith" type="xs:string"/>
	<xs:element name="BillingType" type="xs:string"/>
	<xs:element name="Limit" type="xs:string"/>
	<xs:element name="BsType" type="xs:string"/>
	<xs:element name="RequestStatus" type="xs:string"/>
	<xs:element name="Numberlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:MSISDN" minOccurs="0"/>
				<xs:element ref="cdm:class" minOccurs="0"/>
				<xs:element ref="cdm:BillingType" minOccurs="0"/>
				<xs:element ref="cdm:BsType" minOccurs="0"/>
				<xs:element ref="cdm:Category" minOccurs="0"/>
				<xs:element ref="cdm:ReservationNum" minOccurs="0"/>
				<xs:element ref="cdm:ShopID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="class" type="xs:string"/>
	<xs:element name="CivilId" type="xs:string"/>
	<xs:element name="ReservationNum" type="xs:string"/>
	<xs:element name="ShopID" type="xs:string"/>
	<xs:element name="Category" type="xs:string"/>
	<xs:element name="FAF" type="cdm:FAFType"/>
	<xs:simpleType name="FAFType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="FAFType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FAFNumber" type="xs:string" minOccurs="0"/>
				<xs:element name="FAFCategory" type="xs:string" minOccurs="0"/>
				<xs:element name="FAFChargeInformation" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FAFCharges" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="cdm:Amount" minOccurs="0"/>
										<xs:element name="Currency" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FreeUpdateCount" type="xs:string" minOccurs="0"/>
				<xs:element name="MaxFreeAllowed" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SalesChannel">
		<xs:sequence>
			<xs:element ref="cdm:ShopID"/>
			<xs:element name="SalesAgent" type="xs:string"/>
			<xs:element name="ShopName" type="xs:string"/>
			<xs:element ref="cdm:UserId"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SalesChannel" type="cdm:SalesChannel"/>
	<xs:element name="BillingContract" type="cdm:BillingContract"/>
	<xs:complexType name="BillingContract">
		<xs:sequence>
			<xs:element ref="cdm:MSISDN"/>
			<xs:element ref="cdm:IndividualName"/>
			<xs:element ref="cdm:CRMBillingProfileID" minOccurs="0"/>
			<xs:element ref="cdm:BillingContractID"/>
			<xs:element name="contractType" type="xs:string" minOccurs="0"/>
			<xs:element name="lineType" type="xs:string"/>
			<xs:element name="ContractPeriod" type="cdm:TimePeriod">
				<xs:annotation>
					<xs:documentation>Billing Contract validity time period start date &amp; end date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="cdm:Language"/>
			<xs:element ref="cdm:MarketSegment" minOccurs="0"/>
			<xs:element name="SDPID" type="xs:string"/>
			<xs:element ref="cdm:Status"/>
			<xs:element ref="cdm:SpendLimit" minOccurs="0"/>
			<xs:element ref="cdm:CreditLimit" minOccurs="0"/>
			<xs:element name="salesPromotionFlag" type="xs:boolean"/>
			<xs:element name="callDetailsFlag" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CRMBillingProfileID" type="xs:string"/>
	<xs:element name="BillingContractID" type="xs:string"/>
	<xs:element name="SpendLimit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:Money"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreditLimit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdm:Money"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="conversionRate" type="xs:string"/>
</xs:schema>