src/CommonProject/CDM/ZainTroubleTicket.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:bs="http://xmlns.zain.com/BSS/ESB/CDM/Base"
	 xmlns:tt="http://xmlns.zain.com/BSS/ESB/CDM/TroubleTicket"
	 xmlns:bi="http://xmlns.zain.com/BSS/ESB/CDM/BusinessInteraction"
	 targetNamespace="http://xmlns.zain.com/BSS/ESB/CDM/TroubleTicket"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/Base" schemaLocation="ZainKWBaseEntities.xsd"/>
	<xs:import namespace="http://xmlns.zain.com/BSS/ESB/CDM/BusinessInteraction" schemaLocation="ZainKWBusinessInteraction.xsd"/>
	<xs:complexType name="TroubleTicket">
		<xs:annotation>
			<xs:documentation> A record used for reporting and managing the resolution of resource problems. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bi:BusinessInteraction">
				<xs:sequence>
					<xs:element name="CustomerPriority" type="xs:string" minOccurs="0"/>
					<xs:element name="NotificationMedium" type="xs:string" minOccurs="0"/>
					<xs:element name="TroubleTicketType" type="tt:ZainTroubleTicketType" minOccurs="0"/>
					<xs:element name="TroubleTicketCustom" type="bs:CustomDetails" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZainTroubleTicketType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="SubType" type="xs:string" minOccurs="0"/>
			<xs:element name="Title" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerActivity">
		<xs:annotation>
			<xs:documentation> Entity to represent any customer interactions from or to. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bi:BusinessInteraction"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>