src/CommonProject/BusinessSchemas/Services/Query/CreditProfileHistRead/CreditProfileHistRead.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CreditProfileHistReadService.xsd"
	 xmlns:ns0="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd"
	 targetNamespace="http://www.ericsson.com/ZainKW/BusinessSchemas/Services/Query/CreditProfileHistReadService.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.xmlns.zain.com/BSS/ESB/ZainKWFault.xsd" schemaLocation="../../../../CDM/ZainKWFault.xsd"/>
	<xs:element name="CreditProfileHistReadRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
				<xs:element ref="histFlag" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreditProfileHistReadResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coId" minOccurs="0"/>
				<xs:element ref="coIdPub" minOccurs="0"/>
				<xs:element ref="unbilledUsage" minOccurs="0"/>
				<xs:element ref="creditLimit" minOccurs="0"/>
				<xs:element ref="avCreditLimit" minOccurs="0"/>
				<xs:element ref="unbarringAmount" minOccurs="0"/>
				<xs:element ref="csSegment" minOccurs="0"/>
				<xs:element ref="currentCCDesc" minOccurs="0"/>
				<xs:element ref="currentCRDesc" minOccurs="0"/>
				<xs:element ref="currentCSDesc" minOccurs="0"/>
				<xs:element ref="currentCrRiskScoreSub" minOccurs="0"/>
				<xs:element ref="currentCrRiskScoreCust" minOccurs="0"/>
				<xs:element ref="unbilledRecurAmt" minOccurs="0"/>
				<xs:element ref="unbilledSubscriptAmt" minOccurs="0"/>
				<xs:element ref="unbilledOccAmt" minOccurs="0"/>
				<xs:element ref="unbilledTotalNonUsage" minOccurs="0"/>
				<xs:element ref="curBalance" minOccurs="0"/>
				<xs:element ref="openAmountFlag" minOccurs="0"/>
				<xs:element ref="recurringAmountFlag" minOccurs="0"/>
				<xs:element ref="totalUsedCl" minOccurs="0"/>
				<xs:element ref="additionalBarrAmount" minOccurs="0"/>
				<xs:element ref="unbarringThresholdAmount" minOccurs="0"/>
				<xs:element ref="creditcategoryhistlist" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="creditratinghistlist" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="creditscorehistlist" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="creditriskscorehistlistsub" type="creditriskscorehistlistsubResponse" minOccurs="0"/>
				<xs:element name="creditriskscorehistlistcust" type="creditriskscorehistlistcustResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="coId" type="xs:long">
		<xs:annotation>
			<xs:documentation>Contract ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="coIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Contract ID Public Key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="histFlag" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>History relevant flag to provide all the historical data of credit category assignment, default: No</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unbilledUsage" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Unbilled Usage Amount BILL_ACC_UNBILLED_AMT_VIEW.UNBILLED_AMOUNT</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="creditLimit" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Current Limit available to the customer at the time of API execution</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="avCreditLimit" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Available Credit Limit CREDIT_LIMIT-BILL_ACC_UNBILLED_AMT_VIEW.UNBILLED_AMOUNT-CO_CREDIT_LIMIT_BAL_TAB-CR_BAL_AMT</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="unbarringAmount" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>The amount for the corporate is the Available Credit limit – Credit Limit=difference amount
							b. The amount for consumer customer will be Available Credit limit – Credit Limit=difference amount + threshold unbarring amount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="csSegment" type="xs:string">
		<xs:annotation>
			<xs:documentation>Customer Segment, Consumer/Corporate/Employee</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="creditcategoryhistlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="ccId" minOccurs="0"/>
				<xs:element ref="ccIdPub" minOccurs="0"/>
				<xs:element ref="creditCategoryDesc" minOccurs="0"/>
				<xs:element ref="source" minOccurs="0"/>
				<xs:element ref="request" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="processedDate" minOccurs="0"/>
				<xs:element ref="isCurrent" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ccId" type="xs:long">
		<xs:annotation>
			<xs:documentation>Credit Category ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ccIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit category Public Key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="creditCategoryDesc" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit category description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="source" type="xs:string">
		<xs:annotation>
			<xs:documentation>Source From which the assignment is triggered</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="request" type="xs:string">
		<xs:annotation>
			<xs:documentation>Request Id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UserName" type="xs:string">
		<xs:annotation>
			<xs:documentation>UserName</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="processedDate" type="xs:string">
		<xs:annotation>
			<xs:documentation>Processing date of the record</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="isCurrent" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>if the assigned record is the current record</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="creditratinghistlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="crId" minOccurs="0"/>
				<xs:element ref="crIdPub" minOccurs="0"/>
				<xs:element ref="creditRatingDesc" minOccurs="0"/>
				<xs:element ref="source" minOccurs="0"/>
				<xs:element ref="request" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="processedDate" minOccurs="0"/>
				<xs:element ref="isCurrent" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="crId" type="xs:long">
		<xs:annotation>
			<xs:documentation>Credit Rating ID</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="crIdPub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit Rating Public Key</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="creditRatingDesc" type="xs:string">
		<xs:annotation>
			<xs:documentation>Credit Rating description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="creditscorehistlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Type" minOccurs="0"/>
				<xs:element ref="creditScore" minOccurs="0"/>
				<xs:element ref="source" minOccurs="0"/>
				<xs:element ref="request" minOccurs="0"/>
				<xs:element ref="UserName" minOccurs="0"/>
				<xs:element ref="processedDate" minOccurs="0"/>
				<xs:element ref="isCurrent" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="creditScore" type="xs:long">
		<xs:annotation>
			<xs:documentation>Current Credit Score Of the Contract</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Fault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:ErrorResponse" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="currentCCDesc" type="xs:string">
		<xs:annotation>
			<xs:documentation>Current Credit Category Description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="currentCRDesc" type="xs:string">
		<xs:annotation>
			<xs:documentation>Current Credit Rating Description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="currentCSDesc" type="xs:string">
		<xs:annotation>
			<xs:documentation>Current Credit Score Description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="currentCrRiskScoreSub" type="xs:string">
		<xs:annotation>
			<xs:documentation>Current Credit Risk Score of Subscriber</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="currentCrRiskScoreCust" type="xs:string">
		<xs:annotation>
			<xs:documentation>Current Credit Risk Score of Customer</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="unbilledRecurAmt" type="xs:string"/>
	<xs:element name="unbilledSubscriptAmt" type="xs:string"/>
	<xs:element name="unbilledOccAmt" type="xs:string"/>
	<xs:element name="unbilledTotalNonUsage" type="xs:string"/>
	<xs:element name="curBalance" type="xs:string"/>
	<xs:element name="openAmountFlag" type="xs:string"/>
	<xs:element name="recurringAmountFlag" type="xs:string"/>
	<xs:element name="totalUsedCl" type="xs:string"/>
	<xs:element name="additionalBarrAmount" type="xs:string"/>
	<xs:element name="unbarringThresholdAmount" type="xs:string"/>
	<xs:complexType name="creditriskscorehistlistsubResponse">
		<xs:sequence>
			<xs:element name="item" type="creditriskscorehistlistsubListpartResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="creditriskscorehistlistsubListpartResponse">
		<xs:all>
			<xs:element name="riskScore" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Current Risk Score Of the Contract.&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Source From which the credit category assignment is triggered&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Request Id &lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="username" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;UserName &lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processedDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Processing date of the record&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isCurrent" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;if the assigned record is the current record&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="creditriskscorehistlistcustResponse">
		<xs:sequence>
			<xs:element name="item" type="creditriskscorehistlistcustListpartResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="creditriskscorehistlistcustListpartResponse">
		<xs:all>
			<xs:element name="riskScore" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Current Risk Score Of the Customer.&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Source From which the credit category assignment is triggered&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="request" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Request Id &lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="username" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;UserName &lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processedDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;Processing date of the record&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isCurrent" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
								&lt;p&gt;if the assigned record is the current record&lt;/p&gt;
							</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>